Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

Resolve flake8 warnings.
  .github/scripts/check-labels.py
Owners: @Ferroin, @tkatsoulas

Re-add area/collectors label.
  .github/labels.yml
Owners: @Ferroin, @tkatsoulas

fix: detect the host os in k8s on non-docker cri
  daemon/system-info.sh
Owners: @thiagoftsm, @vkalintiris

Fix compilations errors when --disable-cloud is specified
  database/sqlite/sqlite_aclk.c
Owners: @thiagoftsm, @vkalintiris

Improve syntax checking of labels config.
  .github/labels.yml
  .github/scripts/check-labels.py
Owners: @Ferroin, @tkatsoulas

fix: detect the host os in k8s on non-docker cri (#14694)
  daemon/system-info.sh
Owners: @thiagoftsm, @vkalintiris

Add global config option for 'circular buffer max size MiB'
  logsmanagement/README.md
  logsmanagement/file_info.h
  logsmanagement/logsmanagement.c
  logsmanagement/logsmanagement.conf
  logsmanagement/logsmanagement_conf.h
Owners: @tkatsoulas, @andrewm4894, @cakrit, @Ferroin

Add global config option for 'circular buffer drop logs if full'
  logsmanagement/README.md
  logsmanagement/file_info.h
  logsmanagement/logsmanagement.c
  logsmanagement/logsmanagement.conf
  logsmanagement/logsmanagement_conf.h
Owners: @tkatsoulas, @andrewm4894, @cakrit, @Ferroin

Update .github/scripts/pkg-test.sh
  .github/scripts/pkg-test.sh
Owners: @Ferroin, @tkatsoulas

Update 'General Configuration' in README.md
  logsmanagement/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Add global config option for remaining optional settings
  logsmanagement/file_info.h
  logsmanagement/logsmanagement.c
  logsmanagement/logsmanagement.conf
  logsmanagement/logsmanagement_conf.h
Owners: @Ferroin

Add systemd collector requirements to TOC
  logsmanagement/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Fix compilation error when --disable-cloud is specified (#14695)
  database/sqlite/sqlite_aclk.c
Owners: @thiagoftsm, @vkalintiris

README: Convert general configuration to table
  logsmanagement/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

README: Fix previous botched commit
  logsmanagement/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

do not lookup in the dictionary empty names
  database/contexts/query_scope.c
Owners: @thiagoftsm, @vkalintiris

garbage collect dictionaries
  database/contexts/worker.c
  libnetdata/dictionary/dictionary.c
  libnetdata/dictionary/dictionary.h
Owners: @thiagoftsm, @vkalintiris

make query_target allocate less aggressively; queries fill the remaining points with nulls
  database/contexts/query_target.c
  web/api/queries/query.c
Owners: @thiagoftsm, @vkalintiris

[ci skip] Update changelog and version for nightly build: v1.38.0-224-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

reusable query ops to save memory on huge queries
  web/api/queries/query.c
Owners: @thiagoftsm, @vkalintiris

move parts of query plans into query ops to save query target memory
  database/contexts/query_target.c
  database/contexts/rrdcontext.h
  web/api/queries/query.c
Owners: @thiagoftsm, @vkalintiris

remove storage engine from query metric tiers, to save memory, and recalculate it when it is needed
  database/contexts/query_target.c
  database/contexts/rrdcontext.h
  web/api/formatters/rrd2json.c
  web/api/queries/query.c
Owners: @thiagoftsm, @vkalintiris

Refactor ML code. (#14659)
  .gitmodules
  CMakeLists.txt
  Makefile.am
  collectors/plugins.d/pluginsd_parser.c
  configure.ac
  database/rrd.h
  database/rrdhost.c
  database/rrdset.c
  ml/Config.cc
  ml/ad_charts.cc
  ml/ad_charts.h
  ml/ml-dummy.c
  ml/ml-private.h
  ml/ml.cc
  ml/ml.h
  ml/nml.cc
  web/api/web_api_v1.c
Owners: @Ferroin, @tkatsoulas, @thiagoftsm, @vkalintiris, @andrewm4894

Revert "Handle conffiles for DEB packages explicitly instead of automatically. (#14662)"
  contrib/debian/netdata.conffiles
  contrib/debian/rules
Owners: @Ferroin, @tkatsoulas

/api/v2/X improvements part 3 (#14665)
  aclk/aclk_query.c
  collectors/statsd.plugin/statsd.c
  daemon/main.c
  database/contexts/api_v1.c
  database/contexts/query_scope.c
  database/contexts/query_target.c
  database/contexts/rrdcontext.h
  database/contexts/worker.c
  database/rrdlabels.c
  libnetdata/buffer/buffer.h
  libnetdata/dictionary/dictionary.c
  libnetdata/dictionary/dictionary.h
  libnetdata/simple_pattern/simple_pattern.c
  libnetdata/simple_pattern/simple_pattern.h
  web/api/formatters/csv/csv.c
  web/api/formatters/json/json.c
  web/api/formatters/json_wrapper.c
  web/api/formatters/json_wrapper.h
  web/api/formatters/rrd2json.c
  web/api/formatters/rrd2json.h
  web/api/formatters/value/value.c
  web/api/netdata-swagger.yaml
  web/api/queries/query.c
  web/api/queries/query.h
  web/api/queries/rrdr.h
  web/api/queries/weights.c
  web/api/web_api_v1.c
  web/api/web_api_v2.c
  web/server/web_client.c
  web/server/web_client.h
  web/server/web_client_cache.c
Owners: @stelfrag, @underhood, @thiagoftsm, @vkalintiris

Revert "Handle conffiles for DEB packages explicitly instead of automatically." (#14700)
  contrib/debian/netdata.conffiles
  contrib/debian/rules
Owners: @Ferroin, @tkatsoulas

Clean up package testing code.
  .github/scripts/pkg-test.sh
Owners: @Ferroin, @tkatsoulas

[ci skip] Update changelog and version for nightly build: v1.38.0-228-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

Fix filename matching for package testing.
  .github/scripts/pkg-test.sh
Owners: @Ferroin, @tkatsoulas

Handle conffiles for DEB packages explicitly instead of automatically.
  contrib/debian/conffiles
  contrib/debian/rules
Owners: @Ferroin, @tkatsoulas

expose the order of group by
  web/api/formatters/json_wrapper.c
Owners: @thiagoftsm, @vkalintiris

bundle libyaml
  Makefile.am
  configure.ac
  libnetdata/libnetdata.h
  netdata-installer.sh
  packaging/installer/dependencies/gentoo.sh
  packaging/installer/install-required-packages.sh
  packaging/yaml.checksums
  packaging/yaml.version
Owners: @Ferroin, @tkatsoulas, @thiagoftsm, @vkalintiris

remove comment
  configure.ac
Owners: @Ferroin

Don’t try to use tput in edit-config unless it’s installed.
  system/edit-config
Owners: @Ferroin, @tkatsoulas

.github/workflows/coverity.yml
  .github/workflows/tests.yml
Owners: @Ferroin, @tkatsoulas

add to coverity and tests
  .github/workflows/coverity.yml
Owners: @Ferroin, @tkatsoulas

key renames in json wrapper v2
  web/api/formatters/json_wrapper.c
Owners: @thiagoftsm, @vkalintiris

added group by context and group by units
  database/rrdlabels.c
  libnetdata/buffer/buffer.h
  libnetdata/string/utf8.h
  web/api/formatters/json_wrapper.c
  web/api/formatters/rrd2json.c
  web/api/queries/query.c
  web/api/queries/query.h
Owners: @thiagoftsm, @vkalintiris

added view_average_values
  web/api/formatters/json_wrapper.c
  web/api/formatters/rrd2json.c
  web/api/queries/rrdr.c
  web/api/queries/rrdr.h
Owners: @thiagoftsm, @vkalintiris

fix for view_average_values when percentage is specified
  web/api/formatters/json_wrapper.c
  web/api/formatters/json_wrapper.h
  web/api/formatters/rrd2json.c
  web/api/queries/rrdr.h
  web/api/web_api_v2.c
Owners: @thiagoftsm, @vkalintiris

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas
