Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas

build with disable-cloud
  database/sqlite/sqlite_aclk_alert.c
Owners: @thiagoftsm, @vkalintiris

codacy 1
  aclk/schema-wrappers/alarm_stream.cc
  aclk/schema-wrappers/alarm_stream.h
Owners: @stelfrag, @underhood

misc changes
  aclk/aclk_rx_msgs.c
  aclk/schema-wrappers/alarm_stream.cc
  aclk/schema-wrappers/alarm_stream.h
  database/sqlite/sqlite_aclk_alert.c
Owners: @stelfrag, @underhood, @thiagoftsm, @vkalintiris

more preparative work to support multiple passes of group-by (accepts multiple group-by params)
  database/contexts/rrdcontext.h
  web/api/formatters/json_wrapper.c
  web/api/queries/query.c
  web/api/queries/query.h
  web/api/web_api_v2.c
Owners: @thiagoftsm, @vkalintiris

unified query timings
  database/contexts/api_v2.c
  database/contexts/rrdcontext.h
  web/api/formatters/json_wrapper.c
  web/api/queries/weights.c
  web/api/web_api_v2.c
Owners: @thiagoftsm, @vkalintiris

one more char in hash
  database/sqlite/sqlite_aclk_alert.c
Owners: @thiagoftsm, @vkalintiris

unified query timings - weights endpoint
  database/contexts/api_v2.c
  database/contexts/rrdcontext.h
  web/api/formatters/json_wrapper.c
  web/api/queries/weights.c
Owners: @thiagoftsm, @vkalintiris

fix #14841 Exception funktion call Rados.mon_command() (#14844)
  collectors/python.d.plugin/ceph/ceph.chart.py
Owners: @ilyam8

[ci skip] Update changelog and version for nightly build: v1.38.0-333-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

query target is no longer a static thread variable - there is a list of cached query targets, each of which of freed every 1000 queries
  database/contexts/query_target.c
  database/contexts/rrdcontext.h
  web/api/formatters/value/value.c
  web/api/queries/query.c
  web/api/queries/rrdr.c
  web/api/queries/rrdr.h
  web/api/queries/weights.c
Owners: @thiagoftsm, @vkalintiris

fix query memory accounting
  database/contexts/query_target.c
Owners: @thiagoftsm, @vkalintiris

added summary.dimension[].pri and sorted summary.dimensions based on priority and then name
  database/contexts/query_target.c
  database/contexts/rrdcontext.h
  web/api/formatters/json_wrapper.c
  web/api/queries/query.c
Owners: @thiagoftsm, @vkalintiris

fix: fix the cmake config error
  CMakeLists.txt
Owners: @Ferroin

fix typo alerms -> alarms
  health/REFERENCE.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

free buffer
  database/sqlite/sqlite_aclk_alert.c
Owners: @thiagoftsm, @vkalintiris

change topic
  aclk/aclk_query.c
  database/sqlite/sqlite_aclk_alert.c
Owners: @stelfrag, @underhood, @thiagoftsm, @vkalintiris

fix typo alerms -> alarms (#14854)
  health/REFERENCE.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Silence shellcheck warnings.
  packaging/makeself/makeself.sh
Owners: @Ferroin, @tkatsoulas

remove ubuntu 18.04 from our CI (#14731)
  .github/data/distros.yml
  packaging/PLATFORM_SUPPORT.md
Owners: @Ferroin, @tkatsoulas, @andrewm4894, @cakrit

misc fixes
  aclk/schema-wrappers/alarm_stream.cc
  aclk/schema-wrappers/proto_2_json.cc
  database/sqlite/sqlite_aclk_alert.c
Owners: @stelfrag, @underhood, @thiagoftsm, @vkalintiris

limit max ACLK WEB response size to 30MB
  aclk/aclk_query.c
  web/server/web_client.h
Owners: @stelfrag, @underhood, @thiagoftsm, @vkalintiris

the response type should be text/plain
  aclk/aclk_query.c
Owners: @stelfrag, @underhood

alerta edits
  health/notifications/alerta/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

awssns edits
  health/notifications/awssns/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

custom notification method edits
  health/notifications/custom/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

discord edits
  health/notifications/discord/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

email notification method edits
  health/notifications/email/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

flock edits
  health/notifications/flock/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

IRC notifications update
  health/notifications/irc/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Kavenegar notifications documentation update
  health/notifications/kavenegar/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

matrix notifications documentation update
  health/notifications/matrix/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

messagebird notifications documentation update
  health/notifications/messagebird/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

msteams notifications documentation update
  health/notifications/msteams/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

wording change
  health/notifications/alerta/README.md
  health/notifications/awssns/README.md
  health/notifications/custom/README.md
  health/notifications/discord/README.md
  health/notifications/email/README.md
  health/notifications/flock/README.md
  health/notifications/irc/README.md
  health/notifications/kavenegar/README.md
  health/notifications/matrix/README.md
  health/notifications/messagebird/README.md
  health/notifications/msteams/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

skip removed alert variables
  database/sqlite/sqlite_aclk_alert.c
Owners: @thiagoftsm, @vkalintiris

update for curl too
  daemon/anonymous-statistics.sh.in
Owners: @thiagoftsm, @vkalintiris

update telemetry url in installer
  packaging/installer/kickstart.sh
Owners: @Ferroin, @tkatsoulas

update posthog domain (#14818)
  daemon/anonymous-statistics.sh.in
  packaging/installer/kickstart.sh
Owners: @thiagoftsm, @vkalintiris, @Ferroin, @tkatsoulas

more preparative work for multiple group-by passes
  database/contexts/rrdcontext.h
  web/api/queries/query.c
  web/api/queries/query.h
  web/api/queries/rrdr.h
Owners: @thiagoftsm, @vkalintiris

add_labels2docker: Add _cgroup_name label to idenfity docker, vms and other cgroups according name given by user
  collectors/cgroups.plugin/sys_fs_cgroup.c
Owners: @thiagoftsm
