Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas

minor - add to access log
  aclk/aclk_rx_msgs.c
Owners: @stelfrag, @underhood

Address issues on `EC2` (eBPF). (#14902)
  collectors/cgroups.plugin/sys_fs_cgroup.c
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.d.conf
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_apps.c
  collectors/ebpf.plugin/ebpf_apps.h
  collectors/ebpf.plugin/ebpf_cachestat.c
  collectors/ebpf.plugin/ebpf_cgroup.c
  collectors/ebpf.plugin/ebpf_cgroup.h
  collectors/ebpf.plugin/ebpf_dcstat.c
  collectors/ebpf.plugin/ebpf_disk.c
  collectors/ebpf.plugin/ebpf_fd.c
  collectors/ebpf.plugin/ebpf_fd.h
  collectors/ebpf.plugin/ebpf_filesystem.c
  collectors/ebpf.plugin/ebpf_hardirq.c
  collectors/ebpf.plugin/ebpf_mdflush.c
  collectors/ebpf.plugin/ebpf_mount.c
  collectors/ebpf.plugin/ebpf_oomkill.c
  collectors/ebpf.plugin/ebpf_process.c
  collectors/ebpf.plugin/ebpf_shm.c
  collectors/ebpf.plugin/ebpf_shm.h
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_socket.h
  collectors/ebpf.plugin/ebpf_softirq.c
  collectors/ebpf.plugin/ebpf_swap.c
  collectors/ebpf.plugin/ebpf_swap.h
  collectors/ebpf.plugin/ebpf_sync.c
  collectors/ebpf.plugin/ebpf_vfs.c
  collectors/ebpf.plugin/ebpf_vfs.h
  libnetdata/ebpf/ebpf.c
  libnetdata/ebpf/ebpf.h
Owners: @thiagoftsm, @vkalintiris

adaptec_raid metrics.csv
  collectors/python.d.plugin/adaptec_raid/metrics.csv
Owners: @ilyam8

Update metrics.csv
  collectors/python.d.plugin/adaptec_raid/metrics.csv
Owners: @ilyam8

Update README.md
  collectors/python.d.plugin/adaptec_raid/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

fix_log: Remove lock when netdata is opening a log file.
  libnetdata/log/log.c
Owners: @thiagoftsm, @vkalintiris

fix_log: Remove lock when netdata is reopening a log file.
  libnetdata/log/log.c
Owners: @thiagoftsm, @vkalintiris

fix_log: Move stderr update for open and reopen to simplify internal algorithm
  libnetdata/log/log.c
Owners: @thiagoftsm, @vkalintiris

fix_log: Simplify internal algorithm to update logs
  libnetdata/log/log.c
Owners: @thiagoftsm, @vkalintiris

[ci skip] Update changelog and version for nightly build: v1.38.0-424-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

Update makeself-header.sh
  packaging/makeself/makeself-header.sh
Owners: @Ferroin, @tkatsoulas

Update README.md
  collectors/python.d.plugin/adaptec_raid/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update metrics.csv
  collectors/python.d.plugin/adaptec_raid/metrics.csv
Owners: @ilyam8

incl libnetdata
  aclk/schema-wrappers/agent_cmds.cc
  aclk/schema-wrappers/agent_cmds.h
Owners: @stelfrag, @underhood

add metadata.csv to several modules
  collectors/python.d.plugin/am2320/README.md
  collectors/python.d.plugin/am2320/metrics.csv
  collectors/python.d.plugin/beanstalk/README.md
  collectors/python.d.plugin/beanstalk/metrics.csv
  collectors/python.d.plugin/boinc/README.md
  collectors/python.d.plugin/boinc/metrics.csv
  collectors/python.d.plugin/dovecot/README.md
  collectors/python.d.plugin/dovecot/metrics.csv
  collectors/python.d.plugin/example/README.md
  collectors/python.d.plugin/example/metrics.csv
  collectors/python.d.plugin/exim/README.md
  collectors/python.d.plugin/exim/metrics.csv
  collectors/python.d.plugin/go_expvar/README.md
  collectors/python.d.plugin/go_expvar/metrics.csv
  collectors/python.d.plugin/icecast/README.md
  collectors/python.d.plugin/icecast/metrics.csv
  collectors/python.d.plugin/litespeed/README.md
  collectors/python.d.plugin/litespeed/metrics.csv
  collectors/python.d.plugin/nsd/README.md
  collectors/python.d.plugin/nsd/metrics.csv
  collectors/python.d.plugin/postfix/README.md
  collectors/python.d.plugin/postfix/metrics.csv
  collectors/python.d.plugin/retroshare/README.md
  collectors/python.d.plugin/retroshare/metrics.csv
Owners: @tkatsoulas, @andrewm4894, @cakrit, @ilyam8

Prevent pager from preventing non-interactive install (#14950)
  packaging/makeself/makeself-header.sh
Owners: @Ferroin, @tkatsoulas

Reject child when context is loading
  database/rrdhost.c
Owners: @thiagoftsm, @vkalintiris

Switch check position
  database/rrdhost.c
Owners: @thiagoftsm, @vkalintiris

Fix handling of users and groups on install.
  packaging/installer/functions.sh
Owners: @Ferroin, @tkatsoulas

optimize
  aclk/aclk_query.c
  aclk/aclk_query.h
  aclk/aclk_rx_msgs.c
Owners: @stelfrag, @underhood

Reject child when context is loading (#14960)
  database/rrdhost.c
Owners: @thiagoftsm, @vkalintiris

Update README.md
  health/notifications/ntfy/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update README.md (#14962)
  health/notifications/ntfy/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Document netdatacli dumpconfig
  system/netdata.conf
Owners: @Ferroin, @tkatsoulas

Update README.md
  cli/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update system/netdata.conf
  system/netdata.conf
Owners: @Ferroin, @tkatsoulas

Document netdatacli dumpconfig option (#14963)
  cli/README.md
  system/netdata.conf
Owners: @tkatsoulas, @andrewm4894, @cakrit, @Ferroin

Add adaptec_raid metrics.csv (#14955)
  collectors/python.d.plugin/adaptec_raid/README.md
  collectors/python.d.plugin/adaptec_raid/metrics.csv
Owners: @tkatsoulas, @andrewm4894, @cakrit, @ilyam8

Update README.md
  ml/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update packaging/installer/functions.sh
  packaging/installer/functions.sh
Owners: @Ferroin, @tkatsoulas

second batch of adding metadata.csv
  collectors/python.d.plugin/samba/README.md
  collectors/python.d.plugin/samba/metrics.csv
  collectors/python.d.plugin/sensors/README.md
  collectors/python.d.plugin/sensors/metrics.csv
  collectors/python.d.plugin/squid/README.md
  collectors/python.d.plugin/squid/metrics.csv
  collectors/python.d.plugin/tor/README.md
  collectors/python.d.plugin/tor/metrics.csv
  collectors/python.d.plugin/traefik/README.md
  collectors/python.d.plugin/traefik/metrics.csv
  collectors/python.d.plugin/w1sensor/README.md
  collectors/python.d.plugin/w1sensor/metrics.csv
Owners: @tkatsoulas, @andrewm4894, @cakrit, @ilyam8

more metrics.csv's, also do a fix
  collectors/python.d.plugin/am2320/README.md
  collectors/python.d.plugin/am2320/metrics.csv
  collectors/python.d.plugin/anomalies/README.md
  collectors/python.d.plugin/anomalies/metrics.csv
  collectors/python.d.plugin/bind_rndc/README.md
  collectors/python.d.plugin/bind_rndc/metrics.csv
Owners: @tkatsoulas, @andrewm4894, @cakrit, @ilyam8

Fix handling of users and groups on install. (#14961)
  packaging/installer/functions.sh
Owners: @Ferroin, @tkatsoulas

Update ML README.md (#14964)
  ml/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

add_ebpf_csv_description: Add initial file that will still suffer changes
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

revert READMEs and some fixes
  collectors/python.d.plugin/adaptec_raid/README.md
  collectors/python.d.plugin/am2320/README.md
  collectors/python.d.plugin/anomalies/README.md
  collectors/python.d.plugin/beanstalk/README.md
  collectors/python.d.plugin/beanstalk/metrics.csv
  collectors/python.d.plugin/bind_rndc/README.md
  collectors/python.d.plugin/boinc/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit, @ilyam8

add_ebpf_csv_description: Modify common cgroup charts.
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

add_ebpf_csv_description: Modify chart type in fd an filesystem
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

add_ebpf_csv_description: Change EBPF_COMMON_DIMENSION_CALL to calls/s
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

add_ebpf_csv_description: Change EBPF_CHART_TYPE_LINE to line
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm
