Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @netdata/agent-sre, @stelfrag, @thiagoftsm, @ilyam8, @vkalintiris, @Ancairon, @novykh, @netdatabot

add more fields to webhook reachability notifications
  integrations/cloud-notifications/metadata.yaml
Owners: @Ferroin

add additional fields to webhook reachability notifications (#17271)
  integrations/cloud-notifications/metadata.yaml
Owners: @Ferroin

Regenerate integrations.js
  integrations/cloud-notifications/integrations/webhook.md
Owners: @Ancairon

Regenerate integrations.js (#17273)
  integrations/cloud-notifications/integrations/webhook.md
Owners: @Ancairon

Trigger subsequent workflows for Helmchart and MSI (#17224)
  .github/workflows/docker.yml
Owners: @netdata/agent-sre

Trigger subsequent workflows for Helmchart and MSI (#17224)
  .github/workflows/docker.yml
Owners: @netdata/agent-sre

minor fix in monitor releases workflow (#17256)
  .github/workflows/monitor-releases.yml
Owners: @netdata/agent-sre

Enable sentry on all Debian and Ubuntu versions. (#17259)
  .github/data/distros.yml
Owners: @netdata/agent-sre

REFERENCE - Fix small unligned typo
  src/health/REFERENCE.md
Owners: @Ancairon

Add -Wno-builtin-macro-redefined to compiler flags. (#17209)
  CMakeLists.txt
Owners: @netdata/agent-sre, @vkalintiris

Reduce flush operations during journal build (#17220)
  src/database/engine/cache.c
  src/database/engine/cache.h
  src/database/engine/rrdengineapi.c
Owners: @thiagoftsm, @vkalintiris

updated dbengine unittest (#17232)
  CMakeLists.txt
  src/daemon/unit_test.c
  src/database/engine/dbengine-stresstest.c
  src/database/engine/dbengine-unittest.c
Owners: @netdata/agent-sre, @vkalintiris, @thiagoftsm

go.d: mysql: disable session query log and slow query log (#17219)
  src/go/collectors/go.d.plugin/modules/mysql/collect.go
  src/go/collectors/go.d.plugin/modules/mysql/disable_logging.go
  src/go/collectors/go.d.plugin/modules/mysql/mysql.go
  src/go/collectors/go.d.plugin/modules/mysql/mysql_test.go
  src/go/collectors/go.d.plugin/modules/mysql/testdata/session_variables.txt
Owners: @ilyam8

go.d: sd local-listeners: drop docker-proxy targets (#17254)
  src/go/collectors/go.d.plugin/agent/discovery/sd/discoverer/netlisteners/netlisteners.go
  src/go/collectors/go.d.plugin/agent/discovery/sd/discoverer/netlisteners/netlisteners_test.go
Owners: @ilyam8

dbengine: cache bug-fix when under pressure (#17231)
  src/database/engine/cache.c
Owners: @thiagoftsm, @vkalintiris

remove USR1 "Save internal DB to disk" (#17249)
  src/daemon/README.md
  src/daemon/main.c
  system/freebsd/rc.d/netdata.in
  system/openrc/init.d/netdata.in
Owners: @Ancairon, @thiagoftsm, @vkalintiris, @netdata/agent-sre

go.d: sd local-listeners: discover /proc/net/tcp6 only apps (#17252)
  src/go/collectors/go.d.plugin/agent/discovery/sd/discoverer/netlisteners/netlisteners.go
  src/go/collectors/go.d.plugin/agent/discovery/sd/discoverer/netlisteners/netlisteners_test.go
  src/go/collectors/go.d.plugin/config/go.d/sd/docker.conf
  src/go/collectors/go.d.plugin/config/go.d/sd/net_listeners.conf
Owners: @ilyam8

Trigger subsequent workflows for Helmchart and MSI (#17224)
  .github/workflows/docker.yml
Owners: @netdata/agent-sre

Fix job depdendencies in Docker workflow. (#17215)
  .github/workflows/docker.yml
Owners: @netdata/agent-sre

DBENGINE: use gorilla by default (#17234)
  src/daemon/main.c
  src/database/engine/dbengine-unittest.c
  src/database/engine/rrdengineapi.c
Owners: @thiagoftsm, @vkalintiris

Code cleanup (#17237)
  CMakeLists.txt
  src/collectors/cgroups.plugin/README.md
  src/daemon/config/README.md
  src/daemon/global_statistics.c
  src/daemon/main.c
  src/database/engine/journalfile.c
  src/database/engine/page.c
  src/database/engine/pdc.c
  src/database/engine/rrddiskprotocol.h
  src/database/engine/rrdengine.c
  src/database/engine/rrdengineapi.c
  src/database/rrd.h
  src/database/rrdhost.c
  src/libnetdata/bitmap.h
  src/libnetdata/gorilla/gorilla.cc
  src/libnetdata/gorilla/gorilla.h
  src/libnetdata/libnetdata.h
  src/libnetdata/linked-lists.h
  src/libnetdata/storage-point.h
Owners: @netdata/agent-sre, @vkalintiris, @Ancairon, @thiagoftsm

go.d: local-listeners sd: fix mariadbd comm (#17218)
  src/go/collectors/go.d.plugin/config/go.d/sd/net_listeners.conf
Owners: @ilyam8

Fix MRG Metric refcount issue (#17239)
  src/database/engine/metric.c
  src/database/rrddim.c
  src/database/rrdhost.c
  src/database/rrdset.c
Owners: @thiagoftsm, @vkalintiris

Try finding OpenSSL using pkg-config first on macOS. (#17250)
  CMakeLists.txt
Owners: @netdata/agent-sre, @vkalintiris

go.d: job manager: set config defaults (#17255)
  src/go/collectors/go.d.plugin/agent/agent.go
Owners: @ilyam8

Assorted macOS build fixes. (#17216)
  CMakeLists.txt
  packaging/cmake/Modules/NetdataDetectSystemd.cmake
Owners: @netdata/agent-sre, @vkalintiris, @Ferroin

DBENGINE: support ZSTD compression. Disabled by default (#17244)
  CMakeLists.txt
  src/database/engine/dbengine-compression.c
  src/database/engine/dbengine-compression.h
  src/database/engine/pdc.c
  src/database/engine/rrddiskprotocol.h
  src/database/engine/rrdengine.c
  src/database/engine/rrdengineapi.c
Owners: @netdata/agent-sre, @vkalintiris, @thiagoftsm

Correctly propagate errors from child scripts in kickstart.sh. (#17263)
  packaging/installer/kickstart.sh
Owners: @netdata/agent-sre

[ci skip] Patch release v1.45.1.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @netdata/agent-sre

apps_proc_pid_fd: ignore kf_sock_inpcb on modern FreeBSD (#17243)
  src/collectors/apps.plugin/apps_proc_pid_fd.c
Owners: @thiagoftsm

REFERENCE - Fix small unligned typo (#17274)
  src/health/REFERENCE.md
Owners: @Ancairon

Fall back to file searches to find OpenSSL on macOS.
  CMakeLists.txt
Owners: @netdata/agent-sre, @vkalintiris

Correctly handle libyaml linking for log2journal.
  CMakeLists.txt
Owners: @netdata/agent-sre, @vkalintiris

Update CMakeLists.txt
  CMakeLists.txt
Owners: @netdata/agent-sre, @vkalintiris

Fix typos.
  CMakeLists.txt
Owners: @netdata/agent-sre, @vkalintiris

Clang output should be disabled
  .github/workflows/review.yml
Owners: @netdata/agent-sre

Fix failure messages garbages/steps
  .github/workflows/generate-integrations.yml
Owners: @netdata/agent-sre

Commend out Clang
  .github/workflows/review.yml
Owners: @netdata/agent-sre

Add quoting whever is necessary and group the echo commands
  .github/workflows/cloud_regression.yml
Owners: @netdata/agent-sre

Fix failure messages step, cleanup garbages
  .github/workflows/build.yml
Owners: @netdata/agent-sre

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @netdata/agent-sre
src/aclk/ @stelfrag
contrib/debian @netdata/agent-sre
src/collectors/ @thiagoftsm
src/collectors/ebpf.plugin/ @thiagoftsm
src/collectors/charts.d.plugin/ @ilyam8 @Ferroin
src/collectors/freebsd.plugin/ @thiagoftsm
src/collectors/macos.plugin/ @thiagoftsm
src/collectors/python.d.plugin/ @ilyam8
src/collectors/cups.plugin/ @thiagoftsm
src/exporting/ @thiagoftsm
src/daemon/ @thiagoftsm @vkalintiris
src/database/ @thiagoftsm @vkalintiris
docs/ @Ancairon
src/go/ @ilyam8
src/health/ @thiagoftsm @vkalintiris
src/health/health.d/ @thiagoftsm
src/health/notifications/ @Ferroin @thiagoftsm
src/ml/ @vkalintiris
src/libnetdata/ @thiagoftsm @vkalintiris
packaging/ @netdata/agent-sre
packaging/cmake @Ferroin @vkalintiris
src/registry/ @novykh
src/streaming/ @thiagoftsm
system/ @netdata/agent-sre
tests/ @netdata/agent-sre @vkalintiris
src/web/ @thiagoftsm @vkalintiris
src/web/gui/ @novykh
src/logsmanagement/ @thiagoftsm

# Ownership by filetype (overwrites ownership by directory)
*.md @Ancairon
*.mdx @Ancairon
Dockerfile* @netdata/agent-sre

# Ownership of specific files
.gitignore @netdata/agent-sre @vkalintiris
.codacy.yml @netdata/agent-sre
.yamllint.yml @netdata/agent-sre
CMakeLists.txt @netdata/agent-sre @vkalintiris
netdata.spec.in @netdata/agent-sre
netdata-installer.sh @netdata/agent-sre
packaging/version @netdatabot @netdata/agent-sre

LICENSE.md @netdata/agent-sre @vkalintiris
CHANGELOG.md @netdatabot @netdata/agent-sre
