Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

add opsgenie as a business level notificaiton method (#14895)
  docs/cloud/alerts-notifications/notifications.md
  docs/cloud/manage/plans.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update README.md
  httpd/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

disable_hardirq: We are disabling by default threads heavly used due the fact every time a new IRQ event happens
  collectors/ebpf.plugin/ebpf.d.conf
Owners: @thiagoftsm

disable_hardirq: Update documentation informing impact plugin can have on some systems
  collectors/ebpf.plugin/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update README.md
  web/api/queries/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update README.md (#14898)
  web/api/queries/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

disable_hardirq: Remove content for while, I will bring it after investigation that I am doing
  collectors/ebpf.plugin/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update README.md
  web/api/queries/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update README.md (#14899)
  web/api/queries/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update REFERENCE.md
  health/REFERENCE.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update REFERENCE.md (#14900)
  health/REFERENCE.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Disable threads that update with high frequency (#14897)
  collectors/ebpf.plugin/ebpf.d.conf
Owners: @thiagoftsm

cgroups: add option to use Kubelet for pods meta
  collectors/cgroups.plugin/cgroup-name.sh
Owners: @thiagoftsm

cgroups: add option to use Kubelet for pods metadata (#14891)
  collectors/cgroups.plugin/cgroup-name.sh
Owners: @thiagoftsm

[ci skip] Update changelog and version for nightly build: v1.38.0-376-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

initial optimization for printable cheat sheet
  docs/cloud/cheatsheet.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

add one more line break
  docs/cloud/cheatsheet.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

/api/v2/weights nonzero output
  libnetdata/libnetdata.h
  libnetdata/storage_number/storage_number.h
  web/api/queries/weights.c
Owners: @thiagoftsm, @vkalintiris

add some useful links in the introduction dropdown
  docs/cloud/cheatsheet.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

add ax_cxx_compile_stdcxx.m4
  build/m4/ax_cxx_compile_stdcxx.m4
Owners: @Ferroin, @tkatsoulas

initial webrtc setup
  Makefile.am
  configure.ac
  libnetdata/url/url.c
  libnetdata/url/url.h
  web/api/web_api_v2.c
  web/rtc/webrtc.cpp
  web/rtc/webrtc.h
  web/server/web_client.c
  web/server/web_client.h
  web/server/web_client_cache.c
Owners: @Ferroin, @tkatsoulas, @thiagoftsm, @vkalintiris

missing files
  web/rtc/Makefile.am
  web/rtc/README.md
Owners: @Ferroin, @tkatsoulas, @andrewm4894, @cakrit

make c++17 optional
  configure.ac
  web/Makefile.am
Owners: @Ferroin, @tkatsoulas

make it compile without libdatachannel
  web/rtc/webrtc.cpp
Owners: @thiagoftsm, @vkalintiris

add build/m4/ax_compiler_vendor.m4
  build/m4/ax_compiler_vendor.m4
Owners: @Ferroin, @tkatsoulas

initialization and cleanup of webrtc connections
  daemon/common.h
  daemon/main.c
  web/api/web_api_v2.c
  web/rtc/webrtc.cpp
  web/rtc/webrtc.h
Owners: @thiagoftsm, @vkalintiris

add missing webrtc_initialize() function when webrtc is not enabled
  web/rtc/webrtc.cpp
Owners: @thiagoftsm, @vkalintiris

rewrite of webrtc integration
  Makefile.am
  configure.ac
  web/api/web_api_v2.c
  web/rtc/webrtc.cpp
  web/rtc/webrtc.h
Owners: @Ferroin, @tkatsoulas, @thiagoftsm, @vkalintiris

minor fix
  web/rtc/webrtc.c
Owners: @thiagoftsm, @vkalintiris

naming of webrtc threads
  libnetdata/threads/threads.c
  libnetdata/threads/threads.h
  web/rtc/webrtc.c
Owners: @thiagoftsm, @vkalintiris

fix for thread_get_name_np()
  libnetdata/threads/threads.c
Owners: @thiagoftsm, @vkalintiris

remove obsolete code
  configure.ac
Owners: @Ferroin

universal web clients cache
  aclk/aclk_query.c
  daemon/main.c
  web/server/static/static-threaded.c
  web/server/web_client_cache.c
  web/server/web_client_cache.h
  web/server/web_server.c
Owners: @stelfrag, @underhood, @thiagoftsm, @vkalintiris

added webrtc configuration
  libnetdata/config/appconfig.c
  libnetdata/config/appconfig.h
  web/rtc/webrtc.c
Owners: @thiagoftsm, @vkalintiris

fixed message
  configure.ac
Owners: @Ferroin

id all webrtc connections
  web/rtc/webrtc.cpp
Owners: @thiagoftsm, @vkalintiris

free web clients every 100 uses
  web/server/web_client.c
  web/server/web_client.h
  web/server/web_client_cache.c
Owners: @thiagoftsm, @vkalintiris

moved all webrtc error checking inside webrtc.cpp
  web/api/web_api_v2.c
  web/rtc/webrtc.cpp
Owners: @thiagoftsm, @vkalintiris

added new m4 files to makefile.am
  Makefile.am
Owners: @Ferroin, @tkatsoulas

working webrtc connection establishment and cleanup
  web/rtc/webrtc.cpp
Owners: @thiagoftsm, @vkalintiris

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas
