Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas

Do not disable all BTRFS metrics collection if only commit_stats is missing
  collectors/proc.plugin/sys_fs_btrfs.c
Owners: @thiagoftsm

Change current commit metrics to absolute from incremental
  collectors/proc.plugin/sys_fs_btrfs.c
  web/gui/dashboard_info.js
Owners: @thiagoftsm, @jacekkolasa

Add commit_stats metrics to BTRFS section
  collectors/all.h
  collectors/proc.plugin/sys_fs_btrfs.c
Owners: @thiagoftsm

Fix codacy warning
  collectors/proc.plugin/sys_fs_btrfs.c
Owners: @thiagoftsm

Add 'device' prefix to id, name, title of errors chart
  collectors/proc.plugin/sys_fs_btrfs.c
  web/gui/dashboard_info.js
Owners: @thiagoftsm, @jacekkolasa

Accept code review suggestions for more descriptive context and labels
  collectors/proc.plugin/sys_fs_btrfs.c
Owners: @thiagoftsm

Update health.d/btrfs.conf to match new errors charts
  collectors/proc.plugin/sys_fs_btrfs.c
  health/health.d/btrfs.conf
Owners: @thiagoftsm, @MrZammler

Rename 'device_' rrdlabels to 'filesystem_'
  collectors/proc.plugin/sys_fs_btrfs.c
Owners: @thiagoftsm

Always create error stats dimensions, even if zero
  collectors/proc.plugin/sys_fs_btrfs.c
Owners: @thiagoftsm

Remove commented out code
  collectors/proc.plugin/sys_fs_btrfs.c
Owners: @thiagoftsm

Remove duplicate code
  collectors/proc.plugin/sys_fs_btrfs.c
Owners: @thiagoftsm

Add basic BTRFS error alarms.
  health/health.d/btrfs.conf
Owners: @thiagoftsm, @MrZammler

Replace all snprintf() calls with snprintfz()
  collectors/proc.plugin/sys_fs_btrfs.c
Owners: @thiagoftsm

Simplify commit stats variables and chart ids/names
  collectors/proc.plugin/sys_fs_btrfs.c
Owners: @thiagoftsm

Add chart descriptions for new charts.
  web/gui/dashboard_info.js
Owners: @jacekkolasa

Change commits dimension to absolute and add separate commits time share chart
  collectors/all.h
  collectors/proc.plugin/sys_fs_btrfs.c
  web/gui/dashboard_info.js
Owners: @thiagoftsm, @jacekkolasa

Add 'device_id' label to device_errors
  collectors/proc.plugin/sys_fs_btrfs.c
Owners: @thiagoftsm

Comment out some debugging code
  collectors/proc.plugin/sys_fs_btrfs.c
Owners: @thiagoftsm

Show rate of commits and commit duration instead of totals
  collectors/proc.plugin/sys_fs_btrfs.c
Owners: @thiagoftsm

Provide separate error charts for each filesystem device
  collectors/proc.plugin/sys_fs_btrfs.c
Owners: @thiagoftsm

Do not disable all BTRFS metrics collection if only error_stats is missing
  collectors/proc.plugin/sys_fs_btrfs.c
Owners: @thiagoftsm

separate streaming to own file
  Makefile.am
  httpd/http_server.c
  httpd/streaming.c
  httpd/streaming.h
Owners: @Ferroin, @tkatsoulas

Fix bug of BTRFS device add/remove not being detected properly
  collectors/proc.plugin/sys_fs_btrfs.c
Owners: @thiagoftsm

Fix double free() error when deleting a device
  collectors/proc.plugin/sys_fs_btrfs.c
Owners: @thiagoftsm

[ci skip] Update changelog and version for nightly build: v1.38.0-366-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

Minor changes
  libnetdata/log/log.c
  ml/ml.cc
  netdata-installer.sh
Owners: @thiagoftsm, @vkalintiris, @andrewm4894, @Ferroin, @tkatsoulas

Revert debugging changes.
  libnetdata/log/log.c
  netdata-installer.sh
Owners: @thiagoftsm, @vkalintiris, @Ferroin, @tkatsoulas

Revert "Revert "Use static thread-pool for training. (#14702)" (#14782)"
  daemon/global_statistics.c
  daemon/main.c
  daemon/main.h
  database/rrdhost.c
  ml/Config.cc
  ml/ad_charts.cc
  ml/ad_charts.h
  ml/ml-dummy.c
  ml/ml-private.h
  ml/ml.cc
  ml/ml.h
Owners: @thiagoftsm, @vkalintiris, @andrewm4894

read lock hosts when running detection.
  ml/ml.cc
Owners: @andrewm4894, @vkalintiris

Model I/O.
  ml/Config.cc
  ml/ml-private.h
  ml/ml.cc
Owners: @andrewm4894, @vkalintiris

Update ml/Config.cc
  ml/Config.cc
Owners: @andrewm4894, @vkalintiris

Fix ML initialization order.
  daemon/main.c
  ml/ml-dummy.c
  ml/ml.cc
  ml/ml.h
Owners: @thiagoftsm, @vkalintiris, @andrewm4894

Update UNINSTALL.md
  packaging/installer/UNINSTALL.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

h2o docu initial
  httpd/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update README.md
  collectors/charts.d.plugin/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update dashboard info with bold tags
  web/gui/dashboard_info.js
Owners: @jacekkolasa

Update the bundled version of makeself used to create static builds. (#14822)
  .github/workflows/review.yml
  packaging/makeself/jobs/99-makeself.install.sh
  packaging/makeself/makeself-header.sh
  packaging/makeself/makeself-license.txt
  packaging/makeself/makeself.lsm
  packaging/makeself/makeself.sh
Owners: @Ferroin, @tkatsoulas

Collect additional BTRFS metrics (#14636)
  collectors/all.h
  collectors/proc.plugin/sys_fs_btrfs.c
  health/health.d/btrfs.conf
  web/gui/dashboard_info.js
Owners: @thiagoftsm, @MrZammler, @jacekkolasa

add Opsgenie as a Business level notificaiton method
  docs/cloud/alerts-notifications/notifications.md
  docs/cloud/manage/plans.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Remove dry run option from uninstall documentation (#14894)
  packaging/installer/UNINSTALL.md
Owners: @tkatsoulas, @andrewm4894, @cakrit
