Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

Add deployment strategies (#14600)
  docs/category-overview-pages/deployment-strategies.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

ebpf_memory_two: Change calls for freez/callocz to new helpers avoiding allocate more memory (VFS)
  collectors/ebpf.plugin/ebpf_apps.c
  collectors/ebpf.plugin/ebpf_vfs.c
Owners: @thiagoftsm

Update deployment-strategies.md
  docs/category-overview-pages/deployment-strategies.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update deployment-strategies.md (#14601)
  docs/category-overview-pages/deployment-strategies.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Add initial README.md
  logsmanagement/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Fix context unittest coredump (#14595)
  database/engine/datafile.c
  database/sqlite/sqlite_context.c
  database/sqlite/sqlite_functions.c
  database/sqlite/sqlite_functions.h
Owners: @thiagoftsm, @vkalintiris

[ci skip] Update changelog and version for nightly build: v1.38.0-144-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

use ssl specific flags for wait receive and send
  web/server/static/static-threaded.c
  web/server/web_client.c
  web/server/web_client.h
Owners: @thiagoftsm, @vkalintiris

remove brackets
  web/server/static/static-threaded.c
Owners: @thiagoftsm, @vkalintiris

Prevent core dump when the agent is performing a quick shutdown (#14587)
  daemon/main.c
  database/sqlite/sqlite_context.c
  database/sqlite/sqlite_functions.c
  database/sqlite/sqlite_metadata.c
Owners: @thiagoftsm, @vkalintiris

Add DB mode = none changes
  logsmanagement/db_api.c
  logsmanagement/db_api.h
  logsmanagement/logsmanagement.conf
  logsmanagement/query.c
Owners: @Ferroin

Add a scheduled CI job to flag supported platforms going EOL upstream. (#14581)
  .github/data/distros.yml
  .github/scripts/gen-matrix-eol-check.py
  .github/scripts/platform-impending-eol.py
  .github/workflows/platform-eol-check.yml
Owners: @Ferroin, @tkatsoulas

Temporarily remove platform EOL for Debian 12
  .github/data/distros.yml
Owners: @Ferroin, @tkatsoulas

fix broken links
  collectors/README.md
  docs/guides/monitor/lamp-stack.md
  docs/metrics-storage-management/how-streaming-works.md
  docs/quickstart/infrastructure.md
  docs/store/distributed-data-architecture.md
  docs/visualize/create-dashboards.md
  docs/visualize/overview-infrastructure.md
  packaging/installer/README.md
  packaging/installer/methods/ansible.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

fix a link to kernel-collector readme, make it to not point at .md
  packaging/installer/methods/source.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Add a simple webpage to visualize log query results
  logsmanagement/stress_test/logs_query.html
Owners: @Ferroin

Temporarily remove platform EOL check for Debian 12 (#14603)
  .github/data/distros.yml
Owners: @Ferroin, @tkatsoulas

Fix broken links (#14605)
  collectors/README.md
  docs/guides/monitor/lamp-stack.md
  docs/metrics-storage-management/how-streaming-works.md
  docs/quickstart/infrastructure.md
  docs/store/distributed-data-architecture.md
  docs/visualize/create-dashboards.md
  docs/visualize/overview-infrastructure.md
  packaging/installer/README.md
  packaging/installer/methods/ansible.md
  packaging/installer/methods/source.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

[ci skip] Update changelog and version for nightly build: v1.38.0-149-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

Update overview.md
  docs/cloud/visualize/overview.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update overview.md (#14607)
  docs/cloud/visualize/overview.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Reorg information and add titles
  docs/cloud/cheatsheet.md
  docs/cloud/visualize/interact-new-charts.md
  docs/dashboard/interact-charts.md
  docs/getting-started/introduction.md
  docs/quickstart/infrastructure.md
  docs/store/distributed-data-architecture.md
  packaging/installer/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Reorg information and add titles (#14608)
  docs/cloud/cheatsheet.md
  docs/cloud/visualize/interact-new-charts.md
  docs/dashboard/interact-charts.md
  docs/getting-started/introduction.md
  docs/quickstart/infrastructure.md
  docs/store/distributed-data-architecture.md
  packaging/installer/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Fix links to chart interactions
  collectors/README.md
  docs/cloud/alerts-notifications/view-active-alerts.md
  docs/cloud/war-rooms.md
  docs/dashboard/customize.md
  docs/dashboard/dimensions-contexts-families.md
  docs/dashboard/how-dashboard-works.md
  docs/dashboard/import-export-print-snapshot.md
  docs/dashboard/visualization-date-and-time-controls.md
  docs/guides/monitor/lamp-stack.md
  docs/metrics-storage-management/how-streaming-works.md
  packaging/installer/README.md
  web/server/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Fix links to chart interactions (#14609)
  collectors/README.md
  docs/cloud/alerts-notifications/view-active-alerts.md
  docs/cloud/war-rooms.md
  docs/dashboard/customize.md
  docs/dashboard/dimensions-contexts-families.md
  docs/dashboard/how-dashboard-works.md
  docs/dashboard/import-export-print-snapshot.md
  docs/dashboard/visualization-date-and-time-controls.md
  docs/guides/monitor/lamp-stack.md
  docs/metrics-storage-management/how-streaming-works.md
  packaging/installer/README.md
  web/server/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

[ci skip] Update changelog and version for nightly build: v1.38.0-153-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

Reorg getting started
  database/README.md
  docs/cloud/manage/sign-in.md
  docs/cloud/spaces.md
  docs/cloud/visualize/overview.md
  docs/cloud/war-rooms.md
  docs/dashboard/visualization-date-and-time-controls.md
  docs/metrics-storage-management/enable-streaming.md
  docs/metrics-storage-management/how-streaming-works.md
  docs/metrics-storage-management/reference-streaming.md
  docs/monitor/view-active-alarms.md
  health/README.md
  health/REFERENCE.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Streaming
  docs/metrics-storage-management/enable-streaming.md
  streaming/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

update go.d.plugin v0.51.1
  packaging/go.d.checksums
  packaging/go.d.version
Owners: @Ferroin, @tkatsoulas

Remove blanks
  docs/dashboard/visualization-date-and-time-controls.md
  docs/metrics-storage-management/enable-streaming.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Fix up to cloud alerts
  daemon/README.md
  docs/Running-behind-apache.md
  docs/category-overview-pages/deployment-strategies.md
  docs/category-overview-pages/installation-overview.md
  docs/cloud/alerts-notifications/add-discord-notification.md
  docs/cloud/alerts-notifications/add-pagerduty-notification-configuration.md
  docs/cloud/alerts-notifications/add-slack-notification-configuration.md
  docs/cloud/alerts-notifications/add-webhook-notification-configuration.md
  docs/cloud/alerts-notifications/manage-notification-methods.md
  docs/cloud/alerts-notifications/notifications.md
  docs/cloud/alerts-notifications/smartboard.md
  docs/cloud/alerts-notifications/view-active-alerts.md
  docs/cloud/data-privacy.md
  docs/cloud/manage/invite-your-team.md
  docs/cloud/manage/role-based-access.md
  docs/cloud/manage/themes.md
  docs/cloud/manage/view-plan-billing.md
  docs/configure/start-stop-restart.md
  packaging/installer/REINSTALL.md
  packaging/installer/UPDATE.md
  packaging/maintainers/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

update go.d.plugin v0.51.1 (#14611)
  packaging/go.d.checksums
  packaging/go.d.version
Owners: @Ferroin, @tkatsoulas

Reorg learn 0226 (#14610)
  daemon/README.md
  database/README.md
  docs/Running-behind-apache.md
  docs/category-overview-pages/deployment-strategies.md
  docs/category-overview-pages/installation-overview.md
  docs/cloud/alerts-notifications/add-discord-notification.md
  docs/cloud/alerts-notifications/add-pagerduty-notification-configuration.md
  docs/cloud/alerts-notifications/add-slack-notification-configuration.md
  docs/cloud/alerts-notifications/add-webhook-notification-configuration.md
  docs/cloud/alerts-notifications/manage-notification-methods.md
  docs/cloud/alerts-notifications/notifications.md
  docs/cloud/alerts-notifications/smartboard.md
  docs/cloud/alerts-notifications/view-active-alerts.md
  docs/cloud/data-privacy.md
  docs/cloud/manage/invite-your-team.md
  docs/cloud/manage/role-based-access.md
  docs/cloud/manage/sign-in.md
  docs/cloud/manage/themes.md
  docs/cloud/manage/view-plan-billing.md
  docs/cloud/spaces.md
  docs/cloud/visualize/overview.md
  docs/cloud/war-rooms.md
  docs/configure/start-stop-restart.md
  docs/dashboard/visualization-date-and-time-controls.md
  docs/metrics-storage-management/enable-streaming.md
  docs/metrics-storage-management/how-streaming-works.md
  docs/metrics-storage-management/reference-streaming.md
  docs/monitor/view-active-alarms.md
  health/README.md
  health/REFERENCE.md
  packaging/installer/REINSTALL.md
  packaging/installer/UPDATE.md
  packaging/maintainers/README.md
  streaming/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

fix links from removed docs
  docs/cloud/visualize/nodes.md
  docs/monitor/view-active-alarms.md
  docs/quickstart/infrastructure.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

fix links from removed docs (#14612)
  docs/cloud/visualize/nodes.md
  docs/monitor/view-active-alarms.md
  docs/quickstart/infrastructure.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

fix proxy links in netdata security
  docs/netdata-security.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

fix proxy links in netdata security (#14613)
  docs/netdata-security.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

fix relative link to anonymous statistics
  docs/netdata-security.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

fix relative link to anonymous statistics (#14614)
  docs/netdata-security.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

[ci skip] Update changelog and version for nightly build: v1.38.0-159-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas
