Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas

Make the document more generic (#14932)
  docs/guides/using-host-labels.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Disable kmsg log collector by default
  logsmanagement/logsmanagement.conf
Owners: @Ferroin

Fix logs_query.html to work with any server ip
  logsmanagement/stress_test/logs_query.html
Owners: @Ferroin

Fix regressed wrong number of web log lines bug
  logsmanagement/circular_buffer.c
Owners: @Ferroin

change_hardirq_read: Add lock to create apps charts.
  collectors/ebpf.plugin/ebpf.c
Owners: @thiagoftsm

change_hardirq_read: Move variable declaration used with processes pids
  collectors/ebpf.plugin/ebpf_apps.c
  collectors/ebpf.plugin/ebpf_process.c
Owners: @thiagoftsm

change_hardirq_read: Only show error message for thread running
  collectors/ebpf.plugin/ebpf.c
Owners: @thiagoftsm

bump go.d.plugin v0.52.2
  packaging/go.d.checksums
  packaging/go.d.version
Owners: @Ferroin, @tkatsoulas

bump go.d.plugin v0.52.2 (#14933)
  packaging/go.d.checksums
  packaging/go.d.version
Owners: @Ferroin, @tkatsoulas

zfspool: add missing suspended state
  collectors/proc.plugin/proc_spl_kstat_zfs.c
Owners: @thiagoftsm

reset suspended
  collectors/proc.plugin/proc_spl_kstat_zfs.c
Owners: @thiagoftsm

[ci skip] Update changelog and version for nightly build: v1.38.0-397-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

change_hardirq_read: Create a specific thread for cgroup and modify function used to lock a semaphore, because previus one did not allow plugin to close.
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf_cgroup.c
  collectors/ebpf.plugin/ebpf_cgroup.h
  collectors/ebpf.plugin/ebpf_process.h
Owners: @thiagoftsm

change_hardirq_read: Avoid issues to access the semaphore
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf_cgroup.c
Owners: @thiagoftsm

Dump config
  daemon/main.c
Owners: @thiagoftsm, @vkalintiris

Allocate a buffer to hold the command response so that we dont have a 4K char limit
  daemon/commands.c
Owners: @thiagoftsm, @vkalintiris

Add a dumpconfig command to output the current netdata.conf
  daemon/commands.c
  daemon/commands.h
Owners: @thiagoftsm, @vkalintiris

Add charcat and rawcat
  libnetdata/buffer/buffer.h
Owners: @thiagoftsm, @vkalintiris

Build incoming response in an buffer
  cli/cli.c
Owners: @Ferroin

Remove -W dumpconfig for now
  daemon/main.c
Owners: @thiagoftsm, @vkalintiris

Add a description to proc.plugin/README.md
  collectors/proc.plugin/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Skip ML initialization when it's been disabled in netdata.conf (#14920)
  daemon/global_statistics.c
  daemon/main.c
  daemon/main.h
  database/rrdhost.c
  ml/Config.cc
  ml/ad_charts.cc
  ml/ad_charts.h
  ml/ml-dummy.c
  ml/ml-private.h
  ml/ml.cc
  ml/ml.h
Owners: @thiagoftsm, @vkalintiris, @andrewm4894

fix broken image, replace with blogpost content
  database/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Fix typo
  daemon/commands.h
Owners: @thiagoftsm, @vkalintiris

Initialize machine GUID earlier in the agent startup sequence (#14922)
  daemon/analytics.c
  daemon/analytics.h
  daemon/main.c
  database/rrdhost.c
Owners: @thiagoftsm, @vkalintiris

properly handle host impersonation
  web/server/web_client.c
Owners: @thiagoftsm, @vkalintiris

Change query quota type from size_t to long long
  collectors/logsmanagement.plugin/plugin_logsmanagement.c
  logsmanagement/query.h
  web/api/web_api_v1.c
Owners: @thiagoftsm, @Ferroin, @vkalintiris

Update alpine version when searching for fts-dev requirements
  packaging/installer/install-required-packages.sh
Owners: @Ferroin, @tkatsoulas

Remove Fedora 36 from CI and platform support.
  .github/data/distros.yml
  packaging/PLATFORM_SUPPORT.md
Owners: @Ferroin, @tkatsoulas, @andrewm4894, @cakrit

use create and destroy for compatibility with older openssl
  libnetdata/libnetdata.c
Owners: @thiagoftsm, @vkalintiris

zfspool: add suspended state (#14934)
  collectors/proc.plugin/proc_spl_kstat_zfs.c
Owners: @thiagoftsm

set the context of mem.numa_nodes
  collectors/proc.plugin/sys_devices_system_node.c
Owners: @thiagoftsm

Update using-host-labels.md
  docs/guides/using-host-labels.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update using-host-labels.md (#14939)
  docs/guides/using-host-labels.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update query results to return both requested and actual quota
  collectors/logsmanagement.plugin/plugin_logsmanagement.c
  logsmanagement/logsmanagement_conf.h
  logsmanagement/stress_test/logs_query.html
  web/api/web_api_v1.c
Owners: @thiagoftsm, @Ferroin, @vkalintiris

Update COLLECTORS.md
  collectors/COLLECTORS.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Fix broken image, in database/README.md (#14936)
  database/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Add a description to proc.plugin/README.md (#14935)
  collectors/proc.plugin/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Optimize the cheat sheet to be in a printable form factor (#14903)
  docs/cloud/cheatsheet.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Add windows MSI installer start stop restart instructions to docs (#14929)
  docs/configure/start-stop-restart.md
Owners: @tkatsoulas, @andrewm4894, @cakrit
