Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @stelfrag, @underhood, @vlvkobal, @thiagoftsm, @ilyam8, @simonnagl, @vkalintiris, @DShreve2, @andrewm4894, @jacekkolasa, @netdatabot

bump go.d.plugin to v0.43.1
  packaging/go.d.checksums
  packaging/go.d.version
Owners: @Ferroin

bump go.d.plugin to v0.43.1 (#13993)
  packaging/go.d.checksums
  packaging/go.d.version
Owners: @Ferroin

fix link
  docs/store/change-metrics-storage.md
Owners: @DShreve2

remove python.d/nginx_plus
  collectors/python.d.plugin/Makefile.am
  collectors/python.d.plugin/nginx_plus/Makefile.inc
  collectors/python.d.plugin/nginx_plus/README.md
  collectors/python.d.plugin/nginx_plus/nginx_plus.chart.py
  collectors/python.d.plugin/nginx_plus/nginx_plus.conf
  collectors/python.d.plugin/python.d.conf
Owners: @Ferroin, @ilyam8, @DShreve2

Add populate next (Fix 3) switch to the next entry or journal file when asking to populate descriptor with next
  database/engine/pagecache.c
Owners: @thiagoftsm, @vkalintiris

Track and release jourval v2 descriptors
  database/engine/journalfile.c
  database/engine/pagecache.c
  database/engine/pagecache.h
  database/engine/rrdengine.c
  database/engine/rrdengineapi.c
Owners: @thiagoftsm, @vkalintiris

Cleanup (part 1)
  database/engine/journalfile.c
  database/engine/pagecache.c
Owners: @thiagoftsm, @vkalintiris

Close journal file after new journal index activation
  database/engine/journalfile.c
Owners: @thiagoftsm, @vkalintiris

pg_cache_insert returns the descriptor that ends up in the page_index
  database/engine/journalfile.c
  database/engine/pagecache.c
  database/engine/pagecache.h
  database/engine/rrdengineapi.c
Owners: @thiagoftsm, @vkalintiris

Avoid Time-of-check time-of-use filesystem race condition
  database/engine/journalfile.c
Owners: @thiagoftsm, @vkalintiris

fix for binary search crash
  database/engine/pagecache.c
Owners: @thiagoftsm, @vkalintiris

Skip warning when compiling without NETDATA_INTERNAL_CHECKS
  database/engine/journalfile.c
Owners: @thiagoftsm, @vkalintiris

Try to remove all evicted descriptors (may prevent slight memory increase)
  database/engine/pagecache.c
Owners: @thiagoftsm, @vkalintiris

Rework page population (part 1)
  database/engine/pagecache.c
Owners: @thiagoftsm, @vkalintiris

Precache pages and cleanup
  database/engine/datafile.h
  database/engine/journalfile.c
  database/engine/journalfile.h
  database/engine/pagecache.c
  database/engine/pagecache.h
  database/engine/rrdengine.c
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
Owners: @thiagoftsm, @vkalintiris

Do not track v2 descriptors when populating the page_index
  database/engine/pagecache.c
Owners: @thiagoftsm, @vkalintiris

Add read only option to netdata_mmap so files are accessed ousing PROT_READ
  database/engine/rrdengine.c
  database/rrddim.c
  database/rrdset.c
  libnetdata/arrayalloc/arrayalloc.c
  libnetdata/libnetdata.c
  libnetdata/libnetdata.h
Owners: @thiagoftsm, @vkalintiris

Add main function to populate descriptors by checking the new journal indexing
  database/engine/pagecache.c
Owners: @thiagoftsm, @vkalintiris

Close journal file that has been processed and migrated to the new index Check for valid file before trying to truncate / close. This file has been closed during startup
  database/engine/journalfile.c
Owners: @thiagoftsm, @vkalintiris

Disbale extent caching for now, add placeholder for journal indexing and activation while the agent is running
  database/engine/rrdengine.c
  database/engine/rrdengine.h
Owners: @thiagoftsm, @vkalintiris

Initial functions to write the new journal file and switch to the new indexing
  database/engine/journalfile.c
  database/engine/journalfile.h
Owners: @thiagoftsm, @vkalintiris

Evict pages also when we succesfully do try_reserve
  database/engine/pagecache.c
Owners: @thiagoftsm, @vkalintiris

Locking added and Cleanup (part 2)
  database/engine/datafile.c
  database/engine/datafile.h
  database/engine/journalfile.c
  database/engine/pagecache.c
Owners: @thiagoftsm, @vkalintiris

Fix resource leak and wrong sizeof
  database/engine/journalfile.c
  database/engine/rrdengine.c
Owners: @thiagoftsm, @vkalintiris

Additional checksums added / journal validation
  database/engine/journalfile.c
  database/engine/journalfile.h
  database/engine/pagecache.c
Owners: @thiagoftsm, @vkalintiris

Better calculation for the number of prefetched data pages based on the query end time Code cleanup and comments Add v2 populated descriptor expiration based on journal access time
  database/engine/journalfile.c
  database/engine/journalfile.h
  database/engine/pagecache.c
  database/engine/pagecache.h
  database/engine/rrdengine.c
Owners: @thiagoftsm, @vkalintiris

Do not try to allocate pages for locality if under pressure
  database/engine/rrdengine.c
Owners: @thiagoftsm, @vkalintiris

prevent crash
  database/engine/rrdengine.c
Owners: @thiagoftsm, @vkalintiris

Fix total file size calculation
  database/engine/journalfile.c
Owners: @thiagoftsm, @vkalintiris

Add populate next (Fix 1)
  database/engine/pagecache.c
Owners: @thiagoftsm, @vkalintiris

Fix compilation warnings, reactivate extent caching
  database/engine/journalfile.c
  database/engine/rrdengine.c
Owners: @thiagoftsm, @vkalintiris

Statistics for journal descriptors
  daemon/global_statistics.c
  database/engine/pagecache.c
  database/engine/pagecache.h
  database/engine/rrdengineapi.c
  database/engine/rrdengineapi.h
Owners: @thiagoftsm, @vkalintiris

Add a separate cleanup thread to release unused descriptors
  database/engine/journalfile.h
  database/engine/pagecache.c
  database/engine/pagecache.h
  database/engine/rrdengine.c
  database/engine/rrdengine.h
Owners: @thiagoftsm, @vkalintiris

Cleanup messages during startup
  database/engine/datafile.c
Owners: @thiagoftsm, @vkalintiris

Ignore empty index file (header and trailer and no metrics)
  database/engine/journalfile.c
Owners: @thiagoftsm, @vkalintiris

Add populate next (Fix 2)
  database/engine/pagecache.c
Owners: @thiagoftsm, @vkalintiris

always add a page
  database/engine/pagecache.c
Owners: @thiagoftsm, @vkalintiris

populate fixes - it is still incomplete
  database/engine/pagecache.c
Owners: @thiagoftsm, @vkalintiris

Check existence of key correctly
  database/engine/rrdengine.c
Owners: @thiagoftsm, @vkalintiris

Re activate descriptor clean Code cleanup
  database/engine/journalfile.c
  database/engine/rrdengine.c
  database/engine/rrdengine.h
Owners: @thiagoftsm, @vkalintiris

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.travis/ @Ferroin
.github/ @Ferroin
aclk/ @stelfrag @underhood
build/ @Ferroin
contrib/debian @Ferroin
collectors/ @vlvkobal
collectors/ebpf.plugin/ @thiagoftsm @vlvkobal
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @vlvkobal @thiagoftsm
collectors/macos.plugin/ @vlvkobal @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @thiagoftsm
exporting/  @vlvkobal @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @DShreve2
health/ @thiagoftsm @vlvkobal @vkalintiris
health/health.d/ @thiagoftsm @vlvkobal
health/notifications/ @Ferroin @thiagoftsm
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin
registry/ @jacekkolasa
streaming/ @thiagoftsm @vlvkobal
system/ @Ferroin
tests/ @Ferroin @vkalintiris
web/ @thiagoftsm @vlvkobal @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin
*.md @DShreve2
Dockerfile* @Ferroin

# Ownership of specific files
.gitignore @Ferroin @vkalintiris
.travis.yml @Ferroin
.lgtm.yml @Ferroin
.eslintrc @Ferroin
.eslintignore @Ferroin
.csslintrc @Ferroin
.codeclimate.yml @Ferroin
.codacy.yml @Ferroin
.yamllint.yml @Ferroin
netdata.spec.in @Ferroin
netdata-installer.sh @Ferroin
packaging/version @netdatabot @Ferroin

LICENSE.md @DShreve2 @Ferroin @vkalintiris
CHANGELOG.md @netdatabot @Ferroin
