Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

bump go.d.plugin to v0.53.0
  packaging/go.d.checksums
  packaging/go.d.version
Owners: @Ferroin, @tkatsoulas

remove non-updated REMOVED entries from memory health log
  health/health.c
Owners: @thiagoftsm, @vkalintiris, @MrZammler

Fix ACLK memleak (#15055)
  aclk/aclk_tx_msgs.c
Owners: @stelfrag, @underhood

remove debugging
  database/sqlite/sqlite_metadata.c
  health/health.c
Owners: @thiagoftsm, @vkalintiris, @MrZammler

bump go.d.plugin to v0.53.0 (#15059)
  packaging/go.d.checksums
  packaging/go.d.version
Owners: @Ferroin, @tkatsoulas

Add unit conversion script
  collectors/units.py
Owners: @thiagoftsm

Free active_alerts and claim_id
  database/sqlite/sqlite_aclk_alert.c
Owners: @thiagoftsm, @vkalintiris

fix bytes counters multiplier
  collectors/proc.plugin/sys_class_infiniband.c
Owners: @thiagoftsm

Improve some of the error messages in the kickstart script.
  packaging/installer/kickstart.sh
Owners: @Ferroin, @tkatsoulas

fix infiniband bytes counters multiplier and divisor (#14748)
  collectors/proc.plugin/sys_class_infiniband.c
Owners: @thiagoftsm

Free digest context
  libnetdata/libnetdata.c
Owners: @thiagoftsm, @vkalintiris

Fix CodeQL warning "Multiplication result may overflow 'unsigned int' before it is converted to 'size_t'"
  ml/ml.cc
Owners: @andrewm4894, @vkalintiris

[ci skip] Update changelog and version for nightly build: v1.39.0-33-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

Release memory unconditionally
  database/sqlite/sqlite_aclk_alert.c
Owners: @thiagoftsm, @vkalintiris

use rc not rt
  health/health_config.c
Owners: @thiagoftsm, @vkalintiris, @MrZammler

Update netdata-security.md
  docs/netdata-security.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Remove Fedora 36 from CI and platform support. (#14938)
  .github/data/distros.yml
  packaging/PLATFORM_SUPPORT.md
Owners: @Ferroin, @tkatsoulas, @andrewm4894, @cakrit

respond to cloud with msgtoobig
  aclk/aclk_tx_msgs.c
Owners: @stelfrag, @underhood

FORB no ec payload
  aclk/aclk_tx_msgs.c
Owners: @stelfrag, @underhood

Fix memory leak when sending alerts checkoint (#15060)
  database/sqlite/sqlite_aclk_alert.c
  libnetdata/libnetdata.c
Owners: @thiagoftsm, @vkalintiris

typo
  aclk/aclk_tx_msgs.c
Owners: @stelfrag, @underhood

log HTTP code in case of error in sending
  aclk/aclk_query.c
  aclk/aclk_tx_msgs.c
  aclk/aclk_tx_msgs.h
Owners: @stelfrag, @underhood

simplify loop in alert checkpoint
  database/sqlite/sqlite_aclk_alert.c
Owners: @thiagoftsm, @vkalintiris

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas
