Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @stelfrag, @underhood, @vlvkobal, @thiagoftsm, @ilyam8, @simonnagl, @vkalintiris, @DShreve2, @andrewm4894, @jacekkolasa, @netdatabot

disable sql for checking past sql UUIDs
  database/rrddim.c
  database/rrdset.c
Owners: @thiagoftsm, @vkalintiris

fix_documentation: Fix documentation recomendation for TLS streaming
  streaming/README.md
Owners: @DShreve2

single threaded replication
  daemon/static_threads.c
  streaming/replication.c
  streaming/replication.h
  streaming/rrdpush.h
  streaming/sender.c
Owners: @thiagoftsm, @vkalintiris, @vlvkobal

final replication thread using dictionaries and JudyL for sorting the pending requests
  daemon/global_statistics.c
  database/rrdhost.c
  libnetdata/worker_utilization/worker_utilization.c
  libnetdata/worker_utilization/worker_utilization.h
  streaming/receiver.c
  streaming/replication.c
  streaming/replication.h
  streaming/rrdpush.h
  streaming/sender.c
Owners: @thiagoftsm, @vkalintiris, @vlvkobal

do not timeout the sending socket when there are pending replication requests
  streaming/replication.c
  streaming/rrdpush.h
  streaming/sender.c
Owners: @thiagoftsm, @vlvkobal

streaming receiver using read() instead of fread()
  streaming/receiver.c
Owners: @thiagoftsm, @vlvkobal

remove FILE * from streaming - now using posix read() and write()
  collectors/plugins.d/pluginsd_parser.c
  parser/parser.c
  parser/parser.h
  streaming/receiver.c
Owners: @vlvkobal, @Ferroin, @thiagoftsm

increase timeouts to 10 minutes
  streaming/receiver.c
  streaming/sender.c
Owners: @thiagoftsm, @vlvkobal

apply sender timeout only when there are metrics that are supposed to be streamed
  streaming/replication.c
  streaming/rrdpush.h
  streaming/sender.c
Owners: @thiagoftsm, @vlvkobal

error handling in replication
  streaming/replication.c
Owners: @thiagoftsm, @vlvkobal

remove retries on socket read timeout; better error messages
  collectors/plugins.d/pluginsd_parser.c
  streaming/receiver.c
  streaming/replication.c
Owners: @vlvkobal, @thiagoftsm

take into account inbound traffic too to detect that a connection is stale
  streaming/rrdpush.h
  streaming/sender.c
Owners: @thiagoftsm, @vlvkobal

remove race conditions from replication thread
  streaming/replication.c
Owners: @thiagoftsm, @vlvkobal

make sure deleted entries are marked as executed, so that even if deletion fails, they will not be executed
  streaming/replication.c
Owners: @thiagoftsm, @vlvkobal

2 minutes timeout to retry streaming to a parent that already has this node
  streaming/sender.c
Owners: @thiagoftsm, @vlvkobal

remove unecessary condition check
  streaming/receiver.c
Owners: @thiagoftsm, @vlvkobal

fix compilation warnings
  database/rrddim.c
  database/rrdset.c
  libnetdata/inlined.h
  streaming/replication.c
Owners: @thiagoftsm, @vkalintiris, @vlvkobal

include judy in replication
  streaming/replication.c
Owners: @thiagoftsm, @vlvkobal

wrappers to handle retries for SSL_read and SSL_write
  collectors/plugins.d/pluginsd_parser.c
  libnetdata/socket/socket.c
  libnetdata/socket/socket.h
  streaming/receiver.c
  streaming/sender.c
  web/server/web_client.c
Owners: @vlvkobal, @thiagoftsm, @vkalintiris

compressed bytes read monitoring
  streaming/receiver.c
Owners: @thiagoftsm, @vlvkobal

recursive locks on replication to make it faster during flush or cleanup
  streaming/replication.c
Owners: @thiagoftsm, @vlvkobal

replication completion chart at the receiver side
  collectors/plugins.d/pluginsd_parser.c
  libnetdata/socket/socket.c
  libnetdata/socket/socket.h
  parser/parser.h
  streaming/receiver.c
  streaming/replication.c
  streaming/rrdpush.h
  web/server/web_client.c
Owners: @vlvkobal, @thiagoftsm, @vkalintiris, @Ferroin

simplified recursive mutex
  streaming/replication.c
Owners: @thiagoftsm, @vlvkobal

simplified recursive mutex again
  streaming/replication.c
Owners: @thiagoftsm, @vlvkobal

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.travis/ @Ferroin
.github/ @Ferroin
aclk/ @stelfrag @underhood
build/ @Ferroin
contrib/debian @Ferroin
collectors/ @vlvkobal
collectors/ebpf.plugin/ @thiagoftsm @vlvkobal
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @vlvkobal @thiagoftsm
collectors/macos.plugin/ @vlvkobal @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @thiagoftsm
exporting/  @vlvkobal @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @DShreve2
health/ @thiagoftsm @vlvkobal @vkalintiris
health/health.d/ @thiagoftsm @vlvkobal
health/notifications/ @Ferroin @thiagoftsm
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin
registry/ @jacekkolasa
streaming/ @thiagoftsm @vlvkobal
system/ @Ferroin
tests/ @Ferroin @vkalintiris
web/ @thiagoftsm @vlvkobal @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin
*.md @DShreve2
Dockerfile* @Ferroin

# Ownership of specific files
.gitignore @Ferroin @vkalintiris
.travis.yml @Ferroin
.lgtm.yml @Ferroin
.eslintrc @Ferroin
.eslintignore @Ferroin
.csslintrc @Ferroin
.codeclimate.yml @Ferroin
.codacy.yml @Ferroin
.yamllint.yml @Ferroin
netdata.spec.in @Ferroin
netdata-installer.sh @Ferroin
packaging/version @netdatabot @Ferroin

LICENSE.md @DShreve2 @Ferroin @vkalintiris
CHANGELOG.md @netdatabot @Ferroin
