Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

Sync with system restructure.
  .gitignore
  netdata-installer.sh
  system/Makefile.am
  system/install-service.sh.in
  system/runit/run.in
Owners: @Ferroin, @tkatsoulas, @vkalintiris

Fix botched update to Makefile.am.
  system/Makefile.am
Owners: @Ferroin, @tkatsoulas

Handle the case when config is not yet available for a host
  database/sqlite/sqlite_aclk_node.c
Owners: @thiagoftsm, @vkalintiris

Optimize word splitting.
  collectors/plugins.d/plugins_d.c
  libnetdata/libnetdata.c
  libnetdata/libnetdata.h
  libnetdata/parser/parser.c
  libnetdata/parser/splitter.h
  libnetdata/parser/splitter.inc.h
  web/api/queries/query.c
Owners: @thiagoftsm, @vkalintiris

New build_external scenario.
  build_external/scenarios/children-to-localhost/README.md
  build_external/scenarios/children-to-localhost/child_stream.conf
  build_external/scenarios/children-to-localhost/docker-compose.yml
  build_external/scenarios/children-to-localhost/parent_stream.conf
Owners: @tkatsoulas, @andrewm4894, @cakrit, @Ferroin

Update python-collector.md
  docs/guides/python-collector.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Add experimental support for running under runit. (#13841)
  .gitignore
  netdata-installer.sh
  system/Makefile.am
  system/install-service.sh.in
  system/runit/run.in
Owners: @Ferroin, @tkatsoulas, @vkalintiris

check for non NULL dict when running dictionary garbage collect
  libnetdata/dictionary/dictionary.c
Owners: @thiagoftsm, @vkalintiris

Improve guideline docs (#14678)
  contribution-guidelines.md
  docs/contributing/style-guide.md
  docs/guidelines.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Register source files with build systems.
  CMakeLists.txt
  Makefile.am
Owners: @Ferroin, @tkatsoulas

Update change-metrics-storage.md
  docs/store/change-metrics-storage.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update change-metrics-storage.md (#14726)
  docs/store/change-metrics-storage.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

add go.d example collector to #etc section (#14722)
  collectors/COLLECTORS.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

support API v2 requests via ACLK
  aclk/aclk_query.c
Owners: @stelfrag, @underhood

[ci skip] Update changelog and version for nightly build: v1.38.0-243-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

New build_external scenario. (#14725)
  build_external/scenarios/children-to-localhost/README.md
  build_external/scenarios/children-to-localhost/child_stream.conf
  build_external/scenarios/children-to-localhost/docker-compose.yml
  build_external/scenarios/children-to-localhost/parent_stream.conf
Owners: @tkatsoulas, @andrewm4894, @cakrit, @Ferroin

Update war-rooms.md
  docs/cloud/war-rooms.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

update war-rooms.md
  docs/cloud/war-rooms.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

some visual fixes
  docs/cloud/war-rooms.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

remove ubuntu 18.04 from our CI
  .github/data/distros.yml
  packaging/PLATFORM_SUPPORT.md
Owners: @Ferroin, @tkatsoulas, @andrewm4894, @cakrit

add 18.04 to previously supported
  packaging/PLATFORM_SUPPORT.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update dashboard to version v2.30.0.
  web/gui/dashboard/Makefile.am
  web/gui/dashboard/README.md
  web/gui/dashboard/asset-manifest.json
  web/gui/dashboard/dashboard-react.js
  web/gui/dashboard/dashboard.js
  web/gui/dashboard/index.html
  web/gui/dashboard/precache-manifest.254cf772b5f11952f30987521c3b684c.js
  web/gui/dashboard/precache-manifest.5fec6109084644adf7bf854243e1a044.js
  web/gui/dashboard/service-worker.js
  web/gui/dashboard/static/js/2.92ca8446.chunk.js.LICENSE
  web/gui/dashboard/static/js/2.e8fa8919.chunk.js.LICENSE
  web/gui/dashboard/static/js/main.7d1bdca1.chunk.js
  web/gui/dashboard/static/js/main.7d1bdca1.chunk.js.LICENSE
  web/gui/dashboard/static/js/main.7d1bdca1.chunk.js.map
  web/gui/dashboard/static/js/main.e40a898a.chunk.js
  web/gui/dashboard/static/js/main.e40a898a.chunk.js.LICENSE
  web/gui/dashboard/static/js/main.e40a898a.chunk.js.map
Owners: @Ferroin, @tkatsoulas, @andrewm4894, @cakrit, @jacekkolasa

Add CI support for Fedora 38 & Ubuntu 23.04
  .github/data/distros.yml
  packaging/PLATFORM_SUPPORT.md
Owners: @Ferroin, @tkatsoulas, @andrewm4894, @cakrit

Correct calc and explain how to get METRICS
  docs/store/change-metrics-storage.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Correct calc and explain how to get METRICS in RAM usage (#14733)
  docs/store/change-metrics-storage.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update change-metrics-storage.md
  docs/store/change-metrics-storage.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update change-metrics-storage.md (#14734)
  docs/store/change-metrics-storage.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

sort list
  packaging/PLATFORM_SUPPORT.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

pandas collector replace `self.warn()` with `self.warning()`
  collectors/python.d.plugin/pandas/pandas.chart.py
Owners: @ilyam8

Apply suggestions from code review
  docs/cloud/war-rooms.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

pandas collector replace `self.warn()` with `self.warning()` (#14736)
  collectors/python.d.plugin/pandas/pandas.chart.py
Owners: @ilyam8

Update dashboard to version v2.30.0. (#14732)
  web/gui/dashboard/Makefile.am
  web/gui/dashboard/README.md
  web/gui/dashboard/asset-manifest.json
  web/gui/dashboard/dashboard-react.js
  web/gui/dashboard/dashboard.js
  web/gui/dashboard/index.html
  web/gui/dashboard/precache-manifest.254cf772b5f11952f30987521c3b684c.js
  web/gui/dashboard/precache-manifest.5fec6109084644adf7bf854243e1a044.js
  web/gui/dashboard/service-worker.js
  web/gui/dashboard/static/js/2.92ca8446.chunk.js.LICENSE
  web/gui/dashboard/static/js/2.e8fa8919.chunk.js.LICENSE
  web/gui/dashboard/static/js/main.7d1bdca1.chunk.js
  web/gui/dashboard/static/js/main.7d1bdca1.chunk.js.LICENSE
  web/gui/dashboard/static/js/main.7d1bdca1.chunk.js.map
  web/gui/dashboard/static/js/main.e40a898a.chunk.js
  web/gui/dashboard/static/js/main.e40a898a.chunk.js.LICENSE
  web/gui/dashboard/static/js/main.e40a898a.chunk.js.map
Owners: @Ferroin, @tkatsoulas, @andrewm4894, @cakrit, @jacekkolasa

add nodes detailed information to /api/v2/nodes
  database/contexts/api_v2.c
  database/contexts/rrdcontext.h
  web/api/queries/query.c
  web/api/web_api_v1.c
  web/api/web_api_v1.h
  web/api/web_api_v2.c
Owners: @thiagoftsm, @vkalintiris

fixed keys and added dummy nodes for completeness
  database/contexts/api_v2.c
  web/api/web_api_v1.c
  web/api/web_api_v1.h
Owners: @thiagoftsm, @vkalintiris

added nodes_hard_hash, alerts_hard_hash, alerts_soft_hash; started building a nodes status object to reflect the current status of a node
  database/contexts/api_v2.c
  database/contexts/internal.h
  database/contexts/query_scope.c
  database/contexts/query_target.c
  database/contexts/rrdcontext.h
  database/rrd.h
  health/health_log.c
  web/api/formatters/json_wrapper.c
  web/api/formatters/json_wrapper.h
  web/api/netdata-swagger.yaml
Owners: @thiagoftsm, @vkalintiris, @MrZammler

make sure replication does not double count charts that are already being replicated
  streaming/rrdpush.c
Owners: @thiagoftsm

[ci skip] Update changelog and version for nightly build: v1.38.0-249-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

expose min and max in sts structures
  web/api/formatters/json_wrapper.c
  web/api/netdata-swagger.yaml
Owners: @thiagoftsm, @vkalintiris

Update readme author
  collectors/python.d.plugin/ethtool/README.md
  collectors/python.d.plugin/ethtool/ethtool.chart.py
Owners: @tkatsoulas, @andrewm4894, @cakrit, @ilyam8

respect trimming in percentage calculation; updated swagger
  web/api/netdata-swagger.yaml
  web/api/queries/query.c
Owners: @thiagoftsm, @vkalintiris

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas
