Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas

Fix contenttype compilation errors
  collectors/logsmanagement.plugin/plugin_logsmanagement.c
  web/api/web_api_v1.c
Owners: @thiagoftsm, @vkalintiris

Update daemon/system-info.sh
  daemon/system-info.sh
Owners: @thiagoftsm, @vkalintiris

add validation step before using GCP metadata (#14801)
  daemon/system-info.sh
Owners: @thiagoftsm, @vkalintiris

/api/v2/data remove NONZERO flag when all dimensions are zero and fix MIN/MAX grouping and statistics
  database/contexts/query_target.c
  database/contexts/rrdcontext.h
  web/api/formatters/json/json.c
  web/api/formatters/json_wrapper.c
  web/api/formatters/rrd2json.c
  web/api/formatters/rrd2json.h
  web/api/queries/query.c
  web/api/queries/rrdr.h
Owners: @thiagoftsm, @vkalintiris

Attempt to fix failing CI
  configure.ac
Owners: @Ferroin

/api/v2/data expose view.dimensions.sts{}
  web/api/formatters/json_wrapper.c
  web/api/netdata-swagger.yaml
Owners: @thiagoftsm, @vkalintiris

[ci skip] Update changelog and version for nightly build: v1.38.0-301-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

add h2o tag v2.2.6
  .gitmodules
Owners: @Ferroin

installer build libh2o.a
  netdata-installer.sh
Owners: @Ferroin, @tkatsoulas

add various helper utils for h2o
  httpd/h2o_utils.c
  httpd/h2o_utils.h
Owners: @Ferroin

fix for libh2o 2.2.6 vs latest master (used in my dev branch)
  httpd/h2o_utils.c
Owners: @Ferroin

link libh2o and build httpd
  Makefile.am
  configure.ac
Owners: @Ferroin, @tkatsoulas

add buffer -> h2o_iovec helper fnc
  libnetdata/buffer/buffer.c
  libnetdata/buffer/buffer.h
Owners: @thiagoftsm, @vkalintiris

report individual steps
  netdata-installer.sh
Owners: @Ferroin, @tkatsoulas

add missing netdata.conf generator
  httpd/http_server.c
Owners: @Ferroin

minimal httpd server
  Makefile.am
  daemon/common.h
  daemon/main.c
  daemon/static_threads.c
  httpd/http_server.c
  httpd/http_server.h
Owners: @Ferroin, @tkatsoulas, @thiagoftsm, @vkalintiris

fix bug causing conntentype errors
  httpd/http_server.c
Owners: @Ferroin

attempt rpm fix
  netdata.spec.in
  packaging/bundle-h2o.sh
Owners: @Ferroin, @tkatsoulas

try deb fix
  contrib/debian/rules
Owners: @Ferroin, @tkatsoulas

Add children support
  httpd/http_server.c
Owners: @Ferroin

dist h2o sources
  Makefile.am
Owners: @Ferroin, @tkatsoulas

Revert "installer build libh2o.a"
  netdata-installer.sh
Owners: @Ferroin, @tkatsoulas

Revert "try deb fix"
  contrib/debian/rules
Owners: @Ferroin, @tkatsoulas

build ourselves
  Makefile.am
Owners: @Ferroin, @tkatsoulas

Revert "attempt rpm fix"
  netdata.spec.in
  packaging/bundle-h2o.sh
Owners: @Ferroin, @tkatsoulas

attempt to skip codeql on external sources
  .github/codeql/c-cpp-config.yml
  .github/workflows/codeql.yml
Owners: @Ferroin, @tkatsoulas

ignore untracked file in submodule h2o
  .gitmodules
Owners: @Ferroin

clear warning
  httpd/h2o_utils.h
Owners: @Ferroin

make HTTPD optional for now
  Makefile.am
  configure.ac
  daemon/main.c
  daemon/static_threads.c
  libnetdata/buffer/buffer.c
  libnetdata/buffer/buffer.h
Owners: @Ferroin, @tkatsoulas, @thiagoftsm, @vkalintiris

h2o a shallow copy by default
  .gitmodules
Owners: @Ferroin

add endline at end of yaml
  .github/codeql/c-cpp-config.yml
Owners: @Ferroin, @tkatsoulas

fix conf.ac
  configure.ac
Owners: @Ferroin

add HTTPD to buildinfo
  daemon/buildinfo.c
Owners: @thiagoftsm, @vkalintiris

use http coodes from httpd_defs.h
  httpd/http_server.c
Owners: @Ferroin

use UUID_STR_LEN
  httpd/http_server.c
Owners: @Ferroin

move HTTP related defines to libnetdata
  CMakeLists.txt
  Makefile.am
  libnetdata/http/http_defs.h
  libnetdata/libnetdata.h
  web/server/web_client.h
Owners: @Ferroin, @tkatsoulas, @thiagoftsm, @vkalintiris

include only when built
  daemon/common.h
Owners: @thiagoftsm, @vkalintiris

usel TLS on newer SSL
  httpd/http_server.c
Owners: @Ferroin

fix build error
  Makefile.am
Owners: @Ferroin, @tkatsoulas

Revert "h2o a shallow copy by default"
  .gitmodules
Owners: @Ferroin
