Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas

wolfssl: Use only macros from our autoconf to avoid conflicts between libraries.
  aclk/aclk.c
  database/engine/rrdengine.h
Owners: @stelfrag, @underhood, @thiagoftsm, @vkalintiris

wolfssl: Add Wolfssl headers in rrdengine.h
  database/engine/rrdengine.h
Owners: @thiagoftsm, @vkalintiris

wolfssl: Add New macro used to select between OpenSSL library and WolfSSL
  configure.ac
Owners: @Ferroin

wolfssl: Rename function security_clean_ssl to a more meaninful name and add Wolfssl cleanup code
  daemon/main.c
  libnetdata/socket/security.c
  libnetdata/socket/security.h
Owners: @thiagoftsm, @vkalintiris

wolfssl: Modify configure.ac to compile kinesis with correct library
  configure.ac
Owners: @Ferroin

wolfssl: Address comment https://github.com/netdata/netdata/pull/14808#issuecomment-1484930526 again and also add missing headers
  database/engine/rrdengine.h
  libnetdata/socket/security.h
Owners: @thiagoftsm, @vkalintiris

wolfssl: Address comment https://github.com/netdata/netdata/pull/14808#issuecomment-1484930526
  aclk/aclk.c
  database/engine/rrdengine.h
Owners: @stelfrag, @underhood, @thiagoftsm, @vkalintiris

wolfssl: Add headers used in dbengine. It looks like that some OpenSSL versions do not have functions in previous headers already added.
  libnetdata/socket/security.h
Owners: @thiagoftsm, @vkalintiris

wolfssl: Modify configure.ac removing unecessary tests and conflicts.
  configure.ac
Owners: @Ferroin

wolfssl: Modify Makefile.am to compile future version of mqtt_websockets that we will bring next week.
  Makefile.am
Owners: @Ferroin, @tkatsoulas

wolfssl: Rename function security_initialize_openssl_server.
  libnetdata/socket/security.c
Owners: @thiagoftsm, @vkalintiris

wolfssl: Modify security_initialize_ssl_client to use only one macro trough code
  libnetdata/socket/security.c
Owners: @thiagoftsm, @vkalintiris

wolfssl: Rename function security_openssl_common_options and adjust macros
  libnetdata/socket/security.c
Owners: @thiagoftsm, @vkalintiris

fix config generation for plugins
  libnetdata/config/appconfig.c
Owners: @thiagoftsm, @vkalintiris

fix config generation for plugins (#14990)
  libnetdata/config/appconfig.c
Owners: @thiagoftsm, @vkalintiris

disable CPU full pressure on system level
  collectors/proc.plugin/proc_pressure.c
Owners: @thiagoftsm

Remove alpine 3.14 from the ci (#14873)
  .github/data/distros.yml
  packaging/PLATFORM_SUPPORT.md
Owners: @Ferroin, @tkatsoulas, @andrewm4894, @cakrit

[ci skip] Update changelog and version for nightly build: v1.38.0-453-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

feat: add OpsGenie alert levels to payload
  health/notifications/alarm-notify.sh.in
Owners: @Ferroin, @thiagoftsm, @MrZammler

disable CPU full pressure at the system level (#14991)
  collectors/proc.plugin/proc_pressure.c
Owners: @thiagoftsm

Update health/notifications/alarm-notify.sh.in
  health/notifications/alarm-notify.sh.in
Owners: @Ferroin, @thiagoftsm, @MrZammler

Fix kickstart.sh to work with OpenWRT wget
  packaging/installer/kickstart.sh
  packaging/makeself/install-or-update.sh
Owners: @Ferroin, @tkatsoulas

add capa
  aclk/aclk_capas.c
Owners: @stelfrag, @underhood

update msg_name_to_protomsg
  aclk/schema-wrappers/proto_2_json.cc
Owners: @stelfrag, @underhood

feat: add OpsGenie alert levels to payload (#14992)
  health/notifications/alarm-notify.sh.in
Owners: @Ferroin, @thiagoftsm, @MrZammler

final updates after testing
  collectors/python.d.plugin/postfix/postfix_j.chart.py
  collectors/python.d.plugin/postfix/postfix_j.conf
  collectors/python.d.plugin/postfix/postfix_log.chart.py
  collectors/python.d.plugin/postfix/postfix_log.conf
Owners: @ilyam8

Update Makefile.inc
  collectors/python.d.plugin/postfix/Makefile.inc
Owners: @ilyam8

Update netdata-security.md
  docs/netdata-security.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update netdata-security.md (#14995)
  docs/netdata-security.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update postfix_j.chart.py
  collectors/python.d.plugin/postfix/postfix_j.chart.py
Owners: @ilyam8

Set api v2 version 2 (#14954)
  aclk/aclk_capas.c
Owners: @stelfrag, @underhood

Remove lighttpd2 from docs
  collectors/COLLECTORS.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Add Cancel Pending Request Message (#14953)
  CMakeLists.txt
  Makefile.am
  aclk/aclk_capas.c
  aclk/aclk_query.c
  aclk/aclk_query.h
  aclk/aclk_rx_msgs.c
  aclk/schema-wrappers/agent_cmds.cc
  aclk/schema-wrappers/agent_cmds.h
  aclk/schema-wrappers/proto_2_json.cc
  aclk/schema-wrappers/schema_wrappers.h
Owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood

Remove lighttpd2 from docs (#14997)
  collectors/COLLECTORS.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Load/Store ML models (#14981)
  database/sqlite/sqlite_aclk.c
  database/sqlite/sqlite_aclk_alert.c
  database/sqlite/sqlite_functions.c
  database/sqlite/sqlite_functions.h
  database/sqlite/sqlite_health.c
  database/sqlite/sqlite_metadata.c
  database/sqlite/sqlite_metadata.h
  ml/Config.cc
  ml/ml-dummy.c
  ml/ml-private.h
  ml/ml.cc
  ml/ml.h
Owners: @thiagoftsm, @vkalintiris, @andrewm4894

Fix cmake
  CMakeLists.txt
Owners: @Ferroin

Fix cmake errors (#14998)
  CMakeLists.txt
Owners: @Ferroin

Update postfix_j.chart.py
  collectors/python.d.plugin/postfix/postfix_j.chart.py
Owners: @ilyam8

Address log issue (#14958)
  libnetdata/log/log.c
Owners: @thiagoftsm, @vkalintiris

add support for monitoring thp, ballooning, zswap, ksm cow
  collectors/all.h
  collectors/proc.plugin/proc_vmstat.c
Owners: @thiagoftsm
