Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @stelfrag, @underhood, @vlvkobal, @thiagoftsm, @ilyam8, @simonnagl, @vkalintiris, @DShreve2, @andrewm4894, @jacekkolasa, @netdatabot

remove unneeded noise
  Makefile.am
Owners: @Ferroin

minor typo in the uninstall command
  packaging/installer/UNINSTALL.md
Owners: @DShreve2

fix publish parser (#7)
  src/mqtt_ng.c
Owners: @Ferroin

minor typo in the uninstall command (#14002)
  packaging/installer/UNINSTALL.md
Owners: @DShreve2

change image labels to app.netdata.cloud
  health/notifications/alarm-notify.sh.in
Owners: @Ferroin, @thiagoftsm

[ci skip] Update changelog and version for nightly build: v1.36.0-362-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin

Add languagetool and markdownlint to CI.
  .github/workflows/review.yml
  .mdl-style.rb
Owners: @Ferroin

Remove openSUSE Leap 15.3 from CI and support.
  .github/data/distros.yml
  packaging/PLATFORM_SUPPORT.md
Owners: @Ferroin, @DShreve2

fix line lens
  docs/store/change-metrics-storage.md
Owners: @DShreve2

Update change-metrics-storage.md
  docs/store/change-metrics-storage.md
Owners: @DShreve2

use calculator app instead of spreadsheet (#13981)
  docs/store/change-metrics-storage.md
Owners: @DShreve2

Update freebsd.md
  packaging/installer/methods/freebsd.md
Owners: @DShreve2

Update freebsd.md
  packaging/installer/methods/freebsd.md
Owners: @DShreve2

[ci skip] Update changelog and version for nightly build: v1.36.0-364-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin

silence missleading error
  aclk/aclk_query.c
  aclk/aclk_query.h
  aclk/aclk_stats.c
Owners: @stelfrag, @underhood

allow statsd tags to modify chart metadata on the fly
  collectors/statsd.plugin/statsd.c
  database/rrdset.c
Owners: @vlvkobal, @thiagoftsm, @vkalintiris

Update documentantion
  collectors/REFERENCE.md
Owners: @DShreve2

Rm checks plugin
  CMakeLists.txt
  Makefile.am
  collectors/Makefile.am
  collectors/checks.plugin/Makefile.am
  collectors/checks.plugin/README.md
  collectors/checks.plugin/plugin_checks.c
  configure.ac
  daemon/static_threads.c
Owners: @Ferroin, @DShreve2, @vlvkobal, @thiagoftsm, @vkalintiris

Call rrdset_next from within rrdset_done
  collectors/plugins.d/pluginsd_parser.c
  database/rrd.h
  database/rrdset.c
Owners: @vlvkobal, @thiagoftsm, @vkalintiris

Schedule rrdset_next when we have completed at least one collection.
  database/rrdset.c
Owners: @thiagoftsm, @vkalintiris

Fix db engine unit test.
  daemon/unit_test.c
Owners: @thiagoftsm, @vkalintiris

Mark chart creation clauses as unlikely.
  collectors/cgroups.plugin/sys_fs_cgroup.c
Owners: @vlvkobal

Remove stale reference to checks.plugin
  collectors/COLLECTORS.md
Owners: @DShreve2

Fix RRD unit test
  daemon/unit_test.c
Owners: @thiagoftsm, @vkalintiris

Add missing brace to fix FreeBSD plugin.
  collectors/freebsd.plugin/freebsd_getifaddrs.c
Owners: @vlvkobal, @thiagoftsm

Change relative links to absolute based on @site
  docs/get-started.mdx
  docs/guides/export/export-netdata-metrics-graphite.md
  docs/guides/monitor/lamp-stack.md
  docs/guides/monitor/pi-hole-raspberry-pi.md
  docs/guides/step-by-step/step-00.md
  exporting/prometheus/README.md
  packaging/installer/README.md
  packaging/installer/methods/kickstart.md
Owners: @DShreve2

Change relative links to absolute for learn components (#14015)
  docs/get-started.mdx
  docs/guides/export/export-netdata-metrics-graphite.md
  docs/guides/monitor/lamp-stack.md
  docs/guides/monitor/pi-hole-raspberry-pi.md
  docs/guides/step-by-step/step-00.md
  exporting/prometheus/README.md
  packaging/installer/README.md
  packaging/installer/methods/kickstart.md
Owners: @DShreve2

allow statsd tags to modify chart metadata on the fly (#14014)
  collectors/statsd.plugin/statsd.c
  database/rrdset.c
Owners: @vlvkobal, @thiagoftsm, @vkalintiris

minor - silence misleading error (#14013)
  aclk/aclk_query.c
  aclk/aclk_query.h
  aclk/aclk_stats.c
Owners: @stelfrag, @underhood

Fix nightly build uploads.
  .github/workflows/build.yml
Owners: @Ferroin

Fix nightly build uploads. (#14017)
  .github/workflows/build.yml
Owners: @Ferroin

[ci skip] Update changelog and version for nightly build: v1.36.0-369-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin

Fix typo in GHA workflow.
  .github/workflows/build.yml
Owners: @Ferroin

[ci skip] Update changelog and version for nightly build: v1.36.0-371-nightly.
  packaging/version
Owners: @netdatabot, @Ferroin

Update change-metrics-storage.md
  docs/store/change-metrics-storage.md
Owners: @DShreve2

add clickhouse and third party install instruction
  collectors/COLLECTORS.md
Owners: @DShreve2

clean up
  collectors/COLLECTORS.md
Owners: @DShreve2

clean up
  collectors/COLLECTORS.md
Owners: @DShreve2

streaming compression, query planner and replication fixes
  collectors/plugins.d/pluginsd_parser.c
  collectors/plugins.d/pluginsd_parser.h
  daemon/global_statistics.c
  daemon/main.c
  daemon/service.c
  database/rrd.h
  database/rrdcalc.c
  database/rrdcontext.c
  database/rrddim.c
  database/rrdhost.c
  database/rrdset.c
  database/sqlite/sqlite_functions.c
  database/sqlite/sqlite_functions.h
  health/health.c
  libnetdata/arrayalloc/arrayalloc.c
  libnetdata/dictionary/dictionary.c
  libnetdata/dictionary/dictionary.h
  libnetdata/ebpf/ebpf.c
  parser/parser.c
  parser/parser.h
  streaming/compression.c
  streaming/receiver.c
  streaming/replication.c
  streaming/rrdpush.c
  streaming/rrdpush.h
  streaming/sender.c
  web/api/queries/query.c
  web/api/web_api_v1.c
Owners: @vlvkobal, @thiagoftsm, @vkalintiris, @Ferroin

remove journal v2 stats from global statistics
  daemon/global_statistics.c
Owners: @thiagoftsm, @vkalintiris

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.travis/ @Ferroin
.github/ @Ferroin
aclk/ @stelfrag @underhood
build/ @Ferroin
contrib/debian @Ferroin
collectors/ @vlvkobal
collectors/ebpf.plugin/ @thiagoftsm @vlvkobal
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @vlvkobal @thiagoftsm
collectors/macos.plugin/ @vlvkobal @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @thiagoftsm
exporting/  @vlvkobal @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @DShreve2
health/ @thiagoftsm @vlvkobal @vkalintiris
health/health.d/ @thiagoftsm @vlvkobal
health/notifications/ @Ferroin @thiagoftsm
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin
registry/ @jacekkolasa
streaming/ @thiagoftsm @vlvkobal
system/ @Ferroin
tests/ @Ferroin @vkalintiris
web/ @thiagoftsm @vlvkobal @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin
*.md @DShreve2
Dockerfile* @Ferroin

# Ownership of specific files
.gitignore @Ferroin @vkalintiris
.travis.yml @Ferroin
.lgtm.yml @Ferroin
.eslintrc @Ferroin
.eslintignore @Ferroin
.csslintrc @Ferroin
.codeclimate.yml @Ferroin
.codacy.yml @Ferroin
.yamllint.yml @Ferroin
netdata.spec.in @Ferroin
netdata-installer.sh @Ferroin
packaging/version @netdatabot @Ferroin

LICENSE.md @DShreve2 @Ferroin @vkalintiris
CHANGELOG.md @netdatabot @Ferroin
