Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas

debugfs_collector: Fix typo
  collectors/all.h
  collectors/debugfs.plugin/debugfs_extfrag_index.c
Owners: @thiagoftsm

debugfs_collector: Modify context avoiding wrong group on cloud and update metrics
  collectors/debugfs.plugin/debugfs_extfrag_index.c
  collectors/debugfs.plugin/metrics.csv
Owners: @thiagoftsm

debugfs_collector: Add new metrics
  collectors/debugfs.plugin/metrics.csv
Owners: @thiagoftsm

Upgrade sqlite to 3.41.2
  database/sqlite/sqlite3.h
Owners: @thiagoftsm, @vkalintiris

Rollback ML transaction on failure. (#15013)
  ml/ml.cc
Owners: @andrewm4894, @vkalintiris

Update docs/guides/troubleshoot/troubleshooting-agent-with-cloud-connection.md
  docs/guides/troubleshoot/troubleshooting-agent-with-cloud-connection.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update troubleshooting-agent-with-cloud-connection.md (#15029)
  docs/guides/troubleshoot/troubleshooting-agent-with-cloud-connection.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Use correct kickstart.md link in openwrt.md
  packaging/installer/methods/openwrt.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

debugfs_collector: Fix wrong priorities that were not organizing charts properly
  collectors/debugfs.plugin/debugfs_zswap.c
Owners: @thiagoftsm

debugfs_collector: Add documentation from https://elixir.bootlin.com/linux/latest/source/mm/zswap.c
  web/gui/dashboard_info.js
Owners: @jacekkolasa

Update README.md
  database/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update database/README.md
  database/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Slight wording fix on the database readme (#15034)
  database/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

debugfs_collector: Add documentation
  collectors/debugfs.plugin/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

new_ebpf_option: Add message to debug configuration loaded
  libnetdata/ebpf/ebpf.c
Owners: @thiagoftsm, @vkalintiris

new_ebpf_option: Add missing comments to help developer to understand collector code.
  collectors/ebpf.plugin/ebpf_process.c
Owners: @thiagoftsm

new_ebpf_option: Modify filesystem thread to use hash tables per core or not. It also renames a function and update comments to simplify developers read.
  collectors/ebpf.plugin/ebpf_filesystem.c
Owners: @thiagoftsm

new_ebpf_option: Rename function ebpf_update_legacy_map_sizes to ebpf_update_legacy_map and modify algorithm to change map_type.
  libnetdata/ebpf/ebpf.c
Owners: @thiagoftsm, @vkalintiris

new_ebpf_option: Add new option for configuration file and add common description to keep paterns
  collectors/ebpf.plugin/ebpf.d/cachestat.conf
  collectors/ebpf.plugin/ebpf.d/dcstat.conf
  collectors/ebpf.plugin/ebpf.d/fd.conf
  collectors/ebpf.plugin/ebpf.d/network.conf
  collectors/ebpf.plugin/ebpf.d/process.conf
  collectors/ebpf.plugin/ebpf.d/shm.conf
  collectors/ebpf.plugin/ebpf.d/swap.conf
  collectors/ebpf.plugin/ebpf.d/sync.conf
  collectors/ebpf.plugin/ebpf.d/vfs.conf
Owners: @thiagoftsm

new_ebpf_option: Add new variable and initialize it to isolate module tables instead to have only one with all values
  collectors/ebpf.plugin/ebpf.c
  libnetdata/ebpf/ebpf.h
Owners: @thiagoftsm, @vkalintiris

new_ebpf_option: Modify dcstat thread to use hash tables per core or not. It also renames a function and update comments to simplify developers read.
  collectors/ebpf.plugin/ebpf_dcstat.c
Owners: @thiagoftsm

new_ebpf_option: Modify disk thread to use hash tables per core or not.
  collectors/ebpf.plugin/ebpf_disk.c
  collectors/ebpf.plugin/ebpf_disk.h
Owners: @thiagoftsm

new_ebpf_option: Modify helper used to update variable using thread configuration file.
  libnetdata/ebpf/ebpf.c
Owners: @thiagoftsm, @vkalintiris

new_ebpf_option: Modify mdflush thread to use hash tables per core or not. It also renames a function and update comments to simplify developers read.
  collectors/ebpf.plugin/ebpf_mdflush.c
Owners: @thiagoftsm

new_ebpf_option: Add a test when collector is parsing config file to be sure we are not going to crash on old kernels
  libnetdata/ebpf/ebpf.c
Owners: @thiagoftsm, @vkalintiris

new_ebpf_option: Add new variable to control the way maps are loaded
  libnetdata/ebpf/ebpf.h
Owners: @thiagoftsm, @vkalintiris

new_ebpf_option: Modify thread configuration file to simplify user life
  collectors/ebpf.plugin/ebpf.d/cachestat.conf
  collectors/ebpf.plugin/ebpf.d/dcstat.conf
  collectors/ebpf.plugin/ebpf.d/fd.conf
  collectors/ebpf.plugin/ebpf.d/network.conf
  collectors/ebpf.plugin/ebpf.d/process.conf
  collectors/ebpf.plugin/ebpf.d/shm.conf
  collectors/ebpf.plugin/ebpf.d/swap.conf
  collectors/ebpf.plugin/ebpf.d/sync.conf
  collectors/ebpf.plugin/ebpf.d/vfs.conf
Owners: @thiagoftsm

new_ebpf_option: Set default value for new option map_per_core and add helper to modify it.
  collectors/ebpf.plugin/ebpf.c
Owners: @thiagoftsm

new_ebpf_option: Adjust new functions from previous commits. Add new function to set map types; Modify the first thread to call new functions.
  collectors/ebpf.plugin/ebpf_cachestat.c
  libnetdata/ebpf/ebpf.c
  libnetdata/ebpf/ebpf.h
Owners: @thiagoftsm, @vkalintiris

new_ebpf_option: Add new option for main configuration file
  collectors/ebpf.plugin/ebpf.d.conf
  libnetdata/ebpf/ebpf.h
Owners: @thiagoftsm, @vkalintiris

new_ebpf_option: Modify file descriptor thread to use hash tables per core or not. It also renames a function and update comments to simplify developers read.
  collectors/ebpf.plugin/ebpf_fd.c
Owners: @thiagoftsm

new_ebpf_option: Modify hardirq thread to use hash tables per core or not. It also renames a function and update comments to simplify developers read.
  collectors/ebpf.plugin/ebpf_hardirq.c
Owners: @thiagoftsm

new_ebpf_option: Modify process/apps to support hash tables per core.
  collectors/ebpf.plugin/ebpf_apps.c
  collectors/ebpf.plugin/ebpf_apps.h
  collectors/ebpf.plugin/ebpf_process.c
Owners: @thiagoftsm

new_ebpf_option: Add new variable that will be used to control map type
  libnetdata/ebpf/ebpf.h
Owners: @thiagoftsm, @vkalintiris

new_ebpf_option: Move lines from wrong place to proper defined section.
  collectors/ebpf.plugin/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

new_ebpf_option: Fix lock issue present in different three threads, but they were visible only when all threads were enabled.
  collectors/ebpf.plugin/ebpf_fd.c
  collectors/ebpf.plugin/ebpf_mdflush.c
  collectors/ebpf.plugin/ebpf_vfs.c
Owners: @thiagoftsm

new_ebpf_option: Add new statistic variables to display for users how maps are loaded.
  libnetdata/ebpf/ebpf.c
  libnetdata/ebpf/ebpf.h
Owners: @thiagoftsm, @vkalintiris

Update collectors/ebpf.plugin/README.md
  collectors/ebpf.plugin/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

new_ebpf_option: Update documentation adding more accuratate information about memory usage.
  collectors/ebpf.plugin/README.md
  collectors/ebpf.plugin/ebpf.d/cachestat.conf
  collectors/ebpf.plugin/ebpf.d/dcstat.conf
  collectors/ebpf.plugin/ebpf.d/fd.conf
  collectors/ebpf.plugin/ebpf.d/network.conf
  collectors/ebpf.plugin/ebpf.d/process.conf
  collectors/ebpf.plugin/ebpf.d/shm.conf
  collectors/ebpf.plugin/ebpf.d/swap.conf
  collectors/ebpf.plugin/ebpf.d/sync.conf
  collectors/ebpf.plugin/ebpf.d/vfs.conf
Owners: @tkatsoulas, @andrewm4894, @cakrit, @thiagoftsm

new_ebpf_option: Fix wrong argument given after copy and paste.
  collectors/ebpf.plugin/ebpf_dcstat.c
  collectors/ebpf.plugin/ebpf_fd.c
  collectors/ebpf.plugin/ebpf_shm.c
Owners: @thiagoftsm
