Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

set caps in deb
  contrib/debian/netdata.postinst
  contrib/debian/rules
Owners: @Ferroin, @tkatsoulas

set caps in rmp
  netdata.spec.in
Owners: @Ferroin, @tkatsoulas

Fix incorrect response format
  web/api/netdata-swagger.yaml
Owners: @thiagoftsm, @vkalintiris

Update netdata-swagger.json
  web/api/netdata-swagger.json
Owners: @thiagoftsm, @vkalintiris

debugfs_collector: Remove test due issues when debugfs is not mounted
  netdata-installer.sh
Owners: @Ferroin, @tkatsoulas

postpone queue removed
  health/health.c
Owners: @thiagoftsm, @vkalintiris, @MrZammler

debugging
  health/health.c
Owners: @thiagoftsm, @vkalintiris, @MrZammler

update readme
  collectors/debugfs.plugin/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

update metrics
  collectors/debugfs.plugin/metrics.csv
Owners: @thiagoftsm

update readme header
  collectors/debugfs.plugin/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Fix handling of permissions in static installs. (#15042)
  packaging/makeself/install-or-update.sh
Owners: @Ferroin, @tkatsoulas

Rollback ML transaction on failure. (#15013)
  ml/ml.cc
Owners: @andrewm4894, @vkalintiris

Silence dimensions with noisy ML models (#15011)
  ml/Config.cc
  ml/ad_charts.cc
  ml/ml-private.h
  ml/ml.cc
Owners: @andrewm4894, @vkalintiris

Adjust buffers to prevent overflow (#15025)
  collectors/cgroups.plugin/sys_fs_cgroup.c
  collectors/proc.plugin/proc_diskstats.c
  database/rrdset.c
Owners: @thiagoftsm, @vkalintiris

Small update ml defaults (#15046)
  ml/Config.cc
  ml/README.md
Owners: @andrewm4894, @vkalintiris, @tkatsoulas, @cakrit

Commented out default `role_recipients_*` values
  health/notifications/health_alarm_notify.conf
Owners: @Ferroin, @thiagoftsm, @MrZammler

temp fix for unset HAVE_CAPABILITY
  collectors/debugfs.plugin/debugfs_plugin.c
Owners: @thiagoftsm

reduce time to clean for checks
  database/sqlite/sqlite_metadata.c
  health/health.c
  health/health_log.c
Owners: @thiagoftsm, @vkalintiris, @MrZammler

debugfs_collector1 Add buildinfo
  daemon/buildinfo.c
Owners: @thiagoftsm, @vkalintiris

define error
  database/sqlite/sqlite_metadata.c
Owners: @thiagoftsm, @vkalintiris

Update collectors/debugfs.plugin/README.md
  collectors/debugfs.plugin/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Comment out default `role_recipients_*` values (#15047)
  health/notifications/health_alarm_notify.conf
Owners: @Ferroin, @thiagoftsm, @MrZammler

debugfs_collector1 Add missing declaration inside configure.ac
  configure.ac
  daemon/buildinfo.c
Owners: @Ferroin, @thiagoftsm, @vkalintiris

debugfs_collector1 change plugin name to lowercase
  daemon/buildinfo.c
Owners: @thiagoftsm, @vkalintiris

init divisor and convertv
  collectors/debugfs.plugin/debugfs_zswap.c
Owners: @thiagoftsm

postpone for more health loops
  database/sqlite/sqlite_aclk_alert.c
  health/health.c
Owners: @thiagoftsm, @vkalintiris, @MrZammler

Apply suggestions from code review
  collectors/debugfs.plugin/README.md
  netdata-installer.sh
Owners: @tkatsoulas, @andrewm4894, @cakrit, @Ferroin

fix typos in metrics.csv
  collectors/debugfs.plugin/metrics.csv
Owners: @thiagoftsm

fix debugfs setcap in installer
  netdata-installer.sh
Owners: @Ferroin, @tkatsoulas

Comment out default `role_recipients_*` values (#15047)
  health/notifications/health_alarm_notify.conf
Owners: @Ferroin, @thiagoftsm, @MrZammler

Debugfs collector (#15017)
  .github/labeler.yml
  .gitignore
  CMakeLists.txt
  Makefile.am
  collectors/Makefile.am
  collectors/all.h
  collectors/apps.plugin/apps_groups.conf
  collectors/debugfs.plugin/Makefile.am
  collectors/debugfs.plugin/README.md
  collectors/debugfs.plugin/debugfs_extfrag.c
  collectors/debugfs.plugin/debugfs_plugin.c
  collectors/debugfs.plugin/debugfs_plugin.h
  collectors/debugfs.plugin/debugfs_zswap.c
  collectors/debugfs.plugin/metrics.csv
  collectors/ebpf.plugin/ebpf_swap.c
  configure.ac
  contrib/debian/netdata.postinst
  contrib/debian/rules
  daemon/buildinfo.c
  netdata-installer.sh
  netdata.spec.in
  packaging/docker/Dockerfile
  packaging/makeself/install-or-update.sh
  web/gui/dashboard_info.js
Owners: @Ferroin, @tkatsoulas, @vkalintiris, @thiagoftsm, @andrewm4894, @cakrit, @jacekkolasa

fix(debugfs/zswap): don't collect metrics if Zswap is disabled
  collectors/debugfs.plugin/debugfs_zswap.c
Owners: @thiagoftsm

get zswap status from /sys/module/zswap/parameters/enabled
  collectors/debugfs.plugin/debugfs_zswap.c
Owners: @thiagoftsm

fix memleak
  aclk/aclk_tx_msgs.c
Owners: @stelfrag, @underhood

minor simplify
  aclk/aclk_tx_msgs.c
Owners: @stelfrag, @underhood

simplify zswap_collect_data
  collectors/debugfs.plugin/debugfs_zswap.c
Owners: @thiagoftsm

case value when passing to read_single_number_file
  collectors/debugfs.plugin/debugfs_zswap.c
Owners: @thiagoftsm

fix(debugfs/zswap): don't collect metrics if Zswap is disabled (#15054)
  collectors/debugfs.plugin/debugfs_zswap.c
Owners: @thiagoftsm

Fix ACLK memleak (#15055)
  aclk/aclk_tx_msgs.c
Owners: @stelfrag, @underhood

[ci skip] Update changelog and version for nightly build: v1.39.0-30-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas
