Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

Use bundled crontab for scheduling updates.
  packaging/installer/netdata-updater.sh
Owners: @Ferroin, @tkatsoulas

Fix missing Amazon Linux support in updater code.
  packaging/installer/netdata-updater.sh
Owners: @Ferroin, @tkatsoulas

Fix another merge issue.
  packaging/installer/kickstart.sh
Owners: @Ferroin, @tkatsoulas

Fix botched merge.
  packaging/installer/kickstart.sh
Owners: @Ferroin, @tkatsoulas

second level header fix
  docs/netdata-security.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Add the makeself scripts to the shellcheck CI exclude list.
  .github/workflows/review.yml
Owners: @Ferroin, @tkatsoulas

Clean up install method list in bug report template. (#14819)
  .github/ISSUE_TEMPLATE/BUG_REPORT.yml
Owners: @Ferroin, @tkatsoulas

first batch of adding descriptions to the documentation, and fixing inconsistencies inside the files
  claim/README.md
  docs/cloud/manage/invite-your-team.md
  docs/cloud/manage/plans.md
  docs/cloud/manage/sign-in.md
  docs/cloud/manage/view-plan-billing.md
  docs/cloud/spaces.md
  docs/cloud/visualize/interact-new-charts.md
  docs/cloud/visualize/node-filter.md
  docs/cloud/visualize/overview.md
  docs/cloud/war-rooms.md
  docs/dashboard/visualization-date-and-time-controls.md
  docs/getting-started/introduction.md
  docs/guides/troubleshoot/troubleshooting-agent-with-cloud-connection.md
  docs/monitor/view-active-alarms.md
  docs/quickstart/infrastructure.md
  docs/store/distributed-data-architecture.md
  packaging/installer/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

configure extent cache size (#14821)
  daemon/main.c
  database/engine/pagecache.c
  database/engine/rrdengineapi.c
  database/engine/rrdengineapi.h
Owners: @thiagoftsm, @vkalintiris

workers can now execute up to 10 jobs in a run, boosting query prep and extent reads
  database/engine/rrdengine.c
Owners: @thiagoftsm, @vkalintiris

fix dispatched and executing counters
  database/engine/rrdengine.c
Owners: @thiagoftsm, @vkalintiris

boost to the max
  database/engine/rrdengine.c
Owners: @thiagoftsm, @vkalintiris

increase libuv worker threads
  daemon/main.c
  database/rrd.h
Owners: @thiagoftsm, @vkalintiris

query prep always get more prio than extent reads; stop processing in batch when dbengine is queue is critical
  database/engine/rrdengine.c
Owners: @thiagoftsm, @vkalintiris

fix accounting of query prep
  database/engine/pagecache.c
  database/engine/pagecache.h
  database/engine/pdc.c
  database/engine/rrdengine.c
Owners: @thiagoftsm, @vkalintiris

inlining of time-grouping functions, to speed up queries with billions of points
  web/api/queries/average/average.c
  web/api/queries/average/average.h
  web/api/queries/countif/countif.c
  web/api/queries/countif/countif.h
  web/api/queries/des/des.c
  web/api/queries/des/des.h
  web/api/queries/incremental_sum/incremental_sum.c
  web/api/queries/incremental_sum/incremental_sum.h
  web/api/queries/max/max.c
  web/api/queries/max/max.h
  web/api/queries/median/median.c
  web/api/queries/median/median.h
  web/api/queries/min/min.c
  web/api/queries/min/min.h
  web/api/queries/percentile/percentile.c
  web/api/queries/percentile/percentile.h
  web/api/queries/query.c
  web/api/queries/query.h
  web/api/queries/rrdr.h
  web/api/queries/ses/ses.c
  web/api/queries/ses/ses.h
  web/api/queries/stddev/stddev.c
  web/api/queries/stddev/stddev.h
  web/api/queries/sum/sum.c
  web/api/queries/sum/sum.h
  web/api/queries/trimmed_mean/trimmed_mean.c
  web/api/queries/trimmed_mean/trimmed_mean.h
Owners: @thiagoftsm, @vkalintiris

make switching based on a local const variable
  web/api/queries/query.c
Owners: @thiagoftsm, @vkalintiris

print one pending contexts loading message per iteration
  database/sqlite/sqlite_aclk_node.c
Owners: @thiagoftsm, @vkalintiris

[ci skip] Update changelog and version for nightly build: v1.38.0-314-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

Delete installation instructions specific to FreeNAS
  packaging/installer/methods/freenas.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

change GUID_LEN to UUID_STR_LEN
  database/sqlite/sqlite_aclk_alert.c
Owners: @thiagoftsm, @vkalintiris

update health/notifications/README.md
  health/notifications/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Alerta notification method documentation update
  health/notifications/README.md
  health/notifications/alerta/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Delete installation instructions specific to FreeNAS (#14826)
  packaging/installer/methods/freenas.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

docs: add opsgenie integration docs
  docs/cloud/alerts-notifications/add-opsgenie-notification-configuration.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Add Amazon Linux 2023 to CI, packaging, and platform support. (#14771)
  .github/data/distros.yml
  .github/scripts/pkg-test.sh
  netdata.spec.in
  packaging/PLATFORM_SUPPORT.md
Owners: @Ferroin, @tkatsoulas, @andrewm4894, @cakrit

add some third party collectors
  collectors/COLLECTORS.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

try to detect bind mounts
  collectors/diskspace.plugin/README.md
  collectors/diskspace.plugin/plugin_diskspace.c
  collectors/proc.plugin/proc_self_mountinfo.c
Owners: @tkatsoulas, @andrewm4894, @cakrit, @thiagoftsm

Remove old logic for handling of legacy stock config files.
  Makefile.am
  configs.signatures
  netdata-installer.sh
  packaging/makeself/install-or-update.sh
  packaging/makeself/jobs/99-makeself.install.sh
Owners: @Ferroin, @tkatsoulas

Update netdata-security.md
  docs/netdata-security.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update change-metrics-storage.md
  docs/store/change-metrics-storage.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update change-metrics-storage.md (#14834)
  docs/store/change-metrics-storage.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update change-metrics-storage.md
  docs/store/change-metrics-storage.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update database engine readme
  database/engine/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update database engine readme (#14836)
  database/engine/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update change-metrics-storage.md (#14835)
  docs/store/change-metrics-storage.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update deployment-strategies.md
  docs/category-overview-pages/deployment-strategies.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update deployment-strategies.md (#14837)
  docs/category-overview-pages/deployment-strategies.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update enable-notifications.md
  docs/monitor/enable-notifications.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update enable-notifications.md (#14838)
  docs/monitor/enable-notifications.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas
