Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas

ignore untracked file in submodule h2o
  .gitmodules
Owners: @Ferroin

Revert "try deb fix"
  contrib/debian/rules
Owners: @Ferroin, @tkatsoulas

clear warning
  httpd/h2o_utils.h
Owners: @Ferroin

use UUID_STR_LEN
  httpd/http_server.c
Owners: @Ferroin

use http coodes from httpd_defs.h
  httpd/http_server.c
Owners: @Ferroin

move HTTP related defines to libnetdata
  CMakeLists.txt
  Makefile.am
  libnetdata/http/http_defs.h
  libnetdata/libnetdata.h
  web/server/web_client.h
Owners: @Ferroin, @tkatsoulas, @thiagoftsm, @vkalintiris

add missing stuff from merge
  daemon/main.c
  daemon/main.h
  httpd/http_server.c
Owners: @thiagoftsm, @vkalintiris, @Ferroin

usel TLS on newer SSL
  httpd/http_server.c
Owners: @Ferroin

try ipv6 if cant parse as ipv4
  httpd/http_server.c
Owners: @Ferroin

remove some warnings
  httpd/http_server.c
Owners: @Ferroin

include only when built
  daemon/common.h
Owners: @thiagoftsm, @vkalintiris

fix rebase mistake
  web/server/web_client.h
Owners: @thiagoftsm, @vkalintiris

fix build error
  Makefile.am
Owners: @Ferroin, @tkatsoulas

sitch to evloop
  httpd/http_server.c
Owners: @Ferroin

codacy fix - reduce scope of rc
  httpd/http_server.c
Owners: @Ferroin

Revert "h2o a shallow copy by default"
  .gitmodules
Owners: @Ferroin

minor - add log
  httpd/http_server.c
Owners: @Ferroin

internal evloop
  Makefile.am
  configure.ac
Owners: @Ferroin, @tkatsoulas

reduce amount of warnning produced by h2o compilation
  Makefile.am
Owners: @Ferroin, @tkatsoulas

common file for defs needed by streaming and httpd
  CMakeLists.txt
  Makefile.am
  httpd/http_server.c
  streaming/common.h
Owners: @Ferroin, @tkatsoulas, @thiagoftsm

parse all http headers
  aclk/https_client.c
  aclk/https_client.h
Owners: @stelfrag, @underhood

make HTTP parser usable by external alien forces
  aclk/https_client.c
  aclk/https_client.h
Owners: @stelfrag, @underhood

add 101 to http_defs
  libnetdata/http/http_defs.h
Owners: @thiagoftsm, @vkalintiris

minor - reduce strcmps
  aclk/https_client.c
Owners: @stelfrag, @underhood

fixup prelude
  streaming/sender.c
Owners: @thiagoftsm

decl out of switch labels
  httpd/http_server.c
Owners: @Ferroin

working rrdpush, added UPGRADE prelude
  streaming/sender.c
Owners: @thiagoftsm

allow mode where parser doesn't wait for content
  aclk/https_client.c
  aclk/https_client.h
Owners: @stelfrag, @underhood

rrdpush ALPN
  streaming/sender.c
Owners: @thiagoftsm

rrdpush IO
  collectors/plugins.d/pluginsd_parser.c
  httpd/http_server.c
  httpd/http_server.h
  libnetdata/parser/parser.h
  streaming/receiver.c
  streaming/rrdpush.c
  streaming/rrdpush.h
  web/server/web_client.c
  web/server/web_client.h
Owners: @thiagoftsm, @Ferroin, @vkalintiris

upgrade to streaming
  httpd/http_server.c
Owners: @Ferroin

build https_client regardless of ACLK
  Makefile.am
  aclk/aclk_util.c
  aclk/aclk_util.h
Owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood

Handle conffiles for DEB packages explicitly instead of automatically. (#14703)
  contrib/debian/conffiles
  contrib/debian/rules
Owners: @Ferroin, @tkatsoulas

eBPF bug fixes (#14869)
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf_hardirq.c
  collectors/ebpf.plugin/ebpf_hardirq.h
  collectors/ebpf.plugin/ebpf_oomkill.c
  libnetdata/ebpf/ebpf.c
  netdata-installer.sh
  packaging/ebpf-co-re.checksums
  packaging/ebpf-co-re.version
  packaging/ebpf.checksums
  packaging/ebpf.version
Owners: @thiagoftsm, @vkalintiris, @Ferroin, @tkatsoulas

/api/v2/weights now follows the same principles for describing responses as /api/v2/data
  web/api/queries/weights.c
Owners: @thiagoftsm, @vkalintiris

Ensure required directories actually exist in static archive.
  packaging/makeself/jobs/99-makeself.install.sh
Owners: @Ferroin, @tkatsoulas

/api/v2 part 9 (#14888)
  web/api/queries/weights.c
  web/api/queries/weights.h
  web/api/web_api.c
Owners: @thiagoftsm, @vkalintiris

connlist + write check
  httpd/connlist.c
  httpd/connlist.h
  httpd/http_server.c
  httpd/http_server.h
  httpd/streaming.h
Owners: @Ferroin

Add example configuration to w1sensor collector (#14886)
  collectors/python.d.plugin/w1sensor/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Add error_stats metrics (per device) to BTRFS section
  collectors/all.h
  collectors/proc.plugin/sys_fs_btrfs.c
Owners: @thiagoftsm
