Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

Revert #14178
  packaging/docker/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Fix broken links (#14634)
  docs/cloud/alerts-notifications/add-webhook-notification-configuration.md
  docs/cloud/insights/metric-correlations.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

make ML run reentrant
  ml/nml.cc
Owners: @andrewm4894, @vkalintiris

make ML rrdr query synchronous
  ml/ad_charts.cc
Owners: @andrewm4894, @vkalintiris

minor clean and shellcheck compliance
  packaging/makeself/functions.sh
  packaging/makeself/jobs/50-libnetfilter_acct-1.0.3.install.sh
Owners: @Ferroin, @tkatsoulas

[ci skip] Update changelog and version for nightly build: v1.38.0-180-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

optimize replication memory allocation of replication_sort_entry
  streaming/replication.c
Owners: @thiagoftsm

Assorted improvements to OpenRC support. (#14620)
  system/Makefile.am
  system/install-service.sh.in
  system/openrc/conf.d/netdata.in
  system/openrc/init.d/netdata.in
Owners: @Ferroin, @tkatsoulas

Link statically libnetfilter_acct into our static builds (#14516)
  configure.ac
  packaging/makeself/functions.sh
  packaging/makeself/jobs/50-libnetfilter_acct-1.0.3.install.sh
  packaging/makeself/jobs/70-netdata-git.install.sh
Owners: @Ferroin, @tkatsoulas

Fix conditional in repoconfig spec file.
  packaging/repoconfig/netdata-repo.spec
Owners: @Ferroin, @tkatsoulas

Add Amazon Linux 2 to CI and platform support.
  .github/data/distros.yml
  packaging/PLATFORM_SUPPORT.md
  packaging/repoconfig/netdata-edge.repo.al
  packaging/repoconfig/netdata-repo.spec
  packaging/repoconfig/netdata.repo.al
Owners: @Ferroin, @tkatsoulas, @andrewm4894, @cakrit

Fix package testing script.
  .github/scripts/pkg-test.sh
Owners: @Ferroin, @tkatsoulas

Add support to kickstart.sh.
  packaging/installer/kickstart.sh
Owners: @Ferroin, @tkatsoulas

Fix pkg-test.sh typo.
  .github/scripts/pkg-test.sh
Owners: @Ferroin, @tkatsoulas

Make updater log to stderr if running under CI.
  packaging/installer/netdata-updater.sh
Owners: @Ferroin, @tkatsoulas

Fix CI support package handling.
  .github/scripts/ci-support-pkgs.sh
Owners: @Ferroin, @tkatsoulas

[docs]: Revert #14178 that documents how to set nofile limit for Netdata containers (#14635)
  packaging/docker/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update change-metrics-storage.md
  docs/store/change-metrics-storage.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update change-metrics-storage.md (#14640)
  docs/store/change-metrics-storage.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update change-metrics-storage.md
  docs/store/change-metrics-storage.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update change-metrics-storage.md (#14641)
  docs/store/change-metrics-storage.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Fix issue with PPC64le builds.
  packaging/docker/Dockerfile
Owners: @Ferroin, @tkatsoulas

change units to percentage, when requesting a coefficinet of variation, or a percentage query
  web/api/formatters/json_wrapper.c
  web/api/formatters/rrd2json.c
  web/api/formatters/rrd2json.h
Owners: @thiagoftsm, @vkalintiris

Fix handling of missing release codename on DEB systems.
  packaging/installer/kickstart.sh
Owners: @Ferroin, @tkatsoulas

initialize replication before starting main threads
  daemon/main.c
  streaming/replication.c
Owners: @thiagoftsm, @vkalintiris

Update pi-hole-raspberry-pi.md
  docs/guides/monitor/pi-hole-raspberry-pi.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update pi-hole-raspberry-pi.md (#14644)
  docs/guides/monitor/pi-hole-raspberry-pi.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

properly decrement no room requests counter
  streaming/replication.c
Owners: @thiagoftsm

[ci skip] Update changelog and version for nightly build: v1.38.0-187-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

propagate the non-zero flag to group-by
  web/api/formatters/rrd2json.c
Owners: @thiagoftsm, @vkalintiris

the same by avoiding the extra loop
  web/api/formatters/rrd2json.c
Owners: @thiagoftsm, @vkalintiris

respect non-zero in all dimension arrays
  web/api/formatters/json_wrapper.c
Owners: @thiagoftsm, @vkalintiris

Add support for bypassing static build cache on PRs.
  .github/workflows/build.yml
Owners: @Ferroin, @tkatsoulas

remove dictionary garbage collection from dictionary_entries() and dictionary_version()
  libnetdata/dictionary/dictionary.c
Owners: @thiagoftsm, @vkalintiris

be more verbose when jv2 indexing is postponed
  database/engine/cache.c
  database/engine/rrdengine.c
Owners: @thiagoftsm, @vkalintiris

Update README.md
  collectors/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update README.md (#14647)
  collectors/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

prevent infinite loop
  database/engine/rrdengine.c
Owners: @thiagoftsm, @vkalintiris

Update guidelines.md
  docs/guidelines.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update guidelines.md (#14649)
  docs/guidelines.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas
