Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas

Add option to use either GET or functions request in logs_query.html
  logsmanagement/stress_test/logs_query.html
Owners: @Ferroin

Install logs_query.html when running stress tests
  logsmanagement/stress_test/logs_query.html
  logsmanagement/stress_test/run_stress_test.sh
Owners: @Ferroin

Fix handling of no data in platform EOL checks.
  .github/data/distros.yml
  .github/scripts/platform-impending-eol.py
  .github/workflows/platform-eol-check.yml
Owners: @Ferroin, @tkatsoulas

Update README.md requirements
  logsmanagement/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

bump go.d.plugin v0.51.2
  packaging/go.d.checksums
  packaging/go.d.version
Owners: @Ferroin, @tkatsoulas

Reorganize system directory to better reflect what files are actually used for. (#14544)
  .gitignore
  contrib/debian/rules
  netdata-installer.sh
  netdata.spec.in
  packaging/installer/functions.sh
  packaging/makeself/jobs/99-makeself.install.sh
  system/Makefile.am
  system/cron/netdata-updater-daily.in
  system/freebsd/rc.d/netdata.in
  system/initd/init.d/netdata.in
  system/install-service.sh.in
  system/launchd/netdata.plist.in
  system/logrotate/netdata.in
  system/lsb/init.d/netdata.in
  system/openrc/init.d/netdata.in
  system/systemd/netdata-updater.service.in
  system/systemd/netdata-updater.timer
  system/systemd/netdata.service.in
  system/systemd/netdata.service.v235.in
Owners: @Ferroin, @tkatsoulas, @vkalintiris

Add OpenRC conf.d file for Netdata.
  system/Makefile.am
  system/install-service.sh.in
  system/openrc/conf.d/netdata.in
  system/openrc/init.d/netdata.in
Owners: @Ferroin, @tkatsoulas

Tidy-up handling of retry schedule.
  system/openrc/init.d/netdata.in
Owners: @Ferroin, @tkatsoulas

Add a service description and command descriptions.
  system/openrc/init.d/netdata.in
Owners: @Ferroin, @tkatsoulas

ebpf_new_charts: Add helpers used to create charts to monitor aral
  collectors/ebpf.plugin/ebpf.c
  libnetdata/ebpf/ebpf.h
Owners: @thiagoftsm, @vkalintiris

Only install `/etc/conf.d/netdata` if it does not already exist.
  system/install-service.sh.in
Owners: @Ferroin, @tkatsoulas

fixed attributes around critical and warning alerts
  docs/cloud/alerts-notifications/add-webhook-notification-configuration.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

bump go.d.plugin v0.51.2 (#14618)
  packaging/go.d.checksums
  packaging/go.d.version
Owners: @Ferroin, @tkatsoulas

reorg batch 1
  docs/contributing/style-guide.md
  docs/dashboard/dimensions-contexts-families.md
  docs/glossary.md
  docs/guidelines.md
  exporting/WALKTHROUGH.md
  exporting/prometheus/README.md
  health/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

remove duplicate cloud custom dashboard and agent dashboard
  docs/dashboard/customize.md
  docs/dashboard/how-dashboard-works.md
  docs/guides/troubleshoot/monitor-debug-applications-ebpf.md
  docs/quickstart/infrastructure.md
  docs/visualize/create-dashboards.md
  docs/visualize/overview-infrastructure.md
  packaging/installer/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Simplify the root web/README
  web/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Merge streaming references
  docs/category-overview-pages/developers-overview.md
  docs/metrics-storage-management/reference-streaming.md
  streaming/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Make enable streaming the overall intro and the README the reference
  docs/metrics-storage-management/enable-streaming.md
  docs/metrics-storage-management/reference-streaming.md
  streaming/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Remove reference-streaming document
  docs/metrics-storage-management/reference-streaming.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update overview pages
  docs/category-overview-pages/concepts-overview.md
  docs/category-overview-pages/operations-overview.md
  docs/category-overview-pages/troubleshooting-overview.md
  docs/category-overview-pages/visualizations-overview.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Reorg learn 0227 (#14621)
  docs/category-overview-pages/concepts-overview.md
  docs/category-overview-pages/developers-overview.md
  docs/category-overview-pages/operations-overview.md
  docs/category-overview-pages/troubleshooting-overview.md
  docs/category-overview-pages/visualizations-overview.md
  docs/contributing/style-guide.md
  docs/dashboard/customize.md
  docs/dashboard/dimensions-contexts-families.md
  docs/dashboard/how-dashboard-works.md
  docs/glossary.md
  docs/guidelines.md
  docs/guides/troubleshoot/monitor-debug-applications-ebpf.md
  docs/metrics-storage-management/enable-streaming.md
  docs/metrics-storage-management/reference-streaming.md
  docs/quickstart/infrastructure.md
  docs/visualize/create-dashboards.md
  docs/visualize/overview-infrastructure.md
  exporting/WALKTHROUGH.md
  exporting/prometheus/README.md
  health/README.md
  packaging/installer/README.md
  streaming/README.md
  web/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

ebpf_new_charts: Add ARAL charts for chachestat, and rename aral region for new name
  collectors/ebpf.plugin/ebpf_cachestat.c
  collectors/ebpf.plugin/ebpf_cachestat.h
Owners: @thiagoftsm

Too many broken links
  docs/glossary.txt
Owners: @tkatsoulas, @andrewm4894, @cakrit

rename glossary (#14622)
  docs/glossary.txt
Owners: @tkatsoulas, @andrewm4894, @cakrit

ebpf_new_charts: Add ARAL charts for dcstat, and rename aral region for new name
  collectors/ebpf.plugin/ebpf_dcstat.c
  collectors/ebpf.plugin/ebpf_dcstat.h
Owners: @thiagoftsm

ebpf_new_charts: Update algorithm avoiding possible errors
  collectors/ebpf.plugin/ebpf_cachestat.c
  collectors/ebpf.plugin/ebpf_dcstat.c
Owners: @thiagoftsm

ebpf_new_charts: Add ARAL charts for fd, and rename aral region for new name
  collectors/ebpf.plugin/ebpf_fd.c
  collectors/ebpf.plugin/ebpf_fd.h
Owners: @thiagoftsm

[ci skip] Update changelog and version for nightly build: v1.38.0-166-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

ebpf_new_charts: Add ARAL charts for shm, and rename aral region for new name
  collectors/ebpf.plugin/ebpf_shm.c
  collectors/ebpf.plugin/ebpf_shm.h
Owners: @thiagoftsm

ebpf_new_charts: Add ARAL charts for socket, and rename aral region for new name
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_socket.h
Owners: @thiagoftsm

ebpf_new_charts: Add ARAL charts for VFS, and rename aral region for new name
  collectors/ebpf.plugin/ebpf_vfs.c
  collectors/ebpf.plugin/ebpf_vfs.h
Owners: @thiagoftsm

ebpf_new_charts: Add ARAL charts for process, and rename aral region for new name
  collectors/ebpf.plugin/ebpf_apps.c
  collectors/ebpf.plugin/ebpf_apps.h
  collectors/ebpf.plugin/ebpf_process.c
Owners: @thiagoftsm

Validate Rx bandwidth calculation
  collectors/python.d.plugin/ethtool/ethtool.chart.py
Owners: @ilyam8

Add Tx bandwidth
  collectors/python.d.plugin/ethtool/ethtool.chart.py
Owners: @ilyam8

fix python version check to work for 3.10 and above (#14616)
  collectors/python.d.plugin/anomalies/anomalies.chart.py
Owners: @ilyam8

Port ML from C++ to C.
  Makefile.am
  collectors/profile.plugin/plugin_profile.cc
  daemon/static_threads.c
  database/rrdhost.c
  libnetdata/log/log.c
  ml/ADCharts.cc
  ml/ADCharts.h
  ml/Chart.cc
  ml/Chart.h
  ml/Config.cc
  ml/Config.h
  ml/Dimension.cc
  ml/Dimension.h
  ml/Host.cc
  ml/Host.h
  ml/KMeans.cc
  ml/KMeans.h
  ml/Mutex.h
  ml/Query.h
  ml/Queue.h
  ml/SamplesBuffer.cc
  ml/SamplesBuffer.h
  ml/Stats.h
  ml/ad_charts.cc
  ml/ad_charts.h
  ml/ml-dummy.c
  ml/ml-private.h
  ml/ml.cc
  ml/ml.h
  ml/nml.cc
  ml/nml.h
Owners: @Ferroin, @tkatsoulas, @thiagoftsm, @vkalintiris, @andrewm4894

Properly generate ml_info in /api/v1/info endpoint.
  ml/ml.cc
  ml/ml.h
  ml/nml.cc
  ml/nml.h
Owners: @andrewm4894, @vkalintiris

Limit logs to 200 lines per period
  libnetdata/log/log.c
Owners: @thiagoftsm, @vkalintiris

Remove resource usage charts since we use worker charts.
  ml/ad_charts.cc
  ml/ad_charts.h
Owners: @andrewm4894, @vkalintiris

Remove profile.plugin
  Makefile.am
  collectors/profile.plugin/plugin_profile.cc
  daemon/static_threads.c
Owners: @Ferroin, @tkatsoulas, @thiagoftsm, @vkalintiris
