Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

ebpf_bug_fixes: Update eBPF CO-RE version
  packaging/ebpf-co-re.checksums
  packaging/ebpf-co-re.version
Owners: @Ferroin, @tkatsoulas

ebpf_bug_fixes: Modify hardirq header adding missing headers and also ARAL name
  collectors/ebpf.plugin/ebpf_hardirq.h
Owners: @thiagoftsm

ebpf_bug_fixes: Modify memory management (using ARAL instead callocz)
  collectors/ebpf.plugin/ebpf_hardirq.c
Owners: @thiagoftsm

ebpf_bug_fixes: Remove data from heap and centralize in stack
  collectors/ebpf.plugin/ebpf_hardirq.c
Owners: @thiagoftsm

ebpf_bug_fixes: Improve algorithm inside hardirq_read_latency_map
  collectors/ebpf.plugin/ebpf_hardirq.c
Owners: @thiagoftsm

cgroups.plugin: add image label (#14872)
  collectors/cgroups.plugin/cgroup-name.sh
  collectors/cgroups.plugin/sys_fs_cgroup.c
  collectors/cgroups.plugin/sys_fs_cgroup.h
  collectors/cgroups.plugin/tests/test_cgroups_plugin.c
  collectors/proc.plugin/proc_net_dev.c
Owners: @thiagoftsm, @Ferroin, @vkalintiris, @tkatsoulas

[ci skip] Update changelog and version for nightly build: v1.38.0-356-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

include notice for the introduction page, and format the file
  collectors/charts.d.plugin/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Add support for alert notifications to ntfy.sh (#14875)
  health/notifications/Makefile.am
  health/notifications/alarm-notify.sh.in
  health/notifications/gotify/README.md
  health/notifications/health_alarm_notify.conf
  health/notifications/ntfy/Makefile.inc
  health/notifications/ntfy/README.md
Owners: @Ferroin, @tkatsoulas, @thiagoftsm, @MrZammler, @andrewm4894, @cakrit

/api/v2/data responsed with the id of dimensions in result.labels
  web/api/formatters/json/json.c
Owners: @thiagoftsm, @vkalintiris

provide the original units and sts to db.dimensions
  web/api/formatters/json_wrapper.c
Owners: @thiagoftsm, @vkalintiris

add example configuration to w1sensor collector
  collectors/python.d.plugin/w1sensor/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

replace configuration example with link
  collectors/python.d.plugin/w1sensor/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

updated swagger for the changes
  web/api/netdata-swagger.json
  web/api/netdata-swagger.yaml
Owners: @thiagoftsm, @vkalintiris

/api/v2 part 8 (#14885)
  web/api/formatters/json/json.c
  web/api/formatters/json_wrapper.c
  web/api/netdata-swagger.json
  web/api/netdata-swagger.yaml
Owners: @thiagoftsm, @vkalintiris

/api/v2/weights now supports group-by
  web/api/queries/weights.c
  web/api/queries/weights.h
  web/api/web_api.c
Owners: @thiagoftsm, @vkalintiris

[ci skip] Update changelog and version for nightly build: v1.38.0-361-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

add h2o tag v2.2.6
  .gitmodules
Owners: @Ferroin

add various helper utils for h2o
  httpd/h2o_utils.c
  httpd/h2o_utils.h
Owners: @Ferroin

installer build libh2o.a
  netdata-installer.sh
Owners: @Ferroin, @tkatsoulas

dist h2o sources
  Makefile.am
Owners: @Ferroin, @tkatsoulas

fix bug causing conntentype errors
  httpd/http_server.c
Owners: @Ferroin

minimal httpd server
  Makefile.am
  daemon/common.h
  daemon/main.c
  daemon/static_threads.c
  httpd/http_server.c
  httpd/http_server.h
Owners: @Ferroin, @tkatsoulas, @thiagoftsm, @vkalintiris

try deb fix
  contrib/debian/rules
Owners: @Ferroin, @tkatsoulas

link libh2o and build httpd
  Makefile.am
  configure.ac
Owners: @Ferroin, @tkatsoulas

add buffer -> h2o_iovec helper fnc
  libnetdata/buffer/buffer.c
  libnetdata/buffer/buffer.h
Owners: @thiagoftsm, @vkalintiris

add missing netdata.conf generator
  httpd/http_server.c
Owners: @Ferroin

report individual steps
  netdata-installer.sh
Owners: @Ferroin, @tkatsoulas

build ourselves
  Makefile.am
Owners: @Ferroin, @tkatsoulas

attempt rpm fix
  netdata.spec.in
  packaging/bundle-h2o.sh
Owners: @Ferroin, @tkatsoulas

Revert "installer build libh2o.a"
  netdata-installer.sh
Owners: @Ferroin, @tkatsoulas

Add children support
  httpd/http_server.c
Owners: @Ferroin

fix for libh2o 2.2.6 vs latest master (used in my dev branch)
  httpd/h2o_utils.c
Owners: @Ferroin

fix conf.ac
  configure.ac
Owners: @Ferroin

h2o a shallow copy by default
  .gitmodules
Owners: @Ferroin

add endline at end of yaml
  .github/codeql/c-cpp-config.yml
Owners: @Ferroin, @tkatsoulas

make HTTPD optional for now
  Makefile.am
  configure.ac
  daemon/main.c
  daemon/static_threads.c
  libnetdata/buffer/buffer.c
  libnetdata/buffer/buffer.h
Owners: @Ferroin, @tkatsoulas, @thiagoftsm, @vkalintiris

Revert "attempt rpm fix"
  netdata.spec.in
  packaging/bundle-h2o.sh
Owners: @Ferroin, @tkatsoulas

attempt to skip codeql on external sources
  .github/codeql/c-cpp-config.yml
  .github/workflows/codeql.yml
Owners: @Ferroin, @tkatsoulas

add HTTPD to buildinfo
  daemon/buildinfo.c
Owners: @thiagoftsm, @vkalintiris

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas
