Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @thiagoftsm, @ilyam8, @vkalintiris, @Ancairon, @novykh, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
src/aclk/ @stelfrag
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
src/exporting/ @thiagoftsm
src/daemon/ @thiagoftsm @vkalintiris
src/database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @Ancairon
health/ @thiagoftsm @vkalintiris
health/health.d/ @thiagoftsm
health/notifications/ @Ferroin @thiagoftsm
src/ml/ @vkalintiris
src/libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
src/registry/ @novykh
src/streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @novykh
src/logsmanagement/ @thiagoftsm

# Ownership by filetype (overwrites ownership by directory)
*.md @tkatsoulas @Ancairon
*.mdx @tkatsoulas @Ancairon
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas

Update labelers.
  .github/labeler.yml
Owners: @Ferroin, @tkatsoulas

enable network-viewer aggregated views (#16940)
  collectors/network-viewer.plugin/network-viewer.c
Owners: @thiagoftsm

Assorted cleanup of native packaging code. (#16640)
  contrib/debian/netdata-plugin-ebpf.postinst
  contrib/debian/netdata-plugin-logs-management.postinst
  contrib/debian/netdata.lintian-overrides
  contrib/debian/netdata.postinst
  contrib/debian/netdata.postrm
  contrib/debian/netdata.preinst
  contrib/debian/rules
  netdata.spec.in
Owners: @Ferroin, @tkatsoulas

fix charts.d.plugin configuration directory names (#16939)
  collectors/charts.d.plugin/charts.d.plugin.in
Owners: @ilyam8, @Ferroin

add freebsd jail detection to system-info.sh (#16858)
  daemon/system-info.sh
Owners: @Ferroin

fix thread name on fatal and cgroup netdev rename crash (#16771)
  collectors/cgroups.plugin/cgroup-top.c
Owners: @thiagoftsm

fix clock resolution detection (#16720)
  libnetdata/clocks/clocks.c
Owners: @Ferroin

Disable local Go builds in our RPM packages. (#16848)
  netdata.spec.in
Owners: @Ferroin, @tkatsoulas

fix quota calculation when the the db is empty (#16699)
  daemon/main.c
  daemon/static_threads.c
  database/engine/rrdengine.c
  libnetdata/worker_utilization/worker_utilization.c
  libnetdata/worker_utilization/worker_utilization.h
Owners: @Ferroin

fix installing service file and start/stop ND using `launchctl` on macOS (#16693)
  system/install-service.sh.in
  system/launchd/netdata.plist.in
Owners: @Ferroin, @tkatsoulas

increase max response size to 100MiB (#16649)
  aclk/aclk_query.c
  aclk/aclk_tx_msgs.c
  collectors/plugins.d/pluginsd_parser.h
Owners: @Ferroin, @thiagoftsm

Improve container detection logic for edit-config. (#16825)
  system/edit-config
Owners: @Ferroin, @tkatsoulas

Shutdown dbengine event loop properly (#16658)
  daemon/main.c
  daemon/unit_test.c
  database/engine/rrdengine.c
  database/engine/rrdengine.h
  database/sqlite/sqlite_metadata.c
Owners: @Ferroin

respect log level for all sources (#16922)
  libnetdata/log/log.c
Owners: @Ferroin

Remove assert (#16611)
  daemon/unit_test.c
  database/sqlite/sqlite_metadata.c
Owners: @Ferroin

Preserve label source during migration (#16821)
  database/rrdlabels.c
Owners: @Ferroin

set app_group label automatically (#16810)
  collectors/apps.plugin/apps_plugin.c
  collectors/debugfs.plugin/sys_devices_virtual_powercap.c
  collectors/ebpf.plugin/ebpf_cachestat.c
  collectors/ebpf.plugin/ebpf_dcstat.c
  collectors/ebpf.plugin/ebpf_fd.c
  collectors/ebpf.plugin/ebpf_oomkill.c
  collectors/ebpf.plugin/ebpf_process.c
  collectors/ebpf.plugin/ebpf_shm.c
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_swap.c
  collectors/ebpf.plugin/ebpf_vfs.c
Owners: @thiagoftsm

dont exceed buffer boundaries, when the buffer is empty (#16664)
  web/server/web_client.c
  web/server/web_client.h
Owners: @thiagoftsm, @vkalintiris

Cherry pick from 989c856c5bd11c5c1c42b587541858ee992a1a5b
  database/rrdlabels.c
  libnetdata/log/log.c
Owners: @Ferroin

fix verify_netdata_host_prefix log spam (#16814)
  collectors/apps.plugin/apps_plugin.c
  collectors/cgroups.plugin/cgroup-network.c
  collectors/debugfs.plugin/debugfs_plugin.c
  collectors/ebpf.plugin/ebpf.c
  collectors/systemd-journal.plugin/systemd-main.c
  daemon/main.c
  libnetdata/libnetdata.c
  libnetdata/libnetdata.h
  logsmanagement/logsmanagement.c
Owners: @thiagoftsm, @Ferroin

update go.d.plugin to v0.58.0 (#16725)
  packaging/go.d.checksums
  packaging/go.d.version
Owners: @Ferroin, @tkatsoulas

fix exporting internal charts context and family (#16683)
  exporting/send_internal_metrics.c
  exporting/tests/test_exporting_engine.c
  health/health.d/exporting.conf
Owners: @Ferroin, @vkalintiris, @tkatsoulas, @thiagoftsm

fix excessive "maximum number of cgroups reached" log messages (#16730)
  collectors/cgroups.plugin/cgroup-discovery.c
Owners: @thiagoftsm

respect NETDATA_LOG_LEVEL if set (#16943)
  daemon/main.c
Owners: @Ferroin

Fix overrun in crc32set (#16654)
  database/engine/rrdenginelib.h
Owners: @Ferroin

fix phtread-detatch() call (#16760)
  libnetdata/threads/threads.c
Owners: @Ferroin

fix claiming on macOS (#16686)
  daemon/daemon.c
Owners: @Ferroin

update alpine 3.16 fts-dev (#16865)
  packaging/installer/install-required-packages.sh
Owners: @Ferroin, @tkatsoulas

atomically load the metric reference count (#16687)
  database/engine/metric.c
Owners: @Ferroin

Fix compilation error when using --disable-dbengine (#16645)
  daemon/global_statistics.c
  daemon/main.c
Owners: @Ferroin

cups exit on sigpipe (#16691)
  collectors/cups.plugin/cups_plugin.c
Owners: @thiagoftsm

[ci skip] Patch release v1.44.2.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

Remove cleanup_destroyed_dictionaries
  src/daemon/main.c
Owners: @thiagoftsm, @vkalintiris

Update README.md
  README.md
Owners: @tkatsoulas, @Ancairon

fix wrong sizeof - it is the same size, but for accuracy it should be fixed
  collectors/network-viewer.plugin/network-viewer.c
Owners: @thiagoftsm

made the direction sticky
  collectors/network-viewer.plugin/network-viewer.c
Owners: @thiagoftsm

fix wrong sizeof (#16950)
  collectors/network-viewer.plugin/network-viewer.c
Owners: @thiagoftsm

Update README.md
  README.md
Owners: @tkatsoulas, @Ancairon
