Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

add_ebpf_csv_description: Change EBPF_CHART_TYPE_STACKED to stacked
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

add_ebpf_csv_description: Change ebpf.plugin adding "
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

add_ebpf_csv_description: Modify module. I will have another PR that will fix the wrong module given for some metrics
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

add_ebpf_csv_description: Modify module FD dimensions
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

add_ebpf_csv_description: Update scope
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

add_ebpf_csv_description: Update labels
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

add_ebpf_csv_description: Update process type.id
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

[ci skip] Update changelog and version for nightly build: v1.38.0-432-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

add_ebpf_csv_description: Update scope and remove filename
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

add_ebpf_csv_description: Remove labels
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

add_ebpf_csv_description: Change module name
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

add_ebpf_csv_description: Update dimensions
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

add_ebpf_csv_description: Update service dimension
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

add_ebpf_csv_description: Update disk
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

add_ebpf_csv_description: Update hardirq
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

add_ebpf_csv_description: Modify cachestat
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

add_ebpf_csv_description: Modify mdflush
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

add_ebpf_csv_description: Modify swap
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

add_ebpf_csv_description: Missing change inside swap
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

add_ebpf_csv_description: Modify oomkill
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

add_ebpf_csv_description: Modify socket
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

add_ebpf_csv_description: Modify dc
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

add_ebpf_csv_description: Modify filesystem
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

add_ebpf_csv_description: Update all labels
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

add_ebpf_csv_description: Update shm
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

add_ebpf_csv_description: Update softirq
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

add_ebpf_csv_description: Update mount
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

add_ebpf_csv_description: Update VFS
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

add_ebpf_csv_description: Update misses
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

Add support for acquire/release operations on RRDSETs (#14945)
  database/rrd.h
  database/rrddim.c
  database/rrdhost.c
  database/rrdset.c
  ml/ml-private.h
  ml/ml.cc
Owners: @thiagoftsm, @vkalintiris, @andrewm4894

add metrics.csv to charts.d
  collectors/charts.d.plugin/ap/metrics.csv
  collectors/charts.d.plugin/apcupsd/metrics.csv
  collectors/charts.d.plugin/libreswan/metrics.csv
  collectors/charts.d.plugin/nut/metrics.csv
  collectors/charts.d.plugin/opensips/metrics.csv
  collectors/charts.d.plugin/sensors/metrics.csv
Owners: @ilyam8, @Ferroin

fix sensors Energy chart type
  collectors/charts.d.plugin/sensors/sensors.chart.sh
Owners: @ilyam8, @Ferroin

add metrics.csv to apps.plugin
  collectors/apps.plugin/metrics.csv
Owners: @thiagoftsm

fixme comment
  collectors/apps.plugin/apps_plugin.c
Owners: @thiagoftsm

fix columns
  collectors/apps.plugin/metrics.csv
Owners: @thiagoftsm

do not convert to percentage, when the raw option is given
  database/contexts/rrdcontext.h
  web/api/queries/query.c
Owners: @thiagoftsm, @vkalintiris

add internal metrics
  collectors/apps.plugin/metrics.csv
Owners: @thiagoftsm

add metrics.csv to timex.plugin
  collectors/timex.plugin/metrics.csv
Owners: @thiagoftsm

fix groups dimensions
  collectors/apps.plugin/metrics.csv
Owners: @thiagoftsm

add metrics.csv to slabinfo.plugin
  collectors/slabinfo.plugin/metrics.csv
Owners: @thiagoftsm

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas
