Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

WIP add rx bandwidth
  collectors/python.d.plugin/ethtool/ethtool.chart.py
Owners: @ilyam8

added contexts to summary
  web/api/formatters/json_wrapper.c
Owners: @thiagoftsm, @vkalintiris

added chart title
  database/rrdcontext.c
  database/rrdcontext.h
  web/api/formatters/json_wrapper.c
Owners: @thiagoftsm, @vkalintiris

Fix typo.
  .github/workflows/review.yml
Owners: @Ferroin, @tkatsoulas

Remove some obsolete TODO comments
  collectors/logsmanagement.plugin/plugin_logsmanagement_docker_ev.c
  collectors/logsmanagement.plugin/plugin_logsmanagement_generic.c
  collectors/logsmanagement.plugin/plugin_logsmanagement_kernel.c
  collectors/logsmanagement.plugin/plugin_logsmanagement_systemd.c
  collectors/logsmanagement.plugin/plugin_logsmanagement_web_log.c
Owners: @thiagoftsm

Remove some commented out error/debug prints
  logsmanagement/flb_plugin.c
Owners: @Ferroin

added dimension priorities and chart type
  database/rrd.h
  database/rrdcontext.c
  database/rrdcontext.h
  web/api/formatters/json_wrapper.c
  web/api/formatters/rrd2json.c
  web/api/queries/rrdr.c
  web/api/queries/rrdr.h
Owners: @thiagoftsm, @vkalintiris

Update manual.md
  packaging/installer/methods/manual.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Disable some Fluent-Bit config options not required
  logsmanagement/fluent_bit_build/config.cmake
Owners: @Ferroin

Correct the sidebar position label metdata for learn (#14583)
  packaging/installer/methods/manual.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Make circular buffer spare items option configurable
  logsmanagement/logsmanagement.c
  logsmanagement/logsmanagement_conf.h
Owners: @Ferroin

support for multiple group by at the same time
  database/rrd.h
  database/rrdcontext.h
  database/rrdlabels.c
  web/api/formatters/json_wrapper.c
  web/api/formatters/rrd2json.c
  web/api/queries/query.c
  web/api/queries/query.h
  web/api/web_api_v2.c
Owners: @thiagoftsm, @vkalintiris

minor fixes
  database/rrdcontext.c
  web/api/formatters/rrd2json.c
Owners: @thiagoftsm, @vkalintiris

[ci skip] Update changelog and version for nightly build: v1.38.0-129-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

labels are now a tree
  web/api/formatters/json_wrapper.c
Owners: @thiagoftsm, @vkalintiris

Remove varlib_dir from host structure
  database/rrd.h
  database/rrdhost.c
  health/health.c
Owners: @thiagoftsm, @vkalintiris, @MrZammler

keys uniformity
  web/api/formatters/json_wrapper.c
Owners: @thiagoftsm, @vkalintiris

filtering by alerts, both having a specific alert and having a specific alert in a specific status
  database/rrdcontext.c
  database/rrdcontext.h
  web/api/formatters/json_wrapper.c
  web/api/web_api_v1.c
  web/api/web_api_v2.c
Owners: @thiagoftsm, @vkalintiris

Fix logic issue in issue creation.
  .github/workflows/platform-eol-check.yml
Owners: @Ferroin, @tkatsoulas

added scope of hosts and contexts
  database/rrdcontext.c
  database/rrdcontext.h
  web/api/formatters/json_wrapper.c
  web/api/web_api_v2.c
Owners: @thiagoftsm, @vkalintiris

count of instances on contexts and hosts
  database/rrdcontext.c
  database/rrdcontext.h
  web/api/formatters/json_wrapper.c
Owners: @thiagoftsm, @vkalintiris

Reorder data per device
  collectors/python.d.plugin/ethtool/ethtool.chart.py
  collectors/python.d.plugin/ethtool/ethtool.conf
Owners: @ilyam8

Prevent core dump when the agent is performing a quick shutdown (e.g. when rrd_init fails)
  daemon/main.c
  database/sqlite/sqlite_metadata.c
Owners: @thiagoftsm, @vkalintiris

make the api return valid responses even when the response contains no data
  database/rrdcontext.c
  web/api/queries/query.c
  web/api/queries/rrdr.c
  web/api/web_api_v1.c
  web/api/web_api_v2.c
Owners: @thiagoftsm, @vkalintiris

Misc SSL improvements 2 (#14334)
  libnetdata/socket/socket.c
  web/server/static/static-threaded.c
  web/server/web_client.c
Owners: @thiagoftsm, @vkalintiris

Remove unused parameter
  health/health.c
Owners: @thiagoftsm, @vkalintiris, @MrZammler

Bring in info from docs/configure/secure-nodes.md
  docs/netdata-security.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Delete secure-nodes.md
  docs/configure/secure-nodes.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Change link to node security
  docs/configure/common-changes.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update common-changes.md
  docs/configure/common-changes.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update nodes.md
  docs/configure/nodes.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Fix link in infrastructure doc
  docs/quickstart/infrastructure.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Add an option to the kickstart script to override distro detection.
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart.md
Owners: @Ferroin, @tkatsoulas, @andrewm4894, @cakrit

calculate average and contribution % for every item in the summary
  database/rrdcontext.c
  database/rrdcontext.h
  web/api/formatters/json_wrapper.c
  web/api/formatters/rrd2json.c
  web/api/queries/query.c
  web/api/queries/query.h
Owners: @thiagoftsm, @vkalintiris

Change link text to collectors.md
  collectors/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Change doc title
  collectors/COLLECTORS.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Merge security documents (#14588)
  docs/configure/common-changes.md
  docs/configure/nodes.md
  docs/configure/secure-nodes.md
  docs/netdata-security.md
  docs/quickstart/infrastructure.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Change link text to collectors.md (#14590)
  collectors/COLLECTORS.md
  collectors/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Clean host structure (#14584)
  database/rrd.h
  database/rrdhost.c
  health/health.c
Owners: @thiagoftsm, @vkalintiris, @MrZammler

Get update every from page (#14573)
  database/engine/datafile.c
  database/engine/journalfile.c
Owners: @thiagoftsm, @vkalintiris

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas
