Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas

Update netdata-security.md (#14833)
  docs/netdata-security.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Docs, shorten too long titles, and add a description below (#14820)
  collectors/ioping.plugin/README.md
  collectors/python.d.plugin/zscores/README.md
  docs/guides/collect-apache-nginx-web-logs.md
  docs/guides/monitor/kubernetes-k8s-netdata.md
  docs/guides/monitor/lamp-stack.md
  docs/guides/monitor/raspberry-pi-anomaly-detection.md
  docs/guides/using-host-labels.md
  packaging/building-native-packages-locally.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

add some third party collectors (#14830)
  collectors/COLLECTORS.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

minor grammar fix
  collectors/diskspace.plugin/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Apply suggestions from code review
  claim/README.md
  docs/cloud/manage/invite-your-team.md
  docs/cloud/manage/plans.md
  docs/cloud/manage/sign-in.md
  docs/cloud/spaces.md
  docs/cloud/visualize/interact-new-charts.md
  docs/dashboard/visualization-date-and-time-controls.md
  docs/getting-started/introduction.md
  docs/guides/troubleshoot/troubleshooting-agent-with-cloud-connection.md
  docs/quickstart/infrastructure.md
  docs/store/distributed-data-architecture.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update docs/cloud/visualize/overview.md
  docs/cloud/visualize/overview.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Replace view with tab in overview.md
  docs/cloud/visualize/overview.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Re-add Docker Socket Proxy to docs
  collectors/cgroups.plugin/README.md
  packaging/docker/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

First batch of adding descriptions to the documentation (#14825)
  claim/README.md
  docs/cloud/manage/invite-your-team.md
  docs/cloud/manage/plans.md
  docs/cloud/manage/sign-in.md
  docs/cloud/manage/view-plan-billing.md
  docs/cloud/spaces.md
  docs/cloud/visualize/interact-new-charts.md
  docs/cloud/visualize/node-filter.md
  docs/cloud/visualize/overview.md
  docs/cloud/war-rooms.md
  docs/dashboard/visualization-date-and-time-controls.md
  docs/getting-started/introduction.md
  docs/guides/troubleshoot/troubleshooting-agent-with-cloud-connection.md
  docs/monitor/view-active-alarms.md
  docs/quickstart/infrastructure.md
  docs/store/distributed-data-architecture.md
  packaging/installer/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

[ci skip] Update changelog and version for nightly build: v1.38.0-326-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

inlined store engine query API
  daemon/unit_test.c
  database/engine/rrdengineapi.c
  database/ram/rrddim_mem.c
  database/rrd.h
  database/storage_engine.c
  exporting/process_data.c
  ml/ml.cc
  streaming/replication.c
  web/api/queries/query.c
Owners: @thiagoftsm, @vkalintiris, @andrewm4894

inlined storage engine data collection api
  daemon/service.c
  daemon/unit_test.c
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
  database/ram/rrddim_mem.c
  database/ram/rrddim_mem.h
  database/rrd.h
  database/rrddim.c
  database/rrdset.c
  database/storage_engine.c
Owners: @thiagoftsm, @vkalintiris

inlined all storage engine query ops
  daemon/unit_test.c
  database/contexts/query_target.c
  database/rrd.h
  database/rrddim.c
  database/storage_engine.c
  exporting/process_data.c
  ml/ml.cc
  streaming/replication.c
  web/api/queries/query.c
Owners: @thiagoftsm, @vkalintiris, @andrewm4894

Amazon SNS and some alerta changes
  health/notifications/alerta/README.md
  health/notifications/awssns/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

use common source of truth for capas in apiv2
  CMakeLists.txt
  Makefile.am
  database/contexts/api_v2.c
Owners: @Ferroin, @tkatsoulas, @thiagoftsm, @vkalintiris

fix for possible races
  aclk/aclk_capas.c
Owners: @stelfrag, @underhood

btrfs: sysfs-block sector size is always 512
  collectors/proc.plugin/sys_fs_btrfs.c
Owners: @thiagoftsm

Fix Btrfs unallocated space accounting (#14824)
  collectors/proc.plugin/sys_fs_btrfs.c
Owners: @thiagoftsm

notification methods imporvements
  health/notifications/alerta/README.md
  health/notifications/awssns/README.md
  health/notifications/custom/README.md
  health/notifications/discord/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

fix double host prefix when reading zfs pools state
  collectors/proc.plugin/proc_spl_kstat_zfs.c
Owners: @thiagoftsm

eliminate and inline data collection ops
  database/rrd.h
  database/rrddim.c
  database/rrdset.c
  database/storage_engine.c
Owners: @thiagoftsm, @vkalintiris

Update parent child examples
  diagrams/ephemeral-nodes-two-parents.xml
  diagrams/simple-parent-child-no-cloud.xml
  diagrams/simple-parent-child.xml
  docs/metrics-storage-management/enable-streaming.md
Owners: @Ferroin, @tkatsoulas, @andrewm4894, @cakrit

Update parent child examples (#14842)
  diagrams/ephemeral-nodes-two-parents.xml
  diagrams/simple-parent-child-no-cloud.xml
  diagrams/simple-parent-child.xml
  docs/metrics-storage-management/enable-streaming.md
Owners: @Ferroin, @tkatsoulas, @andrewm4894, @cakrit

fix double host prefix when reading ZFS pools state (#14840)
  collectors/proc.plugin/proc_spl_kstat_zfs.c
Owners: @thiagoftsm

fix function call Rados.mon_command()
  collectors/python.d.plugin/ceph/ceph.chart.py
Owners: @ilyam8

minor - add capability signifying this agent can speak apiv2 (#14817)
  CMakeLists.txt
  Makefile.am
  aclk/aclk_capas.c
  database/contexts/api_v2.c
Owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @vkalintiris

simplified query group-by
  web/api/queries/query.c
Owners: @thiagoftsm, @vkalintiris

more error handling
  web/api/queries/query.c
Owners: @thiagoftsm, @vkalintiris

[ci skip] Update changelog and version for nightly build: v1.38.0-331-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

optimized partial trimming of group-by queries
  web/api/queries/query.c
Owners: @thiagoftsm, @vkalintiris

preparative work to support multiple passes of group-by
  database/contexts/query_target.c
  database/contexts/rrdcontext.h
  web/api/formatters/json_wrapper.c
  web/api/queries/query.c
  web/api/web_api_v2.c
Owners: @thiagoftsm, @vkalintiris

Build libdatachannel
  .gitmodules
  netdata-installer.sh
Owners: @Ferroin, @tkatsoulas

alerta refinements
  health/notifications/alerta/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

awssns refinements
  health/notifications/awssns/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

custom alert refinements
  health/notifications/custom/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

discord refinements
  health/notifications/discord/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

email notifications documentation update
  health/notifications/email/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

resolve capas
  aclk/aclk.c
  aclk/aclk_alarm_api.c
  aclk/aclk_alarm_api.h
  aclk/aclk_capas.c
  aclk/aclk_query.c
  aclk/aclk_query_queue.h
  aclk/aclk_rx_msgs.c
  aclk/aclk_util.c
  aclk/aclk_util.h
  aclk/schema-wrappers/alarm_stream.cc
  aclk/schema-wrappers/alarm_stream.h
  aclk/schema-wrappers/proto_2_json.cc
  database/sqlite/sqlite_aclk.c
  database/sqlite/sqlite_aclk.h
  database/sqlite/sqlite_aclk_alert.c
  database/sqlite/sqlite_aclk_alert.h
Owners: @stelfrag, @underhood, @thiagoftsm, @vkalintiris

handle checkpoints and removed from health
  aclk/aclk.c
  aclk/aclk.h
  database/sqlite/sqlite_aclk_alert.c
  health/health.c
Owners: @stelfrag, @underhood, @thiagoftsm, @vkalintiris, @MrZammler

flock notifications documentation update
  health/notifications/flock/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit
