Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @iigorkarpov, @maneamarius, @kaskavel, @vkalintiris, @stelfrag, @underhood, @thiagoftsm, @vlvkobal, @ilyam8, @jacekkolasa, @ccremer, @simonnagl, @DShreve2, @siamaktavakoli, @thiagofsm, @netdatabot

Addressed review feedback.
  netdata-installer.sh
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart.md
Owners: @Ferroin, @iigorkarpov, @maneamarius, @vkalintiris, @DShreve2

minor - fix typo popocorn->popcorn (#11745)
  aclk/aclk.c
Owners: @stelfrag, @underhood

modifications for feedback
  ml/Config.cc
  ml/Config.h
  ml/Database.cc
  ml/Database.h
  ml/Dimension.h
  ml/Host.cc
  ml/ml.cc
Owners: @siamaktavakoli, @vkalintiris

Add Fedora 35 to CI. (#11641)
  .github/workflows/build-and-install.yml
  .github/workflows/packaging.yml
  .github/workflows/repoconfig-packages.yml
  .github/workflows/updater.yml
Owners: @Ferroin, @iigorkarpov, @maneamarius, @kaskavel, @vkalintiris

add exit points
  aclk/aclk.c
Owners: @stelfrag, @underhood

Update netdata-installer.sh
  netdata-installer.sh
Owners: @Ferroin, @iigorkarpov, @maneamarius, @vkalintiris

add *.mdx to labeler config (#11748)
  .github/labeler.yml
Owners: @Ferroin, @iigorkarpov, @maneamarius, @kaskavel, @vkalintiris

small mods
  ml/Database.cc
  ml/Host.cc
Owners: @siamaktavakoli, @vkalintiris

Add RAM checking for ML builds.
  netdata-installer.sh
Owners: @Ferroin, @iigorkarpov, @maneamarius, @vkalintiris

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.travis/ @Ferroin @iigorkarpov @maneamarius @kaskavel @vkalintiris
.github/ @Ferroin @iigorkarpov @maneamarius @kaskavel @vkalintiris
aclk/ @stelfrag @underhood
backends/ @thiagoftsm @vlvkobal
backends/graphite/ @thiagoftsm @vlvkobal
backends/json/ @thiagoftsm @vlvkobal
backends/opentsdb/ @thiagoftsm @vlvkobal
backends/prometheus/ @vlvkobal @thiagoftsm
build/ @Ferroin @iigorkarpov @maneamarius
contrib/debian @Ferroin @iigorkarpov @maneamarius @vkalintiris
collectors/ @vlvkobal
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @vlvkobal @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm @vlvkobal
collectors/macos.plugin/ @vlvkobal @thiagoftsm
collectors/node.d.plugin/ @jacekkolasa
collectors/node.d.plugin/fronius/ @ccremer
collectors/node.d.plugin/snmp/ @jacekkolasa
collectors/node.d.plugin/stiebeleltron/ @ccremer
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @thiagoftsm
exporting/  @vlvkobal @thiagoftsm
daemon/ @thiagoftsm
database/ @thiagoftsm @vkalintiris
docs/ @DShreve2
health/ @thiagoftsm @vlvkobal @vkalintiris
health/health.d/ @thiagoftsm @vlvkobal
health/notifications/ @Ferroin @thiagoftsm
ml/ @siamaktavakoli @vkalintiris
libnetdata/ @thiagofsm
packaging/ @Ferroin @iigorkarpov @maneamarius @vkalintiris
registry/ @jacekkolasa
streaming/ @thiagoftsm @vlvkobal
system/ @Ferroin @iigorkarpov @maneamarius @vkalintiris
tests/ @Ferroin @iigorkarpov @maneamarius @kaskavel @vkalintiris
web/ @thiagoftsm @vlvkobal @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @iigorkarpov @maneamarius @vkalintiris
*.md @DShreve2
Dockerfile* @Ferroin @iigorkarpov @maneamarius @vkalintiris

# Ownership of specific files
.gitignore @Ferroin @iigorkarpov @maneamarius @vkalintiris
.travis.yml @Ferroin @iigorkarpov @maneamarius @kaskavel @vkalintiris
.lgtm.yml @Ferroin @iigorkarpov @maneamarius @vkalintiris
.eslintrc @Ferroin @iigorkarpov @maneamarius @vkalintiris
.eslintignore @Ferroin @iigorkarpov @maneamarius @vkalintiris
.csslintrc @Ferroin @iigorkarpov @maneamarius @vkalintiris
.codeclimate.yml @Ferroin @iigorkarpov @maneamarius @vkalintiris
.codacy.yml @Ferroin @iigorkarpov @maneamarius @vkalintiris
.yamllint.yml @Ferroin @iigorkarpov @maneamarius @vkalintiris
netdata.spec.in @Ferroin @iigorkarpov @maneamarius @vkalintiris
netdata-installer.sh @Ferroin @iigorkarpov @maneamarius @vkalintiris
package.json @jacekkolasa @Ferroin @iigorkarpov @maneamarius @vkalintiris
packaging/version @netdatabot @Ferroin @iigorkarpov @maneamarius @vkalintiris

LICENSE.md @DShreve2 @Ferroin @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @iigorkarpov @maneamarius @vkalintiris
