Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @netdata/agent-sre, @stelfrag, @thiagoftsm, @ilyam8, @vkalintiris, @Ancairon, @novykh, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @netdata/agent-sre
src/aclk/ @stelfrag
contrib/debian @netdata/agent-sre
src/collectors/ @thiagoftsm
src/collectors/ebpf.plugin/ @thiagoftsm
src/collectors/charts.d.plugin/ @ilyam8 @Ferroin
src/collectors/freebsd.plugin/ @thiagoftsm
src/collectors/macos.plugin/ @thiagoftsm
src/collectors/python.d.plugin/ @ilyam8
src/collectors/cups.plugin/ @thiagoftsm
src/exporting/ @thiagoftsm
src/daemon/ @thiagoftsm @vkalintiris
src/database/ @thiagoftsm @vkalintiris
docs/ @Ancairon
src/go/ @ilyam8
src/health/ @thiagoftsm @vkalintiris
src/health/health.d/ @thiagoftsm
src/health/notifications/ @Ferroin @thiagoftsm
src/ml/ @vkalintiris
src/libnetdata/ @thiagoftsm @vkalintiris
packaging/ @netdata/agent-sre
packaging/cmake @Ferroin @vkalintiris
src/registry/ @novykh
src/streaming/ @thiagoftsm
system/ @netdata/agent-sre
tests/ @netdata/agent-sre @vkalintiris
src/web/ @thiagoftsm @vkalintiris
src/web/gui/ @novykh
src/logsmanagement/ @thiagoftsm

# Ownership by filetype (overwrites ownership by directory)
*.md @Ancairon
*.mdx @Ancairon
Dockerfile* @netdata/agent-sre

# Ownership of specific files
.gitignore @netdata/agent-sre @vkalintiris
.codacy.yml @netdata/agent-sre
.yamllint.yml @netdata/agent-sre
CMakeLists.txt @netdata/agent-sre @vkalintiris
netdata.spec.in @netdata/agent-sre
netdata-installer.sh @netdata/agent-sre
packaging/version @netdatabot @netdata/agent-sre

LICENSE.md @netdata/agent-sre @vkalintiris
CHANGELOG.md @netdatabot @netdata/agent-sre

prometheus_help_type: Set TYPE according to expected pattern
  src/exporting/prometheus/prometheus.c
Owners: @thiagoftsm

prometheus_help_type: Set HELP according to expected pattern
  src/exporting/prometheus/prometheus.c
Owners: @thiagoftsm

prometheus_help_type: Add pattern to host_variables_callback_options and comment old algorithm
  src/exporting/prometheus/prometheus.c
Owners: @thiagoftsm

prometheus_help_type: Clean up prom_help
  src/exporting/prometheus/prometheus.c
Owners: @thiagoftsm

prometheus_help_type: Clean up code and reduce allocation
  src/exporting/prometheus/prometheus.c
Owners: @thiagoftsm

prometheus_help_type: Show context with appendices to keep pattern with metrics
  src/exporting/prometheus/prometheus.c
Owners: @thiagoftsm

prometheus_help_type: Fix HELP and TYPE positions.
  src/exporting/prometheus/prometheus.c
Owners: @thiagoftsm

prometheus_help_type: Adjust to always show TYPE and HELP
  src/exporting/prometheus/prometheus.c
  src/web/api/exporters/allmetrics.c
  src/web/api/netdata-swagger.json
  src/web/api/netdata-swagger.yaml
Owners: @thiagoftsm, @vkalintiris

prometheus_help_type: Address request on Slack
  src/exporting/prometheus/prometheus.c
Owners: @thiagoftsm

Correctly handle libyaml linking for log2journal. (#17276)
  CMakeLists.txt
Owners: @netdata/agent-sre, @vkalintiris

Move bundling of JSON-C to CMake.
  CMakeLists.txt
  netdata-installer.sh
  packaging/cmake/Modules/NetdataJSONC.cmake
  packaging/jsonc.checksums
  packaging/jsonc.version
Owners: @netdata/agent-sre, @vkalintiris, @Ferroin

Force CMake policy 77 to new behavior for JSON-C build.
  packaging/cmake/Modules/NetdataJSONC.cmake
Owners: @Ferroin, @vkalintiris

Fix JSON-C build option passing.
  packaging/cmake/Modules/NetdataJSONC.cmake
Owners: @Ferroin, @vkalintiris

Add Ubuntu 24.04 to CI, package builds, and support policy.
  .github/data/distros.yml
  packaging/PLATFORM_SUPPORT.md
Owners: @netdata/agent-sre, @Ancairon

Add Fedora 40 to CI, packages, and support policy.
  .github/data/distros.yml
  packaging/PLATFORM_SUPPORT.md
Owners: @netdata/agent-sre, @Ancairon

Fix include path selection and handling for bundled JSON-C.
  packaging/cmake/Modules/NetdataJSONC.cmake
Owners: @Ferroin, @vkalintiris

go.d: socket package: don't set client on connect() err
  src/go/collectors/go.d.plugin/pkg/socket/client.go
Owners: @ilyam8

go.d: socket package: don't set client on connect() err (#17283)
  src/go/collectors/go.d.plugin/pkg/socket/client.go
Owners: @ilyam8

go.d: sd docker: create multiple nginx configs
  src/go/collectors/go.d.plugin/config/go.d/sd/docker.conf
Owners: @ilyam8

go.d: sd docker: create multiple nginx configs (#17285)
  src/go/collectors/go.d.plugin/config/go.d/sd/docker.conf
Owners: @ilyam8
