Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas

import sqlalchemy and os to support read_sql
  collectors/python.d.plugin/pandas/pandas.chart.py
  collectors/python.d.plugin/pandas/pandas.conf
Owners: @ilyam8

query instance may be realloced, so pointers to it get invalid; solved memory leaks
  database/rrdcontext.c
  database/rrdcontext.h
  streaming/replication.c
  web/api/formatters/json_wrapper.c
  web/api/formatters/rrd2json.c
  web/api/queries/query.c
  web/api/queries/rrdr.c
Owners: @thiagoftsm, @vkalintiris

docs
  collectors/python.d.plugin/pandas/README.md
  collectors/python.d.plugin/pandas/pandas.conf
Owners: @tkatsoulas, @andrewm4894, @cakrit, @ilyam8

count of quried metrics in summary information
  database/rrdcontext.c
  database/rrdcontext.h
  web/api/formatters/json_wrapper.c
  web/api/formatters/rrd2json.c
  web/api/queries/query.c
Owners: @thiagoftsm, @vkalintiris

make sql example multiline
  collectors/python.d.plugin/pandas/pandas.conf
Owners: @ilyam8

provide detailed information about selected, excluded, queried and failed metrics for each entity
  database/rrdcontext.c
  database/rrdcontext.h
  web/api/formatters/json_wrapper.c
  web/api/formatters/rrd2json.c
  web/api/queries/query.c
  web/api/queries/rrdr.h
Owners: @thiagoftsm, @vkalintiris

select instances by fqdn too
  database/rrdcontext.c
Owners: @thiagoftsm, @vkalintiris

add timing information to json output
  database/rrdcontext.c
  database/rrdcontext.h
  web/api/formatters/json_wrapper.c
  web/api/formatters/rrd2json.c
  web/api/web_api_v2.c
Owners: @thiagoftsm, @vkalintiris

fix broken link in ml/README.md
  ml/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

fix broken link across all files
  aclk/README.md
  docs/category-overview-pages/integrations-overview.md
  docs/cloud/visualize/nodes.md
  docs/guides/monitor/pi-hole-raspberry-pi.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

fix broken link across all files
  docs/cloud/alerts-notifications/notifications.md
  docs/cloud/alerts-notifications/view-active-alerts.md
  docs/dashboard/dimensions-contexts-families.md
  docs/dashboard/how-dashboard-works.md
  docs/guides/monitor-cockroachdb.md
  docs/guides/monitor/lamp-stack.md
  docs/guides/monitor/pi-hole-raspberry-pi.md
  docs/monitor/enable-notifications.md
  docs/monitor/view-active-alarms.md
  docs/visualize/create-dashboards.md
  docs/visualize/interact-dashboards-charts.md
  health/notifications/pagerduty/README.md
  packaging/installer/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

fix broken links and remove what's next sections
  docs/cloud/manage/plans.md
  docs/cloud/manage/role-based-access.md
  docs/configure/common-changes.md
  docs/configure/nodes.md
  docs/configure/start-stop-restart.md
  docs/guides/configure/performance.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

fix broken links and remove what's next section
  docs/configure/nodes.md
  docs/export/external-databases.md
  docs/guides/configure/performance.md
  docs/guides/monitor/pi-hole-raspberry-pi.md
  exporting/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

link charts to rrdcontexts, if a query comes in and it is found unlinked
  database/rrdcontext.c
Owners: @thiagoftsm, @vkalintiris

Remove related links sections with broken links that link to removed files
  health/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

fix broken links
  collectors/COLLECTORS.md
  packaging/installer/methods/cloud-providers.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Fix warning on conversion unsigned vs int
  database/engine/datafile.c
Owners: @thiagoftsm, @vkalintiris

Re-index when machine guid changes (#14535)
  database/rrdhost.c
  web/api/web_api_v1.c
Owners: @thiagoftsm, @vkalintiris

calculate min, max, sum, average, volume, count per metric
  database/rrdcontext.c
  database/rrdcontext.h
  web/api/formatters/json_wrapper.c
  web/api/queries/query.c
  web/api/queries/rrdr.h
Owners: @thiagoftsm, @vkalintiris

Remove obsolete instruction to lower memory usage
  docs/guides/configure/performance.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Remove obsolete instruction to lower memory usage (#14568)
  docs/guides/configure/performance.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

api v2 parameters naming
  database/rrdcontext.h
  web/api/formatters/json_wrapper.c
  web/api/formatters/rrd2json.c
  web/api/queries/query.c
  web/api/queries/query.h
  web/api/web_api_v2.c
Owners: @thiagoftsm, @vkalintiris

Removed extra paren
  docs/cloud/manage/view-plan-billing.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update docs/cloud/manage/view-plan-billing.md
  docs/cloud/manage/view-plan-billing.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

reviewed plans page to be according to latest updates (#14560)
  docs/cloud/manage/view-plan-billing.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Fix broken links in our documentation (#14565)
  aclk/README.md
  collectors/COLLECTORS.md
  docs/category-overview-pages/integrations-overview.md
  docs/cloud/alerts-notifications/notifications.md
  docs/cloud/alerts-notifications/view-active-alerts.md
  docs/cloud/manage/plans.md
  docs/cloud/manage/role-based-access.md
  docs/cloud/visualize/nodes.md
  docs/configure/common-changes.md
  docs/configure/nodes.md
  docs/configure/start-stop-restart.md
  docs/dashboard/dimensions-contexts-families.md
  docs/dashboard/how-dashboard-works.md
  docs/export/external-databases.md
  docs/guides/configure/performance.md
  docs/guides/monitor-cockroachdb.md
  docs/guides/monitor/lamp-stack.md
  docs/guides/monitor/pi-hole-raspberry-pi.md
  docs/monitor/enable-notifications.md
  docs/monitor/view-active-alarms.md
  docs/visualize/create-dashboards.md
  docs/visualize/interact-dashboards-charts.md
  exporting/README.md
  health/README.md
  health/notifications/pagerduty/README.md
  ml/README.md
  packaging/installer/README.md
  packaging/installer/methods/cloud-providers.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

For each metric get the update every from the last page stored in the journal
  database/engine/journalfile.c
Owners: @thiagoftsm, @vkalintiris

Add kernel logs subsystem and device charts
  collectors/logsmanagement.plugin/plugin_logsmanagement_kernel.c
  collectors/logsmanagement.plugin/plugin_logsmanagement_kernel.h
  logsmanagement/flb_plugin.c
  logsmanagement/logsmanagement.c
  logsmanagement/logsmanagement.conf
  logsmanagement/parser.h
Owners: @thiagoftsm, @Ferroin

Fix doc capitalization and remove obsolete section
  collectors/cgroups.plugin/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Fix doc capitalization and remove obsolete section (#14569)
  collectors/cgroups.plugin/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Remove References category from learn
  cli/README.md
  daemon/README.md
  daemon/config/README.md
  docs/anonymous-statistics.md
  docs/category-overview-pages/developers-overview.md
  docs/category-overview-pages/integrations-overview.md
  docs/category-overview-pages/misc-overview.md
  docs/category-overview-pages/references-overview.md
  docs/dashboard/reference-web-server.md
  docs/metrics-storage-management/reference-streaming.md
  registry/README.md
  streaming/README.md
  web/gui/README.md
  web/server/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Remove References category from learn (#14571)
  cli/README.md
  daemon/README.md
  daemon/config/README.md
  docs/anonymous-statistics.md
  docs/category-overview-pages/developers-overview.md
  docs/category-overview-pages/integrations-overview.md
  docs/category-overview-pages/misc-overview.md
  docs/category-overview-pages/references-overview.md
  docs/dashboard/reference-web-server.md
  docs/metrics-storage-management/reference-streaming.md
  registry/README.md
  streaming/README.md
  web/gui/README.md
  web/server/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

wmi->windows leftovers
  collectors/COLLECTORS.md
  docs/collect/system-metrics.md
  health/Makefile.am
  health/REFERENCE.md
  health/health.d/windows.conf
Owners: @tkatsoulas, @andrewm4894, @cakrit, @Ferroin, @thiagoftsm, @MrZammler

bump go.d to v0.51.0
  packaging/go.d.checksums
  packaging/go.d.version
Owners: @Ferroin, @tkatsoulas

health: wmi->windows
  health/Makefile.am
  health/health.d/windows.conf
Owners: @Ferroin, @tkatsoulas, @thiagoftsm, @MrZammler

dashboard: wmi->windows
  web/gui/dashboard_info.js
Owners: @jacekkolasa

docs: wmi->windows
  collectors/COLLECTORS.md
  docs/collect/system-metrics.md
  health/REFERENCE.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

typos
  collectors/COLLECTORS.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

bump go.d to v0.51.0 (#14572)
  collectors/COLLECTORS.md
  docs/collect/system-metrics.md
  health/Makefile.am
  health/REFERENCE.md
  health/health.d/windows.conf
  packaging/go.d.checksums
  packaging/go.d.version
  web/gui/dashboard_info.js
Owners: @tkatsoulas, @andrewm4894, @cakrit, @Ferroin, @thiagoftsm, @MrZammler, @jacekkolasa

Skip collection of pre-existing logs in kmsg ring buffer
  collectors/logsmanagement.plugin/plugin_logsmanagement_kernel.c
  logsmanagement/flb_plugin.c
  logsmanagement/logsmanagement_conf.h
Owners: @thiagoftsm, @Ferroin
