Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

Update README.md
  README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

update config
  ml/Config.cc
Owners: @andrewm4894, @vkalintiris

Update README.md
  ml/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Wording fix in interact with charts doc (#15040)
  docs/cloud/visualize/interact-new-charts.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

debugfs_collector: Modify test to obsolete chart.
  collectors/debugfs.plugin/debugfs_zswap.c
Owners: @thiagoftsm

debugfs_collector: Unify chart creation; Add charttype and helper; Fix grouped charts
  collectors/debugfs.plugin/debugfs_plugin.c
  collectors/debugfs.plugin/debugfs_plugin.h
  collectors/debugfs.plugin/debugfs_zswap.c
Owners: @thiagoftsm

Small update ml defaults (#15046)
  ml/Config.cc
  ml/README.md
Owners: @andrewm4894, @vkalintiris, @tkatsoulas, @cakrit

debugfs_collector: Address a TODO
  collectors/debugfs.plugin/debugfs_plugin.c
  collectors/debugfs.plugin/debugfs_plugin.h
  collectors/debugfs.plugin/debugfs_zswap.c
Owners: @thiagoftsm

debugfs_collector: Use zone in lowercase
  collectors/debugfs.plugin/debugfs_extfrag.c
Owners: @thiagoftsm

debugfs_collector: Add chart labels
  collectors/debugfs.plugin/debugfs_extfrag.c
Owners: @thiagoftsm

debugfs_collector: Disable thread when we do not have metrics
  collectors/debugfs.plugin/debugfs_zswap.c
Owners: @thiagoftsm

[ci skip] Update changelog and version for nightly build: v1.39.0-20-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

debugfs_collector: Increment test for a value that makes more sense
  collectors/debugfs.plugin/debugfs_zswap.c
Owners: @thiagoftsm

Update SQLITE to version 3.41.2 (#15031)
  database/sqlite/sqlite3.h
Owners: @thiagoftsm, @vkalintiris

Reduce netdatacli size (#15024)
  Makefile.am
  cli/cli.c
Owners: @Ferroin, @tkatsoulas

load only latest alert events
  database/sqlite/sqlite_aclk_alert.c
  database/sqlite/sqlite_health.c
  database/sqlite/sqlite_health.h
  health/health.c
  health/health.h
  health/health_json.c
  health/health_log.c
  web/api/web_api_v1.c
Owners: @thiagoftsm, @vkalintiris, @MrZammler

use buffer
  database/sqlite/sqlite_health.c
Owners: @thiagoftsm, @vkalintiris

remove unused function
  health/health_json.c
Owners: @thiagoftsm, @vkalintiris, @MrZammler

remove another unused function
  health/health_json.c
Owners: @thiagoftsm, @vkalintiris, @MrZammler

remove trailing / from zswap module name
  collectors/debugfs.plugin/debugfs_plugin.c
Owners: @thiagoftsm

fix zswap dim algorithm
  collectors/debugfs.plugin/debugfs_zswap.c
Owners: @thiagoftsm

adjust extfrag context and labels
  collectors/debugfs.plugin/debugfs_extfrag.c
Owners: @thiagoftsm

debugfs_collector: Update metrics
  collectors/debugfs.plugin/metrics.csv
Owners: @thiagoftsm

debugfs_collector: Shutdown plugin when debugfs is not mounted
  collectors/debugfs.plugin/debugfs_plugin.c
Owners: @thiagoftsm

simplify zswap
  collectors/debugfs.plugin/debugfs_plugin.c
  collectors/debugfs.plugin/debugfs_plugin.h
  collectors/debugfs.plugin/debugfs_zswap.c
Owners: @thiagoftsm

fix zswap_reject_chart
  collectors/debugfs.plugin/debugfs_zswap.c
Owners: @thiagoftsm

disable debugfs if all modules are disabled
  collectors/debugfs.plugin/debugfs_plugin.c
Owners: @thiagoftsm

rename extfrag main function
  collectors/debugfs.plugin/debugfs_extfrag.c
  collectors/debugfs.plugin/debugfs_plugin.c
  collectors/debugfs.plugin/debugfs_plugin.h
Owners: @thiagoftsm

fix dockerfile
  packaging/docker/Dockerfile
Owners: @Ferroin, @tkatsoulas

update metrics.csv
  collectors/debugfs.plugin/metrics.csv
Owners: @thiagoftsm

remove zone label
  collectors/debugfs.plugin/debugfs_extfrag.c
Owners: @thiagoftsm

rearrange zswap charts order
  collectors/all.h
Owners: @thiagoftsm

reset capabilities var
  netdata-installer.sh
Owners: @Ferroin, @tkatsoulas

fix zswap charts priority
  collectors/debugfs.plugin/debugfs_zswap.c
Owners: @thiagoftsm

convert pages to bytes and add compress ratio
  collectors/all.h
  collectors/debugfs.plugin/debugfs_zswap.c
  collectors/debugfs.plugin/metrics.csv
Owners: @thiagoftsm

fix compression ratio calc
  collectors/debugfs.plugin/debugfs_zswap.c
Owners: @thiagoftsm

add debugfs label
  .github/labeler.yml
Owners: @Ferroin, @tkatsoulas

[ci skip] Update changelog and version for nightly build: v1.39.0-23-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

dont wait for execution again, check flag
  health/health.c
Owners: @thiagoftsm, @vkalintiris, @MrZammler

fix compress ratio
  collectors/debugfs.plugin/debugfs_zswap.c
  collectors/debugfs.plugin/metrics.csv
Owners: @thiagoftsm

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas
