Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

new_ebpf_option: Modify Softirq thread to use hash tables per core or not.
  collectors/ebpf.plugin/ebpf_softirq.c
Owners: @thiagoftsm

new_ebpf_option: add variable removed during rebase.
  collectors/ebpf.plugin/ebpf_process.c
Owners: @thiagoftsm

new_ebpf_option: Modify mount thread to use hash tables per core or not
  collectors/ebpf.plugin/ebpf_mount.c
Owners: @thiagoftsm

new_ebpf_option: Modify oomkiill thread to use hash tables per core or not and fix an issue that was hidden charts.
  collectors/ebpf.plugin/ebpf_oomkill.c
Owners: @thiagoftsm

new_ebpf_option: Modify Socket thread to use hash tables per core or not. It also adjsts the code to avoid some possible errors while it is reading data from different threads
  collectors/ebpf.plugin/ebpf_socket.c
Owners: @thiagoftsm

Update collectors/ebpf.plugin/README.md
  collectors/ebpf.plugin/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

new_ebpf_option: Move syncfs.sync_maps initialization avoiding errors on specific distributions.
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf_sync.c
  collectors/ebpf.plugin/ebpf_sync.h
Owners: @thiagoftsm

new_ebpf_option: Add new variables used to map each one of maps defined inside eBPF software.
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf_sync.c
  collectors/ebpf.plugin/ebpf_sync.h
Owners: @thiagoftsm

new_ebpf_option: Remove allocation keeping data in stack to address issue #14406. This commit is like the previous, but I am addressing another variable.
  collectors/ebpf.plugin/ebpf_hardirq.c
Owners: @thiagoftsm

new_ebpf_option: Modify sync thread to use either local maps or maps per core
  collectors/ebpf.plugin/ebpf_sync.c
Owners: @thiagoftsm

new_ebpf_option: Modify VFS thread to use hash tables per core or not. It also renames a function and update comments to simplify developers read.
  collectors/ebpf.plugin/ebpf_vfs.c
Owners: @thiagoftsm

new_ebpf_option: add variable removed during rebase.
  collectors/ebpf.plugin/ebpf_socket.c
Owners: @thiagoftsm

Update collectors/ebpf.plugin/README.md
  collectors/ebpf.plugin/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update collectors/ebpf.plugin/README.md
  collectors/ebpf.plugin/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

new_ebpf_option: Set socket to use only one hash table instead per cpu to save memory an avoid waste of resources
  collectors/ebpf.plugin/ebpf.d/network.conf
Owners: @thiagoftsm

new_ebpf_option: Modify swap thread to use hash tables per core or not. It also renames a function and update comments to simplify developers read.
  collectors/ebpf.plugin/ebpf_swap.c
Owners: @thiagoftsm

new_ebpf_option: Fix rebase
  collectors/ebpf.plugin/ebpf_hardirq.c
Owners: @thiagoftsm

new_ebpf_option: Modify a DC table that was set wrong.
  collectors/ebpf.plugin/ebpf_dcstat.c
Owners: @thiagoftsm

Update collectors/ebpf.plugin/README.md
  collectors/ebpf.plugin/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

new_ebpf_option: Modify SHM thread to use hash tables per core or not. It also renames a function and update comments to simplify developers read.
  collectors/ebpf.plugin/ebpf_shm.c
Owners: @thiagoftsm

new_ebpf_option: Move localfs.fs_maps initialization avoiding errors on specific distributions.
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf_filesystem.c
  collectors/ebpf.plugin/ebpf_filesystem.h
  libnetdata/ebpf/ebpf.c
Owners: @thiagoftsm, @vkalintiris

Update collectors/ebpf.plugin/README.md
  collectors/ebpf.plugin/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

new_ebpf_option: Add additional information given a complete idea about this issue for users
  collectors/ebpf.plugin/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

new_ebpf_option: Fix ebpf.c code to compile with new functions
  collectors/ebpf.plugin/ebpf.c
Owners: @thiagoftsm

new_ebpf_option: Add sync variable like we did for filesystem to have a map vector per software
  libnetdata/ebpf/ebpf.h
Owners: @thiagoftsm, @vkalintiris

new_ebpf_option: Add new chart to help users to understand how plugin is working with hash/array tables.
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_process.c
  collectors/ebpf.plugin/ebpf_process.h
Owners: @thiagoftsm

[ci skip] Update changelog and version for nightly build: v1.39.0-7-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

debugfs_collector: Format structure
  collectors/debugfs.plugin/debugfs_zswap.c
Owners: @thiagoftsm

debugfs_collector: Add new variables to parse values before to send data and split charts
  collectors/debugfs.plugin/debugfs_zswap.c
Owners: @thiagoftsm

debugfs_collector: Split vector in two group: independent charts and associated charts
  collectors/debugfs.plugin/debugfs_zswap.c
Owners: @thiagoftsm

debugfs_collector: Split function used to plot chart. I am also modifying internal algorithm for original function only collect data. The new function is responsible to create independent charts.
  collectors/debugfs.plugin/debugfs_zswap.c
Owners: @thiagoftsm

debugfs_collector: Rename vector
  collectors/debugfs.plugin/debugfs_zswap.c
Owners: @thiagoftsm

debugfs_collector: Cleanup header; add new helper to plot grouped chart; update dimensions
  collectors/all.h
  collectors/debugfs.plugin/debugfs_zswap.c
Owners: @thiagoftsm

debugfs_collector: Move contents from source code to dashboard_info
  collectors/debugfs.plugin/debugfs_zswap.c
  web/gui/dashboard_info.js
Owners: @thiagoftsm, @jacekkolasa

debugfs_collector: Move contents inside dashbard_info and improve description
  web/gui/dashboard_info.js
Owners: @jacekkolasa

debugfs_collector: Upddate units and title
  collectors/debugfs.plugin/debugfs_zswap.c
Owners: @thiagoftsm

debugfs_collector: Upddate name inside debugfs_modules
  collectors/debugfs.plugin/debugfs_plugin.c
Owners: @thiagoftsm

debugfs_collector: Rename file and modify autoconf and cmake
  CMakeLists.txt
  Makefile.am
  collectors/debugfs.plugin/debugfs_extfrag.c
Owners: @Ferroin, @tkatsoulas, @thiagoftsm

Wording fix in interact with charts doc
  docs/cloud/visualize/interact-new-charts.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Reduce netdatacli size
  Makefile.am
  cli/cli.c
Owners: @Ferroin, @tkatsoulas

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas
