Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

Revert "Use static thread-pool for training. (#14702)" (#14782)
  daemon/global_statistics.c
  daemon/main.c
  daemon/main.h
  database/rrdhost.c
  ml/Config.cc
  ml/ad_charts.cc
  ml/ad_charts.h
  ml/ml-dummy.c
  ml/ml-private.h
  ml/ml.cc
  ml/ml.h
Owners: @thiagoftsm, @vkalintiris, @andrewm4894

Update dashboard to version v2.30.1.
  web/gui/dashboard/Makefile.am
  web/gui/dashboard/asset-manifest.json
  web/gui/dashboard/index.html
  web/gui/dashboard/precache-manifest.21dcd7c609bff6504512face054c360f.js
  web/gui/dashboard/precache-manifest.254cf772b5f11952f30987521c3b684c.js
  web/gui/dashboard/service-worker.js
  web/gui/dashboard/static/js/2.ae48988e.chunk.js.LICENSE
  web/gui/dashboard/static/js/2.e8fa8919.chunk.js.LICENSE
  web/gui/dashboard/static/js/main.76dfe4de.chunk.js
  web/gui/dashboard/static/js/main.76dfe4de.chunk.js.LICENSE
  web/gui/dashboard/static/js/main.76dfe4de.chunk.js.map
  web/gui/dashboard/static/js/main.e40a898a.chunk.js
  web/gui/dashboard/static/js/main.e40a898a.chunk.js.LICENSE
  web/gui/dashboard/static/js/main.e40a898a.chunk.js.map
Owners: @Ferroin, @tkatsoulas, @jacekkolasa

Update dashboard to version v2.30.1. (#14784)
  web/gui/dashboard/Makefile.am
  web/gui/dashboard/asset-manifest.json
  web/gui/dashboard/index.html
  web/gui/dashboard/precache-manifest.21dcd7c609bff6504512face054c360f.js
  web/gui/dashboard/precache-manifest.254cf772b5f11952f30987521c3b684c.js
  web/gui/dashboard/service-worker.js
  web/gui/dashboard/static/js/2.ae48988e.chunk.js.LICENSE
  web/gui/dashboard/static/js/2.e8fa8919.chunk.js.LICENSE
  web/gui/dashboard/static/js/main.76dfe4de.chunk.js
  web/gui/dashboard/static/js/main.76dfe4de.chunk.js.LICENSE
  web/gui/dashboard/static/js/main.76dfe4de.chunk.js.map
  web/gui/dashboard/static/js/main.e40a898a.chunk.js
  web/gui/dashboard/static/js/main.e40a898a.chunk.js.LICENSE
  web/gui/dashboard/static/js/main.e40a898a.chunk.js.map
Owners: @Ferroin, @tkatsoulas, @jacekkolasa

Update journal v2 (#14750)
  database/engine/journalfile.c
  database/engine/journalfile.h
  database/engine/pagecache.c
  database/sqlite/sqlite_functions.c
Owners: @thiagoftsm, @vkalintiris

/api/v2/X part 5 (#14718)
  aclk/aclk_query.c
  database/contexts/api_v2.c
  database/contexts/instance.c
  database/contexts/internal.h
  database/contexts/metric.c
  database/contexts/query_scope.c
  database/contexts/query_target.c
  database/contexts/rrdcontext.c
  database/contexts/rrdcontext.h
  database/rrd.h
  health/health_log.c
  libnetdata/buffer/buffer.h
  libnetdata/dictionary/dictionary.c
  libnetdata/dictionary/dictionary.h
  libnetdata/libnetdata.h
  streaming/rrdpush.c
  web/api/formatters/csv/csv.c
  web/api/formatters/json/json.c
  web/api/formatters/json_wrapper.c
  web/api/formatters/json_wrapper.h
  web/api/formatters/rrd2json.c
  web/api/formatters/rrd2json.h
  web/api/formatters/value/value.c
  web/api/formatters/value/value.h
  web/api/netdata-swagger.yaml
  web/api/queries/query.c
  web/api/queries/rrdr.c
  web/api/queries/rrdr.h
  web/api/queries/weights.c
  web/api/queries/weights.h
  web/api/web_api.c
  web/api/web_api.h
  web/api/web_api_v1.c
  web/api/web_api_v1.h
  web/api/web_api_v2.c
  web/server/web_client.h
Owners: @stelfrag, @underhood, @thiagoftsm, @vkalintiris, @MrZammler

additional check for consistency of rrdr
  web/api/queries/weights.c
Owners: @thiagoftsm, @vkalintiris

replace uuid_compare() with uuid_memcmp() everywhere where the order is not important but equality is
  database/contexts/instance.c
  database/contexts/metric.c
  database/contexts/rrdcontext.c
  database/engine/pagecache.c
  database/engine/rrdengine.c
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
  database/sqlite/sqlite_aclk.h
  database/sqlite/sqlite_aclk_alert.c
  database/sqlite/sqlite_functions.c
  libnetdata/inlined.h
Owners: @thiagoftsm, @vkalintiris

do not query the host if the contexts are not initialized for it
  database/contexts/query_scope.c
Owners: @thiagoftsm, @vkalintiris

[ci skip] Update changelog and version for nightly build: v1.38.0-290-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

uuid_compare() replaced with uuid_memcmp() (#14787)
  database/contexts/instance.c
  database/contexts/metric.c
  database/contexts/rrdcontext.c
  database/engine/pagecache.c
  database/engine/rrdengine.c
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
  database/sqlite/sqlite_aclk.h
  database/sqlite/sqlite_aclk_alert.c
  database/sqlite/sqlite_functions.c
  libnetdata/inlined.h
Owners: @thiagoftsm, @vkalintiris

/api/v2/X part 6 (#14785)
  database/contexts/query_scope.c
  web/api/queries/weights.c
Owners: @thiagoftsm, @vkalintiris

Schedule node info to the cloud after child connection
  aclk/aclk.c
  aclk/aclk.h
  database/rrdhost.c
  database/sqlite/sqlite_aclk.c
  database/sqlite/sqlite_aclk.h
  database/sqlite/sqlite_aclk_node.c
  database/sqlite/sqlite_metadata.c
  streaming/receiver.c
Owners: @stelfrag, @underhood, @thiagoftsm, @vkalintiris

use mCores in k8s cgroup cpu charts
  collectors/cgroups.plugin/sys_fs_cgroup.c
Owners: @thiagoftsm

mCores -> mCPU
  collectors/cgroups.plugin/sys_fs_cgroup.c
Owners: @thiagoftsm

Remove debug code
  database/sqlite/sqlite_aclk_node.c
Owners: @thiagoftsm, @vkalintiris

use mCPU in k8s cgroup cpu charts title (#14791)
  collectors/cgroups.plugin/sys_fs_cgroup.c
Owners: @thiagoftsm

Fix handling of logrotate on static installs.
  packaging/installer/functions.sh
  packaging/makeself/install-or-update.sh
Owners: @Ferroin, @tkatsoulas

Correctly fix handling of logrotate config in static builds.
  packaging/installer/functions.sh
  packaging/makeself/install-or-update.sh
  packaging/makeself/jobs/99-makeself.install.sh
Owners: @Ferroin, @tkatsoulas

capitalization on readme
  collectors/plugins.d/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Fix capitalization on readme (#14793)
  collectors/plugins.d/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update README.md
  collectors/python.d.plugin/pandas/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Fix links in README.md (#14794)
  collectors/python.d.plugin/pandas/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update cgroup-name.sh
  collectors/cgroups.plugin/cgroup-name.sh
Owners: @thiagoftsm

replace redirected links
  health/REFERENCE.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

replace /docs links with their absolute GitHub link counterparts
  docs/cloud/insights/metric-correlations.md
  docs/cloud/visualize/dashboards.md
  docs/cloud/visualize/interact-new-charts.md
  docs/cloud/visualize/nodes.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update REFERENCE.md
  health/REFERENCE.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

/api/v2/weights, points key renamed to result
  web/api/queries/weights.c
Owners: @thiagoftsm, @vkalintiris

Schedule localhost node info within 5 seconds of startup. If no children are detected Or a child connects (switch to immediate localhost node info update)
  database/sqlite/sqlite_aclk.c
Owners: @thiagoftsm, @vkalintiris

[ci skip] Update changelog and version for nightly build: v1.38.0-296-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

Schedule node info to the cloud after child connection (#14790)
  aclk/aclk.c
  aclk/aclk.h
  database/rrdhost.c
  database/sqlite/sqlite_aclk.c
  database/sqlite/sqlite_aclk.h
  database/sqlite/sqlite_aclk_node.c
  database/sqlite/sqlite_metadata.c
  streaming/receiver.c
Owners: @stelfrag, @underhood, @thiagoftsm, @vkalintiris

/api/v2/weights, add node ids in response
  web/api/queries/weights.c
Owners: @thiagoftsm, @vkalintiris

Fix handling of logrotate on static installs. (#14792)
  packaging/installer/functions.sh
  packaging/makeself/jobs/99-makeself.install.sh
Owners: @Ferroin, @tkatsoulas

Add a systemd preset file so the service is enabled by default.
  netdata.spec.in
  system/Makefile.am
  system/install-service.sh.in
  system/systemd/50-netdata.preset
Owners: @Ferroin, @tkatsoulas

add GCP data validation
  daemon/system-info.sh
Owners: @thiagoftsm, @vkalintiris

Replace `/docs` links with GitHub links (#14796)
  docs/cloud/insights/metric-correlations.md
  docs/cloud/visualize/dashboards.md
  docs/cloud/visualize/interact-new-charts.md
  docs/cloud/visualize/nodes.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Sanitize chart ids
  collectors/logsmanagement.plugin/plugin_logsmanagement.c
  collectors/logsmanagement.plugin/plugin_logsmanagement_generic.c
  collectors/logsmanagement.plugin/plugin_logsmanagement_kernel.c
  collectors/logsmanagement.plugin/plugin_logsmanagement_systemd.c
  collectors/logsmanagement.plugin/plugin_logsmanagement_web_log.c
Owners: @thiagoftsm

Add more dashboard descriptions
  collectors/logsmanagement.plugin/plugin_logsmanagement_docker_ev.c
  web/gui/dashboard_info.js
Owners: @thiagoftsm, @jacekkolasa

Rename 'rows' to 'records' in charts
  collectors/logsmanagement.plugin/plugin_logsmanagement_docker_ev.c
  collectors/logsmanagement.plugin/plugin_logsmanagement_generic.c
  collectors/logsmanagement.plugin/plugin_logsmanagement_kernel.c
  collectors/logsmanagement.plugin/plugin_logsmanagement_systemd.c
  collectors/logsmanagement.plugin/plugin_logsmanagement_web_log.c
Owners: @thiagoftsm

Add Netdata error.log parsing
  collectors/logsmanagement.plugin/plugin_logsmanagement.c
  logsmanagement/logsmanagement.c
  logsmanagement/logsmanagement.conf
  web/gui/dashboard_info.js
Owners: @thiagoftsm, @Ferroin, @jacekkolasa

Move logging to collector.log in plugin_logsmanagement.c
  collectors/logsmanagement.plugin/plugin_logsmanagement.c
Owners: @thiagoftsm

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas
