Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

Replace "XYZ view" with "XYZ tab" in documentation files (#14930)
  claim/README.md
  docs/category-overview-pages/secure-nodes.md
  docs/cloud/runtime-troubleshooting-with-functions.md
  docs/cloud/visualize/dashboards.md
  docs/cloud/visualize/interact-new-charts.md
  docs/cloud/visualize/nodes.md
  docs/cloud/war-rooms.md
  docs/glossary.md
  docs/monitor/view-active-alarms.md
  docs/quickstart/infrastructure.md
  docs/visualize/overview-infrastructure.md
  exporting/graphite/README.md
  packaging/docker/README.md
  packaging/installer/methods/kubernetes.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Add Docker instructions to enable Nvidia GPUs (#14924)
  collectors/python.d.plugin/nvidia_smi/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Fix bug of circ buffs not being read if head == read but not empty
  logsmanagement/circular_buffer.c
  logsmanagement/helper.h
Owners: @Ferroin

fix 32bit segv
  libnetdata/threads/threads.c
Owners: @thiagoftsm, @vkalintiris

fix 32bit segv (#14940)
  libnetdata/threads/threads.c
Owners: @thiagoftsm, @vkalintiris

[ci skip] Update changelog and version for nightly build: v1.38.0-411-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

change_hardirq_read: Fix issues associated to cgroup integration
  collectors/cgroups.plugin/sys_fs_cgroup.c
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf_cgroup.c
  collectors/ebpf.plugin/ebpf_cgroup.h
  collectors/ebpf.plugin/ebpf_process.h
Owners: @thiagoftsm

change_hardirq_read: Modify ebpf_mapped_memory data type to match memory mappedd
  collectors/ebpf.plugin/ebpf_cgroup.c
Owners: @thiagoftsm

Skip alert template variables from alert snapshots (#14763)
  database/sqlite/sqlite_aclk_alert.c
Owners: @thiagoftsm, @vkalintiris

Add a checkpoint message to alerts stream (#14847)
  aclk/aclk.c
  aclk/aclk.h
  aclk/aclk_alarm_api.c
  aclk/aclk_alarm_api.h
  aclk/aclk_capas.c
  aclk/aclk_query.c
  aclk/aclk_query_queue.h
  aclk/aclk_rx_msgs.c
  aclk/aclk_util.c
  aclk/aclk_util.h
  aclk/schema-wrappers/alarm_stream.cc
  aclk/schema-wrappers/alarm_stream.h
  aclk/schema-wrappers/proto_2_json.cc
  database/sqlite/sqlite_aclk.c
  database/sqlite/sqlite_aclk.h
  database/sqlite/sqlite_aclk_alert.c
  database/sqlite/sqlite_aclk_alert.h
  health/health.c
  libnetdata/libnetdata.c
  libnetdata/libnetdata.h
Owners: @stelfrag, @underhood, @thiagoftsm, @vkalintiris, @MrZammler

Improve help message
  daemon/commands.c
Owners: @thiagoftsm, @vkalintiris

Remove netdatacli response size limitation (#14906)
  cli/cli.c
  daemon/commands.c
  daemon/commands.h
  libnetdata/buffer/buffer.h
Owners: @Ferroin, @thiagoftsm, @vkalintiris

minimal httpd server
  Makefile.am
  daemon/common.h
  daemon/main.c
  daemon/static_threads.c
  httpd/http_server.c
  httpd/http_server.h
Owners: @Ferroin, @tkatsoulas, @thiagoftsm, @vkalintiris

add various helper utils for h2o
  httpd/h2o_utils.c
  httpd/h2o_utils.h
Owners: @Ferroin

installer build libh2o.a
  netdata-installer.sh
Owners: @Ferroin, @tkatsoulas

link libh2o and build httpd
  Makefile.am
  configure.ac
Owners: @Ferroin, @tkatsoulas

fix for libh2o 2.2.6 vs latest master (used in my dev branch)
  httpd/h2o_utils.c
Owners: @Ferroin

report individual steps
  netdata-installer.sh
Owners: @Ferroin, @tkatsoulas

add buffer -> h2o_iovec helper fnc
  libnetdata/buffer/buffer.c
  libnetdata/buffer/buffer.h
Owners: @thiagoftsm, @vkalintiris

add h2o tag v2.2.6
  .gitmodules
Owners: @Ferroin

add endline at end of yaml
  .github/codeql/c-cpp-config.yml
Owners: @Ferroin, @tkatsoulas

ignore untracked file in submodule h2o
  .gitmodules
Owners: @Ferroin

Revert "attempt rpm fix"
  netdata.spec.in
  packaging/bundle-h2o.sh
Owners: @Ferroin, @tkatsoulas

add missing netdata.conf generator
  httpd/http_server.c
Owners: @Ferroin

attempt rpm fix
  netdata.spec.in
  packaging/bundle-h2o.sh
Owners: @Ferroin, @tkatsoulas

Revert "installer build libh2o.a"
  netdata-installer.sh
Owners: @Ferroin, @tkatsoulas

build ourselves
  Makefile.am
Owners: @Ferroin, @tkatsoulas

Revert "try deb fix"
  contrib/debian/rules
Owners: @Ferroin, @tkatsoulas

fix bug causing conntentype errors
  httpd/http_server.c
Owners: @Ferroin

dist h2o sources
  Makefile.am
Owners: @Ferroin, @tkatsoulas

try deb fix
  contrib/debian/rules
Owners: @Ferroin, @tkatsoulas

attempt to skip codeql on external sources
  .github/codeql/c-cpp-config.yml
  .github/workflows/codeql.yml
Owners: @Ferroin, @tkatsoulas

Add children support
  httpd/http_server.c
Owners: @Ferroin

add HTTPD to buildinfo
  daemon/buildinfo.c
Owners: @thiagoftsm, @vkalintiris

include only when built
  daemon/common.h
Owners: @thiagoftsm, @vkalintiris

move HTTP related defines to libnetdata
  CMakeLists.txt
  Makefile.am
  libnetdata/http/http_defs.h
  libnetdata/libnetdata.h
  web/server/web_client.h
Owners: @Ferroin, @tkatsoulas, @thiagoftsm, @vkalintiris

reduce amount of warnning produced by h2o compilation
  Makefile.am
Owners: @Ferroin, @tkatsoulas

usel TLS on newer SSL
  httpd/http_server.c
Owners: @Ferroin

use http coodes from httpd_defs.h
  httpd/http_server.c
Owners: @Ferroin

fix build error
  Makefile.am
Owners: @Ferroin, @tkatsoulas

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas
