Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

fix redirects, again
  web/server/web_client.c
Owners: @thiagoftsm, @vkalintiris

write cookies directly to the header buffer, eliminating the need for cookie structures in web client
  registry/registry.c
  web/server/web_client.c
  web/server/web_client.h
Owners: @jacekkolasa, @thiagoftsm, @vkalintiris

reset the has_cookies flag
  web/server/web_client.c
Owners: @thiagoftsm, @vkalintiris

gathered all web client cleanup to one function
  web/server/web_client.c
Owners: @thiagoftsm, @vkalintiris

fixes redirects
  web/server/web_client.c
Owners: @thiagoftsm, @vkalintiris

change_hardirq_read: Add new flag and update related variables. I am also removing an uncessary set of variable, because we are allocating with mallocz
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.h
Owners: @thiagoftsm

change_hardirq_read: Remove munmap avoiding SIGABRT on EC2
  collectors/ebpf.plugin/ebpf.c
Owners: @thiagoftsm

change_hardirq_read: Fix issue reported by libasan that was source of SIGABRT in some systems. This commit also returns remove munmap call while I was debuging.
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf_cgroup.c
Owners: @thiagoftsm

change_hardirq_read: Fix cast.
  collectors/ebpf.plugin/ebpf_cgroup.c
Owners: @thiagoftsm

Update suggested replication setups
  diagrams/simple-parent-child.xml
  docs/metrics-storage-management/enable-streaming.md
Owners: @Ferroin, @tkatsoulas, @andrewm4894, @cakrit

Add dot
  docs/metrics-storage-management/enable-streaming.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update suggested replication setups (#14914)
  diagrams/simple-parent-child.xml
  docs/metrics-storage-management/enable-streaming.md
Owners: @Ferroin, @tkatsoulas, @andrewm4894, @cakrit

Update change-metrics-storage.md
  docs/store/change-metrics-storage.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Add section for scaling parent nodes (#14915)
  docs/store/change-metrics-storage.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Add windows diagram
  diagrams/windows.xml
Owners: @Ferroin

Add windows diagram (#14916)
  diagrams/windows.xml
Owners: @Ferroin

fix judyltablesgen crosscompile (#14349)
  libnetdata/libjudy/src/JudyL/JudyLTablesGen.c
Owners: @thiagoftsm, @vkalintiris

change_hardirq_read: Modify the thread variable usage avoiding confusion between and
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf_cachestat.c
  collectors/ebpf.plugin/ebpf_dcstat.c
  collectors/ebpf.plugin/ebpf_disk.c
  collectors/ebpf.plugin/ebpf_fd.c
  collectors/ebpf.plugin/ebpf_filesystem.c
  collectors/ebpf.plugin/ebpf_hardirq.c
  collectors/ebpf.plugin/ebpf_mdflush.c
  collectors/ebpf.plugin/ebpf_mount.c
  collectors/ebpf.plugin/ebpf_oomkill.c
  collectors/ebpf.plugin/ebpf_process.c
  collectors/ebpf.plugin/ebpf_shm.c
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_softirq.c
  collectors/ebpf.plugin/ebpf_swap.c
  collectors/ebpf.plugin/ebpf_sync.c
  collectors/ebpf.plugin/ebpf_vfs.c
Owners: @thiagoftsm

change_hardirq_read: Transfer for OS the cleanup, because on EC2 these are creating SIGABRT that never appears on other distributions
  collectors/ebpf.plugin/ebpf.c
Owners: @thiagoftsm

change_hardirq_read: Use mutex avoiding access violation
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf_cgroup.c
Owners: @thiagoftsm

[ci skip] Update changelog and version for nightly build: v1.38.0-387-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

change docusaurus admonitions to our style of admonitions
  aclk/README.md
  daemon/config/README.md
  docs/cloud/manage/plans.md
  docs/cloud/spaces.md
  docs/cloud/visualize/interact-new-charts.md
  docs/guides/troubleshoot/troubleshooting-agent-with-cloud-connection.md
  packaging/installer/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

remove RX_MSGLEN_MAX
  aclk/aclk.c
Owners: @stelfrag, @underhood

Apply suggestions from code review
  docs/cloud/manage/plans.md
  packaging/installer/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Fix warnings and error when compiling with --disable-dbengine
  database/rrd.h
  streaming/replication.c
  web/api/queries/weights.c
Owners: @thiagoftsm, @vkalintiris

change docusaurus admonitions to our style of admonitions (#14917)
  aclk/README.md
  daemon/config/README.md
  docs/cloud/manage/plans.md
  docs/cloud/spaces.md
  docs/cloud/visualize/interact-new-charts.md
  docs/guides/troubleshoot/troubleshooting-agent-with-cloud-connection.md
  packaging/installer/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Apply ML changes again.
  daemon/global_statistics.c
  daemon/main.c
  daemon/main.h
  database/rrdhost.c
  ml/Config.cc
  ml/ad_charts.cc
  ml/ad_charts.h
  ml/ml-dummy.c
  ml/ml-private.h
  ml/ml.cc
  ml/ml.h
Owners: @thiagoftsm, @vkalintiris, @andrewm4894

Do not start/stop ML threads when ML is disabled.
  ml/Config.cc
  ml/ml.cc
Owners: @andrewm4894, @vkalintiris

minor - remove RX_MSGLEN_MAX (#14918)
  aclk/aclk.c
Owners: @stelfrag, @underhood

Fix warnings and error when compiling with --disable-dbengine (#14919)
  database/rrd.h
  streaming/replication.c
  web/api/queries/weights.c
Owners: @thiagoftsm, @vkalintiris

change_hardirq_read: Cleanup variable avoiding necessity to use lock.
  collectors/ebpf.plugin/ebpf_cachestat.c
  collectors/ebpf.plugin/ebpf_dcstat.c
  collectors/ebpf.plugin/ebpf_disk.c
  collectors/ebpf.plugin/ebpf_fd.c
  collectors/ebpf.plugin/ebpf_filesystem.c
  collectors/ebpf.plugin/ebpf_hardirq.c
  collectors/ebpf.plugin/ebpf_mdflush.c
  collectors/ebpf.plugin/ebpf_mount.c
  collectors/ebpf.plugin/ebpf_oomkill.c
  collectors/ebpf.plugin/ebpf_process.c
  collectors/ebpf.plugin/ebpf_shm.c
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_softirq.c
  collectors/ebpf.plugin/ebpf_swap.c
  collectors/ebpf.plugin/ebpf_sync.c
  collectors/ebpf.plugin/ebpf_vfs.c
Owners: @thiagoftsm

change_hardirq_read: Move enum declaration and change variable type.
  collectors/ebpf.plugin/ebpf.h
  libnetdata/ebpf/ebpf.h
Owners: @thiagoftsm, @vkalintiris

Restore default config settings.
  ml/Config.cc
Owners: @andrewm4894, @vkalintiris

Fix/introduce links inside charts.d.plugin documentation (#14884)
  collectors/charts.d.plugin/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

change_hardirq_read: Remove conditinal variable and modify function ebpf_start_pthread_variables according to necessity
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.h
Owners: @thiagoftsm

bump go.d.plugin to v0.52.1
  packaging/go.d.checksums
  packaging/go.d.version
Owners: @Ferroin, @tkatsoulas

adjust docker_unhealthy_containers alarm
  health/health.d/dockerd.conf
Owners: @thiagoftsm, @MrZammler

rename dockerd.conf to docker.conf
  health/Makefile.am
  health/health.d/docker.conf
Owners: @Ferroin, @tkatsoulas, @thiagoftsm, @MrZammler

change alarm to be per container
  health/health.d/docker.conf
Owners: @thiagoftsm, @MrZammler

Document CetusGuard as a Docker socket proxy solution (#14806)
  collectors/cgroups.plugin/README.md
  packaging/docker/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas
