Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @stelfrag, @underhood, @vlvkobal, @thiagoftsm, @ilyam8, @simonnagl, @vkalintiris, @DShreve2, @andrewm4894, @jacekkolasa, @netdatabot

fix for the msg of the adaptive buffer size
  streaming/sender.c
Owners: @thiagoftsm, @vlvkobal

fix for the msg of the duplicate replication commands
  streaming/sender.c
Owners: @thiagoftsm, @vlvkobal

Disable descriptor deletion during migration
  database/engine/journalfile.c
Owners: @thiagoftsm, @vkalintiris

Detect descriptor with same start page time
  database/engine/pagecache.c
Owners: @thiagoftsm, @vkalintiris

remove python.d/nginx_plus (#13995)
  collectors/python.d.plugin/Makefile.am
  collectors/python.d.plugin/nginx_plus/Makefile.inc
  collectors/python.d.plugin/nginx_plus/README.md
  collectors/python.d.plugin/nginx_plus/nginx_plus.chart.py
  collectors/python.d.plugin/nginx_plus/nginx_plus.conf
  collectors/python.d.plugin/python.d.conf
Owners: @Ferroin, @ilyam8, @DShreve2

sender sorts replication requests before fullfilling them; receiver does not send duplicate replication requests
  collectors/plugins.d/pluginsd_parser.c
  database/rrd.h
  libnetdata/dictionary/dictionary.c
  libnetdata/dictionary/dictionary.h
  streaming/receiver.c
  streaming/sender.c
Owners: @vlvkobal, @thiagoftsm, @vkalintiris

dbengine never allows past timestamps to be collected
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
Owners: @thiagoftsm, @vkalintiris

do not accept values same as last data point stored in dbengine
  database/engine/rrdengineapi.c
Owners: @thiagoftsm, @vkalintiris

replicate non-overlapping ranges
  streaming/replication.c
Owners: @thiagoftsm, @vlvkobal

a better replication logic to avoid sending overlapping data to parents
  streaming/replication.c
Owners: @thiagoftsm, @vlvkobal

Do not start journal migration in parallel
  database/engine/journalfile.c
  database/engine/rrdengine.c
Owners: @thiagoftsm, @vkalintiris

Always update page index times
  database/engine/pagecache.c
Owners: @thiagoftsm, @vkalintiris

Fix page index first / last times on load
  database/engine/journalfile.c
Owners: @thiagoftsm, @vkalintiris

[ci skip] Update changelog and version for nightly build: v1.36.0-351-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin

internal log when replication responses do not match the requests or when replication commands are sent while there are others inflight
  collectors/plugins.d/pluginsd_parser.c
  database/rrd.h
  streaming/replication.c
Owners: @vlvkobal, @thiagoftsm, @vkalintiris

do not log out of bounds RBEGIN if it is the last replication command we sent
  collectors/plugins.d/pluginsd_parser.c
Owners: @vlvkobal

better checking of past data collection points
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
Owners: @thiagoftsm, @vkalintiris

better checking of past data collection points - optimized
  database/engine/rrdengineapi.c
Owners: @thiagoftsm, @vkalintiris

fixes
  aclk/aclk_capas.c
  database/sqlite/sqlite_aclk_node.c
Owners: @stelfrag, @underhood, @thiagoftsm, @vkalintiris

dont send PUBACK on QOS0 (#6)
  src/mqtt_ng.c
Owners: @Ferroin

freez
  database/sqlite/sqlite_aclk_node.c
Owners: @thiagoftsm, @vkalintiris

fix corruption during decompression of streaming
  streaming/compression.c
  streaming/receiver.c
Owners: @thiagoftsm, @vlvkobal

Publish nightly builds to netdata/netdata-nightlies repository. (#13961)
  .github/workflows/build.yml
Owners: @Ferroin

children disable compression globally, only when the compression gives an error
  streaming/sender.c
  web/api/web_api_v1.c
Owners: @thiagoftsm, @vlvkobal, @vkalintiris

turn boolean member into RRDHOST OPTION
  database/rrd.h
  database/rrdhost.c
  streaming/replication.c
Owners: @thiagoftsm, @vkalintiris, @vlvkobal

Compilation warnings
  database/engine/datafile.c
  database/engine/journalfile.c
Owners: @thiagoftsm, @vkalintiris

Remove unused code
  database/engine/rrdengine.c
  database/engine/rrdengineapi.c
Owners: @thiagoftsm, @vkalintiris

replication sender statistics
  streaming/rrdpush.h
  streaming/sender.c
Owners: @thiagoftsm, @vlvkobal

replication sender statistics set to 100% when no replication requests are pending
  streaming/sender.c
Owners: @thiagoftsm, @vlvkobal

Fix casting warning
  database/engine/journalfile.c
Owners: @thiagoftsm, @vkalintiris

New journal disk based indexing for agent memory reduction (#13885)
  collectors/plugins.d/pluginsd_parser.c
  daemon/global_statistics.c
  daemon/main.c
  database/engine/datafile.c
  database/engine/datafile.h
  database/engine/journalfile.c
  database/engine/journalfile.h
  database/engine/pagecache.c
  database/engine/pagecache.h
  database/engine/rrdengine.c
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
  database/engine/rrdengineapi.h
  database/engine/rrdenglocking.c
  database/engine/rrdenglocking.h
  database/rrd.h
  database/rrddim.c
  database/rrdhost.c
  database/rrdset.c
  libnetdata/arrayalloc/arrayalloc.c
  libnetdata/dictionary/dictionary.c
  libnetdata/dictionary/dictionary.h
  libnetdata/libnetdata.c
  libnetdata/libnetdata.h
  streaming/compression.c
  streaming/receiver.c
  streaming/replication.c
  streaming/rrdpush.h
  streaming/sender.c
  web/api/web_api_v1.c
Owners: @vlvkobal, @thiagoftsm, @vkalintiris

Add 'funcs' capability (#13992)
  CMakeLists.txt
  Makefile.am
  aclk/aclk.c
  aclk/aclk_capas.c
  aclk/aclk_capas.h
  aclk/aclk_rx_msgs.c
  aclk/aclk_tx_msgs.c
  aclk/schema-wrappers/capability.cc
  aclk/schema-wrappers/capability.h
  aclk/schema-wrappers/connection.cc
  aclk/schema-wrappers/connection.h
  aclk/schema-wrappers/node_connection.cc
  aclk/schema-wrappers/node_connection.h
  database/sqlite/sqlite_aclk_node.c
Owners: @Ferroin, @stelfrag, @underhood, @thiagoftsm, @vkalintiris

enable dbengine tiering by default (#13914)
  daemon/main.c
  database/engine/rrdengineapi.c
  database/engine/rrdenginelib.c
  database/rrd.h
  database/rrdhost.c
Owners: @thiagoftsm, @vkalintiris

Revert "enable dbengine tiering by default (#13914)"
  daemon/main.c
  database/engine/rrdengineapi.c
  database/engine/rrdenginelib.c
  database/rrd.h
  database/rrdhost.c
Owners: @thiagoftsm, @vkalintiris

Revert "enable dbengine tiering by default" (#13999)
  daemon/main.c
  database/engine/rrdengineapi.c
  database/engine/rrdenginelib.c
  database/rrd.h
  database/rrdhost.c
Owners: @thiagoftsm, @vkalintiris

Revert "New journal disk based indexing for agent memory reduction (#13885)"
  collectors/plugins.d/pluginsd_parser.c
  daemon/global_statistics.c
  daemon/main.c
  database/engine/datafile.c
  database/engine/datafile.h
  database/engine/journalfile.c
  database/engine/journalfile.h
  database/engine/pagecache.c
  database/engine/pagecache.h
  database/engine/rrdengine.c
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
  database/engine/rrdengineapi.h
  database/engine/rrdenglocking.c
  database/engine/rrdenglocking.h
  database/rrd.h
  database/rrddim.c
  database/rrdhost.c
  database/rrdset.c
  libnetdata/arrayalloc/arrayalloc.c
  libnetdata/dictionary/dictionary.c
  libnetdata/dictionary/dictionary.h
  libnetdata/libnetdata.c
  libnetdata/libnetdata.h
  streaming/compression.c
  streaming/receiver.c
  streaming/replication.c
  streaming/rrdpush.h
  streaming/sender.c
  web/api/web_api_v1.c
Owners: @vlvkobal, @thiagoftsm, @vkalintiris

Revert "New journal disk based indexing for agent memory reduction" (#14000)
  collectors/plugins.d/pluginsd_parser.c
  daemon/global_statistics.c
  daemon/main.c
  database/engine/datafile.c
  database/engine/datafile.h
  database/engine/journalfile.c
  database/engine/journalfile.h
  database/engine/pagecache.c
  database/engine/pagecache.h
  database/engine/rrdengine.c
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
  database/engine/rrdengineapi.h
  database/engine/rrdenglocking.c
  database/engine/rrdenglocking.h
  database/rrd.h
  database/rrddim.c
  database/rrdhost.c
  database/rrdset.c
  libnetdata/arrayalloc/arrayalloc.c
  libnetdata/dictionary/dictionary.c
  libnetdata/dictionary/dictionary.h
  libnetdata/libnetdata.c
  libnetdata/libnetdata.h
  streaming/compression.c
  streaming/receiver.c
  streaming/replication.c
  streaming/rrdpush.h
  streaming/sender.c
  web/api/web_api_v1.c
Owners: @vlvkobal, @thiagoftsm, @vkalintiris

[ci skip] Update changelog and version for nightly build: v1.36.0-359-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin

mqtt verboselogs
  Makefile.am
  aclk/aclk.c
Owners: @Ferroin, @stelfrag, @underhood

not needed
  aclk/aclk.c
Owners: @stelfrag, @underhood

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.travis/ @Ferroin
.github/ @Ferroin
aclk/ @stelfrag @underhood
build/ @Ferroin
contrib/debian @Ferroin
collectors/ @vlvkobal
collectors/ebpf.plugin/ @thiagoftsm @vlvkobal
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @vlvkobal @thiagoftsm
collectors/macos.plugin/ @vlvkobal @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @thiagoftsm
exporting/  @vlvkobal @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @DShreve2
health/ @thiagoftsm @vlvkobal @vkalintiris
health/health.d/ @thiagoftsm @vlvkobal
health/notifications/ @Ferroin @thiagoftsm
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin
registry/ @jacekkolasa
streaming/ @thiagoftsm @vlvkobal
system/ @Ferroin
tests/ @Ferroin @vkalintiris
web/ @thiagoftsm @vlvkobal @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin
*.md @DShreve2
Dockerfile* @Ferroin

# Ownership of specific files
.gitignore @Ferroin @vkalintiris
.travis.yml @Ferroin
.lgtm.yml @Ferroin
.eslintrc @Ferroin
.eslintignore @Ferroin
.csslintrc @Ferroin
.codeclimate.yml @Ferroin
.codacy.yml @Ferroin
.yamllint.yml @Ferroin
netdata.spec.in @Ferroin
netdata-installer.sh @Ferroin
packaging/version @netdatabot @Ferroin

LICENSE.md @DShreve2 @Ferroin @vkalintiris
CHANGELOG.md @netdatabot @Ferroin
