Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

fix passing of node_id, config_hash
  database/sqlite/sqlite_aclk.c
  database/sqlite/sqlite_aclk_alert.c
Owners: @thiagoftsm, @vkalintiris

/api/v2/weights does not query metrics without retention and new output format
  database/contexts/query_target.c
  database/contexts/rrdcontext.c
  database/contexts/rrdcontext.h
  libnetdata/buffer/buffer.h
  web/api/queries/weights.c
Owners: @thiagoftsm, @vkalintiris

Enable logs management by default when building for stress testing
  logsmanagement/logsmanagement.c
Owners: @Ferroin

Change headings
  docs/monitor/view-active-alarms.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update "View active alerts" documentation (#14766)
  docs/monitor/view-active-alarms.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Move logging to collector.log from error.log
  logsmanagement/circular_buffer.c
  logsmanagement/compression.c
  logsmanagement/db_api.c
  logsmanagement/flb_plugin.c
  logsmanagement/logsmanagement.c
  logsmanagement/parser.c
  logsmanagement/tail_plugin.c
Owners: @Ferroin

/api/v2/weights value and anomaly queries do context queries when contexts are filtered; query timeout is now always in ms
  database/contexts/api_v2.c
  database/contexts/rrdcontext.h
  web/api/formatters/json_wrapper.c
  web/api/formatters/value/value.c
  web/api/queries/query.c
  web/api/queries/rrdr.h
  web/api/queries/weights.c
  web/api/queries/weights.h
  web/api/web_api.c
  web/api/web_api_v1.c
  web/api/web_api_v2.c
Owners: @thiagoftsm, @vkalintiris

[ci skip] Update changelog and version for nightly build: v1.38.0-274-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

Update REFERENCE.md
  health/REFERENCE.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Pass node_id and config_hash vars when queueing alert configurations (#14769)
  database/sqlite/sqlite_aclk.c
  database/sqlite/sqlite_aclk_alert.c
Owners: @thiagoftsm, @vkalintiris

replace redirected links
  docs/cloud/insights/anomaly-advisor.md
  health/REFERENCE.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

format the files
  docs/cloud/insights/anomaly-advisor.md
  health/REFERENCE.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Use static thread-pool for training. (#14702)
  daemon/global_statistics.c
  daemon/main.c
  daemon/main.h
  database/rrdhost.c
  ml/Config.cc
  ml/ad_charts.cc
  ml/ad_charts.h
  ml/ml-dummy.c
  ml/ml-private.h
  ml/ml.cc
  ml/ml.h
Owners: @thiagoftsm, @vkalintiris, @andrewm4894

fix redirected link
  collectors/COLLECTORS.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

format the file
  collectors/COLLECTORS.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update README.md
  web/api/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Assorted improvements for our platform EOL check code. (#14768)
  .github/data/distros.yml
  .github/scripts/gen-matrix-eol-check.py
  .github/workflows/platform-eol-check.yml
Owners: @Ferroin, @tkatsoulas

Add info on the cloud API
  web/api/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update web/api/README.md
  web/api/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update API (#14772)
  web/api/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Add gzip compression info to nginx proxy readme
  docs/Running-behind-nginx.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Add gzip compression info to nginx proxy readme (#14773)
  docs/Running-behind-nginx.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Create reverse-proxies.md
  docs/category-overview-pages/reverse-proxies.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Create reverse-proxies.md (#14774)
  docs/category-overview-pages/reverse-proxies.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

add AZURE_IMDS_DATA validation
  daemon/system-info.sh
Owners: @thiagoftsm, @vkalintiris

replace hardcoded links
  collectors/COLLECTORS.md
  collectors/python.d.plugin/alarms/README.md
  collectors/python.d.plugin/zscores/README.md
  collectors/statsd.plugin/README.md
  docs/cloud/cheatsheet.md
  docs/cloud/insights/metric-correlations.md
  docs/cloud/manage/view-plan-billing.md
  docs/cloud/visualize/dashboards.md
  docs/guides/monitor/anomaly-detection.md
  docs/guides/monitor/kubernetes-k8s-netdata.md
  docs/guides/monitor/pi-hole-raspberry-pi.md
  docs/guides/troubleshoot/troubleshooting-agent-with-cloud-connection.md
  docs/store/distributed-data-architecture.md
  packaging/installer/methods/kickstart.md
  packaging/installer/methods/macos.md
  packaging/installer/methods/manual.md
  packaging/installer/methods/offline.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update performance.md
  docs/guides/configure/performance.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update performance.md (#14776)
  docs/guides/configure/performance.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update reverse-proxies.md
  docs/category-overview-pages/reverse-proxies.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update reverse-proxies.md (#14777)
  docs/category-overview-pages/reverse-proxies.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Improve performance.md
  docs/guides/configure/performance.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Improve performance.md (#14778)
  docs/guides/configure/performance.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Drop non-systemd init code in RPM spec file.
  netdata.spec.in
Owners: @Ferroin, @tkatsoulas

cleanup, first try
  database/rrdcalc.c
  health/health.d/load.conf
  health/health_config.c
Owners: @thiagoftsm, @vkalintiris, @MrZammler

Fix how we handle systemd service installation.
  netdata.spec.in
Owners: @Ferroin, @tkatsoulas

Revert "Use static thread-pool for training. (#14702)"
  daemon/global_statistics.c
  daemon/main.c
  daemon/main.h
  database/rrdhost.c
  ml/Config.cc
  ml/ad_charts.cc
  ml/ad_charts.h
  ml/ml-dummy.c
  ml/ml-private.h
  ml/ml.cc
  ml/ml.h
Owners: @thiagoftsm, @vkalintiris, @andrewm4894

Replace hardcoded links pointing to "learn.netdata.cloud" with github absolute links (#14779)
  collectors/COLLECTORS.md
  collectors/python.d.plugin/alarms/README.md
  collectors/python.d.plugin/zscores/README.md
  collectors/statsd.plugin/README.md
  docs/cloud/cheatsheet.md
  docs/cloud/insights/anomaly-advisor.md
  docs/cloud/insights/metric-correlations.md
  docs/cloud/manage/view-plan-billing.md
  docs/cloud/visualize/dashboards.md
  docs/guides/monitor/anomaly-detection.md
  docs/guides/monitor/kubernetes-k8s-netdata.md
  docs/guides/monitor/pi-hole-raspberry-pi.md
  docs/guides/troubleshoot/troubleshooting-agent-with-cloud-connection.md
  docs/store/distributed-data-architecture.md
  health/REFERENCE.md
  packaging/installer/methods/kickstart.md
  packaging/installer/methods/macos.md
  packaging/installer/methods/manual.md
  packaging/installer/methods/offline.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

clang error
  health/health_config.c
Owners: @thiagoftsm, @vkalintiris, @MrZammler

add validation step before using Azure metadata (AZURE_IMDS_DATA) (#14775)
  daemon/system-info.sh
Owners: @thiagoftsm, @vkalintiris

local delay copy
  health/health_config.c
Owners: @thiagoftsm, @vkalintiris, @MrZammler

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas
