Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas

Add basic clang-format checking to PR review. (#13951)
  .github/workflows/review.yml
Owners: @Ferroin, @tkatsoulas

Fix js tag in documentation (#14862)
  health/notifications/gotify/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

make link from http to https
  docs/netdata-security.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

implemented percentage-of-instance group by function
  database/contexts/query_target.c
  database/contexts/rrdcontext.h
  web/api/formatters/json_wrapper.c
  web/api/formatters/rrd2json.c
  web/api/formatters/rrd2json.h
  web/api/queries/query.c
  web/api/queries/query.h
  web/api/queries/rrdr.c
  web/api/queries/rrdr.h
  web/api/web_api_v2.c
Owners: @thiagoftsm, @vkalintiris

[ci skip] Update changelog and version for nightly build: v1.38.0-345-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

Update link from http to https (#14864)
  docs/netdata-security.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

update: opsgenie docs
  docs/cloud/alerts-notifications/add-opsgenie-notification-configuration.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

update: add explanatory pic
  docs/cloud/alerts-notifications/add-opsgenie-notification-configuration.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Add opsgenie integration docs (#14828)
  docs/cloud/alerts-notifications/add-opsgenie-notification-configuration.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

[ci skip] Update changelog and version for nightly build: v1.38.0-348-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

Set a default registry unique id when there is none for statistics script (#14861)
  daemon/anonymous-statistics.sh.in
Owners: @thiagoftsm, @vkalintiris

family is now merged in multi-node contexts
  database/contexts/api_v2.c
  web/api/netdata-swagger.yaml
Owners: @thiagoftsm, @vkalintiris

change hash functions
  database/sqlite/sqlite_aclk_alert.c
  libnetdata/libnetdata.c
  libnetdata/libnetdata.h
Owners: @thiagoftsm, @vkalintiris

bump go.d.plugin v0.52.0
  packaging/go.d.checksums
  packaging/go.d.version
Owners: @Ferroin, @tkatsoulas

Assorted installer code cleanup. (#14632)
  packaging/installer/kickstart.sh
  packaging/installer/netdata-updater.sh
Owners: @Ferroin, @tkatsoulas

bump go.d.plugin v0.52.0 (#14870)
  packaging/go.d.checksums
  packaging/go.d.version
Owners: @Ferroin, @tkatsoulas

Add basic structure for ntfy.sh support
  health/notifications/alarm-notify.sh.in
Owners: @Ferroin, @thiagoftsm, @MrZammler

Fix regex syntax for clang-format checks.
  .github/workflows/review.yml
Owners: @Ferroin, @tkatsoulas

remove alpine 3.14 from the ci
  .github/data/distros.yml
  packaging/PLATFORM_SUPPORT.md
Owners: @Ferroin, @tkatsoulas, @andrewm4894, @cakrit

Apply suggestions from code review
  .github/workflows/review.yml
Owners: @Ferroin, @tkatsoulas

Fix regex syntax for clang-format checks. (#14871)
  .github/workflows/review.yml
Owners: @Ferroin, @tkatsoulas

ebpf_bug_fixes: Fix missing metrics for oomkill charts.
  collectors/ebpf.plugin/ebpf_oomkill.c
Owners: @thiagoftsm

ebpf_bug_fixes: Upgrade current kernel-collector repo version
  packaging/ebpf.checksums
  packaging/ebpf.version
Owners: @Ferroin, @tkatsoulas

ebpf_bug_fixes: Remove data type that is not used anymore and also update the code to compile this commit.
  collectors/ebpf.plugin/ebpf_hardirq.c
  collectors/ebpf.plugin/ebpf_hardirq.h
Owners: @thiagoftsm

ebpf_bug_fixes: Add test inside netdata-installer to remove old files avoiding the same file with different names.
  netdata-installer.sh
Owners: @Ferroin, @tkatsoulas

ebpf_bug_fixes: Modify ebpf_mount_names to append new suffix when plugin is running on RH family.
  libnetdata/ebpf/ebpf.c
Owners: @thiagoftsm, @vkalintiris

ebpf_bug_fixes: remove hardirq_ebpf_static_val, because it is not more necessary considering that both hash tables have now the same data type.
  collectors/ebpf.plugin/ebpf_hardirq.c
Owners: @thiagoftsm

ebpf_bug_fixes: Address wrong return with a more correct approach. The value is higher than any CPU available nowadays and this help us to read all data.
  collectors/ebpf.plugin/ebpf.c
Owners: @thiagoftsm

ebpf_bug_fixes: Add /proc/interrupts parser to match plugin necessity to fill diimension name after changes.
  collectors/ebpf.plugin/ebpf_hardirq.c
Owners: @thiagoftsm

Implement send_ntfy()
  health/notifications/Makefile.am
  health/notifications/alarm-notify.sh.in
  health/notifications/health_alarm_notify.conf
  health/notifications/ntfy/Makefile.inc
  health/notifications/ntfy/README.md
Owners: @Ferroin, @tkatsoulas, @thiagoftsm, @MrZammler, @andrewm4894, @cakrit

prevent uninitialized use
  web/api/queries/query.c
Owners: @thiagoftsm, @vkalintiris

Add icon and view node action
  health/notifications/alarm-notify.sh.in
Owners: @Ferroin, @thiagoftsm, @MrZammler

Re-enable caching in order not to miss messages
  health/notifications/alarm-notify.sh.in
Owners: @Ferroin, @thiagoftsm, @MrZammler

Fix Gotify README typo
  health/notifications/gotify/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Add README.md
  health/notifications/health_alarm_notify.conf
  health/notifications/ntfy/README.md
Owners: @Ferroin, @thiagoftsm, @MrZammler, @tkatsoulas, @andrewm4894, @cakrit

Fix codacy warnings
  health/notifications/ntfy/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

make sure there are no spaces in the name
  collectors/cgroups.plugin/cgroup-name.sh
Owners: @thiagoftsm

add image label
  collectors/cgroups.plugin/cgroup-name.sh
  collectors/cgroups.plugin/sys_fs_cgroup.c
  collectors/proc.plugin/proc_net_dev.c
Owners: @thiagoftsm

rename k8s_parse_resolved_name_and_labels
  collectors/cgroups.plugin/sys_fs_cgroup.c
  collectors/cgroups.plugin/sys_fs_cgroup.h
  collectors/cgroups.plugin/tests/test_cgroups_plugin.c
Owners: @thiagoftsm, @Ferroin, @vkalintiris, @tkatsoulas

[ci skip] Update changelog and version for nightly build: v1.38.0-354-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas
