Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @stelfrag, @underhood, @vlvkobal, @thiagoftsm, @ilyam8, @simonnagl, @vkalintiris, @DShreve2, @andrewm4894, @jacekkolasa, @netdatabot

break active-active loop from replicating non-existing child to each other (#13968)
  database/rrd.h
  streaming/receiver.c
  streaming/rrdpush.c
  streaming/sender.c
Owners: @thiagoftsm, @vkalintiris, @vlvkobal

wmi_alerts: Adjust delay
  health/health.d/wmi.conf
Owners: @thiagoftsm, @vlvkobal

enable collecting ECC memory errors by default
  collectors/proc.plugin/sys_devices_system_edac_mc.c
Owners: @vlvkobal

wmi_alerts: Update lookup
  health/health.d/wmi.conf
Owners: @thiagoftsm, @vlvkobal

wmi_alerts: Adjust info
  health/health.d/wmi.conf
Owners: @thiagoftsm, @vlvkobal

wmi_alerts: Comment TCP, but keep it, because it is useful
  health/health.d/wmi.conf
Owners: @thiagoftsm, @vlvkobal

[ci skip] Update changelog and version for nightly build: v1.36.0-333-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin

enable collecting ECC memory errors by default (#13970)
  collectors/proc.plugin/sys_devices_system_edac_mc.c
Owners: @vlvkobal

Change the db-engine calculator to a read only gsheet
  docs/store/change-metrics-storage.md
Owners: @DShreve2

add cassandra icon
  web/gui/dashboard_info.js
Owners: @jacekkolasa

Update change-metrics-storage.md
  docs/store/change-metrics-storage.md
Owners: @DShreve2

Fallback to ar and ranlib if llvm-ar and llvm-ranlib are not there (#13959)
  configure.ac
Owners: @Ferroin

add Cassandra icon to dashboard info (#13975)
  web/gui/dashboard_info.js
Owners: @jacekkolasa

Apply suggestions from code review
  docs/store/change-metrics-storage.md
Owners: @DShreve2

Remove health_thread_stop (#13948)
  database/rrdhost.c
  health/health.c
  ml/Host.cc
Owners: @thiagoftsm, @vkalintiris, @vlvkobal, @andrewm4894

Add _total suffix to raw increment metrics for remote write
  exporting/prometheus/remote_write/remote_write.c
Owners: @vlvkobal, @thiagoftsm

dont crash when netdata cannot execute its external plugins
  libnetdata/popen/popen.c
Owners: @thiagoftsm, @vkalintiris

wmi_process_dashboard_doc: Remove divergence
  web/gui/dashboard_info.js
Owners: @jacekkolasa

wmi_alerts: Upddate lookup
  health/health.d/wmi.conf
Owners: @thiagoftsm, @vlvkobal

[ci skip] Update changelog and version for nightly build: v1.36.0-338-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin

Change the db-engine calculator to a read only gsheet (#13974)
  docs/store/change-metrics-storage.md
Owners: @DShreve2

dont crash when netdata cannot execute its external plugins (#13978)
  libnetdata/popen/popen.c
Owners: @thiagoftsm, @vkalintiris

Add _total suffix to raw increment metrics for remote write (#13977)
  exporting/prometheus/remote_write/remote_write.c
Owners: @vlvkobal, @thiagoftsm

keys should not have spaces
  collectors/apps.plugin/apps_plugin.c
Owners: @vlvkobal

use calculator app instead of spreadsheet
  docs/store/change-metrics-storage.md
Owners: @DShreve2

sticky columns should be very few
  collectors/apps.plugin/apps_plugin.c
Owners: @vlvkobal

apps.plugin function processes: keys should not have spaces (#13980)
  collectors/apps.plugin/apps_plugin.c
Owners: @vlvkobal

Publish nightly builds to netdata/netdata-nightlies repository.
  .github/workflows/build.yml
Owners: @Ferroin

Fix typo.
  .github/workflows/build.yml
Owners: @Ferroin

Fix shellcheck warnings.
  .github/workflows/build.yml
Owners: @Ferroin

Remove deprecated methods for passing additional options to install code.
  packaging/installer/kickstart.sh
Owners: @Ferroin

WMI Process (Dashboard, Documentation) (#13910)
  docs/collect/system-metrics.md
  web/gui/dashboard_info.js
Owners: @DShreve2, @jacekkolasa

[ci skip] Update changelog and version for nightly build: v1.36.0-344-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin

contexts are not set to collected until replication finishes for them; sender thread disables cancelability while replication queries are executed;
  collectors/plugins.d/pluginsd_parser.c
  database/rrdcontext.c
  database/rrdcontext.h
  database/rrdset.c
  streaming/replication.c
  streaming/sender.c
Owners: @vlvkobal, @thiagoftsm, @vkalintiris

replication improvements (#13989)
  collectors/plugins.d/pluginsd_parser.c
  database/rrdcontext.c
  database/rrdcontext.h
  database/rrdset.c
  streaming/replication.c
  streaming/sender.c
Owners: @vlvkobal, @thiagoftsm, @vkalintiris

added debug info on left-over query targets
  database/rrdcontext.c
  web/api/queries/query.c
  web/api/queries/rrdr.c
  web/api/web_api_v1.c
Owners: @thiagoftsm, @vkalintiris, @vlvkobal

added debug info on left-over query targets (#13990)
  database/rrdcontext.c
  web/api/queries/query.c
  web/api/queries/rrdr.c
  web/api/web_api_v1.c
Owners: @thiagoftsm, @vkalintiris, @vlvkobal

[ci skip] Update changelog and version for nightly build: v1.36.0-347-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin

cleanup capas + add func capa
  CMakeLists.txt
  Makefile.am
  aclk/aclk.c
  aclk/aclk_capas.c
  aclk/aclk_capas.h
  aclk/aclk_rx_msgs.c
  aclk/aclk_tx_msgs.c
Owners: @Ferroin, @stelfrag, @underhood

make it const
  aclk/aclk.c
  aclk/aclk_capas.c
  aclk/aclk_capas.h
  aclk/aclk_rx_msgs.c
  aclk/schema-wrappers/capability.cc
  aclk/schema-wrappers/capability.h
  aclk/schema-wrappers/connection.cc
  aclk/schema-wrappers/connection.h
  aclk/schema-wrappers/node_connection.cc
  aclk/schema-wrappers/node_connection.h
Owners: @stelfrag, @underhood

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.travis/ @Ferroin
.github/ @Ferroin
aclk/ @stelfrag @underhood
build/ @Ferroin
contrib/debian @Ferroin
collectors/ @vlvkobal
collectors/ebpf.plugin/ @thiagoftsm @vlvkobal
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @vlvkobal @thiagoftsm
collectors/macos.plugin/ @vlvkobal @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @thiagoftsm
exporting/  @vlvkobal @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @DShreve2
health/ @thiagoftsm @vlvkobal @vkalintiris
health/health.d/ @thiagoftsm @vlvkobal
health/notifications/ @Ferroin @thiagoftsm
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin
registry/ @jacekkolasa
streaming/ @thiagoftsm @vlvkobal
system/ @Ferroin
tests/ @Ferroin @vkalintiris
web/ @thiagoftsm @vlvkobal @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin
*.md @DShreve2
Dockerfile* @Ferroin

# Ownership of specific files
.gitignore @Ferroin @vkalintiris
.travis.yml @Ferroin
.lgtm.yml @Ferroin
.eslintrc @Ferroin
.eslintignore @Ferroin
.csslintrc @Ferroin
.codeclimate.yml @Ferroin
.codacy.yml @Ferroin
.yamllint.yml @Ferroin
netdata.spec.in @Ferroin
netdata-installer.sh @Ferroin
packaging/version @netdatabot @Ferroin

LICENSE.md @DShreve2 @Ferroin @vkalintiris
CHANGELOG.md @netdatabot @Ferroin
