Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

Fix kernel test script (#14676)
  packaging/check-kernel-config.sh
Owners: @Ferroin, @tkatsoulas

disable caching for /api/v2/contexts responses
  web/api/web_api_v2.c
Owners: @thiagoftsm, @vkalintiris

use empty
  collectors/charts.d.plugin/charts.d.plugin.in
Owners: @ilyam8, @Ferroin

added api format json2 that returns an array for each points, having all the point values and annotations in them
  web/api/formatters/json_wrapper.c
  web/api/formatters/json_wrapper.h
  web/api/formatters/rrd2json.c
  web/api/formatters/rrd2json.h
  web/api/web_api_v1.c
Owners: @thiagoftsm, @vkalintiris

make an EXIT keyword
  collectors/charts.d.plugin/charts.d.plugin.in
  collectors/plugins.d/plugins_d.h
  collectors/plugins.d/pluginsd_parser.c
Owners: @ilyam8, @Ferroin, @thiagoftsm

Fix Azure IMDS
  daemon/system-info.sh
Owners: @thiagoftsm, @vkalintiris

Update system-info.sh
  daemon/system-info.sh
Owners: @thiagoftsm, @vkalintiris

Update system-info.sh
  daemon/system-info.sh
Owners: @thiagoftsm, @vkalintiris

Update daemon/system-info.sh
  daemon/system-info.sh
Owners: @thiagoftsm, @vkalintiris

Fix system host info
  database/rrdhost.c
Owners: @thiagoftsm, @vkalintiris

eBPF new charts (user ring) (#14623)
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_apps.c
  collectors/ebpf.plugin/ebpf_apps.h
  collectors/ebpf.plugin/ebpf_cachestat.c
  collectors/ebpf.plugin/ebpf_cachestat.h
  collectors/ebpf.plugin/ebpf_dcstat.c
  collectors/ebpf.plugin/ebpf_dcstat.h
  collectors/ebpf.plugin/ebpf_disk.c
  collectors/ebpf.plugin/ebpf_fd.c
  collectors/ebpf.plugin/ebpf_fd.h
  collectors/ebpf.plugin/ebpf_filesystem.c
  collectors/ebpf.plugin/ebpf_hardirq.c
  collectors/ebpf.plugin/ebpf_mdflush.c
  collectors/ebpf.plugin/ebpf_mount.c
  collectors/ebpf.plugin/ebpf_oomkill.c
  collectors/ebpf.plugin/ebpf_process.c
  collectors/ebpf.plugin/ebpf_shm.c
  collectors/ebpf.plugin/ebpf_shm.h
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_socket.h
  collectors/ebpf.plugin/ebpf_softirq.c
  collectors/ebpf.plugin/ebpf_swap.c
  collectors/ebpf.plugin/ebpf_vfs.c
  collectors/ebpf.plugin/ebpf_vfs.h
  libnetdata/ebpf/ebpf.c
  libnetdata/ebpf/ebpf.h
  web/gui/dashboard_info.js
Owners: @thiagoftsm, @vkalintiris, @jacekkolasa

Fix Azure IMDS (#14686)
  daemon/system-info.sh
Owners: @thiagoftsm, @vkalintiris

enable `ml_1min_node_ar` as a default alert
  health/health.d/ml.conf
Owners: @thiagoftsm, @MrZammler

work on swagger about /api/v2
  web/api/netdata-swagger.yaml
  web/api/web_api_v2.c
Owners: @thiagoftsm, @vkalintiris

Fix cloud node stale status when a virtual host is created (#14660)
  collectors/plugins.d/pluginsd_parser.c
  database/rrdhost.c
  database/sqlite/sqlite_aclk.c
  database/sqlite/sqlite_aclk.h
  database/sqlite/sqlite_aclk_node.c
  database/sqlite/sqlite_functions.c
  database/sqlite/sqlite_metadata.c
Owners: @thiagoftsm, @vkalintiris

Send an EOF from charts.d.plugin before exit (#14680)
  collectors/charts.d.plugin/charts.d.plugin.in
  collectors/plugins.d/plugins_d.h
  collectors/plugins.d/pluginsd_parser.c
Owners: @ilyam8, @Ferroin, @thiagoftsm

prevent infinite loop
  web/api/queries/query.c
Owners: @thiagoftsm, @vkalintiris

add FAQ information provided by Finance
  docs/cloud/manage/view-plan-billing.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

reviewed role description to be according to app
  docs/cloud/manage/plans.md
  docs/cloud/manage/role-based-access.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update enable-notifications.md
  docs/monitor/enable-notifications.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update Makefile.am
  health/notifications/Makefile.am
Owners: @Ferroin, @tkatsoulas

Delete health/notifications/hangouts directory
  health/notifications/hangouts/Makefile.inc
  health/notifications/hangouts/README.md
Owners: @Ferroin, @thiagoftsm, @MrZammler, @tkatsoulas, @andrewm4894, @cakrit

Remove google hangouts from list of integrations
  docs/monitor/enable-notifications.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Remove google hangouts from list of integrations (#14689)
  docs/monitor/enable-notifications.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Manage labels as code.
  .github/labeler.yml
  .github/labels.yml
  .github/workflows/label-sync.yml
Owners: @Ferroin, @tkatsoulas

Add sanity checking for labels and labeler configuration.
  .github/scripts/check-labels.py
  .github/workflows/review.yml
Owners: @Ferroin, @tkatsoulas

Clean up labeler config.
  .github/labeler.yml
Owners: @Ferroin, @tkatsoulas

Grammar correction
  docs/cloud/manage/view-plan-billing.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update docs/cloud/manage/view-plan-billing.md
  docs/cloud/manage/view-plan-billing.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Correct grammar
  docs/cloud/manage/view-plan-billing.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

convert to list
  docs/cloud/manage/view-plan-billing.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

convert to list
  docs/cloud/manage/view-plan-billing.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

try to fix formatting
  docs/cloud/manage/view-plan-billing.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

formatting
  docs/cloud/manage/view-plan-billing.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Fix the invoices list formatting
  docs/cloud/manage/view-plan-billing.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

add FAQ information provided by Finance (#14664)
  docs/cloud/manage/view-plan-billing.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

reviewed role description to be according to app (#14672)
  docs/cloud/manage/plans.md
  docs/cloud/manage/role-based-access.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

cleanup and swagger work
  web/api/formatters/json_wrapper.c
  web/api/formatters/rrd2json.c
  web/api/formatters/rrd2json.h
  web/api/netdata-swagger.yaml
  web/api/queries/query.c
  web/api/queries/query.h
  web/api/queries/rrdr.h
  web/api/web_api_v1.c
  web/api/web_api_v2.c
Owners: @thiagoftsm, @vkalintiris

allow negative simple pattern expressions to work as expected
  collectors/statsd.plugin/statsd.c
  daemon/main.c
  database/contexts/query_scope.c
  database/contexts/query_target.c
  database/rrdlabels.c
  libnetdata/simple_pattern/simple_pattern.c
  libnetdata/simple_pattern/simple_pattern.h
  web/api/netdata-swagger.yaml
Owners: @thiagoftsm, @vkalintiris

[ci skip] Update changelog and version for nightly build: v1.38.0-221-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas
