Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas

bump go.d.plugin to v0.52.1 (#14921)
  health/Makefile.am
  health/health.d/docker.conf
  health/health.d/dockerd.conf
  packaging/go.d.checksums
  packaging/go.d.version
Owners: @Ferroin, @tkatsoulas, @thiagoftsm, @MrZammler

change_hardirq_read: Centralize CO-RE headers as first step to centralize the map unload.
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_cachestat.c
  collectors/ebpf.plugin/ebpf_dcstat.c
  collectors/ebpf.plugin/ebpf_fd.c
  collectors/ebpf.plugin/ebpf_mount.c
  collectors/ebpf.plugin/ebpf_shm.c
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_swap.c
  collectors/ebpf.plugin/ebpf_vfs.c
Owners: @thiagoftsm

Read (cache) machine guid earlier, so that a fatal event during init will have the correct machine guid
  daemon/main.c
Owners: @thiagoftsm, @vkalintiris

change_hardirq_read: Bring back thread cancel, but this time using ebpf_module instead ebpf_threads
  collectors/ebpf.plugin/ebpf.c
Owners: @thiagoftsm

Setup analytics global environment explicitly if we fail to initialize before localhost is created
  daemon/analytics.c
  daemon/analytics.h
  daemon/main.c
  database/rrdhost.c
Owners: @thiagoftsm, @vkalintiris

added summary.globals in /api/v2/data response
  web/api/formatters/json_wrapper.c
Owners: @thiagoftsm, @vkalintiris

ars to arc in /api/v2/data
  web/api/formatters/json_wrapper.c
Owners: @thiagoftsm, @vkalintiris

Add Docker instructions
  collectors/python.d.plugin/nvidia_smi/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

change_hardirq_read: Add new helper to clean up threads that load only one eBPF program
  collectors/ebpf.plugin/ebpf.c
Owners: @thiagoftsm

Edit duplicate heading
  collectors/python.d.plugin/nvidia_smi/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

change_hardirq_read: Adjust oomkill to avoi thread to become zombie
  collectors/ebpf.plugin/ebpf_oomkill.c
Owners: @thiagoftsm

[ci skip] Update changelog and version for nightly build: v1.38.0-394-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

change_hardirq_read: Move socket ARAL functions to apps.
  collectors/ebpf.plugin/ebpf_apps.c
  collectors/ebpf.plugin/ebpf_apps.h
  collectors/ebpf.plugin/ebpf_socket.c
Owners: @thiagoftsm

change_hardirq_read: Move apps controller from process to main thread fixing process unmap
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_process.c
Owners: @thiagoftsm

change_hardirq_read: Move cachestat ARAL functions to apps.
  collectors/ebpf.plugin/ebpf_apps.c
  collectors/ebpf.plugin/ebpf_apps.h
  collectors/ebpf.plugin/ebpf_cachestat.c
Owners: @thiagoftsm

change_hardirq_read: Move missing socket data for apps.
  collectors/ebpf.plugin/ebpf_apps.c
  collectors/ebpf.plugin/ebpf_apps.h
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_socket.h
Owners: @thiagoftsm

change_hardirq_read: Move missing cachestat data for apps.
  collectors/ebpf.plugin/ebpf_apps.c
  collectors/ebpf.plugin/ebpf_cachestat.c
Owners: @thiagoftsm

change_hardirq_read: Move dcstat ARAL variables and functions to apps.
  collectors/ebpf.plugin/ebpf_apps.c
  collectors/ebpf.plugin/ebpf_apps.h
  collectors/ebpf.plugin/ebpf_dcstat.c
Owners: @thiagoftsm

change_hardirq_read: Move swap variables and functions to apps.
  collectors/ebpf.plugin/ebpf_apps.c
  collectors/ebpf.plugin/ebpf_apps.h
  collectors/ebpf.plugin/ebpf_swap.c
  collectors/ebpf.plugin/ebpf_swap.h
Owners: @thiagoftsm

change_hardirq_read: Move vfs ARAL variables and functions to apps. It also moves main PID variable.
  collectors/ebpf.plugin/ebpf_apps.c
  collectors/ebpf.plugin/ebpf_apps.h
  collectors/ebpf.plugin/ebpf_vfs.c
  collectors/ebpf.plugin/ebpf_vfs.h
Owners: @thiagoftsm

change_hardirq_read: Move FD ARAL variables and functions to apps. It also moves main PID variable.
  collectors/ebpf.plugin/ebpf_apps.c
  collectors/ebpf.plugin/ebpf_apps.h
  collectors/ebpf.plugin/ebpf_fd.c
  collectors/ebpf.plugin/ebpf_fd.h
Owners: @thiagoftsm

change_hardirq_read: Move SHM ARAL variables and functions to apps. It also moves main PID variable.
  collectors/ebpf.plugin/ebpf_apps.c
  collectors/ebpf.plugin/ebpf_apps.h
  collectors/ebpf.plugin/ebpf_shm.c
  collectors/ebpf.plugin/ebpf_shm.h
Owners: @thiagoftsm

change_hardirq_read: Move cachestat BTF variable to main thread and cleanup it.
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_cachestat.c
Owners: @thiagoftsm

change_hardirq_read: Move dcstat BTF variable to main thread and cleanup it.
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_dcstat.c
Owners: @thiagoftsm

change_hardirq_read: Move fd BTF variable to main thread and cleanup it.
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_fd.c
Owners: @thiagoftsm

change_hardirq_read: Move mount BTF variable to main thread and cleanup it.
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_mount.c
Owners: @thiagoftsm

change_hardirq_read: Move shm BTF variable to main thread and cleanup it.
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_shm.c
Owners: @thiagoftsm

change_hardirq_read: Move socket BTF variable to main thread and cleanup it.
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_socket.c
Owners: @thiagoftsm

change_hardirq_read: Move swap BTF variable to main thread and cleanup it.
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_swap.c
Owners: @thiagoftsm

change_hardirq_read: Move vfs BTF variable to main thread and cleanup it.
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_vfs.c
Owners: @thiagoftsm

remove printing elements, change the name of the page and add a description
  docs/cloud/cheatsheet.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Fix wrong number of lines stored in DB for web logs
  logsmanagement/circular_buffer.c
  logsmanagement/parser.h
Owners: @Ferroin

Refactor number of logs parsers and charts code
  collectors/logsmanagement.plugin/plugin_logsmanagement.h
  collectors/logsmanagement.plugin/plugin_logsmanagement_docker_ev.c
  collectors/logsmanagement.plugin/plugin_logsmanagement_docker_ev.h
  collectors/logsmanagement.plugin/plugin_logsmanagement_generic.c
  collectors/logsmanagement.plugin/plugin_logsmanagement_generic.h
  collectors/logsmanagement.plugin/plugin_logsmanagement_kernel.c
  collectors/logsmanagement.plugin/plugin_logsmanagement_kernel.h
  collectors/logsmanagement.plugin/plugin_logsmanagement_systemd.c
  collectors/logsmanagement.plugin/plugin_logsmanagement_systemd.h
  collectors/logsmanagement.plugin/plugin_logsmanagement_web_log.c
  collectors/logsmanagement.plugin/plugin_logsmanagement_web_log.h
  logsmanagement/circular_buffer.c
  logsmanagement/flb_plugin.c
  logsmanagement/parser.c
  logsmanagement/parser.h
Owners: @thiagoftsm, @Ferroin

add windows MSI installer start, stop and restart commands
  docs/configure/start-stop-restart.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

replace 'XYZ view' with 'XYZ tab' in documentation files
  claim/README.md
  docs/category-overview-pages/secure-nodes.md
  docs/cloud/runtime-troubleshooting-with-functions.md
  docs/cloud/visualize/dashboards.md
  docs/cloud/visualize/interact-new-charts.md
  docs/cloud/visualize/nodes.md
  docs/cloud/war-rooms.md
  docs/glossary.md
  docs/monitor/view-active-alarms.md
  docs/quickstart/infrastructure.md
  docs/visualize/overview-infrastructure.md
  packaging/docker/README.md
  packaging/installer/methods/kubernetes.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Add option to toggle number of collected logs metrics and charts
  collectors/logsmanagement.plugin/plugin_logsmanagement.c
  collectors/logsmanagement.plugin/plugin_logsmanagement_docker_ev.c
  collectors/logsmanagement.plugin/plugin_logsmanagement_generic.c
  collectors/logsmanagement.plugin/plugin_logsmanagement_kernel.c
  collectors/logsmanagement.plugin/plugin_logsmanagement_systemd.c
  collectors/logsmanagement.plugin/plugin_logsmanagement_web_log.c
  logsmanagement/README.md
  logsmanagement/file_info.h
  logsmanagement/logsmanagement.c
  logsmanagement/logsmanagement.conf
  logsmanagement/logsmanagement_conf.h
  logsmanagement/parser.h
Owners: @thiagoftsm, @tkatsoulas, @andrewm4894, @cakrit, @Ferroin

change_hardirq_read: Add function necessary function to unload filesystem.
  collectors/ebpf.plugin/ebpf.c
Owners: @thiagoftsm

change_hardirq_read: Add function necessary to unload sync maps and also add missing test for previous commit
  collectors/ebpf.plugin/ebpf.c
Owners: @thiagoftsm

Update README.md
  exporting/graphite/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Make the document more generic
  docs/guides/using-host-labels.md
Owners: @tkatsoulas, @andrewm4894, @cakrit
