Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

Document CetusGuard as a Docker socket proxy solution
  collectors/cgroups.plugin/README.md
  packaging/docker/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update invite-your-team.md
  docs/cloud/manage/invite-your-team.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

point.ar has been renamed point.arp
  web/api/formatters/json/json.c
  web/api/netdata-swagger.json
  web/api/netdata-swagger.yaml
Owners: @thiagoftsm, @vkalintiris

diskspace: don't collect inodes on msdosfs
  collectors/diskspace.plugin/plugin_diskspace.c
Owners: @thiagoftsm

extend list of fs excluded from inodes tracking
  collectors/diskspace.plugin/plugin_diskspace.c
Owners: @thiagoftsm

Explicitly ask for gzip decompression in static archive header.
  packaging/makeself/jobs/99-makeself.install.sh
Owners: @Ferroin, @tkatsoulas

Fix how we are handling system services in RPM packages. (#14781)
  netdata.spec.in
  system/Makefile.am
  system/install-service.sh.in
  system/systemd/50-netdata.preset
Owners: @Ferroin, @tkatsoulas

Add Amazon Linux 2023 to CI, packaging, and platform support.
  .github/data/distros.yml
  packaging/PLATFORM_SUPPORT.md
Owners: @Ferroin, @tkatsoulas, @andrewm4894, @cakrit

Fix dependencies for AL2023 in RPM spec file.
  netdata.spec.in
Owners: @Ferroin, @tkatsoulas

Address Learn feedback from users (#14802)
  claim/README.md
  collectors/apps.plugin/README.md
  collectors/charts.d.plugin/sensors/README.md
  collectors/diskspace.plugin/README.md
  docs/cloud/manage/invite-your-team.md
  packaging/installer/methods/ansible.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update role-based-access.md
  docs/cloud/manage/role-based-access.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update role-based-access.md (#14811)
  docs/cloud/manage/role-based-access.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Fix handling of package tests with DNF.
  .github/scripts/pkg-test.sh
Owners: @Ferroin, @tkatsoulas

Consolidate security and privacy documents
  docs/category-overview-pages/reverse-proxies.md
  docs/category-overview-pages/secure-nodes.md
  docs/cloud/data-privacy.md
  docs/cloud/pci-soc-hipaa.md
  docs/netdata-security.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Consolidate security and privacy documents (#14812)
  docs/category-overview-pages/reverse-proxies.md
  docs/category-overview-pages/secure-nodes.md
  docs/cloud/data-privacy.md
  docs/cloud/pci-soc-hipaa.md
  docs/netdata-security.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update privacy link
  aclk/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update privacy link in aclk doc (#14813)
  aclk/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update netdata-security.md
  docs/netdata-security.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Minor improvements to netdata-security.md (#14815)
  docs/netdata-security.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

diskspace: don't collect inodes on msdosfs (#14809)
  collectors/diskspace.plugin/plugin_diskspace.c
Owners: @thiagoftsm

updated weights endpoint
  database/contexts/api_v2.c
  web/api/queries/weights.c
Owners: @thiagoftsm, @vkalintiris

fix compilation warnings
  web/api/queries/query.c
  web/api/queries/weights.c
Owners: @thiagoftsm, @vkalintiris

[ci skip] Update changelog and version for nightly build: v1.38.0-309-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

capa apiv2
  aclk/aclk_capas.c
Owners: @stelfrag, @underhood

build new cancellation proto
  Makefile.am
Owners: @Ferroin, @tkatsoulas

commited on wrong branch :D Revert "build new cancellation proto"
  Makefile.am
Owners: @Ferroin, @tkatsoulas

update posthog domain
  daemon/anonymous-statistics.sh.in
Owners: @thiagoftsm, @vkalintiris

Fix failure logic for publishing packages.
  .github/workflows/packaging.yml
  .github/workflows/repoconfig-packages.yml
Owners: @Ferroin, @tkatsoulas

/api/v2/X part 7 (#14797)
  database/contexts/api_v2.c
  database/contexts/query_target.c
  database/contexts/rrdcontext.h
  libnetdata/libnetdata.h
  web/api/formatters/json/json.c
  web/api/formatters/json_wrapper.c
  web/api/formatters/rrd2json.c
  web/api/formatters/rrd2json.h
  web/api/formatters/value/value.c
  web/api/formatters/value/value.h
  web/api/netdata-swagger.json
  web/api/netdata-swagger.yaml
  web/api/queries/query.c
  web/api/queries/query.h
  web/api/queries/rrdr.c
  web/api/queries/rrdr.h
  web/api/queries/weights.c
  web/api/web_api_v1.c
Owners: @thiagoftsm, @vkalintiris

Clean up install method list in bug report template.
  .github/ISSUE_TEMPLATE/BUG_REPORT.yml
Owners: @Ferroin, @tkatsoulas

shorten too long titles, and add a description below
  collectors/ioping.plugin/README.md
  collectors/python.d.plugin/zscores/README.md
  docs/guides/collect-apache-nginx-web-logs.md
  docs/guides/monitor/kubernetes-k8s-netdata.md
  docs/guides/monitor/lamp-stack.md
  docs/guides/monitor/raspberry-pi-anomaly-detection.md
  docs/guides/using-host-labels.md
  packaging/building-native-packages-locally.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

configure extent cache size
  daemon/main.c
  database/engine/pagecache.c
  database/engine/rrdengineapi.c
  database/engine/rrdengineapi.h
Owners: @thiagoftsm, @vkalintiris

Update bundled makeself to v2.5.0.
  packaging/makeself/makeself-header.sh
  packaging/makeself/makeself.sh
Owners: @Ferroin, @tkatsoulas

Update static archive metadata.
  packaging/makeself/makeself-license.txt
  packaging/makeself/makeself.lsm
Owners: @Ferroin, @tkatsoulas

Fix failure logic for publishing packages. (#14720)
  .github/workflows/packaging.yml
  .github/workflows/repoconfig-packages.yml
Owners: @Ferroin, @tkatsoulas

Clean up binpkg handling in updater.
  packaging/installer/netdata-updater.sh
Owners: @Ferroin, @tkatsoulas

Consolidate forced install type flags into a single variable.
  packaging/installer/kickstart.sh
Owners: @Ferroin, @tkatsoulas

Consolidate shared options for native packages.
  packaging/installer/kickstart.sh
Owners: @Ferroin, @tkatsoulas

Collapse cases with one-line bodies to single lines.
  packaging/installer/kickstart.sh
Owners: @Ferroin, @tkatsoulas

Assorted updater cleanup.
  packaging/installer/netdata-updater.sh
Owners: @Ferroin, @tkatsoulas

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas
