Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

do not convert to percentage, when the raw option is given (#14969)
  database/contexts/rrdcontext.h
  web/api/queries/query.c
Owners: @thiagoftsm, @vkalintiris

add metrics.csv to some c collectors (#14974)
  collectors/cups.plugin/cups_plugin.c
  collectors/cups.plugin/metrics.csv
  collectors/diskspace.plugin/metrics.csv
  collectors/freeipmi.plugin/metrics.csv
  collectors/idlejitter.plugin/metrics.csv
  collectors/ioping.plugin/metrics.csv
  collectors/nfacct.plugin/metrics.csv
  collectors/tc.plugin/metrics.csv
Owners: @thiagoftsm

fix adding chart labels in tc.plugin (#14976)
  collectors/tc.plugin/plugin_tc.c
Owners: @thiagoftsm

add metrics.csv for memcached
  collectors/python.d.plugin/memcached/metrics.csv
Owners: @ilyam8

revert nsd readme
  collectors/python.d.plugin/nsd/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

improve memcached metric titles
  collectors/python.d.plugin/memcached/memcached.chart.py
  collectors/python.d.plugin/memcached/metrics.csv
Owners: @ilyam8

add metrics.csv for openldap
  collectors/python.d.plugin/openldap/metrics.csv
Owners: @ilyam8

add metrics.csv for oracledb
  collectors/python.d.plugin/oracledb/metrics.csv
Owners: @ilyam8

revert postfix README
  collectors/python.d.plugin/postfix/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

evaluate retroshare
  collectors/python.d.plugin/retroshare/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

evaluate samba
  collectors/python.d.plugin/samba/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

evaluate sensors
  collectors/python.d.plugin/sensors/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

evaluate squid
  collectors/python.d.plugin/squid/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

evaluate tor
  collectors/python.d.plugin/tor/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

evaluate traefik
  collectors/python.d.plugin/traefik/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

evaluate w1sensor
  collectors/python.d.plugin/w1sensor/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

add metrics.csv to macos.plugin
  collectors/macos.plugin/metrics.csv
Owners: @thiagoftsm

add_ebpf_csv_description: Add missing metrics
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

add metrics.csv to freebsd.plugin
  collectors/freebsd.plugin/metrics.csv
Owners: @thiagoftsm

fix core soften ctx
  collectors/freebsd.plugin/freebsd_sysctl.c
Owners: @thiagoftsm

interrupt callback on api/v1/data
  database/contexts/internal.h
  web/api/web_api_v1.c
Owners: @thiagoftsm, @vkalintiris

update freebsd metrics.csv
  collectors/freebsd.plugin/metrics.csv
Owners: @thiagoftsm

smaller tier_grouping member size
  database/rrd.h
Owners: @thiagoftsm, @vkalintiris

add metrics.csv to cgroups.plugin
  collectors/cgroups.plugin/metrics.csv
Owners: @thiagoftsm

update
  collectors/cgroups.plugin/metrics.csv
Owners: @thiagoftsm

add_ebpf_csv_description: Add missing metrics
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

add_ebpf_csv_description: Update cgroup metrics
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

add_ebpf_csv_description: Update services
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

add_ebpf_csv_description: Fix typos
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

add_ebpf_csv_description: Fix modules
  collectors/ebpf.plugin/ebpf_fd.c
Owners: @thiagoftsm

add_ebpf_csv_description: Fix modules for VFS
  collectors/ebpf.plugin/ebpf_vfs.c
Owners: @thiagoftsm

[ci skip] Update changelog and version for nightly build: v1.38.0-443-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

add_ebpf_csv_description: Remove quotes around texts
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

add_ebpf_csv_description: Update services dimensions
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

add metrics.csv for zscores
  collectors/python.d.plugin/zscores/metrics.csv
Owners: @ilyam8

add metrics.csv for varnish
  collectors/python.d.plugin/varnish/metrics.csv
Owners: @ilyam8

add metrics.csv for uwsgi
  collectors/python.d.plugin/uwsgi/metrics.csv
Owners: @ilyam8

add metrics.csv for tomcat
  collectors/python.d.plugin/tomcat/metrics.csv
Owners: @ilyam8

add metrics.csv for spigotmc
  collectors/python.d.plugin/spigotmc/metrics.csv
Owners: @ilyam8

add metrics.csv to macos, freebsd and cgroups plugins (#14977)
  collectors/cgroups.plugin/metrics.csv
  collectors/freebsd.plugin/freebsd_sysctl.c
  collectors/freebsd.plugin/metrics.csv
  collectors/macos.plugin/metrics.csv
Owners: @thiagoftsm

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas
