Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

Add missing dummy function.
  ml/ml-dummy.c
Owners: @andrewm4894, @vkalintiris

stat
  collectors/proc.plugin/metrics.csv
Owners: @thiagoftsm

entropy
  collectors/proc.plugin/metrics.csv
Owners: @thiagoftsm

uptime
  collectors/proc.plugin/metrics.csv
Owners: @thiagoftsm

vmstat
  collectors/proc.plugin/metrics.csv
Owners: @thiagoftsm

zram
  collectors/proc.plugin/metrics.csv
Owners: @thiagoftsm

Update function call arguments
  database/sqlite/sqlite_aclk.c
Owners: @thiagoftsm, @vkalintiris

infiniband
  collectors/proc.plugin/metrics.csv
Owners: @thiagoftsm

edac
  collectors/proc.plugin/metrics.csv
Owners: @thiagoftsm

edac
  collectors/proc.plugin/metrics.csv
Owners: @thiagoftsm

system node
  collectors/proc.plugin/metrics.csv
Owners: @thiagoftsm

ksm
  collectors/proc.plugin/metrics.csv
Owners: @thiagoftsm

powersupply
  collectors/proc.plugin/metrics.csv
Owners: @thiagoftsm

btrfs
  collectors/proc.plugin/metrics.csv
Owners: @thiagoftsm

rearrange
  collectors/proc.plugin/metrics.csv
Owners: @thiagoftsm

proc_metrics: Add common context for filesystem charts, cleanup csv file and add scopes inside it.
  collectors/ebpf.plugin/ebpf_filesystem.c
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

Fix TYPO in README.md (#14980)
  packaging/docker/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

add metrics.csv to proc.plugin (#14979)
  collectors/cgroups.plugin/metrics.csv
  collectors/proc.plugin/metrics.csv
Owners: @thiagoftsm

updates
  collectors/python.d.plugin/alarms/metrics.csv
  collectors/python.d.plugin/anomalies/metrics.csv
  collectors/python.d.plugin/beanstalk/metrics.csv
  collectors/python.d.plugin/bind_rndc/metrics.csv
  collectors/python.d.plugin/changefinder/changefinder.chart.py
  collectors/python.d.plugin/changefinder/metrics.csv
  collectors/python.d.plugin/example/metrics.csv
  collectors/python.d.plugin/gearman/metrics.csv
  collectors/python.d.plugin/haproxy/metrics.csv
  collectors/python.d.plugin/hddtemp/metrics.csv
  collectors/python.d.plugin/megacli/metrics.csv
  collectors/python.d.plugin/monit/metrics.csv
  collectors/python.d.plugin/monit/monit.chart.py
  collectors/python.d.plugin/puppet/metrics.csv
  collectors/python.d.plugin/rethinkdbs/metrics.csv
  collectors/python.d.plugin/smartd_log/metrics.csv
  collectors/python.d.plugin/uwsgi/metrics.csv
  collectors/python.d.plugin/zscores/metrics.csv
Owners: @ilyam8

Guard transactions with a lock when flushing ML models.
  ml/ml.cc
Owners: @andrewm4894, @vkalintiris

updates
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

Add metrics.csv for ebpf (#14965)
  collectors/ebpf.plugin/ebpf_fd.c
  collectors/ebpf.plugin/ebpf_filesystem.c
  collectors/ebpf.plugin/ebpf_vfs.c
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

feat: additional postfix metrics
  collectors/python.d.plugin/postfix/Makefile.inc
  collectors/python.d.plugin/postfix/postfix_j.chart.py
  collectors/python.d.plugin/postfix/postfix_log.chart.py
Owners: @ilyam8

[ci skip] Update changelog and version for nightly build: v1.38.0-450-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

Mark dimensions with loaded models as trained.
  ml/ml.cc
Owners: @andrewm4894, @vkalintiris

use chart labels to filter alerts
  database/rrdcalc.c
  database/rrdcalc.h
  database/rrdcalctemplate.c
  database/rrdcalctemplate.h
  database/sqlite/sqlite_health.c
  health/health_config.c
Owners: @thiagoftsm, @vkalintiris, @MrZammler

add entry to readme
  health/REFERENCE.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

libjudy: remove JudyLTablesGen
  .gitignore
  CMakeLists.txt
  Makefile.am
  libnetdata/libjudy/src/JudyL/JudyLTables.c
  libnetdata/libjudy/src/JudyL/JudyLTablesGen.c
Owners: @Ferroin, @tkatsoulas, @vkalintiris, @thiagoftsm

wolfssl: Rename variable protocol_version to avoid conflict with WOLF_SSL
  collectors/freeipmi.plugin/freeipmi_plugin.c
Owners: @thiagoftsm

wolfssl: Modify security.c to use specific functions only when linked with OpenSSL
  libnetdata/socket/security.c
Owners: @thiagoftsm, @vkalintiris

wolfssl: Add new option --enable-wolfssl in netdata-installer.sh
  netdata-installer.sh
Owners: @Ferroin, @tkatsoulas

wolfssl: Rename function security_initialize_openssl_client to a more meaninful name and add Wolfssl clientt code
  aclk/https_client.c
  libnetdata/socket/security.c
  libnetdata/socket/security.h
Owners: @stelfrag, @underhood, @thiagoftsm, @vkalintiris

wolfssl: Modify aclk/aclk.c to use specific header only when linked with OpenSSL
  aclk/aclk.c
Owners: @stelfrag, @underhood

wolfssl: Fix typo and debug message according to library linked.
  libnetdata/socket/security.c
Owners: @thiagoftsm, @vkalintiris

wolfssl: Add Wolfssl headers in security.h
  libnetdata/socket/security.h
Owners: @thiagoftsm, @vkalintiris

wolfssl: Modify security.h to use specific headers only when linked with OpenSSL
  libnetdata/socket/security.h
Owners: @thiagoftsm, @vkalintiris

wolfssl: Modify configure.ac to to use both libraries according new option --enable-wolfssl
  configure.ac
Owners: @Ferroin

wolfssl: Rename function security_openssl_library to a more meaninful name and add Wolfssl init code
  daemon/main.c
  libnetdata/socket/security.c
  libnetdata/socket/security.h
Owners: @thiagoftsm, @vkalintiris

wolfssl: Modify rrdengine.h to use specific header only when linked with OpenSSL
  database/engine/rrdengine.h
Owners: @thiagoftsm, @vkalintiris

wolfssl: Add Wolfssl headers in aclk/aclk.c
  aclk/aclk.c
Owners: @stelfrag, @underhood

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas
