Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

[ci skip] Update changelog and version for nightly build: v1.38.0-337-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

add_labels2docker: Add new option for users specify where docker daemon is storing data
  collectors/cgroups.plugin/sys_fs_cgroup.c
Owners: @thiagoftsm

twilio notifications documentation update
  health/notifications/twilio/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

telegram notifications documentation update
  health/notifications/telegram/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

syslog notifications update
  health/notifications/syslog/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

smstools3 notifications documentation update
  health/notifications/smstools3/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

rocket.chat notifications documentation update
  health/notifications/rocketchat/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

pushover notifications documentation update
  health/notifications/pushover/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

pushbullet notifications documentation update
  health/notifications/pushbullet/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

prowl notifications documentation update
  health/notifications/prowl/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

pagerduty notifications documentation update
  health/notifications/pagerduty/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

remove comments from example configuration
  health/notifications/alerta/README.md
  health/notifications/awssns/README.md
  health/notifications/custom/README.md
  health/notifications/discord/README.md
  health/notifications/email/README.md
  health/notifications/flock/README.md
  health/notifications/irc/README.md
  health/notifications/kavenegar/README.md
  health/notifications/matrix/README.md
  health/notifications/messagebird/README.md
  health/notifications/msteams/README.md
  health/notifications/pagerduty/README.md
  health/notifications/prowl/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

slight wording changes
  health/notifications/alerta/README.md
  health/notifications/awssns/README.md
  health/notifications/custom/README.md
  health/notifications/discord/README.md
  health/notifications/flock/README.md
  health/notifications/irc/README.md
  health/notifications/kavenegar/README.md
  health/notifications/matrix/README.md
  health/notifications/messagebird/README.md
  health/notifications/msteams/README.md
  health/notifications/pagerduty/README.md
  health/notifications/prowl/README.md
  health/notifications/pushbullet/README.md
  health/notifications/pushover/README.md
  health/notifications/rocketchat/README.md
  health/notifications/smstools3/README.md
  health/notifications/syslog/README.md
  health/notifications/telegram/README.md
  health/notifications/twilio/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

create functions for generating group by keys, ids and names
  web/api/queries/query.c
Owners: @thiagoftsm, @vkalintiris

add_labels2docker: Rename cgroup label nad remove docker structure, because we are going to use another road to get tags and images
  collectors/cgroups.plugin/sys_fs_cgroup.c
Owners: @thiagoftsm

more notification methods documentation updates
  health/notifications/dynatrace/README.md
  health/notifications/email/README.md
  health/notifications/gotify/README.md
  health/notifications/opsgenie/README.md
  health/notifications/telegram/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

review usage of you to say user instead
  docs/netdata-security.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

also change written number
  docs/netdata-security.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

slack notification documentation update
  health/notifications/gotify/README.md
  health/notifications/slack/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

add config options to the notifications Introduction page
  health/notifications/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

crop image twilio
  health/notifications/twilio/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

crop image slack
  health/notifications/slack/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

crop image pushover
  health/notifications/pushover/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

crop images pushbullet
  health/notifications/pushbullet/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

crop image messagebird
  health/notifications/messagebird/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

crop image kavenegar
  health/notifications/kavenegar/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update docs/netdata-security.md
  docs/netdata-security.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

review usage of you to say user instead (#14858)
  docs/netdata-security.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update Agent notification methods documentation (#14827)
  health/notifications/README.md
  health/notifications/alerta/README.md
  health/notifications/awssns/README.md
  health/notifications/custom/README.md
  health/notifications/discord/README.md
  health/notifications/dynatrace/README.md
  health/notifications/email/README.md
  health/notifications/flock/README.md
  health/notifications/gotify/README.md
  health/notifications/irc/README.md
  health/notifications/kavenegar/README.md
  health/notifications/matrix/README.md
  health/notifications/messagebird/README.md
  health/notifications/msteams/README.md
  health/notifications/opsgenie/README.md
  health/notifications/pagerduty/README.md
  health/notifications/prowl/README.md
  health/notifications/pushbullet/README.md
  health/notifications/pushover/README.md
  health/notifications/rocketchat/README.md
  health/notifications/slack/README.md
  health/notifications/smstools3/README.md
  health/notifications/syslog/README.md
  health/notifications/telegram/README.md
  health/notifications/twilio/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

add_labels2docker: Add labels for network charts
  collectors/proc.plugin/proc_net_dev.c
Owners: @thiagoftsm

multiple group-by passes are now supported
  database/contexts/rrdcontext.h
  web/api/queries/query.c
  web/api/queries/rrdr.c
  web/api/queries/rrdr.h
Owners: @thiagoftsm, @vkalintiris

add_labels2docker: Remove unused variable.
  collectors/cgroups.plugin/sys_fs_cgroup.c
Owners: @thiagoftsm

add_labels2docker: Modify function netdev_rename_cgroup to add condition necessary to append lables only for specific group
  collectors/proc.plugin/proc_net_dev.c
Owners: @thiagoftsm

add_labels2docker: Remove unecessary calls after last commit
  collectors/proc.plugin/proc_net_dev.c
Owners: @thiagoftsm

add_labels2docker: Modify cgroup to have same logic used with proc
  collectors/cgroups.plugin/sys_fs_cgroup.c
Owners: @thiagoftsm

Add labels for cgroup name (#14856)
  collectors/cgroups.plugin/sys_fs_cgroup.c
  collectors/proc.plugin/proc_net_dev.c
Owners: @thiagoftsm

[ci skip] Update changelog and version for nightly build: v1.38.0-342-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

parse group-by options array also with an index
  web/api/web_api_v2.c
Owners: @thiagoftsm, @vkalintiris

set a default registry unique id when theres none
  daemon/anonymous-statistics.sh.in
Owners: @thiagoftsm, @vkalintiris

fix js tag
  health/notifications/gotify/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas
