Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

option group-by-labels is enabling the exposure of all the labels that are used for each of the final grouped dimensions
  web/api/formatters/json/json.c
  web/api/formatters/json/json.h
  web/api/formatters/json_wrapper.c
  web/api/formatters/json_wrapper.h
  web/api/formatters/rrd2json.c
  web/api/formatters/rrd2json.h
  web/api/queries/rrdr.c
  web/api/queries/rrdr.h
  web/api/web_api_v1.c
Owners: @thiagoftsm, @vkalintiris

add deps
  packaging/installer/dependencies/alpine.sh
  packaging/installer/dependencies/arch.sh
  packaging/installer/dependencies/centos.sh
  packaging/installer/dependencies/clearlinux.sh
  packaging/installer/dependencies/debian.sh
  packaging/installer/dependencies/fedora.sh
  packaging/installer/dependencies/freebsd.sh
  packaging/installer/dependencies/gentoo.sh
  packaging/installer/dependencies/ol.sh
  packaging/installer/dependencies/opensuse.sh
  packaging/installer/dependencies/rockylinux.sh
  packaging/installer/dependencies/ubuntu.sh
  packaging/installer/install-required-packages.sh
Owners: @Ferroin, @tkatsoulas

when executing group by queries, allocate one dimension data at a time - not all of them
  web/api/formatters/json_wrapper.c
  web/api/formatters/rrd2json.c
  web/api/queries/average/average.c
  web/api/queries/countif/countif.c
  web/api/queries/des/des.c
  web/api/queries/incremental_sum/incremental_sum.c
  web/api/queries/max/max.c
  web/api/queries/median/median.c
  web/api/queries/min/min.c
  web/api/queries/percentile/percentile.c
  web/api/queries/query.c
  web/api/queries/rrdr.c
  web/api/queries/rrdr.h
  web/api/queries/ses/ses.c
  web/api/queries/stddev/stddev.c
  web/api/queries/sum/sum.c
  web/api/queries/trimmed_mean/trimmed_mean.c
Owners: @thiagoftsm, @vkalintiris

respect hidden dimensions
  web/api/queries/query.c
Owners: @thiagoftsm, @vkalintiris

add mmc to block storage devices list
  daemon/system-info.sh
Owners: @thiagoftsm, @vkalintiris

cancel running data query on socket error
  database/contexts/rrdcontext.h
  libnetdata/socket/socket.c
  libnetdata/socket/socket.h
  web/api/queries/query.c
  web/api/web_api.c
  web/api/web_api.h
  web/api/web_api_v2.c
Owners: @thiagoftsm, @vkalintiris

use poll to detect socket errors
  libnetdata/socket/socket.c
Owners: @thiagoftsm, @vkalintiris

use POLLRDHUP to detect half closed connections
  libnetdata/socket/socket.c
  libnetdata/socket/socket.h
  web/api/web_api.c
Owners: @thiagoftsm, @vkalintiris

make sure POLLRDHUP is available
  libnetdata/socket/socket.c
Owners: @thiagoftsm, @vkalintiris

do not destroy aral-by-size arals
  libnetdata/aral/aral.c
Owners: @thiagoftsm, @vkalintiris

completed documentation of /api/v2/data.
  web/api/formatters/json_wrapper.c
  web/api/netdata-swagger.yaml
Owners: @thiagoftsm, @vkalintiris

update_dashboard: Sync local dashboard with cloud dashboard
  web/gui/dashboard_info.js
Owners: @jacekkolasa

moved min, max back to view; updated swagger yaml and json
  web/api/formatters/json_wrapper.c
  web/api/netdata-swagger.json
  web/api/netdata-swagger.yaml
Owners: @thiagoftsm, @vkalintiris

add to netdata.spec.in
  netdata.spec.in
Owners: @Ferroin, @tkatsoulas

fix system info disk size detection on raspberry pi (#14711)
  daemon/system-info.sh
Owners: @thiagoftsm, @vkalintiris

default format for /api/v2/data is json2
  web/api/netdata-swagger.json
  web/api/netdata-swagger.yaml
  web/api/web_api_v2.c
Owners: @thiagoftsm, @vkalintiris

Remove aclk sync threads
  aclk/aclk.c
  daemon/main.c
  daemon/main.h
  database/rrd.h
  database/rrdhost.c
  database/sqlite/sqlite_aclk.c
  database/sqlite/sqlite_aclk.h
  database/sqlite/sqlite_aclk_alert.c
  database/sqlite/sqlite_aclk_alert.h
  database/sqlite/sqlite_aclk_node.c
  database/sqlite/sqlite_aclk_node.h
  database/sqlite/sqlite_functions.c
  database/sqlite/sqlite_health.c
  database/sqlite/sqlite_metadata.c
Owners: @stelfrag, @underhood, @thiagoftsm, @vkalintiris

Disable functions if compiled with --disable-cloud
  database/sqlite/sqlite_aclk_node.c
Owners: @thiagoftsm, @vkalintiris

Allocate and reuse buffer when scanning hosts Tune transactions when writing metadata Error checking when executing db_execute (it is already within a loop with retries)
  database/sqlite/sqlite_aclk.c
  database/sqlite/sqlite_aclk_alert.c
  database/sqlite/sqlite_functions.c
  database/sqlite/sqlite_health.c
  database/sqlite/sqlite_metadata.c
Owners: @thiagoftsm, @vkalintiris

Schedule host context load in parallel Child connection will be delayed if context load is not complete Event loop cleanup
  daemon/event_loop.c
  daemon/event_loop.h
  database/rrd.h
  database/rrdhost.c
  database/sqlite/sqlite_aclk_node.c
  database/sqlite/sqlite_functions.c
  database/sqlite/sqlite_metadata.c
  database/sqlite/sqlite_metadata.h
  streaming/receiver.c
Owners: @thiagoftsm, @vkalintiris

Delay retention check if context is not loaded Remove context load check from regular metadata host scan
  database/rrdcontext.c
  database/sqlite/sqlite_metadata.c
Owners: @thiagoftsm, @vkalintiris

Improve checks to check finished threads
  database/rrdhost.c
  database/sqlite/sqlite_aclk.c
  database/sqlite/sqlite_context.c
  database/sqlite/sqlite_metadata.c
Owners: @thiagoftsm, @vkalintiris

If host is null (it should not be) do not allocate config (coverity reports Resource leak)
  database/sqlite/sqlite_aclk.c
Owners: @thiagoftsm, @vkalintiris

Cleanup warnings when compiling with --disable-cloud
  database/sqlite/sqlite_aclk.c
Owners: @thiagoftsm, @vkalintiris

Ignore rc from transaction start -- if there is an active transaction, we will use it (same with commit) should further improve in a future PR
  database/sqlite/sqlite_metadata.c
Owners: @thiagoftsm, @vkalintiris

Add newline at the end of file
  database/sqlite/sqlite_aclk_node.c
Owners: @thiagoftsm, @vkalintiris

Address codacy issues
  database/sqlite/sqlite_aclk.c
  database/sqlite/sqlite_health.c
  database/sqlite/sqlite_metadata.c
Owners: @thiagoftsm, @vkalintiris

Fix compilation error
  database/sqlite/sqlite_functions.h
Owners: @thiagoftsm, @vkalintiris

Remove empty file -- has already been moved under contexts
  database/rrdcontext.c
Owners: @thiagoftsm, @vkalintiris

Add queries in defines
  database/sqlite/sqlite_aclk.c
  database/sqlite/sqlite_aclk_alert.c
  database/sqlite/sqlite_metadata.c
Owners: @thiagoftsm, @vkalintiris

Code cleanup if agent is compiled with --disable-cloud Setup ACLK tables in the database if needed Submit node status update messages to the cloud
  database/sqlite/sqlite_aclk.c
  database/sqlite/sqlite_aclk.h
  database/sqlite/sqlite_aclk_alert.c
  database/sqlite/sqlite_aclk_node.c
  database/sqlite/sqlite_functions.c
  database/sqlite/sqlite_metadata.c
Owners: @thiagoftsm, @vkalintiris

Fix sql statement
  database/sqlite/sqlite_metadata.c
Owners: @thiagoftsm, @vkalintiris

Remove structures members that of no use Remove buffer allocations when not needed
  database/sqlite/sqlite_aclk.c
  database/sqlite/sqlite_aclk_alert.c
Owners: @thiagoftsm, @vkalintiris

Fix compilation warning when --disable-cloud is specified
  database/sqlite/sqlite_aclk.c
Owners: @thiagoftsm, @vkalintiris

Remove commented out code
  database/sqlite/sqlite_metadata.c
Owners: @thiagoftsm, @vkalintiris

Release node_id to prevent memory leak under certain cases
  database/sqlite/sqlite_aclk_alert.c
Owners: @thiagoftsm, @vkalintiris

Use enum instead of numbers
  database/sqlite/sqlite_aclk.c
Owners: @thiagoftsm, @vkalintiris

Don't check for service running when not from a worker
  database/contexts/worker.c
Owners: @thiagoftsm, @vkalintiris

Clean chart labels that were created before our current maximum retention
  database/sqlite/sqlite_metadata.c
Owners: @thiagoftsm, @vkalintiris

Use UUID_STR_LEN
  database/sqlite/sqlite_aclk.c
  database/sqlite/sqlite_aclk.h
  database/sqlite/sqlite_aclk_alert.c
Owners: @thiagoftsm, @vkalintiris

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas
