Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @stelfrag, @underhood, @vlvkobal, @thiagoftsm, @ilyam8, @simonnagl, @vkalintiris, @DShreve2, @andrewm4894, @jacekkolasa, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.travis/ @Ferroin
.github/ @Ferroin
aclk/ @stelfrag @underhood
build/ @Ferroin
contrib/debian @Ferroin
collectors/ @vlvkobal
collectors/ebpf.plugin/ @thiagoftsm @vlvkobal
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @vlvkobal @thiagoftsm
collectors/macos.plugin/ @vlvkobal @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @thiagoftsm
exporting/  @vlvkobal @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @DShreve2
health/ @thiagoftsm @vlvkobal @vkalintiris
health/health.d/ @thiagoftsm @vlvkobal
health/notifications/ @Ferroin @thiagoftsm
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin
registry/ @jacekkolasa
streaming/ @thiagoftsm @vlvkobal
system/ @Ferroin
tests/ @Ferroin @vkalintiris
web/ @thiagoftsm @vlvkobal @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin
*.md @DShreve2
Dockerfile* @Ferroin

# Ownership of specific files
.gitignore @Ferroin @vkalintiris
.travis.yml @Ferroin
.lgtm.yml @Ferroin
.eslintrc @Ferroin
.eslintignore @Ferroin
.csslintrc @Ferroin
.codeclimate.yml @Ferroin
.codacy.yml @Ferroin
.yamllint.yml @Ferroin
netdata.spec.in @Ferroin
netdata-installer.sh @Ferroin
packaging/version @netdatabot @Ferroin

LICENSE.md @DShreve2 @Ferroin @vkalintiris
CHANGELOG.md @netdatabot @Ferroin

Setup default certificates path (#13941)
  libnetdata/socket/security.c
  streaming/rrdpush.c
  streaming/stream.conf
Owners: @thiagoftsm, @vkalintiris, @vlvkobal

Fix missing entry in supported_compat_names for Arch Linux.
  packaging/installer/kickstart.sh
Owners: @Ferroin

Fix oracle linux (eBPF plugin) (#13935)
  collectors/ebpf.plugin/ebpf.c
  libnetdata/ebpf/ebpf.c
  libnetdata/ebpf/ebpf.h
Owners: @thiagoftsm, @vlvkobal, @vkalintiris

[ci skip] Update changelog and version for nightly build: v1.36.0-320-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin

add constraint, fix queries
  database/sqlite/sqlite_aclk.h
  database/sqlite/sqlite_aclk_alert.c
Owners: @thiagoftsm, @vkalintiris

remove health_thread_stop
  database/rrdhost.c
  health/health.c
Owners: @thiagoftsm, @vkalintiris, @vlvkobal

Reduce unnecessary alert events to the cloud (#13897)
  database/sqlite/sqlite_aclk.h
  database/sqlite/sqlite_aclk_alert.c
  database/sqlite/sqlite_db_migration.c
  database/sqlite/sqlite_functions.c
Owners: @thiagoftsm, @vkalintiris

[ci skip] Update changelog and version for nightly build: v1.36.0-322-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin

Add basic clang-format checking to PR review.
  .github/workflows/review.yml
Owners: @Ferroin

fix kickstart message
  packaging/installer/kickstart.sh
Owners: @Ferroin

workaround for agent UI
  libnetdata/libnetdata.h
  registry/registry.c
Owners: @thiagoftsm, @vkalintiris, @jacekkolasa

Fix local dashboard cloud links (#13953)
  libnetdata/libnetdata.h
  packaging/installer/kickstart.sh
  registry/registry.c
Owners: @thiagoftsm, @vkalintiris, @Ferroin, @jacekkolasa

bump go.d.plugin to v0.43.0
  packaging/go.d.checksums
  packaging/go.d.version
Owners: @Ferroin

add nvme dashboard info
  web/gui/dashboard_info.js
Owners: @jacekkolasa

add nvme alert
  health/Makefile.am
  health/health.d/nvme.conf
Owners: @Ferroin, @thiagoftsm, @vlvkobal

update wording
  web/gui/dashboard_info.js
Owners: @jacekkolasa

use 'host' label in info
  health/health.d/ping.conf
Owners: @thiagoftsm, @vlvkobal

nan
  health/health.d/nvme.conf
Owners: @thiagoftsm, @vlvkobal

bump go.d.plugin to v0.43.0 (#13954)
  health/Makefile.am
  health/health.d/nvme.conf
  packaging/go.d.checksums
  packaging/go.d.version
  web/gui/dashboard_info.js
Owners: @Ferroin, @thiagoftsm, @vlvkobal, @jacekkolasa

health/ping: use 'host' label in alerts info (#13955)
  health/health.d/ping.conf
Owners: @thiagoftsm, @vlvkobal

[ci skip] Update changelog and version for nightly build: v1.36.0-326-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin

require -DENABLE_DLSYM=1 to use dlsym()
  libnetdata/libnetdata.c
Owners: @thiagoftsm, @vkalintiris

soft sleeps
  health/health.c
  ml/Host.cc
Owners: @thiagoftsm, @vlvkobal, @vkalintiris, @andrewm4894

Add gtest deps in cmake job.
  .github/workflows/tests.yml
Owners: @Ferroin

Add support for tests with google test framework
  CMakeLists.txt
  Makefile.am
  config.cmake.h.in
  configure.ac
  daemon/common.h
  daemon/main.c
  netdata-installer.sh
  tests/netdata/database/tests.cc
  tests/netdata/testrunner.cc
  tests/netdata/testrunner.h
Owners: @Ferroin, @thiagoftsm, @vkalintiris

Move cgroups.plugin test to google test.
  CMakeLists.txt
  Makefile.am
  collectors/cgroups.plugin/tests/test_cgroups_plugin.c
  collectors/cgroups.plugin/tests/test_cgroups_plugin.h
  collectors/cgroups.plugin/tests/test_doubles.c
  database/rrdlabels.c
  tests/netdata/collectors/cgroups.plugin/tests.cc
Owners: @Ferroin, @vkalintiris, @thiagoftsm

Update CI job
  .github/workflows/tests.yml
  tests/run-unit-tests.sh
Owners: @Ferroin, @vkalintiris

Port the majority of existing unit tests to Google test framework.
  Makefile.am
  configure.ac
  daemon/global_statistics.c
  daemon/main.c
  daemon/static_threads.h
  daemon/unit_test.c
  daemon/unit_test.h
  database/engine/journalfile.c
  database/rrd.h
  database/rrdlabels.c
  libnetdata/Makefile.am
  libnetdata/arrayalloc/arrayalloc.c
  libnetdata/bitmap/bitmap.cc
  libnetdata/bitmap/bitmap.h
  libnetdata/libnetdata.c
  libnetdata/libnetdata.h
  libnetdata/storage_number/Makefile.am
  libnetdata/storage_number/tests/Makefile.am
  libnetdata/storage_number/tests/test_storage_number.c
  libnetdata/string/string.c
  libnetdata/string/string.h
  libnetdata/tests/Makefile.am
  libnetdata/tests/test_str2ld.c
  libnetdata/threads/threads.c
  tests/netdata/daemon/tests.cc
  tests/netdata/database/rrdlabels.cc
  tests/netdata/database/sqlite/tests.cc
  tests/netdata/database/tests.cc
  tests/netdata/libnetdata/arrayalloc/tests.cc
  tests/netdata/libnetdata/bitmap/tests.cc
  tests/netdata/libnetdata/buffer/tests.cc
  tests/netdata/libnetdata/eval/tests.cc
  tests/netdata/libnetdata/storage_number/tests.cc
  tests/netdata/libnetdata/string/string.cc
  tests/netdata/libnetdata/tests.cc
  tests/netdata/web/api/queries/weights.cc
  web/api/queries/weights.c
  web/api/queries/weights.h
Owners: @Ferroin, @thiagoftsm, @vkalintiris, @vlvkobal

Remove anomaly rates chart.
  database/rrd.h
  database/rrdcontext.c
  database/rrdcontext.h
  database/rrddim.c
  database/rrdset.c
  exporting/check_filters.c
  exporting/prometheus/prometheus.c
  health/health.c
  ml/Config.cc
  ml/Dimension.cc
  ml/Dimension.h
  ml/Host.cc
  ml/Host.h
  ml/ml-dummy.c
  ml/ml.cc
  ml/ml.h
  streaming/rrdpush.c
  web/api/formatters/rrd2json.c
  web/api/web_api_v1.c
Owners: @thiagoftsm, @vkalintiris, @vlvkobal, @andrewm4894

fallback to ar and ranlib if llvm-ar and llvm-ranlib are not there
  configure.ac
Owners: @Ferroin

Provide improved messaging in the kickstart script for existing installs managed by the system package manager. (#13947)
  packaging/installer/kickstart.sh
Owners: @Ferroin

Fix CI errors.
  .github/workflows/review.yml
Owners: @Ferroin

require -DENABLE_DLSYM=1 to use dlsym() (#13958)
  libnetdata/libnetdata.c
Owners: @thiagoftsm, @vkalintiris

[ci skip] Update changelog and version for nightly build: v1.36.0-329-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin

Remove anomaly rates chart. (#13763)
  database/rrd.h
  database/rrdcontext.c
  database/rrdcontext.h
  database/rrddim.c
  database/rrdset.c
  exporting/check_filters.c
  exporting/prometheus/prometheus.c
  health/health.c
  ml/Config.cc
  ml/Dimension.cc
  ml/Dimension.h
  ml/Host.cc
  ml/Host.h
  ml/ml-dummy.c
  ml/ml.cc
  ml/ml.h
  streaming/rrdpush.c
  web/api/formatters/rrd2json.c
  web/api/web_api_v1.c
Owners: @thiagoftsm, @vkalintiris, @vlvkobal, @andrewm4894

Update tor.conf
  collectors/python.d.plugin/tor/tor.conf
Owners: @ilyam8

add `password` param to tor readme
  collectors/python.d.plugin/tor/README.md
Owners: @DShreve2

wmi_alerts: Add labels for service
  health/health.d/wmi.conf
Owners: @thiagoftsm, @vlvkobal

document password param for tor collector (#13966)
  collectors/python.d.plugin/tor/README.md
  collectors/python.d.plugin/tor/tor.conf
Owners: @DShreve2, @ilyam8

break active-active loop from replicating non-existing child to each-other
  database/rrd.h
  streaming/receiver.c
  streaming/rrdpush.c
  streaming/sender.c
Owners: @thiagoftsm, @vkalintiris, @vlvkobal
