Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

Add ethtool in third party collectors
  collectors/COLLECTORS.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

when passing the raw option, the query exposes the hidden dimensions
  web/api/formatters/rrd2json.h
  web/api/queries/weights.c
Owners: @thiagoftsm, @vkalintiris

Add ethtool in third party collectors (#14753)
  collectors/COLLECTORS.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Add CI support for Fedora 38 & Ubuntu 23.04 native packages (#14735)
  .github/data/distros.yml
  packaging/PLATFORM_SUPPORT.md
Owners: @Ferroin, @tkatsoulas, @andrewm4894, @cakrit

bump go.d.plugin to v0.51.4
  packaging/go.d.checksums
  packaging/go.d.version
Owners: @Ferroin, @tkatsoulas

bump go.d.plugin to v0.51.4 (#14756)
  packaging/go.d.checksums
  packaging/go.d.version
Owners: @Ferroin, @tkatsoulas

fix compilation issues on older systems
  libnetdata/dictionary/dictionary.h
Owners: @thiagoftsm, @vkalintiris

[ci skip] Update changelog and version for nightly build: v1.38.0-268-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

the query engine now calculates per dimension min, max, sum, count, anomaly count
  database/rrd.h
  libnetdata/libnetdata.h
  web/api/formatters/rrd2json.c
  web/api/formatters/rrd2json.h
  web/api/netdata-swagger.yaml
  web/api/queries/query.c
  web/api/queries/rrdr.c
  web/api/queries/rrdr.h
  web/api/queries/weights.c
  web/api/web_api.c
Owners: @thiagoftsm, @vkalintiris

use the macro to calculate storage point anomaly rate
  web/api/queries/query.c
Owners: @thiagoftsm, @vkalintiris

weights endpoint exposing version hashes
  web/api/queries/weights.c
Owners: @thiagoftsm, @vkalintiris

fix /sys/block/zram in docker
  collectors/proc.plugin/sys_block_zram.c
Owners: @thiagoftsm

update error msg
  collectors/proc.plugin/sys_block_zram.c
Owners: @thiagoftsm

weights method=value shows min, max, average, sum, count, anomaly count, anomaly rate
  web/api/formatters/value/value.c
  web/api/formatters/value/value.h
  web/api/queries/weights.c
Owners: @thiagoftsm, @vkalintiris

query: expose RESET flag; do not add the same point multiple times to the aggregated point
  libnetdata/libnetdata.h
  web/api/queries/query.c
Owners: @thiagoftsm, @vkalintiris

weights: more compact output
  database/contexts/instance.c
  database/contexts/metric.c
  database/contexts/rrdcontext.h
  web/api/formatters/value/value.c
  web/api/formatters/value/value.h
  web/api/queries/weights.c
  web/api/queries/weights.h
  web/api/web_api.c
Owners: @thiagoftsm, @vkalintiris

weights requests can be interrupted
  database/contexts/query_target.c
  database/contexts/rrdcontext.h
  web/api/queries/weights.c
  web/api/queries/weights.h
  web/api/web_api.c
  web/server/web_client.h
Owners: @thiagoftsm, @vkalintiris

all /api/v2 requests can be interrupted and timeout
  database/contexts/api_v2.c
  database/contexts/query_scope.c
  database/contexts/query_target.c
  database/contexts/rrdcontext.h
  web/api/queries/weights.c
Owners: @thiagoftsm, @vkalintiris

allow relative timestamps in weights
  web/api/web_api.c
  web/api/web_api_v2.c
Owners: @thiagoftsm, @vkalintiris

fix macos compilation warnings
  configure.ac
  libnetdata/os.c
  libnetdata/storage_number/storage_number.c
  libnetdata/storage_number/storage_number.h
Owners: @Ferroin, @thiagoftsm, @vkalintiris

minor addition to distros matrix
  .github/data/distros.yml
Owners: @Ferroin, @tkatsoulas

Revert "fix macos compilation warnings"
  configure.ac
  libnetdata/os.c
  libnetdata/storage_number/storage_number.c
  libnetdata/storage_number/storage_number.h
Owners: @Ferroin, @thiagoftsm, @vkalintiris

Bundle libyaml (#14704)
  .github/workflows/coverity.yml
  .github/workflows/tests.yml
  Makefile.am
  configure.ac
  contrib/debian/control
  libnetdata/libnetdata.h
  netdata-installer.sh
  netdata.spec.in
  packaging/installer/dependencies/alpine.sh
  packaging/installer/dependencies/arch.sh
  packaging/installer/dependencies/centos.sh
  packaging/installer/dependencies/clearlinux.sh
  packaging/installer/dependencies/debian.sh
  packaging/installer/dependencies/fedora.sh
  packaging/installer/dependencies/freebsd.sh
  packaging/installer/dependencies/gentoo.sh
  packaging/installer/dependencies/ol.sh
  packaging/installer/dependencies/opensuse.sh
  packaging/installer/dependencies/rockylinux.sh
  packaging/installer/dependencies/ubuntu.sh
  packaging/installer/install-required-packages.sh
  packaging/yaml.checksums
  packaging/yaml.version
Owners: @Ferroin, @tkatsoulas, @thiagoftsm, @vkalintiris

/api/v2/data group-by now works on dimension names, not ids
  web/api/formatters/json_wrapper.c
  web/api/queries/query.c
Owners: @thiagoftsm, @vkalintiris

accept all=true for alarms api v1
  web/api/web_api_v1.c
Owners: @thiagoftsm, @vkalintiris

Use static thread-pool for training.
  daemon/main.c
  daemon/main.h
  database/rrdhost.c
  ml/Config.cc
  ml/ad_charts.cc
  ml/ad_charts.h
  ml/ml-private.h
  ml/ml.cc
  ml/ml.h
Owners: @thiagoftsm, @vkalintiris, @andrewm4894

disable training stats chart
  ml/ml.cc
Owners: @andrewm4894, @vkalintiris

Add config option to explicitly enable ML stats charts.
  daemon/global_statistics.c
  ml/Config.cc
  ml/ad_charts.cc
  ml/ml-dummy.c
  ml/ml-private.h
  ml/ml.cc
  ml/ml.h
Owners: @thiagoftsm, @vkalintiris, @andrewm4894

Add missing function definition
  ml/ml-dummy.c
Owners: @andrewm4894, @vkalintiris

skip alert template variables from alert snapshots
  database/sqlite/sqlite_aclk_alert.c
Owners: @thiagoftsm, @vkalintiris

Accept all=true for alarms api v1 call (#14762)
  web/api/web_api_v1.c
Owners: @thiagoftsm, @vkalintiris

initial commit, formatting comes next
  docs/monitor/view-active-alarms.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

format and spell check the file
  docs/monitor/view-active-alarms.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

minor addition to distros matrix (#14767)
  .github/data/distros.yml
Owners: @Ferroin, @tkatsoulas

Remove chart label cleanup during startup
  database/sqlite/sqlite_functions.c
Owners: @thiagoftsm, @vkalintiris

change load.conf to yaml
  health/health.d/load.conf
Owners: @thiagoftsm, @MrZammler

Fix typos in EOL check matrix generation.
  .github/scripts/gen-matrix-eol-check.py
Owners: @Ferroin, @tkatsoulas

Allow specifying a different name for distro for EOL check.
  .github/data/distros.yml
  .github/scripts/gen-matrix-eol-check.py
Owners: @Ferroin, @tkatsoulas

fix /sys/block/zram in docker (#14759)
  collectors/proc.plugin/sys_block_zram.c
Owners: @thiagoftsm

Add failure notifications for scheduled runs of EOL check workflow.
  .github/workflows/platform-eol-check.yml
Owners: @Ferroin, @tkatsoulas

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas
