Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

add metrics.csv to xenstat.plugin
  collectors/xenstat.plugin/metrics.csv
Owners: @thiagoftsm

add metrics.csv to perf.plugin
  collectors/perf.plugin/metrics.csv
Owners: @thiagoftsm

add metrics.csv to apps.plugin (#14968)
  collectors/apps.plugin/apps_plugin.c
  collectors/apps.plugin/metrics.csv
Owners: @thiagoftsm

add metrics.csv to timex.plugin (#14970)
  collectors/timex.plugin/metrics.csv
Owners: @thiagoftsm

add metrics.csv to charts.d (#14966)
  collectors/charts.d.plugin/ap/metrics.csv
  collectors/charts.d.plugin/apcupsd/metrics.csv
  collectors/charts.d.plugin/libreswan/metrics.csv
  collectors/charts.d.plugin/nut/metrics.csv
  collectors/charts.d.plugin/opensips/metrics.csv
  collectors/charts.d.plugin/sensors/metrics.csv
  collectors/charts.d.plugin/sensors/sensors.chart.sh
Owners: @ilyam8, @Ferroin

add_ebpf_csv_description: Update apps contexts
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

add_ebpf_csv_description: Modify apps dimensions to match apps csv
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

add_ebpf_csv_description: Modify plugin
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

add_ebpf_csv_description: chart type
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

add_ebpf_csv_description: metric
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

add_ebpf_csv_description: modify services scope
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

add metrics.csv for ceph
  collectors/python.d.plugin/ceph/metrics.csv
Owners: @ilyam8

add_ebpf_csv_description: services running
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

evaluate dovecot metrics.csv
  collectors/python.d.plugin/dovecot/metrics.csv
Owners: @ilyam8

add metrics.csv for fail2ban
  collectors/python.d.plugin/fail2ban/metrics.csv
Owners: @ilyam8

add_ebpf_csv_description: Remove " from fields
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

add metrics.csv to slabinfo.plugin (#14971)
  collectors/slabinfo.plugin/metrics.csv
Owners: @thiagoftsm

add metrics.csv to xenstat.plugin (#14972)
  collectors/xenstat.plugin/metrics.csv
Owners: @thiagoftsm

add metrics.csv to gearman
  collectors/python.d.plugin/gearman/metrics.csv
Owners: @ilyam8

revert go_expvar README
  collectors/python.d.plugin/go_expvar/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

add metrics.csv to perf.plugin (#14973)
  collectors/perf.plugin/metrics.csv
Owners: @thiagoftsm

revert dovecot README
  collectors/python.d.plugin/dovecot/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

minor fix
  collectors/python.d.plugin/dovecot/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

add metrics.csv for hddtemp
  collectors/python.d.plugin/hddtemp/metrics.csv
Owners: @ilyam8

add metrics.csv for hpssa
  collectors/python.d.plugin/hpssa/metrics.csv
Owners: @ilyam8

add metrics.csv to cups.plugin
  collectors/cups.plugin/metrics.csv
Owners: @thiagoftsm

add metrics.csv to diskspace.plugin
  collectors/diskspace.plugin/metrics.csv
Owners: @thiagoftsm

add metrics.csv to freeipmi.plugin
  collectors/freeipmi.plugin/metrics.csv
Owners: @thiagoftsm

add metrics.csv to idlejitter.plugin
  collectors/idlejitter.plugin/metrics.csv
Owners: @thiagoftsm

add metrics.csv to ioping.plugin
  collectors/ioping.plugin/metrics.csv
Owners: @thiagoftsm

add metrics.csv to nfacct.plugin
  collectors/nfacct.plugin/metrics.csv
Owners: @thiagoftsm

add metrics.csv to tc.plugin
  collectors/tc.plugin/metrics.csv
Owners: @thiagoftsm

fix cups dest charts family
  collectors/cups.plugin/cups_plugin.c
Owners: @thiagoftsm

add_ebpf_csv_description: Remove " from fields
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

fix adding chart labels in tc.plugin
  collectors/tc.plugin/plugin_tc.c
Owners: @thiagoftsm

Revert icecast README
  collectors/python.d.plugin/icecast/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

add_ebpf_csv_description: Remove " from fields
  collectors/ebpf.plugin/metrics.csv
Owners: @thiagoftsm

add metrics.csv for ipfs
  collectors/python.d.plugin/ipfs/metrics.csv
Owners: @ilyam8

evaluate lightspeed metrics.csv
  collectors/python.d.plugin/litespeed/README.md
  collectors/python.d.plugin/litespeed/metrics.csv
Owners: @tkatsoulas, @andrewm4894, @cakrit, @ilyam8

add metrics.csv to megacli
  collectors/python.d.plugin/megacli/metrics.csv
Owners: @ilyam8

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas
