Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

Add example of custom kmsg charts
  logsmanagement/logsmanagement.conf
Owners: @Ferroin

pandas collector add `read_sql()` support (#14563)
  collectors/python.d.plugin/pandas/README.md
  collectors/python.d.plugin/pandas/pandas.chart.py
  collectors/python.d.plugin/pandas/pandas.conf
Owners: @tkatsoulas, @andrewm4894, @cakrit, @ilyam8

renders alerts and units
  database/rrdcontext.c
  database/rrdcontext.h
  web/api/formatters/json_wrapper.c
Owners: @thiagoftsm, @vkalintiris

[ci skip] Update changelog and version for nightly build: v1.38.0-116-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

Fix coverity issues (#14543)
  aclk/aclk_rx_msgs.c
  collectors/apps.plugin/apps_plugin.c
  database/engine/cache.c
  database/rrdcalc.c
  libnetdata/buffer/buffer.c
  web/api/queries/weights.c
Owners: @stelfrag, @underhood, @thiagoftsm, @vkalintiris

Add extra initialization error logs
  logsmanagement/logsmanagement.c
Owners: @Ferroin

render machine_guid and node_id in all sections it is relevant
  database/rrdcontext.c
  database/rrdcontext.h
  web/api/formatters/json_wrapper.c
Owners: @thiagoftsm, @vkalintiris

unified keys
  web/api/formatters/json_wrapper.c
Owners: @thiagoftsm, @vkalintiris

Fix bug of Docker Events collector failure disabling whole logs management engine
  logsmanagement/flb_plugin.c
  logsmanagement/logsmanagement.c
Owners: @Ferroin

Fix two issues with the edit-config script. (#14545)
  system/edit-config
Owners: @Ferroin, @tkatsoulas

set to normal to prevent going into stream mode with incomplete request
  web/server/web_client.c
Owners: @thiagoftsm, @vkalintiris

disable wait send
  web/server/static/static-threaded.c
Owners: @thiagoftsm, @vkalintiris

compare the bytes
  web/server/static/static-threaded.c
Owners: @thiagoftsm, @vkalintiris

set to wait receive/send when ssl returns wait read/write
  libnetdata/socket/socket.c
  web/server/static/static-threaded.c
  web/server/web_client.c
Owners: @thiagoftsm, @vkalintiris

group by now takes into account units and when there are multiple units involved, it creates a dimension per unit
  database/rrdcontext.c
  database/rrdcontext.h
  web/api/formatters/json_wrapper.c
  web/api/formatters/rrd2json.c
  web/api/queries/rrdr.c
  web/api/queries/rrdr.h
Owners: @thiagoftsm, @vkalintiris

Support installing extra packages in Docker images at runtime. (#14456)
  packaging/docker/Dockerfile
  packaging/docker/README.md
  packaging/docker/run.sh
Owners: @Ferroin, @tkatsoulas, @andrewm4894, @cakrit

request and detailed are hidden behind an option
  web/api/formatters/json_wrapper.c
  web/api/queries/rrdr.h
  web/api/web_api_v1.c
  web/api/web_api_v2.c
Owners: @thiagoftsm, @vkalintiris

Remove reduntant FLB output code
  logsmanagement/flb_plugin.c
Owners: @Ferroin

summary includes only a flattened list of alerts
  web/api/formatters/json_wrapper.c
Owners: @thiagoftsm, @vkalintiris

rm references overview
  docs/category-overview-pages/references-overview.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update README.md
  packaging/makeself/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update static binary readme (#14574)
  packaging/makeself/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

reorg learn
  packaging/docker/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Reorg learn (#14575)
  packaging/docker/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update README.md
  packaging/docker/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update README.md (#14576)
  packaging/docker/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Memory management eBPF (#14462)
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_apps.c
  collectors/ebpf.plugin/ebpf_apps.h
  collectors/ebpf.plugin/ebpf_cachestat.c
  collectors/ebpf.plugin/ebpf_dcstat.c
  collectors/ebpf.plugin/ebpf_fd.c
  collectors/ebpf.plugin/ebpf_oomkill.c
  collectors/ebpf.plugin/ebpf_process.c
  collectors/ebpf.plugin/ebpf_process.h
  collectors/ebpf.plugin/ebpf_shm.c
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_swap.c
  collectors/ebpf.plugin/ebpf_vfs.c
  libnetdata/libnetdata.c
  libnetdata/libnetdata.h
Owners: @thiagoftsm, @vkalintiris

Restructure installation methods
  packaging/installer/methods/ansible.md
  packaging/installer/methods/aws.md
  packaging/installer/methods/azure.md
  packaging/installer/methods/freebsd.md
  packaging/installer/methods/freenas.md
  packaging/installer/methods/gcp.md
  packaging/installer/methods/kickstart.md
  packaging/installer/methods/kubernetes.md
  packaging/installer/methods/macos.md
  packaging/installer/methods/methods.md
  packaging/installer/methods/offline.md
  packaging/installer/methods/packages.md
  packaging/installer/methods/pfsense.md
  packaging/installer/methods/synology.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Add systems.md
  packaging/installer/methods/systems.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Reorg learn 2102 1 (#14577)
  docs/category-overview-pages/references-overview.md
  packaging/installer/methods/ansible.md
  packaging/installer/methods/aws.md
  packaging/installer/methods/azure.md
  packaging/installer/methods/freebsd.md
  packaging/installer/methods/freenas.md
  packaging/installer/methods/gcp.md
  packaging/installer/methods/kickstart.md
  packaging/installer/methods/kubernetes.md
  packaging/installer/methods/macos.md
  packaging/installer/methods/methods.md
  packaging/installer/methods/offline.md
  packaging/installer/methods/packages.md
  packaging/installer/methods/pfsense.md
  packaging/installer/methods/synology.md
  packaging/installer/methods/systems.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Add link to all installation options
  packaging/installer/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Add link to all installation options (#14578)
  packaging/installer/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

installation reorg part 2
  build_external/README.md
  packaging/building-native-packages-locally.md
  packaging/installer/methods/methods.md
  packaging/installer/methods/source.md
  packaging/maintainers/README.md
  packaging/makeself/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Learn installation reorg part 2 (#14579)
  build_external/README.md
  packaging/building-native-packages-locally.md
  packaging/installer/methods/methods.md
  packaging/installer/methods/source.md
  packaging/maintainers/README.md
  packaging/makeself/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

final install reorg
  packaging/installer/methods/manual.md
  packaging/installer/methods/methods.md
  packaging/installer/methods/source.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Add a scheduled CI job to flag supported platforms going EOL upstream.
  .github/data/distros.yml
  .github/scripts/gen-matrix-eol-check.py
  .github/scripts/platform-impending-eol.py
  .github/workflows/platform-eol-check.yml
Owners: @Ferroin, @tkatsoulas

final install reorg for learn (#14580)
  packaging/installer/methods/manual.md
  packaging/installer/methods/methods.md
  packaging/installer/methods/source.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

alert counts per host and instance
  database/rrdcontext.c
  database/rrdcontext.h
  web/api/formatters/json_wrapper.c
  web/api/queries/query.c
Owners: @thiagoftsm, @vkalintiris

Add flake8 to review CI to check Python files.
  .flake8
  .github/workflows/review.yml
Owners: @Ferroin, @tkatsoulas

count of grouped metrics per dimension
  web/api/formatters/json_wrapper.c
  web/api/formatters/rrd2json.c
  web/api/queries/rrdr.c
  web/api/queries/rrdr.h
Owners: @thiagoftsm, @vkalintiris

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas
