Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

added group_by=selected to return only one dimension for all selected metrics
  web/api/formatters/rrd2json.c
  web/api/queries/query.c
  web/api/queries/query.h
  web/api/web_api_v2.c
Owners: @thiagoftsm, @vkalintiris

fix acceptance of group_by=selected
  web/api/formatters/rrd2json.c
  web/api/queries/query.c
Owners: @thiagoftsm, @vkalintiris

passing option "raw" disables partial data trimming
  web/api/formatters/json_wrapper.c
  web/api/formatters/rrd2json.c
  web/api/queries/rrdr.h
  web/api/web_api_v1.c
  web/api/web_api_v2.c
Owners: @thiagoftsm, @vkalintiris

remove obsolete option "plan"; use "debug"
  web/api/web_api_v1.c
Owners: @thiagoftsm, @vkalintiris

if child is not streaming use what we have instead of unknown
  database/sqlite/sqlite_aclk_node.c
Owners: @thiagoftsm, @vkalintiris

Properly handle service type detection failures when installing as a system service. (#14658)
  system/install-service.sh.in
Owners: @Ferroin, @tkatsoulas

guard for null host when sending node instances
  aclk/aclk.c
  database/sqlite/sqlite_functions.c
Owners: @stelfrag, @underhood, @thiagoftsm, @vkalintiris

reviewed role description to be according to app
  docs/cloud/manage/plans.md
  docs/cloud/manage/role-based-access.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

also add a default value when migrating
  database/sqlite/sqlite_db_migration.c
Owners: @thiagoftsm, @vkalintiris

Update readme file
  collectors/python.d.plugin/ethtool/README.md
  collectors/python.d.plugin/ethtool/ethtool.conf
Owners: @tkatsoulas, @andrewm4894, @cakrit, @ilyam8

fix view.min and view.max calculation - there were 2 bugs: a) min and max were reset for every row and b) min and max were corrupted by GBC and AR printing
  web/api/formatters/csv/csv.c
  web/api/formatters/json/json.c
  web/api/formatters/value/value.c
Owners: @thiagoftsm, @vkalintiris

Prepare pull request
  collectors/python.d.plugin/Makefile.am
Owners: @Ferroin, @tkatsoulas

add note on readme on how to easily see all ml related blog posts
  ml/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

update_script_kprobe: Fix issue https://github.com/netdata/netdata/issues/14668
  packaging/check-kernel-config.sh
Owners: @Ferroin, @tkatsoulas

Change installer behavior to build logs management by default
  configure.ac
  netdata-installer.sh
Owners: @Ferroin, @tkatsoulas

[ci skip] Update changelog and version for nightly build: v1.38.0-201-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

per row annotations
  libnetdata/buffer/buffer.h
  web/api/formatters/json_wrapper.c
Owners: @thiagoftsm, @vkalintiris

added time column to point annotations
  web/api/formatters/json_wrapper.c
Owners: @thiagoftsm, @vkalintiris

add note on readme on how to easily see all ml related blog posts (#14675)
  ml/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

merge guideline docs and add info to style guide
  contribution-guidelines.md
  docs/contributing/style-guide.md
  docs/guidelines.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Fix conditionals for claim-only case in kickstart.sh.
  packaging/installer/kickstart.sh
Owners: @Ferroin, @tkatsoulas

send an EOF before exit
  collectors/charts.d.plugin/charts.d.plugin.in
Owners: @ilyam8, @Ferroin

Disable logs management at runtime by default
  logsmanagement/db_api.c
  logsmanagement/logsmanagement.c
Owners: @Ferroin

Fix intermittent permissions issues in some Docker builds. (#14629)
  packaging/docker/Dockerfile
  packaging/docker/run.sh
Owners: @Ferroin, @tkatsoulas

If a child is not streaming, send to the cloud last known version instead of unknown (#14671)
  database/sqlite/sqlite_aclk_node.c
Owners: @thiagoftsm, @vkalintiris

Guard for null host when sending node instances (#14673)
  aclk/aclk.c
  database/sqlite/sqlite_db_migration.c
  database/sqlite/sqlite_functions.c
Owners: @stelfrag, @underhood, @thiagoftsm, @vkalintiris

New opcode to send current node state
  database/sqlite/sqlite_aclk.c
  database/sqlite/sqlite_aclk.h
  database/sqlite/sqlite_aclk_node.c
  database/sqlite/sqlite_metadata.c
Owners: @thiagoftsm, @vkalintiris

Remove debug messages
  database/sqlite/sqlite_aclk.c
Owners: @thiagoftsm, @vkalintiris

Handle conffiles for DEB packages explicitly instead of automatically. (#14662)
  contrib/debian/netdata.conffiles
  contrib/debian/rules
Owners: @Ferroin, @tkatsoulas

Move images in "interact-new-charts" from zenhub to github (#14654)
  docs/cloud/visualize/interact-new-charts.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Fix platform EOL checks to properly return success.
  .github/scripts/platform-impending-eol.py
  .github/workflows/platform-eol-check.yml
Owners: @Ferroin, @tkatsoulas

Fix conditionals for claim-only case in kickstart.sh. (#14679)
  packaging/installer/kickstart.sh
Owners: @Ferroin, @tkatsoulas

update_script_kprobe: Accept suggestion from review
  packaging/check-kernel-config.sh
Owners: @Ferroin, @tkatsoulas

Add global db mode configuration in 'logs management' config section
  collectors/logsmanagement.plugin/plugin_logsmanagement.c
  logsmanagement/file_info.h
  logsmanagement/logsmanagement.c
  logsmanagement/logsmanagement_conf.h
Owners: @thiagoftsm, @Ferroin

Split logsmanagement.conf into required & optional sections
  logsmanagement/logsmanagement.conf
Owners: @Ferroin

Remove --enable-logsmanagement from stress test script
  logsmanagement/stress_test/run_stress_test.sh
Owners: @Ferroin

Fix platform EOL checks to properly return success. (#14681)
  .github/scripts/platform-impending-eol.py
  .github/workflows/platform-eol-check.yml
Owners: @Ferroin, @tkatsoulas

Fix issue template formatting for platform EOL check.
  .github/workflows/platform-eol-check.yml
Owners: @Ferroin, @tkatsoulas

Fix build matrix generation for platform EOL check.
  .github/scripts/gen-matrix-eol-check.py
Owners: @Ferroin, @tkatsoulas

[ci skip] Update changelog and version for nightly build: v1.38.0-212-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas
