Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas

Do garbage collection when contexts is initialized
  database/contexts/worker.c
Owners: @thiagoftsm, @vkalintiris

Don’t try to use tput in edit-config unless it’s installed. (#14705)
  system/edit-config
Owners: @Ferroin, @tkatsoulas

Add Amazon Linux 2 to CI and platform support. (#14599)
  .github/data/distros.yml
  .github/scripts/ci-support-pkgs.sh
  .github/scripts/pkg-test.sh
  .github/scripts/run-updater-check.sh
  netdata-installer.sh
  packaging/PLATFORM_SUPPORT.md
  packaging/installer/kickstart.sh
  packaging/installer/netdata-updater.sh
  packaging/repoconfig/netdata-edge.repo.al
  packaging/repoconfig/netdata-repo.spec
  packaging/repoconfig/netdata.repo.al
Owners: @Ferroin, @tkatsoulas, @andrewm4894, @cakrit

add stock vnodes config
  system/vnodes/vnodes.yaml
Owners: @Ferroin, @tkatsoulas

Add vnodes default configuration file.
  system/Makefile.am
  system/vnodes/vnodes.yaml
Owners: @Ferroin, @tkatsoulas

Update system/vnodes/vnodes.conf
  system/vnodes/vnodes.conf
Owners: @Ferroin, @tkatsoulas

vnodes.yaml => vnodes.conf
  system/Makefile.am
  system/vnodes/vnodes.conf
Owners: @Ferroin, @tkatsoulas

Fix vnodes config installation.
  system/Makefile.am
Owners: @Ferroin, @tkatsoulas

Update system/Makefile.am
  system/Makefile.am
Owners: @Ferroin, @tkatsoulas

add to contrib/debia/control
  contrib/debian/control
Owners: @Ferroin, @tkatsoulas

add reconnecting instructions for Docker
  claim/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

add yml notice
  claim/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Add vnodes default configuration file. (#14553)
  system/Makefile.am
  system/vnodes/vnodes.conf
Owners: @Ferroin, @tkatsoulas

fix flake8 errors
  collectors/python.d.plugin/ethtool/ethtool.chart.py
Owners: @ilyam8

Update claim/README.md
  claim/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

flake8 review
  collectors/python.d.plugin/ethtool/ethtool.chart.py
Owners: @ilyam8

flake8 review
  collectors/python.d.plugin/ethtool/ethtool.chart.py
Owners: @ilyam8

Update deployment-strategies.md
  docs/category-overview-pages/deployment-strategies.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Add instructions for reconnecting a Docker node to another Space (#14714)
  claim/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update dimensions-contexts-families.md
  docs/dashboard/dimensions-contexts-families.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update dimensions-contexts-families.md
  docs/dashboard/dimensions-contexts-families.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

minor typo
  docs/dashboard/dimensions-contexts-families.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Apply suggestions from code review
  docs/dashboard/dimensions-contexts-families.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update dimensions-contexts-families.md
  docs/dashboard/dimensions-contexts-families.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

/api/v2 part 4 (#14706)
  database/contexts/rrdcontext.h
  database/rrdlabels.c
  libnetdata/aral/aral.c
  libnetdata/buffer/buffer.h
  libnetdata/socket/socket.c
  libnetdata/socket/socket.h
  libnetdata/string/utf8.h
  web/api/formatters/json/json.c
  web/api/formatters/json/json.h
  web/api/formatters/json_wrapper.c
  web/api/formatters/json_wrapper.h
  web/api/formatters/rrd2json.c
  web/api/formatters/rrd2json.h
  web/api/netdata-swagger.json
  web/api/netdata-swagger.yaml
  web/api/queries/average/average.c
  web/api/queries/countif/countif.c
  web/api/queries/des/des.c
  web/api/queries/incremental_sum/incremental_sum.c
  web/api/queries/max/max.c
  web/api/queries/median/median.c
  web/api/queries/min/min.c
  web/api/queries/percentile/percentile.c
  web/api/queries/query.c
  web/api/queries/query.h
  web/api/queries/rrdr.c
  web/api/queries/rrdr.h
  web/api/queries/ses/ses.c
  web/api/queries/stddev/stddev.c
  web/api/queries/sum/sum.c
  web/api/queries/trimmed_mean/trimmed_mean.c
  web/api/web_api.c
  web/api/web_api.h
  web/api/web_api_v1.c
  web/api/web_api_v2.c
Owners: @thiagoftsm, @vkalintiris

query timestamps are now pre-determined and alignment on timestamps is guarranteed
  web/api/queries/query.c
Owners: @thiagoftsm, @vkalintiris

[ci skip] Update changelog and version for nightly build: v1.38.0-236-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

Update style-guide.md
  docs/contributing/style-guide.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

turn internal_fatal() to internal_error() to investigate the issue
  web/api/queries/query.c
Owners: @thiagoftsm, @vkalintiris

handle query when no data exist in the db
  web/api/queries/query.c
Owners: @thiagoftsm, @vkalintiris

Auto-trigger MSI build on release.
  .github/workflows/docker.yml
Owners: @Ferroin, @tkatsoulas

add go.d example collector to #etc section
  collectors/COLLECTORS.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

type
  collectors/COLLECTORS.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Fix infinite redirection loop
  web/server/web_client.c
Owners: @thiagoftsm, @vkalintiris

RPM: Added elfutils-libelf-devel for build with eBPF (#14552)
  netdata.spec.in
Owners: @Ferroin, @tkatsoulas

Auto-trigger MSI build on release. (#14721)
  .github/workflows/docker.yml
Owners: @Ferroin, @tkatsoulas

Add basic runit service script for Netdata.
  system/Makefile.am
  system/netdata-runit.in
Owners: @Ferroin, @tkatsoulas

Integrate runit handling in install-service script.
  system/install-service.sh.in
Owners: @Ferroin, @tkatsoulas

Add new runit script to .gitignore.
  .gitignore
Owners: @Ferroin, @tkatsoulas, @vkalintiris

Fix service file installation.
  system/install-service.sh.in
Owners: @Ferroin, @tkatsoulas
