Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

Update data-privacy.md
  docs/cloud/data-privacy.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update data-privacy.md (#14738)
  docs/cloud/data-privacy.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update data-privacy.md
  docs/cloud/data-privacy.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update data-privacy.md (#14739)
  docs/cloud/data-privacy.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update data-privacy.md
  docs/cloud/data-privacy.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Create pci-soc-hipaa.md
  docs/cloud/pci-soc-hipaa.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Create pci-soc-hipaa.md (#14740)
  docs/cloud/pci-soc-hipaa.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Add contexts
  docs/cloud/data-privacy.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Add contexts to privacy doc. (#14741)
  docs/cloud/data-privacy.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

remove extra gentoo libyaml
  packaging/installer/dependencies/gentoo.sh
Owners: @Ferroin, @tkatsoulas

Update change-metrics-storage.md
  docs/store/change-metrics-storage.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update change-metrics-storage.md (#14742)
  docs/store/change-metrics-storage.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update Performance Optimization Options
  docs/guides/configure/performance.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update Performance Optimization Options (#14743)
  docs/guides/configure/performance.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

increase RRD_ID_LENGTH_MAX to 1000
  database/rrd.h
Owners: @thiagoftsm, @vkalintiris

Use one thread for ACLK synchonization (#14281)
  aclk/aclk.c
  daemon/event_loop.c
  daemon/event_loop.h
  daemon/main.c
  daemon/main.h
  database/contexts/worker.c
  database/rrd.h
  database/rrdhost.c
  database/sqlite/sqlite_aclk.c
  database/sqlite/sqlite_aclk.h
  database/sqlite/sqlite_aclk_alert.c
  database/sqlite/sqlite_aclk_alert.h
  database/sqlite/sqlite_aclk_node.c
  database/sqlite/sqlite_aclk_node.h
  database/sqlite/sqlite_context.c
  database/sqlite/sqlite_functions.c
  database/sqlite/sqlite_functions.h
  database/sqlite/sqlite_health.c
  database/sqlite/sqlite_metadata.c
  database/sqlite/sqlite_metadata.h
  streaming/receiver.c
Owners: @stelfrag, @underhood, @thiagoftsm, @vkalintiris

increase RRD_ID_LENGTH_MAX to 1000 (#14744)
  database/rrd.h
Owners: @thiagoftsm, @vkalintiris

bump go.d.plugin version to v0.51.3
  packaging/go.d.checksums
  packaging/go.d.version
Owners: @Ferroin, @tkatsoulas

bump go.d.plugin version to v0.51.3 (#14745)
  packaging/go.d.checksums
  packaging/go.d.version
Owners: @Ferroin, @tkatsoulas

api/v2/weights preparative work to support multi-node queries - still single node though
  database/contexts/rrdcontext.c
  web/api/queries/weights.c
  web/api/queries/weights.h
  web/api/web_api.c
  web/api/web_api.h
  web/api/web_api_v1.c
  web/api/web_api_v2.c
Owners: @thiagoftsm, @vkalintiris

[ci skip] Update changelog and version for nightly build: v1.38.0-259-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

put info in the proper place from war-rooms.md
  docs/cloud/visualize/node-filter.md
  docs/cloud/war-rooms.md
  docs/dashboard/visualization-date-and-time-controls.md
  docs/quickstart/infrastructure.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update the images in visualization-date-and-time-controls.md
  docs/dashboard/visualization-date-and-time-controls.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

multi-node /api/v2/weights endpoint, supporting all the filtering parameters of /api/v2/data
  database/contexts/api_v2.c
  database/contexts/internal.h
  database/contexts/query_scope.c
  database/contexts/query_target.c
  database/contexts/rrdcontext.c
  database/contexts/rrdcontext.h
  libnetdata/dictionary/dictionary.c
  libnetdata/dictionary/dictionary.h
  web/api/formatters/json_wrapper.c
  web/api/formatters/json_wrapper.h
  web/api/queries/query.c
  web/api/queries/weights.c
  web/api/queries/weights.h
  web/api/web_api.c
  web/api/web_api_v2.c
Owners: @thiagoftsm, @vkalintiris

Apply suggestions from code review
  docs/cloud/visualize/node-filter.md
  docs/quickstart/infrastructure.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Add update every in the metric index (new v2 version) Switch to using memcmp instead of uuid_compare to build and search v2 index files
  database/engine/journalfile.c
  database/engine/journalfile.h
  database/engine/pagecache.c
Owners: @thiagoftsm, @vkalintiris

Update edit-config documentation
  docs/configure/nodes.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update docs/configure/nodes.md
  docs/configure/nodes.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

fix merge conflicts
  packaging/PLATFORM_SUPPORT.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update docs/configure/nodes.md
  docs/configure/nodes.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Apply suggestions from code review
  docs/configure/nodes.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

parorama
  packaging/PLATFORM_SUPPORT.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update docs/configure/nodes.md
  docs/configure/nodes.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update edit-config documentation (#14749)
  docs/configure/nodes.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

CI's pain, minor omission
  packaging/PLATFORM_SUPPORT.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Organize information from war-rooms.md to its correct location (#14729)
  docs/cloud/visualize/node-filter.md
  docs/cloud/war-rooms.md
  docs/dashboard/visualization-date-and-time-controls.md
  docs/quickstart/infrastructure.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update sign-in.md
  docs/cloud/manage/sign-in.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update sign-in.md (#14751)
  docs/cloud/manage/sign-in.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Suggest PRs to go to the community project (#14724)
  docs/guides/python-collector.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update deployment-strategies.md (#14716)
  docs/category-overview-pages/deployment-strategies.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas
