Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @netdata/agent-sre, @stelfrag, @thiagoftsm, @ilyam8, @vkalintiris, @Ancairon, @novykh, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @netdata/agent-sre
src/aclk/ @stelfrag
contrib/debian @netdata/agent-sre
src/collectors/ @thiagoftsm
src/collectors/ebpf.plugin/ @thiagoftsm
src/collectors/charts.d.plugin/ @ilyam8 @Ferroin
src/collectors/freebsd.plugin/ @thiagoftsm
src/collectors/macos.plugin/ @thiagoftsm
src/collectors/python.d.plugin/ @ilyam8
src/collectors/cups.plugin/ @thiagoftsm
src/exporting/ @thiagoftsm
src/daemon/ @thiagoftsm @vkalintiris
src/database/ @thiagoftsm @vkalintiris
docs/ @Ancairon
src/go/ @ilyam8
src/health/ @thiagoftsm @vkalintiris
src/health/health.d/ @thiagoftsm
src/health/notifications/ @Ferroin @thiagoftsm
src/ml/ @vkalintiris
src/libnetdata/ @thiagoftsm @vkalintiris
packaging/ @netdata/agent-sre
packaging/cmake @Ferroin @vkalintiris
src/registry/ @novykh
src/streaming/ @thiagoftsm
system/ @netdata/agent-sre
tests/ @netdata/agent-sre @vkalintiris
src/web/ @thiagoftsm @vkalintiris
src/web/gui/ @novykh
src/logsmanagement/ @thiagoftsm

# Ownership by filetype (overwrites ownership by directory)
*.md @Ancairon
*.mdx @Ancairon
Dockerfile* @netdata/agent-sre

# Ownership of specific files
.gitignore @netdata/agent-sre @vkalintiris
.codacy.yml @netdata/agent-sre
.yamllint.yml @netdata/agent-sre
CMakeLists.txt @netdata/agent-sre @vkalintiris
netdata.spec.in @netdata/agent-sre
netdata-installer.sh @netdata/agent-sre
packaging/version @netdatabot @netdata/agent-sre

LICENSE.md @netdata/agent-sre @vkalintiris
CHANGELOG.md @netdatabot @netdata/agent-sre

Fix quoting and snooze sc2043
  .github/workflows/repoconfig-packages.yml
Owners: @netdata/agent-sre

apply code review
  .github/workflows/review.yml
Owners: @netdata/agent-sre

micnor fix
  .github/workflows/review.yml
Owners: @netdata/agent-sre

Fix parorama
  .github/workflows/cloud_regression.yml
Owners: @netdata/agent-sre

more fixes
  .github/workflows/docker.yml
  .github/workflows/monitor-releases.yml
Owners: @netdata/agent-sre

Actually fix typos correctly.
  CMakeLists.txt
Owners: @netdata/agent-sre, @vkalintiris

Revert "Enable sentry on all Debian and Ubuntu versions. (#17259)"
  .github/data/distros.yml
Owners: @netdata/agent-sre

Revert "Enable sentry on all Debian and Ubuntu versions." (#17279)
  .github/data/distros.yml
Owners: @netdata/agent-sre

Update README.md
  README.md
Owners: @Ancairon

Update README.md
  README.md
Owners: @Ancairon

Update README.md
  README.md
Owners: @Ancairon

Update README.md
  README.md
Owners: @Ancairon

[ci skip] Update changelog and version for nightly build: v1.45.0-71-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @netdata/agent-sre

cgroup_label: Add label to VFS
  src/collectors/ebpf.plugin/ebpf_vfs.c
Owners: @thiagoftsm

cgroup_label: Add label to process
  src/collectors/ebpf.plugin/ebpf_process.c
Owners: @thiagoftsm

cgroup_label: Add label to cachestat
  src/collectors/ebpf.plugin/ebpf_cachestat.c
Owners: @thiagoftsm

cgroup_label: Update label
  src/collectors/ebpf.plugin/ebpf_cachestat.c
  src/collectors/ebpf.plugin/ebpf_cgroup.c
  src/collectors/ebpf.plugin/ebpf_dcstat.c
  src/collectors/ebpf.plugin/ebpf_fd.c
  src/collectors/ebpf.plugin/ebpf_process.c
  src/collectors/ebpf.plugin/ebpf_shm.c
  src/collectors/ebpf.plugin/ebpf_socket.c
  src/collectors/ebpf.plugin/ebpf_swap.c
  src/collectors/ebpf.plugin/ebpf_vfs.c
Owners: @thiagoftsm

cgroup_label: Add label to dc
  src/collectors/ebpf.plugin/ebpf_dcstat.c
Owners: @thiagoftsm

cgroup_label: Remove magic number
  src/collectors/ebpf.plugin/ebpf_cachestat.c
  src/collectors/ebpf.plugin/ebpf_dcstat.c
  src/collectors/ebpf.plugin/ebpf_fd.c
  src/collectors/ebpf.plugin/ebpf_oomkill.c
  src/collectors/ebpf.plugin/ebpf_process.c
  src/collectors/ebpf.plugin/ebpf_shm.c
  src/collectors/ebpf.plugin/ebpf_socket.c
  src/collectors/ebpf.plugin/ebpf_swap.c
  src/collectors/ebpf.plugin/ebpf_vfs.c
Owners: @thiagoftsm

cgroup_label: Add label to shm
  src/collectors/ebpf.plugin/ebpf_shm.c
Owners: @thiagoftsm

cgroup_label: change eBPF threads to address https://github.com/netdata/netdata/pull/17156#issuecomment-1999724466
  src/collectors/ebpf.plugin/ebpf.c
Owners: @thiagoftsm

cgroup_label: Add label to swap
  src/collectors/ebpf.plugin/ebpf_swap.c
Owners: @thiagoftsm

cgroup_label: Add label to fd
  src/collectors/ebpf.plugin/ebpf_fd.c
Owners: @thiagoftsm

cgroup_label: Add label to socket
  src/collectors/ebpf.plugin/ebpf_socket.c
Owners: @thiagoftsm

prometheus_help_type: Add comment to swagger.yaml
  src/web/api/netdata-swagger.yaml
Owners: @thiagoftsm, @vkalintiris

prometheus_help_type: Rename function
  src/exporting/prometheus/prometheus.c
Owners: @thiagoftsm

prometheus_help_type: Add comment to swagger.json
  src/web/api/netdata-swagger.json
Owners: @thiagoftsm, @vkalintiris

prometheus_help_type: As it was disccussed in our meeting, we are going to move ahead according to this https://github.com/netdata/netdata/pull/17191#issuecomment-2007127165 comment.
  src/web/api/exporters/allmetrics.c
  src/web/api/netdata-swagger.json
  src/web/api/netdata-swagger.yaml
Owners: @thiagoftsm, @vkalintiris

prometheus_help_type: Add new option to endpoint
  src/web/api/exporters/allmetrics.c
Owners: @thiagoftsm, @vkalintiris

prometheus_help_type: Use COMMENT and HELP separated
  src/exporting/prometheus/prometheus.c
Owners: @thiagoftsm

prometheus_help_type: Move variable declaration.
  src/exporting/prometheus/prometheus.c
Owners: @thiagoftsm

prometheus_help_type: Fix issues when generate output
  src/exporting/prometheus/prometheus.c
Owners: @thiagoftsm

prometheus_help_type: Remove Comment from prometheus.
  src/exporting/prometheus/prometheus.c
  src/exporting/prometheus/prometheus.h
Owners: @thiagoftsm

prometheus_help_type: Add a new function to show HELP information
  src/exporting/prometheus/prometheus.c
Owners: @thiagoftsm

prometheus_help_type: Add flag to separate COMMENT from HELP
  src/exporting/prometheus/prometheus.h
Owners: @thiagoftsm

prometheus_help_type: Return variable declaration for previous position to simplify algorithm
  src/exporting/prometheus/prometheus.c
Owners: @thiagoftsm

prometheus_help_type: Fix typo[
  src/exporting/prometheus/prometheus.c
Owners: @thiagoftsm

prometheus_help_type: Show context with appendices to keep pattern with metrics (Help)
  src/exporting/prometheus/prometheus.c
Owners: @thiagoftsm

prometheus_help_type: Create functions and move content.
  src/exporting/prometheus/prometheus.c
Owners: @thiagoftsm

prometheus_help_type: Cleanup after remove COMMENTS
  src/exporting/prometheus/prometheus.c
Owners: @thiagoftsm
