Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

increase the pre-processing capacity of queries
  web/api/queries/query.c
Owners: @thiagoftsm, @vkalintiris

do not add nodes that do not have retention in the current window
  database/contexts/query_target.c
Owners: @thiagoftsm, @vkalintiris

new type annotations
  libnetdata/buffer/buffer.h
  web/api/formatters/json_wrapper.c
  web/api/formatters/rrd2json.c
Owners: @thiagoftsm, @vkalintiris

if a chart is not linked to contexts and it is collected, link it when it is collected
  database/contexts/instance.c
Owners: @thiagoftsm, @vkalintiris

provide detailed statistics about tiers retention, queries, points, update_every
  database/contexts/query_target.c
  database/contexts/rrdcontext.h
  web/api/formatters/json_wrapper.c
  web/api/formatters/rrd2json.c
  web/api/formatters/value/value.c
  web/api/queries/query.c
  web/api/queries/rrdr.h
  web/api/queries/weights.c
Owners: @thiagoftsm, @vkalintiris

generate instance fqdn ids and names only when they are needed
  database/contexts/query_target.c
  database/contexts/rrdcontext.h
  web/api/formatters/json_wrapper.c
  web/api/formatters/rrd2json.c
Owners: @thiagoftsm, @vkalintiris

cleanup
  database/contexts/query_target.c
  database/contexts/rrdcontext.h
Owners: @thiagoftsm, @vkalintiris

when a dimension is filtered, include in the response all the other dimensions that are selectable
  database/contexts/query_target.c
Owners: @thiagoftsm, @vkalintiris

support for annotations per displayed point, RESET and PARTIAL
  database/rrdcalc.h
  libnetdata/buffer/buffer.h
  web/api/formatters/json_wrapper.c
  web/api/formatters/json_wrapper.h
  web/api/formatters/rrd2json.c
  web/api/queries/rrdr.h
  web/api/web_api_v1.c
Owners: @thiagoftsm, @vkalintiris

more cleanup
  database/contexts/query_target.c
Owners: @thiagoftsm, @vkalintiris

Fix handling of no data in platform EOL checks. (#14617)
  .github/data/distros.yml
  .github/scripts/platform-impending-eol.py
  .github/workflows/platform-eol-check.yml
Owners: @Ferroin, @tkatsoulas

Merge Rx and Tx data on the same graph
  collectors/python.d.plugin/ethtool/ethtool.chart.py
Owners: @ilyam8

Update REFERENCE.md
  health/REFERENCE.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update REFERENCE.md (#14627)
  health/REFERENCE.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update collectors/python.d.plugin/zscores/README.md
  collectors/python.d.plugin/zscores/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update libnetdata/ebpf/README.md
  libnetdata/ebpf/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update ml/README.md
  ml/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update libnetdata/string/README.md
  libnetdata/string/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Rename authorization to authentication
  docs/cloud/alerts-notifications/add-webhook-notification-configuration.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Add an option to the kickstart script to override distro detection. (#14589)
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart.md
Owners: @Ferroin, @tkatsoulas, @andrewm4894, @cakrit

Misc SSL improvements 3 (#14602)
  web/server/static/static-threaded.c
  web/server/web_client.c
  web/server/web_client.h
Owners: @thiagoftsm, @vkalintiris

Fix intermittent permissions issues in some Docker builds.
  packaging/docker/Dockerfile
  packaging/docker/run.sh
Owners: @Ferroin, @tkatsoulas

added Challenge secret and rooms object on the payload (#14496)
  docs/cloud/alerts-notifications/add-webhook-notification-configuration.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

ebpf_new_charts: After to talk with Stelios, we agree that new charts to monitor ARAL should be hidden
  collectors/ebpf.plugin/ebpf_cachestat.c
  collectors/ebpf.plugin/ebpf_dcstat.c
  collectors/ebpf.plugin/ebpf_fd.c
  collectors/ebpf.plugin/ebpf_process.c
  collectors/ebpf.plugin/ebpf_shm.c
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_vfs.c
Owners: @thiagoftsm

ebpf_new_charts: Add specific contexts for charts to simplify addition of chart description
  collectors/ebpf.plugin/ebpf.c
Owners: @thiagoftsm

Fix broken link
  packaging/installer/methods/packages.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Fix broken link (#14630)
  packaging/installer/methods/packages.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

fix broken link
  docs/cloud/alerts-notifications/add-webhook-notification-configuration.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Re-add docs link for native DEB/RPM packages.
  packaging/installer/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Clean up trailing whitespace.
  packaging/installer/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Centralize installer action types.
  packaging/installer/kickstart.sh
Owners: @Ferroin, @tkatsoulas

Update messaging around install action options.
  packaging/installer/kickstart.sh
Owners: @Ferroin, @tkatsoulas

Update documentation about kickstart options to be consistent with help text.
  packaging/installer/methods/freebsd.md
  packaging/installer/methods/kickstart.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Make option names more consistent.
  packaging/installer/kickstart.sh
Owners: @Ferroin, @tkatsoulas

Ensure consistency of kickstart script options that change operational mode of the script. (#13896)
  packaging/installer/kickstart.sh
  packaging/installer/methods/freebsd.md
  packaging/installer/methods/kickstart.md
Owners: @Ferroin, @tkatsoulas, @andrewm4894, @cakrit

ebpf_new_charts: Add chart description
  web/gui/dashboard_info.js
Owners: @jacekkolasa

Re-add link from install page to DEB/RPM package documentation. (#14631)
  packaging/installer/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

fix broken links
  docs/cloud/insights/metric-correlations.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Add link to native packages also on the list
  packaging/installer/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Add link to native packages also on the list (#14633)
  packaging/installer/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas
