Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas

use hidden dimensions even when dimensions pattern is unset
  database/contexts/query_target.c
Owners: @thiagoftsm, @vkalintiris

traverse hosts using dictionaries
  database/contexts/rrdcontext.c
  database/contexts/worker.c
  database/rrdcalc.c
  database/rrdhost.c
  health/health.c
Owners: @thiagoftsm, @vkalintiris, @MrZammler

fix dictionary unittests
  libnetdata/dictionary/dictionary.c
Owners: @thiagoftsm, @vkalintiris

Update freebsd.md
  packaging/installer/methods/freebsd.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update REFERENCE.md
  health/REFERENCE.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update README.md
  collectors/charts.d.plugin/sensors/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update COLLECTORS.md
  collectors/COLLECTORS.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Fix doc links (#14650)
  collectors/COLLECTORS.md
  collectors/charts.d.plugin/sensors/README.md
  health/REFERENCE.md
  packaging/installer/methods/freebsd.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update kickstart.md
  packaging/installer/methods/kickstart.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update monitor-debug-applications-ebpf.md
  docs/guides/troubleshoot/monitor-debug-applications-ebpf.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Fix links (#14651)
  docs/guides/troubleshoot/monitor-debug-applications-ebpf.md
  packaging/installer/methods/kickstart.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

[ci skip] Update changelog and version for nightly build: v1.38.0-193-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

fix broken links in glossary
  docs/glossary.md
  docs/glossary.txt
Owners: @tkatsoulas, @andrewm4894, @cakrit

remove links from comments
  docs/glossary.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Move images in "interact-new-charts" from zenhub to github
  docs/cloud/visualize/interact-new-charts.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Fix sizing
  docs/cloud/visualize/interact-new-charts.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Process metric retention locally for each MRG population init thread Update MRG when the thread is done
  database/engine/journalfile.c
  database/engine/journalfile.h
  database/engine/rrdengine.c
  database/engine/rrdengineapi.c
Owners: @thiagoftsm, @vkalintiris

Fix handling of missing release codename on DEB systems. (#14642)
  packaging/installer/kickstart.sh
Owners: @Ferroin, @tkatsoulas

fix simple_pattern_create on freebsd
  collectors/freebsd.plugin/freebsd_devstat.c
  collectors/freebsd.plugin/freebsd_getifaddrs.c
  collectors/freebsd.plugin/freebsd_getmntinfo.c
Owners: @thiagoftsm

fix simple_pattern_create on freebsd (#14656)
  collectors/freebsd.plugin/freebsd_devstat.c
  collectors/freebsd.plugin/freebsd_getifaddrs.c
  collectors/freebsd.plugin/freebsd_getmntinfo.c
Owners: @thiagoftsm

Properly handle service type detection failures when installing as a system service.
  system/install-service.sh.in
Owners: @Ferroin, @tkatsoulas

Refactor ML code.
  .gitmodules
  Makefile.am
  collectors/plugins.d/pluginsd_parser.c
  configure.ac
  database/rrd.h
  database/rrdhost.c
  database/rrdset.c
  ml/Config.cc
  ml/ad_charts.cc
  ml/ad_charts.h
  ml/ml-dummy.c
  ml/ml-private.h
  ml/ml.cc
  ml/ml.h
  ml/nml.cc
  web/api/web_api_v1.c
Owners: @Ferroin, @tkatsoulas, @thiagoftsm, @vkalintiris, @andrewm4894

Fix broken sed expressions in installer.
  netdata-installer.sh
Owners: @Ferroin, @tkatsoulas

Fix broken links in glossary.md (#14653)
  docs/glossary.md
  docs/glossary.txt
Owners: @tkatsoulas, @andrewm4894, @cakrit

Remove missing headers from build systems.
  CMakeLists.txt
  Makefile.am
Owners: @Ferroin, @tkatsoulas

Handle conffiles for DEB packages explicitly instead of automatically.
  contrib/debian/netdata.conffiles
  contrib/debian/rules
Owners: @Ferroin, @tkatsoulas

Fix CMake build.
  CMakeLists.txt
Owners: @Ferroin

rrddim_free is outside of rrd "internals" now.
  database/rrd.h
Owners: @thiagoftsm, @vkalintiris

Fix updater CI check WRT auto-update checking.
  .github/scripts/run-updater-check.sh
Owners: @Ferroin, @tkatsoulas

add FAQ information provided by Finance
  docs/cloud/manage/view-plan-billing.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Add support for bypassing static build cache on PRs. (#14646)
  .github/workflows/build.yml
Owners: @Ferroin, @tkatsoulas

max web request size to 64KB
  aclk/aclk_query.c
  web/server/web_client.c
  web/server/web_client.h
  web/server/web_client_cache.c
Owners: @stelfrag, @underhood, @thiagoftsm, @vkalintiris

fix the request too big message
  web/server/web_client.c
Owners: @thiagoftsm, @vkalintiris

Use 2 threads for MRG population
  database/engine/rrdengineapi.c
Owners: @thiagoftsm, @vkalintiris

Use 5 threads for MRG population
  database/engine/rrdengineapi.c
Owners: @thiagoftsm, @vkalintiris

[ci skip] Update changelog and version for nightly build: v1.38.0-198-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

increase max request reading tries to 100
  web/server/web_client.c
  web/server/web_client.h
Owners: @thiagoftsm, @vkalintiris

support for bigger web requests
  web/server/web_client.c
  web/server/web_client.h
Owners: @thiagoftsm, @vkalintiris

add "avg" as a shortcut for "average" to both group by aggregation and time aggregation; discard the last partial points of a query in play mode, up to max update every; group by hidden dimensions too
  database/contexts/api_v1.c
  database/contexts/query_target.c
  database/contexts/rrdcontext.h
  web/api/formatters/rrd2json.c
  web/api/queries/query.c
  web/api/queries/rrdr.h
  web/api/queries/weights.c
Owners: @thiagoftsm, @vkalintiris

better implementation for partial data trimming
  web/api/formatters/json_wrapper.c
  web/api/formatters/rrd2json.c
  web/api/queries/rrdr.h
  web/api/web_api_v2.c
Owners: @thiagoftsm, @vkalintiris
