Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

reduce amount of warnning produced by h2o compilation
  Makefile.am
Owners: @Ferroin, @tkatsoulas

try ipv6 if cant parse as ipv4
  httpd/http_server.c
Owners: @Ferroin

fix rebase mistake
  web/server/web_client.h
Owners: @thiagoftsm, @vkalintiris

initial STREAM upgrade
  httpd/http_server.c
Owners: @Ferroin

common file for defs needed by streaming and httpd
  CMakeLists.txt
  Makefile.am
  httpd/http_server.c
  streaming/common.h
Owners: @Ferroin, @tkatsoulas, @thiagoftsm

make HTTP parser usable by external alien forces
  aclk/https_client.c
  aclk/https_client.h
Owners: @stelfrag, @underhood

rrdpush ALPN
  streaming/sender.c
Owners: @thiagoftsm

add 101 to http_defs
  libnetdata/http/http_defs.h
Owners: @thiagoftsm, @vkalintiris

parse all http headers
  aclk/https_client.c
  aclk/https_client.h
Owners: @stelfrag, @underhood

allow mode where parser doesn't wait for content
  aclk/https_client.c
  aclk/https_client.h
Owners: @stelfrag, @underhood

working rrdpush, added UPGRADE prelude
  streaming/sender.c
Owners: @thiagoftsm

recv, accept upgrade and do nothing for now
  httpd/http_server.c
Owners: @Ferroin

receiver rx side
  httpd/http_server.c
  httpd/http_server.h
  streaming/receiver.c
Owners: @Ferroin, @thiagoftsm

fixup
  httpd/http_server.c
Owners: @Ferroin

minor - reduce strcmps
  aclk/https_client.c
Owners: @stelfrag, @underhood

fixup
  httpd/http_server.c
Owners: @Ferroin

WIP receiver tx
  httpd/http_server.c
  httpd/http_server.h
  streaming/receiver.c
  streaming/rrdpush.c
  streaming/rrdpush.h
  web/server/web_client.c
  web/server/web_client.h
Owners: @Ferroin, @thiagoftsm, @vkalintiris

process_STREAM_X_HTTP_1_1
  httpd/http_server.c
Owners: @Ferroin

tx side lock from dev branch
  httpd/http_server.c
Owners: @Ferroin

fix wrong merge
  httpd/http_server.c
Owners: @Ferroin

allow pluginsd parser to send data trough h2o
  collectors/plugins.d/pluginsd_parser.c
  libnetdata/parser/parser.h
  streaming/receiver.c
Owners: @thiagoftsm, @vkalintiris

make h2o stream read blocking
  httpd/http_server.c
  streaming/receiver.c
  streaming/rrdpush.h
Owners: @Ferroin, @thiagoftsm

Update collectors/charts.d.plugin/sensors/README.md
  collectors/charts.d.plugin/sensors/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

lint the file, and correct some mistypes
  collectors/charts.d.plugin/sensors/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

add suggestions and fix wording
  collectors/charts.d.plugin/sensors/README.md
  collectors/diskspace.plugin/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

cover feedback by users
  claim/README.md
  collectors/apps.plugin/README.md
  collectors/charts.d.plugin/sensors/README.md
  collectors/diskspace.plugin/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

fix broken link
  packaging/installer/methods/ansible.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

/api/v2 endpoints expose agents and additional info per node, that is needed to unify cloud responses
  database/contexts/api_v2.c
  database/contexts/rrdcontext.h
  web/api/formatters/json_wrapper.c
  web/api/queries/query.c
  web/api/queries/weights.c
Owners: @thiagoftsm, @vkalintiris

/api/v2 nodes output now includes the duration of time spent per node
  database/contexts/api_v2.c
  database/contexts/rrdcontext.h
  web/api/formatters/json_wrapper.c
  web/api/formatters/rrd2json.c
  web/api/formatters/value/value.c
  web/api/formatters/value/value.h
  web/api/queries/query.c
  web/api/queries/weights.c
Owners: @thiagoftsm, @vkalintiris

jsonwrap view object renames and cleanup
  web/api/formatters/json_wrapper.c
  web/api/netdata-swagger.yaml
Owners: @thiagoftsm, @vkalintiris

Update README.md
  logsmanagement/README.md
  logsmanagement/logsmanagement.conf
Owners: @tkatsoulas, @andrewm4894, @cakrit, @Ferroin

Update README.md
  logsmanagement/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Another attempt to fix CI failures
  logsmanagement/flb_plugin.c
Owners: @Ferroin

Fix undefined reference to 'uv_sleep' on certain platforms
  logsmanagement/db_api.c
  logsmanagement/logsmanagement_conf.h
  logsmanagement/tail_plugin.c
Owners: @Ferroin

rework of the statistics returned by the query engine
  database/contexts/query_target.c
  database/contexts/rrdcontext.h
  libnetdata/libnetdata.h
  web/api/formatters/json_wrapper.c
  web/api/formatters/value/value.c
  web/api/queries/query.c
  web/api/queries/query.h
  web/api/queries/rrdr.c
  web/api/queries/rrdr.h
  web/api/queries/weights.c
Owners: @thiagoftsm, @vkalintiris

swagger work
  web/api/netdata-swagger.yaml
  web/api/web_api_v1.c
Owners: @thiagoftsm, @vkalintiris

swagger work
  web/api/netdata-swagger.yaml
Owners: @thiagoftsm, @vkalintiris

more swagger work
  web/api/netdata-swagger.yaml
Owners: @thiagoftsm, @vkalintiris

updated swagger json
  web/api/netdata-swagger.json
Owners: @thiagoftsm, @vkalintiris

added the remaining of the /api/v2 endpoints to swagger
  web/api/netdata-swagger.json
  web/api/netdata-swagger.yaml
Owners: @thiagoftsm, @vkalintiris

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas
