Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @iigorkarpov, @maneamarius, @kaskavel, @stelfrag, @underhood, @vlvkobal, @ilyam8, @thiagoftsm, @jacekkolasa, @simonnagl, @vkalintiris, @DShreve2, @kickoke, @andrewm4894, @netdatabot

fix fixing merge conflicts from web
  daemon/main.c
Owners: @thiagoftsm, @vkalintiris

Add libatomic to required dependencies.
  packaging/installer/dependencies/alpine.sh
  packaging/installer/dependencies/centos.sh
  packaging/installer/dependencies/debian.sh
  packaging/installer/dependencies/fedora.sh
  packaging/installer/dependencies/ol.sh
  packaging/installer/dependencies/opensuse.sh
  packaging/installer/dependencies/rockylinux.sh
  packaging/installer/dependencies/ubuntu.sh
  packaging/installer/install-required-packages.sh
Owners: @Ferroin, @iigorkarpov, @maneamarius

update kickstart.sh
  packaging/installer/kickstart.sh
Owners: @Ferroin, @iigorkarpov, @maneamarius

chore: remove "web files" options leftovers (#12403)
  contrib/sles11/netdata-alarms-bash3.patch
  daemon/main.c
  packaging/docker/run.sh
  packaging/installer/methods/synology.md
  web/api/tests/valid_urls.c
  web/api/tests/web_api.c
Owners: @Ferroin, @thiagoftsm, @vkalintiris, @iigorkarpov, @maneamarius, @DShreve2, @kickoke, @vlvkobal

remove contrib/sles11
  contrib/sles11/README.md
  contrib/sles11/alarm-notify-basic.bash3.sh
  contrib/sles11/netdata-alarms-bash3.patch
  contrib/sles11/netdata-automake-no-dist-xz.patch
  contrib/sles11/netdata-python-plugin-sles11.patch
  contrib/sles11/netdata.init
Owners: @DShreve2, @kickoke, @Ferroin

Don't publish nightlies if they are unchanged since the last nightly.
  .github/scripts/prepare-release-base.sh
Owners: @Ferroin, @iigorkarpov, @maneamarius, @kaskavel

Add additional link to badges doc
  health/REFERENCE.md
Owners: @DShreve2, @kickoke

chore: remove contrib/sles11 (#12410)
  contrib/sles11/README.md
  contrib/sles11/alarm-notify-basic.bash3.sh
  contrib/sles11/netdata-alarms-bash3.patch
  contrib/sles11/netdata-automake-no-dist-xz.patch
  contrib/sles11/netdata-python-plugin-sles11.patch
  contrib/sles11/netdata.init
Owners: @DShreve2, @kickoke, @Ferroin

disable charts apcupds
  collectors/charts.d.plugin/charts.d.plugin.in
Owners: @ilyam8, @Ferroin

Add additional link to badges doc (#12412)
  health/REFERENCE.md
Owners: @DShreve2, @kickoke

update_ebpf_doc: Update eBPF documentation with content from dashboard
  collectors/ebpf.plugin/README.md
Owners: @DShreve2, @kickoke

disable only in containers
  collectors/charts.d.plugin/charts.d.plugin.in
Owners: @ilyam8, @Ferroin

Update collectors/charts.d.plugin/charts.d.plugin.in
  collectors/charts.d.plugin/charts.d.plugin.in
Owners: @ilyam8, @Ferroin

fix: temporary disable charts.d apcupsd collectors (#12415)
  collectors/charts.d.plugin/charts.d.plugin.in
Owners: @ilyam8, @Ferroin

[ci skip] Update changelog and version for nightly build: v1.33.1-174-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @iigorkarpov, @maneamarius

rewording
  collectors/statsd.plugin/asterisk.md
Owners: @DShreve2, @kickoke

Reorder functions properly in updater script. (#12399)
  packaging/installer/netdata-updater.sh
Owners: @Ferroin, @iigorkarpov, @maneamarius

fix apsupsd_check
  collectors/charts.d.plugin/apcupsd/apcupsd.chart.sh
  collectors/charts.d.plugin/charts.d.plugin.in
Owners: @ilyam8, @Ferroin

fix(charts.d.plugin): fix recursion in apcupsd_check and enable it again (#12418)
  collectors/charts.d.plugin/apcupsd/apcupsd.chart.sh
  collectors/charts.d.plugin/charts.d.plugin.in
Owners: @ilyam8, @Ferroin

[ci skip] Update changelog and version for nightly build: v1.33.1-177-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @iigorkarpov, @maneamarius

add a delay between starting netdata and pids check
  packaging/installer/functions.sh
Owners: @Ferroin, @iigorkarpov, @maneamarius

lowercase uuidgen
  claim/netdata-claim.sh.in
  packaging/installer/kickstart.sh
Owners: @Ferroin, @iigorkarpov, @maneamarius

ensure claim_id is lowercase
  claim/claim.c
Owners: @Ferroin

Fix os_name for older agent versions streaming to a parent
  database/rrdhost.c
Owners: @thiagoftsm, @vkalintiris

fix: lowercase uuidgen (#12422)
  claim/netdata-claim.sh.in
  packaging/installer/kickstart.sh
Owners: @Ferroin, @iigorkarpov, @maneamarius

fix: add a delay between starting Netdata and checking pids (#12420)
  packaging/installer/functions.sh
Owners: @Ferroin, @iigorkarpov, @maneamarius

Fix packaging CI failure notifications to actually report _all_ steps. (#12394)
  .github/workflows/packaging.yml
Owners: @Ferroin, @iigorkarpov, @maneamarius, @kaskavel

Add retries in preparation of test environments for build CI. (#12198)
  .github/workflows/build.yml
Owners: @Ferroin, @iigorkarpov, @maneamarius, @kaskavel

Sanely handle very large PR bodies in package build CI matrix generation. (#12218)
  .github/workflows/packaging.yml
Owners: @Ferroin, @iigorkarpov, @maneamarius, @kaskavel

Add a dry run mode to the kickstart script. (#12322)
  packaging/installer/UPDATE.md
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart.md
Owners: @DShreve2, @kickoke, @Ferroin, @iigorkarpov, @maneamarius

Switch to using netdata-updater.sh to toggle auto updates on and off on install.
  netdata-installer.sh
  packaging/installer/UPDATE.md
  packaging/installer/functions.sh
  packaging/installer/kickstart.sh
  packaging/makeself/install-or-update.sh
Owners: @Ferroin, @iigorkarpov, @maneamarius, @DShreve2, @kickoke

Make heading name less ambiguous.
  packaging/installer/UPDATE.md
Owners: @DShreve2, @kickoke

Apply suggestions from code review
  packaging/installer/UPDATE.md
Owners: @DShreve2, @kickoke

Fix fallback case for unsupported updater script.
  packaging/installer/kickstart.sh
Owners: @Ferroin, @iigorkarpov, @maneamarius

Fix invalid function name.
  packaging/installer/kickstart.sh
Owners: @Ferroin, @iigorkarpov, @maneamarius

Fix os_name for older agent versions streaming to a parent (#12425)
  database/rrdhost.c
Owners: @thiagoftsm, @vkalintiris

Revise claiming error message in kickstart script.
  packaging/installer/kickstart.sh
Owners: @Ferroin, @iigorkarpov, @maneamarius

Update packaging/installer/kickstart.sh
  packaging/installer/kickstart.sh
Owners: @Ferroin, @iigorkarpov, @maneamarius

Addressed review feedback.
  packaging/installer/kickstart.sh
Owners: @Ferroin, @iigorkarpov, @maneamarius

Apply suggestions from code review
  packaging/installer/kickstart.sh
Owners: @Ferroin, @iigorkarpov, @maneamarius

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.travis/ @Ferroin @iigorkarpov @maneamarius @kaskavel
.github/ @Ferroin @iigorkarpov @maneamarius @kaskavel
aclk/ @stelfrag @underhood
build/ @Ferroin @iigorkarpov @maneamarius
contrib/debian @Ferroin @iigorkarpov @maneamarius
collectors/ @vlvkobal
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @vlvkobal @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm @vlvkobal
collectors/macos.plugin/ @vlvkobal @thiagoftsm
collectors/node.d.plugin/ @jacekkolasa
collectors/node.d.plugin/snmp/ @jacekkolasa
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @thiagoftsm
exporting/  @vlvkobal @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @DShreve2 @kickoke
health/ @thiagoftsm @vlvkobal @vkalintiris
health/health.d/ @thiagoftsm @vlvkobal
health/notifications/ @Ferroin @thiagoftsm
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @iigorkarpov @maneamarius
registry/ @jacekkolasa
streaming/ @thiagoftsm @vlvkobal
system/ @Ferroin @iigorkarpov @maneamarius
tests/ @Ferroin @iigorkarpov @maneamarius @kaskavel @vkalintiris
web/ @thiagoftsm @vlvkobal @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @iigorkarpov @maneamarius
*.md @DShreve2 @kickoke
Dockerfile* @Ferroin @iigorkarpov @maneamarius

# Ownership of specific files
.gitignore @Ferroin @iigorkarpov @maneamarius @vkalintiris
.travis.yml @Ferroin @iigorkarpov @maneamarius @kaskavel
.lgtm.yml @Ferroin @iigorkarpov @maneamarius
.eslintrc @Ferroin @iigorkarpov @maneamarius
.eslintignore @Ferroin @iigorkarpov @maneamarius
.csslintrc @Ferroin @iigorkarpov @maneamarius
.codeclimate.yml @Ferroin @iigorkarpov @maneamarius
.codacy.yml @Ferroin @iigorkarpov @maneamarius
.yamllint.yml @Ferroin @iigorkarpov @maneamarius
netdata.spec.in @Ferroin @iigorkarpov @maneamarius
netdata-installer.sh @Ferroin @iigorkarpov @maneamarius
packaging/version @netdatabot @Ferroin @iigorkarpov @maneamarius

LICENSE.md @DShreve2 @Ferroin @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @iigorkarpov @maneamarius
