Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @iigorkarpov, @kaskavel, @vkalintiris, @stelfrag, @underhood, @thiagoftsm, @vlvkobal, @ilyam8, @jacekkolasa, @ccremer, @simonnagl, @DShreve2, @thiagofsm, @netdatabot

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @iigorkarpov, @vkalintiris

[Agent Negotiation] Based on stream version
  streaming/receiver.c
  streaming/rrdpush.h
  streaming/sender.c
Owners: @thiagoftsm, @vlvkobal

[Agent Negotiation] Version based - fix compilation error
  streaming/sender.c
Owners: @thiagoftsm, @vlvkobal

[Agent Negotiation] Fix glob var default_compression_enbaled=0 affects all the connections - Handle compression - stream version based
  streaming/sender.c
Owners: @thiagoftsm, @vlvkobal

[Agent Negotiation - Compression] - Add control flag in 1. sender/receiver state & 2. stream.conf per child
  streaming/receiver.c
  streaming/rrdpush.h
  streaming/sender.c
Owners: @thiagoftsm, @vlvkobal

modify path to scripts
  packaging/installer/install-required-packages.sh
Owners: @Ferroin, @iigorkarpov, @vkalintiris

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.travis/ @Ferroin @iigorkarpov @kaskavel @vkalintiris
.github/ @Ferroin @iigorkarpov @kaskavel @vkalintiris
aclk/ @stelfrag @underhood
backends/ @thiagoftsm @vlvkobal
backends/graphite/ @thiagoftsm @vlvkobal
backends/json/ @thiagoftsm @vlvkobal
backends/opentsdb/ @thiagoftsm @vlvkobal
backends/prometheus/ @vlvkobal @thiagoftsm
build/ @Ferroin @iigorkarpov
contrib/debian @Ferroin @iigorkarpov @vkalintiris
collectors/ @vlvkobal
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @vlvkobal @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm @vlvkobal
collectors/macos.plugin/ @vlvkobal @thiagoftsm
collectors/node.d.plugin/ @jacekkolasa
collectors/node.d.plugin/fronius/ @ccremer
collectors/node.d.plugin/snmp/ @jacekkolasa
collectors/node.d.plugin/stiebeleltron/ @ccremer
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @thiagoftsm
exporting/  @vlvkobal @thiagoftsm
daemon/ @thiagoftsm
database/ @thiagoftsm @vkalintiris
docs/ @DShreve2
health/ @thiagoftsm @vlvkobal @vkalintiris
health/health.d/ @thiagoftsm @vlvkobal
health/notifications/ @Ferroin @thiagoftsm
libnetdata/ @thiagofsm
packaging/ @Ferroin @iigorkarpov @vkalintiris
registry/ @jacekkolasa
streaming/ @thiagoftsm @vlvkobal
system/ @Ferroin @iigorkarpov @vkalintiris
tests/ @Ferroin @iigorkarpov @kaskavel @vkalintiris
web/ @thiagoftsm @vlvkobal @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @iigorkarpov @vkalintiris
*.md @DShreve2
Dockerfile* @Ferroin @iigorkarpov @vkalintiris

# Ownership of specific files
.gitignore @Ferroin @iigorkarpov @vkalintiris
.travis.yml @Ferroin @iigorkarpov @kaskavel @vkalintiris
.lgtm.yml @Ferroin @iigorkarpov @vkalintiris
.eslintrc @Ferroin @iigorkarpov @vkalintiris
.eslintignore @Ferroin @iigorkarpov @vkalintiris
.csslintrc @Ferroin @iigorkarpov @vkalintiris
.codeclimate.yml @Ferroin @iigorkarpov @vkalintiris
.codacy.yml @Ferroin @iigorkarpov @vkalintiris
.yamllint.yml @Ferroin @iigorkarpov @vkalintiris
netdata.spec.in @Ferroin @iigorkarpov @vkalintiris
netdata-installer.sh @Ferroin @iigorkarpov @vkalintiris
package.json @jacekkolasa @Ferroin @iigorkarpov @vkalintiris
packaging/version @netdatabot @Ferroin @iigorkarpov @vkalintiris

LICENSE.md @DShreve2 @Ferroin @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @iigorkarpov @vkalintiris
