Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas

add metrics.csv for smartd_log
  collectors/python.d.plugin/smartd_log/metrics.csv
Owners: @ilyam8

add metrics.csv for riakkv
  collectors/python.d.plugin/riakkv/metrics.csv
Owners: @ilyam8

interrupt callback on api/v1/data (#14978)
  database/contexts/internal.h
  database/rrd.h
  web/api/web_api_v1.c
Owners: @thiagoftsm, @vkalintiris

add metrics.csv for rethinkdbs
  collectors/python.d.plugin/rethinkdbs/metrics.csv
Owners: @ilyam8

add metrics.csv for puppet
  collectors/python.d.plugin/puppet/metrics.csv
Owners: @ilyam8

proc_metrics: Add net_netstats metrics
  collectors/proc.plugin/metrics.csv
Owners: @thiagoftsm

proc_metrics: Add loadavg metrics
  collectors/proc.plugin/metrics.csv
Owners: @thiagoftsm

proc_metrics: Add disk scope for diskspace
  collectors/proc.plugin/metrics.csv
Owners: @thiagoftsm

proc_metrics: Add interrupt metrtics inside metrics.csv
  collectors/proc.plugin/metrics.csv
Owners: @thiagoftsm

proc_metrics: Add meminfo metrics
  collectors/proc.plugin/metrics.csv
Owners: @thiagoftsm

proc_metrics: Add diskstat metrics inside metrics.csv
  collectors/proc.plugin/metrics.csv
Owners: @thiagoftsm

add metrics.csv for nvidia_smi
  collectors/python.d.plugin/nvidia_smi/metrics.csv
Owners: @ilyam8

add metrics.csv for haproxy
  collectors/python.d.plugin/haproxy/metrics.csv
Owners: @ilyam8

add ipc and mdstat
  collectors/proc.plugin/metrics.csv
Owners: @thiagoftsm

ipvsstats and add labels to mdstat
  collectors/proc.plugin/metrics.csv
Owners: @thiagoftsm

Fix TYPO in README.md
  packaging/docker/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

make use of quotation marks only when needed
  collectors/python.d.plugin/adaptec_raid/metrics.csv
  collectors/python.d.plugin/am2320/metrics.csv
  collectors/python.d.plugin/anomalies/metrics.csv
  collectors/python.d.plugin/bind_rndc/metrics.csv
  collectors/python.d.plugin/ceph/metrics.csv
  collectors/python.d.plugin/dovecot/metrics.csv
  collectors/python.d.plugin/example/metrics.csv
  collectors/python.d.plugin/exim/metrics.csv
  collectors/python.d.plugin/fail2ban/metrics.csv
  collectors/python.d.plugin/gearman/metrics.csv
  collectors/python.d.plugin/go_expvar/metrics.csv
  collectors/python.d.plugin/haproxy/metrics.csv
  collectors/python.d.plugin/hddtemp/metrics.csv
  collectors/python.d.plugin/hpssa/metrics.csv
  collectors/python.d.plugin/icecast/metrics.csv
  collectors/python.d.plugin/ipfs/metrics.csv
  collectors/python.d.plugin/litespeed/metrics.csv
  collectors/python.d.plugin/megacli/metrics.csv
  collectors/python.d.plugin/memcached/metrics.csv
  collectors/python.d.plugin/nsd/metrics.csv
  collectors/python.d.plugin/nvidia_smi/metrics.csv
  collectors/python.d.plugin/openldap/metrics.csv
  collectors/python.d.plugin/oracledb/metrics.csv
  collectors/python.d.plugin/postfix/metrics.csv
  collectors/python.d.plugin/puppet/metrics.csv
  collectors/python.d.plugin/rethinkdbs/metrics.csv
  collectors/python.d.plugin/retroshare/metrics.csv
  collectors/python.d.plugin/riakkv/metrics.csv
  collectors/python.d.plugin/samba/metrics.csv
  collectors/python.d.plugin/sensors/metrics.csv
  collectors/python.d.plugin/smartd_log/metrics.csv
  collectors/python.d.plugin/spigotmc/metrics.csv
  collectors/python.d.plugin/squid/metrics.csv
  collectors/python.d.plugin/tomcat/metrics.csv
  collectors/python.d.plugin/tor/metrics.csv
  collectors/python.d.plugin/traefik/metrics.csv
  collectors/python.d.plugin/uwsgi/metrics.csv
  collectors/python.d.plugin/varnish/metrics.csv
  collectors/python.d.plugin/w1sensor/metrics.csv
  collectors/python.d.plugin/zscores/metrics.csv
Owners: @ilyam8

revert exim README
  collectors/python.d.plugin/exim/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

revert rest of READMEs
  collectors/python.d.plugin/adaptec_raid/README.md
  collectors/python.d.plugin/am2320/README.md
  collectors/python.d.plugin/anomalies/README.md
  collectors/python.d.plugin/beanstalk/README.md
  collectors/python.d.plugin/bind_rndc/README.md
  collectors/python.d.plugin/boinc/README.md
  collectors/python.d.plugin/example/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

netstat
  collectors/proc.plugin/metrics.csv
Owners: @thiagoftsm

nfs and nfsd
  collectors/proc.plugin/metrics.csv
Owners: @thiagoftsm

sctp
  collectors/proc.plugin/metrics.csv
Owners: @thiagoftsm

sockstat and sockstat6
  collectors/proc.plugin/metrics.csv
Owners: @thiagoftsm

softnet
  collectors/proc.plugin/metrics.csv
Owners: @thiagoftsm

conntrack
  collectors/proc.plugin/metrics.csv
Owners: @thiagoftsm

synproxy
  collectors/proc.plugin/metrics.csv
Owners: @thiagoftsm

wireless
  collectors/proc.plugin/metrics.csv
Owners: @thiagoftsm

pagetypeinfo
  collectors/proc.plugin/metrics.csv
Owners: @thiagoftsm

pressure
  collectors/proc.plugin/metrics.csv
Owners: @thiagoftsm

cgroups metrics fixes
  collectors/cgroups.plugin/metrics.csv
Owners: @thiagoftsm

softirqs
  collectors/proc.plugin/metrics.csv
Owners: @thiagoftsm

zfs
  collectors/proc.plugin/metrics.csv
Owners: @thiagoftsm

Fix ML stats when no training takes place.
  ml/ml.cc
Owners: @andrewm4894, @vkalintiris

Delete unused function
  ml/ml.cc
Owners: @andrewm4894, @vkalintiris

Pass DB connection in db_execute()
  database/sqlite/sqlite_aclk_alert.c
  database/sqlite/sqlite_functions.c
  database/sqlite/sqlite_functions.h
  database/sqlite/sqlite_health.c
  database/sqlite/sqlite_metadata.c
Owners: @thiagoftsm, @vkalintiris

Restore threshold for logs/period.
  libnetdata/log/log.c
Owners: @thiagoftsm, @vkalintiris

Add support for loading/saving models.
  database/sqlite/sqlite_metadata.c
  database/sqlite/sqlite_metadata.h
  libnetdata/log/log.c
  ml/Config.cc
  ml/ml-private.h
  ml/ml.cc
  ml/ml.h
Owners: @thiagoftsm, @vkalintiris, @andrewm4894

Update ML config.
  ml/Config.cc
Owners: @andrewm4894, @vkalintiris

Rm whitespace.
  ml/ml.cc
Owners: @andrewm4894, @vkalintiris

Make model flushing batch size configurable.
  ml/Config.cc
  ml/ml-private.h
  ml/ml.cc
Owners: @andrewm4894, @vkalintiris
