Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

fixed left-over reference
  web/rtc/webrtc.c
Owners: @thiagoftsm, @vkalintiris

show warning when webrtc is disabled
  configure.ac
Owners: @Ferroin

detect binary and text messages
  web/rtc/webrtc.c
Owners: @thiagoftsm, @vkalintiris

rewrote webrtc code in C to remove dependency for c++17
  CMakeLists.txt
  Makefile.am
  configure.ac
  libnetdata/buffer/buffer.h
  web/api/web_api_v2.c
  web/rtc/webrtc.c
  web/rtc/webrtc.cpp
  web/rtc/webrtc.h
Owners: @Ferroin, @tkatsoulas, @thiagoftsm, @vkalintiris

smaller web_client memory footprint
  aclk/aclk_query.c
  libnetdata/url/url.c
  libnetdata/url/url.h
  web/server/web_client.c
  web/server/web_client.h
  web/server/web_client_cache.c
Owners: @stelfrag, @underhood, @thiagoftsm, @vkalintiris

webrtc responses to /api/ requests, including LZ4 compression
  libnetdata/socket/socket.h
  web/api/web_api.c
  web/api/web_api_v1.c
  web/api/web_api_v2.c
  web/rtc/webrtc.c
  web/server/web_client.c
  web/server/web_client.h
Owners: @thiagoftsm, @vkalintiris

webrtc is now enabled by default only when compiled with internal checks
  web/rtc/webrtc.c
Owners: @thiagoftsm, @vkalintiris

fix for binary and text messages
  web/rtc/webrtc.c
Owners: @thiagoftsm, @vkalintiris

/api/v2 part 10 (#14904)
  libnetdata/libnetdata.h
  libnetdata/storage_number/storage_number.h
  web/api/queries/weights.c
Owners: @thiagoftsm, @vkalintiris

Support FLB forward input and FLB output plugins.
  collectors/logsmanagement.plugin/plugin_logsmanagement.h
  logsmanagement/README.md
  logsmanagement/db_api.c
  logsmanagement/file_info.h
  logsmanagement/flb_plugin.c
  logsmanagement/flb_plugin.h
  logsmanagement/fluent_bit_build/config.cmake
  logsmanagement/logsmanagement.c
  logsmanagement/logsmanagement.conf
  logsmanagement/logsmanagement_conf.h
  logsmanagement/parser.h
  logsmanagement/query.c
Owners: @thiagoftsm, @tkatsoulas, @andrewm4894, @cakrit, @Ferroin

Apply suggestions from code review
  docs/cloud/cheatsheet.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

updates from code review
  docs/cloud/cheatsheet.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update change-metrics-storage.md
  docs/store/change-metrics-storage.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update change-metrics-storage.md (#14905)
  docs/store/change-metrics-storage.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update cheatsheet.md
  docs/cloud/cheatsheet.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

updates from code review
  docs/cloud/cheatsheet.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Save and load ML models (#14810)
  daemon/global_statistics.c
  daemon/main.c
  daemon/main.h
  database/rrdhost.c
  ml/Config.cc
  ml/ad_charts.cc
  ml/ad_charts.h
  ml/ml-dummy.c
  ml/ml-private.h
  ml/ml.cc
  ml/ml.h
Owners: @thiagoftsm, @vkalintiris, @andrewm4894

Add number of logs per item in DB and in queries response
  collectors/logsmanagement.plugin/plugin_logsmanagement.c
  logsmanagement/circular_buffer.c
  logsmanagement/circular_buffer.h
  logsmanagement/db_api.c
  logsmanagement/flb_plugin.c
  logsmanagement/query.h
  logsmanagement/stress_test/logs_query.html
  web/api/web_api_v1.c
Owners: @thiagoftsm, @Ferroin, @vkalintiris

[ci skip] Update changelog and version for nightly build: v1.38.0-380-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

Revert ML changes.
  daemon/global_statistics.c
  daemon/main.c
  daemon/main.h
  database/rrdhost.c
  ml/Config.cc
  ml/ad_charts.cc
  ml/ad_charts.h
  ml/ml-dummy.c
  ml/ml-private.h
  ml/ml.cc
  ml/ml.h
Owners: @thiagoftsm, @vkalintiris, @andrewm4894

Revert ML changes. (#14908)
  daemon/global_statistics.c
  daemon/main.c
  daemon/main.h
  database/rrdhost.c
  ml/Config.cc
  ml/ad_charts.cc
  ml/ad_charts.h
  ml/ml-dummy.c
  ml/ml-private.h
  ml/ml.cc
  ml/ml.h
Owners: @thiagoftsm, @vkalintiris, @andrewm4894

[ci skip] Update changelog and version for nightly build: v1.38.0-382-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

web_client_cache is now global
  web/server/static/static-threaded.c
  web/server/web_client_cache.c
Owners: @thiagoftsm, @vkalintiris

change_hardirq_read: Fix SIGABRT appearing on Amazon EC2
  collectors/ebpf.plugin/ebpf_hardirq.c
Owners: @thiagoftsm

change_hardirq_read: Remove function ebpf_cleanup_publish_syscall and calls for it.
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_cachestat.c
  collectors/ebpf.plugin/ebpf_dcstat.c
  collectors/ebpf.plugin/ebpf_fd.c
  collectors/ebpf.plugin/ebpf_filesystem.c
  collectors/ebpf.plugin/ebpf_process.c
  collectors/ebpf.plugin/ebpf_shm.c
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_swap.c
Owners: @thiagoftsm

change_hardirq_read: Remove unnecessary strdupz and use pointer directly
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf_socket.c
Owners: @thiagoftsm

change_hardirq_read: Modify internal variable to use the same pattern used with hardirq
  collectors/ebpf.plugin/ebpf_mount.c
Owners: @thiagoftsm

change_hardirq_read: Return IRQ monitoring
  collectors/ebpf.plugin/ebpf.d.conf
Owners: @thiagoftsm

change_hardirq_read: Remove unnecessary from cgroup and also use pointer
  collectors/ebpf.plugin/ebpf_process.c
  collectors/ebpf.plugin/ebpf_socket.c
Owners: @thiagoftsm

change_hardirq_read: Initialize hardirq_pub before call
  collectors/ebpf.plugin/ebpf_hardirq.c
Owners: @thiagoftsm

change_hardirq_read: Fix SIGABRT appearing on Amazon EC2 for non static metrics
  collectors/ebpf.plugin/ebpf_hardirq.c
Owners: @thiagoftsm

change_hardirq_read: Don't send cancel, instead only use default time to get out.
  collectors/ebpf.plugin/ebpf.c
Owners: @thiagoftsm

unification of the internal web server API, for web requests, aclk request, webrtc requests
  aclk/aclk_query.c
  collectors/cgroups.plugin/sys_fs_cgroup.c
  collectors/proc.plugin/sys_fs_btrfs.c
  health/health_json.c
  libnetdata/inlined.h
  libnetdata/libnetdata.c
  libnetdata/libnetdata.h
  libnetdata/url/url.c
  libnetdata/url/url.h
  streaming/rrdpush.c
  streaming/rrdpush.h
  web/api/badges/web_buffer_svg.c
  web/api/exporters/allmetrics.c
  web/api/health/health_cmdapi.c
  web/api/queries/query.c
  web/api/queries/weights.c
  web/api/web_api.c
  web/api/web_api.h
  web/api/web_api_v1.c
  web/api/web_api_v1.h
  web/api/web_api_v2.c
  web/api/web_api_v2.h
  web/rtc/webrtc.c
  web/server/web_client.c
  web/server/web_client.h
Owners: @stelfrag, @underhood, @thiagoftsm, @vkalintiris, @MrZammler

change_hardirq_read: Comment cleanup code that will be converted to ARAL in next PRs and fix race condition when socket thread is closed.
  collectors/ebpf.plugin/ebpf_socket.c
Owners: @thiagoftsm

more cleanup and unification of web client timings
  aclk/aclk_query.c
  aclk/aclk_query_queue.c
  database/rrd.h
  database/rrdhost.c
  database/sqlite/sqlite_aclk.h
  web/api/web_api.c
  web/api/web_api_v1.c
  web/api/web_api_v2.c
  web/rtc/webrtc.c
  web/server/web_client.c
  web/server/web_client.h
  web/server/web_client_cache.c
  web/server/web_client_cache.h
Owners: @stelfrag, @underhood, @thiagoftsm, @vkalintiris

fixed compiler warnings
  aclk/aclk_query.c
  web/api/queries/query.c
Owners: @stelfrag, @underhood, @thiagoftsm, @vkalintiris

update sent and received bytes
  web/rtc/webrtc.c
Owners: @thiagoftsm, @vkalintiris

eliminated of almost all big buffers in web client
  aclk/aclk_query.c
  libnetdata/socket/socket.c
  web/server/static/static-threaded.c
  web/server/web_client.c
  web/server/web_client.h
  web/server/web_server.c
  web/server/web_server.h
Owners: @stelfrag, @underhood, @thiagoftsm, @vkalintiris

registry now uses the new json generation
  health/notifications/alarm-notify.sh.in
  libnetdata/libnetdata.h
  registry/registry.c
Owners: @Ferroin, @thiagoftsm, @MrZammler, @vkalintiris, @jacekkolasa

cookies are now an array; fixed redirects
  registry/registry.c
  web/server/web_client.c
  web/server/web_client.h
Owners: @jacekkolasa, @thiagoftsm, @vkalintiris

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas
