Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @stelfrag, @underhood, @vlvkobal, @thiagoftsm, @ilyam8, @simonnagl, @vkalintiris, @DShreve2, @andrewm4894, @jacekkolasa, @netdatabot

add linkedin and facebook in startup msg
  daemon/main.c
Owners: @thiagoftsm, @vkalintiris

update startup message copy in readme
  daemon/README.md
Owners: @DShreve2

no need for www to be consistent
  daemon/README.md
Owners: @DShreve2

remove www for consistency
  daemon/main.c
Owners: @thiagoftsm, @vkalintiris

[ci skip] Update changelog and version for nightly build: v1.36.0-308-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin

fix_oracle_linux: Adjust eBPF plugin for oracle Linux
  libnetdata/ebpf/ebpf.c
  libnetdata/ebpf/ebpf.h
Owners: @thiagoftsm, @vkalintiris

fix_oracle_linux: Add argumentts to ebpf_update_module
  collectors/ebpf.plugin/ebpf.c
  libnetdata/ebpf/ebpf.c
  libnetdata/ebpf/ebpf.h
Owners: @thiagoftsm, @vlvkobal, @vkalintiris

fix_oracle_linux: Add arguments to update_module_using_config
  libnetdata/ebpf/ebpf.c
Owners: @thiagoftsm, @vkalintiris

fix_oracle_linux: Add arguments to ebpf_select_load_mode
  libnetdata/ebpf/ebpf.c
Owners: @thiagoftsm, @vkalintiris

increase max removed period to a day
  database/sqlite/sqlite_aclk_alert.c
Owners: @thiagoftsm, @vkalintiris

Update print message on startup (#13934)
  daemon/README.md
  daemon/main.c
Owners: @DShreve2, @thiagoftsm, @vkalintiris

the new dictionaries do not support concurrent use without locks
  collectors/statsd.plugin/statsd.c
Owners: @vlvkobal

update dictionaries readme
  libnetdata/dictionary/README.md
Owners: @DShreve2

Statsd dictionaries should be multi-threaded (#13938)
  collectors/statsd.plugin/statsd.c
  libnetdata/dictionary/README.md
Owners: @vlvkobal, @DShreve2

update link to point at demo spaces
  docs/Demo-Sites.md
Owners: @DShreve2

setup default certificates path
  libnetdata/socket/security.c
Owners: @thiagoftsm, @vkalintiris

Overhaul generation of distinct-ids for install telemetry events. (#13891)
  packaging/installer/kickstart.sh
Owners: @Ferroin

Update docs/Demo-Sites.md
  docs/Demo-Sites.md
Owners: @DShreve2

fix chart definition end time_t printing and parsing
  collectors/plugins.d/pluginsd_parser.c
  streaming/replication.c
  streaming/rrdpush.c
Owners: @vlvkobal, @thiagoftsm

properly check parameters to chart definition end
  collectors/plugins.d/pluginsd_parser.c
Owners: @vlvkobal

fix chart definition end time_t printing and parsing (#13942)
  collectors/plugins.d/pluginsd_parser.c
  streaming/replication.c
  streaming/rrdpush.c
Owners: @vlvkobal, @thiagoftsm

wmi_alerts: Add TCP alert
  health/health.d/wmi.conf
Owners: @thiagoftsm, @vlvkobal

update link to point at demo spaces (#13939)
  docs/Demo-Sites.md
Owners: @DShreve2

wmi_alerts: Considering that our collector can run on FreeBSD (I tested) and to monitor windows, we should not monitor only from Linux
  health/health.d/wmi.conf
Owners: @thiagoftsm, @vlvkobal

wmi_alerts: Add alerts for services
  health/health.d/wmi.conf
Owners: @thiagoftsm, @vlvkobal

recalculate last_collected_total
  database/rrdset.c
Owners: @thiagoftsm, @vkalintiris

load and save last_collected_value with rrddims
  database/rrddim.c
Owners: @thiagoftsm, @vkalintiris

make sure the last_collected_value never changes
  database/rrddim.c
  database/rrdset.c
Owners: @thiagoftsm, @vkalintiris

cleanup rrdset collected totals - they are not needed since they are recalculated every time
  collectors/plugins.d/pluginsd_parser.c
  database/rrd.h
  database/rrdset.c
  health/health.c
  streaming/replication.c
Owners: @vlvkobal, @thiagoftsm, @vkalintiris

[ci skip] Update changelog and version for nightly build: v1.36.0-314-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin

do not resend charts upstream when chart variables are being updated
  collectors/plugins.d/pluginsd_parser.c
  database/rrd.h
  database/rrdsetvar.c
  streaming/rrdpush.c
  streaming/rrdpush.h
  streaming/sender.c
Owners: @vlvkobal, @thiagoftsm, @vkalintiris

change logic
  libnetdata/socket/security.c
  streaming/rrdpush.c
Owners: @thiagoftsm, @vkalintiris, @vlvkobal

recalculate last_collected_total (#13945)
  collectors/plugins.d/pluginsd_parser.c
  database/rrd.h
  database/rrddim.c
  database/rrdset.c
  health/health.c
  streaming/replication.c
Owners: @vlvkobal, @thiagoftsm, @vkalintiris

re-stream archived hosts that are now being collected
  database/rrdhost.c
Owners: @thiagoftsm, @vkalintiris

change default in stream.conf
  streaming/stream.conf
Owners: @thiagoftsm, @vlvkobal

Enable aclk conversation log even without NETDATA_INTERNAL CHECKS (#13917)
  aclk/aclk_rx_msgs.c
  aclk/aclk_tx_msgs.c
Owners: @stelfrag, @underhood

do not resend charts upstream when chart variables are being updated (#13946)
  collectors/plugins.d/pluginsd_parser.c
  database/rrd.h
  database/rrdhost.c
  database/rrdsetvar.c
  streaming/rrdpush.c
  streaming/rrdpush.h
  streaming/sender.c
Owners: @vlvkobal, @thiagoftsm, @vkalintiris

Add support for a handful of popular Arch derivatives.
  packaging/installer/kickstart.sh
Owners: @Ferroin

Expand installed package detection support.
  packaging/installer/kickstart.sh
Owners: @Ferroin

Differentiate messaging for existing installs managed by the system PM.
  packaging/installer/kickstart.sh
Owners: @Ferroin

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.travis/ @Ferroin
.github/ @Ferroin
aclk/ @stelfrag @underhood
build/ @Ferroin
contrib/debian @Ferroin
collectors/ @vlvkobal
collectors/ebpf.plugin/ @thiagoftsm @vlvkobal
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @vlvkobal @thiagoftsm
collectors/macos.plugin/ @vlvkobal @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @thiagoftsm
exporting/  @vlvkobal @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @DShreve2
health/ @thiagoftsm @vlvkobal @vkalintiris
health/health.d/ @thiagoftsm @vlvkobal
health/notifications/ @Ferroin @thiagoftsm
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin
registry/ @jacekkolasa
streaming/ @thiagoftsm @vlvkobal
system/ @Ferroin
tests/ @Ferroin @vkalintiris
web/ @thiagoftsm @vlvkobal @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin
*.md @DShreve2
Dockerfile* @Ferroin

# Ownership of specific files
.gitignore @Ferroin @vkalintiris
.travis.yml @Ferroin
.lgtm.yml @Ferroin
.eslintrc @Ferroin
.eslintignore @Ferroin
.csslintrc @Ferroin
.codeclimate.yml @Ferroin
.codacy.yml @Ferroin
.yamllint.yml @Ferroin
netdata.spec.in @Ferroin
netdata-installer.sh @Ferroin
packaging/version @netdatabot @Ferroin

LICENSE.md @DShreve2 @Ferroin @vkalintiris
CHANGELOG.md @netdatabot @Ferroin
