Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas

Terminate string
  cli/cli.c
Owners: @Ferroin

Dummy functions to handle building with NETDATA_INTERNAL_CHECKS
  cli/cli.c
Owners: @Ferroin

Silence dimensions with noisy ML models (#15011)
  ml/Config.cc
  ml/ad_charts.cc
  ml/ml-private.h
  ml/ml.cc
Owners: @andrewm4894, @vkalintiris

fatal in claim() only if --claim-only is used
  packaging/installer/kickstart.sh
Owners: @Ferroin, @tkatsoulas

typos
  packaging/installer/kickstart.sh
Owners: @Ferroin, @tkatsoulas

Adjust buffers to prevent overflow (#15025)
  collectors/cgroups.plugin/sys_fs_cgroup.c
  collectors/proc.plugin/proc_diskstats.c
  database/rrdset.c
Owners: @thiagoftsm, @vkalintiris

Formatting
  Makefile.am
Owners: @Ferroin, @tkatsoulas

Fix formatting / properly initialize args
  cli/cli.c
Owners: @Ferroin

Update tor.chart.py
  collectors/python.d.plugin/tor/tor.chart.py
Owners: @ilyam8

Update docs/cloud/visualize/interact-new-charts.md
  docs/cloud/visualize/interact-new-charts.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

docs updates
  health/REFERENCE.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

zlib compulsory
  CMakeLists.txt
  Makefile.am
  aclk/aclk_query.c
  config.cmake.h.in
  configure.ac
  daemon/buildinfo.c
  daemon/main.c
  libnetdata/libnetdata.h
  web/server/web_client.c
  web/server/web_client.h
Owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @vkalintiris

initial minimal h2o webserver integration (#14585)
  .github/codeql/c-cpp-config.yml
  .github/workflows/codeql.yml
  .gitmodules
  CMakeLists.txt
  Makefile.am
  configure.ac
  daemon/buildinfo.c
  daemon/common.h
  daemon/main.c
  daemon/main.h
  daemon/static_threads.c
  httpd/h2o_utils.c
  httpd/h2o_utils.h
  httpd/http_server.c
  httpd/http_server.h
  libnetdata/buffer/buffer.c
  libnetdata/buffer/buffer.h
  libnetdata/http/http_defs.h
  libnetdata/libnetdata.h
  web/server/web_client.h
Owners: @Ferroin, @tkatsoulas, @thiagoftsm, @vkalintiris

more docs
  health/REFERENCE.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Fix handling of permissions in static installs.
  packaging/makeself/install-or-update.sh
Owners: @Ferroin, @tkatsoulas

make zlib compulsory dep (#14928)
  CMakeLists.txt
  Makefile.am
  aclk/aclk_query.c
  config.cmake.h.in
  configure.ac
  daemon/buildinfo.c
  daemon/main.c
  libnetdata/libnetdata.h
  web/server/web_client.c
  web/server/web_client.h
Owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @vkalintiris

update tor.conf
  collectors/python.d.plugin/tor/tor.conf
Owners: @ilyam8

update tor.conf
  collectors/python.d.plugin/tor/tor.conf
Owners: @ilyam8

Update tor.chart.py (#15041)
  collectors/python.d.plugin/tor/tor.chart.py
  collectors/python.d.plugin/tor/tor.conf
Owners: @ilyam8

[ci skip] Update changelog and version for nightly build: v1.39.0-13-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

debugfs_collector: Modify zwap algorithms
  collectors/debugfs.plugin/debugfs_zswap.c
Owners: @thiagoftsm

debugfs_collector: Accept suggestions from reviewers.
  collectors/debugfs.plugin/debugfs_zswap.c
Owners: @thiagoftsm

Fix compilation errors where using NETDATA_TRACE_ALLOCATIONS
  cli/cli.c
Owners: @Ferroin

update system.zswap_rejections info
  web/gui/dashboard_info.js
Owners: @jacekkolasa

Update README.md
  README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

better cleanup of health log table
  database/sqlite/sqlite_aclk_alert.c
  database/sqlite/sqlite_db_migration.c
  database/sqlite/sqlite_db_migration.h
  database/sqlite/sqlite_health.c
Owners: @thiagoftsm, @vkalintiris

Remove old logic for handling of legacy stock config files. (#14829)
  Makefile.am
  configs.signatures
  netdata-installer.sh
  packaging/makeself/install-or-update.sh
  packaging/makeself/jobs/99-makeself.install.sh
Owners: @Ferroin, @tkatsoulas

adjust zswap charts
  collectors/debugfs.plugin/debugfs_zswap.c
Owners: @thiagoftsm

adjust extrafrag charts
  collectors/debugfs.plugin/debugfs_extfrag.c
  web/gui/dashboard_info.js
Owners: @thiagoftsm, @jacekkolasa

add todo
  collectors/debugfs.plugin/debugfs_zswap.c
Owners: @thiagoftsm

fatal in claim() only if --claim-only is used (#15039)
  packaging/installer/kickstart.sh
Owners: @Ferroin, @tkatsoulas

debugfs_collector: Remove unecessary mark
  collectors/debugfs.plugin/debugfs_zswap.c
Owners: @thiagoftsm

libjudy: remove JudyLTablesGen (#14984)
  .gitignore
  CMakeLists.txt
  Makefile.am
  libnetdata/libjudy/src/JudyL/JudyLTables.c
  libnetdata/libjudy/src/JudyL/JudyLTablesGen.c
Owners: @Ferroin, @tkatsoulas, @vkalintiris, @thiagoftsm

debugfs_collector: Modify independent charts and add chart osolation
  collectors/debugfs.plugin/debugfs_zswap.c
Owners: @thiagoftsm

debugfs_collector: Upddate terminator
  collectors/debugfs.plugin/debugfs_zswap.c
Owners: @thiagoftsm

fixing the regex to count temp failures
  collectors/python.d.plugin/postfix/postfix_log.chart.py
Owners: @ilyam8

Update README.md
  README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

debugfs_collector: Centralize chart creation/change
  collectors/debugfs.plugin/debugfs_zswap.c
Owners: @thiagoftsm

Fix handling of permissions in static installs. (#15042)
  packaging/makeself/install-or-update.sh
Owners: @Ferroin, @tkatsoulas

update ml defaults and readme
  ml/Config.cc
  ml/README.md
Owners: @andrewm4894, @vkalintiris, @tkatsoulas, @cakrit
