Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

fix compilation warnings
  web/api/queries/query.c
Owners: @thiagoftsm, @vkalintiris

fix compilation warnings - again
  web/api/queries/query.c
  web/api/web_api_v1.c
  web/api/web_api_v2.c
Owners: @thiagoftsm, @vkalintiris

[ci skip] Update changelog and version for nightly build: v1.38.0-136-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

Threads that have not started during shutdown are immediately marked as EXITED
  daemon/main.c
Owners: @thiagoftsm, @vkalintiris

Do not attempt to get statistics if database is not initialized
  database/sqlite/sqlite_functions.c
Owners: @thiagoftsm, @vkalintiris

Fix compilation warning
  database/engine/datafile.c
Owners: @thiagoftsm, @vkalintiris

Fix memory leak
  database/sqlite/sqlite_context.c
Owners: @thiagoftsm, @vkalintiris

Fix crash when calling -W ctxtest pthread keys not properly initialized when running only this test
  database/sqlite/sqlite_context.c
  database/sqlite/sqlite_functions.c
  database/sqlite/sqlite_functions.h
Owners: @thiagoftsm, @vkalintiris

Code cleanup
  database/sqlite/sqlite_context.c
Owners: @thiagoftsm, @vkalintiris

Delete interact-dashboard-charts
  docs/visualize/interact-dashboards-charts.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Delete interact-dashboard-charts (#14594)
  docs/visualize/interact-dashboards-charts.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

ebpf_memory_two: Add a common helper to allocate memory avoiding code dupplication and a big number of warnings
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.h
Owners: @thiagoftsm

ebpf_memory_two: Change calls for freez/callocz to new helpers avoiding allocate more memory (dcstat)
  collectors/ebpf.plugin/ebpf_apps.c
  collectors/ebpf.plugin/ebpf_dcstat.c
  collectors/ebpf.plugin/ebpf_dcstat.h
Owners: @thiagoftsm

ebpf_memory_two: Change calls for freez/callocz to new helpers avoiding allocate more memory (cachestat)
  collectors/ebpf.plugin/ebpf_apps.c
  collectors/ebpf.plugin/ebpf_cachestat.c
Owners: @thiagoftsm

ebpf_memory_two: Add helpers to manipulate socket ARAL
  collectors/ebpf.plugin/ebpf_socket.c
Owners: @thiagoftsm

ebpf_memory_two: Add helpers to manipulate cachestat ARAL
  collectors/ebpf.plugin/ebpf_cachestat.c
  collectors/ebpf.plugin/ebpf_cachestat.h
Owners: @thiagoftsm

ebpf_memory_two: Fix comments
  collectors/ebpf.plugin/ebpf_cachestat.c
  collectors/ebpf.plugin/ebpf_dcstat.c
Owners: @thiagoftsm

ebpf_memory_two: Fix name given as argument to ebpf_allocate_pid_aral
  collectors/ebpf.plugin/ebpf_shm.c
Owners: @thiagoftsm

ebpf_memory_two: Add helpers to manipulate fd ARAL
  collectors/ebpf.plugin/ebpf_fd.c
Owners: @thiagoftsm

ebpf_memory_two: Change calls for freez/callocz to new helpers avoiding allocate more memory (SHM)
  collectors/ebpf.plugin/ebpf_apps.c
  collectors/ebpf.plugin/ebpf_shm.c
Owners: @thiagoftsm

ebpf_memory_two: Add helpers to manipulate SHM ARAL
  collectors/ebpf.plugin/ebpf_shm.c
  collectors/ebpf.plugin/ebpf_shm.h
Owners: @thiagoftsm

ebpf_memory_two: Add helpers to manipulate dcstat ARAL
  collectors/ebpf.plugin/ebpf_dcstat.c
Owners: @thiagoftsm

ebpf_memory_two: Move vector allocation inside condition saving memory when integrations are not enabled
  collectors/ebpf.plugin/ebpf_cachestat.c
  collectors/ebpf.plugin/ebpf_dcstat.c
  collectors/ebpf.plugin/ebpf_fd.c
Owners: @thiagoftsm

ebpf_memory_two: Change calls for freez/callocz to new helpers avoiding allocate more memory (socket)
  collectors/ebpf.plugin/ebpf_apps.c
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_socket.h
Owners: @thiagoftsm

ebpf_memory_two: Change calls for freez/callocz to new helpers avoiding allocate more memory (FD)
  collectors/ebpf.plugin/ebpf_apps.c
  collectors/ebpf.plugin/ebpf_fd.c
  collectors/ebpf.plugin/ebpf_fd.h
Owners: @thiagoftsm

ebpf_memory_two: Change calls from aral_create to new helper
  collectors/ebpf.plugin/ebpf_apps.c
Owners: @thiagoftsm

Update interact-new-charts.md
  docs/cloud/visualize/interact-new-charts.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update interact-new-charts.md (#14596)
  docs/cloud/visualize/interact-new-charts.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Delete integrations-overview.md
  docs/category-overview-pages/integrations-overview.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Replace web server readme with its improved replica
  docs/dashboard/reference-web-server.md
  web/server/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Replace web server readme with its improved replica (#14598)
  docs/dashboard/reference-web-server.md
  web/server/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Do not attempt to get context db statistics if the context database is not initialized
  database/sqlite/sqlite_context.c
Owners: @thiagoftsm, @vkalintiris

Add DB mode configuration option
  logsmanagement/file_info.h
  logsmanagement/logsmanagement.c
  logsmanagement/logsmanagement.conf
Owners: @Ferroin

Replace p_file_infos_arr->data[i] with p_file_info in db_api.c
  logsmanagement/db_api.c
Owners: @Ferroin

ebpf_memory_two: Add helpers to manipulate VFS ARAL
  collectors/ebpf.plugin/ebpf_vfs.c
  collectors/ebpf.plugin/ebpf_vfs.h
Owners: @thiagoftsm

Explicitly enable error handling for issue check.
  .github/workflows/platform-eol-check.yml
Owners: @Ferroin, @tkatsoulas

Add flake8 to review CI to check Python files. (#14582)
  .flake8
  .github/workflows/review.yml
Owners: @Ferroin, @tkatsoulas

go to normal only if its in stream mode
  web/server/web_client.c
Owners: @thiagoftsm, @vkalintiris

Remove db_loop due to all function calls being synchronous
  logsmanagement/db_api.c
Owners: @Ferroin

Add deployment strategies
  docs/category-overview-pages/deployment-strategies.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas
