Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas

fix python version check to work for 3.10 and above
  collectors/python.d.plugin/anomalies/anomalies.chart.py
Owners: @ilyam8

Move systemd-specific system files to their own directory.
  .gitignore
  contrib/debian/rules
  netdata.spec.in
  packaging/installer/functions.sh
  packaging/makeself/jobs/99-makeself.install.sh
  system/Makefile.am
  system/install-service.sh.in
  system/systemd/netdata-updater.service.in
  system/systemd/netdata-updater.timer
  system/systemd/netdata.service.in
  system/systemd/netdata.service.v235.in
Owners: @Ferroin, @tkatsoulas, @vkalintiris

Use vector allocation whenever is possible (eBPF) (#14591)
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_apps.c
  collectors/ebpf.plugin/ebpf_cachestat.c
  collectors/ebpf.plugin/ebpf_cachestat.h
  collectors/ebpf.plugin/ebpf_dcstat.c
  collectors/ebpf.plugin/ebpf_dcstat.h
  collectors/ebpf.plugin/ebpf_fd.c
  collectors/ebpf.plugin/ebpf_fd.h
  collectors/ebpf.plugin/ebpf_shm.c
  collectors/ebpf.plugin/ebpf_shm.h
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_socket.h
  collectors/ebpf.plugin/ebpf_vfs.c
  collectors/ebpf.plugin/ebpf_vfs.h
Owners: @thiagoftsm

Move non-systemd init scripts to individual subdirectories.
  .gitignore
  netdata.spec.in
  packaging/installer/functions.sh
  packaging/makeself/jobs/99-makeself.install.sh
  system/Makefile.am
  system/freebsd/rc.d/netdata.in
  system/initd/init.d/netdata.in
  system/install-service.sh.in
  system/launchd/netdata.plist.in
  system/lsb/init.d/netdata.in
  system/openrc/init.d/netdata.in
Owners: @Ferroin, @tkatsoulas, @vkalintiris

Move logrotate config to it’s own directory.
  netdata-installer.sh
  netdata.spec.in
  packaging/installer/functions.sh
  packaging/makeself/jobs/99-makeself.install.sh
  system/Makefile.am
  system/logrotate/netdata.in
Owners: @Ferroin, @tkatsoulas

Fix Debian package builds.
  contrib/debian/rules
Owners: @Ferroin, @tkatsoulas

Fix typos in Makefile.am.
  system/Makefile.am
Owners: @Ferroin, @tkatsoulas

Move cron files to their own directory.
  .gitignore
  system/Makefile.am
  system/cron/netdata-updater-daily.in
Owners: @Ferroin, @tkatsoulas, @vkalintiris

Fixed issues reported by @andrewm4894.
  packaging/installer/functions.sh
Owners: @Ferroin, @tkatsoulas

ebpf_new_charts: Update debug message helping to debug new chart
  libnetdata/ebpf/ebpf.c
Owners: @thiagoftsm, @vkalintiris

ebpf_new_charts: Add number of hash tables used on system
  libnetdata/ebpf/ebpf.c
  libnetdata/ebpf/ebpf.h
Owners: @thiagoftsm, @vkalintiris

ebpf_new_charts: Rename function preparing to fix a wrong information
  collectors/ebpf.plugin/ebpf_cachestat.c
  collectors/ebpf.plugin/ebpf_dcstat.c
  collectors/ebpf.plugin/ebpf_disk.c
  collectors/ebpf.plugin/ebpf_fd.c
  collectors/ebpf.plugin/ebpf_hardirq.c
  collectors/ebpf.plugin/ebpf_mdflush.c
  collectors/ebpf.plugin/ebpf_mount.c
  collectors/ebpf.plugin/ebpf_oomkill.c
  collectors/ebpf.plugin/ebpf_process.c
  collectors/ebpf.plugin/ebpf_shm.c
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_softirq.c
  collectors/ebpf.plugin/ebpf_swap.c
  collectors/ebpf.plugin/ebpf_vfs.c
  libnetdata/ebpf/ebpf.c
  libnetdata/ebpf/ebpf.h
Owners: @thiagoftsm, @vkalintiris

ebpf_new_charts: Add helpers used to parse proc and collect memlock. This function will help netdata to show the same value shown by bpftool
  libnetdata/ebpf/ebpf.c
  libnetdata/ebpf/ebpf.h
Owners: @thiagoftsm, @vkalintiris

ebpf_new_charts: Set initial values for new variables
  collectors/ebpf.plugin/ebpf.c
Owners: @thiagoftsm

ebpf_new_charts: Split function and fix an issue when function was renamed in previous commit
  collectors/ebpf.plugin/ebpf_softirq.c
  libnetdata/ebpf/ebpf.c
  libnetdata/ebpf/ebpf.h
Owners: @thiagoftsm, @vkalintiris

ebpf_new_charts: Update memory statistic for sync
  collectors/ebpf.plugin/ebpf_vfs.c
Owners: @thiagoftsm

ebpf_new_charts: Update memory statistic for file descriptor
  collectors/ebpf.plugin/ebpf_fd.c
Owners: @thiagoftsm

ebpf_new_charts: Update memory statistic for mdflush
  collectors/ebpf.plugin/ebpf_mdflush.c
Owners: @thiagoftsm

ebpf_new_charts: Update memory statistic for filesystem
  collectors/ebpf.plugin/ebpf_filesystem.c
Owners: @thiagoftsm

ebpf_new_charts: Update memory statistic for hardirq
  collectors/ebpf.plugin/ebpf_hardirq.c
Owners: @thiagoftsm

ebpf_new_charts: Update memory statistic for oomkill
  collectors/ebpf.plugin/ebpf_oomkill.c
Owners: @thiagoftsm

ebpf_new_charts: Update memory statistic for socket
  collectors/ebpf.plugin/ebpf_socket.c
Owners: @thiagoftsm

ebpf_new_charts: Update memory statistic for swap
  collectors/ebpf.plugin/ebpf_swap.c
Owners: @thiagoftsm

ebpf_new_charts: Update memory statistic for dcstat
  collectors/ebpf.plugin/ebpf_dcstat.c
Owners: @thiagoftsm

ebpf_new_charts: Update memory statistic for softirq
  collectors/ebpf.plugin/ebpf_softirq.c
Owners: @thiagoftsm

ebpf_new_charts: Update memory statistic for mount
  collectors/ebpf.plugin/ebpf_mount.c
Owners: @thiagoftsm

ebpf_new_charts: Update memory statistic for shm
  collectors/ebpf.plugin/ebpf_shm.c
Owners: @thiagoftsm

ebpf_new_charts: Modify function to use vector as argument. This simplify development
  collectors/ebpf.plugin/ebpf_cachestat.c
  libnetdata/ebpf/ebpf.c
  libnetdata/ebpf/ebpf.h
Owners: @thiagoftsm, @vkalintiris

ebpf_new_charts: Add chart to show memory allocated for hash tables
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_process.c
Owners: @thiagoftsm

ebpf_new_charts: Add new statistic variable to measure amount of allocated memory inside kernel ring
  libnetdata/ebpf/ebpf.h
Owners: @thiagoftsm, @vkalintiris

ebpf_new_charts: Update memory statistic for process
  collectors/ebpf.plugin/ebpf_process.c
Owners: @thiagoftsm

ebpf_new_charts: Update memory statistic for disk
  collectors/ebpf.plugin/ebpf_disk.c
Owners: @thiagoftsm

ebpf_new_charts: Modify threads using an unique pattern trough the whole code simplifying developers understanding
  collectors/ebpf.plugin/ebpf_cachestat.c
  collectors/ebpf.plugin/ebpf_dcstat.c
Owners: @thiagoftsm

Add support for source selection to logs_query.html
  logsmanagement/stress_test/logs_query.html
Owners: @Ferroin

ebpf_new_charts: Fix wrong comments
  collectors/ebpf.plugin/ebpf_process.c
Owners: @thiagoftsm

added Challenge secret and rooms object on the payload
  docs/cloud/alerts-notifications/add-webhook-notification-configuration.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Add option to query multiple log sources
  logsmanagement/stress_test/logs_query.html
Owners: @Ferroin

ebpf_new_charts: Add new chart showing number of hash tables lodaded by plugin
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_process.c
Owners: @thiagoftsm

add the TLS/certificate part
  docs/cloud/alerts-notifications/add-webhook-notification-configuration.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Mark non-queryable sources as such in logs_query.html
  logsmanagement/stress_test/logs_query.html
Owners: @Ferroin
