Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas

Use a temporary to make linters happy.
  ml/nml.cc
Owners: @andrewm4894, @vkalintiris

Fix builds that have ML functionality disabled.
  ml/ml-dummy.c
Owners: @andrewm4894, @vkalintiris

ebpf_new_charts: Address codacy warning
  libnetdata/ebpf/ebpf.c
Owners: @thiagoftsm, @vkalintiris

retry
  packaging/makeself/jobs/50-libnetfilter_acct-1.0.3.install.sh
  packaging/makeself/jobs/70-netdata-git.install.sh
Owners: @Ferroin, @tkatsoulas

minor fix/oversight
  packaging/makeself/functions.sh
Owners: @Ferroin, @tkatsoulas

correction on the lib folder, search for specific pattern
  packaging/makeself/jobs/50-libnetfilter_acct-1.0.3.install.sh
Owners: @Ferroin, @tkatsoulas

Link statically libnetfilter_acct
  packaging/makeself/functions.sh
  packaging/makeself/jobs/50-libnetfilter_acct-1.0.3.install.sh
  packaging/makeself/jobs/70-netdata-git.install.sh
Owners: @Ferroin, @tkatsoulas

Update packaging/makeself/functions.sh
  packaging/makeself/functions.sh
Owners: @Ferroin, @tkatsoulas

Update 70-netdata-git.install.sh
  packaging/makeself/jobs/70-netdata-git.install.sh
Owners: @Ferroin, @tkatsoulas

Make sure that I dont touch the default LIBS
  configure.ac
Owners: @Ferroin

Reorganize checks
  configure.ac
  packaging/makeself/jobs/50-libnetfilter_acct-1.0.3.install.sh
  packaging/makeself/jobs/70-netdata-git.install.sh
Owners: @Ferroin, @tkatsoulas

Update functions.sh
  packaging/makeself/functions.sh
Owners: @Ferroin, @tkatsoulas

Port ML from C++ to C. (#14567)
  Makefile.am
  database/rrdhost.c
  ml/ADCharts.cc
  ml/ADCharts.h
  ml/Chart.cc
  ml/Chart.h
  ml/Config.cc
  ml/Config.h
  ml/Dimension.cc
  ml/Dimension.h
  ml/Host.cc
  ml/Host.h
  ml/KMeans.cc
  ml/KMeans.h
  ml/Mutex.h
  ml/Query.h
  ml/Queue.h
  ml/SamplesBuffer.cc
  ml/SamplesBuffer.h
  ml/Stats.h
  ml/ad_charts.cc
  ml/ad_charts.h
  ml/ml-dummy.c
  ml/ml-private.h
  ml/ml.cc
  ml/ml.h
  ml/nml.cc
  ml/nml.h
Owners: @Ferroin, @tkatsoulas, @thiagoftsm, @vkalintiris, @andrewm4894

working /api/v2/contexts
  database/rrd.h
  database/rrdcontext.c
  database/rrdcontext.h
  web/api/formatters/json_wrapper.c
  web/api/web_api_v2.c
Owners: @thiagoftsm, @vkalintiris

preparation for /api/v2/contexts
  database/rrdcontext.c
  database/rrdcontext.h
  libnetdata/simple_pattern/simple_pattern.h
  web/api/web_api.c
  web/api/web_api_v1.c
  web/api/web_api_v2.c
Owners: @thiagoftsm, @vkalintiris

add anomaly rate information in all statistics; when sum-count is requested, return sums and counts instead of averages
  database/rrdcontext.h
  web/api/formatters/json_wrapper.c
  web/api/queries/query.c
  web/api/web_api_v2.c
Owners: @thiagoftsm, @vkalintiris

minor fix
  web/api/formatters/json_wrapper.c
Owners: @thiagoftsm, @vkalintiris

full text search with /api/v2/contexts
  database/rrdcontext.c
  database/rrdcontext.h
  libnetdata/simple_pattern/simple_pattern.c
  libnetdata/simple_pattern/simple_pattern.h
  web/api/queries/query.c
  web/api/web_api_v2.c
Owners: @thiagoftsm, @vkalintiris

query targegt now accurately counts hosts, contexts, instances, dimensions, metrics
  database/rrdcontext.c
Owners: @thiagoftsm, @vkalintiris

cleanup /api/v2/contexts
  database/rrdcontext.h
  web/api/web_api_v2.c
Owners: @thiagoftsm, @vkalintiris

simple patterns now support the option to search ignoring case
  collectors/cgroups.plugin/sys_fs_cgroup.c
  collectors/diskspace.plugin/plugin_diskspace.c
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/proc.plugin/proc_diskstats.c
  collectors/proc.plugin/proc_net_dev.c
  collectors/proc.plugin/proc_pagetypeinfo.c
  collectors/proc.plugin/sys_class_infiniband.c
  collectors/statsd.plugin/statsd.c
  daemon/main.c
  database/rrdcontext.c
  database/rrdhost.c
  database/rrdlabels.c
  exporting/prometheus/prometheus.c
  exporting/read_config.c
  health/health.c
  health/health_config.c
  libnetdata/health/health.c
  libnetdata/simple_pattern/simple_pattern.c
  libnetdata/simple_pattern/simple_pattern.h
  ml/Config.cc
  streaming/rrdpush.c
  web/api/exporters/shell/allmetrics_shell.c
  web/api/web_api_v1.c
Owners: @thiagoftsm, @vkalintiris, @MrZammler, @andrewm4894

full text search API with /api/v2/q
  database/rrdcontext.c
  web/api/web_api_v2.c
Owners: @thiagoftsm, @vkalintiris

separated /api/v2/nodes from /api/v2/contexts
  database/rrdcontext.c
  database/rrdcontext.h
  web/api/formatters/json_wrapper.c
  web/api/web_api_v1.c
  web/api/web_api_v2.c
Owners: @thiagoftsm, @vkalintiris

fix ssv queries for group_by
  web/api/formatters/value/value.c
Owners: @thiagoftsm, @vkalintiris

do not generate zero valued members
  web/api/formatters/json_wrapper.c
Owners: @thiagoftsm, @vkalintiris

send instance ids and names when they differ
  database/contexts/instance.c
  database/contexts/rrdcontext.h
  web/api/formatters/json_wrapper.c
Owners: @thiagoftsm, @vkalintiris

fix typo when printing dimensions totals
  web/api/formatters/json_wrapper.c
Owners: @thiagoftsm, @vkalintiris

fix for the previous + renames and code cleanup
  database/contexts/query_target.c
  database/contexts/rrdcontext.h
  web/api/formatters/json_wrapper.c
  web/api/formatters/rrd2json.c
  web/api/queries/query.c
Owners: @thiagoftsm, @vkalintiris

split rrdcontext.c to multiple files
  Makefile.am
  configure.ac
  database/contexts/Makefile.am
  database/contexts/README.md
  database/contexts/api_v1.c
  database/contexts/api_v2.c
  database/contexts/context.c
  database/contexts/instance.c
  database/contexts/internal.h
  database/contexts/metric.c
  database/contexts/query_scope.c
  database/contexts/query_target.c
  database/contexts/rrdcontext.c
  database/contexts/rrdcontext.h
  database/contexts/worker.c
  database/rrd.h
  database/rrdcontext.c
Owners: @Ferroin, @tkatsoulas, @andrewm4894, @cakrit, @thiagoftsm, @vkalintiris

add query totals
  web/api/formatters/json_wrapper.c
Owners: @thiagoftsm, @vkalintiris

full text search accounting
  database/rrd.h
  database/rrdcalc.c
  database/rrdcalctemplate.c
  database/rrdcontext.c
  database/rrdlabels.c
Owners: @thiagoftsm, @vkalintiris

count query instances queried and failed per context and host
  database/rrdcontext.c
  database/rrdcontext.h
  web/api/formatters/json_wrapper.c
  web/api/queries/query.c
Owners: @thiagoftsm, @vkalintiris

do not show q when not given
  database/rrdcontext.c
Owners: @thiagoftsm, @vkalintiris

added option minify to remove spaces and newlines fron JSON output
  collectors/apps.plugin/apps_plugin.c
  database/contexts/api_v1.c
  database/contexts/api_v2.c
  libnetdata/buffer/buffer.c
  libnetdata/buffer/buffer.h
  web/api/formatters/json_wrapper.c
  web/api/queries/rrdr.h
  web/api/queries/weights.c
  web/api/web_api_v1.c
Owners: @thiagoftsm, @vkalintiris

simple pattern execution optimization
  database/rrdcalc.c
  database/rrdcalctemplate.c
  database/rrdcontext.c
  database/rrdlabels.c
  exporting/check_filters.c
  exporting/prometheus/prometheus.c
  health/health.c
  health/health_config.c
  libnetdata/simple_pattern/simple_pattern.c
  libnetdata/simple_pattern/simple_pattern.h
  streaming/rrdpush.c
  web/api/exporters/shell/allmetrics_shell.c
Owners: @thiagoftsm, @vkalintiris, @MrZammler

faster calculation of anomaly rate; by just summing integers for each db points and doing math once for every generated point
  web/api/queries/query.c
Owners: @thiagoftsm, @vkalintiris

fix anomaly rate calculation; provide "ni" for indexing hosts
  web/api/formatters/json_wrapper.c
Owners: @thiagoftsm, @vkalintiris

do not add in query target dimensions, instances, contexts and hosts for which there is no retention in the current timeframe
  database/contexts/query_target.c
Owners: @thiagoftsm, @vkalintiris

move selection of dimensions to query_dimension_add(), instead of query_metric_add()
  database/contexts/query_target.c
Owners: @thiagoftsm, @vkalintiris

late allocation of query dimensions
  database/contexts/query_target.c
Owners: @thiagoftsm, @vkalintiris
