Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @simonnagl, @vkalintiris, @DShreve2, @tkatsoulas, @MrZammler, @andrewm4894, @jacekkolasa, @netdatabot

moved pdc/epdl/deol/extent_buffer related code to pdc.c and pdc.h
  Makefile.am
  daemon/global_statistics.c
  database/engine/pagecache.c
  database/engine/rrdengine.c
  database/engine/rrdengine.h
  database/engine/rrdengineapi.h
  database/engine2/pdc.c
  database/engine2/pdc.h
Owners: @Ferroin, @thiagoftsm, @vkalintiris

fixed ML issues
  ml/ADCharts.cc
  ml/Host.cc
Owners: @andrewm4894, @vkalintiris

ci: show docker logs if docker-test fails
  .github/scripts/docker-test.sh
Owners: @Ferroin

add group for logs
  .github/scripts/docker-test.sh
Owners: @Ferroin

removed engine2 directory
  Makefile.am
  configure.ac
  database/engine/cache.c
  database/engine/cache.h
  database/engine/metric.c
  database/engine/metric.h
  database/engine/pdc.c
  database/engine/pdc.h
  database/engine/rrdengine.c
  database/engine/rrdengine.h
  database/engine2/Makefile.am
  database/engine2/README.md
Owners: @Ferroin, @thiagoftsm, @vkalintiris, @DShreve2, @tkatsoulas

Add few alarms for elasticsearch (#14197)
  health/Makefile.am
  health/health.d/elasticsearch.conf
Owners: @Ferroin, @thiagoftsm, @MrZammler

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.travis/ @Ferroin
.github/ @Ferroin
aclk/ @stelfrag @underhood
build/ @Ferroin
contrib/debian @Ferroin
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @DShreve2 @tkatsoulas
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin
tests/ @Ferroin @vkalintiris
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin
*.md @DShreve2 @tkatsoulas
Dockerfile* @Ferroin

# Ownership of specific files
.gitignore @Ferroin @vkalintiris
.travis.yml @Ferroin
.eslintrc @Ferroin
.eslintignore @Ferroin
.csslintrc @Ferroin
.codeclimate.yml @Ferroin
.codacy.yml @Ferroin
.yamllint.yml @Ferroin
netdata.spec.in @Ferroin
netdata-installer.sh @Ferroin
packaging/version @netdatabot @Ferroin

LICENSE.md @DShreve2 @Ferroin @vkalintiris
CHANGELOG.md @netdatabot @Ferroin
