Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

fix conf.ac
  configure.ac
Owners: @Ferroin

h2o a shallow copy by default
  .gitmodules
Owners: @Ferroin

try ipv6 if cant parse as ipv4
  httpd/http_server.c
Owners: @Ferroin

make HTTPD optional for now
  Makefile.am
  configure.ac
  daemon/main.c
  daemon/static_threads.c
  libnetdata/buffer/buffer.c
  libnetdata/buffer/buffer.h
Owners: @Ferroin, @tkatsoulas, @thiagoftsm, @vkalintiris

clear warning
  httpd/h2o_utils.h
Owners: @Ferroin

Revert "h2o a shallow copy by default"
  .gitmodules
Owners: @Ferroin

use UUID_STR_LEN
  httpd/http_server.c
Owners: @Ferroin

internal evloop
  Makefile.am
  configure.ac
Owners: @Ferroin, @tkatsoulas

sitch to evloop
  httpd/http_server.c
Owners: @Ferroin

fix rebase mistake
  web/server/web_client.h
Owners: @thiagoftsm, @vkalintiris

add missing stuff from merge
  daemon/main.c
  daemon/main.h
  httpd/http_server.c
Owners: @thiagoftsm, @vkalintiris, @Ferroin

remove some warnings
  httpd/http_server.c
Owners: @Ferroin

minor - add log
  httpd/http_server.c
Owners: @Ferroin

codacy fix - reduce scope of rc
  httpd/http_server.c
Owners: @Ferroin

Update freebsd.md (#14010)
  packaging/installer/methods/freebsd.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

update to new struct web_client
  httpd/http_server.c
Owners: @Ferroin

[ci skip] Update changelog and version for nightly build: v1.38.0-416-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

change_hardirq_read: Fix wrong return check and update documentation.
  collectors/ebpf.plugin/ebpf_cgroup.c
Owners: @thiagoftsm

Disable SQL operations in training thread
  ml/ml.cc
Owners: @andrewm4894, @vkalintiris

Update README.md
  web/gui/custom/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update README.md (#14948)
  web/gui/custom/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Disable SQL operations in training thread (#14947)
  ml/ml.cc
Owners: @andrewm4894, @vkalintiris

prevent pager from preventing non-interactive install
  packaging/makeself/makeself-header.sh
Owners: @Ferroin, @tkatsoulas

[ci skip] Update changelog and version for nightly build: v1.38.0-419-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

Update README.md
  database/engine/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update dbengine README.md (#14951)
  database/engine/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

[ci skip] Update changelog and version for nightly build: v1.38.0-421-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

Terminate JSX element
  web/gui/custom/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Terminate JSX element in doc file (#14952)
  web/gui/custom/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

build new protos
  CMakeLists.txt
  Makefile.am
Owners: @Ferroin, @tkatsoulas

Use proper function name to get the hostname.
  database/rrdset.c
Owners: @thiagoftsm, @vkalintiris

Release/acquire RRDSET when training.
  ml/ml.cc
Owners: @andrewm4894, @vkalintiris

Add acquire/release support for RRDSET
  database/rrd.h
  database/rrddim.c
  database/rrdset.c
Owners: @thiagoftsm, @vkalintiris

Fix function name in log message.
  database/rrdset.c
Owners: @thiagoftsm, @vkalintiris

schema wrapper
  CMakeLists.txt
  Makefile.am
  aclk/schema-wrappers/agent_cmds.cc
  aclk/schema-wrappers/agent_cmds.h
  aclk/schema-wrappers/schema_wrappers.h
Owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood

add stub handler for new message
  aclk/aclk_rx_msgs.c
Owners: @stelfrag, @underhood

Add acquire/release for hosts and skip training orphan/obsolete hosts/charts.
  database/rrd.h
  database/rrdhost.c
  ml/ml-private.h
  ml/ml.cc
Owners: @thiagoftsm, @vkalintiris, @andrewm4894

Increase api/v2 version
  aclk/aclk_capas.c
Owners: @stelfrag, @underhood

Fix variable name
  database/rrdhost.c
Owners: @thiagoftsm, @vkalintiris

keep cancelled query list
  aclk/aclk_query.c
  aclk/aclk_query.h
  aclk/aclk_rx_msgs.c
Owners: @stelfrag, @underhood

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas
