Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas

Add Learn page to document OpenWRT installation process
  packaging/installer/methods/openwrt.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Add OpenWRT to platform support policy
  packaging/PLATFORM_SUPPORT.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

[ci skip] Update changelog and version for nightly build: v1.38.0-463-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

support chart_label=val val2 val3
  health/health_config.c
Owners: @thiagoftsm, @vkalintiris, @MrZammler

update proc metrics.csv
  collectors/proc.plugin/metrics.csv
Owners: @thiagoftsm

updated metrics.csv
  collectors/proc.plugin/metrics.csv
Owners: @thiagoftsm

Revert "updated metrics.csv"
  collectors/proc.plugin/metrics.csv
Owners: @thiagoftsm

replaced prog.plugin with proc.plugin
  collectors/proc.plugin/metrics.csv
Owners: @thiagoftsm

Bump Coverity scan tool version.
  coverity-scan.sh
Owners: @Ferroin

when querying the volume delta of anomaly rates, only consider higher highlighted area anomalies
  web/api/queries/weights.c
Owners: @thiagoftsm, @vkalintiris

add support for monitoring thp, ballooning, zswap, ksm cow (#15000)
  collectors/all.h
  collectors/proc.plugin/metrics.csv
  collectors/proc.plugin/proc_vmstat.c
Owners: @thiagoftsm

Fix coverity issues 384022, 384021, 383825
  ml/ml.cc
  registry/registry.c
  web/server/web_client.c
Owners: @andrewm4894, @vkalintiris, @jacekkolasa, @thiagoftsm

weights endpoint: volume diff of anomaly rates (#15004)
  web/api/queries/weights.c
Owners: @thiagoftsm, @vkalintiris

Bump Coverity scan tool version. (#15003)
  coverity-scan.sh
Owners: @Ferroin

initial update commit, organize info
  docs/cloud/visualize/interact-new-charts.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Fix coverity issues (#15005)
  ml/ml.cc
  registry/registry.c
  web/server/web_client.c
Owners: @andrewm4894, @vkalintiris, @jacekkolasa, @thiagoftsm

Update postfix_j.chart.py
  collectors/python.d.plugin/postfix/postfix_j.chart.py
Owners: @ilyam8

wording changes
  docs/cloud/visualize/interact-new-charts.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

fixing mixed indentation and trailing whitespace
  collectors/python.d.plugin/postfix/postfix_j.chart.py
Owners: @ilyam8

Update postfix_j.chart.py
  collectors/python.d.plugin/postfix/postfix_j.chart.py
Owners: @ilyam8

collect context switches
  collectors/apps.plugin/apps_plugin.c
  collectors/apps.plugin/metrics.csv
Owners: @thiagoftsm

don't create charts on FreeBSD
  collectors/apps.plugin/apps_plugin.c
Owners: @thiagoftsm

nonvoluntary->involuntary
  collectors/apps.plugin/apps_plugin.c
  collectors/apps.plugin/metrics.csv
Owners: @thiagoftsm

Add suppression options.
  ml/Config.cc
  ml/ml-private.h
Owners: @andrewm4894, @vkalintiris

add screenshots and more info
  docs/cloud/visualize/interact-new-charts.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

small fix
  docs/cloud/visualize/interact-new-charts.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

small fix
  docs/cloud/visualize/interact-new-charts.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Silence noisy dimensions
  ml/Config.cc
  ml/ad_charts.cc
  ml/ml-private.h
  ml/ml.cc
Owners: @andrewm4894, @vkalintiris

Rollback ML transaction on failure.
  ml/ml.cc
Owners: @andrewm4894, @vkalintiris

review the billing docs for the flow
  docs/cloud/manage/plans.md
  docs/cloud/manage/view-plan-billing.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Differentiate error codes better when claiming from kickstart script.
  packaging/installer/kickstart.sh
Owners: @Ferroin, @tkatsoulas

Apply suggestions from code review
  docs/cloud/visualize/interact-new-charts.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

feat(apps.plugin): collect context switches (#15002)
  collectors/apps.plugin/apps_plugin.c
  collectors/apps.plugin/metrics.csv
Owners: @thiagoftsm

Fix chown trying to change ownership of symbolic links
  packaging/makeself/install-or-update.sh
Owners: @Ferroin, @tkatsoulas

Fix OpenWrt spelling
  packaging/PLATFORM_SUPPORT.md
  packaging/installer/methods/openwrt.md
  packaging/maintainers/README.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update openwrt.md
  packaging/installer/methods/openwrt.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Differentiate error codes better when claiming from kickstart script. (#15015)
  packaging/installer/kickstart.sh
Owners: @Ferroin, @tkatsoulas

Squashed commit of the following:
  collectors/logsmanagement.plugin/plugin_logsmanagement.c
  logsmanagement/circular_buffer.c
  logsmanagement/circular_buffer.h
  logsmanagement/db_api.c
  logsmanagement/file_info.h
  logsmanagement/flb_plugin.c
  logsmanagement/helper.h
  logsmanagement/logsmanagement.c
  logsmanagement/query.c
Owners: @thiagoftsm, @Ferroin

[ci skip] Update changelog and version for nightly build: v1.38.0-470-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

changes from review
  docs/cloud/visualize/interact-new-charts.md
Owners: @tkatsoulas, @andrewm4894, @cakrit
