Repository netdata/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ferroin, @tkatsoulas, @stelfrag, @underhood, @thiagoftsm, @ilyam8, @vkalintiris, @andrewm4894, @cakrit, @MrZammler, @jacekkolasa, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin @tkatsoulas
aclk/ @stelfrag @underhood
build/ @Ferroin @tkatsoulas
contrib/debian @Ferroin @tkatsoulas
collectors/ @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @thiagoftsm
collectors/macos.plugin/ @thiagoftsm
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @thiagoftsm
exporting/ @thiagoftsm
daemon/ @thiagoftsm @vkalintiris
database/ @thiagoftsm @vkalintiris
docs/ @tkatsoulas @andrewm4894 @cakrit
health/ @thiagoftsm @vkalintiris @MrZammler
health/health.d/ @thiagoftsm @MrZammler
health/notifications/ @Ferroin @thiagoftsm @MrZammler
ml/ @andrewm4894 @vkalintiris
libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin @tkatsoulas
registry/ @jacekkolasa
streaming/ @thiagoftsm
system/ @Ferroin @tkatsoulas
tests/ @Ferroin @vkalintiris @tkatsoulas
web/ @thiagoftsm @vkalintiris
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin @tkatsoulas
*.md @tkatsoulas @andrewm4894 @cakrit
*.mdx @tkatsoulas @andrewm4894 @cakrit
Dockerfile* @Ferroin @tkatsoulas

# Ownership of specific files
.gitignore @Ferroin @tkatsoulas @vkalintiris
.eslintrc @Ferroin @tkatsoulas
.eslintignore @Ferroin @tkatsoulas
.csslintrc @Ferroin @tkatsoulas
.codeclimate.yml @Ferroin @tkatsoulas
.codacy.yml @Ferroin @tkatsoulas
.yamllint.yml @Ferroin @tkatsoulas
netdata.spec.in @Ferroin @tkatsoulas
netdata-installer.sh @Ferroin @tkatsoulas
packaging/version @netdatabot @Ferroin @tkatsoulas

LICENSE.md @Ferroin @tkatsoulas @vkalintiris
CHANGELOG.md @netdatabot @Ferroin @tkatsoulas

Set file capabilities correctly on static installs.
  packaging/makeself/install-or-update.sh
Owners: @Ferroin, @tkatsoulas

add `grafana` to `apps_groups.conf`
  collectors/apps.plugin/apps_groups.conf
Owners: @thiagoftsm

Set file capabilities correctly on static installs. (#15018)
  packaging/makeself/install-or-update.sh
Owners: @Ferroin, @tkatsoulas

instances filter now matches also instance_id@node_id
  database/contexts/api_v2.c
  database/contexts/query_scope.c
  database/contexts/query_target.c
  database/contexts/rrdcontext.h
Owners: @thiagoftsm, @vkalintiris

add `grafana` to `apps_groups.conf` (#15020)
  collectors/apps.plugin/apps_groups.conf
Owners: @thiagoftsm

On data and weight queries now instances filter matches also instance_id@node_id (#15021)
  database/contexts/api_v2.c
  database/contexts/query_scope.c
  database/contexts/query_target.c
  database/contexts/rrdcontext.h
Owners: @thiagoftsm, @vkalintiris

[ci skip] Update changelog and version for nightly build: v1.38.0-474-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

Fix typo in file capabilities settings in static installer.
  packaging/makeself/install-or-update.sh
Owners: @Ferroin, @tkatsoulas

Fix typo in file capabilities settings in static installer. (#15023)
  packaging/makeself/install-or-update.sh
Owners: @Ferroin, @tkatsoulas

[ci skip] Update changelog and version for nightly build: v1.38.0-476-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

Adjust buffers to prevent overflow
  collectors/cgroups.plugin/sys_fs_cgroup.c
  collectors/proc.plugin/proc_diskstats.c
  database/rrdset.c
Owners: @thiagoftsm, @vkalintiris

Adjust strncat parameter to prevent buffer overflow
  collectors/proc.plugin/proc_diskstats.c
Owners: @thiagoftsm

[ci skip] Minor release v1.39.0.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

reviewed FAQ with feedback from Dimitris
  docs/cloud/manage/view-plan-billing.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update troubleshooting-agent-with-cloud-connection.md
  docs/guides/troubleshoot/troubleshooting-agent-with-cloud-connection.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update troubleshooting-agent-with-cloud-connection.md
  docs/guides/troubleshoot/troubleshooting-agent-with-cloud-connection.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update troubleshooting-agent-with-cloud-connection.md
  docs/guides/troubleshoot/troubleshooting-agent-with-cloud-connection.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

debugfs_collector: Modify autoconf files and .gitignore
  .gitignore
  Makefile.am
  collectors/Makefile.am
  collectors/debugfs.plugin/debugfs_plugin.c
  configure.ac
Owners: @Ferroin, @tkatsoulas, @vkalintiris, @thiagoftsm

debugfs_collector: Modify CMakeList.txt
  CMakeLists.txt
Owners: @Ferroin

debugfs_collector: Adjust debugfs minimal test and netdata-installer.sh
  collectors/debugfs.plugin/debugfs_plugin.c
  netdata-installer.sh
Owners: @thiagoftsm, @Ferroin, @tkatsoulas

debugfs_collector: Add debugfs to apps.group
  collectors/apps.plugin/apps_groups.conf
Owners: @thiagoftsm

debugfs_collector: Fix missing data during runtime
  collectors/debugfs.plugin/debugfs_extfrag_index.c
  collectors/debugfs.plugin/debugfs_plugin.c
Owners: @thiagoftsm

debugfs_collector: Add dashboard description
  web/gui/dashboard_info.js
Owners: @jacekkolasa

debugfs_collector: Add main loop converting initial tests on real plugin
  collectors/debugfs.plugin/debugfs_plugin.c
Owners: @thiagoftsm

debugfs_collector: Add initial files for new collector
  collectors/debugfs.plugin/Makefile.am
  collectors/debugfs.plugin/README.md
  collectors/debugfs.plugin/debugfs_plugin.c
  collectors/debugfs.plugin/metrics.csv
Owners: @Ferroin, @tkatsoulas, @andrewm4894, @cakrit, @thiagoftsm

debugfs_collector: Add common structure and also an external file that will be used to parse new file.
  Makefile.am
  collectors/debugfs.plugin/debugfs_extfrag_index.c
  collectors/debugfs.plugin/debugfs_plugin.c
  collectors/debugfs.plugin/debugfs_plugin.h
Owners: @Ferroin, @tkatsoulas, @thiagoftsm

debugfs_collector: Add metrics for debugfs.plugin
  collectors/debugfs.plugin/metrics.csv
Owners: @thiagoftsm

debugfs_collector: Add capability and permission check
  collectors/debugfs.plugin/debugfs_plugin.c
Owners: @thiagoftsm

debugfs_collector: Add necessary algorithm to collect memory fragmentation
  collectors/all.h
  collectors/debugfs.plugin/debugfs_extfrag_index.c
  collectors/debugfs.plugin/debugfs_plugin.c
  collectors/debugfs.plugin/debugfs_plugin.h
Owners: @thiagoftsm

debugfs_collector: Set capability to plugin
  netdata-installer.sh
Owners: @Ferroin, @tkatsoulas

debugfs_collector: Adjust clang format
  collectors/debugfs.plugin/debugfs_plugin.c
Owners: @thiagoftsm

debugfs_collector: Add function to parse update_every received from netdata
  collectors/debugfs.plugin/debugfs_plugin.c
Owners: @thiagoftsm

debugfs_collector: Update packaging files
  packaging/docker/Dockerfile
  packaging/makeself/install-or-update.sh
Owners: @Ferroin, @tkatsoulas

debugfs_collector: Add new thread for zswap
  CMakeLists.txt
  Makefile.am
  collectors/debugfs.plugin/debugfs_plugin.c
  collectors/debugfs.plugin/debugfs_plugin.h
  collectors/debugfs.plugin/debugfs_zswap.c
Owners: @Ferroin, @tkatsoulas, @thiagoftsm

Update troubleshooting-agent-with-cloud-connection.md
  docs/guides/troubleshoot/troubleshooting-agent-with-cloud-connection.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

Update chart documentation (#15010)
  docs/cloud/visualize/interact-new-charts.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

debugfs_collector: Add missing entry inside all that could create order issues
  collectors/all.h
  collectors/ebpf.plugin/ebpf_swap.c
Owners: @thiagoftsm

review the billing docs for the flow (#15014)
  docs/cloud/manage/plans.md
  docs/cloud/manage/view-plan-billing.md
Owners: @tkatsoulas, @andrewm4894, @cakrit

[ci skip] Update changelog and version for nightly build: v1.39.0-3-nightly.
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @tkatsoulas

debugfs_collector: Add second thread
  collectors/all.h
  collectors/debugfs.plugin/debugfs_zswap.c
Owners: @thiagoftsm
