Repository netdata/netdata, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ACLK, area/claim, area/exporting, area/build, area/ci, area/daemon, area/database, area/docs, area/collectors, collectors/plugins.d, collectors/apps, collectors/cgroups, collectors/charts.d, collectors/cups, collectors/diskspace, collectors/ebpf, collectors/freebsd, collectors/freeipmi, collectors/idlejitter, collectors/ioping, collectors/macos, collectors/nfacct, collectors/perf, collectors/proc, collectors/python.d, collectors/slabinfo, collectors/statsd, collectors/tc, collectors/timex, collectors/xenstat, area/health, area/ml, area/packaging, area/registry, area/streaming, area/tests, area/web

cancel unittest in the middle to check for crashes...
  database/engine2/metric.c
Labels: area/database

non accessed dirty pages are now entering at the clean list (LRU) to be evicted first
  database/engine2/cache.c
  database/engine2/cache.h
Labels: area/database

added comment
  database/engine2/cache.c
Labels: area/database

autoscaling of memory used by the cache, 2.5 times the max hot ever seen
  database/engine2/cache.c
  database/engine2/cache.h
Labels: area/database

set hot latest time
  database/engine2/metric.c
  database/engine2/metric.h
Labels: area/database

simplify
  health/health.c
Labels: area/health

fix docker host editable config (#14104)
  packaging/docker/README.md
  packaging/docker/run.sh
Labels: area/docs, area/packaging

hot pages can skip flushing and marked as empty to be evicted immediately
  database/engine2/cache.c
  database/engine2/cache.h
Labels: area/database

add filtering options to functions table output
  collectors/apps.plugin/apps_plugin.c
Labels: area/collectors, collectors/apps

prevent an infinite loop in evictions; added a tiny sleep when search needs to spin because a page is found that is being deleted;
  database/engine2/cache.c
Labels: area/database

fix health emphemerality labels src (#14105)
  health/health.c
Labels: area/health

prevent another long loop in evictions, when the evictioning thread could not get a write lock on any partition for an infinite time
  database/engine2/cache.c
Labels: area/database

Update COLLECTORS.md
  collectors/COLLECTORS.md
Labels: area/docs, area/collectors

Update COLLECTORS.md
  collectors/COLLECTORS.md
Labels: area/docs, area/collectors

alarm_log api from sqlite
  database/sqlite/sqlite_health.c
  database/sqlite/sqlite_health.h
  health/health.h
  health/health_json.c
  web/api/web_api_v1.c
Labels: area/database, area/health, area/web

Fix minor typo. (#14111)
  collectors/COLLECTORS.md
Labels: area/docs, area/collectors

auto-resize with max hot x 2
  database/engine2/cache.c
Labels: area/database

acquire the page while having the lock
  database/engine2/cache.c
Labels: area/database

[ci skip] Update changelog and version for nightly build: v1.37.0-30-nightly.
  CHANGELOG.md
  packaging/version
Labels: area/docs, area/packaging

error_report dont clear errno
  libnetdata/libnetdata.h
  libnetdata/log/log.c
  libnetdata/log/log.h
Labels: none

make get_system_cpus() work even if netdata_configured_host_prefix is not set
  aclk/aclk.c
  collectors/apps.plugin/apps_plugin.c
  collectors/proc.plugin/proc_stat.c
  daemon/main.c
  libnetdata/os.c
  libnetdata/os.h
  web/server/static/static-threaded.c
Labels: area/ACLK, area/daemon, area/collectors, collectors/apps, collectors/proc, area/web

use system cpus for the default number of partitions
  database/engine2/cache.c
Labels: area/database

dont log unecessarily about all the streaming destinations
  streaming/receiver.c
  streaming/rrdpush.c
  streaming/sender.c
Labels: area/streaming

fix get_system_cpus()
  aclk/aclk.c
  collectors/apps.plugin/apps_plugin.c
  collectors/proc.plugin/proc_stat.c
  daemon/main.c
  libnetdata/os.c
  libnetdata/os.h
  web/server/static/static-threaded.c
Labels: area/ACLK, area/daemon, area/collectors, collectors/apps, collectors/proc, area/web

dont log streaming connection unecessarily
  streaming/receiver.c
  streaming/rrdpush.c
  streaming/sender.c
Labels: area/streaming

Add checks for comment content and issuer
  .github/workflows/cloud_regression.yml
Labels: area/ci

ci: fix cgroup-parent name
  .github/workflows/packaging.yml
Labels: area/ci

update cgroup-parent
  .github/workflows/packaging.yml
Labels: area/ci

enable retries for SSL_ERROR_WANT_READ
  libnetdata/socket/socket.c
Labels: none

ci: fix cgroup-parent name in packaging (#14118)
  .github/workflows/packaging.yml
Labels: area/ci

use stable named tag instead of main
  .github/workflows/cloud_regression.yml
Labels: area/ci

fix_improve_cachestat_fd: Rewrite function ebpf_fd_set_target_values to avoid errors on RH 8.x family
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_cachestat.c
  collectors/ebpf.plugin/ebpf_fd.c
  collectors/ebpf.plugin/ebpf_fd.h
Labels: area/collectors, collectors/ebpf

fix_improve_cachestat_fd: Improve algorithm to detect function and fix issues with systemdd
  libnetdata/ebpf/ebpf.c
Labels: none

fix_improve_cachestat_fd: Remove kernel reference and use safest function name
  collectors/ebpf.plugin/ebpf_cachestat.c
Labels: area/collectors, collectors/ebpf

fix_improve_cachestat_fd: Rewrite function ebpf_cachestat_set_internal_value to avoid errors on RH 8.x family
  collectors/ebpf.plugin/ebpf_cachestat.c
  collectors/ebpf.plugin/ebpf_cachestat.h
Labels: area/collectors, collectors/ebpf

fix_improve_cachestat_fd: Fix possible coredump when thread is not initialized
  collectors/ebpf.plugin/ebpf_cachestat.c
  collectors/ebpf.plugin/ebpf_dcstat.c
  collectors/ebpf.plugin/ebpf_disk.c
  collectors/ebpf.plugin/ebpf_fd.c
  collectors/ebpf.plugin/ebpf_filesystem.c
  collectors/ebpf.plugin/ebpf_hardirq.c
  collectors/ebpf.plugin/ebpf_mdflush.c
  collectors/ebpf.plugin/ebpf_mount.c
  collectors/ebpf.plugin/ebpf_process.c
  collectors/ebpf.plugin/ebpf_shm.c
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_softirq.c
  collectors/ebpf.plugin/ebpf_swap.c
  collectors/ebpf.plugin/ebpf_sync.c
  collectors/ebpf.plugin/ebpf_vfs.c
Labels: area/collectors, collectors/ebpf

fix_improve_cachestat_fd: Update algorithm used to find an address. Now it is possible to load an address without to store data
  libnetdata/ebpf/ebpf.c
Labels: none

fix_improve_cachestat_fd: Remove kernel reference and use safest function name (FD)
  collectors/ebpf.plugin/ebpf_fd.c
  collectors/ebpf.plugin/ebpf_fd.h
Labels: area/collectors, collectors/ebpf

aral: add destroy function and optimize ifdefs
  libnetdata/arrayalloc/arrayalloc.c
  libnetdata/arrayalloc/arrayalloc.h
Labels: none

Don't run full suite on user comment
  .github/workflows/cloud_regression.yml
Labels: area/ci

.github/labeler.yml:

# This configures label matching for PR's.
#
# The keys are labels, and the values are lists of minimatch patterns
# to which those labels apply.
#
# NOTE: This can only add labels, not remove them.
# NOTE: Due to YAML syntax limitations, patterns or labels which start
# with a character that is part of the standard YAML syntax must be
# quoted.
#
# Please keep the labels sorted and deduplicated.

area/ACLK:
  - aclk/*
  - aclk/**/*
  - database/sqlite/sqlite_aclk*
  - mqtt_websockets

area/claim:
  - claim/*

area/exporting:
  - exporting/*
  - exporting/**/*

area/build:
  - build/*
  - build/**/*
  - build_external/*
  - build_external/**/*
  - CMakeLists.txt
  - configure.ac
  - Makefile.am
  - "**/Makefile.am"

area/ci:
  - .travis/*
  - .travis/**/*
  - .github/*
  - .github/**/*

area/daemon:
  - daemon/*
  - daemon/**/*

area/database:
  - database/*
  - database/**/*

area/docs:
  - "*.md"
  - "**/*.md"
  - "**/*.mdx"
  - diagrams/*
  - diagrams/**/*

# -----------------collectors----------------------

area/collectors:
  - collectors/*
  - collectors/**/*

collectors/plugins.d:
  - collectors/plugins.d/*
  - collectors/plugins.d/**/*

collectors/apps:
  - collectors/apps.plugin/*
  - collectors/apps.plugin/**/*

collectors/cgroups:
  - collectors/cgroups.plugin/*
  - collectors/cgroups.plugin/**/*

collectors/charts.d:
  - collectors/charts.d.plugin/*
  - collectors/charts.d.plugin/**/*

collectors/cups:
  - collectors/cups.plugin/*
  - collectors/cups.plugin/**/*

collectors/diskspace:
  - collectors/diskspace.plugin/*
  - collectors/diskspace.plugin/**/*

collectors/ebpf:
  - collectors/ebpf.plugin/*
  - collectors/ebpf.plugin/**/*

collectors/freebsd:
  - collectors/freebsd.plugin/*
  - collectors/freebsd.plugin/**/*

collectors/freeipmi:
  - collectors/freeipmi.plugin/*
  - collectors/freeipmi.plugin/**/*

collectors/idlejitter:
  - collectors/idlejitter.plugin/*
  - collectors/idlejitter.plugin/**/*

collectors/ioping:
  - collectors/ioping.plugin/*
  - collectors/ioping.plugin/**/*

collectors/macos:
  - collectors/macos.plugin/*
  - collectors/macos.plugin/**/*

collectors/nfacct:
  - collectors/nfacct.plugin/*
  - collectors/nfacct.plugin/**/*

collectors/perf:
  - collectors/perf.plugin/*
  - collectors/perf.plugin/**/*

collectors/proc:
  - collectors/proc.plugin/*
  - collectors/proc.plugin/**/*

collectors/python.d:
  - collectors/python.d.plugin/*
  - collectors/python.d.plugin/**/*

collectors/slabinfo:
  - collectors/slabinfo.plugin/*
  - collectors/slabinfo.plugin/**/*

collectors/statsd:
  - collectors/statsd.plugin/*
  - collectors/statsd.plugin/**/*

collectors/tc:
  - collectors/tc.plugin/*
  - collectors/tc.plugin/**/*

collectors/timex:
  - collectors/timex.plugin/*
  - collectors/timex.plugin/**/*

collectors/xenstat:
  - collectors/xenstat.plugin/*
  - collectors/xenstat.plugin/**/*

# ----------------/collectors----------------------

area/health:
  - health/*
  - health/**/*

area/ml:
  - ml/*
  - ml/**/*

area/packaging:
  - contrib/*
  - contrib/**/*
  - packaging/*
  - packaging/**/*
  - system/*
  - system/**/*
  - Dockerfile*
  - netdata-installer.sh
  - netdata.spec.in

area/registry:
  - registry/*
  - registry/**/*

area/streaming:
  - streaming/*
  - streaming/**/*

area/tests:
  - tests/*
  - tests/**/*
  - daemon/unit_test*
  - coverity-scan.sh
  - cppcheck.sh
  - netdata.cppcheck

area/web:
  - web/*
  - web/**/*
