Repository netdata/netdata, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ACLK, area/claim, area/exporting, area/build, area/ci, area/daemon, area/database, area/docs, area/collectors, collectors/plugins.d, collectors/apps, collectors/cgroups, collectors/charts.d, collectors/cups, collectors/diskspace, collectors/ebpf, collectors/freebsd, collectors/freeipmi, collectors/idlejitter, collectors/ioping, collectors/macos, collectors/nfacct, collectors/perf, collectors/proc, collectors/python.d, collectors/slabinfo, collectors/statsd, collectors/tc, collectors/timex, collectors/xenstat, area/health, area/ml, area/packaging, area/registry, area/streaming, area/tests, area/web

leftovers
  packaging/docker/Dockerfile
Labels: area/packaging

fix backfilling statistics
  web/api/queries/query.c
Labels: area/web

remove python.d springboot
  collectors/COLLECTORS.md
  collectors/python.d.plugin/Makefile.am
  collectors/python.d.plugin/python.d.conf
  collectors/python.d.plugin/springboot/Makefile.inc
  collectors/python.d.plugin/springboot/README.md
  collectors/python.d.plugin/springboot/springboot.chart.py
  collectors/python.d.plugin/springboot/springboot.conf
Labels: area/build, area/docs, area/collectors, collectors/python.d

minor
  collectors/COLLECTORS.md
Labels: area/docs, area/collectors

minor
  collectors/COLLECTORS.md
Labels: area/docs, area/collectors

prevent concurrent initialization of SSL from multiple threads; prevent re-initialization of SSL
  libnetdata/socket/security.c
  streaming/sender.c
Labels: area/streaming

find the issue with workers performance and optimize it
  daemon/global_statistics.c
  libnetdata/worker_utilization/worker_utilization.c
Labels: area/daemon

have 2 independent locks in workers
  libnetdata/worker_utilization/worker_utilization.c
  libnetdata/worker_utilization/worker_utilization.h
Labels: none

break down workers statistics work to measure the time of each module
  daemon/global_statistics.c
Labels: area/daemon

[ci skip] Update changelog and version for nightly build: v1.37.0-1-nightly.
  packaging/version
Labels: area/packaging

optimize reading cpu for workers; cleanup procfile from unecessary allocations and operations
  collectors/proc.plugin/ipc.c
  daemon/global_statistics.c
  libnetdata/procfile/procfile.c
  libnetdata/procfile/procfile.h
Labels: area/daemon, area/collectors, collectors/proc

cleanup workers
  daemon/global_statistics.c
Labels: area/daemon

fix the workers statistics dimension name
  daemon/global_statistics.c
Labels: area/daemon

remove python.d/springboot (#14075)
  collectors/COLLECTORS.md
  collectors/python.d.plugin/Makefile.am
  collectors/python.d.plugin/python.d.conf
  collectors/python.d.plugin/springboot/Makefile.inc
  collectors/python.d.plugin/springboot/README.md
  collectors/python.d.plugin/springboot/springboot.chart.py
  collectors/python.d.plugin/springboot/springboot.conf
Labels: area/build, area/docs, area/collectors, collectors/python.d

Remove openSUSE Leap 15.3 from CI and support. (#13416)
  .github/data/distros.yml
  packaging/PLATFORM_SUPPORT.md
Labels: area/ci, area/docs, area/packaging

fix backfilling statistics (#14074)
  web/api/queries/query.c
Labels: area/web

fix SSL related crashes (#14076)
  libnetdata/socket/security.c
  streaming/sender.c
Labels: area/streaming

Add workflow dispatch trigger for parent/child with cloud integration smoke tests (#14070)
  .github/workflows/cloud_regression.yml
Labels: area/ci

Remove indirect branches when calling storage engine functions.
  daemon/service.c
  daemon/unit_test.c
  database/rrd.c
  database/rrd.h
  database/rrdcontext.c
  database/rrdcontext.h
  database/rrddim.c
  database/rrdhost.c
  database/rrdset.c
  database/storage_engine.c
  database/storage_engine.h
  exporting/process_data.c
  ml/Query.h
  streaming/replication.c
  web/api/queries/query.c
Labels: area/exporting, area/daemon, area/database, area/ml, area/streaming, area/tests, area/web

optimize workers statistics performance (#14077)
  collectors/proc.plugin/ipc.c
  daemon/global_statistics.c
  libnetdata/procfile/procfile.c
  libnetdata/procfile/procfile.h
  libnetdata/worker_utilization/worker_utilization.c
  libnetdata/worker_utilization/worker_utilization.h
Labels: area/daemon, area/collectors, collectors/proc

replication fixes 9
  streaming/replication.c
  streaming/rrdpush.h
Labels: area/streaming

no room metric is now absolute
  streaming/replication.c
Labels: area/streaming

decrement senders full and flip the actions on sender full and sender available
  streaming/replication.c
Labels: area/streaming

add basic dashboard info for nginxplus
  web/gui/dashboard_info.js
Labels: area/web

finer timings
  streaming/replication.c
Labels: area/streaming

lgtm fixes
  web/gui/dashboard_info.js
Labels: area/web

Update freebsd.md
  packaging/installer/methods/freebsd.md
Labels: area/docs, area/packaging

execute all requests, unconditionally, once they are in the replication queue; worker charts are now sorted
  daemon/global_statistics.c
  streaming/replication.c
Labels: area/daemon, area/streaming

remove left-over debug message
  database/rrdcontext.c
Labels: area/database

log verification of replication completion only when there are no pending requests any more
  streaming/replication.c
Labels: area/streaming

use up to 50% of the sender buffer for replication responses
  streaming/replication.c
Labels: area/streaming

[ci skip] Update changelog and version for nightly build: v1.37.0-8-nightly.
  CHANGELOG.md
  packaging/version
Labels: area/docs, area/packaging

replication fixes 9 (#14079)
  daemon/global_statistics.c
  database/rrdcontext.c
  streaming/replication.c
  streaming/rrdpush.h
Labels: area/daemon, area/database, area/streaming

Wait for pending read to complete before destroying the page
  database/engine/pagecache.c
Labels: area/database

add basic dashboard info for NGINX Plus (#14080)
  web/gui/dashboard_info.js
Labels: area/web

fix page alignment crash
  daemon/service.c
  database/engine/rrdengineapi.c
  database/rrddim.c
Labels: area/daemon, area/database

Compare copy of descriptor
  database/engine/rrdengine.c
  database/engine/rrdengine.h
Labels: area/database

prevent workers crashes by disabling cancellability on critical areas and separate sqlite3 statistics to its own worker job
  daemon/global_statistics.c
Labels: area/daemon

do not update sqlite3 stats when they are slow
  daemon/global_statistics.c
  database/sqlite/sqlite_context.c
  database/sqlite/sqlite_functions.c
Labels: area/daemon, area/database

do not query sqlite3 statistics when they are slow
  daemon/global_statistics.c
Labels: area/daemon

.github/labeler.yml:

# This configures label matching for PR's.
#
# The keys are labels, and the values are lists of minimatch patterns
# to which those labels apply.
#
# NOTE: This can only add labels, not remove them.
# NOTE: Due to YAML syntax limitations, patterns or labels which start
# with a character that is part of the standard YAML syntax must be
# quoted.
#
# Please keep the labels sorted and deduplicated.

area/ACLK:
  - aclk/*
  - aclk/**/*
  - database/sqlite/sqlite_aclk*
  - mqtt_websockets

area/claim:
  - claim/*

area/exporting:
  - exporting/*
  - exporting/**/*

area/build:
  - build/*
  - build/**/*
  - build_external/*
  - build_external/**/*
  - CMakeLists.txt
  - configure.ac
  - Makefile.am
  - "**/Makefile.am"

area/ci:
  - .travis/*
  - .travis/**/*
  - .github/*
  - .github/**/*

area/daemon:
  - daemon/*
  - daemon/**/*

area/database:
  - database/*
  - database/**/*

area/docs:
  - "*.md"
  - "**/*.md"
  - "**/*.mdx"
  - diagrams/*
  - diagrams/**/*

# -----------------collectors----------------------

area/collectors:
  - collectors/*
  - collectors/**/*

collectors/plugins.d:
  - collectors/plugins.d/*
  - collectors/plugins.d/**/*

collectors/apps:
  - collectors/apps.plugin/*
  - collectors/apps.plugin/**/*

collectors/cgroups:
  - collectors/cgroups.plugin/*
  - collectors/cgroups.plugin/**/*

collectors/charts.d:
  - collectors/charts.d.plugin/*
  - collectors/charts.d.plugin/**/*

collectors/cups:
  - collectors/cups.plugin/*
  - collectors/cups.plugin/**/*

collectors/diskspace:
  - collectors/diskspace.plugin/*
  - collectors/diskspace.plugin/**/*

collectors/ebpf:
  - collectors/ebpf.plugin/*
  - collectors/ebpf.plugin/**/*

collectors/freebsd:
  - collectors/freebsd.plugin/*
  - collectors/freebsd.plugin/**/*

collectors/freeipmi:
  - collectors/freeipmi.plugin/*
  - collectors/freeipmi.plugin/**/*

collectors/idlejitter:
  - collectors/idlejitter.plugin/*
  - collectors/idlejitter.plugin/**/*

collectors/ioping:
  - collectors/ioping.plugin/*
  - collectors/ioping.plugin/**/*

collectors/macos:
  - collectors/macos.plugin/*
  - collectors/macos.plugin/**/*

collectors/nfacct:
  - collectors/nfacct.plugin/*
  - collectors/nfacct.plugin/**/*

collectors/perf:
  - collectors/perf.plugin/*
  - collectors/perf.plugin/**/*

collectors/proc:
  - collectors/proc.plugin/*
  - collectors/proc.plugin/**/*

collectors/python.d:
  - collectors/python.d.plugin/*
  - collectors/python.d.plugin/**/*

collectors/slabinfo:
  - collectors/slabinfo.plugin/*
  - collectors/slabinfo.plugin/**/*

collectors/statsd:
  - collectors/statsd.plugin/*
  - collectors/statsd.plugin/**/*

collectors/tc:
  - collectors/tc.plugin/*
  - collectors/tc.plugin/**/*

collectors/timex:
  - collectors/timex.plugin/*
  - collectors/timex.plugin/**/*

collectors/xenstat:
  - collectors/xenstat.plugin/*
  - collectors/xenstat.plugin/**/*

# ----------------/collectors----------------------

area/health:
  - health/*
  - health/**/*

area/ml:
  - ml/*
  - ml/**/*

area/packaging:
  - contrib/*
  - contrib/**/*
  - packaging/*
  - packaging/**/*
  - system/*
  - system/**/*
  - Dockerfile*
  - netdata-installer.sh
  - netdata.spec.in

area/registry:
  - registry/*
  - registry/**/*

area/streaming:
  - streaming/*
  - streaming/**/*

area/tests:
  - tests/*
  - tests/**/*
  - daemon/unit_test*
  - coverity-scan.sh
  - cppcheck.sh
  - netdata.cppcheck

area/web:
  - web/*
  - web/**/*
