Repository netdata/netdata, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ACLK, area/claim, area/exporting, area/build, area/ci, area/daemon, area/database, area/docs, area/collectors, collectors/plugins.d, collectors/apps, collectors/cgroups, collectors/charts.d, collectors/cups, collectors/diskspace, collectors/ebpf, collectors/freebsd, collectors/freeipmi, collectors/idlejitter, collectors/ioping, collectors/macos, collectors/nfacct, collectors/perf, collectors/proc, collectors/python.d, collectors/slabinfo, collectors/statsd, collectors/tc, collectors/timex, collectors/xenstat, area/health, area/ml, area/packaging, area/registry, area/streaming, area/tests, area/web

.github/labeler.yml:

# This configures label matching for PR's.
#
# The keys are labels, and the values are lists of minimatch patterns
# to which those labels apply.
#
# NOTE: This can only add labels, not remove them.
# NOTE: Due to YAML syntax limitations, patterns or labels which start
# with a character that is part of the standard YAML syntax must be
# quoted.
#
# Please keep the labels sorted and deduplicated.

area/ACLK:
  - aclk/*
  - aclk/**/*
  - database/sqlite/sqlite_aclk*
  - mqtt_websockets

area/claim:
  - claim/*

area/exporting:
  - exporting/*
  - exporting/**/*

area/build:
  - build/*
  - build/**/*
  - build_external/*
  - build_external/**/*
  - CMakeLists.txt
  - configure.ac
  - Makefile.am
  - "**/Makefile.am"

area/ci:
  - .travis/*
  - .travis/**/*
  - .github/*
  - .github/**/*

area/daemon:
  - daemon/*
  - daemon/**/*

area/database:
  - database/*
  - database/**/*

area/docs:
  - "*.md"
  - "**/*.md"
  - "**/*.mdx"
  - diagrams/*
  - diagrams/**/*

# -----------------collectors----------------------

area/collectors:
  - collectors/*
  - collectors/**/*

collectors/plugins.d:
  - collectors/plugins.d/*
  - collectors/plugins.d/**/*

collectors/apps:
  - collectors/apps.plugin/*
  - collectors/apps.plugin/**/*

collectors/cgroups:
  - collectors/cgroups.plugin/*
  - collectors/cgroups.plugin/**/*

collectors/charts.d:
  - collectors/charts.d.plugin/*
  - collectors/charts.d.plugin/**/*

collectors/cups:
  - collectors/cups.plugin/*
  - collectors/cups.plugin/**/*

collectors/diskspace:
  - collectors/diskspace.plugin/*
  - collectors/diskspace.plugin/**/*

collectors/ebpf:
  - collectors/ebpf.plugin/*
  - collectors/ebpf.plugin/**/*

collectors/freebsd:
  - collectors/freebsd.plugin/*
  - collectors/freebsd.plugin/**/*

collectors/freeipmi:
  - collectors/freeipmi.plugin/*
  - collectors/freeipmi.plugin/**/*

collectors/idlejitter:
  - collectors/idlejitter.plugin/*
  - collectors/idlejitter.plugin/**/*

collectors/ioping:
  - collectors/ioping.plugin/*
  - collectors/ioping.plugin/**/*

collectors/macos:
  - collectors/macos.plugin/*
  - collectors/macos.plugin/**/*

collectors/nfacct:
  - collectors/nfacct.plugin/*
  - collectors/nfacct.plugin/**/*

collectors/perf:
  - collectors/perf.plugin/*
  - collectors/perf.plugin/**/*

collectors/proc:
  - collectors/proc.plugin/*
  - collectors/proc.plugin/**/*

collectors/python.d:
  - collectors/python.d.plugin/*
  - collectors/python.d.plugin/**/*

collectors/slabinfo:
  - collectors/slabinfo.plugin/*
  - collectors/slabinfo.plugin/**/*

collectors/statsd:
  - collectors/statsd.plugin/*
  - collectors/statsd.plugin/**/*

collectors/tc:
  - collectors/tc.plugin/*
  - collectors/tc.plugin/**/*

collectors/timex:
  - collectors/timex.plugin/*
  - collectors/timex.plugin/**/*

collectors/xenstat:
  - collectors/xenstat.plugin/*
  - collectors/xenstat.plugin/**/*

# ----------------/collectors----------------------

area/health:
  - health/*
  - health/**/*

area/ml:
  - ml/*
  - ml/**/*

area/packaging:
  - contrib/*
  - contrib/**/*
  - packaging/*
  - packaging/**/*
  - system/*
  - system/**/*
  - Dockerfile*
  - netdata-installer.sh
  - netdata.spec.in

area/registry:
  - registry/*
  - registry/**/*

area/streaming:
  - streaming/*
  - streaming/**/*

area/tests:
  - tests/*
  - tests/**/*
  - daemon/unit_test*
  - coverity-scan.sh
  - cppcheck.sh
  - netdata.cppcheck

area/web:
  - web/*
  - web/**/*

flipped condition
  daemon/global_statistics.c
Labels: area/daemon

remove old health log file related functions
  database/rrd.h
  database/rrdhost.c
  health/health.c
  health/health.h
  health/health_log.c
Labels: area/database, area/health

Update workflows to use $GITHUB_OUTPUT instead of ::set-output::
  .github/scripts/get-static-cache-key.sh
  .github/scripts/prepare-release-base.sh
  .github/workflows/build.yml
  .github/workflows/cloud_regression.yml
  .github/workflows/codeql.yml
  .github/workflows/docker.yml
  .github/workflows/packaging.yml
  .github/workflows/repoconfig-packages.yml
  .github/workflows/review.yml
Labels: area/ci

Fix handling of python-based build matrix generation.
  .github/scripts/gen-matrix-build.py
  .github/scripts/gen-matrix-packaging.py
  .github/scripts/gen-matrix-repoconfig.py
  .github/workflows/build.yml
  .github/workflows/packaging.yml
  .github/workflows/repoconfig-packages.yml
Labels: area/ci

Fix python code.
  .github/workflows/build.yml
  .github/workflows/packaging.yml
  .github/workflows/repoconfig-packages.yml
Labels: area/ci

sqlite3 proper timeout calculation
  daemon/global_statistics.c
Labels: area/daemon

Fix 1.37 crashes (#14081)
  daemon/global_statistics.c
  daemon/service.c
  database/engine/pagecache.c
  database/engine/rrdengine.c
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
  database/rrddim.c
  database/sqlite/sqlite_context.c
  database/sqlite/sqlite_functions.c
Labels: area/daemon, area/database

Adds developed plugin that passes debug check
  collectors/python.d.plugin/nvidia_smi_csv/nvidia_smi_csv.chart.py
Labels: area/collectors, collectors/python.d

Fix typo in Fedora 37 build configuration.
  .github/data/distros.yml
Labels: area/ci

Update workflows to use $GITHUB_OUTPUT instead of ::set-output:: (#13960)
  .github/scripts/gen-matrix-build.py
  .github/scripts/gen-matrix-packaging.py
  .github/scripts/gen-matrix-repoconfig.py
  .github/scripts/get-static-cache-key.sh
  .github/scripts/prepare-release-base.sh
  .github/workflows/build.yml
  .github/workflows/cloud_regression.yml
  .github/workflows/codeql.yml
  .github/workflows/docker.yml
  .github/workflows/packaging.yml
  .github/workflows/repoconfig-packages.yml
  .github/workflows/review.yml
Labels: area/ci

Cleanly reimplement system/edit-config.in
  packaging/docker/run.sh
  system/edit-config.in
Labels: area/packaging

Fix path prefix check.
  system/edit-config
Labels: area/packaging

Use correct path for `env`.
  system/edit-config
Labels: area/packaging

Produce columnar output when listing valid files.
  system/edit-config
Labels: area/packaging

Auto-detect stock config paths at runtinme instead of hard-coding them at build time.
  system/Makefile.am
  system/edit-config
Labels: area/build, area/packaging

Fix container environment check to not require root.
  system/edit-config
Labels: area/packaging

Improve robustness of container autodetection.
  system/edit-config.in
Labels: area/packaging

Source profile before running `set -e`.
  system/edit-config
Labels: area/packaging

Fix file path handling.
  system/edit-config
Labels: area/packaging

Fix help output.
  system/edit-config
Labels: area/packaging

Use correct variable when editing files.
  system/edit-config
Labels: area/packaging

Add an option to list known config files.
  system/edit-config
Labels: area/packaging

Fix copy check.
  system/edit-config
Labels: area/packaging

Fix build issues.
  system/Makefile.am
Labels: area/build, area/packaging

Updates existing configuration files to reflect new plugin
  collectors/python.d.plugin/Makefile.am
  collectors/python.d.plugin/python.d.conf
Labels: area/build, area/collectors, collectors/python.d

Adds plugin configuration files to specifications
  collectors/python.d.plugin/nvidia_smi_csv/Makefile.inc
  collectors/python.d.plugin/nvidia_smi_csv/nvidia_smi_csv.conf
Labels: area/collectors, collectors/python.d

Fix typo in Fedora 37 build configuration. (#14082)
  .github/data/distros.yml
Labels: area/ci

Creates the detailed README.md
  collectors/python.d.plugin/nvidia_smi_csv/README.md
Labels: area/docs, area/collectors, collectors/python.d

Cleans the file of various comments and dead code to prepare for pull request
  collectors/python.d.plugin/nvidia_smi_csv/nvidia_smi_csv.chart.py
Labels: area/collectors, collectors/python.d

[ci skip] Update changelog and version for nightly build: v1.37.0-14-nightly.
  CHANGELOG.md
  packaging/version
Labels: area/docs, area/packaging

proper use for atomic_compare_exchange()
  database/rrdcontext.c
  libnetdata/dictionary/dictionary.c
  libnetdata/string/string.c
Labels: area/database

diskspace plugin is multi-threaded but it uses single threaded dictionaries
  collectors/diskspace.plugin/plugin_diskspace.c
Labels: area/collectors, collectors/diskspace

Fix __atomic_compare_exchange_n() atomics (#14085)
  collectors/diskspace.plugin/plugin_diskspace.c
  database/rrdcontext.c
  libnetdata/dictionary/dictionary.c
  libnetdata/string/string.c
Labels: area/database, area/collectors, collectors/diskspace

page alignment is a property of metric collection, so it has been moved to metric collection only
  database/engine/pagecache.c
  database/engine/pagecache.h
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
  database/engine/rrdengineapi.h
  database/ram/rrddim_mem.c
  database/ram/rrddim_mem.h
  database/rrd.h
  database/rrdcontext.c
  database/rrddim.c
Labels: area/database

fix v1.37 dbengine page alignment crashes (#14086)
  database/engine/pagecache.c
  database/engine/pagecache.h
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
  database/engine/rrdengineapi.h
  database/ram/rrddim_mem.c
  database/ram/rrddim_mem.h
  database/rrd.h
  database/rrdcontext.c
  database/rrddim.c
Labels: area/database

created engine2 dir and enabled compilation
  Makefile.am
  configure.ac
  database/engine2/Makefile.am
  database/engine2/README.md
  database/engine2/cache.c
  database/engine2/cache.h
Labels: area/build, area/database, area/docs

Cleanup messages during startup
  database/engine/datafile.c
Labels: area/database

Fix total file size calculation
  database/engine/journalfile.c
Labels: area/database

Initial functions to write the new journal file and switch to the new indexing
  database/engine/journalfile.c
  database/engine/journalfile.h
Labels: area/database

Ignore empty index file (header and trailer and no metrics)
  database/engine/journalfile.c
Labels: area/database
