Repository netdata/netdata, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ACLK, area/claim, area/exporting, area/build, area/ci, area/daemon, area/database, area/docs, area/collectors, collectors/plugins.d, collectors/apps, collectors/cgroups, collectors/charts.d, collectors/cups, collectors/diskspace, collectors/ebpf, collectors/freebsd, collectors/freeipmi, collectors/idlejitter, collectors/ioping, collectors/macos, collectors/nfacct, collectors/perf, collectors/proc, collectors/python.d, collectors/slabinfo, collectors/statsd, collectors/tc, collectors/timex, collectors/xenstat, area/health, area/ml, area/packaging, area/registry, area/streaming, area/tests, area/web

.github/labeler.yml:

# This configures label matching for PR's.
#
# The keys are labels, and the values are lists of minimatch patterns
# to which those labels apply.
#
# NOTE: This can only add labels, not remove them.
# NOTE: Due to YAML syntax limitations, patterns or labels which start
# with a character that is part of the standard YAML syntax must be
# quoted.
#
# Please keep the labels sorted and deduplicated.

area/ACLK:
  - aclk/*
  - aclk/**/*
  - database/sqlite/sqlite_aclk*
  - mqtt_websockets

area/claim:
  - claim/*

area/exporting:
  - exporting/*
  - exporting/**/*

area/build:
  - build/*
  - build/**/*
  - build_external/*
  - build_external/**/*
  - CMakeLists.txt
  - configure.ac
  - Makefile.am
  - "**/Makefile.am"

area/ci:
  - .travis/*
  - .travis/**/*
  - .github/*
  - .github/**/*

area/daemon:
  - daemon/*
  - daemon/**/*

area/database:
  - database/*
  - database/**/*

area/docs:
  - "*.md"
  - "**/*.md"
  - "**/*.mdx"
  - diagrams/*
  - diagrams/**/*

# -----------------collectors----------------------

area/collectors:
  - collectors/*
  - collectors/**/*

collectors/plugins.d:
  - collectors/plugins.d/*
  - collectors/plugins.d/**/*

collectors/apps:
  - collectors/apps.plugin/*
  - collectors/apps.plugin/**/*

collectors/cgroups:
  - collectors/cgroups.plugin/*
  - collectors/cgroups.plugin/**/*

collectors/charts.d:
  - collectors/charts.d.plugin/*
  - collectors/charts.d.plugin/**/*

collectors/cups:
  - collectors/cups.plugin/*
  - collectors/cups.plugin/**/*

collectors/diskspace:
  - collectors/diskspace.plugin/*
  - collectors/diskspace.plugin/**/*

collectors/ebpf:
  - collectors/ebpf.plugin/*
  - collectors/ebpf.plugin/**/*

collectors/freebsd:
  - collectors/freebsd.plugin/*
  - collectors/freebsd.plugin/**/*

collectors/freeipmi:
  - collectors/freeipmi.plugin/*
  - collectors/freeipmi.plugin/**/*

collectors/idlejitter:
  - collectors/idlejitter.plugin/*
  - collectors/idlejitter.plugin/**/*

collectors/ioping:
  - collectors/ioping.plugin/*
  - collectors/ioping.plugin/**/*

collectors/macos:
  - collectors/macos.plugin/*
  - collectors/macos.plugin/**/*

collectors/nfacct:
  - collectors/nfacct.plugin/*
  - collectors/nfacct.plugin/**/*

collectors/perf:
  - collectors/perf.plugin/*
  - collectors/perf.plugin/**/*

collectors/proc:
  - collectors/proc.plugin/*
  - collectors/proc.plugin/**/*

collectors/python.d:
  - collectors/python.d.plugin/*
  - collectors/python.d.plugin/**/*

collectors/slabinfo:
  - collectors/slabinfo.plugin/*
  - collectors/slabinfo.plugin/**/*

collectors/statsd:
  - collectors/statsd.plugin/*
  - collectors/statsd.plugin/**/*

collectors/tc:
  - collectors/tc.plugin/*
  - collectors/tc.plugin/**/*

collectors/timex:
  - collectors/timex.plugin/*
  - collectors/timex.plugin/**/*

collectors/xenstat:
  - collectors/xenstat.plugin/*
  - collectors/xenstat.plugin/**/*

# ----------------/collectors----------------------

area/health:
  - health/*
  - health/**/*

area/ml:
  - ml/*
  - ml/**/*

area/packaging:
  - contrib/*
  - contrib/**/*
  - packaging/*
  - packaging/**/*
  - system/*
  - system/**/*
  - Dockerfile*
  - netdata-installer.sh
  - netdata.spec.in

area/registry:
  - registry/*
  - registry/**/*

area/streaming:
  - streaming/*
  - streaming/**/*

area/tests:
  - tests/*
  - tests/**/*
  - daemon/unit_test*
  - coverity-scan.sh
  - cppcheck.sh
  - netdata.cppcheck

area/web:
  - web/*
  - web/**/*

fix build issues
  .gitignore
Labels: none

partitioning and user configuration
  database/engine2/cache.c
  database/engine2/cache.h
Labels: area/database

more fixes on partitioning
  database/engine2/cache.c
Labels: area/database

[ci skip] Update changelog and version for nightly build: v1.37.0-19-nightly.
  CHANGELOG.md
  packaging/version
Labels: area/docs, area/packaging

adds possibility to decrypt traffic with wireshark for debugging (#13)
  src/include/mqtt_wss_client.h
  src/mqtt_wss_client.c
Labels: none

docs: add a note to set container nofile ulimit for Fedora users
  packaging/docker/README.md
Labels: area/docs, area/packaging

update
  packaging/docker/README.md
Labels: area/docs, area/packaging

wording
  packaging/docker/README.md
Labels: area/docs, area/packaging

abstract locking
  database/engine2/cache.c
  database/engine2/cache.h
Labels: area/database

load less health log entries at start
  database/sqlite/sqlite_health.c
  database/sqlite/sqlite_health.h
  health/health.c
  health/health_log.c
Labels: area/database, area/health

formatting
  system/edit-config
Labels: area/packaging

add version to netdatacli
  daemon/commands.c
  daemon/commands.h
Labels: area/daemon

Clarify the cloud option in the Readme
  README.md
Labels: area/docs

Add Netdata Cloud image
  README.md
Labels: area/docs

Fix missing required package install of tar on FreeBSD
  packaging/installer/install-required-packages.sh
Labels: area/packaging

docs: add a note to set container nofile ulimit for Fedora users (#14092)
  packaging/docker/README.md
Labels: area/docs, area/packaging

Cleanly reimplement system/edit-config.in. (#13702)
  .gitignore
  packaging/docker/run.sh
  system/Makefile.am
  system/edit-config
  system/edit-config.in
Labels: area/build, area/packaging

Fix missing required package install of tar on FreeBSD (#14095)
  packaging/installer/install-required-packages.sh
Labels: area/packaging

rewrite eviction; fixed bug in page_acquire(); more unit-testing
  database/engine2/cache.c
  database/engine2/cache.h
Labels: area/database

add api call to get page size
  database/engine2/cache.c
  database/engine2/cache.h
Labels: area/database

Add version to netdatacli (#14094)
  daemon/commands.c
  daemon/commands.h
Labels: area/daemon

reworked evictions to be more friendly to cache pressure; integrated ARAL;
  database/engine2/cache.c
  libnetdata/arrayalloc/arrayalloc.c
  libnetdata/arrayalloc/arrayalloc.h
  libnetdata/clocks/clocks.c
Labels: area/database

multiple evictions in parallel are now possible; the cache size is always maintained below 90% watermark;
  database/engine2/cache.c
Labels: area/database

[ci skip] Update changelog and version for nightly build: v1.37.0-24-nightly.
  CHANGELOG.md
  packaging/version
Labels: area/docs, area/packaging

Finish renaming the `--install` option to `--install-prefix`.
  netdata-installer.sh
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart.md
  packaging/makeself/jobs/70-netdata-git.install.sh
Labels: area/docs, area/packaging

progress
  Makefile.am
  database/engine2/cache.c
  database/engine2/metric.c
  database/engine2/metric.h
Labels: area/build, area/database

Fix remaining references to `--install` option.
  .github/scripts/run_install_with_dist_file.sh
  .github/workflows/checks.yml
  .github/workflows/codeql.yml
  .travis.yml
  claim/README.md
  packaging/installer/UNINSTALL.md
  packaging/installer/UPDATE.md
  packaging/installer/methods/freebsd.md
  packaging/installer/methods/macos.md
  packaging/installer/methods/manual.md
  tests/lifecycle.bats
  tests/run-unit-tests.sh
  tests/updater_checks.bats
Labels: area/claim, area/ci, area/docs, area/packaging, area/tests

Initial version of new RPM repository configuration.
  packaging/repoconfig/netdata-edge.repo.centos
  packaging/repoconfig/netdata-edge.repo.fedora
  packaging/repoconfig/netdata-edge.repo.ol
  packaging/repoconfig/netdata-edge.repo.suse
  packaging/repoconfig/netdata-repo.spec
  packaging/repoconfig/netdata.repo.centos
  packaging/repoconfig/netdata.repo.fedora
  packaging/repoconfig/netdata.repo.ol
  packaging/repoconfig/netdata.repo.suse
Labels: area/packaging

work on metric
  database/engine2/metric.c
Labels: area/database

metric completed - untested
  database/engine2/metric.c
  database/engine2/metric.h
Labels: area/database

Remove deprecated methods for passing additional options to install code. (#12943)
  packaging/installer/kickstart.sh
Labels: area/packaging

fix docker host editable config
  packaging/docker/README.md
  packaging/docker/run.sh
Labels: area/docs, area/packaging

condensed output
  database/engine2/cache.c
Labels: area/database

fix check
  packaging/docker/run.sh
Labels: area/packaging

add clickhouse third party collector and install instructions (#14021)
  collectors/COLLECTORS.md
Labels: area/docs, area/collectors

fix health emphemerality labels src
  health/health.c
Labels: area/health

fix var name
  health/health.c
Labels: area/health

metric working and unit tested
  daemon/main.c
  database/engine2/cache.c
  database/engine2/metric.c
  database/engine2/metric.h
  libnetdata/libnetdata.h
  streaming/replication.c
Labels: area/daemon, area/database, area/streaming

metrics count pointer validations
  database/engine2/metric.c
Labels: area/database

test also wrong searches
  database/engine2/metric.c
Labels: area/database
