Repository netdata/netdata, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ACLK, area/claim, area/exporting, area/build, area/ci, area/daemon, area/database, area/docs, area/collectors, collectors/plugins.d, collectors/apps, collectors/cgroups, collectors/charts.d, collectors/cups, collectors/diskspace, collectors/ebpf, collectors/freebsd, collectors/freeipmi, collectors/idlejitter, collectors/ioping, collectors/macos, collectors/nfacct, collectors/perf, collectors/proc, collectors/python.d, collectors/slabinfo, collectors/statsd, collectors/tc, collectors/timex, collectors/xenstat, area/health, area/ml, area/packaging, area/registry, area/streaming, area/tests, area/web

Remove limit for page precaching
  database/engine/pagecache.c
Labels: area/database

Remove descriptors from memory when deleting a journal/datafile pair Mark the journalfile as invalid to prevent access
  database/engine/journalfile.c
  database/engine/journalfile.h
  database/engine/pagecache.c
  database/engine/rrdengine.c
Labels: area/database

add tx metadata buffer stats
  aclk/aclk_stats.c
Labels: area/ACLK

Mark journalfile invalid before descriptor deletion
  database/engine/rrdengine.c
Labels: area/database

add tx buf percentage chart
  aclk/aclk_stats.c
Labels: area/ACLK

Log deletion of empty pages
  database/engine/rrdengineapi.c
Labels: area/database

Fix data payload
  database/engine/rrdengine.c
Labels: area/database

Create missing extent descriptors so that the extent we read can populate (precache) them
  database/engine/pagecache.c
  database/engine/rrdengine.c
Labels: area/database

Do not try to remove a descriptor that has pending READ Add a check so when trying to delete a descriptor, wait if there is a pending READ
  database/engine/rrdengine.c
Labels: area/database

Adjust pg cache preload and pg_cache_next
  database/engine/pagecache.c
Labels: area/database

Ignore pages in the future when replaying a journal file
  database/engine/journalfile.c
  database/engine/rrdengine.c
  database/engine/rrdengine.h
Labels: area/database

Improve migration of descriptors
  database/engine/journalfile.c
Labels: area/database

Remove unused code
  database/engine/rrdengine.c
  database/engine/rrdengineapi.c
Labels: area/database

Adjust update every to 32bits
  database/engine/journalfile.c
  database/engine/journalfile.h
Labels: area/database

Increase dbengine command queue
  database/engine/rrdengine.h
Labels: area/database

Mark that the journalfile is valid
  database/engine/journalfile.c
Labels: area/database

Removed unused code / fix compilation errors
  database/engine/pagecache.c
  database/engine/pagecache.h
  database/engine/rrdengine.c
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
Labels: area/database

progress
  database/engine2/cache.c
  database/engine2/cache.h
Labels: area/database

[ci skip] Update changelog and version for nightly build: v1.37.0-17-nightly.
  CHANGELOG.md
  packaging/version
Labels: area/docs, area/packaging

progress
  database/engine2/cache.c
  database/engine2/cache.h
Labels: area/database

first complete implementation
  daemon/main.c
  database/engine2/cache.c
  database/engine2/cache.h
Labels: area/daemon, area/database

working example
  database/engine2/cache.c
  database/engine2/cache.h
Labels: area/database

dirty pages are saved per section (tier)
  database/engine2/cache.c
  streaming/replication.c
Labels: area/database, area/streaming

optimize dirty pages check for saving
  database/engine2/cache.c
Labels: area/database

unittest in progress
  database/engine2/cache.c
  database/engine2/cache.h
Labels: area/database

added update_every and turned timestamps to time_t
  database/engine2/cache.c
  database/engine2/cache.h
Labels: area/database

Update web/gui/dashboard_info.js
  web/gui/dashboard_info.js
Labels: area/web

Update web/gui/dashboard_info.js
  web/gui/dashboard_info.js
Labels: area/web

Update web/gui/dashboard_info.js
  web/gui/dashboard_info.js
Labels: area/web

Fix typo in Fedora 37 build configuration. (#14082)
  .github/data/distros.yml
Labels: area/ci

fix backfilling statistics (#14074)
  web/api/queries/query.c
Labels: area/web

replication fixes 9 (#14079)
  daemon/global_statistics.c
  database/rrdcontext.c
  streaming/replication.c
  streaming/rrdpush.h
Labels: area/daemon, area/database, area/streaming

optimize workers statistics performance (#14077)
  collectors/proc.plugin/ipc.c
  daemon/global_statistics.c
  libnetdata/procfile/procfile.c
  libnetdata/procfile/procfile.h
  libnetdata/worker_utilization/worker_utilization.c
  libnetdata/worker_utilization/worker_utilization.h
Labels: area/daemon, area/collectors, collectors/proc

fix SSL related crashes (#14076)
  libnetdata/socket/security.c
  streaming/sender.c
Labels: area/streaming

Fix 1.37 crashes (#14081)
  daemon/global_statistics.c
  daemon/service.c
  database/engine/pagecache.c
  database/engine/rrdengine.c
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
  database/rrddim.c
  database/sqlite/sqlite_context.c
  database/sqlite/sqlite_functions.c
Labels: area/daemon, area/database

Fix __atomic_compare_exchange_n() atomics (#14085)
  collectors/diskspace.plugin/plugin_diskspace.c
  database/rrdcontext.c
  libnetdata/dictionary/dictionary.c
  libnetdata/string/string.c
Labels: area/database, area/collectors, collectors/diskspace

fix v1.37 dbengine page alignment crashes (#14086)
  database/engine/pagecache.c
  database/engine/pagecache.h
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
  database/engine/rrdengineapi.h
  database/ram/rrddim_mem.c
  database/ram/rrddim_mem.h
  database/rrd.h
  database/rrdcontext.c
  database/rrddim.c
Labels: area/database

[ci skip] Patch release v1.37.1.
  CHANGELOG.md
  packaging/version
Labels: area/docs, area/packaging

Wmi descriptions (#14001)
  web/gui/dashboard_info.js
Labels: area/web

fixes and more unittest
  database/engine2/cache.c
  database/engine2/cache.h
  libnetdata/locks/locks.c
  libnetdata/locks/locks.h
Labels: area/database

.github/labeler.yml:

# This configures label matching for PR's.
#
# The keys are labels, and the values are lists of minimatch patterns
# to which those labels apply.
#
# NOTE: This can only add labels, not remove them.
# NOTE: Due to YAML syntax limitations, patterns or labels which start
# with a character that is part of the standard YAML syntax must be
# quoted.
#
# Please keep the labels sorted and deduplicated.

area/ACLK:
  - aclk/*
  - aclk/**/*
  - database/sqlite/sqlite_aclk*
  - mqtt_websockets

area/claim:
  - claim/*

area/exporting:
  - exporting/*
  - exporting/**/*

area/build:
  - build/*
  - build/**/*
  - build_external/*
  - build_external/**/*
  - CMakeLists.txt
  - configure.ac
  - Makefile.am
  - "**/Makefile.am"

area/ci:
  - .travis/*
  - .travis/**/*
  - .github/*
  - .github/**/*

area/daemon:
  - daemon/*
  - daemon/**/*

area/database:
  - database/*
  - database/**/*

area/docs:
  - "*.md"
  - "**/*.md"
  - "**/*.mdx"
  - diagrams/*
  - diagrams/**/*

# -----------------collectors----------------------

area/collectors:
  - collectors/*
  - collectors/**/*

collectors/plugins.d:
  - collectors/plugins.d/*
  - collectors/plugins.d/**/*

collectors/apps:
  - collectors/apps.plugin/*
  - collectors/apps.plugin/**/*

collectors/cgroups:
  - collectors/cgroups.plugin/*
  - collectors/cgroups.plugin/**/*

collectors/charts.d:
  - collectors/charts.d.plugin/*
  - collectors/charts.d.plugin/**/*

collectors/cups:
  - collectors/cups.plugin/*
  - collectors/cups.plugin/**/*

collectors/diskspace:
  - collectors/diskspace.plugin/*
  - collectors/diskspace.plugin/**/*

collectors/ebpf:
  - collectors/ebpf.plugin/*
  - collectors/ebpf.plugin/**/*

collectors/freebsd:
  - collectors/freebsd.plugin/*
  - collectors/freebsd.plugin/**/*

collectors/freeipmi:
  - collectors/freeipmi.plugin/*
  - collectors/freeipmi.plugin/**/*

collectors/idlejitter:
  - collectors/idlejitter.plugin/*
  - collectors/idlejitter.plugin/**/*

collectors/ioping:
  - collectors/ioping.plugin/*
  - collectors/ioping.plugin/**/*

collectors/macos:
  - collectors/macos.plugin/*
  - collectors/macos.plugin/**/*

collectors/nfacct:
  - collectors/nfacct.plugin/*
  - collectors/nfacct.plugin/**/*

collectors/perf:
  - collectors/perf.plugin/*
  - collectors/perf.plugin/**/*

collectors/proc:
  - collectors/proc.plugin/*
  - collectors/proc.plugin/**/*

collectors/python.d:
  - collectors/python.d.plugin/*
  - collectors/python.d.plugin/**/*

collectors/slabinfo:
  - collectors/slabinfo.plugin/*
  - collectors/slabinfo.plugin/**/*

collectors/statsd:
  - collectors/statsd.plugin/*
  - collectors/statsd.plugin/**/*

collectors/tc:
  - collectors/tc.plugin/*
  - collectors/tc.plugin/**/*

collectors/timex:
  - collectors/timex.plugin/*
  - collectors/timex.plugin/**/*

collectors/xenstat:
  - collectors/xenstat.plugin/*
  - collectors/xenstat.plugin/**/*

# ----------------/collectors----------------------

area/health:
  - health/*
  - health/**/*

area/ml:
  - ml/*
  - ml/**/*

area/packaging:
  - contrib/*
  - contrib/**/*
  - packaging/*
  - packaging/**/*
  - system/*
  - system/**/*
  - Dockerfile*
  - netdata-installer.sh
  - netdata.spec.in

area/registry:
  - registry/*
  - registry/**/*

area/streaming:
  - streaming/*
  - streaming/**/*

area/tests:
  - tests/*
  - tests/**/*
  - daemon/unit_test*
  - coverity-scan.sh
  - cppcheck.sh
  - netdata.cppcheck

area/web:
  - web/*
  - web/**/*
