Repository netdata/netdata, changes with the labels that .github/labeler.yml gives for each.
All labels: ACLK, area/backends, area/exporting, area/build, area/ci, area/collectors, area/daemon, area/database, area/docs, area/external/python, area/external, area/health, area/packaging, area/registry, area/streaming, area/tests, area/web

.github/labeler.yml:

# This configures label matching for PR's.
#
# The keys are labels, and the values are lists of minimatch patterns
# to which those labels apply.
#
# NOTE: This can only add labels, not remove them.
# NOTE: Due to YAML syntax limitations, patterns or labels which start
# with a character that is part of the standard YAML syntax must be
# quoted.
#
# Please keep the labels sorted and deduplicated.

ACLK:
  - aclk/*
  - aclk/**/*
  - mqtt_websockets

area/backends:
  - backends/*
  - backends/**/*

area/exporting:
  - exporting/*
  - exporting/**/*

area/build:
  - build/*
  - build/**/*
  - build_external/*
  - build_external/**/*
  - CMakeLists.txt
  - configure.ac
  - Makefile.am
  - "**/Makefile.am"

area/ci:
  - .travis/*
  - .travis/**/*
  - .github/*
  - .github/**/*

area/collectors:
  - collectors/*
  - collectors/**/*

area/daemon:
  - daemon/*
  - daemon/**/*

area/database:
  - database/*
  - database/**/*

area/docs:
  - "**/*.md"
  - diagrams/*
  - diagrams/**/*

area/external/python:
  - collectors/python.d.plugin/*
  - collectors/python.d.plugin/**/*

area/external:
  - collectors/charts.d.plugin/*
  - collectors/charts.d.plugin/**/*
  - collectors/node.d.plugin/*
  - collectors/node.d.plugin/**/*

area/health:
  - health/*
  - health/**/*

area/packaging:
  - contrib/*
  - contrib/**/*
  - packaging/*
  - packaging/**/*
  - system/*
  - system/**/*
  - Dockerfile*
  - netdata-installer.sh
  - netdata.spec.in

area/registry:
  - registry/*
  - registry/**/*

area/streaming:
  - streaming/*
  - streaming/**/*

area/tests:
  - tests/*
  - tests/**/*
  - daemon/unit_test*
  - coverity-scan.sh
  - cppcheck.sh
  - netdata.cppcheck

area/web:
  - web/*
  - web/**/*

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Labels: area/docs, area/packaging

[Agent Negotiation] Based on stream version
  streaming/receiver.c
  streaming/rrdpush.h
  streaming/sender.c
Labels: area/streaming

[Agent Negotiation] Version based - fix compilation error
  streaming/sender.c
Labels: area/streaming

[Agent Negotiation] Fix glob var default_compression_enbaled=0 affects all the connections - Handle compression - stream version based
  streaming/sender.c
Labels: area/streaming

[Agent Negotiation - Compression] - Add control flag in 1. sender/receiver state & 2. stream.conf per child
  streaming/receiver.c
  streaming/rrdpush.h
  streaming/sender.c
Labels: area/streaming

modify path to scripts
  packaging/installer/install-required-packages.sh
Labels: area/packaging
