Repository netdata/netdata, changes with the labels that .github/labeler.yml gives for each.
All labels: area/aclk, area/claim, area/exporting, area/build, area/ci, area/daemon, area/database, area/health, area/ml, area/packaging, area/packaging/deb, area/packaging/rpm, area/registry, area/streaming, area/tests, area/web/api, area/web/gui, area/web/server, collectors/apps, collectors/cgroups, collectors/charts.d, collectors/cups, collectors/debugfs, collectors/diskspace, collectors/ebpf, collectors/freebsd, collectors/freeipmi, collectors/idlejitter, collectors/ioping, collectors/macos, collectors/nfacct, collectors/perf, collectors/plugins.d, collectors/proc, collectors/python.d, collectors/slabinfo, collectors/statsd, collectors/tc, collectors/timex, collectors/xenstat, documentation

.github/labeler.yml:

---
# This configures label matching for PR's.
#
# The keys are labels, and the values are lists of minimatch patterns
# to which those labels apply.
#
# NOTE: This can only add labels, not remove them.
# NOTE: Due to YAML syntax limitations, patterns or labels which start
# with a character that is part of the standard YAML syntax must be
# quoted.
#
# Please keep the labels sorted and deduplicated.

area/aclk:
  - aclk/*
  - aclk/**/*
  - database/sqlite/sqlite_aclk*
  - mqtt_websockets

area/claim:
  - claim/*

area/exporting:
  - exporting/*
  - exporting/**/*

area/build:
  - build/*
  - build/**/*
  - build_external/*
  - build_external/**/*
  - CMakeLists.txt
  - configure.ac
  - Makefile.am
  - "**/Makefile.am"

area/ci:
  - .github/*
  - .github/**/*

area/daemon:
  - daemon/*
  - daemon/**/*

area/database:
  - database/*
  - database/**/*

area/health:
  - health/*
  - health/**/*

area/ml:
  - ml/*
  - ml/**/*

area/packaging:
  - contrib/*
  - contrib/**/*
  - packaging/*
  - packaging/**/*
  - system/*
  - system/**/*
  - Dockerfile*
  - netdata-installer.sh
  - netdata.spec.in

area/packaging/deb:
  - packaging/repoconfig/debian/*
  - packaging/repoconfig/debian/**/*
  - packaging/repoconfig/build-deb.sh
  - packaging/repoconfig/Makefile
  - packaging/repoconfig/netdata.list.in
  - contrib/debian/*
  - contrib/debian/**/*

area/packaging/rpm:
  - packaging/repoconfig/netdata-repo.spec
  - packaging/repoconfig/build-rpm.sh
  - packaging/repoconfig/netdata*.repo.*
  - netdata.spec.in

area/registry:
  - registry/*
  - registry/**/*

area/streaming:
  - streaming/*
  - streaming/**/*

area/tests:
  - tests/*
  - tests/**/*
  - daemon/unit_test*
  - coverity-scan.sh
  - cppcheck.sh
  - netdata.cppcheck

area/web/api:
  - web/api/*
  - web/api/**/*

area/web/gui:
  - web/gui/*
  - web/gui/**/*

area/web/server:
  - web/server/*
  - web/server/**/*

collectors/apps:
  - collectors/apps.plugin/*
  - collectors/apps.plugin/**/*

collectors/cgroups:
  - collectors/cgroups.plugin/*
  - collectors/cgroups.plugin/**/*

collectors/charts.d:
  - collectors/charts.d.plugin/*
  - collectors/charts.d.plugin/**/*

collectors/cups:
  - collectors/cups.plugin/*
  - collectors/cups.plugin/**/*

collectors/debugfs:
  - collectors/debugfs.plugin/*
  - collectors/debugfs.plugin/**/*

collectors/diskspace:
  - collectors/diskspace.plugin/*
  - collectors/diskspace.plugin/**/*

collectors/ebpf:
  - collectors/ebpf.plugin/*
  - collectors/ebpf.plugin/**/*

collectors/freebsd:
  - collectors/freebsd.plugin/*
  - collectors/freebsd.plugin/**/*

collectors/freeipmi:
  - collectors/freeipmi.plugin/*
  - collectors/freeipmi.plugin/**/*

collectors/idlejitter:
  - collectors/idlejitter.plugin/*
  - collectors/idlejitter.plugin/**/*

collectors/ioping:
  - collectors/ioping.plugin/*
  - collectors/ioping.plugin/**/*

collectors/macos:
  - collectors/macos.plugin/*
  - collectors/macos.plugin/**/*

collectors/nfacct:
  - collectors/nfacct.plugin/*
  - collectors/nfacct.plugin/**/*

collectors/perf:
  - collectors/perf.plugin/*
  - collectors/perf.plugin/**/*

collectors/plugins.d:
  - collectors/plugins.d/*
  - collectors/plugins.d/**/*

collectors/proc:
  - collectors/proc.plugin/*
  - collectors/proc.plugin/**/*

collectors/python.d:
  - collectors/python.d.plugin/*
  - collectors/python.d.plugin/**/*

collectors/slabinfo:
  - collectors/slabinfo.plugin/*
  - collectors/slabinfo.plugin/**/*

collectors/statsd:
  - collectors/statsd.plugin/*
  - collectors/statsd.plugin/**/*

collectors/tc:
  - collectors/tc.plugin/*
  - collectors/tc.plugin/**/*

collectors/timex:
  - collectors/timex.plugin/*
  - collectors/timex.plugin/**/*

collectors/xenstat:
  - collectors/xenstat.plugin/*
  - collectors/xenstat.plugin/**/*

collectors/new:
  - all:
      - collectors/*/*
      - collectors/*/**/*
      - '!collectors/apps.plugin/*'
      - '!collectors/apps.plugin/**/*'
      - '!collectors/cgroups.plugin/*'
      - '!collectors/cgroups.plugin/**/*'
      - '!collectors/charts.d.plugin/*'
      - '!collectors/charts.d.plugin/**/*'
      - '!collectors/cups.plugin/*'
      - '!collectors/cups.plugin/**/*'
      - '!collectors/diskspace.plugin/*'
      - '!collectors/diskspace.plugin/**/*'
      - '!collectors/ebpf.plugin/*'
      - '!collectors/ebpf.plugin/**/*'
      - '!collectors/freebsd.plugin/*'
      - '!collectors/freebsd.plugin/**/*'
      - '!collectors/freeipmi.plugin/*'
      - '!collectors/freeipmi.plugin/**/*'
      - '!collectors/idlejitter.plugin/*'
      - '!collectors/idlejitter.plugin/**/*'
      - '!collectors/ioping.plugin/*'
      - '!collectors/ioping.plugin/**/*'
      - '!collectors/macos.plugin/*'
      - '!collectors/macos.plugin/**/*'
      - '!collectors/nfacct.plugin/*'
      - '!collectors/nfacct.plugin/**/*'
      - '!collectors/perf.plugin/*'
      - '!collectors/perf.plugin/**/*'
      - '!collectors/plugins.d/*'
      - '!collectors/plugins.d/**/*'
      - '!collectors/proc.plugin/*'
      - '!collectors/proc.plugin/**/*'
      - '!collectors/python.d.plugin/*'
      - '!collectors/python.d.plugin/**/*'
      - '!collectors/slabinfo.plugin/*'
      - '!collectors/slabinfo.plugin/**/*'
      - '!collectors/statsd.plugin/*'
      - '!collectors/statsd.plugin/**/*'
      - '!collectors/tc.plugin/*'
      - '!collectors/tc.plugin/**/*'
      - '!collectors/timex.plugin/*'
      - '!collectors/timex.plugin/**/*'
      - '!collectors/xenstat.plugin/*'
      - '!collectors/xenstat.plugin/**/*'

documentation:
  - "*.md"
  - "**/*.md"
  - "**/*.mdx"
  - diagrams/*
  - diagrams/**/*

support for facets dynamic fields
  collectors/systemd-journal.plugin/systemd-journal.c
  libnetdata/facets/facets.c
  libnetdata/facets/facets.h
Labels: none

make systemd-journal.plugin setuid to root
  contrib/debian/rules
  netdata-installer.sh
Labels: area/packaging, area/packaging/deb

added key options
  collectors/systemd-journal.plugin/systemd-journal.c
  libnetdata/facets/facets.c
  libnetdata/facets/facets.h
  libnetdata/worker_utilization/worker_utilization.h
Labels: none

added pending todos
  collectors/systemd-journal.plugin/systemd-journal.c
  libnetdata/buffer/buffer.h
  libnetdata/facets/facets.c
Labels: none

fixed unittest running
  collectors/systemd-journal.plugin/systemd-journal.c
  database/contexts/api_v1.c
  database/contexts/api_v2.c
  database/contexts/query_target.c
  libnetdata/libnetdata.c
  libnetdata/libnetdata.h
  libnetdata/required_dummies.h
  web/api/queries/query.c
  web/api/queries/weights.c
Labels: area/database, area/web/api

added full_width and wrap table field options
  collectors/systemd-journal.plugin/systemd-journal.c
  libnetdata/buffer/buffer.h
  libnetdata/facets/facets.c
  libnetdata/facets/facets.h
Labels: none

support full text search on all keys
  collectors/systemd-journal.plugin/systemd-journal.c
  libnetdata/facets/facets.c
  libnetdata/facets/facets.h
Labels: none

restore debug
  collectors/systemd-journal.plugin/systemd-journal.c
Labels: none

added column in pagination
  libnetdata/facets/facets.c
Labels: none

speedup filtering processing
  collectors/systemd-journal.plugin/systemd-journal.c
  libnetdata/facets/facets.c
Labels: none

added the ability to transform data; added transformations for SYSLOG_FACILITY, PRIORITY, _UID, _GID; fixed full-text-search to do substring matches
  collectors/systemd-journal.plugin/systemd-journal.c
  libnetdata/facets/facets.c
  libnetdata/facets/facets.h
Labels: none

support full text search
  collectors/systemd-journal.plugin/systemd-journal.c
  libnetdata/facets/facets.c
  libnetdata/facets/facets.h
  libnetdata/libnetdata.c
  libnetdata/libnetdata.h
Labels: none

do not reorder facets on filtering
  collectors/systemd-journal.plugin/systemd-journal.c
  libnetdata/facets/facets.c
  libnetdata/facets/facets.h
Labels: none

ordering of facets
  collectors/systemd-journal.plugin/systemd-journal.c
Labels: none

free facets rows
  libnetdata/facets/facets.c
Labels: none

initialize json with newline on array members, for functions
  collectors/apps.plugin/apps_plugin.c
  collectors/ebpf.plugin/ebpf_functions.c
  collectors/systemd-journal.plugin/systemd-journal.c
Labels: collectors/apps, collectors/ebpf

fix unittest flag
  database/contexts/api_v1.c
  database/contexts/api_v2.c
  database/contexts/query_target.c
  web/api/queries/query.c
  web/api/queries/weights.c
Labels: area/database, area/web/api

fix localhost reference
  web/rtc/webrtc.c
Labels: none

make setup render everything, and put a slight message to alerts
  integrations/templates/alerts.md
  integrations/templates/setup.md
Labels: documentation

restore bearer check functionality
  web/api/web_api.c
Labels: area/web/api

disable systemdunits alarms
  health/health.d/systemdunits.conf
Labels: area/health

disable systemdunits alarms (#15726)
  health/health.d/systemdunits.conf
Labels: area/health

Fix memory corruption (#15724)
  database/contexts/api_v2.c
Labels: area/database

do not chmod systemd-journal plugin
  contrib/debian/rules
Labels: area/packaging, area/packaging/deb

systemd-journal plugin (#15363)
  Makefile.am
  claim/claim.c
  collectors/Makefile.am
  collectors/apps.plugin/apps_plugin.c
  collectors/ebpf.plugin/ebpf_functions.c
  collectors/plugins.d/plugins_d.h
  collectors/systemd-journal.plugin/Makefile.am
  collectors/systemd-journal.plugin/README.md
  collectors/systemd-journal.plugin/systemd-journal.c
  configure.ac
  contrib/debian/rules
  daemon/buildinfo.c
  daemon/main.c
  database/contexts/api_v1.c
  database/contexts/api_v2.c
  database/contexts/query_target.c
  database/rrdfunctions.c
  libnetdata/Makefile.am
  libnetdata/buffer/buffer.c
  libnetdata/buffer/buffer.h
  libnetdata/facets/Makefile.am
  libnetdata/facets/README.md
  libnetdata/facets/facets.c
  libnetdata/facets/facets.h
  libnetdata/libnetdata.c
  libnetdata/libnetdata.h
  libnetdata/socket/socket.h
  libnetdata/worker_utilization/worker_utilization.h
  netdata-installer.sh
  registry/registry.c
  web/api/formatters/json_wrapper.c
  web/api/formatters/rrd2json.h
  web/api/queries/query.c
  web/api/queries/rrdr.h
  web/api/queries/weights.c
  web/api/web_api.c
  web/api/web_api.h
  web/api/web_api_v1.c
  web/api/web_api_v2.c
  web/rtc/webrtc.c
Labels: area/claim, area/build, area/daemon, area/database, area/packaging, area/packaging/deb, area/registry, area/web/api, collectors/apps, collectors/ebpf, collectors/plugins.d, documentation

fix systemd-journal makefile
  collectors/systemd-journal.plugin/Makefile.am
Labels: area/build

fix systemd-journal makefile (#15727)
  collectors/systemd-journal.plugin/Makefile.am
Labels: area/build

Changes to the templates for integrations (#15721)
  integrations/templates/alerts.md
  integrations/templates/setup.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

dont log if pressure/irq does not exist
  collectors/proc.plugin/proc_pressure.c
Labels: collectors/proc

ci: run "Generate Integrations" only in netdata/netdata
  .github/workflows/generate-integrations.yml
Labels: area/ci

disable unavailable proc pressure
  collectors/proc.plugin/proc_pressure.c
Labels: collectors/proc

Properly check for the minimum required version of systemd.
  configure.ac
Labels: area/build

Check if SD_JOURNAL_ALL_NAMESPACES exists / fallback to SD_JOURNAL_LOCAL_ONLY
  collectors/systemd-journal.plugin/systemd-journal.c
Labels: none

proc.plugin: dont log if pressure/irq does not exist (#15732)
  collectors/proc.plugin/proc_pressure.c
Labels: collectors/proc

Adjust namespace used for sd_journal_open (#15736)
  collectors/systemd-journal.plugin/systemd-journal.c
Labels: none

Skip systemd journal on old platforms in native packages.
  contrib/debian/control.buster
  contrib/debian/control.xenial
  contrib/debian/rules
  netdata.spec.in
Labels: area/packaging, area/packaging/deb, area/packaging/rpm

Add netdata-plugin-systemd-journal package.
  contrib/debian/control
  contrib/debian/netdata-plugin-systemd-journal.postinst
  contrib/debian/netdata-plugin-systemd-journal.preinst
  contrib/debian/rules
  netdata.spec.in
Labels: area/packaging, area/packaging/deb, area/packaging/rpm

Fix suggests usage in spec file.
  netdata.spec.in
Labels: area/packaging, area/packaging/rpm

Actually build systemd-journal plugin everywhere.
  contrib/debian/control.buster
  contrib/debian/rules
  netdata.spec.in
Labels: area/packaging, area/packaging/deb, area/packaging/rpm
