Repository netdata/netdata, changes with the labels that .github/labeler.yml gives for each.
All labels: area/aclk, area/claim, area/exporting, area/build, area/ci, area/daemon, area/database, area/health, area/ml, area/packaging, area/packaging/deb, area/packaging/rpm, area/registry, area/streaming, area/tests, area/web/api, area/web/gui, area/web/server, collectors/apps, collectors/cgroups, collectors/charts.d, collectors/cups, collectors/debugfs, collectors/diskspace, collectors/ebpf, collectors/freebsd, collectors/freeipmi, collectors/idlejitter, collectors/ioping, collectors/macos, collectors/nfacct, collectors/perf, collectors/plugins.d, collectors/proc, collectors/python.d, collectors/slabinfo, collectors/statsd, collectors/tc, collectors/timex, collectors/xenstat, documentation

Access logs through the API for dev builds
  libnetdata/log/log.c
  web/api/web_api_v1.c
Labels: area/web/api

default_rrdeng_disk_quota_mb and storage_tiers_grouping_iterations
  database/rrd.c
Labels: area/database

Fix cmake builds
  CMakeLists.txt
Labels: area/build

have a dbengine_config_t inside rrdb
  daemon/analytics.c
  daemon/global_statistics.c
  daemon/main.c
  daemon/service.c
  daemon/unit_test.c
  database/contexts/api_v2.c
  database/contexts/query_target.c
  database/contexts/worker.c
  database/engine/datafile.c
  database/engine/journalfile.c
  database/engine/pagecache.c
  database/engine/pdc.c
  database/engine/rrdengine.c
  database/engine/rrdengineapi.c
  database/engine/rrdengineapi.h
  database/engine/rrdenginelib.c
  database/rrd.c
  database/rrd.h
  database/rrddim.c
  database/rrdhost.c
  database/rrdset.c
  database/sqlite/sqlite_metadata.c
  streaming/receiver.c
  web/api/formatters/json_wrapper.c
  web/api/formatters/rrd2json.c
  web/api/formatters/value/value.c
  web/api/queries/query.c
  web/api/queries/weights.c
  web/api/web_api.c
  web/api/web_api_v1.c
  web/api/web_api_v2.c
Labels: area/daemon, area/database, area/streaming, area/tests, area/web/api

reorg
  database/storage_engine_types.h
Labels: area/database

Update metadata.yaml
  collectors/nfacct.plugin/metadata.yaml
Labels: collectors/nfacct

Update metadata.yaml
  collectors/charts.d.plugin/ap/metadata.yaml
Labels: collectors/charts.d

Update metadata.yaml
  collectors/tc.plugin/metadata.yaml
Labels: collectors/tc

Update metadata.yaml
  collectors/charts.d.plugin/ap/metadata.yaml
Labels: collectors/charts.d

Update metadata.yaml
  collectors/tc.plugin/metadata.yaml
Labels: collectors/tc

Update metadata.yaml (#15710)
  collectors/charts.d.plugin/ap/metadata.yaml
  collectors/nfacct.plugin/metadata.yaml
  collectors/tc.plugin/metadata.yaml
Labels: collectors/charts.d, collectors/nfacct, collectors/tc

fix meta deploy docker nc
  integrations/deploy.yaml
Labels: none

fix meta deploy docker swarm NC env var (#15716)
  integrations/deploy.yaml
Labels: none

fix the freez pointer of dyncfg
  libnetdata/dyn_conf/dyn_conf.c
  libnetdata/dyn_conf/dyn_conf.h
  web/api/web_api_v2.c
Labels: area/web/api

[ci skip] Update changelog and version for nightly build: v1.41.0-272-nightly.
  CHANGELOG.md
  packaging/version
Labels: area/packaging, documentation

fix the freez pointer of dyncfg (#15719)
  libnetdata/dyn_conf/dyn_conf.c
  libnetdata/dyn_conf/dyn_conf.h
  web/api/web_api_v2.c
Labels: area/web/api

prefer titles, families, units and priorities from collected charts (#15614)
  database/contexts/api_v2.c
  database/contexts/context.c
  database/contexts/internal.h
  database/contexts/worker.c
Labels: area/database

add heading to alerts template
  integrations/templates/alerts.md
Labels: documentation

Fix the current disk space calculation
  database/storage_engine.h
Labels: area/database

Delay free
  database/contexts/api_v2.c
Labels: area/database

a still-do-nothing systemd-journal plugin
  Makefile.am
  collectors/Makefile.am
  collectors/systemd-journal.plugin/Makefile.am
  collectors/systemd-journal.plugin/README.md
  collectors/systemd-journal.plugin/systemd-journal.c
  configure.ac
Labels: area/build, documentation

abstracted facets logic
  collectors/systemd-journal.plugin/systemd-journal.c
Labels: none

work on the facets API
  collectors/systemd-journal.plugin/systemd-journal.c
Labels: none

facets moved to libnetdata
  Makefile.am
  collectors/systemd-journal.plugin/systemd-journal.c
  configure.ac
  libnetdata/Makefile.am
  libnetdata/facets/Makefile.am
  libnetdata/facets/README.md
  libnetdata/facets/facets.c
  libnetdata/facets/facets.h
  libnetdata/libnetdata.h
Labels: area/build, documentation

format facets as table function
  claim/claim.c
  collectors/apps.plugin/apps_plugin.c
  collectors/systemd-journal.plugin/systemd-journal.c
  daemon/buildinfo.c
  database/contexts/api_v1.c
  database/contexts/api_v2.c
  database/rrdfunctions.c
  libnetdata/buffer/buffer.c
  libnetdata/buffer/buffer.h
  libnetdata/facets/facets.c
  registry/registry.c
  web/api/formatters/json_wrapper.c
  web/api/queries/weights.c
  web/api/web_api_v1.c
  web/api/web_api_v2.c
  web/rtc/webrtc.c
Labels: area/claim, area/daemon, area/database, area/registry, area/web/api, collectors/apps

first working prototype
  collectors/systemd-journal.plugin/systemd-journal.c
  libnetdata/facets/facets.c
  libnetdata/facets/facets.h
Labels: none

more work to make this a full plugin
  collectors/apps.plugin/apps_plugin.c
  collectors/plugins.d/plugins_d.h
  collectors/systemd-journal.plugin/systemd-journal.c
  libnetdata/facets/facets.c
Labels: collectors/apps, collectors/plugins.d

restore netdata dev mode acl
  libnetdata/socket/socket.h
  web/api/web_api.c
Labels: area/web/api

fixed issues with the ids
  collectors/systemd-journal.plugin/systemd-journal.c
  libnetdata/facets/facets.c
  libnetdata/facets/facets.h
Labels: none

incomplete work...
  libnetdata/facets/facets.c
Labels: none

using encoded ids for all keys, facets and values
  collectors/systemd-journal.plugin/systemd-journal.c
  libnetdata/facets/facets.c
Labels: none

timeout support
  collectors/systemd-journal.plugin/systemd-journal.c
  database/rrdfunctions.c
  libnetdata/facets/facets.c
Labels: area/database

timestamp in time_t
  collectors/systemd-journal.plugin/systemd-journal.c
  libnetdata/facets/facets.c
Labels: none

preparation for histogram
  libnetdata/facets/facets.c
Labels: none

shorter unset message
  libnetdata/facets/facets.c
Labels: none

use newline on arrays for apps.plugin
  collectors/apps.plugin/apps_plugin.c
Labels: collectors/apps

support accepted_params
  collectors/apps.plugin/apps_plugin.c
  collectors/systemd-journal.plugin/systemd-journal.c
  database/rrdfunctions.c
  libnetdata/buffer/buffer.h
  libnetdata/facets/facets.c
  libnetdata/facets/facets.h
Labels: area/database, collectors/apps

full tracking of bearer protection
  web/api/web_api.c
  web/api/web_api.h
  web/api/web_api_v1.c
  web/api/web_api_v2.c
Labels: area/web/api

use syslog_identifier for the process name
  collectors/systemd-journal.plugin/systemd-journal.c
Labels: none

parsing of parameters and filtering
  collectors/systemd-journal.plugin/systemd-journal.c
  daemon/main.c
  libnetdata/facets/facets.c
  libnetdata/facets/facets.h
  libnetdata/libnetdata.c
  libnetdata/libnetdata.h
  libnetdata/required_dummies.h
  web/api/formatters/rrd2json.h
  web/api/queries/query.c
  web/api/queries/rrdr.h
Labels: area/daemon, area/web/api

.github/labeler.yml:

---
# This configures label matching for PR's.
#
# The keys are labels, and the values are lists of minimatch patterns
# to which those labels apply.
#
# NOTE: This can only add labels, not remove them.
# NOTE: Due to YAML syntax limitations, patterns or labels which start
# with a character that is part of the standard YAML syntax must be
# quoted.
#
# Please keep the labels sorted and deduplicated.

area/aclk:
  - aclk/*
  - aclk/**/*
  - database/sqlite/sqlite_aclk*
  - mqtt_websockets

area/claim:
  - claim/*

area/exporting:
  - exporting/*
  - exporting/**/*

area/build:
  - build/*
  - build/**/*
  - build_external/*
  - build_external/**/*
  - CMakeLists.txt
  - configure.ac
  - Makefile.am
  - "**/Makefile.am"

area/ci:
  - .github/*
  - .github/**/*

area/daemon:
  - daemon/*
  - daemon/**/*

area/database:
  - database/*
  - database/**/*

area/health:
  - health/*
  - health/**/*

area/ml:
  - ml/*
  - ml/**/*

area/packaging:
  - contrib/*
  - contrib/**/*
  - packaging/*
  - packaging/**/*
  - system/*
  - system/**/*
  - Dockerfile*
  - netdata-installer.sh
  - netdata.spec.in

area/packaging/deb:
  - packaging/repoconfig/debian/*
  - packaging/repoconfig/debian/**/*
  - packaging/repoconfig/build-deb.sh
  - packaging/repoconfig/Makefile
  - packaging/repoconfig/netdata.list.in
  - contrib/debian/*
  - contrib/debian/**/*

area/packaging/rpm:
  - packaging/repoconfig/netdata-repo.spec
  - packaging/repoconfig/build-rpm.sh
  - packaging/repoconfig/netdata*.repo.*
  - netdata.spec.in

area/registry:
  - registry/*
  - registry/**/*

area/streaming:
  - streaming/*
  - streaming/**/*

area/tests:
  - tests/*
  - tests/**/*
  - daemon/unit_test*
  - coverity-scan.sh
  - cppcheck.sh
  - netdata.cppcheck

area/web/api:
  - web/api/*
  - web/api/**/*

area/web/gui:
  - web/gui/*
  - web/gui/**/*

area/web/server:
  - web/server/*
  - web/server/**/*

collectors/apps:
  - collectors/apps.plugin/*
  - collectors/apps.plugin/**/*

collectors/cgroups:
  - collectors/cgroups.plugin/*
  - collectors/cgroups.plugin/**/*

collectors/charts.d:
  - collectors/charts.d.plugin/*
  - collectors/charts.d.plugin/**/*

collectors/cups:
  - collectors/cups.plugin/*
  - collectors/cups.plugin/**/*

collectors/debugfs:
  - collectors/debugfs.plugin/*
  - collectors/debugfs.plugin/**/*

collectors/diskspace:
  - collectors/diskspace.plugin/*
  - collectors/diskspace.plugin/**/*

collectors/ebpf:
  - collectors/ebpf.plugin/*
  - collectors/ebpf.plugin/**/*

collectors/freebsd:
  - collectors/freebsd.plugin/*
  - collectors/freebsd.plugin/**/*

collectors/freeipmi:
  - collectors/freeipmi.plugin/*
  - collectors/freeipmi.plugin/**/*

collectors/idlejitter:
  - collectors/idlejitter.plugin/*
  - collectors/idlejitter.plugin/**/*

collectors/ioping:
  - collectors/ioping.plugin/*
  - collectors/ioping.plugin/**/*

collectors/macos:
  - collectors/macos.plugin/*
  - collectors/macos.plugin/**/*

collectors/nfacct:
  - collectors/nfacct.plugin/*
  - collectors/nfacct.plugin/**/*

collectors/perf:
  - collectors/perf.plugin/*
  - collectors/perf.plugin/**/*

collectors/plugins.d:
  - collectors/plugins.d/*
  - collectors/plugins.d/**/*

collectors/proc:
  - collectors/proc.plugin/*
  - collectors/proc.plugin/**/*

collectors/python.d:
  - collectors/python.d.plugin/*
  - collectors/python.d.plugin/**/*

collectors/slabinfo:
  - collectors/slabinfo.plugin/*
  - collectors/slabinfo.plugin/**/*

collectors/statsd:
  - collectors/statsd.plugin/*
  - collectors/statsd.plugin/**/*

collectors/tc:
  - collectors/tc.plugin/*
  - collectors/tc.plugin/**/*

collectors/timex:
  - collectors/timex.plugin/*
  - collectors/timex.plugin/**/*

collectors/xenstat:
  - collectors/xenstat.plugin/*
  - collectors/xenstat.plugin/**/*

collectors/new:
  - all:
      - collectors/*/*
      - collectors/*/**/*
      - '!collectors/apps.plugin/*'
      - '!collectors/apps.plugin/**/*'
      - '!collectors/cgroups.plugin/*'
      - '!collectors/cgroups.plugin/**/*'
      - '!collectors/charts.d.plugin/*'
      - '!collectors/charts.d.plugin/**/*'
      - '!collectors/cups.plugin/*'
      - '!collectors/cups.plugin/**/*'
      - '!collectors/diskspace.plugin/*'
      - '!collectors/diskspace.plugin/**/*'
      - '!collectors/ebpf.plugin/*'
      - '!collectors/ebpf.plugin/**/*'
      - '!collectors/freebsd.plugin/*'
      - '!collectors/freebsd.plugin/**/*'
      - '!collectors/freeipmi.plugin/*'
      - '!collectors/freeipmi.plugin/**/*'
      - '!collectors/idlejitter.plugin/*'
      - '!collectors/idlejitter.plugin/**/*'
      - '!collectors/ioping.plugin/*'
      - '!collectors/ioping.plugin/**/*'
      - '!collectors/macos.plugin/*'
      - '!collectors/macos.plugin/**/*'
      - '!collectors/nfacct.plugin/*'
      - '!collectors/nfacct.plugin/**/*'
      - '!collectors/perf.plugin/*'
      - '!collectors/perf.plugin/**/*'
      - '!collectors/plugins.d/*'
      - '!collectors/plugins.d/**/*'
      - '!collectors/proc.plugin/*'
      - '!collectors/proc.plugin/**/*'
      - '!collectors/python.d.plugin/*'
      - '!collectors/python.d.plugin/**/*'
      - '!collectors/slabinfo.plugin/*'
      - '!collectors/slabinfo.plugin/**/*'
      - '!collectors/statsd.plugin/*'
      - '!collectors/statsd.plugin/**/*'
      - '!collectors/tc.plugin/*'
      - '!collectors/tc.plugin/**/*'
      - '!collectors/timex.plugin/*'
      - '!collectors/timex.plugin/**/*'
      - '!collectors/xenstat.plugin/*'
      - '!collectors/xenstat.plugin/**/*'

documentation:
  - "*.md"
  - "**/*.md"
  - "**/*.mdx"
  - diagrams/*
  - diagrams/**/*
