Repository netdata/netdata, changes with the labels that .github/labeler.yml gives for each.
All labels: area/aclk, area/claim, area/exporting, area/build, area/ci, area/daemon, area/database, area/health, area/ml, area/packaging, area/packaging/deb, area/packaging/rpm, area/registry, area/streaming, area/tests, area/web/api, area/web/gui, area/web/server, collectors/apps, collectors/cgroups, collectors/charts.d, collectors/cups, collectors/debugfs, collectors/diskspace, collectors/ebpf, collectors/freebsd, collectors/freeipmi, collectors/idlejitter, collectors/ioping, collectors/macos, collectors/nfacct, collectors/perf, collectors/plugins.d, collectors/proc, collectors/python.d, collectors/slabinfo, collectors/statsd, collectors/tc, collectors/timex, collectors/xenstat, documentation

.github/labeler.yml:

---
# This configures label matching for PR's.
#
# The keys are labels, and the values are lists of minimatch patterns
# to which those labels apply.
#
# NOTE: This can only add labels, not remove them.
# NOTE: Due to YAML syntax limitations, patterns or labels which start
# with a character that is part of the standard YAML syntax must be
# quoted.
#
# Please keep the labels sorted and deduplicated.

area/aclk:
  - aclk/*
  - aclk/**/*
  - database/sqlite/sqlite_aclk*
  - mqtt_websockets

area/claim:
  - claim/*

area/exporting:
  - exporting/*
  - exporting/**/*

area/build:
  - build/*
  - build/**/*
  - build_external/*
  - build_external/**/*
  - CMakeLists.txt
  - configure.ac
  - Makefile.am
  - "**/Makefile.am"

area/ci:
  - .github/*
  - .github/**/*

area/daemon:
  - daemon/*
  - daemon/**/*

area/database:
  - database/*
  - database/**/*

area/health:
  - health/*
  - health/**/*

area/ml:
  - ml/*
  - ml/**/*

area/packaging:
  - contrib/*
  - contrib/**/*
  - packaging/*
  - packaging/**/*
  - system/*
  - system/**/*
  - Dockerfile*
  - netdata-installer.sh
  - netdata.spec.in

area/packaging/deb:
  - packaging/repoconfig/debian/*
  - packaging/repoconfig/debian/**/*
  - packaging/repoconfig/build-deb.sh
  - packaging/repoconfig/Makefile
  - packaging/repoconfig/netdata.list.in
  - contrib/debian/*
  - contrib/debian/**/*

area/packaging/rpm:
  - packaging/repoconfig/netdata-repo.spec
  - packaging/repoconfig/build-rpm.sh
  - packaging/repoconfig/netdata*.repo.*
  - netdata.spec.in

area/registry:
  - registry/*
  - registry/**/*

area/streaming:
  - streaming/*
  - streaming/**/*

area/tests:
  - tests/*
  - tests/**/*
  - daemon/unit_test*
  - coverity-scan.sh
  - cppcheck.sh
  - netdata.cppcheck

area/web/api:
  - web/api/*
  - web/api/**/*

area/web/gui:
  - web/gui/*
  - web/gui/**/*

area/web/server:
  - web/server/*
  - web/server/**/*

collectors/apps:
  - collectors/apps.plugin/*
  - collectors/apps.plugin/**/*

collectors/cgroups:
  - collectors/cgroups.plugin/*
  - collectors/cgroups.plugin/**/*

collectors/charts.d:
  - collectors/charts.d.plugin/*
  - collectors/charts.d.plugin/**/*

collectors/cups:
  - collectors/cups.plugin/*
  - collectors/cups.plugin/**/*

collectors/debugfs:
  - collectors/debugfs.plugin/*
  - collectors/debugfs.plugin/**/*

collectors/diskspace:
  - collectors/diskspace.plugin/*
  - collectors/diskspace.plugin/**/*

collectors/ebpf:
  - collectors/ebpf.plugin/*
  - collectors/ebpf.plugin/**/*

collectors/freebsd:
  - collectors/freebsd.plugin/*
  - collectors/freebsd.plugin/**/*

collectors/freeipmi:
  - collectors/freeipmi.plugin/*
  - collectors/freeipmi.plugin/**/*

collectors/idlejitter:
  - collectors/idlejitter.plugin/*
  - collectors/idlejitter.plugin/**/*

collectors/ioping:
  - collectors/ioping.plugin/*
  - collectors/ioping.plugin/**/*

collectors/macos:
  - collectors/macos.plugin/*
  - collectors/macos.plugin/**/*

collectors/nfacct:
  - collectors/nfacct.plugin/*
  - collectors/nfacct.plugin/**/*

collectors/perf:
  - collectors/perf.plugin/*
  - collectors/perf.plugin/**/*

collectors/plugins.d:
  - collectors/plugins.d/*
  - collectors/plugins.d/**/*

collectors/proc:
  - collectors/proc.plugin/*
  - collectors/proc.plugin/**/*

collectors/python.d:
  - collectors/python.d.plugin/*
  - collectors/python.d.plugin/**/*

collectors/slabinfo:
  - collectors/slabinfo.plugin/*
  - collectors/slabinfo.plugin/**/*

collectors/statsd:
  - collectors/statsd.plugin/*
  - collectors/statsd.plugin/**/*

collectors/tc:
  - collectors/tc.plugin/*
  - collectors/tc.plugin/**/*

collectors/timex:
  - collectors/timex.plugin/*
  - collectors/timex.plugin/**/*

collectors/xenstat:
  - collectors/xenstat.plugin/*
  - collectors/xenstat.plugin/**/*

collectors/new:
  - all:
      - collectors/*/*
      - collectors/*/**/*
      - '!collectors/apps.plugin/*'
      - '!collectors/apps.plugin/**/*'
      - '!collectors/cgroups.plugin/*'
      - '!collectors/cgroups.plugin/**/*'
      - '!collectors/charts.d.plugin/*'
      - '!collectors/charts.d.plugin/**/*'
      - '!collectors/cups.plugin/*'
      - '!collectors/cups.plugin/**/*'
      - '!collectors/diskspace.plugin/*'
      - '!collectors/diskspace.plugin/**/*'
      - '!collectors/ebpf.plugin/*'
      - '!collectors/ebpf.plugin/**/*'
      - '!collectors/freebsd.plugin/*'
      - '!collectors/freebsd.plugin/**/*'
      - '!collectors/freeipmi.plugin/*'
      - '!collectors/freeipmi.plugin/**/*'
      - '!collectors/idlejitter.plugin/*'
      - '!collectors/idlejitter.plugin/**/*'
      - '!collectors/ioping.plugin/*'
      - '!collectors/ioping.plugin/**/*'
      - '!collectors/macos.plugin/*'
      - '!collectors/macos.plugin/**/*'
      - '!collectors/nfacct.plugin/*'
      - '!collectors/nfacct.plugin/**/*'
      - '!collectors/perf.plugin/*'
      - '!collectors/perf.plugin/**/*'
      - '!collectors/plugins.d/*'
      - '!collectors/plugins.d/**/*'
      - '!collectors/proc.plugin/*'
      - '!collectors/proc.plugin/**/*'
      - '!collectors/python.d.plugin/*'
      - '!collectors/python.d.plugin/**/*'
      - '!collectors/slabinfo.plugin/*'
      - '!collectors/slabinfo.plugin/**/*'
      - '!collectors/statsd.plugin/*'
      - '!collectors/statsd.plugin/**/*'
      - '!collectors/tc.plugin/*'
      - '!collectors/tc.plugin/**/*'
      - '!collectors/timex.plugin/*'
      - '!collectors/timex.plugin/**/*'
      - '!collectors/xenstat.plugin/*'
      - '!collectors/xenstat.plugin/**/*'

documentation:
  - "*.md"
  - "**/*.md"
  - "**/*.mdx"
  - diagrams/*
  - diagrams/**/*

Add missing troubleshooting section for agent notifications.
  health/notifications/alerta/metadata.yaml
  health/notifications/awssns/metadata.yaml
  health/notifications/custom/metadata.yaml
  health/notifications/discord/metadata.yaml
  health/notifications/dynatrace/metadata.yaml
  health/notifications/email/metadata.yaml
  health/notifications/flock/metadata.yaml
  health/notifications/gotify/metadata.yaml
  health/notifications/irc/metadata.yaml
  health/notifications/kavenegar/metadata.yaml
  health/notifications/matrix/metadata.yaml
  health/notifications/messagebird/metadata.yaml
  health/notifications/msteams/metadata.yaml
  health/notifications/ntfy/metadata.yaml
  health/notifications/opsgenie/metadata.yaml
  health/notifications/pagerduty/metadata.yaml
  health/notifications/prowl/metadata.yaml
  health/notifications/pushbullet/metadata.yaml
  health/notifications/pushover/metadata.yaml
  health/notifications/rocketchat/metadata.yaml
  health/notifications/slack/metadata.yaml
  health/notifications/smstools3/metadata.yaml
  health/notifications/syslog/metadata.yaml
  health/notifications/telegram/metadata.yaml
  health/notifications/twilio/metadata.yaml
Labels: area/health

Fix path checking in troubleshooting template.
  integrations/templates/troubleshooting.md
Labels: documentation

Fix typo in categories for beanstalk collector metadata. (#15703)
  collectors/python.d.plugin/beanstalk/metadata.yaml
Labels: collectors/python.d

Assorted fixes for integrations templates. (#15702)
  health/notifications/alerta/metadata.yaml
  health/notifications/awssns/metadata.yaml
  health/notifications/custom/metadata.yaml
  health/notifications/discord/metadata.yaml
  health/notifications/dynatrace/metadata.yaml
  health/notifications/email/metadata.yaml
  health/notifications/flock/metadata.yaml
  health/notifications/gotify/metadata.yaml
  health/notifications/irc/metadata.yaml
  health/notifications/kavenegar/metadata.yaml
  health/notifications/matrix/metadata.yaml
  health/notifications/messagebird/metadata.yaml
  health/notifications/msteams/metadata.yaml
  health/notifications/ntfy/metadata.yaml
  health/notifications/opsgenie/metadata.yaml
  health/notifications/pagerduty/metadata.yaml
  health/notifications/prowl/metadata.yaml
  health/notifications/pushbullet/metadata.yaml
  health/notifications/pushover/metadata.yaml
  health/notifications/rocketchat/metadata.yaml
  health/notifications/slack/metadata.yaml
  health/notifications/smstools3/metadata.yaml
  health/notifications/syslog/metadata.yaml
  health/notifications/telegram/metadata.yaml
  health/notifications/twilio/metadata.yaml
  integrations/integrations.js
  integrations/templates/setup.md
  integrations/templates/troubleshooting.md
Labels: area/health, documentation

better cleanup of aclk alert table entries
  database/sqlite/sqlite_aclk_alert.c
Labels: area/aclk, area/database

Better cleanup of aclk alert table entries (#15706)
  database/sqlite/sqlite_aclk_alert.c
Labels: area/aclk, area/database

Better cleanup of aclk alert table entries (#15706)
  database/sqlite/sqlite_aclk_alert.c
Labels: area/aclk, area/database

integrations: fix docker compose indent
  integrations/deploy.yaml
Labels: none

integrations: fix docker compose indent (#15708)
  integrations/deploy.yaml
Labels: none

reorg code
  database/engine/rrddim_eng.c
  database/engine/rrddim_eng.h
  database/rrd.c
Labels: area/database

Do not leak the dbengine_cfg concept outside of rrd.
  database/rrd.h
  web/api/queries/query.c
Labels: area/database, area/web/api

Fix build
  database/rrd.c
Labels: area/database

storage_tiers
  database/rrd.c
Labels: area/database

Move dbengine_config to a global var
  Makefile.am
  database/engine/rrddim_eng.c
  database/engine/rrddim_eng.h
  database/rrd.c
Labels: area/build, area/database

s/RRD_STORAGE_TIERS/STORAGE_ENGINE_TIERS/
  daemon/buildinfo.c
  daemon/global_statistics.c
  database/contexts/rrdcontext.h
  database/engine/rrddim_eng.h
  database/engine/rrdengine.c
  database/engine/rrdengineapi.c
  database/rrd.c
  database/rrd.h
  database/rrdhost.c
  database/rrdset.c
  database/storage_engine_types.h
  web/api/formatters/value/value.h
  web/api/queries/query.c
  web/api/queries/weights.c
Labels: area/daemon, area/database, area/web/api

default_multidb_disk_quota_mb
  daemon/analytics.c
  daemon/main.c
  database/rrd.c
  database/rrd.h
  web/api/web_api_v1.c
Labels: area/daemon, area/database, area/web/api

Fix builds without dbengine
  daemon/global_statistics.c
  daemon/main.c
  database/engine/rrddim_eng.h
  database/rrd.c
  database/rrd.h
  database/rrdhost.c
  database/sqlite/sqlite_metadata.c
  streaming/receiver.c
  web/api/web_api_v1.c
Labels: area/daemon, area/database, area/streaming, area/web/api

Guard ifdef dbengine enabled
  database/rrd.c
Labels: area/database

Call dbengine_init only when ENABLE_DBENGINE is defined
  database/rrd.c
Labels: area/database

use_direct_io
  database/rrd.c
Labels: area/database

use rrd_storage_tiers
  daemon/global_statistics.c
  daemon/main.c
  daemon/service.c
  web/api/queries/query.c
Labels: area/daemon, area/web/api

move rrdeng_pages_per_extent to rrdb
  database/engine/pagecache.c
  database/engine/rrdengine.c
  database/engine/rrdengineapi.c
  database/rrd.c
  database/rrd.h
Labels: area/database

Revert "Access logs through the API for dev builds"
  libnetdata/libnetdata.c
  libnetdata/libnetdata.h
  libnetdata/log/log.c
  web/api/web_api_v1.c
Labels: area/web/api

grouping iterations
  database/rrd.c
Labels: area/database

move config opts
  daemon/main.c
  database/rrd.c
Labels: area/daemon, area/database

dbengine config struct
  database/rrd.c
Labels: area/database

dbengine_base_path
  database/rrd.c
  database/rrd.h
Labels: area/database

Move dbengine_config_t to rrddim_eng.h
  database/engine/rrddim_eng.h
  database/rrd.h
  database/storage_engine_types.h
Labels: area/database

rrdeng_pages_per_extent
  database/rrd.c
Labels: area/database

Formatting
  database/rrd.c
Labels: area/database

parallel_initialization
  database/rrd.c
  database/rrd.h
Labels: area/database

backfill
  database/rrd.c
Labels: area/database

Drop rrdb references and use global config object.
  database/engine/datafile.c
  database/engine/journalfile.c
  database/engine/pagecache.c
  database/engine/rrdengine.c
  database/engine/rrdengineapi.c
  database/engine/rrdenginelib.c
Labels: area/database

Fix createdataset command
  daemon/main.c
Labels: area/daemon

s/rrdeng_init/rrdeng_tier_init/g
  database/engine/rrddim_eng.h
  database/engine/rrdengineapi.c
  database/rrd.c
  database/rrdhost.c
Labels: area/database

RRD_BACKFILL_* -> STORAGE_TIER_BACKFILL_*
  database/engine/rrddim_eng.h
  database/rrd.c
  database/rrd.h
  database/storage_engine_types.h
  web/api/queries/query.c
Labels: area/database, area/web/api

storage_tiers_backfill
  database/rrd.c
Labels: area/database

Make immutable default config and hide access to it.
  database/engine/pdc.c
  database/engine/rrddim_eng.c
  database/engine/rrddim_eng.h
  database/engine/rrdengineapi.h
  database/rrd.c
Labels: area/database

Fix unit tests
  daemon/main.c
  database/engine/rrddim_eng.c
  database/engine/rrdengineapi.c
Labels: area/daemon, area/database

Limit scope of variable definitions
  database/rrd.c
Labels: area/database
