Repository netdata/netdata, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ACLK, area/claim, area/exporting, area/build, area/ci, area/daemon, area/database, area/docs, area/collectors, collectors/plugins.d, collectors/apps, collectors/cgroups, collectors/charts.d, collectors/cups, collectors/diskspace, collectors/ebpf, collectors/freebsd, collectors/freeipmi, collectors/idlejitter, collectors/ioping, collectors/macos, collectors/nfacct, collectors/perf, collectors/proc, collectors/python.d, collectors/slabinfo, collectors/statsd, collectors/tc, collectors/timex, collectors/xenstat, area/health, area/ml, area/packaging, area/registry, area/streaming, area/tests, area/web

.github/labeler.yml:

# This configures label matching for PR's.
#
# The keys are labels, and the values are lists of minimatch patterns
# to which those labels apply.
#
# NOTE: This can only add labels, not remove them.
# NOTE: Due to YAML syntax limitations, patterns or labels which start
# with a character that is part of the standard YAML syntax must be
# quoted.
#
# Please keep the labels sorted and deduplicated.

area/ACLK:
  - aclk/*
  - aclk/**/*
  - database/sqlite/sqlite_aclk*
  - mqtt_websockets

area/claim:
  - claim/*

area/exporting:
  - exporting/*
  - exporting/**/*

area/build:
  - build/*
  - build/**/*
  - build_external/*
  - build_external/**/*
  - CMakeLists.txt
  - configure.ac
  - Makefile.am
  - "**/Makefile.am"

area/ci:
  - .travis/*
  - .travis/**/*
  - .github/*
  - .github/**/*

area/daemon:
  - daemon/*
  - daemon/**/*

area/database:
  - database/*
  - database/**/*

area/docs:
  - "*.md"
  - "**/*.md"
  - "**/*.mdx"
  - diagrams/*
  - diagrams/**/*

# -----------------collectors----------------------

area/collectors:
  - collectors/*
  - collectors/**/*

collectors/plugins.d:
  - collectors/plugins.d/*
  - collectors/plugins.d/**/*

collectors/apps:
  - collectors/apps.plugin/*
  - collectors/apps.plugin/**/*

collectors/cgroups:
  - collectors/cgroups.plugin/*
  - collectors/cgroups.plugin/**/*

collectors/charts.d:
  - collectors/charts.d.plugin/*
  - collectors/charts.d.plugin/**/*

collectors/cups:
  - collectors/cups.plugin/*
  - collectors/cups.plugin/**/*

collectors/diskspace:
  - collectors/diskspace.plugin/*
  - collectors/diskspace.plugin/**/*

collectors/ebpf:
  - collectors/ebpf.plugin/*
  - collectors/ebpf.plugin/**/*

collectors/freebsd:
  - collectors/freebsd.plugin/*
  - collectors/freebsd.plugin/**/*

collectors/freeipmi:
  - collectors/freeipmi.plugin/*
  - collectors/freeipmi.plugin/**/*

collectors/idlejitter:
  - collectors/idlejitter.plugin/*
  - collectors/idlejitter.plugin/**/*

collectors/ioping:
  - collectors/ioping.plugin/*
  - collectors/ioping.plugin/**/*

collectors/macos:
  - collectors/macos.plugin/*
  - collectors/macos.plugin/**/*

collectors/nfacct:
  - collectors/nfacct.plugin/*
  - collectors/nfacct.plugin/**/*

collectors/perf:
  - collectors/perf.plugin/*
  - collectors/perf.plugin/**/*

collectors/proc:
  - collectors/proc.plugin/*
  - collectors/proc.plugin/**/*

collectors/python.d:
  - collectors/python.d.plugin/*
  - collectors/python.d.plugin/**/*

collectors/slabinfo:
  - collectors/slabinfo.plugin/*
  - collectors/slabinfo.plugin/**/*

collectors/statsd:
  - collectors/statsd.plugin/*
  - collectors/statsd.plugin/**/*

collectors/tc:
  - collectors/tc.plugin/*
  - collectors/tc.plugin/**/*

collectors/timex:
  - collectors/timex.plugin/*
  - collectors/timex.plugin/**/*

collectors/xenstat:
  - collectors/xenstat.plugin/*
  - collectors/xenstat.plugin/**/*

# ----------------/collectors----------------------

area/health:
  - health/*
  - health/**/*

area/ml:
  - ml/*
  - ml/**/*

area/packaging:
  - contrib/*
  - contrib/**/*
  - packaging/*
  - packaging/**/*
  - system/*
  - system/**/*
  - Dockerfile*
  - netdata-installer.sh
  - netdata.spec.in

area/registry:
  - registry/*
  - registry/**/*

area/streaming:
  - streaming/*
  - streaming/**/*

area/tests:
  - tests/*
  - tests/**/*
  - daemon/unit_test*
  - coverity-scan.sh
  - cppcheck.sh
  - netdata.cppcheck

area/web:
  - web/*
  - web/**/*

Apply limit for page precaching based on page alignment
  database/engine/pagecache.c
Labels: area/database

Temp revert atomics on page cache
  database/engine/pagecache.c
Labels: area/database

Do not send a read command if one is pending
  daemon/global_statistics.c
  database/engine/pagecache.c
  database/engine/pagecache.h
  database/engine/rrdengine.c
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
Labels: area/daemon, area/database

Provide detailed descriptor info to match pages form extent
  database/engine/rrdengine.c
  database/engine/rrdengine.h
Labels: area/database

Fix casting to long
  database/engine/journalfile.c
Labels: area/database

(exp) Additional statistics for page cache preload / page next load
  daemon/global_statistics.c
  database/engine/pagecache.c
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
  database/engine/rrdengineapi.h
Labels: area/daemon, area/database

Prevent stray locks when a thread is cancelled
  database/engine/pagecache.c
Labels: area/database

Use atomics to update page cache variables Add page flush in a callback, read extent callbacks
  daemon/global_statistics.c
  database/engine/journalfile.c
  database/engine/pagecache.c
  database/engine/rrdengine.c
  database/engine/rrdengine.h
Labels: area/daemon, area/database

Cleanup
  database/engine/rrdengineapi.c
Labels: area/database

Allow delete descriptors and journal migration to run in parallel with page flushing Move delete descriptors to the main timer callback
  database/engine/rrdengine.c
Labels: area/database

Revert "Remove enable and disable cancelability"
  database/engine/pagecache.c
Labels: area/database

Fix descriptor initial cleanup initialization Use atomic operations to migrate descriptors
  database/engine/journalfile.c
  database/engine/rrdengine.c
  database/engine/rrdengine.h
Labels: area/database

Update dbengine_stats endpoint to get statistics from the new journal index
  database/engine/rrdengineapi.c
Labels: area/database

Remove check as extent_index is not flagged with UINT32_MAX anymore
  database/engine/journalfile.c
Labels: area/database

turn dbengine errors to errors with limit
  database/engine/rrdengine.c
Labels: area/database

Fix casting warning
  database/engine/journalfile.c
Labels: area/database

Remove unneeded lock
  database/engine/rrdengine.c
Labels: area/database

fix all compilation warnings when not compiling with internal checks
  database/engine/journalfile.c
Labels: area/database

Fix compilation warning
  database/engine/pagecache.c
Labels: area/database

Remove enable and disable cancelability
  database/engine/pagecache.c
Labels: area/database

compile with cpustats
  CMakeLists.txt
  Makefile.am
Labels: area/build

Fix crash with invalid descriptor or page cache descriptor during file migration
  database/engine/journalfile.c
Labels: area/database

Remove check for invalid page during flash
  database/engine/rrdengine.c
Labels: area/database

Avoid __sync_synchronize when the descriptor is actually on v2 journal file
  database/engine/pagecache.h
Labels: area/database

Remove page queue status for now
  database/engine/pagecache.c
  database/engine/pagecache.h
  database/engine/rrdengine.c
Labels: area/database

Schedule cleanup descriptors a bit differently Add statistics for page lookups Skip page cache when flushing pages and the agent is shutting down
  daemon/global_statistics.c
  database/engine/pagecache.c
  database/engine/rrdengine.c
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
  database/engine/rrdengineapi.h
Labels: area/daemon, area/database

Do not do file clean up when journal initialization is running
  database/engine/datafile.c
  database/engine/rrdengine.c
  database/engine/rrdengine.h
Labels: area/database

Do not allow the page index latest time to be in the future
  database/engine/journalfile.c
Labels: area/database

Add page decompression and page population metrics
  database/engine/rrdengine.c
  database/engine/rrdengine.h
Labels: area/database

add timing charts
  aclk/aclk_stats.c
Labels: area/ACLK

Scan the entire extent chain if a duplicate page is detected to remove it
  database/engine/journalfile.c
  database/engine/journalfile.h
Labels: area/database

Statistics fix
  database/engine/rrdengineapi.c
Labels: area/database

Configure more libuv threads to properly register workers for statistics
  CMakeLists.txt
  Makefile.am
  configure.ac
  daemon/commands.c
  database/engine/journalfile.c
  database/engine/rrdengine.c
  database/engine/rrdengine.h
  database/sqlite/sqlite_metadata.c
  libnetdata/event_loop/Makefile.am
  libnetdata/event_loop/event_loop.c
  libnetdata/event_loop/event_loop.h
  libnetdata/libnetdata.h
Labels: area/build, area/daemon, area/database

Rename variables for clarity
  database/engine/rrdengine.c
Labels: area/database

Mark an index file as not being able to be used (to avoid trying for ever)
  database/engine/journalfile.c
  database/engine/journalfile.h
Labels: area/database

Additional checks on startup when compiled with NETDATA_INTERNAL_CHECKS Fix page_index count and pg cache page descriptor count
  database/engine/journalfile.c
Labels: area/database

Simplify pg_cache_lookup_next
  database/engine/pagecache.c
  database/engine/pagecache.h
  database/engine/rrdengineapi.c
Labels: area/database

Always get the write lock before trying to add descriptors
  database/engine/pagecache.c
Labels: area/database

Always succeed in reserving pages and have a separate thread do page evictions as needed to drop below the desired soft limit threshold
  database/engine/pagecache.c
  database/engine/pagecache.h
  database/engine/rrdengine.c
  database/engine/rrdengine.h
Labels: area/database

Add dbengine callbacks monitoring via workers
  database/engine/rrdengine.c
  database/engine/rrdengine.h
Labels: area/database
