Repository netdata/netdata, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ACLK, area/claim, area/exporting, area/build, area/ci, area/daemon, area/database, area/docs, area/collectors, collectors/plugins.d, collectors/apps, collectors/cgroups, collectors/charts.d, collectors/cups, collectors/diskspace, collectors/ebpf, collectors/freebsd, collectors/freeipmi, collectors/idlejitter, collectors/ioping, collectors/macos, collectors/nfacct, collectors/perf, collectors/proc, collectors/python.d, collectors/slabinfo, collectors/statsd, collectors/tc, collectors/timex, collectors/xenstat, area/health, area/ml, area/packaging, area/registry, area/streaming, area/tests, area/web

.github/labeler.yml:

# This configures label matching for PR's.
#
# The keys are labels, and the values are lists of minimatch patterns
# to which those labels apply.
#
# NOTE: This can only add labels, not remove them.
# NOTE: Due to YAML syntax limitations, patterns or labels which start
# with a character that is part of the standard YAML syntax must be
# quoted.
#
# Please keep the labels sorted and deduplicated.

area/ACLK:
  - aclk/*
  - aclk/**/*
  - database/sqlite/sqlite_aclk*
  - mqtt_websockets

area/claim:
  - claim/*

area/exporting:
  - exporting/*
  - exporting/**/*

area/build:
  - build/*
  - build/**/*
  - build_external/*
  - build_external/**/*
  - CMakeLists.txt
  - configure.ac
  - Makefile.am
  - "**/Makefile.am"

area/ci:
  - .travis/*
  - .travis/**/*
  - .github/*
  - .github/**/*

area/daemon:
  - daemon/*
  - daemon/**/*

area/database:
  - database/*
  - database/**/*

area/docs:
  - "*.md"
  - "**/*.md"
  - "**/*.mdx"
  - diagrams/*
  - diagrams/**/*

# -----------------collectors----------------------

area/collectors:
  - collectors/*
  - collectors/**/*

collectors/plugins.d:
  - collectors/plugins.d/*
  - collectors/plugins.d/**/*

collectors/apps:
  - collectors/apps.plugin/*
  - collectors/apps.plugin/**/*

collectors/cgroups:
  - collectors/cgroups.plugin/*
  - collectors/cgroups.plugin/**/*

collectors/charts.d:
  - collectors/charts.d.plugin/*
  - collectors/charts.d.plugin/**/*

collectors/cups:
  - collectors/cups.plugin/*
  - collectors/cups.plugin/**/*

collectors/diskspace:
  - collectors/diskspace.plugin/*
  - collectors/diskspace.plugin/**/*

collectors/ebpf:
  - collectors/ebpf.plugin/*
  - collectors/ebpf.plugin/**/*

collectors/freebsd:
  - collectors/freebsd.plugin/*
  - collectors/freebsd.plugin/**/*

collectors/freeipmi:
  - collectors/freeipmi.plugin/*
  - collectors/freeipmi.plugin/**/*

collectors/idlejitter:
  - collectors/idlejitter.plugin/*
  - collectors/idlejitter.plugin/**/*

collectors/ioping:
  - collectors/ioping.plugin/*
  - collectors/ioping.plugin/**/*

collectors/macos:
  - collectors/macos.plugin/*
  - collectors/macos.plugin/**/*

collectors/nfacct:
  - collectors/nfacct.plugin/*
  - collectors/nfacct.plugin/**/*

collectors/perf:
  - collectors/perf.plugin/*
  - collectors/perf.plugin/**/*

collectors/proc:
  - collectors/proc.plugin/*
  - collectors/proc.plugin/**/*

collectors/python.d:
  - collectors/python.d.plugin/*
  - collectors/python.d.plugin/**/*

collectors/slabinfo:
  - collectors/slabinfo.plugin/*
  - collectors/slabinfo.plugin/**/*

collectors/statsd:
  - collectors/statsd.plugin/*
  - collectors/statsd.plugin/**/*

collectors/tc:
  - collectors/tc.plugin/*
  - collectors/tc.plugin/**/*

collectors/timex:
  - collectors/timex.plugin/*
  - collectors/timex.plugin/**/*

collectors/xenstat:
  - collectors/xenstat.plugin/*
  - collectors/xenstat.plugin/**/*

# ----------------/collectors----------------------

area/health:
  - health/*
  - health/**/*

area/ml:
  - ml/*
  - ml/**/*

area/packaging:
  - contrib/*
  - contrib/**/*
  - packaging/*
  - packaging/**/*
  - system/*
  - system/**/*
  - Dockerfile*
  - netdata-installer.sh
  - netdata.spec.in

area/registry:
  - registry/*
  - registry/**/*

area/streaming:
  - streaming/*
  - streaming/**/*

area/tests:
  - tests/*
  - tests/**/*
  - daemon/unit_test*
  - coverity-scan.sh
  - cppcheck.sh
  - netdata.cppcheck

area/web:
  - web/*
  - web/**/*

heartbeat: dont log every discrepancy
  libnetdata/clocks/clocks.c
Labels: none

return "added" boolean on page_add()
  database/engine2/cache.c
  database/engine2/cache.h
Labels: area/database

clean size is in bytes and it is not the max anymore
  database/engine2/cache.c
  database/engine2/cache.h
Labels: area/database

fix_improve_cachestat_fd: Set same pattern used with other threads.
  collectors/ebpf.plugin/ebpf_process.c
Labels: area/collectors, collectors/ebpf

bump go.d.plugin to v0.46.0
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

remove deprecated python.d collectors announced in v1.37.0 deprecation notice (#14072)
  collectors/COLLECTORS.md
  collectors/python.d.plugin/Makefile.am
  collectors/python.d.plugin/dockerd/Makefile.inc
  collectors/python.d.plugin/dockerd/README.md
  collectors/python.d.plugin/dockerd/dockerd.chart.py
  collectors/python.d.plugin/dockerd/dockerd.conf
  collectors/python.d.plugin/logind/Makefile.inc
  collectors/python.d.plugin/logind/README.md
  collectors/python.d.plugin/logind/logind.chart.py
  collectors/python.d.plugin/logind/logind.conf
  collectors/python.d.plugin/python.d.conf
  docs/collect/container-metrics.md
Labels: area/build, area/docs, area/collectors, collectors/python.d
