Repository netdata/netdata, changes with the labels that .github/labeler.yml gives for each.
All labels: area/aclk, area/claim, area/exporting, area/build, area/ci, area/daemon, area/database, area/health, area/ml, area/packaging, area/packaging/deb, area/packaging/rpm, area/registry, area/streaming, area/tests, area/web/api, area/web/gui, area/web/server, collectors/apps, collectors/cgroups, collectors/charts.d, collectors/cups, collectors/debugfs, collectors/diskspace, collectors/ebpf, collectors/freebsd, collectors/freeipmi, collectors/idlejitter, collectors/ioping, collectors/macos, collectors/nfacct, collectors/perf, collectors/plugins.d, collectors/proc, collectors/python.d, collectors/slabinfo, collectors/statsd, collectors/tc, collectors/timex, collectors/xenstat, documentation

Fix spec file syntax.
  netdata.spec.in
Labels: area/packaging, area/packaging/rpm

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

faster facets and journal fixes
  collectors/systemd-journal.plugin/systemd-journal.c
  libnetdata/facets/facets.c
  libnetdata/facets/facets.h
Labels: none

faster facets and journal fixes (#15737)
  collectors/systemd-journal.plugin/systemd-journal.c
  libnetdata/facets/facets.c
  libnetdata/facets/facets.h
Labels: none

move it
  .vscode_template/settings.json
Labels: none

rename instead of move
  .gitignore
  .vscode/settings.default.json
Labels: none

Don't overwrite my vscode settings! (#15738)
  .gitignore
  .vscode/settings.default.json
Labels: none

prefer cap over setuid for sysetmd-journal in installer
  netdata-installer.sh
Labels: area/packaging

ci: run "Generate Integrations" only in netdata/netdata (#15731)
  .github/workflows/generate-integrations.yml
Labels: area/ci

add systemd-journal.plugin to gitignore
  .gitignore
Labels: none

don't execute the plugin after setcap
  netdata-installer.sh
Labels: area/packaging

Install systemd-journal plugin by default on supported systems.
  contrib/debian/control
  netdata.spec.in
  packaging/installer/UPDATE.md
  packaging/installer/netdata-updater.sh
  system/netdata-updater.conf
Labels: area/packaging, area/packaging/deb, area/packaging/rpm, documentation

add systemd-journal.plugin to gitignore (#15743)
  .gitignore
Labels: none

.github/labeler.yml:

---
# This configures label matching for PR's.
#
# The keys are labels, and the values are lists of minimatch patterns
# to which those labels apply.
#
# NOTE: This can only add labels, not remove them.
# NOTE: Due to YAML syntax limitations, patterns or labels which start
# with a character that is part of the standard YAML syntax must be
# quoted.
#
# Please keep the labels sorted and deduplicated.

area/aclk:
  - aclk/*
  - aclk/**/*
  - database/sqlite/sqlite_aclk*
  - mqtt_websockets

area/claim:
  - claim/*

area/exporting:
  - exporting/*
  - exporting/**/*

area/build:
  - build/*
  - build/**/*
  - build_external/*
  - build_external/**/*
  - CMakeLists.txt
  - configure.ac
  - Makefile.am
  - "**/Makefile.am"

area/ci:
  - .github/*
  - .github/**/*

area/daemon:
  - daemon/*
  - daemon/**/*

area/database:
  - database/*
  - database/**/*

area/health:
  - health/*
  - health/**/*

area/ml:
  - ml/*
  - ml/**/*

area/packaging:
  - contrib/*
  - contrib/**/*
  - packaging/*
  - packaging/**/*
  - system/*
  - system/**/*
  - Dockerfile*
  - netdata-installer.sh
  - netdata.spec.in

area/packaging/deb:
  - packaging/repoconfig/debian/*
  - packaging/repoconfig/debian/**/*
  - packaging/repoconfig/build-deb.sh
  - packaging/repoconfig/Makefile
  - packaging/repoconfig/netdata.list.in
  - contrib/debian/*
  - contrib/debian/**/*

area/packaging/rpm:
  - packaging/repoconfig/netdata-repo.spec
  - packaging/repoconfig/build-rpm.sh
  - packaging/repoconfig/netdata*.repo.*
  - netdata.spec.in

area/registry:
  - registry/*
  - registry/**/*

area/streaming:
  - streaming/*
  - streaming/**/*

area/tests:
  - tests/*
  - tests/**/*
  - daemon/unit_test*
  - coverity-scan.sh
  - cppcheck.sh
  - netdata.cppcheck

area/web/api:
  - web/api/*
  - web/api/**/*

area/web/gui:
  - web/gui/*
  - web/gui/**/*

area/web/server:
  - web/server/*
  - web/server/**/*

collectors/apps:
  - collectors/apps.plugin/*
  - collectors/apps.plugin/**/*

collectors/cgroups:
  - collectors/cgroups.plugin/*
  - collectors/cgroups.plugin/**/*

collectors/charts.d:
  - collectors/charts.d.plugin/*
  - collectors/charts.d.plugin/**/*

collectors/cups:
  - collectors/cups.plugin/*
  - collectors/cups.plugin/**/*

collectors/debugfs:
  - collectors/debugfs.plugin/*
  - collectors/debugfs.plugin/**/*

collectors/diskspace:
  - collectors/diskspace.plugin/*
  - collectors/diskspace.plugin/**/*

collectors/ebpf:
  - collectors/ebpf.plugin/*
  - collectors/ebpf.plugin/**/*

collectors/freebsd:
  - collectors/freebsd.plugin/*
  - collectors/freebsd.plugin/**/*

collectors/freeipmi:
  - collectors/freeipmi.plugin/*
  - collectors/freeipmi.plugin/**/*

collectors/idlejitter:
  - collectors/idlejitter.plugin/*
  - collectors/idlejitter.plugin/**/*

collectors/ioping:
  - collectors/ioping.plugin/*
  - collectors/ioping.plugin/**/*

collectors/macos:
  - collectors/macos.plugin/*
  - collectors/macos.plugin/**/*

collectors/nfacct:
  - collectors/nfacct.plugin/*
  - collectors/nfacct.plugin/**/*

collectors/perf:
  - collectors/perf.plugin/*
  - collectors/perf.plugin/**/*

collectors/plugins.d:
  - collectors/plugins.d/*
  - collectors/plugins.d/**/*

collectors/proc:
  - collectors/proc.plugin/*
  - collectors/proc.plugin/**/*

collectors/python.d:
  - collectors/python.d.plugin/*
  - collectors/python.d.plugin/**/*

collectors/slabinfo:
  - collectors/slabinfo.plugin/*
  - collectors/slabinfo.plugin/**/*

collectors/statsd:
  - collectors/statsd.plugin/*
  - collectors/statsd.plugin/**/*

collectors/tc:
  - collectors/tc.plugin/*
  - collectors/tc.plugin/**/*

collectors/timex:
  - collectors/timex.plugin/*
  - collectors/timex.plugin/**/*

collectors/xenstat:
  - collectors/xenstat.plugin/*
  - collectors/xenstat.plugin/**/*

collectors/new:
  - all:
      - collectors/*/*
      - collectors/*/**/*
      - '!collectors/apps.plugin/*'
      - '!collectors/apps.plugin/**/*'
      - '!collectors/cgroups.plugin/*'
      - '!collectors/cgroups.plugin/**/*'
      - '!collectors/charts.d.plugin/*'
      - '!collectors/charts.d.plugin/**/*'
      - '!collectors/cups.plugin/*'
      - '!collectors/cups.plugin/**/*'
      - '!collectors/diskspace.plugin/*'
      - '!collectors/diskspace.plugin/**/*'
      - '!collectors/ebpf.plugin/*'
      - '!collectors/ebpf.plugin/**/*'
      - '!collectors/freebsd.plugin/*'
      - '!collectors/freebsd.plugin/**/*'
      - '!collectors/freeipmi.plugin/*'
      - '!collectors/freeipmi.plugin/**/*'
      - '!collectors/idlejitter.plugin/*'
      - '!collectors/idlejitter.plugin/**/*'
      - '!collectors/ioping.plugin/*'
      - '!collectors/ioping.plugin/**/*'
      - '!collectors/macos.plugin/*'
      - '!collectors/macos.plugin/**/*'
      - '!collectors/nfacct.plugin/*'
      - '!collectors/nfacct.plugin/**/*'
      - '!collectors/perf.plugin/*'
      - '!collectors/perf.plugin/**/*'
      - '!collectors/plugins.d/*'
      - '!collectors/plugins.d/**/*'
      - '!collectors/proc.plugin/*'
      - '!collectors/proc.plugin/**/*'
      - '!collectors/python.d.plugin/*'
      - '!collectors/python.d.plugin/**/*'
      - '!collectors/slabinfo.plugin/*'
      - '!collectors/slabinfo.plugin/**/*'
      - '!collectors/statsd.plugin/*'
      - '!collectors/statsd.plugin/**/*'
      - '!collectors/tc.plugin/*'
      - '!collectors/tc.plugin/**/*'
      - '!collectors/timex.plugin/*'
      - '!collectors/timex.plugin/**/*'
      - '!collectors/xenstat.plugin/*'
      - '!collectors/xenstat.plugin/**/*'

documentation:
  - "*.md"
  - "**/*.md"
  - "**/*.mdx"
  - diagrams/*
  - diagrams/**/*
