Repository netdata/netdata, pull requests merged in 2018-12, with the labels that each got.

#4694 fix(pagerduty): Use cURL instead of PagerDuty agent to send alarms.
  health/notifications/alarm-notify.sh.in
  health/notifications/health_alarm_notify.conf
Labels: area/health

#4907 Do not update repositories in CI operating system
  .travis.yml
Labels: area/ci, priority/high

#4635 Move cpuidle python module to proc plugin
  collectors/all.h
  collectors/proc.plugin/proc_stat.c
  collectors/python.d.plugin/python.d.plugin.in
Labels: area/collectors, area/external/python

#4905 Update python.d readme
  collectors/python.d.plugin/README.md
Labels: area/docs

#4915 better labeling
  .travis/generate_changelog.sh
  .travis/labeler.sh
Labels: no changelog, priority/low

#4768 Move mdstat python module to proc plugin
  Makefile.am
  collectors/all.h
  collectors/proc.plugin/README.md
  collectors/proc.plugin/plugin_proc.c
  collectors/proc.plugin/plugin_proc.h
  collectors/proc.plugin/proc_mdstat.c
  collectors/python.d.plugin/cpufreq/README.md
  collectors/python.d.plugin/mdstat/README.md
  collectors/python.d.plugin/python.d.plugin.in
Labels: area/collectors, priority/high

#4922 send all git log msg to fd3
  installer/netdata-updater.sh
Labels: area/packaging, priority/medium

#4930 update code owners
  .github/CODEOWNERS
Labels: area/ci

#4931 use proper request types and urls to update labels
  .travis/labeler.sh
Labels: no changelog

#4933 cleaner labeler code
  .travis/labeler.sh
Labels: area/ci, no changelog, priority/low

#4918 Config docs improvements
  Makefile.am
  collectors/python.d.plugin/README.md
  daemon/README.md
  daemon/config/README.md
  docs/Performance.md
  docs/configuration-guide.md
  docs/generator/buildhtml.sh
  docs/generator/buildyaml.sh
  docs/generator/checklinks.sh
  docs/generator/custom/css/netdata.css
  docs/generator/custom/img/favicon.ico
  docs/generator/custom/javascripts/cookie-consent.js
  docs/generator/custom/themes/material/partials/footer.html
  docs/netdata-for-IoT.md
  docs/netdata-security.md
  registry/README.md
  streaming/README.md
  web/api/health/README.md
  web/server/README.md
Labels: area/docs, no changelog

#4940 Add doc before path to GA in static site
  docs/generator/buildyaml.sh
  docs/generator/custom/themes/material/partials/footer.html
Labels: area/docs

#4951 Temporary workaround for #4945
  collectors/proc.plugin/proc_stat.c
Labels: priority/high

#4942 Add header to SMA webbox readme
  collectors/node.d.plugin/sma_webbox/README.md
Labels: area/docs

#4943 Add support for providing FQDN in alarm notifications.
  health/notifications/alarm-notify.sh.in
  health/notifications/health_alarm_notify.conf
Labels: area/health

#4948 Fix link in streaming hosts list
  CONTRIBUTORS.md
  web/gui/main.js
Labels: area/docs, area/web

#4952 Prevent netdata-updater.sh from sending cron report for git stash entries
  installer/netdata-updater.sh
Labels: area/packaging

#4949 allow label modification
  .travis/labeler.sh
Labels: area/ci, no changelog

#4966 Add support for Factorio server monitoring
  collectors/apps.plugin/apps_groups.conf
Labels: area/collectors

#4976 GCS access key shouldn't be encrypted
  .travis.yml
Labels: area/ci, no changelog

#4944 postgres fix: detect servers version and use the right query
  collectors/python.d.plugin/postgres/postgres.chart.py
Labels: area/collectors, area/external/python

#4923 Add support for nonredundant arrays
  collectors/all.h
  collectors/proc.plugin/README.md
  collectors/proc.plugin/proc_mdstat.c
  health/health.d/mdstat.conf
Labels: area/collectors, area/docs, area/health

#5015 allow development build
  packaging/docker/build.sh
Labels: no changelog

#5018 add new generation uploading schema
  .gitignore
  .travis.yml
  .travis/gcs-credentials.json.enc
Labels: no changelog

#4999 Show a warning if JavaScript is disabled #2422
  web/gui/index.html
  web/gui/main.css
Labels: area/web

#5024 fix location of encrypted file
  .travis.yml
  .travis/README.md
Labels: area/ci

#5021 Non-interactive uninstaller
  installer/UNINSTALL.md
  installer/netdata-uninstaller.sh
  tests/lifecycle.sh
Labels: area/docs, area/packaging, area/tests

#5012 remove cross-directory dependency in build system
  build/subst.inc
  collectors/charts.d.plugin/.keep
  collectors/charts.d.plugin/Makefile.am
  collectors/node.d.plugin/.keep
  collectors/node.d.plugin/Makefile.am
  collectors/python.d.plugin/.keep
  collectors/python.d.plugin/Makefile.am
  collectors/statsd.plugin/.keep
  collectors/statsd.plugin/Makefile.am
  health/.keep
  health/Makefile.am
  system/netdata-freebsd.in
Labels: area/collectors, area/external, area/external/python, area/health, area/packaging

#5036 copy artifacts to 'upload/'
  .gitignore
  .travis.yml
  .travis/create_artifacts.sh
Labels: area/ci, no changelog

#5043 change number of days needed by issue to go stale
  .github/CODEOWNERS
  .github/stale.yml
Labels: no changelog

#5037 Apcupsd add check for UPS online
  collectors/charts.d.plugin/apcupsd/apcupsd.chart.sh
Labels: area/collectors, area/external

#5032 Add warning for offset in Counter64 metrics
  collectors/node.d.plugin/snmp/README.md
Labels: area/docs

#5027 Add other web servers to proxy instructions
  docs/netdata-security.md
Labels: area/docs

#5061 Fix coverity issues
  collectors/proc.plugin/sys_class_power_supply.c
Labels: area/collectors

#5059 Disable cpuidle module if schedstat file is missing
  collectors/proc.plugin/proc_stat.c
Labels: area/collectors

#5038 Fix process statistics collection for FreeBSD in apps.plugin
  collectors/apps.plugin/apps_plugin.c
Labels: area/collectors

#5065 Fix cpuidle statistics in containers
  collectors/proc.plugin/proc_stat.c
Labels: area/collectors

#5069 Add how to add new alarm
  docs/configuration-guide.md
Labels: area/docs

#5076 Fix update instructions URL in frontend
  web/gui/main.js
Labels: area/web

#5049 fix IEC units in bash modules
  collectors/charts.d.plugin/mysql/mysql.chart.sh
  collectors/charts.d.plugin/tomcat/tomcat.chart.sh
Labels: area/collectors, area/external

#5083 Improve instructions on how to view the slave UI
  streaming/README.md
Labels: area/docs

#5080 Dashboard grammar change
  web/gui/dashboard_info.js
Labels: area/web

#5088 Removed c3, morris and raphael JS libraries (#5086)
  .gitignore
  web/gui/Makefile.am
  web/gui/lib/c3-0.4.18.min.js
  web/gui/lib/morris-0.5.1.min.js
  web/gui/lib/raphael-2.2.4-min.js
Labels: area/web
