Repository netdata/netdata, pull requests merged in 2018-11, with the labels that each got.

#4559 decouple nightly cron jobs from packaging stage
  .travis.yml
  .travis/generate_changelog.sh
Labels: CI/CD and testing, bug

#4523 smartd_log refactor plus SCSI support
  collectors/python.d.plugin/smartd_log/README.md
  collectors/python.d.plugin/smartd_log/smartd_log.chart.py
  collectors/python.d.plugin/smartd_log/smartd_log.conf
Labels: module/python

#4589 nvidia_smi: init version added
  collectors/python.d.plugin/Makefile.am
  collectors/python.d.plugin/nvidia_smi/Makefile.inc
  collectors/python.d.plugin/nvidia_smi/README.md
  collectors/python.d.plugin/nvidia_smi/nvidia_smi.chart.py
  collectors/python.d.plugin/nvidia_smi/nvidia_smi.conf
  collectors/python.d.plugin/python.d.conf
Labels: module/python

#4643 Update installer/functions.sh
  installer/functions.sh
Labels: OS/installation

#4634 Minor cleanup of main.js
  web/gui/main.js
Labels: refactoring

#4513 openldap monitoring plugin added
  collectors/python.d.plugin/Makefile.am
  collectors/python.d.plugin/openldap/Makefile.inc
  collectors/python.d.plugin/openldap/README.md
  collectors/python.d.plugin/openldap/openldap.chart.py
  collectors/python.d.plugin/openldap/openldap.conf
  collectors/python.d.plugin/python.d.conf
Labels: module/python

#4667 Update lm_sensors and catch specific errors.
  collectors/python.d.plugin/python_modules/third_party/lm_sensors.py
  collectors/python.d.plugin/sensors/sensors.chart.py
Labels: module/python

#4682 allign code ownership
  .github/CODEOWNERS
Labels: area/ci, area/docs, priority/high

#4697 Fix typo and py2 compatibility issue.
  collectors/python.d.plugin/python_modules/third_party/lm_sensors.py
Labels: area/external/python

#4689 Update installer/README.md
  installer/README.md
Labels: area/docs

#4707 added byte unit scaling
  web/gui/dashboard.js
Labels: area/web

#4706 Add option to create release candidates
  .travis/README.md
  .travis/releaser.sh
  .travis/tagger.sh
Labels: area/ci

#4712 Move changelog generation to the end in release pipeline
  .travis/releaser.sh
  .travis/tagger.sh
  configure.ac
Labels: area/ci, priority/high

#4715 Test integrity of dashboard.js
  .travis.yml
  .travis/releaser.sh
  build/build.sh
  configure.ac
  web/gui/dashboard.js
Labels: area/ci, area/tests, area/web

#4722 add more layers to container image
  docker/Dockerfile
Labels: area/packaging

#4728 Better changelog generation when releasing new version
  .travis.yml
  .travis/generate_changelog.sh
  .travis/releaser.sh
  .travis/tagger.sh
Labels: area/ci, priority/high

#4738 docker: correct invalid syntax
  docker/Dockerfile
Labels: area/packaging, priority/high

#4741 Rename `doc` to `docs` and move `htmldoc`
  .gitignore
  Makefile.am
  daemon/config/README.md
  docker/Dockerfile
  docs/Add-more-charts-to-netdata.md
  docs/Demo-Sites.md
  docs/Donations-netdata-has-received.md
  docs/GettingStarted.md
  docs/Netdata-Security-and-Disclosure-Information.md
  docs/Performance.md
  docs/Running-behind-apache.md
  docs/Running-behind-caddy.md
  docs/Running-behind-lighttpd.md
  docs/Running-behind-nginx.md
  docs/Third-Party-Plugins.md
  docs/Why-Netdata.md
  docs/a-github-star-is-important.md
  docs/generator/buildhtml.sh
  docs/generator/buildyaml.sh
  docs/generator/checklinks.sh
  docs/generator/requirements.txt
  docs/generator/runtime.txt
  docs/generator/themes/material/partials/footer.html
  docs/high-performance-netdata.md
  docs/netdata-for-IoT.md
  docs/netdata-security.md
  htmldoc/buildhtml.sh
  installer/README.md
  netlify.toml
  registry/README.md
  web/gui/demosites.html
  web/gui/index.html
  web/gui/main.js
Labels: area/docs

#4720 python.d: use real time for calc sinceLast
  collectors/python.d.plugin/python_modules/bases/FrameworkServices/SimpleService.py
  collectors/python.d.plugin/python_modules/bases/charts.py
  collectors/python.d.plugin/python_modules/bases/loggers.py
Labels: area/external/python

#4690 lint all shell collectors code
  collectors/charts.d.plugin/ap/ap.chart.sh
  collectors/charts.d.plugin/apache/apache.chart.sh
  collectors/charts.d.plugin/apcupsd/apcupsd.chart.sh
  collectors/charts.d.plugin/charts.d.dryrun-helper.sh
  collectors/charts.d.plugin/charts.d.plugin.in
  collectors/charts.d.plugin/cpu_apps/cpu_apps.chart.sh
  collectors/charts.d.plugin/cpufreq/cpufreq.chart.sh
  collectors/charts.d.plugin/example/example.chart.sh
  collectors/charts.d.plugin/exim/exim.chart.sh
  collectors/charts.d.plugin/hddtemp/hddtemp.chart.sh
  collectors/charts.d.plugin/libreswan/libreswan.chart.sh
  collectors/charts.d.plugin/load_average/load_average.chart.sh
  collectors/charts.d.plugin/loopsleepms.sh.inc
  collectors/charts.d.plugin/mem_apps/mem_apps.chart.sh
  collectors/charts.d.plugin/mysql/mysql.chart.sh
  collectors/charts.d.plugin/nginx/nginx.chart.sh
  collectors/charts.d.plugin/nut/nut.chart.sh
  collectors/charts.d.plugin/opensips/opensips.chart.sh
  collectors/charts.d.plugin/phpfpm/phpfpm.chart.sh
  collectors/charts.d.plugin/postfix/postfix.chart.sh
  collectors/charts.d.plugin/sensors/sensors.chart.sh
  collectors/charts.d.plugin/squid/squid.chart.sh
  collectors/charts.d.plugin/tomcat/tomcat.chart.sh
Labels: area/collectors, priority/low

#4757 web_log: add alarm on unmatched lines
  health/health.d/web_log.conf
Labels: area/external/python, area/health

#4748 remove rolling version suffix
  configure.ac
Labels: area/packaging

#3960 Generalize the recipient finding logic and reduce the boilerplate code.
  health/notifications/alarm-notify.sh.in
Labels: area/health

#4627 Cleanup docker packaging and contrib
  .githooks/post-commit
  .githooks/pre-commit
  .githooks/prepare-commit-msg
  .travis.yml
  .travis/releaser.sh
  Makefile.am
  README.md
  build/build.sh
  configure.ac
  contrib/Makefile.am
  docs/generator/buildyaml.sh
  installer/README.md
  packaging/README.md
  packaging/check-files
  packaging/docker/Dockerfile
  packaging/docker/README.md
  packaging/docker/build.sh
  packaging/docker/run.sh
  packaging/git-build
  packaging/gpg-recv-key
  packaging/packaging.functions
  packaging/release-msg
  packaging/tar-compare
  packaging/update-tags
Labels: area/packaging, priority/medium

#4558 Better updater
  .gitignore
  installer/functions.sh
  installer/netdata-uninstaller.sh
  installer/netdata-updater.sh
  netdata-installer.sh
Labels: area/packaging, priority/medium

#4786 netdata-security doc corrections
  docs/netdata-security.md
Labels: area/docs

#4795 auto-label PRs and minor cleanup
  .travis.yml
  .travis/labeler.sh
  installer/netdata-updater.sh
Labels: area/ci, area/packaging

#4799 Add debug instructions for python modules
  collectors/python.d.plugin/README.md
Labels: area/docs

#4800 Improve SYNPROXY documentation
  collectors/proc.plugin/README.md
Labels: area/docs

#4802 Minor updates in htmldoc
  docs/generator/buildhtml.sh
Labels: area/docs

#4803 Anonymize IPs in README.md Google Analytics
  README.md
Labels: area/docs
