Repository netdata/netdata, pull requests merged in 2019-03, with the labels that each got.

#5511 Prevent data corruption upon GUID duplication between master and slave netdata instances
  streaming/rrdpush.c
Labels: area/streaming

#5539 Correct go.d.plugin sha256sum check
  netdata-installer.sh
Labels: area/packaging

#5531 Support legacy Prometheus metric names for source average
  backends/prometheus/README.md
  backends/prometheus/backend_prometheus.c
  backends/prometheus/backend_prometheus.h
  tests/backends/prometheus-avg-oldunits.txt
  tests/backends/prometheus-avg.txt
  tests/backends/prometheus-raw.txt
  tests/backends/prometheus.bats
  web/api/exporters/allmetrics.c
  web/api/netdata-swagger.json
  web/api/netdata-swagger.yaml
Labels: area/backends, area/docs, area/tests, area/web

#5548 Have the debug option set the freeipmi debug flags
  collectors/freeipmi.plugin/freeipmi_plugin.c
Labels: area/collectors

#5544 Add news for 1.12.1 and 1.12.2 to main readme
  README.md
Labels: area/docs

#5536 Minor fixes around plugin_directories initialization
  collectors/cgroups.plugin/sys_fs_cgroup.c
  collectors/plugins.d/plugins_d.c
  collectors/plugins.d/plugins_d.h
  collectors/tc.plugin/plugin_tc.c
  daemon/common.c
  daemon/common.h
  daemon/main.c
  database/rrdhost.c
Labels: area/collectors, area/daemon, area/database

#5551 Pass agent id to authorization pages
  web/gui/main.js
Labels: area/web

#5540 Don't send zeroes for empty groups
  collectors/apps.plugin/apps_plugin.c
Labels: area/collectors

#5507 Convert SpigotMC module to use regexes for parsing.
  collectors/python.d.plugin/spigotmc/spigotmc.chart.py
Labels: area/collectors, area/external/python

#5395 Add zero minimum in linux power supply module
  collectors/proc.plugin/sys_class_power_supply.c
Labels: area/collectors

#5522 Add IPC shared memory charts
  collectors/all.h
  collectors/proc.plugin/README.md
  collectors/proc.plugin/ipc.c
Labels: area/collectors, area/docs

#5552 python.d.plugin: use separate process for initial module checking
  collectors/python.d.plugin/powerdns/powerdns.chart.py
  collectors/python.d.plugin/python.d.plugin.in
  collectors/python.d.plugin/python_modules/bases/FrameworkServices/SimpleService.py
  collectors/python.d.plugin/python_modules/bases/loaders.py
  collectors/python.d.plugin/python_modules/bases/loggers.py
Labels: area/collectors, area/external/python

#5561 Fix incorrect icon for streaming master #5560
  web/gui/index.html
  web/gui/main.js
Labels: area/web

#5573 Wait for logs to be opened before calling anonymous statistics
  daemon/main.c
Labels: area/daemon

#5557 Delay renaming for docker containers
  collectors/cgroups.plugin/cgroup-name.sh.in
  collectors/cgroups.plugin/sys_fs_cgroup.c
Labels: area/collectors

#5593 spigotmc: py2 compatibility fix
  collectors/python.d.plugin/spigotmc/spigotmc.chart.py
Labels: area/collectors, area/external/python

#5563 Fix nonobsolete dimension deletion
  database/rrdset.c
Labels: area/database

#5600 Update custom dashboards documentation
  web/gui/custom/README.md
Labels: area/docs

#5592 Use total_* memory counters for cgroups
  collectors/cgroups.plugin/sys_fs_cgroup.c
Labels: area/collectors

#5365 sslcheck module: (remote) SSL certificate expiry time check
  collectors/python.d.plugin/Makefile.am
  collectors/python.d.plugin/sslcheck/Makefile.inc
  collectors/python.d.plugin/sslcheck/README.md
  collectors/python.d.plugin/sslcheck/sslcheck.chart.py
  collectors/python.d.plugin/sslcheck/sslcheck.conf
  health/Makefile.am
  health/health.d/sslcheck.conf
Labels: area/collectors, area/docs, area/external/python

#5576 When running from within a k8s pod, use the k8s API to get the cgroup name
  collectors/cgroups.plugin/cgroup-name.sh.in
  collectors/cgroups.plugin/sys_fs_cgroup.c
  daemon/anonymous-statistics.sh.in
  packaging/docker/README.md
  packaging/docker/build-test.sh
Labels: area/collectors, area/packaging

#5604 Fix memory leaks
  collectors/plugins.d/plugins_d.c
  collectors/proc.plugin/proc_stat.c
Labels: area/collectors

#5579 remove paulfantom code ownership and TODO notices
  .github/CODEOWNERS
  .travis.yml
Labels: area/ci

#5646 Add v1.13 news to main README
  README.md
Labels: area/docs, no changelog

#5581 fix command not found error when run script under root user.
  packaging/installer/README.md
  packaging/installer/kickstart.sh
Labels: area/docs, area/packaging

#5645 x509check alarm fix
  health/Makefile.am
  health/health.d/x509check.conf
Labels: area/health

#5651 Load gtm only if anonymous_statistics are enabled
  web/gui/dashboard.js
  web/gui/index.html
  web/gui/src/dashboard.js/registry.js
Labels: area/web

#5650 Fix slack notifications footer and set cloud redirect URL to http
  health/notifications/alarm-notify.sh.in
Labels: area/health

#5659 Remove obsolete python modules
  README.md
  collectors/python.d.plugin/Makefile.am
  collectors/python.d.plugin/cpufreq/Makefile.inc
  collectors/python.d.plugin/cpufreq/README.md
  collectors/python.d.plugin/cpufreq/cpufreq.chart.py
  collectors/python.d.plugin/cpufreq/cpufreq.conf
  collectors/python.d.plugin/cpuidle/Makefile.inc
  collectors/python.d.plugin/cpuidle/README.md
  collectors/python.d.plugin/cpuidle/cpuidle.chart.py
  collectors/python.d.plugin/cpuidle/cpuidle.conf
  collectors/python.d.plugin/linux_power_supply/Makefile.inc
  collectors/python.d.plugin/linux_power_supply/README.md
  collectors/python.d.plugin/linux_power_supply/linux_power_supply.chart.py
  collectors/python.d.plugin/linux_power_supply/linux_power_supply.conf
  collectors/python.d.plugin/mdstat/Makefile.inc
  collectors/python.d.plugin/mdstat/README.md
  collectors/python.d.plugin/mdstat/mdstat.chart.py
  collectors/python.d.plugin/mdstat/mdstat.conf
  collectors/python.d.plugin/python.d.conf
  docs/Add-more-charts-to-netdata.md
Labels: area/collectors, area/docs, area/external/python

#5667 Fix py2-psycopg2 right after upgrade
  packaging/docker/Dockerfile
Labels: area/packaging

#5571 Patch netdata-installer.sh to avoid unwanted errors during stock config cleanup
  netdata-installer.sh
Labels: area/packaging

#5656 netdata/build: A small house keeping around coverity scan (no functional or process change)
  .travis.yml
  .travis/nightlies.sh
  .travis/releaser.sh
  Makefile.am
  coverity-install.sh
  coverity-scan.sh
Labels: area/ci

#5569 Make sign-in functionality more visible
  web/gui/index.html
  web/gui/main.css
  web/gui/main.js
Labels: area/web

#5675 bring uninstaller back
  Makefile.am
  netdata-installer.sh
Labels: area/packaging

#5678 netdata/packaging/uninstaller: Update uninstall document
  packaging/installer/UNINSTALL.md
Labels: area/docs

#5591 Split docker build script into build and publish - attempt small cleanups along the way
  .travis.yml
  .travis/nightlies.sh
  .travis/releaser.sh
  packaging/docker/build-test.sh
  packaging/docker/build.sh
  packaging/docker/publish.sh
Labels: area/ci, area/packaging

#5695 Remove temp log file if no update needed
  packaging/installer/netdata-updater.sh
Labels: area/packaging

#5662 Add SMS Server Tools 3 SMS notifications
  README.md
  health/notifications/Makefile.am
  health/notifications/alarm-notify.sh.in
  health/notifications/health_alarm_notify.conf
  health/notifications/smstools3/Makefile.inc
  health/notifications/smstools3/README.md
Labels: area/docs, area/health

#5689 Integrity testing: Check published kickstart files integrity
  .travis.yml
  tests/installer/checksums.sh
  tests/installer/slack.sh
Labels: area/ci, area/packaging

#5700 add 'containers priority' option to cgroups plugin
  collectors/cgroups.plugin/sys_fs_cgroup.c
Labels: area/collectors

#5661 postgres add ssl connection support
  collectors/python.d.plugin/postgres/postgres.chart.py
  collectors/python.d.plugin/postgres/postgres.conf
Labels: area/collectors, area/external/python

#5709 netdata/packaging/ci: nits
  tests/installer/checksums.sh
  tests/installer/slack.sh
Labels: area/packaging

#5660 Add xenstat plugin
  .gitignore
  CMakeLists.txt
  Makefile.am
  collectors/README.md
  collectors/apps.plugin/apps_groups.conf
  collectors/plugins.d/README.md
  collectors/xenstat.plugin/Makefile.am
  collectors/xenstat.plugin/README.md
  collectors/xenstat.plugin/xenstat_plugin.c
  configure.ac
  docs/Add-more-charts-to-netdata.md
  docs/generator/buildyaml.sh
  netdata-installer.sh
  web/gui/dashboard_info.js
Labels: area/collectors, area/docs, area/packaging

#5703 Send custom docs
  README.md
  health/notifications/Makefile.am
  health/notifications/custom/Makefile.inc
  health/notifications/custom/README.md
  health/notifications/health_alarm_notify.conf
Labels: area/docs, area/health

#5724 add some kubelet alarms
  health/Makefile.am
  health/health.d/kubelet.conf
Labels: area/health

#5707 NEW: authdb option for MongoDB collector
  collectors/python.d.plugin/mongodb/README.md
  collectors/python.d.plugin/mongodb/mongodb.chart.py
  collectors/python.d.plugin/mongodb/mongodb.conf
Labels: area/collectors, area/docs, area/external/python

#5740 installer: include go.d.plugin version v0.3.1
  netdata-installer.sh
  packaging/go.d.checksums
Labels: area/packaging

#5736 netdata/packaging/installer: netdata-installer.sh script (and subscripts) refactoring wrap-up
  netdata-installer.sh
  packaging/installer/functions.sh
  packaging/makeself/install-or-update.sh
  packaging/makeself/jobs/50-bash-4.4.18.install.sh
  packaging/makeself/jobs/50-curl-7.60.0.install.sh
  packaging/makeself/jobs/50-fping-4.2.install.sh
Labels: area/packaging, performance, priority/medium

#5708 netdata/packaging/ci: Make Travis CI more strict on nightlies run
  .travis/generate_changelog.sh
  .travis/nightlies.sh
  packaging/docker/build.sh
  packaging/docker/publish.sh
Labels: area/ci, area/packaging

#5739 access: fix codeowners
  .github/CODEOWNERS
Labels: area/ci

#5549 Fix some misspells in docs and code
  backends/WALKTHROUGH.md
  backends/prometheus/README.md
  backends/prometheus/backend_prometheus.c
Labels: area/backends, area/docs
