Repository netdata/netdata, pull requests merged in 2019-01, with the labels that each got.

#4688 move makeself
  .gitignore
  .travis/create_artifacts.sh
  Makefile.am
  configure.ac
  makeself/Makefile.am
  packaging/makeself/README.md
  packaging/makeself/build-x86_64-static.sh
  packaging/makeself/build.sh
  packaging/makeself/functions.sh
  packaging/makeself/install-alpine-packages.sh
  packaging/makeself/install-or-update.sh
  packaging/makeself/jobs/10-prepare-destination.install.sh
  packaging/makeself/jobs/50-bash-4.4.18.install.sh
  packaging/makeself/jobs/50-curl-7.60.0.install.sh
  packaging/makeself/jobs/50-fping-4.0.install.sh
  packaging/makeself/jobs/70-netdata-git.install.sh
  packaging/makeself/jobs/99-makeself.install.sh
  packaging/makeself/makeself-header.sh
  packaging/makeself/makeself-help-header.txt
  packaging/makeself/makeself-license.txt
  packaging/makeself/makeself.lsm
  packaging/makeself/makeself.sh
  packaging/makeself/post-installer.sh
  packaging/makeself/run-all-jobs.sh
Labels: area/ci, area/docs, area/packaging, no changelog

#5011 move kickstart files
  Makefile.am
  packaging/installer/kickstart-static64.sh
  packaging/installer/kickstart.sh
Labels: area/packaging, no changelog

#5010 copy updater script instead of linking it
  .gitignore
  netdata-installer.sh
  tests/lifecycle.sh
Labels: area/packaging, area/tests

#5100 Correct memory usage statement in memory=none
  streaming/README.md
Labels: area/docs

#5099 fix permissions for log files when building rpms
  netdata.spec.in
Labels: area/packaging

#5051 Unify versioning
  .travis.yml
  .travis/generate_changelog.sh
  .travis/nightlies.sh
  .travis/releaser.sh
  .travis/tagger.sh
  configure.ac
  packaging/makeself/jobs/99-makeself.install.sh
Labels: area/ci, area/packaging

#5097 web-site content; why-netdata content
  Makefile.am
  README.md
  docs/Why-Netdata.md
  docs/generator/buildyaml.sh
  docs/why-netdata/1s-granularity.md
  docs/why-netdata/README.md
  docs/why-netdata/immediate-results.md
  docs/why-netdata/meaningful-presentation.md
  docs/why-netdata/unlimited-metrics.md
  web/gui/demosites.html
Labels: area/docs, area/web

#5130 better artifacts uploading
  .gitignore
  .travis.yml
  .travis/create_artifacts.sh
Labels: area/ci, area/packaging, no changelog

#5126 exclude 'docs' directory from build system
  Makefile.am
Labels: area/packaging, no changelog

#5140 hddtemp fix: don't use disk model as dim name
  collectors/python.d.plugin/hddtemp/hddtemp.chart.py
Labels: area/external/python

#5141 go_expavar fix: don't check for duplicate expvars
  collectors/python.d.plugin/go_expvar/go_expvar.chart.py
Labels: area/collectors, area/external/python

#5137 Scramble packages in docker images with polymorphic linux
  packaging/docker/Dockerfile
  packaging/docker/README.md
  packaging/docker/run.sh
Labels: area/docs, area/packaging

#5142 rabbitmq: api/nodes requests fix
  collectors/python.d.plugin/rabbitmq/rabbitmq.chart.py
Labels: area/collectors, area/external/python

#5138 add option to opt-out from telemetry program
  netdata-installer.sh
Labels: area/packaging

#5148 temporary disable OSX builds
  .travis.yml
Labels: area/ci, no changelog

#5145 test building docker container on every PR
  .travis.yml
  packaging/docker/build.sh
  tests/lifecycle.sh
Labels: area/ci, area/packaging, area/tests, no changelog

#5150 Fix typo in plugins.d/README.md
  collectors/plugins.d/README.md
Labels: area/docs

#5168 nightly build only when sth changed
  .travis/nightlies.sh
Labels: area/ci, no changelog

#5162 Lint cgroup name.sh.in
  collectors/cgroups.plugin/cgroup-name.sh.in
Labels: area/collectors, no changelog

#5163 Lint tc-qos-helper.sh.in
  collectors/tc.plugin/tc-qos-helper.sh.in
Labels: area/collectors, no changelog

#5166 Change how the ip address and port are logged in socket.c
  libnetdata/socket/socket.c
Labels: area/libnetdata

#4969 Port ACLs, Management API and Health commands
  .gitignore
  CMakeLists.txt
  Makefile.am
  build/subst.inc
  configure.ac
  daemon/main.c
  database/rrdcalc.h
  database/rrdhost.c
  database/rrdsetvar.c
  database/rrdvar.c
  docs/generator/buildyaml.sh
  docs/generator/requirements.txt
  health/README.md
  health/health.c
  health/health.h
  health/health_json.c
  health/health_log.c
  libnetdata/socket/socket.c
  libnetdata/socket/socket.h
  registry/README.md
  registry/registry.h
  registry/registry_person.c
  registry/registry_url.c
  streaming/README.md
  tests/Makefile.am
  tests/health_mgmtapi/README.md
  tests/health_mgmtapi/health-cmdapi-test.sh.in
  tests/health_mgmtapi/python-example.conf
  web/api/Makefile.am
  web/api/health/Makefile.am
  web/api/health/README.md
  web/api/health/health_cmdapi.c
  web/api/health/health_cmdapi.h
  web/api/netdata-swagger.json
  web/api/netdata-swagger.yaml
  web/api/web_api_v1.c
  web/api/web_api_v1.h
  web/server/Makefile.am
  web/server/README.md
  web/server/multi/README.md
  web/server/multi/multi-threaded.c
  web/server/multi/multi-threaded.h
  web/server/single/Makefile.am
  web/server/single/README.md
  web/server/single/single-threaded.c
  web/server/single/single-threaded.h
  web/server/static/static-threaded.c
  web/server/web_client.c
  web/server/web_client.h
  web/server/web_server.c
  web/server/web_server.h
Labels: area/database, area/docs, area/health, area/tests

#5174 GCS-based updater
  netdata-installer.sh
  packaging/installer/netdata-updater.sh
  tests/lifecycle.sh
Labels: area/packaging, area/tests

#5184 Fix for unix sockets after addition of port ACLs
  libnetdata/socket/socket.c
Labels: bug, priority/high

#5121 self-contained uninstaller
  .travis.yml
  netdata-installer.sh
  packaging/installer/UNINSTALL.md
  packaging/installer/netdata-uninstaller.sh
  tests/lifecycle.bats
  tests/lifecycle.sh
Labels: area/packaging

#5185 Use tarballs from GCS in kickstart.sh
  packaging/installer/kickstart.sh
Labels: area/packaging

#5187 allow less verbose container image build
  packaging/docker/Dockerfile
  packaging/docker/build.sh
Labels: area/packaging, no changelog

#5216 Bug fix for netdata behind authenticated proxies
  tests/health_mgmtapi/health-cmdapi-test.sh.in
  web/api/health/README.md
  web/server/web_client.c
Labels: area/docs, area/tests, area/web

#5217 python dockerd module: check version
  collectors/python.d.plugin/dockerd/README.md
  collectors/python.d.plugin/dockerd/dockerd.chart.py
Labels: area/collectors, area/docs, area/external/python

#5230 fix md5sum
  packaging/installer/README.md
Labels: area/docs, no changelog

#5242 Update kickstart.sh md5sum in docs
  packaging/installer/README.md
Labels: area/docs

#5245 plugins.d doc: Remove empty similar headline
  collectors/plugins.d/README.md
Labels: area/docs

#5219 More robust nightly pipeline
  .travis/nightlies.sh
Labels: area/ci, no changelog

#5223 Remove v before the version
  web/gui/main.js
Labels: area/web

#5132 alarm-notify: Add Prowl integration for iOS users.
  health/notifications/alarm-notify.sh.in
  health/notifications/health_alarm_notify.conf
  health/notifications/prowl/Makefile.inc
  health/notifications/prowl/README.md
Labels: area/docs, area/health

#5250 Mysql charts fix
  collectors/python.d.plugin/mysql/mysql.chart.py
Labels: area/external/python

#5222 Instruct users to use edit-config
  docs/netdata-for-IoT.md
Labels: area/docs

#5101 Update info on plugins in performance doc
  docs/Performance.md
Labels: area/docs

#5211 Don't show zero charts for ZFS filesystem
  collectors/freebsd.plugin/freebsd_kstat_zfs.c
  collectors/proc.plugin/proc_spl_kstat_zfs.c
  collectors/proc.plugin/zfs_common.c
  collectors/proc.plugin/zfs_common.h
Labels: area/collectors

#5259 Fix typo in docs/configuration-guide.md
  docs/configuration-guide.md
Labels: area/docs

#5260 ceph module bugfix: fix invalid json response
  collectors/python.d.plugin/ceph/ceph.chart.py
Labels: area/collectors, area/external/python

#5258 SUSE addition
  packaging/maintainers/README.md
Labels: area/docs

#5221 Improvements to QoS (tc) documentation
  collectors/tc.plugin/README.md
Labels: area/docs

#5113 Anonymous statistics
  .gitignore
  collectors/apps.plugin/apps_plugin.c
  collectors/cgroups.plugin/cgroup-network.c
  collectors/freeipmi.plugin/freeipmi_plugin.c
  daemon/Makefile.am
  daemon/anonymous-statistics.sh.in
  daemon/common.h
  daemon/daemon.h
  daemon/main.c
  daemon/main.h
  docs/anonymous-statistics.md
  docs/generator/buildyaml.sh
  docs/netdata-security.md
  docs/privacy-policy.md
  docs/terms-of-use.md
  libnetdata/libnetdata.h
  libnetdata/log/log.c
  libnetdata/log/log.h
  packaging/installer/functions.sh
  registry/registry.c
  web/gui/dashboard.js
  web/gui/index.html
  web/gui/src/dashboard.js/registry.js
Labels: area/collectors, area/daemon, area/libnetdata, area/packaging, area/registry, area/web

#5276 kickstart.sh: remove updater symlink
  packaging/installer/README.md
  packaging/installer/kickstart.sh
Labels: area/docs, area/packaging, no changelog

#5283 GUI Update check - use version instead of commit
  web/gui/index.html
  web/gui/main.js
Labels: area/web

#5288 updated cncf landscape url
  README.md
Labels: area/docs

#5291 Add errno to fatal event for statistics
  libnetdata/log/log.c
Labels: area/libnetdata

#5292 Correct info on what kickstart.sh does
  README.md
Labels: area/docs

#5269 Improve apps grouping config and docs
  collectors/apps.plugin/README.md
  collectors/apps.plugin/apps_groups.conf
Labels: area/collectors, area/docs

#5264 varnish module: add instance_name option
  collectors/python.d.plugin/varnish/README.md
  collectors/python.d.plugin/varnish/varnish.chart.py
  collectors/python.d.plugin/varnish/varnish.conf
Labels: area/collectors, area/docs, area/external/python
