Repository netdata/netdata, pull requests merged in 2019-11, with the labels that each got.

#7238 .travis.yml: Prevent nightly jobs from timing out (again)
  .travis.yml
  .travis/utils.sh
Labels: area/ci

#7225 Clarify database engine/RAM in getting started guide
  docs/getting-started.md
Labels: area/docs

#7210 Building a fuzzer against the API (issue #7163)
  tests/api/fuzzer.py
  web/api/netdata-swagger.json
  web/api/netdata-swagger.yaml
Labels: area/tests, area/web

#7242 Typo
  collectors/README.md
Labels: area/docs

#7246 netdata/docs: netdata installer documentation minor nit
  packaging/installer/README.md
Labels: area/docs

#7250 Update SYN cookie alarm to be less aggressive.
  health/health.d/tcp_listen.conf
Labels: area/health

#7200 netdata-installer.sh follow-up based on #7060 review
  netdata-installer.sh
  packaging/installer/functions.sh
Labels: area/packaging

#7083 Second part of fix for #7040
  packaging/installer/README.md
  packaging/installer/kickstart-static64.sh
Labels: area/docs, area/packaging

#7027 netdata/installer: add missing flags on installer
  netdata-installer.sh
Labels: area/packaging

#7243 fix_irc_notification: Remove line break from message
  health/notifications/alarm-notify.sh.in
Labels: area/health

#7256 web_log: treat 401 Unauthorized requests as successful
  collectors/python.d.plugin/web_log/web_log.chart.py
  web/gui/dashboard_info.js
Labels: area/collectors, area/external/python

#7244 Ownership and permissions of /etc/netdata
  collectors/Makefile.am
  collectors/charts.d.plugin/Makefile.am
  collectors/node.d.plugin/Makefile.am
  collectors/python.d.plugin/Makefile.am
  collectors/statsd.plugin/Makefile.am
  contrib/debian/rules
  health/Makefile.am
  netdata-installer.sh
  netdata.spec.in
  packaging/makeself/install-or-update.sh
  system/Makefile.am
  web/Makefile.am
Labels: area/collectors, area/external, area/external/python, area/health, area/packaging, area/web

#7289 apps.plugin: add process group for git-related processes
  collectors/apps.plugin/apps_groups.conf
Labels: area/collectors

#7180 TimescaleDB connection page
  README.md
  backends/README.md
  backends/TIMESCALE.md
Labels: area/docs

#7306 Fix missing streaming when slave has SSL activated.
  collectors/plugins.d/plugins_d.c
  database/rrd.h
  database/rrdhost.c
  streaming/rrdpush.c
Labels: area/collectors, area/database, area/streaming

#7312 Updating the Travis pipeline (issue 7189)
  .travis.yml
  .travis/clangformat.sh
  CONTRIBUTING.md
  daemon/main.c
  libnetdata/simple_pattern/simple_pattern.c
Labels: area/ci, area/daemon, area/docs

#7322 Fine tune various alarm values.
  health/health.d/dnsmasq_dhcp.conf
  health/health.d/megacli.conf
  health/health.d/net.conf
  health/health.d/pihole.conf
  health/health.d/ram.conf
  health/health.d/softnet.conf
  health/health.d/tcp_listen.conf
  health/health.d/udp_errors.conf
Labels: area/health

#7318 - Retrieve current affinity of the process and make sure not to
  collectors/proc.plugin/proc_stat.c
Labels: area/collectors

#7330 Update README.md
  packaging/installer/README.md
Labels: area/docs

#7088 Fix to docker-compose+Caddy installation
  packaging/docker/README.md
Labels: area/docs

#7194 Added GA links to new documents
  docs/contributing/contributing-documentation.md
  docs/contributing/style-guide.md
  docs/getting-started.md
  docs/netdata-cloud/README.md
  docs/netdata-cloud/nodes-view.md
  docs/netdata-cloud/signing-in.md
  docs/tutorials/dimension-templates.md
  docs/tutorials/longer-metrics-storage.md
  docs/tutorials/monitor-hadoop-cluster.md
  packaging/DISTRIBUTIONS.md
Labels: area/docs

#7333 collectors: apps.plugin: apps_groups: added new frr daemons.
  collectors/apps.plugin/apps_groups.conf
Labels: area/collectors

#7308 CMocka tests for Issue 7274
  CMakeLists.txt
  Makefile.am
  web/api/tests/valid_urls.c
  web/api/tests/web_api.c
  web/server/web_client.c
Labels: area/web

#7342 7232: Fix Debian dependencies
  contrib/debian/control.jessie
Labels: area/packaging

#7355 Correct versions of FreeNAS that Netdata is available on
  packaging/installer/README.md
Labels: area/docs

#7359 Tutorials to support v1.19 release
  docs/tutorials/collect-apache-nginx-web-logs.md
  docs/tutorials/collect-unbound-metrics.md
Labels: area/docs

#7372 nvidia-smi: not loop mode
  collectors/python.d.plugin/nvidia_smi/README.md
  collectors/python.d.plugin/nvidia_smi/nvidia_smi.chart.py
  collectors/python.d.plugin/nvidia_smi/nvidia_smi.conf
Labels: area/collectors, area/docs, area/external/python

#7376 Do not crash when logging UTF-8 data in Python 2
  collectors/python.d.plugin/python_modules/bases/FrameworkServices/SocketService.py
  collectors/python.d.plugin/python_modules/bases/collection.py
  collectors/python.d.plugin/python_modules/bases/loggers.py
Labels: area/collectors, area/external/python
