Repository netdata/netdata, pull requests merged in 2019-02, with the labels that each got.

#5312 Minor improvements to rpm spec file
  netdata.spec.in
Labels: no changelog

#5316 Remove warnings for send_statistics
  collectors/freeipmi.plugin/freeipmi_plugin.c
Labels: no changelog

#5315 Clarify that uninstaller.sh needs to be downloaded
  packaging/installer/UNINSTALL.md
Labels: area/docs

#5188 CUPS plugin
  .gitignore
  Makefile.am
  collectors/Makefile.am
  collectors/README.md
  collectors/cups.plugin/Makefile.am
  collectors/cups.plugin/README.md
  collectors/cups.plugin/cups_plugin.c
  collectors/plugins.d/README.md
  configure.ac
  docs/Add-more-charts-to-netdata.md
  docs/generator/buildyaml.sh
  libnetdata/dictionary/dictionary.c
  libnetdata/dictionary/dictionary.h
Labels: area/collectors, area/docs, area/libnetdata

#5199 install go.d.plugin
  Makefile.am
  netdata-installer.sh
  packaging/go.d.checksums
Labels: area/packaging

#5329 Comment with global NETDATA for linter
  web/gui/dashboard_info.js
  web/gui/main.js
Labels: no changelog

#5331 fix some python codacy errors
  collectors/python.d.plugin/ipfs/ipfs.chart.py
  collectors/python.d.plugin/portcheck/portcheck.chart.py
  collectors/python.d.plugin/postgres/postgres.chart.py
  collectors/python.d.plugin/python_modules/bases/FrameworkServices/SocketService.py
Labels: area/collectors, area/external/python

#5335 Add global comments to js for Codacy
  web/gui/dashboard.js
  web/gui/dashboard_info_custom_example.js
  web/gui/src/dashboard.js/charting/dygraph.js
  web/gui/src/dashboard.js/main.js
  web/gui/src/dashboard.js/themes.js
Labels: area/web, no changelog

#5334 Fix Codacy issues for FreeBSD plugin
  collectors/freebsd.plugin/freebsd_devstat.c
  collectors/freebsd.plugin/freebsd_kstat_zfs.c
  collectors/freebsd.plugin/freebsd_sysctl.c
Labels: area/collectors

#5327 Allow user to override the default behavior for read-only mounts
  collectors/diskspace.plugin/README.md
  collectors/diskspace.plugin/plugin_diskspace.c
Labels: area/collectors, area/docs

#5337 Codacy js fixes
  .codacy.yml
  web/gui/dashboard.js
  web/gui/src/dashboard.js/charting/google-charts.js
  web/gui/src/dashboard.js/main.js
  web/gui/src/dashboard.js/registry.js
Labels: area/web, no changelog

#5215 Add go.d documentation
  .gitignore
  docs/generator/buildhtml.sh
  docs/generator/buildyaml.sh
Labels: area/docs

#5340 Fix cgroups Codacy issue
  collectors/cgroups.plugin/cgroup-network.c
Labels: area/collectors

#5347 Provide more precise uninstall instructions
  packaging/installer/UNINSTALL.md
Labels: area/docs

#5353 fix warning condition for mem.available
  health/health.d/ram.conf
Labels: area/health

#5348 Add link to writing a new module in example readme
  collectors/python.d.plugin/example/README.md
Labels: area/docs

#5350 cups.plugin: Support older versions
  collectors/cups.plugin/README.md
  collectors/cups.plugin/cups_plugin.c
  configure.ac
Labels: area/collectors, area/docs

#5359 fix: wget log spam in headless mode (fixes #5356)
  netdata-installer.sh
Labels: area/packaging

#5115 Add message queue statistics
  backends/prometheus/backend_prometheus.c
  collectors/all.h
  collectors/plugins.d/README.md
  collectors/plugins.d/plugins_d.c
  collectors/proc.plugin/README.md
  collectors/proc.plugin/ipc.c
  daemon/config/README.md
  database/rrd.h
  database/rrddim.c
  database/rrdhost.c
  database/rrdset.c
  streaming/rrdpush.c
  web/api/exporters/shell/allmetrics_shell.c
  web/api/formatters/rrdset2json.c
Labels: area/collectors, area/database

#5172 Add cgroup cpu and memory limits and alarms
  collectors/cgroups.plugin/README.md
  collectors/cgroups.plugin/sys_fs_cgroup.c
  health/Makefile.am
  health/health.d/cgroups.conf
  web/gui/dashboard_info.js
Labels: area/collectors, area/docs, area/health

#5164 Lint alarm notify
  health/notifications/alarm-notify.sh.in
Labels: area/health, no changelog

#5165 automatic shellchecking on .sh.in scripts
  .travis.yml
  collectors/tc.plugin/tc-qos-helper.sh.in
  health/notifications/alarm-notify.sh.in
  tests/health_mgmtapi/health-cmdapi-test.sh.in
Labels: area/ci, no changelog

#5361 Split nfacct plugin into separate process
  .gitignore
  CMakeLists.txt
  Makefile.am
  collectors/README.md
  collectors/all.h
  collectors/apps.plugin/apps_groups.conf
  collectors/nfacct.plugin/README.md
  collectors/nfacct.plugin/plugin_nfacct.c
  collectors/nfacct.plugin/plugin_nfacct.h
  collectors/plugins.d/README.md
  configure.ac
  daemon/main.c
  docs/Add-more-charts-to-netdata.md
  docs/generator/buildyaml.sh
  netdata-installer.sh
Labels: area/collectors, area/daemon, area/docs, area/packaging

#5373 Add support of tera-byte size for Linux bcache. (#4719)
  collectors/proc.plugin/proc_diskstats.c
Labels: area/collectors

#5378 Don't send host/port in to anonymous stats in fatal of STREAM_RECEIVER
  libnetdata/log/log.c
Labels: bug

#5342 Localization support in HTML docs, simplification of checklinks.sh
  CONTRIBUTING.md
  docs/generator/buildhtml.sh
  docs/generator/buildyaml.sh
  docs/generator/checklinks.sh
  docs/generator/custom/img/geography-16.png
  docs/generator/custom/themes/material/partials/footer.html
  docs/generator/custom/themes/material/partials/header.html
Labels: area/docs

#5218 cleanup updater script and no `/opt` usage
  packaging/installer/kickstart.sh
  packaging/installer/netdata-updater.sh
Labels: area/packaging

#5380 Correct Installation link in updating doc
  packaging/installer/UPDATE.md
Labels: area/docs

#5371 Render MyNetdata menu after fetching hosts info #5370
  web/gui/main.js
Labels: area/web

#5381 Add documentation for network interfaces
  collectors/proc.plugin/README.md
  health/health.d/net.conf
Labels: area/docs, area/health

#5408 copy version file to GCS upload directory
  .travis/create_artifacts.sh
Labels: area/ci, no changelog

#5397 Refactored static kickstart script
  packaging/installer/kickstart-static64.sh
Labels: area/packaging

#5413 use netnsid for detecting cgroup networks;
  collectors/cgroups.plugin/cgroup-network-helper.sh
  collectors/cgroups.plugin/cgroup-network.c
Labels: area/collectors

#5415 Fix clock_gettime() failures with the CLOCK_BOOTTIME argument
  daemon/main.c
  libnetdata/clocks/clocks.c
  libnetdata/clocks/clocks.h
Labels: area/daemon, area/libnetdata

#5417 remove redudant pipes for cgroup-network netnsid
  collectors/cgroups.plugin/cgroup-network-helper.sh
Labels: area/collectors

#5414 Uninstall instruction improvements
  packaging/installer/UPDATE.md
Labels: area/docs

#5384 Add driver-type option to the freeipmi plugin
  collectors/freeipmi.plugin/README.md
  collectors/freeipmi.plugin/freeipmi_plugin.c
Labels: area/collectors, area/docs

#5424 Improve configure.ac mnl and netfilter_acc checks for static builds
  configure.ac
Labels: area/collectors

#5444 change email address for automated commits
  .travis/generate_changelog.sh
  .travis/nightlies.sh
  .travis/releaser.sh
Labels: area/ci, no changelog

#5437 Update README.md - add news for 1.12
  README.md
Labels: area/docs

#5440 Remove extra 'v' from Server response header
  web/server/web_client.c
Labels: area/web

#5425 cpuidle handle newlines in names
  collectors/proc.plugin/proc_stat.c
Labels: area/collectors

#5429 Correct version check in UI
  web/api/formatters/charts2json.c
  web/gui/main.js
Labels: area/web

#5447 Prevent invalid Linux power supply alarms during startup
  health/health.d/linux_power_supply.conf
Labels: area/health

#5435 apcupsd - Treat ONBATT the same as ONLINE
  collectors/charts.d.plugin/apcupsd/apcupsd.chart.sh
Labels: area/collectors, area/external

#5394 Fix Coverity defects
  collectors/cgroups.plugin/sys_fs_cgroup.c
  collectors/proc.plugin/sys_fs_btrfs.c
Labels: area/collectors

#5446 Use go.d.plugin in version v0.1.0
  netdata-installer.sh
  packaging/go.d.checksums
Labels: area/packaging

#5434 Add tor to the default app groups
  collectors/apps.plugin/apps_groups.conf
Labels: area/collectors

#5464 Fix timer crash during exit
  web/server/static/static-threaded.c
Labels: area/web

#5460 revert #5457 and test if files exist after installation
  netdata-installer.sh
  packaging/installer/functions.sh
  packaging/installer/kickstart-static64.sh
  packaging/installer/kickstart.sh
  packaging/installer/netdata-updater.sh
  tests/lifecycle.bats
Labels: area/packaging, area/tests

#5469 Fix QoS docs code fragment for HTML
  collectors/tc.plugin/README.md
Labels: area/docs, no changelog

#5495 Fix SIGSEGV crash during shutdown of tc plugin.
  daemon/main.c
Labels: area/collectors, area/daemon

#5465 docker: use base images build by us
  packaging/docker/Dockerfile
  packaging/docker/build.sh
Labels: area/packaging

#5498 prevent merging changes to kickstart.sh when checksum in docs is wrong
  .travis.yml
  tests/installer/checksums.sh
Labels: area/ci, area/packaging

#5499 introduce "stable channel" placeholder
  netdata-installer.sh
Labels: area/packaging, no changelog

#5503 python.d.plugin add heartbeat
  collectors/python.d.plugin/python.d.plugin.in
Labels: area/collectors, area/external/python

#5379 Fix CMake warning for nfacct plugin
  collectors/nfacct.plugin/plugin_nfacct.c
Labels: area/collectors

#5421 oracledb py module
  collectors/python.d.plugin/Makefile.am
  collectors/python.d.plugin/oracledb/Makefile.inc
  collectors/python.d.plugin/oracledb/README.md
  collectors/python.d.plugin/oracledb/oracledb.chart.py
  collectors/python.d.plugin/oracledb/oracledb.conf
  collectors/python.d.plugin/python.d.conf
Labels: area/collectors, area/docs, area/external/python

#5519 Show streamed servers even for users that are not signed in! #5482
  web/gui/main.js
Labels: area/web

#5487 introduce stable installation channel
  netdata-installer.sh
  packaging/installer/README.md
  packaging/installer/kickstart-static64.sh
  packaging/installer/kickstart.sh
  packaging/installer/netdata-updater.sh
Labels: area/docs, area/packaging

#5528 Update unbound module documenttion with troubleshooting section.
  collectors/python.d.plugin/unbound/README.md
Labels: area/docs, area/external/python
