Repository netdata/netdata, pull requests merged in 2019-06, with the labels that each got.

#6189 Documentation: Correct example list for python.d SimpleService
  collectors/python.d.plugin/README.md
Labels: area/docs

#6195 Change print level from error to info
  database/rrdset.c
Labels: area/database

#6174 Support falling back to buffered I/O when direct I/O is unavailable
  database/engine/datafile.c
  database/engine/journalfile.c
  database/engine/rrdenginelib.c
  database/engine/rrdenginelib.h
Labels: area/database

#6064 Add perforce server process monitoring
  CONTRIBUTORS.md
  collectors/apps.plugin/apps_groups.conf
Labels: area/collectors, area/docs

#6194 health: change x509check_last_collected_secs alarm every to 60s
  health/health.d/x509check.conf
Labels: area/health

#6197 wmi collector: `fa-server` icon
  web/gui/dashboard_info.js
  web/gui/index.html
Labels: area/web

#6187 Terminate email header lines with \r\n
  health/notifications/alarm-notify.sh.in
Labels: area/health

#6201 netdata/daemon: SSL fix - broken compilation case when ssl library not present!
  libnetdata/libnetdata.h
  libnetdata/socket/security.c
  libnetdata/socket/security.h
  libnetdata/socket/socket.c
  libnetdata/socket/socket.h
  streaming/rrdpush.c
Labels: area/daemon, area/packaging, bug

#6172 Increase the cpu_limit chart precision in cgroup plugin
  collectors/cgroups.plugin/sys_fs_cgroup.c
Labels: area/collectors

#6164 Fix mdstat disks chart
  collectors/proc.plugin/proc_mdstat.c
Labels: area/collectors

#6203 Add note to make smartd directory
  collectors/python.d.plugin/smartd_log/README.md
Labels: area/docs

#6207 smartd documentation improvements
  collectors/python.d.plugin/smartd_log/README.md
Labels: area/docs

#6202 Fix page cache descriptor race condition
  database/engine/pagecache.c
  database/engine/rrdenglocking.c
Labels: area/database

#6208 Visibility fix in anonymous-statistics.md
  docs/anonymous-statistics.md
Labels: area/docs

#6209 netdata/packaging/ci: Add lifecycle checks to bare operating system installations
  .travis.yml
  health/notifications/alarm-notify.sh.in
  tests/updater_checks.sh
Labels: area/ci, area/health, area/tests, bug

#6216 Fill chart gaps efficiently.
  database/engine/rrdengineapi.c
  database/engine/rrdengineapi.h
  database/rrdset.c
Labels: area/database

#6217 installer: include go.d.plugin version v0.6.1
  netdata-installer.sh
  packaging/go.d.checksums
Labels: area/packaging

#6222 netdata/daemon: Eliminate a couple of warnings, plus tabs removal
  daemon/main.c
  web/server/web_client.c
Labels: area/daemon, area/web, bug

#6219 SSL_fix_format Fix wrong format used with SSL!
  libnetdata/socket/security.c
  libnetdata/socket/socket.c
Labels: area/libnetdata

#6070 New URL parser
  libnetdata/inlined.h
  libnetdata/url/url.c
  libnetdata/url/url.h
  tests/urls/requests.sh
  web/api/badges/web_buffer_svg.c
  web/api/exporters/allmetrics.c
  web/api/health/health_cmdapi.c
  web/api/web_api_v1.c
  web/server/web_client.c
  web/server/web_client.h
Labels: area/web

#6240 Force page alignment per dimension of chart.
  database/engine/rrdengineapi.c
  database/rrd.h
  database/rrdset.c
Labels: area/database

#6241 Update CODEOWNERS
  .github/CODEOWNERS
Labels: area/ci

#6233 netdata/packaging/docker: Fix docker socket utilization, first pass
  packaging/docker/README.md
  packaging/docker/run.sh
Labels: area/docs, area/packaging, bug

#6223 netdata/packaging: Introducing automatic binary packages generation and delivery for RPM types (Phase 1)
  .travis.yml
  .travis/README.md
  .travis/package_management/build_package_in_container.sh
  .travis/package_management/create_lxc_for_build.sh
  .travis/package_management/deb/configure_lxc_environment.py
  .travis/package_management/deb/trigger_lxc_build.py
  .travis/package_management/functions.sh
  .travis/package_management/package_cloud_wrapper.sh
  .travis/package_management/prepare_packages.sh
  .travis/package_management/rpm/configure_lxc_environment.py
  .travis/package_management/rpm/trigger_lxc_build.py
  .travis/package_management/yank_stale_rpm.sh
  Makefile.am
Labels: area/ci, area/docs, feature request

#6235 netdata/packaging: Add more distribution validations
  .travis.yml
  tests/updater_checks.bats
  tests/updater_checks.sh
Labels: area/ci, area/tests, performance

#6237 dns_query_time py module: saving dns request in 'r', checking response for answer, recording '-…
  collectors/python.d.plugin/dns_query_time/dns_query_time.chart.py
Labels: area/collectors, area/external/python

#6263 UrlService: add min required version check
  collectors/python.d.plugin/python_modules/bases/FrameworkServices/UrlService.py
Labels: area/collectors, area/external/python

#6272 netdata/packaging: During install, many file not found were raised
  netdata-installer.sh
Labels: area/packaging

#6271 netdata/packaging/documentation: Its Redhat, then came the others
  packaging/installer/README.md
Labels: area/docs

#6275 Fix devuan support for initd
  packaging/installer/functions.sh
  system/netdata-lsb.in
Labels: area/packaging, bug

#6261 Fix variable namespace in memory health check
  health/health.d/ram.conf
Labels: area/health

#6277 Add comments about AWS SDK for C++ installation
  backends/aws_kinesis/README.md
Labels: area/docs

#6260 Fix typo in nfacct.plugin
  collectors/nfacct.plugin/plugin_nfacct.c
Labels: area/collectors

#6282 netdata/packaging: Separate beta messages from production messages
  .travis.yml
Labels: area/packaging, performance

#6291 doc: remove single/multi-threaded web server configuration
  docs/Performance.md
Labels: area/docs

#6294 Web
  web/gui/main.css
  web/gui/main.js
Labels: area/web

#6286 Add a riak plugin
  collectors/python.d.plugin/Makefile.am
  collectors/python.d.plugin/python.d.conf
  collectors/python.d.plugin/riakkv/Makefile.inc
  collectors/python.d.plugin/riakkv/README.md
  collectors/python.d.plugin/riakkv/riakkv.chart.py
  collectors/python.d.plugin/riakkv/riakkv.conf
  health/Makefile.am
  health/health.d/riakkv.conf
  web/gui/dashboard_info.js
Labels: area/collectors, area/docs, area/external/python, area/health, area/web

#6304 Chart name streaming
  database/rrdset.c
  streaming/README.md
Labels: area/database, area/docs

#6225 Perf plugin
  .gitignore
  CMakeLists.txt
  Makefile.am
  collectors/Makefile.am
  collectors/README.md
  collectors/apps.plugin/apps_groups.conf
  collectors/perf.plugin/Makefile.am
  collectors/perf.plugin/README.md
  collectors/perf.plugin/perf_plugin.c
  collectors/plugins.d/README.md
  configure.ac
  docs/Add-more-charts-to-netdata.md
  docs/generator/buildyaml.sh
  netdata-installer.sh
  web/gui/dashboard_info.js
Labels: area/collectors, area/docs

#6314 Update the documentation on charts with zero metrics
  collectors/cgroups.plugin/README.md
  collectors/diskspace.plugin/README.md
  collectors/proc.plugin/README.md
  collectors/tc.plugin/README.md
  daemon/config/README.md
  docs/configuration-guide.md
Labels: area/docs

#6296 [freeipmi] Remove id in sensor name when already unique
  collectors/freeipmi.plugin/freeipmi_plugin.c
Labels: area/collectors

#6303 Handle file descriptors running out
  configs.signatures
  daemon/global_statistics.c
  database/engine/datafile.c
  database/engine/datafile.h
  database/engine/journalfile.c
  database/engine/journalfile.h
  database/engine/pagecache.c
  database/engine/pagecache.h
  database/engine/rrdengine.c
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
  database/engine/rrdengineapi.h
  database/engine/rrdenginelib.c
  database/engine/rrdenginelib.h
  database/engine/rrdenglocking.c
  health/Makefile.am
  health/health.d/dbengine.conf
  web/server/static/static-threaded.c
Labels: area/daemon, area/database, area/health, area/web

#6264 Update README.md
  database/README.md
  database/engine/README.md
  packaging/installer/README.md
Labels: area/docs

#6328 installer: include go.d.plugin version v0.7.0
  netdata-installer.sh
  packaging/go.d.checksums
Labels: area/packaging

#6319 dnsmasq_dhcp: dhcp-range utilization alarm
  health/Makefile.am
  health/health.d/dnsmasq_dhcp.conf
Labels: area/health

#6325 pihole: add to the dashboard_info
  web/gui/dashboard_info.js
  web/gui/index.html
Labels: area/web

#6320 pihole collector: add alarms
  health/Makefile.am
  health/health.d/pihole.conf
Labels: area/health

#6344 netdata/packaging/docker: Fix docker documentation and a fix to avoid failures
  packaging/docker/README.md
  packaging/docker/run.sh
Labels: bug, priority/high

#6345 Tomcat status invalid XML fix
  collectors/python.d.plugin/tomcat/tomcat.chart.py
Labels: area/collectors, area/external/python

#6118 add userstats charts for mysql
  collectors/python.d.plugin/mysql/README.md
  collectors/python.d.plugin/mysql/mysql.chart.py
Labels: area/collectors, area/external/python

#6274 Easily disable alarms, by persisting the silencers configuration
  CMakeLists.txt
  Makefile.am
  configure.ac
  health/health.c
  health/health.h
  health/health_config.c
  libnetdata/Makefile.am
  libnetdata/health/Makefile.am
  libnetdata/health/health.c
  libnetdata/health/health.h
  libnetdata/json/Makefile.am
  libnetdata/json/README.md
  libnetdata/json/jsmn.c
  libnetdata/json/jsmn.h
  libnetdata/json/json.c
  libnetdata/json/json.h
  libnetdata/libnetdata.h
  netdata-installer.sh
  tests/health_mgmtapi/expected_list/ALARM_CPU_IOWAIT-list.json
  tests/health_mgmtapi/expected_list/ALARM_CPU_USAGE-list.json
  tests/health_mgmtapi/expected_list/CONTEXT_SYSTEM_CPU-list.json
  tests/health_mgmtapi/expected_list/DISABLE-list.json
  tests/health_mgmtapi/expected_list/DISABLE_ALL-list.json
  tests/health_mgmtapi/expected_list/DISABLE_ALL_ERROR-list.json
  tests/health_mgmtapi/expected_list/DISABLE_SYSTEM_LOAD-list.json
  tests/health_mgmtapi/expected_list/FAMILIES_LOAD-list.json
  tests/health_mgmtapi/expected_list/HOSTS-list.json
  tests/health_mgmtapi/expected_list/RESET-list.json
  tests/health_mgmtapi/expected_list/SILENCE-list.json
  tests/health_mgmtapi/expected_list/SILENCE_2-list.json
  tests/health_mgmtapi/expected_list/SILENCE_3-list.json
  tests/health_mgmtapi/expected_list/SILENCE_ALARM_CPU_USAGE-list.json
  tests/health_mgmtapi/expected_list/SILENCE_ALARM_CPU_USAGE_LOAD_TRIGGER-list.json
  tests/health_mgmtapi/expected_list/SILENCE_ALL-list.json
  tests/health_mgmtapi/health-cmdapi-test.sh.in
  web/api/health/README.md
  web/api/health/health_cmdapi.c
  web/api/health/health_cmdapi.h
  web/api/netdata-swagger.json
  web/api/netdata-swagger.yaml
Labels: area/docs, area/health, area/libnetdata, area/web

#6220 Backend and SSL!
  backends/README.md
  backends/backends.c
  backends/backends.h
  backends/opentsdb/README.md
  backends/opentsdb/opentsdb.c
  backends/opentsdb/opentsdb.h
  libnetdata/socket/security.c
  libnetdata/socket/security.h
  streaming/rrdpush.c
  web/server/static/static-threaded.c
Labels: area/backends, area/docs, area/libnetdata

#6340 monit: obsolete service in runtime
  collectors/python.d.plugin/monit/monit.chart.py
Labels: area/collectors, area/external/python
