Repository netdata/netdata, pull requests merged in 2019-09, with the labels that each got.

#6738 Add command-line option descriptions for apps.plugin
  collectors/apps.plugin/README.md
  collectors/apps.plugin/apps_plugin.c
Labels: area/collectors, area/docs

#6753 netdata/packaging: Add python3-lxc dependency
  .travis.yml
Labels: area/ci

#6595 HTTP response message
  web/api/badges/web_buffer_svg.c
  web/api/exporters/allmetrics.c
  web/api/exporters/allmetrics.h
  web/api/formatters/rrd2json.c
  web/api/formatters/rrd2json.h
  web/api/health/health_cmdapi.c
  web/api/web_api_v1.c
  web/server/web_client.h
Labels: area/web

#6766 netdata/packaging: Trigger stable package generation upon release process
  .travis.yml
Labels: area/ci

#6638 Fix clear notification missing
  .gitignore
  database/rrdcalc.h
  health/README.md
  health/health.c
  health/health.h
  health/health_json.c
  tests/Makefile.am
  tests/alarm_repetition/alarm.sh.in
  tests/alarm_repetition/netdata.conf_with_repetition
  tests/alarm_repetition/netdata.conf_without_repetition
  tests/alarm_repetition/ram_with_repetition.conf
  tests/alarm_repetition/ram_without_repetition.conf
Labels: area/database, area/docs, area/health, area/libnetdata, area/tests

#6768 (Documentation) fix pfsense instructions and links
  packaging/installer/README.md
Labels: area/docs

#6756 update cache hashes for js and css
  web/gui/console.html
  web/gui/dashboard.html
  web/gui/dashboard.js
  web/gui/demo.html
  web/gui/demo2.html
  web/gui/demosites.html
  web/gui/demosites2.html
  web/gui/goto-host-from-alarm.html
  web/gui/index.html
  web/gui/src/dashboard.js/themes.js
  web/gui/tv.html
Labels: area/web

#6603 dash.html
  web/gui/Makefile.am
  web/gui/custom/README.md
  web/gui/dash-example.html
Labels: area/docs, area/web

#6745 [libnetdata/thread] Set thread name from tag
  libnetdata/threads/threads.c
Labels: area/libnetdata

#6648 Add high level explanation of dashboard contents
  daemon/config/README.md
  docs/Charts.md
  docs/generator/buildyaml.sh
  health/README.md
  web/README.md
  web/gui/README.md
  web/gui/custom/README.md
Labels: area/docs

#6777 netdata/packaging: override control file for debian/buster
  .travis/package_management/configure_deb_lxc_environment.py
  contrib/debian/control.buster
Labels: area/ci, area/packaging

#6778 netdata/packaging: fix changelog generation failing the build
  .travis/package_management/trigger_deb_lxc_build.py
Labels: area/ci

#5920 Expand dashboard auto-scaling and convertible units
  web/gui/dashboard.js
  web/gui/src/dashboard.js/units-conversion.js
Labels: area/web

#6808 netdata/packaging: remove fedora/28, is no longer available
  .travis.yml
Labels: area/ci

#6813 netdata/ci: Fix author on triggering commits for packaging
  .travis/trigger_package_generation.sh
Labels: area/ci

#6661 pythond respect prev running jobs and refactor
  collectors/python.d.plugin/python.d.plugin.in
Labels: area/collectors, area/external/python

#6820 netdata/ci: Force last good version of git-semver, they broke it
  .travis.yml
Labels: area/ci

#6817 Buffer overflow
  web/server/web_client.c
Labels: area/web

#6842 netdata/packaging: nits and fixes for packaging
  .travis/package_management/common.py
  .travis/trigger_package_generation.sh
  packaging/DISTRIBUTIONS.md
Labels: area/ci, area/docs

#6850 netdata/packaging: Bring on board two scripts that build libuv and judy from source
  .travis/package_management/build_judy.sh
  .travis/package_management/build_libuv.sh
Labels: area/ci

#6724 netdata/packaging: Introduce separate CUPS package for debian distributions
  .travis.yml
  .travis/package_management/build.sh
  contrib/debian/control
  contrib/debian/control.buster
  contrib/debian/control.jessie
  contrib/debian/control.trusty
  contrib/debian/control.wheezy
  contrib/debian/control.xenial
  contrib/debian/rules
Labels: area/ci, area/packaging

#6854 Resolve broken links in The standard web dashboard doc
  web/gui/README.md
Labels: area/docs

#6794 update grep to be more specific
  docs/high-performance-netdata.md
Labels: area/docs

#6391 Center the chart on timeframe when an alarm is raised
  health/notifications/alarm-notify.sh.in
  web/gui/goto-host-from-alarm.html
  web/gui/main.css
  web/gui/main.js
Labels: area/health, area/web

#6645 Fixes netdata group deletion on linux for uninstall script
  packaging/installer/netdata-uninstaller.sh
Labels: area/packaging

#6663 changed naming for redirect_uri param
  web/gui/main.js
Labels: area/web

#6868 dont redirect when redirectURI is the same
  web/gui/main.js
Labels: area/web, priority/high

#6567 Gearman plugin for Netdata
  collectors/python.d.plugin/Makefile.am
  collectors/python.d.plugin/gearman/Makefile.inc
  collectors/python.d.plugin/gearman/README.md
  collectors/python.d.plugin/gearman/gearman.chart.py
  collectors/python.d.plugin/gearman/gearman.conf
  collectors/python.d.plugin/python.d.conf
  health/Makefile.am
  health/health.d/gearman.conf
  web/gui/dashboard_info.js
Labels: area/collectors, area/docs, area/external/python, area/health, area/web

#6386 Cppcheck fixes
  collectors/cgroups.plugin/cgroup-network.c
  tests/profile/benchmark-line-parsing.c
Labels: area/collectors, area/tests

#6870 Instructions for simple SMTP transport
  health/notifications/email/README.md
Labels: area/docs

#6867 /var/lib/netdata/registry was being left behind after purge
  contrib/debian/netdata.postrm
Labels: area/packaging

#6781 Changes to launching the python.d plugin aggregator.
  collectors/python.d.plugin/python.d.plugin.in
Labels: area/collectors, area/external/python

#6872 installer: include go.d.plugin version v0.9.0
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#6772 vcsa collector: charts descritpion and alarms
  health/Makefile.am
  health/health.d/vcsa.conf
  web/gui/dashboard_info.js
Labels: area/health, area/web

#6693 netdata/installer: Add support for offline installs using kickstart or kickstart-static64
  netdata-installer.sh
  packaging/installer/README.md
  packaging/installer/kickstart-static64.sh
  packaging/installer/kickstart.sh
Labels: area/docs, area/packaging

#6874 Update python.d module checklist to match the current paths and build system.
  collectors/python.d.plugin/README.md
Labels: area/docs

#6800 Collector slabinfo
  .gitignore
  CMakeLists.txt
  Makefile.am
  collectors/Makefile.am
  collectors/README.md
  collectors/apps.plugin/apps_groups.conf
  collectors/plugins.d/README.md
  collectors/slabinfo.plugin/Makefile.am
  collectors/slabinfo.plugin/README.md
  collectors/slabinfo.plugin/slabinfo.c
  configure.ac
  contrib/debian/rules
  docs/Add-more-charts-to-netdata.md
  docs/generator/buildyaml.sh
  netdata-installer.sh
  netdata.spec.in
Labels: area/collectors, area/docs, area/packaging

#6887 Change the log level for chart updates
  database/rrdset.c
Labels: area/database

#6877 Markdown syntax fixes for MDX parser
  collectors/node.d.plugin/snmp/README.md
  collectors/python.d.plugin/dnsdist/README.md
  docs/configuration-guide.md
Labels: area/docs

#6796 Allow hostnames in Access Control Lists
  docs/netdata-security.md
  libnetdata/socket/socket.c
  libnetdata/socket/socket.h
  web/server/static/static-threaded.c
  web/server/web_client.c
  web/server/web_client.h
  web/server/web_server.c
Labels: area/libnetdata

#6880 Remove Dollar sign from Bash code in documentation and fix remark-lint warnings
  collectors/charts.d.plugin/apache/README.md
  docs/Running-behind-haproxy.md
  docs/contributing/contributing-documentation.md
  packaging/installer/README.md
  packaging/installer/UNINSTALL.md
  web/api/formatters/json/README.md
  web/server/README.md
Labels: area/docs

#6897 [collector/slabinfo] Fix pagesize not defined in non-x86 arches
  collectors/slabinfo.plugin/slabinfo.c
Labels: area/collectors

#6797 Fix some errors reported by Coverity
  collectors/proc.plugin/proc_mdstat.c
  collectors/proc.plugin/sys_class_power_supply.c
  health/health.c
  libnetdata/popen/popen.c
  libnetdata/url/url.c
Labels: area/collectors, area/health, area/libnetdata

#6900 Improve changelog generation and add it back to the pipeline
  .travis/generate_changelog_and_tag_release.sh
  .travis/generate_changelog_for_nightlies.sh
  .travis/generate_changelog_for_release.sh
Labels: area/ci

#6875 fix LGTM warnings
  web/gui/dash-example.html
Labels: area/web

#6677 Add clang-format. Update Contribution guidelines.
  .clang-format
  CONTRIBUTING.md
Labels: area/docs

#6914 netdata/ci: nits and fixes around package release workflow
  .travis.yml
  .travis/create_changelog.sh
  .travis/generate_changelog_and_tag_release.sh
  .travis/generate_changelog_for_nightlies.sh
  .travis/nightlies.sh
  .travis/tagger.sh
Labels: area/ci

#6921 Fix remark lint for Contrib
  contrib/README.md
Labels: area/docs

#6928 python.d: fix log warnings in start_job
  collectors/python.d.plugin/python.d.plugin.in
Labels: area/collectors, area/external/python

#6929 installer: include go.d.plugin version v0.10.0
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#6911 Detect deadlock in dbengine page cache
  configs.signatures
  daemon/global_statistics.c
  database/engine/rrdengine.c
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
  database/engine/rrdengineapi.h
  health/health.d/dbengine.conf
Labels: area/daemon, area/database, area/health

#6811 Docs: Overhaul of Getting started guide
  docs/GettingStarted.md
  docs/contributing/contributing-documentation.md
  docs/generator/buildyaml.sh
  docs/getting-started.md
  docs/tutorials/longer-metrics-storage.md
  netlify.toml
  packaging/installer/README.md
  web/README.md
Labels: area/docs

#6927 zookeeper and hdfs: alarms and dashboard_info
  health/Makefile.am
  health/health.d/hdfs.conf
  health/health.d/zookeeper.conf
  web/gui/dashboard_info.js
Labels: area/health, area/web

#6931 minor - check for curl to not get wrong error message
  tests/stress.sh
Labels: area/tests

#6945 Fix a memory leak
  libnetdata/socket/socket.c
Labels: area/libnetdata

#6560 Create a template for all dimensions
  .gitignore
  database/rrd.h
  database/rrdcalc.c
  database/rrdcalc.h
  database/rrdcalctemplate.c
  database/rrdcalctemplate.h
  database/rrddim.c
  database/rrdhost.c
  health/README.md
  health/health.c
  health/health.h
  health/health_config.c
  tests/Makefile.am
  tests/template_dimension/system_cpu.conf.alarm_foreach
  tests/template_dimension/system_cpu.conf.alarm_foreach_sp
  tests/template_dimension/system_cpu.conf.template_alarm
  tests/template_dimension/system_cpu.conf.template_foreach
  tests/template_dimension/system_cpu.conf.template_foreach_sp
  tests/template_dimension/system_cpu.conf.unique_alarm
  tests/template_dimension/template_dim.sh.in
Labels: area/database, area/docs, area/health, area/libnetdata, area/web

#6964 Reduce overhead during write io
  database/engine/rrdengine.c
Labels: area/database

#6942 Fix Remark Lint for READMEs in Database
  database/README.md
  database/engine/README.md
Labels: area/docs

#6948 netdata/packaging: Make spec file more consistent with version dependencies, plus some documentation nits
  netdata.spec.in
  packaging/DISTRIBUTIONS.md
Labels: area/docs

#6783 Common pattern for web and alarms together with two bug fixes
  tests/acls/acl.sh.in
  tests/alarm_repetition/alarm.sh.in
  tests/stress.sh
  tests/urls/request.sh.in
Labels: area/tests

#6903 #3925 implementation
  web/api/badges/README.md
  web/api/badges/web_buffer_svg.c
  web/api/badges/web_buffer_svg.h
Labels: area/docs, area/web
