Repository netdata/netdata, pull requests merged in 2019-07, with the labels that each got.

#6309 Repeating alarm notifications
  daemon/common.h
  daemon/main.c
  database/rrd.c
  database/rrd.h
  database/rrdcalc.c
  database/rrdcalc.h
  database/rrdcalctemplate.c
  database/rrdcalctemplate.h
  database/rrdhost.c
  health/README.md
  health/health.c
  health/health.h
  health/health_config.c
  health/health_json.c
  health/health_log.c
  libnetdata/config/appconfig.c
  libnetdata/config/appconfig.h
  web/api/netdata-swagger.json
  web/api/netdata-swagger.yaml
  web/gui/main.js
Labels: area/daemon, area/database, area/docs, area/health, area/libnetdata, area/web

#6360 Easily disable alarms, by persisting the silencers configuration
  CMakeLists.txt
  Makefile.am
  configure.ac
  daemon/main.c
  health/health.c
  health/health.h
  health/health_config.c
  libnetdata/Makefile.am
  libnetdata/health/Makefile.am
  libnetdata/health/health.c
  libnetdata/health/health.h
  libnetdata/json/Makefile.am
  libnetdata/json/README.md
  libnetdata/json/jsmn.c
  libnetdata/json/jsmn.h
  libnetdata/json/json.c
  libnetdata/json/json.h
  libnetdata/libnetdata.h
  tests/health_mgmtapi/expected_list/ALARM_CPU_IOWAIT-list.json
  tests/health_mgmtapi/expected_list/ALARM_CPU_USAGE-list.json
  tests/health_mgmtapi/expected_list/CONTEXT_SYSTEM_CPU-list.json
  tests/health_mgmtapi/expected_list/DISABLE-list.json
  tests/health_mgmtapi/expected_list/DISABLE_ALL-list.json
  tests/health_mgmtapi/expected_list/DISABLE_ALL_ERROR-list.json
  tests/health_mgmtapi/expected_list/DISABLE_SYSTEM_LOAD-list.json
  tests/health_mgmtapi/expected_list/FAMILIES_LOAD-list.json
  tests/health_mgmtapi/expected_list/HOSTS-list.json
  tests/health_mgmtapi/expected_list/RESET-list.json
  tests/health_mgmtapi/expected_list/SILENCE-list.json
  tests/health_mgmtapi/expected_list/SILENCE_2-list.json
  tests/health_mgmtapi/expected_list/SILENCE_3-list.json
  tests/health_mgmtapi/expected_list/SILENCE_ALARM_CPU_USAGE-list.json
  tests/health_mgmtapi/expected_list/SILENCE_ALARM_CPU_USAGE_LOAD_TRIGGER-list.json
  tests/health_mgmtapi/expected_list/SILENCE_ALL-list.json
  tests/health_mgmtapi/health-cmdapi-test.sh.in
  web/api/health/README.md
  web/api/health/health_cmdapi.c
  web/api/health/health_cmdapi.h
  web/api/netdata-swagger.json
  web/api/netdata-swagger.yaml
Labels: area/daemon, area/docs, area/health, area/libnetdata, area/tests, area/web

#6369 netdata/packaging: Netdata binary packages generation - spec file refinement, support for nightlies (RPM)
  .travis.yml
  .travis/package_management/build_package_in_container.sh
  .travis/package_management/common.py
  .travis/package_management/configure_deb_lxc_environment.py
  .travis/package_management/configure_rpm_lxc_environment.py
  .travis/package_management/create_lxc_for_build.sh
  .travis/package_management/deb/configure_lxc_environment.py
  .travis/package_management/rpm/configure_lxc_environment.py
  .travis/package_management/rpm/trigger_lxc_build.py
  .travis/package_management/trigger_deb_lxc_build.py
  .travis/package_management/trigger_rpm_lxc_build.py
  .travis/package_management/yank_stale_rpm.sh
  netdata.spec.in
Labels: area/ci, feature request, priority/high

#6374 Health could not read properly the health silencers file
  health/health.c
Labels: area/health

#6383 alarm-notify.sh should respect the cloud base url setting
  health/notifications/alarm-notify.sh.in
  registry/registry_init.c
Labels: area/health, area/registry

#6389 Changed links from my-netdata.io to netdata.cloud
  README.md
  docs/Demo-Sites.md
Labels: area/docs

#6377 Health giving wrong message
  database/rrdcalc.c
Labels: area/database

#6373 Add more debug messages for pluginsd pipe errors
  collectors/plugins.d/plugins_d.c
Labels: area/collectors

#6339 Reimplemented mypopen() function family
  collectors/tc.plugin/plugin_tc.c
  libnetdata/libnetdata.h
  libnetdata/popen/popen.c
Labels: area/libnetdata

#6276 ZRAM info collector module (proc.plugin)
  CMakeLists.txt
  Makefile.am
  collectors/all.h
  collectors/proc.plugin/plugin_proc.c
  collectors/proc.plugin/plugin_proc.h
  collectors/proc.plugin/sys_block_zram.c
  web/gui/dashboard_info.js
Labels: area/collectors, area/web

#6387 Daemon fix double kills of collection threads on shutdown
  collectors/plugins.d/plugins_d.c
Labels: area/collectors

#6400 Snapshot uniqueId fix
  web/gui/dashboard.js
  web/gui/src/dashboard.js/main.js
Labels: area/web

#6404 Fix Web API Health documentation
  web/api/health/README.md
Labels: area/docs

#6406 Update Running-behind-apache.md
  docs/Running-behind-apache.md
Labels: area/docs

#6375 Add apps grouping debug messages
  collectors/apps.plugin/apps_plugin.c
Labels: area/collectors

#6417 Updated logos in the infographic and remaining favicons
  README.md
  diagrams/netdata-overview.xml
  web/gui/console.html
  web/gui/demosites.html
  web/gui/infographic.html
Labels: area/docs

#6421 netdata/packaging/doc: Update documentation dependencies
  packaging/installer/README.md
Labels: area/docs, area/packaging

#6415 netdata/packaging: Fix RPM packaging workflow issues, plus draft changes for .DEB packaging
  .travis.yml
  .travis/package_management/common.py
  .travis/package_management/configure_deb_lxc_environment.py
  .travis/package_management/configure_rpm_lxc_environment.py
Labels: area/ci, bug

#6414 SSL vs. TLS consistency and clarification in documentation
  README.md
  backends/opentsdb/README.md
  docs/Running-behind-nginx.md
  streaming/README.md
  web/server/README.md
Labels: area/docs

#6422 Netdata/packaging: Add documentation for binary packages, plus draft table for distributions support
  docs/generator/buildyaml.sh
  packaging/DISTRIBUTIONS.md
  packaging/installer/README.md
Labels: area/docs

#6413 Add more codeowners to the core
  .github/CODEOWNERS
Labels: area/ci

#6443 Add more supported backends to the documentation
  README.md
  backends/README.md
Labels: area/docs

#6419 Add global configuration option for zero metrics
  collectors/cgroups.plugin/README.md
  collectors/cgroups.plugin/sys_fs_cgroup.c
  collectors/diskspace.plugin/README.md
  collectors/diskspace.plugin/plugin_diskspace.c
  collectors/freebsd.plugin/README.md
  collectors/freebsd.plugin/freebsd_devstat.c
  collectors/freebsd.plugin/freebsd_getifaddrs.c
  collectors/freebsd.plugin/freebsd_getmntinfo.c
  collectors/freebsd.plugin/freebsd_sysctl.c
  collectors/macos.plugin/README.md
  collectors/macos.plugin/macos_sysctl.c
  collectors/proc.plugin/README.md
  collectors/proc.plugin/proc_diskstats.c
  collectors/proc.plugin/proc_meminfo.c
  collectors/proc.plugin/proc_net_dev.c
  collectors/proc.plugin/proc_net_netstat.c
  collectors/proc.plugin/proc_net_sctp_snmp.c
  collectors/proc.plugin/proc_net_snmp.c
  collectors/proc.plugin/proc_net_snmp6.c
  collectors/proc.plugin/proc_net_sockstat.c
  collectors/proc.plugin/proc_net_sockstat6.c
  collectors/proc.plugin/proc_net_stat_synproxy.c
  collectors/proc.plugin/proc_spl_kstat_zfs.c
  collectors/proc.plugin/proc_vmstat.c
  collectors/proc.plugin/sys_devices_system_edac_mc.c
  collectors/proc.plugin/sys_devices_system_node.c
  collectors/proc.plugin/sys_fs_btrfs.c
  collectors/proc.plugin/sys_kernel_mm_ksm.c
  collectors/tc.plugin/README.md
  collectors/tc.plugin/plugin_tc.c
  daemon/common.h
  daemon/config/README.md
  daemon/main.c
  docs/configuration-guide.md
Labels: area/collectors, area/daemon, area/docs

#6452 Fix CRC and I/O error handling in dbengine
  configs.signatures
  database/engine/journalfile.c
  database/engine/rrdengine.c
  health/health.d/dbengine.conf
Labels: area/database, area/health

#6463 python sensors collector: sensor chips filtering fix
  collectors/python.d.plugin/sensors/sensors.chart.py
Labels: area/collectors, area/external/python

#6461 Fix broken links
  web/gui/dashboard_info.js
Labels: area/web

#6445 Stop docs icon from linking to streaming page instead of docs root
  docs/generator/buildyaml.sh
Labels: area/docs

#6425 Styling improvements to documentation
  docs/README.md
  docs/generator/buildyaml.sh
  docs/generator/custom/css/netdata.css
Labels: area/docs

#6466 update Nginx guide with changes
  docs/Running-behind-nginx.md
  docs/netdata-security.md
Labels: area/docs

#6474 Add a statement about permissions for the diskspace plugin
  collectors/diskspace.plugin/README.md
Labels: area/docs

#6435 Update docs health monitoring and health management api
  health/README.md
  web/api/health/README.md
Labels: area/docs

#6460 json function could create overflow
  libnetdata/json/json.c
Labels: area/libnetdata

#6428 New 'homepage' for documentation site
  DOCUMENTATION.md
  docs/generator/buildhtml.sh
  docs/generator/buildyaml.sh
  docs/generator/custom/css/netdata.css
  docs/what-is-netdata.md
Labels: area/docs

#6388 Change default installation to stable in documentation
  README.md
  packaging/installer/README.md
Labels: area/docs

#6480 netdata/packaging: Enable built-in support for prometheus remote write in packaging
  .travis/package_management/common.py
  .travis/package_management/configure_deb_lxc_environment.py
  .travis/package_management/configure_rpm_lxc_environment.py
  contrib/debian/control
  contrib/debian/control.jessie
  netdata.spec.in
Labels: area/ci, area/packaging

#6491 Stop anonymous stats from writing log in /tmp
  daemon/anonymous-statistics.sh.in
Labels: bug

#6472 Get user and group names from files
  README.md
  collectors/apps.plugin/apps_plugin.c
  packaging/docker/README.md
Labels: area/collectors, area/docs

#6501 netdata/docs: Add @joelhans as co-owner on documentation
  .github/CODEOWNERS
Labels: area/ci

#6455 Fix nodes menu sizing (responsive)
  web/gui/index.html
  web/gui/main.css
  web/gui/main.js
Labels: area/web

#6507 netdata/packaging: Do not deliver edit-config as part of the distribution tarball
  system/Makefile.am
Labels: area/packaging, bug

#6485 Add support for plain text only emails
  health/notifications/alarm-notify.sh.in
  health/notifications/health_alarm_notify.conf
Labels: area/health

#6505 Fixed broken left navbar links in translated docs
  docs/generator/buildhtml.sh
Labels: area/docs

#6454 Add netdata haproxy documentation page
  docs/Running-behind-haproxy.md
  docs/generator/buildyaml.sh
Labels: area/docs

#6518 mongodb: change `password` to `pass` in the module config
  collectors/python.d.plugin/mongodb/mongodb.conf
Labels: area/collectors, area/external/python

#6392 Make use of GCC's __attribute__((unused))
  collectors/apps.plugin/apps_plugin.c
  collectors/cgroups.plugin/cgroup-network.c
  collectors/statsd.plugin/statsd.c
  configure.ac
  database/rrddim.c
  database/rrdvar.c
  libnetdata/locks/locks.c
  libnetdata/socket/security.c
Labels: area/collectors, area/database, area/libnetdata

#6426 Utf8 Badge Fix And URL Parser International Support (initial)
  CMakeLists.txt
  Makefile.am
  libnetdata/libnetdata.h
  libnetdata/string/utf8.h
  libnetdata/url/url.c
  web/api/badges/web_buffer_svg.c
  web/server/web_client.c
  web/server/web_client.h
Labels: area/libnetdata, area/web

#6247 Url parser refactoring
  .gitignore
  libnetdata/url/url.c
  libnetdata/url/url.h
  tests/Makefile.am
  tests/urls/request.sh.in
  web/api/health/health_cmdapi.c
  web/api/web_api_v1.c
  web/server/web_client.c
  web/server/web_client.h
Labels: area/libnetdata, area/tests, area/web

#6538 [ci skip] minor/vanity - add self.name() to contrib.md
  CONTRIBUTORS.md
Labels: area/docs

#6544 redirect after clicking Nodes > SignIn
  web/gui/main.js
Labels: area/web

#6534 Docs: Remove text about nightly version
  packaging/installer/README.md
Labels: area/docs

#6468 Fix parsing SSL ACL along with others
  .gitignore
  collectors/plugins.d/plugins_d.c
  collectors/plugins.d/plugins_d.h
  libnetdata/socket/security.c
  libnetdata/socket/security.h
  libnetdata/socket/socket.c
  libnetdata/socket/socket.h
  streaming/rrdpush.c
  tests/Makefile.am
  tests/acls/acl.sh.in
  tests/acls/netdata.cfg
  tests/acls/netdata.ssl.cfg
  web/server/README.md
  web/server/web_client.c
Labels: area/collectors, area/libnetdata, area/streaming, area/tests

#6539 minor - code readability HTTP CODES as defines && clear warnings
  web/server/web_client.c
  web/server/web_client.h
Labels: area/libnetdata, area/web

#6441 Safer container names
  collectors/cgroups.plugin/cgroup-name.sh.in
  packaging/docker/Dockerfile
  packaging/docker/README.md
  packaging/docker/build-test.sh
  packaging/docker/run.sh
Labels: area/collectors, area/docs, area/packaging

#6520 netdata/packaging: Adopt netdata-updater to run properly for static64 installations.
  netdata-installer.sh
  packaging/installer/netdata-updater.sh
  packaging/makeself/jobs/70-netdata-git.install.sh
Labels: area/packaging, bug

#6556 netdata/packaging: Notify us when CHANGELOG.md gets too old
  .travis.yml
  .travis/check_changelog_last_modification.sh
Labels: area/ci

#6526 .travis.yml: Fix some yamllint errors
  .travis.yml
Labels: area/ci

#6549 Add configurable default locations for trusted CA certificates
  collectors/plugins.d/plugins_d.c
  libnetdata/socket/security.c
  libnetdata/socket/security.h
  streaming/README.md
  streaming/rrdpush.c
  streaming/stream.conf
Labels: area/collectors, area/docs, area/libnetdata, area/streaming

#6555 netdata/packaging: Move tarball checksum information into lib dir of netdata
  netdata-installer.sh
  packaging/installer/UNINSTALL.md
  packaging/installer/netdata-updater.sh
Labels: area/packaging, bug

#6547 smartd_log: use `del_dimension` instead of `hide_dimension` to delete inactive disks
  collectors/python.d.plugin/smartd_log/smartd_log.chart.py
Labels: area/collectors, area/external/python

#6561 Handle disconnected sockets in unbound collector.
  collectors/python.d.plugin/python_modules/bases/FrameworkServices/SocketService.py
  collectors/python.d.plugin/unbound/unbound.chart.py
Labels: area/collectors, area/external/python
