Repository netdata/netdata, pull requests merged in 2019-04, with the labels that each got.

#5753 libapache2-mod-proxy-html was a transitional package for apache2-bin
  docs/Running-behind-apache.md
Labels: area/docs

#5751 Fix the Polyverse reinstall that caused APK broken state
  packaging/docker/Dockerfile
Labels: area/packaging

#5742 Correct typo in ceph README
  collectors/python.d.plugin/ceph/README.md
Labels: area/docs

#5545 Added RocketChat default recipient for roles
  health/notifications/health_alarm_notify.conf
Labels: area/health

#5453 Add simonnagl as CODEOWNER for cups.plugin
  .github/CODEOWNERS
Labels: area/ci

#5766 Make netdata.spec more futureproof
  netdata.spec.in
Labels: area/packaging, bug

#5763 netdata/packaging: Remove .tar.gz on distclean
  Makefile.am
Labels: area/packaging, performance

#5770 Fix smstools3 error handling
  health/notifications/alarm-notify.sh.in
  health/notifications/smstools3/README.md
Labels: area/docs, area/health

#5777 netdata: Add another global owner
  .github/CODEOWNERS
Labels: area/ci

#5778 netdata/packaging/ci: Add kickstart execution integrity tests
  .travis.yml
Labels: area/ci, performance

#5780 netdata/packaging/ci: fix travis syntax
  .travis.yml
Labels: area/ci

#5756 Fix unix socket access on FreeBSD
  libnetdata/socket/socket.c
Labels: area/libnetdata

#5789 netdata/packaging: Fix non compatible function declaration
  packaging/installer/README.md
  packaging/installer/functions.sh
  packaging/installer/kickstart-static64.sh
  packaging/installer/kickstart.sh
  packaging/installer/netdata-updater.sh
Labels: area/packaging, bug

#5779 Add preferred disk id pattern
  collectors/proc.plugin/README.md
  collectors/proc.plugin/proc_diskstats.c
Labels: area/collectors, area/docs

#5790 netdata/packaging/docker: Change password
  .travis/README.md
  packaging/docker/README.md
  packaging/docker/build-test.sh
  packaging/docker/publish.sh
Labels: area/docs, area/packaging

#5796 Add memory free and per process memory usage to nvidia_smi
  collectors/python.d.plugin/nvidia_smi/nvidia_smi.chart.py
  collectors/python.d.plugin/python_modules/bases/charts.py
Labels: area/collectors, area/external/python

#5806 netdata/packaging/installer: HoS situation - Fix broken install-or-update script
  packaging/installer/functions.sh
  packaging/makeself/install-or-update.sh
Labels: area/packaging, bug

#5792 Support configurable syslog facilities
  daemon/main.c
  libnetdata/log/log.c
  libnetdata/log/log.h
Labels: area/daemon, area/libnetdata

#5407 unified cgroup support
  CONTRIBUTORS.md
  collectors/cgroups.plugin/README.md
  collectors/cgroups.plugin/sys_fs_cgroup.c
Labels: area/collectors

#5836 phpfpm collector: add last_collected_secs health check
  health/Makefile.am
  health/health.d/phpfpm.conf
Labels: area/health

#5853 netdata/web/gui/dashboard: do not remove the dashboard upon make clean
  web/gui/Makefile.am
Labels: area/web

#5856 netdata/packaging/installer: correlate permissions amongst plugins to 0750
  netdata-installer.sh
Labels: area/packaging

#5849 installer: include go.d.plugin version v0.4.0
  netdata-installer.sh
  packaging/go.d.checksums
Labels: area/packaging

#5866 netdata/packaging/ci: Use proper notifier in slack message
  tests/installer/checksums.sh
Labels: area/packaging

#5816 netdata/packaging/ci: Do not trigger deployment if certain conditions are not met
  .travis.yml
Labels: area/ci, bug

#5848 netdata/collectors/cgroups.plugin: When jq not available, prompt the user he may have to install jq
  collectors/cgroups.plugin/cgroup-name.sh.in
Labels: area/collectors

#5725 Add ioping plugin
  .gitignore
  README.md
  build/subst.inc
  collectors/Makefile.am
  collectors/README.md
  collectors/apps.plugin/apps_groups.conf
  collectors/ioping.plugin/Makefile.am
  collectors/ioping.plugin/README.md
  collectors/ioping.plugin/ioping.conf
  collectors/ioping.plugin/ioping.plugin.in
  collectors/plugins.d/README.md
  configure.ac
  docs/Add-more-charts-to-netdata.md
  docs/generator/buildyaml.sh
  health/Makefile.am
  health/health.d/ioping.conf
  netdata-installer.sh
  packaging/makeself/install-or-update.sh
  packaging/makeself/jobs/50-ioping-1.1.install.sh
  web/gui/dashboard_info.js
Labels: area/collectors, area/docs, area/health, area/packaging, area/web

#5911 SocketService: set socket operation timeout before connecting
  collectors/python.d.plugin/python_modules/bases/FrameworkServices/SocketService.py
Labels: area/collectors, area/external/python

#5923 smartd_log: attrs 3, 194 fix
  collectors/python.d.plugin/smartd_log/smartd_log.chart.py
Labels: area/collectors, area/external/python

#5917 netdata/packaging/docker: fix docker permissions and other things
  packaging/docker/Dockerfile
  packaging/docker/build.sh
  packaging/docker/publish.sh
Labels: area/packaging

#5894 NEW: Energi Core daemon monitoring, suits other Bitcoin forks
  collectors/python.d.plugin/Makefile.am
  collectors/python.d.plugin/energid/Makefile.inc
  collectors/python.d.plugin/energid/README.md
  collectors/python.d.plugin/energid/energid.chart.py
  collectors/python.d.plugin/energid/energid.conf
  collectors/python.d.plugin/python.d.conf
Labels: area/collectors, area/docs, area/external/python
