Repository netdata/netdata, pull requests merged in 2020-05, with the labels that each got.

#8858 remove old-cloud related UI from old dashboard
  web/gui/main.js
  web/gui/old/index.html
Labels: area/web

#8867 Added docmentation about workaround for clang build errors.
  packaging/installer/methods/manual.md
Labels: area/docs, area/packaging

#8870 dashboard v1.0.13
  packaging/dashboard.checksums
  packaging/dashboard.version
Labels: area/packaging

#8904 dashboard v1.0.14
  packaging/dashboard.checksums
  packaging/dashboard.version
Labels: area/packaging

#8880 Update Running-behind-nginx.md
  docs/Running-behind-nginx.md
Labels: area/docs

#8897 Fix missing NETDATA_STOP_CMD in netdata-installer.sh
  netdata-installer.sh
  packaging/installer/functions.sh
Labels: area/packaging

#8522 github/workflow: disable `document-start` yamllint check
  .yamllint.yml
Labels: area/ci

#8857 Fix command name for getting postfix queue
  collectors/python.d.plugin/postfix/README.md
Labels: area/collectors, area/docs, area/external/python

#8813 Docs: Add instructions to persist metrics and restart policy
  packaging/docker/README.md
Labels: area/docs, area/packaging

#8927 Change the name of the connect message to update during an ongoing se…
  aclk/agent_cloud_link.c
Labels: ACLK

#8937 Updates main copyright and links for the year 2020
  daemon/main.c
Labels: area/daemon

#8944 Fetch active alarms from alarm_log
  aclk/agent_cloud_link.c
  health/health_json.c
Labels: ACLK, area/health

#8887 Go live
  .github/dockerfiles/Dockerfile.build_test
  .github/workflows/build-and-install.yml
  Makefile.am
  aclk/aclk_lws_wss_client.c
  aclk/aclk_lws_wss_client.h
  aclk/agent_cloud_link.c
  aclk/agent_cloud_link.h
  aclk/mqtt.c
  build/subst.inc
  build_external/projects/aclk-testing/agent-compose.yml
  build_external/projects/aclk-testing/agent-valgrind-compose.yml
  claim/README.md
  claim/claim.c
  claim/claim.h
  claim/netdata-claim.sh.in
  configure.ac
  daemon/commands.c
  daemon/commands.h
  daemon/daemon.c
  daemon/main.c
  health/health_json.c
  health/notifications/alarm-notify.sh.in
  libnetdata/config/appconfig.c
  libnetdata/libnetdata.h
  netdata-installer.sh
  packaging/dashboard.checksums
  packaging/dashboard.version
  packaging/docker/Dockerfile
  packaging/jsonc.checksums
  packaging/jsonc.version
  registry/registry.c
  registry/registry.h
  registry/registry_init.c
  tests/alarm_repetition/netdata.conf_with_repetition
  tests/alarm_repetition/netdata.conf_without_repetition
  web/api/web_api_v1.c
  web/gui/main.js
  web/gui/old/index.html
Labels: ACLK, area/build, area/ci, area/daemon, area/docs, area/health, area/packaging, area/registry

#8859 Docs: Update with go-live claiming and ACLK information
  README.md
  aclk/README.md
  claim/README.md
  daemon/README.md
Labels: ACLK, area/daemon, area/docs

#8960 Docs: Update with go-live claiming and ACLK information (#8859)
  README.md
  aclk/README.md
  claim/README.md
  daemon/README.md
Labels: ACLK, area/daemon, area/docs

#8931 Fix shutdown via netdatacli with musl C library
  daemon/commands.c
Labels: area/daemon

#8946 Docs: Fix internal links and remove obsolete admonitions
  CONTRIBUTING.md
  aclk/README.md
  collectors/QUICKSTART.md
  collectors/freeipmi.plugin/README.md
  collectors/python.d.plugin/oracledb/README.md
  docs/Donations-netdata-has-received.md
  docs/Running-behind-haproxy.md
  docs/anonymous-statistics.md
  docs/contributing/contributing-documentation.md
  docs/contributing/style-guide.md
  docs/tutorials/collect-apache-nginx-web-logs.md
  docs/tutorials/monitor-cockroachdb.md
  health/QUICKSTART.md
  health/REFERENCE.md
  health/notifications/awssns/README.md
  health/notifications/dynatrace/README.md
  health/notifications/kavenegar/README.md
  packaging/installer/UPDATE.md
  packaging/installer/methods/cloud-providers.md
  packaging/installer/methods/kickstart.md
  packaging/installer/methods/macos.md
  packaging/installer/methods/manual.md
  packaging/installer/methods/offline.md
  packaging/installer/methods/packages.md
  packaging/installer/methods/synology.md
  streaming/README.md
  web/server/README.md
Labels: ACLK, area/collectors, area/docs, area/external/python, area/health, area/packaging, area/streaming, area/web

#8964 Remove UNUSED word from flood protection documentation
  daemon/config/README.md
Labels: area/daemon, area/docs

#8978 Remove check for old alarm status (CID 358436)
  health/health_json.c
Labels: area/health

#8988 Fixed bundling of React dashboard in DEB and RPM packages.
  packaging/bundle-dashboard.sh
Labels: area/packaging

#8986 Added JSON-C packaging fils to make dist.
  Makefile.am
Labels: area/build

#8987 Restore old semantics of "netdata -W set" command
  claim/README.md
  daemon/main.c
Labels: area/daemon, area/docs

#8992 Fix the latency issue on the ACLK and suppress the diagnostics
  aclk/aclk_lws_wss_client.c
  aclk/agent_cloud_link.c
  aclk/mqtt.c
Labels: ACLK

#8959 Fix file name weblog.conf -> web_log.conf
  docs/tutorials/collect-apache-nginx-web-logs.md
Labels: area/docs

#8940 [varnish] : added compatibility for varnish-plus
  collectors/python.d.plugin/varnish/varnish.chart.py
Labels: area/collectors, area/external/python

#8929 postgres.chart.py: fix template databases ignore
  collectors/python.d.plugin/postgres/postgres.chart.py
Labels: area/collectors, area/external/python

#8968 Add text to ACLK doc mentioning WebSockets and port
  aclk/README.md
Labels: ACLK, area/docs

#8999 Caddy section lacked data persist volumes
  packaging/docker/README.md
Labels: area/docs, area/packaging

#8965 Update daemon output with new URLs and dates
  daemon/README.md
Labels: area/daemon, area/docs

#8879 Ebpf options
  collectors/ebpf_process.plugin/ebpf_process.c
  collectors/ebpf_process.plugin/ebpf_process.h
Labels: area/collectors

#8822 Rename eBPF collector
  .gitignore
  CMakeLists.txt
  Makefile.am
  README.md
  collectors/Makefile.am
  collectors/ebpf.plugin/Makefile.am
  collectors/ebpf.plugin/README.md
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.conf
  collectors/ebpf.plugin/ebpf.h
  collectors/plugins.d/plugins_d.c
  configure.ac
  docs/generator/buildyaml.sh
  netdata-installer.sh
  netdata.spec.in
Labels: area/build, area/collectors, area/docs, area/packaging

#8892 Fix wrong hostnames in the exporting engine
  exporting/graphite/graphite.c
  exporting/json/json.c
  exporting/opentsdb/opentsdb.c
  exporting/prometheus/remote_write/remote_write.c
Labels: area/backends

#8913 Account for zfs.arc_size.min, and correct calc
  health/health.d/ram.conf
Labels: area/health

#8814 Fixed formatting in API swagger json file
  web/api/netdata-swagger.json
Labels: area/web

#8910 Fix error handling in exporting connector
  CMakeLists.txt
  Makefile.am
  exporting/exporting_engine.c
  exporting/exporting_engine.h
  exporting/process_data.c
  exporting/tests/exporting_doubles.c
  exporting/tests/test_exporting_engine.c
  exporting/tests/test_exporting_engine.h
Labels: area/backends, area/build

#8407 Improve the impact of health code on netdata scalability
  CMakeLists.txt
  Makefile.am
  configure.ac
  daemon/common.h
  daemon/main.c
  database/rrd.h
  health/health.c
  health/health.h
  libnetdata/popen/popen.c
  libnetdata/popen/popen.h
  spawn/Makefile.am
  spawn/README.md
  spawn/spawn.c
  spawn/spawn.h
  spawn/spawn_client.c
  spawn/spawn_server.c
Labels: area/build, area/daemon, area/database, area/docs, area/health

#9027 Add text to claiming doc about reclaiming with id=
  claim/README.md
Labels: area/docs

#8872 removed simley face per Chris since it didn't show up
  docs/step-by-step/step-03.md
Labels: area/docs

#9033 Fix link in web server log guide
  docs/tutorials/collect-apache-nginx-web-logs.md
Labels: area/docs

#8874 Docs: Remove old Cloud/dashboard and replace with new Cloud/dashboard
  DOCUMENTATION.md
  README.md
  daemon/config/README.md
  docs/agent-cloud.md
  docs/getting-started.md
  docs/netdata-cloud/README.md
  docs/netdata-cloud/nodes-view.md
  docs/netdata-cloud/signing-in.md
  docs/step-by-step/step-02.md
  docs/step-by-step/step-03.md
  docs/step-by-step/step-04.md
  docs/step-by-step/step-07.md
  docs/what-is-netdata.md
  packaging/installer/UPDATE.md
  web/README.md
  web/gui/README.md
Labels: area/daemon, area/docs, area/packaging, area/web

#8762 Sort alphabetically and automatic scroll
  web/gui/dash-example.html
Labels: area/web

#9038 [python.d/samba] Only use sudo when not running as root user
  collectors/python.d.plugin/samba/samba.chart.py
Labels: area/collectors, area/external/python

#9049 Add agent restart note for reclaiming
  claim/README.md
Labels: area/docs

#9058 claim: fix `New/ephemeral Agent containers` instruction
  claim/README.md
Labels: area/docs

#8643 Update freebsd.md
  packaging/installer/methods/freebsd.md
Labels: area/docs, area/packaging

#8703 Typo.
  docs/Running-behind-haproxy.md
Labels: area/docs

#9052 Add frontmatter to exporting connectors
  exporting/README.md
  exporting/aws_kinesis/README.md
  exporting/mongodb/README.md
  exporting/prometheus/remote_write/README.md
  exporting/pubsub/README.md
Labels: area/backends, area/docs

#9062 Add proc.plugin configuration example for high-processor systems
  collectors/proc.plugin/README.md
Labels: area/collectors, area/docs

#9071 python.d/proxysql: add `Requirements` to the readme
  collectors/python.d.plugin/proxysql/README.md
Labels: area/collectors, area/docs, area/external/python

#9066 Update the exporting documentation
  exporting/Makefile.am
  exporting/README.md
  exporting/TIMESCALE.md
  exporting/WALKTHROUGH.md
  exporting/exporting.conf
  exporting/opentsdb/Makefile.am
  exporting/opentsdb/README.md
  exporting/prometheus/README.md
  exporting/pubsub/README.md
Labels: area/backends, area/build, area/docs

#9067 Add links to promote database engine calculator
  database/engine/README.md
  docs/getting-started.md
  docs/step-by-step/step-09.md
  docs/tutorials/longer-metrics-storage.md
Labels: area/database, area/docs

#9081 Clean instances
  CMakeLists.txt
  Makefile.am
  exporting/clean_connectors.c
  exporting/exporting_engine.h
Labels: area/backends, area/build

#8665 install and enable eBPF Plugin by default
  collectors/ebpf.plugin/ebpf.c
  collectors/plugins.d/plugins_d.c
  libnetdata/ebpf/ebpf.c
  libnetdata/ebpf/ebpf.h
  netdata-installer.sh
  packaging/ebpf.checksums
  packaging/ebpf.version
  packaging/installer/check-kernel-config.sh
Labels: area/collectors, area/packaging

#9094 Reduce minimum size for dbengine disk space
  database/engine/datafile.h
  database/engine/rrdengineapi.c
  database/engine/rrdengineapi.h
Labels: area/database

#9086 Fix issue #9085: Prometheus TYPE lines incorrectly formatted (when enabled via query parm)
  backends/prometheus/README.md
  backends/prometheus/backend_prometheus.c
  exporting/prometheus/README.md
  exporting/prometheus/prometheus.c
Labels: area/backends, area/docs

#8802 Removeed Polyverse Polymorphic Linux from Docker builds.
  packaging/docker/Dockerfile
  packaging/docker/README.md
  packaging/docker/run.sh
Labels: area/docs, area/packaging

#9096 Fix typo in dashboard description
  web/gui/dashboard_info.js
Labels: area/web

#8781 Docs: Update contributing guidelines
  docs/README.md
  docs/contributing/contributing-documentation.md
  docs/contributing/style-guide.md
  docs/step-by-step/step-99.md
  docs/what-is-netdata.md
  packaging/DISTRIBUTIONS.md
  packaging/docker/README.md
Labels: area/docs, area/packaging

#8544 Update pfsense.md
  packaging/installer/methods/pfsense.md
Labels: area/docs, area/packaging

#8658 Update synology.md
  packaging/installer/methods/synology.md
Labels: area/docs, area/packaging

#9031 Included 'cmake' in the list of pkgs installed
  packaging/installer/methods/freebsd.md
Labels: area/docs, area/packaging

#9003 Add GitHub CI job to check Markdown links during PRs
  .github/workflows/docs.yml
Labels: area/ci, area/docs, area/registry

#9046 Don't overwrite netdata.conf on update on static installs.
  packaging/makeself/jobs/70-netdata-git.install.sh
Labels: area/packaging

#9099 Prepare the main cleanup function for the exporting engine
  exporting/clean_connectors.c
  exporting/exporting_engine.c
  exporting/exporting_engine.h
  exporting/send_data.c
  exporting/tests/test_exporting_engine.c
Labels: area/backends

#9047 Add ACLK Connection Details
  aclk/README.md
Labels: ACLK, area/docs

#9107 Restore SIGCHLD signal handler after being replaced by libuv
  daemon/main.c
  daemon/signals.c
  daemon/signals.h
Labels: area/daemon

#9044 Regenerate topic base on connect
  aclk/agent_cloud_link.c
  claim/claim.c
  web/api/web_api_v1.c
Labels: ACLK, area/web

#9105 Update eBPF documentation to reflect default enabled status
  collectors/ebpf.plugin/README.md
Labels: area/collectors, area/docs

#8865 Fix macOS builds building and linking against openssl
  netdata-installer.sh
Labels: area/packaging

#9103 Dynamic memory cleanup for MongoDB exporting connector
  exporting/exporting_engine.c
  exporting/mongodb/mongodb.c
Labels: area/backends

#8996 Fix suid bits on plugin for debian packaging
  contrib/debian/netdata.postinst.in
  contrib/debian/rules
Labels: area/packaging

#7902 Improve system-info.sh to better handle certain cases when gathering info on the system's disk capacity.
  daemon/system-info.sh
Labels: area/daemon

#9000 Update step-10.md
  docs/step-by-step/step-10.md
Labels: area/docs

#9108 Package: obsoletes conflicting EPEL packages (#6879 #8784)
  netdata.spec.in
Labels: area/packaging

#9128 Fix paths to trigger docs CI workflow
  .github/workflows/docs.yml
Labels: area/ci, area/docs

#8783 Remove old docs generation tooling
  .github/CODEOWNERS
  .github/labeler.yml
  Dockerfile.docs
  Makefile.am
  docs/generator/buildhtml.sh
  docs/generator/buildyaml.sh
  docs/generator/checklinks.sh
  docs/generator/custom/css/netdata.css
  docs/generator/custom/img/favicon.ico
  docs/generator/custom/img/geography-16.png
  docs/generator/custom/img/netdata_docs.png
  docs/generator/custom/img/netdata_logo.svg
  docs/generator/custom/img/netdata_text.svg
  docs/generator/custom/javascripts/cookie-consent.js
  docs/generator/custom/themes/material/main.html
  docs/generator/custom/themes/material/partials/footer.html
  docs/generator/custom/themes/material/partials/header.html
  docs/generator/requirements.txt
  docs/generator/runtime.txt
  netlify.toml
Labels: area/build, area/ci, area/docs, area/packaging

#9112 Dynamic memory cleanup for Pub/Sub exporting connector
  exporting/pubsub/pubsub.c
  exporting/pubsub/pubsub.h
  exporting/pubsub/pubsub_publish.cc
  exporting/pubsub/pubsub_publish.h
  exporting/tests/test_exporting_engine.c
Labels: area/backends

#9122 Fix buffer splitting in the Kinesis exporting connector
  exporting/aws_kinesis/aws_kinesis.c
Labels: area/backends

#9132 Fix docs CI to handle absolute links between docs
  .github/workflows/docs.yml
  .mlc_config.json
  exporting/prometheus/README.md
Labels: area/backends, area/ci, area/docs

#9005 Fixes enable/start of netdata service in debian package
  contrib/debian/netdata.postinst
  contrib/debian/netdata.postrm
  contrib/debian/netdata.preinst
  contrib/debian/rules
Labels: area/packaging

#9125 Send anonymous statistics from backends and exporting engine
  backends/backends.c
  exporting/exporting_engine.c
  exporting/exporting_engine.h
  exporting/init_connectors.c
  exporting/read_config.c
Labels: area/backends

#9137 Revert "Fix macOS builds building and linking against openssl"
  netdata-installer.sh
Labels: area/packaging

#9131 Check update interval for exporting connector instance
  exporting/read_config.c
Labels: area/backends

#8911 Fix incorrect issue link URL in install-required-packages.sh
  packaging/installer/install-required-packages.sh
Labels: area/packaging

#9098 Exporting cleanup
  exporting/aws_kinesis/aws_kinesis.c
  exporting/clean_connectors.c
  exporting/exporting_engine.c
  exporting/exporting_engine.h
  exporting/graphite/graphite.c
  exporting/json/json.c
  exporting/opentsdb/opentsdb.c
  exporting/prometheus/prometheus.c
  exporting/prometheus/prometheus.h
  exporting/prometheus/remote_write/remote_write.c
  exporting/prometheus/remote_write/remote_write.h
  exporting/send_data.c
Labels: area/backends

#9120 Generate global random GUIDs
  daemon/main.c
  database/engine/global_uuid_map/global_uuid_map.c
  database/engine/global_uuid_map/global_uuid_map.h
  database/engine/metadata_log/metadatalogapi.c
  database/engine/rrdengineapi.c
  database/rrd.h
  database/rrddim.c
  database/rrdhost.c
  database/rrdset.c
  libnetdata/log/log.h
Labels: area/build, area/daemon, area/database, area/docs, area/tests

#9074 Implement new incremental parser
  Makefile.am
  collectors/plugins.d/plugins_d.c
  collectors/plugins.d/plugins_d.h
  collectors/plugins.d/pluginsd_parser.c
  collectors/plugins.d/pluginsd_parser.h
  collectors/statsd.plugin/statsd.c
  configure.ac
  parser/Makefile.am
  parser/README.md
  parser/parser.c
  parser/parser.h
  streaming/rrdpush.c
Labels: area/build, area/collectors, area/daemon, area/database, area/docs, area/streaming, area/tests

#8720 Correctly track last num vcpus in xenstat_plugin
  collectors/xenstat.plugin/xenstat_plugin.c
Labels: area/collectors

#9060 Added required bundle for libuuid on ClearLinux.
  .github/workflows/build-and-install.yml
  packaging/installer/install-required-packages.sh
Labels: area/ci, area/packaging

#9130 Add CI for our Static Netdata builds (which kickstart-static64 uses)
  .github/scripts/build-static-x86_64.sh
  .github/scripts/functions.sh
  .github/workflows/build-and-install.yml
  packaging/makeself/build-x86_64-static.sh
  packaging/makeself/build.sh
  packaging/makeself/install-alpine-packages.sh
  packaging/makeself/jobs/70-netdata-git.install.sh
Labels: area/ci, area/packaging

#9079 Introduce a random sleep in the Netdata updater
  packaging/installer/netdata-updater.sh
  tests/updater_checks.bats
Labels: area/packaging, area/tests

#9048 Missing error aws
  exporting/aws_kinesis/aws_kinesis.c
  exporting/read_config.c
Labels: area/backends

#9075 New alarms (exporting and Backend)
  exporting/send_internal_metrics.c
  health/Makefile.am
  health/health.d/backend.conf
  health/health.d/exporting.conf
Labels: area/backends, area/build, area/health

#9034 Missing checks exporting
  exporting/aws_kinesis/aws_kinesis.c
  exporting/graphite/graphite.c
  exporting/json/json.c
  exporting/opentsdb/opentsdb.c
  exporting/prometheus/remote_write/remote_write.c
Labels: area/backends

#9157 Fixed coverity warning (CID 358971)
  collectors/plugins.d/pluginsd_parser.c
Labels: area/collectors

#9030 Move nc backend
  exporting/Makefile.am
  exporting/nc-exporting.sh
Labels: area/backends, area/build, area/docs

#9150 fix typo in step-03.md
  docs/step-by-step/step-03.md
Labels: area/docs

#9068 OpenTSDB and TLS
  exporting/exporting_engine.h
  exporting/opentsdb/opentsdb.c
  exporting/opentsdb/opentsdb.h
  exporting/read_config.c
  exporting/send_data.c
  libnetdata/socket/security.c
Labels: area/backends

#9045 Change backends to exporting engine in general documentation pages
  docs/getting-started.md
  docs/netdata-security.md
  docs/step-by-step/step-01.md
  docs/step-by-step/step-09.md
  docs/tutorials/longer-metrics-storage.md
  docs/what-is-netdata.md
Labels: area/docs

#9171 Remove the experimental label from the exporting engine documentation
  exporting/README.md
Labels: area/backends, area/docs

#9118 Update the kernel-collector version to v0.2.0
  packaging/ebpf.checksums
  packaging/ebpf.version
Labels: area/packaging

#9151 Update README.md
  collectors/statsd.plugin/README.md
Labels: area/collectors, area/docs

#9173 Remove knatsakis and ncmans from CODEOWNERS for the agent.
  .github/CODEOWNERS
Labels: area/ci

#9141 Fix error > emerge openssl-devel
  .github/workflows/build-and-install.yml
  packaging/installer/install-required-packages.sh
Labels: area/ci, area/packaging

#9180 cov_358988: Remove coverity bug
  exporting/send_data.c
Labels: area/backends

#9182 Fix missing ebpf packaging files from dist archive
  Makefile.am
  netdata-installer.sh
  packaging/check-kernel-config.sh
Labels: area/build, area/packaging

#9186 Fixed cmake build affected by #9074
  CMakeLists.txt
Labels: area/build

#9172 Added health check functionality to our Docker images.
  daemon/commands.c
  daemon/commands.h
  packaging/docker/Dockerfile
  packaging/docker/README.md
  packaging/docker/health.sh
Labels: area/daemon, area/docs, area/packaging

#9188 Clean type_name in exporting connector instance configuration
  exporting/clean_connectors.c
Labels: area/backends

#8649 Ceph: Added OSD size collection
  collectors/python.d.plugin/ceph/ceph.chart.py
  web/gui/dashboard_info.js
Labels: area/collectors, area/external/python, area/web

#9183 Fix exporting unit tests
  exporting/tests/test_exporting_engine.c
Labels: area/backends

#9148 eBPF modular
  CMakeLists.txt
  Makefile.am
  collectors/ebpf.plugin/README.md
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.conf
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_process.c
  collectors/ebpf.plugin/ebpf_process.h
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_socket.h
  libnetdata/ebpf/ebpf.c
  libnetdata/ebpf/ebpf.h
Labels: area/build, area/collectors, area/docs

#9205 fix small typo
  collectors/ebpf.plugin/README.md
Labels: area/collectors, area/docs

#9212 Update eBPF to use kernel-collector version 0.4.0.
  packaging/ebpf.checksums
  packaging/ebpf.version
Labels: area/packaging

#9104 Add support for eBPF for Netdata static64 (kickstart-static64.sh)
  .github/scripts/build-artifacts.sh
  .github/scripts/bump-packaging-version.sh
  netdata-installer.sh
  packaging/installer/functions.sh
  packaging/makeself/build.sh
  packaging/makeself/functions.sh
  packaging/makeself/install-alpine-packages.sh
  packaging/makeself/jobs/10-prepare-destination.install.sh
  packaging/makeself/jobs/50-bash-4.4.18.install.sh
  packaging/makeself/jobs/50-curl-7.60.0.install.sh
  packaging/makeself/jobs/50-fping-4.2.install.sh
  packaging/makeself/jobs/50-ioping-1.1.install.sh
  packaging/makeself/jobs/70-netdata-git.install.sh
  packaging/makeself/jobs/99-makeself.install.sh
  packaging/makeself/run-all-jobs.sh
Labels: area/ci, area/packaging

#9216 Add CI check for building against LibreSSL
  .github/workflows/checks.yml
Labels: area/ci

#9177 Improve dbengine docs for streaming setups
  database/engine/README.md
Labels: area/database, area/docs

#9198 fix compilation for older systems
  aclk/aclk_lws_https_client.c
  aclk/aclk_lws_wss_client.c
  configure.ac
Labels: ACLK, area/build
