Repository netdata/netdata, pull requests merged in 2020-08, with the labels that each got.

#9218 Require cloud build to succeed in make dist checks.
  .github/scripts/run_install_with_dist_file.sh
  .github/workflows/checks.yml
Labels: area/ci

#9637 Fetch libbpf from netdata fork
  Makefile.am
  libnetdata/ebpf/libbpf.c.diff
  netdata-installer.sh
  packaging/bundle-libbpf.sh
  packaging/libbpf.checksums
  packaging/libbpf.version
Labels: area/build, area/packaging

#9630 Fix Travis CI and remove deprecated/removed builds that have no upstream LXC image
  .travis.yml
Labels: area/packaging

#9639 dashboard v1.0.26
  package-lock.json
  packaging/dashboard.checksums
  packaging/dashboard.version
Labels: area/packaging

#9636 charts.d: fix `current_time_ms_from_date` on macOS
  collectors/charts.d.plugin/loopsleepms.sh.inc
Labels: area/collectors, area/external

#9646 installer: fix `govercomp`
  netdata-installer.sh
Labels: area/packaging

#9641 python.d: fix `find_binary`
  collectors/python.d.plugin/python_modules/bases/collection.py
Labels: area/collectors, area/external/python

#9651 Fix warning when compiled with gcc-10.1
  collectors/ebpf.plugin/ebpf_socket.c
Labels: area/collectors

#9372 nvidia_smi: charts for memory used by each user and number of distinct users
  collectors/python.d.plugin/nvidia_smi/README.md
  collectors/python.d.plugin/nvidia_smi/nvidia_smi.chart.py
Labels: area/collectors, area/docs, area/external/python

#9644 installer: update `go.d.plugin` version to v0.20.0
  libnetdata/buffer/buffer.c
  libnetdata/buffer/buffer.h
  packaging/go.d.checksums
  packaging/go.d.version
  web/api/formatters/rrdset2json.c
Labels: area/packaging, area/web

#9648 Detect a buggy Ubuntu kernel
  collectors/ebpf.plugin/Makefile.am
  collectors/ebpf.plugin/ebpf_kernel_reject_list.txt
  libnetdata/ebpf/ebpf.c
  libnetdata/ebpf/ebpf.h
Labels: area/build, area/collectors

#9667 Hide archived chart from mdstat collector.
  collectors/proc.plugin/proc_mdstat.c
  database/rrd.h
Labels: area/collectors, area/database

#9381 Fix Static Netdata to correctly build with Netdata Cloud support.
  .github/scripts/build-artifacts.sh
  .travis/create_artifacts.sh
  netdata-installer.sh
  packaging/makeself/install-alpine-packages.sh
  packaging/makeself/jobs/20-openssl.install.sh
  packaging/makeself/jobs/50-bash-4.4.18.install.sh
  packaging/makeself/jobs/50-curl-7.60.0.install.sh
  packaging/makeself/jobs/50-fping-4.2.install.sh
  packaging/makeself/jobs/70-netdata-git.install.sh
Labels: area/ci, area/packaging

#9661 Remove obsoleted libraries from install/uninstall scripts
  contrib/debian/rules
  netdata-installer.sh
  packaging/installer/netdata-uninstaller.sh
Labels: area/packaging

#9592 Add support for DEB packages for Ubuntu 20.04 (focal)
  .travis.yml
  .travis/package_management/configure_deb_lxc_environment.py
  contrib/debian/control.focal
Labels: area/ci, area/packaging

#9685 Stop multi-host DB statistics from being counted multiple times.
  daemon/global_statistics.c
Labels: area/daemon

#9688 Replace alarm redirection link for cloud, to stop showing 404
  health/notifications/alarm-notify.sh.in
Labels: area/health

#9694 Fix print message when building for Ubuntu Focal
  .travis/package_management/configure_deb_lxc_environment.py
  CONTRIBUTORS.md
Labels: area/ci

#9360 Update netdata-installer.sh to fix #8862
  netdata-installer.sh
Labels: area/packaging

#9696 Correct vulnerability reporting instructions
  SECURITY.md
Labels: area/docs

#9695 Fix collectors on MacOS and FreeBSD to ignore archived charts.
  collectors/freebsd.plugin/freebsd_ipfw.c
  collectors/freebsd.plugin/freebsd_sysctl.c
  collectors/macos.plugin/macos_mach_smi.c
  collectors/macos.plugin/macos_sysctl.c
Labels: area/collectors

#9715 Fix crash when receiving malformed labels via streaming.
  collectors/plugins.d/pluginsd_parser.c
  daemon/system-info.sh
Labels: area/collectors, area/daemon

#9711 Set the default value of the home directory to the environment's HOME
  daemon/common.c
  daemon/main.c
Labels: area/ci, area/daemon, area/health, area/packaging

#9703 Remove broken optimization in the sender thread
  streaming/sender.c
Labels: area/streaming

#9712 Fixed issue with missing alarms
  database/rrddim.c
Labels: area/database

#9725 Fixed global GUID map memory leak
  database/engine/global_uuid_map/global_uuid_map.c
Labels: area/ci, area/collectors, area/daemon, area/database, area/health, area/packaging, area/streaming

#9645 Fix for ignored LXC containers
  collectors/cgroups.plugin/cgroup-name.sh.in
  collectors/cgroups.plugin/sys_fs_cgroup.c
Labels: area/collectors

#9718 Removed Ubuntu 20.04 32-bit x86 package builds.
  .travis.yml
Labels: area/ci, no changelog

#9726 Add CAP_SYS_CHROOT for netdata service
  system/netdata.service.in
Labels: area/packaging

#9733 Added proper certificate handling cURL in our static build.
  packaging/makeself/jobs/50-curl-7.60.0.install.sh
Labels: area/packaging

#9602 Add community link to readme
  CONTRIBUTING.md
  README.md
Labels: area/web

#9740 Clarify which notifications are received when the "|critical" limit is set
  health/notifications/health_alarm_notify.conf
Labels: area/health

#9698 Send follow up alarms when the initial status matches the notification
  health/notifications/alarm-notify.sh.in
Labels: area/health

#9749 Fix code formatting for the mdstat collector
  collectors/proc.plugin/proc_mdstat.c
Labels: area/collectors

#9738 Fix flushing errors
  database/engine/README.md
  database/engine/metadata_log/metadatalog.c
  database/engine/metadata_log/metadatalog.h
  database/engine/metadata_log/metadatalogapi.c
  database/engine/metadata_log/metadatalogapi.h
  database/engine/pagecache.c
  database/engine/rrdengine.c
  database/engine/rrdengineapi.c
Labels: area/database, area/docs

#9591 Network viewer charts
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.conf
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_socket.h
Labels: area/collectors, area/docs, area/packaging, area/web

#9555 doc: netdata user is also a default
  collectors/python.d.plugin/mysql/README.md
Labels: area/collectors, area/docs, area/external/python

#9668 python.d/varnish: multiple storage backends fix
  collectors/python.d.plugin/varnish/varnish.chart.py
Labels: area/collectors, area/external/python

#9687 python.d/ipfs: disable call to the `/api/v0/stats/repo` endpoint by default
  collectors/python.d.plugin/ipfs/README.md
  collectors/python.d.plugin/ipfs/ipfs.chart.py
  collectors/python.d.plugin/ipfs/ipfs.conf
Labels: area/collectors, area/docs, area/external/python

#9748 Fix exporting update point
  exporting/process_data.c
Labels: area/backends

#9751 Add check for spurious wakeups
  exporting/aws_kinesis/aws_kinesis.c
  exporting/exporting_engine.c
  exporting/exporting_engine.h
  exporting/mongodb/mongodb.c
  exporting/process_data.c
  exporting/pubsub/pubsub.c
  exporting/send_data.c
Labels: area/backends

#9755 python.d/isc_dhcpd: add support for ip ranges
  collectors/python.d.plugin/isc_dhcpd/README.md
  collectors/python.d.plugin/isc_dhcpd/isc_dhcpd.chart.py
  collectors/python.d.plugin/isc_dhcpd/isc_dhcpd.conf
Labels: area/collectors, area/docs, area/external/python

#9756 fix_broken_pipe: Fix netfilter for it closes when sigpipe happens
  collectors/nfacct.plugin/plugin_nfacct.c
Labels: area/collectors

#9767 python.d/redis: collect `maxmemory`
  collectors/python.d.plugin/redis/redis.chart.py
Labels: area/collectors, area/external/python

#9766 Fix unit tests for exporting engine
  exporting/tests/exporting_fixtures.c
Labels: area/backends

#9771 Fix broken link in privacy policy
  docs/privacy-policy.md
Labels: area/docs

#9775 Fix HTTP header for the remote write exporting connector
  backends/backends.c
  exporting/prometheus/remote_write/remote_write.c
  exporting/tests/test_exporting_engine.c
Labels: area/backends

#9669 Fix netdata/netdata Docker image size
  packaging/docker/Dockerfile
Labels: area/packaging

#9474 cgroups.plugin: add and document support for reading container names from Podman
  collectors/cgroups.plugin/README.md
  collectors/cgroups.plugin/cgroup-name.sh.in
Labels: area/collectors, area/docs

#9783 Fix long stats.d chart names (suggested by @vince-lessbits)
  streaming/rrdpush.h
Labels: area/streaming

#9780 Fix UNIX socket access with kickstart-static64
  daemon/main.c
  web/server/static/static-threaded.c
Labels: area/daemon, area/web

#9769 Fixed numerous bugs in duplicate install handling.
  packaging/installer/kickstart-static64.sh
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart-64.md
  packaging/installer/methods/kickstart.md
Labels: area/docs, area/packaging

#8982 Debian packaging
  .travis/package_management/configure_deb_lxc_environment.py
  contrib/README.md
  contrib/debian/control
  contrib/debian/control.buster
  contrib/debian/control.eoan
  contrib/debian/control.focal
  contrib/debian/control.jessie
  contrib/debian/control.trusty
  contrib/debian/control.wheezy
  contrib/debian/control.xenial
  contrib/debian/netdata.default
  contrib/debian/netdata.init
Labels: area/ci, area/docs, area/packaging

#8837 Docs: Add daemon config to health section and standardize IP references
  collectors/REFERENCE.md
  health/QUICKSTART.md
  health/README.md
  health/REFERENCE.md
  web/api/health/README.md
Labels: area/collectors, area/docs, area/health, area/web

#9722 Fix proxy redirect
  libnetdata/socket/security.h
  web/server/web_client.c
  web/server/web_client.h
  web/server/web_client_cache.c
Labels: area/web

#9754 Remove debug messages from ebpf.
  collectors/ebpf.plugin/ebpf_socket.c
Labels: area/collectors

#9786 dashboard v1.3.1
  packaging/dashboard.checksums
  packaging/dashboard.version
Labels: area/packaging

#9781 Fix Travis CI builds and skip Fedora 31 i386 build/test cycles
  .travis/package_management/create_lxc_for_build.sh
Labels: area/ci

#9779 Change timestamps for global variables in Prometheus output
  backends/prometheus/backend_prometheus.c
  exporting/prometheus/prometheus.c
Labels: area/backends

#9795 Don't run packaging checks on Travis builds that build packages.
  .travis.yml
  .travis/package_management/create_lxc_for_build.sh
Labels: area/ci, no changelog

#9729 Added code to release memory used by the global GUID map
  daemon/main.c
  database/engine/global_uuid_map/global_uuid_map.c
  database/engine/global_uuid_map/global_uuid_map.h
  database/rrddim.c
  database/rrdhost.c
  database/rrdset.c
Labels: area/daemon, area/database

#9752 Package ebpf plugin only if enabled in config.h
  netdata.spec.in
Labels: area/packaging

#9812 Fix docker packaging caddyserver basicauth link
  packaging/docker/README.md
Labels: area/docs, area/packaging

#9809 Fix install if system does not have ebpf.plugin
  contrib/debian/netdata.postinst
Labels: area/packaging

#9805 Fixed handling of offline installs.
  packaging/installer/kickstart-static64.sh
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart-64.md
  packaging/installer/methods/kickstart.md
Labels: area/docs, area/packaging

#8808 Fix the netdata-updater.sh to correctly pass REINSTALL_OPTIONS (finally)
  build-artifacts.sh
  packaging/installer/netdata-updater.sh
Labels: area/packaging

#9619 Remove PrivateMounts
  system/netdata.service.in
Labels: area/packaging

#9804 Stream Claim Id
  claim/claim.c
  daemon/commands.c
  database/rrd.h
  database/rrdhost.c
  streaming/receiver.c
  streaming/rrdpush.c
  streaming/rrdpush.h
  streaming/sender.c
  web/api/web_api_v1.c
Labels: area/daemon, area/database, area/streaming, area/web

#9817 Improve dbengine docs and add new multihost setting
  database/engine/README.md
  docs/guides/longer-metrics-storage.md
Labels: area/database, area/docs

#9814 fix old dashboard 3rd party packaging
  web/gui/main.js
Labels: area/web

#9813 Fix broken link and clean up frontmatter in health docs
  health/QUICKSTART.md
  health/README.md
  health/REFERENCE.md
Labels: area/docs, area/health

#9825 Ensure Arch Linux images are up to date in CI before running checks.
  .github/workflows/build-and-install.yml
  tests/updater_checks.sh
Labels: area/ci, area/tests, no changelog

#9797 Improved temporary directory checking in installer and updater.
  netdata-installer.sh
  packaging/installer/kickstart-static64.sh
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart-64.md
  packaging/installer/methods/kickstart.md
  packaging/installer/netdata-updater.sh
Labels: area/docs, area/packaging

#9820 Fix empty dbengine files
  database/engine/datafile.c
  database/engine/datafile.h
  database/engine/journalfile.c
  database/engine/journalfile.h
  database/engine/metadata_log/logfile.c
  database/engine/metadata_log/logfile.h
  database/engine/metadata_log/metadatalog.c
Labels: area/database

#9831 Fixed bug in installer introduced by #8808
  packaging/installer/netdata-updater.sh
Labels: area/packaging

#9828 Fixes proxy forwarding claim_id to old parent
  streaming/rrdpush.c
  streaming/sender.c
Labels: area/streaming

#9826 Remove Google Charts info from API doc
  web/api/README.md
Labels: area/docs, area/web

#9834 Fixed updater bug introduced by incomplete variable rename in #8808.
  packaging/installer/netdata-updater.sh
Labels: area/packaging

#9836 Change a log level in cgroup-network helper
  collectors/cgroups.plugin/cgroup-network.c
Labels: area/collectors

#9835 Don't falsely report that the group was not deleted
  packaging/installer/netdata-uninstaller.sh
Labels: area/packaging

#9837 dashboard v1.4.2
  packaging/dashboard.checksums
  packaging/dashboard.version
Labels: area/packaging

#9790 Fix redirect with parameters
  web/server/web_client.c
Labels: area/web

#9845 fixes compilation warnings
  aclk/aclk_lws_wss_client.c
  database/engine/rrdengineapi.c
Labels: ACLK, area/database

#9847 Fix broken `Edit this page` link in simple patterns doc
  libnetdata/simple_pattern/README.md
Labels: area/docs

#9842 Fixed tmpdir handling failure on macOS/FreeBSD.
  netdata-installer.sh
  packaging/installer/kickstart-static64.sh
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart-64.md
  packaging/installer/methods/kickstart.md
  packaging/installer/netdata-updater.sh
Labels: area/docs, area/packaging

#9844 Don't install eBPF plugin components when they shouldn't be installed
  configure.ac
  netdata-installer.sh
Labels: area/build, area/packaging
