Repository netdata/netdata, pull requests merged in 2020-06, with the labels that each got.

#9174 Really prevent overwriting netdata.conf on static installs.
  packaging/makeself/jobs/70-netdata-git.install.sh
Labels: area/packaging

#9195 Initial version of metadata log parsing and replay.
  CMakeLists.txt
  Makefile.am
  aclk/agent_cloud_link.c
  collectors/diskspace.plugin/plugin_diskspace.c
  collectors/freebsd.plugin/plugin_freebsd.c
  collectors/macos.plugin/macos_fw.c
  collectors/macos.plugin/macos_mach_smi.c
  collectors/macos.plugin/macos_sysctl.c
  collectors/plugins.d/plugins_d.h
  collectors/plugins.d/pluginsd_parser.c
  collectors/plugins.d/pluginsd_parser.h
  collectors/proc.plugin/plugin_proc.c
  collectors/proc.plugin/proc_net_softnet_stat.c
  collectors/statsd.plugin/statsd.c
  database/engine/global_uuid_map/global_uuid_map.c
  database/engine/global_uuid_map/global_uuid_map.h
  database/engine/metadata_log/logfile.c
  database/engine/metadata_log/logfile.h
  database/engine/metadata_log/metadatalog.c
  database/engine/metadata_log/metadatalog.h
  database/engine/metadata_log/metadatalogapi.c
  database/engine/metadata_log/metadatalogapi.h
  database/engine/metadata_log/metadatalogprotocol.h
  database/engine/metadata_log/metalogpluginsd.c
  database/engine/metadata_log/metalogpluginsd.h
  database/engine/pagecache.c
  database/engine/pagecache.h
  database/engine/rrdengine.c
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
  database/engine/rrdengineapi.h
  database/rrd.h
  database/rrddim.c
  database/rrdhost.c
  database/rrdset.c
  exporting/tests/netdata_doubles.c
  health/health.c
  parser/parser.h
  web/api/formatters/charts2json.c
  web/api/formatters/charts2json.h
  web/api/web_api_v1.c
  web/api/web_api_v1.h
Labels: ACLK, area/build, area/collectors, area/database

#9165 Fix reliability of kickstart/kickstart-static64 with checksums sometimes failing
  .github/scripts/build-artifacts.sh
  netdata-installer.sh
  packaging/installer/functions.sh
  packaging/installer/kickstart-static64.sh
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart-64.md
  packaging/installer/methods/kickstart.md
  packaging/installer/netdata-updater.sh
Labels: area/ci, area/docs, area/packaging

#9246 Add new exporting "home base" document
  backends/README.md
  docs/export/README.md
  exporting/README.md
  exporting/mongodb/README.md
Labels: area/backends, area/docs

#9245 Add a random offset to the update script when running non-interactively.
  packaging/installer/netdata-updater.sh
  tests/lifecycle.bats
  tests/updater_checks.bats
Labels: area/packaging, area/tests

#9255 Fixes documentation ambiguity leading into issue #8239
  health/REFERENCE.md
Labels: area/docs, area/health

#9262 Fix frontmatter in circular_buffer README
  libnetdata/circular_buffer/README.md
Labels: area/docs

#9053 Add notes/known issues section to installation page
  claim/README.md
  packaging/installer/README.md
Labels: area/docs, area/packaging

#9265 Cleanup of main README and registry doc
  README.md
  docs/what-is-netdata.md
  registry/README.md
Labels: area/docs, area/registry

#9266 Move/refactor docs to accomodate new Guides section on Learn
  collectors/QUICKSTART.md
  collectors/README.md
  docs/Performance.md
  docs/configuration-guide.md
  docs/contributing/style-guide.md
  docs/export/README.md
  docs/getting-started.md
  docs/guides/collect-apache-nginx-web-logs.md
  docs/guides/collect-unbound-metrics.md
  docs/guides/longer-metrics-storage.md
  docs/guides/monitor-cockroachdb.md
  docs/guides/monitor-hadoop-cluster.md
  docs/guides/monitor/dimension-templates.md
  docs/guides/monitor/stop-notifications-alarms.md
  docs/guides/step-by-step/step-00.md
  docs/guides/step-by-step/step-01.md
  docs/guides/step-by-step/step-02.md
  docs/guides/step-by-step/step-03.md
  docs/guides/step-by-step/step-04.md
  docs/guides/step-by-step/step-05.md
  docs/guides/step-by-step/step-06.md
  docs/guides/step-by-step/step-07.md
  docs/guides/step-by-step/step-08.md
  docs/guides/step-by-step/step-09.md
  docs/guides/step-by-step/step-10.md
  docs/guides/step-by-step/step-99.md
  docs/guides/using-host-labels.md
  exporting/README.md
  health/QUICKSTART.md
  health/README.md
  health/REFERENCE.md
  packaging/installer/README.md
  packaging/installer/methods/kickstart-64.md
  packaging/installer/methods/kickstart.md
  packaging/installer/methods/macos.md
  packaging/installer/methods/manual.md
  packaging/installer/methods/offline.md
  packaging/installer/methods/packages.md
Labels: area/backends, area/collectors, area/docs, area/health

#9268 Fix Coverity defects 359164, 359165 and 358989.
  daemon/commands.c
  streaming/rrdpush.c
  streaming/rrdpush.h
  streaming/sender.c
Labels: area/daemon, area/streaming

#9199 Update apps.plugin documentation and dashboard.info
  collectors/apps.plugin/README.md
  collectors/ebpf.plugin/README.md
  web/gui/dashboard_info.js
Labels: area/collectors, area/docs, area/web

#9263 Fixed handling of OpenSSL on CentOS/RHEL by bundling a static copy and selecting a configuration directory at install time.
  packaging/makeself/install-or-update.sh
  packaging/makeself/jobs/20-openssl.install.sh
  packaging/makeself/jobs/50-bash-4.4.18.install.sh
  packaging/makeself/jobs/50-curl-7.60.0.install.sh
  packaging/makeself/jobs/50-fping-4.2.install.sh
  packaging/makeself/jobs/70-netdata-git.install.sh
  packaging/makeself/jobs/99-makeself.install.sh
  packaging/makeself/openssl.version
Labels: area/packaging

#9211 Add link to kernel docs for ftrace
  collectors/ebpf.plugin/README.md
Labels: area/collectors, area/docs

#8286 Added support for macOS/Homebrew in `install-required-packages.sh`.
  packaging/installer/install-required-packages.sh
Labels: area/packaging

#9196 Support for matrix notifications
  health/notifications/Makefile.am
  health/notifications/alarm-notify.sh.in
  health/notifications/health_alarm_notify.conf
  health/notifications/matrix/Makefile.inc
  health/notifications/matrix/README.md
Labels: area/build, area/docs, area/health

#9294 installer: update go.d.plugin version to v0.19.0
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#9295 Add frontmatter to Matrix notifications doc
  health/notifications/matrix/README.md
Labels: area/docs, area/health

#9297 Fix crash in #9291
  streaming/receiver.c
Labels: area/streaming

#9284 update_apps_groups: Bring imunify and lsphp to apps groups
  collectors/apps.plugin/apps_groups.conf
Labels: area/collectors

#9305 Add verbose prints when spawn server fails to spawn.
  spawn/spawn.c
Labels: no changelog

#9285 Add guide to exporting metrics to Graphite
  docs/export/README.md
  docs/guides/export/export-netdata-metrics-graphite.md
  exporting/README.md
Labels: area/backends, area/docs

#9315 apps_groups.conf: add agent-service-discovery
  collectors/apps.plugin/apps_groups.conf
Labels: area/collectors

#9310 Added dummy `--enable-ebpf` flag to avoid breaking updates.
  netdata-installer.sh
Labels: area/packaging

#9269 Adds metrics for ACLK performance and status
  CMakeLists.txt
  Makefile.am
  aclk/aclk_lws_wss_client.c
  aclk/aclk_stats.c
  aclk/aclk_stats.h
  aclk/agent_cloud_link.c
  aclk/mqtt.c
  web/gui/dashboard_info.js
Labels: ACLK, area/build, area/web

#9252 Metadata log compaction
  CMakeLists.txt
  Makefile.am
  daemon/unit_test.c
  database/engine/global_uuid_map/global_uuid_map.c
  database/engine/metadata_log/compaction.c
  database/engine/metadata_log/compaction.h
  database/engine/metadata_log/logfile.c
  database/engine/metadata_log/logfile.h
  database/engine/metadata_log/metadatalog.c
  database/engine/metadata_log/metadatalog.h
  database/engine/metadata_log/metadatalogapi.c
  database/engine/metadata_log/metadatalogapi.h
  database/engine/metadata_log/metalogpluginsd.c
  database/engine/metadata_log/metalogpluginsd.h
  database/engine/rrdengine.c
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
  database/engine/rrdengineapi.h
  database/rrd.h
  database/rrddim.c
  database/rrdhost.c
  database/rrdset.c
Labels: ACLK, area/build, area/collectors, area/daemon, area/database, area/docs, area/tests

#9316 Adds missing files for streaming changes into cmake build
  CMakeLists.txt
Labels: area/build

#9311 Override linker and include paths for static builds.
  netdata-installer.sh
  packaging/makeself/install-alpine-packages.sh
  packaging/makeself/jobs/50-bash-4.4.18.install.sh
  packaging/makeself/jobs/50-curl-7.60.0.install.sh
  packaging/makeself/jobs/50-fping-4.2.install.sh
  packaging/makeself/jobs/70-netdata-git.install.sh
Labels: area/packaging, no changelog

#9318 Fix check for remote write header in unit tests
  exporting/tests/test_exporting_engine.c
Labels: area/backends

#9178 Integration between eBPF and Apps
  CMakeLists.txt
  Makefile.am
  collectors/apps.plugin/apps_groups.conf
  collectors/apps.plugin/apps_plugin.c
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.conf
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_apps.c
  collectors/ebpf.plugin/ebpf_apps.h
  collectors/ebpf.plugin/ebpf_process.c
  collectors/ebpf.plugin/ebpf_process.h
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_socket.h
  libnetdata/ebpf/ebpf.c
  libnetdata/ebpf/ebpf.h
  packaging/ebpf.checksums
  packaging/ebpf.version
  web/gui/dashboard_info.js
Labels: area/build, area/collectors, area/packaging, area/web

#9326 Fixed invalid memory access
  database/rrddim.c
  database/rrdhost.c
Labels: area/database

#9323 Change streaming terminology to parent-child in the code
  build_external/scenarios/aclk-testing/agent-compose.yml
  build_external/scenarios/aclk-testing/agent-valgrind-compose.yml
  build_external/scenarios/gaps_hi/child-compose.yml
  build_external/scenarios/gaps_hi/child_guid
  build_external/scenarios/gaps_hi/child_stream.conf
  build_external/scenarios/gaps_hi/master-compose.yml
  build_external/scenarios/gaps_hi/middle-compose.yml
  build_external/scenarios/gaps_hi/middle_stream.conf
  build_external/scenarios/gaps_hi/parent-compose.yml
  build_external/scenarios/gaps_hi/parent_guid
  build_external/scenarios/gaps_hi/parent_stream.conf
  build_external/scenarios/gaps_lo/child-compose.yml
  build_external/scenarios/gaps_lo/child_guid
  build_external/scenarios/gaps_lo/child_stream.conf
  build_external/scenarios/gaps_lo/master-compose.yml
  build_external/scenarios/gaps_lo/middle-compose.yml
  build_external/scenarios/gaps_lo/middle_stream.conf
  build_external/scenarios/gaps_lo/parent-compose.yml
  build_external/scenarios/gaps_lo/parent_guid
  build_external/scenarios/gaps_lo/parent_stream.conf
  build_external/scenarios/master-slaves/master_stream.conf
  build_external/scenarios/master-slaves/slave_stream.conf
  build_external/scenarios/parent-child/child_stream.conf
  build_external/scenarios/parent-child/docker-compose.yml
  build_external/scenarios/parent-child/parent_stream.conf
  collectors/plugins.d/pluginsd_parser.c
  daemon/main.c
  database/rrd.h
  database/rrdhost.c
  health/notifications/alarm-notify.sh.in
  health/notifications/health_alarm_notify.conf
  libnetdata/socket/security.c
  streaming/receiver.c
  streaming/rrdpush.c
  streaming/rrdpush.h
  streaming/sender.c
  streaming/stream.conf
  web/server/web_client.c
Labels: area/build, area/collectors, area/daemon, area/database, area/health, area/streaming

#9312 Change streaming terminology to parent/child in docs
  backends/README.md
  backends/prometheus/README.md
  build_external/README.md
  collectors/proc.plugin/README.md
  daemon/config/README.md
  database/engine/README.md
  docs/guides/longer-metrics-storage.md
  docs/guides/monitor-hadoop-cluster.md
  docs/guides/step-by-step/step-09.md
  docs/guides/using-host-labels.md
  docs/netdata-security.md
  exporting/README.md
  exporting/prometheus/README.md
  packaging/DISTRIBUTIONS.md
  packaging/installer/methods/cloud-providers.md
  packaging/installer/methods/macos.md
  streaming/README.md
  web/server/README.md
Labels: area/backends, area/build, area/collectors, area/daemon, area/database, area/docs, area/packaging, area/streaming, area/web

#9337 Fixed compiler warnings
  database/engine/metadata_log/metadatalog.c
  database/rrddim.c
  database/rrdset.c
Labels: area/database, no changelog

#9338 Fix coverity errors CID 359774 and CID 359773
  database/rrdhost.c
  database/rrdset.c
Labels: area/database, no changelog

#9340 installer: update go.d.plugin version to v0.19.2
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#9333 Fix issues on ebpf.plugin
  collectors/ebpf.plugin/README.md
  collectors/ebpf.plugin/ebpf.c
  web/gui/dashboard.js
  web/gui/src/dashboard.js/units-conversion.js
Labels: area/collectors, area/docs, area/packaging, area/web

#9339 Get netdata execution path early to avoid user permission issues
  daemon/daemon.c
  daemon/daemon.h
  daemon/main.c
  spawn/spawn.c
Labels: area/daemon

#9343 Revert "Override linker and include paths for static builds."
  netdata-installer.sh
  packaging/makeself/install-alpine-packages.sh
  packaging/makeself/jobs/50-bash-4.4.18.install.sh
  packaging/makeself/jobs/50-curl-7.60.0.install.sh
  packaging/makeself/jobs/50-fping-4.2.install.sh
  packaging/makeself/jobs/70-netdata-git.install.sh
Labels: area/packaging

#9349 Replace assert calls
  collectors/freeipmi.plugin/freeipmi_plugin.c
  daemon/commands.c
  database/engine/datafile.c
  database/engine/global_uuid_map/global_uuid_map.c
  database/engine/journalfile.c
  database/engine/metadata_log/compaction.c
  database/engine/metadata_log/logfile.c
  database/engine/metadata_log/metadatalog.c
  database/engine/metadata_log/metadatalogapi.c
  database/engine/metadata_log/metalogpluginsd.c
  database/engine/pagecache.c
  database/engine/pagecache.h
  database/engine/rrdengine.c
  database/engine/rrdengineapi.c
  database/engine/rrdenginelib.c
  database/engine/rrdenginelib.h
  database/engine/rrdenglocking.c
  database/rrdset.c
  libnetdata/log/log.h
  spawn/spawn.c
  spawn/spawn_client.c
  spawn/spawn_server.c
Labels: area/collectors, area/daemon, area/database, no changelog

#9350 dashboard v1.0.14_2
  packaging/dashboard.checksums
  packaging/dashboard.version
Labels: area/packaging

#9257 Doc: Add missing slash
  aclk/README.md
Labels: ACLK, area/docs

#9367 Fixed ACLK shutdown sequence
  aclk/aclk_stats.c
  aclk/agent_cloud_link.c
Labels: ACLK

#9354 Improved error handling and recovery during compaction and metadata log replay
  database/engine/metadata_log/compaction.c
  database/engine/metadata_log/logfile.c
  database/engine/metadata_log/metadatalog.c
  database/engine/metadata_log/metadatalog.h
  database/engine/metadata_log/metadatalogapi.c
  database/engine/metadata_log/metalogpluginsd.c
  database/engine/rrdengineapi.c
Labels: area/database

#9370 Fixes the race-hazard in streaming during the shutdown sequence
  database/rrdhost.c
  streaming/receiver.c
  streaming/rrdpush.c
  streaming/rrdpush.h
Labels: area/database, area/streaming

#9382 Add libuv thread names support to FATAL log level
  configure.ac
  libnetdata/log/log.c
  libnetdata/threads/threads.c
  libnetdata/threads/threads.h
Labels: area/build, no changelog

#9396 Fix missing host variables on stream
  streaming/sender.c
Labels: area/streaming

#9116 Update freebsd.md
  packaging/installer/methods/freebsd.md
Labels: area/docs, area/packaging, no changelog

#9352 Add guide for troubleshooting with eBPF metrics
  collectors/apps.plugin/README.md
  collectors/ebpf.plugin/README.md
  docs/guides/troubleshoot/monitor-debug-applications-ebpf.md
Labels: area/collectors, area/docs

#9389 Fix a bug in the simple exporting connector
  exporting/read_config.c
  exporting/send_data.c
Labels: area/backends

#9400 update synology.md
  packaging/installer/methods/synology.md
Labels: area/docs, area/packaging

#9398 Added OpenSSL to list of dependencies for Netdata Cloud.
  packaging/installer/methods/manual.md
Labels: area/docs, area/packaging

#9402 Fix Coverity Defect CID 304732
  database/rrdhost.c
  libnetdata/threads/threads.c
Labels: area/database

#9249 Autodetects unified cgroups
  collectors/cgroups.plugin/sys_fs_cgroup.c
Labels: area/collectors

#9418 Add notice to eBPF documentation about incompatibility with static builds
  collectors/ebpf.plugin/README.md
Labels: area/collectors, area/docs

#9413 Add first class support for FreeBSD
  netdata-installer.sh
  packaging/installer/install-required-packages.sh
Labels: area/packaging

#9426 Fix broken link to Polyverse in Docker documentation
  packaging/docker/README.md
Labels: area/docs, area/packaging

#9422 Add notices to packaging docs for access errors and Cloud dependencies
  README.md
  packaging/installer/README.md
  packaging/installer/methods/kickstart-64.md
  packaging/installer/methods/kickstart.md
Labels: area/docs, area/packaging

#9433 Fix typo in netdata-installer.sh
  CHANGELOG.md
  libnetdata/ebpf/ebpf.c
  netdata-installer.sh
  packaging/version
Labels: area/packaging

#9434 Fix internal registry
  daemon/main.c
  database/rrdhost.c
Labels: area/daemon, area/database

#9438 Fix children version on stream
  streaming/receiver.c
Labels: area/streaming

#9441 minor copy edits
  registry/README.md
Labels: no changelog

#9436 Disallow dimensions and chart being obsolete and archived simultaneously.
  database/engine/metadata_log/metadatalogapi.c
  database/engine/metadata_log/metalogpluginsd.c
  database/rrddim.c
  database/rrdset.c
Labels: area/database

#9445 Fix the unittest execution
  daemon/main.c
Labels: area/daemon

#9425 Corrected virtualization detection in system-info.sh.
  daemon/system-info.sh
Labels: area/daemon

#9428 Fixed duplicate alarm ids in health-log.db
  database/rrdcalc.c
  database/rrdhost.c
  health/health_log.c
Labels: area/database, area/health

#9321 Show cgroups ran by kubelet without access to k8s cluster info
  collectors/cgroups.plugin/cgroup-name.sh.in
Labels: area/collectors
