Repository netdata/netdata, pull requests merged in 2020-03, with the labels that each got.

#8233 Fix misspelling of openSUSE and SUSE
  .travis.yml
  .travis/README.md
  contrib/sles11/README.md
  packaging/DISTRIBUTIONS.md
  packaging/installer/install-required-packages.sh
  packaging/installer/methods/manual.md
Labels: area/ci, area/docs, area/packaging

#8096 added requirements for exim. Issue #8087
  collectors/python.d.plugin/exim/README.md
Labels: area/collectors, area/docs, area/external/python

#8236 vernemq alarms, dashboard info and godplugin new version
  collectors/COLLECTORS.md
  health/Makefile.am
  health/health.d/vernemq.conf
  packaging/go.d.checksums
  packaging/go.d.version
  web/gui/dashboard_info.js
Labels: area/collectors, area/docs, area/health, area/packaging, area/web

#8256 Added SRE team as code owners for Debian packaging files.
  .github/CODEOWNERS
Labels: area/ci, no changelog

#8257 Added Docker build tests to PR checks.
  .github/workflows/docker.yml
Labels: area/ci

#8261 Tweak eBPF documentation and add performance data
  collectors/ebpf_process.plugin/README.md
Labels: area/collectors, area/docs

#8266 Fixed misplaced commas in help disable strings
  web/gui/src/dashboard.js/main.js
Labels: area/web

#8275 Added libwebsockets files to `make dist`.
  Makefile.am
Labels: area/packaging

#8276 Added ability to change ID used to connect to ceph.
  collectors/python.d.plugin/ceph/ceph.chart.py
  collectors/python.d.plugin/ceph/ceph.conf
Labels: area/collectors, area/external/python

#8202 Fix RHEL / CentOS 8.x dependencies for Judy-devel and others
  packaging/installer/install-required-packages.sh
Labels: area/packaging

#8288 Fixed Travis CI build handling.
  .travis.yml
  web/gui/dashboard.js
Labels: area/ci, area/web

#8248 python.d/ceph: fix get_osd_perf() for 14.2+
  collectors/python.d.plugin/ceph/ceph.chart.py
Labels: area/collectors, area/external/python

#8291 Added yamllint to reviewdog PR checks.
  .github/CODEOWNERS
  .github/workflows/reviewdog.yml
  .travis.yml
  .yamllint.yml
Labels: area/ci

#8280 ACLK cmake fixes
  CMakeLists.txt
Labels: area/packaging

#8302 Minor fixes for the yamllint CI.
  .github/workflows/reviewdog.yml
  .yamllint.yml
Labels: area/ci

#7416 Added ability to get pod name from cgroup with kubectl in bare metal deployment
  collectors/cgroups.plugin/cgroup-name.sh.in
Labels: area/collectors

#8310 Updated PR labeling to utilize new area/build label.
  .github/labeler.yml
Labels: area/ci, no changelog

#7216 support rhel by not installing the cups plugin when v1.7 is not satisfiable
  netdata.spec.in
Labels: area/packaging

#8318 Switched to using Python 3 by default instead of Python 2.
  packaging/installer/install-required-packages.sh
Labels: area/packaging

#8313 Add standards for abbreviations/acronyms to docs style guide
  docs/contributing/style-guide.md
Labels: area/docs

#8305 Revert "Fixed Source0 URL in RPM spec (#7794)"
  netdata.spec.in
Labels: area/packaging

#8314 Fixed missing folders in `/var/` by creating them during postinst
  contrib/debian/netdata.postinst.in
  contrib/debian/netdata.postrm
  contrib/debian/rules
Labels: area/packaging

#8196 Remvoed the use of clang-format that does not actually block PRs or surface anything to developers #8188
  .travis.yml
  .travis/clangformat.sh
Labels: area/ci

#8324 Removed extra printed `\n`
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart.md
Labels: area/docs, area/packaging

#8325 Removed extra printed `\n`
  packaging/installer/functions.sh
Labels: area/packaging

#8326 Removed extra printed `\n`
  netdata-installer.sh
Labels: area/packaging

#8334 Fixed dependency names for Arch Linux.
  packaging/installer/install-required-packages.sh
  tests/updater_checks.bats
  tests/updater_checks.sh
Labels: area/packaging, area/tests

#8146 Add support for SOCKS5 proxy to the ACLK.
  Makefile.am
  aclk/aclk_common.c
  aclk/aclk_common.h
  aclk/aclk_lws_wss_client.c
  aclk/agent_cloud_link.h
  libnetdata/config/appconfig.h
Labels: area/build, area/daemon, area/database, area/health, area/packaging, area/web

#8262 Added Docker build tests to PR checks.
  .github/workflows/docker.yml
Labels: area/ci, no changelog

#8290 Fix dependencies for Debian Jessie.
  contrib/debian/control.jessie
Labels: area/packaging

#8332 Rename the review workflow and be consistent about workflow and job names.
  .github/workflows/review.yml
Labels: area/ci

#8098 Cleans up CODEOWNERS for the build system itself (not to be confused with packaging)
  .github/CODEOWNERS
Labels: area/ci

#8329 Migrate Travis based checks to Github Actions
  .github/workflows/checks.yml
  .gitlab-ci.yml
  .travis.yml
  build/build.sh
Labels: area/build, area/ci

#8250 Remove mention saying that .deb packages are experimental
  packaging/installer/methods/packages.md
Labels: area/docs, area/packaging

#8255 Added code to bundle LWS in binary packages.
  contrib/debian/control
  contrib/debian/control.buster
  contrib/debian/control.jessie
  contrib/debian/control.trusty
  contrib/debian/control.wheezy
  contrib/debian/control.xenial
  contrib/debian/rules
  netdata.spec.in
  packaging/bundle-lws.sh
Labels: area/packaging

#8315 Added various fixes and improvements to the installers.
  packaging/installer/install-required-packages.sh
  packaging/makeself/makeself-header.sh
Labels: area/ci, area/packaging

#8319 Fix links in packaging/installer to work on GitHub and docs
  docs/generator/custom/css/netdata.css
  packaging/installer/README.md
Labels: area/docs, area/packaging

#8352 Consolidate and clean up artifact validation.
  .travis.yml
Labels: area/ci, no changelog

#8214 Remove the confusion around the multiple Dockerfile(s) we have
  Dockerfile
  Dockerfile.test
Labels: area/packaging

#8339 Fix cosmetic error checking for CentOS 8 version in install-required-packages
  packaging/installer/install-required-packages.sh
Labels: area/packaging

#8321 Migrate coverity-scan to Github Actions
  .github/workflows/coverity.yml
  .travis.yml
Labels: area/ci

#8358 Improve ACLK according to results of the smoke-test.
  Makefile.am
  aclk/aclk_common.c
  aclk/aclk_common.h
  aclk/aclk_lws_wss_client.c
  aclk/aclk_lws_wss_client.h
  aclk/agent_cloud_link.c
  aclk/agent_cloud_link.h
  aclk/mqtt.c
  aclk/mqtt.h
  build_external/clean-install-arch-extras.Dockerfile
  build_external/clean-install-arch.Dockerfile
  build_external/projects/aclk-testing/agent-valgrind-compose.yml
  claim/claim.c
  libnetdata/config/appconfig.h
  libnetdata/socket/security.c
  libnetdata/socket/security.h
  libnetdata/socket/socket.c
  libnetdata/socket/socket.h
Labels: area/build

#8356 Add packaging/bundle-lws.sh to dist_noinst_DATA (was missed)
  Makefile.am
Labels: area/build

#8360 ebpf plugin info typo fix
  web/gui/dashboard_info.js
Labels: area/web

#8362 Fix MDX parsing in installation guide
  packaging/installer/README.md
Labels: area/docs, area/packaging

#8372 Add proper parsing/stripping of comments around docs frontmatter
  DOCUMENTATION.md
  README.md
  docs/generator/buildhtml.sh
Labels: area/docs

#8364 new version of godplugin and pulsar alarms, dashboard info
  collectors/COLLECTORS.md
  health/Makefile.am
  health/health.d/pulsar.conf
  packaging/go.d.checksums
  packaging/go.d.version
  web/gui/dashboard_info.js
Labels: area/build, area/collectors, area/docs, area/health, area/packaging, area/web

#8376 Fixed Travis configuration for nightly builds.
  .travis.yml
Labels: area/ci, no changelog

#8357 Improve Pull Request template to have a shorter testing section with enhanced instructions
  .github/PULL_REQUEST_TEMPLATE.md
Labels: area/ci, area/docs

#8380 docs: fix go.d modules in the COLLECTORS.md
  collectors/COLLECTORS.md
Labels: area/collectors, area/docs

#8381 Added deferred error message handling to the installer.
  netdata-installer.sh
Labels: area/packaging

#8385 Add Patti's dashboard video to docs
  docs/generator/custom/css/netdata.css
  docs/getting-started.md
  docs/step-by-step/step-02.md
  web/README.md
  web/gui/README.md
Labels: area/docs, area/web

#8216 Enconde slave fields
  libnetdata/url/url.c
  streaming/rrdpush.c
Labels: area/streaming

#8373 Migrate make dist validation to GHA Workflows
  .github/scripts/run_install_with_dist_file.sh
  .github/workflows/checks.yml
  .travis.yml
  .travis/run_install_with_dist_file.sh
Labels: area/ci

#8347 Update paragraph on install-required-packages
  packaging/installer/methods/manual.md
Labels: area/docs, area/packaging

#8388 Fix coverity scan
  .github/workflows/coverity.yml
  coverity-scan.sh
Labels: area/ci, area/tests

#8333 Correct a typo in .travis/README.md
  .travis/README.md
Labels: area/ci, area/docs

#8331 Migrate Tests from Travis CI to Github Workflows
  .github/workflows/tests.yml
  .travis.yml
  .travis/run-unit-tests.sh
  tests/run-unit-tests.sh
Labels: area/ci, area/daemon, area/tests, area/web

#8404 Support SOCKS5 in ACLK Challenge/Response and rewrite with LWS
  CMakeLists.txt
  Makefile.am
  aclk/aclk_common.c
  aclk/aclk_common.h
  aclk/aclk_lws_https_client.c
  aclk/aclk_lws_https_client.h
  aclk/aclk_lws_wss_client.c
  aclk/aclk_lws_wss_client.h
  aclk/agent_cloud_link.c
  aclk/mqtt.c
Labels: area/build

#8375 Fix streaming scaling
  collectors/ebpf_process.plugin/ebpf_process.c
  daemon/main.c
  database/engine/rrdengineapi.c
  database/engine/rrdenginelib.h
  database/rrdset.c
  exporting/read_config.c
  libnetdata/clocks/clocks.c
  libnetdata/clocks/clocks.h
  libnetdata/config/appconfig.c
  libnetdata/config/appconfig.h
  streaming/rrdpush.c
  streaming/stream.conf
  system/netdata.service.in
  web/api/tests/valid_urls.c
  web/api/tests/web_api.c
Labels: area/backends, area/collectors, area/daemon, area/database, area/packaging, area/streaming, area/web

#8411 Fix Prometheus Remote Write build
  CMakeLists.txt
  backends/prometheus/remote_write/remote_write.cc
  configure.ac
Labels: area/backends, area/build

#8412 Adds missing files to ACLK CMake build
  CMakeLists.txt
Labels: area/build

#8383 General cleanup of GitHub Actions workflows.
  .github/dockerfiles/Dockerfile.build_test
  .github/workflows/build-and-install.yml
  .github/workflows/build.yml
Labels: area/ci, no changelog

#8406 Fix outstanding problems in claiming and add SOCKS5 support.
  aclk/aclk_common.c
  aclk/agent_cloud_link.c
  aclk/tests/paho-inspection.py
  claim/README.md
  claim/claim.c
  claim/netdata-claim.sh.in
Labels: area/docs

#8410 ACLK: Implemented Last Will and Testament
  aclk/aclk_lws_wss_client.c
  aclk/agent_cloud_link.c
  aclk/agent_cloud_link.h
  aclk/mqtt.c
  aclk/mqtt.h
Labels: area/backends, area/build, area/ci, area/docs, area/packaging

#8430 Add the new cloud info in the info endpoint
  configure.ac
  netdata-installer.sh
  web/api/web_api_v1.c
Labels: area/build, area/packaging, area/web

#8420 Fixed response payload to match the new specification
  aclk/agent_cloud_link.c
Labels: area/packaging

#8434 health: add dns_query module alarm
  health/Makefile.am
  health/health.d/dns_query.conf
Labels: area/build, area/health

#8443 Fix the ACLK installation with the installer switch
  netdata-installer.sh
Labels: area/packaging

#8397 Fix broken dependencies for Ubuntu 19.10 (eoan)
  .travis/package_management/configure_deb_lxc_environment.py
  contrib/debian/control.eoan
Labels: area/ci, area/packaging

#8394 Update the update instructions with per-method details
  packaging/installer/UPDATE.md
Labels: area/docs, area/packaging

#8447 Improve installer output re newlines
  packaging/installer/functions.sh
Labels: area/packaging

#8444 Fixes support for uninstalling the eBPF collector in the uninstaller and fixes a minor bug
  packaging/installer/functions.sh
  packaging/installer/netdata-uninstaller.sh
Labels: area/packaging

#8460 Memory leak with labels on stream
  collectors/plugins.d/plugins_d.c
Labels: area/collectors

#8441 Add high precision timer support for plugins such as idlejitter.
  collectors/idlejitter.plugin/plugin_idlejitter.c
  libnetdata/clocks/clocks.c
  libnetdata/clocks/clocks.h
Labels: area/collectors, area/daemon

#8425 Fix flushing error threshold
  daemon/commands.c
  database/engine/pagecache.c
  database/engine/rrdengine.c
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
  database/engine/rrdenginelib.h
Labels: area/daemon, area/database

#8465 Adding the claiming script to the multi-stage whitelist
  packaging/docker/Dockerfile
Labels: area/packaging

#8475 Installer creates claim.d but is run as root, patch to correct ownership
  packaging/docker/Dockerfile
Labels: area/packaging

#8472 Added Docker build arg to pass extra options to installer.
  packaging/docker/Dockerfile
Labels: area/packaging

#8418 HTTP proxy support + some cleanup
  aclk/README.md
  aclk/aclk_common.c
  aclk/aclk_common.h
  aclk/aclk_lws_https_client.c
  aclk/aclk_lws_wss_client.c
  aclk/aclk_lws_wss_client.h
  claim/claim.c
  claim/netdata-claim.sh.in
Labels: area/docs

#8414 Fix the lack of cleanup in the netdata updater
  packaging/installer/netdata-updater.sh
Labels: area/packaging

#8470 Make mosq and LWS lib build fails more prominent
  netdata-installer.sh
Labels: area/packaging

#8474 python.d.plugin: add prefix to the module name during loading source file
  collectors/python.d.plugin/python.d.plugin.in
  collectors/python.d.plugin/python_modules/bases/FrameworkServices/SimpleService.py
Labels: area/collectors, area/external/python

#8427 Fake collector to provoke ACLK messages
  aclk/Makefile.am
  aclk/tests/fake-charts.d.plugin
  aclk/tests/install-fake-charts.d.sh.in
  web/gui/dashboard_info.js
Labels: area/build, area/web

#8491 Fix install-required-packages script to self-update apt
  packaging/installer/install-required-packages.sh
Labels: area/packaging

#8446 Fix erroneous \n printed in uninstaller
  packaging/installer/netdata-uninstaller.sh
Labels: area/packaging

#8485 packaging/docker: add --build-arg CFLAGS support
  packaging/docker/Dockerfile
Labels: area/packaging

#8477 installer: update go.d.plugin version to v0.18.0
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#8492 python.d/SimpleService: fix module name
  collectors/python.d.plugin/python_modules/bases/FrameworkServices/SimpleService.py
Labels: area/collectors, area/external/python

#8498 Improved ACLK
  aclk/agent_cloud_link.c
  aclk/agent_cloud_link.h
  aclk/mqtt.c
  claim/claim.c
  daemon/commands.c
  web/api/web_api_v1.c
Labels: area/daemon, area/web

#8429 Report Why ACLK build failed
  configure.ac
  daemon/main.c
Labels: area/build, area/daemon

#8509 Remove stackscale demo link and clean up page
  docs/Demo-Sites.md
Labels: area/docs

#8521 github/workflow: add ACLK to the labeler config
  .github/labeler.yml
Labels: area/ci

#8507 Fix auto updates for static installs (kickstart_static64.sh)
  packaging/installer/netdata-updater.sh
Labels: area/packaging

#8468 Fix our Debian/Ubuntu packages to actually package the SystemD Unit files we expect.
  contrib/debian/netdata.conf
  contrib/debian/netdata.postinst.in
  contrib/debian/netdata.service
  contrib/debian/rules
  system/Makefile.am
  system/netdata.service.v235.in
Labels: area/build, area/packaging

#8499 Enhanced ACLK header payload to include timestamp-offset-usec
  aclk/agent_cloud_link.c
  aclk/mqtt.c
Labels: ACLK

#8501 Cleans up cloud config files [agent_cloud_link] -> [cloud]
  aclk/README.md
  aclk/aclk_common.c
  aclk/mqtt.c
  claim/README.md
  libnetdata/config/appconfig.h
Labels: ACLK, area/docs

#8538 Write the failure reason during ACLK challenge / response
  aclk/agent_cloud_link.c
Labels: ACLK

#8529 charts.d.plugin: add keepalive to global_update
  collectors/charts.d.plugin/charts.d.plugin.in
Labels: area/collectors, area/external

#8519 The 4th flag
  aclk/agent_cloud_link.c
  web/api/web_api_v1.c
Labels: ACLK, area/web

#8363 Switched to the new React dashboard code as the default dashboard.
  .gitignore
  Makefile.am
  build/subst.inc
  netdata-installer.sh
  packaging/dashboard.checksums
  packaging/dashboard.version
  packaging/installer/netdata-updater.sh
  web/Makefile.am
  web/netdata-switch-dashboard.sh.in
Labels: area/build, area/packaging, area/web

#8516 Claiming issues
  aclk/agent_cloud_link.c
  claim/README.md
  claim/claim.c
  claim/netdata-claim.sh.in
  daemon/commands.c
  health/notifications/alarm-notify.sh.in
  libnetdata/libnetdata.h
  packaging/docker/Dockerfile
  registry/registry_init.c
  tests/alarm_repetition/netdata.conf_with_repetition
  tests/alarm_repetition/netdata.conf_without_repetition
Labels: ACLK, area/daemon, area/docs, area/health, area/packaging, area/registry, area/tests

#8550 apache: fix `bytespersec` chart context
  collectors/python.d.plugin/apache/apache.chart.py
Labels: area/collectors, area/external/python

#8553 dashboard v0.4.10
  packaging/dashboard.checksums
  packaging/dashboard.version
Labels: area/packaging

#8545 Switching over to soft feature flag
  Makefile.am
  aclk/agent_cloud_link.c
  claim/claim.c
  configure.ac
  daemon/commands.c
  daemon/common.c
  daemon/common.h
  daemon/main.c
  database/rrddim.c
  database/rrdset.c
  health/health.c
  health/health_log.c
  netdata-installer.sh
  web/api/web_api_v1.c
Labels: ACLK, area/build, area/daemon, area/database, area/health, area/packaging, area/web

#8559 Added logic to bail early on LWS build if cmake is not present.
  netdata-installer.sh
Labels: area/packaging

#8554 Fix broken pipe ignoring in apps plugin
  collectors/apps.plugin/apps_plugin.c
Labels: area/collectors
