Repository netdata/netdata, pull requests merged in 2020-07, with the labels that each got.

#9364 Add documentation for installing Netdata on k8s clusters
  packaging/installer/README.md
  packaging/installer/methods/kubernetes.md
Labels: area/docs, area/packaging

#9091 Add infiniband monitoring to collector proc.plugin
  CMakeLists.txt
  Makefile.am
  collectors/all.h
  collectors/proc.plugin/README.md
  collectors/proc.plugin/plugin_proc.c
  collectors/proc.plugin/plugin_proc.h
  collectors/proc.plugin/sys_class_infiniband.c
Labels: ACLK, area/backends, area/build, area/ci, area/collectors, area/docs, area/packaging, help wanted

#9458 Wrap header definitions in compilation conditions
  exporting/tests/test_exporting_engine.h
Labels: area/backends

#9379 Added missing caps letters
  streaming/README.md
Labels: area/docs, area/streaming

#9378 Fixed typo in the streaming readme
  streaming/README.md
Labels: area/docs, area/streaming

#9462 Fix a coverity defect
  collectors/cgroups.plugin/sys_fs_cgroup.c
Labels: area/collectors

#9236 UrlService add support get headers
  collectors/python.d.plugin/python_modules/bases/FrameworkServices/UrlService.py
Labels: area/collectors, area/external/python

#9248 ipfs-plugin: change HTTP method to make it compatible with ipfs 0.5.0+
  collectors/python.d.plugin/ipfs/ipfs.chart.py
Labels: area/collectors, area/external/python

#9417 Fixes error in Swagger Documentation
  web/api/netdata-swagger.json
  web/api/netdata-swagger.yaml
Labels: area/collectors, area/web

#9460 Fix the exporting engine unit tests
  exporting/tests/netdata_doubles.c
  exporting/tests/test_exporting_engine.c
Labels: area/backends

#9463 Read the prefix option from instance config sections
  exporting/clean_connectors.c
  exporting/exporting_engine.c
  exporting/exporting_engine.h
  exporting/graphite/graphite.c
  exporting/json/json.c
  exporting/opentsdb/opentsdb.c
  exporting/prometheus/remote_write/remote_write.c
  exporting/read_config.c
  exporting/tests/exporting_doubles.c
  exporting/tests/exporting_fixtures.c
  exporting/tests/test_exporting_engine.c
Labels: area/backends

#9465 Bring code owner for missing directory
  .github/CODEOWNERS
Labels: area/ci

#9466 Add guide for monitoring a k8s cluster with Netdata
  docs/guides/monitor/kubernetes-k8s-netdata.md
  packaging/installer/methods/kubernetes.md
Labels: area/docs, area/packaging

#9492 Fix broken link in Kavenegar notification doc
  health/notifications/kavenegar/README.md
Labels: area/docs, area/health

#9503 Fixed the check condition for chart name change
  database/rrdset.c
Labels: area/database

#9502 fix ACLK protocol version always parsed as 0
  aclk/agent_cloud_link.c
  libnetdata/json/json.c
Labels: ACLK, area/daemon

#9509 Fixed an issue with random crashes when updating a chart's metadata on the fly
  database/rrdset.c
Labels: area/database

#9508 python.d: thread safe safe_print (stdout write)
  collectors/python.d.plugin/python_modules/bases/collection.py
Labels: area/collectors, area/external/python

#9510 charts.d: loopsleepms: fix now_ms
  collectors/charts.d.plugin/loopsleepms.sh.inc
Labels: area/collectors, area/external

#9355 adds support for multiple ACLK query processing threads
  CMakeLists.txt
  Makefile.am
  aclk/README.md
  aclk/aclk_common.c
  aclk/aclk_common.h
  aclk/aclk_query.c
  aclk/aclk_query.h
  aclk/aclk_stats.c
  aclk/aclk_stats.h
  aclk/agent_cloud_link.c
  aclk/agent_cloud_link.h
Labels: ACLK, area/build, area/docs

#9520 Remove health from archived metrics
  database/rrddim.c
  database/rrdhost.c
  database/rrdset.c
  health/health.c
Labels: area/database, area/health

#9526 mysql: respect `my.cnf` parameter using PyMySQL library
  collectors/python.d.plugin/python_modules/bases/FrameworkServices/MySQLService.py
Labels: area/collectors, area/external/python

#9450 Properly include eBPF collector in binary packages.
  contrib/debian/rules
  netdata.spec.in
  packaging/bundle-dashboard.sh
  packaging/bundle-ebpf.sh
Labels: area/packaging

#9536 Fix transition from archived to active charts not generating alarms.
  database/rrdset.c
Labels: area/database

#9274 Removed Fedora 30 from CI.
  .github/workflows/build-and-install.yml
  .travis.yml
Labels: area/ci, no changelog

#9538 Disable CentOS 8.x CI (temporarily)
  .github/workflows/build-and-install.yml
Labels: area/ci, no changelog

#9537 Fixes cmake build failing if ACLK is disabled
  .github/workflows/tests.yml
  CMakeLists.txt
Labels: area/build, area/ci

#9484 Fix potential memory leak in ebpf.plugin
  .gitignore
  collectors/ebpf.plugin/Makefile.am
  collectors/ebpf.plugin/README.md
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_apps.c
  collectors/ebpf.plugin/ebpf_process.c
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/reset_netdata_trace.sh.in
  libnetdata/ebpf/ebpf.c
  packaging/ebpf.checksums
  packaging/ebpf.version
  system/netdata.service.in
Labels: area/build, area/collectors, area/docs, area/packaging

#9539 Add eBPF bundling script to `make dist`.
  Makefile.am
Labels: area/build

#9535 Update apps_groups.conf
  collectors/apps.plugin/apps_groups.conf
Labels: area/collectors

#9544 Fix compilation warnings
  database/engine/journalfile.c
  database/engine/metadata_log/compaction.c
  database/engine/metadata_log/logfile.c
  database/engine/pagecache.c
  database/engine/rrdengineapi.c
  database/engine/rrdenginelib.c
Labels: area/database

#9545 Disable failing unit tests in CMake build
  CMakeLists.txt
Labels: area/build

#9546 Fix SHA256 handling in eBPF bundling code.
  packaging/bundle-ebpf.sh
Labels: area/packaging

#9547 Suppress warning -Wformat-truncation in ACLK
  aclk/aclk_query.c
  aclk/aclk_stats.c
Labels: ACLK

#9552 Revert the eBPF package bundling that breaks the release and DEB packages.
  Makefile.am
  contrib/debian/rules
  netdata.spec.in
  packaging/bundle-dashboard.sh
  packaging/bundle-ebpf.sh
Labels: area/build, area/packaging

#9490 Use the libbpf library for the eBPF plugin
  CMakeLists.txt
  Makefile.am
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_apps.c
  collectors/ebpf.plugin/ebpf_apps.h
  collectors/ebpf.plugin/ebpf_process.c
  collectors/ebpf.plugin/ebpf_process.h
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_socket.h
  configure.ac
  libnetdata/ebpf/README.md
  libnetdata/ebpf/ebpf.c
  libnetdata/ebpf/ebpf.h
  libnetdata/ebpf/libbpf.c.diff
  libnetdata/libnetdata.h
  netdata-installer.sh
  packaging/installer/install-required-packages.sh
  packaging/installer/methods/manual.md
  packaging/libbpf.checksums
  packaging/libbpf.version
Labels: area/build, area/collectors, area/docs, area/packaging

#9553 health/megacli: change all instances of alarm to template
  health/health.d/megacli.conf
Labels: area/health

#9504 Implemented default disk space size calculation for multihost db
  daemon/main.c
  database/engine/metadata_log/metadatalog.c
  database/engine/rrdengineapi.c
  database/engine/rrdengineapi.h
  database/engine/rrdenginelib.c
  database/engine/rrdenginelib.h
Labels: area/daemon, area/database

#9489 Implemented the HOST command in metadata log replay
  collectors/plugins.d/pluginsd_parser.c
  database/engine/global_uuid_map/global_uuid_map.c
  database/engine/metadata_log/compaction.c
  database/engine/metadata_log/logfile.c
  database/engine/metadata_log/metadatalogapi.c
  database/engine/metadata_log/metadatalogapi.h
  database/engine/metadata_log/metalogpluginsd.c
  database/engine/metadata_log/metalogpluginsd.h
  database/engine/rrdengineapi.c
  database/rrd.h
  database/rrdhost.c
  database/rrdset.c
  parser/parser.h
Labels: area/collectors, area/database

#9557 Adding pihole to the dns app group
  collectors/apps.plugin/apps_groups.conf
Labels: area/collectors

#9234 enable simple sandboxing on systemd service
  system/netdata.service.in
Labels: area/packaging

#9408 Add better checks for existing installs to the kickstart scripts.
  packaging/installer/kickstart-static64.sh
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart-64.md
  packaging/installer/methods/kickstart.md
Labels: area/docs, area/packaging

#9571 Added libbpf patch to make dist.
  Makefile.am
Labels: area/build

#9569 Added CAP_SYS_RESOURCE to capability bounding set.
  system/netdata.service.in
Labels: area/packaging

#9564 python.d: add job file lock registry
  REDISTRIBUTED.md
  collectors/python.d.plugin/Makefile.am
  collectors/python.d.plugin/python.d.plugin.in
  collectors/python.d.plugin/python_modules/third_party/filelock.py
Labels: area/build, area/collectors, area/external/python

#9568 charts.d.plugin: never use `-t` option for `timeout`
  collectors/charts.d.plugin/charts.d.plugin.in
Labels: area/collectors, area/external

#9575 Fixes mempcpy->memcpy
  aclk/aclk_stats.c
Labels: ACLK

#9495 Network Viewer options
  collectors/ebpf.plugin/README.md
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.conf
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_socket.h
  daemon/main.c
Labels: area/collectors, area/daemon, area/docs

#9566 Removed runtime support for Polymorphic Linux from our Docker containers.
  packaging/docker/README.md
  packaging/docker/run.sh
Labels: area/docs, area/packaging

#9586 Added proper handling for autogen on Ubuntu 18.04
  packaging/installer/install-required-packages.sh
Labels: area/packaging

#9587 Added explicit CODEOWNERS rule for `system/`.
  .github/CODEOWNERS
Labels: area/ci, no changelog

#9589 Removed delay in updater script for non-interactive runs from install scripts.
  packaging/installer/kickstart-static64.sh
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart-64.md
  packaging/installer/methods/kickstart.md
Labels: area/docs, area/packaging

#9584 Add lock dir
  collectors/python.d.plugin/python.d.plugin.in
  daemon/common.c
  daemon/common.h
  daemon/daemon.c
  daemon/main.c
Labels: area/collectors, area/daemon, area/external/python

#8340 Add alarms for FreeBSD interface errors
  health/health.d/net.conf
Labels: area/health, area/packaging

#9583 Stop mdstat collector from looking up archived charts.
  collectors/proc.plugin/proc_mdstat.c
  database/rrd.h
Labels: area/collectors, area/database

#9610 python.d/gearmand: handle func prefixes in `status\n` response
  collectors/python.d.plugin/gearman/gearman.chart.py
Labels: area/collectors, area/external/python

#9613 Added sandboxing exception for `/run/netdata`.
  system/netdata.service.in
Labels: area/packaging

#9556 Implemented multihost database
  collectors/plugins.d/pluginsd_parser.c
  daemon/main.c
  database/engine/README.md
  database/engine/metadata_log/compaction.c
  database/engine/metadata_log/logfile.c
  database/engine/metadata_log/metadatalog.c
  database/engine/metadata_log/metadatalog.h
  database/engine/metadata_log/metadatalogapi.c
  database/engine/metadata_log/metadatalogapi.h
  database/engine/metadata_log/metalogpluginsd.c
  database/engine/rrdengine.c
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
  database/engine/rrdengineapi.h
  database/engine/rrdenginelib.c
  database/rrd.h
  database/rrddim.c
  database/rrdhost.c
  database/rrdset.c
  streaming/README.md
  streaming/receiver.c
  streaming/rrdpush.c
  web/api/formatters/charts2json.c
  web/api/web_api_v1.c
Labels: area/collectors, area/daemon, area/database, area/docs, area/streaming, area/web

#9549 Read socket information from kernel ring
  collectors/ebpf.plugin/README.md
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.conf
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_socket.h
  packaging/ebpf.checksums
  packaging/ebpf.version
  web/gui/dashboard_info.js
Labels: area/collectors, area/docs, area/packaging, area/web

#9628 Added eBPF collector support to DEB and RPM packages.
  .travis.yml
  .travis/package_management/common.py
  .travis/package_management/functions.sh
  Makefile.am
  configure.ac
  contrib/debian/rules
  netdata.spec.in
  packaging/bundle-dashboard.sh
  packaging/bundle-ebpf.sh
  packaging/bundle-libbpf.sh
Labels: area/build, area/ci, area/packaging

#9621 Fixed RPM default permissions for /usr/libexec/netdata
  netdata.spec.in
Labels: area/packaging

#9467 Add documentation to provide a comprehensive guide for package maintainers
  packaging/installer/README.md
  packaging/installer/methods/manual.md
  packaging/installer/methods/source.md
Labels: area/docs, area/packaging

#9633 Adjust check-kernel-config.sh to run in bash
  collectors/ebpf.plugin/README.md
Labels: area/collectors, area/docs
