Repository netdata/netdata, pull requests merged in 2020-01, with the labels that each got.

#7375 Fix typos in documentation
  docs/Running-behind-haproxy.md
  docs/configuration-guide.md
  docs/contributing/contributing-documentation.md
  docs/generator/checklinks.sh
  docs/getting-started.md
  docs/netdata-security.md
  docs/privacy-policy.md
  docs/what-is-netdata.md
  docs/why-netdata/meaningful-presentation.md
Labels: area/docs

#7550 [github/templates] Add samples cmds to get OS env
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: area/docs

#7543 Limit 'support activities on main branch' to main repo.
  .travis.yml
Labels: area/ci

#7629 Add Ubuntu 19.10 to packaging and lifecycle checks.
  .travis.yml
  packaging/DISTRIBUTIONS.md
Labels: area/ci, area/docs

#7600 Adjust alarm labels
  health/REFERENCE.md
  health/health_config.c
Labels: area/docs, area/health

#6922 netdata/installer: Make netdata installer more flexible, to accommodate install with ssl on MacOS
  netdata-installer.sh
  packaging/installer/README.md
  packaging/installer/netdata-updater.sh
Labels: area/docs, area/packaging

#7628 Remove EOL distros from CI jobs.
  .travis.yml
  packaging/DISTRIBUTIONS.md
Labels: area/ci, area/docs

#7655 samba: properly check if it is allowed to run smbstatus with sudo
  collectors/python.d.plugin/python_modules/bases/FrameworkServices/ExecutableService.py
  collectors/python.d.plugin/samba/samba.chart.py
Labels: area/collectors, area/external/python

#7643 Redirect when url =~ \/host\/hostname$ (#7539)
  web/server/web_client.c
Labels: area/web

#7666 installer: include go.d.plugin version v0.14.0
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#7636 Update the distribution support matrix to represent reality.
  packaging/DISTRIBUTIONS.md
Labels: area/docs

#7081 feat(docker): Add freeipmi support
  packaging/docker/Dockerfile
Labels: area/packaging

#7616 Clean up host labels in API responses
  database/rrdvar.c
  health/health_json.c
  web/api/formatters/charts2json.c
  web/api/formatters/json_wrapper.c
  web/api/formatters/rrdset2json.c
  web/api/netdata-swagger.json
  web/api/netdata-swagger.yaml
  web/api/web_api_v1.c
Labels: area/database, area/health, area/web

#7674 Fix spelling of Prometheus (#7673)
  backends/backends.c
  backends/backends.h
  configure.ac
  exporting/read_config.c
Labels: area/backends

#7662 Fix buildyaml.sh script so that docs generation works correctly.
  docs/generator/buildyaml.sh
Labels: area/docs

#7595 Update handling of shutdown of the Netdata agent on update and uninstall.
  packaging/installer/functions.sh
  packaging/installer/netdata-uninstaller.sh
Labels: area/packaging

#7597 Docs: Improve documentation of opting out of anonymous statistics
  README.md
  docs/anonymous-statistics.md
  docs/netdata-security.md
  packaging/docker/README.md
  packaging/installer/README.md
Labels: area/docs

#7395 network interface speed, duplex, operstate #5989
  collectors/proc.plugin/proc_net_dev.c
Labels: area/collectors

#7685 Add missing quoting in shell scripts.
  packaging/installer/functions.sh
  packaging/installer/netdata-uninstaller.sh
Labels: area/packaging

#7630 Switch PR labeling to use GitHub Actions.
  .github/labeler.yml
  .github/workflows/labeler.yml
  .travis.yml
  .travis/labeler.sh
Labels: area/ci

#7697 Fix PR labeling GitHub Action.
  .github/workflows/labeler.yml
Labels: area/ci

#7554 Send host labels via exporting connectors
  database/rrdset.c
  exporting/exporting_engine.h
  exporting/graphite/graphite.c
  exporting/graphite/graphite.h
  exporting/json/json.c
  exporting/json/json.h
  exporting/opentsdb/opentsdb.c
  exporting/opentsdb/opentsdb.h
  exporting/process_data.c
  exporting/read_config.c
  exporting/tests/exporting_fixtures.c
  exporting/tests/test_exporting_engine.c
  libnetdata/inlined.h
  web/api/web_api_v1.c
Labels: area/backends

#7698 General fixes to the installer.
  packaging/installer/functions.sh
Labels: area/packaging

#7663 error exit when rrdhost localhost init fails #7504
  daemon/main.c
  database/rrd.h
  database/rrdhost.c
Labels: area/daemon, area/database

#7705 litespeed: add support for different .rtreport format
  collectors/python.d.plugin/litespeed/litespeed.chart.py
Labels: area/external/python

#7713 minor - update README.md for ACLK
  aclk/README.md
Labels: area/docs

#7665 Fixes for pfSense Installation
  packaging/installer/README.md
Labels: area/docs, area/packaging, bug

#7526 Docs: Linter fixes for main README
  README.md
Labels: area/docs

#7407 Docs: Tweaks and linter fixes to contributing guidelines
  docs/contributing/contributing-documentation.md
  docs/contributing/style-guide.md
Labels: area/docs

#7549 Stream with labels
  collectors/plugins.d/plugins_d.c
  collectors/plugins.d/plugins_d.h
  database/rrd.h
  database/rrdhost.c
  streaming/rrdpush.c
  streaming/rrdpush.h
  streaming/stream.conf
Labels: area/collectors, area/database, area/streaming

#7704 Make auto-updates work on kickstart-static64 installs.
  netdata-installer.sh
  packaging/installer/README.md
  packaging/installer/kickstart-static64.sh
  packaging/installer/netdata-updater.sh
  packaging/makeself/install-or-update.sh
Labels: area/packaging

#7588 Reduce broken pipe errors
  collectors/tc.plugin/tc-qos-helper.sh.in
Labels: area/collectors

#7732 installer: include go.d.plugin version v0.14.1
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#7727 Fix a check for nfnetlink_conntrack.h
  configure.ac
Labels: area/packaging

#7737 Update stop-notifications-alarms.md
  health/tutorials/stop-notifications-alarms.md
Labels: area/docs, area/health

#7752 multiple files: fix typos
  .travis/README.md
  BUILD.md
  CONTRIBUTING.md
  HISTORICAL_CHANGELOG.md
  collectors/python.d.plugin/am2320/README.md
  packaging/DISTRIBUTIONS.md
Labels: area/ci, area/docs, area/external/python, area/packaging

#7688 Adds a Dockerfile.docs for more easily and reproducibly building/rebuilding docs
  .github/CODEOWNERS
  Dockerfile.docs
  docs/contributing/contributing-documentation.md
Labels: area/ci

#7563 Move the script for installing required packages into the main repo.
  .travis.yml
  .travis/package_management/configure_deb_lxc_environment.py
  .travis/package_management/configure_rpm_lxc_environment.py
  packaging/installer/README.md
  packaging/installer/install-required-packages.sh
  packaging/installer/kickstart.sh
  tests/updater_checks.sh
Labels: area/ci, area/docs, area/packaging, area/tests

#7594 Restrict quotes in label values
  database/rrdhost.c
  docs/configuration-guide.md
Labels: area/database, area/docs, area/packaging

#7760 Filter out lxc cgroups which are not useful
  collectors/cgroups.plugin/sys_fs_cgroup.c
Labels: area/collectors

#7750 on cloud error, inform user to update their netdata.
  web/gui/main.js
Labels: area/web

#7768 Limit PR labeler runs to the main repo.
  .github/workflows/labeler.yml
Labels: area/ci

#7726 Fixes support for read-only /lib on SystemD systems like CoreOS in kickstart static64
  packaging/installer/README.md
  packaging/installer/functions.sh
  packaging/installer/kickstart-static64.sh
Labels: area/packaging

#7763 Fix the formatting of the trailer line in the Debian changelog template.
  contrib/debian/changelog
Labels: area/packaging

#7548 Alarm Log labels
  database/rrdhost.c
  health/health.h
  health/health_log.c
Labels: area/database, area/health

#7776 Add a missing parameter to the allmetrics endpoint in Swagger Editor
  web/api/netdata-swagger.json
  web/api/netdata-swagger.yaml
Labels: area/web

#7778 Fix libuv IPC pipe cleanup problem
  daemon/commands.c
  packaging/installer/netdata-uninstaller.sh
Labels: area/daemon, area/packaging

#7780 Fix a Coverity issue
  exporting/init_connectors.c
Labels: area/backends

#7782 Fix CSV -> SSV in docs
  web/api/formatters/ssv/README.md
Labels: area/docs

#7733 Do not alert the #automation channel on checksum failures that will fail a PR in CI anyway
  tests/installer/checksums.sh
Labels: area/tests

#7725 Cleanup packaging/makeself/build-x86_64-static.sh to use /bin/sh and remove use of sudo
  packaging/makeself/build-x86_64-static.sh
Labels: area/packaging

#7783 Remove unnessecary `echo` call in updater.
  packaging/installer/netdata-updater.sh
Labels: area/packaging

#7764 add swagger docu for `fixed_width_lbl` and `fixed_width_val`
  web/api/netdata-swagger.json
  web/api/netdata-swagger.yaml
Labels: area/web

#7796 Fixes install on FreeBSD systems with non GNU sed (do't use -i)
  packaging/installer/functions.sh
Labels: area/packaging

#7795 Adds reviewdog/shellcheck to CI via Github Actions on changed shell scripts in PRs
  .github/workflows/reviewdog.yml
Labels: area/ci, area/packaging

#7770 Issue 7488 docker labels
  daemon/anonymous-statistics.sh.in
  daemon/main.c
  daemon/system-info.sh
  database/rrd.h
  database/rrdhost.c
  packaging/docker/README.md
  streaming/rrdpush.c
  web/api/web_api_v1.c
Labels: area/daemon, area/database, area/packaging, area/streaming, area/web

#7802 node.d/snmp: snmpv3 support
  collectors/node.d.plugin/node_modules/net-snmp.js
  collectors/node.d.plugin/snmp/README.md
  collectors/node.d.plugin/snmp/snmp.node.js
Labels: area/external

#6939 netdata/packaging: following the pattern from CUPS, separate freeIPMI
  contrib/debian/control
  contrib/debian/control.buster
  contrib/debian/control.jessie
  contrib/debian/control.trusty
  contrib/debian/control.wheezy
  contrib/debian/control.xenial
  contrib/debian/rules
Labels: 3 - Review, area/packaging

#6935 netdata/packaging: split free IPMI for RPM
  netdata.spec.in
Labels: 3 - Review, area/packaging

#7805 bug_report improvements
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: area/ci

#7816 node.d/snmp.node.js: format code
  collectors/node.d.plugin/snmp/snmp.node.js
Labels: area/external

#7784 Fix unit tests for the exporting engine
  CMakeLists.txt
  Makefile.am
  exporting/tests/netdata_doubles.c
  exporting/tests/test_exporting_engine.c
Labels: area/backends, area/packaging

#7765 Add an environment variable check to Travis configuration to allow disabling nightlies.
  .travis.yml
Labels: 3 - Review, area/ci

#7817 Don't remove groups/users in Debian postrm
  contrib/debian/netdata.postrm
Labels: area/packaging

#7843 Fixed typo in README
  packaging/installer/README.md
Labels: area/packaging

#7632 Fix install permissions
  netdata-installer.sh
  netdata.spec.in
Labels: 3 - Review, area/packaging

#7814 Attempt to use system service manager to shut down Netdata.
  packaging/installer/functions.sh
  packaging/installer/netdata-uninstaller.sh
Labels: 3 - Review, area/packaging

#7815 Improve the system-info.sh script to report CPU and RAM meta-data.
  daemon/system-info.sh
Labels: 3 - Review, area/daemon

#7849 python.d/retroshare: add readme
  collectors/python.d.plugin/retroshare/README.md
Labels: area/external/python

#7828 Adds ReviewDog CI checks for JavaScript
  .github/workflows/reviewdog.yml
Labels: area/ci

#7829 Remove all refernces to .keep files
  Makefile.am
  collectors/charts.d.plugin/.keep
  collectors/charts.d.plugin/Makefile.am
  collectors/node.d.plugin/.keep
  collectors/node.d.plugin/Makefile.am
  collectors/python.d.plugin/.keep
  collectors/python.d.plugin/Makefile.am
  collectors/statsd.plugin/.keep
  collectors/statsd.plugin/Makefile.am
  health/.keep
  health/Makefile.am
  netdata.spec.in
  packaging/installer/.keep
Labels: area/collectors, area/external, area/external/python, area/health, area/packaging

#6995 Update stream documentation bringing explanation of some errors
  streaming/README.md
Labels: area/docs, area/streaming

#7735 Adds Docker based build system for Binary Packages, CI/CD, Smoke Testing and Development.
  .dockerignore
  packaging/Dockerfile.packager
  packaging/build_package_install_test.sh
  packaging/scripts/install.sh
  packaging/scripts/test.sh
Labels: area/packaging

#7827 Adds ReviewDog CI checks for Golang
  .github/workflows/reviewdog.yml
Labels: area/ci

#7847 Fixes and improves the installer/updater shell scripts.
  netdata-installer.sh
  packaging/installer/README.md
  packaging/installer/kickstart-static64.sh
  packaging/makeself/install-or-update.sh
Labels: area/packaging

#7841 Docs: Overhaul of installation documentation
  README.md
  backends/WALKTHROUGH.md
  docs/generator/buildyaml.sh
  docs/generator/custom/css/netdata.css
  docs/step-by-step/step-07.md
  packaging/installer/README.md
  packaging/installer/UNINSTALL.md
  packaging/installer/UPDATE.md
  packaging/installer/methods/alpine.md
  packaging/installer/methods/freebsd.md
  packaging/installer/methods/freenas.md
  packaging/installer/methods/kickstart-64.md
  packaging/installer/methods/kickstart.md
  packaging/installer/methods/macos.md
  packaging/installer/methods/manual.md
  packaging/installer/methods/offline.md
  packaging/installer/methods/packages.md
  packaging/installer/methods/pfsense.md
  packaging/installer/methods/synology.md
  tests/installer/checksums.sh
Labels: area/backends, area/docs, area/packaging, area/tests

#7757 Small updates to dash.html
  web/gui/custom/README.md
  web/gui/dash-example.html
Labels: area/web

#7877 Missing extern
  daemon/common.c
  daemon/common.h
  health/health.c
  health/health.h
  libnetdata/health/health.c
  libnetdata/health/health.h
  web/api/web_api_v1.c
  web/api/web_api_v1.h
Labels: area/daemon, area/health, area/web

#7876 collectors/python.d/phpfpm: fix readme and per process chart titles
  collectors/python.d.plugin/phpfpm/README.md
  collectors/python.d.plugin/phpfpm/phpfpm.chart.py
Labels: area/external/python

#7853 /collectors/python.d: remove unbound module
  README.md
  collectors/python.d.plugin/Makefile.am
  collectors/python.d.plugin/unbound/Makefile.inc
  collectors/python.d.plugin/unbound/README.md
  collectors/python.d.plugin/unbound/unbound.chart.py
  collectors/python.d.plugin/unbound/unbound.conf
  docs/Add-more-charts-to-netdata.md
  docs/what-is-netdata.md
Labels: area/collectors, area/docs, area/external/python

#7794 Fixes Source0 URL in RPM spec
  netdata.spec.in
Labels: area/packaging

#7373 Add release channel customization to docker build
  .travis.yml
  packaging/docker/Dockerfile
  packaging/docker/build.sh
  packaging/manual_nightly_deployment.sh
Labels: area/ci, area/packaging

#7866 Add disk size detection to system-info.sh.
  daemon/system-info.sh
Labels: area/daemon

#7846 Adds support for opting out of telemetry via the DO_NOT_TRACK envirnment variable
  daemon/anonymous-statistics.sh.in
  docs/anonymous-statistics.md
  netdata-installer.sh
  packaging/docker/Dockerfile
  packaging/docker/run.sh
  packaging/installer/kickstart-static64.sh
  packaging/installer/methods/kickstart-64.md
  packaging/makeself/install-or-update.sh
  packaging/makeself/makeself-help-header.txt
  web/server/web_client.h
Labels: area/daemon, area/docs, area/packaging, area/web

#7909 Add docs about using caching proxies with our package repos.
  packaging/installer/methods/packages.md
Labels: area/docs, area/packaging

#7883 Clarify editing health config files in health quickstart
  health/QUICKSTART.md
  health/tutorials/stop-notifications-alarms.md
Labels: area/docs, area/health

#7809 add possibility to change badge text font color
  web/api/badges/README.md
  web/api/badges/web_buffer_svg.c
  web/api/badges/web_buffer_svg.h
  web/api/netdata-swagger.json
  web/api/netdata-swagger.yaml
Labels: area/web

#7923 Set ownership correctly for plugins in netdata-installer.sh
  netdata-installer.sh
Labels: area/packaging

#7912 Add doc with post-install instructions for GCP
  docs/generator/buildyaml.sh
  docs/generator/custom/css/netdata.css
  packaging/installer/README.md
  packaging/installer/methods/cloud-providers.md
Labels: area/packaging

#7924 Fix typo in PULL_REQUEST_TEMPLATE
  .github/PULL_REQUEST_TEMPLATE.md
Labels: area/ci, area/docs

#7882 installer: include go.d.plugin version v0.15.0
  health/Makefile.am
  health/health.d/cockroachdb.conf
  packaging/go.d.checksums
  packaging/go.d.version
  web/gui/dashboard_info.js
Labels: area/health, area/packaging, area/web

#7929 Fixes a bug in DO_NOT_TRACK expression
  daemon/anonymous-statistics.sh.in
  netdata-installer.sh
  packaging/docker/run.sh
  packaging/installer/kickstart-static64.sh
  packaging/installer/methods/kickstart-64.md
  packaging/makeself/install-or-update.sh
Labels: area/daemon, area/packaging

#7926 /collectors/python.d/varnish: collect smf metrics
  collectors/python.d.plugin/varnish/README.md
  collectors/python.d.plugin/varnish/varnish.chart.py
Labels: area/external/python

#7702 Parse host tags
  backends/README.md
  daemon/commands.c
  database/rrdcalc.c
  database/rrdcalctemplate.c
  database/rrdhost.c
  exporting/graphite/graphite.c
  exporting/json/json.c
  exporting/opentsdb/opentsdb.c
  health/health_log.c
  libnetdata/config/appconfig.c
  streaming/rrdpush.c
  web/api/web_api_v1.c
Labels: area/backends, area/daemon, area/database, area/docs, area/health, area/streaming, area/web
