Repository netdata/netdata, pull requests merged in 2020-12, with the labels that each got.

#10301 Update UPDATE.md
  packaging/installer/UPDATE.md
Labels: area/docs, area/packaging

#10300 HAProxy spelling correction
  collectors/python.d.plugin/haproxy/README.md
Labels: area/collectors, area/docs, area/external/python

#10030 ACLK allow child query
  aclk/aclk_common.h
  aclk/aclk_query.c
  aclk/aclk_query.h
  aclk/aclk_rx_msgs.c
Labels: ACLK, area/database, area/streaming, area/web

#10302 Add optional info on how to also add some default alarms as part of s…
  collectors/python.d.plugin/README.md
Labels: area/collectors, area/docs, area/external/python

#10305 Removed lifecycle checks from Travis CI.
  .travis.yml
Labels: area/ci, no changelog

#10060 Anomalies collector
  collectors/python.d.plugin/Makefile.am
  collectors/python.d.plugin/anomalies/Makefile.inc
  collectors/python.d.plugin/anomalies/README.md
  collectors/python.d.plugin/anomalies/anomalies.chart.py
  collectors/python.d.plugin/anomalies/anomalies.conf
  collectors/python.d.plugin/python.d.conf
  health/Makefile.am
  health/health.d/anomalies.conf
  web/gui/dashboard_info.js
Labels: area/build, area/collectors, area/docs, area/external/python, area/health, area/web

#10313 fix UUID_STR_LEN undefined on MacOS
  aclk/aclk_rx_msgs.c
Labels: ACLK

#10293 dbengine extent cache
  database/engine/rrdengine.c
  database/engine/rrdengine.h
  database/engine/rrdenginelib.h
Labels: area/database

#10312 python.d/nvidia_smi: fix gpu data filtering
  collectors/python.d.plugin/nvidia_smi/nvidia_smi.chart.py
Labels: area/collectors, area/external/python

#10192 File descr alarm v01
  collectors/apps.plugin/apps_plugin.c
  health/Makefile.am
  health/health.d/apps_plugin.conf
  libnetdata/os.c
Labels: area/build, area/collectors, area/health

#10314 dashboard v2.10.1
  packaging/dashboard.checksums
  packaging/dashboard.version
Labels: area/packaging

#10292 add privacy information about aclk connection
  aclk/README.md
Labels: ACLK, area/docs

#10317 Added support for MSE (Massive Storage Engine) in Varnish-Plus
  collectors/python.d.plugin/varnish/README.md
  collectors/python.d.plugin/varnish/varnish.chart.py
Labels: area/collectors, area/docs, area/external/python

#10299 eBPF synchronization
  collectors/ebpf.plugin/README.md
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.conf
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_apps.h
  collectors/ebpf.plugin/ebpf_process.c
  web/gui/dashboard_info.js
Labels: area/collectors, area/docs, area/web

#10319 installer: update go.d.plugin version to v0.26.1
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#10320 Fix a compilation warning
  database/engine/rrdengine.c
Labels: area/database

#10310 Add new collectors to supported collectors list
  collectors/COLLECTORS.md
Labels: area/collectors, area/docs

#10328 health: disable 'used_file_descriptors' alarm
  health/health.d/apps_plugin.conf
Labels: area/health

#10261 Made the update script significantly more robust and user friendly.
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart.md
  packaging/installer/netdata-updater.sh
Labels: area/docs, area/packaging

#10323 Fix exporting config
  exporting/read_config.c
  exporting/tests/test_exporting_engine.c
  web/api/exporters/allmetrics.c
  web/api/tests/valid_urls.c
  web/api/tests/web_api.c
Labels: area/exporting, area/web

#10318 Improve core documentation to align with recent Netdata Cloud releases
  docs/configure/invite-collaborate.md
  docs/configure/nodes.md
  docs/configure/secure-nodes.md
  docs/configure/spaces-war-rooms.md
  docs/guides/troubleshoot/monitor-debug-applications-ebpf.md
  docs/quickstart/infrastructure.md
  docs/visualize/interact-dashboards-charts.md
  docs/visualize/overview-infrastructure.md
Labels: area/docs

#10334 Added info about network usage requirements for the update script.
  packaging/installer/README.md
Labels: area/docs, area/packaging, no changelog

#10333 Added patch to build LWS properly on macOS.
  netdata-installer.sh
Labels: area/packaging

#10343 Fix backend options
  exporting/read_config.c
Labels: area/exporting

#10346 Use `glibtoolize` on macOS instead of regular `libtoolize`.
  netdata-installer.sh
  packaging/installer/methods/macos.md
Labels: area/docs, area/packaging

#10338 Add guide: Monitor any process in real-time with Netdata
  collectors/apps.plugin/README.md
  collectors/ebpf.plugin/README.md
  docs/guides/monitor/process.md
  docs/guides/troubleshoot/monitor-debug-applications-ebpf.md
  web/README.md
Labels: area/collectors, area/docs, area/web

#10344 Fixed handling of PowerTools repo on CentOS 8.
  packaging/installer/install-required-packages.sh
  packaging/installer/methods/manual.md
Labels: area/docs, area/packaging

#10308 Added numerous improvements to our Docker image.
  .github/workflows/review.yml
  packaging/docker/Dockerfile
  packaging/docker/run.sh
Labels: area/ci, area/packaging

#10295 Update macOS instructions with cmake
  packaging/installer/methods/macos.md
Labels: area/docs, area/packaging

#10355 installer: update go.d.plugin version to v0.26.2
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#10345 Fix handling of Python dependency for RPM package.
  netdata.spec.in
Labels: area/packaging

#10352 Fixed handling of self-updating in updater script.
  packaging/installer/netdata-updater.sh
Labels: area/packaging

#10357 Explicitly set platform for Docker builds.
  .github/workflows/docker.yml
  .travis.yml
  packaging/docker/build.sh
Labels: area/ci, area/packaging, no changelog

#10335 Switch to using official Docker actions for GHA CI.
  .github/workflows/docker.yml
Labels: area/ci, no changelog

#10364 Fixed use of multiarch/qemu-user-static image for Docker builds.
  packaging/docker/build.sh
Labels: area/packaging, no changelog

#10329 Added number of allocated/stored objects within each Varnish storage
  collectors/python.d.plugin/varnish/README.md
  collectors/python.d.plugin/varnish/varnish.chart.py
Labels: area/collectors, area/docs, area/external/python

#10369 add two more insignificant warnings to suppress in anomalies collector
  collectors/python.d.plugin/anomalies/anomalies.chart.py
Labels: area/collectors, area/external/python

#10375 python.d/alarms: add alarms obsoletion and disable by default
  collectors/python.d.plugin/alarms/alarms.chart.py
Labels: area/collectors, area/external/python

#10378 python.d/alarms: fix sending chart definition on every data collection
  collectors/python.d.plugin/alarms/alarms.chart.py
Labels: area/collectors, area/external/python

#10361 Fix hostname configuration in the exporting engine
  exporting/clean_connectors.c
  exporting/exporting_engine.h
  exporting/graphite/graphite.c
  exporting/json/json.c
  exporting/opentsdb/opentsdb.c
  exporting/prometheus/remote_write/remote_write.c
  exporting/read_config.c
  exporting/tests/exporting_doubles.c
  exporting/tests/exporting_fixtures.c
  exporting/tests/test_exporting_engine.c
Labels: area/exporting

#10379 Update macos.md
  packaging/installer/methods/macos.md
Labels: area/docs, area/packaging

#10107 Kubernetes labels
  CMakeLists.txt
  Makefile.am
  collectors/cgroups.plugin/cgroup-name.sh.in
  collectors/cgroups.plugin/sys_fs_cgroup.c
  collectors/cgroups.plugin/sys_fs_cgroup.h
  collectors/cgroups.plugin/tests/test_cgroups_plugin.c
  collectors/cgroups.plugin/tests/test_cgroups_plugin.h
  collectors/cgroups.plugin/tests/test_doubles.c
  collectors/plugins.d/pluginsd_parser.c
  collectors/proc.plugin/plugin_proc.h
  collectors/proc.plugin/proc_net_dev.c
  daemon/commands.c
  database/rrd.h
  database/rrdcalc.c
  database/rrdcalctemplate.c
  database/rrdhost.c
  database/rrdlabels.c
  database/rrdset.c
  exporting/graphite/graphite.c
  exporting/json/json.c
  exporting/opentsdb/opentsdb.c
  exporting/prometheus/prometheus.c
  exporting/prometheus/remote_write/remote_write.c
  exporting/tests/exporting_fixtures.c
  health/health_log.c
  libnetdata/avl/avl.c
  libnetdata/avl/avl.h
  libnetdata/config/appconfig.c
  libnetdata/config/appconfig.h
  streaming/receiver.c
  streaming/rrdpush.c
  streaming/sender.c
  web/api/formatters/json_wrapper.c
  web/api/formatters/json_wrapper.h
  web/api/formatters/rrd2json.c
  web/api/formatters/rrd2json.h
  web/api/formatters/rrdset2json.c
  web/api/web_api_v1.c
Labels: area/build, area/collectors, area/daemon, area/database, area/exporting, area/health, area/streaming, area/web

#10348 update alarms collector readme image to use one from the related netdata PR
  collectors/python.d.plugin/alarms/README.md
Labels: area/collectors, area/docs, area/external/python

#10381 Fix issue with chart metadata sent multiple times over ACLK
  database/rrd.h
  database/rrddim.c
  database/rrdset.c
Labels: area/database

#10385 Fix a lock check
  exporting/opentsdb/opentsdb.c
Labels: area/exporting

#10360 New ebpf charts
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_apps.h
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_socket.h
  packaging/ebpf.checksums
  packaging/ebpf.version
  web/gui/dashboard_info.js
Labels: area/collectors, area/packaging, area/web

#10386 fix typo in performance.md
  docs/guides/configure/performance.md
Labels: area/docs

#10363 add paragraph in anomalies collector README to ask for feedback
  collectors/python.d.plugin/anomalies/README.md
Labels: area/collectors, area/docs, area/external/python

#10391 Fix a buffer overflow when extracting information from a STREAM connection
  web/server/web_client.c
Labels: area/web

#10382 Fixed handling of dependencies on Gentoo.
  packaging/installer/install-required-packages.sh
Labels: area/packaging

#10347 Add documentation for time & date picker in Agent and Cloud
  README.md
  docs/visualize/interact-dashboards-charts.md
  web/README.md
  web/gui/README.md
Labels: area/docs, area/web

#10395 invalid_addr_cleanup: Initialize variables
  collectors/ebpf.plugin/ebpf.c
Labels: area/collectors

#10396 Fixed option parsing in kickstart.sh.
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart.md
Labels: area/docs, area/packaging

#10401 Fix locking after on_connect failure
  aclk/aclk_query.c
Labels: ACLK

#10404 Bump Fedora version for RPM packaging to 32.
  .travis.yml
Labels: no changelog

#10374 Add centralized Cloud notifications to core docs
  docs/monitor/enable-notifications.md
  docs/monitor/view-active-alarms.md
Labels: area/docs

#10414 Add Realtek network cards to the list of physical interfaces on FreeBSD
  collectors/freebsd.plugin/freebsd_getifaddrs.c
Labels: area/collectors

#10398 Added instructions on which file to edit.
  health/notifications/telegram/README.md
Labels: area/docs, area/health

#10425 Use bash shell as user netdata for debug
  collectors/ebpf.plugin/README.md
Labels: area/collectors, area/docs
