Repository netdata/netdata, pull requests merged in 2020-10, with the labels that each got.

#10015 Clean up and better cross-link new docsv2 documents
  docs/collect/application-metrics.md
  docs/collect/container-metrics.md
  docs/collect/system-metrics.md
  docs/configure/nodes.md
  docs/configure/secure-nodes.md
  docs/get/README.md
  docs/monitor/configure-alarms.md
  docs/monitor/view-active-alarms.md
  docs/overview/what-is-netdata.md
  docs/overview/why-netdata.md
  docs/quickstart/infrastructure.md
  docs/store/distributed-data-architecture.md
  docs/visualize/view-all-nodes.md
Labels: area/docs

#9999 Allow connecting to arbitrary MQTT WSS broker for devs
  aclk/aclk_common.c
  aclk/aclk_common.h
  aclk/aclk_lws_https_client.c
  aclk/aclk_lws_https_client.h
  aclk/agent_cloud_link.c
Labels: ACLK

#10032 Fixed the data endpoint to prioritize chart over context if both are present
  web/api/web_api_v1.c
Labels: area/web

#10028 Fixed incorrect condition in updater type detection.
  packaging/installer/functions.sh
Labels: area/packaging

#10020 Fix README exporting link
  README.md
Labels: area/docs

#9925 Update README.md
  claim/README.md
Labels: area/docs

#10029 Fixed gauges for go web_log module
  web/gui/dashboard_info.js
Labels: area/web

#10031 python.d/rabbitmq: Add chart for churn rates
  collectors/python.d.plugin/rabbitmq/rabbitmq.chart.py
Labels: area/collectors, area/external/python

#10045 Rename NETDATA_PORT to NETDATA_LISTENER_PORT
  packaging/docker/Dockerfile
  packaging/docker/run.sh
Labels: area/packaging

#10046 installer: update go.d.plugin version to v0.23.0
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#10048 health/portcheck: add `failed` dim to the `connection_fails` alarm
  health/health.d/portcheck.conf
Labels: area/health

#10036 small docs update - adding note about using `nolock` when debugging
  collectors/python.d.plugin/README.md
Labels: area/collectors, area/docs, area/external/python

#9960 Add missing period in netdata dashboard
  web/gui/dashboard_info.js
Labels: area/web

#10058 Skip all build checks on CI packaging builds.
  .travis.yml
Labels: area/ci, no changelog

#10066 Fix systemd comment syntax
  system/netdata.service.in
Labels: area/packaging

#10067 Update README.md
  collectors/python.d.plugin/README.md
Labels: area/collectors, area/docs, area/external/python

#10085 Removed redundant dependencies from Debian control file.
  contrib/debian/control
Labels: area/packaging

#10059 Removed @prologic from CODEOWNERS.
  .github/CODEOWNERS
Labels: area/ci, no changelog

#10100 Added more robust doucmentation around updates.
  packaging/installer/UPDATE.md
Labels: area/docs, area/packaging

#10097 Replace memcpy() with memmove() for overlapping memory ranges.
  streaming/receiver.c
  streaming/sender.c
Labels: area/streaming

#10050 Fix formatting source code blocks in custom dashboard page
  web/gui/custom/README.md
Labels: area/docs, area/web

#10064 Add per queue charts in rabbitmq.chart.py
  collectors/python.d.plugin/rabbitmq/README.md
  collectors/python.d.plugin/rabbitmq/rabbitmq.chart.py
  collectors/python.d.plugin/rabbitmq/rabbitmq.conf
  web/gui/dashboard_info.js
Labels: area/collectors, area/docs, area/external/python, area/web

#10095 collectors/cgroups: filter pod level cgroups
  collectors/cgroups.plugin/sys_fs_cgroup.c
Labels: area/collectors

#10072 collectors/cgroups: fix resolving container names in k8s
  collectors/cgroups.plugin/cgroup-name.sh.in
Labels: area/collectors

#10093 Add support for HBA drives in hpssa.chart.py
  collectors/python.d.plugin/hpssa/hpssa.chart.py
Labels: area/collectors, area/external/python

#10098 nvidia_smi: Not count users with zero memory allocated
  collectors/python.d.plugin/nvidia_smi/README.md
  collectors/python.d.plugin/nvidia_smi/nvidia_smi.chart.py
  collectors/python.d.plugin/nvidia_smi/nvidia_smi.conf
Labels: area/collectors, area/docs, area/external/python

#10041 New alarm entities
  database/rrdcalc.c
  database/rrdcalc.h
  database/rrdcalctemplate.c
  database/rrdcalctemplate.h
  health/REFERENCE.md
  health/health_config.c
Labels: area/database, area/docs, area/health

#10052 Wireless statistics
  CMakeLists.txt
  Makefile.am
  collectors/all.h
  collectors/proc.plugin/README.md
  collectors/proc.plugin/plugin_proc.c
  collectors/proc.plugin/plugin_proc.h
  collectors/proc.plugin/proc_net_wireless.c
  web/gui/dashboard_info.js
Labels: area/build, area/collectors, area/docs, area/web

#10034 Don't check for ebpf dependencies if ebpf is disabled.
  configure.ac
Labels: area/build

#10109 installer: update go.d.plugin version to v0.24.0
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#10082 Add documentation for Cloud Overview
  docs/configure/secure-nodes.md
  docs/guides/export/export-netdata-metrics-graphite.md
  docs/guides/troubleshoot/monitor-debug-applications-ebpf.md
  docs/quickstart/infrastructure.md
  docs/visualize/interact-dashboards-charts.md
  docs/visualize/overview-infrastructure.md
  docs/visualize/view-all-nodes.md
Labels: area/docs

#10120 Fix platform dependent printf format
  collectors/perf.plugin/perf_plugin.c
  collectors/slabinfo.plugin/slabinfo.c
Labels: area/collectors

#10121 Disregard host tags configuration pointer
  streaming/receiver.c
Labels: area/streaming

#10126 Added Konstas Kaskavelis as a code owner for CI.
  .github/CODEOWNERS
Labels: area/ci, no changelog

#10027 Completely hide SSO iframe
  web/gui/index.html
Labels: area/web

#10112 Added new data query option "allow_past"
  web/api/netdata-swagger.json
  web/api/netdata-swagger.yaml
  web/api/queries/query.c
  web/api/queries/rrdr.h
  web/api/web_api_v1.c
Labels: area/web

#10123 Updated distros for CI checks and package builds.
  .github/workflows/build-and-install.yml
  .travis.yml
Labels: area/ci, area/packaging, no changelog

#10087 Add documentation for configuring/editing hostnames of Docker-run Agents
  packaging/docker/README.md
Labels: area/docs, area/packaging

#10122 dashboard@2.7.4
  packaging/dashboard.checksums
  packaging/dashboard.version
Labels: area/packaging

#10115 Fix broken links in docs
  docs/guides/monitor/pi-hole-raspberry-pi.md
  docs/guides/troubleshoot/monitor-debug-applications-ebpf.md
  docs/visualize/overview-infrastructure.md
Labels: area/docs

#10145 fix configuration category in docs/prometheus_remote_write
  exporting/prometheus/remote_write/README.md
Labels: area/docs, area/exporting

#10148 Split ReviewDog check to only run when relevant.
  .github/workflows/review.yml
Labels: area/ci, no changelog

#10096 ebpf memory cleanup
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_apps.c
  collectors/ebpf.plugin/ebpf_apps.h
  collectors/ebpf.plugin/ebpf_process.c
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_socket.h
  libnetdata/ebpf/ebpf.c
  libnetdata/ebpf/ebpf.h
Labels: area/collectors

#9879 Opsgenie integration
  health/notifications/Makefile.am
  health/notifications/alarm-notify.sh.in
  health/notifications/health_alarm_notify.conf
  health/notifications/opsgenie/Makefile.inc
  health/notifications/opsgenie/README.md
Labels: area/build, area/docs, area/health

#10158 Update the version of libJudy that we bundle to 1.0.5-netdata2
  packaging/judy.checksums
  packaging/judy.version
Labels: area/packaging

#9984 allows use of system libwebsockets instead of bundled one
  Makefile.am
  aclk/aclk_lws_https_client.c
  configure.ac
  daemon/buildinfo.c
  netdata-installer.sh
Labels: ACLK, area/build, area/daemon, area/packaging

#10160 Hangout thread
  health/notifications/alarm-notify.sh.in
  health/notifications/hangouts/README.md
Labels: area/docs, area/health
