Repository netdata/netdata, pull requests merged in 2021-11, with the labels that each got.

#11719 Fix coverity CID #373610
  database/sqlite/sqlite_aclk_alert.c
Labels: area/database

#11734 Fix online chart in NG not updated properly
  aclk/aclk.c
Labels: ACLK

#11737 Fix typo in aclk_query.c
  aclk/aclk_query.c
Labels: ACLK

#11598 Remove Alpine 3.11 from CI.
  .github/workflows/build-and-install.yml
Labels: area/ci, no changelog

#11740 Add @maneamarius to CODEOWNERS.
  .github/CODEOWNERS
Labels: area/ci, no changelog

#11739 Change comma possition in v1/info if ml-info is missing
  web/api/web_api_v1.c
Labels: area/web

#11710 Update jQuery Dependency
  web/gui/src/dashboard.js/dependencies.js
Labels: area/web

#11738 Disable C++ warnings from dlib library.
  Makefile.am
Labels: area/build

#11745 minor - popocorn no more
  aclk/aclk.c
Labels: ACLK

#11641 Add Fedora 35 to CI.
  .github/workflows/build-and-install.yml
  .github/workflows/packaging.yml
  .github/workflows/repoconfig-packages.yml
  .github/workflows/updater.yml
Labels: area/ci

#11748 add *.mdx to labeler config
  .github/labeler.yml
Labels: area/ci, no changelog

#11750 Teach GH about ML label and its code owners.
  .github/CODEOWNERS
  .github/labeler.yml
Labels: area/ci

#11744 Improve the ACLK sync process for the new cloud architecture
  aclk/aclk.c
  database/rrdset.c
  database/sqlite/sqlite_aclk.c
  database/sqlite/sqlite_aclk.h
  database/sqlite/sqlite_aclk_alert.c
  database/sqlite/sqlite_aclk_chart.c
  database/sqlite/sqlite_aclk_chart.h
  database/sqlite/sqlite_aclk_node.c
Labels: area/database, no changelog, ACLK

#11741 Update eBPF documentation
  collectors/ebpf.plugin/README.md
Labels: area/docs, area/collectors

#11747 Update enable-streaming.mdx
  docs/metrics-storage-management/enable-streaming.mdx
Labels: area/docs

#11718 Add basic telemetry to the new kickstart script.
  netdata-installer.sh
  packaging/installer/kickstart-ng.sh
Labels: area/packaging, no changelog

#11658 Sanely handle installing on systems with limited RAM.
  netdata-installer.sh
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart.md
Labels: area/packaging, area/docs, Customer Success

#11758 Don't interrupt popcorn timer for children
  aclk/aclk.c
Labels: ACLK

#11751 Adds exit points between env and OTP
  aclk/aclk.c
Labels: ACLK

#11756 fix (cgroups.plugin): containers name resolution for crio/containerd cri
  collectors/cgroups.plugin/cgroup-name.sh.in
Labels: area/collectors

#11762 Fix retention message duration when no local metrics are found
  database/sqlite/sqlite_aclk_chart.c
Labels: area/database, no changelog

#11634 Add protobuf to `-W buildinfo` output.
  configure.ac
  daemon/buildinfo.c
Labels: area/daemon, area/build

#11746 Minor improvement to CPU number function regarding macOS.
  packaging/installer/functions.sh
Labels: area/packaging

#11752 Update eBPF documenation (Filesystem and HardIRQ)
  collectors/ebpf.plugin/README.md
Labels: area/docs, area/collectors

#11763 fix log if D_ACLK is used
  aclk/aclk_rx_msgs.c
Labels: ACLK

#11767 Show stats for protected mount points in diskspace plugin
  collectors/diskspace.plugin/plugin_diskspace.c
Labels: area/collectors, data-collection-mteam

#11765 Store and submit dimension delete messages for new cloud architecture
  database/rrdset.c
  database/sqlite/sqlite_aclk.c
  database/sqlite/sqlite_aclk_chart.c
  database/sqlite/sqlite_aclk_chart.h
Labels: area/database, no changelog

#11768 Fix host hop count reported to the cloud
  aclk/aclk_rx_msgs.c
  database/sqlite/sqlite_aclk_alert.c
Labels: area/database, ACLK

#11772 Update netdata-security.md
  docs/netdata-security.md
Labels: area/docs

#11773 Fix link to new charts.
  docs/dashboard/interact-charts.mdx
Labels: area/docs

#11770 Skip sending hidden dimensions via ACLK
  database/rrdset.c
  database/sqlite/sqlite_aclk.c
Labels: area/database

#11774 Remove feature flag for ACLK new cloud architecture
  database/rrdhost.c
  database/sqlite/sqlite_aclk_chart.c
Labels: area/database

#11476 Announce proto capability and enable if cloud supports
  aclk/aclk.c
  aclk/aclk.h
  aclk/aclk_otp.c
  aclk/aclk_util.c
  aclk/aclk_util.h
Labels: ACLK

#11769 Insert alert into aclk_alert directly instead of queuing it
  database/sqlite/sqlite_aclk.c
  database/sqlite/sqlite_aclk.h
  database/sqlite/sqlite_aclk_alert.c
  database/sqlite/sqlite_aclk_chart.h
Labels: area/database

#11775 Temporary fix for cgroup renaming
  collectors/cgroups.plugin/cgroup-name.sh.in
  collectors/cgroups.plugin/sys_fs_cgroup.c
Labels: area/collectors, data-collection-mteam

#11733 Add command for new health entity file.
  docs/guides/step-by-step/step-05.md
Labels: area/docs

#11783 Fix proc/interrupts parser
  collectors/proc.plugin/proc_interrupts.c
Labels: area/collectors

#11789 packaging: update go.d.plugin version to v0.31.0
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#11766 Adding parenthesis
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart.md
Labels: area/packaging, area/docs

#11699 Overhaul build CI.
  .github/data/build-matrix.json
  .github/dockerfiles/Dockerfile.build_test
  .github/scripts/run-updater-check.sh
  .github/workflows/build-and-install.yml
  .github/workflows/build.yml
  .github/workflows/release-build.yml
  .github/workflows/updater.yml
  .travis/trigger_artifact_build.sh
Labels: area/ci, no changelog

#11790 Create directory structure for splitting out install-required-packages.sh
  packaging/installer/dependencies/alpine.sh
  packaging/installer/dependencies/arch.sh
  packaging/installer/dependencies/centos.sh
  packaging/installer/dependencies/clearlinux.sh
  packaging/installer/dependencies/debian.sh
  packaging/installer/dependencies/freebsd.sh
  packaging/installer/dependencies/gentoo.sh
  packaging/installer/dependencies/macos.sh
  packaging/installer/dependencies/ol.sh
  packaging/installer/dependencies/opensuse.sh
  packaging/installer/dependencies/rhel.sh
  packaging/installer/dependencies/sabayon.sh
  packaging/installer/dependencies/ubuntu.sh
Labels: area/packaging, no changelog

#11792 Fix the new static archive verification job.
  .github/workflows/build.yml
  packaging/installer/kickstart-static64.sh
  packaging/installer/methods/kickstart-64.md
Labels: area/ci, area/packaging, area/docs, no changelog

#11779 Delete from aclk alerts table if ack'ed from cloud one day ago
  database/sqlite/sqlite_aclk.c
  database/sqlite/sqlite_aclk.h
Labels: area/database

#11785 Use correct hop count if host is already in memory
  database/sqlite/sqlite_functions.c
Labels: area/database

#11776 Add Oracle Linux 8 to CI and package builds.
  .github/data/build-matrix.json
  .github/scripts/pkg-test.sh
  .github/workflows/packaging.yml
  .github/workflows/repoconfig-packages.yml
  packaging/installer/install-required-packages.sh
Labels: area/ci, area/packaging

#11795 Use the proper format specifier when logging configuration options.
  ml/Config.cc
Labels: area/ml

#11798 Assorted cleanups to static builds.
  packaging/makeself/build.sh
  packaging/makeself/jobs/10-prepare-destination.install.sh
  packaging/makeself/jobs/20-openssl.install.sh
  packaging/makeself/jobs/50-bash-5.1.8.install.sh
  packaging/makeself/jobs/50-curl-7.78.0.install.sh
  packaging/makeself/jobs/50-fping-5.0.install.sh
  packaging/makeself/jobs/50-ioping-1.2.install.sh
  packaging/makeself/jobs/70-netdata-git.install.sh
  packaging/makeself/jobs/99-makeself.install.sh
Labels: area/packaging

#11800 Update libbpf
  .gitignore
  packaging/current_libbpf.checksums
  packaging/current_libbpf.version
  packaging/libbpf.checksums
  packaging/libbpf.version
Labels: area/packaging

#11788 Add some logging for cloud new architecture to access.log
  aclk/aclk.c
  aclk/aclk_query.c
  database/sqlite/sqlite_aclk_alert.c
  database/sqlite/sqlite_aclk_chart.c
  database/sqlite/sqlite_aclk_node.c
Labels: area/database, ACLK

#11802 Add POWER8+ static builds.
  .github/workflows/build.yml
  packaging/makeself/build-static.sh
Labels: area/ci, area/packaging

#11806 Always queue alerts to aclk_alert
  database/sqlite/sqlite_aclk.c
  database/sqlite/sqlite_aclk.h
  database/sqlite/sqlite_aclk_alert.c
  database/sqlite/sqlite_health.c
  database/sqlite/sqlite_health.h
  health/health.c
Labels: area/health, area/database

#11808 Fix broken link in charts.mdx
  docs/dashboard/interact-charts.mdx
Labels: area/docs

#11809 Fix coverity issues
  database/sqlite/sqlite_aclk_alert.c
  database/sqlite/sqlite_aclk_chart.c
Labels: area/database

#11810 Cleanup compilation warnings
  aclk/aclk_util.c
  daemon/global_statistics.c
  database/sqlite/sqlite_aclk_alert.c
  database/sqlite/sqlite_aclk_chart.c
  exporting/check_filters.c
  exporting/mongodb/mongodb.c
  exporting/process_data.c
  exporting/prometheus/prometheus.c
  streaming/receiver.c
  streaming/sender.c
  web/api/queries/query.c
Labels: area/web, area/exporting, area/daemon, area/database, area/streaming, ACLK

#11804 Use two digits after the decimal point for the anomaly rate.
  ml/Host.cc
Labels: area/ml

#11787 Simple fix for the data API query
  daemon/unit_test.c
  database/rrd.h
  database/rrdset.c
Labels: area/daemon, area/database, area/tests

#11820 Don't use wc struct if it might not exist
  database/sqlite/sqlite_aclk_alert.c
  database/sqlite/sqlite_aclk_chart.c
  database/sqlite/sqlite_aclk_node.c
Labels: area/database

#11824 add kickoke to docs codeowners
  .github/CODEOWNERS
Labels: area/ci, no changelog

#11827 Set NETDATA_CONTAINER_OS_DETECTION properly
  database/rrdhost.c
Labels: area/database

#11826 feat(apps.plugin): add aws to apps_groups.conf
  collectors/apps.plugin/apps_groups.conf
Labels: area/collectors

#11831 Add a note about pkg-config file location for freeipmi
  collectors/freeipmi.plugin/README.md
Labels: area/docs, area/collectors, data-collection-mteam

#11828 Add commands to check and fix database corruption
  daemon/main.c
  database/rrdhost.c
  database/sqlite/sqlite_aclk.c
  database/sqlite/sqlite_aclk.h
  database/sqlite/sqlite_functions.c
  database/sqlite/sqlite_functions.h
Labels: area/daemon, area/database

#11829 Remove pihole_blocked_queries alert
  health/health.d/pihole.conf
Labels: area/health

#11823 Updating ansible steps for clarity
  docs/guides/deploy/ansible.md
Labels: area/docs

#11839 feat(apps.plugin): add consul to apps_groups.conf
  collectors/apps.plugin/apps_groups.conf
Labels: area/collectors

#11844 fix(health): `pihole_blocklist_gravity_file` and `pihole_status` info lines
  health/health.d/pihole.conf
Labels: area/health

#11840 Optional proto support fix
  aclk/aclk_otp.c
Labels: ACLK
