Repository netdata/netdata, pull requests merged in 2021-12, with the labels that each got.

#11640 Remove Fedora 33 from CI.
  .github/data/build-matrix.json
  .github/workflows/packaging.yml
  .github/workflows/repoconfig-packages.yml
Labels: area/ci

#11600 Remove OpenSUSE Leap 15.2 from CI.
  .github/data/build-matrix.json
  .github/workflows/packaging.yml
  .github/workflows/repoconfig-packages.yml
Labels: area/ci

#11836 Bump static builds to use Alpine 3.15 as a base.
  packaging/makeself/build-static.sh
Labels: area/packaging

#11847 Fix token name in release draft workflow.
  .github/workflows/build.yml
Labels: area/ci

#11843 Update nightly badge link
  README.md
Labels: area/docs, no changelog

#11855 Explicitly conflict with distro netdata DEB packages.
  contrib/debian/control
Labels: area/packaging

#11848 Create ML README.md
  ml/README.md
Labels: area/docs, area/ml

#11856 Initialize enabled parameter to 1 in AlarmLogHealth message
  database/sqlite/sqlite_aclk_alert.c
Labels: area/database

#11868 fix(health): used_swap alarm calc
  health/health.d/swap.conf
Labels: area/health

#11818 Detect whether libatomic should be linked in when using CXX linker.
  Makefile.am
  configure.ac
Labels: area/build

#11852 fix static build, curl will be staict binary; extra args can be transfer
  packaging/makeself/build-x86_64-static.sh
  packaging/makeself/jobs/50-curl-7.78.0.install.sh
Labels: area/packaging

#11873 fix(updater): fix exit code when updating static install && updater script
  packaging/installer/netdata-updater.sh
Labels: area/packaging

#11755 Make netdata-updater.sh POSIX compliant.
  packaging/installer/netdata-updater.sh
Labels: area/packaging

#11879 fix(updater): don't produce output when static update succeeded
  packaging/installer/netdata-updater.sh
Labels: area/packaging

#11871 add z score alarm example
  health/REFERENCE.md
Labels: area/docs, area/health

#11885 Fix postdrop handling for systemd systems.
  system/netdata.service.in
Labels: area/packaging

#11882 Minor ACLK docu updates
  aclk/README.md
  claim/README.md
  cli/README.md
Labels: area/docs, ACLK

#11888 Fixed formatting issues.
  docs/netdata-security.md
Labels: area/docs

#11889 Moved data privacy section into a separate topic
  aclk/README.md
Labels: area/docs, ACLK

#11898 Use the chart id instead of chart name in response to incoming cloud context queries
  web/api/formatters/json_wrapper.c
Labels: area/web

#11901 Clean up anomaly-detection guide docs
  docs/guides/monitor/anomaly-detection-python.md
  docs/guides/monitor/anomaly-detection.md
  docs/guides/monitor/raspberry-pi-anomaly-detection.md
  docs/guides/monitor/visualize-monitor-anomalies.md
Labels: area/docs

#11881 Adds Swagger docs for new `/api/v1/aclk` endpoint
  web/api/netdata-swagger.json
  web/api/netdata-swagger.yaml
Labels: area/web

#11908 fix getting latest release tag
  packaging/installer/kickstart-static64.sh
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart-64.md
  packaging/installer/methods/kickstart.md
  packaging/installer/netdata-updater.sh
Labels: area/packaging

#11910 Don’t verify optional dependencies in build test environments in CI.
  .github/dockerfiles/Dockerfile.build_test
Labels: area/ci

#11870 Fix the code that checks for available updates.
  packaging/installer/netdata-updater.sh
Labels: area/packaging

#11887 Fix handling of agent restart on update.
  packaging/installer/netdata-updater.sh
Labels: area/packaging

#11903 fix(docs): unresolved file references
  backends/WALKTHROUGH.md
  claim/README.md
  collectors/COLLECTORS.md
  collectors/QUICKSTART.md
  collectors/REFERENCE.md
  collectors/python.d.plugin/example/README.md
  collectors/python.d.plugin/web_log/README.md
  database/engine/README.md
  docs/anonymous-statistics.md
  docs/collect/application-metrics.md
  docs/collect/system-metrics.md
  docs/configure/common-changes.md
  docs/configure/secure-nodes.md
  docs/contributing/contributing-documentation.md
  docs/contributing/style-guide.md
  docs/dashboard/customize.mdx
  docs/dashboard/dimensions-contexts-families.mdx
  docs/export/external-databases.md
  docs/getting-started.md
  docs/guides/longer-metrics-storage.md
  docs/guides/monitor/pi-hole-raspberry-pi.md
  docs/guides/monitor/stop-notifications-alarms.md
  docs/guides/step-by-step/step-05.md
  docs/guides/step-by-step/step-99.md
  docs/metrics-storage-management/enable-streaming.mdx
  docs/monitor/configure-alarms.md
  docs/monitor/enable-notifications.md
  docs/quickstart/infrastructure.md
  exporting/WALKTHROUGH.md
  health/REFERENCE.md
  packaging/installer/README.md
  packaging/installer/methods/cloud-providers.md
  packaging/installer/methods/kickstart.md
  packaging/installer/methods/macos.md
  web/README.md
Labels: area/packaging, area/docs, area/external/python, area/health, area/exporting, area/collectors, area/database, area/backends

#11902 Fix slight errors
  exporting/WALKTHROUGH.md
Labels: area/docs, area/exporting

#11605 add note with link to guide for using on Pi
  collectors/python.d.plugin/anomalies/README.md
Labels: area/docs, area/external/python, area/collectors

#11252 Fix title of exporting reference doc
  exporting/README.md
Labels: area/docs, area/exporting

#11242 Fix claim node examples in kickstart(-64) documentation
  packaging/installer/methods/kickstart-64.md
  packaging/installer/methods/kickstart.md
Labels: area/packaging, area/docs

#7675 Indicate availability on Gentoo
  packaging/DISTRIBUTIONS.md
Labels: area/packaging, area/docs

#11923 chore(docs): fix tables side borders
  packaging/DISTRIBUTIONS.md
  packaging/installer/methods/manual.md
  web/README.md
Labels: area/packaging, area/docs, area/web, no changelog

#11886 Provide runtime ml info from a new endpoint.
  ml/Config.cc
  ml/Config.h
  ml/Host.cc
  ml/ml.cc
  ml/ml.h
  web/api/web_api_v1.c
Labels: area/web, area/ml

#11147 Improve PagerDuty notification doc
  health/notifications/pagerduty/README.md
Labels: area/docs, area/health

#11926 chore(ci): add area/claim to PR labeler
  .github/labeler.yml
Labels: area/ci, no changelog

#11922 fix(ci): install ESLint before running reviewdog/action-eslint
  .github/workflows/review.yml
Labels: area/ci, no changelog

#11860 chore: update community link of alert notifications
  health/notifications/alarm-notify.sh.in
Labels: area/health

#11917 Include libatomic again to allow protobuf to resolve
  Makefile.am
Labels: area/build

#11919 fix(claim): set URL_BASE only if `-url` parameter value is not null
  claim/netdata-claim.sh.in
Labels: area/claim

#11825 feat(python.d/fail2ban): add "Failed attempts" chart, cleanup
  collectors/python.d.plugin/fail2ban/README.md
  collectors/python.d.plugin/fail2ban/fail2ban.chart.py
  web/gui/dashboard_info.js
Labels: area/docs, area/external/python, area/web, area/collectors

#11858 nvidia_smi_chart.py : fixed username for not-local users
  collectors/python.d.plugin/nvidia_smi/nvidia_smi.chart.py
Labels: area/external/python, area/collectors
