Repository netdata/netdata, pull requests merged in 2021-07, with the labels that each got.

#11307 health: remove pythond modules specific last_collected alarms
  health/Makefile.am
  health/health.d/elasticsearch.conf
  health/health.d/haproxy.conf
  health/health.d/varnish.conf
Labels: area/build, area/health

#11309 [docs] fix prometheus node cpu alert rule
  backends/prometheus/README.md
  exporting/prometheus/README.md
Labels: area/backends, area/docs, area/exporting

#11310 fix various python modules charts contexts
  collectors/python.d.plugin/mysql/mysql.chart.py
  collectors/python.d.plugin/smartd_log/smartd_log.chart.py
  collectors/python.d.plugin/zscores/zscores.chart.py
Labels: area/collectors, area/external/python

#11276 Ebpf disk latency
  CMakeLists.txt
  Makefile.am
  collectors/all.h
  collectors/ebpf.plugin/Makefile.am
  collectors/ebpf.plugin/README.md
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.d.conf
  collectors/ebpf.plugin/ebpf.d/disk.conf
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_apps.h
  collectors/ebpf.plugin/ebpf_disk.c
  collectors/ebpf.plugin/ebpf_disk.h
  collectors/ebpf.plugin/ebpf_filesystem.c
  collectors/ebpf.plugin/ebpf_filesystem.h
  libnetdata/ebpf/ebpf.c
  libnetdata/ebpf/ebpf.h
  packaging/ebpf.checksums
  packaging/ebpf.version
  web/gui/dashboard_info.js
Labels: area/build, area/collectors, area/docs, area/packaging, area/web

#11311 Add hop count for children
  daemon/main.c
  database/rrd.h
  streaming/rrdpush.c
  streaming/sender.c
  web/api/web_api_v1.c
Labels: area/daemon, area/database, area/streaming, area/web

#11320 Fix tiny issues in docs
  collectors/COLLECTORS.md
  docs/netdata-security.md
  packaging/installer/methods/source.md
Labels: area/collectors, area/docs, area/packaging

#11322 Fixes coverity errors in ACLK
  aclk/aclk.c
  aclk/aclk_rx_msgs.c
Labels: ACLK

#11318 Add HTTP access log messages for ACLK-NG
  Makefile.am
  aclk/aclk_query.c
  aclk/aclk_query_queue.c
  aclk/aclk_query_queue.h
Labels: ACLK, area/build, area/docs, area/packaging

#11313 eBPF NFS monitoring
  collectors/ebpf.plugin/README.md
  collectors/ebpf.plugin/ebpf.d/filesystem.conf
  collectors/ebpf.plugin/ebpf_filesystem.c
  collectors/ebpf.plugin/ebpf_filesystem.h
  packaging/ebpf.checksums
  packaging/ebpf.version
  web/gui/dashboard_info.js
Labels: area/collectors, area/docs, area/packaging, area/web

#11329 Fix typo in analytics.c
  daemon/analytics.c
Labels: area/daemon

#11274 Auto-detect PGID in Dockerfile's ENTRYPOINT script
  packaging/docker/run.sh
Labels: area/packaging

#11338 Adds aclk-schemas to dist_noinst_DATA
  Makefile.am
Labels: area/build, area/packaging, priority/high

#11314 Log message when the page cache manager sleeps for more than 1 second.
  database/engine/pagecache.c
Labels: area/database

#11282 Properly handle the file list for updating the dashboard.
  .github/workflows/dashboard-pr.yml
  web/gui/bundle_dashboard.py
Labels: area/ci, area/web

#11328 add postgresql version to requirements section
  collectors/python.d.plugin/postgres/README.md
  collectors/python.d.plugin/postgres/postgres.conf
Labels: area/collectors, area/docs, area/external/python

#11330 eBPF ZFS monitoring
  collectors/ebpf.plugin/README.md
  collectors/ebpf.plugin/ebpf.d/filesystem.conf
  collectors/ebpf.plugin/ebpf_filesystem.c
  packaging/ebpf.checksums
  packaging/ebpf.version
  web/gui/dashboard_info.js
Labels: area/collectors, area/docs, area/packaging, area/web

#11222 Move cleanup of obsolete charts to a separate thread
  CMakeLists.txt
  Makefile.am
  daemon/common.h
  daemon/main.c
  daemon/service.c
  daemon/service.h
  database/rrd.h
  database/rrdhost.c
  database/rrdset.c
  libnetdata/config/appconfig.c
Labels: area/build, area/collectors, area/daemon, area/database, area/exporting, area/streaming, area/web, data-collection-mteam

#11326 Add ACLK-NG cloud request type charts
  aclk/aclk_query.c
  aclk/aclk_query_queue.c
  aclk/aclk_stats.c
  aclk/aclk_stats.h
Labels: ACLK, ACLK-NG

#11342 Assorted kickstart install fixes.
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart.md
Labels: area/docs, area/packaging

#11349 packaging: update go.d.plugin version to v0.30.0
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#11341 add geth default config
  health/Makefile.am
  health/health.d/geth.conf
Labels: area/build, area/health

#11335 Allows bundled protobuf
  configure.ac
Labels: area/build

#11283 Check if sendmail supports -F parameter
  health/notifications/alarm-notify.sh.in
Labels: area/health

#11355 fix sending MS Teams notifications to multiple channels
  health/notifications/alarm-notify.sh.in
Labels: area/health

#11348 Ebpf btrfs
  collectors/ebpf.plugin/README.md
  collectors/ebpf.plugin/ebpf.d/filesystem.conf
  collectors/ebpf.plugin/ebpf_filesystem.c
  packaging/ebpf.checksums
  packaging/ebpf.version
  web/gui/dashboard_info.js
Labels: area/collectors, area/docs, area/packaging, area/web

#11356 FIX index reference
  collectors/ebpf.plugin/ebpf_vfs.c
Labels: area/collectors

#11360 health: fix cockroachdb replication alarms
  health/health.d/cockroachdb.conf
Labels: area/health

#11265 Remove Ubuntu 20.10 from CI checks.
  .github/workflows/build-and-install.yml
  .github/workflows/packaging.yml
  .github/workflows/updater.yml
Labels: area/ci, no changelog

#11359 disable oom_kill alarm if the node is k8s node
  health/health.d/ram.conf
Labels: area/health

#11361 fix `gearman_workers_queued` alarm
  health/health.d/gearman.conf
Labels: area/health

#11362 Properly handle eBPF plugin in RPM packages.
  netdata.spec.in
  packaging/bundle-ebpf.sh
Labels: area/packaging

#11377 CODEOWNERS: Remove knatsakis
  .github/CODEOWNERS
Labels: area/ci

#11363 Ebpf latency description
  collectors/ebpf.plugin/ebpf_filesystem.c
  web/gui/dashboard_info.js
Labels: area/collectors, area/web

#11375 Update handling of builds of bundled dependencies.
  netdata-installer.sh
Labels: area/packaging

#11358 eBPF mount
  CMakeLists.txt
  Makefile.am
  collectors/all.h
  collectors/ebpf.plugin/Makefile.am
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.d.conf
  collectors/ebpf.plugin/ebpf.d/mount.conf
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_apps.h
  collectors/ebpf.plugin/ebpf_mount.c
  collectors/ebpf.plugin/ebpf_mount.h
  packaging/ebpf.checksums
  packaging/ebpf.version
  web/gui/dashboard_info.js
  web/gui/main.js
Labels: area/build, area/collectors, area/packaging, area/web

#11273 Add code for repository configuration packages.
  .github/workflows/repoconfig-packages.yml
  .gitignore
  packaging/repoconfig/Makefile
  packaging/repoconfig/build-deb.sh
  packaging/repoconfig/build-rpm.sh
  packaging/repoconfig/debian/changelog
  packaging/repoconfig/debian/compat
  packaging/repoconfig/debian/control
  packaging/repoconfig/debian/copyright
  packaging/repoconfig/debian/rules
  packaging/repoconfig/debian/source/format
  packaging/repoconfig/netdata-edge.repo.centos
  packaging/repoconfig/netdata-edge.repo.fedora
  packaging/repoconfig/netdata-edge.repo.suse
  packaging/repoconfig/netdata-repo.spec
  packaging/repoconfig/netdata.list.in
  packaging/repoconfig/netdata.repo.centos
  packaging/repoconfig/netdata.repo.fedora
  packaging/repoconfig/netdata.repo.suse
Labels: area/ci, area/packaging
