Repository netdata/netdata, pull requests merged in 2021-06, with the labels that each got.

#11210 Ignore dbengine journal files that can not be read
  database/engine/journalfile.c
Labels: area/database

#11207 Use memory mode RAM if memory mode dbengine is specified but not available
  daemon/main.c
  database/rrdhost.c
Labels: area/daemon, area/database

#11129 Compile/Link with absolute paths for bundled/vendored deps.
  Makefile.am
  configure.ac
  contrib/debian/rules
  netdata-installer.sh
  netdata.spec.in
Labels: area/build, area/packaging

#11212 Reduce memory needed per dimension
  database/engine/rrdengineapi.c
  database/engine/rrdengineapi.h
  database/rrd.h
  database/rrddim.c
  database/rrdhost.c
  database/rrdset.c
  database/sqlite/sqlite_functions.c
  database/sqlite/sqlite_functions.h
  web/api/formatters/rrd2json.c
Labels: area/database, area/web

#11204 health: fix alarm-line-charts matching
  database/rrdcalctemplate.c
Labels: area/database

#11193 Check for non ascii characters in health log
  health/health_log.c
Labels: area/health

#11217 python.d: merge user/stock plugin configuration files
  collectors/python.d.plugin/python.d.plugin.in
Labels: area/collectors, area/external/python, data-collection-mteam

#11224 eBPF ext4 (new thread for collector)
  CMakeLists.txt
  Makefile.am
  collectors/all.h
  collectors/ebpf.plugin/Makefile.am
  collectors/ebpf.plugin/README.md
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.d.conf
  collectors/ebpf.plugin/ebpf.d/filesystem.conf
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_apps.h
  collectors/ebpf.plugin/ebpf_filesystem.c
  collectors/ebpf.plugin/ebpf_filesystem.h
  libnetdata/ebpf/ebpf.c
  libnetdata/ebpf/ebpf.h
  packaging/ebpf.checksums
  packaging/ebpf.version
  web/gui/dashboard_info.js
Labels: area/build, area/collectors, area/docs, area/packaging, area/web

#11226 Add links to data privacy page
  aclk/README.md
  docs/anonymous-statistics.md
Labels: ACLK, area/docs

#11219 New email notification template
  health/health.c
  health/notifications/alarm-notify.sh.in
Labels: area/health

#11230 Ebpf arrays
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf_cachestat.c
  collectors/ebpf.plugin/ebpf_dcstat.c
  collectors/ebpf.plugin/ebpf_filesystem.c
  collectors/ebpf.plugin/ebpf_process.c
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_swap.c
  collectors/ebpf.plugin/ebpf_swap.h
  collectors/ebpf.plugin/ebpf_vfs.c
  packaging/ebpf.checksums
  packaging/ebpf.version
Labels: area/collectors, area/packaging

#11220 Decentralized
  collectors/apps.plugin/apps_groups.conf
Labels: area/collectors

#11235 health: update cockroachdb alarms
  health/health.d/cockroachdb.conf
Labels: area/health

#11239 packaging: update go.d.plugin version to v0.29.0
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#11225 Allows ACLK NG and Legacy to coexist
  .github/workflows/tests.yml
  CMakeLists.txt
  Makefile.am
  aclk/aclk.c
  aclk/aclk.h
  aclk/aclk_api.c
  aclk/aclk_api.h
  aclk/aclk_collector_list.h
  aclk/aclk_otp.c
  aclk/aclk_otp.h
  aclk/aclk_proxy.c
  aclk/aclk_proxy.h
  aclk/aclk_rrdhost_state.h
  aclk/aclk_rx_msgs.c
  aclk/aclk_stats.c
  aclk/aclk_stats.h
  aclk/aclk_tx_msgs.c
  aclk/aclk_util.c
  aclk/aclk_util.h
  aclk/legacy/aclk_common.c
  aclk/legacy/aclk_common.h
  aclk/legacy/aclk_lws_https_client.c
  aclk/legacy/aclk_lws_wss_client.c
  aclk/legacy/aclk_query.c
  aclk/legacy/aclk_query.h
  aclk/legacy/aclk_rx_msgs.c
  aclk/legacy/aclk_rx_msgs.h
  aclk/legacy/aclk_stats.c
  aclk/legacy/aclk_stats.h
  aclk/legacy/agent_cloud_link.c
  aclk/legacy/agent_cloud_link.h
  aclk/legacy/mqtt.c
  aclk/legacy/mqtt.h
  claim/claim.c
  configure.ac
  daemon/buildinfo.c
  daemon/common.h
  database/rrd.h
  database/rrdset.c
  netdata-installer.sh
  web/api/web_api_v1.c
Labels: ACLK, area/build, area/ci

#11238 Adds xfs filesystem monitoring to eBPF
  collectors/ebpf.plugin/README.md
  collectors/ebpf.plugin/ebpf.d/filesystem.conf
  collectors/ebpf.plugin/ebpf_filesystem.c
  packaging/ebpf.checksums
  packaging/ebpf.version
  web/gui/dashboard_info.js
Labels: area/collectors, area/docs, area/packaging, area/web

#11244 Fixes error on --disable-cloud
  daemon/common.h
Labels: area/daemon

#11233 Disable telemetry in CI.
  .github/dockerfiles/Dockerfile.build_test
  .github/scripts/run_install_with_dist_file.sh
  .github/workflows/build-and-install.yml
  .github/workflows/checks.yml
  .github/workflows/coverity.yml
  .github/workflows/dashboard-pr.yml
  .github/workflows/docker.yml
  .github/workflows/docs.yml
  .github/workflows/labeler.yml
  .github/workflows/packaging.yml
  .github/workflows/review.yml
  .github/workflows/tests.yml
  .github/workflows/updater.yml
  packaging/Dockerfile.packager
Labels: area/ci, area/packaging, no changelog

#11247 Send correct aclk implementation used by agent to posthog.
  daemon/analytics.c
  daemon/buildinfo.c
Labels: area/daemon

#11251 Add more nics to FreeBSD plugin
  collectors/freebsd.plugin/freebsd_getifaddrs.c
Labels: area/collectors

#11253 eBPF keep values from `ebpf.d.conf`
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.d/cachestat.conf
  collectors/ebpf.plugin/ebpf.d/dcstat.conf
  collectors/ebpf.plugin/ebpf.d/process.conf
  collectors/ebpf.plugin/ebpf.d/swap.conf
  collectors/ebpf.plugin/ebpf.d/vfs.conf
  libnetdata/ebpf/ebpf.c
Labels: area/collectors

#11257 slabinfo: Handle slabs added after discovery
  collectors/slabinfo.plugin/slabinfo.c
Labels: area/collectors, data-collection-mteam

#11243 Updates the docu with info about dual ACLK
  aclk/README.md
Labels: ACLK, area/docs

#11248 Fix libjudy installation on CentOS 8.
  packaging/installer/install-required-packages.sh
Labels: area/packaging

#11258 Add openSUSE 15.3 CI checks.
  .github/workflows/build-and-install.yml
Labels: area/ci, no changelog

#11256 Ebpf apps memory usage
  collectors/ebpf.plugin/ebpf_cachestat.c
  collectors/ebpf.plugin/ebpf_dcstat.c
  collectors/ebpf.plugin/ebpf_process.c
  collectors/ebpf.plugin/ebpf_process.h
  collectors/ebpf.plugin/ebpf_swap.c
  collectors/ebpf.plugin/ebpf_swap.h
  collectors/ebpf.plugin/ebpf_vfs.c
  libnetdata/ebpf/ebpf.c
  libnetdata/ebpf/ebpf.h
  packaging/ebpf.checksums
  packaging/ebpf.version
Labels: area/collectors, area/packaging

#11262 fix kickstart-static64.sh install script fail when trying to access `.install-type` before it is created
  packaging/installer/kickstart-static64.sh
  packaging/installer/methods/kickstart-64.md
Labels: area/docs, area/packaging

#11264 Explicitly update libarchive on CentOS 8 when installing dependencies.
  packaging/installer/install-required-packages.sh
Labels: area/packaging

#11267 Added new postgres charts and updated standby charts to include slot_…
  collectors/python.d.plugin/postgres/postgres.chart.py
  web/gui/dashboard_info.js
Labels: area/collectors, area/external/python, area/web

#11221 Add vkalintiris as a code owner for more components
  .github/CODEOWNERS
Labels: area/ci

#11259 Add openSUSE 15.3 package builds.
  .github/workflows/packaging.yml
  packaging/scripts/install.sh
Labels: area/ci, area/packaging

#11263 update old log to new one
  web/gui/static/img/netdata-logomark.svg
Labels: area/web

#11272 makes ACLK-NG the default if available
  aclk/aclk_api.c
Labels: ACLK

#11270 Add Alpine 3.14 to CI.
  .github/workflows/build-and-install.yml
  .github/workflows/updater.yml
Labels: area/ci, no changelog

#11278 fixes confusing error in ACLK Legacy
  aclk/legacy/aclk_query.c
Labels: ACLK

#11237 Extra posthog attributes
  daemon/analytics.c
  daemon/analytics.h
  daemon/anonymous-statistics.sh.in
  daemon/daemon.c
  daemon/main.c
  exporting/exporting_engine.c
Labels: area/daemon, area/exporting

#11288 Remove access check for install-type file
  daemon/analytics.c
Labels: area/daemon

#11289 fix `mdstat` current operation charts context/title
  collectors/proc.plugin/proc_mdstat.c
Labels: area/collectors

#11287 eBPF plugin remove parallel plugins
  collectors/ebpf.plugin/ebpf.c
Labels: area/collectors
