Repository netdata/netdata, pull requests merged in 2021-01, with the labels that each got.

#10394 ACLK collector list use mguid instead of hostname
  aclk/agent_cloud_link.c
Labels: ACLK

#8668 web/gui: Added support for per series styling for dygraphs
  CONTRIBUTORS.md
  web/gui/dashboard.js
  web/gui/src/dashboard.js/charting/dygraph.js
Labels: area/web

#10342 Added Dependabot config to check for updates for GHA workflows.
  .github/dependabot.yml
Labels: area/ci, no changelog

#10384 Persist `$TMPDIR` from installer to updater.
  netdata-installer.sh
  packaging/installer/netdata-updater.sh
Labels: area/packaging

#10441 Exclude autofs by default in diskspace plugin
  build_external/scenarios/aclk-testing/agent_netdata.conf
  collectors/diskspace.plugin/README.md
  collectors/diskspace.plugin/plugin_diskspace.c
Labels: area/build, area/collectors, area/docs

#10424 Qick and dirty fix for #10420
  packaging/installer/netdata-updater.sh
Labels: area/packaging

#10415 Improve configuration docs with common changes and start/stop/restart directions
  daemon/config/README.md
  docs/configuration-guide.md
  docs/configure/common-changes.md
  docs/configure/nodes.md
  docs/configure/secure-nodes.md
  docs/configure/start-stop-restart.md
  docs/guides/configure/performance.md
  docs/store/change-metrics-storage.md
Labels: area/daemon, area/docs

#10448 Updated messages about checksum validation failures on install.
  packaging/installer/kickstart-static64.sh
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart-64.md
  packaging/installer/methods/kickstart.md
  packaging/installer/netdata-updater.sh
Labels: area/docs, area/packaging

#10433 Update and improve the Netdata style guide
  docs/contributing/contributing-documentation.md
  docs/contributing/style-guide.md
Labels: area/docs

#10453 Add missing section to Netdata style guide
  docs/contributing/style-guide.md
Labels: area/docs

#10416 Change links at bottom of all install docs
  README.md
  docs/get/README.md
  packaging/installer/README.md
  packaging/installer/methods/kickstart-64.md
  packaging/installer/methods/kickstart.md
  packaging/installer/methods/kubernetes.md
  packaging/installer/methods/macos.md
  packaging/installer/methods/manual.md
  packaging/installer/methods/offline.md
  packaging/installer/methods/packages.md
Labels: area/docs, area/packaging

#10405 Small updates, improvements, and housekeeping to docs
  collectors/COLLECTORS.md
  collectors/python.d.plugin/boinc/README.md
  docs/export/enable-connector.md
  docs/getting-started.md
  docs/guides/configure/performance.md
  docs/monitor/configure-alarms.md
  docs/quickstart/infrastructure.md
  docs/visualize/create-dashboards.md
  docs/visualize/interact-dashboards-charts.md
  docs/visualize/overview-infrastructure.md
  exporting/README.md
Labels: area/collectors, area/docs, area/exporting, area/external/python

#10451 Add guide: Detect anomalies in nodes and applications with Netdata
  collectors/python.d.plugin/anomalies/README.md
  docs/guides/monitor/anomaly-detection.md
Labels: area/collectors, area/docs, area/external/python

#10468 Fixes for SEO housekeeping/improvements
  docs/configuration-guide.md
  packaging/installer/methods/offline.md
  web/api/queries/median/README.md
Labels: area/docs, area/packaging, area/web

#10470 Fix for older compilers
  CMakeLists.txt
  Makefile.am
  aclk/aclk_common.h
  aclk/aclk_rrdhost_state.h
  database/rrd.h
Labels: ACLK, area/build, area/database

#10460 Fixed bundling of libwebsockets in binary packages.
  contrib/debian/rules
  netdata.spec.in
Labels: area/packaging

#10478 Add vkalintiris to CODEOWNERS for CI, packaging, and installer code.
  .github/CODEOWNERS
Labels: area/ci

#10397 Fix data source option for Prometheus web API in exporting configuration
  backends/backends.c
  backends/backends.h
  exporting/exporting.conf
  exporting/read_config.c
  exporting/tests/test_exporting_engine.c
Labels: area/backends, area/exporting

#10429 Change HDDtemp to report None instead of 0
  collectors/python.d.plugin/hddtemp/hddtemp.chart.py
Labels: area/collectors, area/external/python

#10400 python.d/fail2ban: Add handling "yes" and "no" as bool, match flexible spaces
  collectors/python.d.plugin/fail2ban/fail2ban.chart.py
Labels: area/collectors, area/external/python

#10467 Update README.md
  collectors/python.d.plugin/mysql/README.md
Labels: area/collectors, area/docs, area/external/python

#10474 GitHub action markdown link check update
  .github/workflows/docs.yml
  .mlc_config.json
Labels: area/ci

#10479 Truncate excessive information from titles for apps and cgroups
  collectors/apps.plugin/apps_plugin.c
  collectors/cgroups.plugin/sys_fs_cgroup.c
Labels: area/collectors

#10447 Fixed handling of environment file in updater script.
  packaging/installer/netdata-updater.sh
Labels: area/packaging

#10462 Fixed function name in updater script.
  packaging/installer/netdata-updater.sh
Labels: area/packaging

#10399 Dispatch cgroup discovery into another thread
  collectors/cgroups.plugin/sys_fs_cgroup.c
Labels: area/collectors

#10488 health: make mdstat_mismatch_cnt alarm less strict
  health/health.d/mdstat.conf
Labels: area/health

#10487 Mention PostgreSQL Prometheus Adapter in the documentation
  docs/export/external-databases.md
Labels: area/docs

#10418 Add instructions on enabling explicitly disabled collectors
  collectors/python.d.plugin/chrony/README.md
  collectors/python.d.plugin/dns_query_time/README.md
  collectors/python.d.plugin/dnsdist/README.md
  collectors/python.d.plugin/dockerd/README.md
  collectors/python.d.plugin/dovecot/README.md
  collectors/python.d.plugin/elasticsearch/README.md
  collectors/python.d.plugin/energid/README.md
  collectors/python.d.plugin/go_expvar/README.md
  collectors/python.d.plugin/hpssa/README.md
  collectors/python.d.plugin/logind/README.md
Labels: area/collectors, area/docs, area/external/python

#10484 Fix memory allocation when computing standard deviation
  web/api/queries/stddev/stddev.c
Labels: area/web

#10491 Fixed handling of TLS config so that cURL works in all cases.
  packaging/makeself/install-or-update.sh
  packaging/makeself/jobs/50-curl-7.73.0.install.sh
Labels: area/packaging

#10434 New eBPF kernel
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_kernel_reject_list.txt
  collectors/ebpf.plugin/ebpf_process.c
  collectors/ebpf.plugin/ebpf_socket.c
  libnetdata/ebpf/ebpf.c
  libnetdata/ebpf/ebpf.h
  netdata-installer.sh
  packaging/ebpf.checksums
  packaging/ebpf.version
  web/gui/dashboard_info.js
Labels: area/collectors, area/packaging, area/web

#10498 Fix segmentation fault in the agent
  database/rrdset.c
Labels: area/database

#10480 Add guide: Monitor and visualize anomalies with Netdata
  collectors/python.d.plugin/anomalies/README.md
  docs/guides/monitor/anomaly-detection.md
  docs/guides/monitor/visualize-monitor-anomalies.md
Labels: area/collectors, area/docs, area/external/python

#10459 Anomalies collector custom model bugfix for issue #10456
  collectors/python.d.plugin/anomalies/anomalies.chart.py
Labels: area/collectors, area/external/python

#10483 Support multiple chart label keys in data queries
  database/rrd.h
  database/rrdlabels.c
  database/rrdset.c
  libnetdata/simple_pattern/simple_pattern.c
  libnetdata/simple_pattern/simple_pattern.h
  web/api/formatters/json_wrapper.c
  web/api/web_api_v1.c
Labels: area/database, area/web

#10502 Fix broken dbengine stress tests.
  daemon/unit_test.c
  database/engine/rrdenginelib.c
Labels: area/daemon, area/database, area/tests

#10365 Switch to using GitHub Actions for publishing Docker images.
  .github/workflows/docker.yml
  .travis.yml
  packaging/docker/Dockerfile
  packaging/docker/build.sh
  packaging/docker/check_login.sh
  packaging/docker/publish.sh
Labels: area/ci, area/packaging, no changelog

#10507 Switched to using system libwebsockets for RPM builds.
  .travis/package_management/common.py
  netdata.spec.in
Labels: area/ci, area/packaging

#10501 add `_is_k8s_node` label to the host labels
  daemon/anonymous-statistics.sh.in
  daemon/system-info.sh
  database/rrd.h
  database/rrdhost.c
  docs/guides/using-host-labels.md
  streaming/sender.c
  web/api/netdata-swagger.json
  web/api/netdata-swagger.yaml
  web/api/web_api_v1.c
Labels: area/daemon, area/database, area/docs, area/streaming, area/web

#10516 Fix coverity issue CID 365322
  daemon/unit_test.c
Labels: area/daemon, area/tests

#10513 health/mysql: fix `mysql.slave_status` alarm for go mysql collector
  health/health.d/mysql.conf
Labels: area/health

#10517 Remove unused struct in health code.
  health/health.c
Labels: area/health

#10518 Mark internal functions as static in health code.
  health/health.c
  health/health.h
  health/health_json.c
  health/health_log.c
Labels: area/health

#10265 Move ACLK Legacy into subfolder
  .gitignore
  CMakeLists.txt
  Makefile.am
  aclk/legacy/Makefile.am
  aclk/legacy/aclk_common.c
  aclk/legacy/aclk_common.h
  aclk/legacy/aclk_lws_https_client.c
  aclk/legacy/aclk_lws_https_client.h
  aclk/legacy/aclk_lws_wss_client.c
  aclk/legacy/aclk_lws_wss_client.h
  aclk/legacy/aclk_query.c
  aclk/legacy/aclk_query.h
  aclk/legacy/aclk_rrdhost_state.h
  aclk/legacy/aclk_rx_msgs.c
  aclk/legacy/aclk_rx_msgs.h
  aclk/legacy/aclk_stats.c
  aclk/legacy/aclk_stats.h
  aclk/legacy/agent_cloud_link.c
  aclk/legacy/agent_cloud_link.h
  aclk/legacy/mqtt.c
  aclk/legacy/mqtt.h
  aclk/legacy/tests/fake-charts.d.plugin
  aclk/legacy/tests/install-fake-charts.d.sh.in
  aclk/legacy/tests/launch-paho.sh
  aclk/legacy/tests/paho-inspection.py
  aclk/legacy/tests/paho.Dockerfile
  claim/claim.c
  configure.ac
  daemon/common.h
  database/rrd.h
Labels: ACLK, area/build, area/daemon, area/database

#10520 dashboard@v2.12.5
  packaging/dashboard.checksums
  packaging/dashboard.version
Labels: area/packaging

#10524 Reduce the number of alarm updates on ACLK
  health/health_log.c
Labels: area/health

#10505 Add link to specific feedback megathread for the anomalies collector
  docs/guides/monitor/visualize-monitor-anomalies.md
Labels: area/docs

#10466 Update pfsense.md
  packaging/installer/methods/pfsense.md
Labels: area/docs, area/packaging

#10506 Add link to specific feedback megathread for the anomalies collector
  collectors/python.d.plugin/anomalies/README.md
Labels: area/collectors, area/docs, area/external/python

#10525 Spelling python plugin
  collectors/python.d.plugin/am2320/am2320.conf
  collectors/python.d.plugin/anomalies/anomalies.chart.py
  collectors/python.d.plugin/anomalies/anomalies.conf
  collectors/python.d.plugin/elasticsearch/elasticsearch.chart.py
  collectors/python.d.plugin/litespeed/litespeed.chart.py
  collectors/python.d.plugin/openldap/openldap.chart.py
  collectors/python.d.plugin/ovpn_status_log/ovpn_status_log.chart.py
  collectors/python.d.plugin/proxysql/proxysql.chart.py
  collectors/python.d.plugin/puppet/puppet.chart.py
  collectors/python.d.plugin/springboot/springboot.chart.py
  collectors/python.d.plugin/springboot/springboot.conf
  collectors/python.d.plugin/varnish/varnish.chart.py
Labels: area/collectors, area/external/python

#10531 fix postgres password bug and change default config
  collectors/python.d.plugin/postgres/postgres.chart.py
  collectors/python.d.plugin/postgres/postgres.conf
Labels: area/collectors, area/external/python

#10532 Update README.md on postgres collector
  collectors/python.d.plugin/postgres/README.md
Labels: area/collectors, area/docs, area/external/python

#10528 Make some tweaks/improvements to conf docs
  docs/configure/common-changes.md
  docs/guides/configure/performance.md
Labels: area/docs

#10544 installer: update go.d.plugin version to v0.27.0
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#10545 Properly handle arguments and responses for triggering Docker builds.
  .travis.yml
  .travis/trigger_docker_build.sh
Labels: area/ci, no changelog

#10546 Fixed argument handling in `.travis/trigger_docker_build.sh`.
  .travis/trigger_docker_build.sh
Labels: no changelog

#10550 Properly handle saved temporary directory on updates.
  packaging/installer/netdata-updater.sh
Labels: area/packaging

#10551 Fix values in Prometheus export for metrics, collected by the Prometheus collector
  exporting/prometheus/prometheus.c
Labels: area/exporting

#10560 Fix prometheus remote write header
  exporting/prometheus/remote_write/remote_write.c
  exporting/tests/test_exporting_engine.c
Labels: area/exporting

#10563 bytes after last '}' trip JSON parser
  aclk/legacy/agent_cloud_link.c
Labels: ACLK

#10565 dashboard v2.13.0
  packaging/dashboard.checksums
  packaging/dashboard.version
Labels: area/packaging, area/web
