Repository netdata/netdata, pull requests merged in 2021-02, with the labels that each got.

#10543 Remove OpenSUSE Leap 15.1 from CI.
  .github/workflows/build-and-install.yml
  .travis.yml
Labels: area/ci, no changelog

#10542 Add Alpine 3.13 and remove Alpine 3.9 from our CI.
  .github/workflows/build-and-install.yml
  .github/workflows/checks.yml
Labels: area/ci, no changelog

#10578 Fixed Netdata Cloud support in RPM packages.
  netdata.spec.in
Labels: area/packaging

#10569 Fix container detection from systemd-detect-virt
  daemon/system-info.sh
Labels: area/daemon

#10584 Fixed docker image tagging for nightly builds.
  .travis.yml
Labels: no changelog

#10614 Fix crash during shutdown of cgroups internal plugin.
  collectors/cgroups.plugin/sys_fs_cgroup.c
Labels: area/collectors

#10615 Fixed handling of Docker image tags for release builds.
  .github/workflows/docker.yml
  .travis.yml
Labels: area/ci, no changelog

#10618 dashboard@v2.13.6
  packaging/dashboard.checksums
  packaging/dashboard.version
Labels: area/packaging

#10570 Update claiming docs for Docker containers.
  claim/README.md
Labels: area/docs

#10561 health: make Opsgenie API URL configurable
  health/notifications/alarm-notify.sh.in
  health/notifications/health_alarm_notify.conf
  health/notifications/opsgenie/README.md
Labels: area/docs, area/health, data-collection-mteam

#10596 ACLK reduce excessive logging
  aclk/legacy/aclk_lws_wss_client.c
Labels: ACLK

#10533 Allow the REMOVED alarm status via ACLK if the previous status was WARN/CRIT
  health/health_json.c
Labels: area/health

#10621 add freeswitch to apps_groups
  collectors/apps.plugin/apps_groups.conf
Labels: area/collectors, data-collection-mteam

#10598 collectors/proc: change ksm mem chart type to stacked
  collectors/proc.plugin/sys_kernel_mm_ksm.c
Labels: area/collectors, data-collection-mteam

#10603 Fixes #10597 raw binary data should never be printed
  collectors/python.d.plugin/python_modules/bases/FrameworkServices/SocketService.py
Labels: area/collectors, area/external/python, data-collection-mteam

#10572 collectors/elasticsearch: document `scheme` option
  collectors/python.d.plugin/elasticsearch/README.md
Labels: area/collectors, area/docs, area/external/python, data-collection-mteam

#10442 Change eBPF plugin internal
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_apps.c
  collectors/ebpf.plugin/ebpf_apps.h
  collectors/ebpf.plugin/ebpf_process.c
  collectors/ebpf.plugin/ebpf_process.h
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_socket.h
  packaging/ebpf.checksums
  packaging/ebpf.version
Labels: area/collectors, area/packaging, area/web

#10617 Disable stock alarms
  health/health_config.c
  libnetdata/libnetdata.c
Labels: area/health

#10619 Add ACLK proxy setting as host label
  aclk/legacy/aclk_common.c
  aclk/legacy/aclk_common.h
  database/rrdhost.c
Labels: ACLK, area/database

#10587 add resetting CapabilityBoundingSet workaround to the python.d collectors (that use `sudo`) readmes
  collectors/python.d.plugin/adaptec_raid/README.md
  collectors/python.d.plugin/hpssa/README.md
  collectors/python.d.plugin/megacli/README.md
  collectors/python.d.plugin/samba/README.md
Labels: area/collectors, area/docs, area/external/python, data-collection-mteam

#10623 Fix typo in web/gui/readme.md
  web/gui/README.md
Labels: area/docs, area/web

#10588 add k8s_cluster_id host label
  daemon/get-kubernetes-labels.sh.in
Labels: area/daemon

#10631 fix sendmail unrecognized option F error
  health/notifications/alarm-notify.sh.in
Labels: area/health

#10633 collectors/proc: fix collecting operstate for virtual network interfaces
  collectors/proc.plugin/proc_net_dev.c
Labels: area/collectors, data-collection-mteam

#10645 Enable apps.plugin aggregation debug messages
  collectors/apps.plugin/apps_plugin.c
Labels: area/collectors, data-collection-mteam

#10644 add small delay to the ipv4_tcp_resets alarms
  health/health.d/tcp_resets.conf
Labels: area/health, data-collection-mteam

#10647 fix container/host detection in system-info script
  daemon/system-info.sh
Labels: area/daemon

#10652 Fix the context filtering on the data query endpoint
  web/api/formatters/rrd2json.c
  web/api/formatters/rrd2json.h
  web/api/queries/query.c
  web/api/queries/rrdr.c
Labels: area/web

#10659 fix wrong link on docs Netdata Agent Daemon
  docs/configure/nodes.md
Labels: area/docs

#10651 Fix broken links in docs and add collectors to list
  CHANGELOG.md
  collectors/COLLECTORS.md
  collectors/node.d.plugin/sma_webbox/README.md
  docs/guides/monitor/dimension-templates.md
  docs/guides/step-by-step/step-06.md
  docs/store/distributed-data-architecture.md
  health/notifications/opsgenie/README.md
  libnetdata/clocks/README.md
  libnetdata/dictionary/README.md
  libnetdata/ebpf/README.md
  libnetdata/locks/README.md
  libnetdata/log/README.md
  libnetdata/popen/README.md
  libnetdata/socket/README.md
  libnetdata/statistical/README.md
  libnetdata/threads/README.md
  libnetdata/url/README.md
Labels: area/collectors, area/docs, area/external, area/health

#10661 Fixed condition controlling use of static LWS in RPM builds.
  netdata.spec.in
Labels: area/packaging

#10667 Invalidate RRDSETVAR pointers on obsoletion.
  collectors/proc.plugin/proc_net_dev.c
Labels: area/collectors

#10640 Statsd dashboard
  collectors/statsd.plugin/README.md
  web/gui/dashboard_info.js
Labels: area/collectors, area/docs, area/web

#10664 Update screenshots and text for new Cloud nav
  docs/configure/nodes.md
  docs/monitor/view-active-alarms.md
  docs/quickstart/infrastructure.md
  docs/visualize/overview-infrastructure.md
Labels: area/docs

#10678 Fix broken links in active alarms doc
  docs/monitor/view-active-alarms.md
Labels: area/docs

#10558 Try to keep all pages from extents read from disk in the cache.
  database/engine/pagecache.c
  database/engine/pagecache.h
  database/engine/rrdengine.c
Labels: area/database

#10662 Improve the Kubernetes deployment documentation
  packaging/installer/methods/kubernetes.md
Labels: area/docs, area/packaging

#10523 Remove unreachable #else directives in plugins.
  collectors/cups.plugin/cups_plugin.c
  collectors/freeipmi.plugin/freeipmi_plugin.c
  collectors/nfacct.plugin/plugin_nfacct.c
  collectors/xenstat.plugin/xenstat_plugin.c
  configure.ac
  daemon/buildinfo.c
Labels: area/build, area/collectors, area/daemon

#10634 cpu stats per query thread
  aclk/legacy/aclk_query.c
  aclk/legacy/aclk_query.h
  aclk/legacy/aclk_stats.c
  aclk/legacy/aclk_stats.h
Labels: ACLK

#10660 installer: update go.d.plugin version to v0.28.0
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging, data-collection-mteam

#10674 Don't add duplicate _total suffixes for the prometheus go.d module
  exporting/prometheus/prometheus.c
Labels: area/exporting, data-collection-mteam

#10586 web/gui: Fix broken external links
  web/gui/main.js
Labels: area/web

#10668 fix a typo in the email notifications readme
  health/notifications/email/README.md
Labels: area/docs, area/health

#10637 Revamp statsd docs
  collectors/statsd.plugin/README.md
Labels: area/collectors, area/docs

#10680 Ebpf support new collectors
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_process.c
  collectors/ebpf.plugin/ebpf_socket.c
  libnetdata/ebpf/ebpf.c
  libnetdata/ebpf/ebpf.h
Labels: area/collectors, ebpf-mteam

#10602 add stats per cloud query type
  aclk/legacy/aclk_query.c
  aclk/legacy/aclk_query.h
  aclk/legacy/aclk_rx_msgs.c
  aclk/legacy/aclk_stats.c
  aclk/legacy/aclk_stats.h
Labels: ACLK

#10373 increases ACLK TBEB randomness
  aclk/legacy/agent_cloud_link.c
Labels: ACLK
