Repository netdata/netdata, pull requests merged in 2021-03, with the labels that each got.

#10593 Add support for changing the number of pages per extent
  database/engine/rrdengine.c
Labels: area/database

#10676 Add new cookie to fix 8094
  registry/README.md
  registry/registry.c
  registry/registry_init.c
  registry/registry_internals.h
Labels: area/docs, area/registry

#10705 Fix disk utilization and backlog charts
  collectors/all.h
  collectors/proc.plugin/proc_diskstats.c
  web/gui/dashboard_info.js
Labels: area/collectors, area/web, data-collection-mteam

#10701 Add noauthcodecheck workaround flag to the freeipmi plugin
  collectors/freeipmi.plugin/README.md
  collectors/freeipmi.plugin/freeipmi_plugin.c
Labels: area/collectors, area/docs, data-collection-mteam

#10693 Add Linux page cache metrics to eBPF
  CMakeLists.txt
  Makefile.am
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.conf
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_apps.c
  collectors/ebpf.plugin/ebpf_apps.h
  collectors/ebpf.plugin/ebpf_cachestat.c
  collectors/ebpf.plugin/ebpf_cachestat.h
  packaging/ebpf.checksums
  packaging/ebpf.version
  web/gui/dashboard_info.js
Labels: area/build, area/collectors, area/packaging, area/web

#10703 Docs: Convert references to `service` to `systemctl`
  collectors/QUICKSTART.md
  collectors/python.d.plugin/README.md
  collectors/python.d.plugin/adaptec_raid/README.md
  collectors/python.d.plugin/alarms/README.md
  collectors/python.d.plugin/anomalies/README.md
  collectors/python.d.plugin/chrony/README.md
  collectors/python.d.plugin/hpssa/README.md
  collectors/python.d.plugin/megacli/README.md
  collectors/python.d.plugin/samba/README.md
  daemon/README.md
  daemon/config/README.md
  docs/Running-behind-apache.md
  docs/collect/enable-configure.md
  docs/collect/system-metrics.md
  docs/export/enable-connector.md
  docs/getting-started.md
  docs/guides/collect-apache-nginx-web-logs.md
  docs/guides/collect-unbound-metrics.md
  docs/guides/export/export-netdata-metrics-graphite.md
  docs/guides/monitor-cockroachdb.md
  docs/guides/monitor-hadoop-cluster.md
  docs/guides/monitor/anomaly-detection.md
  docs/guides/monitor/pi-hole-raspberry-pi.md
  docs/guides/monitor/process.md
  docs/guides/step-by-step/step-04.md
  docs/guides/step-by-step/step-05.md
  docs/guides/step-by-step/step-06.md
  docs/guides/step-by-step/step-09.md
  docs/guides/troubleshoot/monitor-debug-applications-ebpf.md
  docs/store/change-metrics-storage.md
  health/notifications/stackpulse/README.md
  packaging/installer/README.md
Labels: area/collectors, area/daemon, area/docs, area/external/python

#10599 Add a new workflow to test that updater works as expected
  .github/scripts/build-dist.sh
  .github/scripts/check-updater.sh
  .github/workflows/updater.yml
Labels: area/ci

#10707 New version eBPF programs.
  libnetdata/ebpf/ebpf.c
  libnetdata/ebpf/ebpf.h
  packaging/ebpf.checksums
  packaging/ebpf.version
  web/gui/dashboard_info.js
Labels: area/packaging, area/web

#10648 Changed Docker image tagging to use semver tags for releases.
  .github/scripts/gen-docker-tags.py
  .github/workflows/docker.yml
  packaging/docker/README.md
Labels: area/ci, area/docs, area/packaging

#10691 Update guide: Kubernetes monitoring with Netdata: Overview and visualizations
  docs/guides/monitor/anomaly-detection.md
  docs/guides/monitor/kubernetes-k8s-netdata.md
  docs/guides/monitor/visualize-monitor-anomalies.md
  docs/visualize/overview-infrastructure.md
  packaging/installer/methods/kubernetes.md
Labels: area/docs, area/packaging

#10706 Add JSON output option for buildinfo.
  daemon/buildinfo.c
  daemon/buildinfo.h
  daemon/main.c
Labels: area/daemon

#10697 Log ACLK cloud commands to access.log
  aclk/legacy/aclk_query.c
  web/server/web_client.c
  web/server/web_client.h
Labels: ACLK, area/web

#10711 python.d/smartd_log: collect attribute 233 (Media Wearout Indicator (SSD)).
  collectors/python.d.plugin/smartd_log/smartd_log.chart.py
Labels: area/collectors, area/external/python, data-collection-mteam

#10698 Add guide: LAMP stack monitoring
  docs/get/README.md
  docs/guides/monitor/lamp-stack.md
Labels: area/docs

#10717 Fix a parameter binding issue when storing chart names in the database
  database/sqlite/Makefile.am
  database/sqlite/sqlite_functions.c
Labels: area/build, area/database

#10084 Added support for claiming nodes as part of installation.
  claim/netdata-claim.sh.in
  packaging/docker/run.sh
  packaging/installer/kickstart-static64.sh
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart-64.md
  packaging/installer/methods/kickstart.md
Labels: area/docs, area/packaging

#10716 Fix typo in backend_prometheus.c
  backends/prometheus/backend_prometheus.c
Labels: area/backends

#10675 Alarms collector add alarm values
  collectors/python.d.plugin/alarms/README.md
  collectors/python.d.plugin/alarms/alarms.chart.py
  collectors/python.d.plugin/alarms/alarms.conf
Labels: area/collectors, area/docs, area/external/python, data-collection-mteam

#10731 Removes unused fnc warning in ACLK Legacy
  aclk/legacy/aclk_lws_wss_client.c
Labels: ACLK, priority/low

#10718 Add the ability to store chart labels in the database
  database/rrdset.c
  database/sqlite/sqlite_functions.c
  database/sqlite/sqlite_functions.h
Labels: area/database

#10728 Update chart's metadata in database when it already exists during creation
  database/rrdset.c
Labels: area/database

#10688 health: make alarms less sensitive
  health/Makefile.am
  health/health.d/apps_plugin.conf
  health/health.d/bcache.conf
  health/health.d/ceph.conf
  health/health.d/disks.conf
  health/health.d/entropy.conf
  health/health.d/load.conf
  health/health.d/net.conf
  health/health.d/netfilter.conf
  health/health.d/processes.conf
  health/health.d/swap.conf
  health/health.d/tcp_resets.conf
  health/health.d/udp_errors.conf
Labels: area/build, area/health, data-collection-mteam

#10739 Use of out-of-line struct definitions.
  database/engine/rrdengine.h
  database/rrd.h
Labels: area/database

#10732 Always configure multihost database context
  database/rrdhost.c
Labels: area/database

#10735 Rename struct avl to avl_element and the typedef to avl_t
  collectors/apps.plugin/apps_plugin.c
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_socket.h
  collectors/statsd.plugin/statsd.c
  collectors/tc.plugin/plugin_tc.c
  database/engine/rrdengine.h
  database/rrd.h
  database/rrdcalc.c
  database/rrdcalc.h
  database/rrddim.c
  database/rrdfamily.c
  database/rrdhost.c
  database/rrdset.c
  database/rrdvar.c
  database/rrdvar.h
  health/health_log.c
  libnetdata/avl/avl.c
  libnetdata/avl/avl.h
  libnetdata/config/appconfig.c
  libnetdata/config/appconfig.h
  libnetdata/dictionary/dictionary.c
  libnetdata/dictionary/dictionary.h
  registry/registry_person.c
  registry/registry_person.h
  registry/registry_url.c
  registry/registry_url.h
  spawn/spawn.c
  spawn/spawn.h
  spawn/spawn_server.c
Labels: area/collectors, area/database, area/health, area/registry

#10743 collectors/apps.plugin: Add wireguard to vpn
  collectors/apps.plugin/apps_groups.conf
Labels: area/collectors, data-collection-mteam

#10636 replace GA with PostHog for backend telemetry events.
  daemon/anonymous-statistics.sh.in
  docs/anonymous-statistics.md
Labels: area/daemon, area/docs

#10740 Move network interface speed, duplex, and operstate variables to charts
  collectors/proc.plugin/proc_net_dev.c
  health/health.d/net.conf
  libnetdata/libnetdata.h
Labels: area/collectors, area/health, data-collection-mteam

#10720 Fixed detection of already claimed node in Docker images.
  packaging/docker/run.sh
Labels: area/packaging

#10752 Add state map to duplex and operstate charts
  web/gui/dashboard_info.js
Labels: area/web, data-collection-mteam

#10754 web/gui: add supervisord to the dashboard_info.js
  web/gui/dashboard_info.js
Labels: area/web

#10712 Add Working Set charts to the cgroups plugin
  collectors/cgroups.plugin/sys_fs_cgroup.c
  health/health.d/cgroups.conf
Labels: area/collectors, area/health, area/web, data-collection-mteam, feature request

#10751 comment out memory mode mention in example
  collectors/statsd.plugin/README.md
Labels: area/collectors, area/docs

#10699 Read new variables from health alarm conf files, and pass them to v1 api and cloud.
  database/rrd.h
  database/rrdcalc.c
  database/rrdcalc.h
  database/rrdcalctemplate.h
  health/health.c
  health/health.d/load.conf
  health/health.h
  health/health_config.c
  health/health_json.c
  health/health_log.c
Labels: area/database, area/health

#10759 Pass active alarms to alarm-notify.sh script
  health/health.c
  health/notifications/alarm-notify.sh.in
Labels: area/health

#10757 collectors/cgroups: fix cpuset.cpus count
  collectors/cgroups.plugin/sys_fs_cgroup.c
Labels: area/collectors, data-collection-mteam

#10564 Fix wrong count for entries
  health/health_log.c
Labels: area/health, data-collection-mteam

#10490 Fixed handling of permissions for some plugins.
  contrib/debian/netdata.postinst
  contrib/debian/rules
  netdata-installer.sh
  netdata.spec.in
Labels: area/packaging

#10761 dashboard@v2.13.28
  packaging/dashboard.checksums
  packaging/dashboard.version
Labels: area/packaging

#9964 Docker-based packaging workflow in GitHub Actions.
  .github/scripts/old_package_purging.sh
  .github/scripts/package_cloud_wrapper.sh
  .github/scripts/parse_packagecloud_dist_id.py
  .github/workflows/packaging.yml
  .travis.yml
  .travis/package_management/build.sh
  .travis/package_management/build_judy.sh
  .travis/package_management/build_libuv.sh
  .travis/package_management/build_package_in_container.sh
  .travis/package_management/common.py
  .travis/package_management/configure_deb_lxc_environment.py
  .travis/package_management/configure_rpm_lxc_environment.py
  .travis/package_management/create_lxc_for_build.sh
  .travis/package_management/functions.sh
  .travis/package_management/prepare_packages.sh
  .travis/package_management/trigger_deb_lxc_build.py
  .travis/package_management/trigger_rpm_lxc_build.py
  .travis/package_management/yank_stale_pkg.sh
  .travis/trigger_package_build.sh
  .travis/trigger_package_generation.sh
  contrib/debian/netdata.postinst
  netdata.spec.in
  packaging/Dockerfile.packager
  packaging/scripts/install.sh
  packaging/scripts/test.sh
Labels: area/ci, area/packaging

#10766 Fixed handling of perf.plugin capabilities.
  netdata-installer.sh
Labels: area/packaging

#10742 Enable metadata persistence in all memory modes
  Makefile.am
  database/rrd.h
  database/rrddim.c
  database/rrdhost.c
  database/rrdset.c
  database/sqlite/sqlite_functions.c
Labels: area/build, area/database

#10713 Add guide: Unsupervised anomaly detection for Raspberry Pi monitoring
  docs/guides/monitor/raspberry-pi-anomaly-detection.md
Labels: area/docs

#10770 health: make vernemq alarms less sensitive
  health/health.d/vernemq.conf
Labels: area/health, data-collection-mteam

#10775 Fix typo in dashboard_info.js
  web/gui/dashboard_info.js
Labels: area/web

#10780 web/gui: add max value to the nvidia_smi.fan_speed gauge
  web/gui/dashboard_info.js
Labels: area/web

#10733 add k6.conf
  collectors/statsd.plugin/Makefile.am
  collectors/statsd.plugin/k6.conf
Labels: area/build, area/collectors

#10760 add a chart parameter to api alarm_log
  health/health.h
  health/health_json.c
  web/api/web_api_v1.c
Labels: area/health, area/web

#10782 health: add `wmi_` prefix to the wmi collector network alarms
  health/health.d/wmi.conf
Labels: area/health

#10772 add a dump_methods parameter to alarm-notify.sh.in
  health/notifications/alarm-notify.sh.in
Labels: area/health

#9313 Add processes and move clamav
  collectors/apps.plugin/apps_groups.conf
Labels: area/collectors

#10778 Adds _aclk_impl label
  aclk/aclk.c
  aclk/aclk_otp.c
  aclk/legacy/aclk_common.c
Labels: ACLK

#10354 Rename abs to ABS to avoid clash with standard definitions. Fixes #10353.
  daemon/unit_test.c
  database/rrddim.c
  database/rrdset.c
  health/health_config.c
  libnetdata/eval/eval.c
  libnetdata/libnetdata.h
  libnetdata/tests/test_str2ld.c
  web/api/queries/query.c
Labels: area/daemon, area/database, area/health, area/tests, area/web

#10726 New thread for ebpf.plugin
  CMakeLists.txt
  Makefile.am
  collectors/ebpf.plugin/README.md
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.conf
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_apps.h
  collectors/ebpf.plugin/ebpf_cachestat.c
  collectors/ebpf.plugin/ebpf_cachestat.h
  collectors/ebpf.plugin/ebpf_kernel_reject_list.txt
  collectors/ebpf.plugin/ebpf_sync.c
  collectors/ebpf.plugin/ebpf_sync.h
  health/health.d/synchronization.conf
  packaging/ebpf.checksums
  packaging/ebpf.version
  web/gui/dashboard_info.js
Labels: area/build, area/collectors, area/docs, area/health, area/packaging, area/web

#10785 health: use separate packets_dropped_ratio alarms for wifi network interfaces
  health/health.d/net.conf
Labels: area/health

#10781 Added Slack notifications for build failures.
  .github/workflows/docker.yml
  .github/workflows/packaging.yml
Labels: area/ci, no changelog

#10719 Add statsd guide
  docs/guides/monitor/statsd.md
Labels: area/docs

#10789 health: remove ram_in_swap alarm
  health/health.d/swap.conf
  web/api/exporters/shell/README.md
Labels: area/health

#10794 Update Coverity version so that scanning works again.
  coverity-scan.sh
Labels: area/ci, area/tests, no changelog

#10790 Properly prepare version for binary package builds.
  .travis.yml
Labels: area/ci, no changelog

#10802 Alerts notify template
  health/notifications/alarm-notify.sh.in
Labels: area/health

#10803 Fix typos in GHA workflows.
  .github/workflows/docker.yml
  .github/workflows/packaging.yml
Labels: area/ci, no changelog

#10756 eBPF plugin (fixes 10727)
  collectors/ebpf.plugin/Makefile.am
  collectors/ebpf.plugin/README.md
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.d.conf
  collectors/ebpf.plugin/ebpf.d/cachestat.conf
  collectors/ebpf.plugin/ebpf.d/ebpf_kernel_reject_list.txt
  collectors/ebpf.plugin/ebpf.d/network.conf
  collectors/ebpf.plugin/ebpf.d/process.conf
  collectors/ebpf.plugin/ebpf.d/sync.conf
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_apps.h
  collectors/ebpf.plugin/ebpf_cachestat.c
  collectors/ebpf.plugin/ebpf_cachestat.h
  collectors/ebpf.plugin/ebpf_process.c
  collectors/ebpf.plugin/ebpf_process.h
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_socket.h
  collectors/ebpf.plugin/ebpf_sync.c
  collectors/ebpf.plugin/ebpf_sync.h
  libnetdata/ebpf/ebpf.c
  libnetdata/ebpf/ebpf.h
  netdata-installer.sh
Labels: area/build, area/collectors, area/docs, area/packaging

#10792 Expand what platforms we run updater CI checks on.
  .github/workflows/updater.yml
Labels: area/ci, no changelog

#10808 Run the Docker CI checks unconditionally instead of only when we see changes.
  .github/workflows/docker.yml
Labels: area/ci, no changelog

#10811 fix claiming via env vars in docker container
  packaging/docker/run.sh
Labels: area/packaging

#10806 health: exclude cgroups net ifaces from packets dropped alarms
  health/health.d/net.conf
Labels: area/health, data-collection-mteam

#10804 Don't show alarms for charts without data
  backends/backends.c
  database/rrd.h
  exporting/check_filters.c
  exporting/prometheus/prometheus.c
  health/health_json.c
Labels: area/backends, area/database, area/exporting, area/health, data-collection-mteam

#10787 Add check for children connecting to a parent agent with unsupported memory mode
  streaming/receiver.c
Labels: area/streaming

#10784 ACLK separate https client
  Makefile.am
  aclk/aclk_otp.c
  aclk/https_client.c
  aclk/https_client.h
Labels: ACLK, area/build

#10807 update bug report template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: area/ci, area/docs

#10819 Fix handling of nightly and release packages in GHA workflows.
  .github/workflows/packaging.yml
  packaging/scripts/install.sh
Labels: area/ci, area/packaging

#10820 health: apply adapter_raid alarms for every logical/physical device
  collectors/python.d.plugin/adaptec_raid/adaptec_raid.chart.py
  health/health.d/adaptec_raid.conf
Labels: area/collectors, area/external/python, area/health

#10818 health: log an error if any when send email notification
  health/notifications/alarm-notify.sh.in
Labels: area/health

#10771 Add data query support for archived charts
  database/engine/rrdengineapi.c
  database/engine/rrdengineapi.h
  database/rrd.h
  database/sqlite/sqlite_functions.c
  database/sqlite/sqlite_functions.h
  web/api/formatters/json/json.c
  web/api/formatters/json/json.h
  web/api/formatters/json_wrapper.c
  web/api/formatters/json_wrapper.h
  web/api/formatters/rrd2json.c
  web/api/queries/query.c
  web/api/queries/rrdr.c
  web/api/web_api_v1.c
  web/server/web_client.c
Labels: area/database, area/web

#10826 installer: update go.d.plugin version to v0.28.1
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#10829 health: remove exporting_metrics_lost template
  health/health.d/exporting.conf
Labels: area/health

#10830 health: add collector prefix to the external collectors alarms/templates
  collectors/python.d.plugin/adaptec_raid/adaptec_raid.chart.py
  health/health.d/adaptec_raid.conf
  health/health.d/anomalies.conf
  health/health.d/apcupsd.conf
  health/health.d/beanstalkd.conf
  health/health.d/ceph.conf
  health/health.d/fping.conf
  health/health.d/httpcheck.conf
  health/health.d/ioping.conf
  health/health.d/kubelet.conf
  health/health.d/megacli.conf
  health/health.d/memcached.conf
  health/health.d/portcheck.conf
  health/health.d/riakkv.conf
Labels: area/collectors, area/external/python, area/health

#10831 Fix broken link in StatsD guide
  docs/guides/monitor/statsd.md
Labels: area/docs

#10828 Fix name of PackageCLoud API token secret in workflows.
  .github/workflows/packaging.yml
Labels: area/ci

#10834 health: apply megacli alarms for all adapters/physical disks
  health/health.d/megacli.conf
Labels: area/health

#10836 add Installation method to the bug template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: area/ci, area/docs

#10835 Add lock check to avoid shutdown when compiled with internal and locking checks
  web/api/formatters/value/value.c
  web/api/queries/rrdr.c
  web/api/queries/rrdr.h
Labels: area/web

#10796 Add basic failure notifications for the Coverity workflow.
  .github/workflows/coverity.yml
Labels: area/ci, no changelog

#10777 adding a default job with some params and example of additional job.
  collectors/python.d.plugin/example/example.chart.py
  collectors/python.d.plugin/example/example.conf
Labels: area/collectors, area/external/python

#10840 Properly reference the distro-ID parsing script for package uploads.
  .github/scripts/parse_packagecloud_dist_id.py
  .github/workflows/packaging.yml
Labels: area/ci, no changelog

#10837 Fix memory leak when archived data is requested
  daemon/main.c
  database/sqlite/sqlite_functions.c
  web/api/formatters/json_wrapper.c
  web/api/formatters/rrd2json.c
Labels: area/daemon, area/database, area/web

#10613 Assorted updater fixes.
  packaging/installer/netdata-updater.sh
Labels: area/packaging

#10846 fix_repeat: Update repeat_every and avoid unecessary test
  health/health.c
Labels: area/health, data-collection-mteam

#10845 Add timezone to payload for cloud to be able to deduce the local time for timestamps
  health/health_json.c
Labels: area/health

#10843 Check device names in diskstats plugin
  collectors/proc.plugin/proc_diskstats.c
  collectors/proc.plugin/proc_self_mountinfo.c
  collectors/proc.plugin/proc_self_mountinfo.h
Labels: area/collectors, data-collection-mteam

#10844 Fix agent crash when executing data query with context and non-existing chart_label_key
  web/api/web_api_v1.c
Labels: area/web

#10814 Ebpf extend sync
  collectors/ebpf.plugin/README.md
  collectors/ebpf.plugin/ebpf.d/sync.conf
  collectors/ebpf.plugin/ebpf_sync.c
  collectors/ebpf.plugin/ebpf_sync.h
  packaging/ebpf.checksums
  packaging/ebpf.version
  web/gui/dashboard_info.js
Labels: area/collectors, area/docs, area/packaging, area/web

#10849 web/gui: make network state map sytanx consistent in the dashboard info
  web/gui/dashboard_info.js
Labels: area/web

#10710 Add guide: Develop a custom data collector for Netdata in Python
  docs/guides/python-collector.md
Labels: area/docs

#10821 Pass extra information to the alarm-notify.sh script
  health/health.c
  health/health.h
  health/health_config.c
  health/health_json.c
  health/health_log.c
  health/notifications/alarm-notify.sh.in
Labels: area/database, area/health

#10852 minor - add info about --aclk-ng into netdata-installer
  netdata-installer.sh
Labels: area/packaging

#10858 Fix typo in main.h
  daemon/main.h
Labels: area/daemon

#10860 Fix handling of binary package uploads.
  .github/scripts/package_cloud_wrapper.sh
  .github/scripts/parse_packagecloud_dist_id.py
  .github/workflows/packaging.yml
  packaging/Dockerfile.packager
  packaging/scripts/install.sh
  packaging/scripts/test.sh
Labels: no changelog

#10857 Alerts template styling fixes
  health/notifications/alarm-notify.sh.in
Labels: area/health

#10788 Add a new parameter 'chart' to the /api/v1/alarm_log.
  health/health.h
  health/health_json.c
  web/api/web_api_v1.c
Labels: area/health, area/web

#10863 Update if statement and formatting changes
  health/health_json.c
  web/api/web_api_v1.c
Labels: area/health, area/web

#10824 alarm(irc): add support to change IRC_PORT
  health/notifications/alarm-notify.sh.in
  health/notifications/health_alarm_notify.conf
Labels: area/health

#10865 Remove corss-platform builds on Travis.
  .travis.yml
Labels: area/ci, no changelog

#10866 Add carrier and mtu charts for network interfaces
  collectors/proc.plugin/proc_net_dev.c
  web/gui/dashboard_info.js
Labels: area/collectors, area/web, data-collection-mteam

#10823 Update syntax for Caddy v2
  docs/Running-behind-caddy.md
Labels: area/docs

#10867 alerts template updates and new dashboard
  health/notifications/alarm-notify.sh.in
  packaging/dashboard.checksums
  packaging/dashboard.version
Labels: area/health, area/packaging

#10876 Store and read new health attributes from the health log
  health/health_log.c
Labels: area/health

#10879 Change notifications email subject
  health/notifications/alarm-notify.sh.in
Labels: area/health

#10882 Pass the active alarms for the last 30min to the alarm-notify.sh.
  health/health.c
  health/notifications/alarm-notify.sh.in
Labels: area/health

#10885 Find and replace $family variable in health info strings.
  health/health_json.c
  health/health_log.c
  libnetdata/libnetdata.c
  libnetdata/libnetdata.h
Labels: area/health

#10888 Fix current active alerts header
  health/notifications/alarm-notify.sh.in
Labels: area/health

#10883 Properly handle different netcat command names in binary package test code.
  packaging/scripts/test.sh
Labels: area/packaging
