Repository netdata/netdata, pull requests merged in 2021-08, with the labels that each got.

#11387 Specify module for threads
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_cachestat.c
  collectors/ebpf.plugin/ebpf_cachestat.h
  collectors/ebpf.plugin/ebpf_dcstat.c
  collectors/ebpf.plugin/ebpf_dcstat.h
  collectors/ebpf.plugin/ebpf_disk.c
  collectors/ebpf.plugin/ebpf_disk.h
  collectors/ebpf.plugin/ebpf_filesystem.c
  collectors/ebpf.plugin/ebpf_filesystem.h
  collectors/ebpf.plugin/ebpf_mount.c
  collectors/ebpf.plugin/ebpf_mount.h
  collectors/ebpf.plugin/ebpf_process.c
  collectors/ebpf.plugin/ebpf_process.h
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_socket.h
  collectors/ebpf.plugin/ebpf_swap.c
  collectors/ebpf.plugin/ebpf_swap.h
  collectors/ebpf.plugin/ebpf_sync.c
  collectors/ebpf.plugin/ebpf_sync.h
  collectors/ebpf.plugin/ebpf_vfs.c
  collectors/ebpf.plugin/ebpf_vfs.h
Labels: area/collectors

#11390 charts.d.plugin: set "module" when sending CHART
  collectors/charts.d.plugin/ap/ap.chart.sh
  collectors/charts.d.plugin/apcupsd/apcupsd.chart.sh
  collectors/charts.d.plugin/charts.d.plugin.in
  collectors/charts.d.plugin/example/example.chart.sh
  collectors/charts.d.plugin/libreswan/libreswan.chart.sh
  collectors/charts.d.plugin/opensips/opensips.chart.sh
  collectors/charts.d.plugin/sensors/sensors.chart.sh
Labels: area/collectors, area/external, data-collection-mteam

#11389 Remove warning when GCC 8.x is used
  collectors/ebpf.plugin/ebpf_disk.c
Labels: area/collectors

#11394 Add HTTP basic authentication to some exporting connectors
  exporting/README.md
  exporting/clean_connectors.c
  exporting/exporting.conf
  exporting/exporting_engine.h
  exporting/graphite/README.md
  exporting/graphite/graphite.c
  exporting/init_connectors.c
  exporting/json/README.md
  exporting/json/json.c
  exporting/opentsdb/README.md
  exporting/opentsdb/opentsdb.c
  exporting/prometheus/remote_write/README.md
  exporting/prometheus/remote_write/remote_write.c
  exporting/read_config.c
  exporting/tests/exporting_doubles.c
  exporting/tests/exporting_fixtures.c
  exporting/tests/test_exporting_engine.c
Labels: area/docs, area/exporting, data-collection-mteam

#11392 Update perf.events and add new charts
  collectors/perf.plugin/perf_plugin.c
  web/gui/dashboard_info.js
Labels: area/collectors, area/web, data-collection-mteam

#11398 Fix freebsd and macos plugin names
  collectors/freebsd.plugin/freebsd_kstat_zfs.c
  collectors/freebsd.plugin/plugin_freebsd.c
  collectors/macos.plugin/macos_fw.c
  collectors/macos.plugin/macos_mach_smi.c
  collectors/macos.plugin/macos_sysctl.c
  collectors/macos.plugin/plugin_macos.c
Labels: area/collectors, data-collection-mteam

#11400 Use only stock configuration filenames as module names
  collectors/statsd.plugin/statsd.c
Labels: area/collectors, data-collection-mteam

#11376 Docs: Remove extra 's'
  backends/prometheus/README.md
Labels: area/backends, area/docs

#11405 replaced reference to raw.githubuser to a relative path
  web/gui/custom/README.md
Labels: area/docs, area/web

#11404 Fix coverity issue 372222
  collectors/statsd.plugin/statsd.c
Labels: area/collectors, no changelog

#11406 Fix bundled protobuf linkage on systems needing -latomic
  Makefile.am
  configure.ac
Labels: area/build

#11378 Claiming review to rename claiming action to connect
  aclk/README.md
  claim/README.md
  cli/README.md
  daemon/README.md
  docs/agent-cloud.md
  docs/anonymous-statistics.md
  docs/configure/secure-nodes.md
  docs/contributing/style-guide.md
  docs/getting-started.md
  docs/guides/deploy/ansible.md
  docs/guides/monitor/anomaly-detection.md
  docs/guides/monitor/kubernetes-k8s-netdata.md
  docs/guides/monitor/lamp-stack.md
  docs/guides/step-by-step/step-03.md
  docs/guides/troubleshoot/monitor-debug-applications-ebpf.md
  docs/monitor/enable-notifications.md
  docs/quickstart/infrastructure.md
  packaging/installer/methods/kickstart-64.md
  packaging/installer/methods/kickstart.md
  packaging/installer/methods/kubernetes.md
  packaging/installer/methods/manual.md
Labels: area/packaging, area/docs, area/daemon, ACLK

#11411 Fix CID372233 to CID 372236
  aclk/aclk_charts_api.c
Labels: ACLK

#11403 remove "vernemq.queue_messages_in_queues" from dashboard_info.js
  web/gui/dashboard_info.js
Labels: area/web

#11413 Custom dash broken links
  web/gui/custom/README.md
Labels: area/docs, area/web

#11407 minor - Remove autoreconf warning
  health/Makefile.am
Labels: area/health, area/build

#11350 Added support for claiming existing installs via kickstarter scripts.
  packaging/installer/kickstart-static64.sh
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart-64.md
  packaging/installer/methods/kickstart.md
Labels: area/packaging, area/docs

#11421 Remove Ubuntu 20.10 from repository config package builds.
  .github/workflows/repoconfig-packages.yml
Labels: area/ci

#11396 Add ACLK synchronization event loop
  CMakeLists.txt
  Makefile.am
  aclk/legacy/agent_cloud_link.h
  database/rrd.h
  database/rrdhost.c
  database/sqlite/sqlite_aclk.c
  database/sqlite/sqlite_aclk.h
  database/sqlite/sqlite_functions.c
  database/sqlite/sqlite_functions.h
  libnetdata/log/log.h
Labels: area/database, ACLK, area/build

#11426 Use DebHelper compat level 9 in repoconfig packages to support Ubuntu 16.04
  packaging/repoconfig/debian/compat
  packaging/repoconfig/debian/control
Labels: area/packaging

#11427 Properly handle reuploads of packages to PackageCloud.
  .github/workflows/packaging.yml
  .github/workflows/repoconfig-packages.yml
Labels: area/ci

#11401 Split eBPF programs
  CMakeLists.txt
  Makefile.am
  collectors/all.h
  collectors/ebpf.plugin/Makefile.am
  collectors/ebpf.plugin/README.md
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.d.conf
  collectors/ebpf.plugin/ebpf.d/fd.conf
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_apps.c
  collectors/ebpf.plugin/ebpf_apps.h
  collectors/ebpf.plugin/ebpf_disk.h
  collectors/ebpf.plugin/ebpf_fd.c
  collectors/ebpf.plugin/ebpf_fd.h
  collectors/ebpf.plugin/ebpf_filesystem.h
  collectors/ebpf.plugin/ebpf_mount.h
  collectors/ebpf.plugin/ebpf_process.c
  collectors/ebpf.plugin/ebpf_process.h
  libnetdata/ebpf/ebpf.c
  libnetdata/ebpf/ebpf.h
  packaging/ebpf.checksums
  packaging/ebpf.version
  web/gui/dashboard_info.js
Labels: area/packaging, area/docs, area/web, area/collectors, area/build

#11429 Address coverity reported issues 372243 - 372248
  database/sqlite/sqlite_aclk.c
Labels: area/database, no changelog

#11432 Default to not using LTO for builds.
  configure.ac
  netdata-installer.sh
Labels: area/packaging, area/build

#11435 Fix issue #11434 regarding inconsistent status check on component.
  collectors/charts.d.plugin/apcupsd/apcupsd.chart.sh
Labels: area/external, area/collectors

#11437 Add terra to blockchains apps groups
  collectors/apps.plugin/apps_groups.conf
Labels: area/collectors

#11438 Remove ClearLinux from CI.
  .github/workflows/build-and-install.yml
  .github/workflows/updater.yml
Labels: area/ci

#11374 Added support for bundling protobuf as part of the install.
  .github/workflows/build-and-install.yml
  Makefile.am
  aclk/schema-wrappers/schema_wrapper_utils.h
  netdata-installer.sh
  packaging/installer/install-required-packages.sh
  packaging/protobuf.checksums
  packaging/protobuf.version
Labels: area/ci, area/packaging, ACLK, area/build

#11419 Adds NodeInstanceInfo API
  Makefile.am
  aclk/aclk_charts_api.c
  aclk/aclk_charts_api.h
  aclk/aclk_query.c
  aclk/aclk_query_queue.c
  aclk/aclk_query_queue.h
  aclk/aclk_util.c
  aclk/aclk_util.h
  aclk/schema-wrappers/node_info.cc
  aclk/schema-wrappers/node_info.h
  aclk/schema-wrappers/schema_wrappers.h
Labels: ACLK, area/build

#11410 eBPF Hard IRQ latency
  CMakeLists.txt
  Makefile.am
  collectors/all.h
  collectors/ebpf.plugin/Makefile.am
  collectors/ebpf.plugin/README.md
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.d.conf
  collectors/ebpf.plugin/ebpf.d/hardirq.conf
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_apps.h
  collectors/ebpf.plugin/ebpf_hardirq.c
  collectors/ebpf.plugin/ebpf_hardirq.h
  packaging/ebpf.checksums
  packaging/ebpf.version
  web/gui/dashboard_info.js
Labels: area/packaging, area/docs, area/web, area/collectors, area/build

#11440 Update ebpf documentation
  collectors/ebpf.plugin/README.md
Labels: area/docs, area/collectors

#11444 Fix list corruption in ACLK sync code and remove fatal
  database/sqlite/sqlite_aclk.c
Labels: area/database, no changelog

#11441 Update ebpf socket
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_apps.h
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_socket.h
  libnetdata/ebpf/ebpf.c
  libnetdata/ebpf/ebpf.h
  packaging/ebpf.checksums
  packaging/ebpf.version
  web/gui/dashboard_info.js
Labels: area/packaging, area/web, area/collectors

#11449 update "Install Netdata on Synology" guide
  packaging/installer/methods/synology.md
Labels: area/packaging, area/docs

#11451 Remove AWS Kinesis CI.
  .github/workflows/build-and-install.yml
Labels: area/ci, no changelog

#11450 Check for failed protobuf configure or make
  netdata-installer.sh
Labels: area/packaging, area/build

#11445 eBPF Soft IRQ latency
  CMakeLists.txt
  Makefile.am
  collectors/ebpf.plugin/Makefile.am
  collectors/ebpf.plugin/README.md
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.d.conf
  collectors/ebpf.plugin/ebpf.d/softirq.conf
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_apps.h
  collectors/ebpf.plugin/ebpf_hardirq.c
  collectors/ebpf.plugin/ebpf_softirq.c
  collectors/ebpf.plugin/ebpf_softirq.h
  packaging/ebpf.checksums
  packaging/ebpf.version
  web/gui/dashboard_info.js
Labels: area/packaging, area/docs, area/web, area/collectors, area/build

#11452 Fix ram level alarms
  health/health.d/ram.conf
Labels: area/health

#11446 Don’t bail early if we fail to build cloud deps with required cloud.
  configure.ac
  netdata-installer.sh
Labels: area/packaging, area/build

#11455 Fix postgres replication_slot chart on standby
  collectors/python.d.plugin/postgres/postgres.chart.py
Labels: area/external/python, area/collectors, data-collection-mteam

#11471 eBPF vsn bump to v0.7.9.1
  packaging/ebpf.checksums
  packaging/ebpf.version
Labels: area/packaging

#11442 Installation review
  claim/README.md
  packaging/installer/README.md
  packaging/installer/methods/kickstart.md
  packaging/installer/methods/kubernetes.md
  packaging/installer/methods/macos.md
Labels: area/packaging, area/docs
