Repository netdata/netdata, pull requests merged in 2022-05, with the labels that each got.

#12781 fix: printing a warning msg in installer
  packaging/installer/functions.sh
Labels: area/packaging

#12786 fix(installer): non interpreted new lines when printing deferred errors
  netdata-installer.sh
Labels: area/packaging

#12789 fix(proc/net/dev): exclude Proxmox bridge interfaces
  collectors/cgroups.plugin/cgroup-network-helper.sh
  collectors/proc.plugin/proc_net_dev.c
Labels: area/collectors, collectors/cgroups, collectors/proc

#12790 just a simple fix to avoid recompiling protobuf all the time
  netdata-installer.sh
Labels: area/packaging

#12709 Add `-pipe` to CFLAGS in most cases for builds.
  netdata-installer.sh
  packaging/docker/Dockerfile
  packaging/makeself/jobs/20-openssl.install.sh
  packaging/makeself/jobs/50-bash-5.1.16.install.sh
  packaging/makeself/jobs/50-curl-7.82.0.install.sh
  packaging/makeself/jobs/50-fping-5.1.install.sh
  packaging/makeself/jobs/50-ioping-1.2.install.sh
  packaging/makeself/jobs/70-netdata-git.install.sh
Labels: area/packaging

#12788 fix(cgroups.plugin): do not add network devices if cgroup proc is in the host net ns
  collectors/cgroups.plugin/cgroup-network.c
Labels: area/collectors, collectors/cgroups

#12730 Make atomics a hard-dep.
  Makefile.am
  aclk/aclk_util.c
  aclk/aclk_util.h
  build/m4/ax_c___atomic.m4
  configure.ac
  daemon/global_statistics.c
  database/rrd.h
  database/rrdset.c
  web/server/web_client.h
Labels: area/web, area/daemon, area/database, area/ACLK, area/build

#12544 Reduce alert events sent to the cloud.
  database/sqlite/sqlite_aclk.c
  database/sqlite/sqlite_aclk.h
  database/sqlite/sqlite_aclk_alert.c
  database/sqlite/sqlite_aclk_alert.h
  database/sqlite/sqlite_aclk_chart.h
  health/health.c
  health/health_log.c
Labels: area/health, area/database, area/ACLK

#12792 Speed up BUFFER increases (minimize reallocs)
  libnetdata/buffer/buffer.c
  libnetdata/buffer/buffer.h
  web/api/formatters/json/json.c
Labels: area/web

#12787 One way allocator to double the speed of parallel context queries
  CMakeLists.txt
  Makefile.am
  configure.ac
  daemon/unit_test.c
  database/sqlite/sqlite_functions.c
  database/sqlite/sqlite_functions.h
  libnetdata/Makefile.am
  libnetdata/libnetdata.h
  libnetdata/onewayalloc/Makefile.am
  libnetdata/onewayalloc/README.md
  libnetdata/onewayalloc/onewayalloc.c
  libnetdata/onewayalloc/onewayalloc.h
  web/api/formatters/rrd2json.c
  web/api/formatters/rrd2json.h
  web/api/queries/query.c
  web/api/queries/rrdr.c
  web/api/queries/rrdr.h
  web/api/web_api_v1.c
Labels: area/docs, area/web, area/daemon, area/database, area/tests, area/build

#12785 Trace rwlocks of netdata
  daemon/main.c
  libnetdata/avl/avl.c
  libnetdata/clocks/clocks.c
  libnetdata/clocks/clocks.h
  libnetdata/locks/README.md
  libnetdata/locks/locks.c
  libnetdata/locks/locks.h
  spawn/spawn_server.c
Labels: area/docs, area/daemon, area/build

#12769 Remove node.d.plugin and relevant files
  .codacy.yml
  .codeclimate.yml
  .github/CODEOWNERS
  .github/labeler.yml
  .gitignore
  .lgtm.yml
  build_external/scenarios/aclk-testing/agent_netdata.conf
  build_external/scenarios/gaps_lo/mostly_off.conf
  collectors/COLLECTORS.md
  collectors/Makefile.am
  collectors/REFERENCE.md
  collectors/apps.plugin/apps_groups.conf
  collectors/node.d.plugin/Makefile.am
  collectors/node.d.plugin/README.md
  collectors/node.d.plugin/node.d.conf
  collectors/node.d.plugin/node.d.plugin.in
  collectors/node.d.plugin/node_modules/asn1-ber.js
  collectors/node.d.plugin/node_modules/extend.js
  collectors/node.d.plugin/node_modules/lib/ber/errors.js
  collectors/node.d.plugin/node_modules/lib/ber/index.js
  collectors/node.d.plugin/node_modules/lib/ber/reader.js
  collectors/node.d.plugin/node_modules/lib/ber/types.js
  collectors/node.d.plugin/node_modules/lib/ber/writer.js
  collectors/node.d.plugin/node_modules/net-snmp.js
  collectors/node.d.plugin/node_modules/netdata.js
  collectors/node.d.plugin/node_modules/pixl-xml.js
  collectors/node.d.plugin/snmp/Makefile.inc
  collectors/node.d.plugin/snmp/README.md
  collectors/node.d.plugin/snmp/snmp.node.js
  collectors/plugins.d/README.md
  configure.ac
  contrib/debian/control
  daemon/config/README.md
  docs/collect/how-collectors-work.md
  docs/configure/common-changes.md
  docs/guides/configure/performance.md
  docs/guides/step-by-step/step-06.md
  netdata-installer.sh
  netdata.spec.in
  packaging/installer/install-required-packages.sh
  tests/alarm_repetition/netdata.conf_with_repetition
  tests/alarm_repetition/netdata.conf_without_repetition
  tests/lifecycle.bats
  tests/updater_checks.bats
Labels: area/ci, area/packaging, area/docs, area/collectors, area/build, collectors/apps, collectors/node.d, collectors/plugins.d

#12707 Check for chart obsoletion on children re-connections
  database/rrd.h
  database/rrdhost.c
  health/health.c
  streaming/receiver.c
Labels: area/health, area/database, area/streaming

#12798 Rename --install option for kickstart.sh
  netdata-installer.sh
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart.md
Labels: area/packaging, area/docs

#12776 Configurable storage engine for Netdata agents: step 1
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
  database/rrd.h
  database/rrddim.c
  ml/Dimension.h
  ml/Query.h
  web/api/queries/query.c
Labels: area/web, area/database, area/ml

#12778 feat(cgroups.plugin): add filtering by cgroups names and improve renaming in k8s
  collectors/cgroups.plugin/README.md
  collectors/cgroups.plugin/cgroup-name.sh
  collectors/cgroups.plugin/sys_fs_cgroup.c
  collectors/cgroups.plugin/sys_fs_cgroup.h
  collectors/cgroups.plugin/tests/test_cgroups_plugin.c
Labels: area/docs, area/collectors, collectors/cgroups

#12777 Skip ACLK dimension update when dimension is freed
  database/rrddim.c
Labels: area/database

#12635 Improve handling of release channel selection in kickstart.sh.
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart.md
Labels: area/packaging, area/docs

#12728 Remove per chart configuration.
  database/rrd.c
  database/rrd.h
  database/rrddim.c
  database/rrdset.c
  exporting/tests/exporting_fixtures.c
  health/health.c
  streaming/rrdpush.c
  web/api/formatters/rrdset2json.c
Labels: area/web, area/health, area/exporting, area/database, area/streaming

#12782 update ml defaults in docs
  ml/README.md
Labels: area/docs, area/ml

#12806 add --repositories-only option
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart.md
Labels: area/packaging, area/docs

#12812 fix!: do not replace a hyphen in the chart name with an underscore
  database/rrdset.c
Labels: area/database

#12582 Metric correlations
  CMakeLists.txt
  Makefile.am
  REDISTRIBUTED.md
  daemon/common.h
  daemon/main.c
  database/KolmogorovSmirnovDist.c
  database/KolmogorovSmirnovDist.h
  database/metric_correlations.c
  database/metric_correlations.h
  web/api/web_api_v1.c
Labels: area/docs, area/web, area/daemon, area/database, area/build

#12814 Add a parameter for how many worker threads the libuv library needs to pre-initialize
  daemon/main.c
  database/engine/rrdengine.c
  database/engine/rrdengineapi.c
Labels: area/daemon, area/database

#12815 Write the entire request with parameters in the access.log file
  web/server/web_client.c
Labels: area/web

#12822 Broadcast completion before unlocking condition variable's mutex
  libnetdata/completion/completion.c
Labels: area/database

#12813 Optimize linking of foreach alarms to dimensions.
  database/rrddim.c
  health/health.c
Labels: area/health, area/database

#12823 Accept a data query timeout parameter from the cloud
  aclk/aclk_query.c
  aclk/aclk_query_queue.h
  aclk/aclk_rx_msgs.c
Labels: area/ACLK

#12803 Fill missing removed events after a crash
  database/sqlite/sqlite_health.c
Labels: area/database

#12825 Cleanup the node instance table on startup
  database/sqlite/sqlite_functions.c
Labels: area/database

#12729 add --install-version flag for installing specific version of Netdata
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart.md
Labels: area/packaging, area/docs

#12820 Add chart filtering parameter to the allmetrics API query
  database/sqlite/sqlite_aclk_alert.c
  exporting/README.md
  exporting/prometheus/prometheus.c
  exporting/prometheus/prometheus.h
  exporting/tests/test_exporting_engine.c
  web/api/exporters/allmetrics.c
  web/api/exporters/shell/allmetrics_shell.c
  web/api/exporters/shell/allmetrics_shell.h
  web/api/netdata-swagger.json
  web/api/netdata-swagger.yaml
  web/api/tests/valid_urls.c
  web/api/tests/web_api.c
Labels: area/docs, area/web, area/exporting, area/database, area/ACLK

#12829 Reduce the number of messages written in the error log due to out of bound timestamps
  database/engine/rrdengineapi.c
Labels: area/database

#12831 Remove sync warning
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.d.conf
  collectors/ebpf.plugin/ebpf_sync.c
  libnetdata/ebpf/ebpf.c
  libnetdata/ebpf/ebpf.h
Labels: area/collectors, collectors/ebpf

#12832 fix(exporting)" make 'send charts matching' behave the same as 'filter' for prometheus format
  exporting/prometheus/prometheus.c
Labels: area/exporting

#12836 Set a page wait timeout and retry count
  database/engine/pagecache.c
  database/engine/pagecache.h
Labels: area/database

#12811 speedup queries by providing optimization in the main loop
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
  web/api/queries/average/average.c
  web/api/queries/query.c
Labels: area/web, area/database

#12842 Save built packages in CI before testing them.
  .github/workflows/packaging.yml
Labels: area/ci, no changelog

#12841 fix memory leaks and mismatches of the use of the z functions for allocations
  collectors/plugins.d/pluginsd_parser.c
  collectors/proc.plugin/proc_spl_kstat_zfs.c
  daemon/main.c
  database/engine/metadata_log/logfile.c
  database/engine/rrdengineapi.c
  database/rrdcalc.c
  database/rrddim.c
  parser/parser.c
  streaming/receiver.c
  web/api/queries/des/des.c
Labels: area/web, area/collectors, area/daemon, area/database, area/streaming, collectors/proc, collectors/plugins.d

#12846 Resolve coverity related to memory and structure dereference
  database/rrddim.c
  database/sqlite/sqlite_aclk_chart.c
Labels: area/database, area/ACLK

#12833 Ignore obsolete charts/dims in prediction thread.
  ml/Dimension.h
  ml/Host.cc
  ml/Host.h
Labels: area/ml

#12859 Add a SQLite database checkpoint command
  database/sqlite/sqlite_aclk.c
Labels: area/database, area/ACLK

#12858 feat(cgroups.plugin): add k8s cluster name label (GKE only)
  collectors/cgroups.plugin/cgroup-name.sh
Labels: area/collectors, collectors/cgroups

#12862 bump go.d.plugin version to v0.32.3
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#12861 Initialize the metadata database when performing dbengine stress test
  daemon/main.c
  daemon/unit_test.c
  database/engine/pagecache.c
  database/rrdhost.c
  database/sqlite/sqlite_functions.c
  database/sqlite/sqlite_functions.h
Labels: area/daemon, area/database, area/tests

#12826 Use prebuilt builder images for static builds.
  packaging/makeself/build-static.sh
Labels: area/packaging, no changelog

#12865 fix(cgroups.plugin): do not disable K8s pod/container cgroups if can't rename them
  collectors/cgroups.plugin/cgroup-name.sh
  collectors/cgroups.plugin/sys_fs_cgroup.c
Labels: area/collectors, collectors/cgroups

#12863 workers fixes and improvements
  daemon/global_statistics.c
  libnetdata/clocks/clocks.c
  libnetdata/worker_utilization/README.md
  libnetdata/worker_utilization/worker_utilization.c
Labels: area/docs, area/daemon

#12868 Update README.md
  collectors/README.md
Labels: area/docs, area/collectors

#12872 docs: fix unresolved file references
  collectors/COLLECTORS.md
  collectors/apps.plugin/README.md
  collectors/ebpf.plugin/README.md
  docs/dashboard/customize.mdx
  docs/dashboard/import-export-print-snapshot.mdx
  docs/dashboard/reference-web-server.mdx
Labels: area/docs, area/collectors, collectors/ebpf, collectors/apps

#12799 Switch to Alma Linux for RHEL compatible support.
  .github/data/distros.yml
  .github/scripts/pkg-test.sh
  packaging/PLATFORM_SUPPORT.md
Labels: area/ci, area/packaging, area/docs

#12870 Set trust durations to have data from children properly aligned
  streaming/receiver.c
Labels: area/streaming

#12873 fix(health): change duplicate health template message logging level to 'info'
  health/health_config.c
Labels: area/health

#12808 Configurable storage engine for Netdata agents: step 2
  CMakeLists.txt
  Makefile.am
  database/ram/rrddim_mem.c
  database/ram/rrddim_mem.h
  database/rrd.c
  database/rrd.h
  database/rrddim.c
  database/storage_engine.c
  database/storage_engine.h
  web/api/queries/query.c
Labels: area/web, area/database, area/build

#12835 Expose anomaly-bit option to health.
  health/health_config.c
  web/server/web_client.c
Labels: area/web, area/health, area/ml

#12869 feat(proc/cgroups.plugin): add PSI stall time charts
  collectors/cgroups.plugin/sys_fs_cgroup.c
  collectors/cgroups.plugin/tests/test_doubles.c
  collectors/proc.plugin/proc_pressure.c
  collectors/proc.plugin/proc_pressure.h
  web/gui/dashboard_info.js
Labels: area/web, area/collectors, collectors/cgroups, collectors/proc

#12886 Fix compilation warnings
  database/rrd.h
  database/rrddim.c
  ml/Dimension.h
  ml/ml.h
  parser/parser.c
Labels: area/database, area/ml

#12885 Take into account the in queue wait time when executing a data query
  aclk/aclk_query.c
  web/api/web_api_v1.c
Labels: area/web, area/ACLK

#12894 Return stable or nightly based on version if the file check fails
  web/api/formatters/charts2json.c
Labels: area/web

#12898 Remove CPU-specific info from cpuidle dimensions
  collectors/proc.plugin/proc_stat.c
Labels: area/collectors, collectors/proc

#12891 Update reconnect node with kickstart info
  claim/README.md
Labels: area/docs, area/claim

#12902 fix(cgroups.plugin): use correct identifier when registering the main thread "chart" worker job
  collectors/cgroups.plugin/sys_fs_cgroup.c
Labels: area/collectors, collectors/cgroups

#12905 Fix release channel in the node info message
  database/sqlite/sqlite_aclk_node.c
Labels: area/database, area/ACLK

#12887 Fix compilation warnings in FreeBSD
  collectors/apps.plugin/apps_plugin.c
  collectors/freebsd.plugin/freebsd_ipfw.c
  collectors/freebsd.plugin/freebsd_sysctl.c
  libnetdata/libnetdata.c
Labels: area/collectors, collectors/apps, collectors/freebsd

#12910 added worker jobs for cgroup-rename, cgroup-network and cgroup-first-time
  collectors/cgroups.plugin/sys_fs_cgroup.c
Labels: area/collectors, collectors/cgroups

#12913 chore(streaming): bump default "buffer size bytes" to 10MB
  docs/metrics-storage-management/reference-streaming.mdx
  streaming/sender.c
  streaming/stream.conf
Labels: area/docs, area/streaming

#12912 fix(cgroups.plugin): improve check for uninitialized containers in k8s
  collectors/cgroups.plugin/sys_fs_cgroup.c
Labels: area/collectors, collectors/cgroups

#12916 fix `[global statistics]` section in netdata.conf
  daemon/global_statistics.c
  libnetdata/config/appconfig.c
  libnetdata/config/appconfig.h
Labels: area/daemon

#12911 fix virtualization detection when `systemd-detect-virt` is not available
  daemon/system-info.sh
Labels: area/daemon

#12908 Fix the log entry for incoming cloud start streaming commands
  database/sqlite/sqlite_aclk_chart.c
Labels: area/database, area/ACLK

#12917 user configurable sqlite PRAGMAs
  database/sqlite/sqlite_functions.c
  libnetdata/config/appconfig.c
  libnetdata/config/appconfig.h
Labels: area/database

#12906 chore(cgroups.plugin): remove "enable new cgroups detected at run time" config option
  build_external/scenarios/aclk-testing/agent_netdata.conf
  collectors/cgroups.plugin/sys_fs_cgroup.c
Labels: area/collectors, area/build, collectors/cgroups

#12930 chore(fping.plugin): bump default fping version to 5.1
  collectors/fping.plugin/fping.plugin.in
Labels: area/collectors, collectors/fping

#12920 chore: add links to SQLite init options in the src code
  database/sqlite/sqlite_functions.c
Labels: area/database, no changelog

#12921 collectors: apps.plugin: apps_groups: update net, aws, ha groups
  collectors/apps.plugin/apps_groups.conf
Labels: area/collectors, collectors/apps

#12896 Adjust alarms count
  health/health_json.c
Labels: area/health

#12919 Remove Alpine 3.12 from CI.
  .github/data/distros.yml
  packaging/PLATFORM_SUPPORT.md
Labels: area/ci, area/packaging, area/docs

#12933 Adjust the dimension liveness status check
  database/rrd.h
  database/rrddim.c
  database/rrdhost.c
  database/rrdset.c
  database/sqlite/sqlite_aclk_chart.c
  database/sqlite/sqlite_aclk_chart.h
Labels: area/database, area/ACLK

#12941 Reduce timeout to 1 second for getting cloud instance info
  daemon/system-info.sh
Labels: area/daemon

#12809 Add support for installing static builds on systems without usable internet connections.
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart.md
  packaging/installer/methods/offline.md
Labels: area/packaging, area/docs

#12805 Move kickstart argument parsing code to a function.
  packaging/installer/kickstart.sh
Labels: area/packaging

#12757 Fix and improve netdata-updater.sh script
  packaging/installer/netdata-updater.sh
Labels: area/packaging

#12856 Autodetect channel for specific version
  packaging/installer/kickstart.sh
Labels: area/packaging

#12952 Optimize the dimensions option store to the metadata database
  collectors/plugins.d/pluginsd_parser.c
  database/rrd.h
  database/rrddim.c
Labels: area/collectors, area/database, collectors/plugins.d

#12951 Defer the dimension payload check to the ACLK sync thread
  database/sqlite/sqlite_aclk_chart.c
  database/sqlite/sqlite_aclk_chart.h
Labels: area/database, area/ACLK

#12956 Cleanup chart hash and map tables on startup
  database/sqlite/sqlite_functions.c
Labels: area/database

#12963 statsd sets should count unique values
  collectors/statsd.plugin/statsd.c
Labels: area/collectors, collectors/statsd

#12866 Apply some logic to possible streaming destinations
  database/rrd.h
  database/rrdhost.c
  streaming/receiver.c
  streaming/rrdpush.c
  streaming/rrdpush.h
  streaming/sender.c
  web/server/static/static-threaded.c
Labels: area/web, area/database, area/streaming

#12964 fix: keep virtualization unknown if all used commands are not available
  daemon/system-info.sh
Labels: area/daemon

#12966 cleanup and optimize rrdeng_load_metric_next()
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
Labels: area/database

#12971 Don't permanetly disable a destination because of denied access
  streaming/rrdpush.c
  streaming/sender.c
Labels: area/streaming

#12973 chore: check link local address before querying cloud instance metadata
  daemon/system-info.sh
Labels: area/daemon

#12978 query engine optimizations and cleanup
  web/api/queries/query.c
Labels: area/web

#12983 chore(apps.plugin): change cpu_guest chart context
  collectors/apps.plugin/apps_plugin.c
Labels: area/collectors, collectors/apps

#12961 Add automatic retries fo static builds during nightly and release builds.
  .github/workflows/build.yml
Labels: area/ci

#12979 fix(kickstart.sh): handle the case when `tput colors` doesn't return a number
  packaging/installer/kickstart.sh
Labels: area/packaging

#12982 fix: don't kill Netdata PIDs if successfully stopped Netdata
  packaging/installer/functions.sh
  packaging/installer/netdata-uninstaller.sh
Labels: area/packaging

#12969 modify code to resolve compile warning issue
  database/rrdset.c
Labels: area/database

#12986 Make heartbeat a static chart
  daemon/global_statistics.c
Labels: area/daemon

#12987 Improve reconnect node instructions
  claim/README.md
Labels: area/docs, area/claim

#12988 Faster queries
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
  libnetdata/storage_number/storage_number.c
  libnetdata/storage_number/storage_number.h
  web/api/queries/average/average.c
  web/api/queries/average/average.h
  web/api/queries/des/des.c
  web/api/queries/des/des.h
  web/api/queries/incremental_sum/incremental_sum.c
  web/api/queries/incremental_sum/incremental_sum.h
  web/api/queries/max/max.c
  web/api/queries/max/max.h
  web/api/queries/median/median.c
  web/api/queries/median/median.h
  web/api/queries/min/min.c
  web/api/queries/min/min.h
  web/api/queries/query.c
  web/api/queries/rrdr.h
  web/api/queries/ses/ses.c
  web/api/queries/ses/ses.h
  web/api/queries/stddev/stddev.c
  web/api/queries/stddev/stddev.h
  web/api/queries/sum/sum.c
  web/api/queries/sum/sum.h
Labels: area/web, area/database

#12940 Stream and advertise metric correlations to the cloud
  aclk/aclk_tx_msgs.c
  database/metric_correlations.c
  database/metric_correlations.h
  database/rrd.h
  database/rrdhost.c
  database/sqlite/sqlite_aclk_node.c
  streaming/rrdpush.c
  streaming/sender.c
Labels: area/database, area/streaming, area/ACLK

#12990 Don't expose the chart definition to streaming if there is no metadata change
  database/rrd.h
  database/rrdset.c
Labels: area/database

#12980 add dictionary support to statsd
  collectors/statsd.plugin/README.md
  collectors/statsd.plugin/statsd.c
  libnetdata/dictionary/dictionary.c
  libnetdata/dictionary/dictionary.h
  libnetdata/libnetdata.c
  web/gui/main.js
Labels: area/docs, area/web, area/collectors, collectors/statsd

#12992 Delay children chart obsoletion check
  database/rrd.h
  database/rrdhost.c
  database/rrdset.c
  streaming/receiver.c
Labels: area/database, area/streaming

#13002 Use printf instead of echo for printing collected warnings in kickstart.sh.
  packaging/installer/kickstart.sh
Labels: area/packaging

#12995 Autodetect coverity install path to increase robustness
  coverity-scan.sh
Labels: area/tests

#12972 Alarms py collector add filtering
  collectors/python.d.plugin/alarms/README.md
  collectors/python.d.plugin/alarms/alarms.chart.py
  collectors/python.d.plugin/alarms/alarms.conf
Labels: area/docs, area/collectors, collectors/python.d

#12997 Add Alpine 3.16 to CI and platform support document.
  .github/data/distros.yml
  packaging/PLATFORM_SUPPORT.md
Labels: area/ci, area/packaging, area/docs, no changelog

#13014 fix COVERITY_PATH added with INSTALL_DIR into PATH
  coverity-scan.sh
Labels: area/tests

#11730 Cleanup Challenge Response Code
  aclk/aclk_otp.c
Labels: area/ACLK

#12609 Pass the child machine's guid to the goto_url link
  health/health.c
  health/notifications/alarm-notify.sh.in
Labels: area/health

#13009 Only try to update repo metadata in updater script if needed.
  packaging/installer/netdata-updater.sh
Labels: area/packaging

#12877 Cache invariant components in static builds to reduce build times.
  .github/scripts/get-static-cache-key.sh
  .github/workflows/build.yml
  packaging/makeself/build-static.sh
  packaging/makeself/functions.sh
  packaging/makeself/jobs/20-openssl.install.sh
  packaging/makeself/jobs/50-bash-5.1.16.install.sh
  packaging/makeself/jobs/50-curl-7.82.0.install.sh
  packaging/makeself/jobs/50-fping-5.1.install.sh
  packaging/makeself/jobs/50-ioping-1.2.install.sh
  packaging/makeself/uname2platform.sh
Labels: area/ci, area/packaging, no changelog

#13022 Fix coverity issue 378598
  claim/claim.c
Labels: area/claim

#13023 Initialize a pointer and add a check for it
  collectors/statsd.plugin/statsd.c
Labels: area/collectors, collectors/statsd

#13027 prevent gap filling on dbengine gaps
  web/api/queries/query.c
Labels: area/web

#13030 add hostname to mirrored hosts
  web/api/web_api_v1.c
Labels: area/web

#13033 Update apps_groups.conf
  collectors/apps.plugin/apps_groups.conf
Labels: area/collectors, collectors/apps

#12954 Trigger queue removed alerts on health log exchange with cloud
  aclk/aclk.c
  database/sqlite/sqlite_aclk_alert.c
Labels: area/database, area/ACLK

#13037 Check return value and log an error on failure
  database/sqlite/sqlite_functions.c
Labels: area/database

#13021 Fix coverity issue 378617,378615
  aclk/aclk_query.c
  web/api/queries/rrdr.c
Labels: area/web, no changelog, area/ACLK

#13005 Treat dimensions as normal when we don't have enough/valid data.
  ml/Dimension.cc
Labels: area/ml

#13040 Fix the retry count and netdata_exit check when running an sqlite3_step command
  database/sqlite/sqlite_functions.c
  database/sqlite/sqlite_functions.h
Labels: area/database

#9377 Write pid file (needed by logrotate)
  contrib/debian/netdata.default
Labels: area/packaging

#13036 Add additional metadata to the data response
  web/api/formatters/json_wrapper.c
  web/api/formatters/json_wrapper.h
  web/api/formatters/rrd2json.c
  web/api/formatters/rrd2json.h
  web/api/web_api_v1.c
Labels: area/web
