Repository netdata/netdata, pull requests merged in 2022-10, with the labels that each got.

#13754 Fix streaming crash when child reconnects and is archived on the parent
  daemon/service.c
  database/rrdhost.c
Labels: area/daemon, area/database

#13684 add node level AR based example
  health/health.d/ml.conf
Labels: area/health

#13752 Add CloudLinux OS detection to the updater script
  packaging/installer/netdata-updater.sh
Labels: area/packaging

#13757 Add ZFS rate charts
  collectors/all.h
  collectors/proc.plugin/zfs_common.c
Labels: area/collectors, collectors/proc

#13761 add 1m delay for tcp reset alarms
  health/health.d/tcp_resets.conf
Labels: area/health

#13764 fix bad merge
  daemon/main.c
  libnetdata/socket/security.c
  libnetdata/socket/security.h
  web/api/web_api_v1.c
Labels: area/web, area/daemon

#13451 Overhaul handling of installation of Netdata as a system service.
  .gitignore
  build/subst.inc
  configure.ac
  packaging/installer/functions.sh
  system/Makefile.am
  system/install-service.sh.in
Labels: area/packaging, area/build

#13771 bump go.d.plugin v0.40.3
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#13106 feat: disable cloud if `NETDATA_DISABLE_CLOUD` is set to 1
  daemon/main.c
Labels: area/daemon

#13780 allow netdata installer to install and run netdata as any user
  build/subst.inc
  configure.ac
  netdata-installer.sh
  system/netdata.service.in
Labels: area/packaging, area/build

#13789 full memory tracking and profiling of Netdata Agent
  aclk/aclk_tx_msgs.c
  daemon/global_statistics.c
  daemon/main.c
  daemon/service.c
  database/engine/journalfile.c
  database/engine/rrdengine.c
  database/ram/rrddim_mem.c
  database/rrd.h
  database/rrdcontext.c
  database/rrddim.c
  database/rrdhost.c
  database/rrdset.c
  database/sqlite/sqlite_aclk.c
  database/sqlite/sqlite_functions.c
  libnetdata/arrayalloc/arrayalloc.c
  libnetdata/arrayalloc/arrayalloc.h
  libnetdata/config/appconfig.c
  libnetdata/config/appconfig.h
  libnetdata/dictionary/dictionary.c
  libnetdata/libnetdata.c
  libnetdata/libnetdata.h
  libnetdata/procfile/procfile.c
  streaming/receiver.c
  streaming/rrdpush.c
  streaming/rrdpush.h
  web/api/web_api_v1.c
Labels: area/web, area/daemon, area/database, area/streaming, area/ACLK

#13786 Initialize st->rrdvars from rrdset insert callback
  database/rrdset.c
  health/health.c
Labels: area/health, area/database

#13792 Array Allocator Memory Leak Fix
  database/engine/pagecache.c
  libnetdata/arrayalloc/arrayalloc.c
  libnetdata/arrayalloc/arrayalloc.h
  libnetdata/log/log.h
Labels: area/database

#13793 feat(python.d): respect NETDATA_INTERNALS_MONITORING
  collectors/python.d.plugin/python_modules/bases/FrameworkServices/SimpleService.py
  collectors/python.d.plugin/python_modules/bases/charts.py
Labels: area/collectors, collectors/python.d

#13778 Update libbpf 1.0.1
  packaging/current_libbpf.checksums
  packaging/current_libbpf.version
  packaging/ebpf-co-re.checksums
  packaging/ebpf-co-re.version
  packaging/ebpf.checksums
  packaging/ebpf.version
  packaging/libbpf.checksums
  packaging/libbpf.version
Labels: area/packaging

#13782 Parser cleanup
  collectors/plugins.d/pluginsd_parser.c
  collectors/plugins.d/pluginsd_parser.h
  database/engine/metadata_log/logfile.c
  database/engine/metadata_log/metalogpluginsd.c
  database/engine/metadata_log/metalogpluginsd.h
  parser/parser.c
  parser/parser.h
  streaming/receiver.c
Labels: area/collectors, area/database, area/streaming, collectors/plugins.d

#13795 Also enable rrdvars from health
  health/health.c
Labels: area/health

#13784 minor - add host labels for ephemerality and nodes with unstable connections
  database/rrdhost.c
  health/health.c
  health/health.h
Labels: area/health, area/database

#13785 Add Ubuntu 22.10 to supported distros, CI, and package builds.
  .github/data/distros.yml
  .github/scripts/pkg-test.sh
  packaging/PLATFORM_SUPPORT.md
Labels: area/ci, area/packaging, area/docs

#13489 Add Fedora 37 to CI and package builds.
  .github/data/distros.yml
  packaging/PLATFORM_SUPPORT.md
Labels: area/ci, area/packaging, area/docs

#13805 fix warning when -Wfree-nonheap-object is used
  aclk/aclk_otp.c
Labels: area/ACLK

#13807 fix post-processing of contexts
  database/rrdcontext.c
Labels: area/database

#13806 Merge netstat, snmp, and snmp6 modules
  CMakeLists.txt
  Makefile.am
  collectors/proc.plugin/plugin_proc.c
  collectors/proc.plugin/plugin_proc.h
  collectors/proc.plugin/proc_net_netstat.c
  collectors/proc.plugin/proc_net_snmp.c
  collectors/proc.plugin/proc_net_snmp6.c
Labels: area/collectors, area/build, collectors/proc

#13808 bump go.d.plugin v0.40.4
  health/health.d/dns_query.conf
  health/health.d/pihole.conf
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging, area/health

#13810 overload libc memory allocators with custom ones to trace all allocations
  Makefile.am
  collectors/apps.plugin/apps_plugin.c
  configure.ac
  daemon/main.c
  database/engine/datafile.c
  database/engine/journalfile.c
  database/engine/metadata_log/logfile.c
  database/engine/rrdengine.c
  libnetdata/libnetdata.c
  libnetdata/libnetdata.h
  ml/ml.cc
  web/api/web_api_v1.c
Labels: area/web, area/collectors, area/daemon, area/database, area/ml, area/build, collectors/apps

#13772 dbengine free from RRDSET and RRDDIM
  .lgtm.yml
  CMakeLists.txt
  aclk/aclk_query.c
  collectors/statsd.plugin/statsd.c
  configure.ac
  daemon/unit_test.c
  database/engine/journalfile.c
  database/engine/pagecache.c
  database/engine/pagecache.h
  database/engine/rrddiskprotocol.h
  database/engine/rrdengine.c
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
  database/engine/rrdengineapi.h
  database/engine/rrdenginelib.c
  database/engine/rrdenginelib.h
  database/ram/rrddim_mem.c
  database/ram/rrddim_mem.h
  database/rrd.h
  database/rrddim.c
  database/rrdset.c
  database/sqlite/sqlite_functions.c
  database/sqlite/sqlite_functions.h
  database/storage_engine.c
  database/storage_engine.h
  exporting/process_data.c
  libnetdata/clocks/clocks.c
  libnetdata/log/log.c
  libnetdata/storage_number/storage_number.c
  ml/Query.h
  streaming/receiver.c
  web/api/formatters/rrd2json.c
  web/api/queries/query.c
  web/api/tests/valid_urls.c
  web/api/tests/web_api.c
  web/api/web_api_v1.c
  web/server/web_client.c
Labels: area/web, area/exporting, area/collectors, area/daemon, area/database, area/streaming, area/tests, area/ACLK, area/ml, area/build, collectors/statsd

#13788 allow disabling netdata monitoring section of the dashboard
  aclk/aclk.c
  collectors/apps.plugin/apps_plugin.c
  collectors/checks.plugin/plugin_checks.c
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf_cachestat.c
  collectors/ebpf.plugin/ebpf_dcstat.c
  collectors/ebpf.plugin/ebpf_disk.c
  collectors/ebpf.plugin/ebpf_fd.c
  collectors/ebpf.plugin/ebpf_filesystem.c
  collectors/ebpf.plugin/ebpf_hardirq.c
  collectors/ebpf.plugin/ebpf_mdflush.c
  collectors/ebpf.plugin/ebpf_mount.c
  collectors/ebpf.plugin/ebpf_process.c
  collectors/ebpf.plugin/ebpf_shm.c
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_softirq.c
  collectors/ebpf.plugin/ebpf_swap.c
  collectors/ebpf.plugin/ebpf_sync.c
  collectors/ebpf.plugin/ebpf_vfs.c
  collectors/statsd.plugin/statsd.c
  daemon/global_statistics.c
  daemon/global_statistics.h
  daemon/main.c
  daemon/static_threads.c
  daemon/static_threads.h
  daemon/static_threads_linux.c
  exporting/send_internal_metrics.c
Labels: area/exporting, area/collectors, area/daemon, area/ACLK, collectors/ebpf, collectors/apps, collectors/statsd

#13755 Count currently streaming senders on the localhost
  aclk/aclk.c
  aclk/aclk.h
  database/rrd.h
  database/rrdhost.c
  streaming/receiver.c
Labels: area/database, area/streaming, area/ACLK

#13243 Fix existing install detection for FreeBSD and macOS.
  packaging/installer/kickstart.sh
Labels: area/packaging

#13765 Update fping plugin documentation with better details about the required version.
  collectors/fping.plugin/README.md
Labels: area/docs, area/collectors, collectors/fping

#13816 Fix exporting unit tests
  exporting/tests/netdata_doubles.c
  exporting/tests/test_exporting_engine.c
  exporting/tests/test_exporting_engine.h
Labels: area/exporting

#13821 Fix crash on child reconnect and lost metrics
  database/engine/rrdengineapi.c
Labels: area/database

#13819 Remove NFS readahead histogram
  collectors/proc.plugin/proc_net_rpc_nfsd.c
Labels: area/collectors, collectors/proc

#13791 Add variants of functions allowing callers to specify the time to use.
  database/rrd.h
  database/rrddim.c
  database/rrdset.c
Labels: area/database

#13812 Add a CodeQL analysis workflow.
  .github/codeql/python-config.yml
  .github/workflows/codeql.yml
Labels: area/ci, no changelog, ci/codeql

#13822 extended processes function info from apps.plugin
  collectors/apps.plugin/apps_plugin.c
Labels: area/collectors, collectors/apps

#13783 Add a thread to asynchronously process metadata updates
  CMakeLists.txt
  Makefile.am
  claim/claim.c
  collectors/plugins.d/pluginsd_parser.c
  configure.ac
  daemon/global_statistics.c
  daemon/main.c
  daemon/service.c
  daemon/unit_test.c
  database/engine/Makefile.am
  database/engine/metadata_log/Makefile.am
  database/engine/metadata_log/compaction.c
  database/engine/metadata_log/compaction.h
  database/engine/metadata_log/logfile.c
  database/engine/metadata_log/logfile.h
  database/engine/metadata_log/metadatalog.h
  database/engine/metadata_log/metadatalogapi.c
  database/engine/metadata_log/metadatalogapi.h
  database/engine/metadata_log/metadatalogprotocol.h
  database/engine/metadata_log/metalogpluginsd.c
  database/engine/metadata_log/metalogpluginsd.h
  database/engine/rrdengine.c
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
  database/rrd.h
  database/rrddim.c
  database/rrdhost.c
  database/rrdlabels.c
  database/rrdset.c
  database/sqlite/sqlite_aclk.c
  database/sqlite/sqlite_aclk.h
  database/sqlite/sqlite_db_migration.c
  database/sqlite/sqlite_functions.c
  database/sqlite/sqlite_functions.h
  database/sqlite/sqlite_metadata.c
  database/sqlite/sqlite_metadata.h
  libnetdata/log/log.h
  streaming/receiver.c
Labels: area/collectors, area/daemon, area/database, area/tests, area/claim, area/ACLK, area/build, collectors/plugins.d

#13826 chore(health): rm pihole_blocklist_gravity_file_existence_state
  health/health.d/pihole.conf
Labels: area/health

#13774 Further improvements to the new service installation code.
  packaging/installer/functions.sh
  system/install-service.sh.in
Labels: area/packaging

#13818 Add PR labels to force running Reviewdog checks.
  .github/workflows/review.yml
Labels: area/ci, no changelog, ci/actionlint, ci/eslint, ci/hadolint, ci/shellcheck, ci/yamllint

#13842 Fix service installation on FreeBSD.
  system/install-service.sh.in
Labels: area/packaging

#13844 fix tiers update frequency
  database/rrddim.c
  database/rrdset.c
Labels: area/database

#13839 Use PR label to trigger full packaging CI instead of PR body contents.
  .github/workflows/packaging.yml
Labels: area/ci, no changelog, ci/packaging

#13849 Change CI trigger label prefix from `ci/` to `run-ci/`.
  .github/workflows/codeql.yml
  .github/workflows/packaging.yml
  .github/workflows/review.yml
Labels: area/ci, no changelog

#13797 Fix runtime directory ownership when installed as non-root user.
  system/netdata-freebsd.in
  system/netdata-init-d.in
  system/netdata-lsb.in
  system/netdata-openrc.in
Labels: area/packaging

#13802 Properly propagate errors from installer/updater to kickstart script.
  packaging/installer/functions.sh
  packaging/installer/kickstart.sh
  packaging/installer/netdata-updater.sh
Labels: area/packaging

#13848 Properly guard commands when installing services for offline service managers.
  system/install-service.sh.in
Labels: area/packaging

#13712 Health thread per host
  aclk/aclk.c
  aclk/aclk.h
  daemon/main.c
  daemon/static_threads.c
  database/rrd.h
  database/rrdhost.c
  database/sqlite/sqlite_aclk_alert.c
  database/sqlite/sqlite_health.c
  health/health.c
  health/health.h
  health/health_config.c
  libnetdata/log/log.c
  libnetdata/log/log.h
  streaming/receiver.c
Labels: area/health, area/daemon, area/database, area/streaming, area/ACLK

#13853 fix typo
  collectors/python.d.plugin/pandas/README.md
Labels: area/docs, area/collectors, collectors/python.d

#13850 Retry reading carrier, duplex, and speed files periodically
  collectors/proc.plugin/proc_net_dev.c
Labels: area/collectors, collectors/proc

#13861 bump go.d.plugin to v0.41.0
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#13863 add ACLK access to ml_info (fix anomalies tab in cloud)
  web/api/web_api_v1.c
Labels: area/web

#13864 Update step-09 for dbmode update.md
  docs/guides/step-by-step/step-09.md
Labels: area/docs

#13866 fix(cgroup.plugin): handle qemu-1- prefix when extracting virsh domain
  collectors/cgroups.plugin/cgroup-network-helper.sh
Labels: area/collectors, collectors/cgroups

#13697 QUERY_TARGET: new query engine for Netdata Agent
  daemon/global_statistics.c
  daemon/main.c
  daemon/service.c
  daemon/unit_test.c
  database/engine/rrdengineapi.c
  database/engine/rrdengineapi.h
  database/ram/rrddim_mem.c
  database/ram/rrddim_mem.h
  database/rrd.h
  database/rrdcontext.c
  database/rrdcontext.h
  database/rrddim.c
  database/rrdfunctions.c
  database/rrdfunctions.h
  database/rrdhost.c
  database/rrdlabels.c
  database/rrdset.c
  database/sqlite/sqlite_context.c
  database/sqlite/sqlite_context.h
  database/sqlite/sqlite_metadata.c
  database/storage_engine.c
  database/storage_engine.h
  exporting/process_data.c
  libnetdata/required_dummies.h
  libnetdata/simple_pattern/simple_pattern.h
  libnetdata/threads/threads.c
  ml/ADCharts.cc
  ml/Query.h
  ml/ml.cc
  web/api/formatters/csv/csv.c
  web/api/formatters/csv/csv.h
  web/api/formatters/json/json.c
  web/api/formatters/json/json.h
  web/api/formatters/json_wrapper.c
  web/api/formatters/json_wrapper.h
  web/api/formatters/rrd2json.c
  web/api/formatters/rrd2json.h
  web/api/formatters/ssv/ssv.c
  web/api/formatters/ssv/ssv.h
  web/api/formatters/value/value.c
  web/api/formatters/value/value.h
  web/api/netdata-swagger.json
  web/api/netdata-swagger.yaml
  web/api/queries/query.c
  web/api/queries/rrdr.c
  web/api/queries/rrdr.h
  web/api/queries/weights.c
  web/api/queries/weights.h
  web/api/web_api_v1.c
  web/api/web_api_v1.h
Labels: area/web, area/exporting, area/daemon, area/database, area/tests, area/ml, run-ci/codeql

#13854 Use llvm's ar and ranlib when compiling with clang
  configure.ac
Labels: area/build

#13834 Use mmap to read an extent from a datafile
  database/engine/rrdengine.c
  database/engine/rrdengine.h
Labels: area/database

#13856 app to api netdata cloud
  aclk/README.md
  claim/README.md
  claim/netdata-claim.sh.in
  daemon/README.md
  docs/guides/troubleshoot/troubleshooting-agent-with-cloud-connection.md
  health/notifications/alarm-notify.sh.in
  libnetdata/libnetdata.h
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart.md
  packaging/installer/methods/macos.md
  tests/alarm_repetition/netdata.conf_with_repetition
  tests/alarm_repetition/netdata.conf_without_repetition
Labels: area/packaging, area/docs, area/health, area/daemon, area/tests, area/claim, area/ACLK

#13874 bump go.d.plugin v0.41.1
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#13835 Cassandra dashboard description
  web/gui/dashboard_info.js
Labels: area/web

#13869 Store hidden status when creating / updating dimension metadata
  database/sqlite/sqlite_metadata.c
Labels: area/database

#13879 allow single chart to be filtered in context queries
  web/api/web_api_v1.c
Labels: area/web

#13871 Don't create a REMOVED alert event after a REMOVED.
  database/rrdcalc.c
Labels: area/database

#13880 apps.plugin function processes cosmetic changes
  collectors/apps.plugin/apps_plugin.c
Labels: area/collectors, collectors/apps

#13115 Assorted cleanup in the OpenRC init script.
  system/netdata-openrc.in
Labels: area/packaging

#13875 Suppress ML and dlib ABI warnings
  Makefile.am
Labels: area/build

#13882 Fix typo in CI distribution data file.
  .github/data/distros.yml
Labels: area/ci, no changelog

#13876 Use print macros
  collectors/apps.plugin/apps_plugin.c
  daemon/unit_test.c
  database/rrdcontext.c
  database/sqlite/sqlite_metadata.c
  libnetdata/clocks/clocks.c
  libnetdata/dictionary/dictionary.c
  libnetdata/string/string.c
  web/api/formatters/json_wrapper.c
  web/api/queries/query.c
  web/api/queries/weights.c
  web/api/web_api_v1.c
Labels: area/web, area/collectors, area/daemon, area/database, area/tests, collectors/apps

#13878 Add description for TCP WMI
  docs/collect/system-metrics.md
  web/gui/dashboard_info.js
Labels: area/docs, area/web

#13887 Fix duplicate error code in kickstart.sh.
  packaging/installer/kickstart.sh
Labels: area/packaging, no changelog

#13886 filtering out charts in context queries, includes them in full_xxx variables
  database/rrdcontext.c
Labels: area/database

#13889 tune rrdcontext timings
  database/rrdcontext.c
Labels: area/database

#13893 fix(proc.plugin): fix read retry logic when reading interface speed
  collectors/proc.plugin/proc_net_dev.c
Labels: area/collectors, collectors/proc

#13894 Fix reading health "enable" from the configuration
  database/rrdhost.c
  health/health.c
Labels: area/health, area/database

#13895 add pandas collector to collectors.md
  collectors/COLLECTORS.md
Labels: area/docs, area/collectors

#13892 Record installation command in telemetry events.
  packaging/installer/kickstart.sh
Labels: area/packaging

#13903 bump go.d.plugin v0.41.2
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#13824 Remove option to use MQTT 3
  aclk/README.md
  aclk/aclk.c
  aclk/aclk.h
  aclk/aclk_alarm_api.c
  aclk/aclk_query_queue.c
  aclk/aclk_tx_msgs.c
Labels: area/docs, area/ACLK

#13907 Reference the bash collector for RPi
  collectors/python.d.plugin/sensors/README.md
Labels: area/docs, area/collectors, collectors/python.d

#13906 Improve intro paragraph
  collectors/charts.d.plugin/sensors/README.md
Labels: area/docs, area/collectors, collectors/charts.d

#13899 apps.plugin function add max value on all value columns
  collectors/apps.plugin/apps_plugin.c
Labels: area/collectors, collectors/apps

#13890 Prompt users about updates/claiming on unknown install types.
  packaging/installer/kickstart.sh
Labels: area/packaging

#13911 timeframe matching should take into account the update frequency of the chart
  database/rrdcontext.c
Labels: area/database

#13912 do not free hosts if a change on db mode is not needed
  database/rrdhost.c
Labels: area/database

#13913 bump go.d.plugin to v0.42.0
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#13909 feat(packaging): add CAP_NET_RAW to go.d.plugin
  contrib/debian/netdata.postinst
  netdata-installer.sh
  netdata.spec.in
  packaging/makeself/install-or-update.sh
Labels: area/packaging

#13873 Replication of metrics (gaps filling) during streaming
  CMakeLists.txt
  Makefile.am
  collectors/apps.plugin/apps_plugin.c
  collectors/plugins.d/plugins_d.c
  collectors/plugins.d/plugins_d.h
  collectors/plugins.d/pluginsd_parser.c
  collectors/plugins.d/pluginsd_parser.h
  collectors/statsd.plugin/statsd.c
  collectors/tc.plugin/plugin_tc.c
  daemon/static_threads_macos.c
  daemon/unit_test.c
  database/rrd.h
  database/rrdcontext.c
  database/rrdhost.c
  database/rrdset.c
  database/sqlite/sqlite_aclk.c
  libnetdata/libnetdata.c
  libnetdata/libnetdata.h
  libnetdata/log/log.c
  libnetdata/log/log.h
  libnetdata/socket/security.h
  libnetdata/socket/socket.c
  parser/parser.c
  parser/parser.h
  streaming/receiver.c
  streaming/replication.c
  streaming/replication.h
  streaming/rrdpush.c
  streaming/rrdpush.h
  streaming/sender.c
  streaming/stream.conf
Labels: area/collectors, area/daemon, area/database, area/streaming, area/tests, area/ACLK, area/build, collectors/apps, collectors/statsd, collectors/tc, collectors/plugins.d

#13920 fix crash on query plan switch
  web/api/queries/query.c
Labels: area/web
