Repository netdata/netdata, pull requests merged in 2022-02, with the labels that each got.

#11801 Replace CentOS 8 with RockyLinux 8 in CI and package builds.
  .github/data/build-matrix.json
  .github/scripts/pkg-test.sh
  .github/workflows/packaging.yml
  .github/workflows/repoconfig-packages.yml
  packaging/installer/install-required-packages.sh
Labels: area/ci, area/packaging

#11944 Updated formatting issues and copy
  health/notifications/alerta/README.md
Labels: area/docs, area/health

#12048 Fix compilation errors for OpenSSL on macOS
  netdata-installer.sh
  packaging/installer/install-required-packages.sh
  packaging/installer/methods/macos.md
Labels: area/packaging, area/docs, data-collection-mteam

#12074 Fix aclk_kill_link reconnect endless loop
  aclk/aclk.c
Labels: ACLK

#12057 Docs install cleanup
  README.md
  claim/README.md
  docs/guides/export/export-netdata-metrics-graphite.md
  docs/guides/monitor/lamp-stack.md
  docs/guides/monitor/pi-hole-raspberry-pi.md
  docs/guides/step-by-step/step-00.md
  docs/guides/step-by-step/step-09.md
  exporting/WALKTHROUGH.md
  exporting/prometheus/README.md
  packaging/installer/methods/kickstart.md
  packaging/installer/methods/macos.md
  packaging/installer/methods/source.md
  web/api/exporters/prometheus/README.md
Labels: area/packaging, area/docs, area/web, area/exporting, area/claim

#12079 docs: improve "Docker container names resolution" section
  packaging/docker/README.md
Labels: area/packaging, area/docs

#12080 Remove mention of libJudy in installation documentation for macOS
  packaging/installer/methods/macos.md
Labels: area/packaging, area/docs, data-collection-mteam

#12085 disable_ebpf_socket: Disable thread while race condition is fixed
  collectors/ebpf.plugin/ebpf.d.conf
Labels: area/collectors

#12081 add native installation for rockylinux
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart.md
Labels: area/packaging, area/docs

#12086 docs: add a note that the "Install Netdata on Synology" is maintained by community
  packaging/installer/methods/synology.md
Labels: area/packaging, area/docs

#12087 Make a lack of an os-release file non-fatal on install.
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart.md
Labels: area/packaging, area/docs

#12098 Docs improvement: Added interactive kickstart scripts where possible
  docs/guides/export/export-netdata-metrics-graphite.md
  docs/guides/monitor/lamp-stack.md
  docs/guides/monitor/pi-hole-raspberry-pi.md
  docs/guides/step-by-step/step-00.md
  exporting/prometheus/README.md
  packaging/installer/README.md
  packaging/installer/methods/kickstart.md
Labels: area/packaging, area/docs, area/exporting

#12094 Update ml/ code owners.
  .github/CODEOWNERS
Labels: area/ci

#11961 Posix
  netdata-installer.sh
  packaging/installer/functions.sh
Labels: area/packaging

#12103 Remove ACLK legacy documentation
  aclk/README.md
Labels: area/docs, ACLK

#12106 Docs fix: Match the new install box component name
  docs/get-started.mdx
Labels: area/docs

#12088 Add info about installer interactivity to anonymous installer telemetry events.
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart.md
Labels: area/packaging, area/docs

#12089 Properly handle non-interactive installs as non-root users.
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart.md
Labels: area/packaging, area/docs

#12102 Update repoconfig package build workflow to run on PRs and pushes.
  .github/workflows/repoconfig-packages.yml
Labels: area/ci, no changelog

#12100 Fix handling of Oracle Linux repoconfig packages.
  packaging/repoconfig/netdata-edge.repo.ol
  packaging/repoconfig/netdata-repo.spec
  packaging/repoconfig/netdata.repo.ol
Labels: area/packaging, no changelog

#12101 Add proper support for Oracle Linux native packages to installer.
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart.md
Labels: area/packaging, area/docs

#12065 Adds legacy protocol deprecation banner to agent log
  aclk/aclk.c
Labels: ACLK

#12110 Decouple the install detection code from the handling code for existing installs.
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart.md
Labels: area/packaging, area/docs, no changelog

#12119 add feature request form
  .github/ISSUE_TEMPLATE/BUG_REPORT.yml
  .github/ISSUE_TEMPLATE/FEAT_REQUEST.yml
Labels: area/ci, no changelog

#12092 Update syntax for Caddy v2
  packaging/docker/README.md
Labels: area/packaging, area/docs

#12131 docs: rename kickstart install badges units
  packaging/installer/methods/kickstart.md
Labels: area/packaging, area/docs

#12126 rename DO_NOT_TRACK to DISABLE_TELEMETRY
  .github/dockerfiles/Dockerfile.build_test
  .github/scripts/run_install_with_dist_file.sh
  .github/workflows/build.yml
  .github/workflows/checks.yml
  .github/workflows/coverity.yml
  .github/workflows/dashboard-pr.yml
  .github/workflows/docker.yml
  .github/workflows/docs.yml
  .github/workflows/labeler.yml
  .github/workflows/packaging.yml
  .github/workflows/repoconfig-packages.yml
  .github/workflows/review.yml
  .github/workflows/tests.yml
  daemon/anonymous-statistics.sh.in
  docs/anonymous-statistics.md
  netdata-installer.sh
  packaging/docker/Dockerfile
  packaging/docker/run.sh
  packaging/installer/kickstart.sh
  packaging/installer/methods/freebsd.md
  packaging/installer/methods/kickstart.md
  packaging/makeself/install-or-update.sh
  packaging/makeself/makeself-help-header.txt
Labels: area/ci, area/packaging, area/docs, area/daemon

#12142 Documentation: Fixed broken links
  claim/README.md
  docs/guides/step-by-step/step-99.md
  packaging/installer/methods/kickstart.md
  packaging/installer/methods/macos.md
Labels: area/packaging, area/docs, area/claim

#12138 Fix typo in ZFS ARC Cache size info
  web/gui/dashboard_info.js
Labels: area/web

#12148 kickstart.sh: fix quoting for globbing
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart.md
Labels: area/packaging, area/docs

#11807 Consolidate build matrix across CI jobs.
  .github/data/build-matrix.json
  .github/data/distros.yml
  .github/workflows/build.yml
  .github/workflows/packaging.yml
  .github/workflows/repoconfig-packages.yml
Labels: area/ci, area/packaging, no changelog

#12162 fix: CPU frequency calculation in system-info.sh
  daemon/system-info.sh
Labels: area/daemon

#12136 Fix data query option allow_past to correctly work in memory mode ram and save
  web/api/queries/query.c
Labels: area/web

#12129 Fix the format=array output in context queries
  web/api/formatters/rrd2json.c
  web/api/formatters/ssv/ssv.c
  web/api/formatters/ssv/ssv.h
  web/api/formatters/value/value.c
  web/api/formatters/value/value.h
Labels: area/web

#12134 Improve messaging around unknown install handling in kickstart script.
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart.md
Labels: area/packaging, area/docs

#11834 Show the number of processes/threads for empty apps groups
  collectors/apps.plugin/apps_plugin.c
Labels: area/collectors, data-collection-mteam

#12078 feat(apps.plugin): group Apple Filing Protocol daemons into `afp` group
  collectors/apps.plugin/apps_groups.conf
Labels: area/collectors

#12164 Fix alerts to raise correctly when the delay and repeat parameters are used together.
  health/health.c
Labels: area/health

#12161 Docs fix: Claim nodes in the kickstart script
  packaging/installer/methods/kickstart.md
Labels: area/packaging, area/docs

#12163 fix: claiming with wget
  claim/netdata-claim.sh.in
Labels: area/claim

#12143 Docs: Improved kickstart's cloud installation docs
  packaging/installer/methods/kickstart.md
Labels: area/packaging, area/docs

#12040 adds install method to /api/v1/info as label
  daemon/analytics.c
  daemon/buildinfo.c
  daemon/buildinfo.h
  daemon/main.c
  database/rrd.h
  database/rrdhost.c
Labels: area/daemon, area/database

#12182 Revert "Overhaul handling of auto-updates in the installer code. (#12076
  contrib/debian/rules
  netdata-installer.sh
  netdata.spec.in
  packaging/installer/UPDATE.md
  packaging/installer/functions.sh
  packaging/installer/kickstart.sh
  packaging/installer/netdata-updater.sh
  packaging/makeself/install-or-update.sh
Labels: area/packaging, area/docs

#12183 Fix typos
  packaging/installer/dependencies/centos.sh
  packaging/installer/dependencies/fedora.sh
  packaging/installer/methods/kickstart.md
  streaming/README.md
  streaming/compression.c
  streaming/rrdpush.h
  streaming/stream.conf
  web/api/netdata-swagger.json
  web/api/netdata-swagger.yaml
Labels: area/packaging, area/docs, area/web, area/streaming

#12021 Create a removed alert event if chart goes obsolete
  health/health.c
Labels: area/health

#12191 fix(docs): unresolved file references
  claim/README.md
  docs/configure/nodes.md
  packaging/installer/methods/macos.md
Labels: area/packaging, area/docs, area/claim

#12082 Fix compilation warnings on macOS
  aclk/https_client.c
  collectors/macos.plugin/macos_fw.c
  collectors/macos.plugin/macos_sysctl.c
  daemon/daemon.c
  database/engine/journalfile.c
  database/rrdset.c
  libnetdata/libnetdata.h
  libnetdata/threads/threads.c
  web/api/queries/query.c
  web/server/web_client.c
Labels: area/web, area/collectors, area/daemon, area/database, ACLK, data-collection-mteam

#12184 fix(python.d/nvidia_smi): use uid when can't find the username
  collectors/python.d.plugin/nvidia_smi/nvidia_smi.chart.py
Labels: area/external/python, area/collectors

#12190 Update libs code
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf_apps.h
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_socket.h
  libnetdata/ebpf/ebpf.c
  libnetdata/ebpf/ebpf.h
  packaging/current_libbpf.checksums
  packaging/current_libbpf.version
  packaging/ebpf.checksums
  packaging/ebpf.version
  packaging/libbpf.checksums
  packaging/libbpf.version
Labels: area/packaging, area/collectors

#12067 Add serial numbers to chart names
  database/rrdset.c
Labels: area/database, data-collection-mteam

#12156 Update packaging CI to only run a limited set of jobs on PRs.
  .github/workflows/packaging.yml
Labels: area/ci

#12203 Properly check out the repo when running the packaging workflow on push.
  .github/workflows/packaging.yml
Labels: area/ci, no changelog

#12192 docs: document the issue with seccomp and claiming
  claim/README.md
Labels: area/docs, area/claim

#12206 Fix `hpssa` parse error
  collectors/python.d.plugin/hpssa/hpssa.chart.py
Labels: area/external/python, area/collectors

#12047 remove deprecated node.d modules
  .github/CODEOWNERS
  collectors/COLLECTORS.md
  collectors/node.d.plugin/Makefile.am
  collectors/node.d.plugin/fronius/Makefile.inc
  collectors/node.d.plugin/fronius/README.md
  collectors/node.d.plugin/fronius/fronius.node.js
  collectors/node.d.plugin/named/Makefile.inc
  collectors/node.d.plugin/named/README.md
  collectors/node.d.plugin/named/named.node.js
  collectors/node.d.plugin/node.d.conf
  collectors/node.d.plugin/sma_webbox/Makefile.inc
  collectors/node.d.plugin/sma_webbox/README.md
  collectors/node.d.plugin/sma_webbox/sma_webbox.node.js
  collectors/node.d.plugin/stiebeleltron/Makefile.inc
  collectors/node.d.plugin/stiebeleltron/README.md
  collectors/node.d.plugin/stiebeleltron/stiebeleltron.node.js
  health/Makefile.am
  health/QUICKSTART.md
  health/health.d/fronius.conf
  health/health.d/stiebeleltron.conf
  netdata-installer.sh
  tests/Makefile.am
  tests/README.md
  tests/node.d/fronius.chart.spec.js
  tests/node.d/fronius.parse.spec.js
  tests/node.d/fronius.process.spec.js
  tests/node.d/fronius.validation.spec.js
  tests/web/easypiechart.chart.spec.js
  tests/web/easypiechart.percentage.spec.js
  tests/web/fixtures/easypiechart.chart.fixture1.html
  tests/web/karma.conf.js
  tests/web/lib/jasmine-jquery.js
  web/gui/custom/README.md
  web/gui/dashboard_info.js
Labels: area/ci, area/packaging, area/docs, area/web, area/health, area/external, area/collectors, area/tests, area/build

#12208 Fix two small typos in documentation
  docs/anonymous-statistics.md
  docs/netdata-security.md
Labels: area/docs

#12211 Add -W keepopenfds option.
  daemon/main.c
Labels: area/daemon

#12044 Remove NETDATA_WITH_UUID def because it's not used anywhere.
  configure.ac
Labels: area/build

#12045 Remove unused NETDATA_NO_ATOMIC_INSTRUCTIONS macro
  aclk/aclk_util.c
  aclk/aclk_util.h
  daemon/global_statistics.c
Labels: area/daemon, ACLK

#12210 Skip info field in protobuf alerts messages if it doesn't exist.
  database/sqlite/sqlite_aclk_alert.c
  health/REFERENCE.md
Labels: area/docs, area/health, area/database

#11946 Update AWS SNS README.md
  health/notifications/awssns/README.md
Labels: area/docs, area/health

#12046 Remove SIZEOF_VOIDP and ENVIRONMENT{32,64} macros.
  configure.ac
  libnetdata/buffer/buffer.c
  libnetdata/libnetdata.h
Labels: area/build

#12213 Update github's code owners configuration.
  .github/CODEOWNERS
Labels: area/ci

#12209 Remove chart specific configuration from netdata.conf except enabled
  database/rrd.c
  database/rrddim.c
  database/rrdset.c
Labels: area/database

#12201 Improve cleaning up of orphan hosts
  daemon/service.c
  database/rrdhost.c
  database/sqlite/sqlite_aclk.c
  database/sqlite/sqlite_aclk.h
Labels: area/daemon, area/database

#11940 Add `--no-same-owner` to `tar xf` in installer
  netdata-installer.sh
Labels: area/packaging

#11777 Assorted CI cleanup.
  .github/workflows/build.yml
  .github/workflows/coverity.yml
  .github/workflows/dashboard-pr.yml
  .github/workflows/docker.yml
  .github/workflows/packaging.yml
  .github/workflows/repoconfig-packages.yml
Labels: area/ci, no changelog

#12212 Skip training of constant metrics.
  ml/Dimension.cc
  ml/Dimension.h
Labels: area/ml

#12196 Store dimension hidden option in the metadata db
  collectors/plugins.d/pluginsd_parser.c
  database/rrddim.c
  database/sqlite/sqlite_functions.c
  database/sqlite/sqlite_functions.h
Labels: area/collectors, area/database

#12018 minor - remove ACLK_NEWARCH_DEVMODE
  aclk/aclk.c
Labels: ACLK

#12230 minor - remove dead code
  daemon/main.c
Labels: area/daemon

#12083 Track anomaly rates with DBEngine.
  backends/backends.c
  database/rrd.h
  database/rrddim.c
  database/rrdhost.c
  database/rrdset.c
  database/sqlite/sqlite_aclk_node.c
  exporting/check_filters.c
  exporting/prometheus/prometheus.c
  ml/Config.cc
  ml/Config.h
  ml/Dimension.h
  ml/Host.cc
  ml/Host.h
  ml/ml-dummy.c
  ml/ml.cc
  ml/ml.h
  streaming/rrdpush.c
  web/api/formatters/rrd2json.c
  web/api/formatters/rrd2json.h
  web/api/web_api_v1.c
Labels: area/web, area/exporting, area/database, area/streaming, area/ml, area/backends

#12223 Fix node information send to the cloud for older agent versions
  database/sqlite/sqlite_aclk_node.c
Labels: area/database

#12036 Adds all query types to aclk_processed_query_type
  aclk/aclk_query.c
  aclk/aclk_query.h
  aclk/aclk_query_queue.c
  aclk/aclk_query_queue.h
  aclk/aclk_stats.c
  aclk/aclk_stats.h
Labels: ACLK

#12234 Fix handling of repository name in CI workflows.
  .github/workflows/packaging.yml
  .github/workflows/repoconfig-packages.yml
Labels: area/ci, no changelog

#12240 Fix builds where HAVE_C___ATOMIC is not defined.
  ml/Host.h
Labels: area/ml

#12241 Add a fix to correctly register child nodes to the cloud via a parent
  database/sqlite/sqlite_functions.c
Labels: area/database

#12167 Bundle protobuf on CentOS 7 and earlier.
  netdata.spec.in
  packaging/bundle-protobuf.sh
Labels: area/packaging

#12244 Add a check to make sure internal chart state is initialized
  web/api/formatters/rrd2json.c
Labels: area/web

#12220 Fixed typo in docs/guides/monitor/anomaly-detection-python.md file
  docs/guides/monitor/anomaly-detection-python.md
Labels: area/docs

#12242 eBPF installation fixes
  netdata-installer.sh
Labels: area/packaging

#11969 Adds chart for incoming proto msgs in new cloud protocol
  aclk/aclk.c
  aclk/aclk_rx_msgs.c
  aclk/aclk_rx_msgs.h
  aclk/aclk_stats.c
  aclk/aclk_stats.h
Labels: ACLK

#12263 Docs: Fix typo in step-10.md
  docs/guides/step-by-step/step-10.md
Labels: area/docs

#10201 netdata.service: unbreak Samba plugin
  system/netdata.service.in
Labels: area/packaging

#12266 Null terminate decoded_query_string if there are no url parameters.
  web/server/web_client.c
Labels: area/web

#12265 delete package.json
  .github/CODEOWNERS
  Makefile.am
  package-lock.json
  package.json
Labels: area/ci, area/build
