Repository netdata/netdata, pull requests merged in 2022-01, with the labels that each got.

#11841 Removes ACLK Legacy
  .github/workflows/build.yml
  CMakeLists.txt
  Makefile.am
  aclk/aclk.c
  aclk/aclk.h
  aclk/aclk_api.c
  aclk/legacy/Makefile.am
  aclk/legacy/aclk_common.c
  aclk/legacy/aclk_common.h
  aclk/legacy/aclk_lws_https_client.c
  aclk/legacy/aclk_lws_https_client.h
  aclk/legacy/aclk_lws_wss_client.c
  aclk/legacy/aclk_lws_wss_client.h
  aclk/legacy/aclk_query.c
  aclk/legacy/aclk_query.h
  aclk/legacy/aclk_rx_msgs.c
  aclk/legacy/aclk_rx_msgs.h
  aclk/legacy/aclk_stats.c
  aclk/legacy/aclk_stats.h
  aclk/legacy/agent_cloud_link.c
  aclk/legacy/agent_cloud_link.h
  aclk/legacy/mqtt.c
  aclk/legacy/mqtt.h
  aclk/legacy/tests/fake-charts.d.plugin
  aclk/legacy/tests/install-fake-charts.d.sh.in
  aclk/legacy/tests/launch-paho.sh
  aclk/legacy/tests/paho-inspection.py
  aclk/legacy/tests/paho.Dockerfile
  configure.ac
  contrib/debian/rules
  daemon/analytics.c
  daemon/buildinfo.c
  netdata-installer.sh
  netdata.spec.in
  packaging/bundle-lws.sh
  packaging/bundle-mosquitto.sh
  packaging/libwebsockets.checksums
  packaging/libwebsockets.version
  packaging/mosquitto.checksums
  packaging/mosquitto.version
  web/api/web_api_v1.c
Labels: area/ci, area/packaging, area/web, area/daemon, ACLK, area/build

#11811 Optimize rx msg name resolution
  aclk/aclk.c
  aclk/aclk_rx_msgs.c
  aclk/aclk_rx_msgs.h
Labels: ACLK

#11851 Remove Ubuntu 21.04 from CI and packaging.
  .github/data/build-matrix.json
  .github/workflows/packaging.yml
  .github/workflows/repoconfig-packages.yml
Labels: area/ci

#11937 Fix error in configure.ac
  configure.ac
Labels: area/build

#11891 add bug report form
  .github/ISSUE_TEMPLATE/BUG_REPORT.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  README.md
  claim/README.md
  collectors/REFERENCE.md
  docs/dashboard/import-export-print-snapshot.mdx
  docs/export/external-databases.md
  docs/guides/collect-unbound-metrics.md
  docs/guides/monitor-cockroachdb.md
  docs/guides/monitor-hadoop-cluster.md
  docs/guides/using-host-labels.md
  packaging/installer/REINSTALL.md
Labels: area/ci, area/packaging, area/docs, area/collectors, no changelog, area/claim

#11797 fix tps decode, add memory usage chart
  collectors/python.d.plugin/spigotmc/spigotmc.chart.py
Labels: area/external/python, area/collectors

#11815 Postgres: use block_size instead of 8*1024
  collectors/python.d.plugin/postgres/postgres.chart.py
Labels: area/external/python, area/collectors

#11816 Postgres: mat. views considered as tables in table size/count chart
  collectors/python.d.plugin/postgres/postgres.chart.py
Labels: area/external/python, area/collectors

#11833 Fix cachestat on kernel 5.15.x (eBPF)
  collectors/ebpf.plugin/ebpf_mdflush.c
  libnetdata/ebpf/ebpf.c
  libnetdata/ebpf/ebpf.h
  packaging/ebpf.checksums
  packaging/ebpf.version
Labels: area/packaging, area/collectors

#11846 Fix compilation warnings
  database/sqlite/sqlite_aclk_alert.c
  database/sqlite/sqlite_aclk_chart.c
  ml/ml-dummy.c
Labels: area/database, ACLK, area/ml

#11883 Fix unit tests for Prometheus remote write exporting connector
  exporting/prometheus/remote_write/remote_write_request.cc
  exporting/prometheus/remote_write/remote_write_request.h
  exporting/tests/test_exporting_engine.c
Labels: area/exporting, no changelog, data-collection-mteam

#11872 Update dependencies for the pubsub exporting connector
  CMakeLists.txt
  configure.ac
  exporting/pubsub/README.md
  exporting/pubsub/pubsub_publish.cc
  netdata-installer.sh
Labels: area/packaging, area/docs, area/exporting, area/build, data-collection-mteam

#11867 Don't check for symbols in libaws-cpp-sdk-core
  configure.ac
Labels: area/build, data-collection-mteam

#11865 Update libbpf
  packaging/current_libbpf.checksums
  packaging/current_libbpf.version
  packaging/libbpf.checksums
  packaging/libbpf.version
Labels: area/packaging

#11753 Add support to updater for updating native DEB/RPM installs with our official packages.
  packaging/installer/netdata-updater.sh
Labels: area/packaging, priority/high

#11947 fix retrieving service commands without failure
  packaging/installer/functions.sh
Labels: area/packaging

#11948 Fix a broken link in dashboard_info.js
  web/gui/dashboard_info.js
Labels: area/web

#11862 Fix cmake build
  CMakeLists.txt
  backends/prometheus/remote_write/remote_write.cc
Labels: area/build, area/backends

#11850 Allow PushBullet notifications to be sent to PushBullet channels
  health/notifications/alarm-notify.sh.in
  health/notifications/pushbullet/README.md
Labels: area/docs, area/health

#11897 Fix time_t format
  collectors/proc.plugin/sys_class_infiniband.c
  daemon/unit_test.c
  database/rrdset.c
  health/health.c
  health/health_log.c
  libnetdata/log/log.c
  streaming/receiver.c
  streaming/rrdpush.c
  streaming/sender.c
  web/api/exporters/shell/allmetrics_shell.c
  web/api/formatters/rrdset2json.c
  web/api/web_api_v1.c
Labels: area/web, area/health, area/collectors, area/daemon, area/database, area/streaming, area/tests, data-collection-mteam

#11866 ACLK-NG remove 'cmd' switch by message type
  aclk/aclk.c
  aclk/aclk_rx_msgs.c
  aclk/aclk_rx_msgs.h
Labels: ACLK

#11928 Try to find worker config thread from inactive threads for new architecture
  database/sqlite/sqlite_aclk.c
  database/sqlite/sqlite_aclk.h
  database/sqlite/sqlite_aclk_alert.c
  database/sqlite/sqlite_aclk_chart.c
Labels: area/database

#11950 fix: add a note that netfilter's `new` and `ignore` counters are removed in the latest kernel
  web/gui/dashboard_info.js
Labels: area/web

#11956 python.d/nvidia_smi: add bar1 chart
  collectors/python.d.plugin/nvidia_smi/nvidia_smi.chart.py
Labels: area/external/python, area/collectors

#11952 fix(nfacct.plugin): Netfilter accounting charts priority
  collectors/nfacct.plugin/plugin_nfacct.c
Labels: area/collectors

#11951 fix(nfacct.plugin): Netfilter accounting data collection
  system/netdata.service.in
Labels: area/packaging

#11958 Add a missing capability for the perf plugin
  system/netdata.service.in
Labels: area/packaging, data-collection-mteam

#11842 Send the cloud protocol used to posthog
  daemon/analytics.c
  daemon/analytics.h
  daemon/anonymous-statistics.sh.in
  web/api/web_api_v1.c
Labels: area/web, area/daemon

#11959 Updated SNMP v3 documentation
  collectors/node.d.plugin/snmp/README.md
Labels: area/docs, area/external, area/collectors

#11960 Find host and pass host->health_enabled to cloud AlarmLogHealth message
  database/sqlite/sqlite_aclk_alert.c
Labels: area/database

#11964 Remove bitfields from rrdhost.
  database/rrd.h
Labels: area/database

#11876 Use absolute features when doing training/prediction.
  ml/kmeans/SamplesBuffer.h
Labels: area/ml

#11943 Fixed formatting
  collectors/statsd.plugin/README.md
Labels: area/docs, area/collectors

#11970 Fixes Wrong Chart Description
  aclk/aclk_query_queue.c
  aclk/aclk_stats.c
  aclk/aclk_stats.h
Labels: ACLK

#11965 Perform a host metadata update on child reconnection
  streaming/receiver.c
Labels: area/streaming

#11973 Fixes coverity 374746
  database/sqlite/sqlite_aclk_alert.c
Labels: area/database

#11979 fix(python.d): ignore decoding errors in ExecutableService
  collectors/python.d.plugin/python_modules/bases/FrameworkServices/ExecutableService.py
Labels: area/external/python, area/collectors

#11793 Add localhost hostname to the edit_command
  database/sqlite/sqlite_aclk_alert.c
  health/health.c
  health/health_config.c
  health/health_json.c
  health/notifications/alarm-notify.sh.in
Labels: area/health, area/database

#11986 fix(updater): checksum validation for static build
  packaging/installer/netdata-updater.sh
Labels: area/packaging

#11988 remove "component" from PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: area/ci, area/docs, no changelog

#11971 Use libnetdata/required_dummies.h in collectors.
  collectors/apps.plugin/apps_plugin.c
  collectors/cgroups.plugin/cgroup-network.c
  collectors/cups.plugin/cups_plugin.c
  collectors/ebpf.plugin/ebpf.c
  collectors/freeipmi.plugin/freeipmi_plugin.c
  collectors/nfacct.plugin/plugin_nfacct.c
  collectors/perf.plugin/perf_plugin.c
  collectors/slabinfo.plugin/slabinfo.c
  collectors/xenstat.plugin/xenstat_plugin.c
  tests/profile/test-eval.c
Labels: area/collectors, area/tests

#11967 Do not use dbengine headers when dbengine is disabled.
  CMakeLists.txt
  Makefile.am
  configure.ac
  daemon/commands.c
  daemon/unit_test.c
  database/engine/pagecache.c
  database/engine/rrdengine.c
  database/engine/rrdengineapi.c
  database/engine/rrdenginelib.h
  libnetdata/Makefile.am
  libnetdata/completion/Makefile.am
  libnetdata/completion/completion.c
  libnetdata/completion/completion.h
  libnetdata/libnetdata.h
  spawn/spawn.c
  spawn/spawn_client.c
Labels: area/daemon, area/database, area/tests, area/build

#11945 Fix yum config-manager check
  packaging/installer/install-required-packages.sh
Labels: area/packaging

#11990 Included link to charts.d example
  collectors/charts.d.plugin/example/README.md
Labels: area/docs, area/external, area/collectors

#11994 Fix ib counters
  collectors/proc.plugin/sys_class_infiniband.c
Labels: area/collectors

#11764 Initial release of new kickstart script.
  .github/scripts/run-updater-check.sh
  .github/workflows/build.yml
  packaging/DISTRIBUTIONS.md
  packaging/PLATFORM_SUPPORT.md
  packaging/installer/README.md
  packaging/installer/REINSTALL.md
  packaging/installer/UPDATE.md
  packaging/installer/kickstart-ng.sh
  packaging/installer/kickstart-static64.sh
  packaging/installer/kickstart.sh
  packaging/installer/methods/alpine.md
  packaging/installer/methods/cloud-providers.md
  packaging/installer/methods/kickstart-64.md
  packaging/installer/methods/kickstart.md
  packaging/installer/methods/macos.md
  packaging/installer/methods/packages.md
  tests/installer/checksums.sh
Labels: area/ci, area/packaging, area/docs, area/tests

#11995 update go.d.plugin version to v0.31.1
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#11997 Add alternative install command for macOS.
  packaging/installer/README.md
  packaging/installer/methods/kickstart.md
Labels: area/packaging, area/docs

#11999 Fix install prefix handling for claiming code in new kickstart script.
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart.md
Labels: area/packaging

#11978 Deleted duplicate getting started doc
  docs/getting-started.md
  docs/guides/monitor/pi-hole-raspberry-pi.md
  docs/guides/step-by-step/step-00.md
Labels: area/docs

#11955 Compute platform-specific list of static_threads at runtime.
  CMakeLists.txt
  Makefile.am
  collectors/all.h
  collectors/cgroups.plugin/sys_fs_cgroup.h
  collectors/checks.plugin/plugin_checks.c
  collectors/checks.plugin/plugin_checks.h
  collectors/diskspace.plugin/plugin_diskspace.c
  collectors/diskspace.plugin/plugin_diskspace.h
  collectors/ebpf.plugin/ebpf.h
  collectors/freebsd.plugin/plugin_freebsd.h
  collectors/idlejitter.plugin/plugin_idlejitter.c
  collectors/idlejitter.plugin/plugin_idlejitter.h
  collectors/macos.plugin/plugin_macos.h
  collectors/plugins.d/plugins_d.h
  collectors/proc.plugin/plugin_proc.h
  collectors/statsd.plugin/statsd.c
  collectors/statsd.plugin/statsd.h
  collectors/tc.plugin/plugin_tc.c
  collectors/tc.plugin/plugin_tc.h
  collectors/timex.plugin/plugin_timex.c
  collectors/timex.plugin/plugin_timex.h
  configure.ac
  daemon/analytics.h
  daemon/common.h
  daemon/global_statistics.c
  daemon/global_statistics.h
  daemon/main.c
  daemon/main.h
  daemon/service.c
  daemon/service.h
  daemon/static_threads.c
  daemon/static_threads.h
  daemon/static_threads_freebsd.c
  daemon/static_threads_linux.c
  daemon/static_threads_macos.c
  health/health.h
  libnetdata/libnetdata.c
  libnetdata/libnetdata.h
  libnetdata/os.c
  libnetdata/os.h
  tests/profile/Makefile
Labels: area/collectors, area/daemon, area/build

#12001 fix(python.d.plugin): prefer python3 if available
  collectors/python.d.plugin/python.d.plugin.in
Labels: area/external/python, area/collectors

#11877 fix permissions of plugins that may be built
  packaging/makeself/install-or-update.sh
Labels: area/packaging

#12004 Fix handling of static archive selection for installs.
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart.md
Labels: area/packaging, area/docs

#12005 update go.d.plugin version to v0.31.2
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#11992 eBPF plugin CO-RE and monitoring
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_cachestat.c
  collectors/ebpf.plugin/ebpf_dcstat.c
  collectors/ebpf.plugin/ebpf_disk.c
  collectors/ebpf.plugin/ebpf_fd.c
  collectors/ebpf.plugin/ebpf_filesystem.c
  collectors/ebpf.plugin/ebpf_filesystem.h
  collectors/ebpf.plugin/ebpf_hardirq.c
  collectors/ebpf.plugin/ebpf_mdflush.c
  collectors/ebpf.plugin/ebpf_mount.c
  collectors/ebpf.plugin/ebpf_oomkill.c
  collectors/ebpf.plugin/ebpf_process.c
  collectors/ebpf.plugin/ebpf_process.h
  collectors/ebpf.plugin/ebpf_shm.c
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_softirq.c
  collectors/ebpf.plugin/ebpf_swap.c
  collectors/ebpf.plugin/ebpf_sync.c
  collectors/ebpf.plugin/ebpf_vfs.c
  libnetdata/ebpf/ebpf.c
  libnetdata/ebpf/ebpf.h
  web/gui/dashboard_info.js
Labels: area/web, area/collectors

#11962 Update libmongoc CMake config
  CMakeLists.txt
Labels: area/build, data-collection-mteam

#11821 Add code for LZ4 streaming data compression
  CMakeLists.txt
  Makefile.am
  configure.ac
  daemon/buildinfo.c
  database/rrdhost.c
  streaming/README.md
  streaming/compression.c
  streaming/receiver.c
  streaming/rrdpush.c
  streaming/rrdpush.h
  streaming/sender.c
  streaming/stream.conf
  web/api/web_api_v1.c
Labels: area/docs, area/web, area/daemon, area/database, area/streaming, area/build

#11996 Fix queue removed alerts
  database/sqlite/sqlite_aclk_alert.c
  health/health.c
Labels: area/health, area/database

#11924 Handle re-claim while the agent is running in new architecture
  aclk/aclk.c
  aclk/aclk_rrdhost_state.h
  aclk/aclk_tx_msgs.c
  aclk/aclk_util.h
  claim/claim.c
  claim/netdata-claim.sh.in
  database/rrdhost.c
Labels: area/database, area/claim, ACLK

#12008 Fix typo in the dashboard_info.js spigot part
  web/gui/dashboard_info.js
Labels: area/web

#12000 Fixing redirects
  collectors/QUICKSTART.md
Labels: area/docs, area/collectors

#12007 Add support for NVME disks with blkext driver
  daemon/system-info.sh
Labels: area/daemon

#12014 Remove uncessary call
  collectors/ebpf.plugin/ebpf.c
Labels: area/collectors

#12012 Updated idlejitter-plugin docs
  collectors/idlejitter.plugin/README.md
Labels: area/docs, area/collectors

#12019 [Stream Compression] - Compressor buffer overflow causes stream corruption.
  streaming/README.md
  streaming/rrdpush.c
Labels: area/docs, area/streaming

#11373 Update documentation with new dependencies
  packaging/installer/methods/manual.md
  packaging/installer/methods/source.md
Labels: area/packaging, area/docs

#12006 Fix cleanup from a failed DEB install.
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart.md
Labels: area/packaging, area/docs

#12026 Docs Bugfix: Fixed Markdown formatting
  streaming/README.md
Labels: area/docs, area/streaming

#12024 update README
  collectors/python.d.plugin/mongodb/README.md
Labels: area/docs, area/external/python, area/collectors

#11909 Fix passing of version to GHA release workflow.
  .travis.yml
Labels: area/ci, no changelog

#12010 Add install type info to `-W buildinfo` output.
  daemon/analytics.c
  daemon/buildinfo.c
  daemon/buildinfo.h
Labels: area/daemon

#12038 Have cURL properly fail on non-2xx status codes in the installer.
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart.md
Labels: area/packaging, area/docs

#12039 Re-instate plugins_action for clabels
  streaming/receiver.c
Labels: area/streaming

#12033 Fix handling of removed packages with leftover config files in package check.
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart.md
Labels: area/packaging, area/docs

#12042 Updated the docs to match new install script
  docs/get-started.mdx
Labels: area/docs

#12053 fix(docs): unresolved file references
  README.md
  aclk/README.md
  claim/README.md
  collectors/README.md
  collectors/REFERENCE.md
  collectors/ebpf.plugin/README.md
  docs/Add-more-charts-to-netdata.md
  docs/guides/monitor/pi-hole-raspberry-pi.md
  docs/guides/step-by-step/step-00.md
  health/notifications/pushbullet/README.md
  packaging/installer/methods/kickstart.md
  packaging/installer/methods/manual.md
  packaging/installer/methods/synology.md
Labels: area/packaging, area/docs, area/health, area/collectors, area/claim, ACLK

#12049 [Stream Compression] - Bug fix #12043 - lz4.h compilation error - compile from source
  streaming/compression.c
Labels: area/streaming

#12055 Fix handling of non-x86 static builds in updater.
  packaging/installer/netdata-updater.sh
Labels: area/packaging

#12062 fix typo, tidy up sentence
  netdata-installer.sh
Labels: area/packaging
