Repository netdata/netdata, pull requests merged in 2022-04, with the labels that each got.

#12576 Fix invocation of the coverity script.
  .github/workflows/coverity.yml
Labels: area/ci, no changelog

#12580 fix: re-add setuid bit to ioping after installing Debian package
  contrib/debian/netdata.postinst
Labels: area/packaging

#12581 Update links to documentation (eBPF)
  collectors/ebpf.plugin/ebpf_socket.c
  web/gui/dashboard_info.js
Labels: area/web, area/collectors, area/ebpf

#12511 Fix memory leaks on Netdata exit
  aclk/aclk.c
  aclk/aclk_util.c
  daemon/main.c
  database/engine/datafile.c
  database/engine/journalfile.c
  database/rrdcalctemplate.c
  database/rrddim.c
  database/rrdset.c
  health/health_config.c
  streaming/compression.c
Labels: area/health, area/daemon, area/database, area/streaming, ACLK, data-collection-mteam

#12451 Fix issue with charts not properly synchronized with the cloud
  database/rrdhost.c
  database/rrdset.c
  database/sqlite/sqlite_aclk_chart.c
  database/sqlite/sqlite_aclk_chart.h
Labels: area/database

#12586 feat(collectors): update go.d.plugin version to v0.32.1
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#12594 chore: make logs less noisy on child reconnect
  database/rrdset.c
Labels: area/database

#12574 Update ML-related charts
  database/rrd.h
  ml/Config.cc
  ml/Config.h
  ml/Host.cc
  ml/ml-dummy.c
  ml/ml.cc
  ml/ml.h
  streaming/rrdpush.c
Labels: area/database, area/streaming, area/ml

#12583 Check if libatomic can be linked
  configure.ac
Labels: area/build

#12598 Fix coverity issues
  daemon/unit_test.c
  ml/Config.cc
  ml/Host.h
Labels: area/daemon, area/tests, area/ml

#12600 Better check for IOMainPort on MacOS
  collectors/macos.plugin/macos_fw.c
Labels: area/collectors, data-collection-mteam

#12591 feat(cgroups.plugin): add CPU throttling charts
  collectors/cgroups.plugin/sys_fs_cgroup.c
  web/gui/dashboard_info.js
Labels: area/web, area/collectors

#12606 Enable streaming of anomaly_detection.* charts
  ml/Config.cc
Labels: area/ml

#12608 Fix a compilation warning
  database/sqlite/sqlite_health.c
Labels: area/database, data-collection-mteam

#12610 Fix training/prediction stats charts context.
  ml/Host.cc
Labels: area/ml

#12575 add some new ml params to README
  ml/README.md
Labels: area/docs, area/ml

#12613 feat: add support for cloud providers info to /api/v1/info
  daemon/system-info.sh
  database/rrd.h
  database/rrdhost.c
  streaming/sender.c
  web/api/web_api_v1.c
Labels: area/web, area/daemon, area/database, area/streaming

#12577 Kickstart improved messaging
  packaging/installer/kickstart.sh
Labels: area/packaging

#12519 fix centos gpg key issue
  packaging/installer/kickstart.sh
Labels: area/packaging

#12622 fix(cgroups.plugin): set CPU prev usage before first usage.
  collectors/cgroups.plugin/sys_fs_cgroup.c
Labels: area/collectors

#12623 Don't do fatal on error writing the health api management key.
  web/api/web_api_v1.c
Labels: area/web

#12627 Add eBPF CO-RE version and checksum files to distfile list.
  Makefile.am
Labels: area/build

#12638 feat: add k8s_cluster_name host tag (GKE only)
  daemon/get-kubernetes-labels.sh.in
Labels: area/daemon

#12064 Add handling for claiming non-standard install types with kickstart.
  packaging/installer/kickstart.sh
Labels: area/packaging, area/docs

#12548 add --reinstall-clean flag for kickstart.sh and update documentation
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart.md
Labels: area/packaging, area/docs

#12657 Show --build-only instead of --only-build
  packaging/installer/kickstart.sh
Labels: area/packaging

#12498 add `locust` to `apps_groups.conf`
  collectors/apps.plugin/apps_groups.conf
Labels: area/collectors

#12661 Properly limit repository configuration dependencies.
  packaging/repoconfig/netdata-repo.spec
Labels: area/packaging

#12349 Trigger cloud intergration workflow for PRs and pushes against master
  .github/workflows/cloud_regression.yml
Labels: area/ci

#12652 Add a chart label filter parameter in context data queries
  collectors/plugins.d/plugins_d.c
  collectors/plugins.d/plugins_d.h
  database/rrd.h
  database/rrdset.c
  web/api/netdata-swagger.json
  web/api/netdata-swagger.yaml
  web/api/web_api_v1.c
  web/api/web_api_v1.h
Labels: area/web, area/collectors, area/database

#12669 [Stream compression Docs] - Enabled by default
  streaming/README.md
Labels: area/docs, area/streaming

#12670 Remove on pull_request trigger
  .github/workflows/cloud_regression.yml
Labels: area/ci

#12667 Show error when clock synchronization state is unavailable
  collectors/timex.plugin/plugin_timex.c
Labels: area/collectors, data-collection-mteam

#12671 fix(ebpf.plugin): add missing chart context for cgroups charts
  collectors/ebpf.plugin/ebpf_oomkill.c
  collectors/ebpf.plugin/ebpf_oomkill.h
  collectors/ebpf.plugin/ebpf_vfs.c
  collectors/ebpf.plugin/ebpf_vfs.h
Labels: area/collectors, area/ebpf

#12672 Delete ML-related data of a host in the proper order.
  database/rrdhost.c
  ml/ml.cc
Labels: area/database, area/ml

#12636 Summarize encountered errors and warnings at end of kickstart script run.
  packaging/installer/kickstart.sh
Labels: area/packaging

#12683 Fix the static build code in light of CVE-2022-24765
  packaging/makeself/build-static.sh
  packaging/makeself/build.sh
Labels: area/packaging, no changelog

#12665 Dashboard network title
  collectors/ebpf.plugin/ebpf_cachestat.c
  collectors/ebpf.plugin/ebpf_dcstat.c
  collectors/ebpf.plugin/ebpf_mount.c
  collectors/ebpf.plugin/ebpf_shm.c
  collectors/ebpf.plugin/ebpf_swap.c
  web/gui/dashboard_info.js
Labels: area/web, area/collectors, collectors/ebpf, area/ebpf

#12681 Cancel anomaly detection threads before joining.
  ml/Host.cc
Labels: area/ml

#12689 chore(ci): adjust ACLK label
  .github/labeler.yml
Labels: area/ci, no changelog

#12690 Fix branch handling for minor releases in release workflow.
  .github/scripts/prepare-release-base.sh
  .github/workflows/release.yml
Labels: area/ci, no changelog

#12695 Ensure versioned release tags include a leading `v` in workflows.
  .github/workflows/build.yml
  .github/workflows/docker.yml
Labels: area/ci, no changelog

#12691 Fix retry code in build CI.
  .github/workflows/build.yml
Labels: area/ci, no changelog

#12698 Add missing values to algorithm vector (eBPF)
  collectors/ebpf.plugin/ebpf_socket.c
Labels: area/collectors, collectors/ebpf

#12619 Fix Valgrind errors
  aclk/aclk_alarm_api.c
  aclk/aclk_stats.c
  aclk/schema-wrappers/alarm_stream.cc
  database/engine/journalfile.c
  database/engine/rrdengine.c
Labels: area/database, area/ACLK

#12704 feat(apps.plugin): add proxmox-ve processes to apps_groups.conf
  collectors/apps.plugin/apps_groups.conf
Labels: area/collectors, collectors/apps

#12702 chore(ebpf.plugin): re-enable socket module by default
  collectors/ebpf.plugin/ebpf.d.conf
Labels: area/collectors, collectors/ebpf

#12676 fix: use NETDATA_LISTENER_PORT in docker healtcheck
  packaging/docker/health.sh
Labels: area/packaging

#12711 chore(cgroups.plugin): reduce the CPU time required for cgroup-network-helper.sh
  collectors/cgroups.plugin/cgroup-network-helper.sh
Labels: area/collectors, collectors/cgroups

#12714 fix disable-dependency-tracking typo
  .github/workflows/checks.yml
  packaging/bundle-judy.sh
Labels: area/ci, area/packaging, no changelog

#12639 Gotify notifications
  docs/monitor/enable-notifications.md
  health/notifications/Makefile.am
  health/notifications/alarm-notify.sh.in
  health/notifications/gotify/Makefile.inc
  health/notifications/gotify/README.md
  health/notifications/health_alarm_notify.conf
Labels: area/docs, area/health, area/build

#12678 feat(apps.plugin): add caddy to apps_groups.conf
  collectors/apps.plugin/apps_groups.conf
Labels: area/collectors, collectors/apps

#12687 [Uninstall Netdata] - Add description in the docs to use uninstaller script with force arg
  packaging/installer/UNINSTALL.md
Labels: area/packaging, area/docs

#12673 Add a 2 minute timeout to stream receiver socket
  streaming/receiver.c
Labels: area/streaming

#12682 Docs: fix GitHub format
  web/api/badges/README.md
Labels: area/docs, area/web

#12226 Store alert log entries even if alert it is repeating.
  database/rrdcalc.c
  database/rrdcalc.h
  health/health.c
  health/health_json.c
  health/health_log.c
Labels: area/health, area/database

#12726 Remove commented code.
  database/rrdset.c
Labels: area/database

#11161 Add new dashboard/web server reference file
  docs/dashboard/customize.mdx
  docs/dashboard/import-export-print-snapshot.mdx
  docs/dashboard/reference-web-server.mdx
Labels: area/docs

#12725 chore(kickstart.sh): remove unused `--auto-update` option when using static/build install method
  packaging/installer/kickstart.sh
Labels: area/packaging

#12737 feat(cgroups.plugin): add k8s_qos_class label
  collectors/cgroups.plugin/cgroup-name.sh.in
Labels: area/collectors, collectors/cgroups

#12742 chore: remove Codacy badge from the repo readme
  README.md
Labels: area/docs, no changelog

#12733 Mention serial numbers in chart names in the plugins.d API documentation
  collectors/plugins.d/README.md
Labels: area/docs, area/collectors, collectors/plugins.d

#12747 fix(cgroups.plugin): run renaming script only for containers in k8s
  collectors/cgroups.plugin/sys_fs_cgroup.c
Labels: area/collectors, collectors/cgroups

#12741 feat(cgroups.plugin): add "CPU Time Relative Share" chart
  collectors/cgroups.plugin/sys_fs_cgroup.c
  web/gui/dashboard_info.js
Labels: area/web, area/collectors, collectors/cgroups

#12752 fix(cgroups.plugin): remove "search for cgroups under PATH" conf option to fix memory leak
  collectors/cgroups.plugin/README.md
  collectors/cgroups.plugin/sys_fs_cgroup.c
Labels: area/docs, area/collectors, collectors/cgroups

#12746 fix(cgroups.plugin): remove "enable cgroup X" config option on cgroup deletion
  collectors/cgroups.plugin/sys_fs_cgroup.c
  daemon/common.h
  libnetdata/config/appconfig.c
Labels: area/collectors, area/daemon, collectors/cgroups

#12749 chore(ci): add the root dir markdown files to area/docs
  .github/labeler.yml
Labels: area/ci, no changelog

#12743 chore: remove kickoke from codeowners
  .github/CODEOWNERS
Labels: area/ci, no changelog

#12739 chore: reduce logging in rrdset
  database/rrdset.c
Labels: area/database

#12684 Memory CO-RE
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.d/cachestat.conf
  collectors/ebpf.plugin/ebpf.d/dcstat.conf
  collectors/ebpf.plugin/ebpf.d/swap.conf
  collectors/ebpf.plugin/ebpf_cachestat.c
  collectors/ebpf.plugin/ebpf_cachestat.h
  collectors/ebpf.plugin/ebpf_dcstat.c
  collectors/ebpf.plugin/ebpf_dcstat.h
  collectors/ebpf.plugin/ebpf_swap.c
  collectors/ebpf.plugin/ebpf_swap.h
  packaging/ebpf-co-re.checksums
  packaging/ebpf-co-re.version
Labels: area/packaging, area/collectors, collectors/ebpf

#12745 chore(cgroup.plugin): remove undocumented feature reading cgroups-names.sh when renaming cgroups
  .gitignore
  collectors/cgroups.plugin/Makefile.am
  collectors/cgroups.plugin/cgroup-name.sh
Labels: area/collectors, area/build, collectors/cgroups

#12764 fix: use 'diskutil info` to calculate the disk size on macOS
  daemon/system-info.sh
Labels: area/daemon

#12658 Add options to kickstart.sh for explicitly passing options to installer code.
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart.md
Labels: area/packaging, area/docs

#12686 Correctly propagate errors and warnings up to the kickstart script from scripts it calls.
  .github/scripts/run-updater-check.sh
  netdata-installer.sh
  packaging/installer/functions.sh
  packaging/installer/kickstart.sh
  packaging/installer/netdata-uninstaller.sh
  packaging/installer/netdata-updater.sh
Labels: area/ci, area/packaging

#12634 Treat auto-updates as a tristate internally in the kickstart script.
  packaging/installer/kickstart.sh
Labels: area/packaging, no changelog

#12734 expand on the various parent-child config options
  ml/README.md
Labels: area/docs, area/ml

#12765 feat(dbengine): make dbengine page cache undumpable and dedupuble
  database/engine/pagecache.c
  database/engine/rrdengine.c
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
  database/rrddim.c
  database/rrdset.c
  libnetdata/libnetdata.c
  libnetdata/libnetdata.h
Labels: area/database

#12767 use aclk_parse_otp_error on /env error
  aclk/aclk_otp.c
Labels: area/ACLK

#12772 Fix coverity on receiver setsockopt
  streaming/receiver.c
Labels: area/streaming

#12768 Fix checking of enviornment file in updater.
  packaging/installer/netdata-updater.sh
Labels: area/packaging

#12708 Tweak static build process to improve build speed and debuggability.
  packaging/makeself/jobs/70-netdata-git.install.sh
Labels: area/packaging

#12755 Update netdata-installer.sh
  netdata-installer.sh
Labels: area/packaging

#12771 some config updates for ml
  ml/Config.cc
Labels: area/ml
