Repository netdata/netdata, pull requests merged in 2022-08, with the labels that each got.

#13434 Show last 15 alerts in notification
  health/health.c
  health/notifications/alarm-notify.sh.in
Labels: area/health

#13466 rrdcontext support for hidden charts
  database/rrdcontext.c
  database/rrdcontext.h
  web/api/web_api_v1.c
Labels: area/web, area/database

#13470 Fix cgroup name detection for docker containers in containerd cgroup
  collectors/cgroups.plugin/cgroup-name.sh
Labels: area/collectors, collectors/cgroups

#13464 Load host labels for archived hosts
  database/sqlite/sqlite_aclk.c
  database/sqlite/sqlite_functions.c
  database/sqlite/sqlite_functions.h
Labels: area/database, area/ACLK

#13473 Remove the single threaded arrayallocator optiomization during agent startup
  database/rrdhost.c
Labels: area/database

#13472 Handle cases where entries where stored as text (with strftime("%s"))
  database/sqlite/sqlite_aclk.c
Labels: area/database, area/ACLK

#13439 Fix tests so that the actual metadata database is not accessed
  daemon/main.c
  database/rrdhost.c
  database/sqlite/sqlite_context.c
Labels: area/daemon, area/database

#13471 Enable rrdcontexts by default
  database/rrdcontext.c
Labels: area/database

#13474 update postgres dashboard info
  web/gui/dashboard_info.js
Labels: area/web

#13481 feat(cgroups.plugin): resolve nomad containers name (docker driver only)
  collectors/cgroups.plugin/cgroup-name.sh
Labels: area/collectors, collectors/cgroups

#13409 Send chart context with alert events to the cloud
  aclk/schema-wrappers/alarm_stream.cc
  aclk/schema-wrappers/alarm_stream.h
  database/rrd.h
  database/rrdcalc.c
  database/sqlite/sqlite_aclk_alert.c
  database/sqlite/sqlite_db_migration.c
  database/sqlite/sqlite_functions.c
  database/sqlite/sqlite_health.c
  health/health.c
  health/health.h
  health/health_json.c
  health/health_log.c
Labels: area/health, area/database, area/ACLK

#13483 chore: add WireGuard description and icon to dashboard info
  web/gui/dashboard_info.js
Labels: area/web

#13484 bump go.d.plugin version to v0.34.0
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#13485 health: disable go python last collected alarms
  health/health.d/go.d.plugin.conf
  health/health.d/python.d.plugin.conf
Labels: area/health

#13479 Check for protected when excluding mounts
  collectors/diskspace.plugin/plugin_diskspace.c
  collectors/proc.plugin/proc_self_mountinfo.c
  collectors/proc.plugin/proc_self_mountinfo.h
Labels: area/collectors, collectors/diskspace, collectors/proc

#13487 docs: add a note about edit-config for docker installs
  packaging/docker/README.md
Labels: area/packaging, area/docs

#13469 Trimmed-median, trimmed-mean and percentile
  CMakeLists.txt
  Makefile.am
  configure.ac
  web/api/netdata-swagger.json
  web/api/netdata-swagger.yaml
  web/api/queries/Makefile.am
  web/api/queries/median/README.md
  web/api/queries/median/median.c
  web/api/queries/median/median.h
  web/api/queries/percentile/Makefile.am
  web/api/queries/percentile/README.md
  web/api/queries/percentile/percentile.c
  web/api/queries/percentile/percentile.h
  web/api/queries/query.c
  web/api/queries/query.h
  web/api/queries/trimmed_mean/Makefile.am
  web/api/queries/trimmed_mean/README.md
  web/api/queries/trimmed_mean/trimmed_mean.c
  web/api/queries/trimmed_mean/trimmed_mean.h
Labels: area/docs, area/web, area/build

#13488 docs: fix unresolved file references
  collectors/ebpf.plugin/README.md
  database/README.md
  docs/guides/troubleshoot/troubleshooting-agent-with-cloud-connection.md
Labels: area/docs, area/collectors, area/database, collectors/ebpf

#13407 Remove SIGSEGV and SIGABRT (ebpf.plugin)
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_apps.c
  collectors/ebpf.plugin/ebpf_cachestat.c
  collectors/ebpf.plugin/ebpf_dcstat.c
  collectors/ebpf.plugin/ebpf_disk.c
  collectors/ebpf.plugin/ebpf_fd.c
  collectors/ebpf.plugin/ebpf_filesystem.c
  collectors/ebpf.plugin/ebpf_filesystem.h
  collectors/ebpf.plugin/ebpf_hardirq.c
  collectors/ebpf.plugin/ebpf_mdflush.c
  collectors/ebpf.plugin/ebpf_mount.c
  collectors/ebpf.plugin/ebpf_oomkill.c
  collectors/ebpf.plugin/ebpf_process.c
  collectors/ebpf.plugin/ebpf_process.h
  collectors/ebpf.plugin/ebpf_shm.c
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_socket.h
  collectors/ebpf.plugin/ebpf_softirq.c
  collectors/ebpf.plugin/ebpf_swap.c
  collectors/ebpf.plugin/ebpf_sync.c
  collectors/ebpf.plugin/ebpf_sync.h
  collectors/ebpf.plugin/ebpf_vfs.c
  libnetdata/ebpf/ebpf.c
  libnetdata/ebpf/ebpf.h
Labels: area/collectors, collectors/ebpf

#13490 Remove prompt to add dashboard issues
  .github/ISSUE_TEMPLATE/config.yml
Labels: area/ci

#13492 Add chart_context to alert snapshots
  database/sqlite/sqlite_aclk_alert.c
Labels: area/database, area/ACLK

#13494 bump go.d version to v0.35.0
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#13493 add PgBouncer charts description and icon to dashboard info
  web/gui/dashboard_info.js
Labels: area/web

#13496 docs: change postgres links to go version
  collectors/COLLECTORS.md
  docs/collect/application-metrics.md
Labels: area/docs, area/collectors

#13497 docs: add deprecation notice to python.d/postgres readme
  collectors/python.d.plugin/postgres/README.md
Labels: area/docs, area/collectors, collectors/python.d

#13501 rrdcontexts allow not linked dimensions and charts
  database/rrdcontext.c
Labels: area/database

#13509 Calculate name hash after rrdvar_fix_name
  health/health_config.c
Labels: area/health

#13507 fix(packaging): add CAP_NET_ADMIN for go.d.plugin
  contrib/debian/netdata.postinst
  netdata-installer.sh
  netdata.spec.in
  packaging/makeself/install-or-update.sh
Labels: area/packaging, area/docs

#13503 chore(python.d): remove python.d/* announced in v1.36.0 deprecation notice
  collectors/python.d.plugin/Makefile.am
  collectors/python.d.plugin/postgres/Makefile.inc
  collectors/python.d.plugin/postgres/README.md
  collectors/python.d.plugin/postgres/postgres.chart.py
  collectors/python.d.plugin/postgres/postgres.conf
  collectors/python.d.plugin/python.d.conf
  docs/guides/python-collector.md
  packaging/installer/install-required-packages.sh
  packaging/installer/methods/manual.md
  web/gui/dashboard_info.js
Labels: area/packaging, area/docs, area/web, area/collectors, area/build, collectors/python.d

#13511 Print rrdcontexts versions with PRIu64
  database/rrdcontext.c
  database/sqlite/sqlite_context.c
Labels: area/database

#13397 Modify PID monitoring (ebpf.plugin)
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.d/cachestat.conf
  collectors/ebpf.plugin/ebpf.d/dcstat.conf
  collectors/ebpf.plugin/ebpf.d/process.conf
  collectors/ebpf.plugin/ebpf_cachestat.c
  collectors/ebpf.plugin/ebpf_cachestat.h
  collectors/ebpf.plugin/ebpf_dcstat.c
  collectors/ebpf.plugin/ebpf_dcstat.h
  libnetdata/ebpf/ebpf.c
  libnetdata/ebpf/ebpf.h
  packaging/current_libbpf.checksums
  packaging/current_libbpf.version
  packaging/ebpf-co-re.checksums
  packaging/ebpf-co-re.version
  packaging/ebpf.checksums
  packaging/ebpf.version
  packaging/libbpf.checksums
  packaging/libbpf.version
Labels: area/packaging, area/collectors, collectors/ebpf

#13514 Remove extra U from log message
  netdata-installer.sh
Labels: area/packaging

#12227 docs: add some tips on collecting per-queue metrics for RabbitMQ
  collectors/python.d.plugin/rabbitmq/README.md
Labels: area/docs, area/collectors, collectors/python.d

#13515 docs(postfix): add a note about `authorized_mailq_users`
  collectors/python.d.plugin/postfix/README.md
Labels: area/docs, area/collectors, collectors/python.d

#13517 fix(ci): fix fetching tags in Build workflow
  .github/workflows/build.yml
Labels: area/ci

#13450 reduce memcpy and memory usage on mqtt5
  aclk/aclk_tx_msgs.c
Labels: area/ACLK

#13504 netdata.service: Update PIDFile to avoid systemd legacy path warning
  system/netdata.service.in
Labels: area/packaging

#13521 remove reference to charts now in netdata monitoring
  ml/README.md
Labels: area/docs, area/ml

#13290 Support chart labels in alerts
  collectors/cgroups.plugin/tests/test_doubles.c
  collectors/proc.plugin/proc_diskstats.c
  collectors/proc.plugin/proc_mdstat.c
  collectors/proc.plugin/proc_net_wireless.c
  collectors/proc.plugin/sys_class_power_supply.c
  collectors/proc.plugin/sys_fs_btrfs.c
  database/rrd.h
  database/rrdcalc.c
  database/rrdcalc.h
  database/rrdlabels.c
  exporting/tests/netdata_doubles.c
  health/REFERENCE.md
  health/health_config.c
  health/health_json.c
  health/health_log.c
Labels: area/docs, area/health, area/exporting, area/collectors, area/database, area/build, collectors/cgroups, collectors/proc, collectors/plugins.d

#13525 Use LVM UUIDs in chart ids for logical volumes
  collectors/proc.plugin/proc_diskstats.c
Labels: area/collectors, collectors/proc

#13526 Update FreeIPMI and CUPS plugin documentation.
  collectors/cups.plugin/README.md
  collectors/freeipmi.plugin/README.md
Labels: area/docs, area/collectors, collectors/cups, collectors/freeipmi

#13523 fix(cgroups.plugin): use Docker API for name resolution when Docker is a snap package
  collectors/cgroups.plugin/cgroup-name.sh
Labels: area/collectors, collectors/cgroups

#13529 fix(health): set default curl connection timeout if not set
  health/notifications/alarm-notify.sh.in
Labels: area/health

#13531 Schedule next rotation based on absolute time
  database/sqlite/sqlite_aclk.c
Labels: area/database, area/ACLK

#13533 add `jupyter` to `apps_groups.conf`
  collectors/apps.plugin/apps_groups.conf
Labels: area/collectors, collectors/apps

#13534 Add summary dashboard for PostgreSQL
  web/gui/dashboard_info.js
Labels: area/web

#13537 chore(python.d): rename dockerd job on lock registration
  collectors/python.d.plugin/python.d.plugin.in
Labels: area/collectors, collectors/python.d

#13538 bump go.d version to v0.36.0
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#13536 Update MacOS community support details
  packaging/PLATFORM_SUPPORT.md
Labels: area/packaging, area/docs

#13541 Bump Coverity version to latest (2022.06).
  coverity-scan.sh
Labels: area/tests, no changelog

#13539 Cleanup of APIs
  daemon/buildinfo.c
  web/api/web_api_v1.c
Labels: area/web, area/daemon

#13119 Fix telegram-bot rate limit
  health/notifications/alarm-notify.sh.in
  health/notifications/health_alarm_notify.conf
Labels: area/health

#13535 Fix a crash when xen libraries are misconfigured
  collectors/xenstat.plugin/xenstat_plugin.c
Labels: area/collectors, collectors/xenstat

#13546 bump go.d.plugin to v0.37.0
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#13547 add docker dashboard info
  web/gui/dashboard_info.js
Labels: area/web

#13551 Fix coverity 380387
  database/rrdcalc.c
Labels: area/database

#13555 bump go.d.plugin to v0.37.1
  health/health.d/mysql.conf
  packaging/go.d.checksums
  packaging/go.d.version
  web/gui/dashboard_info.js
Labels: area/packaging, area/web, area/health

#13545 feat(python.d/sensors): discover chips, features at runtime
  collectors/python.d.plugin/sensors/sensors.chart.py
Labels: area/collectors, collectors/python.d

#13530 Improve PID monitoring (step 2)
  collectors/ebpf.plugin/README.md
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.d.conf
  collectors/ebpf.plugin/ebpf.d/fd.conf
  collectors/ebpf.plugin/ebpf.d/vfs.conf
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_cachestat.c
  collectors/ebpf.plugin/ebpf_dcstat.c
  collectors/ebpf.plugin/ebpf_fd.c
  collectors/ebpf.plugin/ebpf_fd.h
  collectors/ebpf.plugin/ebpf_mount.c
  collectors/ebpf.plugin/ebpf_shm.c
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_swap.c
  collectors/ebpf.plugin/ebpf_sync.c
  collectors/ebpf.plugin/ebpf_vfs.c
  collectors/ebpf.plugin/ebpf_vfs.h
  libnetdata/ebpf/ebpf.c
  libnetdata/ebpf/ebpf.h
  packaging/ebpf-co-re.checksums
  packaging/ebpf-co-re.version
  packaging/ebpf.checksums
  packaging/ebpf.version
Labels: area/packaging, area/docs, area/collectors, collectors/ebpf

#13563 fix(health.d/mysql): adjust `mysql_galera_cluster_size_max_2m` lookup to make time in warn/crit predictable
  health/health.d/mysql.conf
Labels: area/health

#13540 Remove aclk_api.[ch]
  CMakeLists.txt
  Makefile.am
  aclk/aclk.c
  aclk/aclk.h
  aclk/aclk_api.c
  aclk/aclk_api.h
  aclk/aclk_util.c
  claim/claim.c
  daemon/buildinfo.c
  daemon/common.h
  daemon/static_threads.c
  database/rrdcontext.c
  web/api/web_api_v1.c
Labels: area/web, area/daemon, area/database, area/claim, area/ACLK, area/build

#13566 add more monitoring tools to `apps_groups.conf`
  collectors/apps.plugin/apps_groups.conf
Labels: area/collectors, collectors/apps

#13567 chore: removing logging that a chart collection in the same interpolation point
  database/rrdset.c
Labels: area/database

#13571 add `apt` to `apps_groups.conf`
  collectors/apps.plugin/apps_groups.conf
Labels: area/collectors, collectors/apps

#13574 bump go.d.plugin to v0.37.2
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#13573 Updating info for postgreqsql metrics
  web/gui/dashboard_info.js
Labels: area/web

#13578 prevent crash on rrdcontext apis when rrdcontexts is not initialized
  database/rrdcontext.c
Labels: area/database

#13579 fix(python.d/nvidia_smi): repsect update_every for polling
  collectors/python.d.plugin/nvidia_smi/nvidia_smi.chart.py
Labels: area/collectors, collectors/python.d

#13580 feat(python.d/nvidia_smi): collect power state
  collectors/python.d.plugin/nvidia_smi/nvidia_smi.chart.py
Labels: area/collectors, collectors/python.d

#13594 sqlite3 global statistics
  daemon/global_statistics.c
  daemon/global_statistics.h
  daemon/unit_test.c
  database/sqlite/sqlite_aclk.c
  database/sqlite/sqlite_aclk_alert.c
  database/sqlite/sqlite_aclk_chart.c
  database/sqlite/sqlite_context.c
  database/sqlite/sqlite_db_migration.c
  database/sqlite/sqlite_functions.c
  database/sqlite/sqlite_functions.h
  database/sqlite/sqlite_health.c
  ml/Database.cc
  ml/Database.h
Labels: area/daemon, area/database, area/tests, area/ACLK, area/ml

#13595 Add link to the performance optimization guide
  docs/netdata-for-IoT.md
Labels: area/docs

#13597 update logind dashboard info
  web/gui/dashboard_info.js
Labels: area/web

#13601 fix(cgroups.plugin): fix chart id length check
  collectors/cgroups.plugin/sys_fs_cgroup.c
Labels: area/collectors, collectors/cgroups

#13603 bump go.d.plugin to v0.38.0
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#13600 Temporary fix for command injection vulnerability in GHA workflow.
  .github/workflows/packaging.yml
Labels: area/ci
