Repository netdata/netdata, pull requests merged in 2022-06, with the labels that each got.

#13044 Fix disabled apps (ebpf.plugin)
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf_apps.c
  collectors/ebpf.plugin/ebpf_oomkill.c
  collectors/ebpf.plugin/ebpf_process.c
  libnetdata/ebpf/ebpf.c
Labels: area/collectors, collectors/ebpf

#13039 Schedule retention message calculation to a worker thread
  database/sqlite/sqlite_aclk.c
  database/sqlite/sqlite_aclk.h
  database/sqlite/sqlite_aclk_alert.c
  database/sqlite/sqlite_aclk_chart.c
  database/sqlite/sqlite_aclk_chart.h
  database/sqlite/sqlite_aclk_node.h
Labels: area/database, area/ACLK

#13032 Dictionary with JudyHS and double linked list
  CMakeLists.txt
  collectors/cups.plugin/cups_plugin.c
  collectors/diskspace.plugin/plugin_diskspace.c
  collectors/proc.plugin/proc_spl_kstat_zfs.c
  collectors/proc.plugin/sys_block_zram.c
  collectors/statsd.plugin/statsd.c
  daemon/analytics.c
  daemon/main.c
  libnetdata/dictionary/README.md
  libnetdata/dictionary/dictionary.c
  libnetdata/dictionary/dictionary.h
  registry/registry.c
  registry/registry_db.c
  registry/registry_init.c
  registry/registry_internals.c
  registry/registry_internals.h
  registry/registry_machine.c
  registry/registry_person.c
  registry/registry_person.h
  web/api/formatters/charts2json.c
  web/api/formatters/json_wrapper.c
Labels: area/docs, area/web, area/collectors, area/daemon, area/registry, area/build, collectors/cups, collectors/diskspace, collectors/proc, collectors/statsd

#13053 Check for host labels when linking alerts for children
  database/rrdcalc.c
Labels: area/database

#13055 Fix coverity 378625
  web/api/health/health_cmdapi.c
Labels: area/web

#13054 add the ability to merge dictionary items
  libnetdata/dictionary/README.md
  libnetdata/dictionary/dictionary.c
  libnetdata/dictionary/dictionary.h
Labels: area/docs

#13062 fix(cgroup.plugin): read k8s_cluster_name label from the correct file
  collectors/cgroups.plugin/cgroup-name.sh
Labels: area/collectors, collectors/cgroups

#13060 update codeowners
  .github/CODEOWNERS
Labels: area/ci, no changelog

#13056 Fix handling of temp directory in kickstart when uninstalling.
  packaging/installer/kickstart.sh
Labels: area/packaging

#13064 Fix locking access to chart labels
  database/rrdset.c
  database/sqlite/sqlite_aclk_chart.c
  database/sqlite/sqlite_aclk_node.c
Labels: area/database, area/ACLK

#13058 Added Alma Linux 9 and RHEL 9 support to CI and packaging.
  .github/data/distros.yml
  .github/scripts/pkg-test.sh
  netdata.spec.in
  packaging/PLATFORM_SUPPORT.md
  packaging/installer/dependencies/centos.sh
  packaging/installer/install-required-packages.sh
Labels: area/ci, area/packaging, area/docs

#13075 Update default value for "host anomaly rate threshold"
  ml/Config.cc
Labels: area/ml

#13047 Add improved reinstall documentation.
  packaging/installer/REINSTALL.md
Labels: area/packaging, area/docs

#12875 Remove Fedora 34 from CI and package builds.
  .github/data/distros.yml
  packaging/PLATFORM_SUPPORT.md
Labels: area/ci

#13100 Temporarily disable updates for static builds.
  packaging/installer/netdata-updater.sh
Labels: area/packaging

#13103 Remove unnescesary ‘cleanup’ code.
  packaging/installer/functions.sh
  packaging/makeself/install-or-update.sh
Labels: area/packaging

#13110 Re-enable updates for systems using static builds.
  packaging/installer/netdata-updater.sh
Labels: area/packaging

#13096 docs(statsd.plugin): fix indentation
  collectors/statsd.plugin/README.md
Labels: area/docs, area/collectors, collectors/statsd

#12270 Add openSUSE Leap 15.4 to CI and package builds.
  .github/data/distros.yml
Labels: area/ci

#13087 fix virtualization detection on FreeBSD
  daemon/system-info.sh
Labels: area/daemon

#13107 73x times faster metrics correlations at the agent
  daemon/main.c
  database/metric_correlations.c
  database/metric_correlations.h
  health/health.c
  libnetdata/storage_number/storage_number.h
  web/api/badges/web_buffer_svg.c
  web/api/formatters/json_wrapper.c
  web/api/formatters/json_wrapper.h
  web/api/formatters/rrd2json.c
  web/api/formatters/rrd2json.h
  web/api/netdata-swagger.json
  web/api/netdata-swagger.yaml
  web/api/queries/query.c
  web/api/queries/query.h
  web/api/queries/rrdr.c
  web/api/queries/rrdr.h
  web/api/web_api_v1.c
  web/api/web_api_v1.h
  web/server/web_client.h
Labels: area/web, area/health, area/daemon, area/database

#13118 Ci coverage
  .github/scripts/check-updater.sh
  .github/scripts/ci-support-pkgs.sh
  .github/scripts/run-updater-check.sh
Labels: area/ci

#13098 Fix typo in release base prep script.
  .github/scripts/prepare-release-base.sh
Labels: area/ci, no changelog

#13123 fixed coveriry 379136 379135 379134 379133
  database/metric_correlations.c
  database/rrdlabels.c
  web/api/formatters/rrd2json.c
Labels: area/web, area/database

#13125 allow label names to have slashes
  database/rrdlabels.c
Labels: area/database

#13135 fix(python.d/mongodb): set `serverSelectionTimeoutMS` for pymongo4+
  collectors/python.d.plugin/mongodb/mongodb.chart.py
Labels: area/collectors, collectors/python.d

#13136 fix(python.d): urllib3 import collection for py3.10+
  collectors/python.d.plugin/python_modules/urllib3/_collections.py
  collectors/python.d.plugin/python_modules/urllib3/util/selectors.py
Labels: area/collectors, collectors/python.d

#13067 Use a separate thread for slow mountpoints in the diskspace plugin
  collectors/diskspace.plugin/plugin_diskspace.c
Labels: area/collectors, collectors/diskspace

#13131 use ks2 as MC default
  database/metric_correlations.c
  web/api/netdata-swagger.json
Labels: area/web, area/database

#13112 Add missing control to streaming
  streaming/receiver.c
Labels: area/streaming

#13142 Add an option to use malloc for page cache instead of mmap
  daemon/main.c
  database/engine/rrdengine.c
  database/engine/rrdengineapi.c
  database/engine/rrdengineapi.h
Labels: area/daemon, area/database

#13152 Update docs on what to do if collector not there
  collectors/COLLECTORS.md
Labels: area/docs, area/collectors

#13108 Remove pinned page reference
  daemon/global_statistics.c
  database/engine/pagecache.c
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
Labels: area/daemon, area/database

#13143 Add cargo/rustc/bazel/buck to apps_groups.conf
  collectors/apps.plugin/apps_groups.conf
Labels: area/collectors, collectors/apps

#13150 revert to default of `host anomaly rate threshold=0.01`
  ml/Config.cc
Labels: area/ml

#13145 fix conditions for nightly build triggers
  .github/workflows/release.yml
Labels: area/ci

#13156 Fix labels unit test
  daemon/main.c
  database/rrdlabels.c
Labels: area/daemon, area/database

#13154 add CAP_SYS_RAWIO to Netdata's systemd unit CapabilityBoundingSet
  system/netdata.service.in
Labels: area/packaging

#13140 Add mem.available chart to FreeBSD
  collectors/freebsd.plugin/freebsd_sysctl.c
  health/health.d/ram.conf
  web/gui/dashboard_info.js
Labels: area/web, area/health, area/collectors, collectors/freebsd

#13161 Use memset to mark the empty words in the quoted_strings_splitter function
  collectors/plugins.d/plugins_d.c
Labels: area/collectors, collectors/plugins.d

#13169 Don’t manipulate positional parameters in DEB postinst script.
  contrib/debian/netdata.postinst
Labels: area/packaging

#13168 Fix coverity issues
  collectors/diskspace.plugin/plugin_diskspace.c
  collectors/statsd.plugin/statsd.c
Labels: area/collectors, collectors/diskspace, collectors/statsd

#13158 enable ml by default
  ml/Config.cc
  ml/README.md
Labels: area/docs, area/ml

#13159 Fix data query on stale chart
  web/api/queries/query.c
Labels: area/web

#13167 feat(proc/proc_net_dev): add dim per operstate to the "Interface Operational State" chart
  collectors/proc.plugin/proc_net_dev.c
  web/gui/dashboard_info.js
Labels: area/web, area/collectors, collectors/proc

#13171 Revert "Configurable storage engine for Netdata agents: step 3 (#12892)"
  daemon/analytics.c
  daemon/global_statistics.c
  daemon/main.c
  daemon/unit_test.c
  database/engine/rrdengine.c
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
  database/engine/rrdengineapi.h
  database/ram/rrddim_mem.c
  database/ram/rrddim_mem.h
  database/rrd.c
  database/rrd.h
  database/rrdhost.c
  database/rrdset.c
  database/sqlite/sqlite_aclk_chart.c
  database/sqlite/sqlite_functions.c
  database/storage_engine.c
  database/storage_engine.h
  web/api/queries/query.c
Labels: area/web, area/daemon, area/database, area/tests, area/ACLK

#13176 feat(proc/proc_net_dev): add dim per phys link state to the "Interface Physical Link State" chart
  collectors/proc.plugin/proc_net_dev.c
  web/gui/dashboard_info.js
Labels: area/web, area/collectors, collectors/proc

#13181 add k8s_state dashboard_info
  web/gui/dashboard_info.js
Labels: area/web

#13173 Add ml alerts examples
  health/Makefile.am
  health/REFERENCE.md
  health/health.d/ml.conf
Labels: area/docs, area/health, area/ml, area/build

#13183 fix(freebsd.plugin): fix wired/cached/avail memory calculation on FreeBSD with ZFS
  collectors/freebsd.plugin/freebsd_sysctl.c
Labels: area/collectors, collectors/freebsd

#13187 Add type label for network interfaces
  collectors/proc.plugin/proc_net_dev.c
Labels: area/collectors, collectors/proc

#13188 feat(python.d/smartd_log): add 2nd job that tries to read from '/var/lib/smartmontools/'
  collectors/python.d.plugin/python_modules/bases/FrameworkServices/SimpleService.py
  collectors/python.d.plugin/smartd_log/smartd_log.conf
Labels: area/collectors, collectors/python.d

#13200 Fix cgroups netdev chart labels
  collectors/proc.plugin/proc_net_dev.c
Labels: area/collectors, collectors/proc

#13196 Allow for an easy way to do metadata migrations
  CMakeLists.txt
  Makefile.am
  database/sqlite/sqlite_db_migration.c
  database/sqlite/sqlite_db_migration.h
  database/sqlite/sqlite_functions.c
Labels: area/database, area/build

#13193 Clean sqlite prepared statements on thread shutdown
  database/sqlite/sqlite_functions.c
Labels: area/database

#13194 Add configuration for dbengine page fetch timeout and retry count
  daemon/main.c
  database/engine/pagecache.c
  database/engine/pagecache.h
  database/engine/rrdengineapi.c
  database/engine/rrdengineapi.h
Labels: area/daemon, area/database

#13207 Print INTERNAL BUG messages only when NETDATA_INTERNAL_CHECKS is enabled
  web/api/queries/query.c
Labels: area/web

#13189 chore(netdata-installer): remove a call to 'cleanup_old_netdata_updater()' because it is no longer exists
  netdata-installer.sh
Labels: area/packaging

#13203 Add user plugin dirs to environment
  collectors/plugins.d/README.md
  daemon/analytics.c
Labels: area/docs, area/collectors, area/daemon, collectors/plugins.d

#13182 make configuration example clearer
  ml/README.md
Labels: area/docs, area/ml

#13215 deduplicate mountinfo based on mount point
  collectors/proc.plugin/proc_self_mountinfo.c
Labels: area/collectors, collectors/proc

#13132 Use new mqtt implementation as default
  aclk/README.md
  aclk/aclk.c
  aclk/aclk_api.c
Labels: area/docs, area/ACLK

#13104 fix(updater): fix updating when using `--force-update` and new version of the updater script is available
  packaging/installer/netdata-updater.sh
Labels: area/packaging

#13206 Ensure tmpdir is set for every function that uses it.
  packaging/installer/kickstart.sh
Labels: area/packaging

#13208 Don’t use realpath to find kickstart source path.
  packaging/installer/kickstart.sh
Labels: area/packaging

#13209 Properly handle interactivity in the updater code.
  packaging/installer/kickstart.sh
  packaging/installer/netdata-updater.sh
Labels: area/packaging

#13225 ci: add issues to the Agent Board project workflow
  .github/workflows/add-to-project.yml
Labels: area/ci

#13220 fix(cgroups.plugin): fix qemu VMs and LXC containers name resolution
  collectors/cgroups.plugin/cgroup-name.sh
Labels: area/collectors, collectors/cgroups

#13214 feat(python.d): load modules from user plugin directories (NETDATA_USER_PLUGINS_DIRS)
  collectors/python.d.plugin/python.d.plugin.in
Labels: area/collectors, collectors/python.d

#13227 Add more sqlite unittests
  daemon/unit_test.c
Labels: area/daemon, area/tests

#13235 Bump repoconfig package version used in kickstart.sh
  packaging/installer/kickstart.sh
Labels: area/packaging

#13080 Update netdata commands
  daemon/README.md
  daemon/main.c
Labels: area/docs, area/daemon

#13234 Use correct PAT for add-to-project workflow.
  .github/workflows/add-to-project.yml
Labels: area/ci, no changelog

#13236 Implement PackageCloud cleanup
  .github/scripts/netdata-pkgcloud-cleanup.py
  .github/scripts/old_package_purging.sh
  .github/workflows/packagecloud.yml
  .github/workflows/packaging.yml
Labels: area/ci

#13240 Upload packages to new self-hosted repository infrastructure.
  .github/data/distros.yml
  .github/scripts/package-upload.sh
  .github/workflows/packaging.yml
  .github/workflows/repoconfig-packages.yml
Labels: area/ci, no changelog

#13195 Dictionaries with reference counters and full deletion support during traversal
  collectors/statsd.plugin/statsd.c
  daemon/global_statistics.c
  database/rrdlabels.c
  libnetdata/dictionary/README.md
  libnetdata/dictionary/dictionary.c
  libnetdata/dictionary/dictionary.h
  libnetdata/log/log.c
  libnetdata/log/log.h
Labels: area/docs, area/collectors, area/daemon, area/database, collectors/statsd

#13245 Add fstype labels to disk charts
  collectors/diskspace.plugin/plugin_diskspace.c
Labels: area/collectors, collectors/diskspace, collectors/proc

#13248 Query engine with natural and virtual points
  daemon/unit_test.c
  database/metric_correlations.c
  database/ram/rrddim_mem.c
  web/api/queries/query.c
  web/api/queries/rrdr.h
  web/api/web_api_v1.c
Labels: area/web, area/daemon, area/database, area/tests

#13261 Get rid of extra semicolon in Graphite exporting
  exporting/graphite/graphite.c
Labels: area/exporting

#13255 Remove warnings while compiling ML on FreeBSD
  Makefile.am
Labels: area/build

#13259 Ebpf issues
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf_apps.h
  collectors/ebpf.plugin/ebpf_cachestat.c
  collectors/ebpf.plugin/ebpf_cachestat.h
  collectors/ebpf.plugin/ebpf_cgroup.c
  collectors/ebpf.plugin/ebpf_cgroup.h
  collectors/ebpf.plugin/ebpf_dcstat.c
  collectors/ebpf.plugin/ebpf_dcstat.h
  collectors/ebpf.plugin/ebpf_disk.c
  collectors/ebpf.plugin/ebpf_fd.c
  collectors/ebpf.plugin/ebpf_fd.h
  collectors/ebpf.plugin/ebpf_filesystem.c
  collectors/ebpf.plugin/ebpf_hardirq.c
  collectors/ebpf.plugin/ebpf_mdflush.c
  collectors/ebpf.plugin/ebpf_mount.c
  collectors/ebpf.plugin/ebpf_oomkill.c
  collectors/ebpf.plugin/ebpf_process.c
  collectors/ebpf.plugin/ebpf_shm.c
  collectors/ebpf.plugin/ebpf_shm.h
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_socket.h
  collectors/ebpf.plugin/ebpf_softirq.c
  collectors/ebpf.plugin/ebpf_swap.c
  collectors/ebpf.plugin/ebpf_swap.h
  collectors/ebpf.plugin/ebpf_sync.c
  collectors/ebpf.plugin/ebpf_vfs.c
  collectors/ebpf.plugin/ebpf_vfs.h
Labels: area/collectors, collectors/ebpf

#13264 chore(python.d): remove deprecated modules from python.d.conf
  collectors/python.d.plugin/python.d.conf
Labels: area/collectors, collectors/python.d

#13252 Fix issues with DEB postinstall script.
  contrib/debian/netdata.postinst
Labels: area/packaging

#13170 Remove warnings when openssl 3 is used.
  aclk/aclk.c
  aclk/aclk_otp.c
  aclk/aclk_otp.h
  libnetdata/socket/security.h
Labels: area/ACLK

#13267 Fix package build filtering on PRs.
  .github/workflows/packaging.yml
Labels: area/ci

#13275 Fix alignment in charts endpoint
  web/api/formatters/rrdset2json.c
Labels: area/web

#13271 Rename the chart of real memory usage in FreeBSD
  collectors/freebsd.plugin/freebsd_sysctl.c
  web/gui/dashboard_info.js
Labels: area/web, area/collectors, collectors/freebsd

#13280 bump go.d.plugin version to v0.33.0
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#13282 query engine fixes for alarms and dashboards
  web/api/queries/query.c
Labels: area/web
