Repository netdata/netdata, pull requests merged in 2022-12, with the labels that each got.

#14075 remove python.d/springboot
  collectors/COLLECTORS.md
  collectors/python.d.plugin/Makefile.am
  collectors/python.d.plugin/python.d.conf
  collectors/python.d.plugin/springboot/Makefile.inc
  collectors/python.d.plugin/springboot/README.md
  collectors/python.d.plugin/springboot/springboot.chart.py
  collectors/python.d.plugin/springboot/springboot.conf
Labels: area/docs, area/collectors, area/build, collectors/python.d

#14074 fix backfilling statistics
  web/api/queries/query.c
Labels: area/web

#14076 fix SSL related crashes
  libnetdata/socket/security.c
  streaming/sender.c
Labels: area/streaming

#14070 Add workflow dispatch trigger for parent/child with cloud integration smoke tests
  .github/workflows/cloud_regression.yml
Labels: area/ci

#14077 optimize workers statistics performance
  collectors/proc.plugin/ipc.c
  daemon/global_statistics.c
  libnetdata/procfile/procfile.c
  libnetdata/procfile/procfile.h
  libnetdata/worker_utilization/worker_utilization.c
  libnetdata/worker_utilization/worker_utilization.h
Labels: area/collectors, area/daemon, collectors/proc

#14079 replication fixes 9
  daemon/global_statistics.c
  database/rrdcontext.c
  streaming/replication.c
  streaming/rrdpush.h
Labels: area/daemon, area/database, area/streaming

#14080 add basic dashboard info for NGINX Plus
  web/gui/dashboard_info.js
Labels: area/web

#14081 Fix 1.37 crashes
  daemon/global_statistics.c
  daemon/service.c
  database/engine/pagecache.c
  database/engine/rrdengine.c
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
  database/rrddim.c
  database/sqlite/sqlite_context.c
  database/sqlite/sqlite_functions.c
Labels: area/daemon, area/database

#13960 Update workflows to use $GITHUB_OUTPUT instead of ::set-output::
  .github/scripts/gen-matrix-build.py
  .github/scripts/gen-matrix-packaging.py
  .github/scripts/gen-matrix-repoconfig.py
  .github/scripts/get-static-cache-key.sh
  .github/scripts/prepare-release-base.sh
  .github/workflows/build.yml
  .github/workflows/cloud_regression.yml
  .github/workflows/codeql.yml
  .github/workflows/docker.yml
  .github/workflows/packaging.yml
  .github/workflows/repoconfig-packages.yml
  .github/workflows/review.yml
Labels: area/ci, no changelog

#14082 Fix typo in Fedora 37 build configuration.
  .github/data/distros.yml
Labels: area/ci, no changelog

#14085 Fix __atomic_compare_exchange_n() atomics
  collectors/diskspace.plugin/plugin_diskspace.c
  database/rrdcontext.c
  libnetdata/dictionary/dictionary.c
  libnetdata/string/string.c
Labels: area/collectors, area/database, collectors/diskspace

#14086 fix v1.37 dbengine page alignment crashes
  database/engine/pagecache.c
  database/engine/pagecache.h
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
  database/engine/rrdengineapi.h
  database/ram/rrddim_mem.c
  database/ram/rrddim_mem.h
  database/rrd.h
  database/rrdcontext.c
  database/rrddim.c
Labels: area/database

#14001 Wmi descriptions
  web/gui/dashboard_info.js
Labels: area/web

#14092 docs: add a note to set container nofile ulimit for Fedora users
  packaging/docker/README.md
Labels: area/packaging, area/docs

#13702 Cleanly reimplement system/edit-config.in.
  .gitignore
  packaging/docker/run.sh
  system/Makefile.am
  system/edit-config
  system/edit-config.in
Labels: area/packaging, area/build

#14095 Fix missing required package install of tar on FreeBSD
  packaging/installer/install-required-packages.sh
Labels: area/packaging

#14094 Add version to netdatacli
  daemon/commands.c
  daemon/commands.h
Labels: area/daemon

#14021 add clickhouse third party collector and install instructions
  collectors/COLLECTORS.md
Labels: area/docs, area/collectors

#14104 fix docker host editable config
  packaging/docker/README.md
  packaging/docker/run.sh
Labels: area/packaging, area/docs

#14105 fix health emphemerality labels src
  health/health.c
Labels: area/health

#14111 Fix minor typo.
  collectors/COLLECTORS.md
Labels: area/docs, area/collectors

#14118 ci: fix cgroup-parent name in packaging
  .github/workflows/packaging.yml
Labels: area/ci

#14072 remove deprecated python.d collectors announced in v1.37.0 deprecation notice
  collectors/COLLECTORS.md
  collectors/python.d.plugin/Makefile.am
  collectors/python.d.plugin/dockerd/Makefile.inc
  collectors/python.d.plugin/dockerd/README.md
  collectors/python.d.plugin/dockerd/dockerd.chart.py
  collectors/python.d.plugin/dockerd/dockerd.conf
  collectors/python.d.plugin/logind/Makefile.inc
  collectors/python.d.plugin/logind/README.md
  collectors/python.d.plugin/logind/logind.chart.py
  collectors/python.d.plugin/logind/logind.conf
  collectors/python.d.plugin/python.d.conf
  docs/collect/container-metrics.md
Labels: area/docs, area/collectors, area/build, collectors/python.d

#14073 remove deprecated fping.plugin in accordance with v1.37.0 deprecation notice
  .github/labeler.yml
  .gitignore
  build_external/scenarios/aclk-testing/agent_netdata.conf
  build_external/scenarios/gaps_lo/mostly_off.conf
  collectors/COLLECTORS.md
  collectors/Makefile.am
  collectors/REFERENCE.md
  collectors/fping.plugin/Makefile.am
  collectors/fping.plugin/README.md
  collectors/fping.plugin/fping.conf
  collectors/fping.plugin/fping.plugin.in
  collectors/plugins.d/README.md
  configure.ac
  health/Makefile.am
  health/QUICKSTART.md
  health/health.d/fping.conf
  packaging/docker/Dockerfile
  packaging/makeself/install-or-update.sh
  packaging/makeself/jobs/50-fping-5.1.install.sh
  system/netdata.service.in
  tests/alarm_repetition/netdata.conf_with_repetition
  tests/alarm_repetition/netdata.conf_without_repetition
  web/gui/dashboard_info.js
Labels: area/ci, area/packaging, area/docs, area/web, area/health, area/collectors, area/tests, area/build, collectors/fping, collectors/plugins.d

#14108 add filtering options to functions table output
  collectors/apps.plugin/apps_plugin.c
Labels: area/collectors, collectors/apps

#14117 don't log too much about streaming connections
  streaming/receiver.c
  streaming/rrdpush.c
  streaming/sender.c
Labels: area/streaming

#14116 fix get_system_cpus()
  aclk/aclk.c
  collectors/apps.plugin/apps_plugin.c
  collectors/proc.plugin/proc_stat.c
  daemon/main.c
  libnetdata/os.c
  libnetdata/os.h
  web/server/static/static-threaded.c
Labels: area/web, area/collectors, area/daemon, area/ACLK, collectors/apps, collectors/proc

#14124 bump go.d.plugin to v0.46.0
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#14090 Fix eBPF load on RH 8.x family and improve code.
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_cachestat.c
  collectors/ebpf.plugin/ebpf_cachestat.h
  collectors/ebpf.plugin/ebpf_dcstat.c
  collectors/ebpf.plugin/ebpf_disk.c
  collectors/ebpf.plugin/ebpf_fd.c
  collectors/ebpf.plugin/ebpf_fd.h
  collectors/ebpf.plugin/ebpf_filesystem.c
  collectors/ebpf.plugin/ebpf_hardirq.c
  collectors/ebpf.plugin/ebpf_mdflush.c
  collectors/ebpf.plugin/ebpf_mount.c
  collectors/ebpf.plugin/ebpf_process.c
  collectors/ebpf.plugin/ebpf_shm.c
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_softirq.c
  collectors/ebpf.plugin/ebpf_swap.c
  collectors/ebpf.plugin/ebpf_sync.c
  collectors/ebpf.plugin/ebpf_vfs.c
  libnetdata/ebpf/ebpf.c
Labels: area/collectors, collectors/ebpf

#14133 fix httpcheck alarms
  health/health.d/httpcheck.conf
Labels: area/health

#14134 Fix conditions for uploading repoconfig packages to new infra.
  .github/workflows/repoconfig-packages.yml
Labels: area/ci

#14136 Remove Fedora 35 from the list of supported platforms.
  .github/data/distros.yml
  packaging/PLATFORM_SUPPORT.md
Labels: area/ci, area/packaging, area/docs

#14109 expose ACLK SSL KeyLog interface for developers
  Makefile.am
  aclk/aclk.c
  configure.ac
Labels: area/ACLK, area/build

#14140 fix(packaging): add setuid for cgroup-network and ebpf.plugin in RPM
  netdata.spec.in
Labels: area/packaging

#14147 Disable integration by default (eBPF <-> APPS)
  collectors/ebpf.plugin/README.md
  collectors/ebpf.plugin/ebpf.d.conf
Labels: area/docs, area/collectors, collectors/ebpf

#14151 bump go.d.plugin to v0.46.1
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#14150 Add a health configuration option of which alarms to load
  daemon/config/README.md
  health/health.c
  health/health.h
  health/health_config.c
Labels: area/docs, area/health, area/daemon

#14100 Switch to self-hosted infrastructure for RPM package distribution.
  packaging/repoconfig/netdata-edge.repo.centos
  packaging/repoconfig/netdata-edge.repo.fedora
  packaging/repoconfig/netdata-edge.repo.ol
  packaging/repoconfig/netdata-edge.repo.suse
  packaging/repoconfig/netdata-repo.spec
  packaging/repoconfig/netdata.repo.centos
  packaging/repoconfig/netdata.repo.fedora
  packaging/repoconfig/netdata.repo.ol
  packaging/repoconfig/netdata.repo.suse
Labels: area/packaging

#14142 Document memory mode alloc
  daemon/config/README.md
Labels: area/docs, area/daemon

#13762 Support HTTP proxy Basic auth
  aclk/aclk.c
  aclk/aclk_otp.c
  aclk/aclk_util.c
  aclk/aclk_util.h
  aclk/https_client.c
  aclk/https_client.h
Labels: area/ACLK

#14156 fix nodejs app detection
  collectors/apps.plugin/apps_groups.conf
Labels: area/collectors, collectors/apps

#14164 Fix race on query thread startup
  aclk/aclk_query.c
Labels: bug, area/ACLK

#14065 Refactor ML code and add support for multiple KMeans models.
  Makefile.am
  collectors/all.h
  configure.ac
  daemon/global_statistics.c
  daemon/global_statistics.h
  daemon/main.c
  database/rrd.h
  database/rrdcontext.c
  database/rrddim.c
  database/rrdhost.c
  database/rrdset.c
  ml/ADCharts.cc
  ml/ADCharts.h
  ml/Chart.cc
  ml/Chart.h
  ml/Config.cc
  ml/Config.h
  ml/Dimension.cc
  ml/Dimension.h
  ml/Host.cc
  ml/Host.h
  ml/Query.h
  ml/Queue.h
  ml/README.md
  ml/SamplesBufferTests.cc
  ml/Stats.h
  ml/ml-dummy.c
  ml/ml-private.h
  ml/ml.cc
  ml/ml.h
  netdata-installer.sh
Labels: area/packaging, area/docs, area/collectors, area/daemon, area/database, area/ml, area/build

#14169 Add tkatsoulas as a codeowner for documentation.
  .github/CODEOWNERS
Labels: no changelog

#14158 Finish switch to self-hosted RPM repositories.
  packaging/installer/README.md
  packaging/installer/kickstart.sh
  packaging/installer/methods/packages.md
Labels: area/packaging, area/docs

#14166 minor - fix localhost nodeinstance fnc caps
  aclk/aclk_capas.c
Labels: area/ACLK

#14171 fix a typo in debian postinst
  contrib/debian/netdata.postinst
Labels: area/packaging

#14172 Revert "Refactor ML code and add support for multiple KMeans models. …
  Makefile.am
  collectors/all.h
  configure.ac
  daemon/global_statistics.c
  daemon/global_statistics.h
  daemon/main.c
  database/rrd.h
  database/rrdcontext.c
  database/rrddim.c
  database/rrdhost.c
  database/rrdset.c
  ml/ADCharts.cc
  ml/ADCharts.h
  ml/Chart.cc
  ml/Chart.h
  ml/Config.cc
  ml/Config.h
  ml/Dimension.cc
  ml/Dimension.h
  ml/Host.cc
  ml/Host.h
  ml/Query.h
  ml/Queue.h
  ml/README.md
  ml/SamplesBufferTests.cc
  ml/Stats.h
  ml/ml-dummy.c
  ml/ml-private.h
  ml/ml.cc
  ml/ml.h
  netdata-installer.sh
Labels: area/docs, area/collectors, area/daemon, area/database, area/ml, area/build

#14160 Ensure --claim-url for the claim script is a URL
  packaging/installer/kickstart.sh
Labels: area/packaging

#14168 feat(packaging): add netdata to www-data group on Proxmox
  contrib/debian/netdata.postinst
  netdata-installer.sh
  packaging/makeself/install-or-update.sh
Labels: area/packaging

#14178 docs: explicitly set the `nofile` limit for Netdata container and document the reason for this
  packaging/docker/README.md
Labels: area/packaging, area/docs

#14173 use specific charts labels instead of family in alarms
  collectors/proc.plugin/proc_spl_kstat_zfs.c
  health/health.d/cgroups.conf
  health/health.d/disks.conf
  health/health.d/mdstat.conf
  health/health.d/net.conf
  health/health.d/zfs.conf
Labels: area/health, area/collectors, collectors/proc

#14174 remove interface name from cgroup net family
  collectors/proc.plugin/proc_net_dev.c
Labels: area/collectors, collectors/proc

#14182 bump go.d.plugin to v0.47.0
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#14180 fix logrotate postrotate
  system/netdata.logrotate.in
Labels: area/packaging

#14176 Add compatibility links for RHEL repos.
  .github/data/distros.yml
Labels: area/ci, no changelog

#14188 add `telegraf` to `apps_groups.conf` monitoring section
  collectors/apps.plugin/apps_groups.conf
Labels: area/collectors, collectors/apps

#14195 bump go.d.plugin to v0.48.0
  collectors/COLLECTORS.md
  collectors/python.d.plugin/Makefile.am
  collectors/python.d.plugin/mongodb/Makefile.inc
  collectors/python.d.plugin/mongodb/README.md
  collectors/python.d.plugin/mongodb/mongodb.chart.py
  collectors/python.d.plugin/mongodb/mongodb.conf
  collectors/python.d.plugin/ntpd/README.md
  collectors/python.d.plugin/ntpd/ntpd.chart.py
  collectors/python.d.plugin/proxysql/README.md
  collectors/python.d.plugin/proxysql/proxysql.chart.py
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging, area/docs, area/collectors, area/build, collectors/python.d
