Repository netdata/netdata, pull requests merged in 2023-07, with the labels that each got.

#15290 Remove extra parenthesis from doc
  docs/cloud/manage/organize-your-infrastrucutre-invite-your-team.md
Labels: area/docs

#13962 Add profile.plugin
  CMakeLists.txt
  Makefile.am
  collectors/profile.plugin/Makefile.am
  collectors/profile.plugin/README.md
  collectors/profile.plugin/plugin_profile.cc
  daemon/global_statistics.c
  daemon/static_threads.c
Labels: area/docs, area/collectors, area/daemon, area/build

#15299 s/info/netdata_log_info/
  collectors/profile.plugin/plugin_profile.cc
Labels: area/collectors

#15303 Change info to netdata_log_info in sqlite_db_migration.c
  database/sqlite/sqlite_db_migration.c
Labels: area/database

#15305 ci: disable clang format
  .github/workflows/review.yml
Labels: area/ci

#15306 Check for source field when requesting /api/v1/alarm_log
  database/sqlite/sqlite_health.c
Labels: area/database

#15307 Release acquired dimensions
  collectors/plugins.d/pluginsd_parser.c
Labels: area/collectors, collectors/plugins.d

#15300 Change query to store host system info values
  database/sqlite/sqlite_metadata.c
Labels: area/database

#15308 move collectors meta to metadata/
  collectors/metadata/schemas/single-module.json
  collectors/metadata/single-module-template.yaml
Labels: area/collectors

#15297 Update metrics-streaming-and-replication.md
  docs/category-overview-pages/metrics-streaming-and-replication.md
Labels: area/docs

#15298 Fix wording issue in Docker README
  packaging/docker/README.md
Labels: area/packaging, area/docs

#15310 health: respect overriding nc binary for IRC notifications
  health/notifications/alarm-notify.sh.in
Labels: area/health

#15309 hide not available for viewers charts when exporting in shell format
  web/api/exporters/shell/allmetrics_shell.c
Labels: area/web

#15124 fix(alerting): removing some of criticals
  health/health.d/apcupsd.conf
  health/health.d/bcache.conf
  health/health.d/beanstalkd.conf
  health/health.d/bind_rndc.conf
  health/health.d/boinc.conf
  health/health.d/cgroups.conf
  health/health.d/cpu.conf
  health/health.d/dnsmasq_dhcp.conf
  health/health.d/docker.conf
  health/health.d/elasticsearch.conf
  health/health.d/gearman.conf
  health/health.d/geth.conf
  health/health.d/ioping.conf
  health/health.d/ipc.conf
  health/health.d/linux_power_supply.conf
  health/health.d/nut.conf
  health/health.d/pihole.conf
  health/health.d/ram.conf
  health/health.d/scaleio.conf
  health/health.d/vcsa.conf
  health/health.d/windows.conf
Labels: area/health

#15313 stale vitual hosts
  database/rrd.h
Labels: area/database

#15315 fix alerts transitions sorting
  database/contexts/api_v2.c
  database/sqlite/sqlite_health.c
Labels: area/database

#15078 Additional CO-RE code (eBPF.plugin)
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_disk.c
  collectors/ebpf.plugin/ebpf_disk.h
  collectors/ebpf.plugin/ebpf_filesystem.c
  collectors/ebpf.plugin/ebpf_filesystem.h
  collectors/ebpf.plugin/ebpf_hardirq.c
  collectors/ebpf.plugin/ebpf_hardirq.h
  collectors/ebpf.plugin/ebpf_mdflush.c
  collectors/ebpf.plugin/ebpf_mdflush.h
  libnetdata/ebpf/ebpf.h
Labels: area/collectors, collectors/ebpf

#15312 bump go.d.plugin to v0.54.0
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#15317 add add summary linking to alert instances (ati) when options=summary,values is requested
  database/contexts/api_v2.c
Labels: area/database

#15318 avoid memory allocations for alert transitions facets processing
  database/contexts/api_v2.c
  database/contexts/rrdcontext.h
Labels: area/database

#15320 local-listeners: use host prefix in read_cmdline
  collectors/plugins.d/local_listeners.c
  libnetdata/log/log.c
Labels: area/collectors, collectors/plugins.d

#15302 Create integrations JSON schema
  collectors/metadata/schemas/single-module.json
  collectors/metadata/single-module-template.yaml
  docs/.templates/integration/schema.json
Labels: area/collectors

#15324 Fix coverity issue 394862 - Argument cannot be negative
  claim/claim.c
Labels: area/claim

#15326 Single module schema, add required properties
  collectors/metadata/schemas/single-module.json
  collectors/metadata/single-module-template.yaml
Labels: area/collectors

#15329 alerts_transitions outputs hostnames and items statistics
  database/contexts/api_v2.c
Labels: area/database

#15335 Add missing required field in schema
  collectors/metadata/schemas/single-module.json
Labels: area/collectors

#15327 multi-threaded version of freeipmi.plugin
  collectors/freeipmi.plugin/README.md
  collectors/freeipmi.plugin/freeipmi_plugin.c
  collectors/freeipmi.plugin/metrics.csv
  health/health.d/ipmi.conf
  libnetdata/libnetdata.h
Labels: area/docs, area/health, area/collectors, collectors/freeipmi

#15328 Use spinlock in host and chart
  database/contexts/api_v2.c
  database/contexts/query_target.c
  database/rrd.h
  database/rrdcalc.c
  database/rrdhost.c
  database/rrdset.c
  database/sqlite/sqlite_aclk_alert.c
  database/sqlite/sqlite_health.c
  health/health.c
  health/health_log.c
  web/api/formatters/json_wrapper.c
  web/api/formatters/rrdset2json.c
Labels: area/web, area/health, area/database, area/aclk

#15337 add internal stats metrics csv
  daemon/metrics.csv
Labels: area/daemon

#15321 bearer authorization API
  CMakeLists.txt
  Makefile.am
  libnetdata/avl/avl.h
  libnetdata/dictionary/dictionary.c
  libnetdata/dictionary/dictionary.h
  libnetdata/socket/socket.h
  libnetdata/string/string.c
  registry/registry.c
  registry/registry_db.c
  registry/registry_init.c
  registry/registry_internals.c
  registry/registry_internals.h
  registry/registry_log.c
  registry/registry_machine.c
  registry/registry_machine.h
  registry/registry_person.c
  registry/registry_person.h
  registry/registry_url.c
  registry/registry_url.h
  web/api/web_api.c
  web/api/web_api.h
  web/api/web_api_v1.c
  web/api/web_api_v2.c
Labels: area/web, area/registry, area/build

#15342 bearer improvements
  aclk/aclk_capas.c
  claim/claim.c
  daemon/common.c
  database/contexts/api_v2.c
  database/contexts/rrdcontext.h
  registry/registry.c
  web/api/formatters/json_wrapper.c
  web/api/queries/weights.c
  web/api/web_api.c
  web/api/web_api_v2.c
  web/server/web_client.c
  web/server/web_client.h
Labels: area/web, area/daemon, area/database, area/registry, area/claim, area/aclk

#15340 Remove availability from required fields on metric level
  collectors/metadata/schemas/single-module.json
Labels: area/collectors

#15349 bearer protection - additions
  registry/registry.c
Labels: area/registry

#15347 add missing labels to freeipmi metrics csv
  collectors/freeipmi.plugin/metrics.csv
Labels: area/collectors, collectors/freeipmi

#15351 Fix installation type command
  packaging/installer/UPDATE.md
Labels: area/packaging, area/docs

#15341 Attempt to more aggressively skip CI jobs on PRs if those jobs are irrelevant to the PR.
  .github/workflows/build-dummy.yml
  .github/workflows/build.yml
  .github/workflows/checks-dummy.yml
  .github/workflows/checks.yml
  .github/workflows/docker-dummy.yml
  .github/workflows/docker.yml
  .github/workflows/packaging-dummy.yml
  .github/workflows/packaging.yml
Labels: area/ci

#15356 Rename multi module yamls to same name but wuth prefix
  collectors/apps.plugin/multi_metadata.yaml
  collectors/cgroups.plugin/multi_metadata.yaml
  collectors/debugfs.plugin/multi_metadata.yaml
  collectors/ebpf.plugin/multi_metadata.yaml
  collectors/freebsd.plugin/multi_metadata.yaml
  collectors/freeipmi.plugin/multi_metadata.yaml
  collectors/macos.plugin/multi_metadata.yaml
  collectors/proc.plugin/multi_metadata.yaml
Labels: area/collectors, collectors/ebpf, collectors/apps, collectors/cgroups, collectors/freebsd, collectors/freeipmi, collectors/macos, collectors/proc, collectors/debugfs

#15360 fix(freeipmi): set sensor state on every reading
  collectors/freeipmi.plugin/freeipmi_plugin.c
Labels: area/collectors, collectors/freeipmi

#15361 format the sdr cache filenames
  collectors/freeipmi.plugin/freeipmi_plugin.c
Labels: area/collectors, collectors/freeipmi

#15314 Keep health log history in seconds
  daemon/config/README.md
  database/rrd.h
  database/sqlite/sqlite_functions.c
  database/sqlite/sqlite_health.c
  health/health.c
  health/health.h
  streaming/README.md
  streaming/receiver.c
  streaming/rrdpush.h
  streaming/stream.conf
  web/api/health/README.md
Labels: area/docs, area/web, area/health, area/daemon, area/database, area/streaming

#15366 move not really related props single-module.json -> definitions.json
  collectors/metadata/schemas/definitions.json
  collectors/metadata/schemas/single-module.json
Labels: area/collectors

#15343 Update libbpf on netdata repo
  packaging/current_libbpf.checksums
  packaging/current_libbpf.version
Labels: area/packaging

#15365 Add keys to integrations schema, categories, icon path, plus some fixes
  collectors/metadata/schemas/definitions.json
  collectors/metadata/schemas/single-module.json
  collectors/metadata/single-module-template.yaml
Labels: area/collectors

#15371 dont log error on opening .environment
  web/api/formatters/charts2json.c
Labels: area/web

#15372 simplify collector schema by moving some props under meta
  collectors/metadata/schemas/definitions.json
  collectors/metadata/schemas/single-module.json
  collectors/metadata/single-module-template.yaml
Labels: area/collectors

#15370 Add most-popular entry in oneOf of categories in definitions.json
  collectors/metadata/schemas/definitions.json
Labels: area/collectors

#15376 health: fix windows alarms for vnodes
  health/health.d/windows.conf
Labels: area/health

#15350 agent alert notifications redirect
  health/health.c
  health/notifications/alarm-notify.sh.in
  registry/registry.c
  registry/registry.h
  registry/registry_init.c
  registry/registry_internals.c
  registry/registry_internals.h
  registry/registry_machine.c
  web/api/web_api_v1.c
Labels: area/web, area/health, area/registry

#15375 Fix coverity issues
  claim/claim.c
  streaming/receiver.c
Labels: area/streaming, area/claim

#15368 Rename log_access and log_health
  aclk/aclk.c
  aclk/aclk_query.c
  aclk/aclk_rx_msgs.c
  collectors/statsd.plugin/statsd.c
  database/contexts/rrdcontext.c
  database/rrdcalc.c
  database/sqlite/sqlite_aclk_alert.c
  database/sqlite/sqlite_aclk_node.c
  database/sqlite/sqlite_health.c
  health/health.c
  health/health_config.c
  libnetdata/log/log.c
  libnetdata/log/log.h
  streaming/receiver.c
  streaming/rrdpush.c
  streaming/sender.c
  web/api/queries/query.c
  web/rtc/webrtc.c
  web/server/h2o/http_server.c
  web/server/web_client.c
  web/server/web_server.c
Labels: area/web, area/health, area/collectors, area/database, area/streaming, area/aclk, collectors/statsd

#15384 Fix CodeQL alert
  database/rrdhost.c
Labels: area/database

#15373 Update libbpf version (1.2.2)
  packaging/current_libbpf.checksums
  packaging/current_libbpf.version
Labels: area/packaging

#15383 Add missing files to web/gui/Makefile.am.
  web/gui/Makefile.am
Labels: area/web, area/build

#15382 Updates on JSON schemas
  collectors/metadata/schemas/definitions.json
  collectors/metadata/schemas/single-module.json
  collectors/metadata/single-module-template.yaml
  docs/.templates/integration/schema.json
Labels: area/collectors

#15388 dont add all nodes to registry action hello
  registry/registry.c
  tests/ebpf/ebpf_thread_function.sh
Labels: area/registry, area/tests

#15392 add expiration to bearer token response
  web/api/web_api_v2.c
Labels: area/web

#15396 packaging: fix arch detection in update_static
  packaging/installer/netdata-updater.sh
Labels: area/packaging

#15398 collector meta schema: global config examples folding + per example
  collectors/metadata/schemas/definitions.json
  collectors/metadata/schemas/single-module.json
  collectors/metadata/single-module-template.yaml
Labels: area/collectors

#15385 Create categories.yaml
  collectors/metadata/schemas/definitions.json
  docs/.templates/integration/schema.json
  integrations/categories.yaml
Labels: area/collectors

#15403 remove collector meta definitions
  collectors/metadata/schemas/definitions.json
  collectors/metadata/schemas/single-module.json
Labels: area/collectors

#15405 Pre release fixes
  daemon/main.c
  database/rrdhost.c
  libnetdata/socket/socket.h
  registry/registry.c
  web/api/web_api.h
  web/api/web_api_v1.c
  web/api/web_api_v2.c
Labels: area/web, area/daemon, area/database, area/registry

#15404 Hide eBPF functions
  collectors/ebpf.plugin/ebpf.c
Labels: area/collectors, collectors/ebpf

#15408 add reference to cncf
  README.md
Labels: area/docs

#15044 Update README.md
  README.md
Labels: area/docs

#15412 Update README.md
  README.md
Labels: area/docs

#15414 Update README.md
  README.md
Labels: area/docs

#15416 Update README.md
  README.md
Labels: area/docs

#15413 collector meta: restrict chart_type to known values
  collectors/metadata/schemas/single-module.json
Labels: area/collectors

#15407 Make skipped CI run even faster.
  .github/workflows/build-dummy.yml
  .github/workflows/packaging-dummy.yml
Labels: area/ci

#15421 use real-time clock for http response headers
  aclk/aclk_query.c
  web/api/badges/web_buffer_svg.c
  web/server/web_client.c
Labels: area/web, area/aclk

#15419 Minor typo fix on consul.conf
  health/health.d/consul.conf
Labels: area/health

#14692 Add support for openSUSE tumbleweed
  .github/data/distros.yml
  packaging/PLATFORM_SUPPORT.md
  packaging/installer/install-required-packages.sh
  packaging/installer/kickstart.sh
  packaging/installer/netdata-updater.sh
Labels: area/ci, area/packaging, area/docs

#15426 fix unlocked registry access and add hostname to search response
  registry/registry.c
  registry/registry_internals.c
  registry/registry_internals.h
Labels: area/registry

#15417 monitor applications file descriptor limits
  Makefile.am
  collectors/all.h
  collectors/apps.plugin/apps_plugin.c
  collectors/proc.plugin/plugin_proc.c
  collectors/proc.plugin/plugin_proc.h
  collectors/proc.plugin/proc_sys_fs_file_nr.c
  health/Makefile.am
  health/health.d/file_descriptors.conf
Labels: area/health, area/collectors, area/build, collectors/apps, collectors/proc

#15420 Bugfix on alerts generation for yamls
  collectors/cgroups.plugin/multi_metadata.yaml
  collectors/charts.d.plugin/apcupsd/metadata.yaml
  collectors/charts.d.plugin/nut/metadata.yaml
  collectors/ebpf.plugin/multi_metadata.yaml
  collectors/freebsd.plugin/multi_metadata.yaml
  collectors/freeipmi.plugin/multi_metadata.yaml
  collectors/ioping.plugin/metadata.yaml
  collectors/macos.plugin/multi_metadata.yaml
  collectors/proc.plugin/multi_metadata.yaml
  collectors/python.d.plugin/adaptec_raid/metadata.yaml
  collectors/python.d.plugin/anomalies/metadata.yaml
  collectors/python.d.plugin/beanstalk/metadata.yaml
  collectors/python.d.plugin/bind_rndc/metadata.yaml
  collectors/python.d.plugin/boinc/metadata.yaml
  collectors/python.d.plugin/ceph/metadata.yaml
  collectors/python.d.plugin/gearman/metadata.yaml
  collectors/python.d.plugin/haproxy/metadata.yaml
  collectors/python.d.plugin/ipfs/metadata.yaml
  collectors/python.d.plugin/megacli/metadata.yaml
  collectors/python.d.plugin/memcached/metadata.yaml
  collectors/python.d.plugin/retroshare/metadata.yaml
  collectors/python.d.plugin/riakkv/metadata.yaml
  collectors/timex.plugin/metadata.yaml
Labels: area/collectors, collectors/ebpf, collectors/cgroups, collectors/charts.d, collectors/freebsd, collectors/freeipmi, collectors/ioping, collectors/macos, collectors/proc, collectors/python.d, collectors/timex

#15378 Suppress H2O compilation warnings
  Makefile.am
  configure.ac
Labels: area/build

#15431 readme: add link for netdata cloud and sign-in cta
  README.md
Labels: area/docs

#15422 Decode url before checking for question mark
  web/server/web_client.c
Labels: area/web

#15381 Build optimizations
  packaging/docker/Dockerfile
  packaging/docker/gen-cflags.sh
  packaging/makeself/jobs/70-netdata-git.install.sh
Labels: area/packaging, run-ci/packaging

#15430 add chart id and name to alert instances and transitions
  database/contexts/api_v2.c
  database/contexts/rrdcontext.h
  database/sqlite/sqlite_health.c
  libnetdata/eval/eval.h
  tests/ebpf/ebpf_thread_function.sh
Labels: area/database, area/tests

#15435 disable apps_group_file_descriptors_utilization alarm
  health/health.d/file_descriptors.conf
Labels: area/health

#15437 apps.plugin fds limits improvements
  collectors/apps.plugin/apps_plugin.c
Labels: area/collectors, collectors/apps

#15433 Update CODEOWNERS
  .github/CODEOWNERS
Labels: area/ci

#15442 added missing fields to alerts instances
  database/contexts/api_v2.c
  database/contexts/rrdcontext.h
Labels: area/database

#15445 collector meta: remove meta.alternative_monitored_instances
  collectors/metadata/schemas/single-module.json
Labels: area/collectors

#15438 Create netdata-assistant docs
  docs/cloud/netdata-assistant.md
Labels: area/docs

#15359 documentation update for the release of the new UI
  docs/category-overview-pages/accessing-netdata-dashboards.md
  web/gui/README.md
Labels: area/docs, area/web

#15450 Add cgroups yaml
  collectors/cgroups.plugin/multi_metadata.yaml
Labels: area/collectors, collectors/cgroups

#15452 Updates to metadata.yaml
  collectors/charts.d.plugin/ap/metadata.yaml
  collectors/charts.d.plugin/apcupsd/metadata.yaml
  collectors/charts.d.plugin/libreswan/metadata.yaml
  collectors/charts.d.plugin/nut/metadata.yaml
  collectors/charts.d.plugin/opensips/metadata.yaml
  collectors/charts.d.plugin/sensors/metadata.yaml
  collectors/cups.plugin/metadata.yaml
  collectors/diskspace.plugin/metadata.yaml
  collectors/idlejitter.plugin/metadata.yaml
  collectors/ioping.plugin/metadata.yaml
  collectors/nfacct.plugin/metadata.yaml
  collectors/perf.plugin/metadata.yaml
  collectors/python.d.plugin/adaptec_raid/metadata.yaml
  collectors/python.d.plugin/alarms/metadata.yaml
  collectors/python.d.plugin/am2320/metadata.yaml
  collectors/python.d.plugin/anomalies/metadata.yaml
  collectors/python.d.plugin/beanstalk/metadata.yaml
  collectors/python.d.plugin/bind_rndc/metadata.yaml
  collectors/python.d.plugin/boinc/metadata.yaml
  collectors/python.d.plugin/ceph/metadata.yaml
  collectors/python.d.plugin/changefinder/metadata.yaml
  collectors/python.d.plugin/dovecot/metadata.yaml
  collectors/python.d.plugin/exim/metadata.yaml
  collectors/python.d.plugin/fail2ban/metadata.yaml
  collectors/python.d.plugin/gearman/metadata.yaml
  collectors/python.d.plugin/go_expvar/metadata.yaml
  collectors/python.d.plugin/haproxy/metadata.yaml
  collectors/python.d.plugin/hddtemp/metadata.yaml
  collectors/python.d.plugin/hpssa/metadata.yaml
  collectors/python.d.plugin/icecast/metadata.yaml
  collectors/python.d.plugin/ipfs/metadata.yaml
  collectors/python.d.plugin/litespeed/metadata.yaml
  collectors/python.d.plugin/megacli/metadata.yaml
  collectors/python.d.plugin/memcached/metadata.yaml
  collectors/python.d.plugin/monit/metadata.yaml
  collectors/python.d.plugin/nsd/metadata.yaml
  collectors/python.d.plugin/nvidia_smi/metadata.yaml
  collectors/python.d.plugin/openldap/metadata.yaml
  collectors/python.d.plugin/oracledb/metadata.yaml
  collectors/python.d.plugin/postfix/metadata.yaml
  collectors/python.d.plugin/puppet/metadata.yaml
  collectors/python.d.plugin/rethinkdbs/metadata.yaml
  collectors/python.d.plugin/retroshare/metadata.yaml
  collectors/python.d.plugin/riakkv/metadata.yaml
  collectors/python.d.plugin/samba/metadata.yaml
  collectors/python.d.plugin/sensors/metadata.yaml
  collectors/python.d.plugin/smartd_log/metadata.yaml
  collectors/python.d.plugin/spigotmc/metadata.yaml
  collectors/python.d.plugin/squid/metadata.yaml
  collectors/python.d.plugin/tomcat/metadata.yaml
  collectors/python.d.plugin/tor/metadata.yaml
  collectors/python.d.plugin/traefik/metadata.yaml
  collectors/python.d.plugin/uwsgi/metadata.yaml
  collectors/python.d.plugin/varnish/metadata.yaml
  collectors/python.d.plugin/w1sensor/metadata.yaml
  collectors/python.d.plugin/zscores/metadata.yaml
  collectors/slabinfo.plugin/metadata.yaml
  collectors/tc.plugin/metadata.yaml
  collectors/timex.plugin/metadata.yaml
  collectors/xenstat.plugin/metadata.yaml
Labels: area/collectors, collectors/charts.d, collectors/cups, collectors/diskspace, collectors/idlejitter, collectors/ioping, collectors/nfacct, collectors/perf, collectors/python.d, collectors/slabinfo, collectors/tc, collectors/timex, collectors/xenstat

#15453 Include license for web v2
  web/gui/v2/LICENSE.md
  web/gui/v2/Makefile.am
Labels: area/docs, area/web, area/build

#15364 Add linux powercap metrics collector
  CMakeLists.txt
  Makefile.am
  build_external/scenarios/aclk-testing/agent_netdata.conf
  build_external/scenarios/gaps_lo/mostly_off.conf
  collectors/all.h
  collectors/debugfs.plugin/debugfs_plugin.c
  collectors/debugfs.plugin/debugfs_plugin.h
  collectors/debugfs.plugin/sys_devices_virtual_powercap.c
  web/gui/dashboard_info.js
Labels: area/web, area/collectors, area/build, collectors/debugfs

#15457 Add short descriptions to cgroups yaml
  collectors/cgroups.plugin/multi_metadata.yaml
Labels: area/collectors, collectors/cgroups

#15458 Freeipmi yaml updates
  collectors/freeipmi.plugin/multi_metadata.yaml
Labels: area/collectors, collectors/freeipmi

#15460 Update proc plugin yaml
  collectors/proc.plugin/multi_metadata.yaml
  integrations/categories.yaml
Labels: area/collectors, collectors/proc

#15323 Hash table charts
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_cachestat.c
  collectors/ebpf.plugin/ebpf_dcstat.c
  collectors/ebpf.plugin/ebpf_fd.c
  collectors/ebpf.plugin/ebpf_oomkill.c
  collectors/ebpf.plugin/ebpf_process.c
  collectors/ebpf.plugin/ebpf_process.h
  collectors/ebpf.plugin/ebpf_shm.c
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_swap.c
  collectors/ebpf.plugin/ebpf_vfs.c
  libnetdata/ebpf/ebpf.h
  packaging/ebpf-co-re.checksums
  packaging/ebpf-co-re.version
  packaging/ebpf.checksums
  packaging/ebpf.version
Labels: area/packaging, area/collectors, collectors/ebpf

#15467 apps.plugin fds limits improvements
  collectors/apps.plugin/apps_plugin.c
Labels: area/collectors, collectors/apps

#15468 fix the calculation of incremental-sum
  web/api/queries/incremental_sum/incremental_sum.h
  web/api/queries/query.c
Labels: area/web

#15288 Fix non-interactive options for apt-get and zypper.
  packaging/installer/kickstart.sh
  packaging/installer/netdata-updater.sh
Labels: area/packaging

#15469 fix anchors
  collectors/cgroups.plugin/multi_metadata.yaml
  collectors/freeipmi.plugin/multi_metadata.yaml
Labels: area/collectors, collectors/cgroups, collectors/freeipmi

#15475 Fix coverity issue
  collectors/apps.plugin/apps_plugin.c
Labels: area/collectors, collectors/apps

#15464 Overhaul deployment strategies documentation
  diagrams/docs/Makefile
  diagrams/docs/deployment-parent.drawio
  diagrams/docs/deployment-parents.drawio
  diagrams/docs/deployment-standalone.drawio
  docs/category-overview-pages/deployment-strategies.md
Labels: area/docs

#15478 docs: note that health foreach works only with template
  health/REFERENCE.md
Labels: area/docs, area/health

#15463 Update debugfs plugin metadata.
  collectors/debugfs.plugin/multi_metadata.yaml
Labels: area/collectors, collectors/debugfs

#15484 Add basic slabinfo metadata.
  collectors/slabinfo.plugin/metadata.yaml
  integrations/categories.yaml
Labels: area/collectors, collectors/slabinfo

#15477 Yaml file updates
  collectors/apps.plugin/multi_metadata.yaml
  collectors/ebpf.plugin/multi_metadata.yaml
  collectors/freebsd.plugin/multi_metadata.yaml
  integrations/categories.yaml
Labels: area/collectors, collectors/ebpf, collectors/apps, collectors/freebsd

#15490 Improve the update of the alert chart name in the database
  database/sqlite/sqlite_health.c
  health/health.c
Labels: area/health, area/database

#15491 Fix resource leak - CID 396310
  collectors/proc.plugin/sys_devices_system_edac_mc.c
Labels: area/collectors, collectors/proc

#15499 freeipmi flush keepalive msgs
  collectors/freeipmi.plugin/freeipmi_plugin.c
Labels: area/collectors, collectors/freeipmi

#15483 Update charts.d.plugin yaml
  collectors/charts.d.plugin/sensors/metadata.yaml
Labels: area/collectors, collectors/charts.d

#15496 add required properties to multi-module schema
  collectors/metadata/schemas/multi-module.json
Labels: area/collectors

#15504 apps.plugin limits tracing
  collectors/apps.plugin/apps_plugin.c
Labels: area/collectors, collectors/apps

#15492 docs: clarify health percentage option
  web/api/badges/README.md
Labels: area/docs, area/web

#15292 Drop support for native packages of Ubuntu 22.10
  .github/data/distros.yml
  packaging/PLATFORM_SUPPORT.md
Labels: area/ci, area/packaging, area/docs

#15474 eBPF Yaml
  collectors/ebpf.plugin/multi_metadata.yaml
Labels: area/collectors, collectors/ebpf

#15503 Allow manage/health api call to be used without bearer
  web/api/web_api_v1.c
Labels: area/web

#15479 Make title reflect legacy agent dashboard
  docs/anonymous-statistics.md
  docs/configure/common-changes.md
  packaging/installer/README.md
  web/gui/README.md
  web/server/README.md
Labels: area/packaging, area/docs, area/web

#15455 readme: reorder cols in whats new and add links
  README.md
Labels: area/docs, area/aclk

#15509 Add schema for deployment integrations and centralize integrations schemas.
  .github/data/distros.yml
  integrations/deploy.yaml
  integrations/schemas/collection-multi-module.json
  integrations/schemas/collection-single-module.json
  integrations/schemas/deploy.json
  integrations/schemas/shared.json
Labels: area/ci

#15506 Fill in metadata for idlejitter plugin.
  collectors/idlejitter.plugin/metadata.yaml
Labels: area/collectors, collectors/idlejitter

#15517 Python collector yaml updates
  collectors/python.d.plugin/hddtemp/metadata.yaml
  collectors/python.d.plugin/monit/metadata.yaml
  collectors/python.d.plugin/nsd/metadata.yaml
  collectors/python.d.plugin/spigotmc/metadata.yaml
  collectors/python.d.plugin/squid/metadata.yaml
Labels: area/collectors, collectors/python.d

#15530 added cloud status in registry?action=hello
  collectors/apps.plugin/apps_plugin.c
  collectors/debugfs.plugin/sys_devices_virtual_powercap.c
  health/health.d/file_descriptors.conf
  registry/registry.c
Labels: area/health, area/collectors, area/registry, collectors/apps, collectors/debugfs

#15494 proc integrations
  collectors/all.h
  collectors/cgroups.plugin/sys_fs_cgroup.c
  collectors/debugfs.plugin/debugfs_zswap.c
  collectors/ebpf.plugin/ebpf_swap.c
  collectors/freebsd.plugin/freebsd_sysctl.c
  collectors/proc.plugin/multi_metadata.yaml
  collectors/proc.plugin/proc_meminfo.c
  collectors/proc.plugin/proc_pressure.c
  collectors/proc.plugin/proc_pressure.h
  collectors/proc.plugin/proc_stat.c
  collectors/proc.plugin/proc_vmstat.c
  health/health.d/swap.conf
Labels: area/health, area/collectors, collectors/ebpf, collectors/cgroups, collectors/freebsd, collectors/proc, collectors/debugfs

#15531 Update platform support info and add a schema.
  .github/data/distros.yml
  integrations/schemas/distros.json
  packaging/PLATFORM_SUPPORT.md
Labels: area/ci, area/packaging, area/docs

#15488 PCI Advanced Error Reporting (AER)
  Makefile.am
  collectors/all.h
  collectors/proc.plugin/plugin_proc.c
  collectors/proc.plugin/plugin_proc.h
  collectors/proc.plugin/sys_devices_pci_aer.c
Labels: area/collectors, area/build, collectors/proc

#15535 Update nfacct yaml
  collectors/nfacct.plugin/metadata.yaml
Labels: area/collectors, collectors/nfacct

#15527 Update yaml description (diskspace)
  collectors/diskspace.plugin/metadata.yaml
Labels: area/collectors, collectors/diskspace

#15533 Freeimpi yaml
  collectors/freeipmi.plugin/multi_metadata.yaml
Labels: area/collectors, collectors/freeipmi

#15524 add `diskquota` collector to third party collectors list
  collectors/COLLECTORS.md
Labels: area/docs, area/collectors

#15538 change api.netdata.cloud to app.netdata.cloud
  aclk/README.md
  claim/README.md
  claim/netdata-claim.sh.in
  daemon/README.md
  docs/cloud/alerts-notifications/add-webhook-notification-configuration.md
  docs/guides/troubleshoot/troubleshooting-agent-with-cloud-connection.md
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart.md
  packaging/installer/methods/macos.md
  tests/alarm_repetition/netdata.conf_with_repetition
  tests/alarm_repetition/netdata.conf_without_repetition
Labels: area/packaging, area/docs, area/daemon, area/tests, area/claim, area/aclk

#15539 docs: fix apps fd badges and typos
  collectors/apps.plugin/README.md
Labels: area/docs, area/collectors, collectors/apps

#15528 Update python d varnish metadata
  collectors/python.d.plugin/varnish/metadata.yaml
Labels: area/collectors, collectors/python.d

#15541 Fill in yaml files for some python collectors
  collectors/python.d.plugin/haproxy/metadata.yaml
  collectors/python.d.plugin/puppet/metadata.yaml
  collectors/python.d.plugin/smartd_log/metadata.yaml
  collectors/python.d.plugin/squid/metadata.yaml
Labels: area/collectors, collectors/python.d

#15507 Add Samba collector yaml
  collectors/python.d.plugin/samba/metadata.yaml
Labels: area/collectors, collectors/python.d

#15545 Add exporter integration schema.
  exporting/sample-metadata.yaml
  integrations/schemas/categories.json
  integrations/schemas/collection-single-module.json
  integrations/schemas/deploy.json
  integrations/schemas/exporter.json
  integrations/schemas/shared.json
Labels: area/exporting

#15502 Avoid an extra uuid_copy when creating new MRG entries
  database/engine/journalfile.c
  database/engine/metric.c
  database/engine/metric.h
  database/engine/rrdengineapi.c
Labels: area/database

#15544 postfix metadata.yaml - add links and some descriptions
  collectors/python.d.plugin/postfix/metadata.yaml
Labels: area/collectors, collectors/python.d

#15546 fix expiration dates for API responses
  database/contexts/query_target.c
  database/contexts/rrdcontext.h
  libnetdata/buffer/buffer.c
  web/api/badges/web_buffer_svg.c
  web/api/queries/weights.c
  web/api/web_api.c
  web/api/web_api_v1.c
  web/api/web_api_v2.c
  web/rtc/webrtc.c
  web/server/web_client.c
Labels: area/web, area/database

#15549 Add schema and examples for notification method metadata.
  health/notifications/sample-metadata.yaml
  integrations/notifications.yaml
  integrations/schemas/notification.json
Labels: area/health

#15556 detect the path the netdata-claim.sh script is in
  claim/claim.c
  daemon/commands.c
  daemon/daemon.c
  daemon/daemon.h
  spawn/spawn.c
Labels: area/daemon, area/claim

#15553 fix ebpf.plugin system swapcalls
  collectors/ebpf.plugin/ebpf_swap.c
Labels: area/collectors, collectors/ebpf

#15547 fix yamls
  collectors/diskspace.plugin/metadata.yaml
  collectors/freeipmi.plugin/multi_metadata.yaml
  collectors/python.d.plugin/example/metadata.yaml
  collectors/python.d.plugin/nvidia_smi/metadata.yaml
  collectors/python.d.plugin/traefik/metadata.yaml
Labels: area/collectors, collectors/diskspace, collectors/freeipmi, collectors/python.d

#15537 Update metadata.yaml for some python collectors - 2
  collectors/python.d.plugin/beanstalk/metadata.yaml
  collectors/python.d.plugin/bind_rndc/bind_rndc.conf
  collectors/python.d.plugin/bind_rndc/metadata.yaml
  collectors/python.d.plugin/boinc/metadata.yaml
  collectors/python.d.plugin/exim/metadata.yaml
  collectors/python.d.plugin/gearman/gearman.conf
  collectors/python.d.plugin/gearman/metadata.yaml
  collectors/python.d.plugin/go_expvar/metadata.yaml
  collectors/python.d.plugin/litespeed/metadata.yaml
  collectors/python.d.plugin/retroshare/metadata.yaml
  collectors/python.d.plugin/w1sensor/metadata.yaml
  collectors/python.d.plugin/w1sensor/w1sensor.conf
Labels: area/collectors, collectors/python.d

#15569 fix schema validation for some meta files
  collectors/apps.plugin/multi_metadata.yaml
  collectors/cgroups.plugin/multi_metadata.yaml
  collectors/debugfs.plugin/multi_metadata.yaml
  collectors/ebpf.plugin/multi_metadata.yaml
  collectors/freebsd.plugin/multi_metadata.yaml
  collectors/idlejitter.plugin/metadata.yaml
  collectors/macos.plugin/multi_metadata.yaml
  collectors/nfacct.plugin/metadata.yaml
  collectors/proc.plugin/multi_metadata.yaml
Labels: area/collectors, collectors/ebpf, collectors/apps, collectors/cgroups, collectors/freebsd, collectors/idlejitter, collectors/macos, collectors/nfacct, collectors/proc, collectors/debugfs

#15565 Timex yaml update
  collectors/timex.plugin/metadata.yaml
Labels: area/collectors, collectors/timex

#15534 Update ioping yaml
  collectors/ioping.plugin/metadata.yaml
Labels: area/collectors, collectors/ioping

#15574 Add missing file in CMakeLists.txt
  CMakeLists.txt
Labels: area/build

#15568 Drop duplicate / unused index
  database/sqlite/sqlite_functions.c
Labels: area/database

#15567 Xen yaml update
  collectors/xenstat.plugin/metadata.yaml
Labels: area/collectors, collectors/xenstat

#15563 Create metadata.yaml for OpenTSDB Exporter
  exporting/opentsdb/metadata.yaml
Labels: area/exporting

#15583 small readme icon fix
  README.md
Labels: area/docs
