Repository netdata/netdata, pull requests merged in 2023-01, with the labels that each got.

#14131 eBPF (memory, NV, basis for functions)
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf_fd.h
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_socket.h
  packaging/current_libbpf.checksums
  packaging/current_libbpf.version
  packaging/ebpf-co-re.checksums
  packaging/ebpf-co-re.version
  packaging/ebpf.checksums
  packaging/ebpf.version
  packaging/libbpf.checksums
  packaging/libbpf.version
Labels: area/packaging, area/collectors, collectors/ebpf

#14203 Switch to actions/labeler@v4 for labeling PRs.
  .github/workflows/labeler.yml
Labels: area/ci

#13881 Finish renaming the `--install` option to `--install-prefix`.
  .github/scripts/run_install_with_dist_file.sh
  .github/workflows/checks.yml
  .github/workflows/codeql.yml
  .travis.yml
  claim/README.md
  netdata-installer.sh
  packaging/installer/UNINSTALL.md
  packaging/installer/UPDATE.md
  packaging/installer/kickstart.sh
  packaging/installer/methods/freebsd.md
  packaging/installer/methods/kickstart.md
  packaging/installer/methods/macos.md
  packaging/installer/methods/manual.md
  packaging/makeself/jobs/70-netdata-git.install.sh
  tests/lifecycle.bats
  tests/run-unit-tests.sh
  tests/updater_checks.bats
Labels: area/ci, area/packaging, area/docs, area/tests, area/claim

#14198 Refactor ML code and add support for multiple KMeans models
  CMakeLists.txt
  Makefile.am
  collectors/all.h
  configure.ac
  daemon/global_statistics.c
  daemon/global_statistics.h
  daemon/main.c
  database/rrd.h
  database/rrdcontext.c
  database/rrddim.c
  database/rrdhost.c
  database/rrdset.c
  ml/ADCharts.cc
  ml/ADCharts.h
  ml/Chart.cc
  ml/Chart.h
  ml/Config.cc
  ml/Config.h
  ml/Dimension.cc
  ml/Dimension.h
  ml/Host.cc
  ml/Host.h
  ml/Mutex.h
  ml/Query.h
  ml/Queue.h
  ml/README.md
  ml/SamplesBuffer.cc
  ml/SamplesBuffer.h
  ml/SamplesBufferTests.cc
  ml/Stats.h
  ml/ml-dummy.c
  ml/ml-private.h
  ml/ml.cc
  ml/ml.h
  netdata-installer.sh
Labels: area/docs, area/collectors, area/daemon, area/database, area/ml, area/build

#14194 Fix typos
  .github/workflows/build.yml
  .github/workflows/docker.yml
  collectors/COLLECTORS.md
  collectors/cups.plugin/README.md
  collectors/ebpf.plugin/ebpf_cachestat.c
  collectors/ebpf.plugin/ebpf_dcstat.c
  collectors/ebpf.plugin/ebpf_fd.c
  collectors/ebpf.plugin/ebpf_mount.c
  collectors/ebpf.plugin/ebpf_shm.c
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_swap.c
  collectors/ebpf.plugin/ebpf_sync.c
  collectors/ebpf.plugin/ebpf_vfs.c
  collectors/python.d.plugin/anomalies/README.md
  docs/guides/monitor/anomaly-detection.md
  libnetdata/ebpf/ebpf.c
  libnetdata/ebpf/ebpf.h
  ml/README.md
  ml/notebooks/netdata_anomaly_detection_deepdive.ipynb
  netdata-installer.sh
  packaging/installer/UPDATE.md
  packaging/installer/kickstart.sh
  packaging/installer/methods/offline.md
  streaming/sender.c
Labels: area/ci, area/packaging, area/docs, area/collectors, area/streaming, area/ml, collectors/ebpf, collectors/cups, collectors/python.d

#14207 Create ML charts on child hosts.
  ml/ADCharts.cc
Labels: area/ml

#14211 fix docker builds
  packaging/docker/Dockerfile
Labels: area/packaging

#14206 Use brackets around info variables
  database/rrdcalc.c
  database/rrdcalc.h
  health/REFERENCE.md
  health/health.d/cgroups.conf
  health/health.d/consul.conf
  health/health.d/disks.conf
  health/health.d/dns_query.conf
  health/health.d/httpcheck.conf
  health/health.d/mdstat.conf
  health/health.d/net.conf
  health/health.d/nvme.conf
  health/health.d/ping.conf
  health/health.d/portcheck.conf
  health/health.d/postgres.conf
  health/health.d/zfs.conf
Labels: area/docs, area/health, area/database

#14197 Add few alarms for elasticsearch
  health/Makefile.am
  health/health.d/elasticsearch.conf
Labels: area/health, area/build

#14216 remove lgtm.com
  .github/CODEOWNERS
  .lgtm.yml
  README.md
Labels: area/ci, area/docs

#14220 bump go.d v0.49.0
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#14232 fix consul_raft_leadership_transitions alarm units
  health/health.d/consul.conf
Labels: area/health

#14219 ci: show docker logs if docker-test fails
  .github/scripts/docker-test.sh
Labels: area/ci, no changelog

#14233 Drop ARMv7 native packages for Fedora 36.
  .github/data/distros.yml
  packaging/PLATFORM_SUPPORT.md
Labels: area/ci, area/packaging, area/docs

#14239 pre gcc v5 support and allow building without dbengine
  daemon/global_statistics.c
  database/engine/datafile.c
  database/engine/metric.c
  libnetdata/locks/locks.c
  libnetdata/locks/locks.h
  libnetdata/worker_utilization/worker_utilization.c
Labels: area/daemon, area/database

#14240 cancel ml threads on shutdown and join them on host free
  ml/Host.cc
  ml/Host.h
  ml/ml.cc
  ml/ml.h
Labels: area/ml

#14242 `ml - machine learning` to just `machine learning`
  collectors/all.h
Labels: area/collectors

#14243 profile startup and shutdown timings
  daemon/main.c
Labels: area/daemon

#14247 allow the cache to grow when huge queries are running that exceed the cache size
  database/engine/cache.c
  web/api/queries/query.c
Labels: area/web, area/database

#14144 rename "Pid" to "PID" in functions
  collectors/apps.plugin/apps_plugin.c
Labels: area/collectors, collectors/apps

#14246 Fix kickstart download counter badges in documentation.
  packaging/installer/README.md
  packaging/installer/methods/kickstart.md
Labels: no changelog

#14253 Update handling of uploads of DEB packages to our new infrastructure.
  .github/scripts/package-upload.sh
Labels: area/ci, no changelog

#14245 Update netdata-overview.xml
  diagrams/netdata-overview.xml
Labels: area/docs

#14251 DBENGINE v2 - improvements part 1
  daemon/event_loop.c
  daemon/event_loop.h
  daemon/global_statistics.c
  database/engine/cache.c
  database/engine/datafile.c
  database/engine/datafile.h
  database/engine/pagecache.c
  database/engine/pdc.c
  database/engine/pdc.h
  database/engine/rrdengine.c
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
  database/engine/rrdengineapi.h
  web/api/formatters/json_wrapper.c
  web/api/queries/query.c
  web/api/queries/rrdr.h
  web/api/web_api_v1.c
Labels: area/web, area/daemon, area/database

#14252 fix(proc.plugin): handle disabled IPv6
  collectors/proc.plugin/proc_net_netstat.c
Labels: area/collectors, collectors/proc

#14248 Remove daemon/common.h header from libnetdata
  libnetdata/arrayalloc/arrayalloc.c
Labels: area/libnetdata

#14261 Always mark nightly build releases as latest.
  .github/workflows/build.yml
Labels: area/ci, no changelog

#14120 Enable retries for SSL_ERROR_WANT_READ
  libnetdata/socket/security.c
  libnetdata/socket/socket.c
  streaming/sender.c
  web/server/web_client.c
  web/server/web_client_cache.c
Labels: area/web, area/streaming

#14260 Fix binpkg updates on OpenSUSE
  packaging/installer/netdata-updater.sh
Labels: area/packaging

#14196 chore(packaging): remove python-pymongo
  packaging/installer/install-required-packages.sh
  packaging/installer/methods/manual.md
Labels: area/packaging, area/docs

#14257 DBENGINE v2 - improvements 2
  aclk/aclk.c
  daemon/global_statistics.c
  database/engine/cache.c
  database/engine/datafile.h
  database/engine/journalfile.c
  database/engine/metric.c
  database/engine/pagecache.c
  database/engine/pdc.c
  database/engine/pdc.h
  database/engine/rrdengine.c
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
  database/engine/rrdengineapi.h
  database/ram/rrddim_mem.c
  database/rrdhost.c
  database/sqlite/sqlite_metadata.c
  libnetdata/july/july.c
  libnetdata/july/july.h
  ml/Dimension.cc
  ml/Host.cc
  streaming/compression.c
  streaming/rrdpush.c
  web/api/queries/query.c
  web/api/web_api_v1.c
Labels: area/web, area/daemon, area/database, area/streaming, area/ACLK, area/ml

#14264 More 32bit fixes
  daemon/main.c
  database/engine/rrdengineapi.c
  database/rrd.h
  libnetdata/libnetdata.h
  ml/Host.cc
  streaming/receiver.c
  streaming/replication.c
  streaming/rrdpush.c
  streaming/rrdpush.h
  streaming/sender.c
  web/api/queries/query.c
Labels: area/web, area/daemon, area/database, area/streaming, area/ml

#14268 Skip cross-platform validation when preparing releases.
  .github/workflows/build.yml
Labels: area/ci, no changelog

#14039 Adds some introspection into the MQTT_WSS
  CMakeLists.txt
  Makefile.am
  aclk/aclk_stats.c
Labels: area/ACLK, area/build

#14255 fix(pacakging): fix cpu/memory metrics when running inside LXC container as systemd service
  collectors/proc.plugin/plugin_proc.c
  collectors/proc.plugin/plugin_proc.h
  collectors/proc.plugin/proc_meminfo.c
  daemon/system-info.sh
  system/netdata.service.in
Labels: area/packaging, area/collectors, area/daemon, collectors/proc

#14275 bump go.d.plugin to v0.49.1
  health/health.d/postgres.conf
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging, area/health

#14262 Replace individual collector images/links on infographic
  diagrams/netdata-overview.xml
Labels: area/docs

#14273 Set an explicit timeout in updater checks.
  .github/scripts/run-updater-check.sh
Labels: area/ci, no changelog

#14274 Fix conditional in matrix generation for packaging jobs.
  .github/scripts/gen-matrix-packaging.py
Labels: area/ci, no changelog

#14267 minor - add kaitaistruct for journal v2 files
  database/engine/journalfile.ksy
Labels: area/database

#14279 Check session variable before resuming it
  web/server/web_client_cache.c
Labels: area/web

#14224 readme updates
  README.md
Labels: area/docs

#14283 Make sure variables are streamed after SENDER_CONNECTED flag is set
  streaming/sender.c
Labels: area/streaming

#14263 Store host and claim info in sqlite as soon as possible
  claim/claim.c
  database/rrdhost.c
  database/sqlite/sqlite_metadata.c
  database/sqlite/sqlite_metadata.h
Labels: area/database, area/claim

#14269 DBENGINE v2 - improvements part 3
  collectors/proc.plugin/proc_net_netstat.c
  daemon/global_statistics.c
  database/engine/README.md
  database/engine/cache.c
  database/engine/cache.h
  database/engine/datafile.c
  database/engine/dbengine-diagram.xml
  database/engine/journalfile.c
  database/engine/journalfile.h
  database/engine/pagecache.c
  database/engine/pdc.c
  database/engine/rrdengine.c
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
  database/engine/rrdengineapi.h
  database/rrddim.c
  database/rrdset.c
  libnetdata/arrayalloc/arrayalloc.c
  libnetdata/libnetdata.c
  libnetdata/libnetdata.h
Labels: area/docs, area/collectors, area/daemon, area/database, collectors/proc

#14284 fix for dbengine2 improvements part 3
  database/engine/journalfile.c
Labels: area/database

#14285 DBENGINE v2 - improvements part 4
  database/engine/rrdengine.c
Labels: area/database

#14244 Revert health to run in a single thread
  aclk/aclk.c
  aclk/aclk.h
  daemon/service.c
  daemon/static_threads.c
  database/rrd.h
  database/rrdcalc.c
  database/rrddimvar.c
  database/rrdhost.c
  database/rrdset.c
  database/rrdsetvar.c
  database/sqlite/sqlite_aclk_alert.c
  database/sqlite/sqlite_health.c
  database/sqlite/sqlite_metadata.c
  health/health.c
  health/health.h
  health/health_config.c
  health/health_json.c
  health/health_log.c
  streaming/receiver.c
Labels: area/health, area/daemon, area/database, area/streaming, area/ACLK

#14286 fix(alarms): treat 0 processors as unknown in load_cpu_number
  health/health.d/load.conf
Labels: area/health

#14287 allow multiple local-build/static-install options in kickstart
  packaging/installer/kickstart.sh
Labels: area/packaging

#14213 Improve file descriptor closing loops
  configure.ac
  daemon/main.c
  libnetdata/libnetdata.c
  libnetdata/libnetdata.h
  libnetdata/popen/popen.c
  spawn/spawn_server.c
Labels: area/daemon, area/build

#14296 Remove archivedcharts endpoint, optimize indices
  database/sqlite/sqlite_functions.c
  database/sqlite/sqlite_functions.h
  web/api/web_api_v1.c
  web/api/web_api_v1.h
Labels: area/web, area/database

#14297 Fix macos struct definition.
  collectors/statsd.plugin/statsd.c
Labels: area/collectors, collectors/statsd

#14302 Fix build CI jobs.
  .github/workflows/build.yml
Labels: area/ci, no changelog

#14298 add consul license expiration time alarm
  health/health.d/consul.conf
  web/gui/dashboard_info.js
Labels: area/web, area/health

#14305 bump go.d.plugin to v0.49.2
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#14304 Fixes required to make the agent work without crashes on MacOS
  daemon/main.c
  database/engine/journalfile.c
  database/engine/journalfile.h
  database/engine/rrdengine.c
Labels: area/daemon, area/database

#14306 Fix Exporiting compilaton error
  exporting/aws_kinesis/aws_kinesis.c
  exporting/pubsub/pubsub.c
  exporting/tests/test_exporting_engine.c
Labels: area/exporting

#14299 DBENGINE v2 - improvements part 6
  daemon/main.c
  database/engine/datafile.c
  database/engine/datafile.h
  database/engine/journalfile.c
  database/engine/journalfile.h
  database/engine/metric.c
  database/engine/metric.h
  database/engine/pagecache.c
  database/engine/pdc.c
  database/engine/rrdengine.c
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
  database/engine/rrdengineapi.h
  database/rrd.h
  database/rrdhost.c
Labels: area/daemon, area/database

#14301 Update kickstart script to use new DEB infrastructure.
  packaging/installer/kickstart.sh
Labels: area/packaging

#14307 DBENGINE v2 - improvements part 7
  collectors/plugins.d/plugins_d.c
  collectors/plugins.d/plugins_d.h
  collectors/plugins.d/pluginsd_parser.c
  daemon/event_loop.c
  daemon/event_loop.h
  daemon/main.c
  daemon/main.h
  database/engine/cache.c
  database/engine/datafile.c
  database/engine/journalfile.c
  database/engine/journalfile.h
  database/engine/metric.c
  database/engine/metric.h
  database/engine/pagecache.c
  database/engine/pdc.c
  database/engine/rrdengine.c
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
  database/engine/rrdenginelib.c
  database/engine/rrdenginelib.h
  database/rrddim.c
  database/rrdset.c
  database/sqlite/sqlite_aclk.c
  database/sqlite/sqlite_metadata.c
  health/health.c
  streaming/receiver.c
  streaming/replication.c
Labels: area/health, area/collectors, area/daemon, area/database, area/streaming, area/ACLK, collectors/plugins.d

#14319 DBENGINE v2 - improvements part 8
  collectors/plugins.d/pluginsd_parser.c
  daemon/event_loop.c
  daemon/event_loop.h
  daemon/global_statistics.c
  daemon/main.c
  database/engine/cache.c
  database/engine/cache.h
  database/engine/datafile.c
  database/engine/metric.c
  database/engine/metric.h
  database/engine/pagecache.c
  database/engine/pdc.c
  database/engine/rrdengine.c
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
  database/engine/rrdengineapi.h
  database/sqlite/sqlite_aclk_alert.c
  database/sqlite/sqlite_health.c
  streaming/replication.c
  web/api/queries/query.c
Labels: area/web, area/collectors, area/daemon, area/database, area/streaming, area/ACLK, collectors/plugins.d

#14320 Fix up codeowners based on recent staffing changes.
  .github/CODEOWNERS
Labels: area/ci, no changelog

#14312 minor - kaitai for netdata datafiles
  database/engine/datafile.ksy
Labels: area/database

#14317 Misc SSL improvements
  libnetdata/socket/socket.c
  web/server/static/static-threaded.c
  web/server/web_client.c
Labels: area/web

#14223 Assorted infrastructure cleanup.
  .csslintrc
  .github/CODEOWNERS
  .github/labeler.yml
  .remarkignore
  .remarkrc.js
  .squash.yml
  .travis.yml
  .travis/README.md
  .travis/check_changelog_last_modification.sh
  .travis/create_artifacts.sh
  .travis/create_changelog.sh
  .travis/current_build_status
  .travis/draft_release.sh
  .travis/gcs-credentials.json.enc
  .travis/generate_changelog_and_tag_release.sh
  .travis/generate_changelog_for_nightlies.sh
  .travis/nightlies.sh
  .travis/tagger.sh
  .travis/trigger_artifact_build.sh
  .travis/trigger_docker_build.sh
  .travis/trigger_package_build.sh
  .travis/utils.sh
  Makefile.am
  README.md
  build-artifacts.sh
  contrib/debian/rules
  packaging/docker/README.md
  packaging/makeself/install-or-update.sh
  tests/installer/checksums.sh
  tests/installer/slack.sh
  tests/lifecycle.bats
  tests/updater_checks.bats
  tests/updater_checks.sh
  web/gui/main.js
Labels: area/ci, area/packaging, area/docs, area/web, area/tests, no changelog, area/build

#14327 Revert "Misc SSL improvements"
  libnetdata/socket/socket.c
  web/server/static/static-threaded.c
  web/server/web_client.c
Labels: area/web

#14326 DBENGINE v2 - improvements part 9
  collectors/plugins.d/pluginsd_parser.c
  daemon/main.c
  database/engine/pagecache.h
  database/engine/rrdengine.c
  database/engine/rrdengineapi.c
  database/engine/rrdengineapi.h
  database/rrd.h
  database/rrddim.c
  database/rrdhost.c
  database/rrdset.c
  database/sqlite/sqlite_metadata.c
  ml/Host.cc
  streaming/replication.c
  streaming/replication.h
Labels: area/collectors, area/daemon, area/database, area/streaming, area/ml, collectors/plugins.d

#14330 Add |nowarn and |noclear notification modifiers
  health/notifications/alarm-notify.sh.in
  health/notifications/health_alarm_notify.conf
Labels: area/health

#14332 DBENGINE v2 - improvements part 10
  daemon/unit_test.c
  database/engine/metric.c
  database/engine/metric.h
  database/engine/pagecache.c
  database/engine/pdc.c
  database/engine/rrdengine.c
  database/engine/rrdengineapi.c
  database/rrd.c
  database/rrd.h
  database/rrdcontext.c
  database/rrddim.c
  database/rrdhost.c
  database/rrdset.c
  database/sqlite/sqlite_functions.c
  database/sqlite/sqlite_functions.h
  database/sqlite/sqlite_health.c
  database/sqlite/sqlite_metadata.c
  health/health.c
  health/health_log.c
  streaming/replication.c
  web/api/queries/query.c
Labels: area/web, area/health, area/daemon, area/database, area/streaming, area/tests

#14316 Use "getent group" instead of reading "/etc/group" to get group information
  netdata-installer.sh
  packaging/installer/functions.sh
  packaging/installer/netdata-uninstaller.sh
Labels: area/packaging

#14270 Improve ebpf exit
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf_cachestat.c
  collectors/ebpf.plugin/ebpf_cachestat.h
  collectors/ebpf.plugin/ebpf_dcstat.c
  collectors/ebpf.plugin/ebpf_dcstat.h
  collectors/ebpf.plugin/ebpf_disk.c
  collectors/ebpf.plugin/ebpf_disk.h
  collectors/ebpf.plugin/ebpf_fd.c
  collectors/ebpf.plugin/ebpf_fd.h
  collectors/ebpf.plugin/ebpf_filesystem.c
  collectors/ebpf.plugin/ebpf_filesystem.h
  collectors/ebpf.plugin/ebpf_hardirq.c
  collectors/ebpf.plugin/ebpf_hardirq.h
  collectors/ebpf.plugin/ebpf_mdflush.c
  collectors/ebpf.plugin/ebpf_mdflush.h
  collectors/ebpf.plugin/ebpf_mount.c
  collectors/ebpf.plugin/ebpf_mount.h
  collectors/ebpf.plugin/ebpf_oomkill.c
  collectors/ebpf.plugin/ebpf_oomkill.h
  collectors/ebpf.plugin/ebpf_process.c
  collectors/ebpf.plugin/ebpf_process.h
  collectors/ebpf.plugin/ebpf_shm.c
  collectors/ebpf.plugin/ebpf_shm.h
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_softirq.c
  collectors/ebpf.plugin/ebpf_softirq.h
  collectors/ebpf.plugin/ebpf_swap.c
  collectors/ebpf.plugin/ebpf_sync.c
  collectors/ebpf.plugin/ebpf_vfs.c
  collectors/ebpf.plugin/ebpf_vfs.h
Labels: area/collectors, collectors/ebpf

#14339 minor fix on notification doc (Discord)
  health/notifications/alarm-notify.sh.in
  health/notifications/discord/README.md
  health/notifications/health_alarm_notify.conf
Labels: area/docs, area/health

#14348 Delete BUILD.md
  BUILD.md
Labels: area/docs

#14331 reviewed the docs functions to fix broken links and other additions
  docs/cloud/netdata-functions.md
  docs/cloud/runtime-troubleshooting-with-functions.md
Labels: area/docs

#14336 Update the Get started doc
  docs/get-started.mdx
Labels: area/docs

#14378 bump go.d.plugin v0.50.0
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#14372 Publish Docker images to GHCR.io and Quay.io
  .github/workflows/docker.yml
  packaging/docker/Dockerfile
Labels: area/ci, area/packaging

#14389 Fix publishing Docker Images to secondary registries.
  .github/scripts/gen-docker-tags.py
  .github/workflows/docker.yml
Labels: area/ci
