Repository netdata/netdata, pull requests merged in 2023-08, with the labels that each got.

#15658 small improvements to README.md
  README.md
Labels: area/docs

#15664 freeipmi change restart message to info
  collectors/freeipmi.plugin/freeipmi_plugin.c
Labels: area/collectors, collectors/freeipmi

#15666 Fix icon prometheus exporter icon
  exporting/prometheus/metadata.yaml
Labels: area/exporting

#15671 Fixing tables (aws sns)
  health/notifications/awssns/metadata.yaml
Labels: area/health

#15668 Fix table formatting (custom exporter)
  health/notifications/custom/metadata.yaml
Labels: area/health

#15673 Fix formatting
  health/notifications/alerta/metadata.yaml
  health/notifications/awssns/metadata.yaml
  health/notifications/custom/metadata.yaml
  health/notifications/discord/metadata.yaml
  health/notifications/dynatrace/metadata.yaml
  health/notifications/email/metadata.yaml
  health/notifications/flock/metadata.yaml
  health/notifications/irc/metadata.yaml
  health/notifications/kavenegar/metadata.yaml
  health/notifications/matrix/metadata.yaml
  health/notifications/messagebird/metadata.yaml
  health/notifications/msteams/metadata.yaml
  health/notifications/ntfy/metadata.yaml
  health/notifications/pagerduty/metadata.yaml
  health/notifications/prowl/metadata.yaml
  health/notifications/pushbullet/metadata.yaml
  health/notifications/pushover/metadata.yaml
  health/notifications/rocketchat/metadata.yaml
  health/notifications/smstools3/metadata.yaml
  health/notifications/syslog/metadata.yaml
  health/notifications/telegram/metadata.yaml
  health/notifications/twilio/metadata.yaml
Labels: area/health

#15675 meta MacOS => macOS
  collectors/macos.plugin/metadata.yaml
  integrations/deploy.yaml
Labels: area/collectors, collectors/macos

#15679 Update metadata.yaml
  health/notifications/awssns/metadata.yaml
Labels: area/health

#15680 Update metadata.yaml
  collectors/python.d.plugin/retroshare/metadata.yaml
Labels: area/collectors, collectors/python.d

#15688 Update metadata.yaml
  collectors/python.d.plugin/changefinder/metadata.yaml
Labels: area/collectors, collectors/python.d

#15690 Update metadata.yaml
  collectors/python.d.plugin/beanstalk/metadata.yaml
Labels: area/collectors, collectors/python.d

#15691 Update names
  collectors/freebsd.plugin/metadata.yaml
Labels: area/collectors, collectors/freebsd

#15692 bump go.d.plugin v0.54.1
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#15639 fix: 🐛 docker bind-mount stock files creation
  packaging/docker/run.sh
Labels: area/packaging

#15406 Add initial tooling for generating integrations.js file.
  .eslintignore
  .github/workflows/build.yml
  .github/workflows/generate-integrations.yml
  .github/workflows/review.yml
  collectors/cgroups.plugin/metadata.yaml
  integrations/README.md
  integrations/categories.yaml
  integrations/check_collector_metadata.py
  integrations/cloud-notifications/metadata.yaml
  integrations/deploy.yaml
  integrations/gen_integrations.py
  integrations/integrations.js
  integrations/schemas/categories.json
  integrations/schemas/collector.json
  integrations/schemas/exporter.json
  integrations/templates/README.md
  integrations/templates/alerts.md
  integrations/templates/integrations.js
  integrations/templates/metrics.md
  integrations/templates/overview.md
  integrations/templates/overview/collector.md
  integrations/templates/overview/exporter.md
  integrations/templates/overview/notification.md
  integrations/templates/platform_info.md
  integrations/templates/related_resources.md
  integrations/templates/setup.md
  integrations/templates/setup/sample-apps-config.md
  integrations/templates/setup/sample-charts-config.md
  integrations/templates/setup/sample-go-config.md
  integrations/templates/setup/sample-netdata-config.md
  integrations/templates/setup/sample-python-config.md
  integrations/templates/troubleshooting.md
Labels: area/ci, area/docs, area/collectors, collectors/cgroups

#15693 Fix integrations regen workflow
  .github/workflows/generate-integrations.yml
Labels: area/ci

#15641 fix edit-config for containerized Netdata when running from host
  system/edit-config
Labels: area/packaging

#15486 Dynamic Config MVP0
  Makefile.am
  collectors/plugins.d/gperf-config.txt
  collectors/plugins.d/gperf-hashtable.h
  collectors/plugins.d/plugins_d.h
  collectors/plugins.d/pluginsd_parser.c
  daemon/main.c
  daemon/static_threads.c
  libnetdata/dyn_conf/dyn_conf.c
  libnetdata/dyn_conf/dyn_conf.h
  libnetdata/http/http_defs.h
  libnetdata/libnetdata.c
  libnetdata/libnetdata.h
  libnetdata/url/url.c
  web/api/web_api.c
  web/api/web_api.h
  web/api/web_api_v1.c
  web/api/web_api_v2.c
  web/server/web_client.c
  web/server/web_client.h
Labels: area/web, area/collectors, area/daemon, area/build, collectors/plugins.d

#15700 Fix handling of troubleshooting section in integrations.
  integrations/gen_integrations.py
  integrations/schemas/collector.json
  integrations/schemas/exporter.json
  integrations/schemas/notification.json
  integrations/schemas/shared.json
  integrations/templates/troubleshooting.md
Labels: area/docs

#15703 Fix typo in categories for beanstalk collector metadata.
  collectors/python.d.plugin/beanstalk/metadata.yaml
Labels: area/collectors, collectors/python.d

#15702 Assorted fixes for integrations templates.
  health/notifications/alerta/metadata.yaml
  health/notifications/awssns/metadata.yaml
  health/notifications/custom/metadata.yaml
  health/notifications/discord/metadata.yaml
  health/notifications/dynatrace/metadata.yaml
  health/notifications/email/metadata.yaml
  health/notifications/flock/metadata.yaml
  health/notifications/gotify/metadata.yaml
  health/notifications/irc/metadata.yaml
  health/notifications/kavenegar/metadata.yaml
  health/notifications/matrix/metadata.yaml
  health/notifications/messagebird/metadata.yaml
  health/notifications/msteams/metadata.yaml
  health/notifications/ntfy/metadata.yaml
  health/notifications/opsgenie/metadata.yaml
  health/notifications/pagerduty/metadata.yaml
  health/notifications/prowl/metadata.yaml
  health/notifications/pushbullet/metadata.yaml
  health/notifications/pushover/metadata.yaml
  health/notifications/rocketchat/metadata.yaml
  health/notifications/slack/metadata.yaml
  health/notifications/smstools3/metadata.yaml
  health/notifications/syslog/metadata.yaml
  health/notifications/telegram/metadata.yaml
  health/notifications/twilio/metadata.yaml
  integrations/integrations.js
  integrations/templates/setup.md
  integrations/templates/troubleshooting.md
Labels: area/docs, area/health

#15706 Better cleanup of aclk alert table entries
  database/sqlite/sqlite_aclk_alert.c
Labels: area/database, area/aclk

#15710 Update metadata.yaml
  collectors/charts.d.plugin/ap/metadata.yaml
  collectors/nfacct.plugin/metadata.yaml
  collectors/tc.plugin/metadata.yaml
Labels: area/collectors, collectors/charts.d, collectors/nfacct, collectors/tc

#15719 fix the freez pointer of dyncfg
  libnetdata/dyn_conf/dyn_conf.c
  libnetdata/dyn_conf/dyn_conf.h
  web/api/web_api_v2.c
Labels: area/web

#15614 prefer titles, families, units and priorities from collected charts
  database/contexts/api_v2.c
  database/contexts/context.c
  database/contexts/internal.h
  database/contexts/worker.c
Labels: area/database

#15726 disable systemdunits alarms
  health/health.d/systemdunits.conf
Labels: area/health

#15724 Fix memory corruption
  database/contexts/api_v2.c
Labels: area/database

#15363 systemd-journal plugin
  Makefile.am
  claim/claim.c
  collectors/Makefile.am
  collectors/apps.plugin/apps_plugin.c
  collectors/ebpf.plugin/ebpf_functions.c
  collectors/plugins.d/plugins_d.h
  collectors/systemd-journal.plugin/Makefile.am
  collectors/systemd-journal.plugin/README.md
  collectors/systemd-journal.plugin/systemd-journal.c
  configure.ac
  contrib/debian/rules
  daemon/buildinfo.c
  daemon/main.c
  database/contexts/api_v1.c
  database/contexts/api_v2.c
  database/contexts/query_target.c
  database/rrdfunctions.c
  libnetdata/Makefile.am
  libnetdata/buffer/buffer.c
  libnetdata/buffer/buffer.h
  libnetdata/facets/Makefile.am
  libnetdata/facets/README.md
  libnetdata/facets/facets.c
  libnetdata/facets/facets.h
  libnetdata/libnetdata.c
  libnetdata/libnetdata.h
  libnetdata/socket/socket.h
  libnetdata/worker_utilization/worker_utilization.h
  netdata-installer.sh
  registry/registry.c
  web/api/formatters/json_wrapper.c
  web/api/formatters/rrd2json.h
  web/api/queries/query.c
  web/api/queries/rrdr.h
  web/api/queries/weights.c
  web/api/web_api.c
  web/api/web_api.h
  web/api/web_api_v1.c
  web/api/web_api_v2.c
  web/rtc/webrtc.c
Labels: area/packaging, area/docs, area/web, area/collectors, area/daemon, area/database, area/registry, area/claim, area/build, collectors/ebpf, collectors/apps, collectors/plugins.d

#15721 Changes to the templates for integrations
  integrations/templates/alerts.md
  integrations/templates/setup.md
Labels: area/docs

#15732 proc.plugin: dont log if pressure/irq does not exist
  collectors/proc.plugin/proc_pressure.c
Labels: area/collectors, collectors/proc

#15736 Adjust namespace used for sd_journal_open
  collectors/systemd-journal.plugin/systemd-journal.c
Labels: area/collectors

#15737 faster facets and journal fixes
  collectors/systemd-journal.plugin/systemd-journal.c
  libnetdata/facets/facets.c
  libnetdata/facets/facets.h
Labels: area/collectors

#15731 ci: run "Generate Integrations" only in netdata/netdata
  .github/workflows/generate-integrations.yml
Labels: area/ci

#15743 add systemd-journal.plugin to gitignore
  .gitignore
Labels: no changelog

#15746 ci: add systemd-journal and metdata to labeler
  .github/labeler.yml
Labels: area/ci, no changelog

#15741 prefer cap over setuid for sysetmd-journal in installer
  netdata-installer.sh
Labels: area/packaging

#15747 Add dependencies for systemd journal plugin.
  packaging/installer/dependencies/centos.sh
  packaging/installer/dependencies/clearlinux.sh
  packaging/installer/dependencies/debian.sh
  packaging/installer/dependencies/fedora.sh
  packaging/installer/dependencies/ol.sh
  packaging/installer/dependencies/opensuse.sh
  packaging/installer/dependencies/rockylinux.sh
  packaging/installer/dependencies/ubuntu.sh
  packaging/installer/install-required-packages.sh
Labels: area/packaging

#15733 Add netdata-plugin-systemd-journal package.
  contrib/debian/control
  contrib/debian/control.xenial
  contrib/debian/netdata-plugin-systemd-journal.postinst
  contrib/debian/netdata-plugin-systemd-journal.preinst
  contrib/debian/rules
  netdata.spec.in
  packaging/installer/UPDATE.md
  packaging/installer/netdata-updater.sh
  system/netdata-updater.conf
Labels: area/packaging, area/docs

#15749 meta: align left metrics, alerts, and config options
  integrations/templates/alerts.md
  integrations/templates/metrics.md
  integrations/templates/setup.md
Labels: area/docs, area/metadata

#15750 ci labeler: remove integrations from area/docs
  .github/labeler.yml
Labels: area/ci

#15759 fix nvidia_smi power_readings for new drivers
  collectors/python.d.plugin/nvidia_smi/nvidia_smi.chart.py
Labels: area/docs, area/collectors, collectors/python.d

#15762 Update metadata.yaml
  collectors/charts.d.plugin/apcupsd/metadata.yaml
Labels: area/docs, area/collectors, collectors/charts.d, area/metadata

#15761 Update metadata.yaml
  collectors/charts.d.plugin/nut/metadata.yaml
Labels: area/docs, area/collectors, collectors/charts.d, area/metadata

#15763 meta update proc drm icon
  collectors/proc.plugin/metadata.yaml
Labels: area/docs, area/collectors, collectors/proc, area/metadata

#15766 Fix CID 398318
  aclk/https_client.c
Labels: area/docs, area/aclk

#15769 Change FreeBSD / macOS system.swap(io) to mem.swap(io)
  build_external/scenarios/gaps_lo/mostly_off.conf
  collectors/ebpf.plugin/metadata.yaml
  collectors/freebsd.plugin/freebsd_sysctl.c
  collectors/freebsd.plugin/metadata.yaml
  collectors/macos.plugin/macos_mach_smi.c
  collectors/macos.plugin/macos_sysctl.c
  collectors/macos.plugin/metadata.yaml
  collectors/proc.plugin/metadata.yaml
  web/gui/dashboard_info.js
Labels: area/docs, area/web, area/collectors, area/build, collectors/ebpf, collectors/freebsd, collectors/macos, collectors/proc, area/metadata

#15765 Fix coverity issues introduced via drm proc module
  collectors/proc.plugin/sys_class_drm.c
  libnetdata/inlined.h
Labels: area/docs, area/collectors, collectors/proc

#15773 extend the trimming window to avoid empty points at the end of queries
  collectors/apps.plugin/apps_plugin.c
  collectors/ebpf.plugin/ebpf_functions.c
  collectors/systemd-journal.plugin/systemd-journal.c
  libnetdata/buffer/buffer.h
  libnetdata/facets/facets.c
  web/api/queries/query.c
Labels: area/docs, area/web, area/collectors, collectors/ebpf, collectors/apps, collectors/systemd-journal

#15774 fix claiming via UI for static build
  packaging/makeself/jobs/99-makeself.install.sh
Labels: area/packaging, area/docs

#15780 ci: codacy exclude web/gui/v2/
  .codacy.yml
Labels: area/docs

#15781 Update an oversight on the openSUSE 15.5 packages
  .github/data/distros.yml
Labels: area/ci

#15783 mark integrations milestones as completed in README.md
  README.md
Labels: area/docs

#15786 Set correct path for ansible-playbook in deployment tutorial
  packaging/installer/methods/ansible.md
Labels: area/packaging, area/docs

#15784 fix docker-compose example
  packaging/docker/README.md
Labels: area/packaging, area/docs

#15785 minor Dyncfg mvp0 fixes
  collectors/plugins.d/pluginsd_parser.c
  libnetdata/dyn_conf/dyn_conf.h
  web/api/web_api_v2.c
Labels: area/web, area/collectors, collectors/plugins.d

#15787 count functions as collections, to restart plugins
  collectors/plugins.d/pluginsd_parser.c
Labels: area/collectors, collectors/plugins.d

#15794 Fix typo in Readme
  README.md
Labels: area/docs

#15793 fix hpssa handle unassigned drives
  collectors/python.d.plugin/hpssa/hpssa.chart.py
Labels: area/collectors, collectors/python.d

#15796 prevent reporting negative retention when the db is empty
  database/engine/rrdengineapi.c
Labels: area/database

#15798 Function systemd-journal: always have a nd_journal_process
  collectors/systemd-journal.plugin/systemd-journal.c
  libnetdata/facets/facets.c
  libnetdata/facets/facets.h
Labels: area/collectors, collectors/systemd-journal

#15779 Bump openssl version of static builds to 1.1.1v
  packaging/makeself/openssl.version
Labels: area/packaging, area/docs

#15804 Clean up python deps for RPM packages.
  netdata.spec.in
Labels: area/packaging

#15805 Fix systemd journal build deps in DEB packages.
  contrib/debian/control
Labels: area/packaging

#15801 nfacct.plugin increase restart time from 4 hours to 1 day
  collectors/nfacct.plugin/plugin_nfacct.c
Labels: area/collectors, collectors/nfacct

#15775 fix: the cleanup was not performed during the kickstart.sh dry run
  packaging/installer/kickstart.sh
Labels: area/packaging, area/docs

#15813 fix packaging: link health.log to stdout
  packaging/docker/Dockerfile
Labels: area/packaging

#15815 added /api/v2/ilove.svg endpoint
  Makefile.am
  configure.ac
  web/api/Makefile.am
  web/api/ilove/Makefile.am
  web/api/ilove/README.md
  web/api/ilove/ilove.c
  web/api/ilove/ilove.h
  web/api/ilove/measure-text.js
  web/api/web_api.h
  web/api/web_api_v2.c
Labels: area/docs, area/web, area/build

#15817 Update cmakelist
  CMakeLists.txt
Labels: area/build

#15819 ML improve init
  ml/ml.cc
Labels: area/aclk, area/ml

#15824 Improve dyncfg exit
  daemon/static_threads.h
  libnetdata/dyn_conf/dyn_conf.c
  libnetdata/threads/threads.h
Labels: area/daemon

#15826 Release fd if setsockopt or bind fails
  web/server/h2o/http_server.c
Labels: area/web

#15748 Increase alert snapshot chunk size
  database/sqlite/sqlite_aclk_alert.c
Labels: area/database, area/aclk

#15837 workaround for systems that do not have SD_JOURNAL_OS_ROOT
  collectors/systemd-journal.plugin/systemd-journal.c
  configure.ac
Labels: area/collectors, area/build, collectors/systemd-journal

#15836 added ilove.html
  web/gui/Makefile.am
  web/gui/ilove.html
Labels: area/web, area/build

#15833 Fix CID 382964: Code maintainability issues (SIZEOF_MISMATCH)
  streaming/replication.c
Labels: area/streaming

#15832 Fix coverity 393052: API usage errors (LOCK)
  database/rrdhost.c
Labels: area/database

#15825 Fix use after free
  database/rrdhost.c
  ml/ml.cc
Labels: area/database, area/ml

#15838 Fix warning when compiling with -flto
  database/sqlite/sqlite_functions.c
Labels: area/database

#15840 Fix configure: WARNING: unrecognized options: --with-zlib
  netdata-installer.sh
Labels: area/packaging

#15742 Added CentOS-Stream to distros
  .github/data/distros.yml
  .github/scripts/ci-support-pkgs.sh
  .github/scripts/pkg-test.sh
  packaging/installer/install-required-packages.sh
  packaging/installer/kickstart.sh
  packaging/installer/netdata-updater.sh
Labels: area/ci, area/packaging

#15839 Fix compilation warning
  aclk/aclk_rx_msgs.c
Labels: area/aclk

#15842 Fix static build SSL
  collectors/freeipmi.plugin/freeipmi_plugin.c
  collectors/systemd-journal.plugin/systemd-journal.c
  libnetdata/threads/threads.c
  libnetdata/threads/threads.h
  packaging/docker/Dockerfile
  packaging/makeself/curl.version
  packaging/makeself/jobs/20-openssl.install.sh
  packaging/makeself/jobs/50-bash-5.1.16.install.sh
  packaging/makeself/jobs/50-curl.install.sh
  packaging/makeself/jobs/70-netdata-git.install.sh
  packaging/makeself/openssl.version
Labels: area/packaging, area/collectors, collectors/freeipmi, collectors/systemd-journal

#15846 Facets histograms
  Makefile.am
  REDISTRIBUTED.md
  aclk/aclk_query.c
  aclk/aclk_tx_msgs.c
  collectors/plugins.d/pluginsd_parser.c
  collectors/systemd-journal.plugin/systemd-journal.c
  database/contexts/api_v2.c
  database/rrdfunctions.c
  libnetdata/buffer/buffer.h
  libnetdata/facets/facets.c
  libnetdata/facets/facets.h
  libnetdata/http/http_defs.h
  libnetdata/libnetdata.h
  libnetdata/xxhash.h
  streaming/sender.c
  web/api/formatters/rrd2json.c
  web/api/queries/weights.c
  web/api/web_api.c
  web/api/web_api_v1.c
  web/server/web_client.c
Labels: area/docs, area/web, area/collectors, area/database, area/streaming, area/aclk, area/build, collectors/plugins.d, collectors/systemd-journal

#15845 reworked pluginsd caching of RDAs to avoid crashes
  collectors/plugins.d/pluginsd_parser.c
  database/rrd.h
Labels: area/collectors, area/database, collectors/plugins.d

#15855 fix packaging static build openssl 32bit
  packaging/makeself/jobs/20-openssl.install.sh
Labels: area/packaging, run-ci/packaging

#15857 packaging cleanup after #15842
  collectors/systemd-journal.plugin/systemd-journal.c
  packaging/docker/Dockerfile
  packaging/makeself/jobs/70-netdata-git.install.sh
Labels: area/packaging, area/collectors, collectors/systemd-journal

#15859 fix proc meminfo cached calculation
  collectors/proc.plugin/proc_meminfo.c
Labels: area/collectors, collectors/proc

#15860 Apply a label prefix for netdata labels
  exporting/exporting.conf
  exporting/exporting_engine.h
  exporting/prometheus/prometheus.c
  exporting/read_config.c
Labels: area/exporting

#15864 Add plugin and module information to collector integrations.
  integrations/templates/overview/collector.md
Labels: area/docs, area/metadata

#15665 Misc code cleanup
  database/rrd.h
  database/sqlite/sqlite_aclk_alert.c
  database/sqlite/sqlite_aclk_alert.h
  database/sqlite/sqlite_functions.c
  database/sqlite/sqlite_health.c
  database/sqlite/sqlite_health.h
  database/sqlite/sqlite_metadata.c
  health/health.c
Labels: area/health, area/database, area/aclk

#15720 Unconditionally delete very old models.
  ml/Config.cc
  ml/ml-private.h
  ml/ml.cc
Labels: area/ml

#15856 Add a chart that groups anomaly rate by chart type.
  collectors/all.h
  ml/ad_charts.cc
  ml/ml-private.h
  ml/ml.cc
Labels: area/collectors, area/ml

#15873 ML add new `delete old models param` to readme
  ml/README.md
Labels: area/docs, area/ml

#15880 allow any field to be a facet
  collectors/systemd-journal.plugin/systemd-journal.c
  libnetdata/facets/facets.c
  libnetdata/facets/facets.h
Labels: area/collectors, collectors/systemd-journal

#15462 Metadata cleanup improvements
  database/sqlite/sqlite_functions.c
  database/sqlite/sqlite_metadata.c
Labels: area/database

#15395 Fix build with --disable-https
  claim/claim.c
  configure.ac
  database/rrd.h
  database/rrdhost.c
  exporting/send_data.c
  libnetdata/libnetdata.c
  netdata-installer.sh
  streaming/sender.c
  web/server/static/static-threaded.c
  web/server/web_client.c
Labels: area/packaging, area/web, area/exporting, area/database, area/streaming, area/claim, area/build
