Repository netdata/netdata, pull requests merged in 2023-10, with the labels that each got.

#15975 Split cgroup charts
  collectors/cgroups.plugin/metadata.yaml
  collectors/cgroups.plugin/sys_fs_cgroup.c
Labels: area/collectors, collectors/cgroups, area/metadata

#16082 Change @linuxnetdata to @netdatahq
  README.md
  daemon/README.md
  daemon/main.c
  docs/getting-started/introduction.md
  web/gui/old/index.html
Labels: area/docs, area/web, area/daemon

#16014 Avoid duplicate keys in labels
  database/rrdlabels.c
Labels: area/database

#16038 systemd-Journal by file
  collectors/apps.plugin/apps_groups.conf
  collectors/plugins.d/pluginsd_parser.c
  collectors/systemd-journal.plugin/README.md
  collectors/systemd-journal.plugin/systemd-journal.c
  configure.ac
  libnetdata/facets/facets.c
  libnetdata/facets/facets.h
  libnetdata/socket/socket.c
  libnetdata/socket/socket.h
Labels: area/docs, area/collectors, area/build, collectors/apps, collectors/plugins.d, collectors/systemd-journal

#16083 Address reported socket issue
  collectors/ebpf.plugin/ebpf.c
Labels: area/collectors, collectors/ebpf

#14727 Severity level for logs
  collectors/ebpf.plugin/ebpf.c
  collectors/tc.plugin/tc-qos-helper.sh.in
  daemon/README.md
  daemon/config/README.md
  daemon/main.c
  libnetdata/log/README.md
  libnetdata/log/log.c
  libnetdata/log/log.h
Labels: area/docs, area/collectors, area/daemon, collectors/ebpf, collectors/tc

#16084 python.d: respect env NETDATA_LOG_SEVERITY_LEVEL
  collectors/python.d.plugin/python.d.plugin.in
Labels: area/collectors, collectors/python.d

#16085 charts.d: respect env NETDATA_LOG_SEVERITY_LEVEL
  collectors/charts.d.plugin/charts.d.plugin.in
Labels: area/collectors, collectors/charts.d

#16092 update go.d.plugin to v0.56.1
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#16094 fix querying out of retention
  web/api/queries/query.c
Labels: area/web

#16089 external plugins: respect env NETDATA_LOG_SEVERITY_LEVEL
  collectors/apps.plugin/apps_plugin.c
  collectors/cgroups.plugin/cgroup-name.sh
  collectors/cgroups.plugin/cgroup-network-helper.sh
  collectors/cgroups.plugin/cgroup-network.c
  collectors/cups.plugin/cups_plugin.c
  collectors/debugfs.plugin/debugfs_plugin.c
  collectors/ebpf.plugin/ebpf.c
  collectors/freeipmi.plugin/freeipmi_plugin.c
  collectors/ioping.plugin/ioping.plugin.in
  collectors/nfacct.plugin/plugin_nfacct.c
  collectors/perf.plugin/perf_plugin.c
  collectors/slabinfo.plugin/slabinfo.c
  collectors/systemd-journal.plugin/systemd-journal.c
  collectors/xenstat.plugin/xenstat_plugin.c
  health/notifications/alarm-notify.sh.in
  libnetdata/log/log.c
  libnetdata/log/log.h
Labels: area/health, area/collectors, collectors/ebpf, collectors/apps, collectors/cgroups, collectors/cups, collectors/freeipmi, collectors/ioping, collectors/nfacct, collectors/perf, collectors/slabinfo, collectors/xenstat, collectors/debugfs, collectors/systemd-journal

#16101 better journal logging
  collectors/systemd-journal.plugin/systemd-journal.c
Labels: area/collectors, collectors/systemd-journal

#16097 Update categories.yaml
  integrations/categories.yaml
Labels: area/metadata

#16096 Fix systemd-journal.plugin README and prepare it for Learn
  collectors/systemd-journal.plugin/README.md
Labels: area/docs, area/collectors, collectors/systemd-journal

#16102 Add integrations/cloud-notifications to cleanup
  integrations/gen_docs_integrations.py
Labels: area/metadata

#16042 Have one documentation page about Netdata Charts
  docs/cloud/visualize/interact-new-charts.md
  docs/dashboard/customize.md
  docs/dashboard/dimensions-contexts-families.md
  docs/glossary.md
  web/server/README.md
Labels: area/docs, area/web

#15643 Documentation for Dynamic Configuration
  libnetdata/dyn_conf/README.md
Labels: area/docs

#16107 journal: go up to stop anchor on data only queries
  collectors/systemd-journal.plugin/systemd-journal.c
Labels: area/collectors, collectors/systemd-journal

#16106 Update collectors/python.d.plugin/pandas/metadata.yaml
  collectors/python.d.plugin/pandas/metadata.yaml
Labels: area/collectors, collectors/python.d, area/metadata

#16071 Skip database migration steps in new installation
  database/sqlite/sqlite_db_migration.c
  database/sqlite/sqlite_db_migration.h
  database/sqlite/sqlite_functions.c
  database/sqlite/sqlite_health.c
Labels: area/database

#16108 Fix in generate integrations docs script
  integrations/gen_docs_integrations.py
Labels: area/metadata

#16114 fix crash on parsing clabel command with no source
  collectors/plugins.d/pluginsd_parser.c
Labels: area/collectors, collectors/plugins.d

#16115 Do not force OOMKill
  collectors/ebpf.plugin/ebpf.c
Labels: area/collectors, collectors/ebpf

#16120 dont strip newlines when forwarding FUNCTION_PAYLOAD
  streaming/sender.c
Labels: area/streaming

#16095 Split apps charts
  collectors/apps.plugin/apps_plugin.c
  collectors/apps.plugin/metadata.yaml
Labels: area/collectors, collectors/apps, area/metadata

#16123 journal: fix the 1 second latency in play mode
  collectors/systemd-journal.plugin/systemd-journal.c
  database/contexts/api_v1.c
  database/contexts/api_v2.c
  database/contexts/query_target.c
  libnetdata/libnetdata.c
  libnetdata/libnetdata.h
  web/api/queries/query.c
  web/api/queries/weights.c
Labels: area/web, area/collectors, area/database, collectors/systemd-journal

#16126 Remove multiple categories due to bug
  collectors/cgroups.plugin/metadata.yaml
  collectors/python.d.plugin/beanstalk/metadata.yaml
Labels: area/collectors, collectors/cgroups, collectors/python.d, area/metadata

#16131 apps: change user_group to usergroup
  collectors/apps.plugin/apps_plugin.c
  collectors/apps.plugin/metadata.yaml
Labels: area/collectors, collectors/apps, area/metadata

#16133 fix journal help and mark debug keys in the output
  collectors/systemd-journal.plugin/systemd-journal.c
  libnetdata/facets/facets.c
Labels: area/collectors, collectors/systemd-journal

#16122 fix proc netstat metrics
  collectors/all.h
  collectors/proc.plugin/metadata.yaml
  collectors/proc.plugin/proc_net_netstat.c
  collectors/proc.plugin/proc_net_sockstat.c
  collectors/proc.plugin/proc_net_sockstat6.c
  health/health.d/tcp_conn.conf
  health/health.d/tcp_resets.conf
Labels: area/health, area/collectors, collectors/proc, area/metadata

#16130 Retain a list structure instead of a set for data collection integrations categories
  integrations/gen_integrations.py
Labels: area/metadata

#16025 Remove family from alerts
  aclk/schema-wrappers/alarm_config.cc
  aclk/schema-wrappers/alarm_config.h
  aclk/schema-wrappers/alarm_stream.cc
  database/rrd.h
  database/rrdcalc.c
  database/rrdcalc.h
  database/rrdcalctemplate.c
  database/rrdcalctemplate.h
  database/sqlite/sqlite_aclk_alert.c
  database/sqlite/sqlite_health.c
  health/health.c
  health/health.h
  health/health_config.c
  health/health_json.c
  health/health_log.c
  health/notifications/alarm-notify.sh.in
  health/notifications/awssns/metadata.yaml
  health/notifications/custom/metadata.yaml
  health/notifications/health_alarm_notify.conf
  libnetdata/health/health.c
  libnetdata/health/health.h
  tests/health_mgmtapi/health-cmdapi-test.sh.in
  web/api/health/README.md
  web/api/health/health_cmdapi.c
  web/api/netdata-swagger.json
  web/api/netdata-swagger.yaml
Labels: area/docs, area/web, area/health, area/database, area/tests, area/aclk, area/metadata

#16140 Introduce stringify function for integrations
  integrations/gen_integrations.py
  integrations/templates/alerts.md
  integrations/templates/metrics.md
  integrations/templates/setup.md
Labels: area/docs, area/metadata

#16141 Fixes in integration generation script
  integrations/gen_integrations.py
  integrations/templates/setup.md
Labels: area/docs, area/metadata

#16142 Bugfix in integrations/setup/template
  integrations/templates/setup/sample-netdata-config.md
Labels: area/docs, area/metadata

#16143 Update python.d./varnish/metadata.yaml
  collectors/python.d.plugin/varnish/metadata.yaml
Labels: area/collectors, collectors/python.d, area/metadata

#16145 health: don't log an unknown key error for "families"
  health/health_config.c
Labels: area/health

#16104 Code improvements
  database/sqlite/sqlite_aclk.c
  database/sqlite/sqlite_functions.c
  database/sqlite/sqlite_functions.h
  database/sqlite/sqlite_metadata.c
  libnetdata/log/log.h
Labels: area/database, area/aclk

#16146 fix `test -x` check for uninstaller script
  packaging/installer/kickstart.sh
Labels: area/packaging

#16150 journal: updates
  collectors/systemd-journal.plugin/README.md
  collectors/systemd-journal.plugin/systemd-journal.c
  libnetdata/facets/facets.c
Labels: area/docs, area/collectors, collectors/systemd-journal

#16152 make io charts "write" negative in apps and cgroups (systemd)
  collectors/apps.plugin/apps_plugin.c
  collectors/cgroups.plugin/sys_fs_cgroup.c
Labels: area/collectors, collectors/apps, collectors/cgroups

#16148 uninstaller: remove ND systemd preset and tmp dir
  packaging/installer/netdata-uninstaller.sh
Labels: area/packaging

#16156 docker: make chmod o+rX / non fatal
  packaging/docker/run.sh
Labels: area/packaging

#16157 Don't queue removed when there is a newer alert
  database/sqlite/sqlite_aclk_alert.c
Labels: area/database, area/aclk

#16155 Batch ML model load commands
  daemon/event_loop.c
  daemon/event_loop.h
  database/sqlite/sqlite_metadata.c
Labels: area/daemon, area/database, area/ml

#16161 fix repo path for openSUSE 15.5 packages
  .github/data/distros.yml
Labels: area/ci

#16159 Modify eBPF exit
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_cachestat.c
  collectors/ebpf.plugin/ebpf_cgroup.c
  collectors/ebpf.plugin/ebpf_dcstat.c
  collectors/ebpf.plugin/ebpf_disk.c
  collectors/ebpf.plugin/ebpf_fd.c
  collectors/ebpf.plugin/ebpf_filesystem.c
  collectors/ebpf.plugin/ebpf_functions.c
  collectors/ebpf.plugin/ebpf_hardirq.c
  collectors/ebpf.plugin/ebpf_mdflush.c
  collectors/ebpf.plugin/ebpf_mount.c
  collectors/ebpf.plugin/ebpf_oomkill.c
  collectors/ebpf.plugin/ebpf_process.c
  collectors/ebpf.plugin/ebpf_shm.c
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_softirq.c
  collectors/ebpf.plugin/ebpf_swap.c
  collectors/ebpf.plugin/ebpf_sync.c
  collectors/ebpf.plugin/ebpf_vfs.c
Labels: area/collectors, collectors/ebpf

#16166 apps: remove mem_private on FreeBSD
  collectors/apps.plugin/apps_plugin.c
Labels: area/collectors, collectors/apps

#16169 Add icons to integrations markdown files
  integrations/gen_docs_integrations.py
Labels: area/metadata

#16181 update go.d to v0.56.2
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#16183 enable _go_build only in centos>10
  netdata.spec.in
Labels: area/packaging, run-ci/packaging

#16180 Add support for Fedora 39 native packages into our CI
  .github/data/distros.yml
  packaging/PLATFORM_SUPPORT.md
Labels: area/ci, area/packaging, area/docs

#16179 Add support for Ubuntu 23.10 native packages into our CI
  .github/data/distros.yml
  packaging/PLATFORM_SUPPORT.md
Labels: area/ci, area/packaging, area/docs

#16177 Update bundled static packages
  packaging/makeself/curl.version
  packaging/makeself/openssl.version
Labels: area/packaging

#16184 functions columns
  collectors/apps.plugin/apps_plugin.c
  libnetdata/facets/facets.c
Labels: area/collectors, collectors/apps

#16186 Suppress "families" log
  health/health_config.c
Labels: area/health

#16188 Add agent version on startup
  daemon/main.c
Labels: area/daemon

#16189 Journal updates
  collectors/systemd-journal.plugin/systemd-journal.c
Labels: area/collectors, collectors/systemd-journal

#16190 Faster facets
  collectors/systemd-journal.plugin/systemd-journal.c
  libnetdata/facets/facets.c
  libnetdata/facets/facets.h
Labels: area/collectors, collectors/systemd-journal

#16195 journal timeout
  collectors/plugins.d/pluginsd_parser.c
  collectors/systemd-journal.plugin/systemd-journal.c
  database/rrdfunctions.c
  database/rrdfunctions.h
  libnetdata/facets/facets.c
Labels: area/collectors, area/database, collectors/plugins.d, collectors/systemd-journal

#16198 apps: always expose "other" group
  collectors/apps.plugin/apps_plugin.c
Labels: area/collectors, collectors/apps

#16199 health: attach drops ratio alarms to net.drops
  collectors/freebsd.plugin/metadata.yaml
  collectors/proc.plugin/metadata.yaml
  health/health.d/net.conf
Labels: area/health, area/collectors, collectors/freebsd, collectors/proc, area/metadata

#16153 Rework guide, add SSL with self-signed certs
  collectors/systemd-journal.plugin/README.md
Labels: area/docs, area/collectors, collectors/systemd-journal

#16212 registry action hello should always work
  registry/registry.c
  registry/registry.h
  web/api/web_api_v1.c
  web/server/README.md
Labels: area/docs, area/web, area/registry

#16211 apps: fix divide by zero when calc avg uptime
  collectors/apps.plugin/apps_plugin.c
Labels: area/collectors, collectors/apps

#16213 add summary to /alerts
  database/contexts/api_v2.c
Labels: area/database

#16218 dynamic meta queue size
  database/sqlite/sqlite_metadata.c
Labels: area/database

#16215 facets: minimize hashtable collisions
  collectors/systemd-journal.plugin/systemd-journal.c
  libnetdata/facets/facets.c
Labels: area/collectors, collectors/systemd-journal

#16196 cgroup-network: don't log an error opening pid file if doesn't exist
  collectors/cgroups.plugin/cgroup-network.c
Labels: area/collectors, collectors/cgroups

#16221 Fix meta unittest
  database/sqlite/sqlite_metadata.c
Labels: area/database

#16225 Changes to `systemd-journal` docs
  collectors/systemd-journal.plugin/README.md
  collectors/systemd-journal.plugin/passive_journal_centralization_guide_no_encryption.md
  collectors/systemd-journal.plugin/passive_journal_centralization_guide_self_signed_certs.md
  docs/category-overview-pages/logs.md
Labels: area/docs, area/collectors, collectors/systemd-journal

#16228 update go.d plugin version to v0.56.3
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#16231 Add Erlang to Apps configuration
  collectors/apps.plugin/apps_groups.conf
Labels: area/collectors, collectors/apps

#16230 remove charts.d/nut
  collectors/charts.d.plugin/Makefile.am
  collectors/charts.d.plugin/charts.d.conf
  collectors/charts.d.plugin/nut/Makefile.inc
  collectors/charts.d.plugin/nut/README.md
  collectors/charts.d.plugin/nut/integrations/network_ups_tools_nut.md
  collectors/charts.d.plugin/nut/metadata.yaml
  collectors/charts.d.plugin/nut/nut.chart.sh
  collectors/charts.d.plugin/nut/nut.conf
  health/Makefile.am
  health/health.d/nut.conf
Labels: area/docs, area/health, area/collectors, area/build, collectors/charts.d, area/metadata

#16222 Fix statistics calculation in 32bit systems
  database/engine/rrdengine.c
  database/engine/rrdengine.h
  database/rrd.h
Labels: area/database

#16234 Fix dimension HETEROGENEOUS check
  database/rrddim.c
Labels: area/database

#16233 uninstaller: remove /etc/cron.d/netdata-updater-daily
  packaging/installer/netdata-uninstaller.sh
Labels: area/packaging

#16236 Active journal centralization guide no encryption
  collectors/systemd-journal.plugin/active_journal_centralization_guide_no_encryption.md
Labels: area/docs, area/collectors, collectors/systemd-journal

#16069 Add info to native packages docs about mirroring our repos.
  packaging/installer/methods/packages.md
Labels: area/packaging, area/docs

#16172 Improvements for labels handling
  database/rrdlabels.c
Labels: area/database

#16229 kickstart: rename auto-update-method to auto-update-type
  packaging/installer/kickstart.sh
Labels: area/packaging

#16240 Reuse ML load prepared statement
  database/sqlite/sqlite_metadata.c
  ml/ml-dummy.c
  ml/ml.cc
  ml/ml.h
Labels: area/database, area/ml

#16247 added systemd-journal forward_secure_sealing
  collectors/systemd-journal.plugin/Makefile.am
  collectors/systemd-journal.plugin/forward_secure_sealing.md
Labels: area/docs, area/collectors, area/build, collectors/systemd-journal

#16243 fix apps plugin metric names in meta
  collectors/apps.plugin/metadata.yaml
Labels: area/collectors, collectors/apps, area/metadata

#16242 Drop an unused index from aclk_alert table
  daemon/unit_test.c
  database/sqlite/sqlite_aclk.c
  database/sqlite/sqlite_aclk_alert.c
  database/sqlite/sqlite_db_migration.c
  database/sqlite/sqlite_functions.c
  database/sqlite/sqlite_metadata.c
Labels: area/daemon, area/database, area/tests, area/aclk

#16246 Terminate cgroups discovery thread faster during shutdown
  collectors/cgroups.plugin/sys_fs_cgroup.c
Labels: area/collectors, collectors/cgroups

#16250 Dyncfg improvements
  collectors/plugins.d/pluginsd_parser.c
  libnetdata/dyn_conf/README.md
  libnetdata/dyn_conf/dyn_conf.h
Labels: area/docs, area/collectors, collectors/plugins.d

#16241 add DYNCFG_RESET
  collectors/plugins.d/gperf-config.txt
  collectors/plugins.d/gperf-hashtable.h
  collectors/plugins.d/plugins_d.h
  collectors/plugins.d/pluginsd_parser.c
  streaming/rrdpush.c
  streaming/rrdpush.h
Labels: area/collectors, area/streaming, collectors/plugins.d

#16249 Fix label copy to correctly handle duplicate keys
  database/rrdlabels.c
Labels: area/database

#16193 docker install: support for Proxmox vms/containers name resolution
  collectors/cgroups.plugin/cgroup-name.sh
  packaging/docker/run.sh
Labels: area/packaging, area/collectors, collectors/cgroups

#16245 python.d(smartd_log): collect Total LBAs written/read
  collectors/python.d.plugin/smartd_log/smartd_log.chart.py
Labels: area/collectors, collectors/python.d

#16251 `most_popular` on markdown metadata for integrations
  integrations/gen_docs_integrations.py
Labels: area/metadata

#16023 shutdown while waiting for collectors to finish
  daemon/main.c
  libnetdata/dictionary/dictionary.c
  libnetdata/dictionary/dictionary.h
Labels: area/daemon

#16252 Journal multiple sources
  collectors/systemd-journal.plugin/systemd-journal.c
Labels: area/collectors, collectors/systemd-journal

#16257 Fix Discord webhook payload
  health/notifications/alarm-notify.sh.in
Labels: area/health

#16263 QUERIES: use tiers only when they have useful data
  web/api/queries/query.c
Labels: area/web

#16265 Fix coverity issue 403725
  collectors/systemd-journal.plugin/systemd-journal.c
Labels: area/collectors, collectors/systemd-journal

#16253 Fix HAProxy server status parsing and add MAINT status chart
  collectors/python.d.plugin/haproxy/haproxy.chart.py
Labels: area/collectors, collectors/python.d

#16267 journal minor updates
  collectors/systemd-journal.plugin/README.md
  collectors/systemd-journal.plugin/systemd-journal.c
Labels: area/docs, area/collectors, collectors/systemd-journal

#16271 fix sources match
  collectors/systemd-journal.plugin/systemd-journal.c
Labels: area/collectors, collectors/systemd-journal

#16272 DYNCFG fix REPORT_JOB_STATUS streaming
  collectors/plugins.d/pluginsd_parser.c
  libnetdata/dyn_conf/README.md
  streaming/rrdpush.c
Labels: area/docs, area/collectors, area/streaming, collectors/plugins.d

#16227 Add document outlining our versioning policy and public API.
  packaging/VERSIONING_AND_PUBLIC_API.md
Labels: area/packaging, area/docs

#16274 Prevent wrong optimization armv7l static build
  streaming/sender.c
Labels: area/streaming

#16276 Remove semicolons from strings
  integrations/gen_docs_integrations.py
Labels: area/metadata

#16281 update go.d version to 0.56.4
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#16282 Small optimization of alert queries
  database/sqlite/sqlite_aclk_alert.c
  database/sqlite/sqlite_functions.c
Labels: area/database, area/aclk

#16268 ZSTD and GZIP/DEFLATE streaming support
  Makefile.am
  configure.ac
  daemon/buildinfo.c
  daemon/main.c
  database/rrdhost.c
  libnetdata/libnetdata.h
  streaming/compression.c
  streaming/compression.h
  streaming/compression_gzip.c
  streaming/compression_gzip.h
  streaming/compression_lz4.c
  streaming/compression_lz4.h
  streaming/compression_zstd.c
  streaming/compression_zstd.h
  streaming/receiver.c
  streaming/rrdpush.c
  streaming/rrdpush.h
  streaming/sender.c
  streaming/stream.conf
  web/api/web_api_v1.c
Labels: area/web, area/daemon, area/database, area/streaming, area/build

#16127 Faster parents
  collectors/cgroups.plugin/sys_fs_cgroup.c
  collectors/diskspace.plugin/plugin_diskspace.c
  collectors/plugins.d/plugins_d.h
  collectors/plugins.d/pluginsd_parser.c
  collectors/plugins.d/pluginsd_parser.h
  collectors/proc.plugin/ipc.c
  collectors/proc.plugin/proc_diskstats.c
  collectors/proc.plugin/proc_mdstat.c
  collectors/proc.plugin/proc_net_dev.c
  collectors/proc.plugin/proc_net_wireless.c
  collectors/proc.plugin/proc_spl_kstat_zfs.c
  collectors/proc.plugin/sys_block_zram.c
  collectors/proc.plugin/sys_class_drm.c
  collectors/proc.plugin/sys_class_power_supply.c
  collectors/proc.plugin/sys_fs_btrfs.c
  daemon/global_statistics.c
  daemon/service.c
  daemon/unit_test.c
  database/contexts/api_v2.c
  database/contexts/instance.c
  database/contexts/metric.c
  database/contexts/query_target.c
  database/engine/metric.c
  database/engine/metric.h
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
  database/rrd.h
  database/rrddim.c
  database/rrdhost.c
  database/rrdset.c
  database/sqlite/sqlite_functions.c
  exporting/prometheus/prometheus.c
  libnetdata/functions_evloop/functions_evloop.h
  libnetdata/string/string.c
  libnetdata/string/string.h
  streaming/receiver.c
  streaming/replication.c
  streaming/rrdpush.c
  streaming/rrdpush.h
  streaming/sender.c
Labels: area/exporting, area/collectors, area/daemon, area/database, area/streaming, area/tests, collectors/cgroups, collectors/diskspace, collectors/proc, collectors/plugins.d

#16287 Brotli streaming compression
  Makefile.am
  configure.ac
  daemon/buildinfo.c
  libnetdata/libnetdata.h
  streaming/compression.c
  streaming/compression.h
  streaming/compression_brotli.c
  streaming/compression_brotli.h
  streaming/receiver.c
  streaming/rrdpush.c
  streaming/rrdpush.h
  streaming/sender.c
  streaming/stream.conf
Labels: area/daemon, area/streaming, area/build

#16290 fix retention loading
  database/engine/metric.c
Labels: area/database

#16289 integrations: yes/no instead of True/False in tables
  integrations/gen_integrations.py
Labels: area/metadata

#16292 fix renames in freebsd
  collectors/cgroups.plugin/tests/test_doubles.c
  collectors/freebsd.plugin/freebsd_devstat.c
  collectors/freebsd.plugin/freebsd_getifaddrs.c
  collectors/freebsd.plugin/freebsd_getmntinfo.c
Labels: area/collectors, collectors/cgroups, collectors/freebsd

#16294 fix various issues identified by coverity
  collectors/plugins.d/pluginsd_parser.c
  collectors/systemd-journal.plugin/systemd-journal.c
  database/rrd.h
  database/rrdset.c
  streaming/compression.c
  streaming/compression_brotli.c
  streaming/compression_gzip.c
Labels: area/collectors, area/database, area/streaming, collectors/plugins.d, collectors/systemd-journal

#16295 do not propagate upstream internal label sources
  collectors/proc.plugin/proc_net_dev.c
  database/rrdlabels.c
  database/rrdlabels.h
  database/rrdset.c
  streaming/rrdpush.c
  streaming/sender.c
Labels: area/collectors, area/database, area/streaming, collectors/proc

#16296 fix missing labels from parents
  collectors/plugins.d/gperf-config.txt
  collectors/plugins.d/gperf-hashtable.h
  collectors/plugins.d/pluginsd_parser.c
  collectors/plugins.d/pluginsd_parser.h
  database/rrd.h
  database/rrddim.c
  database/rrdlabels.c
  database/rrdset.c
  streaming/receiver.c
  streaming/rrdpush.c
  streaming/rrdpush.h
  streaming/sender.c
Labels: area/collectors, area/database, area/streaming, collectors/plugins.d

#16298 update journal sources once per minute
  collectors/systemd-journal.plugin/systemd-journal.c
Labels: area/collectors, collectors/systemd-journal

#16297 Fix label copy
  database/rrdlabels.c
Labels: area/database

#16288 typo fixed in gen_docs_integrations.py
  integrations/gen_docs_integrations.py
Labels: area/metadata

#16303 bump openssl for static in 3.1.4
  packaging/makeself/bundled-packages
Labels: area/packaging

#16300 claim.sh: use echo instead of /bin/echo
  claim/netdata-claim.sh.in
Labels: area/claim

#16286 Apcupsd selftest metric
  collectors/charts.d.plugin/apcupsd/apcupsd.chart.sh
  health/health.d/apcupsd.conf
Labels: area/health, area/collectors, collectors/charts.d

#16305 Use proper icons for deploy integrations
  integrations/deploy.yaml
Labels: area/metadata

#16285 Fix 404s in markdown files
  README.md
  REDISTRIBUTED.md
  docs/cloud/manage/organize-your-infrastrucutre-invite-your-team.md
  docs/contributing/style-guide.md
  docs/getting-started/introduction.md
  docs/guides/monitor-hadoop-cluster.md
  docs/quickstart/infrastructure.md
Labels: area/docs

#16262 Improve dimension ML model load
  daemon/main.c
  database/rrd.h
  database/sqlite/sqlite_functions.c
  database/sqlite/sqlite_metadata.c
  streaming/receiver.c
Labels: area/daemon, area/database, area/streaming

#16259 Replace distutils with packaging for version
  collectors/python.d.plugin/python_modules/bases/FrameworkServices/UrlService.py
Labels: area/collectors, collectors/python.d

#16312 Add a note for the docker deployment alongside with cetus
  packaging/docker/README.md
Labels: area/packaging, area/docs
