Repository netdata/netdata, pull requests merged in 2023-03, with the labels that each got.

#14620 Assorted improvements to OpenRC support.
  system/Makefile.am
  system/install-service.sh.in
  system/openrc/conf.d/netdata.in
  system/openrc/init.d/netdata.in
Labels: area/packaging, area/build

#14516 Link statically libnetfilter_acct into our static builds
  configure.ac
  packaging/makeself/functions.sh
  packaging/makeself/jobs/50-libnetfilter_acct-1.0.3.install.sh
  packaging/makeself/jobs/70-netdata-git.install.sh
Labels: area/packaging, area/build

#14635 [docs]: Revert #14178 that documents how to set nofile limit for Netdata containers
  packaging/docker/README.md
Labels: area/packaging, area/docs, no changelog

#14640 Update change-metrics-storage.md
  docs/store/change-metrics-storage.md
Labels: area/docs

#14644 Update pi-hole-raspberry-pi.md
  docs/guides/monitor/pi-hole-raspberry-pi.md
Labels: area/docs

#14649 Update guidelines.md
  docs/guidelines.md
Labels: area/docs

#14650 Fix doc links
  collectors/COLLECTORS.md
  collectors/charts.d.plugin/sensors/README.md
  health/REFERENCE.md
  packaging/installer/methods/freebsd.md
Labels: area/packaging, area/docs, area/health, area/collectors, collectors/charts.d

#14651 Fix links
  docs/guides/troubleshoot/monitor-debug-applications-ebpf.md
  packaging/installer/methods/kickstart.md
Labels: area/packaging, area/docs

#14656 fix simple_pattern_create on freebsd
  collectors/freebsd.plugin/freebsd_devstat.c
  collectors/freebsd.plugin/freebsd_getifaddrs.c
  collectors/freebsd.plugin/freebsd_getmntinfo.c
Labels: area/collectors, collectors/freebsd

#14653 Fix broken links in glossary.md
  docs/glossary.md
  docs/glossary.txt
Labels: area/docs

#14646 Add support for bypassing static build cache on PRs.
  .github/workflows/build.yml
Labels: area/ci, no changelog, run-ci/no-cache

#14658 Properly handle service type detection failures when installing as a system service.
  system/install-service.sh.in
Labels: area/packaging

#14675 add note on readme on how to easily see all ml related blog posts
  ml/README.md
Labels: area/docs, area/ml

#14629 Fix intermittent permissions issues in some Docker builds.
  packaging/docker/Dockerfile
  packaging/docker/run.sh
Labels: area/packaging

#14671 If a child is not streaming, send to the cloud last known version instead of unknown
  database/sqlite/sqlite_aclk_node.c
Labels: area/database, area/ACLK

#14673 Guard for null host when sending node instances
  aclk/aclk.c
  database/sqlite/sqlite_db_migration.c
  database/sqlite/sqlite_functions.c
Labels: area/database, area/ACLK

#14662 Handle conffiles for DEB packages explicitly instead of automatically.
  contrib/debian/netdata.conffiles
  contrib/debian/rules
Labels: area/packaging

#14654 Move images in "interact-new-charts" from zenhub to github
  docs/cloud/visualize/interact-new-charts.md
Labels: area/docs

#14681 Fix platform EOL checks to properly return success.
  .github/scripts/platform-impending-eol.py
  .github/workflows/platform-eol-check.yml
Labels: area/ci, no changelog

#14676 Fix kernel test script
  packaging/check-kernel-config.sh
Labels: area/packaging

#14623 eBPF new charts (user ring)
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_apps.c
  collectors/ebpf.plugin/ebpf_apps.h
  collectors/ebpf.plugin/ebpf_cachestat.c
  collectors/ebpf.plugin/ebpf_cachestat.h
  collectors/ebpf.plugin/ebpf_dcstat.c
  collectors/ebpf.plugin/ebpf_dcstat.h
  collectors/ebpf.plugin/ebpf_disk.c
  collectors/ebpf.plugin/ebpf_fd.c
  collectors/ebpf.plugin/ebpf_fd.h
  collectors/ebpf.plugin/ebpf_filesystem.c
  collectors/ebpf.plugin/ebpf_hardirq.c
  collectors/ebpf.plugin/ebpf_mdflush.c
  collectors/ebpf.plugin/ebpf_mount.c
  collectors/ebpf.plugin/ebpf_oomkill.c
  collectors/ebpf.plugin/ebpf_process.c
  collectors/ebpf.plugin/ebpf_shm.c
  collectors/ebpf.plugin/ebpf_shm.h
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_socket.h
  collectors/ebpf.plugin/ebpf_softirq.c
  collectors/ebpf.plugin/ebpf_swap.c
  collectors/ebpf.plugin/ebpf_vfs.c
  collectors/ebpf.plugin/ebpf_vfs.h
  libnetdata/ebpf/ebpf.c
  libnetdata/ebpf/ebpf.h
  web/gui/dashboard_info.js
Labels: area/web, area/collectors, collectors/ebpf

#14686 Fix Azure IMDS
  daemon/system-info.sh
Labels: area/daemon

#14660 Fix cloud node stale status when a virtual host is created
  collectors/plugins.d/pluginsd_parser.c
  database/rrdhost.c
  database/sqlite/sqlite_aclk.c
  database/sqlite/sqlite_aclk.h
  database/sqlite/sqlite_aclk_node.c
  database/sqlite/sqlite_functions.c
  database/sqlite/sqlite_metadata.c
Labels: area/collectors, area/database, area/aclk, collectors/plugins.d

#14680 Send an EOF from charts.d.plugin before exit
  collectors/charts.d.plugin/charts.d.plugin.in
  collectors/plugins.d/plugins_d.h
  collectors/plugins.d/pluginsd_parser.c
Labels: area/collectors, collectors/charts.d, collectors/plugins.d

#14664 add FAQ information provided by Finance
  docs/cloud/manage/view-plan-billing.md
Labels: area/docs, area/aclk

#14672 reviewed role description to be according to app
  docs/cloud/manage/plans.md
  docs/cloud/manage/role-based-access.md
Labels: area/docs

#14694 fix: detect the host os in k8s on non-docker cri
  daemon/system-info.sh
Labels: area/daemon

#14695 Fix compilation error when --disable-cloud is specified
  database/sqlite/sqlite_aclk.c
Labels: area/database, area/aclk

#14665 /api/v2/X improvements part 3
  aclk/aclk_query.c
  collectors/statsd.plugin/statsd.c
  daemon/main.c
  database/contexts/api_v1.c
  database/contexts/query_scope.c
  database/contexts/query_target.c
  database/contexts/rrdcontext.h
  database/contexts/worker.c
  database/rrdlabels.c
  libnetdata/buffer/buffer.h
  libnetdata/dictionary/dictionary.c
  libnetdata/dictionary/dictionary.h
  libnetdata/simple_pattern/simple_pattern.c
  libnetdata/simple_pattern/simple_pattern.h
  web/api/formatters/csv/csv.c
  web/api/formatters/json/json.c
  web/api/formatters/json_wrapper.c
  web/api/formatters/json_wrapper.h
  web/api/formatters/rrd2json.c
  web/api/formatters/rrd2json.h
  web/api/formatters/value/value.c
  web/api/netdata-swagger.yaml
  web/api/queries/query.c
  web/api/queries/query.h
  web/api/queries/rrdr.h
  web/api/queries/weights.c
  web/api/web_api_v1.c
  web/api/web_api_v2.c
  web/server/web_client.c
  web/server/web_client.h
  web/server/web_client_cache.c
Labels: area/web, area/collectors, area/daemon, area/database, area/aclk, collectors/statsd

#14700 Revert "Handle conffiles for DEB packages explicitly instead of automatically."
  contrib/debian/netdata.conffiles
  contrib/debian/rules
Labels: area/packaging, priority/high

#14705 Don’t try to use tput in edit-config unless it’s installed.
  system/edit-config
Labels: area/packaging

#14599 Add Amazon Linux 2 to CI and platform support.
  .github/data/distros.yml
  .github/scripts/ci-support-pkgs.sh
  .github/scripts/pkg-test.sh
  .github/scripts/run-updater-check.sh
  netdata-installer.sh
  packaging/PLATFORM_SUPPORT.md
  packaging/installer/kickstart.sh
  packaging/installer/netdata-updater.sh
  packaging/repoconfig/netdata-edge.repo.al
  packaging/repoconfig/netdata-repo.spec
  packaging/repoconfig/netdata.repo.al
Labels: area/ci, area/packaging, area/docs

#14553 Add vnodes default configuration file.
  system/Makefile.am
  system/vnodes/vnodes.conf
Labels: area/packaging, area/build

#14714 Add instructions for reconnecting a Docker node to another Space
  claim/README.md
Labels: area/docs, area/claim

#14706 /api/v2 part 4
  database/contexts/rrdcontext.h
  database/rrdlabels.c
  libnetdata/aral/aral.c
  libnetdata/buffer/buffer.h
  libnetdata/socket/socket.c
  libnetdata/socket/socket.h
  libnetdata/string/utf8.h
  web/api/formatters/json/json.c
  web/api/formatters/json/json.h
  web/api/formatters/json_wrapper.c
  web/api/formatters/json_wrapper.h
  web/api/formatters/rrd2json.c
  web/api/formatters/rrd2json.h
  web/api/netdata-swagger.json
  web/api/netdata-swagger.yaml
  web/api/queries/average/average.c
  web/api/queries/countif/countif.c
  web/api/queries/des/des.c
  web/api/queries/incremental_sum/incremental_sum.c
  web/api/queries/max/max.c
  web/api/queries/median/median.c
  web/api/queries/min/min.c
  web/api/queries/percentile/percentile.c
  web/api/queries/query.c
  web/api/queries/query.h
  web/api/queries/rrdr.c
  web/api/queries/rrdr.h
  web/api/queries/ses/ses.c
  web/api/queries/stddev/stddev.c
  web/api/queries/sum/sum.c
  web/api/queries/trimmed_mean/trimmed_mean.c
  web/api/web_api.c
  web/api/web_api.h
  web/api/web_api_v1.c
  web/api/web_api_v2.c
Labels: area/web, area/database

#14552 RPM: Added elfutils-libelf-devel for build with eBPF
  netdata.spec.in
Labels: area/packaging

#14721 Auto-trigger MSI build on release.
  .github/workflows/docker.yml
Labels: area/ci, no changelog

#13841 Add experimental support for running under runit.
  .gitignore
  netdata-installer.sh
  system/Makefile.am
  system/install-service.sh.in
  system/runit/run.in
Labels: area/packaging, area/build

#14678 Improve guideline docs
  contribution-guidelines.md
  docs/contributing/style-guide.md
  docs/guidelines.md
Labels: area/docs

#14726 Update change-metrics-storage.md
  docs/store/change-metrics-storage.md
Labels: area/docs

#14722 add go.d example collector to #etc section
  collectors/COLLECTORS.md
Labels: area/docs, area/collectors

#14725 New build_external scenario.
  build_external/scenarios/children-to-localhost/README.md
  build_external/scenarios/children-to-localhost/child_stream.conf
  build_external/scenarios/children-to-localhost/docker-compose.yml
  build_external/scenarios/children-to-localhost/parent_stream.conf
Labels: area/docs, area/build

#14736 pandas collector replace `self.warn()` with `self.warning()`
  collectors/python.d.plugin/pandas/pandas.chart.py
Labels: area/collectors, collectors/python.d

#14281 Use one thread for ACLK synchonization
  aclk/aclk.c
  daemon/event_loop.c
  daemon/event_loop.h
  daemon/main.c
  daemon/main.h
  database/contexts/worker.c
  database/rrd.h
  database/rrdhost.c
  database/sqlite/sqlite_aclk.c
  database/sqlite/sqlite_aclk.h
  database/sqlite/sqlite_aclk_alert.c
  database/sqlite/sqlite_aclk_alert.h
  database/sqlite/sqlite_aclk_node.c
  database/sqlite/sqlite_aclk_node.h
  database/sqlite/sqlite_context.c
  database/sqlite/sqlite_functions.c
  database/sqlite/sqlite_functions.h
  database/sqlite/sqlite_health.c
  database/sqlite/sqlite_metadata.c
  database/sqlite/sqlite_metadata.h
  streaming/receiver.c
Labels: area/daemon, area/database, area/streaming, area/aclk

#14744 increase RRD_ID_LENGTH_MAX to 1000
  database/rrd.h
Labels: area/database

#14745 bump go.d.plugin version to v0.51.3
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#14749 Update edit-config documentation
  docs/configure/nodes.md
Labels: area/docs

#14729 Organize information from war-rooms.md to its correct location
  docs/cloud/visualize/node-filter.md
  docs/cloud/war-rooms.md
  docs/dashboard/visualization-date-and-time-controls.md
  docs/quickstart/infrastructure.md
Labels: area/docs

#14724 Suggest PRs to go to the community project
  docs/guides/python-collector.md
Labels: area/docs

#14716 Update deployment-strategies.md
  docs/category-overview-pages/deployment-strategies.md
Labels: area/docs

#14753 Add ethtool in third party collectors
  collectors/COLLECTORS.md
Labels: area/docs, area/collectors

#14735 Add CI support for Fedora 38 & Ubuntu 23.04 native packages
  .github/data/distros.yml
  packaging/PLATFORM_SUPPORT.md
Labels: area/ci, area/packaging, area/docs

#14756 bump go.d.plugin to v0.51.4
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#14704 Bundle libyaml
  .github/workflows/coverity.yml
  .github/workflows/tests.yml
  Makefile.am
  configure.ac
  contrib/debian/control
  libnetdata/libnetdata.h
  netdata-installer.sh
  netdata.spec.in
  packaging/installer/dependencies/alpine.sh
  packaging/installer/dependencies/arch.sh
  packaging/installer/dependencies/centos.sh
  packaging/installer/dependencies/clearlinux.sh
  packaging/installer/dependencies/debian.sh
  packaging/installer/dependencies/fedora.sh
  packaging/installer/dependencies/freebsd.sh
  packaging/installer/dependencies/gentoo.sh
  packaging/installer/dependencies/ol.sh
  packaging/installer/dependencies/opensuse.sh
  packaging/installer/dependencies/rockylinux.sh
  packaging/installer/dependencies/ubuntu.sh
  packaging/installer/install-required-packages.sh
  packaging/yaml.checksums
  packaging/yaml.version
Labels: area/ci, area/packaging, area/build

#14762 Accept all=true for alarms api v1 call
  web/api/web_api_v1.c
Labels: area/web

#14767 minor addition to distros matrix
  .github/data/distros.yml
Labels: area/ci

#14759 fix /sys/block/zram in docker
  collectors/proc.plugin/sys_block_zram.c
Labels: area/collectors, collectors/proc

#14772 Update API
  web/api/README.md
Labels: area/docs, area/web

#14774 Create reverse-proxies.md
  docs/category-overview-pages/reverse-proxies.md
Labels: area/docs

#14779 Replace hardcoded links pointing to "learn.netdata.cloud" with github absolute links
  collectors/COLLECTORS.md
  collectors/python.d.plugin/alarms/README.md
  collectors/python.d.plugin/zscores/README.md
  collectors/statsd.plugin/README.md
  docs/cloud/cheatsheet.md
  docs/cloud/insights/anomaly-advisor.md
  docs/cloud/insights/metric-correlations.md
  docs/cloud/manage/view-plan-billing.md
  docs/cloud/visualize/dashboards.md
  docs/guides/monitor/anomaly-detection.md
  docs/guides/monitor/kubernetes-k8s-netdata.md
  docs/guides/monitor/pi-hole-raspberry-pi.md
  docs/guides/troubleshoot/troubleshooting-agent-with-cloud-connection.md
  docs/store/distributed-data-architecture.md
  health/REFERENCE.md
  packaging/installer/methods/kickstart.md
  packaging/installer/methods/macos.md
  packaging/installer/methods/manual.md
  packaging/installer/methods/offline.md
Labels: area/packaging, area/docs, area/health, area/collectors, collectors/python.d, collectors/statsd

#14782 Revert "Use static thread-pool for training. (#14702)"
  daemon/global_statistics.c
  daemon/main.c
  daemon/main.h
  database/rrdhost.c
  ml/Config.cc
  ml/ad_charts.cc
  ml/ad_charts.h
  ml/ml-dummy.c
  ml/ml-private.h
  ml/ml.cc
  ml/ml.h
Labels: area/daemon, area/database, area/ml

#14750 Update journal v2
  database/engine/journalfile.c
  database/engine/journalfile.h
  database/engine/pagecache.c
  database/sqlite/sqlite_functions.c
Labels: area/database

#14718 /api/v2/X part 5
  aclk/aclk_query.c
  database/contexts/api_v2.c
  database/contexts/instance.c
  database/contexts/internal.h
  database/contexts/metric.c
  database/contexts/query_scope.c
  database/contexts/query_target.c
  database/contexts/rrdcontext.c
  database/contexts/rrdcontext.h
  database/rrd.h
  health/health_log.c
  libnetdata/buffer/buffer.h
  libnetdata/dictionary/dictionary.c
  libnetdata/dictionary/dictionary.h
  libnetdata/libnetdata.h
  streaming/rrdpush.c
  web/api/formatters/csv/csv.c
  web/api/formatters/json/json.c
  web/api/formatters/json_wrapper.c
  web/api/formatters/json_wrapper.h
  web/api/formatters/rrd2json.c
  web/api/formatters/rrd2json.h
  web/api/formatters/value/value.c
  web/api/formatters/value/value.h
  web/api/netdata-swagger.yaml
  web/api/queries/query.c
  web/api/queries/rrdr.c
  web/api/queries/rrdr.h
  web/api/queries/weights.c
  web/api/queries/weights.h
  web/api/web_api.c
  web/api/web_api.h
  web/api/web_api_v1.c
  web/api/web_api_v1.h
  web/api/web_api_v2.c
  web/server/web_client.h
Labels: area/web, area/health, area/database, area/streaming, area/aclk

#14787 uuid_compare() replaced with uuid_memcmp()
  database/contexts/instance.c
  database/contexts/metric.c
  database/contexts/rrdcontext.c
  database/engine/pagecache.c
  database/engine/rrdengine.c
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
  database/sqlite/sqlite_aclk.h
  database/sqlite/sqlite_aclk_alert.c
  database/sqlite/sqlite_functions.c
  libnetdata/inlined.h
Labels: area/database, area/aclk

#14785 /api/v2/X part 6
  database/contexts/query_scope.c
  web/api/queries/weights.c
Labels: area/web, area/database

#14791 use mCPU in k8s cgroup cpu charts title
  collectors/cgroups.plugin/sys_fs_cgroup.c
Labels: area/collectors, collectors/cgroups

#14790 Schedule node info to the cloud after child connection
  aclk/aclk.c
  aclk/aclk.h
  database/rrdhost.c
  database/sqlite/sqlite_aclk.c
  database/sqlite/sqlite_aclk.h
  database/sqlite/sqlite_aclk_node.c
  database/sqlite/sqlite_metadata.c
  streaming/receiver.c
Labels: area/database, area/streaming, area/aclk

#14801 add validation step before using GCP metadata
  daemon/system-info.sh
Labels: area/daemon

#14809 diskspace: don't collect inodes on msdosfs
  collectors/diskspace.plugin/plugin_diskspace.c
Labels: area/collectors, collectors/diskspace

#14797 /api/v2/X part 7
  database/contexts/api_v2.c
  database/contexts/query_target.c
  database/contexts/rrdcontext.h
  libnetdata/libnetdata.h
  web/api/formatters/json/json.c
  web/api/formatters/json_wrapper.c
  web/api/formatters/rrd2json.c
  web/api/formatters/rrd2json.h
  web/api/formatters/value/value.c
  web/api/formatters/value/value.h
  web/api/netdata-swagger.json
  web/api/netdata-swagger.yaml
  web/api/queries/query.c
  web/api/queries/query.h
  web/api/queries/rrdr.c
  web/api/queries/rrdr.h
  web/api/queries/weights.c
  web/api/web_api_v1.c
Labels: area/web, area/database

#14720 Fix failure logic for publishing packages.
  .github/workflows/packaging.yml
  .github/workflows/repoconfig-packages.yml
Labels: area/ci, no changelog

#14819 Clean up install method list in bug report template.
  .github/ISSUE_TEMPLATE/BUG_REPORT.yml
Labels: area/ci, no changelog

#14821 configure extent cache size
  daemon/main.c
  database/engine/pagecache.c
  database/engine/rrdengineapi.c
  database/engine/rrdengineapi.h
Labels: area/daemon, area/database

#14771 Add Amazon Linux 2023 to CI, packaging, and platform support.
  .github/data/distros.yml
  .github/scripts/pkg-test.sh
  netdata.spec.in
  packaging/PLATFORM_SUPPORT.md
Labels: area/ci, area/packaging, area/docs

#14833 Update netdata-security.md
  docs/netdata-security.md
Labels: area/docs

#14820 Docs, shorten too long titles, and add a description below
  collectors/ioping.plugin/README.md
  collectors/python.d.plugin/zscores/README.md
  docs/guides/collect-apache-nginx-web-logs.md
  docs/guides/monitor/kubernetes-k8s-netdata.md
  docs/guides/monitor/lamp-stack.md
  docs/guides/monitor/raspberry-pi-anomaly-detection.md
  docs/guides/using-host-labels.md
  packaging/building-native-packages-locally.md
Labels: area/packaging, area/docs, area/collectors, collectors/ioping, collectors/python.d

#14830 add some third party collectors
  collectors/COLLECTORS.md
Labels: area/docs, area/collectors

#14825 First batch of adding descriptions to the documentation
  claim/README.md
  docs/cloud/manage/invite-your-team.md
  docs/cloud/manage/plans.md
  docs/cloud/manage/sign-in.md
  docs/cloud/manage/view-plan-billing.md
  docs/cloud/spaces.md
  docs/cloud/visualize/interact-new-charts.md
  docs/cloud/visualize/node-filter.md
  docs/cloud/visualize/overview.md
  docs/cloud/war-rooms.md
  docs/dashboard/visualization-date-and-time-controls.md
  docs/getting-started/introduction.md
  docs/guides/troubleshoot/troubleshooting-agent-with-cloud-connection.md
  docs/monitor/view-active-alarms.md
  docs/quickstart/infrastructure.md
  docs/store/distributed-data-architecture.md
  packaging/installer/README.md
Labels: area/packaging, area/docs, area/claim

#14842 Update parent child examples
  diagrams/ephemeral-nodes-two-parents.xml
  diagrams/simple-parent-child-no-cloud.xml
  diagrams/simple-parent-child.xml
  docs/metrics-storage-management/enable-streaming.md
Labels: area/docs

#14840 fix double host prefix when reading ZFS pools state
  collectors/proc.plugin/proc_spl_kstat_zfs.c
Labels: area/collectors, collectors/proc

#14817 minor - add capability signifying this agent can speak apiv2
  CMakeLists.txt
  Makefile.am
  aclk/aclk_capas.c
  database/contexts/api_v2.c
Labels: area/database, area/aclk, area/build

#14844 fix #14841 Exception funktion call Rados.mon_command()
  collectors/python.d.plugin/ceph/ceph.chart.py
Labels: area/collectors, collectors/python.d
