Repository netdata/netdata, pull requests merged in 2023-09, with the labels that each got.

#15255 Reduce label memory
  CMakeLists.txt
  Makefile.am
  aclk/aclk.c
  aclk/schema-wrappers/node_info.h
  aclk/schema-wrappers/schema_wrapper_utils.cc
  collectors/cgroups.plugin/sys_fs_cgroup.c
  collectors/cgroups.plugin/sys_fs_cgroup.h
  collectors/cgroups.plugin/tests/test_cgroups_plugin.c
  collectors/diskspace.plugin/plugin_diskspace.c
  collectors/plugins.d/pluginsd_parser.c
  collectors/plugins.d/pluginsd_parser.h
  collectors/proc.plugin/plugin_proc.h
  collectors/proc.plugin/proc_net_dev.c
  collectors/proc.plugin/sys_devices_system_edac_mc.c
  database/contexts/api_v1.c
  database/contexts/api_v2.c
  database/contexts/instance.c
  database/contexts/internal.h
  database/contexts/rrdcontext.h
  database/rrd.h
  database/rrdcalc.c
  database/rrdhost.c
  database/rrdlabels.c
  database/rrdlabels.h
  database/sqlite/sqlite_functions.c
  database/sqlite/sqlite_functions.h
  database/sqlite/sqlite_metadata.c
  exporting/check_filters.c
  exporting/exporting_engine.h
  exporting/prometheus/prometheus.c
  exporting/prometheus/remote_write/remote_write.c
  health/health.c
  web/api/formatters/json_wrapper.c
  web/api/queries/query.c
Labels: area/web, area/health, area/exporting, area/collectors, area/database, area/aclk, area/build, collectors/cgroups, collectors/diskspace, collectors/proc, collectors/plugins.d

#15887 Limit atomic operations for statistics
  daemon/global_statistics.c
  libnetdata/dictionary/dictionary.c
  libnetdata/dictionary/dictionary.h
  libnetdata/string/string.c
Labels: area/daemon

#15901 Improve shutdown of the metadata thread
  database/sqlite/sqlite_metadata.c
Labels: area/database

#15896 Update change-metrics-storage.md
  docs/store/change-metrics-storage.md
Labels: area/docs

#15894 Update pfsense.md
  packaging/installer/methods/pfsense.md
Labels: area/packaging, area/docs

#15902 Assorted Dockerfile cleanup.
  packaging/docker/Dockerfile
Labels: area/packaging

#15882 Properly document issues with installing on hosts without IPv4.
  packaging/installer/README.md
  packaging/installer/UPDATE.md
Labels: area/packaging, area/docs

#15905 python.d/sensors: Increase voltage limits 127 -> 400
  collectors/python.d.plugin/sensors/sensors.chart.py
Labels: area/collectors, collectors/python.d

#15919 Reduce workload during cleanup
  database/sqlite/sqlite_functions.c
  database/sqlite/sqlite_health.c
  database/sqlite/sqlite_metadata.c
Labels: area/database

#15892 Reset the obsolete flag on service thread
  collectors/plugins.d/pluginsd_parser.c
  daemon/service.c
  database/contexts/instance.c
  database/rrd.h
  database/rrdset.c
  health/health.c
  ml/ml.cc
  web/api/formatters/charts2json.c
  web/api/formatters/charts2json.h
  web/api/web_api_v1.c
Labels: area/web, area/health, area/collectors, area/daemon, area/database, area/ml, collectors/plugins.d

#15909 Replace _ with spaces for name variable for ntfy
  health/notifications/alarm-notify.sh.in
Labels: area/health

#15771 don't return `-1` if the socket was closed
  exporting/send_data.c
  libnetdata/socket/security.c
Labels: area/exporting

#15926 systemd-journal and facets improvements
  collectors/apps.plugin/apps_plugin.c
  collectors/plugins.d/plugins_d.h
  collectors/plugins.d/pluginsd_parser.h
  collectors/systemd-journal.plugin/systemd-journal.c
  libnetdata/facets/facets.c
  libnetdata/facets/facets.h
  libnetdata/http/http_defs.h
Labels: area/collectors, collectors/apps, collectors/plugins.d, collectors/systemd-journal

#15929 fix memory leak on prometheus exporter and code cleanup
  exporting/prometheus/prometheus.c
Labels: area/exporting

#15928 systemd-journal and facets: info and sources
  collectors/systemd-journal.plugin/systemd-journal.c
  libnetdata/facets/facets.c
  libnetdata/facets/facets.h
Labels: area/collectors, collectors/systemd-journal

#15936 improved facets info
  collectors/systemd-journal.plugin/systemd-journal.c
  database/engine/cache.h
Labels: area/collectors, area/database, collectors/systemd-journal

#15925 add specific info on how to access the dashboards
  README.md
  docs/category-overview-pages/accessing-netdata-dashboards.md
  web/gui/README.md
Labels: area/docs, area/web

#15945 Integrations: Add a note to enable the collectors
  collectors/python.d.plugin/go_expvar/metadata.yaml
  collectors/python.d.plugin/hpssa/metadata.yaml
  collectors/python.d.plugin/tor/metadata.yaml
Labels: area/collectors, collectors/python.d, area/metadata

#15876 Skip copying environment/install-type files when checking existing installs.
  packaging/installer/kickstart.sh
Labels: area/packaging

#15940 facets optimizations
  collectors/systemd-journal.plugin/systemd-journal.c
  libnetdata/clocks/clocks.h
  libnetdata/facets/facets.c
  libnetdata/facets/facets.h
Labels: area/collectors, collectors/systemd-journal

#15941 Add description about packages
  collectors/cups.plugin/metadata.yaml
Labels: area/collectors, collectors/cups, area/metadata

#15948 streaming logs
  aclk/aclk_otp.c
  collectors/proc.plugin/sys_devices_pci_aer.c
  collectors/systemd-journal.plugin/systemd-journal.c
  database/engine/rrdengineapi.c
  libnetdata/socket/socket.c
  streaming/rrdpush.c
  streaming/sender.c
Labels: area/collectors, area/database, area/streaming, area/aclk, collectors/proc, collectors/systemd-journal

#15949 Disk Labels
  collectors/proc.plugin/proc_diskstats.c
Labels: area/collectors, collectors/proc

#15953 Fix CID 400366
  collectors/systemd-journal.plugin/systemd-journal.c
Labels: area/collectors, collectors/systemd-journal

#15952 Update descriptions.
  collectors/freeipmi.plugin/metadata.yaml
Labels: area/collectors, collectors/freeipmi, area/metadata

#15951 Update slabinfo metadata
  collectors/slabinfo.plugin/metadata.yaml
Labels: area/collectors, collectors/slabinfo, area/metadata

#15956 facets and journal improvements
  database/engine/rrdengineapi.c
  libnetdata/facets/facets.c
Labels: area/database

#15958 Clarifying the possible installation types
  packaging/installer/UPDATE.md
Labels: area/packaging, area/docs

#14687 enable `ml_1min_node_ar` as a default alert
  health/health.d/ml.conf
Labels: area/health, initiative

#14551 RPM: build go.d.plugin native for CentOS-Stream
  netdata.spec.in
Labels: area/packaging

#15943 Integrations: Add a note to install charts.d plugin
  collectors/charts.d.plugin/ap/metadata.yaml
  collectors/charts.d.plugin/apcupsd/metadata.yaml
  collectors/charts.d.plugin/libreswan/metadata.yaml
  collectors/charts.d.plugin/nut/metadata.yaml
  collectors/charts.d.plugin/opensips/metadata.yaml
  collectors/charts.d.plugin/sensors/metadata.yaml
Labels: area/collectors, collectors/charts.d, area/metadata

#15965 fix using undefined var when loading job statuses in python.d
  collectors/python.d.plugin/python.d.plugin.in
Labels: area/collectors, collectors/python.d

#15966 Skip trying to preserve file owners when bundling external code.
  packaging/bundle-ebpf-co-re.sh
  packaging/bundle-ebpf.sh
  packaging/bundle-libbpf.sh
  packaging/bundle-protobuf.sh
Labels: area/packaging

#15850 eBPF socket function
  collectors/ebpf.plugin/README.md
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.d/network.conf
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_apps.c
  collectors/ebpf.plugin/ebpf_apps.h
  collectors/ebpf.plugin/ebpf_cachestat.c
  collectors/ebpf.plugin/ebpf_cgroup.h
  collectors/ebpf.plugin/ebpf_dcstat.c
  collectors/ebpf.plugin/ebpf_disk.c
  collectors/ebpf.plugin/ebpf_fd.c
  collectors/ebpf.plugin/ebpf_filesystem.c
  collectors/ebpf.plugin/ebpf_functions.c
  collectors/ebpf.plugin/ebpf_functions.h
  collectors/ebpf.plugin/ebpf_mount.c
  collectors/ebpf.plugin/ebpf_process.h
  collectors/ebpf.plugin/ebpf_shm.c
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_socket.h
  collectors/ebpf.plugin/ebpf_swap.c
  collectors/ebpf.plugin/ebpf_sync.c
  collectors/ebpf.plugin/ebpf_unittest.c
  docs/cloud/netdata-functions.md
  libnetdata/ebpf/ebpf.c
  libnetdata/ebpf/ebpf.h
  packaging/ebpf-co-re.checksums
  packaging/ebpf-co-re.version
  packaging/ebpf.checksums
  packaging/ebpf.version
Labels: area/packaging, area/docs, area/collectors, collectors/ebpf

#15970 facets histogram when empty
  collectors/systemd-journal.plugin/systemd-journal.c
  libnetdata/facets/facets.c
Labels: area/collectors, collectors/systemd-journal

#15976 Facets: fixes 5
  collectors/systemd-journal.plugin/systemd-journal.c
  libnetdata/facets/facets.c
Labels: area/collectors, collectors/systemd-journal

#15978 apps.plugin function is not thread safe
  collectors/apps.plugin/apps_plugin.c
Labels: area/collectors, collectors/apps

#15981 update go.d.plugin to v0.55.0
  health/health.d/vcsa.conf
  health/health.d/vsphere.conf
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging, area/health

#15983 Functions: allow collectors to be restarted
  database/rrd.h
  database/rrdfunctions.c
  libnetdata/required_dummies.h
  libnetdata/threads/threads.c
  streaming/rrdpush.c
Labels: area/database, area/streaming

#15982 Metadata fixes for some collectors
  collectors/perf.plugin/metadata.yaml
  collectors/python.d.plugin/hddtemp/metadata.yaml
  collectors/python.d.plugin/nsd/metadata.yaml
  collectors/python.d.plugin/samba/metadata.yaml
  collectors/python.d.plugin/tomcat/metadata.yaml
Labels: area/collectors, collectors/perf, collectors/python.d, area/metadata

#15893 Initial tooling for Integrations Documentation
  .github/workflows/generate-integrations-docs.yml
  integrations/gen_docs_integrations.py
Labels: area/ci, area/metadata

#15984 Re-store rrdvars on late dimensions
  database/rrd.h
  database/rrdcalc.c
  health/health.c
Labels: area/health, area/database

#15971 extend ml default training from ~24 to ~48 hours
  ml/Config.cc
  ml/README.md
Labels: area/ml

#15998 Patch release 1.42.4
  database/rrd.h
  database/rrdcalc.c
  health/health.c
Labels: area/health, area/database

#15977 functions cancelling
  Makefile.am
  collectors/apps.plugin/apps_plugin.c
  collectors/plugins.d/plugins_d.h
  collectors/plugins.d/pluginsd_parser.c
  collectors/systemd-journal.plugin/systemd-journal.c
  configure.ac
  daemon/main.c
  database/rrdfunctions.c
  database/rrdfunctions.h
  database/rrdhost.c
  libnetdata/Makefile.am
  libnetdata/buffer/buffer.h
  libnetdata/facets/facets.c
  libnetdata/facets/facets.h
  libnetdata/functions_evloop/Makefile.am
  libnetdata/functions_evloop/README.md
  libnetdata/functions_evloop/functions_evloop.c
  libnetdata/functions_evloop/functions_evloop.h
  libnetdata/inlined.h
  libnetdata/libnetdata.h
  streaming/rrdpush.h
  streaming/sender.c
  web/api/web_api_v1.c
  web/server/static/static-threaded.c
Labels: area/docs, area/web, area/collectors, area/daemon, area/database, area/streaming, area/build, collectors/apps, collectors/plugins.d, collectors/systemd-journal

#16001 fix compilation warnings
  collectors/apps.plugin/apps_plugin.c
  collectors/perf.plugin/perf_plugin.c
  database/engine/metric.c
  database/rrdfunctions.c
  database/rrdfunctions.h
  exporting/prometheus/prometheus.c
  libnetdata/aral/aral.c
  libnetdata/clocks/clocks.c
  libnetdata/dictionary/dictionary.c
  libnetdata/facets/facets.c
  libnetdata/log/log.c
  libnetdata/string/string.c
Labels: area/exporting, area/collectors, area/database, collectors/apps, collectors/perf

#16005 Update CMakeLists.txt
  CMakeLists.txt
  libnetdata/health/health.c
  libnetdata/health/health.h
Labels: area/build

#15997 Update integrations/gen_docs_integrations.py
  integrations/gen_docs_integrations.py
Labels: area/metadata

#16006 Fix compilation warnings
  collectors/freeipmi.plugin/freeipmi_plugin.c
  collectors/nfacct.plugin/plugin_nfacct.c
  collectors/plugins.d/pluginsd_parser.c
  database/engine/datafile.c
  database/rrdset.c
  streaming/sender.c
Labels: area/collectors, area/database, area/streaming, collectors/freeipmi, collectors/nfacct, collectors/plugins.d

#15886 Add a summary field to alerts
  database/rrd.h
  database/rrdcalc.c
  database/rrdcalc.h
  database/rrdcalctemplate.h
  database/sqlite/sqlite_db_migration.c
  database/sqlite/sqlite_functions.c
  database/sqlite/sqlite_health.c
  health/REFERENCE.md
  health/health.c
  health/health.d/btrfs.conf
  health/health.d/cgroups.conf
  health/health.d/cpu.conf
  health/health.d/disks.conf
  health/health.d/docker.conf
  health/health.d/file_descriptors.conf
  health/health.d/httpcheck.conf
  health/health.d/ipc.conf
  health/health.d/ipmi.conf
  health/health.d/linux_power_supply.conf
  health/health.d/load.conf
  health/health.d/mdstat.conf
  health/health.d/net.conf
  health/health.d/nut.conf
  health/health.d/nvme.conf
  health/health.d/ping.conf
  health/health.d/postgres.conf
  health/health.d/qos.conf
  health/health.d/ram.conf
  health/health.d/redis.conf
  health/health.d/swap.conf
  health/health.d/tcp_mem.conf
  health/health.d/timex.conf
  health/health.d/vernemq.conf
  health/health.d/zfs.conf
  health/health.h
  health/health_config.c
  health/health_json.c
  health/health_log.c
  health/notifications/alarm-notify.sh.in
Labels: area/docs, area/health, area/database

#15955 Preserve README info inside metadata.yaml for freeipmi.plugin
  collectors/freeipmi.plugin/metadata.yaml
Labels: area/collectors, collectors/freeipmi, area/metadata

#16015 Systemd-Journal: fix crash when the uid or gid do not have names
  collectors/systemd-journal.plugin/systemd-journal.c
Labels: area/collectors, collectors/systemd-journal

#16016 fix crash on setting thread name
  libnetdata/threads/threads.c
Labels: area/aclk

#16008 some collector metadata improvements
  collectors/python.d.plugin/changefinder/metadata.yaml
  collectors/python.d.plugin/fail2ban/metadata.yaml
  collectors/python.d.plugin/sensors/metadata.yaml
Labels: area/collectors, collectors/python.d, area/metadata

#15944 Change the build image of EL packages from alma to rocky
  .github/data/distros.yml
  integrations/deploy.yaml
Labels: area/ci, area/metadata

#15960 Clarify shipping repos cases
  packaging/installer/methods/packages.md
Labels: area/packaging, area/docs

#16022 Fix handling of CI skipping.
  .github/workflows/build-dummy.yml
  .github/workflows/build.yml
  .github/workflows/checks-dummy.yml
  .github/workflows/checks.yml
  .github/workflows/docker-dummy.yml
  .github/workflows/docker.yml
  .github/workflows/packaging-dummy.yml
  .github/workflows/packaging.yml
Labels: area/ci

#16026 Fix package builds on Rocky Linux.
  netdata.spec.in
Labels: area/packaging

#16013 remove the line length limit from pluginsd
  collectors/plugins.d/pluginsd_parser.c
  collectors/plugins.d/pluginsd_parser.h
  collectors/systemd-journal.plugin/systemd-journal.c
  libnetdata/buffer/buffer.c
  libnetdata/buffer/buffer.h
  streaming/receiver.c
  streaming/rrdpush.h
Labels: area/collectors, area/streaming, collectors/plugins.d, collectors/systemd-journal

#16033 Disable mongodb exporter builds where broken.
  netdata.spec.in
  packaging/makeself/jobs/70-netdata-git.install.sh
Labels: area/packaging

#16027 add description for Homebrew on Apple Silicon Mac(netdata/learn/#1789)
  packaging/installer/methods/macos.md
Labels: area/packaging, area/docs

#16019 Update collector metadata for python collectors
  collectors/python.d.plugin/adaptec_raid/metadata.yaml
  collectors/python.d.plugin/megacli/metadata.yaml
Labels: area/collectors, collectors/python.d, area/metadata

#16028 use `status` as units for `anomaly_detection.detector_events`
  ml/ad_charts.cc
Labels: area/ml

#16009 Simplify the script for generating documentation from integrations
  integrations/gen_docs_integrations.py
Labels: area/metadata

#16041 Remove discontinued Hangouts and StackPulse notification methods
  README.md
  docs/monitor/enable-notifications.md
  health/notifications/Makefile.am
  health/notifications/alarm-notify.sh.in
  health/notifications/hangouts/Makefile.inc
  health/notifications/hangouts/README.md
  health/notifications/health_alarm_notify.conf
  health/notifications/stackpulse/Makefile.inc
  health/notifications/stackpulse/README.md
Labels: area/docs, area/health, area/build

#16043 Doc about running a local dashboard through Cloudflare (community)
  docs/running-through-cf-tunnels.md
Labels: area/docs

#16050 Fix summary field in table
  database/sqlite/sqlite_db_migration.c
  database/sqlite/sqlite_functions.c
Labels: area/database

#16052 Fix missing find command when installing/updating on Rocky Linux systems.
  packaging/installer/dependencies/centos.sh
  packaging/installer/dependencies/rockylinux.sh
  packaging/installer/install-required-packages.sh
Labels: area/packaging

#15979 Maintain node's last connected timestamp in the db
  database/rrd.h
  database/rrdhost.c
  database/sqlite/sqlite_db_migration.c
  database/sqlite/sqlite_functions.c
  database/sqlite/sqlite_metadata.c
Labels: area/database

#16036 health: add upsd alerts
  health/Makefile.am
  health/health.d/upsd.conf
Labels: area/health, area/build

#16053 Update to use versioned base images for CI.
  .github/scripts/get-static-cache-key.sh
  .github/workflows/packaging.yml
  packaging/building-native-packages-locally.md
  packaging/docker/Dockerfile
  packaging/makeself/build-static.sh
Labels: area/ci, area/packaging, area/docs

#16059 Bugfix on integrations/gen_docs_integrations.py
  integrations/gen_docs_integrations.py
Labels: area/metadata

#16061 update go.d version to v0.56.0
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#16058 Fix coverity 402975
  database/sqlite/sqlite_metadata.c
Labels: area/database

#15995 Make collectors/COLLECTORS.md have its list autogenerated from integrations.js
  .github/workflows/generate-integrations-docs.yml
  .github/workflows/generate-integrations.yml
  collectors/COLLECTORS.md
  integrations/gen_doc_collector_page.py
Labels: area/ci, area/docs, area/collectors, area/metadata

#16046 Convert the ML database
  database/sqlite/sqlite_context.c
  database/sqlite/sqlite_db_migration.c
  database/sqlite/sqlite_db_migration.h
  database/sqlite/sqlite_functions.c
  database/sqlite/sqlite_functions.h
  database/sqlite/sqlite_metadata.c
  database/sqlite/sqlite_metadata.h
  ml/ml.cc
  ml/ml.h
Labels: area/database, area/ml

#16068 Improve description about tc.plugin
  collectors/tc.plugin/metadata.yaml
Labels: area/collectors, collectors/tc, area/metadata

#16073 [Integrations Docs] Add a badge for either netdata or community maintained
  integrations/gen_docs_integrations.py
Labels: area/metadata
