Repository netdata/netdata, pull requests merged in 2023-06, with the labels that each got.

#15120 add netdata demo rooms to the list of demo urls
  docs/Demo-Sites.md
Labels: area/docs

#15127 Fix bundling of eBPF legacy code for DEB packages.
  contrib/debian/rules
  packaging/bundle-ebpf.sh
Labels: area/packaging

#15086 health: remove "families" from alarms config
  health/health.d/boinc.conf
  health/health.d/btrfs.conf
  health/health.d/disks.conf
  health/health.d/exporting.conf
  health/health.d/httpcheck.conf
  health/health.d/ioping.conf
  health/health.d/mdstat.conf
  health/health.d/net.conf
  health/health.d/nvme.conf
  health/health.d/ping.conf
  health/health.d/portcheck.conf
  health/health.d/redis.conf
  health/health.d/vsphere.conf
  health/health.d/web_log.conf
  health/health.d/windows.conf
Labels: area/health

#15131 fix: allow square brackets in label value
  database/rrdlabels.c
Labels: area/database

#15132 Provide necessary permission for the kickstart to run the netdata-updater script
  packaging/installer/kickstart.sh
Labels: area/packaging

#15135 fix a typo in `libnetdata/simple_pattern/README.md`
  libnetdata/simple_pattern/README.md
Labels: area/docs

#15134 updated events docs and minor fix on silecing rules table
  docs/cloud/alerts-notifications/manage-alert-notification-silencing-rules.md
  docs/cloud/insights/events-feed.md
Labels: area/docs

#15139 minor - fix syntax in config.ac
  configure.ac
Labels: area/build

#15140 send EXIT before exiting in freeipmi and debugfs plugins
  collectors/debugfs.plugin/debugfs_plugin.c
  collectors/freeipmi.plugin/freeipmi_plugin.c
Labels: area/collectors, collectors/freeipmi, collectors/debugfs

#15147 Check null transition id and config hash
  database/sqlite/sqlite_aclk_alert.c
Labels: area/database, area/aclk

#15141 Mattermost cloud integration docs
  docs/cloud/alerts-notifications/add-discord-notification.md
  docs/cloud/alerts-notifications/add-mattermost-notification-configuration.md
  docs/cloud/alerts-notifications/add-opsgenie-notification-configuration.md
  docs/cloud/alerts-notifications/add-pagerduty-notification-configuration.md
  docs/cloud/alerts-notifications/add-slack-notification-configuration.md
  docs/cloud/alerts-notifications/add-webhook-notification-configuration.md
  docs/cloud/manage/plans.md
Labels: area/docs

#15038 Update libbpf
  .gitignore
  Makefile.am
  netdata-installer.sh
  packaging/current_libbpf.checksums
  packaging/current_libbpf.version
  packaging/ebpf-co-re.checksums
  packaging/ebpf-co-re.version
  packaging/ebpf.checksums
  packaging/ebpf.version
  packaging/libbpf.checksums
  packaging/libbpf.version
Labels: area/packaging, area/build

#15151 freeipmi: add availability status chart and alarm
  collectors/freeipmi.plugin/freeipmi_plugin.c
  health/Makefile.am
  health/health.d/plugin.conf
Labels: area/health, area/collectors, area/build, collectors/freeipmi

#15113 Re-write of SSL support in Netdata; restoration of SIGCHLD; detection of stale plugins; streaming improvements
  aclk/https_client.c
  collectors/plugins.d/plugins_d.c
  collectors/plugins.d/plugins_d.h
  collectors/plugins.d/pluginsd_parser.c
  collectors/tc.plugin/plugin_tc.c
  daemon/analytics.c
  daemon/main.c
  daemon/signals.c
  database/contexts/api_v2.c
  database/rrdhost.c
  exporting/clean_connectors.c
  exporting/exporting_engine.c
  exporting/exporting_engine.h
  exporting/graphite/graphite.c
  exporting/json/json.c
  exporting/opentsdb/opentsdb.c
  exporting/prometheus/remote_write/remote_write.c
  exporting/send_data.c
  libnetdata/parser/parser.c
  libnetdata/parser/parser.h
  libnetdata/popen/popen.c
  libnetdata/popen/popen.h
  libnetdata/socket/security.c
  libnetdata/socket/security.h
  libnetdata/socket/socket.c
  libnetdata/socket/socket.h
  streaming/receiver.c
  streaming/rrdpush.c
  streaming/rrdpush.h
  streaming/sender.c
  web/api/queries/query.c
  web/server/static/static-threaded.c
  web/server/web_client.c
  web/server/web_client.h
  web/server/web_client_cache.c
Labels: area/web, area/exporting, area/collectors, area/daemon, area/database, area/streaming, area/aclk, collectors/tc, collectors/plugins.d

#15160 Make plugin packages hard dependencies.
  .github/scripts/pkg-test.sh
  contrib/debian/control
  contrib/debian/netdata-base.postinst
  contrib/debian/netdata.postinst
  netdata.spec.in
  packaging/installer/kickstart.sh
Labels: area/ci, area/packaging

#15161 Restrict ebpf dep in DEB package to amd64 only.
  contrib/debian/control
Labels: area/packaging, run-ci/packaging

#15128 Add library to encode/decode Gorilla compressed buffers.
  .gitignore
  CMakeLists.txt
  Makefile.am
  libnetdata/gorilla/benchmark.sh
  libnetdata/gorilla/fuzzer.sh
  libnetdata/gorilla/gorilla.cc
  libnetdata/gorilla/gorilla.h
  libnetdata/libnetdata.h
Labels: area/build

#15163 Fix CID 385073 -- Uninitialized scalar variable
  health/health_config.c
Labels: area/health

#15162 api v2 nodes for streaming statuses
  collectors/plugins.d/pluginsd_parser.c
  database/contexts/api_v2.c
  database/contexts/rrdcontext.h
  database/rrd.h
  database/rrdhost.c
  streaming/receiver.c
  streaming/replication.c
  streaming/rrdpush.c
  streaming/rrdpush.h
  streaming/sender.c
  web/api/formatters/json/json.c
Labels: area/web, area/collectors, area/database, area/streaming, collectors/plugins.d

#15165 change mandatory packages for RPMs
  netdata.spec.in
Labels: area/packaging

#15169 Fix coverity issues
  streaming/receiver.c
  streaming/sender.c
Labels: area/streaming

#15170 Change package conflicts policy on deb based packages
  contrib/debian/control
Labels: area/packaging

#15179 bump go.d.plugin to v0.53.1
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#15146 eBPF unittest + bug fix
  CMakeLists.txt
  Makefile.am
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_process.c
  collectors/ebpf.plugin/ebpf_unittest.c
  collectors/ebpf.plugin/ebpf_unittest.h
  libnetdata/ebpf/ebpf.c
Labels: area/collectors, area/build, collectors/ebpf

#15183 Do strdupz on empty string
  streaming/sender.c
Labels: area/streaming

#15184 bump go.d.plugin to v0.53.2
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#15190 ebpf: disable sync by default
  collectors/ebpf.plugin/ebpf.d.conf
Labels: area/collectors, collectors/ebpf

#15189 Add support for SUSE 15.5
  .github/data/distros.yml
  .github/scripts/pkg-test.sh
  packaging/PLATFORM_SUPPORT.md
  packaging/installer/install-required-packages.sh
Labels: area/ci, area/packaging, area/docs

#15143 Redirect to index.html when a file is not found by web server
  web/server/web_client.c
Labels: area/web

#15195 sqlite_health.c: remove `uuid.h` include
  database/sqlite/sqlite_health.c
Labels: area/database

#15192 RPM: Added elfutils-libelf-devel for build with eBPF (again)
  netdata.spec.in
Labels: area/packaging

#14890 Consistently start the agent as root and rely on it to drop privileges properly.
  daemon/analytics.c
  daemon/daemon.c
  system/openrc/init.d/netdata.in
  system/runit/run.in
  system/systemd/netdata.service.in
  system/systemd/netdata.service.v235.in
Labels: area/packaging, area/daemon

#15205 RocketChat cloud integration docs
  docs/cloud/alerts-notifications/add-rocketchat-notification-configuration.md
Labels: area/docs

#15208 Fix file permissions under directory
  daemon/daemon.c
  system/systemd/netdata.service.in
  system/systemd/netdata.service.v235.in
Labels: area/packaging, area/daemon

#15185 Add two functions that allow someone to start/stop ML.
  collectors/all.h
  daemon/main.c
  database/sqlite/sqlite_metadata.c
  ml/ad_charts.cc
  ml/ml-dummy.c
  ml/ml-private.h
  ml/ml.cc
  ml/ml.h
Labels: area/collectors, area/daemon, area/database, area/ml

#15187 Speed up eBPF exit before to bring functions
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf_cachestat.c
  collectors/ebpf.plugin/ebpf_dcstat.c
  collectors/ebpf.plugin/ebpf_disk.c
  collectors/ebpf.plugin/ebpf_fd.c
  collectors/ebpf.plugin/ebpf_hardirq.c
  collectors/ebpf.plugin/ebpf_mdflush.c
  collectors/ebpf.plugin/ebpf_mount.c
  collectors/ebpf.plugin/ebpf_oomkill.c
  collectors/ebpf.plugin/ebpf_shm.c
  collectors/ebpf.plugin/ebpf_softirq.c
  collectors/ebpf.plugin/ebpf_swap.c
  collectors/ebpf.plugin/ebpf_vfs.c
Labels: area/collectors, collectors/ebpf

#15174 Fix issues in sync thread (eBPF plugin)
  collectors/ebpf.plugin/ebpf_sync.c
Labels: area/collectors, collectors/ebpf

#15168 /api/v2/nodes and streaming function
  aclk/aclk.c
  aclk/aclk.h
  aclk/aclk_capas.c
  aclk/aclk_otp.c
  claim/claim.c
  collectors/apps.plugin/apps_plugin.c
  collectors/cups.plugin/cups_plugin.c
  collectors/plugins.d/pluginsd_parser.c
  daemon/commands.c
  daemon/common.c
  daemon/common.h
  daemon/event_loop.c
  daemon/global_statistics.c
  daemon/main.c
  database/contexts/api_v2.c
  database/contexts/internal.h
  database/contexts/rrdcontext.h
  database/contexts/worker.c
  database/engine/rrdengineapi.c
  database/engine/rrdengineapi.h
  database/rrd.h
  database/rrdfunctions.c
  database/rrdfunctions.h
  database/rrdhost.c
  database/sqlite/sqlite_health.c
  health/health.c
  libnetdata/buffer/buffer.h
  libnetdata/parser/parser.c
  libnetdata/parser/parser.h
  libnetdata/socket/socket.c
  ml/ml-dummy.c
  ml/ml.cc
  ml/ml.h
  streaming/receiver.c
  streaming/replication.c
  streaming/replication.h
  streaming/rrdpush.c
  streaming/rrdpush.h
  streaming/sender.c
  web/api/formatters/json_wrapper.c
  web/api/queries/weights.c
  web/api/web_api_v1.c
  web/api/web_api_v2.c
Labels: area/web, area/health, area/collectors, area/daemon, area/database, area/streaming, area/claim, area/aclk, area/ml, collectors/apps, collectors/cups, collectors/plugins.d

#15204 Obvious memory reductions
  collectors/freebsd.plugin/freebsd_sysctl.c
  collectors/plugins.d/plugins_d.c
  collectors/plugins.d/pluginsd_parser.c
  collectors/statsd.plugin/statsd.c
  daemon/global_statistics.c
  daemon/main.c
  daemon/unit_test.c
  database/contexts/api_v2.c
  database/contexts/query_target.c
  database/contexts/worker.c
  database/engine/cache.c
  database/engine/cache.h
  database/engine/datafile.c
  database/engine/datafile.h
  database/engine/journalfile.c
  database/engine/journalfile.h
  database/engine/metric.c
  database/engine/metric.h
  database/engine/pagecache.c
  database/engine/pdc.c
  database/engine/rrdengine.c
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
  database/ram/rrddim_mem.c
  database/rrd.h
  database/rrddim.c
  database/rrdhost.c
  database/rrdset.c
  database/sqlite/sqlite_metadata.c
  exporting/prometheus/prometheus.c
  exporting/tests/exporting_fixtures.c
  libnetdata/aral/aral.c
  libnetdata/avl/avl.c
  libnetdata/avl/avl.h
  libnetdata/dictionary/dictionary.c
  libnetdata/dictionary/dictionary.h
  libnetdata/july/july.c
  libnetdata/libnetdata.c
  libnetdata/libnetdata.h
  libnetdata/locks/locks.c
  libnetdata/locks/locks.h
  libnetdata/parser/parser.c
  libnetdata/socket/security.c
  libnetdata/worker_utilization/worker_utilization.c
  ml/ml.cc
  streaming/receiver.c
  streaming/replication.c
  streaming/rrdpush.c
  streaming/rrdpush.h
  streaming/sender.c
  web/api/formatters/charts2json.c
  web/api/formatters/rrdset2json.c
  web/api/queries/query.c
  web/rtc/webrtc.c
  web/server/web_client_cache.c
Labels: area/web, area/exporting, area/collectors, area/daemon, area/database, area/streaming, area/tests, area/ml, collectors/freebsd, collectors/statsd, collectors/plugins.d

#15218 fix arch detection on i386 (native packages)
  contrib/debian/install_go.sh
  netdata.spec.in
Labels: area/packaging, run-ci/packaging

#15223 Fix /api/v2/contexts,nodes,nodes_instances,q before match
  database/contexts/api_v2.c
Labels: area/database

#15222 Fix SSL non-blocking retry handling in the web server
  libnetdata/socket/security.c
  libnetdata/socket/security.h
  libnetdata/socket/socket.c
  streaming/sender.c
  web/server/web_client.c
Labels: area/web, area/streaming

#15157 Use a single health log table
  daemon/unit_test.c
  database/rrdcalc.c
  database/rrdcalc.h
  database/sqlite/sqlite_aclk.h
  database/sqlite/sqlite_aclk_alert.c
  database/sqlite/sqlite_db_migration.c
  database/sqlite/sqlite_functions.c
  database/sqlite/sqlite_functions.h
  database/sqlite/sqlite_health.c
  database/sqlite/sqlite_health.h
  health/health.c
  health/health_config.c
Labels: area/health, area/daemon, area/database, area/tests, area/aclk

#15226 Remove erroneous space for unit
  collectors/python.d.plugin/memcached/metrics.csv
Labels: area/collectors, collectors/python.d

#15231 fix not handling N/A value in python.d/nvidia_smi
  collectors/python.d.plugin/nvidia_smi/nvidia_smi.chart.py
Labels: area/collectors, collectors/python.d

#15227 /api/v2 improvements
  aclk/aclk_capas.c
  database/contexts/api_v2.c
  database/contexts/rrdcontext.h
  database/rrdfunctions.c
  database/rrdfunctions.h
  web/api/formatters/json_wrapper.c
  web/api/web_api_v2.c
Labels: area/web, area/database, area/aclk

#15233 Create index for health log migration
  database/sqlite/sqlite_db_migration.c
  database/sqlite/sqlite_functions.c
Labels: area/database

#15232 New alerts endpoint
  database/contexts/api_v2.c
  database/contexts/rrdcontext.h
  database/rrd.h
  database/rrdcalc.c
  database/rrdcalc.h
  database/sqlite/sqlite_health.c
  database/sqlite/sqlite_health.h
  health/health.c
  health/health.h
  health/health_json.c
  health/health_log.c
  web/api/queries/rrdr.h
  web/api/web_api_v1.c
  web/api/web_api_v1.h
  web/api/web_api_v2.c
Labels: area/web, area/health, area/database

#15235 Add module column to apps.plugin csv
  collectors/apps.plugin/metrics.csv
Labels: area/collectors, collectors/apps

#15230 Fix handling of plugin ownership in static builds.
  packaging/makeself/install-or-update.sh
Labels: area/packaging

#15240 Install the correct systemd unit file on older RPM systems.
  netdata.spec.in
Labels: area/packaging

#15234 Fix coverity 393183 & 393182
  database/sqlite/sqlite_aclk_alert.c
Labels: area/database, area/aclk

#15247 URL rewrite at the agent web server to support multiple dashboard versions
  aclk/aclk_query.c
  libnetdata/buffer/buffer.h
  libnetdata/http/http_defs.h
  web/rtc/webrtc.c
  web/server/web_client.c
  web/server/web_client.h
  web/server/web_client_cache.c
Labels: area/web, area/aclk

#15224 Relax jnfv2 caching
  database/engine/journalfile.c
  database/engine/journalfile.h
  database/engine/metric.c
  database/engine/metric.h
Labels: area/database

#15251 use gperf for the pluginsd/streaming parser hashtable
  CMakeLists.txt
  Makefile.am
  collectors/apps.plugin/apps_plugin.c
  collectors/plugins.d/Makefile.am
  collectors/plugins.d/gperf-config.txt
  collectors/plugins.d/gperf-hashtable.h
  collectors/plugins.d/plugins_d.c
  collectors/plugins.d/pluginsd_parser.c
  collectors/plugins.d/pluginsd_parser.h
  collectors/statsd.plugin/statsd.c
  configure.ac
  daemon/main.c
  database/contexts/api_v2.c
  database/rrd.h
  database/rrdfunctions.c
  database/rrdhost.c
  libnetdata/Makefile.am
  libnetdata/libnetdata.c
  libnetdata/libnetdata.h
  libnetdata/parser/Makefile.am
  libnetdata/parser/README.md
  libnetdata/parser/parser.c
  libnetdata/parser/parser.h
  streaming/compression.c
  streaming/receiver.c
  streaming/rrdpush.c
  streaming/rrdpush.h
  streaming/sender.c
  web/api/queries/query.c
Labels: area/docs, area/web, area/collectors, area/daemon, area/database, area/streaming, area/build, collectors/apps, collectors/statsd, collectors/plugins.d

#15244 delay collecting virtual network interfaces
  collectors/proc.plugin/proc_net_dev.c
Labels: area/collectors, collectors/proc

#15250 Update pfsense.md package install instructions
  packaging/installer/methods/pfsense.md
Labels: area/packaging, area/docs

#15253 Fix $(libh2o_dir) not expanded properly sometimes.
  Makefile.am
Labels: area/build

#15258 Update libbpf version
  packaging/current_libbpf.checksums
  packaging/current_libbpf.version
Labels: area/packaging

#15243 Assorted kickstart script improvements.
  packaging/installer/kickstart.sh
Labels: area/packaging

#15087 Add hardening options to CFLAGS by default if they are available.
  build_external/clean-install-arch-debug.Dockerfile
  build_external/clean-install-arch-extras.Dockerfile
  build_external/clean-install-arch.Dockerfile
  build_external/clean-install.Dockerfile
  configure.ac
  packaging/makeself/jobs/70-netdata-git.install.sh
Labels: area/packaging, area/build

#15270 Small readme improvements
  README.md
Labels: area/docs

#15276 exporting: change priority to synchronous when calculating value
  exporting/process_data.c
Labels: area/exporting

#15257 rewrite /api/v2/alerts
  database/contexts/api_v2.c
  database/contexts/rrdcontext.h
  database/rrdcalc.c
  database/rrdcalc.h
  database/sqlite/sqlite_health.c
  database/sqlite/sqlite_health.h
  exporting/prometheus/prometheus.c
  health/health.c
  health/health.h
  health/health_json.c
  health/health_log.c
  libnetdata/buffer/buffer.h
  libnetdata/eval/eval.c
  web/api/queries/rrdr.h
  web/api/web_api_v1.c
  web/api/web_api_v1.h
  web/api/web_api_v2.c
  web/server/web_client.c
Labels: area/web, area/health, area/exporting, area/database

#15279 Revert "Optimizations Part 2"
  collectors/plugins.d/gperf-config.txt
  collectors/plugins.d/gperf-hashtable.h
  collectors/plugins.d/pluginsd_parser.c
  collectors/plugins.d/pluginsd_parser.h
  daemon/common.c
  database/engine/metric.c
  database/engine/metric.h
  database/engine/pagecache.c
  database/engine/rrdengineapi.c
Labels: area/collectors, area/daemon, area/database, collectors/plugins.d

#15282 Fixed mistype for 'send automatic labels' Prometheus option
  exporting/README.md
Labels: area/docs, area/exporting

#15280 Optimizations part 2
  collectors/plugins.d/gperf-config.txt
  collectors/plugins.d/gperf-hashtable.h
  collectors/plugins.d/pluginsd_parser.c
  collectors/plugins.d/pluginsd_parser.h
  daemon/common.c
  daemon/main.c
  database/contexts/context.c
  database/contexts/internal.h
  database/engine/journalfile.c
  database/engine/metric.c
  database/engine/metric.h
  database/engine/pagecache.c
  database/engine/rrdengineapi.c
  database/rrdhost.c
  database/sqlite/sqlite_health.c
  libnetdata/socket/socket.c
  streaming/receiver.c
  streaming/replication.c
  streaming/rrdpush.c
  streaming/rrdpush.h
  streaming/sender.c
  web/rtc/webrtc.c
Labels: area/web, area/collectors, area/daemon, area/database, area/streaming, collectors/plugins.d

#15149 Add configuration file for netdata-updater.sh.
  contrib/debian/conffiles
  netdata.spec.in
  packaging/installer/UPDATE.md
  packaging/installer/netdata-updater.sh
  system/Makefile.am
  system/netdata-updater.conf
Labels: area/packaging, area/docs, area/build

#15274 Misc alert fixes
  database/rrdcalc.c
  database/rrdcalc.h
  database/sqlite/sqlite_aclk_alert.c
  database/sqlite/sqlite_health.c
  database/sqlite/sqlite_health.h
  health/health.c
Labels: area/health, area/database, area/aclk

#15287 use stat() instead of lstat()
  database/engine/rrdengineapi.c
  web/server/web_client.c
Labels: area/web, area/database

#15275 expose CmdLine in apps function
  collectors/apps.plugin/apps_plugin.c
Labels: area/collectors, collectors/apps

#15289 merged spaces, war rooms and invite your team to one place
  claim/README.md
  docs/cloud/manage/invite-your-team.md
  docs/cloud/manage/organize-your-infrastrucutre-invite-your-team.md
  docs/cloud/manage/plans.md
  docs/cloud/spaces.md
  docs/cloud/visualize/dashboards.md
  docs/cloud/visualize/kubernetes.md
  docs/cloud/visualize/nodes.md
  docs/cloud/war-rooms.md
  docs/glossary.md
  docs/guides/troubleshoot/monitor-debug-applications-ebpf.md
  docs/guides/using-host-labels.md
  docs/quickstart/infrastructure.md
  docs/store/distributed-data-architecture.md
  docs/visualize/overview-infrastructure.md
  packaging/installer/README.md
  packaging/installer/methods/macos.md
Labels: area/packaging, area/docs, area/claim

#15291 docs: update stream.conf "health enabled by default" description
  streaming/stream.conf
Labels: area/streaming

#15293 Optimizations part 3
  collectors/plugins.d/pluginsd_parser.c
  collectors/plugins.d/pluginsd_parser.h
  collectors/statsd.plugin/statsd.c
  daemon/service.c
  daemon/unit_test.c
  database/contexts/metric.c
  database/engine/journalfile.c
  database/engine/journalfile.h
  database/rrd.h
  database/rrddim.c
  database/rrdset.c
  database/rrdvar.c
  exporting/graphite/graphite.c
  exporting/json/json.c
  exporting/opentsdb/opentsdb.c
  exporting/prometheus/prometheus.c
  exporting/prometheus/remote_write/remote_write.c
  streaming/receiver.c
  streaming/replication.c
  streaming/rrdpush.c
  streaming/rrdpush.h
  web/api/exporters/shell/allmetrics_shell.c
  web/server/web_client.c
Labels: area/web, area/exporting, area/collectors, area/daemon, area/database, area/streaming, area/tests, collectors/statsd, collectors/plugins.d
