Repository netdata/netdata, pull requests merged in 2023-05, with the labels that each got.

#14873 Remove alpine 3.14 from the ci
  .github/data/distros.yml
  packaging/PLATFORM_SUPPORT.md
Labels: area/ci, area/packaging, area/docs

#14992 feat: add OpsGenie alert levels to payload
  health/notifications/alarm-notify.sh.in
Labels: area/health

#14954 Set api v2 version 2
  aclk/aclk_capas.c
Labels: area/aclk

#14953 Cancel Pending Request
  CMakeLists.txt
  Makefile.am
  aclk/aclk_capas.c
  aclk/aclk_query.c
  aclk/aclk_query.h
  aclk/aclk_rx_msgs.c
  aclk/schema-wrappers/agent_cmds.cc
  aclk/schema-wrappers/agent_cmds.h
  aclk/schema-wrappers/proto_2_json.cc
  aclk/schema-wrappers/schema_wrappers.h
Labels: area/aclk, area/build

#14997 Remove lighttpd2 from docs
  collectors/COLLECTORS.md
Labels: area/docs, area/collectors

#14981 Load/Store ML models
  database/sqlite/sqlite_aclk.c
  database/sqlite/sqlite_aclk_alert.c
  database/sqlite/sqlite_functions.c
  database/sqlite/sqlite_functions.h
  database/sqlite/sqlite_health.c
  database/sqlite/sqlite_metadata.c
  database/sqlite/sqlite_metadata.h
  ml/Config.cc
  ml/ml-dummy.c
  ml/ml-private.h
  ml/ml.cc
  ml/ml.h
Labels: area/database, area/aclk, area/ml

#14998 Fix cmake errors
  CMakeLists.txt
Labels: area/build

#15000 add support for monitoring thp, ballooning, zswap, ksm cow
  collectors/all.h
  collectors/proc.plugin/metrics.csv
  collectors/proc.plugin/proc_vmstat.c
Labels: area/collectors, collectors/proc

#15004 weights endpoint: volume diff of anomaly rates
  web/api/queries/weights.c
Labels: area/web

#15002 feat(apps.plugin): collect context switches
  collectors/apps.plugin/apps_plugin.c
  collectors/apps.plugin/metrics.csv
Labels: area/collectors, collectors/apps

#15018 Set file capabilities correctly on static installs.
  packaging/makeself/install-or-update.sh
Labels: area/packaging

#15020 add `grafana` to `apps_groups.conf`
  collectors/apps.plugin/apps_groups.conf
Labels: area/collectors, collectors/apps

#15021 On data and weight queries now instances filter matches also instance_id@node_id
  database/contexts/api_v2.c
  database/contexts/query_scope.c
  database/contexts/query_target.c
  database/contexts/rrdcontext.h
Labels: area/database

#15023 Fix typo in file capabilities settings in static installer.
  packaging/makeself/install-or-update.sh
Labels: area/packaging

#15010 Update chart documentation
  docs/cloud/visualize/interact-new-charts.md
Labels: area/docs

#15014 review the billing docs for the flow
  docs/cloud/manage/plans.md
  docs/cloud/manage/view-plan-billing.md
Labels: area/docs

#15013 Rollback ML transaction on failure.
  ml/ml.cc
Labels: area/ml

#15029 Update troubleshooting-agent-with-cloud-connection.md
  docs/guides/troubleshoot/troubleshooting-agent-with-cloud-connection.md
Labels: area/docs

#15034 Slight wording fix on the database readme
  database/README.md
Labels: area/docs, area/database

#15011 Silence dimensions with noisy ML models
  ml/Config.cc
  ml/ad_charts.cc
  ml/ml-private.h
  ml/ml.cc
Labels: area/ml

#15025 Adjust buffers to prevent overflow
  collectors/cgroups.plugin/sys_fs_cgroup.c
  collectors/proc.plugin/proc_diskstats.c
  database/rrdset.c
Labels: area/collectors, area/database, collectors/cgroups, collectors/proc

#14928 make zlib compulsory dep
  CMakeLists.txt
  Makefile.am
  aclk/aclk_query.c
  config.cmake.h.in
  configure.ac
  daemon/buildinfo.c
  daemon/main.c
  libnetdata/libnetdata.h
  web/server/web_client.c
  web/server/web_client.h
Labels: area/web, area/daemon, area/aclk, area/build

#15041 Update tor.chart.py
  collectors/python.d.plugin/tor/tor.chart.py
  collectors/python.d.plugin/tor/tor.conf
Labels: area/collectors, collectors/python.d

#14829 Remove old logic for handling of legacy stock config files.
  Makefile.am
  configs.signatures
  netdata-installer.sh
  packaging/makeself/install-or-update.sh
  packaging/makeself/jobs/99-makeself.install.sh
Labels: area/packaging, area/build

#15039 fatal in claim() only if --claim-only is used
  packaging/installer/kickstart.sh
Labels: area/packaging

#14984 libjudy: remove JudyLTablesGen
  .gitignore
  CMakeLists.txt
  Makefile.am
  libnetdata/libjudy/src/JudyL/JudyLTables.c
  libnetdata/libjudy/src/JudyL/JudyLTablesGen.c
Labels: area/build, run-ci/packaging

#15040 Wording fix in interact with charts doc
  docs/cloud/visualize/interact-new-charts.md
Labels: area/docs

#15046 Small update ml defaults
  ml/Config.cc
  ml/README.md
Labels: area/docs, area/ml

#15024 Reduce netdatacli size
  Makefile.am
  cli/cli.c
Labels: area/build

#15047 Comment out default `role_recipients_*` values
  health/notifications/health_alarm_notify.conf
Labels: area/health

#15054 fix(debugfs/zswap): don't collect metrics if Zswap is disabled
  collectors/debugfs.plugin/debugfs_zswap.c
Labels: area/collectors, collectors/debugfs

#15055 Fix ACLK memleak
  aclk/aclk_tx_msgs.c
Labels: area/aclk

#15059 bump go.d.plugin to v0.53.0
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#14748 fix infiniband bytes counters multiplier and divisor
  collectors/proc.plugin/sys_class_infiniband.c
Labels: area/collectors, collectors/proc

#14938 Remove Fedora 36 from CI and platform support.
  .github/data/distros.yml
  packaging/PLATFORM_SUPPORT.md
Labels: area/ci, area/packaging, area/docs

#15063 Update netdata-security.md
  docs/netdata-security.md
Labels: area/docs

#15064 Update CODEOWNERS
  .github/CODEOWNERS
Labels: area/ci

#15062 Fix CodeQL warning
  ml/ml.cc
Labels: area/ml

#15072 Update Security doc
  docs/netdata-security.md
Labels: area/docs

#15073 Free context when establishing ACLK connection
  aclk/aclk_otp.c
Labels: area/aclk

#15065 Simplify loop in alert checkpoint
  database/sqlite/sqlite_aclk_alert.c
Labels: area/database, area/aclk

#14982 Use chart labels to filter alerts
  database/rrdcalc.c
  database/rrdcalc.h
  database/rrdcalctemplate.c
  database/rrdcalctemplate.h
  database/sqlite/sqlite_health.c
  health/REFERENCE.md
  health/health_config.c
Labels: area/docs, area/health, area/database

#15074 Python Dependency Migration - OracleDB Python Module
  collectors/python.d.plugin/oracledb/README.md
  collectors/python.d.plugin/oracledb/oracledb.chart.py
  collectors/python.d.plugin/oracledb/oracledb.conf
Labels: area/docs, area/collectors, collectors/python.d

#15045 Better cleanup of health log table
  database/sqlite/sqlite_aclk_alert.c
  database/sqlite/sqlite_db_migration.c
  database/sqlite/sqlite_db_migration.h
  database/sqlite/sqlite_health.c
  database/sqlite/sqlite_health.h
  health/health.c
  health/health.h
  health/health_json.c
  web/api/web_api_v1.c
Labels: area/web, area/health, area/database, area/aclk

#14831 Try to detect bind mounts
  collectors/diskspace.plugin/README.md
  collectors/proc.plugin/proc_self_mountinfo.c
Labels: area/docs, area/collectors, collectors/diskspace, collectors/proc

#15090 Release buffer in case of error -- CID 385075
  database/sqlite/sqlite_health.c
Labels: area/database

#15082 mentioned waive off of space subscription price
  docs/cloud/manage/plans.md
  docs/cloud/manage/view-plan-billing.md
Labels: area/docs

#15094 Address issue with Thanos Receiver
  exporting/prometheus/prometheus.c
Labels: area/exporting

#15095 fix cockroachdb alarms
  health/health.d/cockroachdb.conf
Labels: area/health

#15097 Invert order in remote write
  exporting/prometheus/remote_write/remote_write_request.cc
Labels: area/exporting

#15093 update ml defaults to 24h
  ml/Config.cc
  ml/README.md
Labels: area/docs, area/ml

#15105 fix the units when returning percentage of a group
  database/contexts/query_target.c
  database/contexts/rrdcontext.h
Labels: area/database

#15106 percentage-of-group: fix uninitialized array vh
  web/api/queries/query.c
Labels: area/web

#15085 update agent telemetry url to be cloud function instead of posthog
  daemon/anonymous-statistics.sh.in
  docs/anonymous-statistics.md
  packaging/installer/kickstart.sh
Labels: area/packaging, area/docs, area/daemon

#15104 oracledb: make conn protocol configurable
  collectors/python.d.plugin/oracledb/oracledb.chart.py
  collectors/python.d.plugin/oracledb/oracledb.conf
Labels: area/collectors, collectors/python.d

#15110 Only queue an alert to the cloud when it's inserted
  database/sqlite/sqlite_aclk_alert.c
  database/sqlite/sqlite_health.c
  health/health_log.c
Labels: area/health, area/database, area/aclk

#15109 percentage of group is now aggregatable at cloud across multiple nodes
  web/api/formatters/json/json.c
  web/api/formatters/rrd2json.h
  web/api/netdata-swagger.yaml
  web/api/queries/query.c
Labels: area/web

#13927 Split plugins to individual packages for DEB/RPM packaging.
  collectors/charts.d.plugin/README.md
  collectors/charts.d.plugin/ap/README.md
  collectors/charts.d.plugin/apcupsd/README.md
  collectors/charts.d.plugin/libreswan/README.md
  collectors/charts.d.plugin/nut/README.md
  collectors/charts.d.plugin/opensips/README.md
  collectors/charts.d.plugin/sensors/README.md
  collectors/nfacct.plugin/README.md
  collectors/perf.plugin/README.md
  collectors/slabinfo.plugin/README.md
  contrib/debian/control
  contrib/debian/netdata-plugin-apps.postinst
  contrib/debian/netdata-plugin-debugfs.postinst
  contrib/debian/netdata-plugin-ebpf.postinst
  contrib/debian/netdata-plugin-freeipmi.postinst
  contrib/debian/netdata-plugin-go.postinst
  contrib/debian/netdata-plugin-nfacct.postinst
  contrib/debian/netdata-plugin-perf.postinst
  contrib/debian/netdata-plugin-slabinfo.postinst
  contrib/debian/netdata.postinst
  contrib/debian/rules
  netdata.spec.in
  packaging/bundle-ebpf.sh
  packaging/bundle-libbpf.sh
  packaging/installer/kickstart.sh
Labels: area/packaging, area/docs, area/collectors, collectors/charts.d, collectors/nfacct, collectors/perf, collectors/slabinfo

#15061 Improve some of the error messages in the kickstart script.
  packaging/installer/kickstart.sh
Labels: area/packaging

#15117 Fix handling of eBPF plugin for DEB packages.
  contrib/debian/control
  contrib/debian/rules
Labels: area/packaging, run-ci/packaging

#15125 Fix package versioning issues.
  contrib/debian/control
  contrib/debian/netdata-plugin-apps.postinst
  contrib/debian/netdata-plugin-debugfs.postinst
  contrib/debian/netdata-plugin-ebpf.postinst
  contrib/debian/netdata-plugin-freeipmi.postinst
  contrib/debian/netdata-plugin-go.postinst
  contrib/debian/netdata-plugin-nfacct.postinst
  contrib/debian/netdata-plugin-perf.postinst
  contrib/debian/netdata-plugin-slabinfo.postinst
  contrib/debian/netdata.postinst
  contrib/debian/rules
  netdata.spec.in
Labels: area/packaging

#15126 Percentage of group aggregatable at cloud - fixed for backwards compatibility
  aclk/aclk_capas.c
  database/contexts/rrdcontext.h
  web/api/formatters/json/json.c
  web/api/formatters/rrd2json.h
  web/api/netdata-swagger.yaml
  web/api/queries/query.c
Labels: area/web, area/database
