Repository netdata/netdata, pull requests merged in 2023-12, with the labels that each got.

#16448 Code cleanup
  collectors/diskspace.plugin/plugin_diskspace.c
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf_filesystem.c
  collectors/ebpf.plugin/ebpf_functions.c
  collectors/freebsd.plugin/freebsd_getmntinfo.c
  collectors/macos.plugin/macos_fw.c
  collectors/plugins.d/pluginsd_parser.c
  collectors/proc.plugin/proc_diskstats.c
  collectors/proc.plugin/proc_interrupts.c
  collectors/proc.plugin/proc_mdstat.c
  collectors/proc.plugin/proc_net_softnet_stat.c
  collectors/proc.plugin/proc_pagetypeinfo.c
  collectors/proc.plugin/proc_softirqs.c
  collectors/proc.plugin/proc_stat.c
  collectors/proc.plugin/sys_fs_btrfs.c
  collectors/statsd.plugin/statsd.c
  collectors/systemd-journal.plugin/systemd-journal.c
  daemon/analytics.c
  daemon/daemon.c
  daemon/global_statistics.c
  daemon/main.c
  daemon/signals.c
  daemon/unit_test.c
  database/contexts/api_v2.c
  database/engine/cache.c
  database/engine/datafile.c
  database/engine/journalfile.c
  database/engine/metric.c
  database/engine/page.c
  database/engine/pdc.c
  database/engine/rrdenginelib.h
  database/rrdhost.c
  database/sqlite/sqlite_aclk.c
  database/sqlite/sqlite_aclk.h
  database/sqlite/sqlite_aclk_alert.c
  database/sqlite/sqlite_aclk_alert.h
  database/sqlite/sqlite_aclk_node.c
  database/sqlite/sqlite_aclk_node.h
  database/sqlite/sqlite_context.c
  database/sqlite/sqlite_db_migration.c
  database/sqlite/sqlite_functions.c
  database/sqlite/sqlite_health.c
  database/sqlite/sqlite_metadata.c
  health/health.c
  libnetdata/dictionary/dictionary.c
  libnetdata/eval/eval.c
  libnetdata/facets/facets.c
  libnetdata/health/health.c
  libnetdata/libnetdata.c
  libnetdata/socket/socket.c
  libnetdata/string/string.c
  streaming/receiver.c
  streaming/replication.c
  streaming/rrdpush.c
  streaming/sender.c
  web/api/queries/weights.c
  web/server/static/static-threaded.c
Labels: area/web, area/health, area/collectors, area/daemon, area/database, area/streaming, area/tests, area/aclk, collectors/ebpf, collectors/diskspace, collectors/freebsd, collectors/macos, collectors/proc, collectors/statsd, collectors/plugins.d, collectors/systemd-journal

#16522 include more cases for megacli degraded state
  collectors/python.d.plugin/megacli/megacli.chart.py
Labels: area/collectors, collectors/python.d

#16525 logs-management: Disable logs management monitoring section
  collectors/plugins.d/plugins_d.c
  logsmanagement/Makefile.am
  logsmanagement/defaults.h
  logsmanagement/helper.h
  logsmanagement/logsmanagement.c
  logsmanagement/stress_test/logrotate.conf
  logsmanagement/stress_test/logs_query.html
  logsmanagement/stress_test/run_stress_test.sh
  logsmanagement/stress_test/stress_test.c
Labels: area/collectors, area/build, collectors/plugins.d, area/logs-management

#16527 Make image available to Learn + add a category overview page for new …
  docs/netdata-cloud-onprem/getting-started.md
Labels: area/docs

#16528 Update getting-started.md
  docs/netdata-cloud-onprem/getting-started.md
Labels: area/docs

#16529 link aclk.log to stdout in docker
  packaging/docker/Dockerfile
Labels: area/packaging

#16533 update go.d plugin to v0.57.2
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#16534 Reorg kickstart guide's steps
  packaging/installer/methods/kickstart.md
Labels: area/packaging, area/docs

#16540 change level to debug "took too long to be updated"
  database/rrdset.c
Labels: area/database

#16538 apps: fix uptime for groups with 0 processes
  collectors/apps.plugin/apps_plugin.c
Labels: area/collectors, collectors/apps

#16545 Add option to change page type for tier 0 to gorilla
  daemon/main.c
Labels: area/daemon

#16547 Proper Learn-friendly links
  collectors/log2journal/README.md
Labels: area/docs, area/collectors

#16552 Improve page validity check during database extent load
  database/engine/pdc.c
Labels: area/database

#16553 Add README for gorilla
  libnetdata/Makefile.am
  libnetdata/gorilla/README.md
Labels: area/docs, area/build

#16563 Fix release metadata workflow
  .github/workflows/monitor-releases.yml
Labels: area/ci

#16548 set "HOME" after switching to netdata user
  daemon/analytics.c
  daemon/main.c
  system/Makefile.am
Labels: area/packaging, area/daemon, area/build

#16422 Remove fedora 37 from CI
  .github/data/distros.yml
  packaging/PLATFORM_SUPPORT.md
Labels: area/ci, area/packaging, area/docs

#16551 Bump new version on the release changelog GHA
  .github/workflows/release.yml
Labels: area/ci

#16565 Resolve issue on startup in servers with 1 core
  database/sqlite/sqlite_aclk.c
  database/sqlite/sqlite_metadata.c
Labels: area/database, area/aclk

#16567 fix cpu arch/ram/disk values in buildinfo
  daemon/buildinfo.c
Labels: area/daemon

#16568 Fix memory leak during host chart label cleanup
  database/sqlite/sqlite_metadata.c
Labels: area/database

#16569 make debugfs exit on sigpipe
  collectors/debugfs.plugin/debugfs_plugin.c
Labels: area/collectors, collectors/debugfs

#16535 wip documentation about functions table
  collectors/plugins.d/Makefile.am
  collectors/plugins.d/README.md
  collectors/plugins.d/functions-table.md
Labels: area/docs, area/collectors, area/build, collectors/plugins.d

#16585 uninstaller remove log2journal and systemd-cat-native
  packaging/installer/netdata-uninstaller.sh
Labels: area/packaging, patch-release-candidate

#16583 Handle coverity issues related to Y2K38_SAFETY
  database/engine/cache.c
  database/engine/cache.h
  database/engine/journalfile.c
  database/engine/metric.c
  database/engine/metric.h
  database/engine/pagecache.c
  database/engine/pagecache.h
  database/engine/pdc.c
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
Labels: area/database

#16582 Update categories.yaml to add Logs
  integrations/categories.yaml
Labels: area/metadata

#16586 Adds docs for Splunk cloud notifications
  integrations/cloud-notifications/metadata.yaml
Labels: area/metadata

#16572 disable cpu per core metrics by default
  collectors/proc.plugin/proc_interrupts.c
  collectors/proc.plugin/proc_net_softnet_stat.c
  collectors/proc.plugin/proc_softirqs.c
  collectors/proc.plugin/proc_stat.c
Labels: area/collectors, collectors/proc

#16592 systemd-journal: exit if unable to locate journal data directories
  collectors/systemd-journal.plugin/systemd-main.c
Labels: area/collectors, collectors/systemd-journal

#16593 fix: use black version icon for Splunk in order to make it visible
  integrations/cloud-notifications/metadata.yaml
Labels: area/metadata

#16589 Fix coverity issues
  database/engine/journalfile.c
  database/engine/metric.c
  database/engine/metric.h
  database/engine/pagecache.c
  database/engine/pdc.c
  database/engine/rrdengineapi.c
Labels: area/database

#16598 Allow passing cmake options with NETDATA_CMAKE_OPTIONS.
  CMakeLists.txt
  netdata-installer.sh
Labels: area/packaging, area/build

#16596 Fix coverity issues
  collectors/log2journal/log2journal-json.c
  collectors/log2journal/log2journal-logfmt.c
  database/engine/rrdengineapi.c
Labels: area/collectors, area/database

#16602 fix not assigned proc_count in installer
  netdata-installer.sh
Labels: area/packaging

#16601 improve enable_feature function in the installer
  netdata-installer.sh
Labels: area/packaging

#16537 Assorted kickstart script fixes.
  packaging/installer/kickstart.sh
Labels: area/packaging

#16600 Remove build/
  build/m4/ax_c__generic.m4
  build/m4/ax_c_lto.m4
  build/m4/ax_c_mallinfo.m4
  build/m4/ax_c_mallopt.m4
  build/m4/ax_c_statement_expressions.m4
  build/m4/ax_check_compile_flag.m4
  build/m4/ax_check_enable_debug.m4
  build/m4/ax_compiler_vendor.m4
  build/m4/ax_cxx_compile_stdcxx.m4
  build/m4/ax_gcc_func_attribute.m4
  build/m4/ax_pthread.m4
  build/m4/jemalloc.m4
  build/m4/tcmalloc.m4
  build/subst.inc
Labels: area/build, run-ci/packaging

#16603 remove v1 dashboard version check from installer
  netdata-installer.sh
Labels: area/packaging

#16608 Remove CPack stuff from CMake
  CMakeLists.txt
Labels: area/build

#16611 Remove assert
  daemon/unit_test.c
  database/sqlite/sqlite_metadata.c
Labels: area/daemon, area/database, area/tests

#16616 Fix small coverity issue
  claim/claim.c
Labels: area/claim

#16613 Robustness improvements to netdata-updater.sh
  packaging/installer/netdata-updater.sh
Labels: area/packaging

#16614 ndsudo - a helper to run privileged commands
  CMakeLists.txt
  collectors/plugins.d/ndsudo.c
  contrib/debian/netdata.postinst
  netdata-installer.sh
  netdata.spec.in
  packaging/docker/Dockerfile
  packaging/makeself/install-or-update.sh
Labels: area/packaging, area/collectors, area/build, collectors/plugins.d

#16620 cgroups: filter lxcfs.service/.control
  collectors/cgroups.plugin/sys_fs_cgroup.c
Labels: area/collectors, collectors/cgroups

#16607 Remove includes outside of libnetdata.
  collectors/freebsd.plugin/plugin_freebsd.c
  daemon/analytics.c
  daemon/analytics.h
  daemon/commands.c
  daemon/daemon.h
  daemon/main.c
  daemon/main.h
  daemon/signals.c
  exporting/exporting_engine.c
  exporting/init_connectors.c
  libnetdata/libnetdata.h
  libnetdata/log/log.c
  libnetdata/required_dummies.h
  libnetdata/threads/threads.h
  streaming/rrdpush.h
  web/server/web_client.c
Labels: area/web, area/exporting, area/collectors, area/daemon, area/streaming, collectors/freebsd, area/libnetdata

#16628 Fix UB of unaligned loads/stores and signed shifts.
  .gitignore
  collectors/xenstat.plugin/xenstat_plugin.c
  database/engine/metric.c
  database/engine/rrdenginelib.h
  libnetdata/libjudy/src/JudyL/JudyLCascade.c
  libnetdata/libjudy/src/JudyL/JudyLDecascade.c
  libnetdata/libjudy/src/JudyL/JudyLDel.c
  libnetdata/libjudy/src/JudyL/JudyLGet.c
  libnetdata/libjudy/src/JudyL/JudyLIns.c
  libnetdata/storage_number/storage_number.h
  streaming/compression.h
Labels: area/collectors, area/database, area/streaming, collectors/xenstat, area/libnetdata

#16629 Correctly handle basic permissions for most scripts on install.
  CMakeLists.txt
Labels: area/build

#16632 docs: add "Rootless mode" to Docker install guide
  collectors/cgroups.plugin/sys_fs_cgroup.c
  packaging/docker/README.md
Labels: area/packaging, area/docs, area/collectors, collectors/cgroups

#16634 Remove code relying on autotools.
  .github/workflows/dashboard-pr.yml
  web/gui/bundle_dashboard_v1.py
  web/gui/bundle_dashboard_v2.py
  web/gui/cmake_dashboard_v2.py
Labels: area/ci, area/web

#16617 Added energy efficiency img README.md
  README.md
Labels: area/docs

#16642 Create alerts-configuration-manager.md
  docs/cloud/alerts-configuration-manager.md
Labels: area/docs

#16638 cmake: make WEB_DIR configurable
  CMakeLists.txt
  contrib/debian/rules
  web/gui/cmake_dashboard_v1.py
  web/gui/cmake_dashboard_v2.py
  web/gui/v1/dashboard_v1.cmake
  web/gui/v2/dashboard_v2.cmake
Labels: area/packaging, area/web, area/build

#16645 Fix compilation error when using --disable-dbengine
  daemon/global_statistics.c
  daemon/main.c
Labels: area/daemon

#16566 Remove Netdata packages from APT cache when attempting to install.
  packaging/installer/kickstart.sh
Labels: area/packaging

#16639 Update artifact-handling actions to latest version.
  .github/workflows/build.yml
  .github/workflows/packaging.yml
Labels: area/ci

#16651 Necessary changes for Learn
  docs/cloud/alerts-configuration-manager.md
Labels: area/docs

#16650 docs: add a few examples how to query Netdata logs using journalctl
  libnetdata/log/README.md
Labels: area/docs

#16649 increase max response size to 100MiB
  aclk/aclk_query.c
  aclk/aclk_tx_msgs.c
  collectors/plugins.d/pluginsd_parser.h
Labels: area/collectors, area/aclk, collectors/plugins.d

#16648 rename bundle dashboard scripts
  .github/workflows/dashboard-pr.yml
  web/gui/bundle_dashboard_v1.py
  web/gui/bundle_dashboard_v2.py
Labels: area/ci, area/web

#16654 Fix overrun in crc32set
  database/engine/rrdenginelib.h
Labels: area/database

#16656 docs: Correct chart_labels summary
  health/REFERENCE.md
Labels: area/docs, area/health

#16664 dont exceed buffer boundaries, when the buffer is empty
  web/server/web_client.c
  web/server/web_client.h
Labels: area/web

#16665 fix compiler warnings
  cli/cli.c
  collectors/plugins.d/pluginsd_parser.c
  libnetdata/buffer/buffer.h
Labels: area/collectors, collectors/plugins.d

#16658 Shutdown dbengine event loop properly
  daemon/main.c
  daemon/unit_test.c
  database/engine/rrdengine.c
  database/engine/rrdengine.h
  database/sqlite/sqlite_metadata.c
Labels: area/daemon, area/database, area/tests

#16655 Fix coverity issues
  collectors/log2journal/log2journal-replace.c
  collectors/log2journal/log2journal-yaml.c
  logsmanagement/parser.c
  logsmanagement/query.c
  logsmanagement/unit_test/unit_test.c
Labels: area/collectors, area/logs-management

#16663 set log level of too-old-data message to debug
  database/rrdset.c
Labels: area/database

#16669 eBPF socket (eBPF)
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf_functions.c
  collectors/ebpf.plugin/ebpf_functions.h
Labels: area/collectors, collectors/ebpf

#16661 remove unused github scripts
  .github/scripts/build-artifacts.sh
  .github/scripts/build-dist.sh
  .github/scripts/run_install_with_dist_file.sh
Labels: area/ci, no changelog

#16672 remove contrib/rhel
  contrib/rhel/build-netdata-rpm.sh
Labels: area/packaging

#16679 Fix alerts-configuration-manager.md
  docs/cloud/alerts-configuration-manager.md
Labels: area/docs

#16681 docs: add "Require Cloud" column to functions table
  docs/cloud/netdata-functions.md
Labels: area/docs

#16683 fix exporting internal charts context and family
  exporting/send_internal_metrics.c
  exporting/tests/test_exporting_engine.c
  health/health.d/exporting.conf
Labels: area/health, area/exporting

#16680 cmake missing defines
  CMakeLists.txt
  aclk/aclk_stats.c
  collectors/cgroups.plugin/cgroup-top.c
  collectors/proc.plugin/proc_spl_kstat_zfs.c
  collectors/systemd-journal.plugin/systemd-journal-annotations.c
  collectors/systemd-journal.plugin/systemd-journal-files.c
  collectors/systemd-journal.plugin/systemd-journal.c
  config.cmake.h.in
  database/engine/page.c
  database/rrddim.c
  database/rrdfunctions.c
  libnetdata/datetime/rfc3339.c
  libnetdata/libnetdata.h
  libnetdata/log/log.c
  libnetdata/log/systemd-cat-native.c
  libnetdata/query_progress/progress.c
  libnetdata/simple_hashtable.h
  web/api/formatters/rrdset2json.c
Labels: area/web, area/collectors, area/database, area/aclk, area/build, collectors/cgroups, collectors/proc, collectors/systemd-journal

#16686 fix claiming on macOS
  daemon/daemon.c
Labels: area/daemon

#16687 atomically load the metric reference count
  database/engine/metric.c
Labels: area/database

#16684 add --disable-logsmanagement when building static
  packaging/makeself/jobs/70-netdata-git.install.sh
Labels: area/packaging

#16675 kickstart: dont run install-required-packages.sh as root on macOS
  packaging/installer/kickstart.sh
Labels: area/packaging

#16689 Revert "Update artifact-handling actions to latest version."
  .github/workflows/build.yml
  .github/workflows/packaging.yml
Labels: area/ci

#16692 improve the error message when accessing functions
  database/rrdfunctions.c
Labels: area/database

#16688 cmake log2journal netdatacli
  CMakeLists.txt
  cli/cli.c
  collectors/log2journal/log2journal.h
Labels: area/collectors, area/build

#16691 cups exit on sigpipe
  collectors/cups.plugin/cups_plugin.c
Labels: area/collectors, collectors/cups

#16690 fix minor omission on netdata-installers arguments
  netdata-installer.sh
Labels: area/packaging

#16699 fix quota calculation when the the db is empty
  daemon/main.c
  daemon/static_threads.c
  database/engine/rrdengine.c
  libnetdata/worker_utilization/worker_utilization.c
  libnetdata/worker_utilization/worker_utilization.h
Labels: area/daemon, area/database

#16697 disable logsmanagement when installing on macOS
  netdata-installer.sh
Labels: area/packaging

#16701 delay collecting double linked network interfaces
  collectors/proc.plugin/proc_net_dev.c
Labels: area/collectors, collectors/proc
