Repository netdata/netdata, pull requests merged in 2024-10, with the labels that each got.

#18650 go.d remove duplicate chart check in tests
  src/go/plugin/go.d/agent/module/charts.go
  src/go/plugin/go.d/modules/apcupsd/apcupsd_test.go
  src/go/plugin/go.d/modules/couchbase/couchbase_test.go
  src/go/plugin/go.d/modules/couchdb/couchdb_test.go
  src/go/plugin/go.d/modules/dnsdist/dnsdist_test.go
  src/go/plugin/go.d/modules/dnsmasq/dnsmasq_test.go
  src/go/plugin/go.d/modules/docker_engine/docker_engine_test.go
  src/go/plugin/go.d/modules/elasticsearch/elasticsearch_test.go
  src/go/plugin/go.d/modules/envoy/envoy_test.go
  src/go/plugin/go.d/modules/freeradius/freeradius_test.go
  src/go/plugin/go.d/modules/haproxy/haproxy_test.go
  src/go/plugin/go.d/modules/isc_dhcpd/isc_dhcpd_test.go
  src/go/plugin/go.d/modules/logstash/logstash_test.go
  src/go/plugin/go.d/modules/mysql/mysql_test.go
  src/go/plugin/go.d/modules/nginxplus/nginxplus_test.go
  src/go/plugin/go.d/modules/nginxvts/nginxvts_test.go
  src/go/plugin/go.d/modules/pika/pika_test.go
  src/go/plugin/go.d/modules/powerdns/authoritativens_test.go
  src/go/plugin/go.d/modules/powerdns_recursor/recursor_test.go
  src/go/plugin/go.d/modules/pulsar/pulsar_test.go
  src/go/plugin/go.d/modules/redis/redis_test.go
  src/go/plugin/go.d/modules/rethinkdb/rethinkdb_test.go
  src/go/plugin/go.d/modules/supervisord/supervisord_test.go
  src/go/plugin/go.d/modules/systemdunits/systemdunits_test.go
  src/go/plugin/go.d/modules/traefik/traefik_test.go
  src/go/plugin/go.d/modules/unbound/unbound_test.go
  src/go/plugin/go.d/modules/vsphere/vsphere_test.go
  src/go/plugin/go.d/modules/whoisquery/whoisquery_test.go
  src/go/plugin/go.d/modules/x509check/x509check_test.go
  src/go/plugin/go.d/modules/zfspool/zfspool_test.go
  src/go/plugin/go.d/modules/zookeeper/zookeeper_test.go
Labels: area/collectors, collectors/go.d, area/go

#18646 Use temporary file for commit date check.
  packaging/installer/netdata-updater.sh
Labels: area/packaging

#18632 Log agent start / stop timing events
  src/daemon/main.c
  src/database/sqlite/sqlite_metadata.c
  src/database/sqlite/sqlite_metadata.h
  src/streaming/stream_path.c
  src/streaming/stream_path.h
Labels: area/daemon, area/database, area/streaming

#18613 Windows Installer (Silent mode)
  packaging/installer/installer.nsi
  packaging/windows/WINDOWS_INSTALLER.md
  packaging/windows/installer.nsi
Labels: area/packaging, area/docs

#18658 go.d sd fix sprig funcmap
  src/go/plugin/go.d/agent/discovery/sd/pipeline/funcmap.go
Labels: area/collectors, collectors/go.d, area/go

#18639 New wording about edit-config script in docs
  docs/deployment-guides/deployment-strategies.md
  docs/developer-and-contributor-corner/raspberry-pi-anomaly-detection.md
  docs/netdata-agent/configuration/README.md
  src/collectors/charts.d.plugin/README.md
  src/collectors/ebpf.plugin/README.md
  src/collectors/profile.plugin/README.md
  src/collectors/statsd.plugin/README.md
  src/health/notifications/README.md
  src/ml/ml-configuration.md
  src/registry/README.md
Labels: area/docs, area/health, area/collectors, area/registry, area/ml, collectors/ebpf, collectors/charts.d, collectors/statsd

#18659 bump go toolchain v1.22.8
  packaging/check-for-go-toolchain.sh
Labels: area/packaging

#18652 apps.plugin improvements
  CMakeLists.txt
  src/collectors/apps.plugin/README.md
  src/collectors/apps.plugin/apps_aggregations.c
  src/collectors/apps.plugin/apps_groups.conf
  src/collectors/apps.plugin/apps_os_freebsd.c
  src/collectors/apps.plugin/apps_os_linux.c
  src/collectors/apps.plugin/apps_os_macos.c
  src/collectors/apps.plugin/apps_os_windows.c
  src/collectors/apps.plugin/apps_os_windows_nt.c
  src/collectors/apps.plugin/apps_pid.c
  src/collectors/apps.plugin/apps_plugin.c
  src/collectors/apps.plugin/apps_plugin.h
  src/collectors/apps.plugin/apps_targets.c
  src/collectors/windows-events.plugin/windows-events.c
  src/health/health_notifications.c
  src/libnetdata/os/os-windows-wrappers.c
  src/libnetdata/os/os-windows-wrappers.h
  src/libnetdata/spawn_server/spawn_server_windows.c
Labels: area/docs, area/health, area/collectors, area/build, collectors/apps

#18653 Handle mqtt ping timeouts
  src/aclk/aclk.c
  src/aclk/aclk.h
  src/aclk/aclk_rx_msgs.c
  src/aclk/mqtt_websockets/mqtt_ng.c
  src/aclk/mqtt_websockets/mqtt_ng.h
  src/aclk/mqtt_websockets/mqtt_wss_client.c
  src/claim/claim.c
Labels: area/claim, area/aclk

#18662 Fix win apps uptime
  src/collectors/apps.plugin/apps_os_windows.c
Labels: area/packaging, area/docs, area/health, area/collectors, area/daemon, area/database, area/registry, area/streaming, area/ml, area/build, collectors/ebpf, collectors/apps, collectors/charts.d, collectors/statsd, collectors/go.d, area/go

#18665 Docs lint on `packaging/` dir
  packaging/PLATFORM_SUPPORT.md
  packaging/VERSIONING_AND_PUBLIC_API.md
  packaging/building-native-packages-locally.md
  packaging/docker/README.md
  packaging/installer/UNINSTALL.md
  packaging/installer/UPDATE.md
  packaging/installer/methods/ansible.md
  packaging/installer/methods/aws.md
  packaging/installer/methods/azure.md
  packaging/installer/methods/freebsd.md
  packaging/installer/methods/gcp.md
  packaging/installer/methods/kickstart.md
  packaging/installer/methods/kubernetes.md
  packaging/installer/methods/macos.md
  packaging/installer/methods/manual.md
  packaging/installer/methods/methods.md
  packaging/installer/methods/offline.md
  packaging/installer/methods/packages.md
  packaging/installer/methods/pfsense.md
  packaging/installer/methods/source.md
  packaging/installer/methods/synology.md
  packaging/maintainers/README.md
  packaging/windows/WINDOWS_INSTALLER.md
Labels: area/packaging, area/docs

#18651 remove python implementation of oracledb
  CMakeLists.txt
  src/collectors/python.d.plugin/oracledb/README.md
  src/collectors/python.d.plugin/oracledb/integrations/oracle_db.md
  src/collectors/python.d.plugin/oracledb/metadata.yaml
  src/collectors/python.d.plugin/oracledb/oracledb.chart.py
  src/collectors/python.d.plugin/oracledb/oracledb.conf
  src/collectors/python.d.plugin/python.d.conf
Labels: area/docs, area/collectors, area/build, collectors/python.d, area/metadata

#18666 apps_groups.conf: add oracledb
  src/collectors/apps.plugin/apps_groups.conf
Labels: area/collectors, collectors/apps

#18669 Remove section in python plugin readme
  src/collectors/python.d.plugin/README.md
Labels: area/docs, area/collectors, collectors/python.d

#18566 windows.plugin (IIS)
  CMakeLists.txt
  src/collectors/windows.plugin/perflib-web-service.c
  src/collectors/windows.plugin/windows_plugin.c
  src/collectors/windows.plugin/windows_plugin.h
Labels: area/collectors, area/build, collectors/windows

#18654 add go.d/oracle
  src/go/go.mod
  src/go/go.sum
  src/go/plugin/go.d/README.md
  src/go/plugin/go.d/agent/discovery/sd/pipeline/pipeline_test.go
  src/go/plugin/go.d/config/go.d/oracledb.conf
  src/go/plugin/go.d/config/go.d/sd/docker.conf
  src/go/plugin/go.d/config/go.d/sd/net_listeners.conf
  src/go/plugin/go.d/modules/init.go
  src/go/plugin/go.d/modules/oracledb/charts.go
  src/go/plugin/go.d/modules/oracledb/collect.go
  src/go/plugin/go.d/modules/oracledb/collect_sysmetric.go
  src/go/plugin/go.d/modules/oracledb/collect_sysstat.go
  src/go/plugin/go.d/modules/oracledb/collect_tablespace.go
  src/go/plugin/go.d/modules/oracledb/collect_wait_class.go
  src/go/plugin/go.d/modules/oracledb/config_schema.json
  src/go/plugin/go.d/modules/oracledb/init.go
  src/go/plugin/go.d/modules/oracledb/metadata.yaml
  src/go/plugin/go.d/modules/oracledb/oracledb.go
  src/go/plugin/go.d/modules/oracledb/oracledb_test.go
  src/go/plugin/go.d/modules/oracledb/testdata/config.json
  src/go/plugin/go.d/modules/oracledb/testdata/config.yaml
  src/go/plugin/go.d/modules/oracledb/testdata/v21.3.0-xe/sysmetric.txt
  src/go/plugin/go.d/modules/oracledb/testdata/v21.3.0-xe/sysstat.txt
  src/go/plugin/go.d/modules/oracledb/testdata/v21.3.0-xe/tablespace.txt
  src/go/plugin/go.d/modules/oracledb/testdata/v21.3.0-xe/wait_class.txt
Labels: area/docs, area/collectors, collectors/go.d, area/metadata, area/go

#18670 src dir docs pass
  src/aclk/README.md
  src/claim/README.md
  src/cli/README.md
  src/collectors/README.md
  src/collectors/REFERENCE.md
  src/collectors/apps.plugin/README.md
  src/collectors/cgroups.plugin/README.md
  src/collectors/charts.d.plugin/README.md
  src/collectors/ebpf.plugin/README.md
  src/collectors/freebsd.plugin/README.md
  src/collectors/log2journal/README.md
  src/collectors/proc.plugin/README.md
  src/collectors/profile.plugin/README.md
  src/collectors/python.d.plugin/README.md
  src/collectors/systemd-journal.plugin/README.md
  src/collectors/systemd-journal.plugin/active_journal_centralization_guide_no_encryption.md
  src/collectors/systemd-journal.plugin/forward_secure_sealing.md
  src/collectors/systemd-journal.plugin/passive_journal_centralization_guide_self_signed_certs.md
  src/daemon/README.md
  src/exporting/README.md
  src/exporting/TIMESCALE.md
  src/exporting/WALKTHROUGH.md
  src/go/plugin/go.d/README.md
  src/go/plugin/go.d/docs/how-to-write-a-module.md
  src/health/README.md
  src/health/REFERENCE.md
  src/libnetdata/README.md
  src/registry/README.md
Labels: area/docs, area/health, area/exporting, area/collectors, area/daemon, area/registry, area/claim, area/aclk, collectors/ebpf, collectors/apps, collectors/cgroups, collectors/charts.d, collectors/freebsd, collectors/proc, collectors/python.d, collectors/go.d, collectors/systemd-journal, area/go

#18656 Adjust content api/v1/info (Windows)
  packaging/windows/resources/netdata.manifest.in
  src/daemon/buildinfo.c
  src/daemon/win_system-info.c
Labels: area/packaging, area/daemon

#18668 Properly set start/shutdown times to parent/child
  src/streaming/stream_path.c
Labels: area/streaming

#18673 Apps plugin improvements2
  CMakeLists.txt
  src/collectors/apps.plugin/README.md
  src/collectors/apps.plugin/apps_aggregations.c
  src/collectors/apps.plugin/apps_functions.c
  src/collectors/apps.plugin/apps_groups.conf
  src/collectors/apps.plugin/apps_incremental_collection.c
  src/collectors/apps.plugin/apps_os_windows.c
  src/collectors/apps.plugin/apps_pid.c
  src/collectors/apps.plugin/apps_pid_match.c
  src/collectors/apps.plugin/apps_plugin.c
  src/collectors/apps.plugin/apps_plugin.h
  src/collectors/apps.plugin/apps_targets.c
  src/collectors/cgroups.plugin/cgroup-network.c
  src/collectors/ebpf.plugin/ebpf_functions.c
  src/collectors/freeipmi.plugin/freeipmi_plugin.c
  src/collectors/network-viewer.plugin/network-viewer.c
  src/collectors/systemd-journal.plugin/systemd-units.c
  src/daemon/config/dyncfg-intercept.c
  src/daemon/config/dyncfg-tree.c
  src/daemon/config/dyncfg-unittest.c
  src/database/rrd.h
  src/database/rrdfunctions-internals.h
  src/database/rrdfunctions.c
  src/database/rrdlabels.c
  src/database/rrdlabels.h
  src/libnetdata/config/dyncfg.c
  src/libnetdata/facets/facets.c
  src/libnetdata/facets/logs_query_status.h
  src/libnetdata/functions_evloop/functions_evloop.c
  src/libnetdata/libnetdata.h
  src/libnetdata/line_splitter/line_splitter.c
  src/libnetdata/line_splitter/line_splitter.h
  src/libnetdata/log/log.c
  src/libnetdata/sanitizers/chart_id_and_name.c
  src/libnetdata/sanitizers/chart_id_and_name.h
  src/libnetdata/sanitizers/sanitizers-functions.c
  src/libnetdata/sanitizers/sanitizers-functions.h
  src/libnetdata/sanitizers/sanitizers-labels.c
  src/libnetdata/sanitizers/sanitizers-labels.h
  src/libnetdata/sanitizers/sanitizers-pluginsd.c
  src/libnetdata/sanitizers/sanitizers-pluginsd.h
  src/libnetdata/sanitizers/sanitizers.h
  src/libnetdata/sanitizers/utf8-sanitizer.c
  src/libnetdata/sanitizers/utf8-sanitizer.h
  src/libnetdata/simple_pattern/simple_pattern.c
  src/libnetdata/simple_pattern/simple_pattern.h
  src/libnetdata/string/utf8.h
  src/streaming/compression.c
  src/streaming/sender_execute.c
Labels: area/docs, area/collectors, area/daemon, area/database, area/streaming, area/build, collectors/ebpf, collectors/apps, collectors/cgroups, collectors/freeipmi, collectors/systemd-journal

#18677 go.d downgrade go-ora to v2.8.20
  src/go/go.mod
  src/go/go.sum
Labels: area/collectors, collectors/go.d, area/go

#18661 Embed CPU architecture info in Windows installer filename.
  .github/workflows/build.yml
  packaging/windows/installer.nsi
  packaging/windows/package-windows.sh
Labels: area/ci, area/packaging

#18687 fix sanitization issues
  src/collectors/cgroups.plugin/cgroup-name.sh.in
  src/libnetdata/line_splitter/line_splitter.h
  src/libnetdata/sanitizers/chart_id_and_name.c
  src/libnetdata/sanitizers/chart_id_and_name.h
Labels: area/collectors, collectors/cgroups

#18591 Add MSSQL metrics (Part I).
  CMakeLists.txt
  src/collectors/windows.plugin/perflib-mssql.c
  src/collectors/windows.plugin/windows_plugin.c
  src/collectors/windows.plugin/windows_plugin.h
Labels: area/collectors, area/build, collectors/windows

#18683 Send node info update after ACLK connection timeout
  src/aclk/aclk.c
Labels: area/aclk

#18691 fix(cgroups.plugin): handle containers no env vars
  src/collectors/cgroups.plugin/cgroup-name.sh.in
Labels: area/collectors, collectors/cgroups

#18692 go.d/nvidia_smi: use configured "timeout" in loop mode
  src/go/plugin/go.d/modules/nvidia_smi/config_schema.json
  src/go/plugin/go.d/modules/nvidia_smi/exec.go
  src/go/plugin/go.d/modules/nvidia_smi/metadata.yaml
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#18694 cgroups.plugin: call `setresuid` before spawn server init
  src/collectors/cgroups.plugin/cgroup-network.c
Labels: area/collectors, collectors/cgroups

#18695 fix ram usage calculation in LXC
  src/collectors/proc.plugin/proc_meminfo.c
Labels: area/collectors, collectors/proc

#18696 fix system-info disk space in LXC
  src/daemon/system-info.sh
Labels: area/daemon

#18705 improve apps.plugin readme
  src/collectors/apps.plugin/README.md
Labels: area/docs, area/collectors, collectors/apps

#18703 Update windows documentation
  packaging/windows/WINDOWS_INSTALLER.md
Labels: area/packaging, area/docs

#18707 feat(go.d/sensors): add a config option to update/add sensor label value
  src/go/plugin/go.d/modules/sensors/charts.go
  src/go/plugin/go.d/modules/sensors/config_schema.json
  src/go/plugin/go.d/modules/sensors/metadata.yaml
  src/go/plugin/go.d/modules/sensors/sensors.go
  src/go/plugin/go.d/modules/sensors/testdata/config.json
  src/go/plugin/go.d/modules/sensors/testdata/config.yaml
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#18702 Detect when swap is disabled when agent is running
  src/collectors/common-contexts/mem-swap.h
  src/collectors/proc.plugin/proc_meminfo.c
  src/health/health_event_loop.c
Labels: area/health, area/collectors, collectors/proc

#18709 fix wrong config file name in go.d/oracledb meta
  src/go/plugin/go.d/modules/coredns/metadata.yaml
  src/go/plugin/go.d/modules/httpcheck/metadata.yaml
  src/go/plugin/go.d/modules/mongodb/metadata.yaml
  src/go/plugin/go.d/modules/openvpn/metadata.yaml
  src/go/plugin/go.d/modules/openvpn_status_log/metadata.yaml
  src/go/plugin/go.d/modules/oracledb/metadata.yaml
  src/go/plugin/go.d/modules/postgres/metadata.yaml
  src/go/plugin/go.d/modules/weblog/metadata.yaml
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#18713 Add link to meta section on integrations template
  integrations/templates/setup.md
Labels: area/docs, area/metadata

#18710 add instructions to configure SCIM integration in Okta
  integrations/cloud-authentication/metadata.yaml
Labels: area/metadata

#18718 go.d: use lib function to check if stderr connected to journal
  src/go/logger/journal_linux.go
Labels: area/collectors, collectors/go.d, area/go

#18565 Add check for 64bit builtin atomics
  CMakeLists.txt
Labels: area/build

#18599 Windows Plugin metadata
  src/collectors/windows.plugin/metadata.yaml
  src/collectors/windows.plugin/metdata.yaml
Labels: area/collectors, area/metadata, collectors/windows

#18721 fix(go.d/portcheck): stop checking UDP ports on ICMP listen error
  src/go/plugin/go.d/modules/portcheck/collect.go
Labels: area/collectors, collectors/go.d, area/go

#18717 Pass correct GOOS and GOARCH on to package builders in CI.
  .github/data/distros.yml
  .github/workflows/packaging.yml
Labels: area/ci, run-ci/packaging

#18711 Windows installer (Change descriptions add helping)
  packaging/windows/installer.nsi
Labels: area/packaging

#18726 Fix handling of workflow artifacts.
  .github/workflows/build.yml
  .github/workflows/docker.yml
  .github/workflows/packaging.yml
  packaging/makeself/jobs/99-makeself.install.sh
Labels: area/ci, area/packaging

#18649 Improve windows installer
  .github/ISSUE_TEMPLATE/BUG_REPORT.yml
  CMakeLists.txt
  packaging/windows/installer.nsi
  src/claim/main.c
  src/claim/ui.c
Labels: area/ci, area/packaging, area/claim, area/build

#18728 fix(perf.plugin): disable if all events disabled during init
  src/collectors/perf.plugin/perf_plugin.c
Labels: area/collectors, collectors/perf

#18732 [storcli] Support for controller ROC temperature.
  src/go/plugin/go.d/modules/storcli/charts.go
  src/go/plugin/go.d/modules/storcli/collect_controllers.go
  src/go/plugin/go.d/modules/storcli/metadata.yaml
  src/go/plugin/go.d/modules/storcli/storcli_test.go
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#18719 static install: bump openssl and curl to latest stable versions
  packaging/makeself/bundled-packages.version
Labels: area/packaging

#18689 MSSQL Metrics (Part II).
  src/collectors/windows.plugin/perflib-mssql.c
  src/collectors/windows.plugin/windows_plugin.h
Labels: area/collectors, collectors/windows

#18735 fix(go.d/sensors): fix parsing power accuracy
  src/go/plugin/go.d/modules/sensors/lmsensors/parse.go
  src/go/plugin/go.d/modules/sensors/lmsensors/scanner_test.go
Labels: area/collectors, collectors/go.d, area/go

#18712 Delay child disconnect update
  src/aclk/aclk.c
  src/database/sqlite/sqlite_aclk.c
  src/database/sqlite/sqlite_aclk.h
  src/health/health_event_loop.c
  src/plugins.d/pluginsd_parser.c
  src/streaming/receiver.c
  src/streaming/rrdpush.h
  src/streaming/stream_path.c
  src/streaming/stream_path.h
Labels: area/health, area/database, area/streaming, area/aclk, area/plugins.d

#18733 Windows deploy metadata
  integrations/deploy.yaml
  integrations/templates/platform_info.md
  packaging/windows/WINDOWS_INSTALLER.md
Labels: area/packaging, area/docs, area/metadata

#18736 Add `ilert` cloud notification integration
  integrations/cloud-notifications/metadata.yaml
Labels: area/metadata

#18742 docs(apps.plugin): fix prefix/suffix pattern example
  src/collectors/apps.plugin/README.md
Labels: area/docs, area/collectors, collectors/apps

#18743 fix(apps.plugin): fix debug msg spam on macOS/freeBSD
  src/collectors/apps.plugin/apps_os_freebsd.c
  src/collectors/apps.plugin/apps_os_macos.c
Labels: area/collectors, collectors/apps

#18746 Fix crash on agent initialization
  src/database/sqlite/sqlite_aclk.c
Labels: area/database, area/aclk

#18745 Fix issues with Cloud Notification Integrations metadata
  integrations/cloud-notifications/integrations/amazon_sns.md
  integrations/cloud-notifications/integrations/discord.md
  integrations/cloud-notifications/integrations/ilert.md
  integrations/cloud-notifications/integrations/mattermost.md
  integrations/cloud-notifications/integrations/microsoft_teams.md
  integrations/cloud-notifications/integrations/netdata_mobile_app.md
  integrations/cloud-notifications/integrations/opsgenie.md
  integrations/cloud-notifications/integrations/pagerduty.md
  integrations/cloud-notifications/integrations/rocketchat.md
  integrations/cloud-notifications/integrations/slack.md
  integrations/cloud-notifications/integrations/splunk.md
  integrations/cloud-notifications/integrations/splunk_victorops.md
  integrations/cloud-notifications/integrations/telegram.md
  integrations/cloud-notifications/integrations/webhook.md
  integrations/cloud-notifications/metadata.yaml
Labels: area/docs, area/metadata

#18750 Simplify sentence on cloud notification integrations
  integrations/cloud-notifications/metadata.yaml
Labels: area/metadata

#18748 fix(freebsd.plugin): fix sysctl arcstats.p fails on FreeBSD 14
  src/collectors/freebsd.plugin/freebsd_kstat_zfs.c
  src/collectors/proc.plugin/proc_spl_kstat_zfs.c
  src/collectors/proc.plugin/zfs_common.c
  src/collectors/proc.plugin/zfs_common.h
Labels: area/collectors, collectors/freebsd, collectors/proc

#18747 fix(python.d.plugin): fix plugin exit if no python found
  src/collectors/python.d.plugin/python.d.plugin.in
Labels: area/collectors, collectors/python.d

#18737 Remove CR (windows.plugin)
  src/collectors/windows.plugin/perflib-web-service.c
Labels: area/collectors, collectors/windows

#18755 Update metadata.yaml
  integrations/cloud-notifications/metadata.yaml
Labels: area/metadata

#18753 Add Ubuntu 24.10 and Fedora 41 to CI.
  .github/data/distros.yml
  packaging/installer/install-required-packages.sh
Labels: area/ci, area/packaging

#18757 fix(go.d/sd/net_listeners): exit if local-listeners constantly times out
  src/go/plugin/go.d/agent/discovery/sd/discoverer/netlisteners/netlisteners.go
Labels: area/collectors, collectors/go.d, area/go

#18758 fix(proc.plugin/zfs): fix arcstats.pm
  src/collectors/proc.plugin/proc_spl_kstat_zfs.c
Labels: area/collectors, collectors/proc

#18763 Adjust option (Windows claim)
  src/claim/main.c
Labels: area/claim

#18754 Remove the overview section from cloud notif. integrations
  integrations/cloud-notifications/metadata.yaml
  integrations/gen_docs_integrations.py
  integrations/gen_integrations.py
  integrations/schemas/agent_notification.json
  integrations/schemas/cloud_notification.json
  integrations/templates/overview.md
  integrations/templates/troubleshooting.md
Labels: area/docs, area/metadata

#18762 NetFramework (Part I)
  CMakeLists.txt
  src/collectors/windows.plugin/perflib-netframework.c
  src/collectors/windows.plugin/windows_plugin.c
  src/collectors/windows.plugin/windows_plugin.h
Labels: area/collectors, area/build, collectors/windows

#18774 fix(go.d/sd/netlisteners): fix exec deadline exceeded check
  src/go/plugin/go.d/agent/discovery/sd/discoverer/netlisteners/netlisteners.go
Labels: area/collectors, collectors/go.d, area/go

#18760 Fix storing of repeat field
  src/database/sqlite/sqlite_health.c
Labels: area/database

#18761 Expand ml enabled option
  src/daemon/main.c
  src/ml/Config.cc
  src/ml/ml-private.h
Labels: area/daemon, area/ml

#18699 Load chart labels on demand
  src/database/contexts/instance.c
  src/database/contexts/internal.h
  src/database/contexts/worker.c
Labels: area/database

#18781 Update README.md, fix a typo
  README.md
Labels: area/docs

#18784 Document ML enabled `auto`
  src/ml/ml-configuration.md
Labels: area/docs, area/ml

#18786 fix(netdata-updater.sh): ensure `--non-interactive` flag is passed during self-update
  packaging/installer/netdata-updater.sh
Labels: area/packaging

#18785 Windows Alerts Improvements
  src/collectors/proc.plugin/proc_net_dev.c
  src/collectors/windows.plugin/perflib-network.c
  src/database/rrdset.c
  src/health/health.d/net.conf
  src/health/rrdvar.c
  src/health/rrdvar.h
Labels: area/health, area/collectors, area/database, collectors/proc, collectors/windows

#18789 Fix broken claiming via kickstart on some systems.
  packaging/installer/kickstart.sh
Labels: area/packaging

#18792 systemd-journal; support querying archived files
  src/collectors/systemd-journal.plugin/systemd-internals.h
  src/collectors/systemd-journal.plugin/systemd-journal-files.c
  src/collectors/systemd-journal.plugin/systemd-journal-watcher.c
Labels: area/collectors, collectors/systemd-journal

#18793 Add ref to dyncfg
  docs/netdata-agent/configuration/README.md
  docs/netdata-agent/configuration/dynamic-configuration.md
Labels: area/docs

#18788 Fix atomic builtins test that currently fails for llvm+compiler_rt when gcc is not present
  CMakeLists.txt
Labels: area/build

#18795 Schedule a node state update after context load
  src/database/sqlite/sqlite_aclk_node.c
Labels: area/database, area/aclk

#18799 docs: fix grammar in readme
  README.md
Labels: area/docs

#18800 bugfix for logs integrations
  integrations/gen_docs_integrations.py
Labels: area/metadata

#18802 feat(apps.plugin): add vernemq to apps_groups.conf
  src/collectors/apps.plugin/apps_groups.conf
Labels: area/collectors, collectors/apps

#18797 Remove macOS 12 from CI, and add macOS 15.
  .github/workflows/build.yml
Labels: area/ci

#18798 local-listeners improvements
  src/collectors/apps.plugin/apps_plugin.c
  src/collectors/network-viewer.plugin/network-viewer.c
  src/collectors/slabinfo.plugin/slabinfo.c
  src/collectors/utils/local_listeners.c
  src/libnetdata/aral/aral.c
  src/libnetdata/log/nd_log-init.c
  src/libnetdata/log/nd_log.h
  src/libnetdata/maps/local-sockets.h
  src/libnetdata/procfile/procfile.c
  src/libnetdata/procfile/procfile.h
  src/libnetdata/spawn_server/spawn_server_nofork.c
Labels: area/collectors, collectors/apps, collectors/slabinfo

#18674 cgroup-network now uses its own spawn server
  src/collectors/cgroups.plugin/cgroup-network.c
  src/daemon/daemon.c
  src/libnetdata/spawn_server/spawn_server.h
  src/libnetdata/spawn_server/spawn_server_internals.h
  src/libnetdata/spawn_server/spawn_server_nofork.c
Labels: area/collectors, area/daemon, collectors/cgroups

#18806 fix(go.d/sensors): ignore 'unknown' values
  src/go/plugin/go.d/modules/sensors/lmsensors/scanner.go
  src/go/plugin/go.d/modules/sensors/lmsensors/scanner_test.go
Labels: area/collectors, collectors/go.d, area/go

#18807 allow local-listeners to associate container sockets with pids
  src/collectors/utils/local_listeners.c
  src/libnetdata/maps/local-sockets.h
Labels: area/collectors

#18808 aesthetic changes in the code
  src/collectors/systemd-journal.plugin/systemd-journal.c
  src/daemon/config/dyncfg-tree.c
  src/database/rrdfunctions-exporters.c
  src/database/rrdfunctions-inflight.c
  src/database/rrdfunctions-internals.h
  src/database/rrdfunctions.c
  src/database/rrdfunctions.h
  src/libnetdata/json/json-c-parser-inline.c
  src/plugins.d/pluginsd_functions.c
  src/streaming/sender_execute.c
  src/web/api/functions/function-bearer_get_token.c
  src/web/api/v1/api_v1_config.c
  src/web/api/v2/api_v2_bearer.c
  src/web/api/v3/api_v3_settings.c
Labels: area/web, area/collectors, area/daemon, area/database, area/streaming, collectors/systemd-journal, area/plugins.d

#18812 fix(proc/proc_net_dev): delay collecting all virtual interfaces
  src/collectors/proc.plugin/proc_net_dev.c
Labels: area/collectors, collectors/proc

#18813 Fix variable scope to prevent invalid memory access
  src/database/sqlite/sqlite_health.c
Labels: area/database

#18811 Revert "Fix atomic builtins test that currently fails for llvm+compiler_rt when gcc is not present"
  CMakeLists.txt
Labels: area/build

#18820 optimizations for servers with vast amounts of sockets
  src/collectors/apps.plugin/apps_os_freebsd.c
  src/collectors/apps.plugin/apps_os_linux.c
  src/collectors/apps.plugin/apps_output.c
  src/collectors/apps.plugin/apps_pid.c
  src/collectors/apps.plugin/apps_pid_files.c
  src/collectors/apps.plugin/apps_plugin.c
  src/collectors/apps.plugin/apps_plugin.h
  src/libnetdata/maps/local-sockets.h
  src/libnetdata/maps/system-groups.h
  src/libnetdata/maps/system-services.h
  src/libnetdata/maps/system-users.h
  src/libnetdata/query_progress/progress.c
Labels: area/collectors, collectors/apps

#18810 Windows storage metrics
  CMakeLists.txt
  src/collectors/common-contexts/common-contexts.h
  src/collectors/common-contexts/disk-busy.h
  src/collectors/common-contexts/disk-iotime.h
  src/collectors/common-contexts/disk-ops.h
  src/collectors/common-contexts/disk-qops.h
  src/collectors/common-contexts/disk-util.h
  src/collectors/proc.plugin/proc_diskstats.c
  src/collectors/windows.plugin/perflib-storage.c
  src/libnetdata/clocks/clocks.h
  src/libnetdata/os/windows-perflib/perflib.c
  src/libnetdata/os/windows-perflib/perflib.h
Labels: area/collectors, area/build, collectors/proc, collectors/windows

#18822 numa basic meminfo
  src/collectors/all.h
  src/collectors/proc.plugin/sys_devices_system_node.c
Labels: area/collectors, collectors/proc

#18824 More windows metrics
  CMakeLists.txt
  src/collectors/all.h
  src/collectors/common-contexts/common-contexts.h
  src/collectors/common-contexts/disk-avgsz.h
  src/collectors/common-contexts/disk-await.h
  src/collectors/common-contexts/disk-svctm.h
  src/collectors/proc.plugin/proc_diskstats.c
  src/collectors/windows.plugin/perflib-storage.c
  src/health/health.d/disks.conf
  src/libnetdata/os/windows-wmi/windows-wmi-GetDiskDriveInfo.c
  src/libnetdata/os/windows-wmi/windows-wmi-GetDiskDriveInfo.h
  src/libnetdata/os/windows-wmi/windows-wmi.c
  src/libnetdata/os/windows-wmi/windows-wmi.h
Labels: area/health, area/collectors, area/build, collectors/proc, collectors/windows

#18815 fix(go.d/vernemq)!: support prometheus namespace added in v2.0
  src/go/plugin/go.d/modules/vernemq/charts.go
  src/go/plugin/go.d/modules/vernemq/collect.go
  src/go/plugin/go.d/modules/vernemq/init.go
  src/go/plugin/go.d/modules/vernemq/metadata.yaml
  src/go/plugin/go.d/modules/vernemq/metrics.go
  src/go/plugin/go.d/modules/vernemq/node_stats.go
  src/go/plugin/go.d/modules/vernemq/testdata/non_vernemq.txt
  src/go/plugin/go.d/modules/vernemq/testdata/v1.10.1/metrics.txt
  src/go/plugin/go.d/modules/vernemq/testdata/v2.0.1/metrics.txt
  src/go/plugin/go.d/modules/vernemq/vernemq.go
  src/go/plugin/go.d/modules/vernemq/vernemq_test.go
  src/health/health.d/vernemq.conf
Labels: area/health, area/collectors, collectors/go.d, area/metadata, area/go

#18825 Common O/S Caching Layer for users and groups
  CMakeLists.txt
  src/collectors/apps.plugin/apps_aggregations.c
  src/collectors/apps.plugin/apps_functions.c
  src/collectors/apps.plugin/apps_os_windows.c
  src/collectors/apps.plugin/apps_pid.c
  src/collectors/apps.plugin/apps_plugin.c
  src/collectors/apps.plugin/apps_plugin.h
  src/collectors/apps.plugin/apps_targets.c
  src/collectors/apps.plugin/apps_users_and_groups.c
  src/collectors/network-viewer.plugin/network-viewer.c
  src/collectors/systemd-journal.plugin/systemd-journal-annotations.c
  src/collectors/utils/local_listeners.c
  src/collectors/windows-events.plugin/windows-events-providers.c
  src/collectors/windows-events.plugin/windows-events-query-evt-variant.c
  src/collectors/windows-events.plugin/windows-events-query.c
  src/collectors/windows-events.plugin/windows-events-query.h
  src/collectors/windows-events.plugin/windows-events-sid.h
  src/collectors/windows-events.plugin/windows-events-unicode.c
  src/collectors/windows-events.plugin/windows-events-unicode.h
  src/collectors/windows-events.plugin/windows-events.c
  src/collectors/windows-events.plugin/windows-events.h
  src/collectors/windows.plugin/perflib-storage.c
  src/database/engine/cache.h
  src/libnetdata/buffer/buffer.h
  src/libnetdata/common.h
  src/libnetdata/inlined.h
  src/libnetdata/libnetdata.c
  src/libnetdata/libnetdata.h
  src/libnetdata/local-sockets/local-sockets.h
  src/libnetdata/maps/system-groups.h
  src/libnetdata/maps/system-users.h
  src/libnetdata/os/os.h
  src/libnetdata/os/system-maps/cache-host-users-and-groups.c
  src/libnetdata/os/system-maps/cache-host-users-and-groups.h
  src/libnetdata/os/system-maps/cached-gid-groupname.c
  src/libnetdata/os/system-maps/cached-gid-groupname.h
  src/libnetdata/os/system-maps/cached-sid-username.c
  src/libnetdata/os/system-maps/cached-sid-username.h
  src/libnetdata/os/system-maps/cached-uid-username.c
  src/libnetdata/os/system-maps/cached-uid-username.h
  src/libnetdata/os/system-maps/system-services.h
  src/libnetdata/os/windows-perflib/perflib.c
  src/libnetdata/socket/security.h
  src/libnetdata/socket/socket.c
  src/libnetdata/string/utf8.c
  src/libnetdata/string/utf8.h
Labels: area/collectors, area/database, area/build, collectors/apps, collectors/systemd-journal, collectors/windows

#18833 feat(go.d/nvidia_smi): add "index" label to GPU charts
  src/go/plugin/go.d/modules/nvidia_smi/charts.go
  src/go/plugin/go.d/modules/nvidia_smi/collect.go
  src/go/plugin/go.d/modules/nvidia_smi/metadata.yaml
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#18835 chore(go.d/vernemq): remove unused file
  src/go/plugin/go.d/modules/vernemq/collect.go
  src/go/plugin/go.d/modules/vernemq/node_stats.go
Labels: area/collectors, collectors/go.d, area/go

#18837 Remove RRDSET_FLAG_DETAIL.
  src/collectors/common-contexts/disk-avgsz.h
  src/collectors/common-contexts/disk-await.h
  src/collectors/common-contexts/disk-busy.h
  src/collectors/common-contexts/disk-iotime.h
  src/collectors/common-contexts/disk-svctm.h
  src/collectors/common-contexts/disk-util.h
  src/collectors/common-contexts/mem-pgfaults.h
  src/collectors/common-contexts/mem-swap.h
  src/collectors/common-contexts/system-interrupts.h
  src/collectors/freebsd.plugin/freebsd_devstat.c
  src/collectors/freebsd.plugin/freebsd_getifaddrs.c
  src/collectors/freebsd.plugin/freebsd_ipfw.c
  src/collectors/freebsd.plugin/freebsd_sysctl.c
  src/collectors/macos.plugin/macos_fw.c
  src/collectors/macos.plugin/macos_mach_smi.c
  src/collectors/macos.plugin/macos_sysctl.c
  src/collectors/proc.plugin/proc_diskstats.c
  src/collectors/proc.plugin/proc_meminfo.c
  src/collectors/proc.plugin/proc_net_dev.c
  src/collectors/proc.plugin/proc_net_netstat.c
  src/collectors/proc.plugin/proc_net_rpc_nfs.c
  src/collectors/proc.plugin/proc_net_rpc_nfsd.c
  src/collectors/proc.plugin/proc_net_sctp_snmp.c
  src/collectors/proc.plugin/proc_net_stat_conntrack.c
  src/collectors/proc.plugin/proc_net_wireless.c
  src/collectors/proc.plugin/proc_stat.c
  src/collectors/proc.plugin/proc_vmstat.c
  src/collectors/proc.plugin/sys_class_infiniband.c
  src/collectors/proc.plugin/sys_devices_system_node.c
  src/collectors/windows.plugin/perflib-network.c
  src/collectors/windows.plugin/perflib-storage.c
  src/database/rrd.h
  src/plugins.d/README.md
  src/plugins.d/pluginsd_parser.c
  src/streaming/rrdpush.c
Labels: area/docs, area/collectors, area/database, area/streaming, collectors/freebsd, collectors/macos, collectors/proc, collectors/windows, area/plugins.d

#18836 Update enterprise SSO docs
  docs/netdata-cloud/authentication-and-authorization/enterprise-sso-authentication.md
Labels: area/docs

#18838 feat(go.d/vernemq): add "Queued PUBLISH Messages" chart
  src/go/plugin/go.d/modules/vernemq/charts.go
  src/go/plugin/go.d/modules/vernemq/collect.go
  src/go/plugin/go.d/modules/vernemq/metadata.yaml
  src/go/plugin/go.d/modules/vernemq/vernemq_test.go
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#18841 docs(web/gui): remove legacy dashboard description
  src/web/gui/README.md
Labels: area/docs, area/web

#18842 Silence up-to-date installation targets.
  CMakeLists.txt
Labels: area/build

#18845 fix(packaging): fix installing libcurl_dev on FreeBSD
  packaging/installer/install-required-packages.sh
Labels: area/packaging

#18847 feat(go.d/sd/nl): make timeout and interval configurable
  src/go/plugin/go.d/agent/discovery/sd/discoverer/netlisteners/ll.go
  src/go/plugin/go.d/agent/discovery/sd/discoverer/netlisteners/netlisteners.go
Labels: area/collectors, collectors/go.d, area/go

#18849 fix(packaging): check for sys/capability.h only on Linux
  CMakeLists.txt
Labels: area/build

#18643 Reorganize top-level headers in libnetdata.
  CMakeLists.txt
  src/collectors/apps.plugin/apps_pid.c
  src/collectors/log2journal/log2journal.h
  src/collectors/network-viewer.plugin/network-viewer.c
  src/collectors/windows-events.plugin/windows-events-fields-cache.c
  src/collectors/windows-events.plugin/windows-events-providers.c
  src/database/engine/journalfile.c
  src/libnetdata/bitmap/bitmap64.h
  src/libnetdata/common.h
  src/libnetdata/config/dyncfg.c
  src/libnetdata/facets/facets.c
  src/libnetdata/libnetdata.h
  src/libnetdata/linked_lists/linked_lists.h
  src/libnetdata/local-sockets/local-sockets.h
  src/libnetdata/os/system-maps/cached-gid-groupname.c
  src/libnetdata/os/system-maps/cached-sid-username.c
  src/libnetdata/os/system-maps/cached-uid-username.c
  src/libnetdata/os/system-maps/system-services.h
  src/libnetdata/os/windows-perflib/perflib-names.c
  src/libnetdata/query_progress/progress.c
  src/libnetdata/simple_hashtable/simple_hashtable.h
  src/libnetdata/simple_hashtable/simple_hashtable_undef.h
  src/libnetdata/xxHash/xxhash.h
Labels: area/collectors, area/database, area/build, collectors/apps

#18851 Make integration links absolute
  integrations/gen_integrations.py
Labels: area/metadata

#18790 Do not load/save context data in RAM mode
  src/database/contexts/worker.c
Labels: area/database

#18853 chore(ci): print versions in check_successful_update
  .github/scripts/check-updater.sh
Labels: area/ci

#18856 fix(apps.plugin): add tini to Linux managers
  src/collectors/apps.plugin/apps_groups.conf
  src/collectors/apps.plugin/apps_targets.c
Labels: area/collectors, collectors/apps

#18859 feat(go.d.plugin): add MaxScale collector
  src/go/plugin/go.d/README.md
  src/go/plugin/go.d/config/go.d.conf
  src/go/plugin/go.d/config/go.d/maxscale.conf
  src/go/plugin/go.d/config/go.d/sd/docker.conf
  src/go/plugin/go.d/config/go.d/sd/net_listeners.conf
  src/go/plugin/go.d/modules/ceph/metadata.yaml
  src/go/plugin/go.d/modules/init.go
  src/go/plugin/go.d/modules/maxscale/charts.go
  src/go/plugin/go.d/modules/maxscale/collect.go
  src/go/plugin/go.d/modules/maxscale/config_schema.json
  src/go/plugin/go.d/modules/maxscale/maxscale.go
  src/go/plugin/go.d/modules/maxscale/maxscale_test.go
  src/go/plugin/go.d/modules/maxscale/metadata.yaml
  src/go/plugin/go.d/modules/maxscale/restapi.go
  src/go/plugin/go.d/modules/maxscale/testdata/config.json
  src/go/plugin/go.d/modules/maxscale/testdata/config.yaml
  src/go/plugin/go.d/modules/maxscale/testdata/v24.02.3/maxscale.json
  src/go/plugin/go.d/modules/maxscale/testdata/v24.02.3/maxscale_threads.json
  src/go/plugin/go.d/modules/maxscale/testdata/v24.02.3/servers.json
Labels: area/docs, area/collectors, collectors/go.d, area/metadata, area/go

#18861 Do not build H2O by default.
  CMakeLists.txt
Labels: area/build

#18863 Prevent memory corruption during ACLK OTP decode
  src/aclk/aclk_otp.c
Labels: area/aclk

#18868 docs(go.d/ping): clarify permissions
  src/go/plugin/go.d/modules/ping/metadata.yaml
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#18871 fix: correct health schema typo preventing Action alert rendering.
  src/health/schema.d/health%3Aalert%3Aprototype.json
Labels: area/health

#18876 fix: correct go.d.plugin permission for source builds
  netdata-installer.sh
Labels: area/packaging

#18878 include windows.h globally in libnetdata
  src/aclk/mqtt_websockets/mqtt_ng.c
  src/aclk/mqtt_websockets/ws_client.c
  src/collectors/apps.plugin/apps_os_windows_nt.c
  src/collectors/apps.plugin/apps_plugin.h
  src/collectors/windows-events.plugin/windows-events-unicode.h
  src/collectors/windows-events.plugin/windows-events.h
  src/collectors/windows.plugin/perflib-rrd.c
  src/collectors/windows.plugin/windows-internals.h
  src/daemon/winsvc.cc
  src/libnetdata/common.h
  src/libnetdata/log/nd_log-internals.h
  src/libnetdata/log/nd_log-to-systemd-journal.c
  src/libnetdata/log/nd_log-to-windows-events.c
  src/libnetdata/os/get_system_cpus.c
  src/libnetdata/os/gettid.c
  src/libnetdata/os/os-windows-wrappers.c
  src/libnetdata/os/setenv.c
  src/libnetdata/os/system-maps/cached-sid-username.c
  src/libnetdata/os/tinysleep.c
  src/libnetdata/os/uuid_generate.c
  src/libnetdata/os/windows-perflib/perflib-dump.c
  src/libnetdata/os/windows-perflib/perflib-names.c
  src/libnetdata/os/windows-perflib/perflib.c
  src/libnetdata/os/windows-wmi/windows-wmi.h
  src/libnetdata/spawn_server/spawn_popen.c
  src/libnetdata/spawn_server/spawn_server_internals.h
  src/libnetdata/string/utf8.c
  src/web/api/v2/api_v2_claim.c
Labels: area/web, area/collectors, area/daemon, area/aclk, collectors/apps, collectors/windows

#18880 Windows storage fixes
  src/collectors/windows.plugin/perflib-storage.c
  src/collectors/windows.plugin/windows-internals.h
Labels: area/collectors, collectors/windows

#18884 properly sanitize prometheus names and values
  src/database/rrdlabels.c
  src/exporting/prometheus/prometheus.c
  src/exporting/prometheus/prometheus.h
  src/exporting/prometheus/remote_write/remote_write.c
  src/libnetdata/http/content_type.c
  src/libnetdata/sanitizers/sanitizers-labels.c
  src/libnetdata/sanitizers/sanitizers-labels.h
Labels: area/exporting, area/database

#18885 fix(go.d/k8sstate): use static list of warning/terminated reasons
  src/go/plugin/go.d/modules/k8s_state/charts.go
  src/go/plugin/go.d/modules/k8s_state/collect.go
  src/go/plugin/go.d/modules/k8s_state/kube_state_test.go
  src/go/plugin/go.d/modules/k8s_state/metadata.yaml
  src/go/plugin/go.d/modules/k8s_state/state.go
  src/go/plugin/go.d/modules/k8s_state/update_pod_state.go
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#18887 improvement(go.d/k8sstate): collect pod status reason
  src/go/plugin/go.d/modules/k8s_state/charts.go
  src/go/plugin/go.d/modules/k8s_state/collect.go
  src/go/plugin/go.d/modules/k8s_state/kube_state_test.go
  src/go/plugin/go.d/modules/k8s_state/metadata.yaml
  src/go/plugin/go.d/modules/k8s_state/state.go
  src/go/plugin/go.d/modules/k8s_state/update_node_state.go
  src/go/plugin/go.d/modules/k8s_state/update_pod_state.go
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#18889 remove python.d/spigotmc
  CMakeLists.txt
  REDISTRIBUTED.md
  src/collectors/python.d.plugin/python.d.conf
  src/collectors/python.d.plugin/python_modules/third_party/mcrcon.py
  src/collectors/python.d.plugin/spigotmc/README.md
  src/collectors/python.d.plugin/spigotmc/integrations/spigotmc.md
  src/collectors/python.d.plugin/spigotmc/metadata.yaml
  src/collectors/python.d.plugin/spigotmc/spigotmc.chart.py
  src/collectors/python.d.plugin/spigotmc/spigotmc.conf
Labels: area/docs, area/collectors, area/build, collectors/python.d, area/metadata

#18893 log2journal: fix config parsing memory leaks
  src/collectors/log2journal/log2journal-params.c
  src/collectors/log2journal/log2journal-pcre2.c
  src/collectors/log2journal/log2journal-rewrite.c
  src/collectors/log2journal/log2journal-yaml.c
  src/collectors/log2journal/log2journal.h
Labels: area/collectors

#18892 Fix coverity issues
  src/database/sqlite/sqlite_metadata.c
  src/exporting/prometheus/prometheus.c
  src/libnetdata/dictionary/dictionary.c
  src/libnetdata/socket/socket.c
Labels: area/exporting, area/database

#18894 Start-stop-restart for windows, plus move info to its own file
  docs/netdata-agent/reload-health-configuration.md
  docs/netdata-agent/start-stop-restart.md
Labels: area/docs

#18895 docs edit
  docs/netdata-agent/reload-health-configuration.md
  docs/netdata-agent/start-stop-restart.md
Labels: area/docs

#18897 remove python.d/zscores
  CMakeLists.txt
  src/collectors/python.d.plugin/python.d.conf
  src/collectors/python.d.plugin/zscores/README.md
  src/collectors/python.d.plugin/zscores/integrations/python.d_zscores.md
  src/collectors/python.d.plugin/zscores/metadata.yaml
  src/collectors/python.d.plugin/zscores/zscores.chart.py
  src/collectors/python.d.plugin/zscores/zscores.conf
Labels: area/docs, area/collectors, area/build, collectors/python.d, area/metadata

#18896 Coverity fixes
  src/aclk/aclk.c
  src/daemon/main.c
  src/database/engine/rrdengine.c
  src/database/rrd.h
  src/database/sqlite/sqlite_health.c
  src/health/health_event_loop.c
  src/health/rrdcalc.c
Labels: area/health, area/daemon, area/database, area/aclk

#18787 Add basis for MSI installer.
  .gitignore
  CMakeLists.txt
  packaging/windows/get-convert-licenses.sh
  packaging/windows/gpl-3.0.txt
  packaging/windows/installer.nsi
  packaging/windows/msi-extension.bat
  packaging/windows/netdata.wxs.in
  src/claim/main.c
  src/claim/ui.c
Labels: area/packaging, area/claim, area/build

#18898 Updating Netdata docs
  docs/netdata-agent/start-stop-restart.md
  packaging/installer/UPDATE.md
Labels: area/packaging, area/docs

#18902 versioning for functions
  src/collectors/cgroups.plugin/sys_fs_cgroup.c
  src/collectors/diskspace.plugin/plugin_diskspace.c
  src/collectors/proc.plugin/proc_diskstats.c
  src/collectors/proc.plugin/proc_net_dev.c
  src/daemon/config/dyncfg-tree.c
  src/daemon/config/dyncfg.c
  src/daemon/config/dyncfg.h
  src/database/contexts/api_v2_contexts.c
  src/database/rrdfunctions-exporters.c
  src/database/rrdfunctions-exporters.h
  src/database/rrdfunctions-inline.c
  src/database/rrdfunctions-inline.h
  src/database/rrdfunctions-internals.h
  src/database/rrdfunctions.c
  src/database/rrdfunctions.h
  src/plugins.d/README.md
  src/plugins.d/pluginsd_functions.c
  src/web/api/functions/functions.c
Labels: area/docs, area/web, area/collectors, area/daemon, area/database, collectors/cgroups, collectors/diskspace, collectors/proc, area/plugins.d

#18907 Update uninstallation docs and remove reinstallation page
  docs/category-overview-pages/maintenance-operations-on-netdata-agents.md
  packaging/installer/REINSTALL.md
  packaging/installer/UNINSTALL.md
Labels: area/packaging, area/docs

#18908 uninstall docs edits
  packaging/installer/UNINSTALL.md
Labels: area/packaging, area/docs

#18910 fix(debugfs/extfrag): add zone label
  src/collectors/debugfs.plugin/debugfs_extfrag.c
Labels: area/collectors, collectors/debugfs

#18909 proc.plugin: log as info if a dir not exists
  src/collectors/proc.plugin/sys_devices_system_node.c
  src/collectors/proc.plugin/sys_fs_btrfs.c
Labels: area/collectors, collectors/proc

#18913 Fix potential wait forever in mqtt loop
  src/aclk/mqtt_websockets/mqtt_wss_client.c
Labels: area/aclk

#18905 Fix a potential invalid double free memory
  src/database/sqlite/sqlite_functions.c
Labels: area/database

#18915 docs: fix broken links in metadata
  src/exporting/mongodb/metadata.yaml
  src/go/plugin/go.d/modules/squidlog/metadata.yaml
  src/go/plugin/go.d/modules/windows/metadata.yaml
Labels: area/exporting, area/collectors, collectors/go.d, area/metadata, area/go

#18918 docs: fix ui license link
  README.md
  REDISTRIBUTED.md
  packaging/windows/WINDOWS_INSTALLER.md
Labels: area/packaging, area/docs

#18919 log2journal now uses libnetdata
  CMakeLists.txt
  src/collectors/log2journal/log2journal-hashed-key.h
  src/collectors/log2journal/log2journal-help.c
  src/collectors/log2journal/log2journal-inject.c
  src/collectors/log2journal/log2journal-params.c
  src/collectors/log2journal/log2journal-pattern.c
  src/collectors/log2journal/log2journal-rename.c
  src/collectors/log2journal/log2journal-replace.c
  src/collectors/log2journal/log2journal-rewrite.c
  src/collectors/log2journal/log2journal-txt.h
  src/collectors/log2journal/log2journal-yaml.c
  src/collectors/log2journal/log2journal.c
  src/collectors/log2journal/log2journal.h
  src/libnetdata/string/utf8.c
Labels: area/collectors, area/build
