Repository netdata/netdata, pull requests merged in 2024-11, with the labels that each got.

#18922 go.d/portcheck: separate tabs for tcp/upd ports
  src/go/plugin/go.d/modules/portcheck/config_schema.json
Labels: area/collectors, collectors/go.d, area/go

#18912 add `dagster` to apps_groups.conf
  src/collectors/apps.plugin/apps_groups.conf
Labels: area/collectors, collectors/apps

#18923 Docs: small fixes and pass on sizing Agents
  docs/netdata-agent/sizing-netdata-agents/README.md
  packaging/installer/UNINSTALL.md
  packaging/windows/WINDOWS_INSTALLER.md
Labels: area/packaging, area/docs

#18924 chore(go.d/nvidia_smi): remove use_csv_format (deprecated) from config
  src/go/plugin/go.d/config/go.d/nvidia_smi.conf
Labels: area/collectors, collectors/go.d, area/go

#18914 Update CI to generate MSI installer for Windows using WiX.
  .github/workflows/build.yml
  .gitignore
  CMakeLists.txt
  packaging/windows/compile-on-windows.sh
  packaging/windows/get-win-build-path.sh
  packaging/windows/install-dependencies.ps1
  packaging/windows/package-windows.sh
  packaging/windows/package.ps1
  packaging/windows/win-build-dir.sh
Labels: area/ci, area/packaging, area/build

#18921 Update Libbpf
  packaging/cmake/Modules/NetdataEBPFCORE.cmake
  packaging/cmake/Modules/NetdataEBPFLegacy.cmake
  packaging/cmake/Modules/NetdataLibBPF.cmake
  src/collectors/ebpf.plugin/ebpf.c
  src/libnetdata/ebpf/ebpf.h
Labels: area/packaging, area/collectors, collectors/ebpf

#18929 add randomness per thread to heartbeat
  src/cli/cli.c
  src/collectors/apps.plugin/apps_plugin.c
  src/collectors/cgroups.plugin/cgroup-network.c
  src/collectors/cgroups.plugin/sys_fs_cgroup.c
  src/collectors/cups.plugin/cups_plugin.c
  src/collectors/debugfs.plugin/debugfs_plugin.c
  src/collectors/diskspace.plugin/plugin_diskspace.c
  src/collectors/ebpf.plugin/ebpf.c
  src/collectors/ebpf.plugin/ebpf_cachestat.c
  src/collectors/ebpf.plugin/ebpf_cgroup.c
  src/collectors/ebpf.plugin/ebpf_dcstat.c
  src/collectors/ebpf.plugin/ebpf_disk.c
  src/collectors/ebpf.plugin/ebpf_fd.c
  src/collectors/ebpf.plugin/ebpf_filesystem.c
  src/collectors/ebpf.plugin/ebpf_functions.c
  src/collectors/ebpf.plugin/ebpf_hardirq.c
  src/collectors/ebpf.plugin/ebpf_mdflush.c
  src/collectors/ebpf.plugin/ebpf_mount.c
  src/collectors/ebpf.plugin/ebpf_oomkill.c
  src/collectors/ebpf.plugin/ebpf_process.c
  src/collectors/ebpf.plugin/ebpf_shm.c
  src/collectors/ebpf.plugin/ebpf_socket.c
  src/collectors/ebpf.plugin/ebpf_softirq.c
  src/collectors/ebpf.plugin/ebpf_swap.c
  src/collectors/ebpf.plugin/ebpf_sync.c
  src/collectors/ebpf.plugin/ebpf_vfs.c
  src/collectors/freebsd.plugin/plugin_freebsd.c
  src/collectors/freeipmi.plugin/freeipmi_plugin.c
  src/collectors/macos.plugin/plugin_macos.c
  src/collectors/network-viewer.plugin/network-viewer.c
  src/collectors/nfacct.plugin/plugin_nfacct.c
  src/collectors/perf.plugin/perf_plugin.c
  src/collectors/proc.plugin/plugin_proc.c
  src/collectors/proc.plugin/proc_net_dev.c
  src/collectors/profile.plugin/plugin_profile.cc
  src/collectors/slabinfo.plugin/slabinfo.c
  src/collectors/statsd.plugin/statsd.c
  src/collectors/systemd-journal.plugin/systemd-main.c
  src/collectors/timex.plugin/plugin_timex.c
  src/collectors/windows-events.plugin/windows-events.c
  src/collectors/windows.plugin/windows_plugin.c
  src/collectors/xenstat.plugin/xenstat_plugin.c
  src/daemon/analytics.c
  src/daemon/global_statistics.c
  src/daemon/main.c
  src/daemon/service.c
  src/database/contexts/worker.c
  src/database/engine/cache.c
  src/exporting/exporting_engine.c
  src/libnetdata/clocks/clocks.c
  src/libnetdata/clocks/clocks.h
  src/libnetdata/log/systemd-cat-native.c
  src/libnetdata/os/os.c
  src/ml/ml.cc
Labels: area/exporting, area/collectors, area/daemon, area/database, area/ml, collectors/ebpf, collectors/apps, collectors/cgroups, collectors/cups, collectors/diskspace, collectors/freebsd, collectors/freeipmi, collectors/macos, collectors/nfacct, collectors/perf, collectors/proc, collectors/slabinfo, collectors/statsd, collectors/timex, collectors/xenstat, collectors/debugfs, collectors/systemd-journal, collectors/windows

#18925 Docs: Changes to title and CPU requirements
  docs/netdata-agent/sizing-netdata-agents/README.md
  docs/netdata-agent/sizing-netdata-agents/cpu-requirements.md
Labels: area/docs

#18911 Installation section simplification
  docs/developer-and-contributor-corner/monitor-cockroachdb.txt
  docs/developer-and-contributor-corner/process.txt
  docs/developer-and-contributor-corner/raspberry-pi-anomaly-detection.txt
  packaging/installer/README.md
  packaging/installer/UPDATE.md
  packaging/installer/methods/kickstart.md
  packaging/installer/methods/no_ipv4.md
  packaging/installer/methods/offline.md
  src/claim/README.md
  src/collectors/perf.plugin/metadata.yaml
  src/collectors/python.d.plugin/go_expvar/integrations/go_applications_expvar.md
  src/collectors/python.d.plugin/go_expvar/metadata.yaml
  src/collectors/statsd.plugin/README.md
  src/daemon/config/README.md
  src/health/notifications/README.md
Labels: area/packaging, area/docs, area/health, area/collectors, area/daemon, area/claim, collectors/perf, collectors/python.d, collectors/statsd, area/metadata

#18927 Improve the documentation on removing stale nodes
  docs/observability-centralization-points/metrics-centralization-points/faq.md
Labels: area/docs

#18930 better randomness for heartbeat
  CMakeLists.txt
  packaging/cmake/config.cmake.h.in
  src/aclk/aclk_util.c
  src/libnetdata/clocks/clocks.c
  src/libnetdata/clocks/clocks.h
  src/libnetdata/os/os.h
  src/libnetdata/os/random.c
  src/libnetdata/os/random.h
  src/libnetdata/os/sleep.c
  src/libnetdata/os/sleep.h
  src/libnetdata/os/tinysleep.c
  src/libnetdata/os/tinysleep.h
  src/streaming/compression.c
Labels: area/packaging, area/streaming, area/aclk, area/build

#18697 Add hyper-v metrics
  CMakeLists.txt
  src/collectors/all.h
  src/collectors/windows.plugin/perflib-hyperv.c
  src/collectors/windows.plugin/windows_plugin.c
  src/collectors/windows.plugin/windows_plugin.h
  src/database/rrdlabels.h
Labels: area/collectors, area/database, area/build, collectors/windows

#18938 fix(go.d/prometheus): correct unsupported protocol scheme "file" error
  src/go/plugin/go.d/pkg/prometheus/client.go
  src/go/plugin/go.d/pkg/prometheus/client_test.go
Labels: area/collectors, collectors/go.d, area/go

#18935 Improve ACLK sync CPU usage
  src/database/sqlite/sqlite_aclk.c
  src/database/sqlite/sqlite_aclk_node.c
Labels: area/database, area/aclk

#18939 Random numbers improvements
  CMakeLists.txt
  src/aclk/mqtt_websockets/ws_client.c
  src/libnetdata/common.h
  src/libnetdata/os/random.c
  src/libnetdata/os/random.h
Labels: area/aclk, area/build

#18940 random numbers No 3
  CMakeLists.txt
  packaging/cmake/config.cmake.h.in
  src/libnetdata/os/random.c
Labels: area/packaging, area/build

#18942 docs: grammar/format fixes to `docs/netdata-agent/`
  docs/netdata-agent/README.md
  docs/netdata-agent/backup-and-restore-an-agent.md
  docs/netdata-agent/configuration/anonymous-telemetry-events.md
  docs/netdata-agent/configuration/cheatsheet.md
  docs/netdata-agent/configuration/common-configuration-changes.md
  docs/netdata-agent/configuration/dynamic-configuration.md
  docs/netdata-agent/configuration/optimize-the-netdata-agents-performance.md
  docs/netdata-agent/configuration/organize-systems-metrics-and-alerts.md
  docs/netdata-agent/securing-netdata-agents.md
  docs/netdata-agent/sizing-netdata-agents/bandwidth-requirements.md
  docs/netdata-agent/sizing-netdata-agents/cpu-requirements.md
  docs/netdata-agent/sizing-netdata-agents/disk-requirements-and-retention.md
  docs/netdata-agent/sizing-netdata-agents/ram-requirements.md
  docs/netdata-agent/versions-and-platforms.md
Labels: area/docs

#18941 Streaming re-organization
  CMakeLists.txt
  src/daemon/analytics.c
  src/daemon/analytics.h
  src/daemon/common.h
  src/daemon/h2o-common.c
  src/daemon/main.c
  src/database/contexts/api_v2_contexts.c
  src/database/contexts/api_v2_contexts_agents.c
  src/database/engine/dbengine-stresstest.c
  src/database/engine/dbengine-unittest.c
  src/database/rrd.h
  src/database/rrdhost.c
  src/plugins.d/pluginsd_parser.c
  src/streaming/h2o-common.h
  src/streaming/protocol/command-begin-set-end.c
  src/streaming/protocol/command-chart-definition.c
  src/streaming/protocol/command-function.c
  src/streaming/protocol/command-host-labels.c
  src/streaming/protocol/command-host-variables.c
  src/streaming/protocol/commands.c
  src/streaming/protocol/commands.h
  src/streaming/receiver.c
  src/streaming/receiver.h
  src/streaming/replication.h
  src/streaming/rrdhost-status.c
  src/streaming/rrdhost-status.h
  src/streaming/rrdpush.c
  src/streaming/rrdpush.h
  src/streaming/sender-commit.c
  src/streaming/sender-connect.c
  src/streaming/sender-destinations.c
  src/streaming/sender-destinations.h
  src/streaming/sender-execute.c
  src/streaming/sender-internals.h
  src/streaming/sender.c
  src/streaming/sender.h
  src/streaming/stream-capabilities.c
  src/streaming/stream-capabilities.h
  src/streaming/stream-compression/brotli.c
  src/streaming/stream-compression/brotli.h
  src/streaming/stream-compression/compression.c
  src/streaming/stream-compression/compression.h
  src/streaming/stream-compression/gzip.c
  src/streaming/stream-compression/gzip.h
  src/streaming/stream-compression/lz4.c
  src/streaming/stream-compression/lz4.h
  src/streaming/stream-compression/zstd.c
  src/streaming/stream-compression/zstd.h
  src/streaming/stream-conf.c
  src/streaming/stream-conf.h
  src/streaming/stream-handshake.c
  src/streaming/stream-handshake.h
  src/streaming/stream-path.c
  src/streaming/stream-path.h
  src/web/api/v1/api_v1_info.c
  src/web/server/h2o/http_server.c
  src/web/server/h2o/rrdpush.c
Labels: area/web, area/daemon, area/database, area/streaming, area/build, area/plugins.d

#18916 Switch DEB/RPM repositories to new subdomain.
  packaging/repoconfig/CMakeLists.txt
  packaging/repoconfig/deb.changelog
  packaging/repoconfig/netdata.repo.dnf
  packaging/repoconfig/netdata.repo.zypp
  packaging/repoconfig/netdata.sources.in
  packaging/repoconfig/rpm.changelog
Labels: area/packaging

#18934 Hyper collector fixes
  src/collectors/all.h
  src/collectors/windows.plugin/perflib-hyperv.c
Labels: area/collectors, collectors/windows

#18944 docs: fix Caddy docker compose example
  packaging/docker/README.md
Labels: area/packaging, area/docs

#18947 fix memory leak when using libcurl
  src/claim/claim-with-api.c
Labels: area/claim

#18946 docs: add "Plugin Privileges" section
  src/collectors/README.md
Labels: area/docs, area/collectors

#18952 Fix br elements
  src/collectors/README.md
Labels: area/docs, area/collectors

#18954 Update README.md
  src/collectors/README.md
Labels: area/docs, area/collectors

#18960 Adjust max possible extent size
  src/database/engine/pdc.c
  src/database/engine/rrdengine.h
Labels: area/database

#18961 build(deps): update go toolchain to v1.23.3
  .github/workflows/build.yml
  netdata.spec.in
  packaging/check-for-go-toolchain.sh
Labels: area/ci, area/packaging

#18928 Update Windows Documentation
  integrations/deploy.yaml
  packaging/installer/UNINSTALL.md
  packaging/installer/UPDATE.md
  packaging/windows/WINDOWS_INSTALLER.md
Labels: area/packaging, area/docs, area/metadata

#18967 go mod tidy
  src/go/go.mod
  src/go/go.sum
Labels: area/collectors, collectors/go.d, area/go

#18965 feat(go.d/rabbitmq): add cluster support
  src/go/plugin/go.d/modules/rabbitmq/cache.go
  src/go/plugin/go.d/modules/rabbitmq/charts.go
  src/go/plugin/go.d/modules/rabbitmq/collect.go
  src/go/plugin/go.d/modules/rabbitmq/collect_nodes.go
  src/go/plugin/go.d/modules/rabbitmq/collect_overview.go
  src/go/plugin/go.d/modules/rabbitmq/collect_queues.go
  src/go/plugin/go.d/modules/rabbitmq/collect_vhosts.go
  src/go/plugin/go.d/modules/rabbitmq/metadata.yaml
  src/go/plugin/go.d/modules/rabbitmq/metrics.go
  src/go/plugin/go.d/modules/rabbitmq/rabbitmq.go
  src/go/plugin/go.d/modules/rabbitmq/rabbitmq_test.go
  src/go/plugin/go.d/modules/rabbitmq/restapi.go
  src/go/plugin/go.d/modules/rabbitmq/testdata/v3.11.5/api-nodes-node.json
  src/go/plugin/go.d/modules/rabbitmq/testdata/v3.11.5/api-overview.json
  src/go/plugin/go.d/modules/rabbitmq/testdata/v3.11.5/api-queues.json
  src/go/plugin/go.d/modules/rabbitmq/testdata/v3.11.5/api-vhosts.json
  src/go/plugin/go.d/modules/rabbitmq/testdata/v4.0.3/cluster/definitions.json
  src/go/plugin/go.d/modules/rabbitmq/testdata/v4.0.3/cluster/nodes.json
  src/go/plugin/go.d/modules/rabbitmq/testdata/v4.0.3/cluster/overview.json
  src/go/plugin/go.d/modules/rabbitmq/testdata/v4.0.3/cluster/queues.json
  src/go/plugin/go.d/modules/rabbitmq/testdata/v4.0.3/cluster/vhosts.json
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#18972 add rabbitmq alerts
  src/go/plugin/go.d/modules/rabbitmq/metadata.yaml
  src/health/health.d/rabbitmq.conf
Labels: area/health, area/collectors, collectors/go.d, area/metadata, area/go

#18976 improvement(go.d/rabbitmq): add queue status and net partitions
  src/go/plugin/go.d/modules/rabbitmq/charts.go
  src/go/plugin/go.d/modules/rabbitmq/collect_nodes.go
  src/go/plugin/go.d/modules/rabbitmq/collect_queues.go
  src/go/plugin/go.d/modules/rabbitmq/metadata.yaml
  src/go/plugin/go.d/modules/rabbitmq/rabbitmq_test.go
  src/go/plugin/go.d/modules/rabbitmq/restapi.go
  src/health/health.d/rabbitmq.conf
Labels: area/health, area/collectors, collectors/go.d, area/metadata, area/go

#18979 ci: fix win jobs
  src/go/go.mod
Labels: area/collectors, collectors/go.d, area/go

#18943 added /api/v3/stream_path
  CMakeLists.txt
  src/database/contexts/api_v2_contexts.c
  src/database/contexts/rrdcontext.h
  src/database/rrd.h
  src/database/sqlite/sqlite_metadata.c
  src/streaming/stream-path.c
  src/streaming/stream-path.h
  src/web/api/v3/api_v3_calls.h
  src/web/api/v3/api_v3_stream_path.c
  src/web/api/web_api_v3.c
Labels: area/web, area/database, area/streaming, area/build

#18981 improvement(go.d.plugin): add data collection status chart
  src/go/plugin/go.d/agent/module/job.go
Labels: area/collectors, collectors/go.d, area/go

#18987 chore(go.d.plugin): fix duplicate boolToInt
  src/go/plugin/go.d/agent/module/job.go
  src/go/plugin/go.d/modules/chrony/collect.go
  src/go/plugin/go.d/modules/consul/collect.go
  src/go/plugin/go.d/modules/consul/collect_autopilot.go
  src/go/plugin/go.d/modules/consul/collect_checks.go
  src/go/plugin/go.d/modules/consul/collect_metrics.go
  src/go/plugin/go.d/modules/consul/collect_net_rtt.go
  src/go/plugin/go.d/modules/coredns/metrics.go
  src/go/plugin/go.d/modules/elasticsearch/collect.go
  src/go/plugin/go.d/modules/k8s_kubelet/collect.go
  src/go/plugin/go.d/modules/k8s_kubelet/metrics.go
  src/go/plugin/go.d/modules/k8s_kubeproxy/collect.go
  src/go/plugin/go.d/modules/k8s_kubeproxy/metrics.go
  src/go/plugin/go.d/modules/k8s_state/collect.go
  src/go/plugin/go.d/modules/mongodb/collect.go
  src/go/plugin/go.d/modules/mongodb/collect_replsetgetstatus.go
  src/go/plugin/go.d/modules/mysql/collect_global_status.go
  src/go/plugin/go.d/modules/nginxplus/collect.go
  src/go/plugin/go.d/modules/nvidia_smi/collect.go
  src/go/plugin/go.d/modules/nvme/collect.go
  src/go/plugin/go.d/modules/pihole/collect.go
  src/go/plugin/go.d/modules/postgres/metrics.go
  src/go/plugin/go.d/modules/postgres/postgres.go
  src/go/plugin/go.d/modules/proxysql/collect.go
  src/go/plugin/go.d/modules/rabbitmq/collect.go
  src/go/plugin/go.d/modules/rabbitmq/collect_nodes.go
  src/go/plugin/go.d/modules/rabbitmq/collect_queues.go
  src/go/plugin/go.d/modules/rabbitmq/collect_vhosts.go
  src/go/plugin/go.d/modules/redis/collect_info.go
  src/go/plugin/go.d/modules/redis/redis.go
  src/go/plugin/go.d/modules/sensors/collect.go
  src/go/plugin/go.d/modules/squidlog/metrics.go
  src/go/plugin/go.d/modules/squidlog/squidlog_test.go
  src/go/plugin/go.d/modules/uwsgi/collect.go
  src/go/plugin/go.d/modules/vcsa/collect.go
  src/go/plugin/go.d/modules/vsphere/collect.go
  src/go/plugin/go.d/modules/weblog/metrics.go
  src/go/plugin/go.d/modules/weblog/weblog_test.go
  src/go/plugin/go.d/modules/windows/collect.go
  src/go/plugin/go.d/modules/windows/collect_exchange.go
  src/go/plugin/go.d/pkg/metrix/counter.go
  src/go/plugin/go.d/pkg/metrix/counter_test.go
  src/go/plugin/go.d/pkg/metrix/gauge.go
  src/go/plugin/go.d/pkg/metrix/gauge_test.go
  src/go/plugin/go.d/pkg/metrix/histogram.go
  src/go/plugin/go.d/pkg/metrix/histogram_test.go
  src/go/plugin/go.d/pkg/metrix/metrics.go
  src/go/plugin/go.d/pkg/metrix/summary.go
  src/go/plugin/go.d/pkg/metrix/summary_test.go
  src/go/plugin/go.d/pkg/metrix/unique_counter.go
  src/go/plugin/go.d/pkg/metrix/unique_counter_test.go
  src/go/plugin/go.d/pkg/stm/stm_test.go
Labels: area/collectors, collectors/go.d, area/go

#18988 update GH bug report
  .github/ISSUE_TEMPLATE/BUG_REPORT.yml
Labels: area/ci

#18989 health: enable go.d data collection job status alert
  src/health/health.d/go.d.plugin.conf
Labels: area/health

#18990 update plugin_data_collection_status alert summary/info
  src/health/health.d/go.d.plugin.conf
Labels: area/health

#18991 Do not intentionally abort on non-0 exit code.
  src/daemon/main.c
Labels: area/daemon

#18994 docs: single line win deploy
  integrations/deploy.yaml
Labels: area/metadata

#18996 docs: win deploy remove `./`
  integrations/deploy.yaml
Labels: area/metadata

#19000 fix: exclude volumes w/o drive letter from disk_space_usage_alert
  src/health/health.d/disks.conf
Labels: area/health

#19001 improvement(go.d/x509check): support checking full chain expiry time
  src/go/plugin/go.d/modules/x509check/charts.go
  src/go/plugin/go.d/modules/x509check/collect.go
  src/go/plugin/go.d/modules/x509check/config_schema.json
  src/go/plugin/go.d/modules/x509check/init.go
  src/go/plugin/go.d/modules/x509check/metadata.yaml
  src/go/plugin/go.d/modules/x509check/testdata/config.json
  src/go/plugin/go.d/modules/x509check/testdata/config.yaml
  src/go/plugin/go.d/modules/x509check/x509check.go
  src/health/health.d/x509check.conf
Labels: area/health, area/collectors, collectors/go.d, area/metadata, area/go

#18983 Improve Installer (Part II)
  packaging/windows/netdata.wxs.in
Labels: area/packaging

#19004 fix(go.d/x509check): correct check revocation code
  src/go/plugin/go.d/modules/x509check/collect.go
Labels: area/collectors, collectors/go.d, area/go

#19005 Set expires header when serving files
  src/web/server/web_client.c
Labels: area/web

#19009 docs(go.d/windows): add deprecation notice
  src/go/plugin/go.d/modules/windows/metadata.yaml
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#19012 backport of fixes from balance-parents
  src/streaming/receiver.c
  src/streaming/replication.c
  src/streaming/rrdhost-status.c
Labels: area/streaming

#19015 Remove MSI test
  packaging/windows/netdata.wxs.in
Labels: area/packaging

#19016 fix(go.d/ping): fix "interface" option
  src/go/go.mod
  src/go/go.sum
  src/go/plugin/go.d/modules/ping/config_schema.json
  src/go/plugin/go.d/modules/ping/init.go
  src/go/plugin/go.d/modules/ping/metadata.yaml
  src/go/plugin/go.d/modules/ping/prober.go
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#18765 IIS Metadata
  src/collectors/windows.plugin/metadata.yaml
  src/go/plugin/go.d/modules/windows/metadata.yaml
Labels: area/collectors, collectors/go.d, area/metadata, area/go, collectors/windows

#19021 docs: just iis
  src/collectors/windows.plugin/metadata.yaml
Labels: area/collectors, area/metadata, collectors/windows

#19019 chore(windows.plugin): format win collectors code
  src/collectors/windows.plugin/perflib-mssql.c
  src/collectors/windows.plugin/perflib-netframework.c
  src/collectors/windows.plugin/perflib-thermalzone.c
  src/collectors/windows.plugin/perflib-web-service.c
Labels: area/collectors, collectors/windows

#19024 docs(go.d/windows): remove references to old MSI
  src/go/plugin/go.d/modules/windows/metadata.yaml
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#19023 improvement(go.d.plugin): automatically set GOMAXPROCS
  src/go/cmd/godplugin/main.go
  src/go/go.mod
  src/go/go.sum
Labels: area/collectors, collectors/go.d, area/go

#19027 fix(windows/iis): dont sanitize site name for labels
  src/collectors/windows.plugin/perflib-web-service.c
Labels: area/collectors, collectors/windows

#19028 improvement(windows/iis): add requests by type chart
  src/collectors/windows.plugin/metadata.yaml
  src/collectors/windows.plugin/perflib-web-service.c
  src/collectors/windows.plugin/windows_plugin.h
Labels: area/collectors, area/metadata, collectors/windows

#19033 add `shutdown` keyword to ensure graceful service termination on FreeBSD
  system/freebsd/rc.d/netdata.in
Labels: area/packaging

#19034 --dev option to installer
  netdata-installer.sh
Labels: area/packaging

#19036 fix(windows/netframework): dont sanitize proc name for labels
  src/collectors/windows.plugin/perflib-netframework.c
  src/collectors/windows.plugin/perflib-thermalzone.c
Labels: area/collectors, collectors/windows

#19038 improvement(go.d.plugin): terminate on QUIT command
  src/go/plugin/go.d/agent/agent.go
  src/go/plugin/go.d/agent/functions/manager.go
  src/go/plugin/go.d/agent/functions/manager_test.go
  src/go/plugin/go.d/agent/module/job.go
Labels: area/collectors, collectors/go.d, area/go

#18957 Tidy up CI to improve overall run times.
  .github/data/distros.yml
  .github/scripts/check-updater.sh
  .github/scripts/ci-support-pkgs.sh
  .github/scripts/run-updater-check.sh
  .github/workflows/build.yml
  .github/workflows/packaging.yml
Labels: area/ci

#19039 fix(go.d/nvidia_smi): disable loop mode by default on Win
  src/go/plugin/go.d/modules/nvidia_smi/nvidia_smi.go
Labels: area/collectors, collectors/go.d, area/go

#19040 fix(go.d/nvidia_smi): disable loop mode on Win
  src/go/plugin/go.d/modules/nvidia_smi/nvidia_smi.go
Labels: area/collectors, collectors/go.d, area/go

#19041 Add Custom Actions (Installer)
  packaging/windows/netdata.wxs.in
Labels: area/packaging

#19042 Add a special version number to bypass alert snapshots
  src/database/sqlite/sqlite_aclk_alert.c
Labels: area/database, area/aclk

#19043 Capitalize the word "cloud"
  docs/netdata-agent/configuration/running-the-netdata-agent-behind-a-reverse-proxy/Running-behind-nginx.md
  docs/netdata-cloud/authentication-and-authorization/api-tokens.md
  docs/netdata-cloud/netdata-cloud-on-prem/installation.md
  docs/security-and-privacy-design/README.md
  docs/security-and-privacy-design/netdata-cloud-security.md
  packaging/installer/methods/freebsd.md
  packaging/installer/methods/kickstart.md
  packaging/installer/methods/macos.md
  packaging/installer/methods/manual.md
  packaging/installer/methods/source.md
  src/libnetdata/log/README.md
  src/plugins.d/README.md
  src/web/api/README.md
Labels: area/packaging, area/docs, area/web, area/plugins.d

#19035 Fix MSSQL algorithm (Windows.plugin)
  src/collectors/windows.plugin/perflib-mssql.c
Labels: area/collectors, collectors/windows

#19052 fix(go.d/pkg/web): correct close idle connections
  src/go/plugin/go.d/pkg/web/client_config.go
Labels: area/collectors, collectors/go.d, area/go

#19049 Update documentation about our native package repos.
  packaging/installer/methods/packages.md
Labels: area/packaging, area/docs

#19054 Windows doc updates
  packaging/installer/UNINSTALL.md
  packaging/installer/UPDATE.md
Labels: area/packaging, area/docs

#19053 Securing Agents section docs cleanup
  docs/netdata-agent/securing-netdata-agents.md
  src/web/server/README.md
Labels: area/docs, area/web

#19062 add links to mssql perflib object docs
  src/collectors/windows.plugin/perflib-mssql.c
Labels: area/collectors, collectors/windows

#19063 Register service to delay start
  packaging/windows/netdata.wxs.in
Labels: area/packaging

#19064 Patch Release 2.0.3
  packaging/windows/netdata.wxs.in
Labels: area/packaging

#19060 claim -> connect in docs
  README.md
  docs/dashboards-and-charts/README.md
  docs/deployment-guides/deployment-strategies.md
  docs/deployment-guides/standalone-deployment.md
  docs/glossary.md
  docs/security-and-privacy-design/netdata-agent-security.md
  docs/top-monitoring-netdata-functions.md
  integrations/deploy.yaml
  packaging/docker/README.md
  packaging/installer/methods/freebsd.md
  packaging/installer/methods/kickstart.md
  packaging/installer/methods/macos.md
  packaging/windows/WINDOWS_INSTALLER.md
  src/claim/README.md
Labels: area/packaging, area/docs, area/claim, area/metadata

#19066 docs(systemd-journal.plugin): correct "Full-text search"
  src/collectors/systemd-journal.plugin/README.md
Labels: area/docs, area/collectors, collectors/systemd-journal

#19068 update gorilla comp internal charts family
  src/daemon/global_statistics.c
Labels: area/daemon

#19071 Create a terminology dictionary for Netdata
  docs/DICTIONARY.md
Labels: area/docs

#19072 Collector configuration page edits
  docs/glossary.md
  docs/netdata-agent/configuration/common-configuration-changes.md
  docs/netdata-agent/configuration/optimize-the-netdata-agents-performance.md
  src/collectors/COLLECTORS.md
  src/collectors/README.md
  src/collectors/REFERENCE.md
Labels: area/docs, area/collectors

#19075 Database docs edits
  docs/DICTIONARY.md
  docs/dashboards-and-charts/visualization-date-and-time-controls.md
  docs/deployment-guides/deployment-strategies.md
  docs/exporting-metrics/enable-an-exporting-connector.md
  docs/glossary.md
  docs/netdata-agent/configuration/common-configuration-changes.md
  docs/netdata-agent/configuration/optimize-the-netdata-agents-performance.md
  docs/netdata-agent/configuration/optimizing-metrics-database/change-metrics-storage.md
  docs/netdata-agent/sizing-netdata-agents/disk-requirements-and-retention.md
  docs/netdata-agent/sizing-netdata-agents/ram-requirements.md
  src/collectors/statsd.plugin/README.md
  src/database/README.md
  src/database/engine/README.md
  src/exporting/README.md
  src/streaming/README.md
Labels: area/docs, area/exporting, area/collectors, area/database, area/streaming, collectors/statsd

#19077 Split database overview and configuration reference
  docs/dashboards-and-charts/visualization-date-and-time-controls.md
  docs/deployment-guides/deployment-strategies.md
  docs/netdata-agent/configuration/common-configuration-changes.md
  docs/netdata-agent/configuration/optimize-the-netdata-agents-performance.md
  docs/netdata-agent/configuration/optimizing-metrics-database/README.md
  docs/netdata-agent/sizing-netdata-agents/disk-requirements-and-retention.md
  src/daemon/config/README.md
  src/database/CONFIGURATION.md
  src/database/README.md
  src/database/engine/README.md
  src/health/guides/dbengine/10min_dbengine_global_flushing_errors.md
  src/health/guides/dbengine/10min_dbengine_global_flushing_warnings.md
  src/health/guides/dbengine/10min_dbengine_global_fs_errors.md
  src/health/guides/dbengine/10min_dbengine_global_io_errors.md
Labels: area/docs, area/health, area/daemon, area/database

#19085 update integrations gen script
  integrations/check_collector_metadata.py
  integrations/gen_doc_collector_page.py
  integrations/gen_docs_integrations.py
  integrations/gen_integrations.py
Labels: area/metadata

#19084 fix(go.d/hpssa): handle HPE Smart Array line
  src/go/plugin/go.d/collector/hpssa/collect.go
  src/go/plugin/go.d/collector/hpssa/hpssa_test.go
  src/go/plugin/go.d/collector/hpssa/parse.go
  src/go/plugin/go.d/collector/hpssa/testdata/ssacli-P408i-a.txt
Labels: area/collectors, collectors/go.d, area/go

#19093 docs(systemd-journal.plugin): correct full-text search
  src/collectors/systemd-journal.plugin/README.md
Labels: area/docs, area/collectors, collectors/systemd-journal

#19094 Collected and available metrics, instances and contexts
  src/database/contexts/api_v2_contexts.c
  src/database/contexts/api_v2_contexts_agents.c
  src/database/contexts/context.c
  src/database/contexts/instance.c
  src/database/contexts/internal.h
  src/database/contexts/metric.c
  src/database/contexts/worker.c
  src/database/engine/rrdengineapi.c
  src/database/rrd.h
  src/database/rrddim.c
  src/streaming/rrdhost-status.c
  src/streaming/rrdhost-status.h
  src/web/api/functions/function-streaming.c
Labels: area/web, area/database, area/streaming

#19089 remove stale docs, and update links and optimization documentation
  docs/deployment-guides/deployment-strategies.md
  docs/netdata-agent/configuration/cheatsheet.md
  docs/netdata-agent/configuration/common-configuration-changes.md
  docs/netdata-agent/configuration/optimize-the-netdata-agents-performance.md
  docs/netdata-agent/configuration/organize-systems-metrics-and-alerts.md
Labels: area/docs

#19095 Update Registry docs
  README.md
  docs/DICTIONARY.md
  src/daemon/config/README.md
  src/health/notifications/README.md
  src/registry/CONFIGURATION.md
  src/registry/README.md
  src/streaming/README.md
  src/web/api/queries/README.md
  src/web/api/v1/api_v1_badge/README.md
  src/web/server/README.md
Labels: area/docs, area/web, area/health, area/daemon, area/registry, area/streaming

#19097 Reset parameter when generating an alert snapshot
  src/database/sqlite/sqlite_aclk_alert.c
Labels: area/database, area/aclk

#19080 Use mimalloc
  CMakeLists.txt
  packaging/cmake/config.cmake.h.in
  src/daemon/buildinfo.c
Labels: area/packaging, area/daemon, area/build

#19091 Daemon docs edits
  docs/DICTIONARY.md
  src/daemon/README.md
  src/daemon/config/README.md
Labels: area/docs, area/daemon

#19098 Claiming proxy defaults and additonal log info
  src/claim/claim-with-api.c
Labels: area/claim

#19101 Edit the organize doc
  docs/dashboards-and-charts/dashboards-tab.md
  docs/dashboards-and-charts/nodes-tab.md
  docs/glossary.md
  docs/netdata-agent/configuration/organize-systems-metrics-and-alerts.md
  docs/netdata-cloud/organize-your-infrastructure-invite-your-team.md
  packaging/installer/README.md
  packaging/installer/methods/macos.md
Labels: area/packaging, area/docs

#19100 Update connecting documentation
  docs/DICTIONARY.md
  src/claim/README.md
Labels: area/docs, area/claim

#19102 docs: fix img tag
  docs/netdata-cloud/organize-your-infrastructure-invite-your-team.md
Labels: area/docs

#19104 Docs edits on Cloud versions and On Prem
  docs/DICTIONARY.md
  docs/netdata-cloud/netdata-cloud-on-prem/README.md
  docs/netdata-cloud/netdata-cloud-on-prem/installation.md
  docs/netdata-cloud/versions.md
Labels: area/docs

#19107 docs: update On-Prem System Requirements
  docs/netdata-cloud/netdata-cloud-on-prem/installation.md
Labels: area/docs

#19109 feat(proc.plugin): add Reboot Required collector
  CMakeLists.txt
  src/collectors/all.h
  src/collectors/proc.plugin/plugin_proc.c
  src/collectors/proc.plugin/plugin_proc.h
  src/collectors/proc.plugin/run_reboot_required.c
  src/health/health.d/reboot_required.conf
Labels: area/health, area/collectors, area/build, collectors/proc

#19110 fix(proc/reboot_required): disable on non Debian-based systems
  src/collectors/proc.plugin/run_reboot_required.c
Labels: area/collectors, collectors/proc

#19112 docs: format, typos, and some simplifications in `docs/`
  docs/alerts-and-notifications/creating-alerts-with-netdata-alerts-configuration-manager.md
  docs/alerts-and-notifications/notifications/README.md
  docs/alerts-and-notifications/notifications/centralized-cloud-notifications/manage-alert-notification-silencing-rules.md
  docs/alerts-and-notifications/notifications/centralized-cloud-notifications/manage-notification-methods.md
  docs/category-overview-pages/working-with-logs.md
  docs/dashboards-and-charts/README.md
  docs/dashboards-and-charts/alerts-tab.md
  docs/dashboards-and-charts/anomaly-advisor-tab.md
  docs/dashboards-and-charts/dashboards-tab.md
  docs/dashboards-and-charts/events-feed.md
  docs/dashboards-and-charts/home-tab.md
  docs/dashboards-and-charts/import-export-print-snapshot.md
  docs/dashboards-and-charts/kubernetes-tab.md
  docs/dashboards-and-charts/metrics-tab-and-single-node-tabs.md
  docs/dashboards-and-charts/netdata-charts.md
  docs/dashboards-and-charts/node-filter.md
  docs/dashboards-and-charts/nodes-tab.md
  docs/dashboards-and-charts/top-tab.md
  docs/dashboards-and-charts/visualization-date-and-time-controls.md
  docs/deployment-guides/deployment-with-centralization-points.md
  docs/developer-and-contributor-corner/README.md
  docs/developer-and-contributor-corner/collect-apache-nginx-web-logs.md
  docs/developer-and-contributor-corner/customize.md
  docs/developer-and-contributor-corner/monitor-debug-applications-ebpf.md
  docs/developer-and-contributor-corner/monitor-hadoop-cluster.md
  docs/developer-and-contributor-corner/style-guide.md
  docs/exporting-metrics/README.md
  docs/glossary.md
  docs/guidelines.md
  docs/metric-correlations.md
  docs/netdata-agent/README.md
  docs/netdata-agent/configuration/anonymous-telemetry-events.md
  docs/netdata-agent/configuration/running-the-netdata-agent-behind-a-reverse-proxy/README.md
  docs/netdata-agent/configuration/running-the-netdata-agent-behind-a-reverse-proxy/Running-behind-apache.md
  docs/netdata-agent/configuration/running-the-netdata-agent-behind-a-reverse-proxy/Running-behind-h2o.md
  docs/netdata-agent/configuration/running-the-netdata-agent-behind-a-reverse-proxy/Running-behind-lighttpd.md
  docs/netdata-agent/configuration/running-the-netdata-agent-behind-a-reverse-proxy/Running-behind-nginx.md
  docs/netdata-agent/sizing-netdata-agents/README.md
  docs/netdata-assistant.md
  docs/netdata-cloud/README.md
  docs/netdata-cloud/authentication-and-authorization/enterprise-sso-authentication.md
  docs/netdata-cloud/authentication-and-authorization/role-based-access-model.md
  docs/netdata-cloud/view-plan-and-billing.md
  docs/observability-centralization-points/README.md
  docs/observability-centralization-points/best-practices.md
  docs/observability-centralization-points/logs-centralization-points-with-systemd-journald/README.md
  docs/observability-centralization-points/logs-centralization-points-with-systemd-journald/active-journal-source-without-encryption.md
  docs/observability-centralization-points/logs-centralization-points-with-systemd-journald/passive-journal-centralization-with-encryption-using-self-signed-certificates.md
  docs/observability-centralization-points/logs-centralization-points-with-systemd-journald/passive-journal-centralization-without-encryption.md
  docs/observability-centralization-points/metrics-centralization-points/README.md
  docs/observability-centralization-points/metrics-centralization-points/clustering-and-high-availability-of-netdata-parents.md
  docs/observability-centralization-points/metrics-centralization-points/configuration.md
  docs/observability-centralization-points/metrics-centralization-points/faq.md
  docs/observability-centralization-points/metrics-centralization-points/replication-of-past-samples.md
  docs/security-and-privacy-design/README.md
  docs/security-and-privacy-design/netdata-agent-security.md
  docs/security-and-privacy-design/netdata-cloud-security.md
  docs/top-monitoring-netdata-functions.md
Labels: area/docs

#19111 change dim order because of colours in reboot_required
  src/collectors/proc.plugin/run_reboot_required.c
Labels: area/collectors, collectors/proc
