Repository netdata/netdata, pull requests merged in 2024-12, with the labels that each got.

#19114 disable python.d/example
  src/collectors/python.d.plugin/python.d.conf
Labels: area/collectors, collectors/python.d

#19118 Disable mimalloc by default / enable explicitly if needed
  CMakeLists.txt
Labels: area/build

#19120 change default nice level to 0
  src/daemon/daemon.c
Labels: area/daemon

#19121 Move eBPF code from linetdata to src/collector
  CMakeLists.txt
  src/collectors/ebpf.plugin/ebpf.h
  src/collectors/ebpf.plugin/ebpf_apps.h
  src/collectors/ebpf.plugin/ebpf_disk.h
  src/collectors/ebpf.plugin/libbpf_api/README.md
  src/collectors/ebpf.plugin/libbpf_api/ebpf.c
  src/collectors/ebpf.plugin/libbpf_api/ebpf.h
  src/libnetdata/ebpf/README.md
Labels: area/docs, area/collectors, area/build, collectors/ebpf

#19125 Integrations gha, remove .js and .json files after the process
  .github/workflows/generate-integrations.yml
Labels: area/ci

#19122 Address installer minor issues (Windows)
  packaging/installer/package-windows.sh
  packaging/windows/netdata.wxs.in
  packaging/windows/package-windows.sh
Labels: area/packaging

#19117 Reduce EBPF memory usage
  src/collectors/ebpf.plugin/ebpf.c
  src/collectors/ebpf.plugin/ebpf_apps.c
  src/collectors/ebpf.plugin/ebpf_apps.h
Labels: area/collectors, collectors/ebpf

#19124 Avoid scanning charts for replication status
  src/database/sqlite/sqlite_aclk_node.c
Labels: area/database, area/aclk

#19128 fix(system-info): change id_like and name mac -> macOS
  src/daemon/system-info.sh
Labels: area/daemon

#19127 fix(packaging): correct go linux 386 checksum
  packaging/check-for-go-toolchain.sh
Labels: area/packaging

#19129 docs(windows/hyperv): add Hyper-V metadata
  src/collectors/windows.plugin/metadata.yaml
Labels: area/collectors, area/metadata, collectors/windows

#19130 chore(windows/hyperv): small Hyper-V fixes
  src/collectors/windows.plugin/perflib-hyperv.c
Labels: area/collectors, collectors/windows

#19133 ci: fix build/Prepare Artifacts
  .github/workflows/build.yml
Labels: area/ci

#19134 docs: restructure readme intro for better readability
  README.md
Labels: area/docs

#19135 minor beatification of log messages
  src/ml/ml.cc
  src/plugins.d/pluginsd_internals.c
  src/streaming/protocol/commands.c
  src/streaming/stream-handshake.c
  src/streaming/stream-handshake.h
  src/streaming/stream-receiver-connection.c
  src/streaming/stream-receiver.c
  src/streaming/stream-sender.c
Labels: area/streaming, area/ml, area/plugins.d

#19136 fixed bug in streaming sender read
  src/database/engine/rrdengineapi.c
  src/streaming/stream-receiver.c
  src/streaming/stream-sender-internals.h
  src/streaming/stream-sender.c
  src/streaming/stream-thread.c
  src/streaming/stream-thread.h
Labels: area/database, area/streaming

#19138 ci: fix build/create release
  .github/workflows/build.yml
Labels: area/ci

#19140 docs: Plans and ACLK docs edits
  docs/netdata-cloud/view-plan-and-billing.md
  src/aclk/README.md
Labels: area/docs, area/aclk

#19143 chore(go.d.plugin): improve function parser
  src/go/plugin/go.d/agent/functions/function.go
  src/go/plugin/go.d/agent/functions/manager.go
  src/go/plugin/go.d/agent/functions/parser.go
Labels: area/collectors, collectors/go.d, area/go

#19132 Modify Claim Screen (Windows Installer)
  packaging/windows/netdata.wxs.in
Labels: area/packaging

#19145 chore(go.d.plugin): simplify netdataapi pkg
  src/go/pkg/netdataapi/api.go
  src/go/pkg/netdataapi/api_test.go
  src/go/pkg/netdataapi/opts.go
  src/go/plugin/go.d/agent/agent.go
  src/go/plugin/go.d/agent/functions/manager.go
  src/go/plugin/go.d/agent/jobmgr/di.go
  src/go/plugin/go.d/agent/jobmgr/dyncfg.go
  src/go/plugin/go.d/agent/module/job.go
Labels: area/collectors, collectors/go.d, area/go

#19146 chore(go.d.plugin): simplify main
  src/go/cmd/godplugin/config.go
  src/go/cmd/godplugin/main.go
  src/go/plugin/go.d/agent/agent.go
  src/go/plugin/go.d/agent/setup.go
  src/go/plugin/go.d/agent/setup_test.go
  src/go/plugin/go.d/examples/simple/main.go
Labels: area/collectors, collectors/go.d, area/go

#19147 MSSQL Metadatas (windows.plugin)
  src/collectors/windows.plugin/metadata.yaml
Labels: area/collectors, area/metadata, collectors/windows

#19154 fix(go.d): correct unlockall impl
  src/go/plugin/go.d/agent/filelock/filelock.go
  src/go/plugin/go.d/agent/filelock/filelock_test.go
Labels: area/collectors, collectors/go.d, area/go

#19155 fix(go.d): correct sd dir
  src/go/cmd/godplugin/config.go
Labels: area/collectors, collectors/go.d, area/go

#19156 fix(build): fix building go.d on 32bit
  src/go/go.mod
  src/go/go.sum
Labels: area/collectors, collectors/go.d, area/go

#19158 NET Framework metadata (Windows.plugin Part 1)
  src/collectors/windows.plugin/metadata.yaml
Labels: area/collectors, area/metadata, collectors/windows

#19160 docs: edit Authentication and Authorization section
  docs/netdata-cloud/authentication-and-authorization/README.md
  docs/netdata-cloud/authentication-and-authorization/enterprise-sso-authentication.md
  docs/netdata-cloud/authentication-and-authorization/role-based-access-model.md
Labels: area/docs

#19165 add units per context to /api/v3/contexts
  src/database/contexts/api_v2_contexts.c
Labels: area/database

#19166 send quit to plugins
  src/plugins.d/pluginsd_parser.c
Labels: area/plugins.d

#19159 Remove Option from Installer (Windows)
  packaging/windows/netdata.wxs.in
Labels: area/packaging

#19163 Update cloud virtual host name
  src/plugins.d/pluginsd_parser.c
Labels: area/plugins.d

#19171 Processor Metadata (Windows Plugin)
  src/collectors/windows.plugin/metadata.yaml
  src/health/health.d/cpu.conf
Labels: area/health, area/collectors, area/metadata, collectors/windows

#19175 Add Objects metadata (Windows Plugin)
  src/collectors/windows.plugin/metadata.yaml
Labels: area/collectors, area/metadata, collectors/windows

#19174 Fixup URLs in package repo documentation to use index files.
  packaging/installer/methods/packages.md
Labels: area/packaging, area/docs

#19182 Disks Metadata (Windows plugin)
  src/collectors/windows.plugin/metadata.yaml
Labels: area/collectors, area/metadata, collectors/windows

#19183 fix(kickstart): netdata_avail_check on Ubuntu
  packaging/installer/kickstart.sh
Labels: area/packaging

#19187 ci: fix update-website workflow
  .github/workflows/generate-integrations.yml
  .github/workflows/update-website.yml
Labels: area/ci

#19190 docs: remove a duplicated row
  src/libnetdata/log/README.md
Labels: area/docs

#19188 Network Metadata (Windows plugin)
  src/collectors/windows.plugin/metadata.yaml
Labels: area/collectors, area/metadata, collectors/windows

#19186 Streaming improvements No 4
  CMakeLists.txt
  src/daemon/analytics.c
  src/daemon/config/netdata-conf-backwards-compatibility.c
  src/daemon/config/netdata-conf-global.c
  src/daemon/config/netdata-conf-logs.c
  src/daemon/config/netdata-conf.c
  src/daemon/main.c
  src/daemon/pulse/pulse-workers.c
  src/daemon/static_threads.c
  src/database/rrd.h
  src/database/rrdhost.c
  src/libnetdata/locks/spinlock.h
  src/libnetdata/log/nd_log.h
  src/libnetdata/threads/threads.c
  src/libnetdata/threads/threads.h
  src/ml/ml.cc
  src/plugins.d/pluginsd_parser.c
  src/plugins.d/pluginsd_parser.h
  src/plugins.d/pluginsd_replication.c
  src/streaming/protocol/command-begin-set-end.c
  src/streaming/protocol/command-nodeid.c
  src/streaming/protocol/commands.c
  src/streaming/replication.c
  src/streaming/stream-capabilities.c
  src/streaming/stream-conf.c
  src/streaming/stream-conf.h
  src/streaming/stream-connector.c
  src/streaming/stream-receiver-connection.c
  src/streaming/stream-receiver.c
  src/streaming/stream-sender-commit.c
  src/streaming/stream-sender-execute.c
  src/streaming/stream-sender.c
  src/streaming/stream-thread.c
  src/streaming/stream-thread.h
  src/streaming/stream-waiting-list.c
  src/streaming/stream-waiting-list.h
  src/web/api/queries/backfill.c
  src/web/api/queries/backfill.h
  src/web/api/queries/query.c
  src/web/server/h2o/http_server.c
  src/web/server/h2o/http_server.h
Labels: area/web, area/daemon, area/database, area/streaming, area/ml, area/build, area/plugins.d

#19195 Add cross-architecture build tests for Go code.
  .github/scripts/get-go-version.py
  .github/workflows/go-tests.yml
Labels: area/ci

#19193 Streaming Improvements No 5
  CMakeLists.txt
  src/collectors/ebpf.plugin/ebpf_socket.c
  src/database/rrd.h
  src/database/rrdfunctions-internals.h
  src/database/rrdfunctions.c
  src/database/rrdhost-state-id.c
  src/database/rrdhost-state-id.h
  src/database/rrdhost.c
  src/libnetdata/common.h
  src/plugins.d/pluginsd_parser.c
  src/plugins.d/pluginsd_parser.h
  src/streaming/stream-receiver.c
  src/streaming/stream-sender.c
  src/streaming/stream-thread.c
  src/streaming/stream-thread.h
  src/web/api/queries/backfill.c
Labels: area/web, area/collectors, area/database, area/streaming, area/build, collectors/ebpf, area/plugins.d

#19194 Remove July arrays
  CMakeLists.txt
  src/daemon/main.c
  src/daemon/pulse/pulse-dbengine.c
  src/database/engine/pdc.h
  src/database/engine/rrdengine.c
  src/database/engine/rrdengineapi.h
  src/libnetdata/july/README.md
  src/libnetdata/july/july.c
  src/libnetdata/july/july.h
  src/libnetdata/libnetdata.h
Labels: area/docs, area/daemon, area/database, area/build

#19204 Streaming improvements No 7
  CMakeLists.txt
  src/daemon/analytics.c
  src/daemon/config/netdata-conf-backwards-compatibility.c
  src/daemon/config/netdata-conf-cloud.c
  src/daemon/config/netdata-conf-cloud.h
  src/daemon/config/netdata-conf-db.c
  src/daemon/config/netdata-conf-web.c
  src/daemon/config/netdata-conf-web.h
  src/daemon/config/netdata-conf.h
  src/daemon/pulse/pulse-daemon-memory.c
  src/daemon/pulse/pulse-db-dbengine.c
  src/daemon/pulse/pulse-db-dbengine.h
  src/daemon/pulse/pulse-db-rrd.c
  src/daemon/pulse/pulse-db-rrd.h
  src/daemon/pulse/pulse-dictionary.c
  src/daemon/pulse/pulse-dictionary.h
  src/daemon/pulse/pulse.h
  src/database/ram/rrddim_mem.c
  src/database/rrddim.c
  src/database/sqlite/sqlite_aclk.c
  src/libnetdata/config/appconfig.c
  src/libnetdata/config/appconfig.h
  src/ml/ml_config.cc
  src/plugins.d/plugins_d.c
  src/streaming/replication.c
  src/streaming/stream-conf.c
  src/streaming/stream-conf.h
  src/streaming/stream.conf
  src/web/api/queries/backfill.c
  src/web/server/static/static-threaded.c
Labels: area/web, area/daemon, area/database, area/streaming, area/aclk, area/ml, area/build, area/plugins.d

#19205 feat(go.d.plugin): add dyncfg vnodes
  src/go/cmd/godplugin/config.go
  src/go/cmd/godplugin/main.go
  src/go/plugin/go.d/agent/agent.go
  src/go/plugin/go.d/agent/functions/input.go
  src/go/plugin/go.d/agent/functions/manager_test.go
  src/go/plugin/go.d/agent/functions/parser.go
  src/go/plugin/go.d/agent/jobmgr/dyncfg.go
  src/go/plugin/go.d/agent/jobmgr/dyncfg_collector.go
  src/go/plugin/go.d/agent/jobmgr/dyncfg_vnode.go
  src/go/plugin/go.d/agent/jobmgr/manager.go
  src/go/plugin/go.d/agent/jobmgr/vnode_config_schema.json
  src/go/plugin/go.d/agent/module/job.go
  src/go/plugin/go.d/agent/setup.go
  src/go/plugin/go.d/agent/vnodes/vnodes.go
  src/go/plugin/go.d/agent/vnodes/vnodes_test.go
  src/go/plugin/go.d/collector/snmp/testdata/config.json
  src/go/plugin/go.d/collector/snmp/testdata/config.yaml
Labels: area/collectors, collectors/go.d, area/go

#19207 dyncfg vnodes improvements
  src/go/plugin/go.d/agent/jobmgr/dyncfg.go
  src/go/plugin/go.d/agent/jobmgr/dyncfg_vnode.go
  src/go/plugin/go.d/agent/jobmgr/manager.go
  src/go/plugin/go.d/agent/jobmgr/vnode_config_schema.json
  src/go/plugin/go.d/agent/vnodes/config_schema.json
  src/go/plugin/go.d/agent/vnodes/vnodes.go
Labels: area/collectors, collectors/go.d, area/go

#19213 build(deps): bump github.com/vmware/govmomi from 0.46.2 to 0.46.3
  src/go/go.mod
  src/go/go.sum
  src/go/plugin/go.d/collector/vsphere/collector_test.go
Labels: area/collectors, collectors/go.d, area/go

#19215 fix: use setuid as a fallback for static builds when setcap fails for plugins
  packaging/makeself/install-or-update.sh
Labels: area/packaging

#19206 Streaming improvements No 8
  src/daemon/common.h
  src/daemon/config/netdata-conf-cloud.c
  src/daemon/config/netdata-conf-cloud.h
  src/daemon/config/netdata-conf-db.c
  src/daemon/config/netdata-conf-global.c
  src/daemon/config/netdata-conf-global.h
  src/daemon/config/netdata-conf-web.c
  src/daemon/config/netdata-conf-web.h
  src/daemon/daemon.c
  src/daemon/pulse/pulse-daemon-memory.c
  src/database/engine/cache.c
  src/database/engine/cache.h
  src/database/engine/metric.c
  src/database/engine/page.c
  src/database/engine/rrdengineapi.c
  src/database/sqlite/sqlite_metadata.c
  src/health/health_dyncfg.c
  src/libnetdata/os/get_system_cpus.c
  src/libnetdata/os/get_system_cpus.h
  src/libnetdata/os/os.c
  src/libnetdata/os/os.h
  src/ml/ml_config.cc
  src/streaming/replication.c
  src/streaming/stream-conf.c
  src/streaming/stream-path.c
  src/streaming/stream-receiver.c
  src/streaming/stream-thread.c
  src/web/api/queries/backfill.c
Labels: area/web, area/health, area/daemon, area/database, area/streaming, area/ml

#19218 disable h20
  packaging/build-package.sh
  packaging/installer/functions.sh
Labels: area/packaging

#19222 removing IP address information. Bumping traefik version
  docs/netdata-cloud/netdata-cloud-on-prem/installation.md
  src/aclk/README.md
Labels: area/docs, area/aclk

#19199 Add dynamic rooms docs
  docs/netdata-cloud/node-membership-rules.md
Labels: area/docs

#19221 fix compiler warnings
  src/aclk/mqtt_websockets/mqtt_wss_client.c
  src/collectors/apps.plugin/apps_pid.c
  src/collectors/log2journal/log2journal.h
  src/collectors/network-viewer.plugin/network-viewer.c
  src/collectors/proc.plugin/proc_stat.c
  src/collectors/profile.plugin/plugin_profile.cc
  src/collectors/statsd.plugin/statsd.c
  src/collectors/windows-events.plugin/windows-events-fields-cache.c
  src/collectors/windows-events.plugin/windows-events-providers.c
  src/collectors/windows.plugin/perflib-hyperv.c
  src/collectors/windows.plugin/perflib-mssql.c
  src/daemon/pulse/pulse-db-dbengine.c
  src/database/contexts/api_v2_contexts_alerts.c
  src/database/engine/pagecache.c
  src/database/engine/pdc.c
  src/database/sqlite/sqlite_aclk_alert.c
  src/libnetdata/facets/facets.c
  src/libnetdata/local-sockets/local-sockets.h
  src/libnetdata/os/system-maps/cached-gid-groupname.c
  src/libnetdata/os/system-maps/cached-sid-username.c
  src/libnetdata/os/system-maps/cached-uid-username.c
  src/libnetdata/os/system-maps/system-services.h
  src/libnetdata/os/windows-perflib/perflib-names.c
  src/libnetdata/query_progress/progress.c
  src/libnetdata/simple_hashtable/simple_hashtable.h
  src/libnetdata/simple_hashtable/simple_hashtable_undef.h
  src/libnetdata/spawn_server/log-forwarder.c
  src/libnetdata/spawn_server/spawn_server_nofork.c
  src/libnetdata/storage_number/storage_number.c
  src/plugins.d/pluginsd_internals.h
  src/streaming/rrdhost-status.h
  src/streaming/stream-compression/compression.c
  src/streaming/stream-parents.h
  src/streaming/stream-thread.c
  src/web/api/v2/api_v2_ilove/ilove.c
Labels: area/web, area/collectors, area/daemon, area/database, area/streaming, area/aclk, collectors/apps, collectors/proc, collectors/statsd, collectors/windows, area/plugins.d

#19226 fix(ml): remove logging for earch not acquired dimension
  src/ml/ml.cc
Labels: area/ml

#19223 add MegaCli64 to ndsudo
  src/collectors/utils/ndsudo.c
Labels: area/collectors

#19228 Fix: fix heap use after free in health
  CMakeLists.txt
  src/database/rrd.h
  src/database/rrdhost.c
  src/database/sqlite/sqlite_health.c
  src/database/sqlite/sqlite_metadata.c
  src/health/health-alert-entry.h
  src/health/health-alert-log.h
  src/health/health_event_loop.c
  src/health/health_log.c
  src/health/health_notifications.c
  src/health/health_prototypes.c
  src/health/rrdcalc.c
Labels: area/health, area/database, area/build

#19230 docs: split redistributed and add judy and dlib
  REDISTRIBUTED.md
Labels: area/docs

#19231 docs: update ui 3rd party link
  REDISTRIBUTED.md
Labels: area/docs

#19232 fix(go.d/mongodb): add missing disconnect in initClient
  src/go/plugin/go.d/collector/mongodb/client.go
Labels: area/collectors, collectors/go.d, area/go

#19236 docs: fix win deploy command for nightly
  integrations/deploy.yaml
Labels: area/metadata

#19234 Allow more threads to load contexts during startup
  src/database/sqlite/sqlite_metadata.c
Labels: area/database

#19235 RRDHOST system-info isolation
  CMakeLists.txt
  src/aclk/aclk.c
  src/aclk/aclk_rx_msgs.c
  src/daemon/analytics.c
  src/daemon/analytics.h
  src/daemon/buildinfo.c
  src/daemon/buildinfo.h
  src/daemon/main.c
  src/database/contexts/api_v2_contexts.c
  src/database/rrd.h
  src/database/rrdfunctions.c
  src/database/rrdhost-system-info.c
  src/database/rrdhost-system-info.h
  src/database/rrdhost.c
  src/database/rrdlabels.h
  src/database/sqlite/sqlite_aclk.c
  src/database/sqlite/sqlite_aclk_node.c
  src/database/sqlite/sqlite_metadata.c
  src/libnetdata/buffer/buffer.h
  src/plugins.d/pluginsd_parser.c
  src/streaming/rrdhost-status.c
  src/streaming/stream-connector.c
  src/streaming/stream-receiver-connection.c
  src/web/api/v1/api_v1_info.c
Labels: area/web, area/daemon, area/database, area/streaming, area/aclk, area/build, area/plugins.d

#19239 update netdata internal metrics ctx
  src/collectors/statsd.plugin/statsd.c
  src/daemon/pulse/pulse-http-api.c
  src/daemon/pulse/pulse-queries.c
  src/ml/ad_charts.cc
Labels: area/collectors, area/daemon, area/ml, collectors/statsd

#19241 Do not call finalize on shutdown
  src/database/engine/rrdengineapi.c
  src/health/rrdcalc.c
Labels: area/health, area/database

#19244 Avoid blocking waiting for an event during shutdown
  src/database/sqlite/sqlite_aclk.c
Labels: area/database, area/aclk

#19246 chore(go.d): simplify cli is help
  src/go/cmd/godplugin/main.go
  src/go/plugin/go.d/cli/cli.go
Labels: area/collectors, collectors/go.d, area/go

#19247 chore(aclk/mqtt): remove client_id len check
  src/aclk/mqtt_websockets/mqtt_ng.c
Labels: area/aclk

#19245 Health transition saving optimization
  src/health/health.h
  src/health/health_event_loop.c
  src/health/health_log.c
  src/health/health_notifications.c
  src/health/rrdcalc.c
Labels: area/health

#19224 Fix static builds to ensure usability on intended baseline hardware.
  .github/scripts/build-static.sh
  packaging/makeself/build-static.sh
  packaging/makeself/functions.sh
  packaging/makeself/jobs/20-openssl.install.sh
  packaging/makeself/jobs/50-bash-5.1.16.install.sh
  packaging/makeself/jobs/50-curl.install.sh
  packaging/makeself/jobs/50-ioping-1.3.install.sh
  packaging/makeself/jobs/50-libnetfilter_acct-1.0.3.install.sh
  packaging/makeself/jobs/70-netdata-git.install.sh
  packaging/makeself/jobs/99-makeself.install.sh
  packaging/makeself/run-all-jobs.sh
Labels: area/ci, area/packaging

#19252 feat(go.d): add NATS collector
  src/go/plugin/go.d/README.md
  src/go/plugin/go.d/collector/init.go
  src/go/plugin/go.d/collector/nats/charts.go
  src/go/plugin/go.d/collector/nats/collect.go
  src/go/plugin/go.d/collector/nats/collector.go
  src/go/plugin/go.d/collector/nats/collector_test.go
  src/go/plugin/go.d/collector/nats/config_schema.json
  src/go/plugin/go.d/collector/nats/metadata.yml
  src/go/plugin/go.d/collector/nats/restapi.go
  src/go/plugin/go.d/collector/nats/testdata/config.json
  src/go/plugin/go.d/collector/nats/testdata/config.yaml
  src/go/plugin/go.d/collector/nats/testdata/v2.10.24/healthz-ok.json
  src/go/plugin/go.d/collector/nats/testdata/v2.10.24/varz.json
  src/go/plugin/go.d/config/go.d.conf
  src/go/plugin/go.d/config/go.d/nats.conf
  src/go/plugin/go.d/config/go.d/sd/docker.conf
  src/go/plugin/go.d/config/go.d/sd/net_listeners.conf
Labels: area/docs, area/collectors, collectors/go.d, area/go

#19253 docs: fix nats metadata suffix
  src/go/plugin/go.d/collector/nats/metadata.yaml
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#19257 docs: change "node-membership-rules" filename/title
  docs/netdata-cloud/node-rule-based-room-assignment.md
Labels: area/docs

#19258 fix crash when the DRM file does not contain the right information
  src/collectors/proc.plugin/sys_class_drm.c
Labels: area/collectors, collectors/proc

#19260 Add an alert guide for reboot required
  src/health/guides/reboot_required/system_post_update_reboot_status.md
Labels: area/docs, area/health

#19261 HELP and TYPE in prometheus fix
  src/exporting/prometheus/prometheus.c
  src/libnetdata/libjudy/judyl-typed.h
Labels: area/exporting

#19262 improvement(go.d/nats): add accstatz metrics
  src/go/plugin/go.d/collector/nats/charts.go
  src/go/plugin/go.d/collector/nats/collect.go
  src/go/plugin/go.d/collector/nats/collector.go
  src/go/plugin/go.d/collector/nats/collector_test.go
  src/go/plugin/go.d/collector/nats/config_schema.json
  src/go/plugin/go.d/collector/nats/metadata.yaml
  src/go/plugin/go.d/collector/nats/restapi.go
  src/go/plugin/go.d/collector/nats/testdata/config.json
  src/go/plugin/go.d/collector/nats/testdata/config.yaml
  src/go/plugin/go.d/collector/nats/testdata/v2.10.24/accstatz.json
  src/go/plugin/go.d/collector/nats/testdata/v2.10.24/varz.json
  src/go/plugin/go.d/pkg/web/request_config.go
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#19264 improvement(go.d/nats): add routez metrics
  src/go/plugin/go.d/collector/nats/charts.go
  src/go/plugin/go.d/collector/nats/collect.go
  src/go/plugin/go.d/collector/nats/collector.go
  src/go/plugin/go.d/collector/nats/collector_test.go
  src/go/plugin/go.d/collector/nats/metadata.yaml
  src/go/plugin/go.d/collector/nats/restapi.go
  src/go/plugin/go.d/collector/nats/testdata/v2.10.24/routez.json
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#19273 build(deps): update go toolchain to v1.23.4
  packaging/check-for-go-toolchain.sh
Labels: area/packaging

#19266 improvement(go.d/nats): add gatewayz metrics
  src/go/plugin/go.d/collector/nats/cache.go
  src/go/plugin/go.d/collector/nats/charts.go
  src/go/plugin/go.d/collector/nats/collect.go
  src/go/plugin/go.d/collector/nats/collector.go
  src/go/plugin/go.d/collector/nats/collector_test.go
  src/go/plugin/go.d/collector/nats/metadata.yaml
  src/go/plugin/go.d/collector/nats/restapi.go
  src/go/plugin/go.d/collector/nats/testdata/v2.10.24/gatewayz.json
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#19274 Skip label cleanup during metadata processing
  src/database/sqlite/sqlite_metadata.c
Labels: area/database

#19277 fix(go.d/rabbitmq): handle insufficient perms when querying definitions
  src/go/plugin/go.d/collector/rabbitmq/collect.go
  src/go/plugin/go.d/collector/rabbitmq/collect_nodes.go
  src/go/plugin/go.d/collector/rabbitmq/collector.go
  src/go/plugin/go.d/collector/rabbitmq/collector_test.go
  src/go/plugin/go.d/collector/rabbitmq/restapi.go
  src/go/plugin/go.d/collector/rabbitmq/testdata/v4.0.3/cluster/whoami.json
Labels: area/collectors, collectors/go.d, area/go

#19275 Updates to onprem docs
  docs/netdata-cloud/netdata-cloud-on-prem/poc-without-k8s.md
  docs/netdata-cloud/netdata-cloud-on-prem/troubleshooting.md
Labels: area/docs

#19278 Fix metric retention check and cleanup
  src/daemon/pulse/pulse-db-dbengine.c
  src/database/engine/metric.c
  src/database/engine/metric.h
Labels: area/daemon, area/database

#19280 improvement(go.d/nats): add server_id label
  src/go/plugin/go.d/collector/nats/charts.go
  src/go/plugin/go.d/collector/nats/collect.go
  src/go/plugin/go.d/collector/nats/collector.go
  src/go/plugin/go.d/collector/nats/metadata.yaml
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#19279 docs: improve on-prem troubleshooting readability
  docs/netdata-cloud/netdata-cloud-on-prem/troubleshooting.md
Labels: area/docs

#19282 improvement(go.d/nats): add leafz metrics
  src/go/plugin/go.d/collector/nats/cache.go
  src/go/plugin/go.d/collector/nats/charts.go
  src/go/plugin/go.d/collector/nats/collect.go
  src/go/plugin/go.d/collector/nats/collector_test.go
  src/go/plugin/go.d/collector/nats/metadata.yaml
  src/go/plugin/go.d/collector/nats/restapi.go
  src/go/plugin/go.d/collector/nats/testdata/v2.10.24/leafz.json
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#19284 fix go.d/nats tests
  src/go/plugin/go.d/collector/nats/collect.go
  src/go/plugin/go.d/collector/nats/collector_test.go
Labels: area/collectors, collectors/go.d, area/go

#19285 improvement(go.d/nats): add basic jetstream metrics
  src/go/plugin/go.d/collector/nats/charts.go
  src/go/plugin/go.d/collector/nats/collect.go
  src/go/plugin/go.d/collector/nats/collector_test.go
  src/go/plugin/go.d/collector/nats/metadata.yaml
  src/go/plugin/go.d/collector/nats/restapi.go
  src/go/plugin/go.d/collector/nats/testdata/v2.10.24/jsz.json
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#19287 bump dag req jinja version
  packaging/dag/requirements.txt
Labels: area/packaging

#19288 fix(netdata-updater.sh): remove commit_check_file directory
  packaging/installer/netdata-updater.sh
Labels: area/packaging

#19289 fix(netdata-updater.sh): ensure tmpdir-path argument is always passed
  packaging/installer/netdata-updater.sh
Labels: area/packaging

#19290 remove go.d/windows
  src/go/plugin/go.d/README.md
  src/go/plugin/go.d/collector/init.go
  src/go/plugin/go.d/collector/windows/README.md
  src/go/plugin/go.d/collector/windows/charts.go
  src/go/plugin/go.d/collector/windows/collect.go
  src/go/plugin/go.d/collector/windows/collect_ad.go
  src/go/plugin/go.d/collector/windows/collect_adcs.go
  src/go/plugin/go.d/collector/windows/collect_adfs.go
  src/go/plugin/go.d/collector/windows/collect_collector.go
  src/go/plugin/go.d/collector/windows/collect_cpu.go
  src/go/plugin/go.d/collector/windows/collect_exchange.go
  src/go/plugin/go.d/collector/windows/collect_hyperv.go
  src/go/plugin/go.d/collector/windows/collect_iis.go
  src/go/plugin/go.d/collector/windows/collect_logical_disk.go
  src/go/plugin/go.d/collector/windows/collect_logon.go
  src/go/plugin/go.d/collector/windows/collect_memory.go
  src/go/plugin/go.d/collector/windows/collect_mssql.go
  src/go/plugin/go.d/collector/windows/collect_net.go
  src/go/plugin/go.d/collector/windows/collect_netframework.go
  src/go/plugin/go.d/collector/windows/collect_os.go
  src/go/plugin/go.d/collector/windows/collect_process.go
  src/go/plugin/go.d/collector/windows/collect_service.go
  src/go/plugin/go.d/collector/windows/collect_system.go
  src/go/plugin/go.d/collector/windows/collect_tcp.go
  src/go/plugin/go.d/collector/windows/collect_thermalzone.go
  src/go/plugin/go.d/collector/windows/collector.go
  src/go/plugin/go.d/collector/windows/collector_test.go
  src/go/plugin/go.d/collector/windows/config_schema.json
  src/go/plugin/go.d/collector/windows/init.go
  src/go/plugin/go.d/collector/windows/testdata/config.json
  src/go/plugin/go.d/collector/windows/testdata/config.yaml
  src/go/plugin/go.d/collector/windows/testdata/v0.20.0/metrics.txt
  src/go/plugin/go.d/config/go.d.conf
  src/go/plugin/go.d/config/go.d/windows.conf
  src/health/health.d/windows.conf
Labels: area/docs, area/health, area/collectors, collectors/go.d, area/go

#19292 build(deps): add bison and flex
  packaging/installer/dependencies/alpine.sh
  packaging/installer/dependencies/arch.sh
  packaging/installer/dependencies/centos.sh
  packaging/installer/dependencies/clearlinux.sh
  packaging/installer/dependencies/debian.sh
  packaging/installer/dependencies/fedora.sh
  packaging/installer/dependencies/freebsd.sh
  packaging/installer/dependencies/gentoo.sh
  packaging/installer/dependencies/ol.sh
  packaging/installer/dependencies/opensuse.sh
  packaging/installer/dependencies/rockylinux.sh
  packaging/installer/dependencies/ubuntu.sh
  packaging/installer/install-required-packages.sh
Labels: area/packaging

#19294 fix(debugfs/sensors): correct driver label value
  src/collectors/debugfs.plugin/module-libsensors.c
Labels: area/collectors, collectors/debugfs

#19297 more descriptive alert transition logs
  src/health/health_log.c
Labels: area/health

#19298 nd_poll() fairness
  CMakeLists.txt
  src/collectors/debugfs.plugin/module-libsensors.c
  src/libnetdata/locks/rw-spinlock.c
  src/libnetdata/locks/rw-spinlock.h
  src/libnetdata/socket/nd-poll.c
  src/libnetdata/socket/nd-poll.h
  src/libnetdata/socket/poll-events.c
  src/streaming/stream-receiver.c
  src/streaming/stream-sender.c
  src/streaming/stream-thread.c
Labels: area/collectors, area/streaming, area/build, collectors/debugfs

#19300 Improve stream sending thread error message
  src/streaming/stream-conf.c
Labels: area/streaming

#19299 Streaming improvements No 12
  src/collectors/debugfs.plugin/module-libsensors.c
  src/collectors/proc.plugin/proc_diskstats.c
  src/daemon/pulse/pulse-daemon-memory.c
  src/daemon/pulse/pulse-http-api.c
  src/daemon/pulse/pulse-http-api.h
  src/daemon/pulse/pulse-ingestion.c
  src/daemon/pulse/pulse-ml.c
  src/daemon/pulse/pulse-queries.c
  src/daemon/pulse/pulse-sqlite3.c
  src/database/engine/cache.c
  src/database/rrdlabels.c
  src/libnetdata/local-sockets/local-sockets.h
  src/libnetdata/log/systemd-cat-native.c
  src/libnetdata/socket/poll-events.c
  src/libnetdata/socket/socket.c
  src/libnetdata/waiting-queue/waiting-queue.c
  src/libnetdata/waiting-queue/waiting-queue.h
  src/streaming/stream-sender-commit.c
  src/streaming/stream-sender.c
  src/web/server/web_client_cache.c
Labels: area/web, area/collectors, area/daemon, area/database, area/streaming, collectors/proc, collectors/debugfs

#19303 improvement(go.d/nats): add cluster_name label and jetstream status chart
  src/go/plugin/go.d/collector/nats/charts.go
  src/go/plugin/go.d/collector/nats/collect.go
  src/go/plugin/go.d/collector/nats/collector.go
  src/go/plugin/go.d/collector/nats/collector_test.go
Labels: area/collectors, collectors/go.d, area/go

#19302 Waiting Queue
  CMakeLists.txt
  src/collectors/systemd-journal.plugin/systemd-journal-annotations.c
  src/database/engine/cache.c
  src/libnetdata/libnetdata.h
  src/libnetdata/locks/spinlock.c
  src/libnetdata/locks/waitq.c
  src/libnetdata/locks/waitq.h
  src/libnetdata/log/nd_log.c
  src/libnetdata/waiting-queue/waiting-queue.c
  src/libnetdata/waiting-queue/waiting-queue.h
  src/streaming/stream-sender-api.c
  src/streaming/stream-sender-commit.c
  src/streaming/stream-sender-internals.h
Labels: area/collectors, area/database, area/streaming, area/build, collectors/systemd-journal

#19306 Fix shutdown
  src/daemon/daemon-shutdown.c
  src/database/engine/cache.c
Labels: area/daemon, area/database

#19304 load rrdcontext dimensions in batches
  src/database/contexts/internal.h
  src/database/contexts/metric.c
  src/database/contexts/worker.c
  src/database/sqlite/sqlite_context.c
  src/database/sqlite/sqlite_context.h
Labels: area/database
