Repository netdata/netdata, pull requests merged in 2024-09, with the labels that each got.

#18449 go.d sensors add parsing intrusion to exec method
  src/go/plugin/go.d/modules/sensors/charts.go
  src/go/plugin/go.d/modules/sensors/collect_exec.go
  src/go/plugin/go.d/modules/sensors/collect_sysfs.go
  src/go/plugin/go.d/modules/sensors/metadata.yaml
  src/go/plugin/go.d/modules/sensors/sensors_test.go
  src/go/plugin/go.d/modules/sensors/testdata/sensors-temp.txt
  src/go/plugin/go.d/modules/sensors/testdata/sensors.txt
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#18447 ilert Integration
  src/health/notifications/alarm-notify.sh.in
  src/health/notifications/health_alarm_notify.conf
  src/health/notifications/ilert/metadata.yaml
Labels: area/health, area/metadata

#18443 Windows Permissions
  .gitignore
  CMakeLists.txt
  packaging/windows/resources/netdata.manifest.in
  packaging/windows/resources/netdata.rc
  packaging/windows/resources/netdata_claim.manifest.in
  packaging/windows/resources/netdatacli.manifest.in
  packaging/windows/resources/netdatacli.rc
Labels: area/packaging, area/build

#18466 go.d storcli: fix unmarshal driveInfo
  src/go/plugin/go.d/modules/storcli/collect_drives.go
Labels: area/collectors, collectors/go.d, area/go

#18455 Cleanup, rename and packaging fix (Windows Codes)
  CMakeLists.txt
  packaging/windows/installer.nsi
  packaging/windows/package-windows.sh
  src/claim/main.c
  src/claim/main.h
  src/claim/ui.c
  src/claim/ui.h
Labels: area/packaging, area/claim, area/build

#18469 Fix node index in alerts
  src/database/contexts/api_v2_contexts_alerts.c
Labels: area/database

#18470 Improve processing of pending alerts
  src/database/sqlite/sqlite_aclk_alert.c
Labels: area/database, area/aclk

#18464 w1sensor collector Go implementation
  src/go/plugin/go.d/README.md
  src/go/plugin/go.d/config/go.d.conf
  src/go/plugin/go.d/config/go.d/w1sensor.conf
  src/go/plugin/go.d/modules/init.go
  src/go/plugin/go.d/modules/w1sensor/charts.go
  src/go/plugin/go.d/modules/w1sensor/collect.go
  src/go/plugin/go.d/modules/w1sensor/config_schema.json
  src/go/plugin/go.d/modules/w1sensor/metadata.yaml
  src/go/plugin/go.d/modules/w1sensor/testdata/config.json
  src/go/plugin/go.d/modules/w1sensor/testdata/config.yaml
  src/go/plugin/go.d/modules/w1sensor/testdata/devices/28-01204e9d2fa0/w1_slave
  src/go/plugin/go.d/modules/w1sensor/testdata/devices/28-01204e9d2fa1/w1_slave
  src/go/plugin/go.d/modules/w1sensor/testdata/devices/28-01204e9d2fa2/w1_slave
  src/go/plugin/go.d/modules/w1sensor/testdata/devices/28-01204e9d2fa3/w1_slave
  src/go/plugin/go.d/modules/w1sensor/w1sensor.go
  src/go/plugin/go.d/modules/w1sensor/w1sensor_test.go
Labels: area/docs, area/collectors, collectors/go.d, area/metadata, area/go

#18471 Remove w1sensor in favor of Go implementation
  CMakeLists.txt
  src/collectors/python.d.plugin/python.d.conf
  src/collectors/python.d.plugin/w1sensor/README.md
  src/collectors/python.d.plugin/w1sensor/integrations/1-wire_sensors.md
  src/collectors/python.d.plugin/w1sensor/metadata.yaml
  src/collectors/python.d.plugin/w1sensor/w1sensor.chart.py
  src/collectors/python.d.plugin/w1sensor/w1sensor.conf
Labels: area/docs, area/collectors, area/build, collectors/python.d, area/metadata

#18474 added version to systemd-journal info response
  src/collectors/systemd-journal.plugin/systemd-journal.c
Labels: area/collectors, collectors/systemd-journal

#18482 fix win sysinfo installed ram calculation
  src/daemon/win_system-info.c
Labels: area/daemon

#18480 Update LIbbpf
  packaging/cmake/Modules/NetdataEBPFCORE.cmake
  packaging/cmake/Modules/NetdataEBPFLegacy.cmake
  packaging/cmake/Modules/NetdataLibBPF.cmake
Labels: area/packaging

#18484 Remove Warnings (ebpf)
  src/collectors/ebpf.plugin/ebpf.c
  src/collectors/ebpf.plugin/ebpf_apps.c
  src/collectors/ebpf.plugin/ebpf_apps.h
  src/collectors/ebpf.plugin/ebpf_cachestat.c
  src/collectors/ebpf.plugin/ebpf_dcstat.c
  src/collectors/ebpf.plugin/ebpf_fd.c
  src/collectors/ebpf.plugin/ebpf_shm.c
  src/collectors/ebpf.plugin/ebpf_swap.c
Labels: area/collectors, collectors/ebpf

#18488 Improve processing on removed alerts after agent restart
  src/database/sqlite/sqlite_health.c
Labels: area/database

#18481 remove charts.d/apcupsd
  CMakeLists.txt
  src/collectors/charts.d.plugin/apcupsd/README.md
  src/collectors/charts.d.plugin/apcupsd/apcupsd.chart.sh
  src/collectors/charts.d.plugin/apcupsd/apcupsd.conf
  src/collectors/charts.d.plugin/apcupsd/integrations/apc_ups.md
  src/collectors/charts.d.plugin/apcupsd/metadata.yaml
Labels: area/docs, area/collectors, area/build, collectors/charts.d, area/metadata

#18489 add go.d/apcupsd
  src/go/plugin/go.d/README.md
  src/go/plugin/go.d/config/go.d.conf
  src/go/plugin/go.d/config/go.d/apcupsd.conf
  src/go/plugin/go.d/config/go.d/sd/net_listeners.conf
  src/go/plugin/go.d/modules/apcupsd/apcupsd.go
  src/go/plugin/go.d/modules/apcupsd/apcupsd_test.go
  src/go/plugin/go.d/modules/apcupsd/charts.go
  src/go/plugin/go.d/modules/apcupsd/client.go
  src/go/plugin/go.d/modules/apcupsd/collect.go
  src/go/plugin/go.d/modules/apcupsd/config_schema.json
  src/go/plugin/go.d/modules/apcupsd/metadata.yaml
  src/go/plugin/go.d/modules/apcupsd/status.go
  src/go/plugin/go.d/modules/apcupsd/testdata/config.json
  src/go/plugin/go.d/modules/apcupsd/testdata/config.yaml
  src/go/plugin/go.d/modules/apcupsd/testdata/status.txt
  src/go/plugin/go.d/modules/apcupsd/testdata/status_commlost.txt
  src/go/plugin/go.d/modules/init.go
  src/health/health.d/apcupsd.conf
Labels: area/docs, area/health, area/collectors, collectors/go.d, area/metadata, area/go

#18503 add varnishstat and varnishadm to ndsudo
  src/collectors/plugins.d/ndsudo.c
Labels: area/collectors, collectors/plugins.d

#18499 remove python.d/varnish
  CMakeLists.txt
  src/collectors/python.d.plugin/varnish/README.md
  src/collectors/python.d.plugin/varnish/integrations/varnish.md
  src/collectors/python.d.plugin/varnish/metadata.yaml
  src/collectors/python.d.plugin/varnish/varnish.chart.py
  src/collectors/python.d.plugin/varnish/varnish.conf
Labels: area/docs, area/collectors, area/build, collectors/python.d, area/metadata

#18507 server dashboard v3 static files, when available
  src/web/server/web_client.c
  src/web/server/web_client.h
Labels: area/web

#18491 varnish collector Go implementation
  src/collectors/python.d.plugin/python.d.conf
  src/go/plugin/go.d/README.md
  src/go/plugin/go.d/agent/module/charts.go
  src/go/plugin/go.d/config/go.d.conf
  src/go/plugin/go.d/config/go.d/varnish.conf
  src/go/plugin/go.d/modules/ap/ap_test.go
  src/go/plugin/go.d/modules/init.go
  src/go/plugin/go.d/modules/varnish/charts.go
  src/go/plugin/go.d/modules/varnish/collect.go
  src/go/plugin/go.d/modules/varnish/config_schema.json
  src/go/plugin/go.d/modules/varnish/exec.go
  src/go/plugin/go.d/modules/varnish/init.go
  src/go/plugin/go.d/modules/varnish/metadata.yaml
  src/go/plugin/go.d/modules/varnish/testdata/config.json
  src/go/plugin/go.d/modules/varnish/testdata/config.yaml
  src/go/plugin/go.d/modules/varnish/testdata/v7.1/varnishstat.txt
  src/go/plugin/go.d/modules/varnish/varnish.go
  src/go/plugin/go.d/modules/varnish/varnish_test.go
Labels: area/docs, area/collectors, collectors/python.d, collectors/go.d, area/metadata, area/go

#18509 go.d add function to execute a command inside a Docker container
  src/go/plugin/go.d/pkg/dockerhost/dockerhost.go
Labels: area/collectors, collectors/go.d, area/go

#18512 go.d/varnish: add docker support
  src/go/plugin/go.d/config/go.d/sd/docker.conf
  src/go/plugin/go.d/modules/varnish/config_schema.json
  src/go/plugin/go.d/modules/varnish/exec.go
  src/go/plugin/go.d/modules/varnish/init.go
  src/go/plugin/go.d/modules/varnish/metadata.yaml
  src/go/plugin/go.d/modules/varnish/testdata/config.json
  src/go/plugin/go.d/modules/varnish/testdata/config.yaml
  src/go/plugin/go.d/modules/varnish/varnish.go
  src/go/plugin/go.d/pkg/dockerhost/dockerhost.go
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#18516 go.d/varnish update meta
  src/go/plugin/go.d/modules/varnish/metadata.yaml
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#18483 [WIP] Windows-Events Logs Explorer
  CMakeLists.txt
  packaging/utils/compile-on-windows.sh
  src/collectors/apps.plugin/apps_functions.c
  src/collectors/freeipmi.plugin/freeipmi_plugin.c
  src/collectors/network-viewer.plugin/network-viewer.c
  src/collectors/plugins.d/plugins_d.c
  src/collectors/plugins.d/plugins_d.h
  src/collectors/plugins.d/pluginsd_parser.c
  src/collectors/systemd-journal.plugin/systemd-journal-files.c
  src/collectors/systemd-journal.plugin/systemd-journal-sampling.h
  src/collectors/systemd-journal.plugin/systemd-journal.c
  src/collectors/systemd-journal.plugin/systemd-main.c
  src/collectors/systemd-journal.plugin/systemd-units.c
  src/collectors/windows-events.plugin/windows-events-query.c
  src/collectors/windows-events.plugin/windows-events-query.h
  src/collectors/windows-events.plugin/windows-events-sid.c
  src/collectors/windows-events.plugin/windows-events-sid.h
  src/collectors/windows-events.plugin/windows-events-sources.c
  src/collectors/windows-events.plugin/windows-events-sources.h
  src/collectors/windows-events.plugin/windows-events-unicode.c
  src/collectors/windows-events.plugin/windows-events-unicode.h
  src/collectors/windows-events.plugin/windows-events-xml.c
  src/collectors/windows-events.plugin/windows-events-xml.h
  src/collectors/windows-events.plugin/windows-events.c
  src/collectors/windows-events.plugin/windows-events.h
  src/libnetdata/buffer/buffer.c
  src/libnetdata/buffer/buffer.h
  src/libnetdata/facets/facets.c
  src/libnetdata/facets/logs_query_status.h
  src/libnetdata/functions_evloop/functions_evloop.h
  src/libnetdata/http/content_type.c
  src/libnetdata/json/json-c-parser-inline.c
  src/libnetdata/os/os.h
  src/libnetdata/os/timestamps.c
  src/libnetdata/os/timestamps.h
  src/libnetdata/parsers/duration.c
  src/libnetdata/parsers/duration.h
  src/libnetdata/parsers/size.c
  src/libnetdata/parsers/size.h
  src/libnetdata/simple_hashtable.h
  src/libnetdata/spawn_server/spawn_server_posix.c
  src/web/api/functions/function-bearer_get_token.c
  src/web/server/web_client.c
Labels: area/packaging, area/web, area/collectors, area/build, collectors/apps, collectors/freeipmi, collectors/plugins.d, collectors/systemd-journal

#18518 improve netdatacli docs
  src/cli/README.md
Labels: area/docs

#18519 remove save-database from netdatacli usage
  src/daemon/commands.c
Labels: area/daemon

#18525 Windows Events: recalculate the length of unicode strings returned every time
  src/collectors/windows-events.plugin/windows-events-query.c
Labels: area/collectors

#18529 go.d/snmp: add "organization" label (vnode)
  src/go/plugin/go.d/modules/snmp/charts.go
  src/go/plugin/go.d/modules/snmp/collect.go
  src/go/plugin/go.d/modules/snmp/collect_sys_info.go
  src/go/plugin/go.d/modules/snmp/entnum/lookup.go
  src/go/plugin/go.d/modules/snmp/snmp_test.go
Labels: area/collectors, collectors/go.d, area/go

#18530 go.d snmp handle multiline sysDescr
  src/go/plugin/go.d/agent/module/job.go
  src/go/plugin/go.d/modules/snmp/collect.go
  src/go/plugin/go.d/modules/snmp/collect_sys_info.go
Labels: area/collectors, collectors/go.d, area/go

#18531 go.d add vnode guid validation
  src/go/plugin/go.d/agent/vnodes/vnodes.go
  src/go/plugin/go.d/modules/snmp/collect_sys_info.go
  src/go/plugin/go.d/modules/snmp/init.go
Labels: area/collectors, collectors/go.d, area/go

#18534 go.d snmp fix vnode host labels
  src/go/plugin/go.d/modules/snmp/collect.go
Labels: area/collectors, collectors/go.d, area/go

#18535 go.d snmp change label name organization->vendor
  src/go/plugin/go.d/modules/snmp/charts.go
  src/go/plugin/go.d/modules/snmp/collect.go
Labels: area/collectors, collectors/go.d, area/go

#18494 Windows Plugin Metrics (Thermal and Memory)
  CMakeLists.txt
  src/collectors/all.h
  src/collectors/windows.plugin/perflib-memory.c
  src/collectors/windows.plugin/perflib-thermalzone.c
  src/collectors/windows.plugin/windows_plugin.c
  src/collectors/windows.plugin/windows_plugin.h
Labels: area/collectors, area/build, collectors/windows

#18537 add typesense to apps_groups.conf
  src/collectors/apps.plugin/apps_groups.conf
Labels: area/collectors, collectors/apps

#18538 go.d add typesense collector
  src/go/plugin/go.d/README.md
  src/go/plugin/go.d/agent/discovery/sd/discoverer/dockerd/docker.go
  src/go/plugin/go.d/config/go.d.conf
  src/go/plugin/go.d/config/go.d/sd/docker.conf
  src/go/plugin/go.d/config/go.d/sd/net_listeners.conf
  src/go/plugin/go.d/config/go.d/typesense.conf
  src/go/plugin/go.d/modules/init.go
  src/go/plugin/go.d/modules/typesense/charts.go
  src/go/plugin/go.d/modules/typesense/collect.go
  src/go/plugin/go.d/modules/typesense/config_schema.json
  src/go/plugin/go.d/modules/typesense/init.go
  src/go/plugin/go.d/modules/typesense/metadata.yaml
  src/go/plugin/go.d/modules/typesense/testdata/config.json
  src/go/plugin/go.d/modules/typesense/testdata/config.yaml
  src/go/plugin/go.d/modules/typesense/testdata/v27.0/health_nok.json
  src/go/plugin/go.d/modules/typesense/testdata/v27.0/health_ok.json
  src/go/plugin/go.d/modules/typesense/testdata/v27.0/stats.json
  src/go/plugin/go.d/modules/typesense/typesense.go
  src/go/plugin/go.d/modules/typesense/typesense_test.go
Labels: area/docs, area/collectors, collectors/go.d, area/metadata, area/go

#18542 go.d typesense: fix name in meta
  src/go/plugin/go.d/modules/typesense/metadata.yaml
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#18544 go.d fix duplicate closeBody func
  src/go/plugin/go.d/modules/activemq/apiclient.go
  src/go/plugin/go.d/modules/apache/collect.go
  src/go/plugin/go.d/modules/bind/json_client.go
  src/go/plugin/go.d/modules/bind/xml3_client.go
  src/go/plugin/go.d/modules/clickhouse/collect.go
  src/go/plugin/go.d/modules/consul/collect.go
  src/go/plugin/go.d/modules/couchbase/collect.go
  src/go/plugin/go.d/modules/couchdb/collect.go
  src/go/plugin/go.d/modules/dnsdist/collect.go
  src/go/plugin/go.d/modules/dockerhub/apiclient.go
  src/go/plugin/go.d/modules/elasticsearch/collect.go
  src/go/plugin/go.d/modules/fluentd/apiclient.go
  src/go/plugin/go.d/modules/hdfs/client.go
  src/go/plugin/go.d/modules/httpcheck/collect.go
  src/go/plugin/go.d/modules/icecast/collect.go
  src/go/plugin/go.d/modules/ipfs/collect.go
  src/go/plugin/go.d/modules/lighttpd/apiclient.go
  src/go/plugin/go.d/modules/logstash/collect.go
  src/go/plugin/go.d/modules/monit/collect.go
  src/go/plugin/go.d/modules/nginx/apiclient.go
  src/go/plugin/go.d/modules/nginxplus/nginx_http_api_query.go
  src/go/plugin/go.d/modules/nginxvts/collect.go
  src/go/plugin/go.d/modules/phpdaemon/client.go
  src/go/plugin/go.d/modules/pihole/collect.go
  src/go/plugin/go.d/modules/powerdns/collect.go
  src/go/plugin/go.d/modules/powerdns_recursor/collect.go
  src/go/plugin/go.d/modules/puppet/collect.go
  src/go/plugin/go.d/modules/rabbitmq/collect.go
  src/go/plugin/go.d/modules/riakkv/collect.go
  src/go/plugin/go.d/modules/rspamd/collect.go
  src/go/plugin/go.d/modules/scaleio/client/client.go
  src/go/plugin/go.d/modules/squid/collect.go
  src/go/plugin/go.d/modules/tengine/apiclient.go
  src/go/plugin/go.d/modules/tomcat/collect.go
  src/go/plugin/go.d/modules/typesense/collect.go
  src/go/plugin/go.d/modules/vcsa/client/client.go
  src/go/plugin/go.d/pkg/web/client.go
Labels: area/collectors, collectors/go.d, area/go

#18553 fix some docs issues
  docs/dashboards-and-charts/alerts-tab.md
  docs/dashboards-and-charts/anomaly-advisor-tab.md
  docs/developer-and-contributor-corner/collect-apache-nginx-web-logs.md
  docs/netdata-agent/backup-and-restore-an-agent.md
  docs/netdata-agent/configuration/common-configuration-changes.md
  packaging/installer/methods/ansible.md
  packaging/maintainers/README.md
  src/aclk/mqtt_websockets/README.md
Labels: area/packaging, area/docs, area/aclk

#18554 add go.d/nginxunit
  src/go/plugin/go.d/README.md
  src/go/plugin/go.d/config/go.d.conf
  src/go/plugin/go.d/config/go.d/nginxunit.conf
  src/go/plugin/go.d/config/go.d/sd/docker.conf
  src/go/plugin/go.d/config/go.d/sd/net_listeners.conf
  src/go/plugin/go.d/modules/init.go
  src/go/plugin/go.d/modules/nginxunit/charts.go
  src/go/plugin/go.d/modules/nginxunit/collect.go
  src/go/plugin/go.d/modules/nginxunit/config_schema.json
  src/go/plugin/go.d/modules/nginxunit/metadata.yaml
  src/go/plugin/go.d/modules/nginxunit/nginxunit.go
  src/go/plugin/go.d/modules/nginxunit/nginxunit_test.go
  src/go/plugin/go.d/modules/nginxunit/testdata/config.json
  src/go/plugin/go.d/modules/nginxunit/testdata/config.yaml
  src/go/plugin/go.d/modules/nginxunit/testdata/v1.29.1/status.json
Labels: area/docs, area/collectors, collectors/go.d, area/metadata, area/go

#18556 go.d fix typesense/nginxunit meta
  src/go/plugin/go.d/modules/nginxunit/config_schema.json
  src/go/plugin/go.d/modules/nginxunit/metadata.yaml
  src/go/plugin/go.d/modules/typesense/metadata.yaml
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#18557 add nginx unit to apps_groups.conf
  src/collectors/apps.plugin/apps_groups.conf
Labels: area/collectors, collectors/apps

#18559 go.d/prometheus: add label_prefix config option
  src/go/plugin/go.d/modules/prometheus/charts.go
  src/go/plugin/go.d/modules/prometheus/config_schema.json
  src/go/plugin/go.d/modules/prometheus/metadata.yaml
  src/go/plugin/go.d/modules/prometheus/prometheus.go
  src/go/plugin/go.d/modules/prometheus/testdata/config.json
  src/go/plugin/go.d/modules/prometheus/testdata/config.yaml
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#18540 Misc code cleanup
  CMakeLists.txt
  src/aclk/aclk.h
  src/aclk/aclk_alarm_api.h
  src/aclk/aclk_query.c
  src/aclk/aclk_rrdhost_state.h
  src/aclk/aclk_rx_msgs.h
  src/aclk/aclk_tx_msgs.c
  src/aclk/aclk_tx_msgs.h
  src/aclk/aclk_util.c
  src/database/rrd.h
Labels: area/database, area/aclk, area/build

#18561 go.d rename example => testrandom
  src/go/plugin/go.d/README.md
  src/go/plugin/go.d/config/go.d.conf
  src/go/plugin/go.d/config/go.d/example.conf
  src/go/plugin/go.d/modules/example/README.md
  src/go/plugin/go.d/modules/example/init.go
  src/go/plugin/go.d/modules/init.go
  src/go/plugin/go.d/modules/testrandom/charts.go
  src/go/plugin/go.d/modules/testrandom/collect.go
  src/go/plugin/go.d/modules/testrandom/config_schema.json
  src/go/plugin/go.d/modules/testrandom/init.go
  src/go/plugin/go.d/modules/testrandom/testdata/config.json
  src/go/plugin/go.d/modules/testrandom/testdata/config.yaml
  src/go/plugin/go.d/modules/testrandom/testrandom.go
  src/go/plugin/go.d/modules/testrandom/testrandom_test.go
Labels: area/docs, area/collectors, collectors/go.d, area/go

#18536 Fetch metadata by hash for DEB repos.
  packaging/repoconfig/CMakeLists.txt
  packaging/repoconfig/deb.changelog
  packaging/repoconfig/netdata.sources.in
  packaging/repoconfig/rpm.changelog
Labels: area/packaging

#18501 Assorted build cleanup for external data collection plugins.
  CMakeLists.txt
  netdata-installer.sh
  netdata.spec.in
  packaging/build-package.sh
  packaging/cmake/Modules/Packaging.cmake
  packaging/installer/functions.sh
Labels: area/packaging, area/build

#18526 Add charts for TCPv4/TCPV6/ICMP errors in windows
  src/collectors/all.h
  src/collectors/windows.plugin/perflib-network.c
Labels: area/collectors, collectors/windows

#18528 Windows Events Improvements 1
  CMakeLists.txt
  packaging/utils/compile-on-windows.sh
  src/collectors/systemd-journal.plugin/systemd-journal.c
  src/collectors/windows-events.plugin/windows-events-fields-cache.c
  src/collectors/windows-events.plugin/windows-events-fields-cache.h
  src/collectors/windows-events.plugin/windows-events-publishers.c
  src/collectors/windows-events.plugin/windows-events-publishers.h
  src/collectors/windows-events.plugin/windows-events-query.c
  src/collectors/windows-events.plugin/windows-events-query.h
  src/collectors/windows-events.plugin/windows-events-sid.c
  src/collectors/windows-events.plugin/windows-events-sid.h
  src/collectors/windows-events.plugin/windows-events-sources.c
  src/collectors/windows-events.plugin/windows-events-sources.h
  src/collectors/windows-events.plugin/windows-events-unicode.c
  src/collectors/windows-events.plugin/windows-events-unicode.h
  src/collectors/windows-events.plugin/windows-events-xml.c
  src/collectors/windows-events.plugin/windows-events-xml.h
  src/collectors/windows-events.plugin/windows-events.c
  src/collectors/windows-events.plugin/windows-events.h
  src/libnetdata/buffer/buffer.h
  src/libnetdata/facets/facets.c
  src/libnetdata/facets/facets.h
  src/libnetdata/facets/logs_query_status.h
  src/libnetdata/socket/socket.c
  src/libnetdata/socket/socket.h
  src/web/api/v3/api_v3_settings.c
  src/web/api/web_api.c
Labels: area/packaging, area/web, area/collectors, area/build, collectors/systemd-journal

#18562 add cpu model to host labels
  src/database/rrd.h
  src/database/rrdhost.c
Labels: area/database

#18563 Windows Events Improvements 2
  src/collectors/windows-events.plugin/windows-events-query.c
  src/collectors/windows-events.plugin/windows-events-query.h
  src/collectors/windows-events.plugin/windows-events.c
  src/libnetdata/spawn_server/spawn_library.c
  src/libnetdata/spawn_server/spawn_library.h
  src/libnetdata/spawn_server/spawn_server_internals.h
  src/libnetdata/spawn_server/spawn_server_libuv.c
  src/libnetdata/spawn_server/spawn_server_windows.c
  src/web/server/static/static-threaded.c
Labels: area/web, area/collectors

#18564 Windows Events Log Explorer improvements 3
  src/collectors/windows-events.plugin/windows-events-publishers.c
  src/collectors/windows-events.plugin/windows-events-query.c
  src/collectors/windows-events.plugin/windows-events-unicode.h
  src/collectors/windows-events.plugin/windows-events.c
  src/collectors/windows-events.plugin/windows-events.h
Labels: area/collectors

#18570 go.d sd docker: remove unnecessary info message
  src/go/plugin/go.d/agent/discovery/sd/discoverer/dockerd/docker.go
Labels: area/collectors, collectors/go.d, area/go

#18569 go.d/portcheck: add UDP support
  src/go/plugin/go.d/modules/portcheck/charts.go
  src/go/plugin/go.d/modules/portcheck/check_tcp_port.go
  src/go/plugin/go.d/modules/portcheck/check_udp_port.go
  src/go/plugin/go.d/modules/portcheck/collect.go
  src/go/plugin/go.d/modules/portcheck/config_schema.json
  src/go/plugin/go.d/modules/portcheck/init.go
  src/go/plugin/go.d/modules/portcheck/metadata.yaml
  src/go/plugin/go.d/modules/portcheck/portcheck.go
  src/go/plugin/go.d/modules/portcheck/portcheck_test.go
  src/go/plugin/go.d/modules/portcheck/testdata/config.json
  src/go/plugin/go.d/modules/portcheck/testdata/config.yaml
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#18573 go.d portcheck update meta
  src/go/plugin/go.d/modules/portcheck/integrations/tcp_endpoints.md
  src/go/plugin/go.d/modules/portcheck/metadata.yaml
Labels: area/docs, area/collectors, collectors/go.d, area/metadata, area/go

#18575 go.d/portcheck schema add tabs
  src/go/plugin/go.d/modules/portcheck/config_schema.json
  src/go/plugin/go.d/modules/portcheck/metadata.yaml
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#18577 go.d/portcheck: update status duration calculation
  src/go/plugin/go.d/modules/portcheck/check_tcp_port.go
  src/go/plugin/go.d/modules/portcheck/check_udp_port.go
  src/go/plugin/go.d/modules/portcheck/collect.go
  src/go/plugin/go.d/modules/portcheck/portcheck_test.go
Labels: area/collectors, collectors/go.d, area/go

#18579 WEIGHTS: use node_id when available, otherwise host_id
  src/web/api/queries/weights.c
Labels: area/web

#18568 Reduce connection timeout and fallback to IPV4 for ACLK connections
  src/aclk/aclk.c
  src/aclk/aclk_otp.c
  src/aclk/aclk_otp.h
  src/aclk/https_client.c
  src/aclk/https_client.h
  src/aclk/mqtt_websockets/mqtt_wss_client.c
  src/aclk/mqtt_websockets/mqtt_wss_client.h
  src/libnetdata/socket/socket.c
  src/libnetdata/socket/socket.h
Labels: area/aclk

#18587 Update kickstart.sh
  packaging/installer/kickstart.sh
Labels: area/packaging

#18581 go.d/sensors refactor
  src/go/plugin/go.d/modules/sensors/charts.go
  src/go/plugin/go.d/modules/sensors/collect.go
  src/go/plugin/go.d/modules/sensors/collect_exec.go
  src/go/plugin/go.d/modules/sensors/collect_sysfs.go
  src/go/plugin/go.d/modules/sensors/config_schema.json
  src/go/plugin/go.d/modules/sensors/exec.go
  src/go/plugin/go.d/modules/sensors/init.go
  src/go/plugin/go.d/modules/sensors/lmsensors/currentsensor.go
  src/go/plugin/go.d/modules/sensors/lmsensors/doc.go
  src/go/plugin/go.d/modules/sensors/lmsensors/fansensor.go
  src/go/plugin/go.d/modules/sensors/lmsensors/fs.go
  src/go/plugin/go.d/modules/sensors/lmsensors/intrusionsensor.go
  src/go/plugin/go.d/modules/sensors/lmsensors/parse.go
  src/go/plugin/go.d/modules/sensors/lmsensors/powersensor.go
  src/go/plugin/go.d/modules/sensors/lmsensors/scanner.go
  src/go/plugin/go.d/modules/sensors/lmsensors/scanner_test.go
  src/go/plugin/go.d/modules/sensors/lmsensors/sensor.go
  src/go/plugin/go.d/modules/sensors/lmsensors/temperaturesensor.go
  src/go/plugin/go.d/modules/sensors/lmsensors/voltagesensor.go
  src/go/plugin/go.d/modules/sensors/metadata.yaml
  src/go/plugin/go.d/modules/sensors/sensors.go
  src/go/plugin/go.d/modules/sensors/sensors_test.go
  src/go/plugin/go.d/modules/sensors/testdata/config.json
  src/go/plugin/go.d/modules/sensors/testdata/config.yaml
  src/go/plugin/go.d/modules/sensors/testdata/sensors.txt
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#18595 go.d/sensors update meta
  src/go/plugin/go.d/modules/sensors/collect.go
  src/go/plugin/go.d/modules/sensors/integrations/linux_sensors_lm-sensors.md
  src/go/plugin/go.d/modules/sensors/metadata.yaml
  src/go/plugin/go.d/modules/sensors/sensors_test.go
Labels: area/docs, area/collectors, collectors/go.d, area/metadata, area/go

#18597 go.d/sensors fix meta
  src/go/plugin/go.d/modules/sensors/metadata.yaml
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#18590 Add DLLs to CmakeLists.txt
  CMakeLists.txt
Labels: area/build

#18603 Publish Windows installers on nightly builds.
  .github/workflows/build.yml
Labels: area/ci

#18583 Add ceph commands to ndsudo
  src/collectors/plugins.d/ndsudo.c
Labels: area/collectors, collectors/plugins.d

#18607 WEB SERVER: retry sending data when errno is EAGAIN
  src/web/server/web_client.c
Labels: area/web

#18602 Patch release 1.47.2
  src/aclk/aclk.c
  src/aclk/aclk_otp.c
  src/aclk/aclk_otp.h
  src/aclk/https_client.c
  src/aclk/https_client.h
  src/aclk/mqtt_websockets/mqtt_wss_client.c
  src/aclk/mqtt_websockets/mqtt_wss_client.h
  src/libnetdata/socket/socket.c
  src/libnetdata/socket/socket.h
Labels: area/aclk

#18609 Correctly include Windows installer in release creation.
  .github/workflows/build.yml
Labels: area/ci

#18608 feat: HW req for onprem installation.
  docs/netdata-cloud/netdata-cloud-on-prem/installation.md
Labels: area/docs

#18618 go.d/uwsgi: don't write just connect and read
  src/go/plugin/go.d/modules/uwsgi/client.go
  src/go/plugin/go.d/modules/uwsgi/collect.go
  src/go/plugin/go.d/modules/uwsgi/uwsgi.go
  src/go/plugin/go.d/modules/uwsgi/uwsgi_test.go
  src/go/plugin/go.d/pkg/socket/client.go
Labels: area/collectors, collectors/go.d, area/go

#18619 go.d/hddtemp: connect and read
  src/go/plugin/go.d/modules/hddtemp/client.go
  src/go/plugin/go.d/modules/hddtemp/collect.go
  src/go/plugin/go.d/modules/hddtemp/hddtemp.go
  src/go/plugin/go.d/modules/hddtemp/hddtemp_test.go
Labels: area/collectors, collectors/go.d, area/go

#18584 Remove python ceph collector implementation
  CMakeLists.txt
  src/collectors/python.d.plugin/ceph/README.md
  src/collectors/python.d.plugin/ceph/ceph.chart.py
  src/collectors/python.d.plugin/ceph/ceph.conf
  src/collectors/python.d.plugin/ceph/integrations/ceph.md
  src/collectors/python.d.plugin/ceph/metadata.yaml
  src/collectors/python.d.plugin/python.d.conf
Labels: area/docs, area/collectors, area/build, collectors/python.d, area/metadata

#18582 Port Ceph collector to Go
  src/go/plugin/go.d/README.md
  src/go/plugin/go.d/agent/discovery/sd/pipeline/promport.go
  src/go/plugin/go.d/config/go.d.conf
  src/go/plugin/go.d/config/go.d/ceph.conf
  src/go/plugin/go.d/config/go.d/sd/net_listeners.conf
  src/go/plugin/go.d/modules/ceph/api.go
  src/go/plugin/go.d/modules/ceph/auth.go
  src/go/plugin/go.d/modules/ceph/ceph.go
  src/go/plugin/go.d/modules/ceph/ceph_test.go
  src/go/plugin/go.d/modules/ceph/charts.go
  src/go/plugin/go.d/modules/ceph/collect.go
  src/go/plugin/go.d/modules/ceph/collect_health.go
  src/go/plugin/go.d/modules/ceph/collect_osd.go
  src/go/plugin/go.d/modules/ceph/collect_pools.go
  src/go/plugin/go.d/modules/ceph/config_schema.json
  src/go/plugin/go.d/modules/ceph/init.go
  src/go/plugin/go.d/modules/ceph/metadata.yaml
  src/go/plugin/go.d/modules/ceph/testdata/config.json
  src/go/plugin/go.d/modules/ceph/testdata/config.yaml
  src/go/plugin/go.d/modules/ceph/testdata/v16.2.15/api_health_minimal.json
  src/go/plugin/go.d/modules/ceph/testdata/v16.2.15/api_monitor.json
  src/go/plugin/go.d/modules/ceph/testdata/v16.2.15/api_osd.json
  src/go/plugin/go.d/modules/ceph/testdata/v16.2.15/api_pool_stats.json
  src/go/plugin/go.d/modules/init.go
Labels: area/docs, area/collectors, collectors/go.d, area/metadata, area/go

#18628 go.d/ceph: fix leftovers after #18582
  src/go/plugin/go.d/modules/ceph/charts.go
  src/go/plugin/go.d/modules/ceph/metadata.yaml
  src/health/health.d/ceph.conf
Labels: area/health, area/collectors, collectors/go.d, area/metadata, area/go

#18629 go.d/postgres: fix checkpoints query for postgres 17
  src/go/plugin/go.d/modules/postgres/collect.go
  src/go/plugin/go.d/modules/postgres/do_query_global.go
  src/go/plugin/go.d/modules/postgres/postgres_test.go
  src/go/plugin/go.d/modules/postgres/queries.go
Labels: area/collectors, collectors/go.d, area/go

#18633 go.d pkg/socket: keep only one timeout option
  src/go/plugin/go.d/modules/beanstalk/client.go
  src/go/plugin/go.d/modules/boinc/client.go
  src/go/plugin/go.d/modules/dovecot/client.go
  src/go/plugin/go.d/modules/gearman/client.go
  src/go/plugin/go.d/modules/hddtemp/client.go
  src/go/plugin/go.d/modules/memcached/client.go
  src/go/plugin/go.d/modules/openvpn/init.go
  src/go/plugin/go.d/modules/tor/client.go
  src/go/plugin/go.d/modules/unbound/init.go
  src/go/plugin/go.d/modules/upsd/client.go
  src/go/plugin/go.d/modules/uwsgi/client.go
  src/go/plugin/go.d/modules/zookeeper/init.go
  src/go/plugin/go.d/pkg/socket/client.go
  src/go/plugin/go.d/pkg/socket/client_test.go
  src/go/plugin/go.d/pkg/socket/types.go
Labels: area/collectors, collectors/go.d, area/go

#18635 go.d/smartctl: fix exit status check in scan
  src/go/plugin/go.d/modules/smartctl/collect.go
  src/go/plugin/go.d/modules/smartctl/scan.go
Labels: area/collectors, collectors/go.d, area/go

#18623 Change default pages per extent
  src/database/engine/rrdengine.h
Labels: area/database

#18622 Misc mqtt related code cleanup
  CMakeLists.txt
  src/aclk/aclk.c
  src/aclk/aclk_otp.c
  src/aclk/aclk_tx_msgs.c
  src/aclk/aclk_util.c
  src/aclk/aclk_util.h
  src/aclk/https_client.c
  src/aclk/mqtt_websockets/mqtt_ng.c
  src/aclk/mqtt_websockets/mqtt_ng.h
  src/aclk/mqtt_websockets/mqtt_wss_client.c
  src/aclk/mqtt_websockets/mqtt_wss_client.h
  src/aclk/mqtt_websockets/mqtt_wss_log.c
  src/aclk/mqtt_websockets/mqtt_wss_log.h
  src/aclk/mqtt_websockets/ws_client.c
  src/aclk/mqtt_websockets/ws_client.h
  src/libnetdata/c_rhash/c_rhash.c
  src/libnetdata/libnetdata.c
  src/libnetdata/libnetdata.h
  src/libnetdata/ringbuffer/ringbuffer.c
  src/libnetdata/socket/security.h
Labels: area/aclk, area/build

#18626 Remove Python OpenLDAP implementation
  CMakeLists.txt
  src/collectors/python.d.plugin/openldap/README.md
  src/collectors/python.d.plugin/openldap/integrations/openldap.md
  src/collectors/python.d.plugin/openldap/metadata.yaml
  src/collectors/python.d.plugin/openldap/openldap.chart.py
  src/collectors/python.d.plugin/openldap/openldap.conf
  src/collectors/python.d.plugin/python.d.conf
Labels: area/docs, area/collectors, area/build, collectors/python.d, area/metadata

#18638 Update file names.
  CMakeLists.txt
  src/collectors/common-contexts/common-contexts.h
  src/collectors/common-contexts/disk-io.h
  src/collectors/common-contexts/mem-available.h
  src/collectors/common-contexts/mem-pgfaults.h
  src/collectors/common-contexts/mem-swap.h
  src/collectors/common-contexts/system-interrupts.h
  src/collectors/common-contexts/system-io.h
  src/collectors/common-contexts/system-ipc.h
  src/collectors/common-contexts/system-processes.h
  src/collectors/common-contexts/system-ram.h
Labels: area/collectors, area/build

#18637 Move plugins.d directory outside of collectors
  .github/labeler.yml
  CMakeLists.txt
  docs/developer-and-contributor-corner/python-collector.md
  docs/diagrams/netdata-overview.xml
  docs/glossary.md
  docs/top-monitoring-netdata-functions.md
  packaging/installer/methods/macos.md
  src/collectors/README.md
  src/collectors/charts.d.plugin/README.md
  src/collectors/python.d.plugin/go_expvar/integrations/go_applications_expvar.md
  src/collectors/python.d.plugin/go_expvar/metadata.yaml
  src/collectors/utils/local_listeners.c
  src/collectors/utils/ndsudo.c
  src/go/pkg/netdataapi/api.go
  src/go/plugin/go.d/agent/discovery/sd/discoverer/netlisteners/netlisteners.go
  src/go/plugin/go.d/agent/module/charts.go
  src/go/plugin/go.d/docs/how-to-write-a-module.md
  src/plugins.d/README.md
  src/plugins.d/functions-table.md
  src/plugins.d/gperf-config.txt
  src/plugins.d/gperf-hashtable.h
  src/plugins.d/plugins_d.c
  src/plugins.d/plugins_d.h
  src/plugins.d/pluginsd_dyncfg.c
  src/plugins.d/pluginsd_dyncfg.h
  src/plugins.d/pluginsd_functions.c
  src/plugins.d/pluginsd_functions.h
  src/plugins.d/pluginsd_internals.c
  src/plugins.d/pluginsd_internals.h
  src/plugins.d/pluginsd_parser.c
  src/plugins.d/pluginsd_parser.h
  src/plugins.d/pluginsd_replication.c
  src/plugins.d/pluginsd_replication.h
  src/streaming/protocol/command-claimed_id.c
  src/streaming/protocol/command-nodeid.c
  src/streaming/receiver.c
  src/streaming/stream_path.c
Labels: area/ci, area/packaging, area/docs, area/collectors, area/streaming, area/build, collectors/charts.d, collectors/python.d, collectors/go.d, area/metadata, area/go

#18625 Port the OpenLDAP collector from Python to Go
  src/go/go.mod
  src/go/go.sum
  src/go/plugin/go.d/README.md
  src/go/plugin/go.d/config/go.d.conf
  src/go/plugin/go.d/config/go.d/openldap.conf
  src/go/plugin/go.d/config/go.d/sd/net_listeners.conf
  src/go/plugin/go.d/modules/init.go
  src/go/plugin/go.d/modules/openldap/charts.go
  src/go/plugin/go.d/modules/openldap/client.go
  src/go/plugin/go.d/modules/openldap/collect.go
  src/go/plugin/go.d/modules/openldap/collect_mon_counters.go
  src/go/plugin/go.d/modules/openldap/collect_operations.go
  src/go/plugin/go.d/modules/openldap/config_schema.json
  src/go/plugin/go.d/modules/openldap/metadata.yaml
  src/go/plugin/go.d/modules/openldap/openldap.go
  src/go/plugin/go.d/modules/openldap/openldap_test.go
  src/go/plugin/go.d/modules/openldap/testdata/config.json
  src/go/plugin/go.d/modules/openldap/testdata/config.yaml
Labels: area/docs, area/collectors, collectors/go.d, area/metadata, area/go

#18648 fixed freebsd cpu calculation
  src/collectors/apps.plugin/apps_os_freebsd.c
  src/collectors/apps.plugin/apps_plugin.h
Labels: area/collectors, collectors/apps
