Repository netdata/netdata, pull requests merged in 2024-05, with the labels that each got.

#17521 Events tab documentation updates
  docs/cloud/insights/events-feed.md
Labels: area/docs

#17565 go.d smartctl small improvements
  src/go/collectors/go.d.plugin/modules/smartctl/charts.go
  src/go/collectors/go.d.plugin/modules/smartctl/config_schema.json
  src/go/collectors/go.d.plugin/modules/smartctl/init.go
  src/go/collectors/go.d.plugin/modules/smartctl/metadata.yaml
  src/go/collectors/go.d.plugin/modules/smartctl/scan.go
  src/go/collectors/go.d.plugin/modules/smartctl/smart_device.go
  src/go/collectors/go.d.plugin/modules/smartctl/smartctl.go
  src/go/collectors/go.d.plugin/modules/smartctl/testdata/config.json
  src/go/collectors/go.d.plugin/modules/smartctl/testdata/config.yaml
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#17568 go.d smartctl add meta setup prerequisites
  src/go/collectors/go.d.plugin/modules/smartctl/metadata.yaml
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#17532 Clean up handling of compiler flags in CMake.
  CMakeLists.txt
  packaging/cmake/Modules/NetdataCompilerFlags.cmake
  packaging/cmake/Modules/NetdataProtobuf.cmake
Labels: area/packaging, area/build

#17533 Significantly simplify the protobuf handling in CMake.
  packaging/cmake/Modules/NetdataProtobuf.cmake
Labels: area/packaging

#17534 Detect and use ld.mold instead of the system linker.
  CMakeLists.txt
Labels: area/build

#17570 go.d prometheus remove apostrophe in label values
  src/go/collectors/go.d.plugin/modules/prometheus/charts.go
  src/go/collectors/go.d.plugin/modules/prometheus/collect.go
Labels: area/collectors, collectors/go.d, area/go

#17572 Fix handling of netdata.conf on install in build system.
  CMakeLists.txt
  netdata.spec.in
Labels: area/packaging, area/build

#17566 Increase the message size to the spawn server
  src/daemon/commands.h
  src/daemon/main.c
Labels: area/daemon

#17575 Fix compilation without `dbengine`
  src/daemon/main.c
  src/database/rrdhost.c
Labels: area/daemon, area/database

#17571 Update Netdata subscription plans documentation
  docs/cloud/alerts-configuration-manager.md
  docs/cloud/alerts-notifications/notifications.md
  docs/cloud/insights/events-feed.md
  docs/cloud/manage/plans.md
  docs/cloud/manage/role-based-access.md
  docs/cloud/manage/view-plan-billing.md
  docs/monitor/view-active-alerts.md
  integrations/cloud-authentication/metadata.yaml
  integrations/cloud-notifications/metadata.yaml
Labels: area/docs, area/metadata

#17581 fix table
  integrations/cloud-authentication/metadata.yaml
Labels: area/metadata

#17576 Cpack fixes
  packaging/cmake/Modules/Packaging.cmake
Labels: area/packaging

#17580 Fix invalid item in postinst script for Netdata package.
  packaging/cmake/control/netdata/postinst
Labels: area/packaging

#17583 fix ndsudo setuid bit for static builds
  packaging/makeself/install-or-update.sh
Labels: area/packaging

#17584 Fix DEB package conflict entries.
  packaging/cmake/Modules/Packaging.cmake
Labels: area/packaging

#17538 docs: Add Ubuntu AArch64 that is missing from the list
  docs/netdata-agent/versions-and-platforms.md
Labels: area/docs

#17587 go.d/python.d respect all netdata log levels
  src/collectors/python.d.plugin/python.d.plugin.in
  src/collectors/python.d.plugin/python_modules/bases/loggers.py
  src/go/collectors/go.d.plugin/logger/level.go
Labels: area/collectors, collectors/python.d, collectors/go.d, area/go

#17589 Fix handling of service startup in DEB packages.
  packaging/cmake/control/netdata/postinst
Labels: area/packaging

#17556 Fix handling of vendored eBPF code in CMake.
  CMakeLists.txt
  netdata-installer.sh
  netdata.spec.in
  packaging/cmake/Modules/NetdataEBPFLegacy.cmake
  packaging/cmake/Modules/NetdataLibBPF.cmake
  packaging/cmake/Modules/NetdataUtil.cmake
  packaging/installer/install-required-packages.sh
Labels: area/packaging, area/build

#17591 Update eBPF code to v1.4.1.
  packaging/cmake/Modules/NetdataEBPFCORE.cmake
  packaging/cmake/Modules/NetdataEBPFLegacy.cmake
  packaging/cmake/Modules/NetdataLibBPF.cmake
Labels: area/packaging

#17600 remove python.d/smartd_log
  CMakeLists.txt
  src/collectors/python.d.plugin/smartd_log/README.md
  src/collectors/python.d.plugin/smartd_log/integrations/s.m.a.r.t..md
  src/collectors/python.d.plugin/smartd_log/metadata.yaml
  src/collectors/python.d.plugin/smartd_log/smartd_log.chart.py
  src/collectors/python.d.plugin/smartd_log/smartd_log.conf
Labels: area/docs, area/collectors, area/build, collectors/python.d, area/metadata

#17606 go.d systemdunits add unit files state
  src/go/collectors/go.d.plugin/modules/systemdunits/charts.go
  src/go/collectors/go.d.plugin/modules/systemdunits/client.go
  src/go/collectors/go.d.plugin/modules/systemdunits/collect.go
  src/go/collectors/go.d.plugin/modules/systemdunits/collect_unit_files.go
  src/go/collectors/go.d.plugin/modules/systemdunits/collect_units.go
  src/go/collectors/go.d.plugin/modules/systemdunits/config_schema.json
  src/go/collectors/go.d.plugin/modules/systemdunits/init.go
  src/go/collectors/go.d.plugin/modules/systemdunits/metadata.yaml
  src/go/collectors/go.d.plugin/modules/systemdunits/systemdunits.go
  src/go/collectors/go.d.plugin/modules/systemdunits/systemdunits_test.go
  src/go/collectors/go.d.plugin/modules/systemdunits/testdata/config.json
  src/go/collectors/go.d.plugin/modules/systemdunits/testdata/config.yaml
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#17611 go.d dyncfg return 200 on Enable for running jobs
  src/go/collectors/go.d.plugin/agent/jobmgr/dyncfg.go
  src/go/collectors/go.d.plugin/agent/jobmgr/manager_test.go
Labels: area/collectors, collectors/go.d, area/go

#17604 Add option to limit architectures for offline installs.
  packaging/installer/kickstart.sh
Labels: area/packaging

#17612 reset health when children disconnect
  src/database/rrd.h
  src/database/rrddim.c
  src/database/rrdset.c
  src/health/health_event_loop.c
  src/health/rrdcalc.c
  src/health/rrdcalc.h
  src/streaming/receiver.c
Labels: area/health, area/database, area/streaming

#17614 Remove contrib now that we use cpack for DEB packages
  .codacy.yml
  .github/CODEOWNERS
  .github/labeler.yml
  .github/workflows/packaging.yml
  contrib/README.md
  contrib/debian/changelog
  contrib/debian/compat
  contrib/debian/conffiles
  contrib/debian/control
  contrib/debian/copyright
  contrib/debian/netdata-ebpf-code-legacy.postinst
  contrib/debian/netdata-ebpf-code-legacy.preinst
  contrib/debian/netdata-plugin-apps.postinst
  contrib/debian/netdata-plugin-apps.preinst
  contrib/debian/netdata-plugin-chartsd.postinst
  contrib/debian/netdata-plugin-chartsd.preinst
  contrib/debian/netdata-plugin-cups.postinst
  contrib/debian/netdata-plugin-cups.preinst
  contrib/debian/netdata-plugin-debugfs.postinst
  contrib/debian/netdata-plugin-debugfs.preinst
  contrib/debian/netdata-plugin-ebpf.postinst
  contrib/debian/netdata-plugin-ebpf.preinst
  contrib/debian/netdata-plugin-freeipmi.postinst
  contrib/debian/netdata-plugin-freeipmi.preinst
  contrib/debian/netdata-plugin-go.postinst
  contrib/debian/netdata-plugin-go.preinst
  contrib/debian/netdata-plugin-logs-management.postinst
  contrib/debian/netdata-plugin-logs-management.preinst
  contrib/debian/netdata-plugin-network-viewer.postinst
  contrib/debian/netdata-plugin-network-viewer.preinst
  contrib/debian/netdata-plugin-nfacct.postinst
  contrib/debian/netdata-plugin-nfacct.preinst
  contrib/debian/netdata-plugin-perf.postinst
  contrib/debian/netdata-plugin-perf.preinst
  contrib/debian/netdata-plugin-pythond.postinst
  contrib/debian/netdata-plugin-pythond.preinst
  contrib/debian/netdata-plugin-slabinfo.postinst
  contrib/debian/netdata-plugin-slabinfo.preinst
  contrib/debian/netdata-plugin-systemd-journal.postinst
  contrib/debian/netdata-plugin-systemd-journal.preinst
  contrib/debian/netdata-plugin-xenstat.postinst
  contrib/debian/netdata-plugin-xenstat.preinst
  contrib/debian/netdata.default
  contrib/debian/netdata.docs
  contrib/debian/netdata.init
  contrib/debian/netdata.install
  contrib/debian/netdata.postinst
  contrib/debian/netdata.postrm
  contrib/debian/netdata.preinst
  contrib/debian/rules
  contrib/debian/source/format
Labels: area/ci, area/packaging, area/docs

#17618 log to journal all transitions
  src/health/health_log.c
  src/health/rrdcalc.c
Labels: area/health

#17622 go.d systemdunits fix unit files selector
  src/go/collectors/go.d.plugin/modules/systemdunits/collect_unit_files.go
  src/go/collectors/go.d.plugin/modules/systemdunits/systemdunits_test.go
Labels: area/collectors, collectors/go.d, area/go

#17628 python.d remove bind_rndc
  CMakeLists.txt
  src/collectors/python.d.plugin/bind_rndc/README.md
  src/collectors/python.d.plugin/bind_rndc/bind_rndc.chart.py
  src/collectors/python.d.plugin/bind_rndc/bind_rndc.conf
  src/collectors/python.d.plugin/bind_rndc/integrations/isc_bind_rndc.md
  src/collectors/python.d.plugin/bind_rndc/metadata.yaml
  src/health/health.d/bind_rndc.conf
Labels: area/docs, area/health, area/collectors, area/build, collectors/python.d, area/metadata

#17629 go.d isc_dhcpd create a chart for each pool
  src/go/collectors/go.d.plugin/modules/isc_dhcpd/charts.go
  src/go/collectors/go.d.plugin/modules/isc_dhcpd/collect.go
  src/go/collectors/go.d.plugin/modules/isc_dhcpd/init.go
  src/go/collectors/go.d.plugin/modules/isc_dhcpd/isc_dhcpd.go
  src/go/collectors/go.d.plugin/modules/isc_dhcpd/isc_dhcpd_test.go
  src/go/collectors/go.d.plugin/modules/isc_dhcpd/metadata.yaml
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#17621 Improve handling of an alert that transitions to the REMOVED state
  src/database/sqlite/sqlite_aclk_alert.c
Labels: area/database, area/aclk

#17634 health update isc dhcp alarms
  src/health/health.d/isc_dhcpd.conf
Labels: area/health

#17633 add pcre2 to install-required-packages "netdata" for macOS
  packaging/installer/install-required-packages.sh
Labels: area/packaging

#17635 ndsudo add ssacli
  src/collectors/plugins.d/ndsudo.c
Labels: area/collectors, collectors/plugins.d

#17627 Add Sentry support to new CPack packages.
  CMakeLists.txt
  packaging/build-package.sh
  packaging/cmake/Modules/NetdataSentry.cmake
  packaging/cmake/Modules/Packaging.cmake
Labels: area/packaging, area/build

#17639 Add valkey to apps_groups.conf
  src/collectors/apps.plugin/apps_groups.conf
Labels: area/collectors, collectors/apps

#17641 logs: add ND_ALERT_STATUS to facets
  src/collectors/systemd-journal.plugin/systemd-journal.c
Labels: area/collectors, collectors/systemd-journal

#17642 go.d ping add missing setting to schema
  src/go/collectors/go.d.plugin/modules/ping/config_schema.json
Labels: area/collectors, collectors/go.d, area/go

#17643 Fix incorrect bind failure warning
  src/database/sqlite/sqlite_aclk_alert.c
Labels: area/database, area/aclk

#17645 remove doc and consolidate info to main section page
  docs/category-overview-pages/accessing-netdata-dashboards.md
  docs/category-overview-pages/authentication-and-authorization.md
  docs/cloud/manage/organize-your-infrastrucutre-invite-your-team.md
  docs/cloud/manage/sign-in.md
  docs/quickstart/infrastructure.md
Labels: area/docs

#17637 go.d hpssa
  src/go/collectors/go.d.plugin/README.md
  src/go/collectors/go.d.plugin/config/go.d.conf
  src/go/collectors/go.d.plugin/config/go.d/hpssa.conf
  src/go/collectors/go.d.plugin/modules/hpssa/charts.go
  src/go/collectors/go.d.plugin/modules/hpssa/collect.go
  src/go/collectors/go.d.plugin/modules/hpssa/config_schema.json
  src/go/collectors/go.d.plugin/modules/hpssa/exec.go
  src/go/collectors/go.d.plugin/modules/hpssa/hpssa.go
  src/go/collectors/go.d.plugin/modules/hpssa/hpssa_test.go
  src/go/collectors/go.d.plugin/modules/hpssa/init.go
  src/go/collectors/go.d.plugin/modules/hpssa/metadata.yaml
  src/go/collectors/go.d.plugin/modules/hpssa/parse.go
  src/go/collectors/go.d.plugin/modules/hpssa/testdata/config.json
  src/go/collectors/go.d.plugin/modules/hpssa/testdata/config.yaml
  src/go/collectors/go.d.plugin/modules/hpssa/testdata/ssacli-P212_P410i.txt
  src/go/collectors/go.d.plugin/modules/hpssa/testdata/ssacli-P400ar.txt
  src/go/collectors/go.d.plugin/modules/hpssa/testdata/ssacli-P400i-unassigned.txt
  src/go/collectors/go.d.plugin/modules/init.go
Labels: area/docs, area/collectors, collectors/go.d, area/metadata, area/go

#17638 python.d remove hpssa
  CMakeLists.txt
  src/collectors/python.d.plugin/hpssa/README.md
  src/collectors/python.d.plugin/hpssa/hpssa.chart.py
  src/collectors/python.d.plugin/hpssa/hpssa.conf
  src/collectors/python.d.plugin/hpssa/integrations/hp_smart_storage_arrays.md
  src/collectors/python.d.plugin/hpssa/metadata.yaml
Labels: area/docs, area/collectors, area/build, collectors/python.d, area/metadata

#17654 go.d hpssa fix cache battery chart ctx
  src/go/collectors/go.d.plugin/modules/hpssa/charts.go
  src/go/collectors/go.d.plugin/modules/hpssa/metadata.yaml
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#17650 Update libbpf
  packaging/cmake/Modules/NetdataEBPFCORE.cmake
  packaging/cmake/Modules/NetdataEBPFLegacy.cmake
  packaging/cmake/Modules/NetdataLibBPF.cmake
Labels: area/packaging

#17659 go.d cockroachdb fix calculation
  src/go/collectors/go.d.plugin/modules/cockroachdb/collect.go
Labels: area/collectors, collectors/go.d, area/go

#17661 go.d update config dirs
  src/go/collectors/go.d.plugin/cmd/godplugin/main.go
Labels: area/collectors, collectors/go.d, area/go

#17662 files movearound
  src/claim/README.md
Labels: area/docs, area/claim

#17548 Remove Fedora 38 from CI.
  .github/data/distros.yml
  packaging/PLATFORM_SUPPORT.md
Labels: area/ci, area/packaging, area/docs

#17648 Support offline installs in the updater code.
  packaging/installer/kickstart.sh
  packaging/installer/netdata-updater.sh
Labels: area/packaging

#17663 python.d remove litespeed
  CMakeLists.txt
  src/collectors/python.d.plugin/litespeed/README.md
  src/collectors/python.d.plugin/litespeed/integrations/litespeed.md
  src/collectors/python.d.plugin/litespeed/litespeed.chart.py
  src/collectors/python.d.plugin/litespeed/litespeed.conf
  src/collectors/python.d.plugin/litespeed/metadata.yaml
  src/collectors/python.d.plugin/python.d.conf
Labels: area/docs, area/collectors, area/build, collectors/python.d, area/metadata

#17665 go.d litespeed
  src/go/collectors/go.d.plugin/README.md
  src/go/collectors/go.d.plugin/config/go.d.conf
  src/go/collectors/go.d.plugin/config/go.d/litespeed.conf
  src/go/collectors/go.d.plugin/modules/init.go
  src/go/collectors/go.d.plugin/modules/litespeed/charts.go
  src/go/collectors/go.d.plugin/modules/litespeed/collect.go
  src/go/collectors/go.d.plugin/modules/litespeed/config_schema.json
  src/go/collectors/go.d.plugin/modules/litespeed/litespeed.go
  src/go/collectors/go.d.plugin/modules/litespeed/litespeed_test.go
  src/go/collectors/go.d.plugin/modules/litespeed/metadata.yaml
  src/go/collectors/go.d.plugin/modules/litespeed/testdata/.rtreport
  src/go/collectors/go.d.plugin/modules/litespeed/testdata/.rtreport.2
  src/go/collectors/go.d.plugin/modules/litespeed/testdata/config.json
  src/go/collectors/go.d.plugin/modules/litespeed/testdata/config.yaml
Labels: area/docs, area/collectors, collectors/go.d, area/metadata, area/go

#17670 Include the Host in the HTTP header
  src/aclk/https_client.c
Labels: area/aclk

#17664 Correctly handle required compilation flags for dependencies.
  CMakeLists.txt
  packaging/cmake/Modules/NetdataJSONC.cmake
  packaging/cmake/Modules/NetdataLibBPF.cmake
  packaging/cmake/Modules/NetdataProtobuf.cmake
  packaging/cmake/Modules/NetdataYAML.cmake
Labels: area/packaging, area/build

#17679 add go.d/rspamd
  src/go/collectors/go.d.plugin/README.md
  src/go/collectors/go.d.plugin/agent/discovery/sd/discoverer/netlisteners/netlisteners.go
  src/go/collectors/go.d.plugin/config/go.d.conf
  src/go/collectors/go.d.plugin/config/go.d/rspamd.conf
  src/go/collectors/go.d.plugin/config/go.d/sd/net_listeners.conf
  src/go/collectors/go.d.plugin/modules/init.go
  src/go/collectors/go.d.plugin/modules/rspamd/charts.go
  src/go/collectors/go.d.plugin/modules/rspamd/collect.go
  src/go/collectors/go.d.plugin/modules/rspamd/config_schema.json
  src/go/collectors/go.d.plugin/modules/rspamd/metadata.yaml
  src/go/collectors/go.d.plugin/modules/rspamd/rspamd.go
  src/go/collectors/go.d.plugin/modules/rspamd/rspamd_test.go
  src/go/collectors/go.d.plugin/modules/rspamd/testdata/config.json
  src/go/collectors/go.d.plugin/modules/rspamd/testdata/config.yaml
  src/go/collectors/go.d.plugin/modules/rspamd/testdata/v3.4-stat.json
Labels: area/docs, area/collectors, collectors/go.d, area/metadata, area/go

#17674 add rspamd to apps_groups.conf
  src/collectors/apps.plugin/apps_groups.conf
Labels: area/collectors, collectors/apps

#17682 Re-enable ML for RHEL 7 and AL 2 RPM packages.
  netdata.spec.in
Labels: area/packaging

#17686 go.d sd fix rspamd classify match
  src/go/collectors/go.d.plugin/config/go.d/sd/net_listeners.conf
Labels: area/collectors, collectors/go.d, area/go

#17688 Fix timex slow shutdown
  src/collectors/timex.plugin/plugin_timex.c
Labels: area/collectors, collectors/timex

#17690 Check for empty dimension id from a plugin
  src/collectors/plugins.d/pluginsd_parser.c
Labels: area/collectors, collectors/plugins.d

#17657 Fall back to querying libc.so.6 if ldd can’t detect libc implementation.
  packaging/cmake/Modules/NetdataUtil.cmake
Labels: area/packaging

#17696 fix sender parsing when receiving remote input
  src/streaming/sender.c
Labels: area/streaming

#17697 Revert "Support to WolfSSL (Step 1)"
  CMakeLists.txt
  packaging/cmake/config.cmake.h.in
  src/aclk/aclk.c
  src/aclk/mqtt_websockets/mqtt_wss_client.c
  src/aclk/mqtt_websockets/mqtt_wss_client.h
  src/aclk/mqtt_websockets/ws_client.c
  src/claim/claim.c
  src/daemon/buildinfo.c
  src/daemon/commands.c
  src/database/contexts/api_v2.c
  src/database/contexts/worker.c
  src/database/engine/rrdengine.h
  src/database/rrdfunctions-inflight.c
  src/database/rrdhost.c
  src/libnetdata/libnetdata.h
  src/libnetdata/socket/README.md
  src/libnetdata/socket/security.c
  src/libnetdata/socket/security.h
  src/libnetdata/ssl/ssl.h
  src/streaming/receiver.c
  src/streaming/sender.c
  src/web/api/web_api_v1.c
Labels: area/packaging, area/docs, area/web, area/daemon, area/database, area/streaming, area/claim, area/aclk, area/build

#17692 DYNCFG: add userconfig action
  src/daemon/config/dyncfg-intercept.c
  src/daemon/config/dyncfg-tree.c
  src/health/health_dyncfg.c
  src/health/health_internals.h
  src/health/health_prototypes.c
  src/libnetdata/config/dyncfg.c
  src/libnetdata/config/dyncfg.h
  src/libnetdata/http/content_type.c
  src/libnetdata/http/content_type.h
  src/web/api/web_api_v1.c
Labels: area/web, area/health, area/daemon

#17698 go.d dyncfg rm space yaml contentType
  src/go/collectors/go.d.plugin/agent/jobmgr/dyncfg.go
Labels: area/collectors, collectors/go.d, area/go

#17677 Do not specify linker in compilation flags.
  CMakeLists.txt
Labels: area/build

#17699 Corrected grammar and mispelling
  src/collectors/perf.plugin/metadata.yaml
Labels: area/collectors, collectors/perf, area/metadata

#17702 go.d fix some JB code inspection issues
  src/collectors/perf.plugin/metadata.yaml
  src/go/collectors/go.d.plugin/agent/confgroup/cache.go
  src/go/collectors/go.d.plugin/examples/simple/main.go
  src/go/collectors/go.d.plugin/modules/dnsquery/init.go
  src/go/collectors/go.d.plugin/modules/haproxy/init.go
  src/go/collectors/go.d.plugin/modules/k8s_state/init.go
  src/go/collectors/go.d.plugin/modules/k8s_state/state.go
  src/go/collectors/go.d.plugin/modules/openvpn/client/client_test.go
  src/go/collectors/go.d.plugin/modules/phpdaemon/client.go
  src/go/collectors/go.d.plugin/modules/pika/pika_test.go
  src/go/collectors/go.d.plugin/modules/portcheck/init.go
  src/go/collectors/go.d.plugin/modules/scaleio/client/client.go
  src/go/collectors/go.d.plugin/modules/supervisord/supervisord_test.go
  src/go/collectors/go.d.plugin/modules/traefik/collect.go
  src/go/collectors/go.d.plugin/modules/traefik/init.go
  src/go/collectors/go.d.plugin/modules/traefik/traefik.go
  src/go/collectors/go.d.plugin/modules/vsphere/match/match.go
  src/go/collectors/go.d.plugin/modules/vsphere/resources/resources.go
  src/go/collectors/go.d.plugin/modules/vsphere/scrape/scrape.go
  src/go/collectors/go.d.plugin/modules/x509check/collect.go
  src/go/collectors/go.d.plugin/pkg/logs/reader.go
  src/go/collectors/go.d.plugin/pkg/matcher/simple_patterns.go
  src/go/collectors/go.d.plugin/pkg/matcher/string.go
Labels: area/collectors, collectors/perf, collectors/go.d, area/metadata, area/go

#17703 some markdown fixes
  docs/dashboards-and-charts/events-feed.md
  docs/developer-and-contributor-corner/style-guide.md
  docs/netdata-agent/configuration/optimizing-metrics-database/change-metrics-storage.md
  docs/observability-centralization-points/metrics-centralization-points/configuration.md
  packaging/installer/README.md
  packaging/installer/methods/macos.md
  src/web/gui/README.md
Labels: area/packaging, area/docs, area/web

#17712 fix on link
  integrations/cloud-authentication/metadata.yaml
Labels: area/metadata

#17705 Fix multipler on Windows ("Memory")
  src/collectors/windows.plugin/perflib-memory.c
Labels: area/collectors

#17691 Add agent CLI command to remove a stale node
  src/collectors/plugins.d/pluginsd_parser.c
  src/daemon/commands.c
  src/daemon/commands.h
  src/database/sqlite/sqlite_metadata.c
  src/database/sqlite/sqlite_metadata.h
Labels: area/collectors, area/daemon, area/database, collectors/plugins.d

#17714 Fix compilation with disable-cloud
  src/daemon/commands.c
  src/daemon/commands.h
Labels: area/daemon

#17687 Rename a variable in FreeIMPI (WolfSSL support)
  src/collectors/freeipmi.plugin/freeipmi_plugin.c
Labels: area/collectors, collectors/freeipmi

#17715 Fix mongodb default config indentation
  src/go/collectors/go.d.plugin/config/go.d/mongodb.conf
Labels: area/collectors, collectors/go.d, area/go

#17717 go.d weblog ignore reqProcTime on HTTP 101
  src/go/collectors/go.d.plugin/modules/weblog/collect.go
  src/go/collectors/go.d.plugin/modules/weblog/weblog_test.go
Labels: area/collectors, collectors/go.d, area/go

#17718 fix proc plugin disk_avgsz
  src/collectors/proc.plugin/proc_diskstats.c
Labels: area/collectors, collectors/proc

#17719 Change links to relative links in one doc
  docs/netdata-agent/configuration/common-configuration-changes.md
Labels: area/docs

#17722 minor fix on link
  src/claim/README.md
Labels: area/docs, area/claim

#17535 Fix handling of OpenSSL linking on macOS
  .github/workflows/build-macos.yml
  CMakeLists.txt
Labels: area/ci, area/build

#17517 Make CMake options for platform-dependent plugins depend on being build for a supported platform.
  CMakeLists.txt
Labels: area/build

#17725 go.d systemdunits add "skip_transient"
  src/go/collectors/go.d.plugin/modules/systemdunits/client.go
  src/go/collectors/go.d.plugin/modules/systemdunits/collect_units.go
  src/go/collectors/go.d.plugin/modules/systemdunits/config_schema.json
  src/go/collectors/go.d.plugin/modules/systemdunits/metadata.yaml
  src/go/collectors/go.d.plugin/modules/systemdunits/systemdunits.go
  src/go/collectors/go.d.plugin/modules/systemdunits/systemdunits_test.go
  src/go/collectors/go.d.plugin/modules/systemdunits/testdata/config.json
  src/go/collectors/go.d.plugin/modules/systemdunits/testdata/config.yaml
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#17729 grammar pass on alerts and notifications dir
  docs/alerts-and-notifications/creating-alerts-with-netdata-alerts-configuration-manager.md
  docs/alerts-and-notifications/notifications/centralized-cloud-notifications/centralized-cloud-notifications-reference.md
  docs/alerts-and-notifications/notifications/centralized-cloud-notifications/manage-alert-notification-silencing-rules.md
  docs/alerts-and-notifications/notifications/centralized-cloud-notifications/manage-notification-methods.md
Labels: area/docs

#17680 Clean up DEB package dependencies.
  packaging/cmake/Modules/Packaging.cmake
Labels: area/packaging

#17730 Add alert meta info
  src/database/contexts/api_v2.c
  src/database/rrdlabels.c
  src/database/rrdlabels.h
Labels: area/database

#17731 Include the Host in the HTTP header (mqtt)
  src/aclk/mqtt_websockets/mqtt_wss_client.c
Labels: area/aclk

#17735 Grammar pass on docs
  docs/category-overview-pages/machine-learning-and-assisted-troubleshooting.md
  docs/category-overview-pages/maintenance-operations-on-netdata-agents.md
  docs/category-overview-pages/working-with-logs.md
Labels: area/docs

#17738 Update netdata-agent-security.md
  docs/netdata-agent/backup-and-restore-an-agent.md
  docs/security-and-privacy-design/netdata-agent-security.md
Labels: area/docs

#17693 Simplify and unify the way we are handling versions.
  CMakeLists.txt
  packaging/cmake/Modules/NetdataProtobuf.cmake
  packaging/cmake/Modules/NetdataVersion.cmake
  packaging/cmake/Modules/Packaging.cmake
  packaging/cmake/config.cmake.h.in
  src/aclk/aclk_otp.c
  src/collectors/apps.plugin/apps_plugin.c
  src/collectors/cgroups.plugin/cgroup-network.c
  src/collectors/common-contexts/system.ram.h
  src/collectors/cups.plugin/cups_plugin.c
  src/collectors/ebpf.plugin/ebpf.c
  src/collectors/freeipmi.plugin/freeipmi_plugin.c
  src/collectors/log2journal/log2journal-help.c
  src/collectors/nfacct.plugin/plugin_nfacct.c
  src/collectors/perf.plugin/perf_plugin.c
  src/collectors/plugins.d/pluginsd_parser.c
  src/collectors/slabinfo.plugin/slabinfo.c
  src/collectors/xenstat.plugin/xenstat_plugin.c
  src/daemon/analytics.c
  src/daemon/buildinfo.c
  src/daemon/commands.c
  src/daemon/main.c
  src/daemon/static_threads.c
  src/database/engine/dbengine-stresstest.c
  src/database/engine/dbengine-unittest.c
  src/database/rrdhost.c
  src/database/sqlite/sqlite_aclk_node.c
  src/libnetdata/libnetdata.c
  src/libnetdata/libnetdata.h
  src/libnetdata/log/systemd-cat-native.c
  src/libnetdata/os/adjtimex.c
  src/libnetdata/os/adjtimex.h
  src/libnetdata/os/get_pid_max.c
  src/libnetdata/os/get_system_cpus.c
  src/libnetdata/os/getgrouplist.c
  src/libnetdata/os/gettid.c
  src/libnetdata/os/os-freebsd-wrappers.c
  src/libnetdata/os/os-freebsd-wrappers.h
  src/libnetdata/os/os-macos-wrappers.c
  src/libnetdata/os/os-macos-wrappers.h
  src/libnetdata/os/os.c
  src/libnetdata/os/os.h
  src/libnetdata/os/setresgid.c
  src/libnetdata/os/setresuid.c
  src/libnetdata/os/tinysleep.c
  src/libnetdata/os/uuid_generate.c
  src/libnetdata/os/waitid.h
  src/logsmanagement/logsmanagement.c
  src/web/api/formatters/charts2json.c
  src/web/server/web_client.c
Labels: area/packaging, area/web, area/collectors, area/daemon, area/database, area/aclk, area/build, collectors/ebpf, collectors/apps, collectors/cgroups, collectors/cups, collectors/freeipmi, collectors/nfacct, collectors/perf, collectors/slabinfo, collectors/xenstat, collectors/plugins.d, area/logs-management

#17740 fix ebpf cgroup swap context
  src/collectors/ebpf.plugin/ebpf_swap.h
Labels: area/collectors, collectors/ebpf

#17742 fix clickhouse in apps groups
  src/collectors/apps.plugin/apps_groups.conf
Labels: area/collectors, collectors/apps

#17732 Ensure that the choice of compiler and target is passed to sub-projects.
  CMakeLists.txt
  packaging/cmake/Modules/NetdataFetchContentExtra.cmake
  packaging/cmake/Modules/NetdataJSONC.cmake
  packaging/cmake/Modules/NetdataProtobuf.cmake
  packaging/cmake/Modules/NetdataSentry.cmake
  packaging/cmake/Modules/NetdataYAML.cmake
Labels: area/packaging, area/build

#17547 Remove Alpine 3.16 from CI.
  .github/data/distros.yml
  packaging/PLATFORM_SUPPORT.md
Labels: area/ci, area/packaging, area/docs

#17743 add go.d clickhouse
  src/go/collectors/go.d.plugin/README.md
  src/go/collectors/go.d.plugin/agent/discovery/sd/pipeline/promport.go
  src/go/collectors/go.d.plugin/config/go.d.conf
  src/go/collectors/go.d.plugin/config/go.d/clickhouse.conf
  src/go/collectors/go.d.plugin/config/go.d/sd/net_listeners.conf
  src/go/collectors/go.d.plugin/modules/clickhouse/charts.go
  src/go/collectors/go.d.plugin/modules/clickhouse/clickhouse.go
  src/go/collectors/go.d.plugin/modules/clickhouse/clickhouse_test.go
  src/go/collectors/go.d.plugin/modules/clickhouse/collect.go
  src/go/collectors/go.d.plugin/modules/clickhouse/collect_system_async_metrics.go
  src/go/collectors/go.d.plugin/modules/clickhouse/collect_system_disks.go
  src/go/collectors/go.d.plugin/modules/clickhouse/collect_system_events.go
  src/go/collectors/go.d.plugin/modules/clickhouse/collect_system_metrics.go
  src/go/collectors/go.d.plugin/modules/clickhouse/collect_system_parts.go
  src/go/collectors/go.d.plugin/modules/clickhouse/config_schema.json
  src/go/collectors/go.d.plugin/modules/clickhouse/init.go
  src/go/collectors/go.d.plugin/modules/clickhouse/metadata.yaml
  src/go/collectors/go.d.plugin/modules/clickhouse/testdata/config.json
  src/go/collectors/go.d.plugin/modules/clickhouse/testdata/config.yaml
  src/go/collectors/go.d.plugin/modules/clickhouse/testdata/resp_system_async_metrics.csv
  src/go/collectors/go.d.plugin/modules/clickhouse/testdata/resp_system_disks.csv
  src/go/collectors/go.d.plugin/modules/clickhouse/testdata/resp_system_events.csv
  src/go/collectors/go.d.plugin/modules/clickhouse/testdata/resp_system_metrics.csv
  src/go/collectors/go.d.plugin/modules/clickhouse/testdata/resp_system_parts.csv
  src/go/collectors/go.d.plugin/modules/init.go
  src/go/collectors/go.d.plugin/modules/prometheus/metadata.yaml
Labels: area/docs, area/collectors, collectors/go.d, area/metadata, area/go

#17749 remove unused go.d/prometheus meta file
  src/go/collectors/go.d.plugin/modules/prometheus/wip_meta.yaml
Labels: area/collectors, collectors/go.d, area/go

#17751 go.d clickhouse add running queries
  src/go/collectors/go.d.plugin/modules/clickhouse/charts.go
  src/go/collectors/go.d.plugin/modules/clickhouse/clickhouse_test.go
  src/go/collectors/go.d.plugin/modules/clickhouse/collect_system_metrics.go
  src/go/collectors/go.d.plugin/modules/clickhouse/metadata.yaml
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#17755 mention how to remove highlight in documentation
  docs/dashboards-and-charts/netdata-charts.md
  docs/metric-correlations.md
Labels: area/docs

#17736 Collecting metrics docs grammar pass
  docs/collecting-metrics/application-metrics.md
  docs/collecting-metrics/container-metrics.md
  docs/collecting-metrics/system-metrics.md
  docs/deployment-guides/README.md
  docs/deployment-guides/deployment-strategies.md
  docs/deployment-guides/deployment-with-centralization-points.md
  docs/deployment-guides/standalone-deployment.md
Labels: area/docs

#17756 go.d clickhouse add more metrics
  src/go/collectors/go.d.plugin/modules/clickhouse/charts.go
  src/go/collectors/go.d.plugin/modules/clickhouse/clickhouse_test.go
  src/go/collectors/go.d.plugin/modules/clickhouse/collect.go
  src/go/collectors/go.d.plugin/modules/clickhouse/collect_system_async_metrics.go
  src/go/collectors/go.d.plugin/modules/clickhouse/collect_system_processes.go
  src/go/collectors/go.d.plugin/modules/clickhouse/metadata.yaml
  src/go/collectors/go.d.plugin/modules/clickhouse/testdata/resp_longest_query_time.csv
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#17757 Collecting metrics docs section simplification
  docs/collecting-metrics/application-metrics.md
  docs/collecting-metrics/container-metrics.md
  docs/collecting-metrics/system-metrics.md
  docs/developer-and-contributor-corner/lamp-stack.md
  docs/netdata-cloud/monitor-your-infrastructure.md
  src/collectors/COLLECTORS.md
Labels: area/docs, area/collectors

#17759 simplify installation page
  packaging/installer/README.md
Labels: area/packaging, area/docs

#17760 add clickhouse alerts
  src/go/collectors/go.d.plugin/modules/clickhouse/metadata.yaml
  src/health/health.d/clickhouse.conf
Labels: area/health, area/collectors, collectors/go.d, area/metadata, area/go

#17762 Schedule a node info on label reload
  src/daemon/commands.c
Labels: area/daemon

#17763 go.d sd local-listeners fix extractComm
  src/go/collectors/go.d.plugin/agent/discovery/sd/discoverer/netlisteners/netlisteners.go
  src/go/collectors/go.d.plugin/agent/discovery/sd/discoverer/netlisteners/netlisteners_test.go
Labels: area/collectors, collectors/go.d, area/go

#17765 Fix DEB package builds.
  .github/scripts/pkg-test.sh
  CMakeLists.txt
  packaging/build-package.sh
  packaging/makeself/jobs/90-netdata-runtime-check.sh
  packaging/runtime-check.sh
Labels: area/ci, area/packaging, area/build

#17771 docs: simplify claiming readme part1
  src/claim/README.md
Labels: area/docs, area/claim

#17773 docs fix "Prevent the double access.log"
  docs/netdata-agent/configuration/running-the-netdata-agent-behind-a-reverse-proxy/Running-behind-apache.md
  docs/netdata-agent/configuration/running-the-netdata-agent-behind-a-reverse-proxy/Running-behind-h2o.md
  docs/netdata-agent/configuration/running-the-netdata-agent-behind-a-reverse-proxy/Running-behind-nginx.md
Labels: area/docs

#17768 Netdata Cloud docs section edits
  docs/netdata-cloud/monitor-your-infrastructure.md
  docs/netdata-cloud/netdata-subscription-plans.md
  docs/netdata-cloud/view-plan-and-billing.md
Labels: area/docs

#17775 proc/diskstats and diskspace: remove "ignore zero metrics"
  src/collectors/diskspace.plugin/plugin_diskspace.c
  src/collectors/proc.plugin/proc_diskstats.c
Labels: area/collectors, collectors/diskspace, collectors/proc

#17779 fix links
  docs/alerts-and-notifications/notifications/centralized-cloud-notifications/centralized-cloud-notifications-reference.md
  docs/alerts-and-notifications/notifications/centralized-cloud-notifications/manage-alert-notification-silencing-rules.md
  docs/dashboards-and-charts/alerts-tab.md
  docs/deployment-guides/deployment-strategies.md
  docs/developer-and-contributor-corner/monitor-debug-applications-ebpf.md
  docs/netdata-cloud/organize-your-infrastructure-invite-your-team.md
  docs/netdata-cloud/view-plan-and-billing.md
  src/health/REFERENCE.md
Labels: area/docs, area/health

#17776 remove "ignore zero metrics" from proc network modules
  src/collectors/proc.plugin/proc_net_netstat.c
  src/collectors/proc.plugin/proc_net_sctp_snmp.c
  src/collectors/proc.plugin/proc_net_sockstat.c
  src/collectors/proc.plugin/proc_net_sockstat6.c
  src/collectors/proc.plugin/proc_net_stat_synproxy.c
Labels: area/collectors, collectors/proc

#17784 go.d phpfpm switch to github.com/kanocz/fcgi_client
  src/go/collectors/go.d.plugin/go.mod
  src/go/collectors/go.d.plugin/go.sum
  src/go/collectors/go.d.plugin/modules/phpfpm/client.go
Labels: area/collectors, collectors/go.d, area/go

#17781 rm "ignore zero metrics" proc meminfo
  src/collectors/proc.plugin/proc_meminfo.c
  src/collectors/proc.plugin/proc_vmstat.c
Labels: area/collectors, collectors/proc

#17785 docs fix statsd conf dir
  src/collectors/statsd.plugin/README.md
Labels: area/docs, area/collectors, collectors/statsd

#17783 Change "War Room" to "Room" and other docs changes
  README.md
  docs/Demo-Sites.md
  docs/alerts-and-notifications/notifications/centralized-cloud-notifications/manage-alert-notification-silencing-rules.md
  docs/alerts-and-notifications/notifications/centralized-cloud-notifications/manage-notification-methods.md
  docs/dashboards-and-charts/alerts-tab.md
  docs/dashboards-and-charts/dashboards-tab.md
  docs/dashboards-and-charts/events-feed.md
  docs/dashboards-and-charts/metrics-tab-and-single-node-tabs.md
  docs/dashboards-and-charts/netdata-charts.md
  docs/dashboards-and-charts/node-filter.md
  docs/dashboards-and-charts/nodes-tab.md
  docs/developer-and-contributor-corner/collect-unbound-metrics.md
  docs/developer-and-contributor-corner/kubernetes-k8s-netdata.md
  docs/developer-and-contributor-corner/style-guide.md
  docs/glossary.md
  docs/netdata-agent/configuration/organize-systems-metrics-and-alerts.md
  docs/netdata-agent/securing-netdata-agents.md
  docs/netdata-cloud/README.md
  docs/netdata-cloud/authentication-and-authorization/role-based-access-model.md
  docs/netdata-cloud/netdata-cloud-on-prem/troubleshooting.md
  docs/netdata-cloud/organize-your-infrastructure-invite-your-team.md
  integrations/cloud-notifications/integrations/webhook.md
  integrations/cloud-notifications/metadata.yaml
  packaging/installer/methods/freebsd.md
  packaging/installer/methods/kickstart.md
  packaging/installer/methods/kubernetes.md
  packaging/installer/methods/macos.md
  src/claim/README.md
  src/daemon/README.md
  src/database/engine/README.md
  src/health/guides/entropy/lowest_entropy.md
  src/health/notifications/matrix/README.md
  src/health/notifications/matrix/metadata.yaml
  src/web/gui/README.md
Labels: area/packaging, area/docs, area/web, area/health, area/daemon, area/database, area/claim, area/metadata

#17678 Restructure packaging related files to better reflect usage.
  CMakeLists.txt
  packaging/cmake/Modules/Packaging.cmake
  packaging/cmake/pkg-files/copyright
  packaging/cmake/pkg-files/deb/ebpf-code-legacy/postinst
  packaging/cmake/pkg-files/deb/ebpf-code-legacy/preinst
  packaging/cmake/pkg-files/deb/netdata/conffiles
  packaging/cmake/pkg-files/deb/netdata/etc/default/netdata
  packaging/cmake/pkg-files/deb/netdata/etc/init.d/netdata
  packaging/cmake/pkg-files/deb/netdata/postinst
  packaging/cmake/pkg-files/deb/netdata/postrm
  packaging/cmake/pkg-files/deb/netdata/preinst
  packaging/cmake/pkg-files/deb/plugin-apps/postinst
  packaging/cmake/pkg-files/deb/plugin-apps/preinst
  packaging/cmake/pkg-files/deb/plugin-chartsd/postinst
  packaging/cmake/pkg-files/deb/plugin-chartsd/preinst
  packaging/cmake/pkg-files/deb/plugin-cups/postinst
  packaging/cmake/pkg-files/deb/plugin-cups/preinst
  packaging/cmake/pkg-files/deb/plugin-debugfs/postinst
  packaging/cmake/pkg-files/deb/plugin-debugfs/preinst
  packaging/cmake/pkg-files/deb/plugin-ebpf/postinst
  packaging/cmake/pkg-files/deb/plugin-ebpf/preinst
  packaging/cmake/pkg-files/deb/plugin-freeipmi/postinst
  packaging/cmake/pkg-files/deb/plugin-freeipmi/preinst
  packaging/cmake/pkg-files/deb/plugin-go/postinst
  packaging/cmake/pkg-files/deb/plugin-go/preinst
  packaging/cmake/pkg-files/deb/plugin-logs-management/postinst
  packaging/cmake/pkg-files/deb/plugin-logs-management/preinst
  packaging/cmake/pkg-files/deb/plugin-network-viewer/postinst
  packaging/cmake/pkg-files/deb/plugin-network-viewer/preinst
  packaging/cmake/pkg-files/deb/plugin-nfacct/postinst
  packaging/cmake/pkg-files/deb/plugin-nfacct/preinst
  packaging/cmake/pkg-files/deb/plugin-perf/postinst
  packaging/cmake/pkg-files/deb/plugin-perf/preinst
  packaging/cmake/pkg-files/deb/plugin-pythond/postinst
  packaging/cmake/pkg-files/deb/plugin-pythond/preinst
  packaging/cmake/pkg-files/deb/plugin-slabinfo/postinst
  packaging/cmake/pkg-files/deb/plugin-slabinfo/preinst
  packaging/cmake/pkg-files/deb/plugin-systemd-journal/postinst
  packaging/cmake/pkg-files/deb/plugin-systemd-journal/preinst
  packaging/cmake/pkg-files/deb/plugin-xenstat/postinst
  packaging/cmake/pkg-files/deb/plugin-xenstat/preinst
Labels: area/packaging, area/build

#17789 proc/net_dev: remove "ignore zero metrics"
  src/collectors/proc.plugin/proc_net_dev.c
Labels: area/collectors, collectors/proc

#17793 Use correct path for package files.
  CMakeLists.txt
Labels: area/build

#17746 Use semver releases with sentry.
  packaging/build-package.sh
  packaging/cmake/Modules/NetdataSentry.cmake
  packaging/cmake/config.cmake.h.in
  src/daemon/sentry-native/sentry-native.c
Labels: area/packaging, area/daemon

#17794 Correctly handle eBPF check in package test script.
  .github/scripts/pkg-test.sh
Labels: area/ci, run-ci/packaging

#17734 eBPF OOMKills adjust and fixes.
  src/collectors/ebpf.plugin/ebpf.h
  src/collectors/ebpf.plugin/ebpf_oomkill.c
  src/collectors/ebpf.plugin/ebpf_oomkill.h
Labels: area/collectors, collectors/ebpf
