Repository netdata/netdata, pull requests merged in 2024-08, with the labels that each got.

#18224 Update Cloud MSTeam documentation
  integrations/cloud-notifications/integrations/microsoft_teams.md
Labels: area/docs, area/metadata

#18246 Update README.md
  src/daemon/config/README.md
Labels: area/docs, area/daemon

#18257 docs: improve "Settings on Microsoft Teams" description
  integrations/cloud-notifications/metadata.yaml
Labels: area/metadata

#18253 Update Installer Code (Services)
  packaging/windows/installer.nsi
Labels: area/packaging

#18251 Don’t install netdata-updater code on Windows.
  CMakeLists.txt
Labels: area/build

#18267 apps conf add beanstalkd
  src/collectors/apps.plugin/apps_groups.conf
Labels: area/collectors, collectors/apps

#18263 go.d beanstalk
  src/go/plugin/go.d/README.md
  src/go/plugin/go.d/config/go.d.conf
  src/go/plugin/go.d/config/go.d/beanstalk.conf
  src/go/plugin/go.d/config/go.d/sd/docker.conf
  src/go/plugin/go.d/config/go.d/sd/net_listeners.conf
  src/go/plugin/go.d/modules/beanstalk/beanstalk.go
  src/go/plugin/go.d/modules/beanstalk/beanstalk_test.go
  src/go/plugin/go.d/modules/beanstalk/charts.go
  src/go/plugin/go.d/modules/beanstalk/client.go
  src/go/plugin/go.d/modules/beanstalk/collect.go
  src/go/plugin/go.d/modules/beanstalk/config_schema.json
  src/go/plugin/go.d/modules/beanstalk/init.go
  src/go/plugin/go.d/modules/beanstalk/metadata.yaml
  src/go/plugin/go.d/modules/beanstalk/testdata/config.json
  src/go/plugin/go.d/modules/beanstalk/testdata/config.yaml
  src/go/plugin/go.d/modules/beanstalk/testdata/list-tubes.txt
  src/go/plugin/go.d/modules/beanstalk/testdata/stats-tube-default.txt
  src/go/plugin/go.d/modules/beanstalk/testdata/stats.txt
  src/go/plugin/go.d/modules/init.go
  src/health/health.d/beanstalkd.conf
Labels: area/docs, area/health, area/collectors, collectors/go.d, area/metadata, area/go

#18266 Fix CI issues in build workflow.
  .github/workflows/build.yml
  packaging/installer/kickstart.sh
Labels: area/ci, area/packaging

#18259 remove python.d/beanstalk
  CMakeLists.txt
  src/collectors/python.d.plugin/beanstalk/README.md
  src/collectors/python.d.plugin/beanstalk/beanstalk.chart.py
  src/collectors/python.d.plugin/beanstalk/beanstalk.conf
  src/collectors/python.d.plugin/beanstalk/integrations/beanstalk.md
  src/collectors/python.d.plugin/beanstalk/metadata.yaml
  src/collectors/python.d.plugin/python.d.conf
Labels: area/docs, area/collectors, area/build, collectors/python.d, area/metadata

#18269 go.d smartctl: improve checking scsi-sat in scan
  src/go/plugin/go.d/modules/smartctl/scan.go
Labels: area/collectors, collectors/go.d, area/go

#18270 go.d smartctl: undo extra_devices skip from #18269
  src/go/plugin/go.d/modules/smartctl/scan.go
Labels: area/collectors, collectors/go.d, area/go

#18272 go.d fix dimension id check
  src/go/plugin/go.d/agent/module/charts.go
  src/go/plugin/go.d/agent/module/charts_test.go
Labels: area/collectors, collectors/go.d, area/go

#18274 go.d snmp: adjust max repetitions automatically
  src/go/plugin/go.d/modules/snmp/collect.go
  src/go/plugin/go.d/modules/snmp/snmp.go
  src/go/plugin/go.d/modules/snmp/snmp_test.go
Labels: area/collectors, collectors/go.d, area/go

#18275 set GOPROXY when building go.d.plugin
  packaging/cmake/Modules/NetdataGoTools.cmake
Labels: area/packaging

#18265 Add detailed reporting of failed checksums in kickstart script.
  packaging/installer/kickstart.sh
Labels: area/packaging

#18222 Add code signing for Windows executables.
  .github/workflows/build.yml
  packaging/cmake/Modules/NetdataFetchContentExtra.cmake
  packaging/cmake/Modules/NetdataJSONC.cmake
  packaging/windows/compile-on-windows.sh
  packaging/windows/msys2-dependencies.sh
  packaging/windows/package-windows.sh
  packaging/windows/win-build-dir.sh
Labels: area/ci, area/packaging

#18278 add go.d/rethinkdb
  src/collectors/apps.plugin/apps_groups.conf
  src/go/go.mod
  src/go/go.sum
  src/go/plugin/go.d/README.md
  src/go/plugin/go.d/config/go.d.conf
  src/go/plugin/go.d/config/go.d/rethinkdb.conf
  src/go/plugin/go.d/config/go.d/sd/docker.conf
  src/go/plugin/go.d/config/go.d/sd/net_listeners.conf
  src/go/plugin/go.d/modules/init.go
  src/go/plugin/go.d/modules/rethinkdb/charts.go
  src/go/plugin/go.d/modules/rethinkdb/client.go
  src/go/plugin/go.d/modules/rethinkdb/collect.go
  src/go/plugin/go.d/modules/rethinkdb/config_schema.json
  src/go/plugin/go.d/modules/rethinkdb/metadata.yaml
  src/go/plugin/go.d/modules/rethinkdb/rethinkdb.go
  src/go/plugin/go.d/modules/rethinkdb/rethinkdb_test.go
  src/go/plugin/go.d/modules/rethinkdb/testdata/config.json
  src/go/plugin/go.d/modules/rethinkdb/testdata/config.yaml
  src/go/plugin/go.d/modules/rethinkdb/testdata/v2.4.4/stats.txt
Labels: area/docs, area/collectors, collectors/apps, collectors/go.d, area/metadata, area/go

#18277 remove python.d/rethinkdb
  CMakeLists.txt
  src/collectors/python.d.plugin/python.d.conf
  src/collectors/python.d.plugin/rethinkdbs/README.md
  src/collectors/python.d.plugin/rethinkdbs/integrations/rethinkdb.md
  src/collectors/python.d.plugin/rethinkdbs/metadata.yaml
  src/collectors/python.d.plugin/rethinkdbs/rethinkdbs.chart.py
  src/collectors/python.d.plugin/rethinkdbs/rethinkdbs.conf
Labels: area/docs, area/collectors, area/build, collectors/python.d, area/metadata

#18279 inital commit for Go squid
  CMakeLists.txt
  src/collectors/python.d.plugin/python.d.conf
  src/collectors/python.d.plugin/squid/README.md
  src/collectors/python.d.plugin/squid/integrations/squid.md
  src/collectors/python.d.plugin/squid/metadata.yaml
  src/collectors/python.d.plugin/squid/squid.chart.py
  src/collectors/python.d.plugin/squid/squid.conf
Labels: area/docs, area/collectors, area/build, collectors/python.d, area/metadata

#18276 Squid collector port to Go
  src/go/plugin/go.d/README.md
  src/go/plugin/go.d/config/go.d.conf
  src/go/plugin/go.d/config/go.d/sd/docker.conf
  src/go/plugin/go.d/config/go.d/sd/net_listeners.conf
  src/go/plugin/go.d/config/go.d/squid.conf
  src/go/plugin/go.d/modules/init.go
  src/go/plugin/go.d/modules/squid/charts.go
  src/go/plugin/go.d/modules/squid/collect.go
  src/go/plugin/go.d/modules/squid/config_schema.json
  src/go/plugin/go.d/modules/squid/metadata.yaml
  src/go/plugin/go.d/modules/squid/squid.go
  src/go/plugin/go.d/modules/squid/squid_test.go
  src/go/plugin/go.d/modules/squid/testdata/config.json
  src/go/plugin/go.d/modules/squid/testdata/config.yaml
  src/go/plugin/go.d/modules/squid/testdata/counters.txt
Labels: area/docs, area/collectors, collectors/go.d, area/metadata, area/go

#18289 go.d rethinkdb fix cluster_servers_stats_request
  src/go/plugin/go.d/agent/module/charts.go
  src/go/plugin/go.d/modules/rethinkdb/collect.go
  src/go/plugin/go.d/modules/rethinkdb/rethinkdb_test.go
  src/go/plugin/go.d/modules/rethinkdb/testdata/v2.4.4/stats.txt
Labels: area/collectors, collectors/go.d, area/go

#18290 remove python.d/alarms
  CMakeLists.txt
  src/collectors/python.d.plugin/alarms/README.md
  src/collectors/python.d.plugin/alarms/alarms.chart.py
  src/collectors/python.d.plugin/alarms/alarms.conf
  src/collectors/python.d.plugin/alarms/integrations/netdata_agent_alarms.md
  src/collectors/python.d.plugin/alarms/metadata.yaml
  src/collectors/python.d.plugin/python.d.conf
Labels: area/docs, area/collectors, area/build, collectors/python.d, area/metadata

#18291 remove python.d/gearman
  CMakeLists.txt
  src/collectors/python.d.plugin/gearman/README.md
  src/collectors/python.d.plugin/gearman/gearman.chart.py
  src/collectors/python.d.plugin/gearman/gearman.conf
  src/collectors/python.d.plugin/gearman/integrations/gearman.md
  src/collectors/python.d.plugin/gearman/metadata.yaml
Labels: area/docs, area/collectors, area/build, collectors/python.d, area/metadata

#18294 add go.d/gearman
  src/collectors/python.d.plugin/python.d.conf
  src/go/plugin/go.d/README.md
  src/go/plugin/go.d/config/go.d.conf
  src/go/plugin/go.d/config/go.d/gearman.conf
  src/go/plugin/go.d/config/go.d/sd/docker.conf
  src/go/plugin/go.d/config/go.d/sd/net_listeners.conf
  src/go/plugin/go.d/modules/gearman/charts.go
  src/go/plugin/go.d/modules/gearman/client.go
  src/go/plugin/go.d/modules/gearman/collect.go
  src/go/plugin/go.d/modules/gearman/config_schema.json
  src/go/plugin/go.d/modules/gearman/gearman.go
  src/go/plugin/go.d/modules/gearman/gearman_test.go
  src/go/plugin/go.d/modules/gearman/metadata.yaml
  src/go/plugin/go.d/modules/gearman/testdata/config.json
  src/go/plugin/go.d/modules/gearman/testdata/config.yaml
  src/go/plugin/go.d/modules/gearman/testdata/priority-status.txt
  src/go/plugin/go.d/modules/gearman/testdata/status.txt
  src/go/plugin/go.d/modules/init.go
  src/health/health.d/gearman.conf
Labels: area/docs, area/health, area/collectors, collectors/python.d, collectors/go.d, area/metadata, area/go

#18298 go.d gearman fix meta
  src/go/plugin/go.d/modules/gearman/metadata.yaml
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#18301 add nsd-control to ndsudo
  src/collectors/plugins.d/ndsudo.c
Labels: area/collectors, collectors/plugins.d

#18300 remove python.d/nsd
  CMakeLists.txt
  src/collectors/python.d.plugin/nsd/README.md
  src/collectors/python.d.plugin/nsd/integrations/name_server_daemon.md
  src/collectors/python.d.plugin/nsd/metadata.yaml
  src/collectors/python.d.plugin/nsd/nsd.chart.py
  src/collectors/python.d.plugin/nsd/nsd.conf
Labels: area/docs, area/collectors, area/build, collectors/python.d, area/metadata

#18302 add go.d/nsd
  src/collectors/python.d.plugin/python.d.conf
  src/go/plugin/go.d/modules/init.go
  src/go/plugin/go.d/modules/nsd/charts.go
  src/go/plugin/go.d/modules/nsd/collect.go
  src/go/plugin/go.d/modules/nsd/config_schema.json
  src/go/plugin/go.d/modules/nsd/exec.go
  src/go/plugin/go.d/modules/nsd/init.go
  src/go/plugin/go.d/modules/nsd/metadata.yaml
  src/go/plugin/go.d/modules/nsd/nsd.go
  src/go/plugin/go.d/modules/nsd/nsd_test.go
  src/go/plugin/go.d/modules/nsd/stats_counters.go
  src/go/plugin/go.d/modules/nsd/testdata/config.json
  src/go/plugin/go.d/modules/nsd/testdata/config.yaml
  src/go/plugin/go.d/modules/nsd/testdata/stats.txt
Labels: area/collectors, collectors/python.d, collectors/go.d, area/metadata, area/go

#18304 add exim to ndsudo
  src/collectors/plugins.d/ndsudo.c
Labels: area/collectors, collectors/plugins.d

#18305 remove python.d/exim
  CMakeLists.txt
  src/collectors/python.d.plugin/exim/README.md
  src/collectors/python.d.plugin/exim/exim.chart.py
  src/collectors/python.d.plugin/exim/exim.conf
  src/collectors/python.d.plugin/exim/integrations/exim.md
  src/collectors/python.d.plugin/exim/metadata.yaml
Labels: area/docs, area/collectors, area/build, collectors/python.d, area/metadata

#18313 go.d nvidia_smi: add loop mode
  src/go/plugin/go.d/modules/nvidia_smi/config_schema.json
  src/go/plugin/go.d/modules/nvidia_smi/exec.go
  src/go/plugin/go.d/modules/nvidia_smi/init.go
  src/go/plugin/go.d/modules/nvidia_smi/metadata.yaml
  src/go/plugin/go.d/modules/nvidia_smi/nvidia_smi.go
  src/go/plugin/go.d/modules/nvidia_smi/nvidia_smi_test.go
  src/go/plugin/go.d/modules/nvidia_smi/testdata/config.json
  src/go/plugin/go.d/modules/nvidia_smi/testdata/config.yaml
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#18293 Use system certificate configuration for Yum/DNF repos.
  packaging/repoconfig/deb.changelog
  packaging/repoconfig/netdata.repo.dnf
  packaging/repoconfig/rpm.changelog
Labels: area/packaging

#18315 go.d nvidia_smi: enable by default
  src/go/plugin/go.d/modules/nvidia_smi/metadata.yaml
  src/go/plugin/go.d/modules/nvidia_smi/nvidia_smi.go
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#18316 remove python.d/nvidia_smi
  CMakeLists.txt
  src/collectors/python.d.plugin/nvidia_smi/README.md
  src/collectors/python.d.plugin/nvidia_smi/metadata.yaml
  src/collectors/python.d.plugin/nvidia_smi/nvidia_smi.chart.py
  src/collectors/python.d.plugin/nvidia_smi/nvidia_smi.conf
  src/collectors/python.d.plugin/python.d.conf
Labels: area/docs, area/collectors, area/build, collectors/python.d, area/metadata

#18296 Handle GOROOT inside build system instead of outside.
  .github/workflows/build.yml
  packaging/cmake/Modules/FindGo.cmake
  packaging/cmake/Modules/NetdataGoTools.cmake
Labels: area/ci, area/packaging

#18320 go.d redis: fix default "address" in config_schema.json
  src/go/plugin/go.d/modules/redis/config_schema.json
Labels: area/collectors, collectors/go.d, area/go

#18321 add go.d dovecot
  src/collectors/python.d.plugin/python.d.conf
  src/go/plugin/go.d/README.md
  src/go/plugin/go.d/config/go.d.conf
  src/go/plugin/go.d/config/go.d/dovecot.conf
  src/go/plugin/go.d/config/go.d/sd/docker.conf
  src/go/plugin/go.d/config/go.d/sd/net_listeners.conf
  src/go/plugin/go.d/modules/dovecot/charts.go
  src/go/plugin/go.d/modules/dovecot/client.go
  src/go/plugin/go.d/modules/dovecot/collect.go
  src/go/plugin/go.d/modules/dovecot/config_schema.json
  src/go/plugin/go.d/modules/dovecot/dovecot.go
  src/go/plugin/go.d/modules/dovecot/dovecot_test.go
  src/go/plugin/go.d/modules/dovecot/metadata.yaml
  src/go/plugin/go.d/modules/dovecot/testdata/config.json
  src/go/plugin/go.d/modules/dovecot/testdata/config.yaml
  src/go/plugin/go.d/modules/dovecot/testdata/export_global.txt
  src/go/plugin/go.d/modules/init.go
  src/go/plugin/go.d/modules/openvpn/config_schema.json
Labels: area/docs, area/collectors, collectors/python.d, collectors/go.d, area/metadata, area/go

#18322 remove python.d/dovecot
  CMakeLists.txt
  src/collectors/python.d.plugin/dovecot/README.md
  src/collectors/python.d.plugin/dovecot/dovecot.chart.py
  src/collectors/python.d.plugin/dovecot/dovecot.conf
  src/collectors/python.d.plugin/dovecot/integrations/dovecot.md
  src/collectors/python.d.plugin/dovecot/metadata.yaml
Labels: area/docs, area/collectors, area/build, collectors/python.d, area/metadata

#18325 remove python.d/uwsgi
  CMakeLists.txt
  src/collectors/python.d.plugin/uwsgi/README.md
  src/collectors/python.d.plugin/uwsgi/integrations/uwsgi.md
  src/collectors/python.d.plugin/uwsgi/metadata.yaml
  src/collectors/python.d.plugin/uwsgi/uwsgi.chart.py
  src/collectors/python.d.plugin/uwsgi/uwsgi.conf
Labels: area/docs, area/collectors, area/build, collectors/python.d, area/metadata

#18326 add go.d/uwsgi
  src/collectors/python.d.plugin/python.d.conf
  src/go/plugin/go.d/config/go.d.conf
  src/go/plugin/go.d/config/go.d/sd/net_listeners.conf
  src/go/plugin/go.d/config/go.d/uwsgi.conf
  src/go/plugin/go.d/modules/init.go
  src/go/plugin/go.d/modules/uwsgi/charts.go
  src/go/plugin/go.d/modules/uwsgi/client.go
  src/go/plugin/go.d/modules/uwsgi/collect.go
  src/go/plugin/go.d/modules/uwsgi/config_schema.json
  src/go/plugin/go.d/modules/uwsgi/init.go
  src/go/plugin/go.d/modules/uwsgi/metadata.yaml
  src/go/plugin/go.d/modules/uwsgi/testdata/config.json
  src/go/plugin/go.d/modules/uwsgi/testdata/config.yaml
  src/go/plugin/go.d/modules/uwsgi/testdata/stats.json
  src/go/plugin/go.d/modules/uwsgi/testdata/stats_no_workers.json
  src/go/plugin/go.d/modules/uwsgi/uwsgi.go
  src/go/plugin/go.d/modules/uwsgi/uwsgi_test.go
Labels: area/collectors, collectors/python.d, collectors/go.d, area/metadata, area/go

#18248 Add trigger to clean up chart labels and charts
  src/database/sqlite/sqlite_metadata.c
Labels: area/database

#18329 remove python.d/riakkv
  CMakeLists.txt
  src/collectors/python.d.plugin/riakkv/README.md
  src/collectors/python.d.plugin/riakkv/integrations/riakkv.md
  src/collectors/python.d.plugin/riakkv/metadata.yaml
  src/collectors/python.d.plugin/riakkv/riakkv.chart.py
  src/collectors/python.d.plugin/riakkv/riakkv.conf
Labels: area/docs, area/collectors, area/build, collectors/python.d, area/metadata

#18330 go.d riakkv
  src/collectors/python.d.plugin/python.d.conf
  src/go/plugin/go.d/README.md
  src/go/plugin/go.d/config/go.d.conf
  src/go/plugin/go.d/config/go.d/riakkv.conf
  src/go/plugin/go.d/config/go.d/sd/net_listeners.conf
  src/go/plugin/go.d/modules/init.go
  src/go/plugin/go.d/modules/riakkv/charts.go
  src/go/plugin/go.d/modules/riakkv/collect.go
  src/go/plugin/go.d/modules/riakkv/config_schema.json
  src/go/plugin/go.d/modules/riakkv/metadata.yaml
  src/go/plugin/go.d/modules/riakkv/riakkv.go
  src/go/plugin/go.d/modules/riakkv/riakkv_test.go
  src/go/plugin/go.d/modules/riakkv/stats.go
  src/go/plugin/go.d/modules/riakkv/testdata/config.json
  src/go/plugin/go.d/modules/riakkv/testdata/config.yaml
  src/go/plugin/go.d/modules/riakkv/testdata/stats.json
Labels: area/docs, area/collectors, collectors/python.d, collectors/go.d, area/metadata, area/go

#18334 add dashboard v2 license to readme
  README.md
Labels: area/docs

#18335 add i2pd to apps_groups.conf
  src/collectors/apps.plugin/apps_groups.conf
Labels: area/collectors, collectors/apps

#18345 add license to readmes menu
  README.md
Labels: area/docs

#18347 fix sending CLEAR notifications with critical severity modifier
  src/health/notifications/alarm-notify.sh.in
Labels: area/health

#18343 remove python.d/monit
  CMakeLists.txt
  src/collectors/python.d.plugin/monit/README.md
  src/collectors/python.d.plugin/monit/integrations/monit.md
  src/collectors/python.d.plugin/monit/metadata.yaml
  src/collectors/python.d.plugin/monit/monit.chart.py
  src/collectors/python.d.plugin/monit/monit.conf
Labels: area/docs, area/collectors, area/build, collectors/python.d, area/metadata

#18348 Add missing initial slashes for internal documation links
  docs/deployment-guides/deployment-strategies.md
  docs/metric-correlations.md
Labels: area/docs

#18344 add go.d/monit
  src/collectors/python.d.plugin/python.d.conf
  src/go/plugin/go.d/README.md
  src/go/plugin/go.d/config/go.d.conf
  src/go/plugin/go.d/config/go.d/monit.conf
  src/go/plugin/go.d/config/go.d/sd/net_listeners.conf
  src/go/plugin/go.d/modules/init.go
  src/go/plugin/go.d/modules/monit/charts.go
  src/go/plugin/go.d/modules/monit/collect.go
  src/go/plugin/go.d/modules/monit/config_schema.json
  src/go/plugin/go.d/modules/monit/metadata.yaml
  src/go/plugin/go.d/modules/monit/monit.go
  src/go/plugin/go.d/modules/monit/monit_test.go
  src/go/plugin/go.d/modules/monit/status.go
  src/go/plugin/go.d/modules/monit/testdata/config.json
  src/go/plugin/go.d/modules/monit/testdata/config.yaml
  src/go/plugin/go.d/modules/monit/testdata/v5.33.0/status.xml
Labels: area/docs, area/collectors, collectors/python.d, collectors/go.d, area/metadata, area/go

#18351 go.d httpcheck: add status description to docs
  src/go/plugin/go.d/modules/httpcheck/metadata.yaml
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#18356 remove python.d lm_sensors.py
  src/collectors/python.d.plugin/python_modules/third_party/lm_sensors.py
Labels: area/collectors, collectors/python.d

#18355 remove python.d/retroshare
  CMakeLists.txt
  src/collectors/python.d.plugin/retroshare/README.md
  src/collectors/python.d.plugin/retroshare/integrations/retroshare.md
  src/collectors/python.d.plugin/retroshare/metadata.yaml
  src/collectors/python.d.plugin/retroshare/retroshare.chart.py
  src/collectors/python.d.plugin/retroshare/retroshare.conf
Labels: area/docs, area/collectors, area/build, collectors/python.d, area/metadata

#18358 remove python.d/tor
  CMakeLists.txt
  src/collectors/python.d.plugin/tor/README.md
  src/collectors/python.d.plugin/tor/integrations/tor.md
  src/collectors/python.d.plugin/tor/metadata.yaml
  src/collectors/python.d.plugin/tor/tor.chart.py
  src/collectors/python.d.plugin/tor/tor.conf
Labels: area/docs, area/collectors, area/build, collectors/python.d, area/metadata

#18361 add go.d/tor
  src/collectors/python.d.plugin/python.d.conf
  src/go/plugin/go.d/README.md
  src/go/plugin/go.d/config/go.d.conf
  src/go/plugin/go.d/config/go.d/sd/docker.conf
  src/go/plugin/go.d/config/go.d/sd/net_listeners.conf
  src/go/plugin/go.d/config/go.d/tor.conf
  src/go/plugin/go.d/modules/init.go
  src/go/plugin/go.d/modules/tor/charts.go
  src/go/plugin/go.d/modules/tor/client.go
  src/go/plugin/go.d/modules/tor/collect.go
  src/go/plugin/go.d/modules/tor/config_schema.json
  src/go/plugin/go.d/modules/tor/metadata.yaml
  src/go/plugin/go.d/modules/tor/testdata/config.json
  src/go/plugin/go.d/modules/tor/testdata/config.yaml
  src/go/plugin/go.d/modules/tor/tor.go
  src/go/plugin/go.d/modules/tor/tor_test.go
Labels: area/docs, area/collectors, collectors/python.d, collectors/go.d, area/metadata, area/go

#18365 eBPF (reduce CPU and memory usage)
  src/collectors/ebpf.plugin/ebpf.c
  src/collectors/ebpf.plugin/ebpf_apps.c
  src/collectors/ebpf.plugin/ebpf_apps.h
  src/collectors/ebpf.plugin/ebpf_cachestat.c
  src/collectors/ebpf.plugin/ebpf_dcstat.c
  src/collectors/ebpf.plugin/ebpf_fd.c
  src/collectors/ebpf.plugin/ebpf_process.c
  src/collectors/ebpf.plugin/ebpf_shm.c
  src/collectors/ebpf.plugin/ebpf_socket.c
  src/collectors/ebpf.plugin/ebpf_swap.c
  src/collectors/ebpf.plugin/ebpf_vfs.c
Labels: area/collectors, collectors/ebpf

#18368 go.d squidlog: improve parser init and parsing
  src/go/plugin/go.d/modules/squidlog/init.go
  src/go/plugin/go.d/modules/squidlog/logline.go
  src/go/plugin/go.d/modules/squidlog/logline_test.go
Labels: area/collectors, collectors/go.d, area/go

#18369 remove python.d/example
  CMakeLists.txt
  src/collectors/python.d.plugin/example/README.md
  src/collectors/python.d.plugin/example/example.chart.py
  src/collectors/python.d.plugin/example/example.conf
  src/collectors/python.d.plugin/example/integrations/example_collector.md
  src/collectors/python.d.plugin/example/metadata.yaml
  src/collectors/python.d.plugin/python.d.conf
Labels: area/docs, area/collectors, area/build, collectors/python.d, area/metadata

#18370 remove python.d/changefinder
  CMakeLists.txt
  src/collectors/python.d.plugin/changefinder/README.md
  src/collectors/python.d.plugin/changefinder/changefinder.chart.py
  src/collectors/python.d.plugin/changefinder/changefinder.conf
  src/collectors/python.d.plugin/changefinder/integrations/python.d_changefinder.md
  src/collectors/python.d.plugin/changefinder/metadata.yaml
  src/collectors/python.d.plugin/python.d.conf
Labels: area/docs, area/collectors, area/build, collectors/python.d, area/metadata

#18376 go.d dnsmasq: query metrics individually to handle v2.90+ SERVFAIL
  src/go/plugin/go.d/modules/dnsmasq/collect.go
Labels: area/collectors, collectors/go.d, area/go

#18094 Add SCIM integration docs
  integrations/cloud-authentication/metadata.yaml
Labels: area/metadata

#18378 ci gen integrations: add cloud-authentication dir
  .github/workflows/generate-integrations.yml
Labels: area/ci

#18379 go.d docs: add a note that debug mode not supported for Dyncfg jobs
  integrations/templates/troubleshooting.md
Labels: area/docs, area/metadata

#18381 Remove host immediately on stale node removal
  src/daemon/commands.c
Labels: area/daemon

#18374 Switch to DEB822 format for APT repository configuration.
  packaging/repoconfig/CMakeLists.txt
  packaging/repoconfig/deb.changelog
  packaging/repoconfig/netdata.list.in
  packaging/repoconfig/netdata.sources.in
  packaging/repoconfig/rpm.changelog
Labels: area/packaging

#18382 Remove debug message
  src/health/health_event_loop.c
Labels: area/health

#18372 Origin-sign all DEB packages regardless of upload target.
  .github/workflows/packaging.yml
Labels: area/ci

#18383 go.d zfspool: collect vdev health state
  src/go/plugin/go.d/modules/zfspool/charts.go
  src/go/plugin/go.d/modules/zfspool/collect.go
  src/go/plugin/go.d/modules/zfspool/collect_zpool_list.go
  src/go/plugin/go.d/modules/zfspool/collect_zpool_list_vdev.go
  src/go/plugin/go.d/modules/zfspool/exec.go
  src/go/plugin/go.d/modules/zfspool/metadata.yaml
  src/go/plugin/go.d/modules/zfspool/testdata/zpool-list-vdev-logs-cache.txt
  src/go/plugin/go.d/modules/zfspool/testdata/zpool-list-vdev.txt
  src/go/plugin/go.d/modules/zfspool/zfspool.go
  src/go/plugin/go.d/modules/zfspool/zfspool_test.go
  src/health/health.d/zfs.conf
Labels: area/health, area/collectors, collectors/go.d, area/metadata, area/go

#18389 remove proc zfspools
  src/collectors/proc.plugin/metadata.yaml
  src/collectors/proc.plugin/plugin_proc.c
  src/collectors/proc.plugin/plugin_proc.h
  src/collectors/proc.plugin/proc_spl_kstat_zfs.c
Labels: area/collectors, collectors/proc, area/metadata

#18386 Modify CLI command remove-stale-node to accept hostname
  src/daemon/commands.c
Labels: area/daemon

#18394 go.d dnsmsasq_dhcp: improve parsing of dhcp ranges
  src/go/plugin/go.d/modules/dnsmasq_dhcp/dhcp_test.go
  src/go/plugin/go.d/modules/dnsmasq_dhcp/parse_configuration.go
Labels: area/collectors, collectors/go.d, area/go

#18397 remove python.d/boinc
  CMakeLists.txt
  src/collectors/python.d.plugin/boinc/README.md
  src/collectors/python.d.plugin/boinc/boinc.chart.py
  src/collectors/python.d.plugin/boinc/boinc.conf
  src/collectors/python.d.plugin/boinc/integrations/boinc.md
  src/collectors/python.d.plugin/boinc/metadata.yaml
  src/collectors/python.d.plugin/python_modules/third_party/boinc_client.py
Labels: area/docs, area/collectors, area/build, collectors/python.d, area/metadata

#18398 go.d boinc
  src/collectors/python.d.plugin/python.d.conf
  src/go/plugin/go.d/README.md
  src/go/plugin/go.d/config/go.d.conf
  src/go/plugin/go.d/config/go.d/boinc.conf
  src/go/plugin/go.d/config/go.d/sd/docker.conf
  src/go/plugin/go.d/config/go.d/sd/net_listeners.conf
  src/go/plugin/go.d/modules/boinc/boinc.go
  src/go/plugin/go.d/modules/boinc/boinc_test.go
  src/go/plugin/go.d/modules/boinc/charts.go
  src/go/plugin/go.d/modules/boinc/client.go
  src/go/plugin/go.d/modules/boinc/client_proto.go
  src/go/plugin/go.d/modules/boinc/collect.go
  src/go/plugin/go.d/modules/boinc/config_schema.json
  src/go/plugin/go.d/modules/boinc/metadata.yaml
  src/go/plugin/go.d/modules/boinc/testdata/config.json
  src/go/plugin/go.d/modules/boinc/testdata/config.yaml
  src/go/plugin/go.d/modules/boinc/testdata/get_results.xml
  src/go/plugin/go.d/modules/boinc/testdata/get_results_no_tasks.xml
  src/go/plugin/go.d/modules/init.go
  src/health/health.d/boinc.conf
Labels: area/docs, area/health, area/collectors, collectors/python.d, collectors/go.d, area/metadata, area/go

#18395 fix warnings in Dockerfile
  packaging/docker/Dockerfile
Labels: area/packaging

#18401 go.d dnsmasqdhcp: simplify parseDHCPRangeValue
  src/go/plugin/go.d/modules/dnsmasq_dhcp/dhcp_test.go
  src/go/plugin/go.d/modules/dnsmasq_dhcp/parse_configuration.go
Labels: area/collectors, collectors/go.d, area/go

#18402 remove python.d/anomalies
  CMakeLists.txt
  src/collectors/python.d.plugin/anomalies/README.md
  src/collectors/python.d.plugin/anomalies/anomalies.chart.py
  src/collectors/python.d.plugin/anomalies/anomalies.conf
  src/collectors/python.d.plugin/anomalies/metadata.yaml
  src/collectors/python.d.plugin/python.d.conf
  src/health/health.d/anomalies.conf
Labels: area/docs, area/health, area/collectors, area/build, collectors/python.d, area/metadata

#18404 remove pyyaml2
  .codacy.yml
  src/collectors/python.d.plugin/python_modules/bases/loaders.py
  src/collectors/python.d.plugin/python_modules/pyyaml2/__init__.py
  src/collectors/python.d.plugin/python_modules/pyyaml2/composer.py
  src/collectors/python.d.plugin/python_modules/pyyaml2/constructor.py
  src/collectors/python.d.plugin/python_modules/pyyaml2/cyaml.py
  src/collectors/python.d.plugin/python_modules/pyyaml2/dumper.py
  src/collectors/python.d.plugin/python_modules/pyyaml2/emitter.py
  src/collectors/python.d.plugin/python_modules/pyyaml2/error.py
  src/collectors/python.d.plugin/python_modules/pyyaml2/events.py
  src/collectors/python.d.plugin/python_modules/pyyaml2/loader.py
  src/collectors/python.d.plugin/python_modules/pyyaml2/nodes.py
  src/collectors/python.d.plugin/python_modules/pyyaml2/parser.py
  src/collectors/python.d.plugin/python_modules/pyyaml2/reader.py
  src/collectors/python.d.plugin/python_modules/pyyaml2/representer.py
  src/collectors/python.d.plugin/python_modules/pyyaml2/resolver.py
  src/collectors/python.d.plugin/python_modules/pyyaml2/scanner.py
  src/collectors/python.d.plugin/python_modules/pyyaml2/serializer.py
  src/collectors/python.d.plugin/python_modules/pyyaml2/tokens.py
Labels: area/collectors, collectors/python.d

#18403 imporve netdatacli help usage readability
  src/daemon/commands.c
Labels: area/daemon

#18405 Fix coverity issues
  src/claim/claim-with-api.c
Labels: area/claim

#18406 kickstart: fix write_claim_config when executed as a regular user
  packaging/installer/kickstart.sh
Labels: area/packaging

#18218 Use existing ACLK event loop for cloud queries
  CMakeLists.txt
  src/aclk/aclk.c
  src/aclk/aclk.h
  src/aclk/aclk_alarm_api.c
  src/aclk/aclk_alarm_api.h
  src/aclk/aclk_otp.c
  src/aclk/aclk_query.c
  src/aclk/aclk_query.h
  src/aclk/aclk_query_queue.c
  src/aclk/aclk_query_queue.h
  src/aclk/aclk_rx_msgs.c
  src/aclk/aclk_rx_msgs.h
  src/aclk/aclk_stats.c
  src/aclk/aclk_stats.h
  src/aclk/aclk_tx_msgs.c
  src/aclk/aclk_tx_msgs.h
  src/aclk/https_client.c
  src/daemon/global_statistics.c
  src/daemon/main.c
  src/daemon/main.h
  src/database/contexts/query_target.c
  src/database/sqlite/sqlite_aclk.c
  src/database/sqlite/sqlite_aclk.h
  src/web/api/v1/api_v1_ml_info.c
Labels: area/web, area/daemon, area/database, area/aclk, area/build

#18414 add "smbstatus -P" to ndsudo
  src/collectors/plugins.d/ndsudo.c
Labels: area/collectors, collectors/plugins.d

#18418 add go.d samba
  src/collectors/python.d.plugin/python.d.conf
  src/go/plugin/go.d/README.md
  src/go/plugin/go.d/config/go.d.conf
  src/go/plugin/go.d/config/go.d/samba.conf
  src/go/plugin/go.d/modules/init.go
  src/go/plugin/go.d/modules/samba/charts.go
  src/go/plugin/go.d/modules/samba/collect.go
  src/go/plugin/go.d/modules/samba/config_schema.json
  src/go/plugin/go.d/modules/samba/exec.go
  src/go/plugin/go.d/modules/samba/init.go
  src/go/plugin/go.d/modules/samba/metadata.yaml
  src/go/plugin/go.d/modules/samba/samba.go
  src/go/plugin/go.d/modules/samba/samba_test.go
  src/go/plugin/go.d/modules/samba/testdata/config.json
  src/go/plugin/go.d/modules/samba/testdata/config.yaml
  src/go/plugin/go.d/modules/samba/testdata/smbstatus-profile.txt
Labels: area/docs, area/collectors, collectors/python.d, collectors/go.d, area/metadata, area/go

#18420 fix hyperlink in go.d samba meta
  src/go/plugin/go.d/modules/samba/metadata.yaml
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#18424 remove checks.plugin dir
  src/collectors/checks.plugin/README.md
Labels: area/docs, area/collectors

#18425 Reset last connected when removing stale nodes with netdatacli
  src/database/sqlite/sqlite_aclk.c
Labels: area/database, area/aclk

#18427 vendor https://github.com/mdlayher/lmsensors
  REDISTRIBUTED.md
  src/go/plugin/go.d/modules/sensors/lmsensors/LICENSE.md
  src/go/plugin/go.d/modules/sensors/lmsensors/README.md
  src/go/plugin/go.d/modules/sensors/lmsensors/currentsensor.go
  src/go/plugin/go.d/modules/sensors/lmsensors/doc.go
  src/go/plugin/go.d/modules/sensors/lmsensors/fansensor.go
  src/go/plugin/go.d/modules/sensors/lmsensors/intrusionsensor.go
  src/go/plugin/go.d/modules/sensors/lmsensors/powersensor.go
  src/go/plugin/go.d/modules/sensors/lmsensors/scanner.go
  src/go/plugin/go.d/modules/sensors/lmsensors/scanner_test.go
  src/go/plugin/go.d/modules/sensors/lmsensors/sensor.go
  src/go/plugin/go.d/modules/sensors/lmsensors/temperaturesensor.go
  src/go/plugin/go.d/modules/sensors/lmsensors/voltagesensor.go
Labels: area/docs, area/collectors, collectors/go.d, area/go

#18429 go.d lmsensors improve performance
  src/go/plugin/go.d/modules/sensors/lmsensors/scanner.go
  src/go/plugin/go.d/modules/sensors/lmsensors/scanner_test.go
Labels: area/collectors, collectors/go.d, area/go

#18428 ci fix InvalidDefaultArgInFrom warn
  .github/dockerfiles/Dockerfile.build_test
Labels: area/ci

#18417 ACLK code cleanup
  CMakeLists.txt
  src/aclk/aclk_otp.c
  src/aclk/helpers/mqtt_wss_pal.h
  src/aclk/helpers/ringbuffer_pal.h
  src/aclk/https_client.h
  src/aclk/mqtt_websockets/.github/workflows/run-tests.yaml
  src/aclk/mqtt_websockets/.gitignore
  src/aclk/mqtt_websockets/c-rbuf/cringbuffer_internal.h
  src/aclk/mqtt_websockets/c-rbuf/ringbuffer_test.c
  src/aclk/mqtt_websockets/common_internal.h
  src/aclk/mqtt_websockets/common_public.h
  src/aclk/mqtt_websockets/mqtt_ng.c
  src/aclk/mqtt_websockets/mqtt_ng.h
  src/aclk/mqtt_websockets/mqtt_wss_client.c
  src/aclk/mqtt_websockets/mqtt_wss_client.h
  src/aclk/mqtt_websockets/mqtt_wss_log.c
  src/aclk/mqtt_websockets/ws_client.c
  src/aclk/mqtt_websockets/ws_client.h
  src/libnetdata/c_rhash/c_rhash.c
  src/libnetdata/c_rhash/c_rhash.h
  src/libnetdata/c_rhash/c_rhash_internal.h
  src/libnetdata/c_rhash/tests.c
  src/libnetdata/libnetdata.h
  src/libnetdata/ringbuffer/ringbuffer.c
  src/libnetdata/ringbuffer/ringbuffer.h
  src/libnetdata/ringbuffer/ringbuffer_internal.h
  src/web/server/h2o/streaming.h
Labels: area/web, area/aclk, area/build

#18431 go.d/sensors: add sysfs scan method to collect metrics
  src/go/plugin/go.d/modules/sensors/charts.go
  src/go/plugin/go.d/modules/sensors/collect.go
  src/go/plugin/go.d/modules/sensors/collect_exec.go
  src/go/plugin/go.d/modules/sensors/collect_sysfs.go
  src/go/plugin/go.d/modules/sensors/config_schema.json
  src/go/plugin/go.d/modules/sensors/init.go
  src/go/plugin/go.d/modules/sensors/lmsensors/README.md
  src/go/plugin/go.d/modules/sensors/lmsensors/currentsensor.go
  src/go/plugin/go.d/modules/sensors/lmsensors/fansensor.go
  src/go/plugin/go.d/modules/sensors/lmsensors/intrusionsensor.go
  src/go/plugin/go.d/modules/sensors/lmsensors/powersensor.go
  src/go/plugin/go.d/modules/sensors/lmsensors/scanner.go
  src/go/plugin/go.d/modules/sensors/lmsensors/scanner_test.go
  src/go/plugin/go.d/modules/sensors/lmsensors/sensor.go
  src/go/plugin/go.d/modules/sensors/lmsensors/temperaturesensor.go
  src/go/plugin/go.d/modules/sensors/lmsensors/voltagesensor.go
  src/go/plugin/go.d/modules/sensors/metadata.yaml
  src/go/plugin/go.d/modules/sensors/sensors.go
  src/go/plugin/go.d/modules/sensors/sensors_test.go
Labels: area/docs, area/collectors, collectors/go.d, area/metadata, area/go

#18426 remove charts.d/sensors
  CMakeLists.txt
  src/collectors/charts.d.plugin/sensors/README.md
  src/collectors/charts.d.plugin/sensors/integrations/linux_sensors_sysfs.md
  src/collectors/charts.d.plugin/sensors/metadata.yaml
  src/collectors/charts.d.plugin/sensors/sensors.chart.sh
  src/collectors/charts.d.plugin/sensors/sensors.conf
Labels: area/docs, area/collectors, area/build, collectors/charts.d, area/metadata

#18435 go.d remove duplicates in testing
  src/go/plugin/go.d/modules/ap/ap_test.go
  src/go/plugin/go.d/modules/clickhouse/clickhouse_test.go
  src/go/plugin/go.d/modules/cockroachdb/cockroachdb_test.go
  src/go/plugin/go.d/modules/dmcache/dmcache_test.go
  src/go/plugin/go.d/modules/fail2ban/fail2ban_test.go
  src/go/plugin/go.d/modules/filecheck/filecheck_test.go
  src/go/plugin/go.d/modules/hddtemp/hddtemp_test.go
  src/go/plugin/go.d/modules/hpssa/hpssa_test.go
  src/go/plugin/go.d/modules/ipfs/ipfs_test.go
  src/go/plugin/go.d/modules/litespeed/litespeed_test.go
  src/go/plugin/go.d/modules/puppet/puppet_test.go
  src/go/plugin/go.d/modules/rspamd/rspamd_test.go
  src/go/plugin/go.d/modules/scaleio/scaleio_test.go
  src/go/plugin/go.d/modules/smartctl/smartctl_test.go
  src/go/plugin/go.d/modules/squidlog/squidlog_test.go
  src/go/plugin/go.d/modules/storcli/storcli_test.go
  src/go/plugin/go.d/modules/vernemq/vernemq_test.go
  src/go/plugin/go.d/modules/weblog/weblog_test.go
  src/go/plugin/go.d/modules/windows/windows_test.go
Labels: area/collectors, collectors/go.d, area/go

#18430 stream paths propagated to children and parents
  CMakeLists.txt
  src/aclk/aclk.c
  src/claim/claim.c
  src/claim/cloud-status.c
  src/collectors/plugins.d/gperf-config.txt
  src/collectors/plugins.d/gperf-hashtable.h
  src/collectors/plugins.d/pluginsd_parser.c
  src/collectors/plugins.d/pluginsd_parser.h
  src/daemon/commands.c
  src/daemon/config/dyncfg-tree.c
  src/daemon/config/dyncfg.c
  src/daemon/main.c
  src/database/contexts/api_v1_contexts.c
  src/database/contexts/api_v2_contexts.c
  src/database/contexts/api_v2_contexts_agents.c
  src/database/contexts/api_v2_contexts_alert_transitions.c
  src/database/contexts/query_scope.c
  src/database/contexts/query_target.c
  src/database/contexts/rrdcontext.c
  src/database/contexts/worker.c
  src/database/rrd.h
  src/database/rrdhost.c
  src/database/sqlite/sqlite_aclk.c
  src/database/sqlite/sqlite_aclk_alert.c
  src/database/sqlite/sqlite_health.c
  src/database/sqlite/sqlite_metadata.c
  src/libnetdata/buffer/buffer.h
  src/libnetdata/functions_evloop/functions_evloop.h
  src/libnetdata/json/json-c-parser-inline.h
  src/libnetdata/template-enum.h
  src/libnetdata/uuid/uuid.h
  src/registry/registry.c
  src/streaming/protocol/command-nodeid.c
  src/streaming/protocol/commands.h
  src/streaming/receiver.c
  src/streaming/rrdpush.c
  src/streaming/rrdpush.h
  src/streaming/sender.c
  src/streaming/sender_commit.c
  src/streaming/sender_connect.c
  src/streaming/sender_execute.c
  src/streaming/sender_internals.h
  src/streaming/stream_capabilities.c
  src/streaming/stream_capabilities.h
  src/streaming/stream_path.c
  src/streaming/stream_path.h
  src/web/api/http_auth.c
  src/web/api/v1/api_v1_info.c
  src/web/api/v2/api_v2_bearer.c
  src/web/server/h2o/http_server.c
Labels: area/web, area/collectors, area/daemon, area/database, area/registry, area/streaming, area/claim, area/aclk, area/build, collectors/plugins.d

#18434 Improve agent shutdown time
  src/database/engine/datafile.c
  src/database/engine/datafile.h
  src/database/engine/rrdengine.c
Labels: area/database

#18438 remove deadlock from sender
  src/streaming/sender.c
  src/streaming/sender_commit.c
  src/streaming/sender_connect.c
  src/streaming/sender_internals.h
Labels: area/streaming

#18439 fix charts.d/sensors leftovers
  docs/developer-and-contributor-corner/pi-hole-raspberry-pi.md
  src/collectors/proc.plugin/README.md
Labels: area/docs, area/collectors, collectors/proc

#18410 Claim on Windows
  CMakeLists.txt
  packaging/windows/installer.nsi
  packaging/windows/resources/netdata_claim.manifest
  packaging/windows/resources/netdata_claim.rc
  src/claim/netdata_claim.c
  src/claim/netdata_claim.h
  src/claim/netdata_claim_window.c
  src/claim/netdata_claim_window.h
Labels: area/packaging, area/claim, area/build

#18444 Proper precedence when calculating time_to_evict
  src/database/engine/datafile.c
Labels: area/database

#18445 go.d add support for symlinked vnode config files
  src/go/plugin/go.d/agent/vnodes/vnodes.go
Labels: area/collectors, collectors/go.d, area/go

#18446 go.d remove vnode disable
  src/go/plugin/go.d/agent/agent.go
  src/go/plugin/go.d/agent/module/job.go
  src/go/plugin/go.d/agent/vnodes/vnodes.go
Labels: area/collectors, collectors/go.d, area/go

#18448 Exit slabinfo.plugin on EPIPE
  src/collectors/slabinfo.plugin/slabinfo.c
Labels: area/collectors, collectors/slabinfo
