Repository netdata/netdata, pull requests merged in 2024-02, with the labels that each got.

#16897 Do not cancel detection thread.
  ml/ml.cc
Labels: area/ml

#16895 updating What's new based on Office Hours shared plans
  README.md
Labels: area/docs

#16893 local-sockets: use netlink when libmnl is available
  CMakeLists.txt
  collectors/apps.plugin/apps_plugin.c
  collectors/network-viewer.plugin/network-viewer.c
  collectors/network-viewer.plugin/viewer.html
  collectors/plugins.d/local-sockets.h
  collectors/plugins.d/local_listeners.c
  config.cmake.h.in
Labels: area/collectors, area/build, collectors/apps, collectors/plugins.d

#16900 network-viewer: show unknown container
  collectors/network-viewer.plugin/network-viewer.c
  collectors/network-viewer.plugin/viewer.html
Labels: area/collectors

#16898 Enable sentry sessions
  daemon/sentry-native/sentry-native.c
Labels: area/daemon

#16904 Update README.md
  README.md
Labels: area/docs

#16908 rename network functions
  collectors/ebpf.plugin/ebpf_functions.h
  collectors/network-viewer.plugin/network-connections-chart.html
  collectors/network-viewer.plugin/network-viewer.c
Labels: area/collectors, collectors/ebpf

#16910 Build network-viewer only on linux
  packaging/installer/functions.sh
Labels: area/packaging

#16911 Network viewer: filter by username
  CMakeLists.txt
  collectors/network-viewer.plugin/network-viewer.c
  collectors/plugins.d/local_listeners.c
  collectors/systemd-journal.plugin/systemd-internals.h
  collectors/systemd-journal.plugin/systemd-journal-annotations.c
  collectors/systemd-journal.plugin/systemd-main.c
  src/libnetdata/maps/local-sockets.h
  src/libnetdata/maps/system-groups.h
  src/libnetdata/maps/system-users.h
Labels: area/collectors, area/build, collectors/plugins.d, collectors/systemd-journal

#16917 Update file match patterns in CI jobs.
  .github/workflows/build.yml
  .github/workflows/checks.yml
  .github/workflows/docker.yml
  .github/workflows/packaging.yml
Labels: area/ci

#16915 add support for the info parameter to all external plugin functions
  collectors/apps.plugin/apps_plugin.c
  collectors/cgroups.plugin/cgroup-top.c
  collectors/diskspace.plugin/plugin_diskspace.c
  collectors/ebpf.plugin/ebpf_functions.c
  collectors/freeipmi.plugin/freeipmi_plugin.c
  collectors/network-viewer.plugin/network-connections-chart.html
  collectors/network-viewer.plugin/network-viewer.c
  collectors/plugins.d/local_listeners.c
  collectors/plugins.d/pluginsd_functions.c
  collectors/proc.plugin/proc_diskstats.c
  collectors/proc.plugin/proc_net_dev.c
  src/database/rrdfunctions-inflight.c
  src/database/rrdfunctions-streaming.c
  src/libnetdata/aral/aral.c
  src/libnetdata/aral/aral.h
  src/libnetdata/buffer/buffer.c
  src/libnetdata/inlined.h
  src/libnetdata/maps/local-sockets.h
  src/libnetdata/query_progress/progress.c
  src/libnetdata/socket/socket.c
Labels: area/collectors, area/database, collectors/ebpf, collectors/apps, collectors/cgroups, collectors/diskspace, collectors/freeipmi, collectors/proc, collectors/plugins.d

#16920 split dictionary into multiple files
  CMakeLists.txt
  src/libnetdata/dictionary/dictionary-callbacks.h
  src/libnetdata/dictionary/dictionary-hashtable.h
  src/libnetdata/dictionary/dictionary-internals.h
  src/libnetdata/dictionary/dictionary-item.h
  src/libnetdata/dictionary/dictionary-locks.h
  src/libnetdata/dictionary/dictionary-refcount.h
  src/libnetdata/dictionary/dictionary-statistics.h
  src/libnetdata/dictionary/dictionary-traversal.c
  src/libnetdata/dictionary/dictionary-unittest.c
  src/libnetdata/dictionary/dictionary.c
  src/libnetdata/dictionary/dictionary.h
  src/libnetdata/dictionary/thread-cache.c
  src/libnetdata/dictionary/thread-cache.h
  src/libnetdata/libnetdata.h
Labels: area/build

#16925 Minor rework on document
  docs/guides/configure/performance.md
Labels: area/docs

#16916 Release label key if already in use
  src/database/contexts/query_target.c
Labels: area/database

#16924 fix installation of `libfluent-bit.so`
  netdata-installer.sh
Labels: area/packaging

#16929 Protect analytics set data
  daemon/analytics.c
  daemon/analytics.h
Labels: area/daemon

#16932 Exporting moved, so changes needed for integrations, + CODEOWNERS change
  .github/CODEOWNERS
  .github/workflows/generate-integrations.yml
  integrations/gen_docs_integrations.py
  integrations/gen_integrations.py
Labels: area/ci, area/metadata

#16931 Make sure the duration is not negative
  health/health_log.c
Labels: area/health

#16935 Drop ESLint CI jobs and config.
  .eslintignore
  .eslintrc
  .github/workflows/review.yml
Labels: area/ci

#16937 Check for agent already running
  daemon/main.c
  web/server/web_server.c
  web/server/web_server.h
Labels: area/web, area/daemon

#16939 fix charts.d.plugin configuration directory names
  collectors/charts.d.plugin/charts.d.plugin.in
Labels: area/collectors, collectors/charts.d

#16816 Update documentation (Replication DB)
  src/streaming/README.md
Labels: area/docs, area/streaming

#16907 Update CODEOWNERS
  .github/CODEOWNERS
Labels: area/ci

#16943 respect NETDATA_LOG_LEVEL if set
  daemon/main.c
Labels: area/daemon

#16933 Move daemon/ under src/
  CMakeLists.txt
  docs/cloud/cheatsheet.md
  docs/configure/common-changes.md
  docs/configure/nodes.md
  docs/configure/start-stop-restart.md
  docs/guides/configure/performance.md
  health/REFERENCE.md
  src/cli/README.md
  src/daemon/README.md
  src/daemon/analytics.c
  src/daemon/analytics.h
  src/daemon/anonymous-statistics.sh.in
  src/daemon/buildinfo.c
  src/daemon/buildinfo.h
  src/daemon/commands.c
  src/daemon/commands.h
  src/daemon/common.c
  src/daemon/common.h
  src/daemon/config/README.md
  src/daemon/config/dyncfg-echo.c
  src/daemon/config/dyncfg-files.c
  src/daemon/config/dyncfg-inline.c
  src/daemon/config/dyncfg-intercept.c
  src/daemon/config/dyncfg-internals.h
  src/daemon/config/dyncfg-tree.c
  src/daemon/config/dyncfg-unittest.c
  src/daemon/config/dyncfg.c
  src/daemon/config/dyncfg.h
  src/daemon/daemon.c
  src/daemon/daemon.h
  src/daemon/event_loop.c
  src/daemon/event_loop.h
  src/daemon/get-kubernetes-labels.sh.in
  src/daemon/global_statistics.c
  src/daemon/global_statistics.h
  src/daemon/main.c
  src/daemon/main.h
  src/daemon/metrics.csv
  src/daemon/pipename.c
  src/daemon/pipename.h
  src/daemon/sentry-native/sentry-native.c
  src/daemon/sentry-native/sentry-native.h
  src/daemon/service.c
  src/daemon/signals.c
  src/daemon/signals.h
  src/daemon/static_threads.c
  src/daemon/static_threads.h
  src/daemon/static_threads_freebsd.c
  src/daemon/static_threads_linux.c
  src/daemon/static_threads_macos.c
  src/daemon/system-info.sh
  src/daemon/unit_test.c
  src/daemon/unit_test.h
  web/gui/dashboard_info.js
Labels: area/docs, area/web, area/health, area/build

#16940 enable network-viewer aggregated views
  collectors/network-viewer.plugin/network-viewer.c
Labels: area/collectors

#16640 Assorted cleanup of native packaging code.
  contrib/debian/netdata-plugin-ebpf.postinst
  contrib/debian/netdata-plugin-logs-management.postinst
  contrib/debian/netdata.lintian-overrides
  contrib/debian/netdata.postinst
  contrib/debian/netdata.postrm
  contrib/debian/netdata.preinst
  contrib/debian/rules
  netdata.spec.in
Labels: area/packaging

#16946 Update codeowners and cleanup .gitignore
  .github/CODEOWNERS
  .github/labeler.yml
  .gitignore
  src/database/engine/datafile.ksy
  src/database/engine/journalfile_v2.ksy.in
Labels: area/ci, area/database

#16951 Do not declare struct meant for internal usage
  src/daemon/main.c
  src/daemon/main.h
Labels: area/daemon

#16894 Remove tags field from RRD hosts.
  collectors/plugins.d/pluginsd_parser.c
  src/daemon/unit_test.c
  src/database/rrd.h
  src/database/rrdhost.c
  src/database/sqlite/sqlite_aclk.c
  src/database/sqlite/sqlite_metadata.c
  src/exporting/graphite/graphite.c
  src/exporting/json/json.c
  src/exporting/opentsdb/opentsdb.c
  src/streaming/receiver.c
  src/streaming/rrdpush.c
  src/streaming/rrdpush.h
  src/streaming/sender.c
Labels: area/exporting, area/collectors, area/daemon, area/database, area/streaming, area/tests, area/aclk, collectors/plugins.d

#16956 Fix path in health integrations
  integrations/gen_integrations.py
Labels: area/metadata

#16957 Updated txt - Prometheus section README.md
  README.md
Labels: area/docs

#16960 network-viewer: aggregated view improvements
  collectors/network-viewer.plugin/network-viewer.c
Labels: area/collectors

#16958 DYNCFG: support test on new jobs
  src/daemon/config/dyncfg-intercept.c
  src/daemon/config/dyncfg.c
  src/health/health_dyncfg.c
Labels: area/health, area/daemon

#16959 Improve agent shutdown
  src/daemon/main.c
  src/database/sqlite/sqlite_context.c
  src/database/sqlite/sqlite_functions.c
  src/database/sqlite/sqlite_metadata.c
  src/ml/ml.cc
Labels: area/daemon, area/database, area/ml

#16966 necessary changes for integrations to work after moving collectors/ i…
  integrations/gen_doc_collector_page.py
  integrations/gen_docs_integrations.py
  integrations/gen_integrations.py
Labels: area/metadata

#16968 update go.d.plugin version to v0.58.1
  packaging/go.d.checksums
  packaging/go.d.version
Labels: area/packaging

#16970 change edac ecc errors from incremental to absolute
  src/collectors/proc.plugin/metadata.yaml
  src/collectors/proc.plugin/sys_devices_system_edac_mc.c
  src/health/health.d/memory.conf
Labels: area/health, area/collectors, collectors/proc, area/metadata

#16972 Use C++14 by default when building on systems that support it.
  CMakeLists.txt
  netdata-installer.sh
  netdata.spec.in
  packaging/installer/functions.sh
Labels: area/packaging, area/build

#16982 Update input paths for tj-actions/changed-files
  .github/workflows/build.yml
  .github/workflows/checks.yml
  .github/workflows/docker.yml
  .github/workflows/packaging.yml
Labels: area/ci

#16980 Update synology.md
  packaging/installer/methods/synology.md
Labels: area/packaging, area/docs

#16984 Update input skip patterns
  .github/workflows/build.yml
  .github/workflows/checks.yml
  .github/workflows/docker.yml
  .github/workflows/packaging.yml
Labels: area/ci

#16987 updated message ids for systemd and dbus
  src/collectors/systemd-journal.plugin/systemd-journal-annotations.c
Labels: area/collectors, collectors/systemd-journal

#16979 Detect machine GUID change
  src/database/rrdhost.c
  src/database/sqlite/sqlite_metadata.c
  src/database/sqlite/sqlite_metadata.h
Labels: area/database

#16993 Use changed files in check-files workflow
  .github/workflows/build.yml
  .github/workflows/checks.yml
  .github/workflows/docker.yml
  .github/workflows/packaging.yml
Labels: area/ci

#16994 Remove config macros that are always set.
  CMakeLists.txt
  config.cmake.h.in
  src/libnetdata/libnetdata.h
  src/libnetdata/storage_number/storage_number.c
  tests/profile/benchmark-registry.c
Labels: area/tests, area/build

#16995 Remove historical changelog and cppcheck
  .github/labeler.yml
  .gitignore
  HISTORICAL_CHANGELOG.md
  cppcheck.sh
  netdata.cppcheck
Labels: area/ci, area/docs, area/tests

#16978 Move CO-RE headers (integration between eBPF and Network Viewer)
  .gitignore
  netdata-installer.sh
  packaging/bundle-ebpf-co-re.sh
  src/collectors/ebpf.plugin/ebpf.h
  src/collectors/ebpf.plugin/ebpf_filesystem.h
  src/collectors/ebpf.plugin/ebpf_sync.h
Labels: area/packaging, area/collectors, collectors/ebpf

#16996 Small cleanup
  src/collectors/cgroups.plugin/cgroup-network.c
  src/daemon/daemon.c
  src/daemon/daemon.h
  src/database/rrdset.c
Labels: area/collectors, area/daemon, area/database, collectors/cgroups

#16989 Add spinlock to protect metric release
  src/daemon/main.c
  src/daemon/service.c
  src/database/rrd.h
  src/database/rrddim.c
Labels: area/daemon, area/database

#16998 Move diagrams/ under docs/
  .github/labeler.yml
  .gitignore
  docs/diagrams/build.sh
  docs/diagrams/config.puml
  docs/diagrams/data_structures/netdata_config.svg
  docs/diagrams/data_structures/registry.svg
  docs/diagrams/data_structures/rrd.svg
  docs/diagrams/data_structures/src/netdata_config.xml
  docs/diagrams/data_structures/src/registry.xml
  docs/diagrams/data_structures/src/rrd.xml
  docs/diagrams/data_structures/src/web.xml
  docs/diagrams/data_structures/web.svg
  docs/diagrams/docs/Makefile
  docs/diagrams/docs/deployment-parent.drawio
  docs/diagrams/docs/deployment-parents.drawio
  docs/diagrams/docs/deployment-standalone.drawio
  docs/diagrams/ephemeral-nodes-two-parents.xml
  docs/diagrams/netdata-for-ephemeral-nodes.xml
  docs/diagrams/netdata-overview.xml
  docs/diagrams/netdata-proxies-example.xml
  docs/diagrams/registry.puml
  docs/diagrams/simple-parent-child-no-cloud.xml
  docs/diagrams/simple-parent-child.xml
  docs/diagrams/windows.xml
  src/web/gui/v1/infographic.html
Labels: area/ci, area/web

#16999 Adjust storage tiers if we fail to create the requested number of tiers
  src/database/engine/datafile.c
  src/database/rrdhost.c
Labels: area/database

#17001 Misc improvements
  src/daemon/analytics.c
  src/database/rrddim.c
  src/database/sqlite/sqlite_functions.c
Labels: area/daemon, area/database

#17008 Abort on non-zero rc.
  src/daemon/main.c
Labels: area/daemon

#16938 Assorted cleanup of CI/packaging related code.
  .codeclimate.yml
  .devcontainer/devcontainer.json
  .gitattributes
  .github/labeler.yml
  .github/workflows/coverity.yml
  CMakeLists.txt
  Dockerfile.test
  build_external/README.md
  build_external/bin/clean-install.sh
  build_external/bin/make-install.sh
  build_external/clean-install-arch-debug.Dockerfile
  build_external/clean-install-arch-extras.Dockerfile
  build_external/clean-install-arch.Dockerfile
  build_external/clean-install.Dockerfile
  build_external/make-install.Dockerfile
  build_external/scenarios/aclk-testing/agent-compose.yml
  build_external/scenarios/aclk-testing/agent-valgrind-compose.yml
  build_external/scenarios/aclk-testing/agent_netdata.conf
  build_external/scenarios/aclk-testing/configureVerneMQ.Dockerfile
  build_external/scenarios/aclk-testing/paho-compose.yml
  build_external/scenarios/aclk-testing/paho-inspection.py
  build_external/scenarios/aclk-testing/paho.Dockerfile
  build_external/scenarios/aclk-testing/vernemq-compose.yml
  build_external/scenarios/aclk-testing/vernemq.conf
  build_external/scenarios/children-to-localhost/README.md
  build_external/scenarios/children-to-localhost/child_netdata.conf
  build_external/scenarios/children-to-localhost/child_stream.conf
  build_external/scenarios/children-to-localhost/docker-compose.yml
  build_external/scenarios/children-to-localhost/parent_stream.conf
  build_external/scenarios/gaps_hi/child-compose.yml
  build_external/scenarios/gaps_hi/child_guid
  build_external/scenarios/gaps_hi/child_stream.conf
  build_external/scenarios/gaps_hi/middle-compose.yml
  build_external/scenarios/gaps_hi/middle_guid
  build_external/scenarios/gaps_hi/middle_stream.conf
  build_external/scenarios/gaps_hi/min.conf
  build_external/scenarios/gaps_hi/parent-compose.yml
  build_external/scenarios/gaps_hi/parent_guid
  build_external/scenarios/gaps_hi/parent_stream.conf
  build_external/scenarios/gaps_lo/child-compose.yml
  build_external/scenarios/gaps_lo/child_guid
  build_external/scenarios/gaps_lo/child_stream.conf
  build_external/scenarios/gaps_lo/middle-compose.yml
  build_external/scenarios/gaps_lo/middle_guid
  build_external/scenarios/gaps_lo/middle_stream.conf
  build_external/scenarios/gaps_lo/mostly_off.conf
  build_external/scenarios/gaps_lo/parent-compose.yml
  build_external/scenarios/gaps_lo/parent_guid
  build_external/scenarios/gaps_lo/parent_stream.conf
  build_external/scenarios/only-agent/docker-compose.yml
  build_external/scenarios/parent-child/child_stream.conf
  build_external/scenarios/parent-child/docker-compose.yml
  build_external/scenarios/parent-child/parent_stream.conf
  packaging/cmake/config.cmake.h.in
  packaging/cmake/systemd.cmake
  packaging/utils/coverity-scan.sh
Labels: area/ci, area/packaging, area/docs, area/build

#17012 eBPF & NV (update packages)
  packaging/current_libbpf.checksums
  packaging/current_libbpf.version
  packaging/ebpf-co-re.checksums
  packaging/ebpf-co-re.version
  packaging/ebpf.checksums
  packaging/ebpf.version
  src/collectors/ebpf.plugin/ebpf_socket.h
Labels: area/packaging, area/collectors, collectors/ebpf

#17018 eBPF - Network Viewer (Move code)
  src/collectors/ebpf.plugin/ebpf.c
  src/collectors/ebpf.plugin/ebpf_apps.c
  src/collectors/ebpf.plugin/ebpf_apps.h
  src/collectors/ebpf.plugin/ebpf_functions.c
  src/libnetdata/ebpf/ebpf.c
  src/libnetdata/ebpf/ebpf.h
Labels: area/collectors, collectors/ebpf

#17023 DYNCFG support deleting orphan configurations
  src/daemon/config/dyncfg-intercept.c
  src/daemon/config/dyncfg-tree.c
Labels: area/daemon

#17024 Fix determining repo root in Coverity scan script.
  packaging/utils/coverity-scan.sh
Labels: area/packaging, area/tests

#17020 Protect metric release in dimension delete callback
  src/database/rrddim.c
Labels: area/database

#17028 Increase RRD_ID_LENGTH_MAX to 1200
  src/database/rrd.h
Labels: area/database

#17033 Metric release does not need to fetch retention
  src/database/engine/metric.c
  src/database/engine/metric.h
Labels: area/database

#17035 Populate the SSL section in Observability and centralization points -…
  docs/observability-centralization-points/metrics-centralization-points/configuration.md
Labels: area/docs

#17036 Code cleanup
  src/database/rrd.h
  src/database/rrdset.c
  src/health/health_event_loop.c
Labels: area/health, area/database

#17038 Improved query target cleanup
  src/database/contexts/query_target.c
Labels: area/database

#17037 Liquify start-stop-restart doc
  docs/category-overview-pages/secure-nodes.md
  docs/cloud/insights/anomaly-advisor.md
  docs/collect/system-metrics.md
  docs/configure/nodes.md
  docs/configure/start-stop-restart.md
  docs/export/enable-connector.md
  docs/guides/collect-apache-nginx-web-logs.md
  docs/guides/collect-unbound-metrics.md
  docs/guides/monitor-cockroachdb.md
  docs/guides/monitor-hadoop-cluster.md
  docs/guides/monitor/anomaly-detection.md
  docs/guides/monitor/lamp-stack.md
  docs/guides/monitor/process.md
  docs/guides/monitor/raspberry-pi-anomaly-detection.md
  docs/guides/python-collector.md
  docs/guides/troubleshoot/monitor-debug-applications-ebpf.md
  docs/guides/troubleshoot/troubleshooting-agent-with-cloud-connection.md
  docs/metrics-storage-management/enable-streaming.md
  docs/running-through-cf-tunnels.md
  docs/store/change-metrics-storage.md
  packaging/installer/README.md
  packaging/installer/methods/kickstart.md
  src/collectors/REFERENCE.md
  src/collectors/charts.d.plugin/sensors/metadata.yaml
  src/collectors/ebpf.plugin/README.md
  src/collectors/perf.plugin/metadata.yaml
  src/collectors/python.d.plugin/go_expvar/metadata.yaml
  src/collectors/python.d.plugin/hpssa/metadata.yaml
  src/collectors/python.d.plugin/samba/metadata.yaml
  src/collectors/statsd.plugin/README.md
  src/daemon/README.md
  src/daemon/config/README.md
  src/go/collectors/go.d.plugin/README.md
  src/go/collectors/go.d.plugin/docs/how-to-write-a-module.md
  src/go/collectors/go.d.plugin/modules/postgres/integrations/postgresql.md
  src/go/collectors/go.d.plugin/modules/postgres/metadata.yaml
  src/health/REFERENCE.md
  src/health/notifications/README.md
Labels: area/packaging, area/docs, area/health, area/collectors, area/daemon, collectors/ebpf, collectors/charts.d, collectors/perf, collectors/python.d, collectors/statsd, area/metadata, collectors/go.d.plugin, area/go

#17021 Correctly mark protobuf as required in find_package.
  CMakeLists.txt
Labels: area/build

#17042 Keep a count of metrics and samples collected
  src/database/contexts/api_v2.c
  src/database/engine/journalfile.c
  src/database/engine/metric.c
  src/database/engine/metric.h
  src/database/engine/rrdengine.c
  src/database/engine/rrdengine.h
  src/database/engine/rrdengineapi.c
  src/database/engine/rrdengineapi.h
  src/database/rrd.h
Labels: area/database

#17054 fix zpool state chart family
  src/collectors/proc.plugin/proc_spl_kstat_zfs.c
Labels: area/collectors, collectors/proc

#17052 DYNCFG: call the interceptor when a test is made on a new job
  src/daemon/config/dyncfg-intercept.c
  src/daemon/config/dyncfg-internals.h
  src/daemon/config/dyncfg-tree.c
Labels: area/daemon

#17057 updated sizing netdata
  docs/netdata-agent/sizing-netdata-agents/README.md
  docs/netdata-agent/sizing-netdata-agents/disk-requirements-and-retention.md
Labels: area/docs

#17010 Add watcher thread to report shutdown steps.
  CMakeLists.txt
  src/daemon/main.c
  src/daemon/static_threads.c
  src/daemon/watcher.c
  src/daemon/watcher.h
Labels: area/daemon, area/build

#17044 Protect type anomaly rate map
  src/libnetdata/locks/locks.c
  src/libnetdata/locks/locks.h
  src/ml/ad_charts.cc
  src/ml/ml-private.h
  src/ml/ml.cc
Labels: area/ml

#17051 Fix a few minor bits of build-related infrastructure.
  .github/CODEOWNERS
  .github/workflows/build.yml
  .github/workflows/checks.yml
  .github/workflows/docker.yml
  .github/workflows/packaging.yml
Labels: area/ci

#16906 Assorted build-related changes.
  CMakeLists.txt
  src/libnetdata/byteorder.h
  src/libnetdata/os.h
Labels: area/build

#17004 Bump the version of the installed Go toolchain to 1.22.0.
  packaging/check-for-go-toolchain.sh
Labels: area/packaging

#17062 go.d.plugin: set max chart id length to 1200
  src/go/collectors/go.d.plugin/agent/module/job.go
Labels: area/collectors, collectors/go.d.plugin, area/go

#17060 Abort the agent if a single shutdown step takes more than 60 seconds.
  src/daemon/watcher.c
  src/libnetdata/completion/completion.c
  src/libnetdata/completion/completion.h
Labels: area/daemon

#17066 Add CI checks for Go code.
  .github/scripts/get-go-version.py
  .github/workflows/go-tests.yml
Labels: area/ci

#17069 add missing "gotify" to list of notification methods in alarm-notify.sh
  src/health/notifications/alarm-notify.sh.in
Labels: area/health

#17006 Netdata Agent: Backup restore documentation
  docs/maintenance/backup-restore.md
Labels: area/docs

#16949 Split network viewer plugin to it’s own package.
  contrib/debian/control
  contrib/debian/netdata-plugin-network-viewer-plugin.postinst
  contrib/debian/netdata-plugin-network-viewer-plugin.preinst
  contrib/debian/rules
  netdata.spec.in
Labels: area/packaging

#17079 Make watcher thread wait for explicit steps.
  src/daemon/watcher.c
Labels: area/daemon
