Repository netdata/netdata, pull requests merged in 2024-03, with the labels that each got.

#17081 Improve message in kickstart if a static build can’t be found.
  packaging/installer/kickstart.sh
Labels: area/packaging

#16788 Prepare to functions (eBPF)
  src/collectors/ebpf.plugin/ebpf.c
  src/collectors/ebpf.plugin/ebpf.d.conf
  src/collectors/ebpf.plugin/ebpf.d/cachestat.conf
  src/collectors/ebpf.plugin/ebpf.d/dcstat.conf
  src/collectors/ebpf.plugin/ebpf.d/process.conf
  src/collectors/ebpf.plugin/ebpf.d/shm.conf
  src/collectors/ebpf.plugin/ebpf.d/swap.conf
  src/collectors/ebpf.plugin/ebpf_apps.c
  src/collectors/ebpf.plugin/ebpf_apps.h
  src/collectors/ebpf.plugin/ebpf_cachestat.c
  src/collectors/ebpf.plugin/ebpf_cachestat.h
  src/collectors/ebpf.plugin/ebpf_dcstat.c
  src/collectors/ebpf.plugin/ebpf_dcstat.h
  src/collectors/ebpf.plugin/ebpf_fd.c
  src/collectors/ebpf.plugin/ebpf_oomkill.c
  src/collectors/ebpf.plugin/ebpf_process.c
  src/collectors/ebpf.plugin/ebpf_shm.c
  src/collectors/ebpf.plugin/ebpf_shm.h
  src/collectors/ebpf.plugin/ebpf_socket.c
  src/collectors/ebpf.plugin/ebpf_swap.c
  src/collectors/ebpf.plugin/ebpf_vfs.c
Labels: area/collectors, collectors/ebpf

#17084 rename network plugin post and pre install actions
  contrib/debian/netdata-plugin-network-viewer.postinst
  contrib/debian/netdata-plugin-network-viewer.preinst
  contrib/debian/netdata.postinst
Labels: area/packaging

#17085 Amend the logic of ebpf-plugin package suggestion for network-viewer plugin
  contrib/debian/control
  netdata.spec.in
Labels: area/packaging

#17086 deb packages fix on ioping perms
  contrib/debian/netdata.postinst
Labels: area/packaging

#17087 Fix cups plugin group owner
  contrib/debian/netdata-plugin-cups.postinst
  contrib/debian/netdata-plugin-cups.preinst
Labels: area/packaging

#17093 fix go.d.plugin/pulsar tests
  src/go/collectors/go.d.plugin/modules/pulsar/charts.go
Labels: area/collectors, collectors/go.d.plugin, area/go

#17094 delete docs/netdata-security.md and replace links to proper points
  docs/category-overview-pages/deployment-strategies.md
  docs/configure/common-changes.md
  docs/guides/using-host-labels.md
  docs/metrics-storage-management/enable-streaming.md
  docs/netdata-security.md
  docs/quickstart/infrastructure.md
  packaging/docker/README.md
  packaging/installer/methods/ansible.md
  packaging/installer/methods/synology.md
  src/aclk/README.md
Labels: area/packaging, area/docs, area/aclk

#17097 Remove distributed-data-architecture.md and omit mentions to it
  docs/glossary.md
  docs/metrics-storage-management/enable-streaming.md
  docs/quickstart/infrastructure.md
  docs/store/distributed-data-architecture.md
Labels: area/docs

#17096 Remove deployment-strategies
  docs/category-overview-pages/deployment-strategies.md
Labels: area/docs

#17048 HEALTH: eliminate fields that should be labels
  src/collectors/plugins.d/pluginsd_parser.c
  src/collectors/systemd-journal.plugin/schema.d/systemd-journal:monitored-directories.json
  src/collectors/systemd-journal.plugin/systemd-journal-dyncfg.c
  src/collectors/systemd-journal.plugin/systemd-journal-watcher.c
  src/database/contexts/api_v2.c
  src/database/contexts/query_target.c
  src/database/contexts/rrdcontext.h
  src/database/rrdhost.c
  src/database/rrdlabels.c
  src/database/rrdlabels.h
  src/database/sqlite/sqlite_health.c
  src/health/REFERENCE.md
  src/health/health_config.c
  src/health/health_dyncfg.c
  src/health/health_internals.h
  src/health/health_prototypes.c
  src/health/health_prototypes.h
  src/health/rrdcalc.c
  src/health/schema.d/health:alert:prototype.json
  src/libnetdata/simple_pattern/simple_pattern.c
  src/libnetdata/simple_pattern/simple_pattern.h
Labels: area/docs, area/health, area/collectors, area/database, collectors/plugins.d, collectors/systemd-journal

#17088 Rework Docker CI to build each platform in it's own runner.
  .github/scripts/gen-docker-build-output.py
  .github/scripts/gen-docker-imagetool-args.py
  .github/scripts/gen-docker-tags.py
  .github/workflows/docker.yml
Labels: area/ci

#17106 remove "foreach" from health REFERENCE.md
  src/health/REFERENCE.md
Labels: area/docs, area/health

#17101 Reorganize and cleanup database related code
  src/daemon/main.c
  src/daemon/unit_test.c
  src/daemon/watcher.c
  src/daemon/watcher.h
  src/database/rrdhost.c
  src/database/sqlite/sqlite_context.c
  src/database/sqlite/sqlite_context.h
  src/database/sqlite/sqlite_functions.c
  src/database/sqlite/sqlite_functions.h
  src/database/sqlite/sqlite_metadata.c
  src/database/sqlite/sqlite_metadata.h
  src/ml/ml.cc
  src/ml/ml.h
Labels: area/daemon, area/database, area/tests, area/ml

#17108 fix links in go.d.plugin
  src/go/collectors/go.d.plugin/README.md
  src/go/collectors/go.d.plugin/docs/how-to-write-a-module.md
  src/go/collectors/go.d.plugin/modules/coredns/metadata.yaml
  src/go/collectors/go.d.plugin/modules/httpcheck/metadata.yaml
  src/go/collectors/go.d.plugin/modules/isc_dhcpd/metadata.yaml
  src/go/collectors/go.d.plugin/modules/mongodb/metadata.yaml
  src/go/collectors/go.d.plugin/modules/openvpn/metadata.yaml
  src/go/collectors/go.d.plugin/modules/openvpn_status_log/metadata.yaml
  src/go/collectors/go.d.plugin/modules/postgres/metadata.yaml
  src/go/collectors/go.d.plugin/modules/weblog/metadata.yaml
  src/go/collectors/go.d.plugin/pkg/README.md
  src/go/collectors/go.d.plugin/pkg/iprange/README.md
  src/go/collectors/go.d.plugin/pkg/matcher/README.md
  src/go/collectors/go.d.plugin/pkg/prometheus/selector/README.md
  src/go/collectors/go.d.plugin/pkg/stm/README.md
  src/go/collectors/go.d.plugin/pkg/tlscfg/README.md
  src/go/collectors/go.d.plugin/pkg/web/README.md
Labels: area/docs, area/collectors, area/metadata, collectors/go.d.plugin, area/go

#17110 rm unused files from go.d.plugin
  src/go/collectors/go.d.plugin/.dockerignore
  src/go/collectors/go.d.plugin/Dockerfile.dev
  src/go/collectors/go.d.plugin/LICENSE
  src/go/collectors/go.d.plugin/Makefile
  src/go/collectors/go.d.plugin/docker-compose.yml
  src/go/collectors/go.d.plugin/mocks/blackbox/Dockerfile
  src/go/collectors/go.d.plugin/mocks/conf.d/go.d.conf
  src/go/collectors/go.d.plugin/mocks/conf.d/go.d/apache.conf
  src/go/collectors/go.d.plugin/mocks/conf.d/go.d/example.conf
  src/go/collectors/go.d.plugin/mocks/conf.d/go.d/logstash.conf
  src/go/collectors/go.d.plugin/mocks/conf.d/go.d/mongodb.conf
  src/go/collectors/go.d.plugin/mocks/conf.d/go.d/springboot2.conf
  src/go/collectors/go.d.plugin/mocks/conf.d/go.d/web_log.conf
  src/go/collectors/go.d.plugin/mocks/httpd/httpd.conf
  src/go/collectors/go.d.plugin/mocks/netdata/netdata.conf
  src/go/collectors/go.d.plugin/mocks/springboot2/.gitignore
  src/go/collectors/go.d.plugin/mocks/springboot2/Dockerfile
  src/go/collectors/go.d.plugin/mocks/springboot2/build.gradle
  src/go/collectors/go.d.plugin/mocks/springboot2/settings.gradle
  src/go/collectors/go.d.plugin/mocks/springboot2/src/main/java/hello/Main.java
  src/go/collectors/go.d.plugin/mocks/springboot2/src/main/resources/application.properties
  src/go/collectors/go.d.plugin/mocks/tmp/.gitkeep
  src/go/collectors/go.d.plugin/modules/pika/pika.go
  src/go/collectors/go.d.plugin/pkg/stm/README.md
  src/go/collectors/go.d.plugin/pkg/tlscfg/README.md
  src/go/collectors/go.d.plugin/pkg/web/README.md
Labels: area/docs, area/collectors, collectors/go.d.plugin, area/go

#17112 go.d.plugin add notice log level
  src/go/collectors/go.d.plugin/logger/handler.go
  src/go/collectors/go.d.plugin/logger/level.go
  src/go/collectors/go.d.plugin/logger/logger.go
Labels: area/collectors, collectors/go.d.plugin, area/go

#17113 remove "os" "hosts" "plugin" and "module" from stock alarms
  src/health/health.d/apcupsd.conf
  src/health/health.d/boinc.conf
  src/health/health.d/btrfs.conf
  src/health/health.d/cgroups.conf
  src/health/health.d/cpu.conf
  src/health/health.d/dbengine.conf
  src/health/health.d/disks.conf
  src/health/health.d/entropy.conf
  src/health/health.d/file_descriptors.conf
  src/health/health.d/go.d.plugin.conf
  src/health/health.d/ipc.conf
  src/health/health.d/load.conf
  src/health/health.d/memory.conf
  src/health/health.d/ml.conf
  src/health/health.d/net.conf
  src/health/health.d/netfilter.conf
  src/health/health.d/postgres.conf
  src/health/health.d/processes.conf
  src/health/health.d/python.d.plugin.conf
  src/health/health.d/qos.conf
  src/health/health.d/ram.conf
  src/health/health.d/softnet.conf
  src/health/health.d/swap.conf
  src/health/health.d/synchronization.conf
  src/health/health.d/systemdunits.conf
  src/health/health.d/tcp_conn.conf
  src/health/health.d/tcp_listen.conf
  src/health/health.d/tcp_mem.conf
  src/health/health.d/tcp_orphans.conf
  src/health/health.d/tcp_resets.conf
  src/health/health.d/timex.conf
  src/health/health.d/udp_errors.conf
  src/health/health.d/upsd.conf
  src/health/health.d/vsphere.conf
  src/health/health.d/windows.conf
Labels: area/health

#17115 fix discovered config default values
  src/go/collectors/go.d.plugin/agent/discovery/manager.go
  src/go/collectors/go.d.plugin/agent/discovery/sd/pipeline/config.go
  src/go/collectors/go.d.plugin/agent/discovery/sd/pipeline/pipeline.go
  src/go/collectors/go.d.plugin/agent/discovery/sd/sd.go
Labels: area/collectors, collectors/go.d.plugin, area/go

#17116 remove deprecated settings from the health ref doc
  src/health/REFERENCE.md
Labels: area/docs, area/health

#17117 very minor docs update
  docs/maintenance/backup-restore.md
Labels: area/docs

#17118 minor fix; broken link on on prem installation doc
  docs/netdata-cloud/netdata-cloud-on-prem/installation.md
Labels: area/docs

#17095 fix links
  README.md
  docs/configure/common-changes.md
  docs/glossary.md
  packaging/installer/methods/macos.md
Labels: area/packaging, area/docs

#17114 Fix memory leak
  src/database/rrdlabels.c
Labels: area/database

#17111 Second pass at reworking Docker CI.
  .github/workflows/docker.yml
Labels: area/ci

#16630 eBPF cgroup update
  src/collectors/cgroups.plugin/cgroup-discovery.c
  src/collectors/cgroups.plugin/cgroup-internals.h
  src/collectors/cgroups.plugin/sys_fs_cgroup.c
  src/collectors/ebpf.plugin/ebpf.c
  src/collectors/ebpf.plugin/ebpf.h
  src/collectors/ebpf.plugin/ebpf_apps.h
  src/collectors/ebpf.plugin/ebpf_cachestat.c
  src/collectors/ebpf.plugin/ebpf_cachestat.h
  src/collectors/ebpf.plugin/ebpf_cgroup.c
  src/collectors/ebpf.plugin/ebpf_cgroup.h
  src/collectors/ebpf.plugin/ebpf_dcstat.c
  src/collectors/ebpf.plugin/ebpf_dcstat.h
  src/collectors/ebpf.plugin/ebpf_fd.c
  src/collectors/ebpf.plugin/ebpf_fd.h
  src/collectors/ebpf.plugin/ebpf_oomkill.c
  src/collectors/ebpf.plugin/ebpf_process.c
  src/collectors/ebpf.plugin/ebpf_process.h
  src/collectors/ebpf.plugin/ebpf_shm.c
  src/collectors/ebpf.plugin/ebpf_shm.h
  src/collectors/ebpf.plugin/ebpf_socket.c
  src/collectors/ebpf.plugin/ebpf_socket.h
  src/collectors/ebpf.plugin/ebpf_swap.c
  src/collectors/ebpf.plugin/ebpf_swap.h
  src/collectors/ebpf.plugin/ebpf_vfs.c
  src/collectors/ebpf.plugin/ebpf_vfs.h
Labels: area/collectors, collectors/ebpf, collectors/cgroups

#17125 fix health alert dyncfg schema fullPage option
  src/health/schema.d/health:alert:prototype.json
Labels: area/health

#17129 packaging: remove Suggests nut
  contrib/debian/control
  netdata.spec.in
Labels: area/packaging

#17126 Detect self thread when exiting.
  src/daemon/main.c
Labels: area/daemon

#17127 Fix login to GHCR when publishing Docker images.
  .github/workflows/docker.yml
Labels: area/ci

#17140 Bump github.com/vmware/govmomi from 0.35.0 to 0.36.0 in /src/go/collectors/go.d.plugin
  src/go/collectors/go.d.plugin/go.mod
  src/go/collectors/go.d.plugin/go.sum
  src/go/collectors/go.d.plugin/modules/vsphere/vsphere_test.go
Labels: area/collectors, collectors/go.d.plugin, area/go

#17145 Update go.d.plugin packages
  src/go/collectors/go.d.plugin/go.mod
  src/go/collectors/go.d.plugin/go.sum
  src/go/collectors/go.d.plugin/modules/docker/collect.go
  src/go/collectors/go.d.plugin/modules/docker/docker.go
  src/go/collectors/go.d.plugin/modules/docker/docker_test.go
  src/go/collectors/go.d.plugin/modules/prometheus/collect.go
  src/go/collectors/go.d.plugin/pkg/prometheus/metric_family.go
  src/go/collectors/go.d.plugin/pkg/prometheus/metric_family_test.go
  src/go/collectors/go.d.plugin/pkg/prometheus/parse.go
  src/go/collectors/go.d.plugin/pkg/prometheus/parse_test.go
Labels: area/collectors, collectors/go.d.plugin, area/go

#17071 Update functions tables docs
  src/collectors/plugins.d/functions-table.md
Labels: area/docs, area/collectors, collectors/plugins.d

#17144 Check alert duration on submission to the cloud
  src/database/sqlite/sqlite_aclk_alert.c
Labels: area/database, area/aclk

#17149 Document new field on PagerDuty cloud integration
  integrations/cloud-notifications/integrations/pagerduty.md
Labels: area/docs, area/metadata

#17131 remove repetitive words
  CHANGELOG.md
  docs/cloud/alerts-notifications/manage-notification-methods.md
  docs/cloud/manage/plans.md
  docs/cloud/visualize/interact-new-charts.md
  netdata-installer.sh
  packaging/installer/methods/source.md
  src/web/api/badges/README.md
Labels: area/packaging, area/docs, area/web

#17139 Add macos check (build from source)
  .github/workflows/build-macos.yml
Labels: area/ci

#17152 go.d.plugin: add docker service discovery
  src/go/collectors/go.d.plugin/agent/discovery/sd/discoverer/dockerd/docker.go
  src/go/collectors/go.d.plugin/agent/discovery/sd/discoverer/dockerd/dockerd_test.go
  src/go/collectors/go.d.plugin/agent/discovery/sd/discoverer/dockerd/sim_test.go
  src/go/collectors/go.d.plugin/agent/discovery/sd/discoverer/dockerd/target.go
  src/go/collectors/go.d.plugin/agent/discovery/sd/model/tags.go
  src/go/collectors/go.d.plugin/agent/discovery/sd/pipeline/classify.go
  src/go/collectors/go.d.plugin/agent/discovery/sd/pipeline/classify_test.go
  src/go/collectors/go.d.plugin/agent/discovery/sd/pipeline/config.go
  src/go/collectors/go.d.plugin/agent/discovery/sd/pipeline/pipeline.go
  src/go/collectors/go.d.plugin/agent/discovery/sd/pipeline/pipeline_test.go
  src/go/collectors/go.d.plugin/agent/discovery/sd/pipeline/promport.go
  src/go/collectors/go.d.plugin/agent/discovery/sd/pipeline/sim_test.go
  src/go/collectors/go.d.plugin/agent/hostinfo/hostinfo.go
  src/go/collectors/go.d.plugin/agent/setup.go
  src/go/collectors/go.d.plugin/config/go.d/sd/docker.conf
  src/go/collectors/go.d.plugin/config/go.d/sd/net_listeners.conf
Labels: area/collectors, collectors/go.d.plugin, area/go

#17157 go.d.plugin: sd compose: allow multi config template
  src/go/collectors/go.d.plugin/agent/discovery/sd/pipeline/compose.go
  src/go/collectors/go.d.plugin/agent/discovery/sd/pipeline/compose_test.go
  src/go/collectors/go.d.plugin/config/go.d/sd/net_listeners.conf
Labels: area/collectors, collectors/go.d.plugin, area/go

#17159 Install the correct service file based on systemd version
  contrib/debian/rules
Labels: area/packaging

#17160 go.d.plugin: execute local-listeners periodically
  src/go/collectors/go.d.plugin/agent/discovery/sd/discoverer/netlisteners/netlisteners.go
  src/go/collectors/go.d.plugin/agent/discovery/sd/discoverer/netlisteners/netlisteners_test.go
  src/go/collectors/go.d.plugin/agent/discovery/sd/discoverer/netlisteners/sim_test.go
Labels: area/collectors, collectors/go.d.plugin, area/go

#17166 go.d.plugin: jsonschema allow array/object to be null
  src/go/collectors/go.d.plugin/modules/activemq/config_schema.json
  src/go/collectors/go.d.plugin/modules/apache/config_schema.json
  src/go/collectors/go.d.plugin/modules/bind/config_schema.json
  src/go/collectors/go.d.plugin/modules/cassandra/config_schema.json
  src/go/collectors/go.d.plugin/modules/cockroachdb/config_schema.json
  src/go/collectors/go.d.plugin/modules/consul/config_schema.json
  src/go/collectors/go.d.plugin/modules/coredns/config_schema.json
  src/go/collectors/go.d.plugin/modules/couchbase/config_schema.json
  src/go/collectors/go.d.plugin/modules/couchdb/config_schema.json
  src/go/collectors/go.d.plugin/modules/dnsdist/config_schema.json
  src/go/collectors/go.d.plugin/modules/dnsquery/config_schema.json
  src/go/collectors/go.d.plugin/modules/docker_engine/config_schema.json
  src/go/collectors/go.d.plugin/modules/dockerhub/config_schema.json
  src/go/collectors/go.d.plugin/modules/elasticsearch/config_schema.json
  src/go/collectors/go.d.plugin/modules/envoy/config_schema.json
  src/go/collectors/go.d.plugin/modules/example/config_schema.json
  src/go/collectors/go.d.plugin/modules/filecheck/config_schema.json
  src/go/collectors/go.d.plugin/modules/fluentd/config_schema.json
  src/go/collectors/go.d.plugin/modules/geth/config_schema.json
  src/go/collectors/go.d.plugin/modules/haproxy/config_schema.json
  src/go/collectors/go.d.plugin/modules/hdfs/config_schema.json
  src/go/collectors/go.d.plugin/modules/httpcheck/config_schema.json
  src/go/collectors/go.d.plugin/modules/isc_dhcpd/config_schema.json
  src/go/collectors/go.d.plugin/modules/k8s_kubelet/config_schema.json
  src/go/collectors/go.d.plugin/modules/k8s_kubeproxy/config_schema.json
  src/go/collectors/go.d.plugin/modules/lighttpd/config_schema.json
  src/go/collectors/go.d.plugin/modules/logstash/config_schema.json
  src/go/collectors/go.d.plugin/modules/mongodb/config_schema.json
  src/go/collectors/go.d.plugin/modules/nginx/config_schema.json
  src/go/collectors/go.d.plugin/modules/nginxplus/config_schema.json
  src/go/collectors/go.d.plugin/modules/nginxvts/config_schema.json
  src/go/collectors/go.d.plugin/modules/openvpn/config_schema.json
  src/go/collectors/go.d.plugin/modules/openvpn_status_log/config_schema.json
  src/go/collectors/go.d.plugin/modules/phpdaemon/config_schema.json
  src/go/collectors/go.d.plugin/modules/phpfpm/config_schema.json
  src/go/collectors/go.d.plugin/modules/pihole/config_schema.json
  src/go/collectors/go.d.plugin/modules/ping/config_schema.json
  src/go/collectors/go.d.plugin/modules/portcheck/config_schema.json
  src/go/collectors/go.d.plugin/modules/postgres/config_schema.json
  src/go/collectors/go.d.plugin/modules/powerdns/config_schema.json
  src/go/collectors/go.d.plugin/modules/powerdns_recursor/config_schema.json
  src/go/collectors/go.d.plugin/modules/prometheus/config_schema.json
  src/go/collectors/go.d.plugin/modules/pulsar/config_schema.json
  src/go/collectors/go.d.plugin/modules/rabbitmq/config_schema.json
  src/go/collectors/go.d.plugin/modules/scaleio/config_schema.json
  src/go/collectors/go.d.plugin/modules/snmp/config_schema.json
  src/go/collectors/go.d.plugin/modules/squidlog/config_schema.json
  src/go/collectors/go.d.plugin/modules/systemdunits/config_schema.json
  src/go/collectors/go.d.plugin/modules/tengine/config_schema.json
  src/go/collectors/go.d.plugin/modules/traefik/config_schema.json
  src/go/collectors/go.d.plugin/modules/vcsa/config_schema.json
  src/go/collectors/go.d.plugin/modules/vernemq/config_schema.json
  src/go/collectors/go.d.plugin/modules/vsphere/config_schema.json
  src/go/collectors/go.d.plugin/modules/weblog/config_schema.json
  src/go/collectors/go.d.plugin/modules/windows/config_schema.json
Labels: area/collectors, collectors/go.d.plugin, area/go

#17167 docs: add "With NVIDIA GPUs monitoring" to docker install
  packaging/docker/README.md
  src/collectors/python.d.plugin/nvidia_smi/README.md
Labels: area/packaging, area/docs, area/collectors, collectors/python.d

#17162 Announce dynamic configuration capability to the cloud
  src/aclk/aclk_capas.c
Labels: area/aclk

#17173 go.d sd docker add mongodb-community-server
  src/go/collectors/go.d.plugin/config/go.d/sd/docker.conf
Labels: area/collectors, collectors/go.d.plugin, area/go

#17174 go.d sd docker use well-known port for app identification too
  src/go/collectors/go.d.plugin/agent/discovery/sd/pipeline/promport.go
  src/go/collectors/go.d.plugin/config/go.d/sd/docker.conf
Labels: area/collectors, collectors/go.d.plugin, area/go

#17172 Update themes.md
  docs/cloud/manage/themes.md
Labels: area/docs

#17171 go.d sd config add "disabled"
  src/go/collectors/go.d.plugin/agent/discovery/sd/pipeline/config.go
  src/go/collectors/go.d.plugin/agent/discovery/sd/sd.go
  src/go/collectors/go.d.plugin/agent/discovery/sd/sd_test.go
  src/go/collectors/go.d.plugin/config/go.d/sd/docker.conf
  src/go/collectors/go.d.plugin/config/go.d/sd/net_listeners.conf
Labels: area/collectors, collectors/go.d.plugin, area/go

#17176 Update themes.md
  docs/cloud/manage/themes.md
Labels: area/docs

#17151 Fix macOS issue with SOCK_CLOEXEC
  src/aclk/mqtt_websockets/mqtt_wss_client.c
  src/libnetdata/log/journal.c
  src/libnetdata/socket/socket.c
  src/libnetdata/socket/socket.h
  src/streaming/sender.c
Labels: area/streaming, area/aclk

#17180 split apps.plugin into multiple files and support MacOS
  CMakeLists.txt
  packaging/installer/functions.sh
  src/collectors/apps.plugin/apps_functions.c
  src/collectors/apps.plugin/apps_output.c
  src/collectors/apps.plugin/apps_plugin.c
  src/collectors/apps.plugin/apps_plugin.h
  src/collectors/apps.plugin/apps_proc_meminfo.c
  src/collectors/apps.plugin/apps_proc_pid_cmdline.c
  src/collectors/apps.plugin/apps_proc_pid_fd.c
  src/collectors/apps.plugin/apps_proc_pid_io.c
  src/collectors/apps.plugin/apps_proc_pid_limits.c
  src/collectors/apps.plugin/apps_proc_pid_stat.c
  src/collectors/apps.plugin/apps_proc_pid_status.c
  src/collectors/apps.plugin/apps_proc_pids.c
  src/collectors/apps.plugin/apps_proc_stat.c
  src/collectors/apps.plugin/apps_targets.c
  src/collectors/apps.plugin/apps_users_and_groups.c
Labels: area/packaging, area/collectors, area/build, collectors/apps

#17165 DYNCFG: alerts improvements
  src/collectors/systemd-journal.plugin/systemd-journal-dyncfg.c
  src/daemon/config/dyncfg.c
  src/database/contexts/api_v2.c
  src/database/contexts/rrdcontext.h
  src/database/sqlite/sqlite_aclk_alert.c
  src/database/sqlite/sqlite_db_migration.c
  src/database/sqlite/sqlite_health.c
  src/database/sqlite/sqlite_metadata.c
  src/health/REFERENCE.md
  src/health/health.h
  src/health/health_config.c
  src/health/health_dyncfg.c
  src/health/health_event_loop.c
  src/health/health_json.c
  src/health/health_prototypes.c
  src/health/health_prototypes.h
  src/health/health_variable.c
  src/health/rrdcalc.c
  src/health/schema.d/health:alert:prototype.json
  src/libnetdata/eval/eval.c
  src/libnetdata/eval/eval.h
  src/web/api/formatters/value/value.c
  src/web/api/queries/query.c
  src/web/api/queries/query.h
  src/web/api/queries/rrdr.h
  src/web/api/web_api_v1.c
  src/web/api/web_api_v1.h
  src/web/server/web_client.c
  src/web/server/web_client.h
Labels: area/docs, area/web, area/health, area/collectors, area/daemon, area/database, area/aclk, collectors/systemd-journal

#17189 add callout that snapshots only available on v1
  docs/dashboard/import-export-print-snapshot.md
Labels: area/docs

#17194 health: unsilence cpu % alarm
  src/health/health.d/cpu.conf
Labels: area/health

#17193 Fix sum calculation in rrdr2value
  src/web/api/formatters/value/value.c
Labels: area/web

#17196 Fix alert hash table definition
  src/database/sqlite/sqlite_metadata.c
Labels: area/database

#17197 Handle agents will wrong alert_hash table definition
  src/database/sqlite/sqlite_db_migration.c
  src/database/sqlite/sqlite_metadata.c
Labels: area/database

#17198 Fix issues with permissions when installing from source on macOS
  packaging/installer/functions.sh
  system/install-service.sh.in
Labels: area/packaging

#17203 go.d: local-listeners sd: use "ip:port" as address instead of "localhost"
  src/go/collectors/go.d.plugin/agent/discovery/sd/discoverer/netlisteners/netlisteners.go
  src/go/collectors/go.d.plugin/agent/discovery/sd/discoverer/netlisteners/netlisteners_test.go
  src/go/collectors/go.d.plugin/agent/discovery/sd/discoverer/netlisteners/sim_test.go
  src/go/collectors/go.d.plugin/agent/discovery/sd/discoverer/netlisteners/target.go
  src/go/collectors/go.d.plugin/config/go.d/sd/net_listeners.conf
Labels: area/collectors, collectors/go.d.plugin, area/go

#17204 go.d: weblog allow PURGE HTTP method
  src/go/collectors/go.d.plugin/modules/weblog/logline.go
  src/go/collectors/go.d.plugin/modules/weblog/logline_test.go
Labels: area/collectors, collectors/go.d.plugin, area/go

#17205 go.d: local-listeners sd: trust known ports to identify an app
  src/go/collectors/go.d.plugin/config/go.d/sd/net_listeners.conf
Labels: area/collectors, collectors/go.d.plugin, area/go

#17128 Prefer Protobuf’s own CMake config over CMake's FindProtobuf.
  CMakeLists.txt
  netdata-installer.sh
  netdata.spec.in
  packaging/bundle-protobuf.sh
  packaging/cmake/Modules/NetdataFetchContentExtra.cmake
  packaging/cmake/Modules/NetdataProtobuf.cmake
  packaging/installer/functions.sh
  packaging/protobuf.checksums
  packaging/protobuf.version
  tests/run-unit-tests.sh
Labels: area/packaging, area/tests, area/build

#17206 go.d: adjust dyncfg return codes
  src/go/collectors/go.d.plugin/agent/jobmgr/dyncfg.go
Labels: area/collectors, collectors/go.d.plugin, area/go

#17153 Improve offline install error handling.
  packaging/installer/kickstart.sh
Labels: area/packaging

#17190 Move bundling of libyaml to CMake.
  CMakeLists.txt
  netdata-installer.sh
  packaging/cmake/Modules/NetdataYAML.cmake
  packaging/installer/functions.sh
  packaging/yaml.checksums
  packaging/yaml.version
Labels: area/packaging, area/build

#17212 Dynamic configuration switch to version 2
  src/aclk/aclk_capas.c
Labels: area/aclk

#17215 Fix job depdendencies in Docker workflow.
  .github/workflows/docker.yml
Labels: area/ci

#17214 add warning on old custom dashboards and rephrase existing page
  docs/cloud/visualize/dashboards.md
  src/web/gui/custom/README.md
Labels: area/docs, area/web

#17220 Reduce flush operations during journal build
  src/database/engine/cache.c
  src/database/engine/cache.h
  src/database/engine/rrdengineapi.c
Labels: area/database

#17219 go.d: mysql: disable session query log and slow query log
  src/go/collectors/go.d.plugin/modules/mysql/collect.go
  src/go/collectors/go.d.plugin/modules/mysql/disable_logging.go
  src/go/collectors/go.d.plugin/modules/mysql/mysql.go
  src/go/collectors/go.d.plugin/modules/mysql/mysql_test.go
  src/go/collectors/go.d.plugin/modules/mysql/testdata/session_variables.txt
Labels: area/collectors, collectors/go.d.plugin, area/go

#17222 fixing the helm login command for the onprem installation
  docs/netdata-cloud-onprem/getting-started.md
  docs/netdata-cloud/netdata-cloud-on-prem/installation.md
Labels: area/docs

#17227 update flowchart cloud-onprem
  docs/netdata-cloud/netdata-cloud-on-prem/README.md
Labels: area/docs

#17225 feat: add netdata cloud api-tokens docs
  docs/netdata-cloud/api-tokens.md
Labels: area/docs

#17228 fix html
  docs/netdata-cloud/api-tokens.md
Labels: area/docs

#17231 dbengine: cache bug-fix when under pressure
  src/database/engine/cache.c
Labels: area/database

#17232 updated dbengine unittest
  CMakeLists.txt
  src/daemon/unit_test.c
  src/database/engine/dbengine-stresstest.c
  src/database/engine/dbengine-unittest.c
Labels: area/daemon, area/database, area/tests, area/build

#17234 DBENGINE: use gorilla by default
  src/daemon/main.c
  src/database/engine/dbengine-unittest.c
  src/database/engine/rrdengineapi.c
Labels: area/daemon, area/database

#17237 Code cleanup
  CMakeLists.txt
  src/collectors/cgroups.plugin/README.md
  src/daemon/config/README.md
  src/daemon/global_statistics.c
  src/daemon/main.c
  src/database/engine/journalfile.c
  src/database/engine/page.c
  src/database/engine/pdc.c
  src/database/engine/rrddiskprotocol.h
  src/database/engine/rrdengine.c
  src/database/engine/rrdengineapi.c
  src/database/rrd.h
  src/database/rrdhost.c
  src/libnetdata/bitmap.h
  src/libnetdata/gorilla/gorilla.cc
  src/libnetdata/gorilla/gorilla.h
  src/libnetdata/libnetdata.h
  src/libnetdata/linked-lists.h
  src/libnetdata/storage-point.h
Labels: area/docs, area/collectors, area/daemon, area/database, area/build, collectors/cgroups

#17239 Fix MRG Metric refcount issue
  src/database/engine/metric.c
  src/database/rrddim.c
  src/database/rrdhost.c
  src/database/rrdset.c
Labels: area/database

#17244 DBENGINE: support ZSTD compression
  CMakeLists.txt
  src/database/engine/dbengine-compression.c
  src/database/engine/dbengine-compression.h
  src/database/engine/pdc.c
  src/database/engine/rrddiskprotocol.h
  src/database/engine/rrdengine.c
  src/database/engine/rrdengineapi.c
Labels: area/database, area/build

#17252 go.d: sd local-listeners: discover /proc/net/tcp6 only apps
  src/go/collectors/go.d.plugin/agent/discovery/sd/discoverer/netlisteners/netlisteners.go
  src/go/collectors/go.d.plugin/agent/discovery/sd/discoverer/netlisteners/netlisteners_test.go
  src/go/collectors/go.d.plugin/config/go.d/sd/docker.conf
  src/go/collectors/go.d.plugin/config/go.d/sd/net_listeners.conf
Labels: area/collectors, collectors/go.d.plugin, area/go

#17249 remove USR1 "Save internal DB to disk"
  src/daemon/README.md
  src/daemon/main.c
  system/freebsd/rc.d/netdata.in
  system/openrc/init.d/netdata.in
Labels: area/packaging, area/docs, area/daemon

#17254 go.d: sd local-listeners: drop docker-proxy targets
  src/go/collectors/go.d.plugin/agent/discovery/sd/discoverer/netlisteners/netlisteners.go
  src/go/collectors/go.d.plugin/agent/discovery/sd/discoverer/netlisteners/netlisteners_test.go
Labels: area/collectors, collectors/go.d.plugin, area/go

#17255 go.d: job manager: set config defaults
  src/go/collectors/go.d.plugin/agent/agent.go
Labels: area/collectors, collectors/go.d.plugin, area/go

#17216 Assorted macOS build fixes.
  CMakeLists.txt
  packaging/cmake/Modules/NetdataDetectSystemd.cmake
Labels: area/packaging, area/build

#17258 include reachability alert fields
  integrations/cloud-notifications/metadata.yaml
Labels: area/metadata

#17251 update whats new
  README.md
Labels: area/docs

#17264 docs: update pagerduty meta
  integrations/cloud-notifications/metadata.yaml
Labels: area/metadata

#17266 Reset database connection handle on close
  src/database/sqlite/sqlite_functions.c
Labels: area/database

#17267 fix duplicate chart context
  src/collectors/ebpf.plugin/metadata.yaml
  src/collectors/proc.plugin/metadata.yaml
  src/collectors/python.d.plugin/beanstalk/metadata.yaml
  src/collectors/python.d.plugin/litespeed/litespeed.chart.py
  src/collectors/python.d.plugin/litespeed/metadata.yaml
  src/collectors/python.d.plugin/puppet/metadata.yaml
  src/collectors/python.d.plugin/puppet/puppet.chart.py
  src/go/collectors/go.d.plugin/modules/logstash/metadata.yaml
  src/go/collectors/go.d.plugin/modules/vernemq/metadata.yaml
Labels: area/collectors, collectors/ebpf, collectors/proc, collectors/python.d, area/metadata, collectors/go.d.plugin, area/go

#17271 add additional fields to webhook reachability notifications
  integrations/cloud-notifications/metadata.yaml
Labels: area/metadata

#17224 Trigger subsequent workflows for Helmchart and MSI
  .github/workflows/docker.yml
Labels: area/ci

#17256 minor fix in monitor releases workflow
  .github/workflows/monitor-releases.yml
Labels: area/ci

#17259 Enable sentry on all Debian and Ubuntu versions.
  .github/data/distros.yml
Labels: area/ci

#17263 Correctly propagate errors from child scripts in kickstart.sh.
  packaging/installer/kickstart.sh
Labels: area/packaging

#17243 apps_proc_pid_fd: ignore kf_sock_inpcb on modern FreeBSD
  src/collectors/apps.plugin/apps_proc_pid_fd.c
Labels: area/collectors, collectors/apps

#17274 REFERENCE - Fix small unligned typo
  src/health/REFERENCE.md
Labels: area/docs, area/health

#17276 Correctly handle libyaml linking for log2journal.
  CMakeLists.txt
Labels: area/build

#17283 go.d: socket package: don't set client on connect() err
  src/go/collectors/go.d.plugin/pkg/socket/client.go
Labels: area/collectors, collectors/go.d.plugin, area/go

#17285 go.d: sd docker: create multiple nginx configs
  src/go/collectors/go.d.plugin/config/go.d/sd/docker.conf
Labels: area/collectors, collectors/go.d.plugin, area/go

#17286 go.d: set User-Agent automatically when creating HTTP req
  packaging/cmake/Modules/NetdataGoTools.cmake
  src/go/collectors/go.d.plugin/cmd/godplugin/main.go
  src/go/collectors/go.d.plugin/hack/go-build.sh
  src/go/collectors/go.d.plugin/pkg/buildinfo/version.go
  src/go/collectors/go.d.plugin/pkg/prometheus/client.go
  src/go/collectors/go.d.plugin/pkg/web/request.go
Labels: area/packaging, area/collectors, collectors/go.d.plugin, area/go

#17056 Fix conditional for Amazon Linux 2023 in repoconfig spec file.
  packaging/repoconfig/netdata-repo.spec
Labels: area/packaging

#17270 Update Codeowners
  .github/CODEOWNERS
Labels: area/ci

#17120 Fix action lints
  .github/workflows/build.yml
  .github/workflows/cloud_regression.yml
  .github/workflows/docker.yml
  .github/workflows/generate-integrations.yml
  .github/workflows/monitor-releases.yml
  .github/workflows/repoconfig-packages.yml
  .github/workflows/review.yml
Labels: area/ci

#17289 go.d: don't create jobs with unknown module
  src/go/collectors/go.d.plugin/agent/jobmgr/manager.go
  src/go/collectors/go.d.plugin/config/go.d/sd/net_listeners.conf
Labels: area/collectors, collectors/go.d.plugin, area/go

#17292 fix rrdlabels traversal
  src/database/rrdlabels.c
Labels: area/database

#17156 Add label for cgroup
  src/collectors/ebpf.plugin/ebpf.c
  src/collectors/ebpf.plugin/ebpf_cachestat.c
  src/collectors/ebpf.plugin/ebpf_cgroup.c
  src/collectors/ebpf.plugin/ebpf_dcstat.c
  src/collectors/ebpf.plugin/ebpf_fd.c
  src/collectors/ebpf.plugin/ebpf_oomkill.c
  src/collectors/ebpf.plugin/ebpf_process.c
  src/collectors/ebpf.plugin/ebpf_shm.c
  src/collectors/ebpf.plugin/ebpf_socket.c
  src/collectors/ebpf.plugin/ebpf_swap.c
  src/collectors/ebpf.plugin/ebpf_vfs.c
Labels: area/collectors, collectors/ebpf

#17191 Compatibility with Prometheus HELP
  src/exporting/prometheus/prometheus.c
  src/exporting/prometheus/prometheus.h
  src/web/api/exporters/allmetrics.c
  src/web/api/netdata-swagger.json
  src/web/api/netdata-swagger.yaml
Labels: area/web, area/exporting
