Repository netdata/netdata, pull requests merged in 2024-04, with the labels that each got.

#17294 Update hpssa.chart.py
  src/collectors/python.d.plugin/hpssa/hpssa.chart.py
Labels: area/collectors, collectors/python.d

#17304 go.d: sd local listeners: add unix socket job
  src/go/collectors/go.d.plugin/config/go.d/postgres.conf
  src/go/collectors/go.d.plugin/config/go.d/sd/net_listeners.conf
Labels: area/collectors, collectors/go.d.plugin, area/go

#17288 Fix repoconfig publishing.
  .github/workflows/repoconfig-packages.yml
Labels: area/ci

#17282 Add Fedora 40 to CI, packages, and support policy.
  .github/data/distros.yml
  packaging/PLATFORM_SUPPORT.md
Labels: area/ci, area/packaging, area/docs

#17305 go.d: sd ll: add mysql socket jobs
  src/go/collectors/go.d.plugin/config/go.d/mysql.conf
  src/go/collectors/go.d.plugin/config/go.d/sd/net_listeners.conf
Labels: area/collectors, collectors/go.d.plugin, area/go

#17306 Fix handling of post-release workflows triggered by Docker workflow.
  .github/workflows/docker.yml
Labels: area/ci

#17307 Update metadata frequency
  src/daemon/analytics.h
Labels: area/daemon

#17295 Fix SWAP pages
  packaging/ebpf-co-re.checksums
  packaging/ebpf-co-re.version
  packaging/ebpf.checksums
  packaging/ebpf.version
  src/collectors/ebpf.plugin/ebpf.c
  src/collectors/ebpf.plugin/ebpf_swap.c
  src/libnetdata/ebpf/ebpf.c
  src/libnetdata/ebpf/ebpf.h
Labels: area/packaging, area/collectors, collectors/ebpf

#17310 dyncfg function on parents should not require any access rights
  src/daemon/config/dyncfg.c
Labels: area/daemon

#17312 Fix assorted issues in the Docker build process.
  .github/scripts/gen-docker-tags.py
  .github/workflows/docker.yml
Labels: area/ci

#17317 set min thread stack size to 1 MB
  src/daemon/main.c
Labels: area/daemon

#16836 Add basic support for dinit in our system service handling code.
  CMakeLists.txt
  system/dinit/netdata.in
  system/install-service.sh.in
Labels: area/packaging, area/build

#17322 Drop generic bitmap implementation.
  CMakeLists.txt
  src/daemon/main.c
  src/daemon/unit_test.c
  src/database/engine/journalfile.c
  src/libnetdata/bitmap.h
  src/libnetdata/bitmap64.h
  src/libnetdata/libnetdata.h
Labels: area/daemon, area/database, area/tests, area/build

#17323 remove old overview infrastructure and add home tab doc
  docs/collect/application-metrics.md
  docs/collect/container-metrics.md
  docs/dashboard/home-tab.md
  docs/guides/monitor/kubernetes-k8s-netdata.md
  docs/guides/troubleshoot/monitor-debug-applications-ebpf.md
  docs/quickstart/infrastructure.md
  docs/visualize/overview-infrastructure.md
  packaging/installer/methods/ansible.md
Labels: area/packaging, area/docs

#17325 go.d: schemas: add missing "body" and "method"
  src/go/collectors/go.d.plugin/modules/activemq/config_schema.json
  src/go/collectors/go.d.plugin/modules/apache/config_schema.json
  src/go/collectors/go.d.plugin/modules/bind/config_schema.json
  src/go/collectors/go.d.plugin/modules/cassandra/config_schema.json
  src/go/collectors/go.d.plugin/modules/cockroachdb/config_schema.json
  src/go/collectors/go.d.plugin/modules/consul/config_schema.json
  src/go/collectors/go.d.plugin/modules/coredns/config_schema.json
  src/go/collectors/go.d.plugin/modules/couchbase/config_schema.json
  src/go/collectors/go.d.plugin/modules/couchdb/config_schema.json
  src/go/collectors/go.d.plugin/modules/dnsdist/config_schema.json
  src/go/collectors/go.d.plugin/modules/docker_engine/config_schema.json
  src/go/collectors/go.d.plugin/modules/dockerhub/config_schema.json
  src/go/collectors/go.d.plugin/modules/elasticsearch/config_schema.json
  src/go/collectors/go.d.plugin/modules/envoy/config_schema.json
  src/go/collectors/go.d.plugin/modules/fluentd/config_schema.json
  src/go/collectors/go.d.plugin/modules/geth/config_schema.json
  src/go/collectors/go.d.plugin/modules/haproxy/config_schema.json
  src/go/collectors/go.d.plugin/modules/hdfs/config_schema.json
  src/go/collectors/go.d.plugin/modules/httpcheck/config_schema.json
  src/go/collectors/go.d.plugin/modules/k8s_kubelet/config_schema.json
  src/go/collectors/go.d.plugin/modules/k8s_kubeproxy/config_schema.json
  src/go/collectors/go.d.plugin/modules/lighttpd/config_schema.json
  src/go/collectors/go.d.plugin/modules/logstash/config_schema.json
  src/go/collectors/go.d.plugin/modules/nginx/config_schema.json
  src/go/collectors/go.d.plugin/modules/nginxplus/config_schema.json
  src/go/collectors/go.d.plugin/modules/nginxvts/config_schema.json
  src/go/collectors/go.d.plugin/modules/phpdaemon/config_schema.json
  src/go/collectors/go.d.plugin/modules/pihole/config_schema.json
  src/go/collectors/go.d.plugin/modules/powerdns/config_schema.json
  src/go/collectors/go.d.plugin/modules/powerdns_recursor/config_schema.json
  src/go/collectors/go.d.plugin/modules/prometheus/config_schema.json
  src/go/collectors/go.d.plugin/modules/pulsar/config_schema.json
  src/go/collectors/go.d.plugin/modules/rabbitmq/config_schema.json
  src/go/collectors/go.d.plugin/modules/scaleio/config_schema.json
  src/go/collectors/go.d.plugin/modules/tengine/config_schema.json
  src/go/collectors/go.d.plugin/modules/traefik/config_schema.json
  src/go/collectors/go.d.plugin/modules/vcsa/config_schema.json
  src/go/collectors/go.d.plugin/modules/vernemq/config_schema.json
  src/go/collectors/go.d.plugin/modules/vsphere/config_schema.json
  src/go/collectors/go.d.plugin/modules/windows/config_schema.json
Labels: area/collectors, collectors/go.d.plugin, area/go

#17338 fix proc-power-supply charts family
  src/collectors/proc.plugin/sys_class_power_supply.c
Labels: area/collectors, collectors/proc

#17326 go.d: schema windows: fix url placeholder scheme
  src/go/collectors/go.d.plugin/modules/windows/config_schema.json
Labels: area/collectors, collectors/go.d.plugin, area/go

#17342 fix invalid var in prepare_offline_install_source()
  packaging/installer/kickstart.sh
Labels: area/packaging

#17343 Increase number of pages per extent in dbengine
  src/database/engine/rrdengine.c
  src/database/engine/rrdengine.h
  src/database/rrdhost.c
Labels: area/database

#17344 add intel_gpu_top collector
  src/go/collectors/go.d.plugin/README.md
  src/go/collectors/go.d.plugin/config/go.d.conf
  src/go/collectors/go.d.plugin/config/go.d/intelgpu.conf
  src/go/collectors/go.d.plugin/modules/init.go
  src/go/collectors/go.d.plugin/modules/intelgpu/charts.go
  src/go/collectors/go.d.plugin/modules/intelgpu/collect.go
  src/go/collectors/go.d.plugin/modules/intelgpu/config_schema.json
  src/go/collectors/go.d.plugin/modules/intelgpu/exec.go
  src/go/collectors/go.d.plugin/modules/intelgpu/init.go
  src/go/collectors/go.d.plugin/modules/intelgpu/intelgpu.go
  src/go/collectors/go.d.plugin/modules/intelgpu/intelgpu_test.go
  src/go/collectors/go.d.plugin/modules/intelgpu/metadata.yaml
  src/go/collectors/go.d.plugin/modules/intelgpu/testdata/config.json
  src/go/collectors/go.d.plugin/modules/intelgpu/testdata/config.yaml
  src/go/collectors/go.d.plugin/modules/intelgpu/testdata/igt.json
Labels: area/docs, area/collectors, area/metadata, collectors/go.d.plugin, area/go

#17352 add try except
  integrations/gen_docs_integrations.py
Labels: area/metadata

#17354 add intel_gpu_top to apps_groups.conf
  src/collectors/apps.plugin/apps_groups.conf
Labels: area/collectors, collectors/apps

#17355 add prerequisites to go.d/intelgpu meta
  src/go/collectors/go.d.plugin/modules/intelgpu/metadata.yaml
Labels: area/collectors, area/metadata, collectors/go.d.plugin, area/go

#17319 Check for Snappy only when required.
  CMakeLists.txt
Labels: area/build

#17327 Enable Sentry for Ubuntu and Debian native packages.
  .github/data/distros.yml
Labels: area/ci

#17357 uninstaller: remove LaunchDaemons plist file (macOS)
  packaging/installer/netdata-uninstaller.sh
Labels: area/packaging

#17359 make file if not found
  integrations/gen_docs_integrations.py
Labels: area/metadata

#17348 revised node-tab document
  docs/cloud/visualize/nodes.md
  docs/dashboard/nodes-tab.md
  docs/quickstart/infrastructure.md
  src/claim/README.md
Labels: area/docs, area/claim

#17361 go.d intelgpu: rename label engine to engine_class
  src/go/collectors/go.d.plugin/modules/intelgpu/charts.go
  src/go/collectors/go.d.plugin/modules/intelgpu/metadata.yaml
Labels: area/collectors, area/metadata, collectors/go.d.plugin, area/go

#17351 add Okta SSO integration
  integrations/categories.yaml
  integrations/cloud-authentication/integrations/okta_sso.md
  integrations/cloud-authentication/metadata.yaml
  integrations/gen_docs_integrations.py
  integrations/gen_integrations.py
  integrations/schemas/authentication.json
  integrations/templates/overview.md
  integrations/templates/overview/authentication.md
Labels: area/docs, area/metadata

#17207 Move bundling of JSON-C to CMake.
  CMakeLists.txt
  netdata-installer.sh
  packaging/cmake/Modules/NetdataJSONC.cmake
  packaging/jsonc.checksums
  packaging/jsonc.version
Labels: area/packaging, area/build

#17077 Skip Go code in CI if it hasn’t changed.
  .github/scripts/build-static.sh
  .github/scripts/run-updater-check.sh
  .github/workflows/build.yml
  .github/workflows/checks.yml
  .github/workflows/docker.yml
  netdata-installer.sh
  packaging/makeself/build-static.sh
  packaging/makeself/build.sh
  packaging/makeself/jobs/70-netdata-git.install.sh
  packaging/makeself/run-all-jobs.sh
Labels: area/ci, area/packaging

#16555 kickstart: Add detection of multiple concurrent installs.
  packaging/installer/kickstart.sh
Labels: area/packaging

#17358 Move vendoring of Sentry to it’s own module and switch to using Git instead of the releases page.
  CMakeLists.txt
  packaging/cmake/Modules/NetdataSentry.cmake
Labels: area/packaging, area/build

#17366 Fix required toolchain version for Go code.
  src/go/collectors/go.d.plugin/go.mod
Labels: area/collectors, collectors/go.d.plugin, area/go

#17369 Fix logic in detection of multiple installs.
  packaging/installer/kickstart.sh
Labels: area/packaging

#17370 go.d intelgpu: uncomment stock config and update meta setup prerequisites
  src/go/collectors/go.d.plugin/config/go.d/intelgpu.conf
  src/go/collectors/go.d.plugin/modules/intelgpu/metadata.yaml
Labels: area/collectors, area/metadata, collectors/go.d.plugin, area/go

#17373 Canonicalize paths before comparison when checking for multiple installs.
  packaging/installer/kickstart.sh
Labels: area/packaging

#17372 go.d zfspool minor schema and meta fixes
  src/go/collectors/go.d.plugin/modules/intelgpu/intelgpu_test.go
  src/go/collectors/go.d.plugin/modules/zfspool/config_schema.json
  src/go/collectors/go.d.plugin/modules/zfspool/metadata.yaml
Labels: area/collectors, area/metadata, collectors/go.d.plugin, area/go

#17365 Metrics tab doc
  docs/cloud/insights/metric-correlations.md
  docs/cloud/visualize/interact-new-charts.md
  docs/cloud/visualize/kubernetes.md
  docs/cloud/visualize/overview.md
  docs/dashboard/metrics-tab-and-single-node-tabs.md
  docs/glossary.md
  docs/guides/monitor/anomaly-detection.md
  docs/guides/monitor/kubernetes-k8s-netdata.md
  docs/quickstart/infrastructure.md
Labels: area/docs

#17378 go.d intelgpu meta update icon
  src/go/collectors/go.d.plugin/modules/intelgpu/metadata.yaml
Labels: area/collectors, area/metadata, collectors/go.d.plugin, area/go

#17376 add intel_gpu_top to ndsudo
  src/collectors/plugins.d/ndsudo.c
Labels: area/collectors, collectors/plugins.d

#17377 hardcode ndsudo PATH
  src/collectors/plugins.d/ndsudo.c
Labels: area/collectors, collectors/plugins.d

#17381 lowercase word
  docs/dashboard/home-tab.md
Labels: area/docs

#17380 go.d intelgpu switch to using ndsudo
  src/go/collectors/go.d.plugin/config/go.d/intelgpu.conf
  src/go/collectors/go.d.plugin/modules/intelgpu/config_schema.json
  src/go/collectors/go.d.plugin/modules/intelgpu/exec.go
  src/go/collectors/go.d.plugin/modules/intelgpu/init.go
  src/go/collectors/go.d.plugin/modules/intelgpu/intelgpu.go
  src/go/collectors/go.d.plugin/modules/intelgpu/intelgpu_test.go
  src/go/collectors/go.d.plugin/modules/intelgpu/metadata.yaml
  src/go/collectors/go.d.plugin/modules/intelgpu/testdata/config.json
  src/go/collectors/go.d.plugin/modules/intelgpu/testdata/config.yaml
  src/go/collectors/go.d.plugin/modules/zfspool/init.go
Labels: area/collectors, area/metadata, collectors/go.d.plugin, area/go

#17281 Add Ubuntu 24.04 to CI, package builds, and support policy.
  .github/data/distros.yml
  packaging/PLATFORM_SUPPORT.md
Labels: area/ci, area/packaging, area/docs

#17384 go.d intelgpu: use cmd.Wait instead of process.Wait
  src/go/collectors/go.d.plugin/modules/intelgpu/exec.go
Labels: area/collectors, collectors/go.d.plugin, area/go

#17386 go.d nvme: drop using `nvme` directly
  src/go/collectors/go.d.plugin/config/go.d/zfspool.conf
  src/go/collectors/go.d.plugin/modules/intelgpu/metadata.yaml
  src/go/collectors/go.d.plugin/modules/nvme/config_schema.json
  src/go/collectors/go.d.plugin/modules/nvme/exec.go
  src/go/collectors/go.d.plugin/modules/nvme/init.go
  src/go/collectors/go.d.plugin/modules/nvme/metadata.yaml
  src/go/collectors/go.d.plugin/modules/nvme/nvme.go
  src/go/collectors/go.d.plugin/modules/nvme/nvme_test.go
Labels: area/collectors, area/metadata, collectors/go.d.plugin, area/go

#17388 Patch release 1.45.3
  packaging/installer/netdata-uninstaller.sh
  src/collectors/plugins.d/ndsudo.c
  src/daemon/main.c
  src/health/health.h
  src/health/health_prototypes.c
Labels: area/packaging, area/health, area/collectors, area/daemon, collectors/plugins.d

#17395 go.d nvme meta: remove sudoers prereq
  src/go/collectors/go.d.plugin/modules/nvme/metadata.yaml
Labels: area/collectors, area/metadata, collectors/go.d.plugin, area/go

#17397 Fix publishing Docker images to Docker Hub.
  .github/workflows/docker.yml
Labels: area/ci

#17398 apply first alarms, then alarm templates
  src/health/health_prototypes.c
Labels: area/health

#17385 Add option to cleanup health_log table
  src/daemon/main.c
  src/database/sqlite/sqlite_context.c
  src/database/sqlite/sqlite_db_migration.c
  src/database/sqlite/sqlite_health.c
  src/database/sqlite/sqlite_health.h
  src/database/sqlite/sqlite_metadata.c
Labels: area/daemon, area/database

#17407 gh labeler: go.d.plugin rm suffix
  .github/labeler.yml
Labels: area/ci

#17383 Split Sentry enablement to be per-architecture.
  .github/data/distros.yml
  .github/scripts/gen-matrix-packaging.py
Labels: area/ci

#17408 Logs tab docs in dashboard section
  docs/dashboard/logs-tab.md
Labels: area/docs

#17390 Function docs edits
  README.md
  docs/cloud/netdata-functions.md
  docs/cloud/runtime-troubleshooting-with-functions.md
  docs/getting-started/introduction.md
  src/collectors/REFERENCE.md
Labels: area/docs, area/collectors

#17045 Add fallback logic in installer for fetching files.
  packaging/installer/functions.sh
  packaging/installer/kickstart.sh
  packaging/installer/netdata-updater.sh
Labels: area/packaging

#17415 go.d sd ll set max_time_series for prometheus/clickhouse
  src/go/collectors/go.d.plugin/config/go.d/sd/net_listeners.conf
Labels: area/collectors, collectors/go.d, area/go

#17410 rewrite megacli in go
  src/go/collectors/go.d.plugin/README.md
  src/go/collectors/go.d.plugin/config/go.d.conf
  src/go/collectors/go.d.plugin/config/go.d/megacli.conf
  src/go/collectors/go.d.plugin/modules/init.go
  src/go/collectors/go.d.plugin/modules/megacli/charts.go
  src/go/collectors/go.d.plugin/modules/megacli/collect.go
  src/go/collectors/go.d.plugin/modules/megacli/collect_bbu.go
  src/go/collectors/go.d.plugin/modules/megacli/collect_phys_drives.go
  src/go/collectors/go.d.plugin/modules/megacli/config_schema.json
  src/go/collectors/go.d.plugin/modules/megacli/exec.go
  src/go/collectors/go.d.plugin/modules/megacli/init.go
  src/go/collectors/go.d.plugin/modules/megacli/megacli.go
  src/go/collectors/go.d.plugin/modules/megacli/megacli_test.go
  src/go/collectors/go.d.plugin/modules/megacli/metadata.yaml
  src/go/collectors/go.d.plugin/modules/megacli/testdata/config.json
  src/go/collectors/go.d.plugin/modules/megacli/testdata/config.yaml
  src/go/collectors/go.d.plugin/modules/megacli/testdata/mega-bbu-info-old.txt
  src/go/collectors/go.d.plugin/modules/megacli/testdata/mega-bbu-info-recent.txt
  src/go/collectors/go.d.plugin/modules/megacli/testdata/mega-phys-drives-info.txt
  src/health/health.d/megacli.conf
Labels: area/docs, area/health, area/collectors, collectors/go.d, area/metadata, area/go

#17418 go.d megacli fix meta metrics_description
  src/go/collectors/go.d.plugin/modules/megacli/metadata.yaml
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#17103 Alert transitions code cleanup
  src/database/sqlite/sqlite_aclk_alert.c
  src/database/sqlite/sqlite_context.h
  src/database/sqlite/sqlite_functions.h
  src/database/sqlite/sqlite_health.c
  src/database/sqlite/sqlite_health.h
  src/database/sqlite/sqlite_metadata.h
  src/health/health_prototypes.c
Labels: area/health, area/database, area/aclk

#17417 remove python.d/megacli
  CMakeLists.txt
  src/collectors/python.d.plugin/megacli/README.md
  src/collectors/python.d.plugin/megacli/integrations/megacli.md
  src/collectors/python.d.plugin/megacli/megacli.chart.py
  src/collectors/python.d.plugin/megacli/megacli.conf
  src/collectors/python.d.plugin/megacli/metadata.yaml
  src/collectors/python.d.plugin/python.d.conf
  src/health/health.d/megacli.conf
Labels: area/docs, area/health, area/collectors, area/build, collectors/python.d, area/metadata

#17309 Add a build option to disable all optional features by default.
  CMakeLists.txt
Labels: area/build

#17313 Explicitly require systemd for systemd journal plugin.
  CMakeLists.txt
Labels: area/build

#17427 cncf changed the url
  README.md
Labels: area/docs

#17428 go.d rewrite python.d/adaptec_raid
  src/go/collectors/go.d.plugin/README.md
  src/go/collectors/go.d.plugin/config/go.d.conf
  src/go/collectors/go.d.plugin/config/go.d/adaptec_raid.conf
  src/go/collectors/go.d.plugin/modules/adaptecraid/adaptec.go
  src/go/collectors/go.d.plugin/modules/adaptecraid/adaptec_test.go
  src/go/collectors/go.d.plugin/modules/adaptecraid/charts.go
  src/go/collectors/go.d.plugin/modules/adaptecraid/collect.go
  src/go/collectors/go.d.plugin/modules/adaptecraid/collect_ld.go
  src/go/collectors/go.d.plugin/modules/adaptecraid/collect_pd.go
  src/go/collectors/go.d.plugin/modules/adaptecraid/config_schema.json
  src/go/collectors/go.d.plugin/modules/adaptecraid/exec.go
  src/go/collectors/go.d.plugin/modules/adaptecraid/init.go
  src/go/collectors/go.d.plugin/modules/adaptecraid/metadata.yaml
  src/go/collectors/go.d.plugin/modules/adaptecraid/testdata/config.json
  src/go/collectors/go.d.plugin/modules/adaptecraid/testdata/config.yaml
  src/go/collectors/go.d.plugin/modules/adaptecraid/testdata/getconfig-ld-current.txt
  src/go/collectors/go.d.plugin/modules/adaptecraid/testdata/getconfig-ld-old.txt
  src/go/collectors/go.d.plugin/modules/adaptecraid/testdata/getconfig-pd-current.txt
  src/go/collectors/go.d.plugin/modules/adaptecraid/testdata/getconfig-pd-old.txt
  src/go/collectors/go.d.plugin/modules/init.go
  src/health/health.d/adaptec_raid.conf
Labels: area/docs, area/health, area/collectors, collectors/go.d, area/metadata, area/go

#17430 go.d adaptec fix meta
  src/go/collectors/go.d.plugin/modules/adaptecraid/metadata.yaml
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#17429 remove python.d/adaptec_raid
  CMakeLists.txt
  src/collectors/python.d.plugin/adaptec_raid/README.md
  src/collectors/python.d.plugin/adaptec_raid/adaptec_raid.chart.py
  src/collectors/python.d.plugin/adaptec_raid/adaptec_raid.conf
  src/collectors/python.d.plugin/adaptec_raid/integrations/adaptecraid.md
  src/collectors/python.d.plugin/adaptec_raid/metadata.yaml
  src/collectors/python.d.plugin/python.d.conf
  src/health/health.d/adaptec_raid.conf
Labels: area/docs, area/health, area/collectors, area/build, collectors/python.d, area/metadata

#17433 go.d fix adaptec/megacli meta name
  src/go/collectors/go.d.plugin/modules/adaptecraid/metadata.yaml
  src/go/collectors/go.d.plugin/modules/megacli/metadata.yaml
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#17424 Fix coverity issue 425241
  src/database/sqlite/sqlite_health.c
Labels: area/database

#17314 Address cmake compilation
  CMakeLists.txt
  src/collectors/ebpf.plugin/ebpf_swap.c
Labels: area/collectors, area/build, collectors/ebpf

#17436 Start watcher thread after fork
  src/daemon/main.c
Labels: area/daemon

#17423 Indent generated files
  integrations/gen_integrations.py
Labels: area/metadata

#17438 go.d mega/adaptec meta add alerts
  src/go/collectors/go.d.plugin/modules/adaptecraid/metadata.yaml
  src/go/collectors/go.d.plugin/modules/megacli/metadata.yaml
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#17420 Associate sentry events with guid.
  src/daemon/main.c
  src/daemon/sentry-native/sentry-native.c
  src/daemon/sentry-native/sentry-native.h
  src/registry/registry.h
  src/registry/registry_internals.c
Labels: area/daemon, area/registry

#17409 dashboards doc edits
  docs/cloud/visualize/dashboards.md
Labels: area/docs

#17444 Reconnect to the cloud when resuming from suspension
  src/health/health_event_loop.c
Labels: area/health

#17455 ndsudo add storcli
  src/collectors/plugins.d/ndsudo.c
Labels: area/collectors, collectors/plugins.d

#17460 go.d storcli update
  src/go/collectors/go.d.plugin/modules/storcli/charts.go
  src/go/collectors/go.d.plugin/modules/storcli/collect_controllers.go
  src/go/collectors/go.d.plugin/modules/storcli/collect_drives.go
  src/go/collectors/go.d.plugin/modules/storcli/metadata.yaml
  src/go/collectors/go.d.plugin/modules/storcli/storcli_test.go
  src/health/health.d/megacli.conf
  src/health/health.d/storcli.conf
Labels: area/health, area/collectors, collectors/go.d, area/metadata, area/go

#17462 go.d add hddtemp
  src/go/collectors/go.d.plugin/config/go.d.conf
  src/go/collectors/go.d.plugin/config/go.d/hddtemp.conf
  src/go/collectors/go.d.plugin/config/go.d/sd/net_listeners.conf
  src/go/collectors/go.d.plugin/modules/hddtemp/charts.go
  src/go/collectors/go.d.plugin/modules/hddtemp/client.go
  src/go/collectors/go.d.plugin/modules/hddtemp/collect.go
  src/go/collectors/go.d.plugin/modules/hddtemp/config_schema.json
  src/go/collectors/go.d.plugin/modules/hddtemp/hddtemp.go
  src/go/collectors/go.d.plugin/modules/hddtemp/hddtemp_test.go
  src/go/collectors/go.d.plugin/modules/hddtemp/metadata.yaml
  src/go/collectors/go.d.plugin/modules/hddtemp/testdata/config.json
  src/go/collectors/go.d.plugin/modules/hddtemp/testdata/config.yaml
  src/go/collectors/go.d.plugin/modules/hddtemp/testdata/hddtemp-all-ok.txt
  src/go/collectors/go.d.plugin/modules/hddtemp/testdata/hddtemp-all-sleep.txt
  src/go/collectors/go.d.plugin/modules/init.go
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#17463 remove python.d/hddtemp
  CMakeLists.txt
  src/collectors/python.d.plugin/hddtemp/README.md
  src/collectors/python.d.plugin/hddtemp/hddtemp.chart.py
  src/collectors/python.d.plugin/hddtemp/hddtemp.conf
  src/collectors/python.d.plugin/hddtemp/integrations/hdd_temperature.md
  src/collectors/python.d.plugin/hddtemp/metadata.yaml
  src/collectors/python.d.plugin/python.d.conf
Labels: area/docs, area/collectors, area/build, collectors/python.d, area/metadata

#17457 add section for regenerate claiming token
  docs/cloud/alerts-notifications/manage-alert-notification-silencing-rules.md
  src/claim/README.md
Labels: area/docs, area/claim

#17466 go.d add sensors
  src/go/collectors/go.d.plugin/README.md
  src/go/collectors/go.d.plugin/config/go.d.conf
  src/go/collectors/go.d.plugin/config/go.d/sensors.conf
  src/go/collectors/go.d.plugin/modules/init.go
  src/go/collectors/go.d.plugin/modules/sensors/charts.go
  src/go/collectors/go.d.plugin/modules/sensors/collect.go
  src/go/collectors/go.d.plugin/modules/sensors/config_schema.json
  src/go/collectors/go.d.plugin/modules/sensors/exec.go
  src/go/collectors/go.d.plugin/modules/sensors/init.go
  src/go/collectors/go.d.plugin/modules/sensors/metadata.yaml
  src/go/collectors/go.d.plugin/modules/sensors/sensors.go
  src/go/collectors/go.d.plugin/modules/sensors/sensors_test.go
  src/go/collectors/go.d.plugin/modules/sensors/testdata/config.json
  src/go/collectors/go.d.plugin/modules/sensors/testdata/config.yaml
  src/go/collectors/go.d.plugin/modules/sensors/testdata/sensors-temp-in-curr-power-fan.txt
  src/go/collectors/go.d.plugin/modules/sensors/testdata/sensors-temp.txt
  src/go/collectors/go.d.plugin/modules/zfspool/zfspool_test.go
Labels: area/docs, area/collectors, collectors/go.d, area/metadata, area/go

#17474 bump go toolchain to v1.22.0 in check-for-go-toolchain.sh
  packaging/check-for-go-toolchain.sh
Labels: area/packaging

#17476 move dashboards file
  docs/cloud/visualize/interact-new-charts.md
  docs/dashboard/dashboards-tab.md
  docs/glossary.md
  docs/guides/troubleshoot/monitor-debug-applications-ebpf.md
  docs/quickstart/infrastructure.md
  src/web/gui/custom/README.md
Labels: area/docs, area/web

#17478 go.d windows add "vnode" to config schema
  src/go/collectors/go.d.plugin/agent/jobmgr/dyncfg.go
  src/go/collectors/go.d.plugin/modules/windows/config_schema.json
  src/go/collectors/go.d.plugin/modules/windows/testdata/config.json
  src/go/collectors/go.d.plugin/modules/windows/testdata/config.yaml
  src/go/collectors/go.d.plugin/modules/windows/windows.go
Labels: area/collectors, collectors/go.d, area/go

#17471 k8s doc edits
  docs/cloud/visualize/kubernetes.md
Labels: area/docs

#17470 Update Libbpf to 1.4
  packaging/current_libbpf.checksums
  packaging/current_libbpf.version
  packaging/ebpf-co-re.checksums
  packaging/ebpf-co-re.version
  packaging/ebpf.checksums
  packaging/ebpf.version
Labels: area/packaging

#17479 move dashboards file
  docs/guides/troubleshoot/monitor-debug-applications-ebpf.md
  docs/quickstart/infrastructure.md
  src/web/gui/custom/README.md
Labels: area/docs, area/web

#17481 go.d nvidia_smi: use XML format by default
  src/go/collectors/go.d.plugin/config/go.d/nvidia_smi.conf
  src/go/collectors/go.d.plugin/modules/nvidia_smi/config_schema.json
  src/go/collectors/go.d.plugin/modules/nvidia_smi/metadata.yaml
  src/go/collectors/go.d.plugin/modules/nvidia_smi/nvidia_smi.go
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#17329 Add power consumption metric to power supply monitoring module
  src/collectors/all.h
  src/collectors/proc.plugin/README.md
  src/collectors/proc.plugin/integrations/power_supply.md
  src/collectors/proc.plugin/metadata.yaml
  src/collectors/proc.plugin/sys_class_power_supply.c
  src/web/gui/dashboard_info.js
Labels: area/docs, area/web, area/collectors, collectors/proc, area/metadata

#17486 move netdata charts documentation to proper folder
  docs/category-overview-pages/accessing-netdata-dashboards.md
  docs/cloud/visualize/kubernetes.md
  docs/dashboard/dashboards-tab.md
  docs/dashboard/metrics-tab-and-single-node-tabs.md
  docs/dashboard/netdata-charts.md
  docs/dashboard/visualization-date-and-time-controls.md
  docs/glossary.md
  docs/guides/monitor/kubernetes-k8s-netdata.md
  docs/guides/monitor/lamp-stack.md
  docs/quickstart/infrastructure.md
  src/collectors/README.md
  src/collectors/python.d.plugin/pandas/integrations/pandas.md
  src/collectors/python.d.plugin/pandas/metadata.yaml
Labels: area/docs, area/collectors, collectors/python.d, area/metadata

#17441 Fix maintainer documentation to reflect the new build system.
  packaging/installer/methods/source.md
Labels: area/packaging, area/docs

#17488 move netdata charts documentation to proper folder
  docs/dashboard/kubernetes-tab.md
  docs/glossary.md
  docs/guides/monitor/kubernetes-k8s-netdata.md
  docs/quickstart/infrastructure.md
  packaging/installer/methods/kubernetes.md
Labels: area/packaging, area/docs

#17489 go.d update go.mod 1.22.0 and update some packages
  src/go/collectors/go.d.plugin/go.mod
  src/go/collectors/go.d.plugin/go.sum
Labels: area/collectors, collectors/go.d, area/go

#17490 move node-filter.md
  docs/dashboard/node-filter.md
Labels: area/docs

#17491 go.d fix intelgpu with update_every > 3
  src/go/collectors/go.d.plugin/modules/intelgpu/exec.go
Labels: area/collectors, collectors/go.d, area/go

#17495 Fix usage of sha256sum in static builds.
  packaging/makeself/functions.sh
Labels: area/packaging

#17494 add generic sso authenciation page and SP-initiated SSO on Okta
  docs/category-overview-pages/authentication-and-authorization.md
  docs/netdata-cloud/enterprise-sso-authentication.md
  integrations/cloud-authentication/integrations/okta_sso.md
  integrations/cloud-authentication/metadata.yaml
  integrations/gen_docs_integrations.py
Labels: area/docs, area/metadata

#17482 Fix labels name-only matching
  src/database/rrdlabels.c
Labels: area/database

#17500 better redirect
  integrations/cloud-authentication/metadata.yaml
Labels: area/metadata

#17501 add go.d fail2ban
  src/go/collectors/go.d.plugin/README.md
  src/go/collectors/go.d.plugin/config/go.d.conf
  src/go/collectors/go.d.plugin/config/go.d/fail2ban.conf
  src/go/collectors/go.d.plugin/modules/fail2ban/charts.go
  src/go/collectors/go.d.plugin/modules/fail2ban/collect.go
  src/go/collectors/go.d.plugin/modules/fail2ban/config_schema.json
  src/go/collectors/go.d.plugin/modules/fail2ban/exec.go
  src/go/collectors/go.d.plugin/modules/fail2ban/fail2ban.go
  src/go/collectors/go.d.plugin/modules/fail2ban/fail2ban_test.go
  src/go/collectors/go.d.plugin/modules/fail2ban/init.go
  src/go/collectors/go.d.plugin/modules/fail2ban/metadata.yaml
  src/go/collectors/go.d.plugin/modules/fail2ban/testdata/config.json
  src/go/collectors/go.d.plugin/modules/fail2ban/testdata/config.yaml
  src/go/collectors/go.d.plugin/modules/fail2ban/testdata/fail2ban-jail-status.txt
  src/go/collectors/go.d.plugin/modules/fail2ban/testdata/fail2ban-status.txt
  src/go/collectors/go.d.plugin/modules/init.go
  src/go/collectors/go.d.plugin/modules/lvm/lvm_test.go
Labels: area/docs, area/collectors, collectors/go.d, area/metadata, area/go

#17502 remove python.d/fail2ban
  CMakeLists.txt
  src/collectors/python.d.plugin/fail2ban/README.md
  src/collectors/python.d.plugin/fail2ban/fail2ban.chart.py
  src/collectors/python.d.plugin/fail2ban/fail2ban.conf
  src/collectors/python.d.plugin/fail2ban/integrations/fail2ban.md
  src/collectors/python.d.plugin/fail2ban/metadata.yaml
  src/collectors/python.d.plugin/python.d.conf
Labels: area/docs, area/collectors, area/build, collectors/python.d, area/metadata

#17484 Move libbpf and eBPF CO-RE bundling into CMake.
  CMakeLists.txt
  contrib/debian/rules
  netdata-installer.sh
  netdata.spec.in
  packaging/bundle-ebpf-co-re.sh
  packaging/bundle-libbpf.sh
  packaging/cmake/Modules/NetdataEBPFCORE.cmake
  packaging/cmake/Modules/NetdataLibBPF.cmake
  packaging/cmake/Modules/NetdataUtil.cmake
  packaging/current_libbpf.checksums
  packaging/current_libbpf.version
  packaging/ebpf-co-re.checksums
  packaging/ebpf-co-re.version
  packaging/installer/dependencies/alpine.sh
  packaging/installer/install-required-packages.sh
  packaging/libbpf_0_0_9.checksums
  packaging/libbpf_0_0_9.version
  src/collectors/ebpf.plugin/ebpf.h
Labels: area/packaging, area/collectors, area/build, collectors/ebpf

#17503 Additional SQL code cleanup
  src/database/sqlite/sqlite_aclk.c
  src/database/sqlite/sqlite_aclk_alert.c
  src/database/sqlite/sqlite_context.c
  src/database/sqlite/sqlite_db_migration.c
  src/database/sqlite/sqlite_functions.c
  src/database/sqlite/sqlite_functions.h
  src/database/sqlite/sqlite_health.c
  src/database/sqlite/sqlite_metadata.c
Labels: area/database, area/aclk

#17511 go.d traefik fix "got a SET but dimension does not exist"
  src/go/collectors/go.d.plugin/modules/traefik/collect.go
Labels: area/collectors, collectors/go.d, area/go

#17513 Work around MS’s broken infra in CI.
  .github/workflows/build.yml
  .github/workflows/go-tests.yml
  .github/workflows/packaging.yml
  .github/workflows/platform-eol-check.yml
  .github/workflows/repoconfig-packages.yml
Labels: area/ci

#17509 Documentation edits
  docs/category-overview-pages/monitor-your-infrastructure.md
  docs/category-overview-pages/netdata-dashboards-and-visualizations.md
  docs/monitor/view-active-alerts.md
  src/web/gui/confluence/README.md
Labels: area/docs, area/web

#17514 Fix handling of kernel version detection in CMake.
  packaging/cmake/Modules/NetdataUtil.cmake
Labels: area/packaging

#17442 Clean up CMake build options.
  CMakeLists.txt
Labels: area/build

#17512 Move handling of legacy eBPF programs into CMake.
  CMakeLists.txt
  contrib/debian/rules
  netdata-installer.sh
  netdata.spec.in
  packaging/bundle-ebpf.sh
  packaging/cmake/Modules/NetdataEBPFLegacy.cmake
  packaging/cmake/Modules/NetdataLibBPF.cmake
  packaging/cmake/Modules/NetdataUtil.cmake
  packaging/ebpf.checksums
  packaging/ebpf.version
Labels: area/packaging, area/build

#17496 Update CMake to request new behavior for all policies through v3.28.0.
  CMakeLists.txt
Labels: area/build

#17524 go.d prometheus fix units for snmp_exporter
  src/go/collectors/go.d.plugin/modules/prometheus/charts.go
Labels: area/collectors, collectors/go.d, area/go

#17522 update the file
  docs/category-overview-pages/accessing-netdata-dashboards.md
Labels: area/docs

#17518 Anomaly Advisor documentation edits
  docs/cloud/alerts-notifications/notifications.md
  docs/cloud/insights/anomaly-advisor.md
  docs/dashboard/anomaly-advisor-tab.md
  docs/glossary.md
  docs/guides/monitor/anomaly-detection.md
  docs/quickstart/infrastructure.md
  src/collectors/python.d.plugin/anomalies/README.md
Labels: area/docs, area/collectors, collectors/python.d

#17527 fix _ndpath in detect_existing_install()
  packaging/installer/kickstart.sh
Labels: area/packaging

#17528 Revert changes to ENABLE_CLOUD option.
  CMakeLists.txt
Labels: area/build

#17530 Don’t unnescesarily clean repo during static builds.
  packaging/makeself/build.sh
Labels: area/packaging

#17531 add features section requested on Okta review
  integrations/cloud-authentication/metadata.yaml
Labels: area/metadata

#17544 Fix platform EOL check issue assignment.
  .github/workflows/platform-eol-check.yml
Labels: area/ci

#17543 refresh the ML documentation and consolidate the two docs
  docs/category-overview-pages/machine-learning-and-assisted-troubleshooting.md
  docs/cloud/insights/metric-correlations.md
  src/ml/README.md
  src/ml/ml-configuration.md
Labels: area/docs, area/ml

#17551 Notification section updates
  docs/monitor/enable-notifications.md
  src/health/README.md
Labels: area/docs, area/health

#17475 Use CPack to generate Debian packages
  .github/data/distros.yml
  .github/scripts/gen-matrix-packaging.py
  .github/workflows/packaging.yml
  CMakeLists.txt
  packaging/build-package.sh
  packaging/cmake/Modules/Packaging.cmake
  packaging/cmake/control/apps/postinst
  packaging/cmake/control/apps/preinst
  packaging/cmake/control/charts.d/postinst
  packaging/cmake/control/charts.d/preinst
  packaging/cmake/control/copyright
  packaging/cmake/control/cups/postinst
  packaging/cmake/control/cups/preinst
  packaging/cmake/control/debugfs/postinst
  packaging/cmake/control/debugfs/preinst
  packaging/cmake/control/ebpf-code-legacy/postinst
  packaging/cmake/control/ebpf-code-legacy/preinst
  packaging/cmake/control/ebpf.d/postinst
  packaging/cmake/control/ebpf.d/preinst
  packaging/cmake/control/freeipmi/postinst
  packaging/cmake/control/freeipmi/preinst
  packaging/cmake/control/go.d/postinst
  packaging/cmake/control/go.d/preinst
  packaging/cmake/control/logs-management/postinst
  packaging/cmake/control/logs-management/preinst
  packaging/cmake/control/netdata/conffiles
  packaging/cmake/control/netdata/etc/default/netdata
  packaging/cmake/control/netdata/etc/init.d/netdata
  packaging/cmake/control/netdata/postinst
  packaging/cmake/control/netdata/postrm
  packaging/cmake/control/netdata/preinst
  packaging/cmake/control/network-viewer/postinst
  packaging/cmake/control/network-viewer/preinst
  packaging/cmake/control/nfacct/postinst
  packaging/cmake/control/nfacct/preinst
  packaging/cmake/control/perf/postinst
  packaging/cmake/control/perf/preinst
  packaging/cmake/control/python.d/postinst
  packaging/cmake/control/python.d/preinst
  packaging/cmake/control/slabinfo/postinst
  packaging/cmake/control/slabinfo/preinst
  packaging/cmake/control/systemd-journal/postinst
  packaging/cmake/control/systemd-journal/preinst
  packaging/cmake/control/xenstat/postinst
  packaging/cmake/control/xenstat/preinst
  src/web/gui/bundle_dashboard_v1.py
  src/web/gui/bundle_dashboard_v2.py
  src/web/gui/v1/dashboard_v1.cmake
Labels: area/ci, area/packaging, area/web, area/build, run-ci/packaging

#17541 Additional code cleanup
  src/database/sqlite/sqlite_aclk.c
  src/database/sqlite/sqlite_aclk.h
  src/database/sqlite/sqlite_aclk_alert.c
  src/database/sqlite/sqlite_context.c
  src/database/sqlite/sqlite_functions.c
  src/database/sqlite/sqlite_functions.h
  src/database/sqlite/sqlite_health.c
  src/database/sqlite/sqlite_metadata.c
Labels: area/database, area/aclk

#17536 go.d smartctl
  src/go/collectors/go.d.plugin/README.md
  src/go/collectors/go.d.plugin/config/go.d.conf
  src/go/collectors/go.d.plugin/config/go.d/smartctl.conf
  src/go/collectors/go.d.plugin/go.mod
  src/go/collectors/go.d.plugin/go.sum
  src/go/collectors/go.d.plugin/modules/init.go
  src/go/collectors/go.d.plugin/modules/smartctl/charts.go
  src/go/collectors/go.d.plugin/modules/smartctl/collect.go
  src/go/collectors/go.d.plugin/modules/smartctl/config_schema.json
  src/go/collectors/go.d.plugin/modules/smartctl/exec.go
  src/go/collectors/go.d.plugin/modules/smartctl/init.go
  src/go/collectors/go.d.plugin/modules/smartctl/metadata.yaml
  src/go/collectors/go.d.plugin/modules/smartctl/scan.go
  src/go/collectors/go.d.plugin/modules/smartctl/smart_device.go
  src/go/collectors/go.d.plugin/modules/smartctl/smartctl.go
  src/go/collectors/go.d.plugin/modules/smartctl/smartctl_test.go
  src/go/collectors/go.d.plugin/modules/smartctl/testdata/config.json
  src/go/collectors/go.d.plugin/modules/smartctl/testdata/config.yaml
  src/go/collectors/go.d.plugin/modules/smartctl/testdata/type-nvme/device-nvme0.json
  src/go/collectors/go.d.plugin/modules/smartctl/testdata/type-nvme/scan.json
  src/go/collectors/go.d.plugin/modules/smartctl/testdata/type-sat/device-hdd-sda.json
  src/go/collectors/go.d.plugin/modules/smartctl/testdata/type-sat/device-ssd-sdc.json
  src/go/collectors/go.d.plugin/modules/smartctl/testdata/type-sat/scan.json
Labels: area/docs, area/collectors, collectors/go.d, area/metadata, area/go

#17557 Add OIDC docs
  integrations/cloud-authentication/metadata.yaml
Labels: area/metadata

#17564 go.d smartctl improve units
  src/go/collectors/go.d.plugin/modules/smartctl/charts.go
Labels: area/collectors, collectors/go.d, area/go
