Repository netdata/netdata, pull requests merged in 2025-05, with the labels that each got.

#20199 chore(otel/netdataexporter): poc version
  src/go/otel-collector/builder-config.yaml
  src/go/otel-collector/exporter/journaldexporter/go.mod
  src/go/otel-collector/exporter/journaldexporter/go.sum
  src/go/otel-collector/exporter/netdataexporter/convert.go
  src/go/otel-collector/exporter/netdataexporter/convert_test.go
  src/go/otel-collector/exporter/netdataexporter/exporter.go
  src/go/otel-collector/exporter/netdataexporter/go.mod
  src/go/otel-collector/exporter/netdataexporter/go.sum
  src/go/otel-collector/exporter/netdataexporter/netdataapi.go
  src/go/otel-collector/exporter/netdataexporter/netdatachart.go
  src/go/otel-collector/release-config.yaml.in
Labels: area/collectors, collectors/go.d, area/go

#20217 documentation and helpers for centralizing namespaced logs
  docs/observability-centralization-points/logs-centralization-points-with-systemd-journald/centralizing-journal-namespaces.md
Labels: area/docs

#20221 Enable analytics data collection
  src/daemon/analytics.c
  src/daemon/analytics.h
  src/daemon/main.c
Labels: area/daemon

#20224 fix crashes 7
  src/database/engine/journalfile.c
Labels: area/database

#20225 fix crashes 8
  src/database/engine/journalfile.c
Labels: area/database

#20226 Fix potential null pointer dereference when accessing journalfile
  src/database/engine/journalfile.c
Labels: area/database

#20141 Improve MSSQL (Windows.plugin Part II)
  src/collectors/windows.plugin/README.md
  src/collectors/windows.plugin/metadata.yaml
  src/collectors/windows.plugin/perflib-mssql.c
  src/collectors/windows.plugin/windows_plugin.h
Labels: area/docs, area/collectors, area/metadata, collectors/windows

#20229 status file 28
  src/daemon/status-file-product.c
  src/daemon/status-file.h
  src/daemon/system-info.sh
  src/plugins.d/pluginsd_functions.c
Labels: area/daemon, area/plugins.d

#20232 docs: rename DynCfg developer doc to avoid title conflict
  docs/developer-and-contributor-corner/dyncfg.md
Labels: area/docs

#20233 fix(go.d/couchdb): correct db size charts unit
  src/go/plugin/go.d/collector/couchdb/charts.go
Labels: area/collectors, collectors/go.d, area/go

#20235 Revert "Revert "fix(go.d/couchdb): correct db size charts unit""
  src/go/plugin/go.d/collector/couchdb/charts.go
Labels: area/collectors, collectors/go.d, area/go

#20236 Let the user override the default stack size
  src/daemon/config/netdata-conf-global.c
Labels: area/daemon

#20243 Fix build issue on old distros
  src/daemon/libuv_workers.c
  src/database/sqlite/sqlite_metadata.c
Labels: area/daemon, area/database

#20240 Session claim id in docker
  src/database/rrdhost-system-info.c
  src/database/rrdhost-system-info.h
  src/web/api/v2/api_v2_claim.c
Labels: area/web, area/database

#20247 fix(go.d/sd/snmp): fix snmpv3 credentials
  src/go/plugin/go.d/agent/discovery/sd/discoverer/snmpsd/config.go
  src/go/plugin/go.d/agent/discovery/sd/discoverer/snmpsd/discoverer.go
  src/go/plugin/go.d/agent/discovery/sd/discoverer/snmpsd/discoverer_test.go
  src/go/plugin/go.d/agent/discovery/sd/sd.go
Labels: area/collectors, collectors/go.d, area/go

#20248 fix(go.d/snmp): use ifDescr for interface name if ifName is empty
  src/go/plugin/go.d/collector/snmp/collect_if_mib.go
Labels: area/collectors, collectors/go.d, area/go

#20251 Update Netdata README
  README.md
Labels: area/docs

#20252 docs: fix license link and remove GH alerts syntax from FAQ
  README.md
Labels: area/docs

#20258 Clearify the path of `plugins.d/go.d.plugin` in docs
  src/go/plugin/go.d/README.md
Labels: area/docs, area/collectors, collectors/go.d, area/go

#20257 Update documentation for native DEB/RPM packages
  packaging/installer/methods/packages.md
Labels: area/packaging, area/docs

#20259 docs: reword go.d Troubleshooting section for clarity
  src/go/plugin/go.d/README.md
Labels: area/docs, area/collectors, collectors/go.d, area/go

#20263 Minor fixes
  src/daemon/daemon-shutdown-watcher.c
  src/database/rrdset-collection.c
  src/database/sqlite/sqlite_metadata.c
Labels: area/daemon, area/database

#20265 Update Netdata README with improved structure
  README.md
Labels: area/docs

#20264 Schedule journal file indexing after database file rotation
  src/daemon/libuv_workers.c
  src/daemon/libuv_workers.h
  src/database/engine/rrdengine.c
  src/database/engine/rrdengine.h
Labels: area/daemon, area/database

#20274 chore(go.d/snmp): small cleanup snmp profiles code
  src/go/plugin/go.d/agent/discovery/sd/discoverer/snmpsd/discoverer_test.go
  src/go/plugin/go.d/agent/discovery/sd/discoverer/snmpsd/sysinfo.go
  src/go/plugin/go.d/collector/snmp/collect.go
  src/go/plugin/go.d/collector/snmp/collect_if_mib.go
  src/go/plugin/go.d/collector/snmp/collect_profiles.go
  src/go/plugin/go.d/collector/snmp/collector.go
  src/go/plugin/go.d/collector/snmp/command_func.go
  src/go/plugin/go.d/collector/snmp/helpers.go
  src/go/plugin/go.d/collector/snmp/parse_profiles.go
  src/go/plugin/go.d/collector/snmp/profile.go
  src/go/plugin/go.d/collector/snmp/types.go
Labels: area/collectors, collectors/go.d, area/go

#20250 Switch to uv threads
  src/collectors/cgroups.plugin/cgroup-discovery.c
  src/collectors/cgroups.plugin/cgroup-internals.h
  src/collectors/cgroups.plugin/sys_fs_cgroup.c
  src/collectors/debugfs.plugin/module-libsensors.c
  src/collectors/diskspace.plugin/plugin_diskspace.c
  src/collectors/ebpf.plugin/ebpf.c
  src/collectors/ebpf.plugin/ebpf_cachestat.c
  src/collectors/ebpf.plugin/ebpf_dcstat.c
  src/collectors/ebpf.plugin/ebpf_fd.c
  src/collectors/ebpf.plugin/ebpf_functions.c
  src/collectors/ebpf.plugin/ebpf_shm.c
  src/collectors/ebpf.plugin/ebpf_socket.c
  src/collectors/ebpf.plugin/ebpf_swap.c
  src/collectors/ebpf.plugin/ebpf_vfs.c
  src/collectors/freeipmi.plugin/freeipmi_plugin.c
  src/collectors/proc.plugin/plugin_proc.c
  src/collectors/profile.plugin/plugin_profile.cc
  src/collectors/statsd.plugin/statsd.c
  src/collectors/systemd-journal.plugin/systemd-main.c
  src/daemon/config/netdata-conf-db.c
  src/daemon/daemon-service.c
  src/daemon/daemon-service.h
  src/daemon/daemon-shutdown-watcher.c
  src/daemon/daemon-shutdown.c
  src/daemon/daemon-systemd-watcher.c
  src/daemon/dyncfg/dyncfg-unittest.c
  src/daemon/libuv_workers.c
  src/daemon/libuv_workers.h
  src/daemon/main.c
  src/daemon/winsvc.cc
  src/database/engine/cache.c
  src/database/engine/mrg-unittest.c
  src/database/engine/rrdengine.c
  src/database/engine/rrdengine.h
  src/database/sqlite/sqlite_aclk.c
  src/database/sqlite/sqlite_metadata.c
  src/exporting/init_connectors.c
  src/libnetdata/aral/aral.c
  src/libnetdata/dictionary/dictionary-unittest.c
  src/libnetdata/functions_evloop/functions_evloop.c
  src/libnetdata/local-sockets/local-sockets.h
  src/libnetdata/locks/benchmark-rw.c
  src/libnetdata/locks/benchmark.c
  src/libnetdata/locks/waitq.c
  src/libnetdata/spawn_server/log-forwarder.c
  src/libnetdata/string/string.c
  src/libnetdata/threads/threads.c
  src/libnetdata/threads/threads.h
  src/libnetdata/uuid/uuidmap.c
  src/ml/ml_public.cc
  src/plugins.d/plugins_d.c
  src/streaming/stream-connector.c
  src/streaming/stream-replication-sender.c
  src/streaming/stream-thread.c
  src/web/api/queries/backfill.c
  src/web/server/static/static-threaded.c
Labels: area/web, area/exporting, area/collectors, area/daemon, area/database, area/streaming, area/aclk, area/ml, collectors/ebpf, collectors/cgroups, collectors/diskspace, collectors/freeipmi, collectors/proc, collectors/statsd, collectors/debugfs, collectors/systemd-journal, area/plugins.d

#20230 Improve MSSQL (Part III)
  src/collectors/windows.plugin/metadata.yaml
  src/collectors/windows.plugin/perflib-mssql.c
Labels: area/collectors, area/metadata, collectors/windows

#20278 docs: update mssql meta
  src/collectors/windows.plugin/metadata.yaml
  src/go/qq.md
Labels: area/docs, area/collectors, collectors/go.d, area/metadata, area/go, collectors/windows

#20282 Improved StatsD documentation
  src/collectors/statsd.plugin/README.md
Labels: area/docs, area/collectors, collectors/statsd

#20277 New Windows Metrics (CPU and Memory)
  src/collectors/all.h
  src/collectors/windows.plugin/metadata.yaml
  src/collectors/windows.plugin/perflib-memory.c
  src/collectors/windows.plugin/perflib-processes.c
Labels: area/collectors, area/metadata, collectors/windows

#20280 Improve agent shutdown
  src/aclk/aclk_tx_msgs.c
  src/collectors/cgroups.plugin/sys_fs_cgroup.c
  src/collectors/statsd.plugin/statsd.c
  src/daemon/daemon-shutdown.c
  src/database/sqlite/sqlite_metadata.c
  src/exporting/exporting_engine.c
  src/health/health_event_loop.c
  src/libnetdata/threads/threads.c
  src/web/server/static/static-threaded.c
Labels: area/web, area/health, area/exporting, area/collectors, area/daemon, area/database, area/aclk, collectors/cgroups, collectors/statsd

#20293 fix(go.d): sanitize vnode labels before creating vnode
  src/go/plugin/go.d/agent/module/job.go
Labels: area/collectors, collectors/go.d, area/go

#20290 Minor code adjustments
  src/database/rrd-retention.c
  src/database/rrd-retention.h
Labels: area/database

#20288 Fix when docker socket group id points to an existing group in container
  packaging/docker/run.sh
Labels: area/packaging

#20300 Updating SOC2 compliance status
  docs/security-and-privacy-design/README.md
Labels: area/docs

#20301 fix(go.d/snmp): replace newline control chars with spaces in system info
  src/go/plugin/go.d/agent/discovery/sd/discoverer/snmpsd/sysinfo.go
Labels: area/collectors, collectors/go.d, area/go

#20302 docs: fix `<br>` in streaming
  docs/nodes-ephemerality.md
  src/streaming/README.md
Labels: area/docs, area/streaming

#20304 fix heap-use-after-free in plugins.d inflight functions
  src/database/rrdfunctions-inflight.c
  src/database/rrdfunctions.h
  src/plugins.d/pluginsd_functions.c
Labels: area/database, area/plugins.d

#20303 Improve metasync shutdown
  src/database/sqlite/sqlite_metadata.c
Labels: area/database

#20308 Improve user transition log messages
  src/daemon/daemon.c
Labels: area/daemon

#20310 docs: fix tip in streaming readme
  src/streaming/README.md
Labels: area/docs, area/streaming

#20312 plugins dyncfg is always on localhost
  src/daemon/dyncfg/dyncfg.c
  src/plugins.d/pluginsd_dyncfg.c
Labels: area/daemon, area/plugins.d

#20314 docs: fix netdata-assistant.md
  docs/netdata-assistant.md
Labels: area/docs

#20245 IIS W3SCV W3MP Metrics (windows.plugin)
  src/collectors/windows.plugin/metadata.yaml
  src/collectors/windows.plugin/perflib-web-service.c
  src/collectors/windows.plugin/windows_plugin.h
  src/go/qq.md
Labels: area/docs, area/collectors, collectors/go.d, area/metadata, area/go, collectors/windows

#20306 Reduce memory allocations in event loops
  src/aclk/aclk.c
  src/aclk/aclk_alarm_api.c
  src/aclk/aclk_contexts_api.c
  src/aclk/aclk_query.c
  src/aclk/aclk_query.h
  src/aclk/aclk_query_queue.c
  src/aclk/aclk_query_queue.h
  src/aclk/aclk_rx_msgs.c
  src/daemon/libuv_workers.c
  src/daemon/libuv_workers.h
  src/daemon/main.c
  src/database/sqlite/sqlite_aclk.c
  src/database/sqlite/sqlite_aclk.h
  src/database/sqlite/sqlite_metadata.c
Labels: area/daemon, area/database, area/aclk

#20291 Cisco yaml pass
  src/go/plugin/go.d/collector/snmp/ddsnmp/load_test.go
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/_cisco-generic.yaml
Labels: area/collectors, collectors/go.d, area/go

#20222 ci: ignore changes in src/go/otel-collector/release-config.yaml.in
  .github/workflows/build.yml
  .github/workflows/checks.yml
  .github/workflows/docker.yml
  .github/workflows/packaging.yml
Labels: area/ci

#20319 build(deps): update otel dependencies version
  src/go/otel-collector/builder-config.yaml
  src/go/otel-collector/exporter/journaldexporter/go.mod
  src/go/otel-collector/exporter/journaldexporter/go.sum
  src/go/otel-collector/exporter/netdataexporter/go.mod
  src/go/otel-collector/exporter/netdataexporter/go.sum
  src/go/otel-collector/release-config.yaml.in
Labels: area/collectors, collectors/go.d, area/go

#20317 SNMP: _generic-if.yaml pass
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/_generic-if.yaml
Labels: area/collectors, collectors/go.d, area/go

#20316 Update libbpf
  packaging/cmake/Modules/NetdataEBPFCORE.cmake
  packaging/cmake/Modules/NetdataEBPFLegacy.cmake
  packaging/cmake/Modules/NetdataLibBPF.cmake
Labels: area/packaging

#20321 _generic-tcp.yaml pass
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/_generic-tcp.yaml
Labels: area/collectors, collectors/go.d, area/go

#20324 dont init dyncfg for vnode
  src/plugins.d/pluginsd_parser.c
Labels: area/plugins.d

#20325 SOC 2 cloud doc update
  docs/security-and-privacy-design/netdata-cloud-security.md
Labels: area/docs

#20327 generic-ospf.yaml pass
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/_generic-ospf.yaml
Labels: area/collectors, collectors/go.d, area/go

#20329 Update alerting and notification documentation Agent
  docs/alerts-and-notifications/creating-alerts-with-netdata-alerts-configuration-manager.md
  docs/alerts-and-notifications/notifications/README.md
  src/health/README.md
  src/health/notifications/README.md
Labels: area/docs, area/health

#20323 Code cleanup and improvements
  src/daemon/libuv_workers.c
  src/database/sqlite/sqlite_aclk.c
  src/database/sqlite/sqlite_metadata.c
Labels: area/daemon, area/database, area/aclk

#20334 Alerts cloud
  docs/alerts-and-notifications/notifications/centralized-cloud-notifications/centralized-cloud-notifications-reference.md
  docs/alerts-and-notifications/notifications/centralized-cloud-notifications/manage-alert-notification-silencing-rules.md
  docs/alerts-and-notifications/notifications/centralized-cloud-notifications/manage-notification-methods.md
Labels: area/docs

#20331 _generic-ip.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/_generic-ip.yaml
Labels: area/collectors, collectors/go.d, area/go

#20346 fix(go.d/dyncfg): fix duplicate potential "name" in userconfig action
  src/go/plugin/go.d/agent/jobmgr/dyncfg_collector.go
Labels: area/collectors, collectors/go.d, area/go

#20348 improvement(go.d/sd): better prometheus exporters detection
  src/go/plugin/go.d/config/go.d/sd/net_listeners.conf
Labels: area/collectors, collectors/go.d, area/go

#20343 SNMP: _generic-rtp.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/_generic-rtp.yaml
Labels: area/collectors, collectors/go.d, area/go

#20349 SNMP: _generic-ucd.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/_generic-ucd.yaml
Labels: area/collectors, collectors/go.d, area/go

#20352 build(deps): update otel dependencies version
  src/go/otel-collector/builder-config.yaml
  src/go/otel-collector/exporter/journaldexporter/go.mod
  src/go/otel-collector/exporter/journaldexporter/go.sum
  src/go/otel-collector/exporter/netdataexporter/go.mod
  src/go/otel-collector/exporter/netdataexporter/go.sum
  src/go/otel-collector/release-config.yaml.in
Labels: area/collectors, collectors/go.d, area/go

#20360 chore(go.d): fix some golangcilint warning
  src/go/plugin/go.d/agent/confgroup/config.go
  src/go/plugin/go.d/agent/discovery/sd/discoverer/dockersd/docker.go
  src/go/plugin/go.d/agent/discovery/sd/discoverer/dockersd/dockerd_test.go
  src/go/plugin/go.d/agent/discovery/sd/discoverer/k8ssd/kubernetes.go
  src/go/plugin/go.d/agent/discovery/sd/discoverer/netlistensd/netlisteners.go
  src/go/plugin/go.d/agent/discovery/sd/discoverer/snmpsd/sim_test.go
  src/go/plugin/go.d/agent/discovery/sd/model/tags.go
  src/go/plugin/go.d/collector/apcupsd/collect.go
  src/go/plugin/go.d/collector/bind/collect.go
  src/go/plugin/go.d/collector/boinc/client.go
  src/go/plugin/go.d/collector/dnsquery/init.go
  src/go/plugin/go.d/collector/docker/collect.go
  src/go/plugin/go.d/collector/dockerhub/charts.go
  src/go/plugin/go.d/collector/elasticsearch/collect.go
  src/go/plugin/go.d/collector/k8s_state/discover_kubernetes.go
  src/go/plugin/go.d/collector/mysql/collector.go
  src/go/plugin/go.d/collector/postgres/collector.go
  src/go/plugin/go.d/collector/prometheus/charts.go
  src/go/plugin/go.d/collector/samba/charts.go
  src/go/plugin/go.d/collector/samba/collect.go
  src/go/plugin/go.d/collector/varnish/collect.go
Labels: area/collectors, collectors/go.d, area/go

#20361 _cisco-voice.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/_cisco-voice.yaml
Labels: area/collectors, collectors/go.d, area/go

#20351 SNMP: _generic-ups.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/_generic-ups.yaml
Labels: area/collectors, collectors/go.d, area/go

#20364 SNMP: _cisco-wlc.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/_cisco-wlc.yaml
Labels: area/collectors, collectors/go.d, area/go

#20368 chore(otel.plugin): fix building
  src/go/otel-collector/exporter/netdataexporter/convert.go
Labels: area/collectors, collectors/go.d, area/go

#20353 SNMP: _cisco-ipsec-flow-monitor.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/_cisco-ipsec-flow-monitor.yaml
Labels: area/collectors, collectors/go.d, area/go

#20367 SNMP: _fortinet-fortigate-vpn-tunnel.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/_fortinet-fortigate-vpn-tunnel.yaml
Labels: area/collectors, collectors/go.d, area/go

#20366 SNMP: _fortinet-fortigate-cpu-memory.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/_fortinet-fortigate-cpu-memory.yaml
Labels: area/collectors, collectors/go.d, area/go

#20376 chore(otel.plugin): add more receivers/exporter
  src/go/otel-collector/builder-config.yaml
  src/go/otel-collector/release-config.yaml.in
Labels: area/collectors, collectors/go.d, area/go

#20378 test(go.d/oracledb): fix test
  src/go/plugin/go.d/collector/oracledb/collector_test.go
  src/go/plugin/go.d/collector/oracledb/testdata/v21.3.0-xe/tablespace.txt
Labels: area/collectors, collectors/go.d, area/go

#20354 Improve datafile rotation and indexing
  src/database/engine/datafile.c
  src/database/engine/datafile.h
  src/database/engine/journalfile.c
  src/database/engine/rrdengine.c
  src/database/engine/rrdengine.h
Labels: area/database

#20380 Update documentation
  packaging/windows/WINDOWS_INSTALLER.md
  src/libnetdata/log/README.md
Labels: area/packaging, area/docs

#20385 SNMP: aruba-switch.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/aruba-switch.yaml
Labels: area/collectors, collectors/go.d, area/go
