Repository netdata/netdata, pull requests merged in 2025-04, with the labels that each got.

#20021 Windows installer + ML (all) improved
  docs/category-overview-pages/machine-learning-and-assisted-troubleshooting.md
  docs/metric-correlations.md
  docs/netdata-assistant.md
  packaging/windows/WINDOWS_INSTALLER.md
  src/ml/README.md
  src/ml/ml-configuration.md
Labels: area/packaging, area/docs, area/ml

#20022 Series of NFCs to make the code more maintainable.
  src/collectors/systemd-journal.plugin/systemd-internals.h
  src/collectors/systemd-journal.plugin/systemd-journal-annotations.c
  src/collectors/systemd-journal.plugin/systemd-journal-dyncfg.c
  src/collectors/systemd-journal.plugin/systemd-journal-files.c
  src/collectors/systemd-journal.plugin/systemd-journal-fstat.c
  src/collectors/systemd-journal.plugin/systemd-journal-sampling.h
  src/collectors/systemd-journal.plugin/systemd-journal-watcher.c
  src/collectors/systemd-journal.plugin/systemd-journal.c
  src/collectors/systemd-journal.plugin/systemd-main.c
  src/collectors/systemd-journal.plugin/systemd-units.c
  src/libnetdata/libjudy/judyl-typed.h
Labels: area/collectors, collectors/systemd-journal

#20026 daemon status 25
  src/daemon/status-file.c
  src/daemon/status-file.h
Labels: area/daemon

#20025 kickstart.sh: add missing option --offline-install-source to USAGE
  packaging/installer/kickstart.sh
Labels: area/packaging

#20009 More completely disable our own telemetry in CI.
  .github/scripts/docker-test.sh
  .github/scripts/pkg-test.sh
  .github/workflows/build.yml
Labels: area/ci

#20028 fix crash
  src/daemon/status-file.c
Labels: area/daemon

#20029 trim-all
  src/collectors/windows-events.plugin/windows-events-sources.c
  src/daemon/status-file.c
  src/health/health_config.c
  src/libnetdata/inlined.h
  src/libnetdata/parsers/timeframe.c
Labels: area/health, area/collectors, area/daemon

#20030 improvement(go.d): add `_hostname` label for virtual nodes
  src/go/plugin/go.d/agent/module/job.go
Labels: area/collectors, collectors/go.d, area/go

#20019 Improve estimated disk space usage for data file rotation
  src/daemon/pulse/pulse-db-dbengine-retention.c
  src/database/engine/rrdengine.c
  src/database/engine/rrdengine.h
Labels: area/daemon, area/database

#20024 Improve kickstart so it can add the netdata user/group on Synology DSM
  packaging/installer/functions.sh
  packaging/installer/netdata-uninstaller.sh
Labels: area/packaging

#20031 Check for host timer validity in ACLK synchronization
  src/database/sqlite/sqlite_aclk.c
Labels: area/database, area/aclk

#20033 chore(otel/journaldexporter): convert logs to journald format
  src/go/otel-collector/builder-config.yaml
  src/go/otel-collector/exporter/journaldexporter/config.go
  src/go/otel-collector/exporter/journaldexporter/convert.go
  src/go/otel-collector/exporter/journaldexporter/convert_test.go
  src/go/otel-collector/exporter/journaldexporter/exporter.go
  src/go/otel-collector/exporter/journaldexporter/factory.go
  src/go/otel-collector/exporter/journaldexporter/generated_component_test.go
  src/go/otel-collector/exporter/journaldexporter/go.mod
  src/go/otel-collector/exporter/journaldexporter/go.sum
  src/go/otel-collector/release-config.yaml.in
Labels: area/collectors, collectors/go.d, area/go

#20038 chore(otel/journaldexporter): add trusted journald fields
  src/go/otel-collector/exporter/journaldexporter/convert.go
  src/go/otel-collector/exporter/journaldexporter/convert_test.go
  src/go/otel-collector/exporter/journaldexporter/exporter.go
  src/go/otel-collector/exporter/journaldexporter/sys.go
Labels: area/collectors, collectors/go.d, area/go

#20037 daemon status 26 - dmi strings
  CMakeLists.txt
  src/daemon/signal-handler.c
  src/daemon/status-file-dmi.c
  src/daemon/status-file-dmi.h
  src/daemon/status-file-io.c
  src/daemon/status-file.c
  src/daemon/status-file.h
  src/database/rrdhost-system-info.c
  src/database/rrdhost-system-info.h
  src/libnetdata/inlined.h
  src/libnetdata/log/nd_log-stacktrace.c
Labels: area/daemon, area/database, area/build

#20039 Update netdata-updater-daily.in
  system/cron/netdata-updater-daily.in
Labels: area/packaging

#20034 Fix ACLK synchronization fatal on shutdown
  src/daemon/libuv_workers.c
  src/daemon/libuv_workers.h
  src/database/sqlite/sqlite_aclk.c
  src/database/sqlite/sqlite_metadata.c
Labels: area/daemon, area/database, area/aclk

#19965 Handle journal_v2 file creation failure due to OOM
  src/database/engine/cache.c
  src/database/engine/cache.h
  src/database/engine/journalfile.c
  src/database/engine/journalfile.h
Labels: area/database

#20043 trace crashes No 4
  src/database/engine/journalfile.c
Labels: area/database

#20041 daemon status 26b
  src/daemon/status-file-dmi.c
  src/daemon/status-file.c
  src/daemon/status-file.h
  src/database/rrdhost-system-info.c
Labels: area/daemon, area/database

#20044 daemon status 26c
  src/daemon/status-file-dmi.c
  src/daemon/status-file.c
Labels: area/daemon

#20046 fix(go.d/megacli): handle Adapters with no drives
  src/go/plugin/go.d/collector/megacli/collect_phys_drives.go
  src/go/plugin/go.d/collector/megacli/collector_test.go
  src/go/plugin/go.d/collector/megacli/testdata/mega-phys-drives-info-no-drives.txt
Labels: area/collectors, collectors/go.d, area/go

#20047 daemon status 26d
  src/daemon/signal-handler.c
  src/daemon/status-file.c
  src/libnetdata/log/nd_log-stacktrace.c
  src/libnetdata/log/nd_log.c
  src/libnetdata/log/nd_log.h
Labels: area/daemon

#20048 added checksum to detect corruption in netdev rename tasks
  src/collectors/proc.plugin/proc_net_dev.c
  src/collectors/proc.plugin/proc_net_dev_renames.c
  src/collectors/proc.plugin/proc_net_dev_renames.h
Labels: area/collectors, collectors/proc

#20045 Fix releasing statements after databases are closed
  src/database/sqlite/sqlite_functions.c
Labels: area/database

#20050 fix cgroup netdev renames
  src/collectors/proc.plugin/proc_net_dev.c
  src/collectors/proc.plugin/proc_net_dev_renames.c
  src/collectors/proc.plugin/proc_net_dev_renames.h
Labels: area/collectors, collectors/proc

#20053 Remove unnecessary parameters for oidc configuration
  integrations/cloud-authentication/metadata.yaml
Labels: area/metadata

#20056 nested code block in doc
  src/collectors/log2journal/README.md
Labels: area/docs, area/collectors

#20058 daemon status 27
  CMakeLists.txt
  packaging/tools/agent-events/server.go
  src/daemon/sentry-native/sentry-native.c
  src/daemon/status-file-dedup.c
  src/daemon/status-file-dmi.c
  src/daemon/status-file-dmi.h
  src/daemon/status-file-product.c
  src/daemon/status-file-product.h
  src/daemon/status-file.c
  src/daemon/status-file.h
  src/database/rrdhost-system-info.c
  src/libnetdata/inlined.h
Labels: area/packaging, area/daemon, area/database, area/build

#20052 Observability cent points improved
  docs/nodes-ephemerality.md
  docs/observability-centralization-points/README.md
  docs/observability-centralization-points/best-practices.md
  docs/observability-centralization-points/metrics-centralization-points/README.md
  src/streaming/README.md
Labels: area/docs, area/streaming

#20062 Fix memory leaks
  CMakeLists.txt
  src/collectors/debugfs.plugin/module-libsensors.c
  src/daemon/config/netdata-conf-profile.c
  src/daemon/daemon-shutdown-watcher.c
  src/daemon/daemon-shutdown.c
  src/daemon/pulse/pulse-daemon-memory.c
  src/daemon/pulse/pulse-db-dbengine.c
  src/daemon/pulse/pulse-workers.c
  src/daemon/status-file-product.c
  src/daemon/status-file.c
  src/daemon/status-file.h
  src/database/engine/cache.c
  src/database/engine/datafile.c
  src/database/engine/datafile.h
  src/database/engine/dbengine-unittest.c
  src/database/engine/pdc.c
  src/database/engine/pdc.h
  src/database/engine/rrdengine.c
  src/database/engine/rrdengineapi.c
  src/database/engine/rrdengineapi.h
  src/database/pattern-array.c
  src/database/pattern-array.h
  src/database/rrd.h
  src/database/rrdlabels.c
  src/database/rrdlabels.h
  src/database/sqlite/sqlite_health.c
  src/health/health-alert-entry.h
  src/health/health-alert-log.h
  src/health/health.c
  src/health/health.h
  src/health/health_log.c
  src/health/health_notifications.c
  src/health/health_prototypes.c
  src/health/rrdcalc.c
  src/libnetdata/aral/aral.c
Labels: area/health, area/collectors, area/daemon, area/database, area/build, collectors/debugfs

#20063 Improve agent-events web server
  .gitignore
  packaging/tools/agent-events/.gitignore
  packaging/tools/agent-events/run.sh
  packaging/tools/agent-events/server.go
  packaging/tools/agent-events/server_test.go
Labels: area/packaging

#20064 agent-events: fix metric names
  packaging/tools/agent-events/run.sh
  packaging/tools/agent-events/server.go
  packaging/tools/agent-events/server_test.go
Labels: area/packaging

#20065 agent-events: fix metrics
  packaging/tools/agent-events/server.go
  packaging/tools/agent-events/server_test.go
Labels: area/packaging

#20066 ci: remove codeql-action build-mode none
  .github/workflows/codeql.yml
Labels: area/ci

#20067 agent-events: Consolidate metrics into a single labeled counter
  packaging/tools/agent-events/server.go
  packaging/tools/agent-events/server_test.go
Labels: area/packaging

#20068 agent-events: fix more metrics
  packaging/tools/agent-events/server.go
  packaging/tools/agent-events/server_test.go
Labels: area/packaging

#20069 fix(go.d/prometheus): don't use "ratio" as unit
  src/go/plugin/go.d/collector/prometheus/charts.go
Labels: area/collectors, collectors/go.d, area/go

#20073 Update nodes-ephemerality.md
  docs/nodes-ephemerality.md
Labels: area/docs

#20074 agent events No 7
  packaging/tools/agent-events/run.sh
  packaging/tools/agent-events/server.go
  packaging/tools/agent-events/server_test.go
Labels: area/packaging

#20057 Improve ephemerality docs, adding `remove-stale-node`
  docs/nodes-ephemerality.md
  src/cli/README.md
Labels: area/docs

#19734 Add Docker tags for the last few nightly builds.
  .github/scripts/gen-docker-tags.py
  .github/scripts/rotate-docker-tags.sh
  .github/workflows/docker.yml
Labels: area/ci

#19995 Improve jv2 load
  src/database/engine/rrdengine.c
  src/database/engine/rrdengineapi.c
Labels: area/database

#20078 Cleanup during shutdown
  src/database/engine/rrdengine.c
Labels: area/database

#20080 Fix crash during shutdown when there are pending messages to cloud
  src/aclk/aclk.c
  src/aclk/aclk_query.h
  src/database/sqlite/sqlite_aclk.c
  src/database/sqlite/sqlite_aclk.h
Labels: area/database, area/aclk

#20079 Do not try to index jv2 files during shutdown
  src/database/engine/rrdengine.c
Labels: area/database

#20076 daemon status 27b
  CMakeLists.txt
  packaging/tools/agent-events/server.go
  packaging/tools/agent-events/server_test.go
  src/daemon/status-file-dmi.c
  src/daemon/status-file-dmi.h
  src/daemon/status-file-product.c
  src/daemon/status-file.c
  src/daemon/status-file.h
  src/database/contexts/api_v2_contexts_agents.c
  src/database/rrd-metadata.c
  src/database/rrd-metadata.h
  src/database/rrd.h
  src/libnetdata/inlined.h
  src/libnetdata/memory/nd-mallocz.c
  src/libnetdata/memory/nd-mallocz.h
  src/libnetdata/os/dir_size.c
  src/libnetdata/os/dir_size.h
  src/libnetdata/os/machine_id.c
  src/libnetdata/os/os.h
  src/libnetdata/os/process_memory.c
  src/libnetdata/os/process_memory.h
Labels: area/packaging, area/daemon, area/database, area/build

#20077 ACLK synchronization improvements
  src/aclk/aclk.c
  src/aclk/aclk.h
  src/database/rrdhost.h
  src/database/sqlite/sqlite_aclk.c
  src/database/sqlite/sqlite_aclk.h
  src/database/sqlite/sqlite_aclk_alert.c
  src/database/sqlite/sqlite_aclk_node.c
  src/database/sqlite/sqlite_health.c
  src/database/sqlite/sqlite_metadata.c
  src/health/health_event_loop.c
  src/plugins.d/pluginsd_parser.c
Labels: area/health, area/database, area/aclk, area/plugins.d

#20060 Address Chart name (Windows Hyper V)
  src/collectors/windows.plugin/perflib-hyperv.c
Labels: area/collectors, collectors/windows

#20084 Fix memory allocation for timer callback data when cancelling a timer
  src/database/sqlite/sqlite_aclk.c
Labels: area/database, area/aclk

#20055 Skip non-native builds in CI on PRs in most cases.
  .github/scripts/gen-matrix-docker.py
  .github/scripts/gen-matrix-static.py
  .github/workflows/build.yml
  .github/workflows/docker.yml
Labels: area/ci

#20085 Alerts and Notifications
  docs/alerts-and-notifications/creating-alerts-with-netdata-alerts-configuration-manager.md
  docs/alerts-and-notifications/notifications/README.md
  src/health/README.md
  src/health/notifications/README.md
Labels: area/docs, area/health

#20089 Fix typo in .github/scripts/gen-docker-tags.py
  .github/scripts/gen-docker-tags.py
Labels: area/ci

#19990 Windows Services Monitoring
  CMakeLists.txt
  src/collectors/windows.plugin/README.md
  src/collectors/windows.plugin/metadata.yaml
  src/collectors/windows.plugin/perflib-services.c
  src/collectors/windows.plugin/windows_plugin.c
  src/collectors/windows.plugin/windows_plugin.h
Labels: area/docs, area/collectors, area/build, area/metadata, collectors/windows

#20088 daemon status 27c
  src/daemon/status-file.c
  src/libnetdata/log/nd_log-stacktrace.c
  src/libnetdata/worker_utilization/worker_utilization.c
Labels: area/daemon, area/aclk

#20092 protected access against SIGBUS/SIGSEGV for journal v2 files
  CMakeLists.txt
  src/daemon/protected-access.c
  src/daemon/protected-access.h
  src/daemon/signal-handler.c
  src/database/engine/journalfile.c
  src/database/engine/pagecache.c
  src/database/engine/rrdengine.h
  src/libnetdata/log/nd_log.c
Labels: area/daemon, area/database, area/build

#20075 Document switching from a native package to a static build
  docs/netdata-agent/versions-and-platforms.md
Labels: area/docs

#20020 SNMP Collector, use custom YAML files for auto single metrics
  src/go/go.mod
  src/go/plugin/go.d/collector/snmp/charts.go
  src/go/plugin/go.d/collector/snmp/collect.go
  src/go/plugin/go.d/collector/snmp/collector.go
  src/go/plugin/go.d/collector/snmp/collector_test.go
  src/go/plugin/go.d/collector/snmp/helpers.go
  src/go/plugin/go.d/collector/snmp/parsing.go
  src/go/plugin/go.d/collector/snmp/profile.go
  src/go/plugin/go.d/collector/snmp/types.go
Labels: area/collectors, collectors/go.d, area/go

#20096 daemon status 27d
  src/daemon/status-file.c
Labels: area/daemon

#20095 Fix ACLK Backoff Timeout Logic
  src/aclk/aclk_util.c
  src/aclk/aclk_util.h
Labels: area/aclk

#20094 Release memory after journalfile creation
  src/database/engine/journalfile.c
  src/streaming/stream-replication-sender.c
Labels: area/database, area/streaming

#20093 Protection access improvements 1
  src/daemon/protected-access.c
  src/daemon/protected-access.h
  src/database/engine/journalfile.c
  src/database/engine/pagecache.c
Labels: area/daemon, area/database

#20101 add the number of cpu cores to the status file
  src/daemon/status-file.c
  src/daemon/status-file.h
Labels: area/daemon

#20097 Fix Windows registry name crashes
  src/collectors/windows.plugin/windows_plugin.c
  src/daemon/main.c
  src/daemon/unit_test.h
  src/libnetdata/os/windows-perflib/perflib-names.c
  src/libnetdata/os/windows-perflib/perflib.h
Labels: area/collectors, area/daemon, area/tests, collectors/windows

#20098 Improve journal file access error logging protect retention recalculation
  src/daemon/protected-access.h
  src/database/engine/pagecache.c
  src/database/engine/rrdengine.c
Labels: area/daemon, area/database

#20104 daemon status 27f
  src/daemon/daemon-shutdown-watcher.c
  src/daemon/daemon-shutdown.c
  src/daemon/status-file.c
  src/daemon/status-file.h
  src/libnetdata/log/nd_log-stacktrace.c
  src/libnetdata/log/nd_log.h
Labels: area/daemon

#20105 Further improve ACLK synchronization shutdown
  src/database/sqlite/sqlite_aclk.c
Labels: area/database, area/aclk

#20110 docs: clarify static build transition process for EOL platforms
  docs/netdata-agent/versions-and-platforms.md
Labels: area/docs

#20111 Fix completion marking in ACLK cancel node update timer logic
  src/database/sqlite/sqlite_aclk.c
Labels: area/database, area/aclk

#20113 netdatacli remove/mark stale, swap order in help output
  src/daemon/commands.c
Labels: area/daemon

#20116 fix memory leaks
  src/claim/claim-with-api.c
  src/collectors/cgroups.plugin/cgroup-discovery.c
  src/collectors/cgroups.plugin/cgroup-internals.h
  src/collectors/cgroups.plugin/sys_fs_cgroup.c
  src/collectors/proc.plugin/ipc.c
  src/collectors/proc.plugin/plugin_proc.c
  src/collectors/proc.plugin/plugin_proc.h
  src/collectors/proc.plugin/proc_loadavg.c
  src/collectors/proc.plugin/proc_net_dev.c
  src/collectors/proc.plugin/proc_net_netstat.c
  src/collectors/proc.plugin/proc_net_sockstat.c
  src/collectors/proc.plugin/proc_net_stat_conntrack.c
  src/collectors/proc.plugin/proc_stat.c
  src/collectors/proc.plugin/sys_class_infiniband.c
  src/daemon/daemon-shutdown.c
  src/daemon/main.c
  src/exporting/exporting_engine.h
  src/exporting/read_config.c
  src/libnetdata/inicfg/inicfg.h
  src/libnetdata/inicfg/inicfg_cleanup.c
  src/libnetdata/libjudy/judy-malloc.c
  src/libnetdata/worker_utilization/worker_utilization.c
  src/libnetdata/worker_utilization/worker_utilization.h
  src/streaming/stream-conf.c
  src/streaming/stream-conf.h
Labels: area/exporting, area/collectors, area/daemon, area/streaming, area/claim, collectors/cgroups, collectors/proc

#20117 feat(system-info): improve Windows OS detection and categorization
  src/daemon/win_system-info.c
  src/daemon/win_system-info.h
  src/libnetdata/os/os-windows-wrappers.h
Labels: area/daemon

#19918 Dump Netdata buildinfo during CI.
  .github/scripts/docker-test.sh
  .github/scripts/pkg-test.sh
  .github/workflows/build.yml
  packaging/makeself/jobs/89-buildinfo.install.sh
  packaging/windows/compile-on-windows.sh
Labels: area/ci, area/packaging

#20121 chore(otel/journaldexporter): add socket/remote clients
  src/go/otel-collector/exporter/journaldexporter/config.go
  src/go/otel-collector/exporter/journaldexporter/convert.go
  src/go/otel-collector/exporter/journaldexporter/convert_test.go
  src/go/otel-collector/exporter/journaldexporter/exporter.go
  src/go/otel-collector/exporter/journaldexporter/factory.go
  src/go/otel-collector/exporter/journaldexporter/journal_remote.go
  src/go/otel-collector/exporter/journaldexporter/journal_remote_test.go
  src/go/otel-collector/exporter/journaldexporter/journal_socket.go
Labels: area/collectors, collectors/go.d, area/go

#20100 SNMP, Custom descriptions and units
  REDISTRIBUTED.md
  src/go/go.mod
  src/go/go.sum
  src/go/plugin/go.d/collector/snmp/charts.go
  src/go/plugin/go.d/collector/snmp/collect.go
  src/go/plugin/go.d/collector/snmp/collect_sys_info.go
  src/go/plugin/go.d/collector/snmp/command_func.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/LICENSE.md
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/README.md
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/bundle.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/clone.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/clone_test.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/doc.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/listmap.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/listmap_test.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/metadata.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/metadata_test.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/metrics.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/metrics_test.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/normalize_cmd/cmd/root.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/normalize_cmd/main.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/profile_definition.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/doc.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/generate.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/generate_test.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/profile_rc_schema.json
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/profile_rc_schema_test.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/schema.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/testcases/invalid_deprtd_forced_t.json
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/testcases/invalid_deprtd_forced_t_exp.json
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/testcases/invalid_deprtd_oid_name.json
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/testcases/invalid_deprtd_oid_name_exp.json
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/testcases/invalid_empty_profile.json
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/testcases/invalid_empty_profile_exp.json
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/testcases/invalid_mult_errors.json
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/testcases/invalid_mult_errors_exp.json
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/testcases/invalid_symbol_field.json
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/testcases/invalid_symbol_field_exp.json
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/testcases/invalid_unknown_field.json
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/testcases/invalid_unknown_field_exp.json
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/testcases/valid_device_vendor.json
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/testcases/valid_device_vendor_exp.json
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/testcases/valid_empty_profile.json
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/testcases/valid_empty_profile_exp.json
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/testcases/valid_metric_tag_mapping.json
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/testcases/valid_metric_tag_mapping_exp.json
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/testcases/valid_profile_apc_ups.json
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/testcases/valid_profile_apc_ups_exp.json
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema_cmd/main.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/splitoids.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/splitoids_test.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/validation.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/validation_test.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/yaml_utils.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/yaml_utils_test.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/profile.go
  src/go/plugin/go.d/collector/snmp/parsing.go
  src/go/plugin/go.d/collector/snmp/profile.go
  src/go/plugin/go.d/collector/snmp/types.go
Labels: area/docs, area/collectors, collectors/go.d, area/go

#20120 fix cleanup and exit and memory leaks
  src/collectors/diskspace.plugin/plugin_diskspace.c
  src/collectors/proc.plugin/plugin_proc.c
  src/collectors/proc.plugin/plugin_proc.h
  src/collectors/proc.plugin/sys_devices_pci_aer.c
  src/collectors/statsd.plugin/statsd.c
  src/daemon/daemon-shutdown.c
  src/daemon/dyncfg/dyncfg-inline.c
  src/daemon/dyncfg/dyncfg.c
  src/daemon/dyncfg/dyncfg.h
  src/database/pattern-array.c
  src/database/pattern-array.h
  src/database/rrdhost.c
  src/health/health_prototypes.c
  src/health/rrdcalc.c
  src/health/rrdcalc.h
  src/plugins.d/plugins_d.c
  src/plugins.d/plugins_d.h
  src/plugins.d/pluginsd_parser.c
Labels: area/health, area/collectors, area/daemon, area/database, collectors/diskspace, collectors/proc, collectors/statsd, area/plugins.d

#20106 Work to find leaks easily
  CMakeLists.txt
  packaging/makeself/jobs/70-netdata-git.install.sh
  packaging/utils/compile-and-run-windows.sh
  src/collectors/cgroups.plugin/cgroup-internals.h
  src/collectors/cgroups.plugin/cgroup-top.c
  src/collectors/cgroups.plugin/sys_fs_cgroup.c
  src/collectors/proc.plugin/proc_net_dev_renames.c
  src/collectors/proc.plugin/proc_net_dev_renames.h
  src/daemon/buildinfo.c
  src/daemon/daemon-shutdown.c
  src/daemon/daemon.c
  src/daemon/main.c
  src/daemon/signal-handler.c
  src/daemon/status-file.c
  src/daemon/unit_test.h
  src/database/contexts/api_v2_contexts_alerts.c
  src/exporting/init_connectors.c
  src/exporting/send_data.c
  src/health/health.c
  src/health/health.h
  src/health/health_variable.c
  src/libnetdata/dictionary/dictionary-callbacks.h
  src/libnetdata/dictionary/dictionary-debug.c
  src/libnetdata/dictionary/dictionary-debug.h
  src/libnetdata/dictionary/dictionary-internals.h
  src/libnetdata/dictionary/dictionary-item.h
  src/libnetdata/dictionary/dictionary-refcount.h
  src/libnetdata/dictionary/dictionary-statistics.h
  src/libnetdata/dictionary/dictionary-unittest.c
  src/libnetdata/dictionary/dictionary.c
  src/libnetdata/dictionary/dictionary.h
  src/libnetdata/libjudy/judy-malloc.c
  src/libnetdata/libnetdata.h
  src/libnetdata/log/nd_log-init.c
  src/libnetdata/log/nd_log-internals.h
  src/libnetdata/log/nd_log-stacktrace.c
  src/libnetdata/log/nd_log.c
  src/libnetdata/log/nd_log.h
  src/libnetdata/stacktrace/stacktrace-array.c
  src/libnetdata/stacktrace/stacktrace-array.h
  src/libnetdata/stacktrace/stacktrace-backtrace.c
  src/libnetdata/stacktrace/stacktrace-common.c
  src/libnetdata/stacktrace/stacktrace-common.h
  src/libnetdata/stacktrace/stacktrace-libbacktrace.c
  src/libnetdata/stacktrace/stacktrace-libunwind.c
  src/libnetdata/stacktrace/stacktrace-log.c
  src/libnetdata/stacktrace/stacktrace-none.c
  src/libnetdata/stacktrace/stacktrace-unittest.c
  src/libnetdata/stacktrace/stacktrace.h
  src/libnetdata/string/string.c
  src/libnetdata/worker_utilization/worker_utilization.c
  src/streaming/stream-conf.c
  src/web/api/http_auth.c
Labels: area/packaging, area/web, area/health, area/exporting, area/collectors, area/daemon, area/database, area/streaming, area/tests, area/build, collectors/cgroups, collectors/proc

#20128 Handle corrupted journal data when populating the MRG during startup.
  src/database/engine/journalfile.c
Labels: area/database

#20130 Make sure pattern array items are added and evaluated in order
  src/database/pattern-array.c
  src/database/pattern-array.h
Labels: area/database

#20131 Fix Locks (Windows Locks)
  src/collectors/windows.plugin/perflib-mssql.c
Labels: area/collectors, collectors/windows

#20122 Installation-Static Build-Windows
  packaging/installer/UPDATE.md
  packaging/installer/methods/ansible.md
  packaging/installer/methods/freebsd.md
  packaging/installer/methods/kickstart.md
  packaging/installer/methods/manual.md
  packaging/installer/methods/offline.md
  packaging/installer/methods/packages.md
  packaging/makeself/README.md
  packaging/windows/WINDOWS_INSTALLER.md
Labels: area/packaging, area/docs

#20126 Expression evaluator in re2c/lemon
  CMakeLists.txt
  src/daemon/main.c
  src/libnetdata/eval/README.md
  src/libnetdata/eval/eval-evaluate.c
  src/libnetdata/eval/eval-internal.h
  src/libnetdata/eval/eval-parser-legacy.c
  src/libnetdata/eval/eval-unittest.c
  src/libnetdata/eval/eval-utils.c
  src/libnetdata/eval/eval.c
  src/libnetdata/eval/re2c_lemon/Makefile
  src/libnetdata/eval/re2c_lemon/README.md
  src/libnetdata/eval/re2c_lemon/lempar.c
  src/libnetdata/eval/re2c_lemon/lexer.c
  src/libnetdata/eval/re2c_lemon/lexer.re
  src/libnetdata/eval/re2c_lemon/parser.c
  src/libnetdata/eval/re2c_lemon/parser.h
  src/libnetdata/eval/re2c_lemon/parser.out
  src/libnetdata/eval/re2c_lemon/parser.y
  src/libnetdata/eval/re2c_lemon/parser_internal.h
  src/libnetdata/eval/re2c_lemon/parser_wrapper.c
Labels: area/docs, area/daemon, area/build

#20136 Install fix admonition docs
  packaging/installer/methods/ansible.md
  packaging/installer/methods/freebsd.md
  packaging/installer/methods/offline.md
  packaging/installer/methods/packages.md
  packaging/makeself/README.md
  packaging/windows/WINDOWS_INSTALLER.md
Labels: area/packaging, area/docs

#20112 Improve error handling and logging for journal and data files
  src/database/engine/datafile.c
  src/database/engine/journalfile.c
  src/database/engine/journalfile.h
  src/database/engine/rrdengine.c
  src/database/engine/rrdengine.h
Labels: area/database

#20032 Fix MSSQL and improvements
  CMakeLists.txt
  src/collectors/windows.plugin/README.md
  src/collectors/windows.plugin/perflib-mssql.c
Labels: area/docs, area/collectors, area/build, collectors/windows

#20143 chore(otel/journaldexporter): improve remote tests
  src/go/otel-collector/builder-config.yaml
  src/go/otel-collector/exporter/journaldexporter/go.mod
  src/go/otel-collector/exporter/journaldexporter/go.sum
  src/go/otel-collector/exporter/journaldexporter/journal_remote_test.go
  src/go/otel-collector/release-config.yaml.in
Labels: area/collectors, collectors/go.d, area/go

#20144 docs: cleanup language and fix minor grammar issues
  README.md
Labels: area/docs

#20157 chore(go.d/apcupsd): log UPS response in debug mode
  src/go/plugin/go.d/collector/apcupsd/collect.go
Labels: area/collectors, collectors/go.d, area/go

#20155 improvement(cgroups): filter systemd-nspawn payload by default
  src/collectors/cgroups.plugin/sys_fs_cgroup.c
Labels: area/collectors, collectors/cgroups

#20154 Fix compilation with DBENGINE disabled
  src/daemon/main.c
  src/daemon/status-file.c
  src/database/rrddim-backfill.c
  src/database/sqlite/sqlite_metadata.c
Labels: area/daemon, area/database

#20161 fix(dyncfg/health): correct db lookup absolute option name
  src/health/schema.d/health%3Aalert%3Aprototype.json
Labels: area/health

#20164 chore(go.d/snmp): remove unused ddsnmp
  src/go/go.mod
  src/go/go.sum
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/normalize_cmd/cmd/root.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/normalize_cmd/main.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/doc.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/generate.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/generate_test.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/profile_rc_schema.json
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/profile_rc_schema_test.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/schema.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/testcases/invalid_deprtd_forced_t.json
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/testcases/invalid_deprtd_forced_t_exp.json
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/testcases/invalid_deprtd_oid_name.json
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/testcases/invalid_deprtd_oid_name_exp.json
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/testcases/invalid_empty_profile.json
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/testcases/invalid_empty_profile_exp.json
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/testcases/invalid_mult_errors.json
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/testcases/invalid_mult_errors_exp.json
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/testcases/invalid_symbol_field.json
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/testcases/invalid_symbol_field_exp.json
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/testcases/invalid_unknown_field.json
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/testcases/invalid_unknown_field_exp.json
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/testcases/valid_device_vendor.json
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/testcases/valid_device_vendor_exp.json
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/testcases/valid_empty_profile.json
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/testcases/valid_empty_profile_exp.json
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/testcases/valid_metric_tag_mapping.json
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/testcases/valid_metric_tag_mapping_exp.json
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/testcases/valid_profile_apc_ups.json
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema/testcases/valid_profile_apc_ups_exp.json
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/schema_cmd/main.go
Labels: area/collectors, collectors/go.d, area/go

#20165 docs: update macOS/freeBSD versions in Versions & Platforms
  docs/netdata-agent/versions-and-platforms.md
Labels: area/docs

#20162 Dashboards and charts
  docs/dashboards-and-charts/README.md
  docs/dashboards-and-charts/alerts-tab.md
  docs/dashboards-and-charts/anomaly-advisor-tab.md
  docs/dashboards-and-charts/dashboards-tab.md
  docs/dashboards-and-charts/events-feed.md
  docs/dashboards-and-charts/home-tab.md
  docs/dashboards-and-charts/metrics-tab-and-single-node-tabs.md
  docs/dashboards-and-charts/netdata-charts.md
  docs/dashboards-and-charts/nodes-tab.md
  docs/dashboards-and-charts/top-tab.md
Labels: area/docs

#20119 Update platforms for CI and package builds.
  .github/data/distros.yml
  packaging/installer/install-required-packages.sh
Labels: area/ci, area/packaging

#20167 Update kickstart.md
  packaging/installer/methods/kickstart.md
Labels: area/packaging, area/docs

#20168 improvement(cgroups): improve systemd-nspawn filter for default
  src/collectors/cgroups.plugin/sys_fs_cgroup.c
Labels: area/collectors, collectors/cgroups

#20169 fix integrations config file sample
  integrations/templates/setup.md
Labels: area/docs, area/metadata

#20171 chore(otel/netdataexporter): add exporter module skeleton
  src/go/otel-collector/builder-config.yaml
  src/go/otel-collector/exporter/netdataexporter/config.go
  src/go/otel-collector/exporter/netdataexporter/doc.go
  src/go/otel-collector/exporter/netdataexporter/exporter.go
  src/go/otel-collector/exporter/netdataexporter/factory.go
  src/go/otel-collector/exporter/netdataexporter/generated_component_test.go
  src/go/otel-collector/exporter/netdataexporter/generated_package_test.go
  src/go/otel-collector/exporter/netdataexporter/go.mod
  src/go/otel-collector/exporter/netdataexporter/go.sum
  src/go/otel-collector/exporter/netdataexporter/internal/metadata/generated_status.go
  src/go/otel-collector/exporter/netdataexporter/metadata.yaml
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#20176 build(deps): update go toolchain to v1.24.2
  .github/workflows/build.yml
  netdata.spec.in
  packaging/check-for-go-toolchain.sh
  src/go/otel-collector/exporter/netdataexporter/go.mod
  src/go/otel-collector/exporter/netdataexporter/go.sum
Labels: area/ci, area/packaging, area/collectors, collectors/go.d, area/go

#20159 Fix memory leaks and service thread corruption
  CMakeLists.txt
  src/aclk/schema-wrappers/context.cc
  src/aclk/schema-wrappers/rrdcontext-context.h
  src/aclk/schema-wrappers/schema_wrappers.h
  src/collectors/cgroups.plugin/cgroup-charts.c
  src/collectors/proc.plugin/proc_mdstat.c
  src/collectors/statsd.plugin/statsd.c
  src/daemon/service.c
  src/database/contexts/api_v1_contexts.c
  src/database/contexts/api_v2_contexts.h
  src/database/contexts/api_v2_contexts_alerts.h
  src/database/contexts/query_scope.c
  src/database/contexts/query_target.c
  src/database/contexts/rrdcontext-context.c
  src/database/contexts/rrdcontext-instance.c
  src/database/contexts/rrdcontext-internal.h
  src/database/contexts/rrdcontext-loading.c
  src/database/contexts/rrdcontext-metric.c
  src/database/contexts/rrdcontext-queues.c
  src/database/contexts/rrdcontext-worker.c
  src/database/contexts/rrdcontext.c
  src/database/contexts/rrdcontext.h
  src/database/rrddim.c
  src/database/rrddim.h
  src/database/rrdhost.h
  src/database/rrdset-collection.c
  src/database/rrdset-index-id.c
  src/database/rrdset.h
  src/database/sqlite/sqlite_aclk_node.c
  src/database/sqlite/sqlite_context.c
  src/health/health_event_loop.c
  src/libnetdata/dictionary/dictionary-debug.c
  src/libnetdata/dictionary/dictionary-internals.h
  src/libnetdata/dictionary/dictionary-traversal.c
  src/libnetdata/dictionary/dictionary-unittest.c
  src/libnetdata/dictionary/dictionary.c
  src/libnetdata/dictionary/dictionary.h
  src/libnetdata/libjudy/judyl-typed.h
  src/libnetdata/stacktrace/stacktrace-array.h
  src/ml/ml.cc
  src/plugins.d/pluginsd_parser.c
  src/plugins.d/pluginsd_replication.c
  src/streaming/stream-receiver-connection.c
  src/streaming/stream-receiver.c
  src/web/api/functions/function-metrics-cardinality.c
Labels: area/web, area/health, area/collectors, area/daemon, area/database, area/streaming, area/aclk, area/ml, area/build, collectors/cgroups, collectors/proc, collectors/statsd, area/plugins.d

#20158 Fix labels memory accounting
  src/database/rrdlabels.c
Labels: area/database

#20179 bump go mod 1.24.0
  src/go/go.mod
  src/go/otel-collector/exporter/journaldexporter/go.mod
  src/go/otel-collector/exporter/netdataexporter/go.mod
Labels: area/collectors, collectors/go.d, run-ci/packaging, area/go

#20178 Retry nightly changelog generation.
  .github/workflows/release.yml
Labels: area/ci

#20181 improve pgc fatal errors
  src/database/engine/cache.c
  src/libnetdata/threads/threads.c
Labels: area/database

#20180 Group anomaly rate per chart context instead of type.
  src/collectors/all.h
  src/ml/ad_charts.cc
  src/ml/ml.cc
  src/ml/ml_host.h
  src/ml/ml_public.cc
Labels: area/collectors, area/ml

#20145 Some fixes for macOS < 11
  src/collectors/apps.plugin/apps_os_macos.c
  src/collectors/apps.plugin/apps_plugin.h
  src/collectors/timex.plugin/plugin_timex.c
  src/daemon/static_threads_macos.c
  src/database/rrddim.h
  src/libnetdata/buffer/buffer.h
  src/libnetdata/os/adjtimex.c
  src/libnetdata/os/adjtimex.h
  src/libnetdata/os/uuid_generate.c
  src/ml/ml_kmeans.cc
Labels: area/collectors, area/daemon, area/database, area/ml, collectors/apps, collectors/timex

#20186 Fix repeating alert crash
  src/health/health_notifications.c
Labels: area/health

#20187 added dyncfg docs
  docs/developer-and-contributor-corner/dyncfg.md
  src/daemon/dyncfg/README.md
  src/plugins.d/DYNCFG.md
Labels: area/docs, area/daemon, area/plugins.d

#20190 ignore maintenance signals on exit
  src/daemon/signal-handler.c
Labels: area/daemon

#20192 limit the max number of threads based on memory too
  src/daemon/config/netdata-conf-global.c
  src/daemon/config/netdata-conf-global.h
  src/daemon/main.c
Labels: area/daemon

#20191 Exporting exit fix
  src/exporting/exporting_engine.c
  src/exporting/init_connectors.c
Labels: area/exporting

#20195 cleanup ML cached pointers on child disconnection
  src/daemon/service.c
  src/ml/ad_charts.cc
  src/ml/ml-dummy.c
  src/ml/ml_host.h
  src/ml/ml_public.cc
  src/ml/ml_public.h
Labels: area/daemon, area/ml

#20196 rrdset/rrddim find function do not return obsolete metadata
  src/database/rrddim.c
  src/database/rrdset-index-id.c
  src/database/rrdset-index-name.c
Labels: area/database

#20184 Improve systemd journal logs documentation
  src/collectors/systemd-journal.plugin/README.md
Labels: area/docs, area/collectors, collectors/systemd-journal

#20200 rrd metadata needs to be discoverable while replication is running
  src/database/rrddim.c
  src/database/rrdset-index-id.c
  src/database/rrdset-index-name.c
  src/database/rrdset.h
Labels: area/database

#20182 Reorganize code (IIS)
  src/collectors/windows.plugin/perflib-web-service.c
Labels: area/collectors, collectors/windows

#20201 Add a default busy timeout
  src/database/sqlite/sqlite_functions.c
  src/database/sqlite/sqlite_functions.h
  src/database/sqlite/sqlite_metadata.c
Labels: area/database

#20203 rrd metadata search fix
  src/collectors/proc.plugin/proc_loadavg.c
  src/daemon/pulse/pulse-workers.c
  src/database/rrddim.c
  src/database/rrddim.h
  src/database/rrdset-index-id.c
  src/database/rrdset-index-id.h
  src/health/health_variable.c
  src/ml/ml_dimension.h
  src/plugins.d/pluginsd_internals.h
  src/streaming/stream-replication-sender.c
  src/streaming/stream-sender-execute.c
  src/web/api/queries/backfill.c
  src/web/api/v1/api_v1_alarms.c
  src/web/api/v1/api_v1_badge/web_buffer_svg.c
  src/web/api/v1/api_v1_charts.c
  src/web/api/v1/api_v1_data.c
  src/web/server/web_client.c
Labels: area/web, area/health, area/collectors, area/daemon, area/database, area/streaming, area/ml, collectors/proc, area/plugins.d

#20205 remove the status file spinlock to avoid deadlocks
  src/daemon/status-file.c
  src/daemon/status-file.h
Labels: area/daemon

#20206 call spinlock_init() when initializing rrdlabels spinlock
  src/database/rrdlabels.c
Labels: area/database

#20207 added more annotations in spinlock deadlock detection
  src/libnetdata/dictionary/dictionary.c
  src/libnetdata/locks/rw-spinlock.c
  src/libnetdata/locks/spinlock.c
  src/libnetdata/locks/spinlock.h
  src/libnetdata/locks/waitq.c
  src/libnetdata/log/nd_log.c
  src/streaming/stream-circular-buffer.h
Labels: area/streaming

#20204 Avoid indexing journal files when db rotation is running
  src/database/engine/rrdengine.c
Labels: area/database

#20202 Use one spinlock to access v2 and mmap related data
  src/database/engine/journalfile.c
  src/database/engine/journalfile.h
Labels: area/database

#20210 fix hardcoding of eval variables
  CMakeLists.txt
  src/libnetdata/eval/eval-unittest-hardcoding.c
  src/libnetdata/eval/eval-unittest.c
  src/libnetdata/eval/eval-utils.c
Labels: area/build

#20209 Small fixes
  src/web/api/http_auth.c
  src/web/api/queries/weights.c
Labels: area/web

#20213 Improve health log cleanup
  src/health/health_log.c
Labels: area/health

#20212 use nd threads in exporting
  src/exporting/aws_kinesis/aws_kinesis.c
  src/exporting/aws_kinesis/aws_kinesis.h
  src/exporting/exporting_engine.c
  src/exporting/exporting_engine.h
  src/exporting/init_connectors.c
  src/exporting/mongodb/mongodb.c
  src/exporting/mongodb/mongodb.h
  src/exporting/process_data.c
  src/exporting/pubsub/pubsub.c
  src/exporting/pubsub/pubsub.h
  src/exporting/send_data.c
Labels: area/exporting
