Repository netdata/netdata, pull requests merged in 2025-08, with the labels that each got.

#20743 streaming routing documentation
  .gitignore
  docs/streaming-routing.md
Labels: area/docs

#20747 Record proxy information when establishing ACLK
  src/aclk/aclk.c
  src/aclk/aclk_otp.c
  src/aclk/aclk_proxy.c
  src/aclk/aclk_proxy.h
  src/aclk/aclk_util.c
  src/aclk/aclk_util.h
  src/aclk/https_client.c
  src/aclk/https_client.h
  src/aclk/mqtt_websockets/mqtt_ng.c
  src/aclk/mqtt_websockets/mqtt_wss_client.c
  src/aclk/mqtt_websockets/mqtt_wss_client.h
  src/daemon/commands.c
Labels: area/daemon, area/aclk

#20755 chore(go.d/snmp): add _clean_hostname host label
  src/go/plugin/go.d/collector/snmp/collect.go
Labels: area/collectors, collectors/go.d, area/go

#20756 chore(go.d/snmp): update hostname to not include IP
  src/go/plugin/go.d/collector/snmp/collect.go
Labels: area/collectors, collectors/go.d, area/go

#20752 Improve Disk Usage Measure (Windows.plugin)
  src/collectors/windows.plugin/perflib-storage.c
Labels: area/collectors, collectors/windows

#20757 chore(go.d/snmp): update org to vendor mapping
  src/go/plugin/go.d/collector/snmp/collect.go
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/cradlepoint.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/sinetica-eagle-i.yaml
Labels: area/collectors, collectors/go.d, area/go

#20761 fix(go.d): validate custom binary path
  src/go/plugin/go.d/collector/ap/init.go
  src/go/plugin/go.d/collector/nvidia_smi/init.go
  src/go/plugin/go.d/collector/postfix/init.go
  src/go/plugin/go.d/collector/zfspool/init.go
  src/go/plugin/go.d/pkg/pathvalidate/validate_stub.go
  src/go/plugin/go.d/pkg/pathvalidate/validate_unix.go
Labels: area/collectors, collectors/go.d, area/go

#20766 Fix packet timeout handling
  src/aclk/mqtt_websockets/mqtt_ng.c
Labels: area/aclk

#20767 Add default iface info to host labels
  src/database/rrdhost-system-info.c
  src/database/rrdhost-system-info.h
  src/database/sqlite/sqlite_metadata.c
Labels: area/database

#20769 Add publish latency to the aclk-state command
  src/aclk/aclk.c
  src/aclk/mqtt_websockets/mqtt_ng.c
  src/daemon/pulse/pulse-network.c
  src/daemon/pulse/pulse-network.h
Labels: area/daemon, area/aclk

#20772 Update machine-learning-and-assisted-troubleshooting.md
  docs/category-overview-pages/machine-learning-and-assisted-troubleshooting.md
Labels: area/docs

#20775 Aclk improvements
  src/aclk/aclk.c
  src/aclk/aclk_query_queue.c
  src/aclk/aclk_rx_msgs.c
  src/aclk/mqtt_websockets/common_public.h
  src/aclk/mqtt_websockets/mqtt_ng.c
  src/aclk/mqtt_websockets/mqtt_wss_client.c
  src/daemon/pulse/pulse-network.c
Labels: area/daemon, area/aclk

#20774 Fix MSSQL Charts
  src/collectors/windows.plugin/perflib-mssql-queries.h
  src/collectors/windows.plugin/perflib-mssql.c
Labels: area/collectors, collectors/windows

#20776 Add Debian 13 to CI and package builds.
  .github/data/distros.yml
Labels: area/ci, run-ci/packaging

#20780 docs(go.d/memcached): add UNIX socket access prerequisite
  src/go/plugin/go.d/collector/memcached/metadata.yaml
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#20782 docs(go.d/mysql): add MariaDB 10.5.9+ SLAVE MONITOR privilege
  src/go/plugin/go.d/collector/mysql/metadata.yaml
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#20786 feat(go.d/ddsnmp): add metric aggregation support for SNMP profiles
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/metrics.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/profile_definition.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/virtual_metrics.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collector.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collector_table.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collector_table_test.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collector_vmetrics.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collector_vmetrics_test.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collectors_meta.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/metric_builder.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/table_row_processor.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/metric.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/profile.go
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/_std-if-mib.yaml
Labels: area/collectors, collectors/go.d, area/go

#20777 Virtual node version adjustment
  src/database/rrdhost.h
  src/database/sqlite/sqlite_aclk.c
  src/database/sqlite/sqlite_aclk_node.c
  src/plugins.d/pluginsd_parser.c
Labels: area/database, area/aclk, area/plugins.d

#20792 ci: handle boolean values in EOL API responses for newly released distros
  .github/scripts/platform-impending-eol.py
Labels: area/ci

#20801 fix pathvalidate non unix
  src/go/plugin/go.d/pkg/pathvalidate/validate_stub.go
Labels: area/collectors, collectors/go.d, area/go

#20800 Fix ping latency calculation
  src/aclk/mqtt_websockets/mqtt_ng.c
Labels: area/aclk

#20802 feat(aclk): Add detailed pulse metrics for ACLK telemetry
  src/aclk/mqtt_websockets/common_public.h
  src/aclk/mqtt_websockets/mqtt_ng.c
  src/daemon/pulse/pulse-network.c
Labels: area/daemon, area/aclk

#20805 feat(go.d/snmp): add SNMP sysObjectID mappings for device identification
  src/go/plugin/go.d/agent/discovery/sd/discoverer/snmpsd/discoverer_test.go
  src/go/plugin/go.d/agent/discovery/sd/discoverer/snmpsd/entnum.go
  src/go/plugin/go.d/agent/discovery/sd/discoverer/snmpsd/sysObjectIDs.json
  src/go/plugin/go.d/agent/discovery/sd/discoverer/snmpsd/sysinfo.go
  src/go/plugin/go.d/collector/snmp/collect.go
  src/go/plugin/go.d/collector/snmp/collector.go
Labels: area/collectors, collectors/go.d, area/go

#20806 improve(go.d/zfspool): add Ubuntu zpool binary path to config
  src/go/plugin/go.d/config/go.d/zfspool.conf
Labels: area/collectors, collectors/go.d, area/go

#20810 Monitor memory reclamation and buffer compact
  src/aclk/aclk.c
  src/aclk/mqtt_websockets/aclk_mqtt_workers.h
  src/aclk/mqtt_websockets/mqtt_ng.c
Labels: area/aclk

#20788 Add more MSSQL metrics (windows.plugin)
  src/collectors/windows.plugin/README.md
  src/collectors/windows.plugin/metadata.yaml
  src/collectors/windows.plugin/perflib-mssql-queries.h
  src/collectors/windows.plugin/perflib-mssql.c
  src/collectors/windows.plugin/windows_plugin.h
Labels: area/docs, area/collectors, area/metadata, collectors/windows

#20813 improve(go.d/snmp): optimize Check() to avoid heavy collection
  src/go/plugin/go.d/collector/snmp/charts.go
  src/go/plugin/go.d/collector/snmp/collect.go
  src/go/plugin/go.d/collector/snmp/collect_if_mib.go
  src/go/plugin/go.d/collector/snmp/collect_profiles.go
  src/go/plugin/go.d/collector/snmp/collector.go
  src/go/plugin/go.d/collector/snmp/collector_test.go
Labels: area/collectors, collectors/go.d, area/go

#20811 Render latency chart if ACLK online
  src/daemon/pulse/pulse-network.c
Labels: area/daemon

#20819 fix(go.d/ddsnmp): correct profile matching, metadata precedence, and OID handling
  src/go/plugin/go.d/collector/snmp/collect.go
  src/go/plugin/go.d/collector/snmp/collector.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collector.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collectors_meta.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collectors_meta_test.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/utils.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/profile.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/profile_test.go
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/aruba-mobility-controller.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/cisco-legacy-wlc.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/ruckus-unleashed.yaml
Labels: area/collectors, collectors/go.d, area/go

#20827 refactor(go.d): move nd directories to dedicated pluginconfig package
  src/go/cmd/godplugin/config.go
  src/go/cmd/godplugin/main.go
  src/go/pkg/executable/executable.go
  src/go/plugin/go.d/pkg/pluginconfig/pluginconfig.go
  src/go/plugin/go.d/pkg/pluginconfig/pluginconfig_test.go
Labels: area/collectors, collectors/go.d, area/go

#20830 improve(go.d/snmp): add more models to meta_overrides.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/meta_overrides.yaml
Labels: area/collectors, collectors/go.d, area/go

#20831 chore(go.d/snmp): merge sysObjectIDs.json into meta_overrides.yaml
  src/go/plugin/go.d/agent/discovery/sd/discoverer/snmpsd/discoverer_test.go
  src/go/plugin/go.d/config/go.d/snmp.profiles/meta_overrides.yaml
  src/go/plugin/go.d/pkg/snmputils/overrides.go
  src/go/plugin/go.d/pkg/snmputils/overrides_test.go
  src/go/plugin/go.d/pkg/snmputils/sysObjectIDs.json
  src/go/plugin/go.d/pkg/snmputils/sysinfo.go
Labels: area/collectors, collectors/go.d, area/go

#20842 Revert "Switch to a Debian 13 base for our Docker images."
  .github/data/distros.yml
  packaging/docker/Dockerfile
Labels: area/ci, area/packaging

#20847 ci: fix docker-test.sh handling to fail on error
  .github/scripts/docker-test.sh
Labels: area/ci

#20861 improve(go.d/snmp): update snmp meta copilot
  src/go/plugin/go.d/config/go.d/snmp.profiles/metadata/cisco.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/metadata/huawei.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/metadata/other.yaml
Labels: area/collectors, collectors/go.d, area/go

#20823 Kickstarter Fix for DNF5 System
  packaging/installer/kickstart.sh
Labels: area/packaging

#20872 fix(go.d): create vnode internal data_collection_status charts in the main context
  src/go/plugin/go.d/agent/module/job.go
Labels: area/collectors, collectors/go.d, area/go

#20881 fix(go.d): fix goroutine leak and panic risk in Docker exec
  src/go/plugin/go.d/pkg/dockerhost/dockerhost.go
Labels: area/collectors, collectors/go.d, area/go

#20882 improve(go.d/snmp): update tplink snmp meta
  src/go/plugin/go.d/config/go.d/snmp.profiles/metadata/other.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/metadata/tplink.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/metadata/zyxel.yaml
Labels: area/collectors, collectors/go.d, area/go

#20884 fix(go.d/snmp): handle invalid SFP temperature readings for empty slots
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/mikrotik-router.yaml
Labels: area/collectors, collectors/go.d, area/go

#20885 improve(go.d/snmp): add mikrotik mtxrHlProcessorTemperature
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/mikrotik-router.yaml
Labels: area/collectors, collectors/go.d, area/go

#20829 updated logging documentation and added natural siem integration
  src/libnetdata/log/README.md
Labels: area/docs

#20759 Troubleshooting: add troubleshoot and custom investigations docs
  docs/troubleshooting/custom-investigations.md
  docs/troubleshooting/troubleshoot.md
Labels: area/docs

#20889 improve(go.d/snmp): update Allied Telesis meta
  src/go/plugin/go.d/config/go.d/snmp.profiles/metadata/allied.yaml
Labels: area/collectors, collectors/go.d, area/go

#20890 Improve exporting documentation clarity and structure
  docs/exporting-metrics/README.md
  docs/exporting-metrics/enable-an-exporting-connector.md
  src/exporting/README.md
  src/exporting/prometheus/README.md
Labels: area/docs, area/exporting

#20896 improve(cgroups): skip KubeVirt helper containers in virt-launcher pods
  src/collectors/cgroups.plugin/cgroup-name.sh.in
Labels: area/collectors, collectors/cgroups

#20893 Fixing Supported Linux Platforms and Versions
  docs/netdata-agent/versions-and-platforms.md
Labels: area/docs

#20898 improve(go.d/snmp): make snmp v3 auth and priv keys hidden in UI
  src/go/plugin/go.d/collector/snmp/config_schema.json
Labels: area/collectors, collectors/go.d, area/go

#20899 Update demo link formatting in documentation
  docs/Demo-Sites.md
Labels: area/docs

#20902 Fix processes function: Add PPID grouping and fix WOps typo
  docs/functions/processes.md
  src/collectors/apps.plugin/apps_functions.c
Labels: area/docs, area/collectors, collectors/apps
