Repository netdata/netdata, pull requests merged in 2025-03, with the labels that each got.

#19740 zero mtime when a fallback check fails
  src/daemon/daemon-status-file.c
  src/daemon/daemon-status-file.h
Labels: area/daemon

#19741 work on agent-events crashes
  src/daemon/daemon-shutdown-watcher.c
  src/daemon/daemon-shutdown-watcher.h
  src/daemon/daemon-shutdown.c
  src/daemon/daemon-status-file.c
  src/daemon/daemon-systemd-watcher.c
  src/daemon/main.c
  src/libnetdata/exit/exit_initiated.c
  src/libnetdata/exit/exit_initiated.h
  src/libnetdata/log/nd_log-init.c
  src/libnetdata/log/nd_log-internals.h
  src/libnetdata/log/nd_log.c
  src/libnetdata/log/nd_log.h
  src/libnetdata/memory/nd-mallocz.c
Labels: area/daemon

#19739 fix(go.d): ignore sigpipe to exit gracefully
  src/go/plugin/go.d/agent/agent.go
Labels: area/collectors, collectors/go.d, area/go

#19743 allow coredumps to be generated
  src/daemon/daemon-status-file.c
  src/daemon/daemon-status-file.h
  src/daemon/signals.c
Labels: area/daemon

#19744 pass NULL to sensors_init() when the standard files exist in /etc/
  src/collectors/debugfs.plugin/module-libsensors.c
Labels: area/collectors, collectors/debugfs

#19745 more strict parsing of the output of system-info.sh
  src/daemon/analytics.c
  src/database/rrdhost-system-info.c
Labels: area/daemon, area/database

#19751 status file improvements (dedup and signal handler use)
  src/aclk/aclk_proxy.c
  src/daemon/daemon-status-file.c
  src/daemon/daemon-status-file.h
  src/daemon/main.c
  src/libnetdata/common.h
  src/libnetdata/exit/exit_initiated.c
  src/libnetdata/exit/exit_initiated.h
  src/libnetdata/log/nd_log-stacktrace.c
Labels: area/daemon, area/aclk

#19753 status file version 8
  src/daemon/daemon-status-file.c
Labels: area/daemon

#19755 chore(go.d/sd/snmp): comment out defaults in snmp.conf
  src/go/plugin/go.d/config/go.d/sd/snmp.conf
Labels: area/collectors, collectors/go.d, area/go

#19756 improvement(go.d/sd/snmp): support device cache ttl 0
  src/go/plugin/go.d/agent/discovery/sd/discoverer/snmpsd/discoverer.go
  src/go/plugin/go.d/agent/discovery/sd/discoverer/snmpsd/status.go
  src/go/plugin/go.d/config/go.d/sd/snmp.conf
Labels: area/collectors, collectors/go.d, area/go

#19758 status file timings per step
  src/daemon/daemon-status-file.c
  src/daemon/daemon-status-file.h
Labels: area/daemon

#19759 fix(go.d/nvidia_smi): handle xml gpu_power_readings change
  src/go/plugin/go.d/collector/nvidia_smi/charts.go
  src/go/plugin/go.d/collector/nvidia_smi/collect.go
  src/go/plugin/go.d/collector/nvidia_smi/gpu_info.go
Labels: area/collectors, collectors/go.d, area/go

#19760 fix(go.d/sd/snmp): use rescan and cache ttl only when set
  src/go/plugin/go.d/agent/discovery/sd/discoverer/snmpsd/config.go
  src/go/plugin/go.d/agent/discovery/sd/discoverer/snmpsd/discoverer.go
Labels: area/collectors, collectors/go.d, area/go

#19761 make status file use fixed size character arrays
  src/daemon/daemon-status-file.c
  src/daemon/daemon-status-file.h
  src/database/rrdhost-system-info.c
  src/libnetdata/exit/exit_initiated.h
Labels: area/daemon, area/database

#19763 fix invalid free
  src/database/rrdhost-system-info.c
Labels: area/database

#19766 post status syncrhonously
  src/daemon/analytics.c
  src/daemon/daemon-status-file.c
Labels: area/daemon

#19767 detect crashes during status file processing
  src/daemon/daemon-status-file.c
Labels: area/daemon

#19754 Add documentation outlining how to use custom CA certificates with Netdata.
  docs/netdata-agent/configuration/using-custom-ca-certificates-with-netdata.md
Labels: area/docs

#19769 add handling for sigabrt in the status file
  src/daemon/daemon-status-file.c
  src/daemon/main.c
  src/daemon/signals.c
  src/libnetdata/exit/exit_initiated.c
  src/libnetdata/exit/exit_initiated.h
Labels: area/daemon

#19770 block all signals before spawning any threads
  CMakeLists.txt
  src/daemon/common.h
  src/daemon/daemon-shutdown.c
  src/daemon/daemon-status-file.c
  src/daemon/signal-handler.c
  src/daemon/signal-handler.h
  src/database/engine/rrdengineapi.c
  src/libnetdata/libnetdata.h
  src/libnetdata/log/nd_log.c
  src/libnetdata/signals/signals.c
  src/libnetdata/signals/signals.h
  src/libnetdata/spawn_server/spawn_server_libuv.c
  src/libnetdata/spawn_server/spawn_server_nofork.c
Labels: area/daemon, area/database, area/build

#19771 block signals before curl
  src/daemon/main.c
Labels: area/daemon

#19772 chore(go.d/sd): rename discoverers pkgs
  src/go/plugin/go.d/agent/discovery/sd/discoverer/dockersd/docker.go
  src/go/plugin/go.d/agent/discovery/sd/discoverer/dockersd/dockerd_test.go
  src/go/plugin/go.d/agent/discovery/sd/discoverer/dockersd/sim_test.go
  src/go/plugin/go.d/agent/discovery/sd/discoverer/dockersd/target.go
  src/go/plugin/go.d/agent/discovery/sd/discoverer/k8ssd/config.go
  src/go/plugin/go.d/agent/discovery/sd/discoverer/k8ssd/kubernetes.go
  src/go/plugin/go.d/agent/discovery/sd/discoverer/k8ssd/kubernetes_test.go
  src/go/plugin/go.d/agent/discovery/sd/discoverer/k8ssd/pod.go
  src/go/plugin/go.d/agent/discovery/sd/discoverer/k8ssd/pod_test.go
  src/go/plugin/go.d/agent/discovery/sd/discoverer/k8ssd/service.go
  src/go/plugin/go.d/agent/discovery/sd/discoverer/k8ssd/service_test.go
  src/go/plugin/go.d/agent/discovery/sd/discoverer/k8ssd/sim_test.go
  src/go/plugin/go.d/agent/discovery/sd/discoverer/netlistensd/ll.go
  src/go/plugin/go.d/agent/discovery/sd/discoverer/netlistensd/netlisteners.go
  src/go/plugin/go.d/agent/discovery/sd/discoverer/netlistensd/netlisteners_test.go
  src/go/plugin/go.d/agent/discovery/sd/discoverer/netlistensd/sim_test.go
  src/go/plugin/go.d/agent/discovery/sd/discoverer/netlistensd/target.go
  src/go/plugin/go.d/agent/discovery/sd/pipeline/config.go
  src/go/plugin/go.d/agent/discovery/sd/pipeline/pipeline.go
Labels: area/collectors, collectors/go.d, area/go

#19777 fix(go.d/sd): fix logging cfg source when disabled
  src/go/plugin/go.d/agent/discovery/sd/sd.go
Labels: area/collectors, collectors/go.d, area/go

#19774 Fix SIGSEGV on static installs due to dengine log
  packaging/makeself/jobs/99-makeself.install.sh
  packaging/makeself/makeself.lsm
  src/database/engine/pdc.c
  src/health/notifications/alarm-notify.sh.in
Labels: area/packaging, area/health, area/database

#19773 kickstart: install native pkg on RPi2+
  packaging/installer/kickstart.sh
Labels: area/packaging

#19705 Add repository priority configuration for DEB package repositories.
  packaging/repoconfig/CMakeLists.txt
  packaging/repoconfig/deb.changelog
  packaging/repoconfig/netdata-deb-repo-priority
  packaging/repoconfig/rpm.changelog
Labels: area/packaging

#19778 add unique machine id to status file
  CMakeLists.txt
  src/daemon/daemon-shutdown.c
  src/daemon/daemon-status-file.c
  src/daemon/daemon-status-file.h
  src/daemon/main.c
  src/libnetdata/os/machine_id.c
  src/libnetdata/os/machine_id.h
  src/libnetdata/os/os.h
Labels: area/daemon, area/build

#19781 Restructure shutdown logic used during updates.
  packaging/installer/functions.sh
Labels: area/packaging

#19775 Improve agent shutdown
  src/daemon/daemon-shutdown.c
  src/daemon/libuv_workers.c
  src/daemon/libuv_workers.h
  src/database/engine/cache.c
  src/database/engine/cache.h
  src/database/engine/dbengine-stresstest.c
  src/database/engine/dbengine-unittest.c
  src/database/engine/rrdengine.c
  src/database/engine/rrdengine.h
  src/database/engine/rrdengineapi.c
  src/database/engine/rrdengineapi.h
Labels: area/daemon, area/database

#19787 detect when running in CI and disable posting status
  src/daemon/daemon-status-file.c
  src/daemon/signal-handler.c
  src/libnetdata/log/nd_log-stacktrace.c
Labels: area/daemon

#19789 User configurable crash reporting
  src/daemon/config/README.md
  src/daemon/daemon-status-file.c
Labels: area/docs, area/daemon

#19790 docs(go.d/snmp): add snmp discovery information
  src/go/plugin/go.d/collector/snmp/metadata.yaml
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#19792 status file improvements 12
  src/daemon/daemon-status-file.c
  src/daemon/daemon-status-file.h
  src/daemon/daemon.c
  src/daemon/daemon.h
  src/daemon/libuv_workers.c
  src/daemon/main.c
  src/libnetdata/exit/exit_initiated.c
  src/libnetdata/exit/exit_initiated.h
  src/libnetdata/os/process_path.c
  src/libnetdata/signals/signals.c
  src/libnetdata/signals/signals.h
  src/libnetdata/threads/threads.c
  src/libnetdata/threads/threads.h
Labels: area/daemon

#19796 improvement(go.d/k8s_state): add more CronJob metrics
  src/go/plugin/go.d/collector/k8s_state/charts.go
  src/go/plugin/go.d/collector/k8s_state/collect.go
  src/go/plugin/go.d/collector/k8s_state/collector_test.go
  src/go/plugin/go.d/collector/k8s_state/metadata.yaml
  src/go/plugin/go.d/collector/k8s_state/state.go
  src/go/plugin/go.d/collector/k8s_state/update_cronjob_state.go
  src/go/plugin/go.d/collector/k8s_state/update_job_state.go
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#19800 bump dag jinja to 3.1.6
  packaging/dag/requirements.txt
Labels: area/packaging

#19572 Modify eBPF.plugin integration (Part II, the sockets)
  CMakeLists.txt
  src/collectors/collectors-ipc/ebpf-ipc.c
  src/collectors/collectors-ipc/ebpf-ipc.h
  src/collectors/ebpf.plugin/ebpf.c
  src/collectors/ebpf.plugin/ebpf.d.conf
  src/collectors/ebpf.plugin/ebpf_apps.h
  src/collectors/ebpf.plugin/ebpf_socket_ipc.c
  src/collectors/ebpf.plugin/ebpf_socket_ipc.h
Labels: area/collectors, area/build, collectors/ebpf

#19801 add k8s_state_cronjob_last_execution_failed alert
  src/go/plugin/go.d/collector/k8s_state/metadata.yaml
  src/health/health.d/k8sstate.conf
Labels: area/health, area/collectors, collectors/go.d, area/metadata, area/go

#19802 async-signal-safe stack traces
  src/daemon/daemon-status-file.c
  src/daemon/daemon.c
  src/daemon/signal-handler.c
  src/libnetdata/log/nd_log-init.c
  src/libnetdata/log/nd_log-stacktrace.c
  src/libnetdata/log/nd_log.h
  src/libnetdata/threads/threads.c
  src/libnetdata/threads/threads.h
Labels: area/daemon

#19699 ADFS (windows.plugin)
  CMakeLists.txt
  src/collectors/windows.plugin/metadata.yaml
  src/collectors/windows.plugin/perflib-adfs.c
  src/collectors/windows.plugin/windows_plugin.c
  src/collectors/windows.plugin/windows_plugin.h
Labels: area/collectors, area/build, area/metadata, collectors/windows

#19805 fix memory corruption in streaming
  src/streaming/stream-receiver.c
  src/streaming/stream-sender.c
Labels: area/streaming

#19806 Help finding leaks and running valgrind
  src/daemon/signal-handler.c
  src/libnetdata/common.h
  src/libnetdata/signals/signals.c
  src/libnetdata/spawn_server/spawn_server_nofork.c
  src/streaming/stream-receiver.c
  src/streaming/stream-sender.c
Labels: area/daemon, area/streaming

#19809 fix fsanitize ifdefs
  src/daemon/signal-handler.c
  src/database/rrddim-collection.c
  src/libnetdata/common.h
  src/libnetdata/signals/signals.c
Labels: area/daemon, area/database

#19808 do not change the scheduling policy by default
  src/daemon/daemon.c
Labels: area/daemon

#19811 Detect memory leaks
  src/daemon/buildinfo.c
  src/daemon/daemon.c
  src/daemon/main.c
  src/daemon/signal-handler.c
  src/database/engine/journalfile.c
  src/database/rrdhost.c
  src/libnetdata/log/nd_log-internals.c
  src/libnetdata/log/nd_log.h
  src/libnetdata/spawn_server/spawn_server_nofork.c
  src/streaming/stream-sender-api.c
Labels: area/daemon, area/database, area/streaming

#19815 fix(go.d/filecheck): remove dyncfg path validation pattern
  src/go/plugin/go.d/collector/filecheck/config_schema.json
Labels: area/collectors, collectors/go.d, area/go

#19807 fix(go.d/pihole): switch to pihole6 api
  src/go/plugin/go.d/collector/pihole/api.go
  src/go/plugin/go.d/collector/pihole/auth.go
  src/go/plugin/go.d/collector/pihole/charts.go
  src/go/plugin/go.d/collector/pihole/collect.go
  src/go/plugin/go.d/collector/pihole/collector.go
  src/go/plugin/go.d/collector/pihole/collector_test.go
  src/go/plugin/go.d/collector/pihole/init.go
  src/go/plugin/go.d/collector/pihole/metadata.yaml
  src/go/plugin/go.d/collector/pihole/testdata/config.json
  src/go/plugin/go.d/collector/pihole/testdata/config.yaml
  src/go/plugin/go.d/collector/pihole/testdata/getForwardDestinations.json
  src/go/plugin/go.d/collector/pihole/testdata/getQueryTypes.json
  src/go/plugin/go.d/collector/pihole/testdata/setupVars.conf
  src/go/plugin/go.d/collector/pihole/testdata/summaryRaw.json
  src/go/plugin/go.d/collector/pihole/testdata/v6.0.5/stats_summary.json
  src/go/plugin/go.d/config/go.d/sd/net_listeners.conf
  src/go/plugin/go.d/pkg/web/client.go
  src/health/health.d/pihole.conf
Labels: area/health, area/collectors, collectors/go.d, area/metadata, area/go

#19819 Fix LSAN and memory leaks
  src/daemon/daemon-shutdown.c
  src/daemon/main.c
  src/daemon/signal-handler.c
  src/database/contexts/api_v2_contexts_alerts.c
  src/database/rrd.c
  src/database/rrdhost-system-info.c
  src/database/rrdhost-system-info.h
  src/database/rrdhost.c
  src/database/sqlite/sqlite_aclk.c
  src/plugins.d/pluginsd_parser.c
  src/streaming/stream-receiver-connection.c
Labels: area/daemon, area/database, area/streaming, area/aclk, area/plugins.d

#19812 Acquire datafile for deletion before calculating retention
  src/database/engine/rrdengine.c
Labels: area/database

#19817 Include libucontext in static builds to vendor libunwind even on POWER.
  packaging/makeself/bundled-packages.version
  packaging/makeself/jobs/15-libucontext.install.sh
  packaging/makeself/jobs/20-libunwind.install.sh
Labels: area/packaging

#19702 Integrate OpenTelemetry collector build into build system.
  CMakeLists.txt
  packaging/cmake/Modules/NetdataGoTools.cmake
  src/go/otel-collector/CMakeLists.txt
  src/go/otel-collector/release-config.yaml.in
Labels: area/packaging, area/collectors, area/build, collectors/go.d, area/go

#19824 build(otel-collector): update to v0.121.0
  src/go/otel-collector/builder-config.yaml
  src/go/otel-collector/exporter/journaldexporter/go.mod
  src/go/otel-collector/exporter/journaldexporter/go.sum
  src/go/otel-collector/release-config.yaml.in
Labels: area/collectors, collectors/go.d, area/go

#19823 Finding leaks No 2
  src/daemon/commands.c
  src/daemon/daemon-shutdown.c
  src/database/contexts/rrdcontext.c
  src/database/engine/cache.c
  src/database/engine/cache.h
  src/database/rrdhost.c
  src/database/rrdhost.h
  src/database/sqlite/sqlite_aclk_alert.c
  src/libnetdata/dictionary/dictionary-unittest.c
  src/libnetdata/dictionary/dictionary.c
  src/web/server/h2o/http_server.c
  src/web/server/web_client.c
Labels: area/web, area/daemon, area/database, area/aclk

#19826 rrdhost name fix heap-use-after-free
  src/database/rrdhost.c
Labels: area/database

#19449 fix rrdset name crash on rrdset obsoletion
  src/database/rrdset-index-id.c
  src/database/rrdset-index-name.c
  src/libnetdata/dictionary/dictionary.h
Labels: area/daemon, area/database

#19828 Revert "fix rrdset name crash on rrdset obsoletion"
  src/database/rrdset-index-id.c
  src/database/rrdset-index-name.c
  src/libnetdata/dictionary/dictionary.h
Labels: area/database

#19829 improvement(go.d/k8state): add CronJob suspend status
  src/go/plugin/go.d/collector/k8s_state/charts.go
  src/go/plugin/go.d/collector/k8s_state/collect.go
  src/go/plugin/go.d/collector/k8s_state/collector_test.go
  src/go/plugin/go.d/collector/k8s_state/metadata.yaml
  src/go/plugin/go.d/collector/k8s_state/state.go
  src/go/plugin/go.d/collector/k8s_state/update_cronjob_state.go
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#19832 Fix typo in otel collector build infra.
  src/go/otel-collector/CMakeLists.txt
Labels: area/collectors, collectors/go.d, area/go

#19831 store status file in /var/lib/netdata, not in /var/cache/netdata
  src/daemon/daemon-status-file.c
  src/daemon/daemon-status-file.h
  src/database/rrdhost-system-info.c
Labels: area/daemon, area/database

#19827 free strings judy arrays to show leaked strings
  src/daemon/daemon-service.h
  src/daemon/daemon-shutdown-watcher.c
  src/daemon/daemon-shutdown.c
  src/daemon/main.c
  src/database/contexts/api_v2_contexts.c
  src/database/rrdfunctions.c
  src/health/health_dyncfg.c
  src/health/health_log.c
  src/libnetdata/json/json-c-parser-inline.h
  src/libnetdata/string/string.c
  src/libnetdata/string/string.h
  src/plugins.d/plugins_d.c
  src/streaming/stream-connector.c
  src/streaming/stream-receiver-connection.c
  src/streaming/stream-receiver.c
Labels: area/health, area/daemon, area/database, area/streaming, area/plugins.d

#19838 fix rrdset name crash on cleanup
  src/database/rrdset-index-id.c
  src/database/rrdset-index-name.c
  src/libnetdata/dictionary/dictionary.h
Labels: area/database

#19835 Fix for building with protobuf 30.0
  src/exporting/prometheus/remote_write/remote_write_request.cc
Labels: area/exporting

#19830 Fix RRDDIM_MEM storage engine index
  src/daemon/daemon-shutdown-watcher.c
  src/daemon/daemon-shutdown.c
  src/daemon/main.c
  src/daemon/service.c
  src/database/ram/rrddim_mem.c
  src/database/rrdset-index-name.c
  src/libnetdata/dictionary/dictionary.c
  src/libnetdata/dictionary/dictionary.h
  src/libnetdata/uuid/uuidmap.c
  src/streaming/stream-connector.c
  src/streaming/stream-receiver.c
  src/streaming/stream-sender-api.c
  src/streaming/stream.h
Labels: area/daemon, area/database, area/streaming

#19850 fix updating on RPi2+
  packaging/installer/netdata-updater.sh
Labels: area/packaging

#19839 Add oci meta info
  .github/workflows/docker.yml
  packaging/docker/Dockerfile
Labels: area/ci, area/packaging

#19849 minor fixes
  src/daemon/config/README.md
  src/daemon/daemon-status-file.c
  src/daemon/pulse/pulse.h
  src/database/engine/cache.c
  src/database/engine/journalfile.c
  src/libnetdata/aral/aral.c
  src/libnetdata/memory/nd-mallocz.c
  src/libnetdata/memory/nd-mallocz.h
  src/libnetdata/uuid/uuidmap.c
Labels: area/docs, area/daemon, area/database

#19853 fix contexts labels to avoid clearing the rrdlabels pointer
  src/database/contexts/api_v1_contexts.c
  src/database/contexts/api_v2_contexts.c
  src/database/contexts/instance.c
  src/database/contexts/internal.h
  src/database/contexts/query_target.c
  src/database/rrdlabels.c
  src/database/rrdlabels.h
Labels: area/database

#19854 make sure alerts are concurrently altered by dyncfg
  src/health/rrdcalc.c
Labels: area/health

#19856 fix crashes identified by sentry
  src/collectors/cgroups.plugin/cgroup-charts.c
  src/health/health_variable.c
  src/libnetdata/datetime/rfc3339.c
Labels: area/health, area/collectors, collectors/cgroups

#19855 netdata-uninstaller: improve input prompt with more descriptive guidance
  packaging/installer/netdata-uninstaller.sh
Labels: area/packaging

#19858 disable UNW_LOCAL_ONLY on static builds
  packaging/cmake/config.cmake.h.in
  src/daemon/daemon-status-file.c
  src/libnetdata/log/nd_log-stacktrace.c
  src/libnetdata/log/nd_log.c
Labels: area/packaging, area/daemon

#19859 fix(macos.plugin): correct disks/network devices charts
  src/collectors/macos.plugin/macos_fw.c
Labels: area/collectors, collectors/macos

#19860 restore needed variables for pluginsd
  src/plugins.d/plugins_d.c
Labels: area/plugins.d

#19863 daemon status file 16
  CMakeLists.txt
  src/daemon/config/README.md
  src/daemon/config/netdata-conf-profile.c
  src/daemon/config/netdata-conf-profile.h
  src/daemon/daemon-status-file.c
  src/daemon/daemon-status-file.h
  src/daemon/daemon.c
  src/daemon/main.c
  src/daemon/signal-handler.c
  src/daemon/signal-handler.h
  src/libnetdata/aral/aral.c
  src/libnetdata/aral/aral.h
  src/libnetdata/exit/exit_initiated.c
  src/libnetdata/exit/exit_initiated.h
  src/libnetdata/inlined.h
  src/libnetdata/signals/signal-code.c
  src/libnetdata/signals/signal-code.h
  src/libnetdata/signals/signals.c
  src/libnetdata/signals/signals.h
  src/libnetdata/template-enum.h
  src/libnetdata/threads/threads.c
  src/ml/ml_config.cc
Labels: area/docs, area/daemon, area/ml, area/build

#19865 improvement(macos.plugin): add options to filter net ifaces and mountpoints
  src/collectors/macos.plugin/macos_fw.c
Labels: area/collectors, collectors/macos

#19867 fixed sentry dedup
  src/daemon/analytics.c
  src/daemon/daemon-status-file.c
  src/daemon/sentry-native/sentry-native.c
  src/daemon/signal-handler.c
Labels: area/daemon

#19861 Release memory on shutdown - detect invalid extent in journal files
  src/database/engine/pagecache.c
  src/database/sqlite/sqlite_metadata.c
Labels: area/database

#19866 fix(freebsd.plugin): correct disks/network devices charts
  src/collectors/freebsd.plugin/freebsd_devstat.c
  src/collectors/freebsd.plugin/freebsd_getifaddrs.c
  src/collectors/freebsd.plugin/freebsd_getmntinfo.c
Labels: area/collectors, collectors/freebsd

#19869 daemon status file 17
  src/daemon/daemon-status-file.c
  src/daemon/daemon-status-file.h
  src/daemon/main.c
  src/daemon/sentry-native/sentry-native.c
  src/daemon/sentry-native/sentry-native.h
  src/daemon/signal-handler.c
  src/daemon/signal-handler.h
  src/libnetdata/log/nd_log-stacktrace.c
  src/libnetdata/log/nd_log.h
  src/libnetdata/signals/signal-code.c
  src/libnetdata/signals/signal-code.h
Labels: area/daemon

#19870 Remove tj-actions/changed-files from CI jobs.
  .github/workflows/build.yml
  .github/workflows/checks.yml
  .github/workflows/docker.yml
  .github/workflows/go-tests.yml
  .github/workflows/packaging.yml
Labels: area/ci

#19872 sentry events annotations
  src/daemon/daemon-shutdown.c
  src/daemon/daemon-status-file.c
  src/daemon/daemon-status-file.h
  src/daemon/daemon.c
  src/daemon/main.c
  src/daemon/sentry-native/sentry-native.c
  src/daemon/sentry-native/sentry-native.h
  src/daemon/signal-handler.c
Labels: area/daemon

#19873 add the fatal to the exit reasons
  src/daemon/daemon-status-file.c
Labels: area/daemon

#19874 make sure the daemon status hash does not depend on random bytes
  src/daemon/daemon-status-file.c
Labels: area/daemon

#19875 do not lose exit reasons
  src/daemon/daemon-status-file.c
Labels: area/daemon

#19879 add stack trace information to the compiler and linker
  CMakeLists.txt
Labels: area/build

#19880 change log priorities on agent-events
  src/daemon/daemon-shutdown-watcher.c
  src/daemon/daemon-shutdown.c
  src/daemon/daemon-status-file.c
  src/daemon/sentry-native/sentry-native.c
  src/libnetdata/common.h
  src/libnetdata/log/nd_log.c
Labels: area/daemon

#19876 daemon-status-18
  src/daemon/daemon-shutdown.c
  src/daemon/daemon-status-file.c
  src/daemon/daemon-status-file.h
  src/daemon/libuv_workers.c
  src/daemon/sentry-native/sentry-native.c
  src/daemon/signal-handler.c
  src/daemon/signal-handler.h
  src/database/engine/cache.c
  src/libnetdata/log/nd_log-stacktrace.c
  src/libnetdata/log/nd_log.h
  src/libnetdata/threads/threads.c
Labels: area/daemon, area/database

#19881 ci: use step-security/changed-files
  .github/workflows/build.yml
  .github/workflows/checks.yml
  .github/workflows/docker.yml
  .github/workflows/go-tests.yml
  .github/workflows/packaging.yml
Labels: area/ci

#19882 docs(go.d/snmp): improve auto-detection section
  src/go/plugin/go.d/collector/snmp/metadata.yaml
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#19884 daemon status 18b
  src/daemon/daemon-status-file.c
  src/daemon/daemon-status-file.h
  src/daemon/sentry-native/sentry-native.c
  src/daemon/signal-handler.c
Labels: area/daemon

#19886 chore(go.d/snmp/ddsnmp): use dd profile definition
  src/go/go.mod
  src/go/go.sum
  src/go/plugin/go.d/collector/snmp/ddsnmp/load.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/load_test.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/profile.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/profile_test.go
Labels: area/collectors, collectors/go.d, area/go

#19888 Update DEB/RPM package signing key info.
  packaging/installer/methods/packages.md
  packaging/repoconfig/CMakeLists.txt
  packaging/repoconfig/deb.changelog
  packaging/repoconfig/netdata.repo.dnf
  packaging/repoconfig/rpm.changelog
Labels: area/packaging, area/docs

#19890 remove deadlock from dyncfg health
  src/health/health_dyncfg.c
  src/health/health_event_loop.c
  src/health/health_prototypes.c
  src/health/rrdcalc.c
Labels: area/health

#19891 Fix typo in README title
  README.md
Labels: area/docs

#19893 make sure all rrdcalcs are unlinked the moment they are deleted
  CMakeLists.txt
  src/health/rrdcalc.c
  src/health/rrdcalc.h
Labels: area/health, area/build

#19894 do not recurse cleanup on shutdown
  src/collectors/cups.plugin/cups_plugin.c
  src/collectors/freebsd.plugin/plugin_freebsd.c
  src/collectors/nfacct.plugin/plugin_nfacct.c
  src/collectors/perf.plugin/perf_plugin.c
  src/collectors/xenstat.plugin/xenstat_plugin.c
  src/daemon/commands.c
  src/daemon/daemon-service.c
  src/daemon/daemon-shutdown.c
  src/daemon/daemon-shutdown.h
  src/daemon/daemon-status-file.c
  src/daemon/daemon-systemd-watcher.c
  src/daemon/main.c
  src/daemon/signal-handler.c
  src/daemon/winsvc.cc
  src/database/engine/cache.c
  src/database/engine/page.c
  src/health/rrdcalc.c
  src/libnetdata/exit/exit_initiated.c
  src/libnetdata/exit/exit_initiated.h
  src/web/server/web_client.c
Labels: area/web, area/health, area/collectors, area/daemon, area/database, collectors/cups, collectors/freebsd, collectors/nfacct, collectors/perf, collectors/xenstat

#19895 build: update otel deps to v0.122.0
  src/go/otel-collector/builder-config.yaml
  src/go/otel-collector/exporter/journaldexporter/go.mod
  src/go/otel-collector/exporter/journaldexporter/go.sum
  src/go/otel-collector/release-config.yaml.in
Labels: area/collectors, collectors/go.d, area/go

#19897 fix for system shutdown
  src/collectors/freebsd.plugin/plugin_freebsd.c
  src/daemon/commands.c
  src/daemon/daemon-shutdown.c
  src/daemon/daemon-shutdown.h
  src/daemon/daemon-systemd-watcher.c
  src/daemon/main.c
  src/daemon/signal-handler.c
  src/daemon/winsvc.cc
  src/libnetdata/log/nd_log-init.c
  src/libnetdata/log/nd_log-internals.h
  src/libnetdata/log/nd_log.c
  src/libnetdata/log/nd_log.h
  src/web/server/web_client.c
Labels: area/web, area/collectors, area/daemon, collectors/freebsd

#19898 more strict checks on log-fw
  src/collectors/freebsd.plugin/plugin_freebsd.c
  src/daemon/commands.c
  src/daemon/daemon-shutdown-watcher.c
  src/daemon/daemon-shutdown-watcher.h
  src/daemon/daemon-shutdown.c
  src/daemon/daemon-shutdown.h
  src/daemon/daemon-status-file.c
  src/daemon/daemon-systemd-watcher.c
  src/daemon/signal-handler.c
  src/daemon/winsvc.cc
  src/database/contexts/internal.h
  src/database/engine/metric.c
  src/libnetdata/inlined.h
  src/libnetdata/log/nd_log.c
  src/libnetdata/spawn_server/log-forwarder.c
  src/libnetdata/threads/threads.c
  src/web/server/web_client.c
Labels: area/web, area/collectors, area/daemon, area/database, collectors/freebsd

#19899 more compilation flags for stack traces
  CMakeLists.txt
  src/daemon/daemon-status-file.h
Labels: area/daemon, area/build

#19900 do not use errno when hashing status events
  src/daemon/daemon-status-file.c
Labels: area/daemon

#19902 Fix compile without dbengine
  src/daemon/config/netdata-conf-backwards-compatibility.c
  src/daemon/daemon-shutdown.c
  src/daemon/pulse/pulse-daemon-memory.c
  src/web/api/web_api_v1.c
Labels: area/web, area/daemon

#19834 Improve CI reliability by allowing for better retry behavior.
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: area/ci

#19905 Revert "Fix compile without dbengine"
  src/daemon/config/netdata-conf-backwards-compatibility.c
  src/daemon/daemon-shutdown.c
  src/daemon/pulse/pulse-daemon-memory.c
  src/web/api/web_api_v1.c
Labels: area/web, area/daemon

#19906 Bump repoconfig version used in kickstart script to 5-1.
  packaging/installer/kickstart.sh
Labels: area/packaging

#19903 new exit cause: shutdown timeout
  src/daemon/daemon-shutdown-watcher.c
  src/daemon/daemon-status-file.c
  src/daemon/daemon-status-file.h
  src/daemon/sentry-native/sentry-native.c
  src/daemon/sentry-native/sentry-native.h
  src/database/rrdhost-system-info.c
  src/libnetdata/exit/exit_initiated.c
  src/libnetdata/exit/exit_initiated.h
Labels: area/daemon, area/database

#19909 fix reliability calculation
  src/daemon/daemon-status-file.c
  src/libnetdata/exit/exit_initiated.h
Labels: area/daemon

#19885 Store alert config asynchronously
  src/daemon/libuv_workers.c
  src/daemon/libuv_workers.h
  src/database/sqlite/sqlite_health.c
  src/database/sqlite/sqlite_metadata.c
  src/database/sqlite/sqlite_metadata.h
Labels: area/daemon, area/database

#19912 post the first status when there is no last status
  src/daemon/daemon-status-file.c
Labels: area/daemon

#19914 do not enqueue command if aclk is not initialized
  src/database/sqlite/sqlite_aclk.c
Labels: area/database, area/aclk

#19913 detect null datafile while finding datafiles in range
  src/database/engine/journalfile.c
Labels: area/database

#19916 Make sure ACLK sync thread completes initialization
  src/database/sqlite/sqlite_aclk.c
Labels: area/database, area/aclk

#19923 Exclude external code from CodeQL scanning.
  .github/codeql/c-cpp-config.yml
  .github/workflows/codeql.yml
Labels: area/ci

#19925 do not expose web server filenames
  src/web/server/web_client.c
Labels: area/web

#19924 Fix TOCTOU race in daemon status file handling.
  src/daemon/daemon-status-file.c
Labels: area/daemon

#19930 Fix compile without dbengine
  src/daemon/config/netdata-conf-backwards-compatibility.c
  src/daemon/daemon-shutdown.c
  src/daemon/pulse/pulse-daemon-memory.c
  src/web/api/web_api_v1.c
Labels: area/web, area/daemon

#19932 Fix max_page_length calculation for GORILLA_32BIT page type
  src/database/engine/pdc.c
Labels: area/database

#19910 initial implementation of libbacktrace
  CMakeLists.txt
  netdata.spec.in
  packaging/build-package.sh
  packaging/cmake/Modules/NetdataBacktrace.cmake
  packaging/cmake/config.cmake.h.in
  packaging/docker/Dockerfile
  packaging/makeself/jobs/70-netdata-git.install.sh
  src/daemon/buildinfo.c
  src/libnetdata/log/nd_log-stacktrace.c
Labels: area/packaging, area/daemon, area/build

#19929 Metadata event loop code cleanup
  src/database/rrdhost.c
  src/database/sqlite/sqlite_aclk.c
  src/database/sqlite/sqlite_metadata.c
  src/database/sqlite/sqlite_metadata.h
Labels: area/database, area/aclk

#19935 Fix path to copy drop-in crontab from
  packaging/installer/netdata-updater.sh
Labels: area/packaging

#19928 status file v21
  CMakeLists.txt
  src/claim/claim-with-api.c
  src/claim/cloud-conf.c
  src/daemon/config/netdata-conf-global.c
  src/daemon/config/netdata-conf-global.h
  src/daemon/daemon-status-file.c
  src/daemon/daemon-status-file.h
  src/daemon/daemon.h
  src/daemon/machine-guid.c
  src/daemon/machine-guid.h
  src/daemon/main.c
  src/database/rrd.c
  src/libnetdata/common.h
  src/registry/registry.h
  src/registry/registry_init.c
  src/registry/registry_internals.c
  src/registry/registry_internals.h
Labels: area/daemon, area/database, area/registry, area/claim, area/build

#19937 status file 21b
  src/daemon/daemon-status-file.c
  src/daemon/daemon-status-file.h
  src/libnetdata/memory/nd-mallocz.c
  src/libnetdata/memory/nd-mallocz.h
Labels: area/daemon

#19936 Fix logic for libbacktrace enablement in CMakeLists,txt
  CMakeLists.txt
Labels: area/build

#19939 Don't build libunwind in static builds when it's not needed.
  packaging/makeself/jobs/15-libucontext.install.sh
  packaging/makeself/jobs/20-libunwind.install.sh
Labels: area/packaging

#19938 detect low ram conditions more aggresively
  src/daemon/daemon-status-file.c
  src/daemon/signal-handler.c
  src/libnetdata/os/system_memory.c
  src/libnetdata/os/system_memory.h
Labels: area/daemon

#19946 Set default CMake build type to include debug info.
  CMakeLists.txt
Labels: area/build

#19948 Disable generation of debuginfo packages for DEB distros.
  packaging/cmake/Modules/Packaging.cmake
Labels: area/packaging, run-ci/packaging

#19953 daemon status 22
  src/aclk/aclk.c
  src/claim/cloud-status.c
  src/claim/cloud-status.h
  src/daemon/daemon-status-file.c
  src/daemon/daemon-status-file.h
  src/daemon/main.c
  src/daemon/sentry-native/sentry-native.c
  src/libnetdata/log/nd_log-stacktrace.c
  src/registry/registry.c
  src/web/api/v2/api_v2_claim.c
  src/web/server/web_server.c
  src/web/server/web_server.h
Labels: area/web, area/daemon, area/registry, area/claim, area/aclk

#19954 Fix claiming on startup
  src/claim/claim-with-api.c
Labels: area/claim

#19956 fix rrdcalc_unlink_from_rrdset()
  src/health/rrdcalc.c
Labels: area/health

#19957 status file 22b
  src/daemon/daemon-status-file.c
  src/database/engine/cache.c
  src/libnetdata/log/nd_log-stacktrace.c
Labels: area/daemon, area/database

#19958 Use UPDATE_DISCONNECTED mode for libbacktrace.
  packaging/cmake/Modules/NetdataBacktrace.cmake
Labels: area/packaging

#19852 Large-scale cleanup of static build infrastructure.
  .github/scripts/build-static.sh
  packaging/makeself/build-static.sh
  packaging/makeself/build.sh
  packaging/makeself/functions.sh
  packaging/makeself/jobs/00-prepare-destination.install.sh
  packaging/makeself/jobs/10-libucontext.install.sh
  packaging/makeself/jobs/11-openssl.install.sh
  packaging/makeself/jobs/20-libnetfilter_acct.install.sh
  packaging/makeself/jobs/20-libunwind.install.sh
  packaging/makeself/jobs/30-curl.install.sh
  packaging/makeself/jobs/40-bash.install.sh
  packaging/makeself/jobs/50-ioping.install.sh
  packaging/makeself/jobs/70-netdata-git.install.sh
  packaging/makeself/jobs/71-install-type.sh
  packaging/makeself/jobs/72-conf-fixup.sh
  packaging/makeself/jobs/80-netdata-static-check.sh
  packaging/makeself/jobs/81-netdata-runtime-check.sh
  packaging/makeself/jobs/90-prepare-archive-source.sh
  packaging/makeself/jobs/91-copy-ca-certificates.sh
  packaging/makeself/jobs/98-create-archive.sh
  packaging/makeself/jobs/99-copy-archives.sh
  packaging/makeself/jobs/99-makeself.install.sh
  packaging/makeself/run-all-jobs.sh
  packaging/runtime-check.sh
Labels: area/ci, area/packaging

#19960 fix undefined
  src/web/api/queries/rrdr.c
Labels: area/web

#19959 daemon status 22c
  src/daemon/daemon-status-file.c
Labels: area/daemon

#19961 Don’t skip building Go code on static builds.
  .github/scripts/build-static.sh
  .github/workflows/build.yml
Labels: area/ci

#19972 fix crash in variable_lookup_add_result_with_score()
  src/health/health_variable.c
Labels: area/health

#19975 Doc Linux improved order in kickstart
  packaging/installer/methods/kickstart.md
Labels: area/packaging, area/docs

#19977 set max datafile size to 1GiB
  src/database/engine/datafile.h
Labels: area/database

#19966 Improve ACLK sync shutdown process
  src/aclk/aclk_query.c
  src/aclk/aclk_query.h
  src/daemon/daemon-shutdown-watcher.c
  src/daemon/daemon-shutdown-watcher.h
  src/daemon/daemon-shutdown.c
  src/database/rrd.c
  src/database/sqlite/sqlite_aclk.c
  src/database/sqlite/sqlite_aclk.h
  src/database/sqlite/sqlite_aclk_alert.c
  src/libnetdata/completion/completion.c
  src/libnetdata/completion/completion.h
Labels: area/daemon, area/database, area/aclk

#19978 Fix random crash during shutdown
  src/database/sqlite/sqlite_metadata.c
Labels: area/database

#19979 Release memory when calculating metric correlations
  src/web/api/queries/weights.c
Labels: area/web

#19981 Installation section Improvements
  packaging/installer/methods/ansible.md
  packaging/installer/methods/aws.md
  packaging/installer/methods/azure.md
  packaging/installer/methods/kickstart.md
  packaging/installer/methods/kubernetes.md
Labels: area/packaging, area/docs

#19982 Revert "fix undefined"
  src/web/api/queries/rrdr.c
Labels: area/web

#19904 improvement(health/dyncfg): add widget to load available contexts
  src/health/schema.d/health%3Aalert%3Aprototype.json
Labels: area/health

#19983 do not allocate or access zero sized arrays
  src/web/api/formatters/value/value.c
  src/web/api/queries/query.c
Labels: area/web

#19980 Improve agent shutdown
  src/daemon/daemon-shutdown.c
  src/database/engine/rrdengine.c
  src/database/engine/rrdengine.h
  src/database/sqlite/sqlite_aclk.c
  src/database/sqlite/sqlite_context.c
  src/database/sqlite/sqlite_metadata.c
Labels: area/daemon, area/database, area/aclk

#19962 fix MSI installer
  packaging/windows/copy_files.ps1
  packaging/windows/netdata.wxs.in
  packaging/windows/package-windows.sh
Labels: area/packaging

#19950 IIS Application Pool (Windows.plugin)
  src/collectors/windows.plugin/metadata.yaml
  src/collectors/windows.plugin/perflib-web-service.c
  src/collectors/windows.plugin/windows_plugin.h
Labels: area/collectors, area/metadata, collectors/windows

#19987 Installation + docker, improvements
  packaging/docker/README.md
  packaging/installer/methods/macos.md
  packaging/installer/methods/no_ipv4.md
  packaging/installer/methods/offline.md
  packaging/installer/methods/packages.md
Labels: area/packaging, area/docs

#19844 ebpf.plugin: rework memory
  src/collectors/collectors-ipc/ebpf-ipc.c
  src/collectors/collectors-ipc/ebpf-ipc.h
  src/collectors/ebpf.plugin/ebpf.c
  src/collectors/ebpf.plugin/ebpf.h
  src/collectors/ebpf.plugin/ebpf_apps.c
  src/collectors/ebpf.plugin/ebpf_apps.h
  src/collectors/ebpf.plugin/ebpf_cachestat.c
  src/collectors/ebpf.plugin/ebpf_cachestat.h
  src/collectors/ebpf.plugin/ebpf_dcstat.c
  src/collectors/ebpf.plugin/ebpf_dcstat.h
  src/collectors/ebpf.plugin/ebpf_fd.c
  src/collectors/ebpf.plugin/ebpf_fd.h
  src/collectors/ebpf.plugin/ebpf_process.c
  src/collectors/ebpf.plugin/ebpf_process.h
  src/collectors/ebpf.plugin/ebpf_shm.c
  src/collectors/ebpf.plugin/ebpf_shm.h
  src/collectors/ebpf.plugin/ebpf_socket.c
  src/collectors/ebpf.plugin/ebpf_socket.h
  src/collectors/ebpf.plugin/ebpf_swap.c
  src/collectors/ebpf.plugin/ebpf_swap.h
  src/collectors/ebpf.plugin/ebpf_vfs.c
  src/collectors/ebpf.plugin/ebpf_vfs.h
  src/collectors/ebpf.plugin/metadata.yaml
Labels: area/collectors, collectors/ebpf, area/metadata
