Repository netdata/netdata, pull requests merged in 2025-02, with the labels that each got.

#19553 Format ebpf
  src/collectors/ebpf.plugin/ebpf.c
  src/collectors/ebpf.plugin/ebpf.h
  src/collectors/ebpf.plugin/ebpf_apps.c
  src/collectors/ebpf.plugin/ebpf_apps.h
  src/collectors/ebpf.plugin/ebpf_cachestat.c
  src/collectors/ebpf.plugin/ebpf_cachestat.h
  src/collectors/ebpf.plugin/ebpf_cgroup.c
  src/collectors/ebpf.plugin/ebpf_cgroup.h
  src/collectors/ebpf.plugin/ebpf_dcstat.c
  src/collectors/ebpf.plugin/ebpf_dcstat.h
  src/collectors/ebpf.plugin/ebpf_disk.c
  src/collectors/ebpf.plugin/ebpf_disk.h
  src/collectors/ebpf.plugin/ebpf_fd.c
  src/collectors/ebpf.plugin/ebpf_fd.h
  src/collectors/ebpf.plugin/ebpf_filesystem.c
  src/collectors/ebpf.plugin/ebpf_filesystem.h
  src/collectors/ebpf.plugin/ebpf_functions.c
  src/collectors/ebpf.plugin/ebpf_functions.h
  src/collectors/ebpf.plugin/ebpf_hardirq.c
  src/collectors/ebpf.plugin/ebpf_hardirq.h
  src/collectors/ebpf.plugin/ebpf_mdflush.c
  src/collectors/ebpf.plugin/ebpf_mount.c
  src/collectors/ebpf.plugin/ebpf_mount.h
  src/collectors/ebpf.plugin/ebpf_oomkill.c
  src/collectors/ebpf.plugin/ebpf_process.c
  src/collectors/ebpf.plugin/ebpf_process.h
  src/collectors/ebpf.plugin/ebpf_shm.c
  src/collectors/ebpf.plugin/ebpf_shm.h
  src/collectors/ebpf.plugin/ebpf_socket.c
  src/collectors/ebpf.plugin/ebpf_socket.h
  src/collectors/ebpf.plugin/ebpf_softirq.c
  src/collectors/ebpf.plugin/ebpf_swap.c
  src/collectors/ebpf.plugin/ebpf_swap.h
  src/collectors/ebpf.plugin/ebpf_sync.c
  src/collectors/ebpf.plugin/ebpf_sync.h
  src/collectors/ebpf.plugin/ebpf_unittest.c
  src/collectors/ebpf.plugin/ebpf_unittest.h
  src/collectors/ebpf.plugin/ebpf_vfs.c
  src/collectors/ebpf.plugin/ebpf_vfs.h
Labels: area/collectors, collectors/ebpf

#19554 Format Windows.plugin
  src/collectors/windows.plugin/GetSystemCPU.c
  src/collectors/windows.plugin/GetSystemRAM.c
  src/collectors/windows.plugin/GetSystemUptime.c
  src/collectors/windows.plugin/perflib-hyperv.c
  src/collectors/windows.plugin/perflib-memory.c
  src/collectors/windows.plugin/perflib-mssql.c
  src/collectors/windows.plugin/perflib-network.c
  src/collectors/windows.plugin/perflib-objects.c
  src/collectors/windows.plugin/perflib-processes.c
  src/collectors/windows.plugin/perflib-processor.c
  src/collectors/windows.plugin/perflib-rrd.c
  src/collectors/windows.plugin/perflib-rrd.h
  src/collectors/windows.plugin/perflib-storage.c
  src/collectors/windows.plugin/perflib-thermalzone.c
  src/collectors/windows.plugin/perflib-web-service.c
  src/collectors/windows.plugin/windows-internals.h
Labels: area/collectors, collectors/windows

#19555 docs(start-stop-restart): fix restart typo
  docs/netdata-agent/start-stop-restart.md
Labels: area/docs

#19557 Metadata (AD and ADCS), and small fixes
  src/collectors/windows.plugin/metadata.yaml
  src/collectors/windows.plugin/perflib-ad.c
  src/collectors/windows.plugin/perflib-adcs.c
  src/collectors/windows.plugin/windows_plugin.c
Labels: area/collectors, area/metadata, collectors/windows

#19490 cgroups.plugin: fixes to cgroup path validation
  src/collectors/cgroups.plugin/cgroup-network.c
Labels: area/collectors, collectors/cgroups

#19562 feat(go.d/dnsquery): support system DNS servers from /etc/resolv.conf
  src/go/go.mod
  src/go/plugin/go.d/collector/dnsquery/collector.go
  src/go/plugin/go.d/collector/dnsquery/collector_test.go
  src/go/plugin/go.d/collector/dnsquery/config_schema.json
  src/go/plugin/go.d/collector/dnsquery/init.go
  src/go/plugin/go.d/collector/dnsquery/metadata.yaml
  src/go/plugin/go.d/collector/dnsquery/resolvconf.go
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#19564 Add a new agent status when connecting to the cloud
  src/claim/cloud-status.c
  src/claim/cloud-status.h
Labels: area/claim

#19569 Fix memory leak
  src/database/sqlite/sqlite_health.c
  src/database/sqlite/sqlite_metadata.c
  src/web/api/v2/api_v2_claim.c
Labels: area/web, area/database

#19566 Code cleanup on ACLK messages
  src/aclk/aclk.c
  src/aclk/aclk.h
  src/database/rrdhost.c
  src/database/sqlite/sqlite_aclk.c
  src/database/sqlite/sqlite_metadata.c
  src/database/sqlite/sqlite_metadata.h
Labels: area/database, area/aclk

#19573 fix(go.d): clean up charts for stopped and removed jobs
  src/go/plugin/go.d/agent/agent.go
Labels: area/collectors, collectors/go.d, area/go

#19525 Improve data write
  src/database/engine/journalfile.c
  src/database/engine/journalfile.h
  src/database/engine/pagecache.c
  src/database/engine/rrdengine.c
  src/database/engine/rrdengine.h
Labels: area/database

#19577 fix(go.d/nvme): add missing "/dev/" prefix to device path for v2.11
  src/go/plugin/go.d/collector/nvme/collector_test.go
  src/go/plugin/go.d/collector/nvme/exec.go
Labels: area/collectors, collectors/go.d, area/go

#19579 Fix static build conditions to run on release and nightly builds.
  .github/workflows/build.yml
Labels: area/ci

#19578 build(deps): update go toolchain to v1.23.6
  packaging/check-for-go-toolchain.sh
Labels: area/packaging

#19580 fix(go.d/apache): make ?auto param check non-fatal
  src/go/plugin/go.d/collector/apache/collector_test.go
  src/go/plugin/go.d/collector/apache/init.go
Labels: area/collectors, collectors/go.d, area/go

#19576 Generate protobuf source files in build dir.
  .gitignore
  CMakeLists.txt
  packaging/cmake/Modules/NetdataProtobuf.cmake
  src/aclk/aclk_query.c
  src/aclk/schema-wrappers/connection.cc
  src/database/sqlite/sqlite_aclk.c
  src/exporting/prometheus/remote_write/remote_write_request.cc
Labels: area/packaging, area/exporting, area/database, area/aclk, area/build

#19582 Format missing file (eBPF.plugin)
  src/collectors/ebpf.plugin/ebpf.c
Labels: area/collectors, collectors/ebpf

#19584 improvement(go.d/zookeeper): add more metrics
  src/go/plugin/go.d/collector/zookeeper/charts.go
  src/go/plugin/go.d/collector/zookeeper/collect.go
  src/go/plugin/go.d/collector/zookeeper/collector.go
  src/go/plugin/go.d/collector/zookeeper/collector_test.go
  src/go/plugin/go.d/collector/zookeeper/fetcher.go
  src/go/plugin/go.d/collector/zookeeper/metadata.yaml
  src/go/plugin/go.d/collector/zookeeper/testdata/v3.9/mntr.txt
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#19587 docs(go.d/zookeeper): fix ZooKeeper server scope name
  src/go/plugin/go.d/collector/zookeeper/metadata.yaml
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#19589 docs(health): clarify "special user of the cond operator"
  src/health/REFERENCE.md
Labels: area/docs, area/health

#19590 docs(health): clarify "special user of the cond operator" p2
  src/health/REFERENCE.md
Labels: area/docs, area/health

#19575 Switch from x86 to ARM build host for POWER8+ builds.
  .github/data/distros.yml
  .github/workflows/docker.yml
Labels: area/ci

#19583 Add agent version during ACLK handshake
  src/aclk/aclk_otp.c
Labels: area/aclk

#19592 fix incomplete implementation of journal watcher
  src/collectors/systemd-journal.plugin/systemd-journal-watcher.c
  src/libnetdata/dictionary/dictionary-item.h
Labels: area/collectors, collectors/systemd-journal

#19594 Add check for available active instances when checking for extreme cardinality
  src/database/contexts/worker.c
Labels: area/database

#19593 Free resources where writing datafile extents
  src/database/engine/journalfile.c
  src/database/engine/rrdengine.c
Labels: area/database

#19599 dequeue from hub before deleting contexts
  src/database/contexts/worker.c
Labels: area/database

#19601 Update manage-notification-methods.md
  docs/alerts-and-notifications/notifications/centralized-cloud-notifications/manage-notification-methods.md
Labels: area/docs

#19586 Streaming alerts
  docs/nodes-ephemerality.md
  src/collectors/proc.plugin/sys_devices_pci_aer.c
  src/daemon/commands.c
  src/daemon/commands.h
  src/daemon/config/netdata-conf-db.c
  src/daemon/pulse/pulse-parents.c
  src/daemon/pulse/pulse-parents.h
  src/daemon/service.c
  src/database/contexts/rrdcontext.c
  src/database/engine/dbengine-stresstest.c
  src/database/rrdfunctions.c
  src/database/rrdhost-labels.c
  src/database/rrdhost-status.c
  src/database/rrdhost.c
  src/database/rrdhost.h
  src/database/rrdlabels.c
  src/database/sqlite/sqlite_aclk.c
  src/health/health.d/streaming.conf
  src/libnetdata/dictionary/dictionary.c
  src/libnetdata/simple_pattern/simple_pattern.c
  src/plugins.d/pluginsd_parser.c
  src/plugins.d/pluginsd_parser.h
  src/streaming/protocol/command-nodeid.c
  src/streaming/stream-conf.c
  src/streaming/stream-conf.h
  src/streaming/stream-connector.c
  src/streaming/stream-handshake.c
  src/streaming/stream-handshake.h
  src/streaming/stream-parents.c
  src/streaming/stream-parents.h
  src/streaming/stream-receiver-connection.c
  src/streaming/stream-receiver.c
  src/streaming/stream-sender.c
  src/web/api/formatters/charts2json.c
  src/web/api/functions/function-streaming.c
Labels: area/docs, area/web, area/health, area/collectors, area/daemon, area/database, area/streaming, area/aclk, collectors/proc, area/plugins.d

#19602 make remove-stale-node remove also ephemeral nodes
  src/daemon/commands.c
Labels: area/daemon

#19603 cleanup hosts - leftover code
  src/database/rrdhost.c
Labels: area/database

#19604 docs: reword nodes-ephemerality for clarity
  docs/nodes-ephemerality.md
Labels: area/docs

#19606 add interpolation to median and percentile
  src/collectors/statsd.plugin/statsd.c
  src/libnetdata/statistical/statistical.c
  src/libnetdata/statistical/statistical.h
Labels: area/collectors, collectors/statsd

#19607 Disable LTO for openSUSE package builds.
  netdata.spec.in
Labels: area/packaging

#19600 Close database if we encounter error during startup
  src/database/sqlite/sqlite_metadata.c
Labels: area/database

#19610 silence new alerts
  src/health/health.d/streaming.conf
Labels: area/health

#19611 Allow indirect access when agent is claimed, but offline (indirect cloud connectivity)
  src/claim/claim_id.c
  src/claim/cloud-status.c
  src/registry/registry.c
Labels: area/registry, area/claim

#19609 Do not register removed node on agent restart
  src/database/sqlite/sqlite_aclk.c
Labels: area/database, area/aclk

#19616 improvement(health): clarify clickhouse_replicated_readonly_tables info
  src/health/health.d/clickhouse.conf
Labels: area/health

#19608 Add sentry fatal message breadcrumb.
  src/daemon/daemon-shutdown.c
  src/daemon/sentry-native/sentry-native.c
  src/daemon/sentry-native/sentry-native.h
Labels: area/daemon

#19618 fix(go.d/mysql): handle Cpu_time in microseconds in v11.4.5+
  src/go/plugin/go.d/collector/mysql/collect_user_statistics.go
  src/go/plugin/go.d/collector/mysql/collector_test.go
  src/go/plugin/go.d/collector/mysql/testdata/mariadb/v11.4.5/user_statistics.txt
  src/go/plugin/go.d/collector/mysql/testdata/mariadb/v11.4.5/version.txt
Labels: area/collectors, collectors/go.d, area/go

#19614 fix: correct typo in NetdataCompilerFlags
  packaging/cmake/Modules/NetdataCompilerFlags.cmake
Labels: area/packaging

#19619 Switch to Ubuntu 22.04 runner images for CI build jobs.
  .github/data/distros.yml
Labels: area/ci

#19628 do not send sentry reports on rrd_init() failures
  src/daemon/daemon-shutdown.c
  src/daemon/daemon-shutdown.h
  src/daemon/main.c
Labels: area/daemon

#19622 detect the system ca bundle at runtime
  CMakeLists.txt
  packaging/makeself/install-or-update.sh
  packaging/makeself/jobs/50-curl.install.sh
  packaging/makeself/jobs/70-netdata-git.install.sh
  src/daemon/config/netdata-conf-ssl.c
  src/daemon/config/netdata-conf-ssl.h
  src/daemon/config/netdata-conf-web.c
  src/daemon/config/netdata-conf.h
  src/daemon/environment.c
  src/daemon/main.c
Labels: area/packaging, area/daemon, area/build

#19630 Revert "HyperV Adjusts (windows.plugin)"
  src/collectors/windows.plugin/perflib-hyperv.c
Labels: area/collectors, collectors/windows

#19633 docs(exporting): remove influxdb (via graphite) exporter
  src/exporting/graphite/metadata.yaml
Labels: area/exporting, area/metadata

#19635 docs(exporting): clarify graphite exporters
  src/exporting/graphite/metadata.yaml
Labels: area/exporting, area/metadata

#19637 docs: add missing prop to graphite meta
  src/exporting/graphite/metadata.yaml
Labels: area/exporting, area/metadata

#19638 add Group=netdata to systemd unit file
  system/systemd/netdata.service.in
  system/systemd/netdata.service.v235.in
Labels: area/packaging

#19645 docs: move /run/dbus mount to Docker recommended way
  integrations/deploy.yaml
  packaging/docker/README.md
Labels: area/packaging, area/docs, area/metadata

#19656 add agent timezones as host labels
  src/database/rrdhost-labels.c
Labels: area/database

#19657 improvement(go.d/k8sstate): collect deployments
  src/go/plugin/go.d/collector/k8s_state/charts.go
  src/go/plugin/go.d/collector/k8s_state/collect.go
  src/go/plugin/go.d/collector/k8s_state/collector_test.go
  src/go/plugin/go.d/collector/k8s_state/discover_deployment.go
  src/go/plugin/go.d/collector/k8s_state/discover_kubernetes.go
  src/go/plugin/go.d/collector/k8s_state/metadata.yaml
  src/go/plugin/go.d/collector/k8s_state/resource.go
  src/go/plugin/go.d/collector/k8s_state/state.go
  src/go/plugin/go.d/collector/k8s_state/update_deployment_state.go
  src/go/plugin/go.d/collector/k8s_state/update_state.go
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#19662 improvement(go.d/k8sstate): add deployment conditions
  src/go/plugin/go.d/collector/k8s_state/charts.go
  src/go/plugin/go.d/collector/k8s_state/collect.go
  src/go/plugin/go.d/collector/k8s_state/collector_test.go
  src/go/plugin/go.d/collector/k8s_state/metadata.yaml
  src/go/plugin/go.d/collector/k8s_state/state.go
  src/go/plugin/go.d/collector/k8s_state/update_deployment_state.go
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#19664 add k8s_state_deployment_condition_available alert
  src/health/health.d/k8sstate.conf
Labels: area/health

#19666 improvement(go.d dyncfg): add user to source
  src/go/plugin/go.d/agent/jobmgr/dyncfg.go
  src/go/plugin/go.d/agent/jobmgr/dyncfg_collector.go
  src/go/plugin/go.d/agent/jobmgr/dyncfg_vnode.go
Labels: area/collectors, collectors/go.d, area/go

#19668 chore: remove lock files from go.d/python.d
  src/collectors/python.d.plugin/python.d.plugin.in
  src/go/cmd/godplugin/config.go
  src/go/cmd/godplugin/main.go
  src/go/plugin/go.d/agent/agent.go
  src/go/plugin/go.d/agent/jobmgr/di.go
  src/go/plugin/go.d/agent/jobmgr/dyncfg_collector.go
  src/go/plugin/go.d/agent/jobmgr/manager.go
Labels: area/collectors, collectors/python.d, collectors/go.d, area/go

#19671 fix(go.d/k8sstate): correct deployment conditions
  src/go/plugin/go.d/collector/k8s_state/collect.go
  src/go/plugin/go.d/collector/k8s_state/collector_test.go
Labels: area/collectors, collectors/go.d, area/go

#19672 improvement(go.d dyncfg): log collector dyncfg actions
  src/go/plugin/go.d/agent/jobmgr/dyncfg_collector.go
Labels: area/collectors, collectors/go.d, area/go

#19673 fix(go.d dyncfg): don't overwrite source
  src/go/plugin/go.d/agent/jobmgr/dyncfg_collector.go
  src/go/plugin/go.d/agent/jobmgr/dyncfg_vnode.go
Labels: area/collectors, collectors/go.d, area/go

#19676 test(go.d dyncfg): fix tests
  src/go/plugin/go.d/agent/jobmgr/manager_test.go
Labels: area/collectors, collectors/go.d, area/go

#19674 Dyncfg users actions log
  CMakeLists.txt
  src/collectors/systemd-journal.plugin/systemd-journal-annotations.c
  src/daemon/dyncfg/dyncfg-intercept.c
  src/daemon/dyncfg/dyncfg-tree.c
  src/libnetdata/http/http_access.c
  src/libnetdata/http/http_access.h
  src/libnetdata/uuid/uuid.h
  src/web/api/request_source.c
  src/web/api/request_source.h
  src/web/api/web_api.c
  src/web/api/web_api.h
Labels: area/web, area/collectors, area/daemon, area/build, collectors/systemd-journal

#19643 Fix native package installation on RHEL.
  packaging/installer/kickstart.sh
Labels: area/packaging

#19678 initial setup of custom OpenTelemetry Collector distribution
  src/go/otel-collector/README.md
  src/go/otel-collector/builder-config.yaml
  src/go/otel-collector/exporter/journaldexporter/config.go
  src/go/otel-collector/exporter/journaldexporter/doc.go
  src/go/otel-collector/exporter/journaldexporter/exporter.go
  src/go/otel-collector/exporter/journaldexporter/factory.go
  src/go/otel-collector/exporter/journaldexporter/generated_component_test.go
  src/go/otel-collector/exporter/journaldexporter/generated_package_test.go
  src/go/otel-collector/exporter/journaldexporter/go.mod
  src/go/otel-collector/exporter/journaldexporter/go.sum
  src/go/otel-collector/exporter/journaldexporter/internal/metadata/generated_status.go
  src/go/otel-collector/exporter/journaldexporter/metadata.yaml
Labels: area/docs, area/collectors, collectors/go.d, area/metadata, area/go

#19680 build: change go.mod version to 1.23.6
  src/go/go.mod
  src/go/otel-collector/exporter/journaldexporter/go.mod
Labels: area/collectors, collectors/go.d, area/go

#19677 Fix freebsd compilation
  src/collectors/freebsd.plugin/freebsd_devstat.c
  src/collectors/freebsd.plugin/freebsd_getifaddrs.c
  src/collectors/freebsd.plugin/freebsd_getmntinfo.c
  src/collectors/freebsd.plugin/freebsd_sysctl.c
Labels: area/collectors, collectors/freebsd

#19681 build: change go.mod version to 1.23.4 to fix win ci builds
  src/go/go.mod
  src/go/otel-collector/exporter/journaldexporter/go.mod
Labels: area/collectors, collectors/go.d, area/go

#19684 improve dyncfg src type anon message
  src/daemon/dyncfg/dyncfg-tree.c
Labels: area/daemon

#19685 allow parsing empty json arrays and objects
  src/collectors/log2journal/log2journal-json.c
Labels: area/collectors

#19686 Switch back to x86 hosts for POWER8+ builds.
  .github/data/distros.yml
Labels: area/ci

#19687 chore(go.d/mysql): InnodbOSLogIO in MariaDB >= 10.8
  src/go/plugin/go.d/collector/mysql/charts.go
  src/go/plugin/go.d/collector/mysql/collect.go
Labels: area/collectors, collectors/go.d, area/go

#19688 chore(go.d/pkg/iprange): add iterator
  src/go/plugin/go.d/pkg/iprange/README.md
  src/go/plugin/go.d/pkg/iprange/iterator.go
  src/go/plugin/go.d/pkg/iprange/range.go
  src/go/plugin/go.d/pkg/iprange/range_test.go
Labels: area/docs, area/collectors, collectors/go.d, area/go

#19689 load health config before creating localhost
  src/database/rrd.c
  src/database/rrdhost.c
  src/health/health.c
  src/health/health.h
Labels: area/health, area/database

#19452 Enable libunwind in native packages and Docker images.
  CMakeLists.txt
  netdata.spec.in
  packaging/build-package.sh
  packaging/docker/Dockerfile
Labels: area/packaging, area/build, run-ci/packaging

#19696 change the moto and the description of netdata
  netdata-installer.sh
  netdata.spec.in
  packaging/cmake/Modules/Packaging.cmake
  packaging/installer/kickstart.sh
  packaging/makeself/makeself-help-header.txt
  packaging/makeself/makeself-license.txt
  packaging/makeself/makeself.lsm
  src/daemon/main.c
  system/initd/init.d/netdata.in
  system/lsb/init.d/netdata.in
  system/systemd/netdata.service.in
  system/systemd/netdata.service.v235.in
Labels: area/packaging, area/daemon

#19700 build(deps): update go.d packages
  src/go/go.mod
  src/go/go.sum
  src/go/plugin/go.d/collector/k8s_kubelet/collect.go
  src/go/plugin/go.d/collector/k8s_kubeproxy/collect.go
  src/go/plugin/go.d/pkg/prometheus/parse.go
Labels: area/collectors, collectors/go.d, area/go

#19704 add host/os fields to status file
  src/daemon/daemon-status-file.c
  src/daemon/daemon-status-file.h
  src/daemon/main.c
  src/database/rrdhost-system-info.c
  src/database/rrdhost-system-info.h
Labels: area/daemon, area/database

#19706 fix runtime directory; annotate daemon status file
  src/daemon/daemon-status-file.c
  src/daemon/daemon.h
  src/daemon/environment.c
  src/daemon/main.c
  src/daemon/signals.c
  src/libnetdata/os/run_dir.c
  src/libnetdata/spawn_server/spawn_server_nofork.c
  src/registry/registry_init.c
Labels: area/daemon, area/registry

#19707 daemon status improvements 3
  src/claim/claim-with-api.c
  src/claim/cloud-conf.c
  src/daemon/daemon-status-file.c
  src/daemon/daemon-status-file.h
  src/daemon/main.c
  src/database/rrd.c
  src/database/rrdhost-system-info.c
  src/libnetdata/spawn_server/spawn_server_nofork.c
  src/registry/registry.h
  src/registry/registry_internals.c
Labels: area/daemon, area/database, area/registry, area/claim

#19708 Check for final step
  src/daemon/daemon-status-file.c
Labels: area/daemon

#19709 Avoid post initialization errors repeateadly
  src/daemon/daemon-shutdown.c
  src/daemon/daemon-status-file.c
  src/daemon/daemon-status-file.h
  src/daemon/main.c
  src/daemon/signals.c
Labels: area/daemon

#19710 Fix Fresh Installation on Microsoft
  packaging/windows/netdata.wxs.in
Labels: area/packaging

#19711 4 malloc arenas for parents, not IoT
  src/daemon/config/netdata-conf-profile.c
Labels: area/daemon

#19712 deduplicate all crash reports
  src/daemon/daemon-status-file.c
  src/daemon/daemon-status-file.h
  src/daemon/environment.c
  src/libnetdata/log/nd_log-field-formatters.c
  src/libnetdata/log/nd_log-internals.h
  src/libnetdata/log/nd_log.c
  src/libnetdata/log/nd_log.h
Labels: area/daemon

#19713 systemd-journal: allow almost all fields to be facets
  src/collectors/systemd-journal.plugin/systemd-journal.c
Labels: area/collectors, collectors/systemd-journal

#19714 do not use mmap when the mmap limit is too low
  CMakeLists.txt
  src/libnetdata/aral/aral.c
  src/libnetdata/os/mmap_limit.c
  src/libnetdata/os/mmap_limit.h
  src/libnetdata/os/os.h
Labels: area/build

#19715 do not call cleanup and exit on fatal conditions during startup
  src/daemon/daemon-shutdown.h
  src/daemon/daemon-systemd-watcher.c
  src/daemon/main.c
  src/libnetdata/libnetdata.h
  src/libnetdata/log/nd_log-internals.h
  src/libnetdata/log/nd_log.c
  src/libnetdata/log/nd_log.h
  src/libnetdata/required_dummies.h
Labels: area/daemon

#19716 chore(go.d): add file persister
  src/go/plugin/go.d/agent/agent.go
  src/go/plugin/go.d/agent/filepersister/persister.go
  src/go/plugin/go.d/agent/filepersister/persister_test.go
  src/go/plugin/go.d/agent/filestatus/manager.go
  src/go/plugin/go.d/agent/filestatus/manager_test.go
  src/go/plugin/go.d/agent/filestatus/store.go
  src/go/plugin/go.d/agent/filestatus/store_test.go
  src/go/plugin/go.d/agent/jobmgr/di.go
  src/go/plugin/go.d/agent/jobmgr/dyncfg_collector.go
  src/go/plugin/go.d/agent/jobmgr/filestatus.go
  src/go/plugin/go.d/agent/jobmgr/manager.go
  src/go/plugin/go.d/agent/jobmgr/noop.go
Labels: area/collectors, collectors/go.d, area/go

#19717 unified out of memory handling
  src/daemon/daemon-status-file.c
  src/daemon/winsvc.cc
  src/database/engine/datafile.c
  src/database/engine/journalfile.c
  src/database/engine/pdc.c
  src/database/engine/rrdengine.c
  src/libnetdata/memory/nd-mallocz.c
  src/libnetdata/memory/nd-mallocz.h
Labels: area/daemon, area/database

#19718 attempt to save status file from the signal handler
  src/daemon/daemon-status-file.c
  src/daemon/daemon-status-file.h
  src/daemon/signals.c
Labels: area/daemon

#19721 more status file annotations
  src/daemon/daemon-status-file.c
Labels: area/daemon

#19722 status has install type
  src/daemon/buildinfo.h
  src/daemon/config/netdata-conf-global.c
  src/daemon/daemon-status-file.c
  src/daemon/daemon-status-file.h
Labels: area/daemon

#19723 minor status file annotation fixes
  src/daemon/daemon-status-file.c
Labels: area/daemon

#19724 allow configuring journal v2 unmount time; turn it off for parents
  src/daemon/config/netdata-conf-db.c
  src/daemon/config/netdata-conf-profile.c
  src/daemon/config/netdata-conf-profile.h
  src/database/engine/journalfile.c
Labels: area/daemon, area/database

#19726 improve status file deduplication
  netdata-installer.sh
  src/daemon/daemon-shutdown-watcher.c
  src/daemon/daemon-shutdown-watcher.h
  src/daemon/daemon-shutdown.c
  src/daemon/daemon-status-file.c
  src/daemon/daemon-status-file.h
  src/libnetdata/json/json-c-parser-inline.h
  src/libnetdata/memory/nd-mallocz.c
Labels: area/packaging, area/daemon

#19727 docs: clarify Windows Agent limits on free plans
  packaging/windows/WINDOWS_INSTALLER.md
Labels: area/packaging, area/docs

#19730 improved descriptions of exit reasons
  src/daemon/daemon-status-file.c
  src/libnetdata/exit/exit_initiated.c
Labels: area/daemon

#19732 fix json generation of apps.plugin processes function info
  src/collectors/apps.plugin/apps_functions.c
Labels: area/collectors, collectors/apps

#19733 support https_proxy too
  src/aclk/aclk_proxy.c
  src/claim/README.md
Labels: area/docs, area/claim, area/aclk

#19735 add more information about claiming failures
  src/claim/claim-with-api.c
  src/claim/claim.h
  src/claim/cloud-conf.c
Labels: area/claim

#19736 allow insecure cloud connections
  src/aclk/aclk.c
  src/aclk/https_client.c
Labels: area/aclk

#19731 add another step when initializing web
  src/daemon/config/netdata-conf-web.c
  src/daemon/main.c
Labels: area/daemon
