Repository netdata/netdata, pull requests merged in 2025-09, with the labels that each got.

#20915 fix(netdata-updater): resolve "run: command not found" error in offline install
  packaging/installer/netdata-updater.sh
Labels: area/packaging

#20922 chore(go.d): remove unused resolve hostname functionality
  src/go/plugin/go.d/agent/confgroup/config.go
  src/go/plugin/go.d/agent/confgroup/config_test.go
  src/go/plugin/go.d/agent/hostinfo/hostinfo.go
Labels: area/collectors, collectors/go.d, area/go

#20923 fix(go.d/weblog): remove path pattern validation in dyncfg
  src/go/plugin/go.d/collector/weblog/config_schema.json
Labels: area/collectors, collectors/go.d, area/go

#20940 Update account.md
  docs/delete/netdata/account.md
Labels: area/docs

#20931 chore(go.d/pkgs/logs): validation fixes, resource safety, and cleanup
  src/go/plugin/go.d/pkg/logs/csv.go
  src/go/plugin/go.d/pkg/logs/lastline.go
  src/go/plugin/go.d/pkg/logs/lastline_test.go
  src/go/plugin/go.d/pkg/logs/reader.go
  src/go/plugin/go.d/pkg/logs/regexp.go
Labels: area/collectors, collectors/go.d, area/go

#20942 Migrate the map from Learn repo to netdata/netdata
  docs/.map/README.md
  docs/.map/map.csv
Labels: area/docs

#20945 Add map.csv to triggers for Docs ingest workflow
  .github/workflows/trigger-learn-update.yml
Labels: area/ci

#20946 Update account.md
  docs/delete/netdata/account.md
Labels: area/docs

#20938 Add Network Labels to Windows.
  CMakeLists.txt
  src/daemon/win_system-info.c
  src/libnetdata/os/windows-api/windows_api.c
  src/libnetdata/os/windows-api/windows_api.h
Labels: area/daemon, area/build

#20951 move whole category and fix leftovers
  docs/.map/map.csv
  docs/netdata-agent/README.md
Labels: area/docs

#20972 docs(go.d/snmp): remove legacy "custom oid" cfg examples
  src/go/plugin/go.d/collector/snmp/metadata.yaml
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#20975 docs(go.d): add UI configuration instructions and restructure Configuration section
  integrations/templates/setup.md
Labels: area/docs, area/metadata

#20977 docs: restructure Setup, update SNMP prerequisites, and fix SNMP options
  integrations/templates/setup.md
  integrations/templates/setup/sample-go-config.md
  src/go/plugin/go.d/collector/snmp/metadata.yaml
Labels: area/docs, area/collectors, collectors/go.d, area/metadata, area/go

#20980 docs: improve config options table with grouped section headers
  integrations/schemas/shared.json
  integrations/templates/setup.md
  src/go/plugin/go.d/collector/snmp/metadata.yaml
Labels: area/docs, area/collectors, collectors/go.d, area/metadata, area/go

#20981 chore: add `-c` option to gen docs for a single collector
  integrations/gen_docs_integrations.py
Labels: area/metadata

#20952 Enhance README with publishing instructions for docs
  docs/.map/README.md
Labels: area/docs

#20991 Document accuracy implications of sampling algorithm
  src/collectors/systemd-journal.plugin/README.md
Labels: area/docs, area/collectors, collectors/systemd-journal

#20993 ci: rm macos 13, add macos 26
  .github/workflows/build.yml
Labels: area/ci

#20996 chore(go.d): skip HOST for vnodes during Cleanup with stale label
  src/go/plugin/go.d/agent/module/job.go
Labels: area/collectors, collectors/go.d, area/go

#20997 docs: add "per cpu core utilization" option to proc/stat meta
  src/collectors/proc.plugin/metadata.yaml
Labels: area/collectors, collectors/proc, area/metadata

#21001 docs: add "cpu idle state" procstat config option
  src/collectors/proc.plugin/metadata.yaml
Labels: area/collectors, collectors/proc, area/metadata

#21006 deps(mcp/bridge/stdio-golang): switch to github.com/coder/websocket
  src/web/mcp/bridges/stdio-golang/README.md
  src/web/mcp/bridges/stdio-golang/build.bat
  src/web/mcp/bridges/stdio-golang/build.sh
  src/web/mcp/bridges/stdio-golang/go.mod
  src/web/mcp/bridges/stdio-golang/go.sum
  src/web/mcp/bridges/stdio-golang/nd-mcp.go
Labels: area/docs, area/web

#20984 Update best-practices.md
  docs/observability-centralization-points/best-practices.md
Labels: area/docs

#21009 chore(go.d): use forked gosnmp to fix SNMPv3 REPORT handling for UniFi APs
  src/go/go.mod
  src/go/go.sum
Labels: area/collectors, collectors/go.d, area/go

#20983 chore: refactor get_doc_integrations.py to use main() and improve structure
  integrations/gen_docs_integrations.py
Labels: area/metadata

#21010 chore(go.d/snmp): remove recreating client on "packet is not authentic"
  src/go/plugin/go.d/collector/snmp/collector.go
Labels: area/collectors, collectors/go.d, area/go

#20860 Handle virtual host disconnection
  src/daemon/service.c
  src/database/rrdhost.h
  src/database/sqlite/sqlite_aclk_node.c
  src/plugins.d/pluginsd_parser.c
  src/plugins.d/pluginsd_parser.h
  src/streaming/stream-handshake.c
  src/streaming/stream-handshake.h
Labels: area/daemon, area/database, area/streaming, area/aclk, area/plugins.d

#21013 improve(go.d/ddsnmp): add alternatives support for virtual metrics
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/virtual_metrics.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collector_vmetrics.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collector_vmetrics_test.go
Labels: area/collectors, collectors/go.d, area/go

#21015 Fix MDX compilation errors in realtime-monitoring.md
  docs/realtime-monitoring.md
Labels: area/docs

#21016 Fix MDX parsing errors in realtime-monitoring.md
  docs/realtime-monitoring.md
Labels: area/docs

#21019 docs: Rename 'Top Monitoring' to 'Top Consumers' in Functions documentation
  docs/top-monitoring-netdata-functions.md
Labels: area/docs

#21023 improve(go.d/snmp): add `manual_profiles` option
  src/go/plugin/go.d/collector/snmp/collect.go
  src/go/plugin/go.d/collector/snmp/config.go
  src/go/plugin/go.d/collector/snmp/config_schema.json
  src/go/plugin/go.d/collector/snmp/ddsnmp/profile.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/profile_test.go
  src/go/plugin/go.d/collector/snmp/testdata/config.json
  src/go/plugin/go.d/collector/snmp/testdata/config.yaml
Labels: area/collectors, collectors/go.d, area/go

#21024 build(deps): bump openssl and curl version in static build
  packaging/makeself/bundled-packages.version
Labels: area/packaging

#21025 build(deps): update go toolchain to v1.25.1
  .github/workflows/build.yml
  netdata.spec.in
  packaging/check-for-go-toolchain.sh
Labels: area/ci, area/packaging

#21027 Update README.md
  src/web/api/README.md
Labels: area/docs, area/web

#21026 chore(go.d/snmp): remove/disable legacy components
  src/go/plugin/go.d/collector/snmp/charts.go
  src/go/plugin/go.d/collector/snmp/collect.go
  src/go/plugin/go.d/collector/snmp/collect_if_mib.go
  src/go/plugin/go.d/collector/snmp/collector.go
  src/go/plugin/go.d/collector/snmp/collector_test.go
  src/go/plugin/go.d/collector/snmp/config.go
  src/go/plugin/go.d/collector/snmp/config_schema.json
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collector.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collector_table_test.go
  src/go/plugin/go.d/collector/snmp/init.go
  src/go/plugin/go.d/collector/snmp/metadata.yaml
  src/go/plugin/go.d/collector/snmp/testdata/config.json
  src/go/plugin/go.d/collector/snmp/testdata/config.yaml
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#20638 ml: implement fixed time-based training windows
  src/ml/ml.cc
  src/ml/ml_config.cc
  src/ml/ml_config.h
  src/ml/ml_features.cc
  src/ml/ml_features.h
  src/ml/ml_public.cc
Labels: area/ml

#21032 docs: fix mdx parsing scalability.md
  docs/scalability.md
Labels: area/docs

#21040 Context loading priority to vnodes
  src/database/engine/mrg-internals.h
  src/database/sqlite/sqlite_aclk.c
  src/database/sqlite/sqlite_metadata.c
Labels: area/database, area/aclk

#21041 Add documentation on using custom CA certificates to Learn
  docs/.map/map.csv
  docs/netdata-agent/configuration/using-custom-ca-certificates-with-netdata.md
Labels: area/docs

#21043 ai-docs
  docs/.map/map.csv
  docs/category-overview-pages/machine-learning-and-assisted-troubleshooting.md
  docs/ml-ai/ai-devops-copilot/ai-devops-copilot.md
  docs/ml-ai/ai-insights.md
  docs/netdata-ai/insights/anomaly-analysis.md
  docs/netdata-ai/insights/capacity-planning.md
  docs/netdata-ai/insights/infrastructure-summary.md
  docs/netdata-ai/insights/performance-optimization.md
  docs/netdata-ai/insights/scheduled-reports.md
  docs/netdata-ai/investigations/custom-investigations.md
  docs/netdata-ai/investigations/index.md
  docs/netdata-ai/investigations/scheduled-investigations.md
  docs/netdata-ai/troubleshooting/index.md
  docs/netdata-ai/troubleshooting/troubleshoot-button.md
  docs/troubleshooting/custom-investigations.md
  docs/troubleshooting/troubleshoot.md
Labels: area/docs

#21054 feat(go.d/snmp): enable ping by default
  src/go/plugin/go.d/collector/ping/prober.go
  src/go/plugin/go.d/collector/snmp/charts.go
  src/go/plugin/go.d/collector/snmp/collect.go
  src/go/plugin/go.d/collector/snmp/collector.go
  src/go/plugin/go.d/collector/snmp/config_schema.json
  src/go/plugin/go.d/collector/snmp/init.go
  src/go/plugin/go.d/collector/snmp/metadata.yaml
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#21064 feat(go.d/snmp): add `ping_only` option
  src/go/plugin/go.d/collector/ping/prober.go
  src/go/plugin/go.d/collector/snmp/collect.go
  src/go/plugin/go.d/collector/snmp/collector.go
  src/go/plugin/go.d/collector/snmp/collector_test.go
  src/go/plugin/go.d/collector/snmp/config.go
  src/go/plugin/go.d/collector/snmp/config_schema.json
  src/go/plugin/go.d/collector/snmp/metadata.yaml
  src/go/plugin/go.d/collector/snmp/testdata/config.json
  src/go/plugin/go.d/collector/snmp/testdata/config.yaml
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#20990 Add helper to run external commands without additional privileges.
  CMakeLists.txt
  netdata.spec.in
  packaging/cmake/Modules/NetdataGoTools.cmake
  packaging/cmake/config.cmake.h.in
  src/collectors/apps.plugin/apps_plugin.c
  src/collectors/debugfs.plugin/debugfs_plugin.c
  src/collectors/utils/nd-run.c
  src/go/pkg/buildinfo/buildinfo.go
  src/go/plugin/go.d/pkg/README.md
  src/go/plugin/go.d/pkg/ndexec/ndexec.go
  src/libnetdata/common.h
Labels: area/packaging, area/docs, area/collectors, area/build, collectors/apps, collectors/go.d, collectors/debugfs, area/go

#21074 build(deps): bump openssl version in static build
  packaging/makeself/bundled-packages.version
Labels: area/packaging
