Repository netdata/netdata, pull requests merged in 2025-06, with the labels that each got.

#20386 apps.plugin documentation and grouping matches improvements
  src/collectors/apps.plugin/README.md
  src/collectors/apps.plugin/apps_groups.conf
  src/collectors/apps.plugin/apps_pid_match.c
  src/libnetdata/string/string.c
  src/libnetdata/string/string.h
Labels: area/docs, area/collectors, collectors/apps

#20392 improvement(go.d/httpcheck): add resp validation debug logging
  src/go/plugin/go.d/collector/httpcheck/collect.go
Labels: area/collectors, collectors/go.d, area/go

#20384 Improve DynCfg documentation
  docs/developer-and-contributor-corner/dyncfg.md
  docs/netdata-agent/configuration/dynamic-configuration.md
Labels: area/docs

#20394 feat(go.d): allow to debug a specific job
  src/go/cmd/godplugin/main.go
  src/go/plugin/go.d/agent/agent.go
  src/go/plugin/go.d/agent/jobmgr/manager.go
  src/go/plugin/go.d/cli/cli.go
Labels: area/collectors, collectors/go.d, area/go

#20350 Improve retention calculation after datafile deletion
  src/database/engine/rrdengine.c
Labels: area/database

#20404 Rename nd-mcp on windows
  CMakeLists.txt
Labels: area/build

#20407 SNMP: _juniper-firewall.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/_juniper-firewall.yaml
Labels: area/collectors, collectors/go.d, area/go

#20409 SNMP: _juniper-userfirewall.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/_juniper-userfirewall.yaml
Labels: area/collectors, collectors/go.d, area/go

#20408 SNMP: _juniper-scu.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/_juniper-scu.yaml
Labels: area/collectors, collectors/go.d, area/go

#20406 SNMP: _juniper-dcu.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/_juniper-dcu.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/_juniper-scu.yaml
Labels: area/collectors, collectors/go.d, area/go

#20416 Fix context updates
  src/database/contexts/rrdcontext-queues.c
Labels: area/database

#20420 chore(go.d/ddsnmp): correctly handle all mapping types
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collect_device_meta.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collect_scalar.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collector.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collector_test.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/utils.go
Labels: area/collectors, collectors/go.d, area/go

#20418 update_installer: Update remove instruction
  packaging/windows/WINDOWS_INSTALLER.md
  packaging/windows/netdata.wxs.in
Labels: area/packaging, area/docs

#20426 feat(go.d/snmp): enable profile scalar metrics collection
  src/go/plugin/go.d/collector/snmp/charts.go
  src/go/plugin/go.d/collector/snmp/collect.go
  src/go/plugin/go.d/collector/snmp/collect_profiles.go
  src/go/plugin/go.d/collector/snmp/collector.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/metrics.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collect_scalar.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collector.go
Labels: area/collectors, collectors/go.d, area/go

#20399 docs(go.d): add example how to debug a specific job
  integrations/templates/troubleshooting.md
Labels: area/docs, area/metadata

#20427 chore(go.d/ddsnmp): lazy ddsnmp profile loading
  src/go/plugin/go.d/collector/snmp/ddsnmp/profile.go
Labels: area/collectors, collectors/go.d, area/go

#20429 Update MSSQL Metadata
  src/collectors/windows.plugin/README.md
  src/collectors/windows.plugin/metadata.yaml
Labels: area/docs, area/collectors, area/metadata, collectors/windows

#20428 update ddsnmp mikrotik-router.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/mikrotik-router.yaml
Labels: area/collectors, collectors/go.d, area/go

#20434 Adjust stream connector timeout during agent shutdown
  src/streaming/stream-connector.c
Labels: area/streaming

#20431 Fix heap-use-after-free in query progress updates
  src/daemon/dyncfg/dyncfg-intercept.c
  src/database/rrdfunctions.h
  src/plugins.d/pluginsd_functions.c
  src/streaming/stream-sender-execute.c
  src/web/api/v1/api_v1_config.c
  src/web/api/v1/api_v1_function.c
  src/web/api/web_api.c
  src/web/api/web_api.h
Labels: area/web, area/daemon, area/database, area/streaming, area/plugins.d

#20435 Mcp3
  src/web/mcp/mcp-tools-execute-function-internal.h
  src/web/mcp/mcp-tools-execute-function.c
  src/web/mcp/mcp-web-client/.gitignore
  src/web/mcp/mcp-web-client/README.md
  src/web/mcp/mcp-web-client/app.js
  src/web/mcp/mcp-web-client/debug-messages.js
  src/web/mcp/mcp-web-client/index.html
  src/web/mcp/mcp-web-client/llm-providers.js
  src/web/mcp/mcp-web-client/llm-proxy.js
  src/web/mcp/mcp-web-client/mcp-client.js
  src/web/mcp/mcp-web-client/styles.css
Labels: area/docs, area/web

#20437 Fix registry save integer overflow and add failure backoff
  src/registry/registry_db.c
  src/registry/registry_internals.h
Labels: area/registry

#20439 improvement(go.d/ddsnmp): use dev type and vendor from meta for family
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collector.go
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/mikrotik-router.yaml
Labels: area/collectors, collectors/go.d, area/go

#20443 Weblog collector: Exclude 429 from 4xx
  src/go/plugin/go.d/collector/squidlog/collect.go
  src/go/plugin/go.d/collector/weblog/collect.go
  src/health/health.d/web_log.conf
Labels: area/health, area/collectors, collectors/go.d, area/go

#20461 build: update otel-collector deps
  src/go/otel-collector/builder-config.yaml
  src/go/otel-collector/exporter/journaldexporter/go.mod
  src/go/otel-collector/exporter/journaldexporter/go.sum
  src/go/otel-collector/exporter/netdataexporter/go.mod
  src/go/otel-collector/exporter/netdataexporter/go.sum
  src/go/otel-collector/release-config.yaml.in
Labels: area/collectors, collectors/go.d, area/go

#20465 improvement(go.d/ddsnmp): add table metrics and tags caching optimization
  src/go/plugin/go.d/collector/snmp/charts.go
  src/go/plugin/go.d/collector/snmp/collect_profiles.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collect_scalar.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collect_table.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collector.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collector_test.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/table_cache.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/table_cache_test.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/utils.go
Labels: area/collectors, collectors/go.d, area/go

#20464 Improve datafile rotation and indexing during shutdown
  src/daemon/daemon-shutdown.c
  src/database/engine/dbengine-stresstest.c
  src/database/engine/dbengine-unittest.c
  src/database/engine/rrdengine.c
  src/database/engine/rrdengine.h
  src/database/engine/rrdengineapi.c
  src/database/engine/rrdengineapi.h
Labels: area/daemon, area/database

#20471 improvement(go.d/snmp): create table charts
  src/go/plugin/go.d/collector/snmp/charts.go
  src/go/plugin/go.d/collector/snmp/collect_profiles.go
  src/go/plugin/go.d/collector/snmp/collector.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collect_table.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collector.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collector_test.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/table_cache.go
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/_generic-if.yaml
Labels: area/collectors, collectors/go.d, area/go

#20474 chore(go.d/ddsnmp): add dependency-based expiration to table cache
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/table_cache.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/table_cache_test.go
Labels: area/collectors, collectors/go.d, area/go

#20478 fix(go.d/redis): don't clear tls for rediss
  src/go/plugin/go.d/collector/redis/init.go
Labels: area/collectors, collectors/go.d, area/go

#20481 chore(go.d/ddsnmp): collect cross-table metrics and tags
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collect_table.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collector_test.go
Labels: area/collectors, collectors/go.d, area/go

#20480 Correctly ignore patches that are already applied.
  packaging/cmake/patches/apply-patches.sh
Labels: area/packaging

#20467 Modify Uninstall Action (windows.installer)
  packaging/windows/netdata.wxs.in
Labels: area/packaging

#20489 fix(go.d): add missing props to config schemas
  src/go/plugin/go.d/collector/activemq/config_schema.json
  src/go/plugin/go.d/collector/apache/config_schema.json
  src/go/plugin/go.d/collector/bind/config_schema.json
  src/go/plugin/go.d/collector/cassandra/config_schema.json
  src/go/plugin/go.d/collector/ceph/config_schema.json
  src/go/plugin/go.d/collector/clickhouse/config_schema.json
  src/go/plugin/go.d/collector/cockroachdb/config_schema.json
  src/go/plugin/go.d/collector/consul/config_schema.json
  src/go/plugin/go.d/collector/coredns/config_schema.json
  src/go/plugin/go.d/collector/couchbase/config_schema.json
  src/go/plugin/go.d/collector/couchdb/config_schema.json
  src/go/plugin/go.d/collector/dnsdist/config_schema.json
  src/go/plugin/go.d/collector/docker_engine/config_schema.json
  src/go/plugin/go.d/collector/dockerhub/config_schema.json
  src/go/plugin/go.d/collector/elasticsearch/config_schema.json
  src/go/plugin/go.d/collector/envoy/config_schema.json
  src/go/plugin/go.d/collector/fluentd/config_schema.json
  src/go/plugin/go.d/collector/geth/config_schema.json
  src/go/plugin/go.d/collector/haproxy/config_schema.json
  src/go/plugin/go.d/collector/hdfs/config_schema.json
  src/go/plugin/go.d/collector/httpcheck/config_schema.json
  src/go/plugin/go.d/collector/icecast/config_schema.json
  src/go/plugin/go.d/collector/ipfs/config_schema.json
  src/go/plugin/go.d/collector/k8s_kubelet/config_schema.json
  src/go/plugin/go.d/collector/k8s_kubeproxy/config_schema.json
  src/go/plugin/go.d/collector/lighttpd/config_schema.json
  src/go/plugin/go.d/collector/logstash/config_schema.json
  src/go/plugin/go.d/collector/maxscale/config_schema.json
  src/go/plugin/go.d/collector/monit/config_schema.json
  src/go/plugin/go.d/collector/nats/config_schema.json
  src/go/plugin/go.d/collector/nginx/config_schema.json
  src/go/plugin/go.d/collector/nginxplus/config_schema.json
  src/go/plugin/go.d/collector/nginxunit/config_schema.json
  src/go/plugin/go.d/collector/nginxvts/config_schema.json
  src/go/plugin/go.d/collector/phpdaemon/config_schema.json
  src/go/plugin/go.d/collector/phpfpm/config_schema.json
  src/go/plugin/go.d/collector/pihole/config_schema.json
  src/go/plugin/go.d/collector/powerdns/config_schema.json
  src/go/plugin/go.d/collector/powerdns_recursor/config_schema.json
  src/go/plugin/go.d/collector/prometheus/config_schema.json
  src/go/plugin/go.d/collector/pulsar/config_schema.json
  src/go/plugin/go.d/collector/puppet/config_schema.json
  src/go/plugin/go.d/collector/rabbitmq/config_schema.json
  src/go/plugin/go.d/collector/riakkv/config_schema.json
  src/go/plugin/go.d/collector/rspamd/config_schema.json
  src/go/plugin/go.d/collector/scaleio/config_schema.json
  src/go/plugin/go.d/collector/squid/config_schema.json
  src/go/plugin/go.d/collector/tengine/config_schema.json
  src/go/plugin/go.d/collector/tomcat/config_schema.json
  src/go/plugin/go.d/collector/traefik/config_schema.json
  src/go/plugin/go.d/collector/typesense/config_schema.json
  src/go/plugin/go.d/collector/vcsa/config_schema.json
  src/go/plugin/go.d/collector/vernemq/config_schema.json
  src/go/plugin/go.d/collector/vsphere/config_schema.json
  src/go/plugin/go.d/collector/yugabytedb/config_schema.json
Labels: area/collectors, collectors/go.d, area/go

#20492 chore(go.d/ddsnmp): fix table metrics collection
  src/go/plugin/go.d/collector/snmp/collect_profiles.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collect_table.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collector.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collector_test.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/table_cache.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/table_cache_test.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/utils.go
Labels: area/collectors, collectors/go.d, area/go

#20500 chore(go.d/ddsnmp): better label values sanitization
  src/go/plugin/go.d/agent/discovery/sd/discoverer/snmpsd/sysinfo.go
  src/go/plugin/go.d/agent/module/job.go
  src/go/plugin/go.d/collector/snmp/charts.go
  src/go/plugin/go.d/collector/snmp/collect_if_mib.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/utils.go
Labels: area/collectors, collectors/go.d, area/go

#20504 fix snmp prof mikrotik mem tagging
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/mikrotik-router.yaml
Labels: area/collectors, collectors/go.d, area/go

#20509 chore(go.d/ddsnmp): fix table collection with caching
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collect_table.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collector_test.go
Labels: area/collectors, collectors/go.d, area/go

#20513 docs: add Netdata MCP Server preview announcement
  docs/learn/mcp.md
Labels: area/docs

#20511 Cleanup pending statements during shutdown
  src/database/sqlite/sqlite_metadata.c
Labels: area/database

#20516 improve(go.d/snmp-profiles): Add hrSystemUptime metric
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/_base.yaml
Labels: area/collectors, collectors/go.d, area/go

#20518 Drop POWER8+ builds.
  .github/data/distros.yml
  packaging/PLATFORM_SUPPORT.md
  packaging/docker/README.md
  packaging/installer/kickstart.sh
  packaging/makeself/README.md
  packaging/makeself/build-static.sh
  packaging/makeself/jobs/10-libucontext.install.sh
  packaging/makeself/jobs/82-cpu-arch-check.sh
  packaging/makeself/uname2platform.sh
Labels: area/ci, area/packaging, area/docs

#20520 improve(go.d/snmp-profiles): metrics deduplication
  src/go/plugin/go.d/collector/snmp/ddsnmp/profile.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/profile_test.go
Labels: area/collectors, collectors/go.d, area/go

#20521 upd generic check in snmp prof metrics deduplication
  src/go/plugin/go.d/collector/snmp/ddsnmp/profile.go
Labels: area/collectors, collectors/go.d, area/go

#20523 update units in _generic-if.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/_generic-if.yaml
Labels: area/collectors, collectors/go.d, area/go

#20524 improve(go.d/snmp): log device profiles matched by sysObjectID
  src/go/plugin/go.d/collector/snmp/collect.go
Labels: area/collectors, collectors/go.d, area/go

#20528 improve(go.d/snmp): add Go template-based metric transformations for SNMP profiles
  src/go/plugin/go.d/collector/snmp/charts.go
  src/go/plugin/go.d/collector/snmp/collect_profiles.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddprofiledefinition/metrics.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collect_scalar.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collect_table.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collector.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collector_test.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/utils.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/load.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/metric.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/transform.go
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/mikrotik-router.yaml
Labels: area/collectors, collectors/go.d, area/go

#20530 improve(go.d/snmp): dd support for non-identifying tags in table metrics
  src/go/plugin/go.d/collector/snmp/charts.go
  src/go/plugin/go.d/collector/snmp/collect_profiles.go
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/_generic-if.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/mikrotik-router.yaml
Labels: area/collectors, collectors/go.d, area/go

#20536 Lock before checking the statement pool
  src/database/sqlite/sqlite_functions.c
Labels: area/database

#20543 refactor(go.d/ddsnmpcollector): restructure into components
  src/go/plugin/go.d/collector/snmp/charts.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collect_device_meta.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collect_global_tags.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collect_scalar.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collect_table.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collector.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collector_scalar.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collector_scalar_test.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collector_table.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collector_table_test.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collector_test.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collectors_meta.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collectors_meta_test.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/common_test.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/metric_builder.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/table_cache.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/table_row_processor.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/tag_processor.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/utils.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/value_processor.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/transform.go
Labels: area/collectors, collectors/go.d, area/go

#20477 Enable Rust-based journal file reader in static builds.
  CMakeLists.txt
  netdata-installer.sh
  packaging/installer/functions.sh
  packaging/makeself/jobs/70-netdata-git.install.sh
  src/collectors/systemd-journal.plugin/systemd-journal-fstat.c
  src/crates/jf/Cargo.toml
Labels: area/packaging, area/collectors, area/build, collectors/systemd-journal

#20522 Hardware (Windows.plugin)
  CMakeLists.txt
  src/collectors/common-contexts/common-contexts.h
  src/collectors/common-contexts/power-supply.h
  src/collectors/proc.plugin/metadata.yaml
  src/collectors/proc.plugin/sys_class_power_supply.c
  src/collectors/windows.plugin/GetPowerSupply.c
  src/collectors/windows.plugin/metadata.yaml
  src/collectors/windows.plugin/windows_plugin.c
  src/collectors/windows.plugin/windows_plugin.h
  src/health/health.d/power_supply_capacity.conf
Labels: area/health, area/collectors, area/build, collectors/proc, area/metadata, collectors/windows

#20560 Additional checks for valid db during db_execute
  src/database/sqlite/sqlite_aclk.c
  src/database/sqlite/sqlite_db_migration.c
  src/database/sqlite/sqlite_functions.c
  src/database/sqlite/sqlite_functions.h
  src/database/sqlite/sqlite_health.c
  src/database/sqlite/sqlite_metadata.c
  src/ml/ml.cc
Labels: area/database, area/aclk, area/ml

#20555 Check that there is a valid thread when performing ACLK sync shutdown
  src/database/sqlite/sqlite_aclk.c
Labels: area/database, area/aclk

#20562 Simplify MRG loading mechanism logic
  src/database/engine/rrdengine.h
  src/database/engine/rrdengineapi.c
Labels: area/database

#20567 improve(go.d/smartctl): enable direct smartctl execution on non-Linux
  src/go/plugin/go.d/collector/smartctl/charts.go
  src/go/plugin/go.d/collector/smartctl/collect.go
  src/go/plugin/go.d/collector/smartctl/collector.go
  src/go/plugin/go.d/collector/smartctl/collector_test.go
  src/go/plugin/go.d/collector/smartctl/exec.go
  src/go/plugin/go.d/collector/smartctl/init.go
  src/go/plugin/go.d/collector/smartctl/scan.go
  src/go/plugin/go.d/collector/smartctl/smart_device.go
Labels: area/collectors, collectors/go.d, area/go

#20558 Add CLI command to schedule update information
  src/daemon/commands.c
  src/daemon/commands.h
Labels: area/daemon

#20569 improve(go.d/smartctl): add configurable concurrent device scanning
  src/go/plugin/go.d/collector/smartctl/collect.go
  src/go/plugin/go.d/collector/smartctl/collector.go
  src/go/plugin/go.d/collector/smartctl/collector_test.go
  src/go/plugin/go.d/collector/smartctl/config_schema.json
  src/go/plugin/go.d/collector/smartctl/metadata.yaml
  src/go/plugin/go.d/collector/smartctl/testdata/config.json
  src/go/plugin/go.d/collector/smartctl/testdata/config.yaml
Labels: area/collectors, collectors/go.d, area/metadata, area/go

#20570 Add defines for cleanup statements
  src/daemon/commands.c
  src/database/sqlite/sqlite_metadata.c
Labels: area/daemon, area/database

#20587 ddsnmp add pow transform func and allow mapping duplicate values
  src/go/plugin/go.d/collector/snmp/charts.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/transform.go
Labels: area/collectors, collectors/go.d, area/go

#20588 doc: update SCIM doc
  integrations/cloud-authentication/metadata.yaml
Labels: area/metadata

#20529 Mcp5
  src/web/mcp/mcp-tools-execute-function.c
  src/web/mcp/mcp-web-client/CLAUDE.md
  src/web/mcp/mcp-web-client/llm-proxy.js
  src/web/mcp/mcp-web-client/web/app.js
  src/web/mcp/mcp-web-client/web/chat-config.js
  src/web/mcp/mcp-web-client/web/eslint.config.js
  src/web/mcp/mcp-web-client/web/llm-providers.js
  src/web/mcp/mcp-web-client/web/message-optimizer.js
  src/web/mcp/mcp-web-client/web/message-optimizer.test.js
  src/web/mcp/mcp-web-client/web/styles.css
  src/web/mcp/mcp-web-client/web/system-msg.js
  src/web/mcp/mcp-web-client/web/test-llm-providers.js
  src/web/mcp/mcp-web-client/web/title.js
  src/web/mcp/mcp-web-client/web/tool-summarizer.js
Labels: area/docs, area/web

#20391 SNMP: palo-alto.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/_palo-alto.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/palo-alto-cloudgenix.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/palo-alto.yaml
Labels: area/collectors, collectors/go.d, area/go

#20389 SNMP: aruba-wireless-controller.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/aruba-wireless-controller.yaml
Labels: area/collectors, collectors/go.d, area/go

#20402 SNMP: _juniper-cos.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/_juniper-cos.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/juniper-ex.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/juniper-qfx.yaml
Labels: area/collectors, collectors/go.d, area/go

#20410 SNMP: _juniper-virtualchassis.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/_juniper-dcu.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/_juniper-scu.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/_juniper-virtualchassis.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/juniper-mx.yaml
Labels: area/collectors, collectors/go.d, area/go

#20413 SNMP: juniper-pulse-secure.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/juniper-pulse-secure.yaml
Labels: area/collectors, collectors/go.d, area/go

#20468 SNMP: 3com profiles
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/3com-huawei.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/3com.yaml
Labels: area/collectors, collectors/go.d, area/go

#20491 SNMP: APC profiles
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/_apc.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/apc-netbotz.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/apc-pdu.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/apc_ups.yaml
Labels: area/collectors, collectors/go.d, area/go

#20525 SNMP: avaya profiles
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/avaya-aura-media-server.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/avaya-cajun-switch.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/avaya-media-gateway.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/avaya-nortel-ethernet-routing-switch.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/avaya.yaml
Labels: area/collectors, collectors/go.d, area/go

#20501 SNMP: audiocodes profile
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/audiocodes-mediant-sbc.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/mikrotik-router.yaml
Labels: area/collectors, collectors/go.d, area/go

#20548 SNMP: brother profile
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/brother-net-printer.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/brother.yaml
Labels: area/collectors, collectors/go.d, area/go

#20537 SNMP: barracuda Profiles
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/barracuda-cloudgen.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/barracuda.yaml
Labels: area/collectors, collectors/go.d, area/go

#20546 SNMP: brocade profiles
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/brocade-fc-switch.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/brocade.yaml
Labels: area/collectors, collectors/go.d, area/go

#20556 SNMP: checkpoint profiles
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/_checkpoint-firewall-cpu-memory.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/checkpoint-firewall.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/checkpoint.yaml
Labels: area/collectors, collectors/go.d, area/go

#20557 SNMP: chrysalis profiles
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/chrysalis-luna-hsm.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/chrysalis.yaml
Labels: area/collectors, collectors/go.d, area/go

#20554 SNMP: Chatsworth profile
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/chatsworth_pdu.yaml
Labels: area/collectors, collectors/go.d, area/go

#20575 SNMP: cyberpower-pdu profile
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/cyberpower-pdu.yaml
Labels: area/collectors, collectors/go.d, area/go

#20597 docs: fix 404 link in README.md
  README.md
Labels: area/docs

#20551 Migrate from stable to nightly and vice versa
  docs/netdata-agent/versions-and-platforms.md
Labels: area/docs

#20599 update generic snmp profiles
  src/go/plugin/go.d/collector/snmp/ddsnmp/ddsnmpcollector/collector.go
  src/go/plugin/go.d/collector/snmp/ddsnmp/transform.go
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/_cisco-catalyst.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/_generic-bgp4.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/_generic-entity-sensor.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/_generic-host-cpu-memory.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/_generic-host-resources-base.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/_generic-host-resources.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/_generic-if.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/_generic-ip.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/_generic-ospf.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/_generic-rtp.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/_generic-tcp.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/_generic-ucd.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/_generic-udp.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/_generic-ups.yaml
Labels: area/collectors, collectors/go.d, area/go

#20603 small snmp-related changes
  src/go/plugin/go.d/collector/snmp/collect_profiles.go
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/_generic-host-resources-base.yaml
Labels: area/collectors, collectors/go.d, area/go

#20605 improve mikrotik-router snmp profile
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/mikrotik-router.yaml
Labels: area/collectors, collectors/go.d, area/go

#20602 Fix compilation on windows
  src/collectors/apps.plugin/apps_os_windows.c
Labels: area/collectors, collectors/apps

#20606 chore(go.d/snmp): add disable_legacy_collection option
  src/go/plugin/go.d/collector/snmp/collect.go
  src/go/plugin/go.d/collector/snmp/config.go
  src/go/plugin/go.d/collector/snmp/config_schema.json
  src/go/plugin/go.d/collector/snmp/testdata/config.json
  src/go/plugin/go.d/collector/snmp/testdata/config.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/_generic-tcp.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/_generic-udp.yaml
Labels: area/collectors, collectors/go.d, area/go

#20598 Metadata worker should respect shutdown request
  src/database/sqlite/sqlite_metadata.c
Labels: area/database

#20608 improve netapp snmp profile
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/_generic-if.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/_generic-ip.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/cisco-nexus.yaml
  src/go/plugin/go.d/config/go.d/snmp.profiles/default/netapp.yaml
Labels: area/collectors, collectors/go.d, area/go
