Repository netdata/netdata, pull requests merged in 2025-10, with the labels that each got.

#20821 Clean up handling of compiler flags in our build code.
  CMakeLists.txt
  netdata.spec.in
  packaging/cmake/Modules/NetdataCompilerFlags.cmake
  packaging/cmake/Modules/NetdataLibBPF.cmake
  packaging/cmake/Modules/NetdataProtobuf.cmake
  packaging/docker/gen-cflags.sh
  packaging/makeself/jobs/70-netdata-git.install.sh
  packaging/windows/compile-on-windows.sh
Labels: area/packaging, area/build

#21051 Fix libbpf.a build path
  packaging/cmake/Modules/NetdataLibBPF.cmake
Labels: area/packaging

#21087 MCP docs and log spamming fix
  docs/learn/mcp.md
  docs/ml-ai/ai-chat-netdata/claude-desktop.md
  docs/ml-ai/ai-chat-netdata/cursor.md
  docs/ml-ai/ai-chat-netdata/jetbrains-ides.md
  docs/ml-ai/ai-chat-netdata/vs-code.md
  docs/ml-ai/ai-devops-copilot/claude-code.md
  docs/ml-ai/ai-devops-copilot/codex-cli.md
  docs/ml-ai/ai-devops-copilot/crush.md
  docs/ml-ai/ai-devops-copilot/gemini-cli.md
  docs/ml-ai/ai-devops-copilot/opencode.md
  src/web/api/http_auth.c
  src/web/api/mcp_auth.c
  src/web/api/mcp_auth.h
  src/web/mcp/adapters/mcp-http.c
  src/web/mcp/adapters/mcp-sse.c
  src/web/websocket/websocket-handshake.c
Labels: area/docs, area/web

#21088 Register Netdata to MCP Registry
  .github/workflows/release.yml
  docs/.map/map.csv
  docs/netdata-ai/mcp/README.md
  docs/netdata-ai/mcp/ai-chat-netdata.md
  docs/netdata-ai/mcp/mcp-clients/ai-devops-copilot.md
  docs/netdata-ai/mcp/mcp-clients/claude-code.md
  docs/netdata-ai/mcp/mcp-clients/claude-desktop.md
  docs/netdata-ai/mcp/mcp-clients/codex-cli.md
  docs/netdata-ai/mcp/mcp-clients/crush.md
  docs/netdata-ai/mcp/mcp-clients/cursor.md
  docs/netdata-ai/mcp/mcp-clients/gemini-cli.md
  docs/netdata-ai/mcp/mcp-clients/jetbrains-ides.md
  docs/netdata-ai/mcp/mcp-clients/netdata-web-client.md
  docs/netdata-ai/mcp/mcp-clients/opencode.md
  docs/netdata-ai/mcp/mcp-clients/vs-code.md
  server.json
Labels: area/ci, area/docs

#21080 Fix cgroup-network spawn server cleanup on fatal exit
  src/collectors/cgroups.plugin/cgroup-network.c
Labels: area/collectors, collectors/cgroups

#21090 Improve installer (Windows)
  packaging/windows/netdata.wxs.in
Labels: area/packaging

#21093 Hide mem_private_usage on Windows.
  src/collectors/apps.plugin/apps_output.c
Labels: area/collectors, collectors/apps

#21097 fix(packaging/docker): add missing nd-run
  packaging/docker/Dockerfile
Labels: area/packaging

#21098 Use datafile block pos
  src/database/engine/cache.c
  src/database/engine/journalfile.c
  src/database/engine/pagecache.c
  src/database/engine/pagecache.h
  src/database/engine/pdc.c
  src/database/engine/rrdengine.c
  src/database/engine/rrdengine.h
Labels: area/database

#21105 Update `cloud-notifications` documentation
  integrations/cloud-notifications/metadata.yaml
Labels: area/metadata

#21099 Improve logging and packet handling for unknown packet IDs
  src/aclk/mqtt_websockets/mqtt_ng.c
Labels: area/aclk

#21096 Update installer documentation
  packaging/windows/WINDOWS_INSTALLER.md
Labels: area/packaging, area/docs

#21113 Fix windows build
  CMakeLists.txt
  packaging/windows/netdata.wxs.in
Labels: area/packaging, area/build

#21117 Properly include client compoents for IBM MQ libraries.
  packaging/cmake/Modules/NetdataIBMPlugin.cmake
Labels: area/packaging
